[2019-10-07 10:07] LiavGut commented on #682
@Nordwhale It looks better.
Please use letter spacing for claim the same as the other buttons text (5)
Please change the font normalization minimum font size to >16 for smaller screens. ie if normalization factor <1 only reduce font size if it is >16 (so claim button isnt effected)

[2019-10-07 11:02] LiavGut opened #694 "eToro Test: Add marketplace icon to dashboard"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/1255b024-1111-412a-8da9-dac81666786f/Dashboard-eToro-test

Definition of Done
- [x] displays icon if if "MARKET" env variable is set. default value is true iff network is "etoro"
- [x] opens in frame emarket.gooddollar.org

[2019-10-07 11:58] sirpy opened #695 "deploy etoro wallet instance"
Definition of Done
- [x] use heroku cli to fork gun,backend use network etoro
- [x] add and deploy in contracts network etoro
- [x] netlify deploy wallet instance etoro with network etoro
- [x] change mongo db in goodgun,goodserver
- [x] new admin mnemonic
- [x] separate project in amplitude/rollbar

[2019-10-07 11:59] sirpy opened #696 "user should fill a "reason" survey"
Add a screen after reason  called "Survey"
"What did you use GoodDollar for?"
radio buttons with 3 options "Service, Product, Other"

Once a user clicking 'skip' or 'next' in this screen:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/30b1af7d-0b67-4529-91c4-d4328f41abdb/Send-17

he will see this pop up:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f91

[2019-10-07 12:01] sirpy opened #697 "eToro GoodMarket"

[2019-10-07 12:50] sirpy commented on #662
@AlexeyKosinski also maybe print the exact request the server sends to mautic so we can test it locally.

[2019-10-07 13:03] sirpy commented on #662
@AlexeyKosinski print Object.keys(userRec)

[2019-10-07 14:02] #418 closed

[2019-10-07 14:02] #419 closed

[2019-10-07 14:04] sirpy commented on #549
@AlexeyKosinski you can compare atlast vs heroku on goodgun-dev, change the mongo url
i've added mongo instance to goodgun-dev on heroku, remove it once tests are donem dont forget to change the env variable to the correct mongo db

[2019-10-07 14:04] #667 closed

[2019-10-07 14:07] sirpy commented on #609
@yaroslav-fedyshyn-nordwhale where's the PR for that?

[2019-10-07 14:09] #679 closed

[2019-10-07 14:19] sirpy opened #699 "User shouldnt be able to start signup at /signup/name"
User can pass the invite only by going directly to /signup/X path

Definition of done
- [x] disable a possibility to signup withour an invitation
- [x] a user shouldn't be able to start sign up at /signup/name

[2019-10-07 14:27] sirpy commented on #468
@LiavGut
I know math is not the strong side of designers
but the ticket description has 3 emails.

[2019-10-07 14:31] LiavGut commented on #609
@yaroslav-fedyshyn-nordwhale Let's go with '1 time bounce'.
Thanks.

[2019-10-07 14:44] sirpy opened #700 "Collect anonymous transaction details"
Record every sending of GoodDollars via wallet

Definition of Done
- [x] collect only if network is "etoro"
- [x] amount,reason,survey are collected
- [x] saved at gun.get('survey').set(details)

[2019-10-07 15:14] sirpy opened #702 "User profile should be public by default for etoro market"
Definition of Done
- [x] if network is etoro profile privacy should be public by default

[2019-10-07 15:16] sirpy opened #703 "Rewards should lead to etoro w3 version"
Definition of Done
- [ ] rewards tab leads to "etoro.gooddollar.org" if network is "etoro"

[2019-10-08 06:51] AlexeyKosinski commented on #614
https://github.com/GoodDollar/GoodDAPP/pull/657/files

[2019-10-08 06:59] AnastasiiaOdnoshevna commented on #668
Tested on Dev environment.
Work and looks as expected.

@sirpy
I leave ticket in QA because it should be tested a day later to verify that pop-up will display

![2019-10-08_9-37-46.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/3e4a1be4-21a0-4c88-b154-5f7d6c6846bc)

[2019-10-08 07:39] AnastasiiaOdnoshevna commented on #643
Checked on Dev and QA environment
Look and work as expected.
User is navigated to Alpha splash screen after logout.

[2019-10-08 07:58] AnastasiiaOdnoshevna commented on #518
Checked on Dev and QA environment.
Work as per requirements
User is navigated to Sign In screen when comes from W3 with wallet token

[2019-10-08 08:56] AnastasiiaOdnoshevna commented on #540
Checked on Dev environment.
Works as per requirement.

Messages:
![01.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/a9d01806-2e0e-4926-9225-aee61649354a)

Telegram:
![2.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/de9866b2-6f58-45e3-92e3-53d8abe8235f)

Instagram:
![4.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/27612d06-8f6c-4844-917

[2019-10-08 09:32] StanislavShevchenko commented on #662
https://github.com/GoodDollar/GoodServer/pull/98

[2019-10-08 09:53] LiavGut opened #704 "eToro - Add a survey screen (pop up) to 'send' flow"
Once a user clicking 'skip' or 'next' in this screen:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/30b1af7d-0b67-4529-91c4-d4328f41abdb/Send-17

he will see this pop up:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/b28292ce-db05-4667-a7ea-6b54105d7823/Send-18-eToro-Usage-Survey

after he answers and clicks 'ok' he will be directed to the

[2019-10-08 12:16] StanislavShevchenko commented on #628
problem resolved in this PR
https://github.com/GoodDollar/GoodDAPP/pull/678

[2019-10-08 15:20] AlexeyKosinski commented on #614
so we need iframe-resizer. scroll doesn't work without it. that's why I've returned it. check all things. create video. u can find it in nordwhale channel

[2019-10-08 18:58] StanislavShevchenko commented on #682
@LiavGut In this task, the logic of the normalize function changes
https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/640

use letter spacing for claim the same as the other buttons text - DONE

[2019-10-08 19:16] AlexeyKosinski commented on #550
please see this section`https://github.com/GoodDollar/GoodServer/pull/89/files`. so commit with whitelist already merged with master. so I don't need to remove them.

make fix for name of goodgun file. so now it is `publicdb${workerId}`
https://github.com/GoodDollar/GoodServer/pull/89/files

I've tried this on gooddev and goodqa from my branch and don't see error. please review and make a decision

[2019-10-09 10:42] AnastasiiaOdnoshevna commented on #619
Tested on Dev environment
User didn't get the ether after account creation (see the attachment below).

![001.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/66e1d4a1-51f8-4bd4-bf12-c1d775d9a839)

![002.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/398ae02b-e624-4b7a-8e9a-0e1c4a520ac8)

![003.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2

[2019-10-09 10:45] AnastasiiaOdnoshevna commented on #501
@sirpy
I need access to beta to testing this ticket.

[2019-10-09 14:08] StanislavShevchenko commented on #685
@sirpy
Do we need to assign code to all undefined error messages only ( with e.message ) or we have to create code for all the errors even if they already have a correct message for users?

[2019-10-10 06:08] LiavGut opened #709 "Update all analytics flows + Add new ones"
* Sign up (Full)
* Sign up (From web3 with email)
* Sign up (From web3)
* Recover
* Sign in
* Claim
* Send
* Receive

[2019-10-11 08:57] AlexeyKosinski commented on #549
here the report
heroku sanbox VS heroku dedicated cluster VS atlas sandbox
https://docs.google.com/spreadsheets/d/1snLfkASaoUDAGDFPaoGVHk4fZAAnqfEvkqRym-ZaYw0/edit?usp=sharing

[2019-10-11 14:26] AlexeyKosinski commented on #687
![image](https://user-images.githubusercontent.com/36693645/66659450-32797100-ec4c-11e9-9cb9-84700242057c.png)

[2019-10-12 17:51] #614 closed

[2019-10-12 18:31] #624 closed

[2019-10-12 18:48] #684 closed

[2019-10-12 19:22] #699 closed

[2019-10-12 19:35] sirpy commented on #550
@AlexeyKosinski There is not error, but if you look carefully in the logs on heroku with concurrency 1. you will see that some logs are written twice! while there should be only 1 process.

[2019-10-15 06:58] Nordwhale commented on #696
@LiavGut
Do we have a mock-up for this "Survey" screen?

[2019-10-15 07:00] LiavGut commented on #696
@Nordwhale
https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/704

[2019-10-15 07:11] sirpy commented on #619
@AlexeyKosinski

[2019-10-15 07:41] Nordwhale commented on #696
Thank you!

I've added this to item description.

Once a user clicking 'skip' or 'next' in this screen:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/30b1af7d-0b67-4529-91c4-d4328f41abdb/Send-17

he will see this pop up:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/b28292ce-db05-4667-a7ea-6b54105d7823/Send-18-eToro-Usage-Survey

after he a

[2019-10-15 07:49] Nordwhale commented on #696
@LiavGut In the requirements there is 'has button skip' on the "Survey" screen.
I suppose that the Close button is instead on 'skip', correct?
The Close button will just close this "Survey" and open the regular 'summary' screen. Right?

[2019-10-15 07:56] Nordwhale commented on #703
@sirpy Should we change Rewards tab only? Users will still come from w3 with tokens?
I suppose that etoro.gooddollar.org will accept w3 token and return user login token. Right?

[2019-10-15 09:38] LiavGut commented on #696
@Nordwhale Yes

[2019-10-15 10:02] StanislavShevchenko commented on #685
table https://docs.google.com/spreadsheets/d/1zkFtmIgl2tf8bSta4PJXZpjB_6X5-H-wxYsZf0teXOs/edit?usp=sharing

[2019-10-15 10:10] StanislavShevchenko commented on #692
@sirpy table https://docs.google.com/spreadsheets/d/18ZLjmZYuRsVz8EQ3CLbdv6G0swetJMu53NDSjVZHAXM/edit?usp=sharing

[2019-10-15 10:28] sirpy commented on #703
I think we can actually close this since w3 url is an env variable

[2019-10-15 10:59] LiavGut commented on #468
And every designer knows that 3 = 1 + 1
:)

https://xd.adobe.com/spec/34f09e36-c7b1-48de-4506-1ef996f8fcd7-42c1/

[2019-10-15 11:34] Nordwhale commented on #703
@sirpy Ok, so we'll just need to change env from w3 to etoro.gooddollar.org and it will be used for everything: FAQ, SUpport, token, rewards, etc.
I'm Closing this item then.

[2019-10-15 11:34] #703 closed

[2019-10-15 11:37] #640 closed

[2019-10-15 11:41] Nordwhale commented on #468
@LiavGut Looks like it's the same link :)

[2019-10-15 11:56] LiavGut commented on #468
@Nordwhale It is. I just updated it.

[2019-10-15 12:02] #682 closed

[2019-10-15 12:26] #609 closed

[2019-10-15 12:34] #625 closed

[2019-10-15 14:32] #502 closed

[2019-10-15 14:33] #702 closed

[2019-10-15 14:38] #694 closed

[2019-10-15 14:38] #687 closed

[2019-10-15 15:42] yaroslav-fedyshyn-nordwhale commented on #593
Tried to comment failing code locally which is not necessary for creating contracts in GoodWalletClass. it was helpful to solve the GoodWallet initialization issue.

Then reverted package-lock.json changes which making a gun create user fn stuck. And I was able to finish the registration process.

Then on dashboard infinity loader is shown. Here is the screenshots with error https://prnt.sc/pjnbmw

[2019-10-15 15:57] AlexeyKosinski commented on #619
![image.png](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/a2f845d4-374c-472f-8172-89b6ecebde80)
1. create new user
2. look at https://good-server.herokuapp.com/verify/topwallet request and see 'user doesn't need topping' - so that's mean user already has gas on a wallet.
but in eth.nordwhale.com I see 0 ETH. I've checked the address it is the same.

[2019-10-15 15:58] AlexeyKosinski commented on #619
add new network to eth.nordwhale.com
{
        provider: 'https://rpc.fusenet.io/',
        chainId:122,
        scan: 'https://explorer.fusenet.io/tx',
    },
    {
        provider: 'wss://explorer-node.fusenet.io/ws',
        chainId:122,
        scan: 'https://explorer.fusenet.io/tx',
    },

so now it works. u can see balance here @AnastasiiaOdnoshevna (please set provider to https://rpc.fuse

[2019-10-16 08:23] #576 closed

[2019-10-16 08:30] sirpy opened #715 "protect endpoints"
/user/add should check if user already exists
rate limit endpoints that send emails/sms by ip of request

[2019-10-16 08:31] #649 closed

[2019-10-16 08:31] #637 closed

[2019-10-16 08:31] #643 closed

[2019-10-16 08:32] #518 closed

[2019-10-16 08:32] #636 closed

[2019-10-16 08:33] #642 closed

[2019-10-16 08:34] #652 closed

[2019-10-16 08:34] #648 closed

[2019-10-16 08:34] #400 closed

[2019-10-16 08:34] #560 closed

[2019-10-16 08:34] #455 closed

[2019-10-16 08:34] #598 closed

[2019-10-16 08:34] #570 closed

[2019-10-16 08:34] #564 closed

[2019-10-16 08:34] #536 closed

[2019-10-16 08:34] #547 closed

[2019-10-16 08:34] #529 closed

[2019-10-16 08:34] #491 closed

[2019-10-16 08:34] #493 closed

[2019-10-16 08:34] #497 closed

[2019-10-16 08:34] #523 closed

[2019-10-16 08:34] #535 closed

[2019-10-16 08:34] #597 closed

[2019-10-16 08:34] #519 closed

[2019-10-16 08:34] #495 closed

[2019-10-16 08:34] #545 closed

[2019-10-16 08:34] #397 closed

[2019-10-16 08:34] #482 closed

[2019-10-16 08:34] #496 closed

[2019-10-16 08:34] #647 closed

[2019-10-16 08:34] #447 closed

[2019-10-16 08:34] #602 closed

[2019-10-16 08:34] #670 closed

[2019-10-16 08:34] #610 closed

[2019-10-16 08:34] #638 closed

[2019-10-16 10:48] LiavGut opened #716 "Update first signup screen design"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/5ff7485f-7e4c-4b1a-a20b-c30918d45c99/Sign-Up-2

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/be4d0a88-19fa-4dce-aef1-433a23fc4251/Sign-Up

[2019-10-16 11:08] LiavGut opened #717 "eToro Welcome card: update texts"
Welcome to your wallet.
You can claim G$1 each day and use them to buy items in the GoodMarket.

definition of done
- [ ] if isEtoro then welcome card text should match

[2019-10-16 11:18] LiavGut opened #718 "eToro - Signup to wallet from web3: User should go directly to the phone screen"
When signing up to wallet from w3 got the following issues:
1. unauthorized for email verification
2. unauthorized for sms verification
3. Error pop up should be with a blurred and brightened background.
4. Error icon is broken (Should be an X inside the circle)

![Screen Shot 2019-10-16 at 14.11.09.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/a12c60a9-6b33-421a-be74-9df2c963

[2019-10-16 11:53] LiavGut opened #719 "Recover: square bug"
![Screen Shot 2019-10-16 at 14.50.40.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/d3995976-d571-4642-b1fa-7faa9987af37)

[2019-10-16 11:56] LiavGut opened #720 "Top bar: Remove the bar's shadow from all app screens"
![Screen Shot 2019-10-16 at 14.55.00.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/e3c9747f-c326-405d-8dd0-b5b39b0e1ca7)

[2019-10-16 12:01] AnastasiiaOdnoshevna commented on #612
Checked on QA environment. User get the magic screen explanation after email verification.
Work and look as per requirement.

[2019-10-16 12:03] AnastasiiaOdnoshevna commented on #588
Checked on Dev and QA environment.
Look as per requirement.

The avatar icon are aligned in height.

Dev env:
![dev.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/8fa70165-a9f9-4580-9cb4-8513f541896e)

QA env:
![2019-10-16_15-03-03.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/2c3957e2-ca7a-418d-aa53-263d6bf8ecf7)

[2019-10-16 12:20] AnastasiiaOdnoshevna commented on #540
Checked on QA environment.
Works as per requirement.

Messages:
![3333.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/cdb32cfb-54e8-41ae-989f-a2e7657b6af1)

Telegram:
![11111.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/a1b19e3e-42c2-44d7-a461-3b06e546fba4)

Instagram:
![74444.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/76c921e1-bbfb

[2019-10-16 12:23] AnastasiiaOdnoshevna commented on #668
Checken on QA Env.
Work and look as per requirements.

![Screenshot_2019-10-16-15-06-09-018_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/da1b5346-b550-4653-a6c1-6018dd9bcbd9)

@sirpy I leave ticket in QA column cause it should be tested a day later to check if pop-up will perform again

[2019-10-16 12:40] sirpy commented on #692
@StanislavShevchenko updated the events to log in the story

[2019-10-16 12:40] sirpy commented on #692
@StanislavShevchenko there's no need to use the userhash... we already initialize amplitude with the user id

[2019-10-16 12:41] AnastasiiaOdnoshevna commented on #628
Checked on the Dev and QA environment.

Text and Picture are match the design.

![Screenshot_2019-10-16-15-36-10-673_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/171172dc-0f0f-435c-bff9-eb60468432a1)

[2019-10-16 12:41] #704 closed

[2019-10-16 12:44] #709 closed

[2019-10-16 12:45] AnastasiiaOdnoshevna commented on #662
Checked on QA environment. User get the verification code via email after phone verification.

![2019-10-16_15-43-17.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/25c795ca-906d-47d6-9579-aa9a5e0a6df2)

[2019-10-16 12:54] sirpy commented on #549
@AlexeyKosinski lets test this with a more performant heroku node. i've changed goodgun-dev node type to 2x.

[2019-10-16 13:03] sirpy commented on #540
@AnastasiiaOdnoshevna what about the "reason" text? did you test it with reason?

[2019-10-16 13:10] AnastasiiaOdnoshevna commented on #540
@sirpy Yes
The reason is displayed in URL code. The text before is stay the same:
For example, Telegram:
![11111111111111111111111.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/cb5ddeab-89e1-4bd4-ad86-cda158cc23f8)

[2019-10-16 13:20] sirpy commented on #716
@LiavGut please specify what are the changes

[2019-10-16 13:36] sirpy commented on #719
@LiavGut try to do it on a clean incognito window, it looks like your browser didnt download the fonts and stuff

[2019-10-16 13:38] sirpy opened #721 "User should capture good quality facial picture"
Based on kairo id-wallet
Build a component that analyzes video stream of user
User should see an oval in top of screen where he should place his head
When the following conditions apply oval turns to green and we take screenshot

- [x] distance between eyes passes minimum (see kairos existing test)
   - [ ] need to check screen distance vs captured image distance
   - [ ] adapt to kairos best prac

[2019-10-16 13:39] sirpy opened #722 "User should go through face verification process"

[2019-10-16 13:39] sirpy opened #723 "User should see feedback is face pose incorrect"

[2019-10-16 13:39] sirpy opened #724 "User should see feedback if image is over/under exposure"
- [ ] Need to check how it works on dark skin faces
- [ ] Need to check if we should calculate just brightness of face or of overall image
- [ ] Need to check if we should use the weighted RGB luminance formula
- [ ] Add minimum and maximum brightness threshold on client
- [ ] Add brightness calculation + maximum/min threshold on backend module

alternative brightness calculation
https://stackover

[2019-10-16 13:40] sirpy opened #725 "Integrate new face verificaiton"

[2019-10-16 18:31] #601 closed

[2019-10-17 07:11] #723 closed

[2019-10-17 07:28] Nordwhale commented on #717
@LiavGut  Just to be sure, is the new text for this card?
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/5e00df15-d332-4898-bc70-f40d9b65af88/Dashboard-Feed-PopUp-Welcome

Should we change text on feed item as well? if so, what text should be there?

[2019-10-17 07:44] LiavGut commented on #717
@Nordwhale Yes, the text is for this pop up.
The feed card text should stay the same.
Just to make sure, this change is only for the eToro test version.

Thanks

[2019-10-17 09:56] #653 closed

[2019-10-17 10:22] sirpy opened #727 "Dashboard for viewing statistics"
- [x] Find a suitable react dashboard/charting framework
- [x] Display statistics collected in GoodDollar/GoodServer#97
- [x] Display anonymized transaction data collected (from survey)

[2019-10-17 10:34] #549 closed

[2019-10-17 11:26] AnastasiiaOdnoshevna commented on #429
Checked on the Dev and QA environment
Work as expected:
1) if user comes from W3 without wallet, they navigated to the Create wallet screen
2) if user comes from W3 with wallet, they navigated to the Dashboard screen

[2019-10-17 11:32] yaroslav-fedyshyn-nordwhale commented on #715
@sirpy what rules should be applied for rate limit guard?
For example - 3 requests per 1 minute.

[2019-10-17 12:40] AlexeyKosinski commented on #689
![image.png](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/db8a47c5-cb85-4797-9fde-47436bd21ded)
![image.png](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/5c59841a-0128-40e6-8489-01d351356aa4)

works fine

[2019-10-17 14:04] yaroslav-fedyshyn-nordwhale commented on #593
@sirpy there are a few issueson beta branches:

- it's not possible to send G$ to some other member - https://prnt.sc/pkm6ww
- Imposible to claim daily G$ - https://prnt.sc/pkm8bj
- The GoodWalletClass isVerified method always issues such error:
web3-providers.umd.js:115 Uncaught (in promise) Error: Node error: {"code":-32015,"message":"VM execution error.","data":"Reverted 0x"}

[2019-10-17 15:12] yaroslav-fedyshyn-nordwhale commented on #593
The link to GoodServer PR: https://github.com/GoodDollar/GoodServer/pull/101

[2019-10-18 00:34] sirpy commented on #593
1. It should be getFees not GetFees, check contract GoodDollar.sol
2. It sounds like you are not using correct deployment of contracts, maybe not using npm link, or not waiting until deploy to ganache finishes. When the server starts it tries to perform whitelist+topwallet and prints the result, I've added it to get feedback if contracts are ok, is the server able to work with the contracts?

[2019-10-18 00:38] sirpy commented on #696
@liavgut what about when user opens a receive request, meaning he doesn't go through the regular flow, and only has to press confirm to authorize the incoming payment request?

[2019-10-18 09:14] yaroslav-fedyshyn-nordwhale commented on #593
@sirpy
1. yes, it did a trick.
2. WhiteList and topWallet are working fine. When the server starts it tries to perform whitelist+topwallet and prints the result. But it always using the same address. And when we try to whitelist or make topWallet for address which is already whitelisted or topWallet was already executed then the error has occurred:
Error: {“message”:“VM Exception while processing

[2019-10-18 15:11] yaroslav-fedyshyn-nordwhale commented on #715
Link to the GoodServer PR - https://github.com/GoodDollar/GoodServer/pull/102

[2019-10-20 13:32] LiavGut commented on #696
@sirpy In that case, our data will come from the receiving side - so we also need to add the survey popup to the receive flow, after this screen:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/b3ccaefb-7db7-4899-8917-b7684a315d93/Receive-7

[2019-10-20 15:09] LiavGut commented on #450
Work in progress:
https://docs.google.com/document/d/1VyULoyTFWtHkigv8Yi6ENiFDF9F9GS2v--gMuZBkRpc/edit#

[2019-10-21 07:35] AnastasiiaOdnoshevna commented on #668
**UPD:** The pop-up is performed a day after, when user claim the daily share.

[2019-10-21 10:16] yaroslav-fedyshyn-nordwhale commented on #468
you can log into our mautic at:
go.gooddollar.org techadmin@gooddollar:8X7CqrwGAhWy

[2019-10-21 10:28] yaroslav-fedyshyn-nordwhale commented on #468
@sirpy Can't log in to Mautic with provided credentials.

[2019-10-21 13:07] Nordwhale commented on #727
@sirpy  where should this dashboard be? Do we have any kind of admin panel or it should be a part of GoodDAPP?

[2019-10-21 13:11] Nordwhale commented on #716
@sirpy Should we take this task and correct it?

[2019-10-22 06:38] yaroslav-fedyshyn-nordwhale commented on #580
This may work fine with beta branches. But currently we cant test it on beta branches with new contracts as the claim is not working (described in #593). I think that if the error really exists it appears on blockchain/contracts level. The Daap part is just to fetch info from contracts and display it, that it.

[2019-10-22 08:02] sirpy commented on #716
yes. its in backlog

[2019-10-22 08:08] sirpy commented on #727
Probably we need a standalone app for that

On Mon, Oct 21, 2019, 4:07 PM NordWhale <notifications@github.com> wrote:

[2019-10-22 08:19] yaroslav-fedyshyn-nordwhale commented on #468
Access to mautic: techadmin@gooddollar.org | 8X7CqrwGAhWy

[2019-10-22 12:06] #715 closed

[2019-10-22 13:39] StanislavShevchenko commented on #692
@sirpy
error - ERROR - params: error code - all exceptions on the site or what errors are you talking about?

[2019-10-22 16:40] sirpy commented on #692
Yes all

[2019-10-22 16:40] sirpy commented on #692
You can modify the log.error in pino-logger. Js

[2019-10-23 06:52] sirpy commented on #692
@StanislavShevchenko can you make a draft PR for this?

[2019-10-23 06:52] sirpy commented on #692
@LiavGut please review list of events, let me know if there are other events you'd like to include

[2019-10-23 07:40] StanislavShevchenko commented on #692
@sirpy
draft - https://github.com/GoodDollar/GoodDAPP/pull/734

[2019-10-24 07:13] AnastasiiaOdnoshevna commented on #619
Checked on Dev and QA environment. Work as per requirement.
New user get 0.001 ETH.
Used https://rpc.fusenet.io/ for testing.

Dev Env:
![dev.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/2bcee9c9-8082-4107-bb4a-e6e082830d1c)

QA:
![2019-10-24_10-06-38.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/b7895fd8-d046-419b-8ff1-fbbd37f80b0d)

[2019-10-24 07:16] AnastasiiaOdnoshevna commented on #406
Checked on QA environment.
Work as expected.

![2019-10-24_10-15-27.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/18182919-7933-4658-8694-5fe87e457ed0)

[2019-10-24 07:17] AnastasiiaOdnoshevna commented on #700
@sirpy
I should have access to Marketplace to check this ticket.

[2019-10-24 07:18] AnastasiiaOdnoshevna commented on #717
@sirpy
I should have access to Etoro to check this ticket

[2019-10-24 07:19] AnastasiiaOdnoshevna commented on #720
@sirpy
I should have access to Etoro to check this ticket

[2019-10-24 10:58] sirpy opened #735 "Deploy beta version"
- [x] deploy to netlify - call server etoro or ewallet or etorowallet. branch 593-apply...
      env: production network, etorogun-prod, etoro-server-production,web3:etoro.gooddollar.org
- [x] check register/claim/send working
- [x] check issue with claim. maybe downgrade to web3-1.0.0@beta-55
- [x] verify web3 integration working, ie login token, web3 token
- [x] verify mongo lock working
- [ ] c

[2019-10-24 20:18] sirpy opened #736 "Delete account should show spinner"
1. background disappears when pressing delete
2. should show spinner instead of trash icon while deleting

[2019-10-24 20:21] LiavGut opened #737 "Pop up swipe - desktop: Pop ups should be contain within the max width on desktop"
![Screen Shot 2019-10-24 at 23.14.21.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/77c2c939-49de-4769-b11d-e9eaaa332f6e)![Screen Shot 2019-10-24 at 23.14.46.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/fa1805cd-f530-4146-ae4d-17cf235910f0)

[2019-10-24 21:39] sirpy opened #738 "(bug) web3 transaction errors not handled"
There seems to be an issue that if our generic wallet.sendTransaction fails, ie the transaction is reverted, error is not sent correctly to caller.
it seems that on('error') is not being called

[2019-10-25 06:16] LiavGut opened #739 "Splash screen + About screen: Change texture opacity to 0.2"

[2019-10-25 06:43] #718 closed

[2019-10-25 07:03] sirpy commented on #689
@AlexeyKosinski latest master doesnt pass

[2019-10-25 08:31] sirpy commented on #429
@AnastasiiaOdnoshevna can we finish testing this? ie case 2 that was blocked by #662

[2019-10-25 08:31] #429 closed

[2019-10-25 08:31] #399 closed

[2019-10-25 08:35] sirpy commented on #468
@yaroslav-fedyshyn-nordwhale
take care to use correct variables to be replaced
on signup we now only send the magiclink email, backup email is sent only on request (backup in menu)

[2019-10-25 15:59] LiavGut opened #741 "Dashboard: responsive scrolling isn't working correctly"
It should switch to the responsive view as soon as there are too many cards to view in the basic state.

![WhatsApp Image 2019-10-25 at 18.56.13 (1).jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/8a3ba291-85a2-487f-9ccc-4c7c439698d9)

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/49d10eee-16e2-4b9e-8856-c93d6f4670b5/Dashboard-Scroll-1

[2019-10-25 16:01] LiavGut opened #742 "Marketplace icon: Change label form "Marketplace" to "GoodMarket""

[2019-10-25 16:10] LiavGut opened #743 "Dashboard: timing of system cards + NEW card (eToro)"
1. Welcome card
2. Invite friends
3. backup
4. Start spending (eToro - NEW)

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/1255b024-1111-412a-8da9-dac81666786f/Dashboard-eToro-test
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/2d049e1a-683d-494c-b7bc-be86b21fd9a8/Dashboard-Feed-PopUp-GoodMarket

* The cards should be created only when the u

[2019-10-25 16:15] LiavGut opened #744 "Swiping pop ups on mobile isn't working"
Samsung Galaxy A5

[2019-10-25 16:23] LiavGut opened #745 "eToro - Splash screen: Change text"
![WhatsApp Image 2019-10-25 at 19.19.52 (1).jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/a1969be6-75af-4a11-8418-256e7282f02a)

Defintion of Done
---
- [x] only if isEtoro
- [x] top text should match
(Bold) Welcome to GoodDollar's Beta  (/Bold)
Visit GoodMarket and spend your GoodDollars before they expire on Feb 11th

[2019-10-25 16:30] AlexeyKosinski commented on #738
so I try this test```try {
        const whitelistTest = await this.sendTransaction( this.identityContract.methods.addWhitelistedWithDID('0x6ddfF36dE47671BF9a2ad96438e518DD633A0e63', 'x'))
        console.log('!!!!!!!!!!!!! O_O ', whitelistTest)
      } catch (e) {
        console.log('!!!!!!!!!!!!!!!! SHOUlD REVERT', e)
      }
      const topwalletTest = await this.topWallet(
        '0x6ddfF36d

[2019-10-25 16:33] AlexeyKosinski commented on #735
wait when paperclip market set correct script before `</body>`

```<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.2.0/iframeResizer.contentWindow.min.js"></script>```

need for ios and safary

[2019-10-25 16:34] LiavGut opened #746 "Profile privacy pop up: background should be blurred and brightend like all the other pop ups"
![WhatsApp Image 2019-10-25 at 19.19.52 (2).jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/21857a6a-ec0e-4dec-be6a-1041766dfb16)

[2019-10-25 16:36] LiavGut opened #747 "Profile photo: an error received after trying to upload a photo a couple of times"
![WhatsApp Image 2019-10-25 at 19.19.52 (3).jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/b3a7267e-9d0c-4c7d-8c62-51f8458b21d9)

Definition of Done
---
- [ ] verify gun settings
- [x] image uploading works
- [x] verify image size is reduced

[2019-10-25 17:46] LiavGut opened #748 "Dashboard: pending cards"
Two issues:
1. I've sent G$4 and G$5 and it shows that I've sent G$0.04 and G$0.05

![WhatsApp Image 2019-10-25 at 20.44.30.jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/6cd2c71f-0d89-49d4-9e1d-ea83cea6cf93)

2. when trying to delete pending cards - I got an errors

![WhatsApp Image 2019-10-25 at 20.44.30 (3).jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182

[2019-10-25 17:49] LiavGut opened #749 "eToro: user didn't auto login to Marketplace"
![WhatsApp Image 2019-10-25 at 20.44.30 (1).jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/1b3700f2-5d03-4aaa-9047-47039c33ea8b)

[2019-10-25 17:51] LiavGut opened #750 "Receive: main two buttons are without margins between them"
Samsung Galaxy A5
Chrome

![WhatsApp Image 2019-10-25 at 20.44.30 (4).jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/1e1e182a-2766-45c2-b623-fa55954b3f28)

[2019-10-25 17:56] LiavGut opened #751 "Send and Receive flow: All titles font should be Medium wight and match the design"
I reffer to "SEND TO?' font wight

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/a1c1a2bb-6b67-4621-b408-eeffe7705248/Send-11

![WhatsApp Image 2019-10-25 at 20.53.33.jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/4518abc5-5084-47ce-95a0-db600c860092)

Definition of Done
---
- [x] send flow titles medium weight
- [x] receive flow titles medium weig

[2019-10-25 18:03] LiavGut opened #752 "Add icon to home screen not showing on beta branch"
Samsung Galaxy 5
Chrome

Definition of Done
---
- [x] beta branch should show add to homescreen pop correctly

[2019-10-25 18:53] LiavGut opened #753 "Magic link email: after creating a new wallet I haven't receive the email"

[2019-10-26 18:54] LiavGut opened #754 "Processing payment link - Pop up should match design"
![WhatsApp Image 2019-10-26 at 21.05.34.jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/b3bc433d-d34f-4e69-b017-b1665c3454cd)

1. The spinner should not be in the button but instead of the circle with the checkmark (like in the claim).
2. The background should be blurred and brightened like all the other pop ups.

*** while testing this flow the pop up got stuck and the spinner

[2019-10-26 18:57] LiavGut opened #755 "App should handle network issues"
Two main issues
- no network on client
- w3 websockets lost connection after being in background for a while
https://github.com/ethereum/web3.js/blob/2.x/packages/web3-providers/src/providers/WebsocketProvider.js

Because of the above errors the user might also get stuck in the no gas screen.

Definition of Done
- identify in GoodWallet sendNative/sendTx network exception and retry. if again netwo

[2019-10-27 06:37] LiavGut opened #756 "Send a backup email - I clicked on it and didn't receive any email"
The flow within the app worked ok (ie the popup) but after trying a couple of times I still haven't received the backup email

[2019-10-27 13:50] LiavGut opened #757 "Update "Go to mobile" Splash screen: Design and text"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/

[2019-10-27 13:57] sirpy commented on #757
For this and future requests please specify what are the changes.
Also if this is etoro only use the etoro label and mention it in the description

[2019-10-27 13:57] sirpy commented on #756
emails are not done yet

[2019-10-27 14:01] sirpy commented on #756
follow #468

[2019-10-27 14:01] #756 closed

[2019-10-27 14:01] #753 closed

[2019-10-27 14:01] sirpy commented on #753
emails not done yet, follow #468

[2019-10-27 14:07] sirpy commented on #749
integration not ready yet

[2019-10-27 14:07] #749 closed

[2019-10-27 14:09] sirpy commented on #748
was fixed. check later tonight. moving this to QA column also.

[2019-10-27 14:13] LiavGut commented on #757
@sirpy
Text changes.
It's not only for eToro.

[2019-10-27 14:13] LiavGut commented on #756
@sirpy OK

[2019-10-27 14:19] sirpy commented on #743
@LiavGut
not sure what you mean by should be created only when user enters wallet.
the welcome card + invite are currently there once the user creates he wallet, so he will see them immediatly in first time he sees dashboard.
we can add the 1 minute delay before adding the invite card.
the backup card shows once user goes anywhere else in the app and goes back to dashboard

[2019-10-27 14:22] LiavGut commented on #743
@sirpy

OK

[2019-10-27 14:25] sirpy commented on #741
@LiavGut I dont think this is a bug
The original definition was that it should switch to "short view" only once user scrolls the feed not when there are many cards.
There's a small threshold that you need to scroll in order for it to switch to short view in order to prevent jumping back and forth  between long/short view

[2019-10-27 14:25] LiavGut commented on #743
Just remember to add the new eToro card

[2019-10-27 14:26] #719 closed

[2019-10-27 14:33] LiavGut commented on #741
@sirpy
I guess it's mostly because it's not a seamless animation between the states and it feels to me like something is wrong with the timing. maybe we can improve it later on...

[2019-10-27 14:58] sirpy opened #758 "email send code again doesnt turn into checkmark"
Definition of Done
- [x] should behave like mobile send code again
- [x] discuss with Liav full behaviour

[2019-10-27 15:00] sirpy commented on #758
@LiavGut
1. I think the text should change to spinner or something upon click then checkmark. or immedialty to checkmark so user knows something happend.

[2019-10-27 15:20] LiavGut commented on #758
@sirpy Why isn't the flow exactly like the phone code flow?

[2019-10-27 16:04] sirpy opened #759 "payment withdraw should display correct amount and cancel for self withdraw"
I created a payment link for 0.1 GD
When i withdraw it with same account
- i got a card with 0.01GD and not 0.1GD
- when a user withdraws his own link it should be same as cancel, functionality is already programmed, check why it is not working.

Defintion of Done
- [x] correct amount is shown on withdraw card
- [x] self withdraw acts as cancel = no new card is displayed, deposit card is deleted.

[2019-10-27 16:07] sirpy commented on #738
@AlexeyKosinski this happens on local ganache instance
from console
[code]

if you do next do
await p
on local ganache it will just hang
on ewallet it will display receipt

this also happens with testing GoodWallet.fuse.js (ie when using local ganache)
see if you can create a minimal repo with just ganache + web3 and a node script
connecting via websockets to ganache trying to send native currency

[2019-10-27 16:08] #741 closed

[2019-10-28 08:01] sirpy commented on #759
@yaroslav-fedyshyn-nordwhale I think the issue is in generating the payment link.
same amount variable is saved to the feed and used to generate payment link. it probably need to be converted to wei when generating link. change the generateLink paramater name from amount to gdAmountInWei so it is more clear for future use.

[2019-10-28 10:01] AlexeyKosinski commented on #747
1 upload profile image 6.8MB jpeg
2 it was saved successfully
3 download image from profile  310 KB png
4 tried a few times
5 after page reload I see the profile image so it was saved

[2019-10-28 10:58] yaroslav-fedyshyn-nordwhale commented on #468
The link to GoodServer PR - https://github.com/GoodDollar/GoodServer/pull/106

[2019-10-28 11:13] sirpy commented on #746
@StanislavShevchenko i've merged but then i've seen it doesnt match the design

[2019-10-28 11:39] AnastasiiaOdnoshevna commented on #696
Checked on the ewallet.gooddollar.org
Work as expected.
User get pop-up with survey after receiving a gooddollars.
![Screenshot_2019-10-28-13-14-09-710_com.android.browser.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/8aa37a58-5663-4eb5-a765-df30862ac6b4)

[2019-10-28 11:56] yaroslav-fedyshyn-nordwhale commented on #468
As we agreed with @LiavGut - Learn More button should be removed from Magin link email.
https://prnt.sc/pp4l4g

[2019-10-28 12:50] sirpy commented on #754
@StanislavShevchenko
Use the same spinner/pop that we use in when user "Claims"
Button should be disabled while spinner is working
Button should be enabled once spinner is not working anymore

[2019-10-28 13:28] AlexeyKosinski commented on #747
faced with another problem
![gun-error-ss.gif](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/c9385af1-5ba9-4ec6-909a-19b8439bec8e)

[2019-10-28 13:33] qatests1001 commented on #580
Checked on https://goodqa.netlify.com/
Reproduced
https://www.dropbox.com/s/os6qkf98yxvsfwk/2019-10-28_15-26-00.mp4?dl=0

[2019-10-28 13:51] AlexeyKosinski commented on #747
![image.png](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/b88c0101-38d9-4da5-9ead-718f183b653c)

it happens when u have bad internet connection. gun socket was disconnected

[2019-10-28 14:07] qatests1001 commented on #748
Checked on https://ewallet.gooddollar.org and https://goodqa.netlify.com/
Work as per requirements

[2019-10-28 14:20] qatests1001 commented on #720
Checked on https://goodqa.netlify.com/
Work as per requirements

[2019-10-28 15:28] sirpy commented on #580
this is the beta ie etoro wallet feature

[2019-10-28 19:24] #501 closed

[2019-10-28 19:25] #735 closed

[2019-10-28 22:01] sirpy commented on #738
solved when running ganache -b param

[2019-10-28 22:01] #738 closed

[2019-10-29 08:59] LiavGut opened #764 "Signup - Email code: Update text"
1. Update title
2. update link text

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/606fc752-0c49-4466-b48c-de984ddadd3f/Sign-Up-21

[2019-10-29 09:00] LiavGut opened #765 "Welcome card: Update text"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/5e00df15-d332-4898-bc70-f40d9b65af88/Dashboard-Feed-PopUp-Welcome

[2019-10-29 09:43] LiavGut opened #767 "Signup: Match app to design: alignments, positions and line width"
All the signup screen should look alike in terms of alignments, positions and line width
The input field line should be at the same positioning and width at all screens.

![Screen Shot 2019-10-29 at 11.38.38.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/cd951d0f-6df5-4056-a6a3-c604be331dc7)![Screen Shot 2019-10-29 at 11.38.25.png](https://images.zenhubusercontent.com/5d53e71a5

[2019-10-29 10:02] LiavGut opened #768 "Signup layout has changed"
There's a revert in design, it doesnt look like it used to be
In signup when keyboard is up it should not squash the content and keyboard should be shown over content.

Definition of Done
- [x] content not squeezed when keyboard is up
- [x] line width of all inputs should match the design
- [x] line position of all inputs should be the same, ie when going from one signup form to the other the line

[2019-10-29 11:00] sirpy commented on #767
dup of #768

[2019-10-29 11:00] #767 closed

[2019-10-29 12:08] yaroslav-fedyshyn-nordwhale commented on #752
I tested it on real devices (Samsung galaxy s8, Huawei p20) and it is working well. The popup is not displayed on the desktop because the 'beforeinstallprompt' event is not triggered (tested on chrome, safari, Mozilla Firefox).

[2019-10-29 12:12] AnastasiiaOdnoshevna commented on #468
Checked on QA environment.
The Backup email doesn't have pass phrase (see the attachment):

![2019-10-29_8-56-51.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/063acd90-cc7e-416e-91d9-9a794b2a6601)

Also, email verification doesn't match the mockup (see the attachment - the email received 29.10)
![2019-10-29_14-11-39.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b

[2019-10-29 12:25] sirpy commented on #752
i tested now on ewallet.gooddollar.org and I dont get the popup. i have mi
8.

[2019-10-29 12:25] AnastasiiaOdnoshevna commented on #717
Checked on ewallet.gooddollar.org
Look as per requirements.

![2019-10-29_14-23-40.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/1d05de2f-e026-41ce-adfb-b227fbc3d254)

[2019-10-29 12:35] sirpy commented on #746
@StanislavShevchenko the changes you made no longer match the design
@AlexeyKosinski this needs a new PR i've merged the one stas did but then noticed it doesnt match the design

[2019-10-29 12:45] yaroslav-fedyshyn-nordwhale commented on #752
@sirpy yes, I need to push fix, then it should work

[2019-10-29 13:12] yaroslav-fedyshyn-nordwhale commented on #752
@sirpy I pushed the fix to 593 branch | PR - https://github.com/GoodDollar/GoodDAPP/pull/728

[2019-10-29 13:24] sirpy opened #769 "Feed popups are not viewable and show only blurred screen"
tested on ewallet. mobile chrome.
the first 1 or 2 feed items show correctly but the rest when you click on them you just seed a blurred background you can't exit from
https://anonymousfiles.io/To1AyVUy/

[2019-10-29 14:28] qatests1001 commented on #745
Checked on https://ewallet.gooddollar.org
"Welcome to GoodDollar**'s Wallet**" is displayed
https://www.dropbox.com/s/nqrejhqjv8wx5v8/2019-10-29_16-21-50.png?dl=0

[2019-10-29 15:19] qatests1001 commented on #747
Checked on https://ewallet.gooddollar.org/
Works as expected

[2019-10-29 15:35] sirpy opened #772 "Configure workbox so it first checks for new code chunks"
Currently when reloading the app it doesnt fetch the latest code from the network
this seems related to the service-worker cacheFirst strategy.
this needs to be changed to all code chunks files or for the whole app
see:
https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin

[2019-10-29 16:46] sirpy opened #774 "Review animations"
Go over animations
 - [x] Verify we can use them in our app
 - [x] for example any text needs to be dynamic so we can change it
 - [x] all images have to be svg

https://drive.google.com/drive/u/1/folders/1ymp8VAQpaP-dj6taXC7VgHMQcsZTHnWR

[2019-10-29 18:37] yaroslav-fedyshyn-nordwhale commented on #764
@LiavGut this feature isn't etoro specific, right?

[2019-10-29 22:53] LiavGut commented on #764
Correct.

[2019-10-30 07:45] AlexeyKosinski commented on #774
can u give access to google drive for alexey.kosinski@nordwhale.com

[2019-10-30 08:31] AlexeyKosinski opened #775 "button margin on claim screen when not whitelisted"
Steps to reproduce:
1 set env var DISABLE_FACE_VERIFICATION=false in GoodServer (broke the whitelist)
2 create a new user
3 go to claim screen and  see no margin bug
4 reload the page - no bug -everything is ok

![task480.gif](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/68d35d18-9c7e-44f6-8ade-328603dbc80f)

**edit**
This happens also on receive screen the bottom two buttons star

[2019-10-30 10:08] yaroslav-fedyshyn-nordwhale commented on #750
Cannot reproduce this issue. It seems like that bug is already fixed in some other PR. I tested it on different devices with different resolutions - Working well.
Moving this card to QA.

[2019-10-30 10:13] AnastasiiaOdnoshevna opened #776 "The "Mobile verification failed" error message is displayed during new user creation"
Steps:
1. Navigate to eWallet signup page
2. Enter the name and tap the "Next" button
3. Put the valid phone number into the phone field
4. Tap "Next" button and pay attention at the results

Expected results: The SMS verification screen is displayed
Actual result: User get error message about failed verification

Environment:
ewallet.gooddollar.org

Device used:
iPhone 6+ // iOS 11.4.1
iPhone X /

[2019-10-30 10:27] sirpy commented on #769
https://anonymousfiles.io/To1AyVUy/

[2019-10-30 10:57] amitorama opened #777 "backup wallet"
why do I need a backup my wallet card in wallet if I already had a magic link email sent on signup?

[2019-10-30 12:00] StanislavShevchenko commented on #745
![image.png](https://images.zenhubusercontent.com/5d555a8db397280599d9227d/3df3dc0b-08d4-4d49-927d-25d8181b4418)

[2019-10-30 12:15] sirpy commented on #759
@yaroslav-fedyshyn-nordwhale what about the beta branch?

[2019-10-30 12:20] yaroslav-fedyshyn-nordwhale commented on #759
@sirpy also tested yesterday on beta branches with new contracts. The same as on master - working well.

[2019-10-30 12:22] yaroslav-fedyshyn-nordwhale commented on #744
Tested on Samsung Galaxy S8. it is not working on chrome browser. The Mozilla Firefox, Opera and default Samsung browser working well.

[2019-10-30 12:53] AlexeyKosinski commented on #774
![anim1-480.gif](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/7b41ea4f-bdda-404d-a120-e746b1bb1ada)
![anim2-480.gif](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/13273b37-c73a-4a4c-98fc-fa46d1c4f061)

looks like all animations works fine

[2019-10-30 13:14] AlexeyKosinski commented on #774
- yes we can use them in our app
- all images are png but I think it is ok. also a lot of animations don't have images at all. it is just css + js
- sometimes texts are images so we can't change it dynamically

list of animations which have text as image:
set1:
- Button_to_Counter (1)
- Save button+Spinner
- Share_Link_Recieve (1)
- Share_Link_Send (2)

[2019-10-30 13:17] StanislavShevchenko commented on #743
button LET'S GO what does it do?

[2019-10-30 13:19] LiavGut commented on #745
And also:
1. Please break before "expire" (and not after)
2. Please remove the last sentence: "Early access alpha v2.0"

[2019-10-30 13:20] LiavGut commented on #743
"let's go" directs to GoodMarket

[2019-10-30 13:22] sirpy opened #781 "IOS should pass credentials to webapp via service worker"
When adding app to homescreen on ios, when opening the webapp the user is not logged in to his wallet because on ios storage is not shared between safari and webapp.
The only way to solve it is via service worker cache.
https://www.netguru.com/codestories/how-to-share-session-cookie-or-state-between-pwa-in-standalone-mode-and-safari-on-ios

1. add the code from step 1 to sw-dev.js to test it local

[2019-10-30 13:24] sirpy opened #782 "Add to home screen pop is shown on installed webapp on ios"
Steps to reproduce
1. add to homescreen on ios
2. open installed app
3. recover account from seed phrase
4. add to home screen popup is shown.

Definition of Done
---
- [x] standalone/fullscreen state should be detected correctly
- [x] add to home doesnt show on installed webapps

[2019-10-30 13:57] StanislavShevchenko commented on #743
@LiavGut
what did you mean?
**"card 4 could pop up on the 2nd time the user visits the app."**
the user logout the application, and then logged in or when he left the dashboard and then returned, as with backup card?

[2019-10-30 16:15] amitorama opened #787 "Payment transfer error"
### Description
Could not find the payment or incorrect code

### Steps to reproduce
1. @omer sent me a transfer link via Whatsapp
*this message is very suspicious - can we control the text in this message, make it more approachable?

![WhatsApp Image 2019-10-30 at 18 04 06](https://user-images.githubusercontent.com/57177710/67876691-f9dd0100-fb40-11e9-9f70-09a3087c06b3.jpeg)

2. I pressed the lin

[2019-10-30 16:36] amitorama commented on #787
*sorry funds were not transfered - that extra G$20 were sign up bonus

[2019-10-30 16:49] amitorama commented on #787
I have now seen an email fom GoodDollar saying omer has confirmed me and I have received G$20 for registration so I am assuming this was not a transfer link at all but verification bonus for sign up. In which case
a) I had no idea what this was
b) do we need double notifications (email+text?)

[2019-10-30 16:49] sirpy commented on #743
@liavgut we don't know what 2nd time means. it's better to define a minimum time. because maybe he just went to another tab in the browser and came back. so maybe wait a day?

[2019-10-30 16:51] Talbatz commented on #787
@amitorama the email that you got has nothing to do with this, it is because i verified you on web3, then you got the bonus and redeemed it (successfully)

[2019-10-30 20:09] LiavGut commented on #743
@sirpy Ok, let's wait a day.

[2019-10-31 08:32] Nordwhale commented on #755
@LiavGut On what action did you get this error?

[2019-10-31 08:45] LiavGut commented on #755
@Nordwhale When coming back to the app

[2019-10-31 09:04] sirpy commented on #755
@Nordwhale happened to me also

[2019-10-31 09:10] sirpy commented on #743
@StanislavShevchenko show the etoro card if 24 hours passed since first visit

[2019-10-31 09:18] sirpy opened #788 "Upgrade gundb to use indexdb for storage"
Definition of Done
- [x] guns work correctly with index db
- [x] in signup delete gun from indexdb and not localstorage

[2019-10-31 10:31] Nordwhale commented on #755
@sirpy  Looks like we have to finish this task: https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/685

The error will be handled then ( error code DASHBOARD-3). We're waiting for the Error messages:

https://docs.google.com/spreadsheets/d/1zkFtmIgl2tf8bSta4PJXZpjB_6X5-H-wxYsZf0teXOs/edit#gid=0

[2019-10-31 11:14] AnastasiiaOdnoshevna commented on #468
**UPD for 30.10*

The emails are received with new design.

The Magic link mail:
![magic mail.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/fc596552-cd13-4bdf-8dea-9f678c448249)

The verify email:
![verify.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/a4fc09ec-fa70-4529-9c99-c4eea739bcd7)

Backup:
![backup.jpg](https://images.zenhubusercontent.com/5d75e23a

[2019-10-31 11:32] LiavGut commented on #468
@sirpy We said that if Roboto Slab is not found then replace with Roboto

[2019-10-31 11:35] AnastasiiaOdnoshevna opened #790 "The code from Verifying email doesn't fit in mobile device screen"
Pre-conditions: User is navigated to ewallet.gooddollar.org and start registration flow. The mobile phone is already verified.

Step to reproduce:
1. Navigate to Email field
2. Tap on the "Enter your email" field and put the valid mail
3. Tap the "Next" button
4. Open the email service and tap on the Verification message
5. Pay attention how code is displayed

Actual result: The code from Verifyin

[2019-10-31 11:51] AnastasiiaOdnoshevna commented on #752
Checked on ewallet.gooddollar.org
The pop-up is displayed (see the attachment)

@sirpy  I leave ticket in QA cause it should be tested tomorrow after new claim.

![Screenshot_2019-10-31-13-44-46-027_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/05045059-3050-4ae9-b789-2de777a828b7)

[2019-10-31 12:12] AnastasiiaOdnoshevna commented on #759
Checked on eWallet.
Work as expected.
When user create payment link (attachment #1) and open it again from the same device with the same user, than payment link canceled (attachment #2). User get sended gooddollars back (attachment #3)

1.
![001.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/8299fbe3-c1b2-4547-8b76-9451d03cfe02)

2.
![003.png](https://images.zenhubusercontent.c

[2019-10-31 12:15] AnastasiiaOdnoshevna commented on #580
Checked on eWallet. Work as expected
If there is X people then:
when user claim gooddollars than count of people changed to X+1

[2019-10-31 12:16] AnastasiiaOdnoshevna commented on #700
@sirpy
I leave this ticket in QA cause there is no possibility to check it yet

[2019-10-31 12:20] sirpy commented on #700
@AlexeyKosinski please provide explanation how to test it. read data from gun using console maybe?

[2019-10-31 12:24] sirpy commented on #759
@AnastasiiaOdnoshevna the error popup is not the expected result. the error
popup happens when you try to withdraw a payment link either
before it got registered on the blockchain or after someone already
withdraw the payment.
This probably happened you because you withdrew the payment link quickly.
Also please check with another account withdrawing and the details of the
payment should be updated

[2019-10-31 13:03] qatests1001 commented on #758
Checked on https://goodqa.netlify.com The checkmark is not displayed https://www.screencast.com/t/tzouZNuFWVhI
Checked on https://gooddev.netlify.com The "Enter the verification code sent to your email" page is skipped

[2019-10-31 13:07] AnastasiiaOdnoshevna commented on #754
Checked on the eWallet
1. Spinner is still performed on the button (see the attachment)
2. The background is blurred.
3. There were a lot of time between sent and withdraw, so I don't catch the endless spinner.

@StanislavShevchenko
The load spinner is still performed on the button.

![Screenshot_2019-10-31-14-00-38-617_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af000

[2019-10-31 13:29] StanislavShevchenko commented on #769
@sirpy @Nordwhale
Error not reproduce
The link you provided does not open
Please give reproduction steps

[2019-10-31 13:32] qatests1001 commented on #739
Checked on https://gooddev.netlify.com Works as expected https://www.screencast.com/t/devocY6D
Checked on https://www.screencast.com Reproduced https://www.screencast.com/t/3hbecGUyuC

[2019-10-31 13:43] qatests1001 commented on #750
Checked on https://gooddev.netlify.com Works as expected https://www.screencast.com/t/T6vpfQY0PEN
Checked on https://goodqa.netlify.com Works as expected https://www.screencast.com/t/UHw3WB4AYci

[2019-10-31 15:02] AlexeyKosinski commented on #768
<img width="1646" alt="Screenshot 2019-10-31 at 16 53 36" src="https://user-images.githubusercontent.com/36693645/67958688-3b80b100-fc00-11e9-91ba-524719d2d7e3.png">
![792](https://user-images.githubusercontent.com/36693645/67958650-2b68d180-fc00-11e9-8945-31fe4bdca7ba.gif)

[2019-10-31 21:14] sirpy commented on #769
@StanislavShevchenko you can rename the file to .mp4 and you should be able to play it.
It happens to me on chrome xiaomi mi8

[2019-10-31 21:17] sirpy commented on #754
you should check on gooddev

[2019-11-01 08:43] sirpy commented on #781
no possible solutions at the moment

[2019-11-01 08:45] sirpy commented on #685
@Nordwhale @AlexeyKosinski
please discuss and view different location of errors, maybe some errors should only be logged and not shown to user at all?
what kind of error message should the user see? (we will do proof reading later)

[2019-11-01 08:46] sirpy commented on #755
@Nordwhale i'm not sure it is dashboard-3 can you give an example use case to replicate this?

[2019-11-01 09:06] sirpy opened #795 "Webapp and desktop should refresh on new version"
Currently in **production** mode:
- we use StaleAndValidate strategy
- desktop refreshes after reload or second visit
- Webapp (tested on android) doesnt refresh cache at all even if using pull down, it refreshes if you refresh the browser on the same mobile

workbox guide and docs: https://developers.google.com/web/tools/workbox/guides/get-started

on production service-worker logic is handled by

[2019-11-01 11:49] AnastasiiaOdnoshevna commented on #737
Checked on Dev and QA environment
Work as per requirements. The pop-up is centered when user changes the scale.

Dev environment:
https://www.dropbox.com/s/n5aeo6gko3rp46y/2019-11-01_11-04-38.mp4?dl=0

QA environment:
https://www.dropbox.com/s/dper2u2okcn1hs9/qa.mp4?dl=0

[2019-11-01 13:47] AnastasiiaOdnoshevna commented on #716
Checked on Dev environment, QA environment and eWallet.
Used devices:
iPhone 6+ // 11.4.1
Xiaomi Redmi 7 // 9.0
Windows 10 // 64-bit

Look as per requirements.
![unnamed (2).jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/38a3da20-f528-4b13-8142-b913d1101667)

![Screenshot_2019-11-01-15-40-53-161_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786

[2019-11-02 07:22] amitorama opened #796 "Cannot Access GoodMarket Via Wallet"
### wrong username or password error message

1. Logged into wallet
2. pressed the Marketplace tab
3. filled in my email
4. got error message (adress and password are both fine)

![WhatsApp Image 2019-11-02 at 09 18 56](https://user-images.githubusercontent.com/57177710/68067595-084e3700-fd52-11e9-8b67-d74968dad939.jpeg)

5. logging into marketplace via chrome browser works fine, no error -

[2019-11-03 06:24] sirpy commented on #796
it wasnt enabled yet.
try today, you should not need to login if you arrive from wallet

[2019-11-03 06:24] #796 closed

[2019-11-03 07:00] LiavGut opened #797 "Email - Magic Link - Subject isn't correct"
![Screen Shot 2019-11-02 at 21.30.40.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/77de0692-4cde-454c-ae6d-2daff2c60ccc)

[2019-11-03 07:46] LiavGut opened #798 "Image editor should have trash icon instead of x"
1. Replace "X" icon with "Trash Can" icon.
2. Remove user name from this screen.
3. Add a big "Done" button at the bottom of the screen (like the "save" button from the previous screen.
![WhatsApp Image 2019-11-02 at 23.27.10 (1).jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/d72ea589-c34f-405a-bded-24afd937b96d)

[2019-11-03 07:50] amitorama commented on #796
Still does not work

A) I have already logged into market via app (3 days ago) so it DID work
B) It says my password is incorrect

Cheers,

Amit Baram
Creative Lead, GoodDollar <http://gooddollar.org/>  <>+972 54 565 11 69

[2019-11-03 07:52] amitorama commented on #796
Scratch that!
Works now!

Cheers,

Amit Baram
Creative Lead, GoodDollar <http://gooddollar.org/>  <>+972 54 565 11 69

[2019-11-03 11:54] sirpy opened #799 "Bonus event should be from "GoodDollar" and not unknown"
happens in two cases I think
- we wait until bonus is done on backend, then we add the TX to the feed, so the Transfer events maybe arrives before we enqeueuTX to feed so its not updated correctly.
- If bonus was redeemed directly on blockchain not through wallet.
ie in console call api.reedemBonus() so wallet doesn't call .enqueTX, the bonus tx will be added to the wallet (since we listen to bloc

[2019-11-03 12:02] sirpy opened #800 "send/receive payment links should have base64 encoded params"
currently payment/request details are visible in link as query parameters ie &reason=
links should look like
paymentCode=<base64 urlsafe>
code=<base64 urlsafe>
we can encode a json object
{code:x , reason:y} or {reason:x,amount:343,mnid: 0x....}
stringify it and base64 encode it
once received we decode them and turn back into json object

Definition of Done
- [x] payment links are just one long ba

[2019-11-03 13:03] sirpy opened #801 "Webapp ios should start at special signin screen"
On ios there's no way to have the user automatically signed in once he adds app to home page.
Login flow on ios webapp
- every time add to home screen is shown on IOS, we send the user an SMS with the code at the end of the magic link. initial sms content "Open the GoodDollar app you just installed and paste this code: {newline}{code}"
- On webapp if on ios and no mnemonic in storage user is shown

[2019-11-03 13:07] sirpy commented on #801
@LiavGut your input on
- sms text
- signin screen title, text, special design?

what if user didnt get SMS or something, maybe also add in the signin text OR paste the magiclink we sent to your email address?

[2019-11-03 13:54] sirpy opened #802 "Better error messages for payment code withdraw"
detect if
1. payment exists but was withdrawn - error: "Payment already withdrawn"
2. payment doesnt exists - show blue dialog with processing payment, poll to check if payment exists every 2 seconds. after 6 seconds show error dialog. "Could not find payment, try again later"

[2019-11-03 13:55] sirpy commented on #802
@LiavGut what do you think about this new flow?

[2019-11-03 14:39] sirpy opened #803 "bonus popup should have icon at the top"
same icon as receive

[2019-11-03 14:50] LiavGut commented on #802
Payment doesn't exist = Sender canceled link?

If so, why not just say that... "Payment canceled by sender" or something like that

[2019-11-03 15:11] sirpy opened #804 "webapp shouldnt have logout in menu"
there's no reason to logout from webapp.

Defintion of Done
- [x] webapp mode has no logout option in menu

[2019-11-03 15:40] sirpy opened #805 "refactor PR #637"

[2019-11-03 18:48] LiavGut opened #806 "Claim: processing + Success popups should be at the same size"
![Screen Shot 2019-11-03 at 20.14.22.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/5d95f9d6-abfe-40ef-8ff0-596e9fa35c51)

The headers should be aligned center and the circles and the texts should be at the same positioning.

It should feel like a seamless two-step flow.

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/e37420bb-533b-4567-a535-de7f2e5c

[2019-11-03 18:51] LiavGut commented on #801
@sirpy Tell me what do think...
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/73a383a2-4fc1-4863-8f4a-dcf33d872f64/Sign-in-iOS

[2019-11-03 19:49] sirpy opened #807 "navigating back from rewards/market should be replaced with exit icon"
User could be in middle of action and accidently press back.
Remove back button on the left form the topbar and add on the right an exit icon.

Definition of Done
- [x] back button on topbar when in rewards/market is removed
- [x] exit button is shown on topbar when in rewards/market on right side and goes back to dashboard

[2019-11-03 19:49] sirpy commented on #807
@LiavGut your input

[2019-11-03 19:54] sirpy commented on #801
ok.
but dont forget that send me the code again, leads back to wallet on
safari. so we will show him there a popup with sms sent and ok button will
close the safari window that was opened

[2019-11-03 21:35] sirpy opened #808 "dont render addwebapp if isWebApp"
move <AddWebApp> to main app router (router.js)
dont render if already isWebApp (see new helper)

Definition of Done
- [x] move to main router (done in beta branch)
- [x] dont render if already iswebapp

[2019-11-04 07:08] sirpy commented on #797
@LiavGut fixed

[2019-11-04 07:08] #797 closed

[2019-11-04 07:10] sirpy commented on #781
there's no current way to do that.. closing

[2019-11-04 07:10] #781 closed

[2019-11-04 07:10] sirpy commented on #772
dup of #795

[2019-11-04 07:10] #772 closed

[2019-11-04 07:11] sirpy commented on #509
@Talbatz

[2019-11-04 07:15] sirpy commented on #774
@AlexeyKosinski

[2019-11-04 07:20] #689 closed

[2019-11-04 07:20] #593 closed

[2019-11-04 07:21] #631 closed

[2019-11-04 07:32] Talbatz commented on #509
@sirpy this page had the OLD privacy policy. Now updated. Please check

[2019-11-04 07:50] sirpy opened #809 "(Chore) improve dev scripts"
in GoodBootstrap

* [x] make sure the script for new developers works out of the box and install and run a dev env
* [x] ganache should start on a different port for test.
* [x] one command from GoodBootstrap to start project
* [x] add and integrate local mongod https://github.com/nodkz/mongodb-memory-server
* [x] updated to beta contracts
* [x] also starts jest in watch mode for dapp and server

[2019-11-04 08:11] LiavGut commented on #807
@sirpy
I understand why we need it in the marketplace, but why do we need it in the reward?

[2019-11-04 08:27] AlexeyKosinski commented on #774
all images are svg
all texts are as text. so we it can be dynamically change it

[2019-11-04 08:55] Talbatz commented on #774
@AlexeyKosinski that is my new favorite gif

[2019-11-04 12:19] AlexeyKosinski opened #811 "Add icon to home screen on iPhone 11 Max Pro"
![image (6).jpg](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/c49ba738-b6ae-4872-830f-d97a2b661afe)
![image (7).jpg](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/e14008a9-7fbe-47a6-81b6-7f1bb7fce95b)

remove empty space on iPhone 11 Max Pro
fix ios add to home explanation tooltip on iphone5.should fit inside screen

[2019-11-04 12:59] AlexeyKosinski opened #813 "markettokenmarkettokenmarkettoke"
- investigate why it creates infinity loop
- make possibility to pass one address or list of addresses to the lock function  as parameter

[2019-11-04 13:01] StanislavShevchenko commented on #685
@AlexeyKosinski
in the table I marked the error message that the user sees

[2019-11-04 15:04] LiavGut opened #814 "After transaction user should see send avatar immediatly"
Sometimes image doesnt show but we see an empty icon.
After refresh image is shown.
Image should be shown without refresh.

This could be related to gun. maybe we need to use gun.on -> so we get updates instead of gun.get.then() which is basically gun.once

Definition of Done
- [ ] avatar image shown without refresh when you get first payment from someone new

[2019-11-04 15:10] sirpy opened #816 "faq,privacy policy, support, terms iframes are not full screen on iphone"
Tested on iphone 8 plus 13 simulator

need to add style {flex:1} like in market tab and rewards tab.
but they use iframeresizer while faq etc use react-native-web-webview
it doesnt seem to support styles, maybe try to wrap in a div which is flex:1
if not then either:
1. modify react-native-web-webview with a pull request to support styles in iframe
2. switch to iframeresizer

[2019-11-04 15:11] LiavGut opened #817 "Buttons are cut at the bottom of the screen on iPhone"

[2019-11-04 15:12] LiavGut opened #818 "Magic link email should be sent top the user t when he reaches the magic link screen on sign up"
we send it once user completes registartion, lets change it to when magiclink screen is shown

[2019-11-04 15:28] LiavGut commented on #743
@sirpy
Update timing of system cards:
1. Welcome card - at start
2. Start spending (eToro - NEW) -  1 minute delay before adding
3. Invite friends -  another 1 minute delay before adding
4. backup - show the card if 24 hours passed since the first visit

[2019-11-04 16:15] sirpy opened #819 "web3 should send events to amplitude"
1. make sure gtm adds current tags also to ewallet.gooddollar subdomain
2. make sure the cookie also filters on ewallet
3. add events on w3 sent to amplitude. use key of gooddapp_etoro
   - w3 signup flow - `W3_SIGNUP_<X>`
   - invite link opened - `W3_INVITE_CLICK` - attribute event to the inviting user
   - invited user completed registration on w3 - `W3_INVITE_SUCCESS` - attribute event to the

[2019-11-04 16:17] yaroslav-fedyshyn-nordwhale commented on #801
GoodServer PR - https://github.com/GoodDollar/GoodServer/pull/115

[2019-11-04 16:34] yaroslav-fedyshyn-nordwhale commented on #801
As we discussed with @sirpy - 'send me the code again' button should be removed from the new screen.

[2019-11-05 07:58] sirpy commented on #816
@Talbatz
we need to add the following css to the info pages of wallet hosted on community.gooddollar
FAQ, privacy policy, support form, terms of use
also can you add a support form without header/footer? like the FAQ?
html, body {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

[2019-11-05 08:32] LiavGut opened #820 "Copy payment/receive link on desktop should also have message text"
Share links:
When sharing a transfer link (send and receive) the user should see a specific text along with the link
 when pasting.

[2019-11-05 08:50] LiavGut commented on #782
@sirpy
Text changes:
1. Top bar - update text
2. Title - update text
3. Body text -  update text

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/73a383a2-4fc1-4863-8f4a-dcf33d872f64/Sign-in-iOS/

[2019-11-05 08:52] LiavGut opened #822 "Splash screen - remove texts"
Splash screen should be without top text.
Keep version number.
Align the logo + version number to center hight of the screen

see design for more details:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/1f7149b0-d248-49fe-a3eb-2f6e2163466f/Splash-3

[2019-11-05 08:55] LiavGut opened #823 "Welcome screen - Update title text"
Title should be: "Welcome to GoodDollar Wallet"

see:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/5ff7485f-7e4c-4b1a-a20b-c30918d45c99/Sign-Up-2

[2019-11-05 09:14] LiavGut opened #824 "Signup - Phone: Update title text"
Title text should be and broken into these 3 lines
make sure location of input(height) line doesnt change

"John,
enter your phone number
so we could verify you"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/08c2e3c6-46b8-4eba-a1cf-9ade5ef54706/Sign-Up-5/

[2019-11-05 09:17] LiavGut opened #825 "Magiclink explanation screens - update text and colors"
change fonts colors and remove the word "the" from "using the Magic Link"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/229c2efe-3550-4804-a109-eac96ee1b958/Sign-Up-23

Definition of Done
- [x] signup screen explanation matches design
- [x] signin screen explanation matches design

[2019-11-05 09:18] LiavGut opened #826 "Sign in: Change fonts colors"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/5fdc388b-ee8e-4978-a07b-25373e52921f/Sign-In-Recover-5

[2019-11-05 09:56] LiavGut commented on #807
@sirpy
Exit button = Wallet Icon

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/92c91929-d78e-4ef4-a51e-5db9da69d280/Rewards-eToro-test

[2019-11-05 10:02] AnastasiiaOdnoshevna opened #827 "The Welcome page is not displayed after clicking the "Continue on web" button"
Steps to reproduce:
1. Navigate to the goodqa.netlify.com with payment link
2. Click the "Continue on web" button
3. Pay attention to the result

Actual result: The Welcome page is not displayed after clicking the "Continue on web" button

Expected result: The Welcome page should be displayed after clicking the "Continue on web" button

Video: https://www.screencast.com/t/VpnEROi0mr

**Note: issue

[2019-11-05 10:29] AnastasiiaOdnoshevna commented on #758
Checked on eWallet environment
Work as per requirements
Video - https://www.screencast.com/t/uf2jJXNh

[2019-11-05 10:42] AnastasiiaOdnoshevna commented on #758
Check on QA environment is blocked because of issue #827

[2019-11-05 10:51] LiavGut opened #828 "Topbar GoodMarket icon should have background"
See background in design:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/1255b024-1111-412a-8da9-dac81666786f/Dashboard-eToro-test/

[2019-11-05 10:55] sirpy opened #829 "no pngs only svgs"
replace modal icons and any other instance of png with svg
use react Image.precache/preload to preload them

[2019-11-05 11:02] AnastasiiaOdnoshevna commented on #827
The issue was fixed and don't reproduce anymore

[2019-11-05 11:02] #827 closed

[2019-11-05 11:06] LiavGut opened #830 "Dashboard: Update timing of system cards"
Update timing of system cards:

1. Welcome card - at start
2. Start spending (eToro - NEW) - 1 minute delay before adding
3. Invite friends - another 1 minute delay before adding
4. backup - show the card if 24 hours passed since the first visit

[2019-11-05 11:10] LiavGut opened #831 "Dashboard - Good market card: Last word gets cut on small devices"
The last word should break to the next line (the same line as "here >>>")

![67954524-cc07c300-fbf9-11e9-831b-cd12f7adc243.jpg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/2dd713a9-e676-46c2-ac1d-22a397e8c5a5)

[2019-11-05 11:14] LiavGut opened #832 "Dashboard - top bar: Icons are not aligned in hight"
![Screen Shot 2019-11-05 at 13.11.48.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/d4c25cda-3c87-4f96-b37e-fb7e324e24d0)

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/1255b024-1111-412a-8da9-dac81666786f/Dashboard-eToro-test/

[2019-11-05 11:27] sirpy commented on #802
we dont know if it was canceled or withdrawn.
we can write
Payment already withdrawn or canceled by sender

[2019-11-05 11:27] sirpy commented on #805
@StanislavShevchenko done in pr #734

[2019-11-05 11:27] #805 closed

[2019-11-05 11:36] AnastasiiaOdnoshevna commented on #745
Checked on eWallet environment
Look as per requirements
![Screenshot_4.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/dfa3dd1d-c83e-4280-bd48-20e78aa4b44e)

[2019-11-05 12:15] sirpy commented on #817
@LiavGut need more details

[2019-11-05 12:27] AnastasiiaOdnoshevna commented on #739
Checked on QA environment
Look as per requirements
![1.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/6dd7b4e9-7b56-42a5-bfbc-67363d8178e4)
![2.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/e90c86c5-ee50-42c9-96cc-e1bf0ecac3e8)

[2019-11-05 12:39] LiavGut opened #833 "Reason input field should be limited to 2 line of text and then wel'll cut it and put 3 dots... at the end."
![Screen Shot 2019-11-05 at 14.30.11.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/91ba83eb-9fdb-4c7c-b9c0-1739c3f3f958)

[2019-11-05 12:43] AnastasiiaOdnoshevna commented on #746
The blurred pop-up is performen on eWallet (see the first attachment)
The Dev and QA environment have visible background (see the second attachment)

*eWallet:*
![Screenshot_2019-11-05-12-18-20-569_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/bfd1fee2-6e8b-4cb4-b4b5-422a2382aea2)

*Dev env (the same result have QA env*
![Screenshot_2019-11-05-12-20-44-331_c

[2019-11-05 12:52] sirpy commented on #782
@LiavGut i think this belong in a different story

[2019-11-05 13:03] AnastasiiaOdnoshevna commented on #736
Checked on Dev, QA, and eWallet environments
Work as per requirements
Env:
Dev - https://www.screencast.com/t/I3UNDYGe
QA - https://www.screencast.com/t/DfujVKWZ3O
eWallet  - https://www.screencast.com/t/7S1QoyoT

[2019-11-05 14:01] AnastasiiaOdnoshevna commented on #764
Checked on QA environment
Look as per requirements
![Screenshot_6.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/4efbea68-4d95-4c29-88ef-8b5eef7a38f7)

[2019-11-05 14:27] AlexeyKosinski opened #836 "fix iframe resize and scroll"
fix market/rewards iframe resize/scroll on safari

[2019-11-05 14:29] sirpy commented on #836
@AlexeyKosinski i've fixed it on beta.

[2019-11-05 14:29] #836 closed

[2019-11-05 14:39] yaroslav-fedyshyn-nordwhale commented on #775
@AlexeyKosinski I tried to reproduce this issue on latest master. And I found that everything works well.
See these videos:

| Claim | Receive |
| --- | --- |
| https://www.screencast.com/t/R0NZ8s11IO | https://www.screencast.com/t/FkXfSc3eOrJ |

[2019-11-05 14:43] #826 closed

[2019-11-05 14:43] yaroslav-fedyshyn-nordwhale commented on #775
@AnastasiiaOdnoshevna please test it too and we will be sure if it can be reproduced or not.

[2019-11-05 14:46] AnastasiiaOdnoshevna commented on #742
Checked on eWallet environment
Look as per requirements
![Screenshot_2.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/a0afdbcc-4be1-407a-bf90-85731419a752)

[2019-11-05 14:49] #774 closed

[2019-11-05 14:52] yaroslav-fedyshyn-nordwhale commented on #798
@LiavGut what should the 'Done' button do? it should just close the page or by clicking on it the avatar should be saved?

[2019-11-05 15:33] sirpy commented on #798
Yes it just closes the page

[2019-11-05 15:51] Talbatz commented on #816
ok so now this CSS file gets included whenever we use a blank template with no header / footer:
https://community.gooddollar.org/wp-content/themes/gooddollar/css/iframe.css

[2019-11-05 15:52] AnastasiiaOdnoshevna opened #838 "The "Next" button is overlapped by system keyboard on the Sign up screen"
Steps to reproduce:
1. Navigate to the Sign up screen
2. Pay attention to the "Next" button

Actual result: The "Next" button is overlapped by system keyboard on the Sign up screen

Expected result: The "Next" button is located above and should not overlaps by system keyboard on the Sign up screen

**Note: the issue is performed on Dev, QA, and eWallet environments**

Device: Xiaomi mi8 // Android

[2019-11-05 17:38] sirpy commented on #816
reply perfect. waiting for the support form to test it.

[2019-11-05 18:11] StanislavShevchenko commented on #769
https://github.com/GoodDollar/GoodDAPP/pull/812

[2019-11-06 06:18] AnastasiiaOdnoshevna commented on #746
**UPD:**
Look as per requirements for Dev and QA environments

[2019-11-06 10:47] AnastasiiaOdnoshevna commented on #782
Checked on Dev and QA environment. Work as expected. If user have the icon with GoodDollar on homescreen, than pop-up isn't show

[2019-11-06 11:41] sirpy commented on #550
@AlexeyKosinski did you check my previous comment?

[2019-11-06 13:16] #695 closed

[2019-11-06 14:04] #509 closed

[2019-11-06 15:21] AlexeyKosinski opened #845 "Collect transaction data and create API for dashboard"
Transactions:
 - highlights
   - total transactions so far
   - total amount so far
   - avg daily count of transactions
   - avg balance
   - avg count of transaction
 - graph with days on X axis
    - plot lines of: count of transaction in day x, avg amount of tx in day x, total amount in day x

Definition of Done:
- [x] poll once an hour for erc20 transfer events
- [x] collect a list of account

[2019-11-06 15:23] yaroslav-fedyshyn-nordwhale commented on #820
The Link to GoodDapp PR - https://github.com/GoodDollar/GoodDAPP/pull/844

[2019-11-06 15:23] yaroslav-fedyshyn-nordwhale commented on #823
The Link to GoodDapp PR - https://github.com/GoodDollar/GoodDAPP/pull/844

[2019-11-06 15:23] yaroslav-fedyshyn-nordwhale commented on #824
The Link to GoodDapp PR - https://github.com/GoodDollar/GoodDAPP/pull/844

[2019-11-06 15:23] yaroslav-fedyshyn-nordwhale commented on #825
The Link to GoodDapp PR - https://github.com/GoodDollar/GoodDAPP/pull/844

[2019-11-06 15:25] AlexeyKosinski opened #846 "Limit height on backup and recover screens (tablet and desktop)"
![Screenshot 2019-11-06 at 11.40.06.png](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/bea6c520-2ae7-4163-8e71-20555965dfe5)
![Screenshot 2019-11-06 at 11.39.23.png](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/5935623c-58a7-4df2-8453-fa3698f5668a)

Height should be limited by height like on other screens for tablet and desktop

[2019-11-06 17:01] LiavGut opened #847 "Error while trying to withdraw"
1. Clicked on a payment link on WhatsApp
2. Got directed to the dashboard - withdraw pop up open (Background was not blurred or brightened) (See 1.jpg)
3. the spinner is continually spinning and I can't press X or do anything else. I just got stuck.
4. Closed wallet and reopened it.  withdraw pop up opened again (Background WAS blurred or brightened)
5. After a sec, an error message pop up opened.

[2019-11-06 17:18] LiavGut opened #848 "Rewards tab is directing to GoodMarket (Webapp, iOS, iPhone8)"

[2019-11-06 19:36] LiavGut opened #849 "Feed cards should be inserted and ordered by date"
Seems like new cards are not inserted in correct place.

Definition of Done
- [ ] cards are inserted to feed index in correct place by datetime

Cards timestamp should be the time when the card is created. Always chronology and never change.
![WhatsApp Image 2019-11-06 at 20.33.05 (4).jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/d5b4d575-6dd0-49d1-9786-4395a9a62795)![WhatsAp

[2019-11-06 19:42] LiavGut opened #850 "Icon not seen well on "spend GoodDollars" card pop up (Desktop, Chrome)"
![Screen Shot 2019-11-06 at 21.16.22.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/3774a500-49f5-489e-8ace-d4bdf02f9b26)

[2019-11-07 08:29] yaroslav-fedyshyn-nordwhale commented on #830
@LiavGut @sirpy
1. I see that timing for a welcome card is fine, it is added right after user lands on dashboard.
2. I fixed the time for startSspending card. Now it should be added after 1 minute since the user logged in.
3. For invite friends card the timing is already one minute, but there is another condition required to display that card - you should come/register to the wallet without web3 t

[2019-11-07 09:30] yaroslav-fedyshyn-nordwhale commented on #822
@LiavGut and what about SlpashDesktop screen?

[2019-11-07 09:33] AnastasiiaOdnoshevna commented on #743
Checked on the ewallet. Looks as per requirements.
User get the cards in the next timing:
1) Welcome card
2) Invite friends
3) Backup card
4) The spending card (after the 24 h)

![Screenshot_2019-11-07-09-59-29-887_com.android.browser.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/94c5758a-091b-4fa1-ac35-3642aee47b4a)

![Screenshot_2019-11-07-08-36-02-030_com.android.chrome.png

[2019-11-07 09:37] LiavGut opened #853 "Reward card: The reason isn't shown"
![WhatsApp Image 2019-11-07 at 11.31.08.jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/906b6b4f-f52a-4a30-a5e6-452dd4dbe1c7)

[2019-11-07 09:41] sirpy opened #854 "Payment request should show survey only after confirm and show correct from"
i've created this payment request
https://ewallet.gooddollar.org/?code=3dCVTrUBQx5zpXQgJErwQ1TnXctWXroQSZt%7C20%7Ctest%7Cme

When i open the link
I get the survey form, only after that i see the confirmation screen.
in confirmation screen the from says: Unknown instead of my profile name. (it should be taken from gun (users/byWalletAddress)
I was also able to send myself funds.

Definition of Done

[2019-11-07 09:45] sirpy commented on #830
@yaroslav-fedyshyn-nordwhale
- just make the invite friends two minutes
- backup card should be displayed after 24hours. rest of the logic should stay. meaning if user already backedup his wallet we dont displayed the card and once user backup his wallet we delete the card.

[2019-11-07 09:59] sirpy commented on #777
its different things. magic link is like a user password to get your pass phrase from the database.
the backup is your seed phrase which you can use to directly access your blockchain funds without our wallet

[2019-11-07 09:59] #777 closed

[2019-11-07 10:00] LiavGut opened #855 "Magiclink explanation button hidden by toolbar on iphone 7"
On iphone 7
And there's no option to scroll down.

![WhatsApp Image 2019-11-07 at 11.57.11.jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/6d4e4fe1-9339-4d19-a754-f683d059b555)

see also #838

Need solution to take into account the iphone toolbar

[2019-11-07 10:00] sirpy commented on #776
@AnastasiiaOdnoshevna can you recreate this? probably this was temporary server issue

[2019-11-07 10:03] sirpy commented on #787
@amitorama we have #802 to better handle errors here and explain to user whats going on.
This is probably either you tried to withdraw the link too quickly or someone else alredy withdrawn it

[2019-11-07 10:03] #787 closed

[2019-11-07 10:09] sirpy commented on #838
@LiavGut we can either always hide the button
or on larger screens we can allow the button to show (compress the space between the input and button).
If you want to show it on larger screens that we need the minimum height of the area you think will look good, meaning button wont be too close to the input. (height - from top of screen to start of keyboard)

[2019-11-07 10:13] #391 closed

[2019-11-07 10:14] LiavGut commented on #822
@yaroslav-fedyshyn-nordwhale No changes over there. Thanks.

[2019-11-07 10:58] AnastasiiaOdnoshevna commented on #816
faq, privacy policy, support, terms of Use are displayed full screen on iPhone 6S Plus // iOS 12.1.4
on dev, qa and ewallet environments

[2019-11-07 11:02] AnastasiiaOdnoshevna commented on #759
Checked on the eWallet (ver 0.10.2-0)
If user create the send link and then open it by themself, they get usual "Payment link processing" and all GD that were sent are returns to user.

[2019-11-07 11:03] sirpy commented on #816
@AnastasiiaOdnoshevna can you check on iOS 13.1?

[2019-11-07 11:08] AnastasiiaOdnoshevna commented on #816
@sirpy ok! Will recheck on iPhone X // 13.1
I'll update the comment after

[2019-11-07 11:11] AnastasiiaOdnoshevna commented on #776
@sirpy its okay, user can create the account now and verify their phone. I'll close the issue

[2019-11-07 11:11] #776 closed

[2019-11-07 11:59] AnastasiiaOdnoshevna commented on #754
**UPD:** The required spinner is displayed on pop-up.
Checked on Dev, QA and eWallet environments (ver. 10.2-0)

[2019-11-07 13:05] AnastasiiaOdnoshevna commented on #757
Checked on Dev, QA and eWallet environments
eWallet Env: https://www.screencast.com/t/Y3rmjmXpG

[2019-11-07 13:07] AnastasiiaOdnoshevna commented on #751
Checked on Dev, QA and eWallet environments
Look as per requirements

Dev env: https://www.dropbox.com/s/ke4tc8u43chqtde/dev.jpg?dl=0
QA env: https://www.dropbox.com/s/nmq72fo0r8j3882/qa.jpg?dl=0
eWallet Env: https://www.dropbox.com/s/snlt0r0fnlarjsv/ew.jpg?dl=0

[2019-11-07 13:08] AnastasiiaOdnoshevna commented on #822
@LiavGut
Is this splash screen for ewallet / for mobile only?

[2019-11-07 13:39] AnastasiiaOdnoshevna commented on #757
Checked on Dev, QA and eWallet environments
eWallet Env: https://www.screencast.com/t/EU8MGHh45qU

[2019-11-07 14:21] AnastasiiaOdnoshevna commented on #804
Checked on Dev, QA and eWallet environments
Look as per requirements
eWallet Env: https://www.screencast.com/t/7o9cPnklo

[2019-11-07 14:22] AnastasiiaOdnoshevna commented on #768
Checked on Dev, QA and eWallet environments
Look as per requirements

eWallet Env:
https://www.dropbox.com/s/93nro0rlc3pp7tl/1.jpg?dl=0
https://www.dropbox.com/s/m2ocb1ep03bpfg7/2.jpg?dl=0
https://www.dropbox.com/s/99e35zlunl9puhi/3.jpg?dl=0
https://www.dropbox.com/s/oi6e7jtq63k874u/4.jpg?dl=0
https://www.dropbox.com/s/py1p1smaj8e58w7/5.jpg?dl=0
https://www.dropbox.com/s/o91c8xttyydt1m3/6.jpg?dl=0

[2019-11-07 14:51] yaroslav-fedyshyn-nordwhale commented on #814
@LiavGut you mean sender avatar on feed card?

[2019-11-07 15:07] yaroslav-fedyshyn-nordwhale commented on #790
Fixed. There is no PR for this task as it was fixed on mautic template.

[2019-11-07 15:12] LiavGut commented on #822
@AnastasiiaOdnoshevna No, not only ewallet or mobile but for desktop too.

[2019-11-07 15:25] LiavGut commented on #814
@yaroslav-fedyshyn-nordwhale
Yes

[2019-11-07 15:34] AnastasiiaOdnoshevna commented on #769
Checked on eWallet environment (Samsung Galaxy Note 5 // Android 7.0, mobile chrome)
Look as per requirements

eWallet Env: https://www.dropbox.com/s/xm62nu55ajaqkfx/769.mp4?dl=0

[2019-11-07 15:43] AnastasiiaOdnoshevna commented on #744
Checked on eWallet environment
Look as per requirements

eWallet Env: https://www.dropbox.com/s/xm62nu55ajaqkfx/769.mp4?dl=0

[2019-11-07 16:02] AnastasiiaOdnoshevna commented on #750
Checked on QA and eWallet environments
Look as per requirements
eWallet Env: https://www.screencast.com/t/ltsMzeCzh8v

[2019-11-07 16:07] AnastasiiaOdnoshevna opened #861 "The icons on the Recover screen aren't displaying"
Pre-condition: User have the mnemonic and isn't log in account

Steps to reproduce:
1. Navigate to the main screen
2. Click on the "Sign in" button
3. Tap on the "Recover from pass phrase" link
4. Put invalid mnemonic in the field
5. Pay attention at the "X" icon
6. Tap on the "Recover my wallet" button
7. Pay attention at the icon in pop-up

Actual result: The X icon in the input field and on the

[2019-11-07 18:17] Talbatz commented on #816
i added a line of css that hides the cookie consent bar on these pages.

[2019-11-07 18:28] Talbatz commented on #819
WIP, some events are already implemented and available on amplitude

[2019-11-08 00:03] sirpy opened #864 "Dashboard api calls should run once in X minutes"
every time user goes to dashboard preparelogintoken and redeem are run.
if there's an error it will happen every time, and also they dont need to run every time user arrives to dashboard.

change to run only once in 10min.
why do we need preparelogintoken to run everytime? isn't it like a one time thing?

[2019-11-08 06:33] AnastasiiaOdnoshevna commented on #816
Checked on the iPhone XS // iOS 13.2
The iframes are displayed on the full screen.

@sirpy @LiavGut Is it ok that all of this ifames have different template (for example, text boldness on the page titles? And Support page has completely different title design)
See the attachments

![faq.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/51089f0a-c57e-4898-828a-7b8ce3c0aaa3)

![term

[2019-11-08 07:02] AnastasiiaOdnoshevna commented on #822
Checked on the Dev, QA and eWallet environment using desktop and mobile devices.
Looks as per requirements. The mobile splash screen have only logo + version.
On desktop user first get the splash screen with QR code for mobile, and than - splash screen with logo + version.

![Screenshot_20191108-083615.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/7ba8563c-73ef-493f-a65e-fa2ac

[2019-11-08 07:39] AnastasiiaOdnoshevna commented on #828
Checked on he eWallet environment.
Looks as per requirements.
Color code for the background are match the design.

![unnamed (2).jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/f9790394-6687-470d-8eb9-76a4f1ab21a1)

[2019-11-08 08:36] AnastasiiaOdnoshevna commented on #765
Checked eWallet environments
Work as per requirements / Look as per requirements![Screenshot_20191108-102805.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/b0339c63-08e6-42c6-9c94-6873daad8cbf)

[2019-11-08 09:12] AnastasiiaOdnoshevna commented on #768
Checked on eWallet environments
Work as per requirements / Look as per requirements

[2019-11-08 09:27] yaroslav-fedyshyn-nordwhale commented on #804
@AnastasiiaOdnoshevna I have double-checked this issue on GoodDev, GoodQA, eWallet.
The issue is reproduced only for GoodQA. It seems like the latest change is not deployed for GoodQA.
Everything works fine for Ewallet and GoodDev.

Here is the video: https://www.screencast.com/t/o4wgNCpqZ

Maybe the latest changes wanst deployed while you were testing it.

[2019-11-08 09:37] AnastasiiaOdnoshevna commented on #769
Checked on eWallet environment (Huawei Nexus 6P // Android 8.1, mobile chrome)
Look as per requirements

Video: https://www.screencast.com/t/KbPJGo1k

[2019-11-08 10:23] AnastasiiaOdnoshevna commented on #790
Checked eWallet environments
Reproduced on device Huawei Nexus 6P // Android 8.1

User is able to see the first 5 numbers from 6-numbers code
![Screenshot_2019-11-08-12-18-11-286_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/bb89a797-4a22-4fda-8fd8-9e65ef62aa04)

[2019-11-08 10:30] AnastasiiaOdnoshevna commented on #824
Checked eWallet environments
Work as per requirements / Look as per requirements
![Screenshot_2019-11-08-12-27-37-328_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/542ac11f-9799-406b-9754-5a498376ea19)

[2019-11-08 10:35] AnastasiiaOdnoshevna commented on #823
Checked on eWallet environments
Work as per requirements / Look as per requirements
![Screenshot_2019-11-08-12-32-16-728_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/fdfba5ab-9cbe-4601-8684-280c282ef524)

[2019-11-08 10:41] AnastasiiaOdnoshevna commented on #830
First attachment - user was created 8.11.19 at 8 am
The Welcome, Spending and Invite cards were receiving in the same time, without any delay between them.

Second attachment - user was created 8.11.19 at 12-19 am, after cash cleaning, on the new device.
The result is the same - all cards except Backup were received in the same time

![unnamed1111.jpg](https://images.zenhubusercontent.com/5d75e23a

[2019-11-08 10:45] yaroslav-fedyshyn-nordwhale commented on #830
@AnastasiiaOdnoshevna where did you test it?

[2019-11-08 11:10] LiavGut opened #866 "A regular transfer was received with Claim icon"
![Screen Shot 2019-11-08 at 12.55.13.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/632c643e-da24-4394-a62a-580ce497a582)

[2019-11-08 11:17] LiavGut opened #867 "Reason of transfer request should be seen in the Receive card (it was done through payment request)"
If a user writes a reason on a transfer request then he should be able to it as the reason when someone makes  (it was done through payment request)
![Screen Shot 2019-11-08 at 12.55.13.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/396112ce-91a4-4226-99b3-f115d41d36ee) a transfer to him

[2019-11-08 11:48] AnastasiiaOdnoshevna commented on #775
This issue had been checked on different devices, including:
iPhone 6 Plus // iOS 12.4
iPhone XS // iOS 13.2
Nexus 6P // Android 8.0
Xiaomi Redmi 7 // Android 9.0
Huawei P20 // Android 9.0

Checked also on browsers: Google Chrome, Firefox, Opera
Environment checked: eWalled, Dev

The issue isn't reproduced.

[2019-11-08 12:33] AnastasiiaOdnoshevna commented on #801
Checked on Dev, QA and eWallet environments
Work as per requirements / Look as per requirements
Log in the webbapp works correctly

![2019-11-08_14-27-52.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/6912e06b-b02f-4683-baef-95df1ecbf00c)

[2019-11-08 12:46] AnastasiiaOdnoshevna commented on #798
Look as per requirements:
1) User have trash icon on the upper left corner:
2) There is no name on the page
3) There is button "Done" that closed the Editor page

![Screenshot_2019-11-08-14-35-19-736.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/1e323cb4-1049-4595-8f26-ba1ac65885e6)

[2019-11-08 12:50] AnastasiiaOdnoshevna commented on #850
Checked on eWallet and webapp environments
Work as per requirements / Look as per requirements

![2019-11-08_14-45-00.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/2880a0b7-66ad-45c4-88ce-ef522a61dce8)

[2019-11-08 13:32] sirpy opened #868 "cannot read 'action' of null error"
In AppSwitch.js getParams
for some users there's an exception there, trying to read actions.action.
not sure what the code there is supposed to do, see if you can understand it and refactor so there's no null exceptions

[2019-11-08 14:28] AnastasiiaOdnoshevna commented on #846
Checked on eWallet environments
Work as per requirements / Look as per requirements

![Screenshot_2019-11-08-16-24-23 (1).png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/cc455994-2060-4ca3-9157-1a450fdb7c17)

[2019-11-08 15:13] yaroslav-fedyshyn-nordwhale commented on #830
@AnastasiiaOdnoshevna I just checked this issue on the ewallet. I see that timing is correct for cards. But there is another issue present - the wrong time displaying on the cards. And the invite friends card is not displayed for etoro network. I will fix that

[2019-11-08 15:19] yaroslav-fedyshyn-nordwhale commented on #830
@sirpy there is an issue in the beta branch with invite friends feed card. There is a condition present to show this card - you should not have w3Token, which means that the user did not come from the W3 site. But for beta branches, we fetching the w3Token always from W3 Site. And the invite card logic checking if w3Token exists if not then showing the card.

So, should we change some logic? or fi

[2019-11-09 16:53] sirpy commented on #816
do you have ios 13.1 specifically? Alexey said in his simulator of 13.1 it
doesn't work. market/rewards tabs on iOS 13.1

[2019-11-10 09:45] sirpy opened #870 "User should be able to add item with photo on goodmarket when on mobile"
Add test case to check that it works on ios 13 + android

[2019-11-10 10:18] sirpy opened #871 "popups on goodmarket sometimes not shown correctly via market tab iframe"
On ios 13.2
Sometiems happens when simply opening hamburger menu
but usually happens when posting an item and then clicking on delete item.
It then shows a blurred background.
This must be an issue with detecting iframe size.

[2019-11-10 10:55] amitorama opened #872 "Web3 doesnt open email client on mailto:"
### cannot invite friends via email link
in the rewards tab in-app, tried to invite a friend by pressing the email icon but got blank

### Steps to reproduce
1. logged into wallet
2. pressed on rewards tab
3. pressed on mail icon in Invite Friends card
4. got this screen
5. could not copy adress from bar

### Supporting data
android v9 samsung a50, chrome

![WhatsApp Image 2019-11-10 at 12 50 45](

[2019-11-10 12:35] AnastasiiaOdnoshevna commented on #750
Checked on the eWallet (ver. 0.10.3)
Using devices:
iPhone XS // iOS 13.1
Xiaomi Redmi 7 // Android 9
Browsers: CH,Firefox, Opera

Look as per requirements. Buttons are separated

[2019-11-10 12:49] sirpy opened #873 "ios add to home screen small popup should match design"
there's a a reversion after same popup height fix
popup should match the design
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/9a082247-2e2f-478d-ac57-9099c08331c7/Dashboard-Feed-PopUp-Add-home-screen-icon-iPhone
@LiavGut FYI

[2019-11-10 13:55] AnastasiiaOdnoshevna commented on #790
Checked on eWallet (ver 0.10.3)
Look as expected
Used for checking: default apple application, Gmail application, freemail service, yahoo! service, harakirimail service.

![Screenshot_2019-11-10-11-36-57-253_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/34e131ed-932f-4ef1-8fc4-7d6367adce42)

[2019-11-10 14:03] AnastasiiaOdnoshevna commented on #870
Checked on eWallet ver 0.10.3
Using devices:
iPhone XS // iOS 13.1
Xiaomi Redmi 7 // Android 9.0

[2019-11-10 14:07] LiavGut opened #874 "Wallet icon is not aligned to Goodmarket and Rewards icons"
![Screen Shot 2019-11-10 at 13.59.21.jpg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/79bda5d2-e8ef-424d-8dea-42c7e6ad488b)

![Screen Shot 2019-11-10 at 14.10.07.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/b1168cbb-a564-46b8-8b11-ac7f40e3612a)

[2019-11-10 14:22] sirpy commented on #849
@StanislavShevchenko please review and test my fix

[2019-11-10 14:25] AnastasiiaOdnoshevna opened #875 "GoodMarket: The rotation buttons aren't work at "Edit image" screen on Goodmarket"
Pre-conditions: User have existing eWallet account and login into Goodmarket

Steps to reproduce:
1. Open the hamburger menu in the upper right corner
2. Tap the "Add new" button
3. Upload some images with valid size
4. Tap the "Edit button" under uploaded image
5. Tap the "Left" button
6. Tap the "Right" button
7. Pay attention at the result

Actual result: The rotation buttons aren't work at "Ed

[2019-11-10 14:26] sirpy commented on #830
@yaroslav-fedyshyn-nordwhale
1. date on cards, probably the date need to be changed to the moment where you add it to queue, currently its probably fixed date at time of first import userstorage.
2. so I guess you can check if token is present in url, or mark in user properties when user signs up if he arrived from w3 or not.

[2019-11-10 14:31] sirpy commented on #830
@yaroslav-fedyshyn-nordwhale
dates fixed on beta here: 3db718e932e30fdd9a3b28a13c7654483a6d32e9

[2019-11-10 14:32] sirpy commented on #871
happens because of scroll. popup starts at wrong position

[2019-11-10 14:33] sirpy commented on #811
@AlexeyKosinski is this on ios 13.1? didnt happen to me on 13.2.
i'm unable to find where to download ios 13.1, do you hvae in xcode 13,13.1,13.2?
i have only 12.4 and then 13.2

[2019-11-10 14:34] sirpy commented on #848
@LiavGut couldnt reproduce. closing.

[2019-11-10 14:34] #848 closed

[2019-11-10 14:36] sirpy commented on #817
@LiavGut closing as dup #838

[2019-11-10 14:36] #817 closed

[2019-11-10 14:41] #324 closed

[2019-11-10 14:41] AnastasiiaOdnoshevna opened #876 "GoodMarket:The hint overlapped item's category tags on Goodmarket"
Pre-condition: User is login on GoodMarked and had added the new item with images and price. User is on the Price screen.

1. Add the price and tap the "Next" button
2. Select any category for an item
3. Pay attention at the result

Actual result: The hint overlapped item's category tags
Expected result: The item's category and hith are displayed correctly and separately

**Note: buttons aren't wo

[2019-11-10 14:49] sirpy commented on #861
@AnastasiiaOdnoshevna
hmm couldnt reproduce that. can you verify if this is specific to ios 13.1? or maybe a temporary issue?

[2019-11-10 14:53] AnastasiiaOdnoshevna opened #877 "GoodMarket: The G$ symbol overlaps the item's price on the "Add new item's price" screen on GoodMarket"
User is logged in Goodmarket. User is adding new item

Steps to reproduce:
1. Upload the images and tap the "Next" button
2. Add the item' description and tap the "Next" button
3. Pay attention how G$ symbol and placeholder are displayed
4. Add the price in the price field
5. Observe the result

Actual result: The G$ symbol overlaps the item's price on the "Add new item's price" screen
Expected re

[2019-11-10 14:54] sirpy commented on #872
@Talbatz on IOS i get safari could not open window invalid address
on macos chrome it also just opens an empty tab.
maybe because there's no receipient?

[2019-11-10 14:55] sirpy commented on #876
@AnastasiiaOdnoshevna on which devices please

[2019-11-10 14:57] AnastasiiaOdnoshevna commented on #876
@sirpy
Devices used:
Xiaomi Redmi 7 // Android 9.0
Huawei P20 // Android 8.0

[2019-11-10 14:59] AnastasiiaOdnoshevna commented on #861
@sirpy

Checked on iPhone X // 12.4
The issue is not reproduced.

But iPhone XS // 13.1 still have this issue. So, most likely its OS specific

[2019-11-10 15:12] LiavGut opened #878 "Settings icon doesn't match design"
![Screen Shot 2019-11-10 at 17.11.35.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/13198db1-80e4-4c3d-89e3-4426a411234d)![Screen Shot 2019-11-10 at 17.12.21.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/394b5f6f-92e3-423f-b64b-2233adfcef17)

[2019-11-10 15:33] AnastasiiaOdnoshevna commented on #804
@yaroslav-fedyshyn-nordwhale

This is the 0.10.4 ver. of eWallet and I still have Logout im menu.
I've tryed on different browsers (GH, Firefix, Opera, Safari) and differen devices (MacBook Pro and Windows desktop).
This is the lates video with newly created user.

https://drive.google.com/file/d/1VT5mC3lCDd5A477g-vo2mzk_lx1CO1Xg/view?usp=sharing

It can be an issue on my side,  but I don't know h

[2019-11-10 16:34] AnastasiiaOdnoshevna commented on #807
Checked on the eWallet (ver 0.10.4)
Look as per requirement.
Rewards and GoodMarket have wallet icon in the upper right corner that works as back/exit button.
When user tap on the wallet icon they returned back to the eWallet dashboard

[2019-11-10 16:43] AnastasiiaOdnoshevna commented on #832
Checked on the eWallet (ver 0.10.4)
Look as expected.
The Rewards and GoodMarket icons are aligned in hight

![ice_screenshot_20191110-183820.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/4d4d926d-b095-4491-8126-70b96a206d5c)

[2019-11-10 17:13] AnastasiiaOdnoshevna commented on #853
Checked on the eWallet
Work as expected. User can see the reason (both send and receive)

![Screenshot_2019-11-10-19-05-45-251_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/5ab6d32d-3237-4e83-a022-5546c1c2a867)

![Screenshot_2019-11-10-19-05-49-638_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/5350a556-d2a7-4acf-b73a-b

[2019-11-10 17:24] AnastasiiaOdnoshevna commented on #685
@sirpy @AlexeyKosinski

I need the access to the error sheet or your assist to check this ticket.
I test some errors, and get expected result for the one error (see the video link):
https://drive.google.com/open?id=1rclmCDoE8RhCULrbg1mhI9Z2L-ilxKwu

The others errors have this results (see the videos):
https://drive.google.com/open?id=1HKZEMiWKcKBEUAVJJjTVykPfNa8DQl6T
https://drive.google.com/file

[2019-11-10 17:46] AnastasiiaOdnoshevna opened #879 "User aren't log in W3 when navigate from eWallet"
Pre-condition: User have eWallet and login

Steps to reproduce:
1. Tap the Rewards icon
2. Observe the result

Actual result: User aren't log in W3 if navigate there from eWallet
Expected result: User are log in W3 if navigate there from eWallet

Checked on: eWallet env (version 0.10.4)

Video: https://drive.google.com/file/d/1q6PwqGq9nybi4w1GUrTbGcUntMLrl4L4/view?usp=sharing

[2019-11-10 19:56] Talbatz commented on #819
#1 - gtm is adding tags correctly on ewallet.gd domain
note - its the same FS account as alpha wallet

#2 - internal cookie works on ewallet.gd and etoro.gd

3+4  events added to amplitude

[2019-11-10 19:56] #819 closed

[2019-11-10 22:11] sirpy commented on #804
@AnastasiiaOdnoshevna webapp means you've added it home screen and then opened it as a standalone app ie only mobile and only on mobile PWA.
on desktop the logout should stay, otherwise where would you expect the logout button to be?

[2019-11-10 22:13] sirpy commented on #685
@AnastasiiaOdnoshevna thanks looks fine.

[2019-11-10 22:14] sirpy commented on #879
please share the seed phrase for this account

[2019-11-10 23:09] sirpy commented on #871
https://github.com/PierBover/ios-iframe-fix

[2019-11-11 06:09] AnastasiiaOdnoshevna commented on #879
@sirpy  it's

dentist absurd kingdom able heavy series lady frog risk gift drop used  

Account was created 10/11/19

[2019-11-11 06:28] AnastasiiaOdnoshevna commented on #804
@sirpy understood

@yaroslav-fedyshyn-nordwhale
sorry for misunderstanding. If user login using shortcut from home screen, it works and looks fine. There is no logout there.

![unnamed.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/ecf6e13b-3e39-4038-8a79-48debe81ea80)

[2019-11-11 06:55] AnastasiiaOdnoshevna commented on #853
Still doesn't work for bonuses.

![unnamed (3).jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/76ed61b6-5c3d-4a4d-afcd-d73b1cef8ddb)

[2019-11-11 06:57] AnastasiiaOdnoshevna commented on #803
Look as expected.
The bonus income have the same icon, as a daily income.

![unnamed (4).jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/1b4c7624-6967-4ca1-9387-e6c326a0b375)

[2019-11-11 07:34] sirpy opened #881 "Feed load animation doesnt bounce first item"
in FeedList.js bounceFirstRowOnMount should animate the first card in feed,
but it doesnt.
Is it a bug in animatedswipeablelist? and issue with id?

[2019-11-11 07:42] AnastasiiaOdnoshevna opened #882 "The "Rewards" and "GoodMarket" tabs don't have the header with wallet icon"
Pre-condition: User have the eWallet

Steps to reproduce:
1. Tap at the "Rewards" icon
2. Observe the result
3. Return to eWallet Dashboard.
4. Tap the "GoodMarket" icon
5. Pay attention at the result

Actual result: The "Rewards" and "GoodMarket" tabs don't have the header with wallet icon. User can't get back to wallet easily.
Expected result: The "Rewards" and "GoodMarket" tabs always displayed

[2019-11-11 07:46] sirpy opened #883 "(Chore) merge beta into master"
We merge beta into master, so testing and dev are aligned. as we stop pushing directly to beta branch which is now also a production env.
beta has new set of contracts so old accounts will not work.

- bump master branch server + dapp + alphv2 contracts patch version "npm version patch" and commit to git.
- reset qa/dev databases (gundb, privatedb)
- verify no missing ENV on qa/dev (netlify+heroku

[2019-11-11 08:02] AnastasiiaOdnoshevna opened #884 "The "GoodMarket" title aren't display correctly on iOS devices"
User have the eWallet

Steps to reproduce:
1. Tap the "GoodMarket" icon
2. Pay attention at the GoodMarket logo

Actual result: The GoodMarket logo is
Expected result: The "Rewards" and "GoodMarket" tabs always displayed as the header for iframe

Environment: eWallet
Device used:
iPhone XS // iOS 13.1
iPhone 6 Plus // iOS 12.4

![ддддддд.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001

[2019-11-11 08:04] sirpy commented on #884
@AnastasiiaOdnoshevna can you attach an image, not sure I understand.

[2019-11-11 08:39] sirpy opened #885 "User can game the system by deleting and opening again his account on w3"
User can delete and reopen account than invite again other users that deleted and reopened.
we need to keep track on bonuses delivered by email address, as currently its limited to etoro domain

[2019-11-11 08:50] AnastasiiaOdnoshevna commented on #884
@sirpy
Left part is Android device and "GoodMarket" logo looks good.
Right screenshot is the iOS device and logo image is a bit elongated vertically. It shouldn't look like that

![Screenshot_2019-11-11-10-39-02-841_com.android.chrome.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/9e1d3a46-cf3a-4959-94c1-fb1bf9bcb146)

[2019-11-11 10:32] yaroslav-fedyshyn-nordwhale commented on #853
This issue is fixed within the #799 task. They are related.

[2019-11-11 10:38] yaroslav-fedyshyn-nordwhale commented on #799
The link to GoodServer PR - https://github.com/GoodDollar/GoodServer/pull/120

[2019-11-11 10:43] yaroslav-fedyshyn-nordwhale commented on #830
@sirpy ok. Going to fix the second issue.

[2019-11-11 13:28] AnastasiiaOdnoshevna commented on #692
Checked on the eWallet
Work as expected

![2019-11-11_15-20-16.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/9ed7b6e4-bf39-4b2e-9548-249f7304acb2)

[2019-11-11 13:33] AnastasiiaOdnoshevna commented on #820
Work as expected.
Video: https://www.dropbox.com/s/npgxb5jyibyplxb/2019-11-11_15-32-33.mp4?dl=0

[2019-11-11 13:34] sergeyna-etoro opened #888 "Unable to register to eWallet"
### Description
I have registered in https://etoro.gooddollar.org, tried to register in Wallet, entered my phone number and received an Error. Since then it says my phone number is already registered and I am unable to enter.

### Steps to reproduce
1. Register in https://etoro.gooddollar.org
2. Try to register in https://ewallet.gooddollar.org/
3. Get an error
4. Be unable to register/enter to th

[2019-11-11 14:06] LiavGut opened #891 "test"

[2019-11-11 15:26] yaroslav-fedyshyn-nordwhale commented on #814
@LiavGut I tried to reproduce this issue many times (on Friday and today also) without success. Tired locally, on gooddev and on ewallet servers.
The avatar is displaying fine always.

Also, I went through all of the code related to displaying an avatar for feed card - and it seems like everything should work fine.

Maybe someone else should verify that the issue is still present.

[2019-11-11 15:30] StanislavShevchenko commented on #866
@sirpy @LiavGut
not reproduce
![image.png](https://images.zenhubusercontent.com/5d555a8db397280599d9227d/c10af933-461b-4187-bb43-ad8d4bb77c3f)

[2019-11-11 16:20] LiavGut opened #895 "Dashboard - Instead of Bonus icon users get Claim icon"
![Screen Shot 2019-11-11 at 18.19.33.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/7474069d-3d39-4e17-aa25-8ad18fc6a5ea)

[2019-11-11 16:32] LiavGut opened #896 "Profile photo of web3 users is their first letter name + a colored circle"
![image_from_ios.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/8b2e2f47-02e5-48ec-9109-318205672715)

Definition of Done
--
- [x] dont take w3 image for profile

[2019-11-11 16:34] LiavGut opened #897 "Profile: couldn't update a username (got an error after clicking "save")"
Samsung Galaxy A7

![Screen Shot 2019-11-11 at 18.32.08.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/25a4b61d-8f4d-4f09-82b7-90a770db1650)

[2019-11-11 19:55] LiavGut opened #899 "Withdraw payment - Spinner is continuing to spin and the wallet is stuck"
The background is not blurred as it should be.
After refresh, payment card is added to feed but with no amount.

![Screen Shot 2019-11-11 at 21.49.56.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/b98daf9a-6d85-469f-bfe1-59a19f111e2c)

![Screen Shot 2019-11-11 at 21.48.31.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/7259ac95-99b0-49dd-a2bf-fc38caa42700)

[2019-11-11 20:08] #899 closed

[2019-11-12 08:49] AnastasiiaOdnoshevna commented on #806
Checked on the eWallet
Look as expected.

[2019-11-12 09:34] AnastasiiaOdnoshevna commented on #814
Checked on eWallet environment
The avatar is always displayed and no need to refresh the page.

![Screenshot_2019-11-12-11-31-17-289_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/45fe1060-8546-4ba5-a063-d4ee25d6745f)

[2019-11-12 09:40] yaroslav-fedyshyn-nordwhale commented on #864
@sirpy the prepare login token request sending only if there is no login token saved in user profile. After the request performed successfully the login token will be saved to the user profile and no more prepare login token requests will be sent.

About Redeem bonus - there was a requirement to implement functionality which will be sending the redeem bonus request to the server every time a user

[2019-11-12 09:47] AnastasiiaOdnoshevna commented on #849
Checked on the eWallet (ver 0.10.4) with users that had been created 11.11.19 and 12.11.19
Using devices:
Huawei P20 // Android 8.0
iPhone X // 13.2
Desktop: Google Chrome

The cards are displayed in saved order when they were created.
(If card were received in xx:xx then at other time the date and time of receive will be saved and displayed)

[2019-11-12 10:10] yaroslav-fedyshyn-nordwhale commented on #811
@AlexeyKosinski I tried to reproduce this issue without success.

Here the screens:

| | |
| --- | --- |
| ![1.png](https://images.zenhubusercontent.com/5d555cf825ff190001f1a4eb/b7d11e4c-4eba-46fd-9e83-dfe22ee9298a) | ![2.png](https://images.zenhubusercontent.com/5d555cf825ff190001f1a4eb/432ada3e-c118-454b-b709-36095a9c55eb) |

Also, I tested on iPhone 5 - working well.
As I remember you and @Stan

[2019-11-12 13:24] yaroslav-fedyshyn-nordwhale commented on #847
@LiavGut @sirpy I have tested this issue on good dev and ewallet. The issue is reproducing for ewallet. And reproduces for gooddev, but after I clean the cache - receive start working as expected for gooddev. As I know the beta branches are deployed to ewallet server. Maybe we should merge the latest master to beta and deploy changes.

So after deployment, we can check if everything is ok.

[2019-11-12 13:25] StanislavShevchenko commented on #818
@sirpy @LiavGut @Nordwhale @AlexeyKosinski
To solve this problem, we need to transfer everything by saving to this step, since we cannot send a magic link before saving the user.

[2019-11-12 13:49] sirpy commented on #847
@yaroslav-fedyshyn-nordwhale i believe this is related to the network issue.
there's an issue that withdrawing doesnt work correctly when returning to wallet via payment link after a while.

in any case the tasks are the same, if there's some kind of error
- it shouldnt get stuck.
- popups should not be on top of each other
- in case we receive TX from blockchain event, amount should be read from

[2019-11-12 13:53] LiavGut commented on #847
@yaroslav-fedyshyn-nordwhale
and the pop up should have a blurred and brightened background.

[2019-11-12 13:58] yaroslav-fedyshyn-nordwhale commented on #847
yes, when I tested, the background was the same as for other popups (blurred) on gooddev.

[2019-11-12 14:07] #895 closed

[2019-11-12 14:07] sirpy commented on #895
dup of #799

[2019-11-12 15:06] sirpy opened #904 "new user signup should not fail on client and succeed on server"
We have cases where on server user is saved in database but client thinks he is logged out

- [x] try to figure out why? maybe some promise fails but the promise to /user/add doesnt
- [x] if user has mnemonic and isCitizen we should ping server to check if he is registered and if so then
simply switch GD_isLoggedIn to true
- [ ] in auth on server if user is whitelisted and privedb doesnt contain d

[2019-11-12 15:15] sirpy opened #905 "GoodMarket: user should see custom message for reset password on paperclip"
User is sent an email and in email saying he can't reset.
We should tell user he needs to first go to market via wallet

[2019-11-12 15:16] sirpy commented on #905
I chose to reset my password, and got this email.
<sub>[View in Slack](https://gooddollar.slack.com/archives/CQDB9S8SC/p1573570923032800)</sub>

[2019-11-13 06:10] sirpy commented on #818
no we don't. the mautic user is created when user validates his email. we
can then send him the magiclink.

On Tue, Nov 12, 2019, 3:25 PM StanislavShevchenko <notifications@github.com>
wrote:

[2019-11-13 07:02] StanislavShevchenko commented on #818
@sirpy
The user can log into the dashboard, while skipping the user/add step, adding private data occurs at the last registration step. This is a problem that is indicated in task # 119

[2019-11-13 07:50] LiavGut opened #908 "Signup (From web3) - Delay in showing the user first name in title"
![Screen Shot 2019-11-13 at 9.48.08.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/48dbf382-545d-4be3-abbf-4074347cee66)![Screen Shot 2019-11-13 at 9.48.19.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/d66ed13c-182f-4990-9276-df8cd9f04e74)

[2019-11-13 08:39] LiavGut opened #925 "Dashboard - Add "Start Claiming" card (3 days after sign up)"
Add a reminder card to start claiming G$.

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/4844d590-1b02-4a3a-91b3-9bd9355d4604/Dashboard-Feed-PopUp-Claim-Reminder
![Screen Shot 2019-11-14 at 14.10.06.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/df55325a-b975-4226-a1cc-857afd9ff153)
![Screen Shot 2019-11-14 at 15.05.33.png](https://images.zenhubuser

[2019-11-13 08:55] sirpy commented on #871
solved by not using iframe in ios

[2019-11-13 08:55] #871 closed

[2019-11-13 09:02] LiavGut opened #909 "Wallet: Add home screen icon - pop up also after 1 day and after 3 days"
If the user didn't add the icon before.

[2019-11-13 11:11] yaroslav-fedyshyn-nordwhale commented on #788
Resources used to solve the issue:

- https://github.com/amark/gun/wiki/API#gun
 - https://github.com/amark/gun/blob/master/test/tmp/indexedDB.html

[2019-11-13 11:42] amitorama opened #911 "Alan from paperclip is stuck with"
From Alan paperclip
One thing I am having problems with and thought I would share it is with the GoodDollar app. I have installed it on my phone and tried to enter in the code but it will not let me click signin or move past this current stage. I thought I would just share it with you. (iPhone 11)

![image.png](https://images.zenhubusercontent.com/5dcbc51073b7c300016570a2/3e699fa8-5852-427c-961a-d

[2019-11-13 11:49] sirpy commented on #879
not able to login with this mnemonic
@AnastasiiaOdnoshevna

[2019-11-13 11:55] sirpy commented on #908
@LiavGut can you reproduce this? its impossible

[2019-11-13 12:47] amitorama opened #912 "Dalya has not received magic link email"
she cant access wallet
has not received magic link

[2019-11-13 13:49] LiavGut commented on #908
@sirpy It happend to me and also to someone that I saw on FS

[2019-11-13 15:06] sirpy commented on #904
i found out the issue is gun.
when saving profile there's gun "no ack" for some users. need to invetigate further.

[2019-11-13 15:15] sirpy commented on #912
deleted her account, she should try again

[2019-11-13 15:16] sirpy commented on #909
this is what we already do.

[2019-11-13 15:18] #897 closed

[2019-11-13 15:18] sirpy commented on #897
because of #788

[2019-11-13 15:32] LiavGut commented on #909
@sirpy So why people didn't received the reminders?

[2019-11-13 16:09] Talbatz commented on #912
same issue applies to sam rudik (according to dalya)

i gave her a call and walked her through creating a wallet (after deleting her last attempt)

Indeed, not getting the magic link and instead she gets this error:
![WhatsApp Image 2019-11-13 at 5 56 15 PM](https://user-images.githubusercontent.com/1596230/68781603-b4402e00-0640-11ea-929b-2ebf4b203612.jpeg)

[2019-11-13 19:49] sirpy opened #914 "(Feature) Optimize gundb client storage usage"
- keep a small copy of user avatar, so other users showing in feed will use the small version
- don't keep blockchain receipt, need to keep track for event if we received the reset, but we dont need the whole receipt. refactor these methods and verify receipt is not used elsewhere :
  - getFormatedEventById
  - _extractData
  - handleOTPLUpdated/handleReceiptUpdated

[2019-11-14 07:24] AnastasiiaOdnoshevna commented on #866
Checked on Dev, QA and eWallet environment.
Devices used:
iPhone 6 Plus // iOS 12.4.1
Xiaomi Redmi 7 // Android 9.0
Desktop: GH, FF, Opera

The issue isn't reproduced. All received and send icon are match the needed design.

[2019-11-14 07:39] AnastasiiaOdnoshevna commented on #811
@yaroslav-fedyshyn-nordwhale @AlexeyKosinski
I don't have physical iPhone 11 Pro, so I used AWS emulator with 13.1 and check this pop-up with iPhone XS // 13.1.3 and iPhone X // 13.2 beta

The pop-up looks fine, it's aligned to the center

[2019-11-14 08:31] sirpy commented on #755
@AnastasiiaOdnoshevna

[2019-11-14 08:51] sirpy commented on #864
still lets add some time delay between requests. make it an ENV. default 10 minutes

[2019-11-14 09:16] sirpy opened #916 "Wallet should support GoodMarket links"
We want to support incoming links of the format:
https://ewallet.gooddollar.org/AppNavigation/Dashboard/Marketplace/<In Market Path>
or simply
https://ewallet.gooddollar.org/Marketplace/<In Market Path>

It should then open the market url with <In Market Path> appended
**IOS**
on ios iframes dont work and we open a new tab, but it can be done only from user action.
for ios show a dialog "Press ok

[2019-11-14 09:30] AnastasiiaOdnoshevna commented on #833
Checked on Dev, QA end eWallet environments.
Works as per requirement for Dev env.

I leave ticket in QA to check it later on other environments

![2019-11-14_11-16-06.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/92ce6e47-5ec6-448f-8849-3c8ad20ad782)

[2019-11-14 09:33] sirpy commented on #884
thats the expected behaviour on ios

[2019-11-14 09:33] #884 closed

[2019-11-14 09:33] sirpy commented on #882
thats the expected behaviour on ios

[2019-11-14 09:33] #882 closed

[2019-11-14 09:33] #891 closed

[2019-11-14 09:34] sirpy commented on #888
helped via support

[2019-11-14 09:34] #888 closed

[2019-11-14 10:44] AnastasiiaOdnoshevna commented on #808
Checked on Dev, QA and eWallet environment.
Work as expected.
If user have already setted up the GoodDollar shortcut, they don't receive the "Add to homescreen" pop-up.

Used devices:
iPhone X // 12.4
LG Nexus 5X // 8.1

[2019-11-14 10:51] LiavGut opened #918 "Out of Gas: Change text"
Text should be more explanatory to the user.
CTA should be more clear.

"
In order for transactions to go through,
you need some virtual money named ‘gas’.
Don’t worry, we’ll take care of you.
We’re giving it to you for FREE. FOREVER.
"

![Screen Shot 2019-11-13 at 19.41.00.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/a69857b9-e393-4b30-9498-f1a79075b73a)![Screen Shot 2019-11

[2019-11-14 10:53] sirpy opened #919 "Refactor dashboard loading"

[2019-11-14 11:05] sirpy opened #921 "Market/Rewards should open in new tab on IOS"

[2019-11-14 12:36] AnastasiiaOdnoshevna opened #922 "The numbers on the "How much" screen aren't highlighted with black color when user enter the amount"
Pre-condition: User have the existing wallet and GD amount > 0

Steps to reproduce:
1. Tap on the "Send" button
2. Enter the recipient's name in the field
3. Tap the "Next" button
4. Enter the needed amount of G$ in the field
5. Observe the result

Actual result: The entered numbers aren't highlighted with black color when user enter the amount
Expected result: The entered numbers are highlighted

[2019-11-14 13:29] StanislavShevchenko commented on #847
@sirpy
I tested this problem locally on the master and beta branches, the problem is not reproduced.
Please redeploy the ewallet

[2019-11-14 13:30] yaroslav-fedyshyn-nordwhale commented on #864
@sirpy currently we have removed the prepare login token function from the dashboard.

About redeem bonus - then functionality which sending the request on window focus not needed anymore, right? Should I remove it as there is no sense of it with new logic described in this task?

[2019-11-14 13:30] AlexeyKosinski commented on #847
also, the height problem already fixed in another task. you should merge master to beta and deploy

[2019-11-14 13:58] AnastasiiaOdnoshevna commented on #919
Checked on the QA environment
Work as expected.

[2019-11-14 14:06] AnastasiiaOdnoshevna commented on #853
Checked on the QA environment.
Work as expected.
Devices used:
Xiaomi Redmi 7 // Android 9.0
iPhone 6 S Plus // iOS 12.4.1

![Screenshot_2019-11-14-16-03-12-212_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/cc67126b-498f-46c9-b3ad-f31d5e4c2e02)

[2019-11-14 14:40] AnastasiiaOdnoshevna commented on #799
Checked on QA Env
Look as per requirements.
User receive the bonuses from Goodgollar.

[2019-11-14 15:04] yaroslav-fedyshyn-nordwhale commented on #855
I tested this issue locally, on gooddev and ewallet. Tested on IPhone 7 simulator and on real device. Cannot reproduce this issue. Woking well - as expected.

Screenshot:
![1.png](https://images.zenhubusercontent.com/5d555cf825ff190001f1a4eb/4a1dd9d9-8869-4ad3-869a-041c73150788)

[2019-11-14 19:37] #911 closed

[2019-11-14 19:39] LiavGut commented on #853
@AnastasiiaOdnoshevna @yaroslav-fedyshyn-nordwhale @sirpy
The reason is not in the right position. It's not aligned to the left and not in the right hight.
Please make sure that it's pixel perfect. Thanks.

[2019-11-14 20:30] sirpy commented on #864
no. keep the same logic, check bonus on focus but only if 10min passed since last check

[2019-11-14 20:31] sirpy opened #929 "w3 should notify if user reached max bonus"
so we can stop checking for bonuses.
web3 should reply also with max bonus - ie the maximum amount of bonuses a user can get.

[2019-11-14 21:32] sirpy opened #930 "whatsapp on ios opens payment link in webview"
on iphone whatsapp and maybe other messaging apps on iphone:
open links in an in-app browser which means it opens the payment link not in safari browser where user has  wallet installed.
since its a webview user cant login using magic link.

seems we need to find more solutions for login on iphone:)

[2019-11-15 06:38] AnastasiiaOdnoshevna opened #931 "User stays on the "You're got mail" screen after entering the already used mail address"
Pre-condition: User have open the payment link and already enter the name and verify their mobile phone
User is on the "Mail" screen

Steps to reproduce:
1. Enter the already using email address in the email field
2. Tap on the "Next" button
3. Tap the "Ok" button in the error pop-up
4. Observe the result

Actual result: User stays on the "You're got mail" screen after entering the already used ma

[2019-11-15 06:44] AnastasiiaOdnoshevna commented on #755
Checked on QA environment.
1) If webapp is open on the background for a long time, after user return back to it, the splash screen is shown, and after that webapp dashboard is open.
2) If user open payment link after app was in background for a while, the link is proceed successfully (using 3 time periods:  <2 min, from 2 till 5 min, and >5 min)
3) if internet connection lost, the network error is

[2019-11-15 06:56] sirpy commented on #795
https://medium.com/js-dojo/vuejs-pwa-cache-busting-8d09edd22a31

[2019-11-15 07:19] sirpy commented on #916
@AlexeyKosinski @StanislavShevchenko updated the ticket with IOS details

[2019-11-15 08:53] AnastasiiaOdnoshevna commented on #788
Checked on the QA  and eWallet env.
Work as expected.

**QA:**
![2019-11-15_9-37-21.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/e44dc230-2db0-4287-a7db-09838fa9de2c)

![2019-11-15_10-33-09.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/c6496202-1da5-4699-8a33-06218aad3c4a)

**eWallet:**
![2019-11-15_10-42-16.jpg](https://images.zenhubusercontent.com/5d75e

[2019-11-15 09:25] AnastasiiaOdnoshevna commented on #802
Checked on QA environment
Look as per requirement.

eWallet ver. 0.10.5 has old version of error messages and should be checked later

![qa.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/c4436ece-9e3d-4ed0-b6b8-d5ea9c5002ed)

![Screenshot_2019-11-15-11-08-40-377_com.android.chrome.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/f7a1ce58-11fd-4f1b-9b6f-80b1be3

[2019-11-15 09:38] AnastasiiaOdnoshevna commented on #854
Checked on the eWallet environment.
Work as expected.

https://www.dropbox.com/s/ktrioycykr16vxa/survey.mp4?dl=0

[2019-11-15 09:54] AnastasiiaOdnoshevna commented on #854
Checked on the eWallet environment
Work as expected.
When user get and open the requested link, they have the confirmation screen first.
If user open their own requested link nothing is happening.

[2019-11-15 09:58] LiavGut commented on #802
@sirpy @StanislavShevchenko Can we break the line before "Check".

Thanks

[2019-11-15 09:59] AnastasiiaOdnoshevna commented on #866
The issue is reproduced on eWallet environment ver 0.10.5

![2019-11-15_11-59-12.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/e7798347-8d20-4cbe-9692-f5a85046b932)

[2019-11-15 10:00] AnastasiiaOdnoshevna commented on #700
Checked on the eWallet env.
Work as expected.
![2019-11-15_11-56-42.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/01996092-144b-4d61-a422-029bbcc6c79f)

[2019-11-15 10:06] AnastasiiaOdnoshevna commented on #909
Checked on the QA and eWallet environments using accounts that were created 14.11.19
The pop-up is displayed after 24 h from user's registration. Work as expected.

I leave ticket in QA to check it 17.11.19

[2019-11-15 10:51] AnastasiiaOdnoshevna commented on #829
Checked on QA and eWallet environment.
Work as expected.
Icons from pop-up (also Rewards, Goodmarket) are .svg

[2019-11-15 12:10] AnastasiiaOdnoshevna commented on #874
Checked on eWallet ver. 0.10.5
Using devices:
iPad Air 2 // iOS 12.3.1
Pixel 3 XL // Android 10.0
Browsers: Google Chrome

Reproduced. Icons aren't aligned.

![2019-11-15_14-02-10.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/2f671d86-e6de-42da-b56e-22c90e90aff5)

[2019-11-15 12:27] yaroslav-fedyshyn-nordwhale commented on #874
@AnastasiiaOdnoshevna sorry, I moved this card to QA by mistake. The PR is not merged yet. So the changes are not applied.

[2019-11-15 13:01] #138 closed

[2019-11-15 13:05] yaroslav-fedyshyn-nordwhale commented on #831
The solution discussed and approved with @LiavGut:
Change the text from ‘Start spending your GoodDollars’ to ‘Start spending your G$'s’

[2019-11-15 13:57] AlexeyKosinski opened #935 "User should be able to retry signup on error"
in signupstate finishRegistration keep track of each action done
in backend /user/add keep track of each action done
If an error happens user should be able to press "lets start" again. failed actions are retried
on client and server

How
- [x] Save finishRegistration state in react state
- [x] save /user/add state in privatedb
- [x] If error user can retry "lets start"

[2019-11-15 14:00] yaroslav-fedyshyn-nordwhale commented on #881
@sirpy, not every feed card has quick action defined. So the animation is not working for them. But it working fine for feed items that have quick action defined (almost delete action). See reproducing videos on different devices and environments:

| | Local | GoodDev | EWallet |
| --- | --- | --- |
| Simulator | https://www.screencast.com/t/jlXG4yAZ26xf | https://www.screencast.com/t/Q8oMFNZPI9CN

[2019-11-15 14:05] AnastasiiaOdnoshevna commented on #855
Checked on the QA and eWallet environment

Used devices:
iPhone 7 // iOS 12.1.2 (physical)
iPhone 7 // iOS 11.4 (AWS device)

Work as expected. The button is fully visible.

![111.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/9a8b2630-e23e-493f-966f-21c3202ee792)

![Image-1.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/634dc263-f493-4e0e-bd6c-c266ec8294d1)

[2019-11-15 14:58] sirpy opened #936 "Feed not loading correctly"
![20191115_165041](https://user-images.githubusercontent.com/671095/68952523-b208db80-07c8-11ea-95ba-1decce95ff90.gif)
feed starts with old

[2019-11-16 17:41] LiavGut opened #938 "Claim error (Samsung Galaxy, a7)"
While trying to claim I received this error.

* What is Claim-2 ?
![WhatsApp Image 2019-11-16 at 19.40.24.jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/6bfdd7f6-ab06-4405-a5c1-a28454f911d0)

[2019-11-16 19:17] LiavGut opened #939 "Hotfix: signup - Magic Link: Updated text + Change visual position"
*** And change the order between this screen and "Let's start" screen ***

Title:
Next time you can sign in
from any device
using your Magic Link

Text:
Just find the GoodDollar Magic Mail
that we’ll soon send you

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/229c2efe-3550-4804-a109-eac96ee1b958/Sign-Up-23

[2019-11-16 19:17] LiavGut commented on #939
@sirpy Do you think the text is now clearer?

[2019-11-17 09:52] sirpy opened #942 "user from w3 tries to register after deleting his account"
If user had problems registering and we delete his account and ask him to register again
his signup will fail because of unverified email.
This is because we dont use his w3 token, if users registers again by first clicking on "my wallet", ie he comes again with his w3 token, the registration is success.

solution:
probably need to wait with removal of w3 token from storage until registration is c

[2019-11-17 19:59] sirpy opened #944 "(Chore) add gun/web3 to network checks"
They both use websockets but are not loaded initially, they are loaded dynamically.
Add to init(), once they are ready, they are added to the global simplestore.
The internetConnection can then react and add listeners to gun+web3 websocket connection.

The "open on send()" error still happens when returning to app and doing a tx.
we need to actively check connection when focus returns

make sure o

[2019-11-17 20:44] sirpy commented on #802
added line break

[2019-11-17 20:46] #868 closed

[2019-11-17 21:31] sirpy opened #945 "name missing in phone screen when user registers from w3"
The text at the top is missing the username or it takes time for it to show
probably need to wait for details from w3 to arrive

@LiavGut

[2019-11-17 21:31] #945 closed

[2019-11-18 07:23] sirpy opened #946 "(Chore) replace isMobileSafari with isIOS"

[2019-11-18 07:26] #946 closed

[2019-11-18 08:48] LiavGut opened #947 "When clicking Claim - getting this error (connection error)"
Samsung Galaxy A5
![Screen Shot 2019-11-18 at 0.11.42.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/62dce918-027c-4ceb-a0d6-1c272237a6c7)

[2019-11-18 09:03] AnastasiiaOdnoshevna commented on #931
Work as expected on the QA env.
Will be checking on eWallet after update

[2019-11-18 09:33] AnastasiiaOdnoshevna commented on #873
Work as expected on the QA env.
Will be checking on eWallet after update

[2019-11-18 09:48] #881 closed

[2019-11-18 09:49] yaroslav-fedyshyn-nordwhale commented on #881
Closed - as agreed with @sirpy

[2019-11-18 11:19] sirpy commented on #947
solved in #755

[2019-11-18 11:19] #947 closed

[2019-11-18 12:11] sirpy opened #948 "Error in ios pwa signin screen"
## Error in GoodDAPP

**TypeError** in **/**
First argument must be a string, Buffer, ArrayBuffer, Array, or array-like object.

[View on Bugsnag](https://app.bugsnag.com/gooddollar/gooddapp/errors/5dd27ca7b88e6d0019d7fb30?event_id=5dd27ca7005330c71a180000&i=gh&m=ci)

## Stacktrace

    components/signin/IOSWebAppSignIn.js:46 -
    components/signin/IOSWebAppSignIn.js:42 -

[View full stacktrace](

[2019-11-18 12:22] #866 closed

[2019-11-18 12:57] AnastasiiaOdnoshevna commented on #921
Checked on QA ver 0.10.6
Work as expected. User is navigated to separated tab on iOS.
If user is logged out and navigated to Rewards tab using long link, they should log in first and then approve the external navigation in pop-up.

Checked using Rewards tab. Should be checked on eWallet after update.

Used devices:
iPhone XS // 13.1
iPhone 6S+ // 12.3.1

[2019-11-18 13:23] #450 closed

[2019-11-18 13:25] sirpy commented on #861
@AnastasiiaOdnoshevna can you recheck this?

[2019-11-18 13:27] AnastasiiaOdnoshevna commented on #513
Not reproduced on QA ver 0.10.6
Work as expected.

Device used:
iPhone XS // iOS 13.1
iPhone 6S+ // iOS 12.3.1
iPhone X // iOS 13.2 (AWS emulator)

[2019-11-18 13:28] sirpy commented on #872
@Talbatz

[2019-11-18 13:33] #912 closed

[2019-11-18 13:40] AnastasiiaOdnoshevna commented on #864
Checked on the QA ver 0.10.6
The api call runs every 10 min and every time user refresh the page or nvigate to the open gooddollar tab from another.

Should be checked on eWallet after update

![ice_screenshot_20191118-152442.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/06ebf1a8-23c0-4d9e-a22c-cfc8ee3f8521)

[2019-11-18 13:52] AnastasiiaOdnoshevna commented on #874
Checked on the QA ver. 0.10.6
Look as per requirements

Used devices:
iPhone 6S+ // iOS 12.3.1
Pixel 3 XL // Android 9.0
Desktop: Google Chrome

[2019-11-18 14:00] #918 closed

[2019-11-18 15:53] AnastasiiaOdnoshevna opened #953 "User aren't log in GoodMarket and Rewards tabs after navigating to them"
Pre-condition: User have wallet and logged in eWallet.

1. Tap on the "Goodmarket" icon
2. Pay attention at the result and link
3. Return to app's dashboard
4. Tap on the "Rewards" icon
5. Pay attention at the displayed result and link

Actual result: User aren't logged in W3 and Goodmarket when navigated to them from eWallet.
Expected result: User should be logged in W3 and Goodmarket when naviga

[2019-11-18 16:01] sirpy opened #954 "user sees out of gas when comming back to webapp"
xiaomi mi8
leave app in background
go back to app after a while
out of gas screen is shown

[2019-11-18 17:06] sirpy opened #955 "Transaction failure caused feed inconsistency"
I've tried to withdraw a payment link.
The tx was reverted.
I then had a tx id in feedindex, but feed.get('byid').get(txhash) was undefined.
I then manually in console fetched the receipt from blockchain and called handleReceiptUpdated, this fixed the feed but the TX didnt have the amount detail.

I think what happened is that the initial withdraw was reverted: (state is still pending)
[code]
Then

[2019-11-18 21:33] LiavGut opened #956 "Feed: Delete card is not working"
(Welcome card)
Chrome, Android
https://fsty.io/v/gw3JW5W

[2019-11-19 08:07] sirpy commented on #905
@amitorama was this solved?

[2019-11-19 08:09] sirpy commented on #955
something similar happened.
for some reason my sent payment link details where not saved.
the incoming tx event has correct to,from but shows "unknown" in the feed.

[2019-11-19 08:09] sirpy opened #957 "outofgas still shown when user returns to wallet"

[2019-11-19 08:21] sirpy commented on #954
fixed in #957

[2019-11-19 08:21] #954 closed

[2019-11-19 08:26] sirpy commented on #944
@AlexeyKosinski @StanislavShevchenko updated the description

[2019-11-19 09:51] #883 closed

[2019-11-19 10:18] AnastasiiaOdnoshevna opened #959 "Pop-up window "Ooops… We could not capture all your beauty. Please try again" is displayed after saving profile photo"
Pre-condition: User have wallet and logged in eWallet.

Steps:
1. Open the GoodDollar app
2. Go to the main screen page
3. Tap the mini photo of profile
4. Tap the editor icon
5. Tap the photo icon
6. Tap the place of photo
7. Choose the photo from device
8. Tap the Save button
9. Pay attention to the screen

Actual result: Pop-up window "Ooops… We  could not capture all your beauty. Please try ag

[2019-11-19 10:29] AnastasiiaOdnoshevna opened #960 "Pop-up windows return to their original position after swiping them"
Pre-condition: User have wallet and logged in eWallet.

Steps:
1. Open the GoodDollar app
2. Go to the main screen page
3. Tap the any tile except first tile
4. Swipe the popups
5. Pay attention to the screen

Attual result: Pop-up windows return to their original position after swiping them
Expected result: Pop-ups switch after swiping them

Used devices:
iPhone XS // iOS 13.1.3

Environment:
eWa

[2019-11-19 10:39] sirpy commented on #877
should be fixed by paperclip

[2019-11-19 12:22] AnastasiiaOdnoshevna commented on #830
Checked on the eWallet (ver. 0.10.6)
Work as per requirements.

![unnamed (1).jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/c89b8cbb-4ecf-421e-a21c-29b24210edac)

[2019-11-19 13:37] AnastasiiaOdnoshevna commented on #957
Checked on the Dev and eWallet environments.
Work as expected.

[2019-11-19 14:13] AnastasiiaOdnoshevna commented on #877
Not reproduced. The G$ symbol and price are displayed correctly now

![Screenshot_2019-11-19-15-59-52-513_com.android.chrome.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/30197d55-258a-46e6-b92d-326daddb406c)

[2019-11-20 06:51] AnastasiiaOdnoshevna commented on #957
Have been reproduced on Android with a bit different scenario

Steps:
1. User is navigated to dashboard
2. Open any other screen from menu (About, Profile, Backup screen)
3. Leave the phone without action for about 2 min (without block the device)
4. Close the open screen and return to Dashboard
5. Observe the result

![Screenshot_2019-11-20-08-41-44-806_com.android.chrome.jpg](https://images.zenh

[2019-11-20 10:19] LiavGut opened #965 "Dashborad: Back to top button (on desktop) should be inside the max width"
![Screen Shot 2019-11-20 at 12.17.58.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/c0f742c0-2efb-4239-88b0-05dbddd59dd2)

[2019-11-20 10:43] LiavGut opened #966 "Claim: Small changes in design + text"
1. Change "GET NOW" to "YOU CAN GET"
2. Change "Your Next Daily Income:" to "Your next daily claim:" and change the font to Bold
3. Switch position between the button and the stats line
4. Remove learn more Button
5. New text: "
Claim & spend it on
things you care about
"

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/23d218ca-4c56-4348-a708-4bfa2a851614/Claim-2

https

[2019-11-20 11:01] AnastasiiaOdnoshevna commented on #957
The issue isn't reproduce on eWallet ver.0.10.7
Checked on the devices:
Redmi 7 // Android 9.0
iPhone X // 12.3.1
Desktop: GH

[2019-11-20 11:28] sirpy opened #967 "improve analytics"
currently we have events only for the routes but not for the actual actions
send/receive events, copy link, shared on mobile/shared error
send/receive via payment link
withdraw link/receive link

Add the following events
SEND_DONE params: { type: 'QR','receive','link'} - if send via QR request, if send via receive link or link if user simply did the Send flow and shared/copied the link
WITHDRAW -

[2019-11-20 11:57] sirpy opened #968 "remove paymentcode/code from url after done"
currently code/paymentcode stays in url and  on refresh it tries to withdraw/send again
use props.navigation.setParams({code: undefined}) to unset in the finally {} clause of try.

refactor code
- sendlink - in dashboard: is this line has any meaing? `      props.navigation.state.params = anyParams`
- receivelink - in dashboard, in send.js - does the useeffect where we call routeAndPathForCode has

[2019-11-20 12:16] yaroslav-fedyshyn-nordwhale commented on #879
I have checked it on my ewallet account - the login token exist for my account and the wallet redirecting to the ewallet.gooddollar.org with login token correctly but the website is not logged me in, the login token is just disappearing after a second. See video: https://www.screencast.com/t/rf5RenC9vO

Here is my mnemonic - quiz bridge cactus price note region junk swing mirror labor sick tower

[2019-11-20 12:38] sirpy opened #969 "(Chore) replace fusenet.io with fuse.io"
replace websockets url to rpc.fuse.io

replace all occurences of fusenet.io to fuse.io
- gooddapp
- goodserver
- goodcontracts
- gooddashboard

- heroku+netlify dev,qa,prod,etoro env variables
- travis

Definition of Done
- [x] fusenet.io is replaced with fuse.io
- [x] websockets connections use rpc.fuse.io

[2019-11-20 14:19] AnastasiiaOdnoshevna commented on #908
Checked on the Dev environment.
The issue isn't reproduce.
Device used:
Xiaomi Redmi 7 // Android 9.0
iPhone X // 12.3.1
iPad Pro // iOS 13

I leave ticket in QA to check it on the QA and eWallet environments later

[2019-11-20 18:35] LiavGut opened #971 "Feed - Pop up slide: the cards should be inside the max width (on desktop)"
To reproduce enter responsive mode in chrome
Or in desktop mode in chrome use the right/left arrow keys to swipe the cards

Definition of Done
- [x] disable swiping on desktop

Chrome
![Screen Shot 2019-11-20 at 20.21.02.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/fa777b1a-0639-412a-b7cd-240c5b878a4b)

![Screen Shot 2019-11-20 at 20.20.48.png](https://images.zenhubuserconten

[2019-11-21 06:43] LiavGut opened #972 "Hotfix: SMS error pop up - Add "or contact support" at the end."
![Screen Shot 2019-11-21 at 8.36.18.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/985c4216-b234-402b-aa5a-746553e66752)

[2019-11-21 06:51] sirpy opened #973 "(Chroe) setup verson number in fullstory"
add version to fullstory in analytics.js

[2019-11-21 06:54] sirpy opened #974 "gun.get returns soul on first query"
gun.get(<profile field>) returns on first query only the soul {_:{#:<soul>}
on second query it returns the value
this is the cause why sometimes details of other users like name/image aren't shown

Definition of Done
- [ ] check gun latest version
- [ ] ask community for solution, follow https://github.com/amark/gun/issues/844
- [ ] check why gun.get works this way
- [ ] update gun .then to follow

[2019-11-21 09:57] AlexeyKosinski commented on #904
discussed with @sirpy : no need to do the last thing in task

[2019-11-21 11:30] AnastasiiaOdnoshevna commented on #879
Not an issue. User can't log in rewards, if they have not-whitelisted mail domen (in this cases - harakirimailcom and qatestlabnet)
Users with standart usual mail domens (gmail, yahoo, hotmail) log in Rewards successfully

[2019-11-22 09:36] AnastasiiaOdnoshevna commented on #948
Work as per requirements
Checked on ewallet
iPhone 8 Plus // iOS 12.4.1

https://www.screencast.com/t/yi8axyGhb

[2019-11-22 12:48] yaroslav-fedyshyn-nordwhale commented on #896
@LiavGut the color of the background should be set randomly?
also, the user is still able to change his avatar on the edit profile page, right?

[2019-11-22 14:51] AlexeyKosinski commented on #795
@StanislavShevchenko please return all logic into the signupstate file in the same format as it was (in done function)

[2019-11-22 16:21] LiavGut commented on #896
@yaroslav-fedyshyn-nordwhale @sirpy
Sorry, but I've label it as a bug.
The user shouldn't get any profile photo from web3.

[2019-11-22 16:27] yaroslav-fedyshyn-nordwhale commented on #896
@LiavGut could you please answer on the 3 questions I asked in prev comment. thanks

[2019-11-22 16:34] LiavGut commented on #896
@yaroslav-fedyshyn-nordwhale It's not relevant.
All new users should see the default avatar (User Profile Icon) like it is right now.
<img width="155" alt="Screen Shot 2019-11-22 at 18 32 26" src="https://user-images.githubusercontent.com/54103946/69443118-75a02700-0d56-11ea-93ee-4a16d3ec341d.png">

[2019-11-22 16:44] yaroslav-fedyshyn-nordwhale commented on #896
@LiavGut this task is not required anymore, is it? So I just need to verify that the avatar won't be taken from w3 site, right?

[2019-11-22 16:50] LiavGut commented on #896
@yaroslav-fedyshyn-nordwhale
Yes. Sorry for the misunderstanding.

[2019-11-22 16:52] yaroslav-fedyshyn-nordwhale commented on #896
ok. got it

[2019-11-23 11:18] LiavGut opened #981 "Hotfix: Welcome screen - remove "sign in" button for new user from web3"
New user from web3 should only see "create a wallet" button.

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/62b6b45b-8586-494b-897e-d390c08d8162/Sign-Up-11

Definition of Done
- [x] new user from web3 doesn't see sign-in button
- [x] if user goes back from create wallet back to intro screen he should still see "create a wallet" button and not "get invited"

[2019-11-24 14:55] sirpy opened #982 "editing avatar doesnt go back correctly"
When hitting the back arrow at the profile screen the exepcted result is that i goes back to dashboard. but currently if you edit the image and you hit back you are taken to the edit image screen again.
because when editing the image we use screenProps.push, this adds screens to the stack, so each back button pops the previous screen from the stack.

When we dont expect to navigate back to a scree

[2019-11-24 14:56] sirpy commented on #959
@AnastasiiaOdnoshevna can this be reproduced?

[2019-11-24 14:57] sirpy commented on #953
@AnastasiiaOdnoshevna this was resolved no?

[2019-11-24 14:57] #936 closed

[2019-11-24 15:01] #905 closed

[2019-11-24 15:07] sirpy opened #983 "TypeError in /AppNavigation/Profile/ProfilePrivacy"
## Error in GoodDAPP

**TypeError** in **/AppNavigation/Profile/ProfilePrivacy**
Cannot read property 'privacy' of undefined

[View on Bugsnag](https://app.bugsnag.com/gooddollar/gooddapp/errors/5dd6928db6286c0019a8fe78?event_id=5dda8dfb005326c0066e0000&i=gh&m=ci)

## Stacktrace

    components/profile/ProfilePrivacy.js:47 -
    components/profile/ProfilePrivacy.js:47 -

[View full stacktrace](htt

[2019-11-24 21:15] #904 closed

[2019-11-25 08:14] AnastasiiaOdnoshevna commented on #953
It was not a bug.

[2019-11-25 08:14] #953 closed

[2019-11-25 10:25] sirpy opened #985 "Identity and Token should be pausable"
in order to support upgrades they should be pausable so we can lock them to a state and use them in new contracts.

[2019-11-25 10:25] #985 closed

[2019-11-25 10:26] sirpy commented on #985
Issue moved to [GoodDollar/GoodContracts #53](https://github.com/GoodDollar/GoodContracts/issues/53) via [**ZenHub**](https://www.zenhub.com/)

[2019-11-25 11:32] AnastasiiaOdnoshevna commented on #939
Checked on DEV env
Look as per mockup

[2019-11-25 11:44] AnastasiiaOdnoshevna commented on #959
@sirpy
It's not reproduced now.
I will check it on ewallet again after the release, to be sure. If everything will be ok, then issue can be closed

[2019-11-25 12:08] sirpy opened #988 "payment from receive link shows up with claim icon"
send a receive link to someone
pay via receive link
in feed the received payment has claim icon where normal receive icon should be

[2019-11-25 12:58] AnastasiiaOdnoshevna commented on #908
The issue start reproducing again.
Scenario: User navigated to Dev (and QA) with W3 token, start creating new account and get this issue.

[2019-11-25 13:13] #916 closed

[2019-11-25 13:19] AnastasiiaOdnoshevna commented on #942
Checked on QA env.
Work as expected.

[2019-11-25 13:25] AnastasiiaOdnoshevna commented on #896
Checked on the QA env.
The web3 user get the profile photo as per requirements.

[2019-11-25 14:25] AnastasiiaOdnoshevna commented on #878
Checked on the Dev and QA env.
Look as per requirements

[2019-11-25 14:41] yaroslav-fedyshyn-nordwhale commented on #973
@sirpy current version of the app from package.json?

[2019-11-25 15:09] sirpy commented on #973
see how its done in other analytics

[2019-11-25 15:37] sirpy commented on #908
@AnastasiiaOdnoshevna can you share a video? because nothing has changed.
including all details to reproduce, user account details etc

[2019-11-25 15:44] sirpy commented on #959
@AnastasiiaOdnoshevna this was on 10.6 we are already on 10.7 in ewallet

[2019-11-26 09:40] AnastasiiaOdnoshevna commented on #959
Doesn't reproduced on eWallet ver. 0.10.7
Device used:
iPhone X // 12.3.1
Xiaomi Redmi 7 // 9.0

[2019-11-26 09:40] #959 closed

[2019-11-26 10:15] AnastasiiaOdnoshevna opened #990 "W3 doesn't display user name, rewards and invites correctly"
Pre-condition: User is logged out from the wallet

Steps to reproduce:
1. Navigate to W3
2. Open the menu and tap on the Login button
3. Pay attention at the result
4. Pay attention how the name is displayed
5. Pay attention at the bonuses count and friends count
6. Scroll the screen down
7. Pay attention at the "Get invited button"

Actual result:
The W3 shouldn't display name, Rewards and Invite

[2019-11-26 10:34] yaroslav-fedyshyn-nordwhale commented on #968
@sirpy
- in dashboard: is this line has any meaing? props.navigation.state.params = anyParams
This line is setting params from the browser address line to the navigation object. Without it, the withdraw won't be executed. Initially props.navigation.state.params is undefined.

- receivelink - in dashboard, in send.js - does the useeffect where we call routeAndPathForCode has any use? where/when wou

[2019-11-26 10:47] sirpy commented on #971
@LiavGut
this only happens on screen resize (for example if you have the feed popup open and you open/close the dev console), its not the usuall behaviour.
we fixed this already in the past, i can't recreate this.
can you share the device and the exact scenario how to reproduce this.

[2019-11-26 10:56] AnastasiiaOdnoshevna commented on #908
There are 2 scenarios with name delay that reproduced:

**1.**
Pre-condition: User doesn't have any data in cash and logged-in account
User is have the W3 invitation link.
1) Navigate to W3 with invitation link;
2) Sign Up with Google;
3) Click on the "My wallet" button (without waiting for account approve)
4) Navigate to the wallet registration flow (the phone screen)
5) Pay attention how the use

[2019-11-26 11:13] AnastasiiaOdnoshevna opened #991 "User receive the verification code to the wrong email address when try to change profile email"
Pre-condition: User have the existing wallet.

Steps to reproduce:
1. Navigate to the wallet dashboard;
2. Tap on the Profile photo;
3. Tap the edit icon and enter the new email in the field;
4. Tap the "Verify my email" button
5. Pay attention where the verification code will receive

Actual result: User receive the verification code to new email.
Expected result: User receive the verification co

[2019-11-26 12:36] yaroslav-fedyshyn-nordwhale commented on #968
@sirpy
so I will try to remove this send.js component as it is not used anywhere.

[2019-11-26 12:52] yaroslav-fedyshyn-nordwhale commented on #968
So, I have removed the useless Send.js component and tested the send/receive flow. And everything working well.

[2019-11-26 13:09] LiavGut opened #1051 "Improve the settings menu and add easy access via the top bar"
![Screen Shot 2019-11-26 at 15.00.37.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/b51f5f69-8e8f-4ac4-b0a5-72ac0ae615e2)

DOD:
- [x] Add "Invite" and "Support" icons to top bar
- [x] "invite" will also direct to "reward" screen
- [x] "support" will direct to support form screen
- [x] Replace "Support" and "About" on the settings menu with "Add App Icon" and "Magic Link"
- [x]

[2019-11-26 13:25] yaroslav-fedyshyn-nordwhale commented on #981
@sirpy
the solution is:
1) new user from web3 doesn't see sign-in button
in Auth.js check if the w3token present - then do not show the sign in button.

2) if user goes back from create wallet back to intro screen he still sees "create a wallet" button and not "get invited"
The condition for 'create wallet' or 'get invited' button is the w3token existed in AsyncStorage. so when a user lands on the

[2019-11-26 15:06] yaroslav-fedyshyn-nordwhale commented on #973
@sirpy we already set the version to the logs in analytics.js line 71. Amplitude.setVersionName(Config.version).
Config.verion is defined as - process.env.VERSION || 'v0',

[2019-11-26 15:17] yaroslav-fedyshyn-nordwhale commented on #971
@LiavGut @sirpy
The swiping working well on desktop and the popup width is ok.
The popup can be outside the app area in case if we manually resize the screen dimensions. But after pressing the right/left button it stands in the right place.
Here is the video of reproducing - https://www.screencast.com/t/Qj3YYQTtK
So what we should do in scope of this task?

[2019-11-26 15:35] StanislavShevchenko commented on #845
https://github.com/GoodDollar/GoodDashboard/pull/1

[2019-11-26 17:19] sirpy commented on #908
@AnastasiiaOdnoshevna the second case is w3 its not related to the wallet.

can you give a complete video for case 1.
video starting from pressing "my wallet" in w3

[2019-11-26 17:22] #847 closed

[2019-11-26 17:25] sirpy opened #995 "error when withdrawing"
when opening a payment link in android mobile after wallet was in background for a while
i get the following result:
- no popup of "processing" is shown
- in feed you get 1 bad transaction card without amount or from
- transaction was actually successfull and withdrawn

[2019-11-27 07:42] AlexeyKosinski commented on #956
we don't have access to this link https://fsty.io/v/gw3JW5W @LiavGut

[2019-11-27 09:15] AnastasiiaOdnoshevna commented on #922
Checked on Dev environments
Looks as per requirements
https://www.screencast.com/t/ti6hnxNR

[2019-11-27 09:29] AnastasiiaOdnoshevna commented on #982
Checked on Dev environments
Works as per requirements
https://www.screencast.com/t/bOfAxIkPoJvJ

[2019-11-27 09:50] LiavGut commented on #956
@AlexeyKosinski
[WhatsApp Video 2019-11-27 at 11.36.15.mp4.zip](https://github.com/GoodDollar/GoodDAPP/files/3896164/WhatsApp.Video.2019-11-27.at.11.36.15.mp4.zip)

[2019-11-27 10:12] AnastasiiaOdnoshevna commented on #914
Checked on Dev environments
Works as per requirements
https://www.screencast.com/t/mFyv0DbUgqI

[2019-11-27 10:20] yaroslav-fedyshyn-nordwhale commented on #972
The link to the PR - https://github.com/GoodDollar/GoodServer/pull/125

[2019-11-27 11:02] sirpy opened #996 "listentxupdate error should be handled"
When we experience web3 disconnect an error happen in listentxupdate

~1. verify once connection is restored via InternetConnection component events subscription still works~
2. dont log.error if error is because of connection

[2019-11-27 11:30] LiavGut opened #999 "Dashboard – Feed - PopUp – Update version"
When a new version is pushed - next time the user is on his dashboard - Show this pop up ( It's without the 'x' button)

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/45a95260-84f7-4a20-9722-49a67ca14a1f/Dashboard-Feed-PopUp-Update-version

* "what's new?" should link to ChangeLogFy - link to https://gdlr.info/newversion

[2019-11-27 12:17] sirpy opened #997 "add sentry.io error logging"
add package
add in analytics.js
export const reportToSentry = ([error, context = {}]) => Sentry.withScope(scope => {
  scope.setTags(context.tags);
  scope.setExtras(context.extra);
  Sentry.captureException(error);
})

[2019-11-27 13:38] AnastasiiaOdnoshevna commented on #908
@sirpy
Here is the video for First scenario:

1. User open wallet without account approve: https://www.dropbox.com/s/43lz39r1l6aovgj/withot_approve.mp4?dl=0

2. User open wallet with account approve: https://www.dropbox.com/s/gqy52a8htocte6c/with_approve.mp4?dl=0

[2019-11-27 13:48] AnastasiiaOdnoshevna commented on #800
Checked on the Dev env.
Work as expected, both for payment and send links.

[2019-11-27 14:14] AnastasiiaOdnoshevna commented on #981
Checked on netlify preview.
Work as expected. User get only "Create a wallet" button when navigate to wallet with W3 token

Video: https://www.dropbox.com/s/x7pd3fqinwyb919/2019-11-27_16-11-27.mp4?dl=0

[2019-11-27 15:40] yaroslav-fedyshyn-nordwhale commented on #973
@sirpy
the solution for this task is:
in analytics.js at line 87 add appVersion prop in userVars object (second argument)
FS.identify(emailOrId, { appVersion: Config.version })

Here are docs for Fullstory's identify method - https://help.fullstory.com/hc/en-us/articles/360020828113-FS-identify-Identifying-users

[2019-11-27 16:20] AnastasiiaOdnoshevna commented on #981
Checked on the Netlify preview.
Work as per requirement.
Video: https://www.dropbox.com/s/usuuu53mz9xtwcs/2019-11-27_17-54-00.mp4?dl=0

[2019-11-27 22:25] sirpy commented on #973
ok

[2019-11-28 07:01] AnastasiiaOdnoshevna commented on #925
Checked on Dev.
The card is look as per requirement.
User that was created 22/11 get it 27/11 (after changes were made).

I leave ticket in QA to check when the card will perform for the new account.

![2019-11-28_8-49-24.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/767d9658-2b64-46e9-b275-0da81571c344)

[2019-11-28 07:30] sirpy commented on #800
@StanislavShevchenko @AlexeyKosinski
this introduced breaking changes for existing payment links.
we need to recreate pr #951 and keep support for legacy payment links format

[2019-11-28 07:57] AnastasiiaOdnoshevna commented on #981
Checked on Dev environments
Work as per requirements
V0.10.8

[2019-11-28 08:22] LiavGut opened #1014 "Improve Payment Confirmation Screen (Send/Receive)"
The confirmation screens for Send and Receive Payment looks the same. It's confusing.

** Main changes: **
1. Change Title text
2. Add send/receive icon
3. Enlarge the font size for the amount of G$ (+colors + font to Roboto Slab)
4. To/From/Reason - Put inside a container.

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/bbd43ea6-7b89-47db-ac05-3b36aaf27d22/Send-36

htt

[2019-11-28 09:39] yaroslav-fedyshyn-nordwhale commented on #955
The errored withdraw feed card should be displayed like that:
| Card | Modal |
| --- | --- |
| ![Screen Shot 2019-11-28 at 10.03.46.png](https://images.zenhubusercontent.com/5d555cf825ff190001f1a4eb/93be0b18-03e2-4781-850e-c3283a6c6004) | ![Screen Shot 2019-11-28 at 10.03.37.png](https://images.zenhubusercontent.com/5d555cf825ff190001f1a4eb/460b4e9e-8b7f-4c03-954f-e6ab44d54003) |

Discussed and ag

[2019-11-28 11:17] AnastasiiaOdnoshevna commented on #878
The issue is reproduced again on the Dev v0.10.8 and QA v0.10.9-0

[2019-11-28 11:53] AnastasiiaOdnoshevna opened #1001 "User get the "Wallet could not be loaded" error in the end of the registration flow"
Steps to reproduce:
1. Open the payment link
2. Click on the "Create wallet" button
3. Enter the name and click "Next"
4. Enter the phone and verify it
5. Enter the mail address and verify it
6. Click the "Let's start" button
7. Click on the "Got it" button
8. Pay attention at the result

Actual result: User get the "Wallet could not be loaded" error in the end of the registration flow
Expected re

[2019-11-28 13:09] AnastasiiaOdnoshevna commented on #1001
Fixed in QA v0.10.9-2

Video: https://www.dropbox.com/s/jqnys4z58qcddjd/2019-11-28_15-05-25.mp4?dl=0

[2019-11-28 13:10] #1001 closed

[2019-11-28 13:53] sirpy opened #1002 "balance isnt updated for new users after signup"
on ewallet 10.7
user arrives from w3
user creates wallet
user claims for the first time
balance stays on 0 but claim card is ok
after refreshing the page
user sees balance of 21$ (bonus + claim)

expected behaviour
balance should update automatically once bonus is withdrawn and once claim is done

[2019-11-28 13:53] sirpy commented on #1002
@AnastasiiaOdnoshevna can you try to reproduce it? on QA? if not then on ewallet

[2019-11-28 14:58] yaroslav-fedyshyn-nordwhale commented on #956
Cannot reproduce this issue. Tested on goodqa, gooddev, ewallet and locally. Everithing works fine.
Moving this issue to qa

[2019-11-28 15:19] yaroslav-fedyshyn-nordwhale commented on #960
@AnastasiiaOdnoshevna I can't reproduce this issue. I tested this issue on ewallet and locally from different simulators, also tested on a real device. It seems like everything working well.
So I moving this issue to QA stage.

[2019-11-28 15:21] yaroslav-fedyshyn-nordwhale commented on #971
@sirpy @LiavGut waiting for your response regarding my previous comment. Also, want to admin - as Hadar already mentioned: it is not the usual behavior

[2019-11-29 08:09] AnastasiiaOdnoshevna commented on #956
Checked on QA  environments
Work as per requirements
https://www.screencast.com/t/vvHLdoRyd

[2019-11-29 08:32] AnastasiiaOdnoshevna commented on #988
Checked on QA environment
Work as per requirements
https://www.screencast.com/t/4mVlg1qYp4i
https://www.screencast.com/t/OmCoX95Bj

[2019-11-29 09:46] sirpy commented on #971
@yaroslav-fedyshyn-nordwhale it should not slide outside the width of the app.
i suggest for now to disable scrolling on desktop.
maybe you can try to create a working example of a clean app with sliding scroll on desktop that is limited to the container width.
i've tried to play with the css, i could it reach the state that it slides inside the container but then the sliding is not smooth and not

[2019-11-29 10:27] AnastasiiaOdnoshevna commented on #960
Checked on QA and eWallet environments
Work as per requirements
https://www.screencast.com/t/FWvwlNOdr5n

[2019-11-29 11:30] yaroslav-fedyshyn-nordwhale commented on #971
I tried to make the modal feed items to be scrolled only inside the app area without success. So disabled the scroll for desktop.

[2019-11-29 13:49] AlexeyKosinski opened #1009 "Dashboard aggregation data"
Add to dashboard backend:
- [x] in escorw: show the GD balance of the onetimepaymentlinks contracts
- [x] total GD (in circulation - how much was distributed): show current GoodDollar cap (from GoodDollar erc20 smart contract)
- [x] graph with days on X axis. plot lines of: count of transaction in day x, avg amount of tx in day x, total amount in day x

[2019-11-29 15:15] AlexeyKosinski commented on #969
https://github.com/GoodDollar/GoodContracts/pull/59

[2019-12-01 20:16] sirpy opened #1016 "unregistered/signed in user with payment link should be withdrawn after login"
Currently payment link is withdrawn correctly after user finishes signup

- In QA add to automation case of new user + case of login (ie using magic link/recovery)
- Also test refactoring of outofgas, bonus and logintoken to web3 - bonuses should be withdrawn, user should be reidrected to outofgas and if not signed via web3 should be able to login to web3 rewards tab

[2019-12-02 07:49] yaroslav-fedyshyn-nordwhale commented on #990
@AnastasiiaOdnoshevna I think this issue is not related to the Wallet App (GoodDapp).

[2019-12-02 08:43] sirpy commented on #990
@AnastasiiaOdnoshevna also I think it's the same issue with your user that wasn't approved with email address domain

[2019-12-02 08:53] AnastasiiaOdnoshevna opened #1017 "The screen is flickers while scrolling down"
Pre-conditions:
1) User is logged
2) There are enough cards in the account to scroll down

Steps:
1. Open the Homepage
2. Scrolle down the screen
3. Pay attention  to the screen

Actual result: The screen is flickers while scrolling down
Expected result: The screen is in a static position after scrolling down

Device used:
Samsung Galaxy S8 // Android 8.0.0 // Chrome
iPhone 8 Plus  // iOS 12.4.1 /

[2019-12-02 09:09] AnastasiiaOdnoshevna commented on #965
There is no button, regardless of the number of cards and scale
https://www.screencast.com/t/rbeUeEspcf

Checked on Dev environment
Device used: desktop

[2019-12-02 09:19] AnastasiiaOdnoshevna commented on #971
Checked on Dev environment
Look as per requirements
https://www.screencast.com/t/kV9iytC1t

[2019-12-02 09:26] AnastasiiaOdnoshevna commented on #1016
@sirpy
Got it

[2019-12-02 09:49] StanislavShevchenko commented on #1009
added:
/api/gd/in-escorw
/api/gd/total

/api/transactions/count-per-day
/api/transactions/amount-per-day
/api/transactions/sum-amount-per-day

[2019-12-02 14:28] yaroslav-fedyshyn-nordwhale commented on #990
@sirpy what should we do with this issue?

[2019-12-02 14:49] yaroslav-fedyshyn-nordwhale commented on #972
Link to new PR - https://github.com/GoodDollar/GoodServer/pull/128

[2019-12-02 14:52] yaroslav-fedyshyn-nordwhale commented on #991
The link to GoodServer PR - https://github.com/GoodDollar/GoodServer/pull/129

[2019-12-02 14:54] StanislavShevchenko commented on #967
SEND_DONE params: { type: 'QR','receive','link'} - if send via QR request, if send via receive link or link if user simply did the Send flow and shared/copied the link
 - for { type: 'QR'','link'} ,  in to _src/components/dashboard/utils/routeAndPathForCode.js_  in  method **routeAndPathForCode** I add **fireEvent()**

WITHDRAW - on txhash of withdraw action
- _in src/components/dashboard/Dashboar

[2019-12-03 06:54] AnastasiiaOdnoshevna commented on #925
Checked on Dev environment for the newly created account.
Account was created 29.11.19
Start claiming card was performed 02.12.19

[2019-12-03 07:48] Nordwhale commented on #967
@sirpy Please, approve the plan so we can move forward.

[2019-12-03 09:39] #973 closed

[2019-12-03 09:44] sirpy commented on #995
@AnastasiiaOdnoshevna @AlexeyKosinski
need to test this with the two PRs above

[2019-12-03 09:56] sirpy commented on #996
fixed by #944, will reconnect listeners correctly.

[2019-12-03 13:35] sirpy commented on #967
@AlexeyKosinski @Nordwhale
SEND_DONE - should be in the relevant send component.
WITHDRAW - just on txhash of withdraw action
RECEIVE - not in button in the relevant receive component

i want the above event names

[2019-12-03 13:52] sirpy commented on #999
@AnastasiiaOdnoshevna done as part of #795

[2019-12-03 13:53] sirpy commented on #969
@AlexeyKosinski you missed the "websockets should use rpc.fuse.io"

[2019-12-03 16:06] sirpy opened #1020 "User should receive Hanuka miracle bonus"
For 8 days we light every day another candle to remember the miracle of the temple that a small jar of oil was enough for 8 days.
Starting at the 23rd of december user should get extra bonus for claiming.
first day +1 second day +2 ... 8th day +8
so user receives the GD that he claims + the daily bonus

- when user claims success add an api call to check bonus if date is in the 8 days starting at

[2019-12-03 22:02] Nordwhale commented on #972
@sirpy Getting back to your discussion in PR. What is the correct behavior with the Back button on the support page?  Should it be there?

[2019-12-04 07:02] sirpy commented on #972
@Nordwhale
1. what do you think is the correct behaviour?
 - there's a certain behaviour all through the app
 - like I told yarosalv there are other places were we direct to support
2. what do you suggest?

[2019-12-04 08:05] StanislavShevchenko commented on #967
@sirpy @Nordwhale

SEND_DONE - in src/components/dashboard/SendQRSummary.js in
method **goodWallet.sendAmount** to cb **onTransactionHash**

WITHDRAW - in **src/components/dashboard/Dashboard.js** analytics will be added after receiving the txhash

RECEIVE - in **src/components/dashboard/Receive.js** here we have two buttons (copy and share) I'll add analytics to them

[2019-12-04 09:15] sirpy commented on #967
ok make sure you don't miss any send/receive cases. qr, link etc
@AlexeyKosinski

[2019-12-04 09:23] AlexeyKosinski commented on #967
ok. I've added myself to reviewers

[2019-12-04 10:41] sirpy commented on #908
@AnastasiiaOdnoshevna @yaroslav-fedyshyn-nordwhale i believe it is fixed on v10.9

[2019-12-04 10:56] AnastasiiaOdnoshevna commented on #795
Checked on Dev env.
Work as requirement.  User doesn't need to clean cache. The dapp is updated after refreshing.

![2019-12-04_12-54-38.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/d863e764-a62a-4218-9314-607763b0f98c)

[2019-12-04 11:15] AnastasiiaOdnoshevna commented on #966
Checked on Dev environment
According to mockup text should be Claim & spend it on
https://www.screencast.com/t/g8gI1pbZWRY

[2019-12-04 11:23] yaroslav-fedyshyn-nordwhale commented on #908
@AnastasiiaOdnoshevna @sirpy ok I will check this issue with the latest changes. I see on the videos from the last Anastasia's comment that the user name is not displayed at all on the phone screen. I

[2019-12-04 12:20] AnastasiiaOdnoshevna commented on #999
Checked on the Dev environment
Look as expected.
![2019-12-04_13-15-19.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/b0b46acd-7835-4f30-a3da-997197b87bf8)

[2019-12-04 14:13] yaroslav-fedyshyn-nordwhale commented on #908
I found that we have wrong redirect links configured for https://w3.gooddollar.org and https://gdweb3etoro-staging.gooddollar.org. So when user press 'my wallet' button on https://w3.gooddollar.org it redirects him to the goodqa with token included (https://goodqa.netlify.com?web3=token) but the goodqa going to check the web3 token to https://gdweb3etoro-staging.gooddollar.org. It is obvious that

[2019-12-04 14:26] AnastasiiaOdnoshevna opened #1025 "User name is missed on the Dashboard"
Pre-condition: User is logged out from wallet

Steps to reproduce:
1. Open the https://goodqa.netlify.com/
2. Sign in using mnemonic
3. Pay attention on the user's name

Actual result:  User's name isn't displayed
Expected result: User's name is display correctly

Environment: QA
User's mnemonic: before guitar melt always glimpse erupt sugar repair replace style chimney caution

Video: https://www

[2019-12-04 15:57] AlexeyKosinski opened #1026 "Change data inside QR to the same url"
generate qr code with the same url. so if user scan it he can open it in a browser or scan by app.

Definition of done:
- [x] change data inside QR to url
- [x] check scan QR from camera - go to dapp - parse code
- [x] check scan QR from application - parse code

[2019-12-04 16:38] AlexeyKosinski commented on #969
oh. u've already changed websockets to rpc.fuse.io. ok.

also, ENV I am going to change
`Server:`
[code]

[2019-12-05 07:38] sirpy opened #1027 "User unable to delete feed card and has duplicates"
https://app.birdeatsbug.com/sessions/44HU1HrSQrrH-D3G0Wvwa

It seems this happens when there are also duplicates of card

- why do we have dups? maybe its related to gun return empty result on first get. we have two safe guards against dups
  - in startSystemFeed we check that firstVisitAppDate is null
  - in enqueueTx we check id doesnt exists

Definition of Done
- [ ] why do we have dups?
- [ ]

[2019-12-05 08:18] AlexeyKosinski commented on #969
@sirpy please review and merge PR https://github.com/GoodDollar/GoodContracts/pull/59
and then I will change ENV at the server

[2019-12-05 10:00] AnastasiiaOdnoshevna commented on #939
Checked on Dev environment
Look as per requirements
V0.10.11-1
https://www.screencast.com/t/jp1iVO2LrGc

[2019-12-05 10:19] AnastasiiaOdnoshevna commented on #800
Checked on Dev environment
Work as per requirements

[2019-12-05 11:09] AnastasiiaOdnoshevna commented on #818
Checked on QA environment
Work as per requirements

[2019-12-05 11:36] AnastasiiaOdnoshevna commented on #968
Checked on Dev environment
Work as per requirements
https://www.screencast.com/t/ugMY1f7XHG

[2019-12-05 12:58] LiavGut opened #1028 "Dashboard: Duplicate "claim" cards and retro change of timestamp"
![Screen Shot 2019-12-05 at 14.55.00.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/ce42a98e-ec83-40c6-91fe-294225ed0b69)

[2019-12-05 21:04] LiavGut opened #1031 "Claim counter title letter-spacing should be 0.08px"
![Screen Shot 2019-12-05 at 23.00.40.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/130f511d-18b9-4dc9-ad92-5cc4189a04ee)

[2019-12-06 09:03] AnastasiiaOdnoshevna opened #1032 "Email that was previously deleted can't be used for sign up again"
Pre-condition;
The account was created and deleted

Steps:
1. Go to the https://ewallet.gooddollar.org/ (using the payment link)
2. Tap the "Create a wallet" button
3. Enter the full name and tap "Next" button
4. Enter the phone number and tap "Next" button
5. Enter the verification code sent to your phone
6. Enter the previously remoted email and tap "Next" button
7. Pay attetion to the result

e

[2019-12-06 09:37] AnastasiiaOdnoshevna opened #1033 "The verification codes and magic links come to the mail in the "spam" section during registration"
Steps:
1. Go to the https://ewallet.gooddollar.org/ (using the payment link)
2. Tap the "Create a wallet" button
3. Enter the full name and tap "Next" button
4. Enter the phone number and tap "Next" button
5. Enter the verification code sent to your phone
6. Enter the email and tap "Next" button
7. Open the email-box
8. Pay attention to the "spam" section

eWallet environment

[2019-12-06 11:23] AlexeyKosinski opened #1034 "Feed not added and balance not updated when receive by QR code"
![qr-feed.gif](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/f212fc25-8d95-4022-945b-8c8ddc6e3218)

- [ ] fix feed creating when u send G$ by QR code
- [ ] balance should be changed too

[2019-12-06 11:35] AnastasiiaOdnoshevna opened #1035 "The G$ amount isn't displayed on the card"
Pre-condition:
The user is logged in

Steps:
1. Open the homepage https://ewallet.gooddollar.org/AppNavigation/Dashboard/Home
2. Tap the "Send" button
3. Enter the recipient name and tap the "Next" button
4. Enter the amount and tap the "Next" button
5. Enter the cause and tap the confirm sending link
6. Open a payment link from another user
7. Pay attention to the screen

Samsung Galaxy S8+ // An

[2019-12-06 11:38] AnastasiiaOdnoshevna opened #1036 "The card is displayed in yellow for transaction that already withdraw"
Pre-condition:
The user is logged in

Steps:
1. Open the homepage https://ewallet.gooddollar.org/AppNavigation/Dashboard/Home
2. Tap the "Send" button
3. Enter the recipient name and tap the "Next" button
4. Enter the amount and tap the "Next" button
5. Enter the cause and tap the confirm sending link
6. Open a payment link from another user
7. Pay attention to the screen

Reproduced on:
- Dev env

[2019-12-06 11:57] AnastasiiaOdnoshevna opened #1037 "The user photo is not displayed on the card"
Pre-conditions:
The transaction was made from payment link

Steps:
1. Open the payment link
2. Pay attention to the feeds

eWallet environment
https://www.screencast.com/t/XIBWZHaDTs9

Reproduced on
iPhone 8 Plus // iOS 12.4.1
Huawei P20 // Android 8.1.0
Samsung Galaxy S8+ // Android 7.0

[2019-12-06 12:09] AnastasiiaOdnoshevna opened #1038 "The popup error message is displayed after loading the photo"
Steps:
1. Go to the https://ewallet.gooddollar.org/ (using the payment link)
2. Tap the user photo
3. Choose the  photo from phone
4. Tap the "Save" button
5. Pay attention to the screen

iPhone XS // iOS 13.1.3 // Safari

eWallet environment
used email: testktestd2@gmail.com
https://www.screencast.com/t/TDrF8fYe

[2019-12-06 12:44] yaroslav-fedyshyn-nordwhale commented on #1027
@sirpy
I tried to reproduce this issue many times in different ways without success. Tested it locally, on gooddev, goodqa. I tried to come with magicLink already being logged in, reproduce it in combination with #1017 bug when getFeedPage starts fetching the feeds in the loop, and other basic users flow situations. So every time I have no dups in my feed list.

Then I went through all of the code

[2019-12-06 15:11] AnastasiiaOdnoshevna commented on #861
Checked on
iPhone X // iOS 13.1
iPhone Xr // iOS 13.1 beta
iPhone  11  // iOS 13.2

Not reproduced.

[2019-12-06 15:16] AnastasiiaOdnoshevna commented on #944
Checked on the Dev and eWallet env (v0.10.11)

[2019-12-08 07:13] sirpy commented on #1038
@AnastasiiaOdnoshevna please always attach the user email so we can look it up

[2019-12-08 07:16] sirpy commented on #1038
This issue has been linked to an error in Bugsnag
[**TypeError** in **/AppNavigation/Profile/Profile**](https://app.bugsnag.com/gooddollar/gooddapp/errors/5dea255207a1430019f4ea71?event_id=5dea48ed0054444a47800000&i=gh&m=li)

[2019-12-08 07:22] sirpy commented on #1033
@Talbatz did we change anything in sending emails form mautic?

[2019-12-08 10:20] Talbatz commented on #1033
@AnastasiiaOdnoshevna please test again. I've fixed an issue with amazon SES. Lemme know if it improves.

[2019-12-08 10:52] sirpy commented on #1027
@yaroslav-fedyshyn-nordwhale like i've explained, i believe the issue is from the gun bug
if you try to get a user field for the first time, it might return an empty object.
i think i've found how to recreate this.
open an incongnito tab, and use the seed phrase, i did it and it created another claim your good dollar cards.
it happens because indexeddb in this case is empty, and when fetching user

[2019-12-08 13:02] LiavGut opened #1040 "Dashboard: GoodMarket is not aligned to the center."
![Screen Shot 2019-12-08 at 14.55.44.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/71de35db-96be-47af-b193-f4f9bcb3686b)

[2019-12-08 21:21] sirpy opened #1041 "refactor signupstate to use stacknavigator"
it already acts like a stack navigator, so we can switch to our stacknavigator,
this should solve the issue of opening support and pressing back leads to the welcome screen and not the previous screen

[2019-12-08 21:22] sirpy commented on #1041
#1006 #972

[2019-12-09 09:50] AnastasiiaOdnoshevna commented on #966
Checked on preview
According to mockup text should be G$1
https://www.screencast.com/t/4w0oHsmvjc

[2019-12-09 10:47] LiavGut opened #1042 "All user details have been deleted - only the balance remains (Gundb bug?)"
![Screen Shot 2019-12-08 at 10.36.47.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/8e930523-f9c3-4569-a758-4f85f32d6c17)

When trying to update my phone number, I didn't receive the SMS code, and when trying to resend it I've received this error:
![Screen Shot 2019-12-08 at 13.50.48.png]
(https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/b2af03bc-a49b-462f-8efa-32f

[2019-12-09 10:48] AnastasiiaOdnoshevna opened #1043 "The transfer amount is debited before the payment link is sent"
Pre-condition:
The user is logged in

Steps:
1. Open the https://gooddev.netlify.com?paymentCode=47c177f8a19c734eca0a&reason=Vgf
2. Tap the "Send" button
3. Enter the recipient name and tap the "Next" button
4. Enter the amount and tap the "Next" button
5. Enter the message and tap the "Next" button
6. Tap the "Confirm" button
7. Pay attention to the amount on the top right

Device: iPhone X // iO

[2019-12-09 10:54] AnastasiiaOdnoshevna opened #1044 "There is no cards on feed after sending payment link"
Pre-condition:
The user is logged in

Steps:
1. Open the https://gooddev.netlify.com?paymentCode=47c177f8a19c734eca0a&reason=Vgf
2. Tap the "Send" button
3. Enter the recipient name and tap the "Next" button
4. Enter the amount and tap the "Next" button
5. Enter the message and tap the "Next" button
6. Tap the "Confirm" button and send the payment link
7. Pay attention to the

Device: iPhone X //

[2019-12-09 11:44] yoavpa opened #1046 "mobile issue - the account reloaded is an old one related to my email - cache issue?"
### Description

Hi,
I created an account connected to my personal email and phone, which couldn't be verified since its personal email. Then I created an account related to my work email and the same phone, which couldn't be verified since my phone was already connected with the previous account.
Omer Levi created for me new account related to my work email and phone.
Now the issue is in mobile -

[2019-12-09 12:14] yaroslav-fedyshyn-nordwhale commented on #908
@AnastasiiaOdnoshevna please check this issue again. It is working well for me. I think the issue reproduced for you because there were changes with links configurations for different servers. Now it should wotk fine.
I tested it on https://gdweb3etoro-staging.herokuapp.com/ as this server configured to work with goodqa wallet environment.

Here are the credentials I used for testing:
Login: alexe

[2019-12-09 14:51] yaroslav-fedyshyn-nordwhale commented on #1020
@sirpy
I Have a few questions about this task.
Hanuka bonus should be shown in the feed list as a separate card? or the amount should be summarized with daily income?

[2019-12-09 15:14] Talbatz commented on #1046
When i tried to help Yoav, he already had an active wallet, which i managed to log in to, and there were G$41 in it, and i was able to claim G$7 as basic income. I transferred the tokens to my own wallet, and proceeded with deleting Yoav's old wallet. He then logged in and created a new wallet, and was able to sign in on other browsers on his desktop using the magic link. I gave Yoav a payment lin

[2019-12-10 07:10] AnastasiiaOdnoshevna commented on #1034
Pre-condition:
The user is logged in

Steps:
1. Open the https://gooddev.netlify.com?paymentCode=47c177f8a19c734eca0a&reason=Vgf
2. Tap the "Send" button
3. Enter the recipient name and tap the "Next" button
4. Enter the amount and tap the "Next" button
5. Enter the message and tap the "Next" button
6. Tap the "Confirm" button and send the payment link
7. Pay attention to the screen

Device: iPhon

[2019-12-10 07:11] AnastasiiaOdnoshevna commented on #1044
Duplicate of #1034

[2019-12-10 07:11] #1044 closed

[2019-12-10 08:37] sirpy commented on #1020
@yaroslav-fedyshyn-nordwhale use exact same infra/method for bonus as today.
only in backend we add to the existing bonus check api the test for claim bonus.
feed will show 1 card for ubi and 1 card for bonus

[2019-12-10 09:11] sirpy commented on #1043
@AnastasiiaOdnoshevna that's the expected behaviour
once your press confirm the payment is made and balance is debited
the only thing i didnt see if it created the feed card for the TX, where you should be able to cancel

[2019-12-10 09:13] sirpy commented on #938
not reprodced

[2019-12-10 09:13] #938 closed

[2019-12-10 09:17] sirpy commented on #974
this is an issue with gun.once, see replication in codingsandbox
https://github.com/amark/gun/issues/844
we'll fix it temporarily by overriding Gun.chain.then and adding 200ms wait there

[2019-12-10 09:23] AnastasiiaOdnoshevna opened #1047 "The sms with verification code isn't come to the phone number"
Steps:
1. Go to the https://ewallet.gooddollar.org/ (using the payment link)
2. Tap the "Create a wallet" button
3. Enter the full name and tap "Next" button
4. Enter the phone number and tap "Next" button
5. Pay attention to the phone

QA environment
eWallet environment: message arrives with a long delay

Huawei P20 // Android 8.1.0

[2019-12-10 09:26] yaroslav-fedyshyn-nordwhale commented on #1025
@sirpy @AnastasiiaOdnoshevna
I just take a look at the user records in the databases for provided mnemonic and found that the gun record is almost empty: only loginToken and marketToken fields exist for that user record (which likely fetched from server on dashboard did mount - prepareLoginToken), but the mongo record is complete/fulfilled (no field is missed, everything fine).
After discussing th

[2019-12-10 09:34] AnastasiiaOdnoshevna commented on #1047
QA
email: dkqatest20@harakirimail.com
mnemonic: kid gospel lumber grape vault oppose earth depart control boost surge garage

[2019-12-10 10:20] AnastasiiaOdnoshevna commented on #1040
The bug is reproduced on Android 8.1.0  and on Desktop

[2019-12-10 10:21] AlexeyKosinski commented on #997
Can u get sentry.io credentials? @sirpy

[2019-12-10 10:34] yaroslav-fedyshyn-nordwhale commented on #1020
@sirpy
ok.
What if the user will skip 1 or more days? for example, the user gets the bonus on the first and second day and skips the 3rd and 4th days, what bonus should he get on the 5th day? 5 or 3?
Also, should we make the number of days customizable? I mean - currently, the task sais that we need to have 8 days with the Hanuka bonus. Maybe we can pass the env var with the number of days for the

[2019-12-10 10:35] AnastasiiaOdnoshevna commented on #1043
Checked on  eWallet environment
Reproduced on Android 8.1.0 // Huawei P20

[2019-12-10 10:41] yaroslav-fedyshyn-nordwhale commented on #1027
@sirpy
What should we do with this issue? If this issue is related to the gun indexedDB setup, then it shouldn't be relevant anymore.

[2019-12-10 12:14] StanislavShevchenko commented on #838
@sirpy @Nordwhale @AlexeyKosinski
We can watch if the keyboard is visible, then change the position of the button, shifting it under the input field.
do it in src/components/appNavigation/stackNavigation.js in NextButton

[2019-12-10 13:06] yaroslav-fedyshyn-nordwhale commented on #1025
@sirpy I think this issue could be related to the gun-indexedDB setup issue too.

[2019-12-10 16:06] StanislavShevchenko commented on #996
@sirpy @Nordwhale @AlexeyKosinski

In useConnectionWeb3 when the connection fails, write to the global connection state variable.
In listenTxUpdates add checks of the global variable for connections and if the connection fails then do not do log.error

[2019-12-11 07:41] Nordwhale commented on #838
@sirpy Please approve

[2019-12-11 07:42] Nordwhale commented on #1020
@sirpy Please approve

[2019-12-11 07:44] Nordwhale commented on #1025
@AnastasiiaOdnoshevna  Please check again. It should be fixed with "gun.get returns soul on first query"

[2019-12-11 08:24] AnastasiiaOdnoshevna commented on #1035
Not reproduced. Temporary issue.

[2019-12-11 08:24] #1035 closed

[2019-12-11 08:25] AnastasiiaOdnoshevna commented on #969
Work as per requirement. Network was changed

[2019-12-11 08:41] AnastasiiaOdnoshevna commented on #1031
Checked on Dev environment
Look as per requirements

[2019-12-11 08:50] AnastasiiaOdnoshevna commented on #966
Checked on Dev environment
Look as per requirements

[2019-12-11 08:51] AnastasiiaOdnoshevna commented on #1017
Checked on Dev environment
Work as per requirements

[2019-12-11 09:33] AnastasiiaOdnoshevna commented on #1033
@Talbatz The email receives in the Inbox -> Promotion tab now. Should it be like that?

[2019-12-11 09:46] AnastasiiaOdnoshevna commented on #1043
Duplicate of #1034

[2019-12-11 09:46] #1043 closed

[2019-12-11 10:12] AnastasiiaOdnoshevna commented on #972
Checked on QA environment
Device: desktop
Work as per requirements
After clicking on the "Support" hyperlink, directs to the "Feedback and support" page
https://www.screencast.com/t/aODZCCnAOIGT

[2019-12-11 10:33] #1016 closed

[2019-12-11 10:58] AlexeyKosinski opened #1052 "Prevent to run multiple transaction"
![Screenshot 2019-12-11 at 12.57.01.png](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/72f225a1-cac4-4a2f-bf9a-b4b0bcfcfd5d)
when u click on the Confirm button immediately disable the button to prevent sending duplicates of transactions

[2019-12-11 10:59] AlexeyKosinski commented on #1052
![d.gif](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/8edfb432-2563-493d-8c1d-a5a1ebbf3b26)

[2019-12-11 11:50] AnastasiiaOdnoshevna commented on #1026
Checked on Dev environment
Device used: iPhone X // iOS 12.4 , Huawei P20 // Android 8.1.0 , Samsung Galaxy S8+ // Android 8.1
The  error is displayed  after scanning QR code https://www.screencast.com/t/ZjfHEd6tdeK
When click "Scan QR code" on an iPhone - scanning does not work  https://www.screencast.com/t/wnpnIaxsbiL

[2019-12-11 12:43] AlexeyKosinski commented on #1034
not reproduce on master now
but I've found another bug - https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/1052

[2019-12-11 13:21] AnastasiiaOdnoshevna commented on #1034
@sirpy

I checked it on Dev and QA environments. The issue is not reproduced.
I checked user usual behavior cases:
- send / receive G$ with QR code;
- send / receive G$ with payment links.

The feed card is performed after user receive G$ and after sending. G$ balance is changing according to made transactions.

[2019-12-11 13:35] AnastasiiaOdnoshevna commented on #995
Checked on Dev and QA environments.

Using devices:
- iPhone 7 // iOS 12.4
- Xiaome Redmi 7 // Android 9.0

Work as requirement

[2019-12-11 19:26] AlexeyKosinski opened #1054 "Send by QR should use a base64 object"
set data inside Send QR code to the same format as receive QR code
issue https://github.com/GoodDollar/GoodDAPP/issues/1026
pr https://github.com/GoodDollar/GoodDAPP/pull/1030

[2019-12-12 07:37] Nordwhale commented on #1027
@AnastasiiaOdnoshevna Please, check it again. It should be fixed after #974

[2019-12-12 08:17] AnastasiiaOdnoshevna commented on #1026
Checked on Dev, QA  environments
Work as per requirements
Devices: iPhone 8 Plus // iOS 12.4.1, Huawei P20 // Android 8.1.0

[2019-12-12 08:31] AnastasiiaOdnoshevna commented on #908
Checked on QA env.
I used existing account on https://gdweb3etoro-staging.herokuapp.com/ and newly created accounts

The user's name is displayed without delay when they navigated from W3 to Wallet.

[2019-12-12 09:01] sirpy commented on #838
@Nordwhale @AlexeyKosinski
lets hide the button
use something like https://github.com/bamlab/react-native-hide-with-keyboard
verify the "enter" button on the keyboard initiate press on the hidden button (i think we capture enter event on signup buttons)

[2019-12-12 09:03] sirpy commented on #1020
User only gets current day bonus. if he missed then he loses the bonus.
No need for customization.
yes use awarduser
@Nordwhale @yaroslav-fedyshyn-nordwhale

[2019-12-12 09:05] sirpy commented on #996
@Nordwhale @AlexeyKosinski
I was thinking more of checking the type of error/error message in listentxupdates and acting accordingly

[2019-12-12 09:41] AnastasiiaOdnoshevna commented on #1036
Not reproduced after #1034 fix.

[2019-12-12 09:41] #1036 closed

[2019-12-12 09:49] AnastasiiaOdnoshevna commented on #1032
@sirpy
According to requirements, user can used the same phone number / email if previous account' deleting was successful.
@AlexeyKosinski checked the mail testktestd@gmail.com, that we tried to use to create new account.
There is no such account in DB, what means account deleted successfully and this mail can be used again.

[2019-12-12 10:20] AnastasiiaOdnoshevna commented on #991
Checked on  QA  environment
Work as per requirements
iPhone 8 Plus // iOS 12.4.1
https://www.screencast.com/t/xUUc1zHkh

[2019-12-12 11:33] AnastasiiaOdnoshevna commented on #1037
Fixed by #1034

[2019-12-12 11:33] #1037 closed

[2019-12-12 13:57] yaroslav-fedyshyn-nordwhale commented on #1038
@AnastasiiaOdnoshevna I can't reproduce this issue on ewalelt and locally. I saw the error logs for this issue - and likely it is one more issue caused by #974 bug which is solved and deployed to gooddev, goodqa, but not to etoro server yet. So I am moving this card to QA.

[2019-12-12 14:56] yaroslav-fedyshyn-nordwhale commented on #1032
@AnastasiiaOdnoshevna are you sure about this issue? I see on the video you provided that there is showing the 'failed to send verification code' error. It is not meaning that you cannot register a user with the email which was deleted before.
I tried to create and delete wallets with the same email and mobile phone at least 3 times on ewallet/gooddev/locally. It is always allowing me to use the s

[2019-12-13 08:00] StanislavShevchenko commented on #838
@sirpy @Nordwhale @AlexeyKosinski

react-native-hide-with-keyboard does not work on the web platform.

I suggest hiding the button during focus on the input.

[2019-12-13 19:09] LiavGut opened #1058 "Sign up - Magic link: The title of the screen (on the top bar) should be "MAGIC LINK" and not "SIGN UP""
![Screen Shot 2019-12-13 at 21.05.08.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/3488ab31-25d2-41a1-8a10-7689da3527d4)

[2019-12-13 20:33] yaroslav-fedyshyn-nordwhale commented on #1020
The link to the GoodServer PR - https://github.com/GoodDollar/GoodServer/pull/131

[2019-12-15 09:05] sirpy commented on #838
ok.
please checkout current implementation that we have for keyboard on ios
(search code for "isMobileSafariKeyboardShown")
try to be DRY/refactor where needed

[2019-12-15 13:02] sirpy opened #1060 "User not receiving bonus"
Users started complaining not receiving bonuses

A bug was found in code.

[2019-12-15 13:30] sirpy commented on #1060
@Talbatz

[2019-12-16 08:54] AnastasiiaOdnoshevna commented on #974
Checked on Dev environment
Work as per requirements
V0.11.0-1
https://www.screencast.com/t/e0gmmkZlKHI

[2019-12-16 09:24] AnastasiiaOdnoshevna commented on #1027
Checked on Dev  environment
The issue is not reproduced

[2019-12-16 09:47] AnastasiiaOdnoshevna commented on #1002
Checked on QA environment
Work as per requirements

[2019-12-16 09:48] AnastasiiaOdnoshevna commented on #1038
Checked on eWallet  environment
The issue is not reproduced

[2019-12-16 13:58] sirpy opened #1063 "Marketplace url doesnt lead to item"
Something is broken and the iframe url doesnt include the item url
https://ewallet.gooddollar.org/AppNavigation/Dashboard/Marketplace/item/E659BA4EB93143A090179D4A92616256

[2019-12-16 21:45] sirpy opened #1065 "cancel payment is not immediate"
When canceling a payment via feed it takes a couple of seconds until feed is updated
Cancelling via opening the card and pressing cancel link is immediate

1. canceling via card deletes the feed event instead of marking it as cancelled
2. canceling via feed happens ontxhash which could be the reason for not being immediate