[2019-05-19 10:26] hadarbmdev opened #122 "Make Camera.web.js Native compatible"
The <Video/> tag used in Camera.web.js is not native compatible.
We need to find an equivalent tag for the video, matching react-native.
This might be helpful:
[https://www.npmjs.com/package/react-native-video
](https://www.npmjs.com/package/react-native-video
)

[2019-05-19 10:28] hadarbmdev opened #123 "Handle all error paths in Face Recognition"
Overview code paths in Face Recognition component, and verify each client and server path has a proper error handling.

[2019-05-19 10:31] hadarbmdev opened #124 "Handle proper clean up of video / zoom component when FaceReco unmounts"
If the FaceReco process is running, and the user:
-> Click back, OR
-> Disonnects camera, OR
-> Switch window / open developer tools

The process is still running but with unmounted component which generates errors. Need to handle this scenario.

[2019-05-22 08:17] hadarbmdev opened #132 "Title of application in browser is undefined"
https://ibb.co/w4FYKSW

[2019-05-22 08:18] hadarbmdev opened #133 "splash screen disappears rather fast"
Splash screen disappears before it's possible to read the full screen (on browser)

[2019-05-22 09:01] hadarbmdev opened #134 "Split multiple GoodWallet concerns into separate submodules"
** Please note: when refactoring this, it is suggested that init() method would be the top function.

The GoodDollar wallet, GoodWallet.js, currently handles multiple concerns:
"money concerns" like `Send/Receive/Claim/Withdraw/CanWithdraw`, "identity concerns" like `isCiziten/isVerified/sign (maybe)`, "Blockchain events + status handling concerns" like `gasPrice, subscribeEvents (etc)`, "link pay

[2019-05-22 11:25] hadarbmdev opened #137 "Separate GoodWallet init() function to sub-methods"
Currently the init() method is handling all concerns in a flat way, causing it to have many lines of code.
This ticket suggests to separate all contract initializations to a separate method.
[https://github.com/GoodDollar/GoodDAPP/blob/master/src/lib/wallet/GoodWallet.js](GoodWallet.js)

[2019-05-22 11:59] hadarbmdev opened #138 "SMS sender should have "GoodDollar" title and not a phone number"
[UX] Receiving the SMS code on phone should be from 'GoodDollar' and not just a plain phone number

[2019-05-22 12:03] hadarbmdev opened #139 "Email title contains {CONTACTFIELD=FIRSTNAME} token"
[see screenshot](https://ibb.co/1RL2zgg)

[2019-05-25 21:21] sirpy commented on #139
fixed

[2019-05-25 21:21] #139 closed

[2019-05-26 08:04] sirpy opened #153 "Add inbox for p2p messaging"
### Motivation
Support various use cases

* p2p messaging
* Payment requests
* Login with requests

### Details
Each user should have an inbox gun.get('inboxes').get(<user pubkey>) where everyone can write a message
There could be also a global inbox gun.get('inboxes').get('global') where everyone could post world wide messaging
A user would subscribe to updates and incomming messages would be dis

[2019-05-26 08:10] sirpy opened #154 "Replace feed index system with GunDB timegraph"
### Motivation
Use existing gundb code to simplify feed
### Details
Currently we use an elaborate system of indexes to keep user's feed events available for display.
Perhaps we could replace is by using GunDB's [timegraph](https://github.com/amark/gun/blob/master/lib/time.js)

[2019-05-27 19:32] pablofullana opened #164 "Wrong message above 'Quick Face Recognition' button"
### Description
'Create a wallet' message is shown above of 'Quick Face Recognition' button

### Steps to reproduce
1. Claim

### Supporting data
![Image 2019-05-27 at 3 47 08 PM](https://user-images.githubusercontent.com/1939415/58436576-705e6a00-809c-11e9-9fdf-f031501e17b2.png)

[2019-05-27 20:54] pablofullana opened #165 "Recovery email is not resolving {seed} variable"
### Description
Recovery email is not resolving `{seed}` variable

### Steps to reproduce
1. Register
1. Wait for email

### Supporting data
![Image 2019-05-27 at 5 52 01 PM](https://user-images.githubusercontent.com/1939415/58439001-5aef3d00-80a8-11e9-9f4c-00a4b2f0622f.png)

[2019-05-27 20:59] pablofullana commented on #165
Since it actually looks like a GoodServer issue, I'm closing this one in favor of GoodDollar/GoodServer#34

[2019-05-27 20:59] #165 closed

[2019-05-28 05:54] sirpy opened #168 "test"
### Description

### Steps to reproduce

1.
1.

### Which network did you use?

### Supporting data

[2019-05-28 05:54] sirpy commented on #168
test

[2019-05-28 05:54] #168 closed

[2019-05-28 13:36] pablofullana opened #172 "Error: Missing input for sending recovery email"
### Description
Getting and error: `Missing input for sending recovery email` when trying to resend backup email

### Steps to reproduce

1. Click side menu
1. Click 'Backup your wallet'
1. Try to send backup email

### Which network did you use?
Production: [BackupWallet](https://dapp.gooddollar.org/BackupWallet/BackupWallet)

### Supporting data
![Image 2019-05-28 at 10 31 12 AM](https://user-im

[2019-05-30 13:31] giladbr opened #177 "Change keyboard to numeric in amount to send"
Keyboard is the normal one now (using Samsung S7).

![image](https://user-images.githubusercontent.com/4030159/58636126-4608e880-82f8-11e9-9180-eb272849463f.png)

[2019-05-30 13:40] giladbr opened #178 "Got "insuffecient funds" error on claim, refreshed, got stuck on "frame your face", refreshed, everything was solved."
My flow was:
1. Opened dapp.gooddollar.org,
2. Didn't seem to have an account - clicked "create wallet"
3. Successfully onboarded with mobile number and code
4. Clicked "Claim"
5. Went to face recognition
6. Did face recognition ("Move closer", "zoom in" etc.)
7. Finished face recognition - then got the error "insuffecient funds". (see image)
8. Refreshed, then clicked after 2 secs on face recogni

[2019-05-30 13:43] giladbr opened #179 "Sent 10Gd to Amit but he says he didn't get them"
![WhatsApp Image 2019-05-30 at 16 41 36](https://user-images.githubusercontent.com/4030159/58636901-00e5b600-82fa-11e9-8961-5bcbdab9090a.jpeg)

[2019-06-11 13:06] ubiubi18 opened #205 "problems on samsung galaxy s7"
On galaxy s7 i see only parts of "terms of use" and "privacy policy" ![Screenshot_20190605-234315_Samsung Internet](https://user-images.githubusercontent.com/39676643/59274210-2a87d100-8c5a-11e9-90cf-60766d58b1c2.jpg)
![Screenshot_20190605-234457_Samsung Internet](https://user-images.githubusercontent.com/39676643/59274213-2b206780-8c5a-11e9-8794-0e4032753742.jpg)

[2019-06-21 19:51] oliver18754 opened #222 "issue with facial recognition"
### Description
trying facial recognition to claim gooddollars. I got this error message "FaceRecognition failed. Reason: Face Already Exist. Please try again".
### Steps to reproduce

1. try to verify with facial recognition first time.
1.

### Which network did you use?
not sure

### Supporting data
 no
 no

[2019-06-23 12:08] sirpy commented on #222
@oliver18754 You have never opened an account on gooddollar before?

[2019-06-23 15:24] oliver18754 commented on #222
I have an account under Alpha.

On Sunday, June 23, 2019, sirpy <notifications@github.com> wrote:

--
Thank you,<br>Ollie

[2019-06-23 18:34] sirpy commented on #222
If you are trying to open another account after you already passed face recognition once - you can't.
If you want to use your account on another device then you have to use the recover option and type in your pass phrase.

[2019-06-24 12:47] sirpy commented on #205
@ubiubi18 I've tested it on browserstack.com with galaxy s7 and couldn't reproduce.
Which browsera re you using?
can you verify it happens again?
can you also go directly to https://community.gooddollar.org/pp and see if that happens there also?

[2019-06-24 12:47] #179 closed

[2019-06-24 12:48] sirpy commented on #178
should be fixed now

[2019-06-24 12:48] #178 closed

[2019-06-24 12:48] sirpy commented on #177
for alpha2 we will have our own numpad for amounts

[2019-06-24 12:48] #177 closed

[2019-06-24 12:50] sirpy commented on #172
we had issues saving profile should be ok now

[2019-06-24 12:50] #172 closed

[2019-06-24 16:26] ubiubi18 commented on #205
Community.gooddollar.org/pp works fine for me.
within the dapp the problem is still persistent if i use "samsung internet" (internal webbrowser). When i use firefox for android, the problem vanishes.

[2019-07-05 19:49] #205 closed

[2019-07-16 12:40] qatests1001 opened #261 "2 identical emails are received after clicking the “Send backup email” button"
### Description
2 identical emails are received after clicking the “Send backup email” button

### Preconditions
* The user is logged in
* The “Backup your wallet” page is opened

### Steps to reproduce
1. Click the “Resend backup email” button
2. Check the email
3. Pay attention to the email

**Actual result:** 2 identical emails are received after clicking the “Send backup email” button

**Expec

[2019-07-16 12:42] qatests1001 opened #262 "The inactive TX item is displayed after producing no transaction on the account"
### Description
The inactive TX item is displayed after producing no transaction on the account

### Preconditions
* The user is logged in
* The user didn't do any transactions on the account

### Steps to reproduce
1. Pay attention to the “Feed” section

**Actual result:** The inactive TX item is displayed after producing no transaction on the account

**Expected result:** The "No feed" text is d

[2019-07-17 14:21] qatests1001 opened #264 "The error popup is displayed after clicking the “Let’s start!” button"
### Description
The error popup is displayed after clicking the “Let’s start!” button

### Preconditions:
* The user finished the registration
* The “Sign up” page with “Let’s start!” button is displayed

### Steps to reproduce:
1. Click the “Let’s start!” button
2. Pay attention to the page

**Actual result:** The error popup is displayed after clicking the “Let’s start!” button. User is logged i

[2019-07-18 14:16] qatests1001 opened #265 "The "Next" button becomes inactive on the "Number" page after returning from the "Verification code" page"
### Description
The "Next" button becomes inactive on the "Number" page after returning from the "Verification code" page

### Preconditions:
* The site is opened https://goodqa.netlify.com
* The user entered the correct name in the field on the "Enter name" page
* The user entered the correct number in the field on the "Number" page

### Steps to reproduce:
1. Go to the "Verification code" page
2

[2019-07-18 14:18] qatests1001 opened #266 "It is possible to continue registration on the site after entering invalid data in the verification code field"
### Description
It is possible to continue registration on the site after entering invalid data in the verification code field

### Preconditions:
* The site is opened https://goodqa.netlify.com
* The phone number verification is completed
* The “Sign up” page with “And which email address..” text is displayed

### Steps to reproduce:
1. Click the “Back” button
2. Click the “Back” button
3. Click

[2019-07-18 14:19] qatests1001 opened #267 "There is no free space between the letter "g" and "Т" on the "Let's start" page"
### Description
There is no free space between the letter "g" and "Т" on the "Let's start" page

### Preconditions:
* The site is opened https://goodqa.netlify.com
* The user entered the correct name, phone number and verification code

### Steps to reproduce:
1. Enter the correct e-mail  to the "Email" field
2. Tap the "Next" button
3. Pay attention to the text on the screen.

**Actual result:**

[2019-07-18 14:20] qatests1001 opened #268 "The “Privacy Policy” page is not swiped down after swiping down the page"
### Description
The “Privacy Policy” page is not swiped down after swiping down the page

### Preconditions:
* The site is opened https://goodqa.netlify.com/

### Steps to reproduce:
1. Click the “Privacy Policy” hyperlink
2. Swipe down the page
3. Pay attention to the page

**Actual result:** The “Privacy Policy” page is not swiped down after swiping down the page
The same with “Terms of Service”

[2019-07-18 14:21] qatests1001 opened #269 "The Navigation panel is hidden under the address bar on the “Sign up” page"
### Description
The Navigation panel is hidden under the address bar on the “Sign up” page

### Preconditions:
* The site is opened https://goodqa.netlify.com/

### Steps to reproduce:
1. Click the “Create a wallet” button
2. Pay attention to the page

**Actual result:** The Navigation panel is hidden under the address bar on the “Sign up” page
**Expected result:** The Navigation panel is displaye

[2019-07-18 14:22] qatests1001 opened #270 "The “Email” field is lined red after entering valid data"
### Description
The “Email” field is lined red after entering valid data

### Preconditions:
* The site is opened https://goodqa.netlify.com/
* The phone number verification is completed
* The “Sign up” page with “And which email address..” text is displayed

### Steps to reproduce:
1. Enter valid data in the field, for example: test.mail8130@gmail.com
2. Pay attention to the field

**Actual resul

[2019-07-18 14:23] qatests1001 opened #271 "It is impossible to register on the site after entering the valid data in the "Email" field"
### Description
It is impossible to register on the site after entering the valid data in the "Email" field

### Preconditions:
* The site is opened https://goodqa.netlify.com/
* The phone number verification is completed
* The “Sign up” page with “And which email address..” text is displayed

### Steps to reproduce:
1. Enter valid data in the field, for example: test.mail8130@gmail.com
2. Tap the

[2019-07-18 19:12] sirpy commented on #270
this is a design issue, will add to list of fixes

[2019-07-18 19:12] #270 closed

[2019-07-18 19:31] sirpy commented on #268
@dariominones can you check if you can recreate this on iphone?

[2019-07-18 19:32] sirpy commented on #269
@dariominones can you recreate this on iphone?

[2019-07-18 19:40] sirpy commented on #267
added to design issues

[2019-07-18 19:40] #267 closed

[2019-07-18 19:46] sirpy commented on #266
@qatests1001 this doesnt seem like a bug to me. If user already verified his phone there's no need to require any code at all. maybe we can hide this page once phone is validated. only if he changes his phone number should we require a new valid code

[2019-07-18 19:49] #262 closed

[2019-07-18 19:50] sirpy commented on #262
this is expected behaviour

[2019-07-18 19:54] sirpy commented on #261
@qatests1001 this is not a bug, one "backup" email is sent once you register i'm guessing this is the email you thought was double.

[2019-07-18 19:54] #261 closed

[2019-07-18 19:55] #222 closed

[2019-07-18 19:55] sirpy commented on #164
fixed in new face verification flow

[2019-07-18 19:55] #164 closed

[2019-07-18 19:57] sirpy commented on #132
fixed

[2019-07-18 19:57] #132 closed

[2019-07-18 19:57] sirpy commented on #124
fixed

[2019-07-18 19:57] #124 closed

[2019-07-18 19:57] #123 closed

[2019-07-18 19:58] sirpy commented on #122
will need to use zoomsdk

[2019-07-18 19:58] #122 closed

[2019-07-19 07:02] qatests1001 opened #273 "The “Error” popup is displayed after entering the valid mnemonic"
### Description
The “Error” popup is displayed after entering the valid mnemonic. Not a bug on the desktop

### Preconditions:
* The site is opened

### Steps to reproduce:
1. Click the “Already have a wallet?” button
2. Enter the mnemonic from the email
3. Click the “RECOVER MY WALLET” button

**Actual result:** The “Error” popup is displayed after entering the valid mnemonic. Not a bug on the de

[2019-07-19 07:20] qatests1001 opened #274 "The "Error recovering account undefined is not an object (evaluating 'n.length')" error is displayed after entering inactive mnemonic from the email"
### Description
The "Error recovering account undefined is not an object (evaluating 'n.length')" error is displayed after entering inactive mnemonic from the email

### Preconditions:
* The site is opened https://goodqa.netlify.com
* The valid mnemonic is received
* The account is deleted
* "Recover Wallet" page is opened

### Steps to reproduce:
1. The valid mnemonic is received
2. Click the "RE

[2019-07-19 15:41] #273 closed

[2019-07-19 18:28] dminones commented on #273
@qatests1001 this was fixed and deployed to https://goodqa.netlify.com.

[2019-07-19 18:29] dminones commented on #271
I wasnt able to reproduce.
This is a video doing the same steps that are shown in the bug but it works for me.

Perhaps this was fixed or was a server problem in a specific case. @qatests1001 could you please try again?

https://www.pivotaltracker.com/file_attachments/98279633/download?inline=true

[2019-07-19 20:24] dminones commented on #269
@sirpy yes! Its the same in my iphone

[2019-07-19 20:25] dminones commented on #268
@sirpy yes! Its the same in my iphone

[2019-07-22 07:42] qatests1001 commented on #271
Checked on https://goodqa.netlify.com
Fixed

[2019-07-22 07:44] qatests1001 commented on #271
Checked on https://goodqa.netlify.com
Fixed

[2019-07-22 07:44] #271 closed

[2019-07-22 08:02] qatests1001 opened #282 "The same email address can be used for different accounts during registration"
### Description
The same email address can be used for different accounts during registration

### Preconditions:
* The site is opened https://goodqa.netlify.com/
* The phone number verification is completed
* The “Sign up” page with “And which email address..” text is displayed

### Steps to reproduce:
1. Enter valid data in the field, for example: test.mail8130@gmail.com
2. Tap the "Let's start"

[2019-07-22 11:55] qatests1001 opened #283 "The "Home" page is opened in the Safari browser after copying the "FR" link in the Chrome browser"
### Description
The "Home" page is opened in the Safari browser after copying the "FR" link in the Chrome browser

### Preconditions:
* The user is logged in in the chrome browser
* The user didn't use "Claim" transaction on the account
* The “Claim” page is opened

### Steps to reproduce:
1. Click the “CLAIM YOUR SHARE - 8.59 G$” button
2. Click the "OK, VERIFY ME" button
3. Click the "Copy Link"

[2019-07-22 11:56] qatests1001 opened #284 "The TX item isn't deleted on the "Feed" section after left swiping the TX item and tapping the "Delete" button"
### Description
The TX item isn't deleted on the "Feed" section after left swiping the TX item and tapping the "Delete" button

### Preconditions:
* The user is logged in
* The user didn't use "Claim" transaction on the account
* The “Claim” page is opened

### Steps to reproduce:
1. Click the “CLAIM YOUR SHARE - 8.59 G$” button
2. Click the "OK, VERIFY ME" button
3. Use the face for FR
4. Pay att

[2019-07-22 12:04] qatests1001 opened #285 "The email is absent in the "Email" line on the "Profile" page"
### Description
The email is absent in the "Email" line on the "Profile" page

### Preconditions:
* The user is logged in
* The "Profile" page is opened

### Steps to reproduce:
1. Pay attention below the full name

**Actual result:** The email is absent in the "Email" line on the "Profile" page. Happens in 1/3 cases
**Expected result:** The email is displayed in the "Email" line on the "Profile"

[2019-07-22 12:05] qatests1001 opened #286 "The endless spinner is displayed after clicking the "Save" button"
### Description
The endless spinner is displayed after clicking the "Save" button

### Preconditions:
* The user is logged in
* The "Username" field is filled
* The "Edit Profile" page is opened

### Steps to reproduce:
1. Delete the data from the "Username" field
2. Click the "Save" button

**Actual result:** The endless spinner is displayed after clicking the "Save" button

**Expected result:**

[2019-07-22 12:06] qatests1001 opened #287 "Letters in the "Username" field appear on the user's name during the entering the letters in the "Username" field."
### Description
Letters in the "Username" field appear on the user's name during the entering the letters in the "Username" field.

### Preconditions:
* The user is logged in
* The "Edit Profile" page is opened

### Steps to reproduce:
1. Tap to the "Choose a Username" field
2. Enter the valid data in the “Username” field.
3. Pay attention to the screen.

**Actual result:** Letters in the "Usernam

[2019-07-22 12:07] qatests1001 opened #288 ""11" and "12" fields are overlapped below on the "Recover" page"
### Description
"11" and "12" fields are overlapped below on the "Recover" page

### Steps to reproduce:
1. Open the site
2. Click the "Already have a wallet?" button
3. Pay attention to the page

**Actual result:** "11" and "12" fields are overlapped below on the "Recover" page

**Expected result:** "11" and "12" fields are not overlapped below on the "Recover" page

### Supporting data
Env https

[2019-07-22 12:08] qatests1001 opened #289 "The vertical scroll is displayed after clicking the "TX" item"
### Description
The vertical scroll is displayed after clicking the "TX" item

### Preconditions:
* The user is logged in
* The user used "Claim" transaction on the account

### Steps to reproduce:
1. Click the "TX" item
2. Swipe down
3. Pay attention to the page

**Actual result:** The vertical scroll is displayed after clicking the "TX" item

**Expected result:** The vertical scroll is absent af

[2019-07-22 12:10] qatests1001 opened #290 "The keyboard overlaps the "Email" field on the "Edit Profile" after taping to the "Email" field."
### Description
The keyboard overlaps the "Email" field on the "Edit Profile" after taping to the "Email" field.

### Preconditions:
* The user is logged in
* The "Edit Profile" page is opened

### Steps to reproduce:
1. Tap to the "Email" field.
2. Pay attention to the "Email" field.

**Actual result:** The keyboard overlaps the "Email" field on the "Edit Profile" after taping to the "Email" fiel

[2019-07-23 11:07] qatests1001 opened #294 "The error popup is displayed on the "Sign up" page after clicking the “Next” button"
### Description
The error popup is displayed on the "Sign up" page after clicking the “Next” button

### Preconditions:
* The site is opened https://goodqa.netlify.com/
* The phone number verification is completed
* The “Sign up” page with “And which email address..” text is displayed

### Steps to reproduce:
1. Enter valid data in the field, for example: phoebe8lost@gmail.com
2. Tap the "Next" bu

[2019-07-23 11:18] qatests1001 opened #295 "The “Error” popup is displayed after entering the valid mnemonic"
### Description
The “Error” popup is displayed after entering the valid mnemonic

### Preconditions:
* The site is opened

### Steps to reproduce:
1. Click the “Already have a wallet?” button
2. Enter the mnemonic from the email:
mnemonic: hair cake region defense purchase paddle roof phone viable crack soon spot
email: test.mail8130@gmail.com
3. Click the “RECOVER MY WALLET” button

**Actual resu

[2019-07-23 11:31] qatests1001 opened #296 "The text can’t be deleted after entering the “;” character and tapping backspace"
### Description
The text can’t be deleted after entering the “;” character and tapping backspace

### Preconditions:
* The site is opened https://goodqa.netlify.com/
* The phone number is entered
* The “Sign up” page with “Enter Verification Phone..” text is displayed

### Steps to reproduce:
1. Enter the text: 12;7
2. Tap the “Backspace” button
2. Pay attention to the screen

**Actual result:** T

[2019-07-23 11:39] qatests1001 opened #297 "The “Oops there is a wrong numb” error is displayed on the “Verification phone” page after opening the “Verification phone” page"
### Description
The “Oops there is a wrong numb” error is displayed on the “Verification phone” page after opening the “Verification phone” page

### Preconditions:
* The site is opened https://goodqa.netlify.com/
* The phone number is entered

### Steps to reproduce:
1. Click the “Next” button
2. Pay attention to the page

**Actual result:** The “Oops there is a wrong numb” error is displayed on

[2019-07-23 11:55] qatests1001 opened #298 "The page is swiped up and down after entering the data in the field on the “phone number verification” page"
### Description
The page is swiped up and down after entering the data in the field on the “phone number verification” page

### Preconditions:
* The site is opened https://goodqa.netlify.com/
* The phone number is entered
* * The “phone number verification” page is opened

### Steps to reproduce:
1. Enter the text: 11111
2. Pay attention to the screen

**Actual result:** The page is swiped up and

[2019-07-23 15:52] sirpy commented on #296
@kbardi this bug happens on web also when typing "."
can we prevent non numerics?

[2019-07-23 15:54] sirpy commented on #297
fixed in #300

[2019-07-23 15:54] #297 closed

[2019-07-23 15:55] sirpy commented on #294
fixed in #300

[2019-07-24 08:53] qatests1001 opened #302 "The “Backspace” button is absent on the digit keyboard after entering the data in the “HOW MUCH” field"
### Description
The “Backspace” button is absent on the digit keyboard after entering the data in the “HOW MUCH” field

### Preconditions:
* The user is logged in
* The “Receive” page is opened with “HOW MUCH” text

### Steps to reproduce:
1. Click the “1” on the digit keyboard
2. Pay attention to the digit keyboard

**Actual result:** The “Backspace” button is absent on the digit keyboard after e

[2019-07-24 08:54] qatests1001 opened #303 "The white screen is displayed after scanning the receive QR code"
### Description
The white screen is displayed after scanning the receive QR code

### Preconditions:
* The user is logged in
* The “Receive” page is opened with another user on another device

### Steps to reproduce:
1. Click the “Send” button
2. Click the “Scan QR code” button
3. Try to scan a QR code from another device
4. Pay attention to the page

**Actual result:** The white screen is display

[2019-07-24 12:08] sirpy commented on #266
https://www.pivotaltracker.com/story/show/167485222

[2019-07-24 12:08] #266 closed

[2019-07-24 12:23] sirpy commented on #269
https://stackoverflow.com/a/38621037
@dariominones what do you think?

[2019-07-24 12:24] sirpy commented on #274
@qatests1001 this should have been fixed, can you confirm?

[2019-07-24 12:30] sirpy commented on #282
@qatests1001 please retest

[2019-07-24 12:46] sirpy commented on #284
you shouldn't be able to delete txes
though the delete button should not be shown for txs

[2019-07-24 19:06] sirpy commented on #289
https://www.pivotaltracker.com/story/show/166106974

[2019-07-24 19:07] sirpy commented on #286
@fernandomg can you confirm this bug? if so add the "bug" label

[2019-07-24 19:09] sirpy commented on #287
@fernandomg can you confirm this?

[2019-07-24 19:12] sirpy commented on #290
duplicate of #287

[2019-07-24 19:12] #290 closed

[2019-07-24 20:06] sirpy commented on #295
was able to reproduce once, but not again.
somehow the gundb username with same mnemonic came out different so it doesnt find the username
couldn't reproduce it after that first time.
@dariominones @kbardi @fernandomg can you try to reproduce this?

[2019-07-24 20:14] sirpy commented on #298
@dariominones we would need to add the scrollTo(0,0) hack on iphone on all inputs to solve this?

[2019-07-24 20:16] sirpy commented on #302
@dariominones this should be solve by the flex layout we discussed with max-height so it doesnt look strange on large devices

[2019-07-24 20:52] sirpy commented on #303
https://www.pivotaltracker.com/story/show/167500293

[2019-07-24 20:55] sirpy commented on #288
@dariominones is this also fixed by your layout fix?

[2019-07-24 21:00] sirpy commented on #265
@qatests1001 should be fixed

[2019-07-24 21:01] sirpy commented on #264
This seems like gundb issue, hopefull will be solved here
#166525079

[2019-07-24 21:02] #133 closed

[2019-07-25 08:49] qatests1001 opened #308 "It is impossible to register on the site after entering the valid phone number in the "Phone" field"
**Description**
It is impossible to register on the site after entering the valid phone number in the "Phone" field

**Preconditions:**
* The site is opened https://goodqa.netlify.com/
* The phone number verification page is opened

 **Steps to reproduce:**
1. Enter valid data in the "Phone" field.
2. Tap the "Next" button
2. Pay attention to the screen

**Actual result:** The error popup is displ

[2019-07-25 08:53] qatests1001 commented on #265
Cant test. The ticket will be retested when blocker will be fixed - https://github.com/GoodDollar/GoodDAPP/issues/308

[2019-07-25 08:55] qatests1001 commented on #282
Cant test. The ticket will be retested when blocker will be fixed - #308

[2019-07-25 09:27] qatests1001 commented on #274
Tested on https://goodqa.netlify.com
 iPhone 6 Plus 10.3.2, Safari.  - http://prntscr.com/ojt93o

[2019-07-25 19:05] dminones commented on #298
Solved in this [PR](https://github.com/GoodDollar/GoodDAPP/pull/304) will close when merged

![IMG_2878](https://user-images.githubusercontent.com/1731297/61901337-eb55cc80-aef5-11e9-9a23-e618ab24a3bb.PNG)
![IMG_2877](https://user-images.githubusercontent.com/1731297/61901340-ebee6300-aef5-11e9-90d9-d9212917641b.PNG)

[2019-07-25 19:05] dminones commented on #302
Solved in this [PR](https://github.com/GoodDollar/GoodDAPP/pull/304) will close when merged

![IMG_2878](https://user-images.githubusercontent.com/1731297/61901337-eb55cc80-aef5-11e9-9a23-e618ab24a3bb.PNG)
![IMG_2877](https://user-images.githubusercontent.com/1731297/61901340-ebee6300-aef5-11e9-90d9-d9212917641b.PNG)

[2019-07-25 19:07] dminones commented on #288
Solved in this [PR](https://github.com/GoodDollar/GoodDAPP/pull/304) will close when merged

![IMG_2874](https://user-images.githubusercontent.com/1731297/61901491-4687bf00-aef6-11e9-8f64-9b081d0c7124.PNG)

[2019-07-25 19:11] dminones commented on #298
@sirpy most of our input are using the same TextInput so the change is going to take effect almost evertywhere. This case is not so we would need to add it. Anyway with kevin changes there is no up and down, it just goes up once

[2019-07-25 19:21] dminones commented on #269
Solved in this [PR](https://github.com/GoodDollar/GoodDAPP/pull/304) will close when merged

![IMG_2879](https://user-images.githubusercontent.com/1731297/61902339-2fe26780-aef8-11e9-946b-7caf519907d7.PNG)

[2019-07-26 20:13] kbardi commented on #289
It's fixed in the PR https://github.com/GoodDollar/GoodDAPP/pull/311, waiting for merge

[2019-07-28 06:22] sirpy commented on #298
@dariominones so do we consider this fixed?

[2019-07-28 06:24] sirpy commented on #303
fixed in https://github.com/GoodDollar/GoodDAPP/pull/313

[2019-07-28 07:56] sirpy commented on #286
https://www.pivotaltracker.com/story/show/167246391

[2019-07-28 07:59] sirpy commented on #283
@qatests1001 this is not a bug, but in it is a useful feature

[2019-07-29 15:36] fernandomg commented on #286
Yes, confirmed. After deleting the username, saving leads to an infinite 'saving' state. No errors, no username saved either.

[2019-07-30 20:35] dminones commented on #298
Yes, I think so. This is a video using [kevin's PR code](https://github.com/GoodDollar/GoodDAPP/pulls)

![otl](https://user-images.githubusercontent.com/1731297/62163287-6fda8d80-b2f0-11e9-9315-8be234a6b3d0.gif)

[2019-07-30 21:29] dminones commented on #283
fixed in[ this PR](https://github.com/GoodDollar/GoodDAPP/pull/320)

[2019-07-31 07:36] qatests1001 commented on #303
Checked on https://goodqa.netlify.com/
iPhone6 12.3.1, Safari
Works as expected
https://www.screencast.com/t/VICAmQrbS

[2019-07-31 07:37] qatests1001 commented on #303
Checked on https://goodqa.netlify.com/
iPhone6 12.3.1, Safari
Works as expected
https://www.screencast.com/t/VICAmQrbS

[2019-07-31 07:37] #303 closed

[2019-07-31 07:44] qatests1001 commented on #302
Checked on https://goodqa.netlify.com/
iPhone6 12.3.1, Safari
Fixed
https://www.screencast.com/t/8Y8sclJL

[2019-07-31 07:44] #302 closed

[2019-07-31 08:02] qatests1001 commented on #269
Checked on https://goodqa.netlify.com
iPhone6 12.3.1, Safari
Still reproduced
https://www.screencast.com/t/wt1zQE92pD2C
https://www.screencast.com/t/HyQSHldKKn

[2019-07-31 08:14] qatests1001 opened #323 "The Keyboard is displayed after entering the data in the "Verification Code" field"
### Description
The Keyboard is displayed after entering the data in the "Verification Code" field

### Preconditions
* The site is opened https://goodqa.netlify.com/
* The phone number is entered
* The “phone number verification” page is opened

### Steps to reproduce:
1. Tap the field
2. Pay attention to the screen

**Actual result:** The Keyboard is displayed after entering the data in the "Ver

[2019-07-31 08:15] qatests1001 commented on #298
Checked on https://goodqa.netlify.com
iPhone6 12.3.1, Safari
https://www.screencast.com/t/RbIMBdeC5l
Is it ok that the screen moves a little anyway? in @dminones video it moves a little too
Thanks
There is an issue https://github.com/GoodDollar/GoodDAPP/issues/323

[2019-07-31 08:21] sirpy commented on #298
@qatests1001 I think its ok for now, #323 is solved right? now it shows the digit keyboard
@dariominones the bar is still being hidden, aren't we scrolling to 0,0?
whats the expected behaviour on iphone?

[2019-07-31 08:40] qatests1001 commented on #295
Checked on https://goodqa.netlify.com/
iPhone6 12.3.1, Safari
It still reproduced differently
https://www.screencast.com/t/u9PRHloP2
https://www.screencast.com/t/HjgfVah4Bxf
https://www.screencast.com/t/MhTYWiF4

[2019-07-31 08:42] sirpy commented on #269
@dariominones https://www.pivotaltracker.com/story/show/167615611

[2019-07-31 08:49] sirpy commented on #295
@qatests1001
hmm can't really reproduce it
had no problem restoring
artefact inform asset swim music room kingdom noise pill width length raw

can you try to give exact steps on how to get an error?

[2019-07-31 08:58] qatests1001 commented on #295
@sirpy Reproduced after tapping more than 1 time on the "Recover" button
There was no "Loading" on the top of the screen - tapped twice on videos above
https://www.screencast.com/t/kAlx4hDTkGbn

[2019-07-31 09:56] sirpy commented on #295
ok this makes  sense, yes we need to disable the button.

[2019-07-31 10:07] qatests1001 commented on #287
Tested on https://goodqa.netlify.com
Samsung Galaxy S8 // Android 8.0 (Google Chrome 75)
The bug is not reproduced - https://www.screencast.com/t/4NW5Lr6PPR9p

[2019-07-31 10:07] #287 closed

[2019-07-31 11:00] qatests1001 commented on #268
Checked on https://goodqa.netlify.com/
iPhone6 12.3.1, Safari
Fixed
https://www.screencast.com/t/MqFAmmPbHCkj

[2019-07-31 11:00] #268 closed

[2019-07-31 11:05] qatests1001 opened #324 "Iphone Toolbar overlaps buttons"
### Description
- [x] Recover button
- [x] Claim button - fixed partially
- [x] OK when TX modal is opened
- [ ] Amount screen buttons
### Preconditions:
* The user is logged in
* The user used "Claim" transaction on the account

### Steps to reproduce:
1. Click the "TX" item
2. Pay attention to the page

**Actual result:** The "OK" button is overlayed by Toolbar

Expected result: The "OK" button

[2019-07-31 11:06] qatests1001 commented on #289
Checked on https://goodqa.netlify.com/
iPhone6 12.3.1, Safari
Fixed
https://www.screencast.com/t/uUOtjfPQ
There is an issue https://github.com/GoodDollar/GoodDAPP/issues/324

[2019-07-31 11:06] #289 closed

[2019-07-31 11:13] qatests1001 commented on #288
Checked on https://goodqa.netlify.com
iPhone6 12.3.1, Safari
The "Recover My Wallet" button is overlapped by Toolbar for now, is it ok?
https://www.screencast.com/t/0JqoaphKMe

[2019-07-31 11:23] qatests1001 commented on #265
Checked on https://goodqa.netlify.com
iPhone6 12.3.1, Safari
Fixed
https://www.screencast.com/t/YLMdrfVBMCz

[2019-07-31 11:23] #265 closed

[2019-07-31 11:25] qatests1001 commented on #323
Checked on https://goodqa.netlify.com
iPhone6 12.3.1, Safari
Fixed
https://www.screencast.com/t/dftN1iLO

[2019-07-31 11:25] #323 closed

[2019-07-31 11:27] qatests1001 commented on #298
The #323 is solved
Checked on https://goodqa.netlify.com
iPhone6 12.3.1, Safari
Fixed and closed according to the comment above
https://www.screencast.com/t/dftN1iLO

[2019-07-31 11:27] #298 closed

[2019-07-31 11:32] qatests1001 commented on #274
Checked on https://goodqa.netlify.com
iPhone6 12.3.1, Safari
Fixed
https://www.screencast.com/t/NKruJihT4

[2019-07-31 11:32] #274 closed

[2019-07-31 11:41] qatests1001 commented on #282
Checked on https://goodqa.netlify.com
iPhone6 12.3.1, Safari
Reproduced
Fist acc https://www.screencast.com/t/TOtlnc94JXEg
Registration of 2nd acc
https://www.screencast.com/t/TOtlnc94JXEg
The profile of 2nd acc
https://www.screencast.com/t/MAGkPkxD

[2019-07-31 11:49] qatests1001 commented on #294
Checked on https://goodqa.netlify.com
iPhone6 12.3.1, Safari
Works as expected
https://www.screencast.com/t/cKauITkfJq4T

[2019-07-31 11:49] #294 closed

[2019-07-31 12:00] sirpy commented on #282
@qatests1001 can you explain how you produce this?
are you able to quickly open another account with same email?
i've just tried to open an account with your email and I got an error and wasn't able to proceed
or you are simply changing your profile email? if you just change your profile email thats ok there's currently no checking on email changed in profile

[2019-07-31 12:08] sirpy commented on #288
added to design rejects story

[2019-07-31 12:10] qatests1001 commented on #282
1st account was created on PC
2nd account was created in a few hours with the same email
Didn't change profile email
The bug is reproduced not every time

[2019-07-31 12:11] sirpy commented on #324
see also https://github.com/GoodDollar/GoodDAPP/issues/288
added to design rejects

[2019-07-31 12:16] qatests1001 commented on #308
Checked on https://goodqa.netlify.com
iPhone6 12.3.1, Safari
Fixed
https://www.screencast.com/t/8qiGh5k5n3xz

[2019-07-31 12:16] #308 closed

[2019-08-01 12:12] sirpy commented on #286
#326

[2019-08-01 13:47] dminones commented on #288
@sirpy what would be the expected behavior here? Is this because we want that screen to be shown without scrolling?
Input sizes and min margins between them, as well as font sizes, seem to be matching the designs. The reason because is scrolling in this device and it fits in the designs is that the actual phone has a navbar and a bottombar (and the designs has not) which means that in order to mak

[2019-08-01 14:08] sirpy commented on #288
ok. we leave it at the moment

[2019-08-01 17:53] gabitoesmiapodo opened #332 "(Fix) Pop-up: The background should be brightened and blurred."
### Description
When opening a _pop-op_ or modal window, background contents should look blurred, as in https://xd.adobe.com/spec/fb6d4d7e-dd16-44e1-4bf3-1df4afd50d5c-8d5c/screen/e37420bb-533b-4567-a535-de7f2e5c31cb/Claim-2

Side menu is currently doing this by applying some CSS filter when opened in `src/components/appNavigation/stackNavigation.web.js`

As you can see, this only will work on web

[2019-08-01 21:01] #286 closed

[2019-08-02 14:16] AndrewLebowski opened #337 "Error after clicking "Resend backup email" at "Backup Your Wallet" section"
### Description
Error message after trying to backup wallet

### Steps to reproduce
1. Login in
2. Open "Backup your wallet" section
3. Click "Resend backup email"

### Supporting data
![2019-08-02_16-42-45](https://user-images.githubusercontent.com/47723945/62376443-4e281300-b549-11e9-9a1e-4b15259d1dc7.png)

[2019-08-04 11:08] sirpy commented on #332
@gabitoesmiapodo that's already possible via SimpleStore. one of the props of AppView (ie stacknavigation) is the "store".
When a dialog is opened the store currentScreen.dialogData.visibile is set to true. so you can use same blur strategy for dialog as for sidemenu.

@fernandomg can you help with implementation?

[2019-08-04 20:24] sirpy commented on #288
closed as dup of https://github.com/GoodDollar/GoodDAPP/issues/324

[2019-08-04 20:24] #288 closed

[2019-08-04 20:25] sirpy commented on #337
#167692869

[2019-08-04 20:36] sirpy commented on #269
on iphone its ok that the screen scrolls to focus on text.

[2019-08-04 20:36] #269 closed

[2019-08-04 20:39] sirpy commented on #285
@qatests1001 might have been fixed in latest profile edit fixes

[2019-08-05 07:53] qatests1001 commented on #296
Checked on https://goodqa.netlify.com
Looks as expected
https://www.screencast.com/t/FO8cE5B8SPIU

[2019-08-05 07:53] #296 closed

[2019-08-05 07:58] qatests1001 commented on #295
Checked on https://goodqa.netlify.com
Still reproduced after double-tapping
https://www.screencast.com/t/tWySVab1

[2019-08-05 08:12] qatests1001 commented on #285
Checked on https://goodqa.netlify.com/
Reproduced
https://www.screencast.com/t/Sj3bRjNcKHa

[2019-08-05 08:18] qatests1001 commented on #337
Checked on https://goodqa.netlify.com/
Fixed
https://www.screencast.com/t/m3LxR0oIYwcm

[2019-08-05 08:22] #337 closed

[2019-08-05 08:32] qatests1001 commented on #283
Checked on https://goodqa.netlify.com/
Closed according to the comment above
https://www.screencast.com/t/0DOBJZ7tkR81

[2019-08-05 08:32] #283 closed

[2019-08-05 08:42] qatests1001 commented on #282
Checked on https://goodqa.netlify.com/
Fixed
https://www.screencast.com/t/XdDql1PZ

[2019-08-05 08:42] #282 closed

[2019-08-05 09:41] qatests1001 opened #341 "The “Error” popup is displayed after entering valid data and clicking the “Save” button on the "Edit Profile" page. For "email" and "phone numer" fields"
### Description
 The “Error” popup is displayed after entering valid data and clicking the “Save” button on the "Edit Profile" page. For "email" and "phone number" fields

### Preconditions:
* The user is logged in
* The "Edit Profile" page is opened

### Steps to reproduce:
1. Delete the email address
2. Enter the valid email address, for example: test.mail8130+9@gmail.com
3. Click the “Save” but

[2019-08-05 09:48] qatests1001 opened #342 "The “Error” popup is displayed after entering valid data in the "Username" field and clicking the “Save” button on the "Edit Profile" page"
### Description
The “Error” popup is displayed after entering valid data in the "Username" field and clicking the “Save” button on the "Edit Profile" page

### Preconditions:
* The user is logged in
* The "Edit Profile" page is opened

### Steps to reproduce:
1. Enter data in the "Username" field, for example: Forfor
3. Click the “Save” button
4. Pay attention to the page

**Actual result:** The “

[2019-08-05 10:27] sirpy commented on #341
@qatests1001 can you reproduce it and also attach the console logs?

[2019-08-05 10:51] qatests1001 commented on #341
Sure, @sirpy
Reproduced
https://www.screencast.com/t/10R8COuM

[2019-08-05 11:27] gabitoesmiapodo commented on #332
@sirpy

Thank you. I think @dariominones is working on this.

[2019-08-05 11:30] sirpy commented on #342
closed as dup of #341

[2019-08-05 11:30] #342 closed

[2019-08-05 11:32] sirpy commented on #295
#330 fixed here wasn't merged yet.
should be ready for tomorrow

[2019-08-05 11:32] sirpy commented on #285
#343 fixed here

[2019-08-05 11:48] fernandomg commented on #332
Indeed, this got messed up as Darío took the PT story and I forgot to about this issue. I'm assigning it to him.

Anyway, @dariominones, anything you need I'll be more than pleased to help.

[2019-08-05 12:25] fernandomg commented on #341
@sirpy, @qatests1001 I'm trying to reproduce this locally and had no luck.

@qatests1001, this happens all the time? With a brand new account? With a recovered account?

@sirpy, can it be an environment issue?

[2019-08-05 20:48] dminones commented on #332
@sirpy pr raised. https://github.com/GoodDollar/GoodDAPP/pull/344

[2019-08-06 06:58] qatests1001 commented on #341
@fernandomg
tested on the new account

[2019-08-06 09:45] AndrewLebowski commented on #341
@fernandomg ,@sirpy
I guess you should check better how and where you keep user data in your db. Probably mistake occures when it tries to get access to this data (Wallet Recover page does not work coz cannot find user email).
P.S. i use account which was created before last update

[2019-08-06 12:46] AlexeyKosinski opened #346 "Face recognition. fast clicks on instruction screen"
### Description
if You try check face. You camera need time for initialization. but if u click “ok” for all instructions very fast and camera is not initialized yet. you will have this error

![image](https://user-images.githubusercontent.com/36693645/62540603-47a2df80-b858-11e9-863f-d73eeec97542.png)

### Steps to reproduce
1. try check face
2. click “ok” for all instructions very fast while came

[2019-08-06 14:18] AndrewLebowski opened #349 "Cypress can't find displayed element"
### Description
React decoder error.
Error may not occur but almost often i get it

### Steps to reproduce
Im trying to click on Edit Profile button from Profile page using Cypress but it does not work. I folowed by link that was in Cypress console error https://reactjs.org/docs/error-decoder.html/?invariant=31&args[]=object%20with%20keys%20%7Bct%2C%20iv%2C%20s%7D& .
I tried to get access it with

[2019-08-06 16:57] kbardi commented on #284
Hey, this issue has been fixed on PR #333

[2019-08-06 16:57] #284 closed

[2019-08-07 06:49] AndrewLebowski opened #352 "Money transaction links"
### Motivation
Add money transaction links directly on the page instead of keeping it into clipboard. It is need to have ability to test your project more easily. Some test frameforks are not able to interact with clipboard with build in methods so need to use a lot of other instable code (and it does not assure you that it will work). So i think it would be better if these links would appear on p

[2019-08-07 07:29] sirpy commented on #352
i've added data-gdtype='copybutton' and data-url='<data to copy>' attributes so you should be able to easily get the button and the url
the data-url is set only after clicking on the copy button first
see commit: 110e5aa770afee14958af8361dec14b5e216412e
@AndrewLebowski  please close issue once it works

[2019-08-07 09:24] sirpy commented on #349
should be fixed once #345 is merged

[2019-08-07 09:30] #332 closed

[2019-08-07 09:38] #341 closed

[2019-08-07 10:15] #352 closed

[2019-08-07 10:15] AndrewLebowski commented on #352
Checked

[2019-08-07 10:16] #349 closed

[2019-08-07 10:19] sirpy commented on #324
@qatests1001 this currently the expected behaviour for iphone

[2019-08-07 11:28] qatests1001 commented on #295
Checked on https://goodqa.netlify.com/
Fixed
https://www.screencast.com/t/hjDoibxTtbW

[2019-08-07 11:40] qatests1001 commented on #264
Checked on https://goodqa.netlify.com/
Works as expected
https://www.screencast.com/t/nvYpEJEPJnkY

[2019-08-07 11:40] #264 closed

[2019-08-07 11:45] qatests1001 commented on #285
Checked on https://goodqa.netlify.com/
Fixed
https://www.screencast.com/t/t6f3Fivo

[2019-08-07 11:45] #285 closed

[2019-08-07 11:58] qatests1001 opened #353 "The numerical keyboard is not displayed on the "Verification phone" page"
### Description
The numerical keyboard is not displayed on the "Verification phone" page

### Preconditions:
* The site is opened
* The "Create a Wallet" button is clicked
* The "Verification phone" page is opened

### Steps to reproduce
1. Click the field
2. Pay attention to the page

Actual result: The numerical keyboard is not displayed on the "Verification phone" page

Expected result: The num

[2019-08-07 12:13] qatests1001 opened #354 "The "Error" popup is displayed after clicking the "Resend backup email" button on the "Backup your wallet" page"
### Description
The "Error" popup is displayed after clicking the "Resend backup email" button on the "Backup your wallet" page

### Preconditions:
The user is logged in
The "Backup your wallet" page is opened

### Steps to reproduce
1. Click the "Resend backup email" button
2. Pay attention to the page

**Actual result:** The "Error" popup is displayed after clicking the "Resend backup email" but

[2019-08-07 12:27] sirpy commented on #354
@qatests1001 the bug has been fixed for new accounts. for old accounts you might still encounter it.

[2019-08-07 12:54] qatests1001 commented on #354
Tested in new account
The bug is not reproduced - https://www.screencast.com/t/YbgAZCxoIp

[2019-08-07 12:54] #354 closed

[2019-08-07 14:56] AndrewLebowski opened #355 "Money sending error"
### Description
Error appears when trying to receive payment from another acc

### Steps to reproduce
1. Login in First Account
2. Make sending transaction and get link
3. Login in Second Account
4. Open url link that you got

### Supporting data
First Account:
hollow edit hobby path cup pave flower shuffle build quiz abstract pink

Second Account:
eight express gas sunny guilt black charge music

[2019-08-07 16:38] dminones commented on #355
@AndrewLebowski I've just tested with the very same accounts and it worked.
Could this be a timing issue? If you copy and paste too quickly the link this link may not exist yet.
Please let me know if you can try again and see this working and/or reproduce the error with this new information.

[2019-08-08 07:49] AndrewLebowski commented on #355
@dminones i tried today with same conditions as yesterday and it works. I put some timers as you adviced and it works also good as without them. Anyway i don't catch this mistake now

[2019-08-08 07:49] #355 closed

[2019-08-08 12:20] qatests1001 opened #360 "The "Validation identity" error is displayed after using FV function"
### Description

### Preconditions
The user is logged in at first

### Steps to reproduce
1. Click the "CLAIM" button
2. Click the "CLAIM YOUR SHARE" button
3. Click the "Face Liveness Test" button
4. Use FV function
5. Pay attention to the "Face Verification" page

Actual result: The "Validation identity" error is displayed after using FV function

Expected result: The "Validation identity" error

[2019-08-08 16:13] sirpy commented on #360
Did you try again? If so did it work then?

[2019-08-09 07:01] AndrewLebowski opened #367 "Feed transaction does not appeares after getting money link"
### Description
My account: hollow edit hobby path cup pave flower shuffle build quiz abstract pink

Feed transaction does not appeares after getting money link. I test it on pc and manually on my phone but get this result :

![2019-08-09_9-52-36](https://user-images.githubusercontent.com/47723945/62760124-e5cabb80-ba8b-11e9-8771-b755ebe9994e.gif)

[2019-08-09 13:33] qatests1001 commented on #360
Checked on https://goodqa.netlify.com/
This screen after FV:
https://www.screencast.com/t/OiuVp2dDhIkO

[2019-08-09 13:54] qatests1001 opened #368 "The "Sending mobile verification code failed" error popup is displayed after clicking on the "Next" button"
### Description
The "Sending mobile verification code failed" error popup is displayed after clicking on the "Next" button

### Preconditions:
* The site is opened https://goodqa.netlify.com
* "Amy Green" name was entered
* “Number" page is opened

### Steps to reproduce:
1. Select the "USA" flag in the list of countries
2. Enter the valid number (2056232581) in the line for entering the phone num

[2019-08-09 13:56] qatests1001 opened #369 "The "Error" popup is displayed after opening the sending G$ link"
### Description
The "Error" popup is displayed after opening the sending G$ link

### Precondition:
There is a send token https://goodqa.netlify.com/AppNavigation/Dashboard/Home?paymentCode=82f5c433ae3ec41330c7&reason=Test
There is a user (hollow edit hobby path cup pave flower shuffle build quiz abstract pink)

### Steps to reproduce:
1. Open the website
2. Login
3. Open the link from pre-conditi

[2019-08-09 17:10] qatests1001 opened #370 "The "Unexpected error" pop-up is displayed on the "Edit profile" screen after deleting all digits from the "Phone number" field"
### Description
The "Unexpected error" pop-up is displayed on the "Edit profile" screen after deleting all digits from the "Phone number" field
### Precondition
User has filled the "Phone number" field on the "Profile" screen

### Steps to reproduce

Steps to reproduce:
1. Open the website
2. Login
3. Tap the "Profile" button
4. Delete all digits in the "Phone number" field
5. Pay attention to the

[2019-08-09 17:12] qatests1001 opened #371 "The "OK" button is cropped on the TX item pop-up"
### Description
The "OK" button is cropped on the TX item pop-up

### Precondition
The user did transaction on the account

### Steps to reproduce
1. Open the website
2. Login
3. Tap the TX item
4. Pay attention to the "OK" button

Actual result: The "OK" button is cropped on the TX item pop-up
Expected result: The "OK" button isn't cropped and fully displayed on the TX item pop-up

### Supporting

[2019-08-09 18:37] dminones commented on #369
@qatests1001 in order to take a better look into this would be useful to have both accounts: sender and receiver. I'm assuming that the one that you shared is for the receiver right?

[2019-08-09 18:48] dminones commented on #368
@qatests1001 couldn't reproduce. Following the steps using USA flag and (2056232581) it went to next without error.
Is this specific for that device/browser?

[2019-08-09 18:48] qatests1001 commented on #369
@dminones
Sender: hollow edit hobby path cup pave flower shuffle build quiz abstract pink
Receiver: soul usual cup disorder tool state kit midnight consider filter camera sound

[2019-08-09 19:56] dminones commented on #370
fixed on https://github.com/GoodDollar/GoodDAPP/pull/372

[2019-08-09 20:05] dminones commented on #369
@qatests1001 ok, seems like all the links were withdrawn for sender account since are marked as completed (perhaps you opened the link in sender session?). I've just tried myself and was able to send and receive from those accounts.

As example, I've left a pending transaction without withdrawing and this transaction looks very different if nobody withdraws that G$

[2019-08-11 05:51] sirpy commented on #360
@qatests1001 please provide the account's mnemonic.
This issue is due adminwallet usage by both the dev + qa environment.
will be solved once we implement a synchronization lock for block transactions.

[2019-08-11 06:01] sirpy commented on #368
i've changed the API to reduce errors differently, i've commited a change that should display the real error message, though its still unclear why there is an error

[2019-08-11 09:46] sirpy commented on #371
should be fixed here
#167826792

[2019-08-11 19:26] sirpy commented on #369
@qatests1001 this happens when opening link immediatly before it is confirmed on the blockchain

[2019-08-11 19:26] #369 closed

[2019-08-11 19:32] sirpy commented on #367
@AndrewLebowski unable to reproduce.
can you reproduce this?

[2019-08-11 19:34] sirpy commented on #368
@qatests1001 can you reproduce this?

[2019-08-11 20:02] sirpy commented on #346
@AlexeyKosinski please test #376

[2019-08-12 10:03] AndrewLebowski commented on #367
@sirpy today i tried from my own labtop and it works

[2019-08-12 10:03] #367 closed

[2019-08-12 10:48] qatests1001 commented on #368
Tested on https://goodqa.netlify.com
The bug is not reproduced - https://www.screencast.com/t/pp2abiX6u4G

[2019-08-12 10:48] #368 closed

[2019-08-12 11:08] qatests1001 commented on #360
@sirpy The bug is still reproduced
Account: soul usual cup disorder tool state kit midnight consider filter camera sound

[2019-08-12 11:19] qatests1001 commented on #371
Checked on https://goodqa.netlify.com/
Fixed

[2019-08-12 11:19] #371 closed

[2019-08-12 11:26] qatests1001 opened #377 "The distance between "Copy Link" and "Ok" button is not the same on TX item pop-ups"
### Description
The distance between "Copy Link" and "Ok" button is not the same on TX item pop-ups

### Preconditions
The pending TX is made on account

Steps to reproduce
1. Click the pending TX
2. Click the 2nd pending TX
3. Observe it

Actual result: The distance between "Copy Link" and "Ok" button is not the same on TX item pop-ups
Expected result: The distance between "Copy Link" and "Ok" bu

[2019-08-12 11:31] qatests1001 commented on #353
Checked on https://goodqa.netlify.com/
Still reproduced
https://www.screencast.com/t/L2E1dE8qlEY

[2019-08-12 12:02] qatests1001 commented on #370
Checked on https://goodqa.netlify.com/
Still reproduced
https://www.screencast.com/t/RFD6knHh

[2019-08-12 12:08] #346 closed

[2019-08-12 12:55] qatests1001 opened #379 "The "Error" is displayed after entering the phone number of the deleted account"
### Description
The "Error" is displayed after entering the phone number of the deleted account

### Preconditions
* The account is deleted
* The 'Sign up" page is opened with "Number" field

### Steps to reproduce
1. Enter the number of the deleted account
2. Click the "Next" button
3. Pay attention to the screen

Actual result: The "Error" is displayed after entering the phone number of the dele

[2019-08-12 13:55] qatests1001 opened #380 "The "Node" error is displayed after scanning "Receive" QR code"
### Description
The "Node" error is displayed after scanning "Receive" QR code

### Preconditions
* The "Receive" QR code is opened on 2nd device
* The "Scan QR" page is opened from on the "Sand" screen on the 1st device

### Steps to reproduce
1. Scan the QR code
2. Pay attention to the screen of the 1st device

Actual result: The "Node" error is displayed after scanning "Receive" QR code
Expecte

[2019-08-12 14:18] qatests1001 opened #381 "QR code scanner does not work."
### Description
QR code scanner does not work.

### Preconditions
* The user is logged in
* The “Receive G$” page is opened

### Steps to reproduce
1. Click the “Scan QR code” button on the top of the page
2. Try to use valid QR code
3. Pay attention to the page

Actual result: The QR code scanner does not display the image from the camera on the "SCAN QR CODE" tab after clicking on the "SCAN QR C

[2019-08-12 19:40] sirpy commented on #380
@qatests1001 this is something expected that's not delt correctly yet.
We fund the user with what's called "gas" its a different token that you need to pay with when doing transactions over the blockchain, if you do around 10 daily transactions you will run out of gas and your wallet will be filled with gas only the next day.

[2019-08-12 19:40] #380 closed

[2019-08-12 19:44] sirpy commented on #381
@qatests1001 needs more information.
not clear exactly what is the issue. is the issue that the video stream is not shown? to me it is shown.
1. explain better the problem
2. show a video
3. include the console output in the video

[2019-08-12 19:59] sirpy commented on #353
@qatests1001 has been merged please test now

[2019-08-12 20:24] sirpy commented on #379
@qatests1001 i think this has been fixed, maybe an issue with older accounts.
i've deleted the account manually so you can register with same details again.
Please try again to create and then delete.

[2019-08-13 07:09] qatests1001 commented on #381
Tested
The bug is not reproduced. The QR code scanner is working okay - https://www.screencast.com/t/vJyswFz4

[2019-08-13 07:09] #381 closed

[2019-08-13 07:38] qatests1001 commented on #353
Checked on https://goodqa.netlify.com/
Reproduced https://www.screencast.com/t/Np14IYLd

[2019-08-13 07:46] qatests1001 commented on #370
Checked on https://goodqa.netlify.com/
Still reproduced
https://www.screencast.com/t/RFD6knHh

[2019-08-13 07:51] qatests1001 commented on #379
Checked on https://goodqa.netlify.com/
reproduced with yesterday created accounts
https://www.screencast.com/t/zyUdHyy3byR

[2019-08-13 09:04] qatests1001 commented on #353
https://www.screencast.com/t/NoFYvbL9W
Fixed

[2019-08-13 09:04] #353 closed

[2019-08-13 09:10] qatests1001 commented on #370
Fixed
https://www.screencast.com/t/llXyh1MEKgI4

[2019-08-13 09:10] #370 closed

[2019-08-13 09:15] qatests1001 commented on #379
Fixed
https://www.screencast.com/t/7TqlrgrVan0V

[2019-08-13 09:15] #379 closed

[2019-08-13 18:25] Nordwhale opened #388 "Total amount of G$ claimed is incorrect"
### Description
The total amount of claimed G$ is 0 when open the 'Claim Daily G$' page after a successful claim.

### Pre condition
Register a new account

### Steps to reproduce
1. Go to the 'Claim Daily G$' page
-> The statistic is '4 People Claimed 400 G$ Today!'

2. Successfully claim your 1 G$
3. Go to the 'Claim Daily G$' page again

**Actual result:** '5 People Claimed 0 G$ Today!'
https:/

[2019-08-13 18:42] Nordwhale opened #389 "Cannot set or change a profile photo only"
### Description
Save button is disabled if just set or change a profile photo and don't change any other account info.

### Steps to reproduce
Have a registered account

### Steps to reproduce

1. Go to My profile -> Edit profile
2. Change or set a photo

**Actual result:** Save button is disabled and you cannot save the changed photo without changing any other information

**Expected result:** Th

[2019-08-13 18:57] Nordwhale opened #391 "Next steps after Face verification weren't available"
### Description
I was able to finish first claim from third attempt. First time there were an error 'Something went wrong' despite all the checks were passed.
Second time I got a successful message but no possibility to move forward.

### Steps to reproduce
1. Register a new account
2. Go to Claim your daily G$ for the first time
3. Pass all the steps on Face verification

**Actual result:** All t

[2019-08-14 05:52] sirpy opened #395 "Server private gundb should be replaced with mongodb"
implement GunDB (gun-middleware.js) interface with MongoDB
replace GunDBPrivate instance with a MongoDBPrivate instance
Definition of Done
--
- [x]  MongoDB has same interface as GunDB
- [x] Server creates on startup MongoDB interface instance called MongoDBPrivate
- [x] GunDBPrivate is replaced with MongoDBPrivate
- [x] .env variable for the MongoDB url and collection
- [x] user is able to regist

[2019-08-14 06:14] sirpy opened #396 "Loadtest user registartion flow"
Extend the current loadtest (gooddapp - loadtest.js) script to mimick the user creation process

- Create public gundb account
- Create record on private database
- Top user wallet

Definition of Done
--
- [x] mimick multiple websockets connections to gun
  - a new Gun instance needs to be passed to userstorageclass instance
- [ ] can test 20-100 concurrent user, ie  botteleneck is not the server

[2019-08-14 06:29] sirpy opened #397 "GoodWallet should use beta version of smartcontracts"
**This story is joint work with Mads from etxl and a GoodDollar dev.**

We need to integrate with etoroxlab work on the contracts
Interface should be the same
Maybe different contract names

Definition of Done
- change networks config to use new fusenet rpc (rpc.fusenet.io)
- Fixed private keys for test,dev,staging envs
- GoodContracts npm package is new contracts, dubbed v1.0.0-beta
- GoodContrac

[2019-08-14 06:37] sirpy opened #398 "Adminwallet should use an HSM for signing txes"
We currently have two options
- equinix
- unbound

Test equinix, check pricing
[code]

[2019-08-14 07:01] sirpy opened #399 "User should be able to register to wallet from web3"
** This work is to be coordinated with Omer+Sergey+WesoftU **
https://w3.gooddollar.org

A user that has an account on web3 should be able to easily register to the wallet
If user still DIDNT open a wallet, the link from web3 to wallet has format: dapp.gooddollar.org/?web3=\<verifiabletoken\>

User already opened wallet not through web3
--
- need to handle the case that mobile/email already exists

[2019-08-14 07:06] sirpy opened #400 "User should be able to login to wallet from web3"
**This work is to be coordinated with Omer+Sergey+WesoftU**

A user that has an account on web3 should be able to easily login to the wallet
If user has a wallet, the link from web3 to wallet has format: dapp.gooddollar.org/?hasWallet=true

Flow:
--
- GoodDAPP extracts hasWallet, if user localstorage doesn't  have account details it redirects user to recover screen with explanation

[2019-08-14 07:11] qatests1001 opened #401 "The "Welcome" item is absent after logging in"
### Description
The "Welcome" item is absent after logging in

### Precondition
* Login the account
mnemonic: inquiry legend real evolve minor acid mad lunch keen remove jacket dance

### Steps to reproduce
1. Pay attention to the "Feed" section

Actual result: The "Welcome" item is absent after logging in
Expected result: The "Welcome" item is displayed after logging in

### Supporting data
Env d

[2019-08-14 07:15] qatests1001 opened #402 "The toolbar is overlapped the "Claim your share" button on the "Claim" page"
### Description
The toolbar is overlapped the "Claim your share" button on the "Claim" page

### Preconditions
The user is logged in

### Steps to reproduce
1. Click the "Claim" button
2. Pay attention to the bottom of the page

Actual result: The toolbar is overlapped the "Claim your share" button on the "Claim" page

Expected result: The toolbar is not overlapped the "Claim your share" button on

[2019-08-14 07:16] sirpy opened #403 "User should be able to recover his account with email + password"
Currently we use deterministic user+pass to login to gundb generated by the seedphrase
(see userstorageclass.js)
- first investigate if we can postpone initialization of userstorage to the end of the signup process (currently userstorage is used in different steps of the signup process)
- on signup (signupstate.js) when user finishes registration we change his profile.alias to a hash of his email

[2019-08-14 07:51] qatests1001 opened #404 "The "Error" popup is displayed after creating an account. The "email" data is empty in the account settings"
### Description
The "Error" popup is displayed after creating an account. The "email" data is empty in the account settings

### Precondition
* The account is created
mnemonic: lava blade fault system wash tuition divorce marriage ladder taste nurse vicious

### Steps to reproduce
1. Click the "Claim"
2. Pay attention to the screen

Actual result: The "Error" popup is displayed after creating an a

[2019-08-14 08:10] sirpy commented on #401
@qatests1001 this is not a bug, the welcome item is only there for new users, accounts recovered using mnemonic are not considered new.

[2019-08-14 08:10] #401 closed

[2019-08-14 08:41] qatests1001 opened #405 "The "Next" button is active after entering invalid data in the “Enter the recipient name” field on the "Send" page"
### Description
The "Next" button is active after entering invalid data in the “Enter the recipient name” field on the "Send" page

### Preconditions:
* The user is logged in
* The “Send G$” page is opened

### Steps to reproduce:
1. Enter the invalid data in the field, for example: 123Amy!
2. Pay attention to the page

Actual result: The "Next" button is active after entering invalid data in the

[2019-08-14 09:15] sirpy opened #406 "User should verify his email by copy pasting a code"
Restore the email verification process
- On GoodServer we generate a code instead of a link
- GoodServer need to redesign email template - Liav
- GoodServer should send email verification
- GoodDAPP add code input similar to OTP (sms code screen), discuss with Liav about design

**References**
Dapp - EmailConfirmation.js, signupstate.js
Server - verificationAPI.js

Definition of Done
--
- [x]  ema

[2019-08-14 09:20] sirpy opened #407 "Profile details should be private by default"
For Alpha profile fields are public by default
need to change default to private.
image + name + username stay public

**References**
signupstate.js (where we create the user) using userStorage
UserStorageClass.js - has default privacy for each field

Definition of Done
--
- default privacy for phone+email is private

[2019-08-14 09:31] sirpy commented on #405
@qatests1001 this is not a bug, this field is a free text. please update test case.

[2019-08-14 09:31] #405 closed

[2019-08-14 10:03] qatests1001 opened #408 "The "Error" is displayed after canceling the TX item"
### Description
The "Error" is displayed after canceling the TX item

### Precondition
The account is created
The "Send" TX is generated

### Steps to reproduce
1. Swipe left on the "Send" TX
2. Click the "Cancel" button
3. Pay attention to the screen

Actual result: The "Error" is displayed after canceling the TX item
Expected result: The "Error" is not displayed after canceling the TX item

###

[2019-08-15 06:37] sirpy opened #412 "user should be able to easily add wallet to other devices"
Need to decide on options to implement and their fow
- mobile<->desktop - user/pass OR scan QR (in both cases the mobile scans a QR)
- desktop<->desktop - seed phrase or user/pass

** QR Scan Flow **
1. mobile -> Desktop
  - desktop generates QR with public key
  - mobile scan QR encrypts seedphrase with public key
  - mobile sends back using gun (gun.get(<publickey>).put(<encryptedseed>)
  - desk

[2019-08-15 06:43] sirpy opened #413 "GoodWallet should use websockets for web3 blockchain events"
Currently we use polling

- switch to websockets fuse url
- unit test all current events are working (transfer, paymentwithdraw,paymentcancel)

[2019-08-15 06:45] sirpy opened #414 "GoodWallet should use websockets for events"
Currently we use polling and we want to use events based on websockets

reference:
GoodWalletClass.js. Main method: listenTxUpdates

Definition of Done
--
- [x] check if web3 1.0.0-beta.55 supports websockets
- [x] find a list of all the events
- [x] switch to fuse websockets url
- [x] events are received by websockets
- [x] verify current events handling works the same, unit tests
  - [x] transfe

[2019-08-15 06:52] sirpy opened #415 "User should be able to login to Web3.0 from wallet"
1. User opened a wallet without a W3 token
2. Once he finishes registration GoodServer calls W3 API to register user with email
  2.1 W3 API should return a login token
  2.2 GoodServer returns login token to DAPP
3. DAPP has Tab rewards which opens W3 in webview(iframe) with the login token ie w3.gooddollar.org?token= so the user is logged in to W3.

Definition of Done
--

- [x] W3 user login tok

[2019-08-15 07:01] sirpy opened #416 "User bonuses should be redeemed once he opens wallet"
When user invites other users via our Web3.0 invitation model he accumulates a bonus.

When user opens wallet -  API call is made to GoodServer to withdraw pending bonuses
Flow:
- GoodDAPP - API call to GoodServer to redeem
- GoodServer - API call to Web3.0 backend and checks if any bonuses pending
- GoodServer AdminWallet initiate call to bonus smartcontract to send bonus to user
- GoodServer upd

[2019-08-15 07:26] AlexeyKosinski commented on #406
need email and screen mockups to start

[2019-08-15 07:42] AlexeyKosinski commented on #399
need API:
- get user Info by token
- set "user has a wallet" to true by token

[2019-08-15 09:48] sirpy opened #417 "Test Epic"

[2019-08-15 14:43] AlexeyKosinski opened #418 "implement GunDB (gun-middleware.js) interface with MongoDB"
Implement the same interface as GunDB but with MongoDB to save all the private data to MongoDB.

_Details are in the parent task_

Definition of Done
--
 - [x] MongoDB has same interface as GunDB
 - [x] Server creates on startup MongoDB interface instance called MongoDBPrivate
- [x]  GunDBPrivate is replaced with MongoDBPrivate
- [x]  .env variable for the MongoDB url and collection

- [x] informa

[2019-08-15 14:43] AlexeyKosinski opened #419 "replace GunDBPrivate instance with a MongoDBPrivate instance"
Replace GunDBPrivate instance with a MongoDBPrivate using already created interface in scope of task 418.

Definition of Done
--
- [x] Backend changed to work MongoDB to save data accordingly

[2019-08-15 14:48] AlexeyKosinski opened #420 "first investigate if we can postpone initialization of userstorage to the end of the signup process (currently userstorage is used in different steps of the signup process)"

[2019-08-15 14:48] AlexeyKosinski opened #421 "on signup (signupstate.js) when user finishes registration we change his profile.alias to a hash of his email address. we then add his profile to gundb '@aliases'. record. we should now be able to use also his email hash as a username for login"

[2019-08-15 14:49] AlexeyKosinski opened #422 "on signup save the seedphrase encrypted in user profile"

[2019-08-15 14:49] AlexeyKosinski opened #423 "in profile screen user should be able to change his password - discuss with Liav"

[2019-08-15 14:49] AlexeyKosinski opened #424 "in login page we should add a screen to login with password"

[2019-08-15 14:49] AlexeyKosinski opened #425 "login page shuold require email + password (initially the login page should work just with our deterministic user+pass)"

[2019-08-15 14:50] AlexeyKosinski opened #426 "recovery with email password should work similar to seedphrase recovery just that seedphrase is read from the profile. (mnemonic.js)"

[2019-08-15 14:55] AlexeyKosinski opened #427 "discuss API methods with w3 team"
This work is to be coordinated with Omer+Sergey+WesoftU
https://w3.gooddollar.org

A user that has an account on web3 should be able to easily register to the wallet
If user still DIDNT open a wallet, the link from web3 to wallet has format:
[code]
Where verifiabletoken is a token with userid+expiration data that is signed by a public key
GoodServer can then verify it was signed with the agreed pu

[2019-08-15 14:56] AlexeyKosinski opened #428 "User can click on W3 link to login to DAPP"
This task is to implement a main flow, when a user doesn't have a wallet and initiate registration from web3.

( _See all the information in the parent Epic_ )

[code]

**THE FLOW HAS BEEN CHANGED:**
Here is an actual approved flow which doesn't require server work
* GoodDAPP extracts web3 token, if user localstorage doesn't already have account details it starts the registration process (ie like

[2019-08-15 14:57] AlexeyKosinski opened #429 "User already opened wallet not through web3"
A case when a user is new and don't have a wallet is implemented in scopes of 428 sub-task: https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/428

This item is to implement a flow when a user already exists in the private db so he/she has an account and a wallet.

**A User arrives with web3 token**
There are two cases:
1. a user has data in local stor

[2019-08-15 20:29] sirpy commented on #389
@Nordwhale this is not a bug, once you set the image it is saved, you don't need to press the save button

[2019-08-15 20:29] #389 closed

[2019-08-16 08:27] #417 closed

[2019-08-16 08:37] AlexeyKosinski opened #435 "Gas Check"
We fill user’s wallet with the native currency so they can pay gas for GoodDollar transactionsOnce a user native balance is <100,000 - show an error screen based on FRError and this design here https://xd.adobe.com/spec/fb6d4d7e-dd16-44e1-4bf3-1df4afd50d5c-8d5c/screen/8ae35556-a559-44f0-a940-69c538eae17d/Error-TopingThe error screen should be adaptive to different screen sizes. Take care specifica

[2019-08-16 11:08] qatests1001 commented on #404
New error occurs - https://www.screencast.com/t/nks9u1wGmMde
receive document maid alone rug field caution sand retreat shadow minor snake
dapp.gooddollar.org
Chrome | Google Pixel | 9.0.0 | 1080 x 1920

[2019-08-18 06:16] sirpy commented on #435
web3 doesnt support last transaction
we can use fuse blockchain explorer
see command : txlist
https://explorer.fuse.io/api_docs

[2019-08-18 08:42] sirpy opened #437 "User should know he needs to give permissions to his camera in FR"
When asking camera permissions we should notify the user before we do that
If user camera is not approved then he should be notified with explanation what to do on iphone/android/pc
If user system is incompatible he should be notified with correct message
If user is not in portrait mode he should be notified with correct message

[2019-08-18 14:27] sirpy opened #438 "login should issue a new jwt token if unauthorized"
sometimes we have an old jwt token,
we need to refresh this token if we can unauthorized response from reserver for one of the API calls
maybe check if jwt token is valid on wallet open?

[2019-08-18 14:33] sirpy opened #439 "user gundb localstorage should be in sync on signup"
sometimes users have their own old profile info which causes their mobiel/email to showup as "unavailable"

maybe clear localstorage once user clicks on create wallet?
or signup process should probably register to gun.on... to get the latest byemail/bymobile index where their mobile/email is probably null

[2019-08-19 09:34] AlexeyKosinski commented on #427
Discussed with @Sergezdv
endpoints:
GET '/api/wl/user'
PUT '/api/wl/user/update_profile'

w3token will pass through Authorization header

[2019-08-19 09:48] StanislavShevchenko commented on #406
Blocked. Sending emails does not work, I need a valid Bearer toket MAUTIC_TOKEN.

[2019-08-19 12:16] sirpy opened #441 "user should see try later message if FR failed >2 times"
see 3rd time error in designs

[2019-08-19 12:33] sirpy opened #442 "User should have clear way to signin cross devices"
Solution will still be based on login through the recovery email but rephrased without need to copy paste, more like a "magic link"
We concentrate on clear messaging and explanations to the user.

- signin screen explaining user to go to the recovery email and click on link
- recover screen - one line copy paste
- recover email -> we send a magic link instead of seed phrase (we can also encrypt it

[2019-08-19 14:40] StanislavShevchenko commented on #406
Done, awaiting design
server - https://github.com/GoodDollar/GoodServer/tree/user-should-verify-his-email-by-copy-pasting-a-code
dapp - https://github.com/GoodDollar/GoodDAPP/tree/user-should-verify-his-email-by-copy-pasting-a-code

[2019-08-19 16:03] sirpy commented on #407
@yaroslav-fedyshyn-nordwhale please link PR to issue

[2019-08-20 06:49] LiavGut commented on #406
Hi @StanislavShevchenko
Here is the new design:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/606fc752-0c49-4466-b48c-de984ddadd3f/Sign-Up-21

[2019-08-20 07:03] sirpy opened #444 "user should see "did you know" popup before claim"
see design in beta xd

[2019-08-20 07:06] sirpy opened #445 "User should be able to search/filter the feed"

[2019-08-20 07:06] sirpy opened #446 "User should be able to search profiles and send directly"

[2019-08-20 07:08] sirpy opened #447 "User should see pop to add webapp to homescreen"
- valid webapp manifest
- android has native add to homescreen
- iphone should show a short tutorial how to once in a while

[2019-08-20 07:09] sirpy opened #448 "User should get an "invite friends" card in feed"
New user that didn't come from w3 should have this card
popup Design: https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/c8908e53-6d16-40ce-be5d-e9db84349004/Dashboard-Feed-PopUp-Invite
card design: https://xd.adobe.com/spec/0952fd91-2063-4074-7930-b73f863096a6-7f63/screen/07ad85c9-f94f-49aa-a856-250b11baef05/UI-Elements-Feed-Cards-1
** I think we already have implementatio

[2019-08-20 07:09] sirpy opened #449 "User should get an NPS feedback card"

[2019-08-20 07:11] sirpy opened #450 "FAQ should have content"

[2019-08-20 07:12] sirpy opened #451 "User should see cool animations"

[2019-08-20 07:12] sirpy opened #452 "User should be able to add more profile details"

[2019-08-20 07:15] sirpy opened #453 "User should have a "round my balance" option"

[2019-08-20 07:16] sirpy opened #454 "User should be able to open a business account"

[2019-08-20 07:18] sirpy opened #455 "User should have a reward tab on dashboard navbar"
Reward tab can be opened from Dashboard. We just should open w3 website (dashboard) with user's login token as iframe ( w3.gooddollar.org?token= )
For reference see how Support tab works ( Main menu -> Support). It also opens w3 website in iframe.

Definitions of done:
- [x] User comes from w3 and creates a new wallet - Reward tab should be shown successfully to him with all his data
- [x] User co

[2019-08-20 07:19] sirpy opened #456 "User should be able to hide his balance"

[2019-08-20 07:23] sirpy opened #457 "Non-mobile user should see a pre splash screen"
encourage user to switch to mobile

[See on the Design](https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/)

[2019-08-20 07:30] sirpy opened #458 "Pending card copy link should be "share" on mobile"
share and open native share

[2019-08-20 07:39] Nordwhale commented on #406
@StanislavShevchenko Please change code generation from 10 numbers to 6 number and implement everything what is left according to the design.

[2019-08-20 08:35] sirpy opened #459 "error: Payment links transaction reverted on blockchain"
on production
#799 Error: Transaction has been reverted by the EVM: { "blockHash": "0x492b738764e38f01d15c3c4615e1329d30433630293f8d822bd8dd122218aa85", "blockNumber": 3826265, "contractAddress": null, "cumulativeGasUsed": 35690, "from": "0xbba04fdc1f54c0827c0c143

[2019-08-20 08:50] #413 closed

[2019-08-20 08:50] sirpy commented on #413
dup of #414

[2019-08-20 09:00] sirpy opened #460 "User should see new Claim screen design"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/4bcd198d-33e1-4d68-8490-7eb226fb5823/Claim-1

see screens claim1-3
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/grid

main changes:
- no account balance shown
- button + timer shown for non-whitelisted user (the current design)
- whitelisted that can't claim yet sees an orange button with timer (disab

[2019-08-20 09:03] sirpy opened #461 "Smart contracts should be deployed for multiple envs"
Development
Staging/QA
Production

[2019-08-20 09:05] sirpy opened #462 "Claim screen should show number of claims from beta smart contracts"

[2019-08-20 09:28] #462 closed

[2019-08-20 12:19] StanislavShevchenko commented on #406
Need to edit the email template in mautic
https://github.com/GoodDollar/GoodServer/pull/58
https://github.com/GoodDollar/GoodDAPP/pull/463

[2019-08-20 12:26] Sergezdv commented on #427
added these two endpoints, alleged behavior:
w3 api transfers the token for a link to the w3 interface by which the user goes to the wallet and using this token can receive and update related data from wallet
http://joxi.ru/l2ZvXezczQzdV2
http://joxi.ru/4Ak3yGXSonXMwA
if for some reason the user is not found (invalid token, user has been deleted etc) - return
`res.status(422).json({ message: 'Toke

[2019-08-20 13:00] sirpy commented on #427
@Sergezdv redeemed_bonus is an accumulator, meaning one day the user got 5$ so the reeded_bonus is 5. the next day he got 5 so now the reeded_bonus is 10. So its not enough to check >0 it must always increase.

I would like to suggest the following:

W3->Wallet Integration
--
W3 server will generate a token which can be used for the following API:

- GET /api/wl/user
  - returns user data `{email,

[2019-08-20 13:32] Sergezdv commented on #427
yes it works like that now ie
[code]

what is this token, where to get / how to check? :)

as for the rest, ok I can change / add this

[2019-08-20 22:40] sirpy opened #468 "Server should send emails with new design"
Update tempaltes on mautic

Mock-ups: https://xd.adobe.com/spec/34f09e36-c7b1-48de-4506-1ef996f8fcd7-42c1/grid

Definition of Done
--
- [x] magic link email matches the design
- [x] recovery email matches the design
- [x] email confirmation matches the design
- [x] all the links and buttons work correctly in emails

[2019-08-22 18:54] dOrgJelli opened #473 "dOrg Coordination"
Hello, dOrg would like to collaborate with the primary contributors of this repository. We are working on adding support for an identity verification DAO to the dApp. We would like to make sure our additions are not duplicating efforts, and in order to ensure this we'd like to have a chat where we can query the developers and get responses quickly.

Please this for more information of what we're l

[2019-08-27 08:39] Nordwhale commented on #427
Final endpoints:
get: /api/wl/user
put /api/wl/user/update_profile
put /api/wl/user/redeem

[2019-08-27 08:39] #427 closed

[2019-08-27 08:52] Nordwhale commented on #415
API endpoint:
- PUT /api/wl/user, params: {secure_hash, email, full_name, wallet_address, image?, invite_code?}
secure_hash = md5(email + SECURE_KEY);
- https://w3.gooddollar.org?token=<login_token>

[2019-08-27 09:24] yaroslav-fedyshyn-nordwhale commented on #400
This task is resolved in scope of #429 task. PR - https://github.com/GoodDollar/GoodDAPP/pull/478

[2019-08-27 10:19] sirpy commented on #428
@AlexeyKosinski @yaroslav-fedyshyn-nordwhale
There is an issue with the email, we don't verify it is valid when user arrives from W3.
We still need to involve the server, it must verify the email came from W3.

[2019-08-27 10:21] sirpy commented on #407
@yaroslav-fedyshyn-nordwhale link to PR

[2019-08-27 11:24] #461 closed

[2019-08-27 11:28] sirpy opened #482 "Smart contracts should be deployed for multiple envs"
1. add in truffle-config the networks, see alpha version.
2. defaults for test,dev,staging
   - signup bonus
   - ubi scheme
   - start avatar with fixed amount enough for ubi+bonus
   - call signup+ubi schemes start method

[2019-08-27 12:17] Nordwhale commented on #407
@sirpy Could you please advise how to do this with this particular issue? Looks like the issue and PR have been already linked. No?

[2019-08-27 14:20] Nordwhale commented on #407
#407

[2019-08-27 14:21] #407 closed

[2019-08-27 15:40] sirpy opened #484 "transaction may take some time to complete is broken into too many lines"
in summary screen of a transaction

[2019-08-28 20:35] sirpy commented on #473
gitter.im/GoodDollar

[2019-08-29 06:08] Nordwhale opened #490 "New welcome screen with signin button and small recover"
A new welcome screen is changed a little, now there is a bigger Sign in button.
Implement Welcome screen according to design: https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/5ff7485f-7e4c-4b1a-a20b-c30918d45c99/Sign-Up-2

Opened questions:
--
1. On the mockups there are two Welcome screens what are the conditions to show each one?
https://xd.adobe.com/spec/8f259bcd-550e-

[2019-08-29 06:30] Nordwhale opened #491 "New sign in screen with Magic link explanation"
There is a new Sign in screen with Magic link explanation and a possibility to go to the Recover page.

Flow
--
1. A user opens GoodDollar
2. A user clicks 'Sign In' on the Welcome screen
-> A new Sign in screen is shown to explain a user how to login to his/her account with Magic link.
There is a possibility to open the Recover screen to login with 12-word phrase.
https://xd.adobe.com/spec/8f259b

[2019-08-29 06:50] sirpy opened #492 "user shouldn't be allowed to open wallet if not from W3"
Can a user open a wallet without going through web3?

use cases:
- user goes directly to dapp - NO. click on open wallet redirects to web3.

- user received a payment link - YES. if payment link is still valid then user can open a wallet.

Flow:
- UI enables the open wallet button only if payment link code in url
- Server allows the /user/add endpoint only if user sent his payment code to server a

[2019-08-29 06:58] sirpy opened #493 "User should get a magic link on signup instead of recovery"
Instead of sending the recovery seed phrase
We send a link with the user's gundb username+password ie dapp.gooddollar.org?magiclink=username+pass encoded

username and password already generated from a seed phrase in this par of code:
https://github.com/GoodDollar/GoodDAPP/blob/ed432880af9b3918acc7d8475025a23005f44a51/src/lib/gundb/UserStorageClass.js#L327-L328

Flow
--
- DAPP saves seedphrase in

[2019-08-29 07:14] sirpy opened #494 "claim screen should fit small devices"
use getDesignRelativeHeight on illustration of claim screen

Definition of Done
- fits 300w/440h screens

[2019-08-29 07:24] #473 closed

[2019-08-29 07:26] #484 closed

[2019-08-29 08:00] sirpy commented on #404
waiting for new gundb upgrade

[2019-08-29 08:01] sirpy commented on #408
@fernandomg has this been fixed?
if so add label fixed and merged? move to ready for qa

[2019-08-29 08:39] sirpy commented on #442
@LiavGut should the user have an option to send the magic link again? where?

[2019-08-29 10:09] sirpy opened #495 "User should send a signed zoomid when deleting account"
The user should prove he is the owner of the private key of the public key that we use for zoomid.
So the user can't just request to delete some other id.

Definition of Done
- [x] The delete account API sends the zoomid + signature
- [x] Signature = wallet.sign(zoomid,'zoomid') - meaning the zoomid itself is signed using the zoomid private key
- [x] Server recover signature of zoomid and only del

[2019-08-29 10:15] sirpy opened #496 "One time links should be generated by our url shortener"
give.gdlr.info and get.gdlr.info redirects to the relevant dashboard screens
curl -I give.gdlr.info to verify
Definition of Done
- only on production
- give.gdlr.info/code works for requests
- get.gdlr.info/code works withdrawing

[2019-08-29 10:48] sirpy commented on #491
"Sign in screen is opened when a user with existing wallet opens GoodDollar APP with token from W3"
Not sure this is correct

[2019-08-29 13:20] Nordwhale commented on #490
It's not in scope of Epic #422. Will be done as a separate Story.

[2019-08-29 13:51] dminones commented on #447
@sirpy added the PR for manifest. Pending designs to be able to finish this.

[2019-08-29 13:59] Nordwhale opened #497 "Recover screen - one line copy paste"
Recover screen changes in order to give users better experience.
Recover screen can be opened from Sign in screen by clicking ' Or, recover from pass phrase' link:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/5fdc388b-ee8e-4978-a07b-25373e52921f/Sign-In-Recover-5

New Recover screen:
Empty:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/656

[2019-08-29 19:23] fernandomg opened #498 "Handle pending Feed Items for `send` transactions"
### Motivation

We're not considering how to handle the scenario when app closes/refreshes before receiving the `onError` callback call.

### Details

This issue is related to [#167867168](https://www.pivotaltracker.com/story/show/167867168)

It will solve partially the flow, by subscribing to the `onError` callback.

We need to properly handle all the pending feed items.

See the notes below:

1.

[2019-08-29 19:45] sirpy opened #499 "Welcome card design issues"
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/d8d5eabb-c929-4c6e-bfd1-c6721caee921)

[2019-08-29 19:57] sirpy opened #500 "summary text area too small"
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/de6745e2-b3b5-474b-afc4-21e308f3f252)

[2019-08-29 20:14] sirpy opened #501 "MultiadddressWallet should create seed from mnemonic correctly"
**implement on beta branch**
Currently it uses the mnemonic as seed, need to use toSeed on mnemonic first (see adminwallet)
This is for beta only as this is a breaking change

Defintion of Done
--
- [x] uses toSeed correctly
- [x] beta branch only

https://github.com/GoodDollar/GoodDAPP/pull/676

[2019-08-29 20:19] sirpy commented on #447
@dminones implement something basic for android. you can use a Toast component

[2019-08-29 20:27] sirpy opened #502 "User should verify his changed email/mobile"
*Initial description has been changed. Information was accumulated from the comments*

User should verify a new email/phone number in case if change them in User profile.

Flow
--

1. User is editing his phone number/email in User profile
2. User clicking outside of text field / clicking the save button
3. User is automatically directed to one of these screens (NO SAVING the new phone/email withou

[2019-08-30 06:48] sirpy opened #504 "Loadtesting"
### setup
modify heroku dev env (good-server) with multiple web workers 2-3

### expected report
  - results based on number of total web workers/ type of webworker/type of mongodb backend
  - how much concurrency before requests timeout
  - latency(avergae time requests takes to complete) and TPS ( transactions per second)
### tests
#### adminwallet
   - test lock by running concurrent whitelisti

[2019-08-30 08:18] sirpy opened #505 "code should use gundb secretAck instead of secret"
secret doesn't return a promise.
secretAck is our extension to gun that returns a promise.
Look in code for places where .secret is used and is awaited on either with await , returned as a promise, or saved as a promise to be used in Promise.all

[2019-08-30 12:58] qatests1001 opened #507 "The menu isn`t displayed on the main page after cancelling the account deleting"
### Description
The menu isn`t displayed on the main page after cancelling the account deleting

### Preconditions:
* The user is logged in
* The main page is opened

### Steps to reproduce
1. Tap the "Burger" icon on the top right
2. Tap the "Delete Account" button
3. Tap the "Cancel" button
4. Pay attention to the opened page

**Actual result:** The menu isn`t displayed on the main page after ca

[2019-08-30 12:59] qatests1001 opened #508 "The "Welcome back" popup is opened after entering with the mnemonic of the deleted account"
### Description
The "Welcome back" popup is opened after entering with the mnemonic of the deleted account

### Preconditions:
* The user account is deleted
* The login page is opened

### Steps to reproduce
1. Click the “Already have a wallet?” button
2. Enter the mnemonic of the deleted account
3. Click the “RECOVER MY WALLET” button
4. Pay attention to the opened popup

**Actual result:** The "

[2019-08-30 13:00] qatests1001 opened #509 "The "space" is missed in the "Contact Us" section on the "Privacy Policy" page"
### Description
The "space" is missed in the "Contact Us" section on the "Privacy Policy" page

### Steps to reproduce
1. Open the site https://goodqa.netlify.com
2. Click the “Privacy Policy” hyperlink
3. Swipe down to the “Contact Us” section
4. Pay attention to the screen

**Actual result:** The "space" is missed in the "Contact Us" section on the "Privacy Policy" page
**Expected result:** The

[2019-08-30 13:01] qatests1001 opened #510 "The date is cropped in the “Welcome” item in the “Feed” section"
### Description
The date is cropped in the “Welcome” item in the “Feed” section

### Preconditions:
* The site is opened
* The account is created

### Steps to reproduce:
1. Pay attention to the “Feed” section

**Actual result:** The date is cropped in the “Welcome” item in the “Feed” section
**Expected result:** The date is not cropped in the “Welcome” item in the “Feed” section

### Supporting d

[2019-08-30 13:08] qatests1001 opened #511 "Verification by face does not work when sending a payment on the "Claim" tab after passing through the "Face Verification" steps."
### Description
Verification by face does not work when sending a payment on the "Claim" tab after passing through the "Face Verification" steps.

### Preconditions
* The user is logged in
* The user didn't use "Claim" transaction on the account
* The “Claim” page is opened

### Steps to reproduce
1. Click the “CLAIM YOUR SHARE - 8.59 G$” button
2. Click the “OK, verify me” button
3. Pay attention

[2019-08-30 13:09] qatests1001 opened #512 "The text in the "Username"/"Phone number"/"E-mail" field is not readable on the profile page"
### Description
The text in the "Username"/"Phone number"/"E-mail" field is not readable on the profile page

### Preconditions
* The user is logged in
* The main page is opened

### Steps to reproduce
1. Click the user avatar
2. Click the "Edit pen" icon
3. Pay attention to the text in the "Profile Information" section

**Actual result:** The grey colored text in the "Username"/"Phone number"/"E-

[2019-08-30 13:10] qatests1001 opened #513 "The cursor is displayed in the field after clicking the “RECOVER MY WALLET” button"
### Description
On IOS 13.2 - The cursor is displayed in the field after clicking the “RECOVER MY WALLET” button

### Steps to reproduce:
1. Open the site
2. Click the “Log in” button
3. Enter the data in the fields (valid or invalid)
4. Click the “RECOVER MY WALLET” button
5. Pay attention to the screen

**Actual result:** The cursor is displayed in the field after clicking the “RECOVER MY WALLET

[2019-08-30 13:11] qatests1001 opened #514 "The “Next” button is overlapped by Toolbar on the “How Mach?” page"
### Description
The “Next” button is overlapped by Toolbar on the “How Mach?” page

### Preconditions:
* The site is opened
* The user is logged in

### Steps to reproduce:
1. Click the “Receive” button
2. Click the “Request Specific Amount” button
3. Click the “Skip” button
4. Pay attention to the page

**Actual result:** The “Next” button is overlapped by Toolbar on the “How Mach?” page
**Expect

[2019-08-30 13:12] qatests1001 opened #515 "The “Check Mark” image is displayed on the popup after scanning invalid QR code"
### Description
The “Check Mark” image is displayed on the popup after scanning invalid QR code

### Preconditions:
* The site is opened
* The user is logged in

### Steps to reproduce:
1. Click the “Send” button
2. Click the “QR” button
3. Scan invalid QR code
4. Pay attention to the page

**Actual result:** The “Check Mark” image is displayed on the popup after scanning invalid QR code
**Expecte

[2019-08-30 13:51] qatests1001 opened #516 "The “Edit Avatar” page is displayed after tapping the avatar on the “Profile” page"
### Description
The “Edit Avatar” page is displayed after tapping the avatar on the “Profile” page

### Preconditions:
* The site is opened https://goodqa.netlify.com
* The user is logged in

### Steps to reproduce:
1. Click the avatar on the main page
2. Click the avatar on the “Profile” page

**Actual result:** The “Edit Avatar” page is displayed after tapping the avatar on the “Profile” page
**

[2019-08-30 17:13] Nordwhale commented on #491
For this item a separate task will be created as it should be done later, when W3 integration is merged to Master:

- [ ] Sign in screen is opened when a user with existing wallet opens GoodDollar APP with token from W3

[2019-08-30 20:07] kbardi commented on #500
I'm testing on iPhone 5 and it looks good...which device are you using @sirpy ?
![image](https://user-images.githubusercontent.com/4523375/64048328-c59c9280-cb47-11e9-8cd6-919f18b1dd12.png)

[2019-08-31 06:05] Nordwhale commented on #416
@LiavGut @sirpy I cannot find an icon for Bonus transaction in feed.
I’ve checked GoodDollar_Design_Patterns and BETA_V1 and looks like there isn’t anything about Bonuses.
Do you know where I can find how Redeem bonus transaction should look?

[2019-08-31 06:12] Nordwhale opened #518 "Open a new Sign in screen instead of Recovery if a user with a wallet comes from W3"
##Flow

1. A user has a waller but isn't logged in in a current browser ( not data in local storage)
2. A user opens the wallet from W3 site ( with user token)
(-) Actual result: Recover screen is opened
(+) Expected result: New login screen should be opened

This ticket should be taken into work when other PR are in Master

Definition of Done:
--
- [x]  New login screen is opened when a not logge

[2019-09-01 11:07] sirpy commented on #507
@qatests1001
not a bug

[2019-09-01 11:07] #507 closed

[2019-09-01 11:10] sirpy commented on #416
its the icon with the cup called "rewards-"
bonuses is rewards

[2019-09-01 11:12] sirpy commented on #500
test

On Fri, Aug 30, 2019 at 11:07 PM Kevin Bardi <notifications@github.com>
wrote:

[2019-09-01 11:13] sirpy commented on #500
responsive web, basically we just need to change the flex box to take whole
width

[2019-09-01 11:21] sirpy opened #519 "User has_wallet status should change to false when deleting account"
When user deletes wallet an API call to change the status on w3 should be made
Needs to change API of w3 which currently doesn't support setting it to false

Also discuss what happens when a user deletes his W3 account, since we have w3LoginToken saved on the user gundb profile (is it also saved in our private backend db?)

w3Token - generated if user logged in to web3 and is sent to the dapp
logi

[2019-09-01 11:34] sirpy commented on #511
@qatests1001 we removed face verification for now

[2019-09-01 11:34] #511 closed

[2019-09-01 11:35] sirpy commented on #512
@qatests1001 the default behaviour is now that profile details are private.
if you change them in the privacy settings they will be visible

[2019-09-01 11:35] #512 closed

[2019-09-01 11:54] sirpy commented on #514
closing as dup of #324

[2019-09-01 11:54] #514 closed

[2019-09-01 12:01] sirpy commented on #515
@dariominones
this is because of the wrapper still using store.set(dialog) instead of showerrordialog
this issue will repeat everywhere we use wrapper ie wrappedapi wrappedwallet etc

[2019-09-01 12:07] sirpy commented on #516
@qatests1001 not a bug

[2019-09-01 12:07] #516 closed

[2019-09-01 12:11] sirpy commented on #490
1. currently implement the regular signin version. "get invited" is TBD
2. yes its correct, the recover has moved to the signin page

[2019-09-01 13:46] sirpy commented on #404
@qatests1001 should be fixed on goodqa

[2019-09-02 11:28] qatests1001 opened #522 "The "Ooops" error popup is displayed after entering the number on the "Sign up" page and clicking the "Next" button"
### Description
The "Ooops" error popup is displayed after entering the number on the "Sign up" page and clicking the "Next" button

### Steps to reproduce
1. Click the "Create a Wallet" button
2. Enter the name
3. Click the "Next" button
4. Enter the number
5. Click the "Next" button
6. Pay attention to the page

Actual result: The "Ooops" error popup is displayed after entering the number on the

[2019-09-02 11:53] qatests1001 commented on #508
Checked on https://goodqa.netlify.com
Fixed https://www.screencast.com/t/ZqsmcMPl81r

[2019-09-02 11:53] #508 closed

[2019-09-02 12:41] sirpy opened #523 "User should be notified if not enough GD to pay transaction fee of 1%"
We have a transaction fee of 1%.
If user tries to transfer GD he needs to make sure his account has extra %1.

Definition of Done
- [x] UI checks smart contract for current TX fee rate
- [x] In Amount screen of send, check if user has enough GD to cover the amount+%1
- [x] Show error under amount if not enough

[2019-09-02 15:22] dminones commented on #459
@sirpy wasnt able to find #799 issue, should this be a github issue or what that number is referring to? What should we do here?

[2019-09-02 15:35] kbardi commented on #457
It seems like a post Splash and pre App (Auth or Dashboard page?)
1. Splash is a React suspense fallback, and it is not visible for much time...is it ok?
1. Should we render this page each time, or just the first time user opens dapp?

[2019-09-02 15:41] tzvister opened #524 ""Add to HomeScreen" on iOS"
We're currently developing the G$ wallet as a webapp. There were a lot of trade-offs, we've had to strip out some of the app functionality, such as allowing quick access to on-device phonebook, in order to send quicker payments to friends and family.

One of the harder trade-offs we had to make, was giving up on iOS quick accessibility to the Wallet (which is native on Android). An ability for the

[2019-09-02 15:47] sirpy commented on #459
this is not a bug, I forgot there's a tx fee on the deployed contracts of alpha2,
this cauused a revert of tx is you tried to send your 1GD, so you didnt have enough to pay tx fee

[2019-09-02 15:47] #459 closed

[2019-09-02 15:52] kbardi commented on #438
@sirpy  Can you confirm that "wallet open" is the init method on **GoodWalletClass**?

[2019-09-02 15:59] kbardi commented on #439
@sirpy  Unavailable error shows up on Sign up or on Profile editing process?

[2019-09-02 16:36] sirpy commented on #500
@kbardi ok i've checked again
this happens on chrome when i emulate iphone6
for some reason the text component has max-width property. maybe it should have margins to keep it from touching the sides but basically it should spread the whole width with a '\n' where liav broke the text in the design

[2019-09-02 20:59] sirpy commented on #439
on signup

[2019-09-02 21:01] sirpy commented on #438
no, i ment opening the webapp.
I think maybe we can just call /auth/eth everytime, currently we call it only if there's no JWT present in localstorage

[2019-09-02 21:17] sirpy commented on #457
1. it should be instead of the splash screen on desktop. I suggest that you do it in App.js
    - if on desktop then instead of RouterSelector you render the SplashDesktop
once user press continue on web you render RouterSelector.
    - in RouterSelector if on desktop remove the promise delay of 2000 for signup
2. yeah render everytime, but read option from localstorage to disable it. if disabled

[2019-09-03 11:53] #414 closed

[2019-09-03 15:04] dOrgJelli opened #528 "Create Account Flow: Text Verification Not Working"
### Description
In the account creation flow, when running locally, the SMS verification doesn't work.

### Steps to reproduce
1. Start local dev environment
1. Create new account
1. See SMS not send

### Which network did you use?
Development

### Supporting data

[2019-09-03 15:14] sirpy opened #529 "SigninInfo should match design"
current|design
|---|---|
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/a7fcf331-a883-417b-a46f-cd5a953e4e15)|![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/b52e0728-f084-4f27-ab10-df16831a652b)

1. space between text and the start of the instructions
2. font/weight of numbers in circles
3. numbers in circles not centered

[2019-09-03 15:31] sirpy commented on #528
sms isn't sent when you are in development. only if env is set to staging/production.
plus you'll need a plivo auth code set in the GoodServer .env
in the GoodServer we have a helper for some api endpoints onlyInEnv()

[2019-09-03 15:31] #528 closed

[2019-09-03 15:32] dOrgJelli commented on #528
Good to know, how can you bypass this page in setup? Or is new account creation not supported in development environment.

[2019-09-03 15:36] sirpy commented on #528
@dOrgJelli not sure what you mean. you can type whatever phone number and then whatever sms code you want. it will let you pass.

[2019-09-03 15:37] dOrgJelli commented on #528
Oh okay I wasn't aware that anything would work :+1: thank you!

[2019-09-03 15:37] sirpy commented on #499
@kbardi dont close bugs they go through QA

[2019-09-03 19:22] #460 closed

[2019-09-03 19:22] #494 closed

[2019-09-04 06:38] qatests1001 commented on #510
Checked on https://goodqa.netlify.com
Reproduced https://www.screencast.com/t/vzc0N4bU4CW

[2019-09-04 07:00] sirpy commented on #510
@qatests1001 sorry this wasn't uploaded yet. updated now. be online in couple of minutes

[2019-09-04 07:07] qatests1001 commented on #408
Checked on https://goodqa.netlify.com
Fixed https://www.screencast.com/t/OT8AkV8j6

[2019-09-04 07:07] #408 closed

[2019-09-04 10:42] qatests1001 commented on #510
Fixed https://www.screencast.com/t/agbelNfxY

[2019-09-04 10:42] #510 closed

[2019-09-04 10:52] qatests1001 commented on #499
Checked on https://goodqa.netlify.com
Fixed https://www.screencast.com/t/agbelNfxY

[2019-09-04 11:05] qatests1001 commented on #377
Checked on https://goodqa.netlify.com
Is location ok? https://www.screencast.com/t/snllpGiBp

[2019-09-04 11:10] qatests1001 commented on #404
Checked on https://goodqa.netlify.com
According to the "server goes into sleep mode"
Looks as expected https://www.screencast.com/t/vfX6DLbbm7Mf

[2019-09-04 11:10] #404 closed

[2019-09-04 11:32] qatests1001 opened #534 "The balance is not changed after creating the TX. Only after reloading"
### Description
The balance is not changed after creating the TX. Only after reloading

### Precondition
Register a new account

### Steps to reproduce
1. Send the payment
2. Pay attention to the "Feed" section
3. Reload the page
4. Pay attention to the main screen

Actual result: The balance is not changed after creating the TX. Only after reloading
Expected result: The balance is changed after c

[2019-09-04 11:35] qatests1001 opened #535 "The balance is not changed after using the "Claim" function. Only after reloading"
### Description
The balance is not changed after using the "Claim" function. Only after reloading

### Precondition
Register a new account

### Steps to reproduce
1. Click the "Claim" button
2. Pay attention to the "Feed" section
3. Reload the page
4. Pay attention to the screen

Actual result: The balance is not changed after using the "Claim" function. Only after reloading
Expected result: The b

[2019-09-04 11:42] qatests1001 opened #536 "The "Payment Pending..." item is not deleted after tapping the "Delete" button. Happens 1/3"
### Description
The "Payment Pending..." item is not deleted after tapping the "Delete" button. Happens 1/3

### Precondition
* Register a new account
* The "Send" link is created
* The main page is opened

### Steps to reproduce
1. Swipe left the "Payment Pending..." item
2. Tap the "Delete" button
3. Pay attention to the "Feed" section
4. Reload the page
5. Pay attention to the screen

Actual re

[2019-09-04 11:51] qatests1001 commented on #295
Checked on https://goodqa.netlify.com
Reproduced after double-tapping
https://www.screencast.com/t/leWlgaMWlaT

[2019-09-04 11:57] qatests1001 opened #537 "The "Sign in Steps" screen is skipped after tapping the "Sign in" button. Sometimes"
### Description
The "Sign in Steps" screen is skipped after tapping the "Sign in" button. Sometimes

### Steps to reproduce
1. Click the "Sign in" button
2. Pay attention to the screen

Actual result: The "Sign in Steps" screen is skipped after tapping the "Sign in" button. Sometimes
Expected result: The "Sign in Steps" screen is displayed after tapping the "Sign in" button

### Supporting data
En

[2019-09-04 12:08] qatests1001 opened #538 "Nothing happens after tapping the "Claim Your Share" button"
### Description
Nothing happens after tapping the "Claim Your Share" button

### Preconditions
* Logged in with  mnemonic: solid great pen claim funny tunnel cradle crumble metal lucky honey clump

### Steps to reproduce
1. Click the "Claim" button
2. Click the "Claim Your Share" button
3. Pay attention to the screen

Actual result: Nothing happens after tapping the "Claim Your Share" button
Expec

[2019-09-04 12:24] #457 closed

[2019-09-04 12:36] qatests1001 opened #539 "The "Recover my wallet" button is overlapped by the description above"
### Description
The "Recover my wallet" button is overlapped by the description above

### Steps to reproduce
1. Tap the "Sign in" button
2. Tap the "Log in" button
3. Pay attention to the screen

Actual result: The "Recover my wallet" button is overlapped by the description above
Expected result: The "Recover my wallet" button is not overlapped by the description above

### Supporting data
Env ht

[2019-09-04 12:40] qatests1001 opened #540 "The "Name, You've received 0.10 G$ from tea as. To withdraw open:" text is not displayed in the description of the sending link"
### Description
The "Name, You've received 0.10 G$ from tea as. To withdraw open:" text is not displayed in the description of the sending link

### Preconditions
* Register a new account
* The "Send" link is created

### Steps to reproduce
1. Pay attention to the "Send" link

Actual result: The "Name, You've received 0.10 G$ from tea as. To withdraw open:" text is not displayed in the description

[2019-09-04 12:46] qatests1001 opened #541 "The "Send" item is gray in the "Feed" section. The description is absent in the "Send" TX popup"
### Description

### Preconditions
* The user is logged in
* The balance is >0
* The "Recieve" QR is opened on another device

### Steps to reproduce
1. Tap the "Send" button
2. Tap the "Screen QR" item
3. Scan the QR code on another device
4. Click the "Confirm" button
5. Pay attention to the "Feed" section on the main page

Actual result: The "Send" item is gray in the "Feed" section. The descri

[2019-09-04 13:02] qatests1001 opened #542 "The endless spinner is displayed on the "Processing Payment Link" popup after opening the "Send" link"
### Description
The endless spinner is displayed on the "Processing Payment Link" popup after opening the "Send" link

### Preconditions
* The user is logged in
* The "Send" link is sent from another account

### Steps to reproduce
1. Tap the link
2. Pay attention to the page

Actual result: The endless spinner is displayed on the "Processing Payment Link" popup after opening the "Send" link
Expec

[2019-09-04 13:07] qatests1001 opened #543 "The "Ooops" error popup is displayed after opening the "Send" link"
### Description
The "Ooops" error popup is displayed after opening the "Send" link

### Preconditions
* The user is logged in
* The "Send" link is sent from another account

### Steps to reproduce
1. Tap the link
2. Pay attention to the page

Actual result: The "Ooops" error popup is displayed after opening the "Send" link
Expected result: The TX is made after opening the "Send" link

### Supporti

[2019-09-04 13:27] qatests1001 opened #544 "The Menu is swiped up and down after swiping"
### Description
The Menu is swiped up and down after swiping

### Preconditions
* The user is logged in

### Steps to reproduce
1. Tap the "Burger" icon
2. Swipe up and down the menu

Actual result: The Menu is swiped up and down after swiping
Expected result: The Menu is not moved after swiping

### Supporting data
Env https://goodqa.netlify.com
iPhone6 12.3.1, Safari

https://www.screencast.com/

[2019-09-04 13:33] #415 closed

[2019-09-04 18:56] sirpy commented on #534
missing config to use websockets for events on web3
fixed

[2019-09-04 19:03] sirpy commented on #544
@qatests1001 thats ok. not a bug.

[2019-09-04 19:03] #544 closed

[2019-09-04 19:04] sirpy commented on #543
@qatests1001 after you create a payment it may take a few seconds for it to register on the blockchain, until then the payment link wont work.

[2019-09-04 19:04] #543 closed

[2019-09-04 19:11] sirpy commented on #542
I think this is related to the first bug with the web3 events

[2019-09-04 19:25] sirpy commented on #540
@qatests1001 can you explain this bug better please

[2019-09-04 19:27] sirpy commented on #539
@StanislavShevchenko see how other screens are implemented or ask the protofire team at gitter how they solved this for other screens

[2019-09-04 19:28] sirpy commented on #541
@qatests1001 think this is also connected to the events issue. lets test this again

[2019-09-04 19:30] sirpy commented on #538
@qatests1001 is this an account you opened for this test?
does this happen with a new account?

[2019-09-04 19:45] sirpy commented on #536
@qatests1001 this happened multiple times? and sometimes the payment is deleted and sometimes it isnt? the same item gets deleted the second or third time you try to delete it?

[2019-09-04 19:48] sirpy commented on #522
@qatests1001 this looks like the server was asleep, you need to first wake it up like we discussed.

[2019-09-04 19:48] #522 closed

[2019-09-04 19:48] sirpy commented on #535
@qatests1001 same issue with events

[2019-09-04 19:52] sirpy opened #545 "Opening receive links results in bad qr error message"
I've created a receive link.
Tried to open it myself, on the same wallet.
Got a popup saying invalid QR code pop wasn't an error modal but regular success

Definition of Done
- receive link opened and parsed correctly
- error popup use the error modal look

[2019-09-04 20:16] AlexeyKosinski opened #546 "Admin wallet load testing"
### adminwallet
  - test lock by running concurrent whitelisting transactions (setup an API endpoint if needed)
  - generate random addresses to be whitelisted
  - increase heroku dynos, each dyno should run multiple workers 2-3 until there's no increase in TPS

### expected report
  - results based on number of total web workers/ type of webworker/type of mongodb backend
  - how much concurrency

[2019-09-04 20:18] AlexeyKosinski opened #547 "Backend API load testing"
### backend api
  - test the /auth/eth endpoint
  - generate random data for the endpoint
  - should scale linearly with heroku dynos, check the TPS added by each dyno and different dyno sizes

### expected report
  - results based on number of total web workers/ type of webworker/type of mongodb backend
  - how much concurrency before requests timeout
  - latency(avergae time requests takes to co

[2019-09-04 20:21] AlexeyKosinski opened #549 "Gundb load testing"
### gundb - GoodGun
  - existing loadtesting script at GoodGun repo. loadtest.js
  - add SEA writing tests (ie gun.user())
  - make sure client CPU is not the bottleneck
  - different heroku mongo plans

### expected report
  - results based on number of total web workers/ type of webworker/type of mongodb backend
  - how much concurrency before requests timeout
  - latency(avergae time requests t

[2019-09-04 20:23] AlexeyKosinski opened #550 "Setup heroku webworkers"
modify heroku dev env (good-server) with multiple web workers 2-3

[2019-09-04 20:53] sirpy commented on #377
@kbardi see image attached

[2019-09-04 21:02] sirpy commented on #499
@qatests1001 if a bug is fixed please also close it.

[2019-09-04 21:02] #499 closed

[2019-09-05 07:27] qatests1001 commented on #540
https://www.screencast.com/t/GriZ1wzFCM
1st bulb - the "Send" link created from Redmi 3, Android 8.1.0 // Chrome 76.0
2nd bulb - the "Send" link created from iPhone6 12.3.1, Safari
it looks differently
https://www.screencast.com/t/6HZXYIIXizzS how to make "Send" link

[2019-09-05 07:28] qatests1001 commented on #538
It's new account

[2019-09-05 07:34] qatests1001 commented on #499
@sirpy
We did not created this bug and couldn't close

[2019-09-05 07:36] qatests1001 commented on #536
_this happened multiple times?_ - Yes
_and sometimes the payment is deleted and sometimes it isnt?_ - Yes
_the same item gets deleted the second or third time you try to delete it?_ - It can be deleted on second or third time I try to delete it

[2019-09-05 09:37] #505 closed

[2019-09-05 09:50] sirpy commented on #422
implemented in #493

[2019-09-05 09:50] #422 closed

[2019-09-05 09:59] sirpy opened #552 "GoodWallet test not failing correctly"
in travis build I get this error
[code]
The promises are not handled correctly and so it seems the test doesn't fail
Also it seems then that admin mnemonic or something is missing from the travis-ci ENV

Definition of Done
- promise rejections handled correctly and tests fail
- mnemonic passed to travis and tests pass

[2019-09-05 12:05] StanislavShevchenko commented on #442
need to create a email template for a magic link to mautic and after edit src/server/server.config.js

[2019-09-05 21:25] fernandomg commented on #536
- feels like the document is not completely propagated/persisted/or something around that. Because it's marked as `deleted`, and the feed item is removed from the list due to the `.on` listener placed in `Dashboard`, but before the promises from the `delete` calls are resolved.
  - even if I wait for the promise to resolve, and refresh... the document will re-appear in the feed list.
  - @sirpy, m

[2019-09-05 21:27] dminones commented on #447
@sirpy so we should intercept and control this behavior as suggested on the post shared by fernando and not allow the browser use default behavior right?

[2019-09-05 21:29] sirpy commented on #536
@fernandomg after its marked as deleted the record changes back to the previous value?

[2019-09-06 00:44] fernandomg commented on #536
@sirpy, This happens if you refresh the page immediately after the feed item dissapears, as in the video

[2019-09-06 08:05] sirpy commented on #536
@fernandomg
- check then the data of the feeditem in gundb directly like i've asked above, before refreshing the page and after refreshing the page. compare what fields have changed.
- maybe it has something to do with blockchain events, maybe we get the tx event again and its added again to the feed?
follow the different console logs we have on that

[2019-09-06 08:21] sirpy commented on #447
@dminones lets start with the basics. if android has own prompt thats ok for now. no need for own design. but see if you can implement it in a modular way so it will be easy to change

[2019-09-06 13:50] #438 closed

[2019-09-06 14:30] #458 closed

[2019-09-06 17:39] dminones commented on #545
@sirpy

- Error dialog fixed on https://github.com/GoodDollar/GoodDAPP/pull/556

[2019-09-06 19:23] dminones commented on #447
@sirpy ok, this are my findings and test:

According to this chrome behavior (which matches with android behavior mostly) in new versions you get the "Mini-infobar" when meeting the criteria and regarding the preventDefault (so we cannot avoid this on init app but will be only shown once on 90 days)

https://developers.google.com/web/updates/2018/06/a2hs-updates

We can get this prompt reference a

[2019-09-07 00:50] fernandomg commented on #536
@sirpy, update...

- now, for some reason (latest changes in `master`? not sure) I'm not being able to reproduce the `feedItem`'s status change.
- this exposed a new issue related to this refresh-after-delete thing: as the "cancel payment"  process first calls to _delete_  the `feedItem` and after that calls to _cancel_ the deposit, I we refresh before the_cancel_ call the `feedItem` will be remov

[2019-09-08 05:14] sirpy commented on #536
@fernandomg lets do the delete once the cancel has a TX hash
we also delete once we get a receipt so i think we should be fine there

[2019-09-08 05:23] sirpy commented on #545
@dariominones I didnt scan the QR, i generated a receive link and pasted it at the location bar

[2019-09-08 05:45] #428 closed

[2019-09-08 05:49] #539 closed

[2019-09-08 05:58] sirpy commented on #540
@kbardi can you try to reproduce this on iphone? the problem seems that the description isn't added on iphone but is on android.
@qatests1001 can you please share a full video including pressing on share and pasting the link somewhere? (a video on iphone)

[2019-09-08 05:59] sirpy commented on #538
@qatests1001 please retest

[2019-09-08 21:48] sirpy commented on #447
i'll be working with Liav on the exact flow on monday

[2019-09-09 07:30] LiavGut opened #559 "Feed - Claim: Reason text should say: "Your daily basic income""
Feed - Claim: Reason text should say: "Your daily basic income"

[2019-09-09 07:42] qatests1001 commented on #538
Checked on https://goodqa.netlify.com
Still reproduced with acc: solid great pen claim funny tunnel cradle crumble metal lucky honey clump
https://www.screencast.com/t/yC1sJTXz

[2019-09-09 07:44] sirpy commented on #559
fixed in #553

[2019-09-09 07:52] LiavGut opened #560 "Claim: Counter shouldn't move left and right after each number change"
Claim: Counter shouldn't move left and right after each number change.

The counter's number should change without the movement/jumps of the entire counter.

[2019-09-09 08:01] qatests1001 commented on #540
The description isn't added in the "Notes" and "Telegram", but it is displayed in "Messeges" (for iPhone)
https://www.screencast.com/t/n5uxBcPqS07O

[2019-09-09 09:58] sirpy commented on #447
@dminones hey the flow to implement would be as follows:
1. on all platforms: by some TBD trigger: pop is displayed showing:
  - explanation text
  - button: maybe later
  - button: ok
2. if user press ok then
  2.1 on desktop: activate prompt
  2.2 on android: activate prompt with an overlay image that will probably be an arrow pointing to the toast that native android is showing at the bottom

[2019-09-09 11:19] StanislavShevchenko commented on #547
- should scale linearly with heroku dynos, check the TPS added by each dyno and different dyno sizes.

 wait @AlexeyKosinski

[2019-09-09 11:52] yaroslav-fedyshyn-nordwhale commented on #455
@Sergezdv there is a error thrown in console while trying to open W3 site in iFrame - Refused to display 'https://w3.gooddollar.org/?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJnZW5lcmF0ZV9hdCI6IjIwMTktMDktMDlUMTE6NTA6MjUuMTUwWiIsInVzZXIiOnsiaWQiOiIxMTkifSwiaWF0IjoxNTY4MDI5ODI1fQ.0vHebVekgWnuUuRg6iDXQDvtqKzJ4htcy3EuBcXR0Sw?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJnZW5lcmF0ZV9hdCI6IjIwMTktMD

[2019-09-09 13:43] sirpy opened #562 "test integration of animations"
animations exported to lollie
https://github.com/react-native-web-community/react-native-web-lottie

- animation example to implement zip
https://app.zenhub.com/files/166818382/85e54f0d-97e2-42aa-97d0-622ad597c96f/download

Definition of Done
- [x] animation is triggered inside DAPP
- [x] check play animation in loop from a specific frame
- [x] report about how to integrate, where to put files of

[2019-09-09 14:29] sirpy commented on #524
@LiavGut

[2019-09-09 19:33] sirpy opened #564 "w3 should allow iframes"
the DAPP needs to show w3 as an iframe.

Definition of Done
--
- [x] dev env allows iframes from gooddollar.org, localhost, netlify.com (on w3 read the referer from the http request and return x-frame-options with the correct domain)
- [x] production env allows only from dapp.gooddollar.org
- [x] check how a page looks in iframe in DAPP (Yaroslav)

[2019-09-10 06:39] LiavGut commented on #524
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/acf576a2-9e6c-4258-b689-ac4b4bd1fa6f/Dashboard-Feed-PopUp-Add-home-screen-icon-

Reminder:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/d9bf74e9-a3e1-48c5-ab16-379c61054aec/Dashboard-Feed-PopUp-Add-home-screen-icon-Later

iPhone:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f9

[2019-09-10 07:53] sirpy commented on #492
user can open wallet if from w3 or payment link
#490

[2019-09-10 07:53] #492 closed

[2019-09-10 08:42] sirpy commented on #447
@dminones
design here:
https://github.com/GoodDollar/GoodDAPP/issues/524#issuecomment-529793977

the first popup design is for the first time it is shown to the user, we keep a state the we showed the pop up to the user
if the pop display is triggered again at some other point in the future the second popup is shown.
for ios we overlay the small explanation popup

[2019-09-10 12:03] LiavGut commented on #502
@sirpy I think that user cannot change his email/mobile without verifying them on the spot, so once he is typing a new one, he automatically directed to the same screen as on signup waiting for user to copy-paste the code.

Maybe just a popup message that will inform the user that he needs to verify his mobile/email and then direct him to the signup screen with the code...

[2019-09-10 12:53] LiavGut opened #566 "Feed - cards: the long separator line should be aligned between the icon and the G$ amount."
Feed - cards: the long separator line should be aligned between the icon and the G$ amount.

[2019-09-10 13:04] StanislavShevchenko commented on #547
added generatin  random data

[2019-09-10 13:51] yaroslav-fedyshyn-nordwhale commented on #416
@LiavGut 's remarks concerning feed event item look:

- text should say: GoodDollar
- the reason (the small gray text beneath it) should say: Your recent earned rewards

[2019-09-10 14:48] LiavGut commented on #437
FV (!!!)

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/0940a106-b22f-4780-a1c7-d113c1f6874a/FV-CAMERA-ACCESS/

[2019-09-11 07:13] AlexeyKosinski opened #570 "User couldn't click on recovery link on Sign in screen"
![image.png](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/c428cc99-90ef-406d-bde9-66ae695c8507)

check how it works on another screens and fix

[2019-09-11 09:55] dminones commented on #447
@sirpy what trigger should we use on the first version? Would be entering to dashboard ok?

[2019-09-11 12:14] sirpy commented on #435
@AnastasiiaOdnoshevna
you can use this to transfer the user ether(gas) to some other account
https://eth.nordwhale.com

[2019-09-11 12:19] sirpy commented on #529
@StanislavShevchenko we saw an issue on iphone5

[2019-09-11 12:35] AlexeyKosinski commented on #435
@AnastasiiaOdnoshevna if u have questions how to use http://eth.nordwhale.com please ask me

[2019-09-11 12:38] #395 closed

[2019-09-11 12:39] sirpy commented on #493
@AnastasiiaOdnoshevna this can only be tested on goodqa env since emails are not sent on gooddev

[2019-09-11 12:40] #442 closed

[2019-09-11 12:50] sirpy commented on #564
@yaroslav-fedyshyn-nordwhale @Sergezdv whats the status?

[2019-09-11 12:59] fernandomg commented on #402
this is no longer valid, 'TopBar' was removed on https://github.com/GoodDollar/GoodDAPP/pull/526

[2019-09-11 12:59] #402 closed

[2019-09-11 13:40] yaroslav-fedyshyn-nordwhale commented on #564
@sirpy Sergey just contact with me - he added domains described in task to be available in iFrame. So i tested it locally on my machine and here (https://goodqa.netlify.com/Auth/Login) - working well

[2019-09-11 15:41] kbardi commented on #540
@sirpy
The thing here is, we cannot use different attributes or change the share object...we are using the share object in the same it is defined, we have 3 attributes we can use: **title**, **text** and **url**...and it is working on Messages, so we are sending them correctly...

[Here we have the explanation](https://developers.google.com/web/updates/2016/09/navigator-share) about how we can use

[2019-09-11 17:13] sirpy commented on #540
Ok. Please experiment with filling different fields title/text and if
anything is working on telegram/notes or nothing works and we can only use
uri.

[2019-09-11 18:22] StanislavShevchenko commented on #546
should scale linearly with heroku dynos, check the TPS added by each dyno and different dyno sizes.

wait @AlexeyKosinski

[2019-09-11 20:52] fernandomg commented on #439
Ok, while I was trying to reproduce this scenario were cleaning up localStorage will solve the "Unavailability" error, found out that I'm getting this error, but from different accounts that weren't properly removed/deleted, thus I have old data stored and associated with a different account.

Can we, in any way, know that that other account is no longer used? or that the mobile/emails are ours?

[2019-09-11 21:27] sirpy commented on #447
@dariominones yes just make it easy to trigger from other places

[2019-09-12 08:46] sirpy opened #575 "Perform backend api testing"
@AlexeyKosinski backend api test is ready
please create a report on heroku like described in the epic.

[2019-09-12 08:50] sirpy opened #576 "User should have a better image editor"

[2019-09-12 13:39] qatests1001 opened #577 "The verification code isn't received to the phone after sending in the creating wallet process"
### Description

The verification code isn't received to the phone after sending in the creating wallet process on the https://gooddev.netlify.com/
### Steps to reproduce

1. Open the https://gooddev.netlify.com/ site
2. Tap the "Create a wallet" button
3. Enter the name > "Next" button
4. Enter the valid phone number
5. Tap the "Next" button
6. Check the verification code

Actual result: The veri

[2019-09-13 08:17] qatests1001 commented on #534
Checked on https://gooddev.netlify.com
iPhone X // iOS 12.4 Safari
The bug is reproduced
https://www.screencast.com/t/8kaSghWphvK0

[2019-09-13 08:20] qatests1001 commented on #535
Checked on https://gooddev.netlify.com
iPhone X // iOS 12.4 Safari
The bug is reproduced
https://www.screencast.com/t/8kaSghWphvK0

[2019-09-13 08:22] qatests1001 commented on #388
@sirpy
Checked on https://gooddev.netlify.com
iPhone X // iOS 12.4 Safari
The bug is reproduced. The "Total claimed G$" value isn't displayed
https://www.screencast.com/t/8kaSghWphvK0

[2019-09-13 08:26] qatests1001 commented on #295
Checked on https://gooddev.netlify.com
iPhone X // iOS 12.4 Safari
The bug is reproduced
https://www.screencast.com/t/uHHZjbFW

[2019-09-13 08:39] #490 closed

[2019-09-13 08:41] qatests1001 commented on #545
@sirpy
Checked on https://gooddev.netlify.com
iPhone X // iOS 12.4 Safari
The error message isn't displayed
https://www.screencast.com/t/LoHWI1voSoFn

[2019-09-13 08:41] sirpy commented on #295
@yaroslav-fedyshyn-nordwhale

[2019-09-13 08:43] sirpy commented on #545
if its fixed then please close the ticket

[2019-09-13 08:45] qatests1001 commented on #538
Checked on https://gooddev.netlify.com
iPhone X // iOS 12.4 Safari
The bug is fixed
https://www.screencast.com/t/8kaSghWphvK0

[2019-09-13 08:45] #538 closed

[2019-09-13 08:47] sirpy commented on #388
@qatests1001 the bug is NOT reproduced, you are showing a different bug all together.
if you didnt do any of recreate the steps to reproduce the bug then its not reproduced.

[2019-09-13 08:56] sirpy commented on #439
no leave it.

[2019-09-13 08:56] qatests1001 opened #579 "The error message is displayed on the wallet page after creating a new wallet with valid data"
### Description

The error message is displayed on the wallet page after creating a new wallet with valid data
### Steps to reproduce

1. Open the https://gooddev.netlify.com/ site
2. Tap the "Create a wallet" button
3. Enter the name > "Next" button
4. Enter the phone number > "Next" button
5. Enter "111111" code > "Next" button
6. Enter the email > "Next" button
7. Tap the "Let's start" button

[2019-09-13 09:00] yaroslav-fedyshyn-nordwhale commented on #295
@AnastasiiaOdnoshevna @sirpy I guess I found where is the problem. Trying to solve it.

[2019-09-13 09:01] qatests1001 commented on #388
@sirpy
Sorry, wrong link
https://www.screencast.com/t/b0WCHqWosfNO

[2019-09-13 09:08] Nordwhale commented on #388
@AnastasiiaOdnoshevna
There is a new Claim screen without Total amount of claimed G$ - so the initial issue is not actual I guess.

But I noticed on your video, that amount of people claimed today isn't changed, looks like it's a stub value.
I think we need a separate ticket on this.

[2019-09-13 09:22] qatests1001 opened #580 "The total count of claimed people isn't changed after the current user claiming"
### Description

The total count of claimed people isn't changed after the current user claiming

### Steps to reproduce

1. Create a new wallet and log in
2. Click the "Claim" button
3. Click the "Claim your share" button
4. Click the "Claim" button again
5. Pay attention to the total count of claimed people

Actual result: The total count of claimed people isn't changed after the current user cl

[2019-09-13 09:43] qatests1001 commented on #500
https://www.screencast.com/t/JSp37gKkwv

[2019-09-13 10:15] qatests1001 commented on #515
Checked on https://gooddev.netlify.com
iPhone X // iOS 12.4 Safari
The bug is fixed
https://www.screencast.com/t/qX0dLN4WPBRJ

[2019-09-13 10:15] #515 closed

[2019-09-13 10:48] qatests1001 commented on #559
@sirpy
Checked on https://gooddev.netlify.com
iPhone X // iOS 12.4 Safari
The bug is fixed
https://www.screencast.com/t/qZ1APWuWN

[2019-09-13 11:13] qatests1001 commented on #491
The "Sign in" screen looks good on different devices
Checked on https://gooddev.netlify.com
iPhone X // iOS 12.4 Safari
Chrome 77.0.3865.75
Samsung Galaxy A6 // Android 9.0
https://www.screencast.com/t/xErl0S1xr

[2019-09-13 12:33] qatests1001 commented on #497
@sirpy
The "Recover" screen looks good on different devices
Checked on https://gooddev.netlify.com
iPhone X // iOS 12.4 Safari
Chrome 77.0.3865.75
Samsung Galaxy A6 // Android 9.0

https://www.screencast.com/t/Bd6ASxTxv
https://www.screencast.com/t/DbvsF2te
https://www.screencast.com/t/K5hHN0O9D
https://www.screencast.com/t/K5hHN0O9D

[2019-09-13 12:37] qatests1001 commented on #406
@sirpy
Can't check on https://gooddev.netlify.com

[2019-09-13 20:12] LiavGut opened #588 "Feed: Cards: Avatar (on the left) should be aligned in hight to the card icon (on the right)"
Feed: Cards: Avatar (on the left) should be aligned in hight to the card icon (on the right)

It should match the design wireframes.

[2019-09-15 08:02] #439 closed

[2019-09-15 08:13] #559 closed

[2019-09-15 08:14] #500 closed

[2019-09-15 08:16] #388 closed

[2019-09-15 08:24] sirpy commented on #541
@qatests1001 needs to best tested on gooddev

[2019-09-15 08:35] sirpy commented on #566
@LiavGut a picture is worth a thousand words

[2019-09-16 07:10] sirpy commented on #502
@LiavGut lets think of the exact flow...

[2019-09-16 07:34] LiavGut commented on #566
![1](https://user-images.githubusercontent.com/54103946/64940770-8cfdf800-d86d-11e9-9322-c44680b511f4.jpg)

[2019-09-16 07:52] #416 closed

[2019-09-16 07:56] sirpy commented on #562
@AlexeyKosinski please attach video and answer above Definition of Done

[2019-09-16 08:08] StanislavShevchenko commented on #529
https://files.slack.com/files-pri/T9X94Q88P-FMX3W164S/image.png

[2019-09-16 08:09] sirpy commented on #545
@qatests1001 you test it with a "send" link.
you need to test it with a "receive" request link.

[2019-09-16 09:24] AlexeyKosinski commented on #562
1 done
2 we can use this.animation.goToAndPlay(#FRAME_NUMBER#, true) for run animation from specific frame.
we can use it on 'clomplete' event.
so it is looping from specific frame to end
3 steps to integrate
1) npm i lottie-react-native lottie-react-native-web
2) add animations images to public folder `/animations/#ANIMATIONNAME#/`
3) create animation component in folder 'animations'
4) change al

[2019-09-16 10:53] sirpy commented on #435
- need to solve issue of loop

[2019-09-16 11:46] sirpy opened #593 "apply bonus branches on GoodServer+GoodContracts on beta branch"
Also add a check on GoodServer that user isWhitelisted before giving bonus
On client only send request for bonus if user isWhitelisted

[2019-09-16 12:13] AlexeyKosinski commented on #550
run test from local machine. change dynos in heroku

[2019-09-16 12:14] AlexeyKosinski commented on #575
https://docs.google.com/spreadsheets/d/1snLfkASaoUDAGDFPaoGVHk4fZAAnqfEvkqRym-ZaYw0/edit#gid=1604218936

[2019-09-16 12:15] AnastasiiaOdnoshevna commented on #529
Fixed on the Dev environment

[2019-09-16 12:16] AnastasiiaOdnoshevna commented on #570
Fixed on dev environment (gooddev)

[2019-09-16 12:55] AnastasiiaOdnoshevna commented on #536
The issue doesn't reproduce on QA env

[2019-09-16 12:56] qatests1001 opened #594 "The "Sent" items aren't displayed in the "Feed" section"
### Description

The "Sent" items aren't displayed in the "Feed" section

### Steps to reproduce

1. Tap the "Send" button
2. Tap the "Screen QR" item
3. Scan the QR code on another device
4. Click the "Confirm" button
5. Pay attention to the "Feed" section on the main page

Actual result: The "Sent" items aren't displayed in the "Feed" section

Expected result: The "Sent" items are displayed in t

[2019-09-16 12:57] qatests1001 commented on #541
Blocked by https://github.com/GoodDollar/GoodDAPP/issues/594

[2019-09-16 13:00] sirpy commented on #519
@yaroslav-fedyshyn-nordwhale is there a PR for that?

[2019-09-16 13:07] yaroslav-fedyshyn-nordwhale commented on #519
@sirpy yes, here it is - https://github.com/GoodDollar/GoodServer/pull/73

[2019-09-16 19:22] #575 closed

[2019-09-16 19:56] sirpy commented on #534
the balance changes automatically after the transaction goes through.
it should take 3-5 seconds for balance to change automatically
only if it doesnt change at all and only changes after reload then its a bug
@qatests1001

[2019-09-16 20:28] sirpy commented on #580
We need to wait for beta branch new contracts

[2019-09-16 20:32] sirpy opened #597 "Splash screen "best with mobile" should use full url in QR"
the QR code should be of the full url including any params.
currently is just leads to the root of the DAPP

[2019-09-16 20:35] sirpy opened #598 "Limit height of view"
Design doesn't look good on large screens.
discuss with @LiavGut what should be the max-height.
Do we use max-height only for desktop? it might look funny on mobiles. what about tablets?

Definition of Done
- limit height
- limit happens only on the type of devices we decided to limit
- attach images of different heights

[2019-09-16 21:11] sirpy opened #599 "Adminlock should scale"
previous sttory #546
1. baseline test - TPS for a single server using mutex lock
2. experiment with batchrequest. on a single server try hard coded sending 20-100 txs of whitelist using the BatchRequest of web3, measure time to send txs, time to receive response
https://ethereum.stackexchange.com/questions/72461/web3-js-batch-request-error-method-callback-is-not-a-function
** it seems version 2.0.

[2019-09-16 21:16] sirpy opened #600 "dapp wallet tests failing because of nonce"
we shouldn't use dev admin mnemonic for tests.
need to use fixed accounts so we don't need admin wallet

[2019-09-16 21:19] sirpy commented on #377
@Nordwhale in PR kbardi shows a screen with 3 buttons one below the other. This should never happen the design is for a row with 2 buttons then the OK button below. just like the design and the other attached image shows.

[2019-09-16 21:26] sirpy commented on #540
@Nordwhale on mobile we use Navigator.share which uses the phone native share intent.
We fill 3 fields in the share method text,uri,title it seems that some apps like notes and telegram only use the URI field.

See my last comment to verify if in did telegram/notes dont use any of text/title fields in any combination. no code needed to change for this test, just test on iphone/android with simulat

[2019-09-16 21:31] sirpy commented on #447
@Nordwhale See https://github.com/GoodDollar/GoodDAPP/issues/524#issuecomment-529793977 for the design screens.
See also my last comment in the review of the PR https://github.com/GoodDollar/GoodDAPP/pull/532
The PR has been merged and reverted, so it needs to be recreated.

The implemented design in the PR/branch doesnt match the design.
on IOS we don't show instructions in the pop, once the user

[2019-09-16 21:35] sirpy commented on #496
@Nordwhale this PR has been merged and reverted.
See my last review of the PR.
we have give.gdlr.info and get.gdlr.info type them in the browser and see the destination they are converted too.
need to verify the payment links for send/receive we create are working correctly - see my last comment in the PR

[2019-09-16 21:36] sirpy commented on #435
show contact support in case of any error

[2019-09-16 22:30] sirpy opened #601 "Integrate with zoom v8"
restore face recognition and upgrade to zoom8
check zoom developer docs for what changed

[2019-09-17 06:41] Nordwhale commented on #435
Remove extra margin

[2019-09-17 06:42] Nordwhale commented on #519
has_wallet: false should be sent from front-end

[2019-09-17 06:54] AlexeyKosinski opened #602 "Nonce stuck problem"
Bug which we found on admin wallet load test.
Sometimes wallet nonce lock and never unlock.

[2019-09-17 08:01] yaroslav-fedyshyn-nordwhale commented on #519
@sirpy @Nordwhale the changes moved to GoodDapp.

[2019-09-17 08:18] qatests1001 commented on #455
Checked on https://gooddev.netlify.com on iPhone6 12.3.1, Safari
Works not as expected
https://www.screencast.com/t/D3z84zVZ

[2019-09-17 08:37] qatests1001 commented on #576
Hi, @sirpy
Can you give us more details for testing?

[2019-09-17 08:42] qatests1001 commented on #594
Checked on https://gooddev.netlify.com
Fixed
https://www.screencast.com/t/TXaknlcbSIW
@sirpy "Sent" item is displayed after refreshing the page. Is it ok?

[2019-09-17 08:42] #594 closed

[2019-09-17 09:06] sirpy commented on #545
Receive link is asking someone to send you money. So once you get the link
if you fill and approve it then it should send money to them and then
balance should change

[2019-09-17 09:07] sirpy commented on #594
No. User should never need to refresh the page

[2019-09-17 09:08] qatests1001 commented on #545
@sirpy I've created a receive link and open it myself, on the same wallet

[2019-09-17 09:41] qatests1001 commented on #406
Nothing is receiving to the email, there is currently no way to test

[2019-09-17 09:51] qatests1001 commented on #518
Checked on https://gooddev.netlify.com
Looks as expected
https://www.screencast.com/t/jcfSkx9Tx

[2019-09-17 10:19] qatests1001 commented on #534
Checked on https://gooddev.netlify.com
iPhone X // iOS 12.4 Safari
Fixed
https://www.screencast.com/t/UYOSAlaRUmd0

[2019-09-17 10:19] #534 closed

[2019-09-17 10:24] qatests1001 commented on #541
Checked on https://gooddev.netlify.com
Fixed
https://www.screencast.com/t/x8cbYYan

[2019-09-17 10:24] #541 closed

[2019-09-17 10:40] qatests1001 commented on #523
Checked on https://gooddev.netlify.com
iPhone X // iOS 12.4 Safari
Looks as expected https://www.screencast.com/t/p1eF8U9mi
There is a bug sometime https://www.screencast.com/t/fIMvHXkaerI7

[2019-09-17 10:49] qatests1001 commented on #295
Checked on https://gooddev.netlify.com
iPhone X // iOS 12.4 Safari
Fixed
https://www.screencast.com/t/Hwat5mqx

[2019-09-17 10:49] #295 closed

[2019-09-17 11:06] yaroslav-fedyshyn-nordwhale commented on #523
There is a bug sometime https://www.screencast.com/t/fIMvHXkaerI7.

It is not a bug. If the amount of G$s less than 1 then the fee is 0, so you will be able to send such amount of G$.

[2019-09-17 12:51] yaroslav-fedyshyn-nordwhale commented on #455
I found one bug with the way of generation source string for WebView. Fixed it and make a pull request.

Also, there is a bug with the wrong layout of the website opened through iframe (ios safari only). Currently cant recognize what is the reason of it.
![test.png](https://images.zenhubusercontent.com/5d555cf825ff190001f1a4eb/ce6bc7a2-a479-41d3-85e0-d72b46bb8afa)

[2019-09-17 13:27] Nordwhale commented on #496
@sirpy Could you please add more details how give.gdlr.info/code and
get.gdlr.info/code should work? What is the whole flow and how they are used?

I see that it redirects to receive and withdraw. It works good for me on Production. But what is the initial task and what's wrong in current implementation with the code parameter?

[2019-09-17 13:28] Nordwhale commented on #598
@LiavGut We need your input here. What should be the max-height?

[2019-09-17 19:56] sirpy commented on #455
@yaroslav-fedyshyn-nordwhale try adding style={width:'100%'} to webview element
see
https://stackoverflow.com/questions/23083462/how-to-get-an-iframe-to-be-responsive-in-ios-safari

[2019-09-17 20:07] sirpy commented on #496
they are just short urls for the receive/send links we use.
the problem is that kevin creates the links by appending the url params to the url for example
/dashboard/Send is appended with '?code=X' while the short url expected X to be appended without '?code='
get.gdlr.info/X
get/give.gdlr.info are configured on cloudflare to redirect to dapp.gooddollar.org/Dashboard/Send?code=X
so i'm not sure th

[2019-09-17 20:15] sirpy commented on #576
@qatests1001 we replaced the component that handles profile image.
user should be able to upload, select the center and resize.
I think there should be a test case for it. so we just need to see it works ok .

[2019-09-18 06:14] LiavGut commented on #598
Max hight should be implemented only on desktop and tablets.
In my opinion, the hight size should be 640 px, which is the hight of our basic design.

Keep in mind that one of our main goals is to increase mobile usage.
I even think of adding a massage beneath the 640px (on desktop and tablet) like our first splash screen ("For Best Experienceplease scan and continue on your mobile device" + QR co

[2019-09-18 06:30] sirpy opened #608 "claim design broken in desktop full screen"
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/5858d380-3476-4cd8-92f1-50a6379690e7)

it looks ok if I emulate in chrome other devices or even just show it with the developer console.

[2019-09-18 06:41] sirpy opened #609 "Claim button should animate when going to dashboard"
Claim button should grow in size then go back to normal size

[2019-09-18 06:42] sirpy opened #610 "Claim counter should change to button when counter is 0"
Once counter reaches 0 it should change to the claim button

[2019-09-18 06:56] sirpy opened #611 "GoodDollar token should match transfer restriction specs"
The claimer, whitelisted, blacklisted terms are very confusing.
Users access permissions should be as follows
1. claim - only whitelisted users can claim
2. transfer to - only whitelisted users can transfer to
3. transfer from - anyone can receive GoodDollars

we can add/keep requirements for the above that they are also not blacklisted.
meaning
you can claim only if you are whitelisted and not bl

[2019-09-18 06:57] #562 closed

[2019-09-18 06:58] #546 closed

[2019-09-18 07:07] sirpy commented on #598
@StanislavShevchenko
Definition of Done
- height is limited to 640 on tablets + desktops

[2019-09-18 07:14] sirpy opened #612 "User should see magic link explanation screen after email verification"
For all new users passing wallet creation we should show a Magic link explanation screen after the last registration step ( entering email verification code) before the Welcome screen.

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/229c2efe-3550-4804-a109-eac96ee1b958/Sign-Up-23

Definition of Done
--

- [x] The new Magic link explanation screen is shown as the last st

[2019-09-18 07:15] yaroslav-fedyshyn-nordwhale commented on #455
@sirpy already tried this. It gives no effect.

[2019-09-18 11:17] sirpy opened #614 "w3 iframe should be scrollable on ios"
The w3 in iframe doesnt work well on IOS
use iframe-resize to enable scrolling on iframe
https://github.com/davidjbradshaw/iframe-resizer
 - need to add iframe-resizer script to w3

Definition of Done
- [x] iframe-resizer on w3
- [x] iframe is scrollable

[2019-09-18 11:54] yaroslav-fedyshyn-nordwhale commented on #540
I have tested this on gooddev.netlify.com and locally.

I found a few issues while testing:

1) There is no sender name in the text description when trying to share link from feed popup component. Example : Test2, You've received 0.10 G$ from . To withdraw open:

2) When creating send transaction then real paymentCode inserted to the url. But when trying tp share url from feed popup component then

[2019-09-18 12:03] yaroslav-fedyshyn-nordwhale commented on #540
Regarding text/title field for share API. It seems like we cannot do anything to assign what to show in share message for different apps. Seems like the app decided by itself how to show provided data which want to be shared. I tested the case when trying to share url with text and title fields to telegram app - the only url field was shared. Meanwhile the same data to share was shared to viber ap

[2019-09-18 12:45] yaroslav-fedyshyn-nordwhale commented on #455
This task can be moved to review as for scroll and resize issues there is separate cards.

[2019-09-18 12:47] yaroslav-fedyshyn-nordwhale commented on #614
@Sergezdv waiting for script integration from your side.

[2019-09-19 05:34] sirpy commented on #540
@yaroslav-fedyshyn-nordwhale ok please work on fixing the issues.
add unit tests so we know links are generated correctly

[2019-09-19 05:36] sirpy commented on #598
@StanislavShevchenko max height should be 844

[2019-09-19 05:53] sirpy commented on #455
@qatests1001 this should work as expected now, except on ios there's a scrolling issue

[2019-09-19 06:38] AlexeyKosinski commented on #600
enable mongo lock in tests
related with #602 https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/602

[2019-09-19 08:10] Nordwhale commented on #496
We’ve changed forming of links and add conditions for prod and qa/dev. We’ve added two new parameters
REACT_APP_RECEIVE_URL=
REACT_APP_SEND_URL=

For prod they should be
get.gdlr.info/
give.gdlr.info/

There is condition, if it’s Prod, then we add code after slash ( have to add other parameters as well), if dev/qa we add GET parameters.

Payment links params should stay the same on production the

[2019-09-19 08:57] AnastasiiaOdnoshevna commented on #564
The issue was tested on https://goodqa.netlify.com and https://gooddev.netlify.com environment
iFrame is open and works fine

There are only few UI issues (that are reproduced on W3 website and should have separated ticket)

[2019-09-19 10:03] sirpy commented on #549
@StanislavShevchenko @AlexeyKosinski
The load test should be based on the loadtest.js in **GoodGunReceiver** repository
The current tests creates clients then  in a roundrobin over the clients sends .put requests.

I would like the SAME test just that clients also "login" to gun. and the puts requests are made via the client SEA module ie `client.user().get('x').put({...})`, this causes the puts t

[2019-09-19 10:28] AnastasiiaOdnoshevna commented on #519
The issue had been tested.
All requirement functionality is done and work as expected.

[2019-09-19 10:45] AnastasiiaOdnoshevna commented on #597
The isue was tested on https://gooddev.netlify.com/ and https://goodqa.netlify.com/
Functionality work as expected.

[Uploading... Screenshot_2019-09-19-10-33-28-226_com.xiaomi.scanner.png ]

[2019-09-19 10:50] sirpy opened #619 "remove requirements for whitelist when wallet topping"
since we check cheating on server.
this will help in cases gas failed for new users

Definition of Done
- [x] if gas topping failed for new user, he sees gas error but then his wallet is topped and he can continue

[2019-09-19 10:51] AnastasiiaOdnoshevna commented on #535
The issue had been tested on https://goodqa.netlify.com/, https://gooddev.netlify.com/

The bug is not reproduced.

[2019-09-19 10:52] sirpy opened #620 "handle zoom device not supported"
this is regarding zoom 7. depands if we integrate zoom8
Definition of Done
- if user uses an unsupported device (zoom unsupported error is returned) he sees error screen
- error screen explains to use a different browser/device

[2019-09-19 10:53] sirpy commented on #502
@LiavGut need exact flow

[2019-09-19 10:55] LiavGut commented on #502
I'll work on that

[2019-09-19 11:00] sirpy opened #621 "User should get a get verified to get bonus card"
We give bonuses only after user has been whitelisted
Need to show a card to encourage him

Definition of Done
- new users get this card (similar to welcome card)
- once user is whitelisted card is deleted (give card a fixed id so it can be deleted)

[2019-09-19 11:01] #577 closed

[2019-09-19 11:01] #579 closed

[2019-09-19 11:07] AnastasiiaOdnoshevna commented on #588
The issue had been tested on https://goodqa.netlify.com/, https://gooddev.netlify.com/ and https://w3.gooddollar.org/
All requirement UI is done and displayed as expected.

[2019-09-19 12:02] AnastasiiaOdnoshevna commented on #576
The issue had been tested on https://goodqa.netlify.com/ and https://gooddev.netlify.com/
User is able to select images, crop it, select any area. Editor is working fine with often-used pictures format (.jpg and .png), with small abd big pictures.

All functionality is working well

[2019-09-19 12:32] StanislavShevchenko commented on #496
need add to env
REACT_APP_RECEIVE_URL=
REACT_APP_SEND_URL=

[2019-09-19 16:42] LiavGut opened #624 "Splash + About: background texture should be at 40% opacity"
Here is the mock-ups ( see how the background looks ):
Splash https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/e1ee5a72-49c0-4102-ba3d-62ec5ecfdab6/Splash-4
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/

About https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/7263082c-e36f-4b9f-a1fe-d1e3f9a7bfb2/Settings-About

Here is how i

[2019-09-19 17:21] LiavGut opened #625 "Cards: Match the card's design to the wireframes design"
All cards should look alike in terms of alignments and margins.
So first, match alignments and margins of elements inside the cards to the wireframes.

Avatar picture and icon should be aligned in hight.
Separation line should be align in hight between the G$ amount to the icon.
texts lines should have the same location and margins as the wireframes.
The "To:" / "From:" should be aligned in the ba

[2019-09-20 06:30] Nordwhale commented on #566
We're waiting for Liav's approve or instructions.

[2019-09-22 05:47] LiavGut commented on #621
@sirpy A card that encourage the user to do FV?
If so, that means that most of the users will need to do FV right on the start, and probably, the FV before the Claim and Send will be rarely used.

[2019-09-22 06:18] sirpy commented on #621
@LiavGut @tzvister
Yeah its true that we expect a user to do Claim and that would be the initial driver for FV.
I discussed with @tzvister that the bonus will be credited only once user is whitelisted.
So a user comming to the wallet from w3 might wonder where are his rewards.

[2019-09-22 06:29] LiavGut commented on #502
@sirpy

1. User is editing his phone number/email.
2. User clicking outside of text field / clicking the save button
3. User is automatically directed to one of these screens (NO SAVING the new phone/email without verifying them):
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/b95c7ad6-5fd8-4f5c-9f29-605c61b501f0/YOUR-Profile-Edit-Verify-Phone

https://xd.adobe.com/spec

[2019-09-22 06:32] LiavGut commented on #502
@sirpy Do you think we need a success/failed popups? or just what we have in the original signup flow?

[2019-09-22 06:39] LiavGut commented on #621
@sirpy @tzvister
I think we should reconsider that, after all, the user can't do anything with the rewards (ie Send G$) without going through the FV later on...
I prefer that the FV will be more related to the Claim then to the Rewards...

[2019-09-22 07:11] sirpy commented on #621
I dont have any major objections to that

[2019-09-22 07:13] sirpy commented on #502
@LiavGut we will need an option to exit the verification. during registration you must succeed. here we need some cancel button.

[2019-09-22 07:15] sirpy commented on #502
@LiavGut is that a two step? we first show him the we need to verify you email/mobile message only then we send him the email/sms? we can't just send him directly to "we sent an sms/email, type the code"?

[2019-09-22 07:52] sirpy commented on #566
@Nordwhale to approve what? where's the pull request/changes? pictures showing how it is fixed

[2019-09-22 08:02] Nordwhale commented on #566
@sirpy We didn't do any changes, we check on different devices and the line looks much better than on Liav's screenshot. The line is not in the middle on some resolutions, a little bit upper, then expected, but looks not bad.
I contacted Liav to approve if current version is OK or still need changes.

@LiavGut  answered
"It seems that we have some issues with the design of the cards because the de

[2019-09-22 08:25] LiavGut opened #628 "Cards: Match Welcome card design + text to wireframes"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/5e00df15-d332-4898-bc70-f40d9b65af88/Dashboard-Feed-PopUp-Welcome

[2019-09-22 08:32] LiavGut commented on #502
@sirpy Yes, it's a two-step process.
First, the user will confirm it's number/email and that he really want to change it.
Then, after he confirms, we'll send him the code.

[2019-09-22 08:51] sirpy commented on #566
@Nordwhale
The last screen shot is chrome emulating new iphones, this is not a good test since he doesnt emulate the high pixel density so fonts look bigger. This needs to be tested on ios simulator.

@LiavGut Can you share on which device you saw the line not in the middle?

[2019-09-22 08:53] sirpy commented on #628
@LiavGut attach screenshot of how it looks and what needs to be fixed.
what device and so on.
see the bugs @qatests1001 open for issue format

[2019-09-22 08:55] sirpy commented on #502
@Nordwhale this is ready for devs

[2019-09-22 09:38] LiavGut commented on #628
1. Add a photo.
2. Change to the new text
3. In this massage, in the popup, there's no need for an avatar photo or an icon.
4. Text line spacing should be bigger.

![screenshot_20190922-110657_chrome](https://user-images.githubusercontent.com/54103946/65385305-db136f80-dd35-11e9-8ce8-61b4ed4c9f7b.jpg)
<img width="425" alt="Screen Shot 2019-09-22 at 12 37 01" src="https://user-images.githubusercont

[2019-09-22 10:00] LiavGut commented on #566
@sirpy I also tested that on the Chrome Emulator.
In any case, the lines should be in the middle on any device (like the iPhone 6/7 that in the print screen), and the avatar photo and icon should be at same hight.

[2019-09-22 10:07] LiavGut opened #629 "Counter: The space between the digits should be smaller + The font on the button should only be Roboto"

[2019-09-22 10:11] LiavGut commented on #629
![6a25a791-e600-4700-abf3-7b8bd08a8bc8.jpg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/a768af59-43c3-45db-ae45-6f77740773e2)

Samsung Galaxy A5

[2019-09-22 10:15] LiavGut commented on #620
@sirpy
Is this still relevant?

[2019-09-22 10:22] LiavGut commented on #609
The claim button (+text label) should grow to 115-120% for ~half a sec and then shrink back (with ease out effect) to his original size.

I would like to see a 2 videos:
1. it animates only a single time after loading.
2. it animates 3 times in a raw after loading.

Thanks!

[2019-09-22 10:53] sirpy commented on #620
we have that for iphone when using chrome.
its mostly I think dev work to show the screen for other cases. maybe change the wording of the message.
but lets wait to see whats going on with zoom8

[2019-09-22 10:55] sirpy commented on #629
@LiavGut so to prevent the counter from moving we need to have a fixed width for each character or use a monospace font.
currently the numbers are "roboto slab" or at least supposed to be roboto slab.
there is a roboto-mono font but it looks different.
What is the width you would like to use for each character? or do you want to switch to some monospace font?

[2019-09-22 10:58] sirpy commented on #566
so the line is supposed to be ok. according to the images provided.
icon+image alignment were fixed in a different story and tested by QA.
@LiavGut so i'm closing this one.

[2019-09-22 10:58] #566 closed

[2019-09-22 11:02] LiavGut commented on #629
@sirpy
I would like to stay with Roboto Slab for the counter.
I understand what you've done to prevent it from moving, but maybe we can shrink the spaces a bit so the digits will be closer and still be in fixed width

[2019-09-22 12:49] #600 closed

[2019-09-23 11:32] AlexeyKosinski commented on #602
https://github.com/GoodDollar/GoodServer/pull/77
done

[2019-09-23 11:53] qatests1001 commented on #400
Checked on https://w3.gooddollar.org
There is a bug
https://www.screencast.com/t/u2eC4Hei3C

[2019-09-23 12:03] sirpy opened #631 "Add integration/unit tests for GoodWalletClass"
on "beta" branch
Add to GoodWalletClass.fuse.js unit tests to check all contracts integration points

- Modify package.json test to first run+deploy on ganache @gooddollar/goodcontracts from node_modules
- Modify unit tests to use ganache
- Add unit tests to cover contract calls
- Add unit tests to cover events Transfer, PaymentCancelled, PaymentWithdrawn

[2019-09-23 12:35] qatests1001 commented on #493
Checked on https://goodqa.netlify.com/
There is a https://www.screencast.com/t/6cM0Ne3y6

[2019-09-23 13:26] LiavGut commented on #451
@sirpy Please review the animations:

https://drive.google.com/drive/u/1/folders/1ymp8VAQpaP-dj6taXC7VgHMQcsZTHnWR

[2019-09-23 15:34] yaroslav-fedyshyn-nordwhale commented on #614
@sirpy Discussed this issue with Sergey. He told that this should be done by Andrew Kovalchuk.

[2019-09-23 20:34] sirpy commented on #493
@qatests1001 you are trying to use with an invalid w3 token.

[2019-09-23 20:36] sirpy commented on #400
@qatests1001  copy the w3token from the url and use it for goodqa.netlify.com/?w3token=
so you can test the flow on goodqa, this issue will be fixed separately on w3

[2019-09-24 07:44] LiavGut commented on #612
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/229c2efe-3550-4804-a109-eac96ee1b958/Sign-Up-23

[2019-09-24 07:49] LiavGut opened #636 "Sign up - Update the Text"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/943522e3-f48c-43aa-a88c-a36a8852f1ec/Sign-Up-1

[2019-09-24 08:03] LiavGut opened #637 "Dashboard: User should get Backup card"
1. show card after user navigated to some other screen and got back to the dashboard.

2. In case the user backup his wallet before the cards appear - don't show him the card.

3. once the user clicks on 'Let's backup' he's directed to the 'Backup wallet' screen.

4. If the user successfully backup his wallet than this card should be automatically get deleted.

https://xd.adobe.com/spec/8f259bcd-5

[2019-09-24 08:07] LiavGut opened #638 "Welcome card: Update the text"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/d87c5f47-b072-4fac-9bba-f67e9046d984/Dashboard-Empty-state-1

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/5e00df15-d332-4898-bc70-f40d9b65af88/Dashboard-Feed-PopUp-Welcome

[2019-09-24 08:27] LiavGut opened #639 "Invite friends card: Update the text and the photo"
This card should appear to the user after the backup card.

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/49d10eee-16e2-4b9e-8856-c93d6f4670b5/Dashboard-Scroll-1

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/c8908e53-6d16-40ce-be5d-e9db84349004/Dashboard-Feed-PopUp-Invite

[2019-09-24 08:31] Nordwhale commented on #612
@LiavGut I see there is a left error in the header. Do we need it on this screen?
If so, should it bring to the previous step? It makes no sense I guess.

[2019-09-24 08:32] LiavGut opened #640 "Claim: Update texts and design"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/4bcd198d-33e1-4d68-8490-7eb226fb5823/Claim-1

The 'Learn more' button leads to:

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/2a1d6e8f-3ef4-4b1d-9a06-92decfb39b5b/Pre-Claim-Did-You-Know-1

The 'Read more' button leads to the Economy page in web3.

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40

[2019-09-24 08:42] LiavGut commented on #612
@Nordwhale No, you're right, we don't need it here. I've updated the design.
Thanks :)

[2019-09-24 09:18] sirpy opened #641 "Create glossary of terms"
Assign to amit

[2019-09-24 09:35] sirpy opened #642 "fix texts"
in sign in
 - should say "these steps" and not "this steps",
 - "magic link" and not "magic mail"

in recover
 - top help text should be removed (text above form input)

[2019-09-24 09:39] AlexeyKosinski commented on #599
batch request report:
if we run it like this
batch.add(
    contract.methods
      .whiteListUser('0x919b99dcabae3fea4909af23b8dfa9f2d2c273de', 'ab')
      .send({...params,nonce}, (err, res) => console.log('TX 3: ', { err, res }))
  )
it works on local and fuse blockchains
(yes we need to set nonce manually)
but I think it is like usual transaction
I don’t see benefits of using batch request…

[2019-09-24 10:03] Nordwhale commented on #502
@LiavGut So should we add some kind of Back or Cancel button on the Step2?
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/0dcfb5c7-054d-4d13-a542-e761d54d15e9/Sign-Up-19

for ex. if a user didn't get SMS or email for some reason, there isn't a possibility to go back and continue using GD with old email/phone.
Please advise.

[2019-09-24 10:14] Nordwhale commented on #502
@LiavGut Sorry. found the answer in your flow. If entered code is incorrect, then we open User profile and show old phone/email.

But I still think that we should have some sort of notifications ( message or icon) of successful or failed verification. It can be difficult for users to not get any error and notice that a phone wasn't changed. I expect to see what went wrong if my new phone is not sa

[2019-09-24 10:20] LiavGut commented on #502
@Nordwhale Yes, But I think you still right and we should add a back arrow in this case.

And we should also add success/fail popup message.

[2019-09-24 10:24] AnastasiiaOdnoshevna commented on #455
Tested on Dev and QA environment
Works as expected, except minor UI issues on W3 (like scrolling issue).

[2019-09-24 11:07] sirpy opened #643 "User should be able to logout"
Add in menu a logout option. On Logout
- clear localstorage
- open Main page

Definitions of Done
--
- [x] User is able to log out and log in under another account
- [x] All the user's data is removed
- [x] Log out item looks according to design

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/ef2121e1-d14a-4ff5-aa1b-0832354b4fe0/Dashboard-Scroll-2-Settings-1

[2019-09-24 11:08] sirpy opened #644 "Use hashes of email + phone in gundb indexes"
always write user phone + mobile to gundb indexes, no matter if private or public but use a sha512 hash of them.
when user set/update his email/mobile we also update the indexes gun.get('users/byemail') and gun.get('users/bymobile')
currently if private we remove from index and if public we add to index in plain text ie gun.get('users/bymobile').get('9725949383').put(profile)

change to store in i

[2019-09-24 11:12] sirpy opened #645 "redesign privacy"
- keep only hashes of user email+mobile on our database (mautic as only storage of contacts)
  - user dup search needs to be updated
  - admin get/delete needs to be updated
- keep user zoomid encrypted
- keep user seed phrase encrypted
- keep user blockchain id encrypted

- account recover, requires use of special master key to decrypt
- can require user to perform zoom authentication

[2019-09-24 11:35] sirpy commented on #448
@Nordwhale add to home screen is not a card.
invite friends is a card in feed. that opens up like other cards

[2019-09-24 11:37] LiavGut commented on #448
@Nordwhale
The cards order should be:
1. welcome card
2. backup card
3. invite friends card

[2019-09-24 12:29] LiavGut opened #647 "Welcome screen: Update the text"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/5ff7485f-7e4c-4b1a-a20b-c30918d45c99/Sign-Up-2

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/be4d0a88-19fa-4dce-aef1-433a23fc4251/Sign-Up

[2019-09-24 12:34] LiavGut opened #648 "Sign up: Add underline to text button: "send me...""
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/0dcfb5c7-054d-4d13-a542-e761d54d15e9/Sign-Up-19/

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/606fc752-0c49-4466-b48c-de984ddadd3f/Sign-Up-21

[2019-09-24 12:36] #524 closed

[2019-09-24 12:39] #360 closed

[2019-09-24 12:41] sirpy commented on #625
@LiavGut add pictures

[2019-09-24 13:01] AnastasiiaOdnoshevna commented on #598
Tested on Dev and QA environment
Device used:
Retina screen (iPhone X and Xr)
Device with unusual acpect ratio ( Samsung Galaxy S10 and Xiaomi Mi 8)

Look as expected.

[2019-09-24 13:02] LiavGut opened #649 "Settings - Backup: Update the design"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/cc6919d9-22e3-4959-9478-f8a80fb3b550/Settings-Back-Up-your-wallet

Main changes:
* Changed the text boxes size
* Added a text button "copy all to clipboard"

[2019-09-24 13:07] AnastasiiaOdnoshevna commented on #495
Tested on Dev and QA env.
Work as expected.

[2019-09-24 13:41] #629 closed

[2019-09-24 13:45] sirpy commented on #448
@StanislavShevchenko should match latest designs
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/49d10eee-16e2-4b9e-8856-c93d6f4670b5/Dashboard-Scroll-1

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/c8908e53-6d16-40ce-be5d-e9db84349004/Dashboard-Feed-PopUp-Invite

[2019-09-24 13:46] #639 closed

[2019-09-24 13:48] sirpy commented on #621
@LiavGut ok we'll not do that

[2019-09-24 14:03] sirpy commented on #614
@yaroslav-fedyshyn-nordwhale I saw w3 has iframe resizer included.
so you should be able to continue now

[2019-09-24 14:28] #599 closed

[2019-09-24 15:06] StanislavShevchenko commented on #549
https://github.com/GoodDollar/GoodGunReceiver/pull/27

[2019-09-25 05:41] AnastasiiaOdnoshevna commented on #560
Checked on Dev and QA environment
Device used: Android and iOS device
Look as per requirements

[2019-09-25 05:57] AnastasiiaOdnoshevna commented on #400
Work as per requirement.
The link has right format.

[2019-09-25 06:26] AnastasiiaOdnoshevna commented on #447
Pop-up is work as per requirements and user can successfully add and launch app from homescreen.
Checked on Dev environment.

[2019-09-25 08:38] LiavGut opened #652 "Settings: Text update - Change 'Delete account' to 'Delete wallet'"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/ef2121e1-d14a-4ff5-aa1b-0832354b4fe0/Dashboard-Scroll-2-Settings-1

https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/f73978c4-a65b-4560-9b65-1d4ee75019e3/Dashboard-Settings-Delete-wallet

[2019-09-25 08:40] yaroslav-fedyshyn-nordwhale commented on #614
@sirpy Tested iframe screen on different devices on https://goodqa.netlify.com. Results:

- Android simulator Pixel 3 (scroll working):
![pixel3.png](https://images.zenhubusercontent.com/5d555cf825ff190001f1a4eb/ca430959-87a3-4e07-aa64-635d5d010ba8)

- Iphone X (real device) safari browser (scroll not working):
![photo_2019-09-25_11-34-36.jpg](https://images.zenhubusercontent.com/5d555cf825ff19000

[2019-09-25 09:45] AnastasiiaOdnoshevna commented on #435
Checked on Dev environment
Tool used: http://eth.nordwhale.com/
Work as expected. After user get >100 000 balance, they get error message.

[2019-09-25 09:55] sirpy commented on #614
1. @yaroslav-fedyshyn-nordwhale I dont understand, i've added a fix where on iphone it should not be "cut" why are all images are of small iframes
2. you need to implemet iframe-resizer!

[2019-09-25 10:01] #611 closed

[2019-09-25 11:01] LiavGut opened #653 "Pop-ups should be aligned to the center to the screen (hight)"
Pop-ups should be aligned to the center to the screen (hight)

[2019-09-25 12:20] AlexeyKosinski commented on #619
https://github.com/GoodDollar/GoodServer/pull/81

[2019-09-25 13:01] yaroslav-fedyshyn-nordwhale commented on #614
@sirpy
I have implemented iframe-resizer. It fixed the issue with cutting screen, but it causes new issue with scrolling for desktop and mobile safari browsers. Initially, the height of screen is very huge. And every time you try to scroll down the height of the screen become bigger and all the content does down and down.

I have connected the pull request for this issue. You can test how it works

[2019-09-25 13:02] sirpy commented on #447
@yaroslav-fedyshyn-nordwhale needs to update when it is triggered to user.
@LiavGut I dont recall and can't find the logic we decided for the add to homescreen.
Can you explain when is the first trigger for the popup and if user presses later after how much time do we remind him.

[2019-09-25 17:35] LiavGut commented on #447
@sirpy
As I recall, we decided that the popup will be triggered right after the loading of the dashboard finishes.
If the user presses 'later', then we should remind him after the next time he 'claim', but we should test that timing...

[2019-09-26 05:20] AnastasiiaOdnoshevna opened #662 "User don't get the verification email during wallet creation"
Steps to reproduce:
1. Navigate to the https://goodqa.netlify.com using payment link
2. Tap the "Create wallet" button
3. Enter user's name
4. Enter valid phone number and put the receiving code in code field
5. Enter the valid mail address

Expected result: User get the verification code as email.
Actual result: The verification email doesn't receive

Environment: QA (https://goodqa.netlify.com)

[2019-09-26 05:24] AnastasiiaOdnoshevna commented on #406
Email verification is blocked by:
https://github.com/GoodDollar/GoodDAPP/issues/662

[2019-09-26 07:52] sirpy commented on #468
@LiavGut ?

[2019-09-26 07:55] sirpy commented on #637
@LiavGut suggest so simplify condition to show card after user navigated to some other screen and got back to dashboard

[2019-09-26 07:58] sirpy commented on #653
@LiavGut can you attach an example of whats wrong with how it is now?

[2019-09-26 07:59] sirpy commented on #509
@Talbatz pelase fix

[2019-09-26 09:13] AnastasiiaOdnoshevna commented on #429
Second case can't be checked because of issue:
https://github.com/GoodDollar/GoodDAPP/issues/662

[2019-09-26 09:17] sirpy opened #665 "Prepare token bridge"
sync with fuse

[2019-09-26 09:22] sirpy opened #666 "decide on TX fee logic"
# logic in beta contracts of etorox
TX fee can be deducted from sent amount -> I sent 1GD -> receiver gets 0.99
- Might be confusing, but could be communicated in text
- Solves issues of user not having enough to transfer

# logic in alpha contracts by us
TX fee can be added to amount -> I send 1GD -> i'm deducted 1.01GD -> receiver get 1GD
 - User might not have enough to transfer the amount he w

[2019-09-26 09:22] #665 closed

[2019-09-26 09:43] tzvister commented on #666
I think anyways it should be done in two transactions:
1. To the reciever
2. For the Interest fee.

They shouldn't be bunched together.

I suggesting is that we do the actual transaction first, and then try to take the fee. If fee isn't available. then the user is in (minus) overdraft.

Possible?

[2019-09-26 09:44] LiavGut commented on #637
@sirpy Ok

[2019-09-26 09:46] LiavGut commented on #468
@sirpy having issues with web3... i'll get on it as soon as I finish with that.

[2019-09-26 09:48] sirpy commented on #666
its possible but it sounds complicated to implement and an opening for
fraud.

[2019-09-26 10:32] AlexeyKosinski opened #667 "add network id to mongo lock"
Add network id to mongo db when lock and check wallet address

[2019-09-26 11:23] LiavGut commented on #653
@sirpy
![image (2)](https://user-images.githubusercontent.com/54103946/65684555-960a7880-e068-11e9-84df-145942b80f44.png)
![image (1)](https://user-images.githubusercontent.com/54103946/65684556-96a30f00-e068-11e9-8eac-f8e7fb9115da.png)
![image](https://user-images.githubusercontent.com/54103946/65684560-96a30f00-e068-11e9-8b98-f54bce9eec82.png)

The guides for pop-ups:
1. Align the longest pop up

[2019-09-26 11:31] sirpy opened #668 "User should see "Add to homescreen" after dashboard loads"
Currently pop is shown immedialty should be shown 1-2 seconds after dashboard finished rendering
Currently if user presses later it is shown immediately after refresh, it should be shown again only after user performs claim and 1 day passed

Definition of Done
- Shown 1-2 seconds after dashboard loads
- Shown again only after claim and after 2^(later-1) days.
- Keep count of times user pressed "la

[2019-09-26 12:53] StanislavShevchenko commented on #662
![image.png](https://images.zenhubusercontent.com/5d555a8db397280599d9227d/ca255832-57aa-4733-ae0a-3b3d7a3c2a51)

[2019-09-26 13:32] AlexeyKosinski opened #670 "Change email and phone verification screen like on design"
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/7a36a5be-d385-46be-a407-d45fcfa4d652/Sign-Up-13

add extra space between 3d and 4th input

![image.png](https://images.zenhubusercontent.com/5d53b85120024557db05e3ba/2adeaee2-2254-4c58-8652-ca9b40c76da0)

[2019-09-26 14:25] StanislavShevchenko commented on #643
Need an icon and location in the menu

[2019-09-26 14:58] StanislavShevchenko commented on #662
![image.png](https://images.zenhubusercontent.com/5d555a8db397280599d9227d/bb310bb9-e35c-4fda-95da-db1cf72c1ec6)

Email work

[2019-09-26 18:19] sirpy commented on #653
@liavgut I think it would actually be easier to simply center all popups in
the middle, is that ok?

[2019-09-26 19:05] #608 closed

[2019-09-26 20:32] #435 closed

[2019-09-26 20:35] #377 closed

[2019-09-27 05:46] AnastasiiaOdnoshevna commented on #648
"Send me code again" check mark doesn't match the design:
Design:
![download.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/37caa5e6-9504-4e5e-9929-5c44cc674beb

Actual screen:
![2019-09-27_8-41-42.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/3ef80c40-04a2-4cde-9419-001f8c6018fb)

Also, color codes doesn't match:
Check mark color code in design: #1eb9ff
Ch

[2019-09-27 06:36] sirpy commented on #653
@Nordwhale
- use margin auto with min-height(according to design) so popups are vertically centered
- use designrelativeheight for min-height so its larger/smaller according to device

[2019-09-27 06:50] AlexeyKosinski commented on #667
https://github.com/GoodDollar/GoodServer/pull/87

[2019-09-27 07:41] AlexeyKosinski commented on #550
https://github.com/GoodDollar/GoodServer/pull/89

[2019-09-27 20:47] AlexeyKosinski commented on #614
as u suggest i've try this solution
`one solution is using javascript https://coderwall.com/p/c-aqqw/scrollable-iframe-on-mobile-safari (bottom comment)`

but it's doesn't help

also the page redirects to login w3 login page and it works fine on it. may be we don't have script on it...

I've create another static page to make experiment. http://test.gooddollar.com.s3-website.eu-central-1.amazonaws

[2019-09-28 19:28] sirpy commented on #614
1. i'm not sure what you mean by:
"also the page redirects to login w3 login page and it works fine on it"
please explain
2. "may be we don't have script on it.." - it's very easy to check, you can look at the source code or you can look at chrome network tab see what files it fetches. also we have the web3-integration channel with Andrii please be in touch with him if you think the script isn't t

[2019-09-28 19:33] sirpy commented on #614
@AlexeyKosinski also in the images you sent, non of them is scrolled, you need to test that it scrolls ok not that it is initially displayed ok

[2019-09-28 20:07] sirpy commented on #549
@AlexeyKosinski can you compare atlas as backend vs heroku?
also on heroku can you temporarily select a higher mongodb plan (for dev) and test it against it

[2019-09-29 11:06] LiavGut commented on #653
@sirpy It's not ok because when you slide the pop-ups ( like a carousel ) the hight will change and it will not look smooth

[2019-09-29 11:47] LiavGut commented on #643
@StanislavShevchenko
Hi, Here's an updated design of the settings menu:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/ef2121e1-d14a-4ff5-aa1b-0832354b4fe0/Dashboard-Scroll-2-Settings-1

[2019-09-30 06:40] AnastasiiaOdnoshevna commented on #662
The issue isn't reproduce.
Tested on QA environment.
User receive an email. All links are working. ![2019-09-30_9-36-30.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/edb24762-7dad-4d2e-b9ca-28492c0d76a1)

[2019-09-30 11:37] AlexeyKosinski commented on #614
I can't upload video here. so I've put it in w3 integration chat
1 - explain in chat with video
2 - yes. login page has a script too and this page works fine. I think problem with header menu or animation

[2019-10-01 07:49] yaroslav-fedyshyn-nordwhale commented on #593
This task is blocked as the project is not working with new contracts.

[2019-10-01 08:03] yaroslav-fedyshyn-nordwhale commented on #502
@LiavGut please provide text for success/fail popup.

When a user presses the back button on 'confirm change number/email' or 'type verification code' screen - he should be redirected back to edit profile page and see his old number/email?

[2019-10-01 09:26] StanislavShevchenko commented on #637
branch taken with #448-User-should-get-an-invite-friends-card-in-feed

[2019-10-01 14:27] LiavGut opened #679 "Dashboard: Send and Receive icons should be bigger and not at the same hight of the text label"
Dashboard: Send and Receive icons should be bigger and not at the same hight of the text label.
They should be at the same size as the icons in the cards.
(Their location is correct)

They should match the design:

![Screen Shot 2019-10-01 at 17.24.39.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/9790ec20-f6b4-4504-9af9-0d34a6edca01)

[2019-10-01 14:49] LiavGut commented on #641
https://docs.google.com/document/d/1XQn_BkAVAILyjc2P92N02JOl4XVw6AtCsUaitklpE_g/edit

[2019-10-02 08:12] LiavGut commented on #468
@sirpy Here's the Magic Link email design:

https://xd.adobe.com/spec/34f09e36-c7b1-48de-4506-1ef996f8fcd7-42c1/

[2019-10-02 08:34] sirpy commented on #653
@StanislavShevchenko
1. feed items popup should be getDesignRelativeHeight(X,max=true) margin from the top as according to the design. meaning the feed popup should start X pixels from top like in the design. X should be relative to the screen height.
2. dialogs should be vertically centered

[2019-10-02 11:21] yaroslav-fedyshyn-nordwhale commented on #502
Link to GoodServer's PR - https://github.com/GoodDollar/GoodServer/pull/91

[2019-10-02 12:35] LiavGut commented on #502
@yaroslav-fedyshyn-nordwhale
Let's leave it for now without the Success/Fail messages.

Thanks :)

[2019-10-02 13:06] yaroslav-fedyshyn-nordwhale commented on #502
@LiavGut I came up with the text ин myself - it can be a temporary solution. We can change it at any time in the future.

[2019-10-02 14:21] LiavGut commented on #502
@yaroslav-fedyshyn-nordwhale Thanks, but we decided that we don't need these messages.

[2019-10-02 14:23] yaroslav-fedyshyn-nordwhale commented on #609
@LiavGut here is the videos:

- 1 time bounce: https://www.screencast.com/t/q9L7vwb1Yb
- 3 time bounce: https://www.screencast.com/t/ZbepwvVx

[2019-10-02 14:29] yaroslav-fedyshyn-nordwhale commented on #502
@LiavGut but what will happen if the user enters the wrong verification code by mistake? what should happen then?

so in case of success verification just redirect a user to profile page?

[2019-10-02 14:32] LiavGut commented on #609
@yaroslav-fedyshyn-nordwhale Thanks.

Can you please slow down the '3 time bounce'?

[2019-10-02 14:39] LiavGut opened #682 "Claim button - Text label is still too big, it must have bigger margins"
Please match the design.
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/d87c5f47-b072-4fac-9bba-f67e9046d984/Dashboard-Empty-state-1

![66036986-4b30ab00-e517-11e9-85e9-e8379ab95fc9 copy.jpg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/6277f26a-65e0-4d28-b8cf-55d609c0b6b1)![Screen Shot 2019-10-02 at 17.37.30.png](https://images.zenhubusercontent.com/5d

[2019-10-02 14:40] LiavGut commented on #682
It's our app's main button and it must look perfect.
Thanks.

[2019-10-02 14:43] LiavGut commented on #502
@yaroslav-fedyshyn-nordwhale In case of an error, he will receive the regular errors, like in the sign-up flow (ie red text error beneath the input field)

[2019-10-02 14:51] yaroslav-fedyshyn-nordwhale commented on #609
@LiavGut see slowed down animation here - https://www.screencast.com/t/ZEo6dMVPIw49

[2019-10-03 07:01] AnastasiiaOdnoshevna commented on #637
Checked on the Netlify preview branch
Work as expected.

[2019-10-03 07:01] AnastasiiaOdnoshevna commented on #643
Checked on the Netlify preview branch
Work as expected.

[2019-10-03 07:02] AnastasiiaOdnoshevna commented on #610
Checked on the Netlify preview branch.
Work as per requirements.

[2019-10-03 07:02] AnastasiiaOdnoshevna commented on #406
Checked on the Netlify preview branch.
Work as per requirements.

[2019-10-03 07:03] AnastasiiaOdnoshevna commented on #638
Checked on the Netlify preview branch.
Work as per requirements.

[2019-10-03 07:03] AnastasiiaOdnoshevna commented on #628
Checked on the Netlify preview branch.
Work as per requirements.

[2019-10-03 07:16] AnastasiiaOdnoshevna commented on #652
Checked on QA environment.
Device used: Redmi 7 // Android 9.0

The pop-up located on upper screen part.
As per design, pop-up should be centered on the screen.

![123.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/317621db-8dbf-4700-9dde-bab8245cf924)

[2019-10-03 08:02] Nordwhale commented on #652
@AnastasiiaOdnoshevna this issue is about changing the text. All the pop-ups will be aligned correctly in the scope of #653 https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/653

I wonder why the screen from the device is so pixel? Is it an issue of the screenshot or you have such a bad view on the device?

[2019-10-03 08:04] sirpy opened #684 "Signup from web3 doesnt always start at mobile form"
When arriving with web3 token and pressing create wallet it will show the name form, once user details are fetched from w3 it will switch to the mobile form.

Definition of Done
--
- [ ]  when user presses create wallet from w3 he always starts at the mobile form with name+email already filled

[2019-10-03 08:12] AnastasiiaOdnoshevna commented on #652
@Nordwhale maybe it's because of comparing two pictures with different size. You can see full-sized screenshots here:

Changed text in menu:
https://www.dropbox.com/s/lbg57xg6oqjyu05/Screenshot_2019-10-03-10-00-10-337_com.android.chrome.png?dl=0

Pop-up:
https://www.dropbox.com/s/cmv4c979sjjg2bm/Screenshot_2019-10-03-10-05-55-038_com.android.chrome.png?dl=0

All text had been changed as per requir

[2019-10-03 08:20] sirpy opened #685 "User should see meaningful error messages"
Currently we show user lots of technical errors.
User should see meaningful error message and a short technical error id for support.
Go over application where we catch exceptions or show error dialog
- Remove display of error object or "e.message" from error dialog
- Make sure there's a meaningful error message to user
- Instead of error object or e.message show a short error code <component>-<nu

[2019-10-03 08:35] AnastasiiaOdnoshevna commented on #642
The issue isn't reproduce. Text is fixed as per ticket's requirement

[2019-10-03 08:37] AnastasiiaOdnoshevna commented on #636
The text was updated.
The screen text is match the design

[2019-10-03 08:44] AnastasiiaOdnoshevna commented on #649
The screen look as per design.
![Screenshot_2019-10-03-11-42-55-198_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/9692854d-a70d-436f-908d-b8d9d9c50f14)

[2019-10-03 08:48] AnastasiiaOdnoshevna commented on #612
Checked on the QA environment.
The screen look as per requirement. The screen performing after user's verification and before "You're all set" screen.
![Screenshot_2019-10-03-09-07-07-203_com.android.chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/2515fa7e-e759-454b-ba33-6f5701d4cd0c)

[2019-10-03 09:54] AnastasiiaOdnoshevna commented on #662
User isn't get the verification email with code during sign up.

*Important:* User receive all email (with magic link, backup email etc.) except mail with code.

[2019-10-03 10:44] sirpy commented on #666
@LiavGut @Talbatz lets decide on this

[2019-10-03 10:45] sirpy commented on #645
@LiavGut @tzvister waiting your input, this came up from Dorit, it makes sense to maybe give us more ability to help users recover their wallet, until we educate them.

[2019-10-03 10:46] sirpy commented on #588
@yaroslav-fedyshyn-nordwhale this seems to be back. maybe its been reverted somehow.

[2019-10-03 11:15] AnastasiiaOdnoshevna commented on #647
Checked on QA and Dev environment.
The buttons text look as per requirements and design.

[2019-10-03 12:08] yaroslav-fedyshyn-nordwhale commented on #640
@LiavGut

We discussed a new formula proposed by @sirpy for responsive text size calculation.
Here are the screenshots examples of how it was before and how it changes after new formula was integrated.

before:
- dashboard: https://prnt.sc/pebbah
- claim screen: https://prnt.sc/pebbr0
after:
- dashboard: https://prnt.sc/pebcmi
- claim screen: https://prnt.sc/pebcca

[2019-10-03 12:11] yaroslav-fedyshyn-nordwhale commented on #588
@sirpy I will check

[2019-10-03 12:33] AnastasiiaOdnoshevna opened #687 "The "Send me code again" check mark doesn't match the design"
1. Navigate to the https://goodqa.netlify.com using payment link
2. Tap the "Create wallet" button
3. Enter user's name
4. Enter the valid phone number
5. Tap at the "Send me code again" text
6. Pay attention on the check mark

Expected result: Check mark's form and color code match the design
Actual results: Check mark's form and color code doesn't match the design

**Design:**
![2019-10-03_15-30

[2019-10-03 13:22] tzvister commented on #645
What's the input you're looking for? It does make sense for us to be able to help users.

[2019-10-03 13:26] tzvister commented on #666
I'm still for my solution. Just like banks, users expect to see 100% of the intended transfer to end up with the recipient.

It does mean that some accounts after transfer of their 100% of their remaining funds to go to (-) Transaction fee debt...

[2019-10-03 13:54] StanislavShevchenko commented on #662
Stas Shevchenko 4:21 PM
@Hadar R @Omer Levi for this task [User don't get the verification email during wallet creation](https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/662)
There are no problems in the code, here is a successful response about sending, but the email does not come. Please check on the server

@gooddollar/goodserver: ################

[2019-10-03 14:34] LiavGut commented on #645
But by doing that, the users are "losing" their sole control over their accounts.
We need to keep that in mind while we deciding on it.

[2019-10-03 14:40] LiavGut commented on #666
I'm not sure we want to educate the users they can get into debts.
1. If we decide to do so, we need to communicate the fact that there are fees.
2. change the design to be more transparent and show the fee to the user.
3. In my opinion, if the user doesn't have enough G$+fee to transfer - the transfer is denied.

[2019-10-03 15:49] LiavGut commented on #640
@yaroslav-fedyshyn-nordwhale
@sirpy
Much better. Thanks.

[2019-10-03 18:20] sirpy commented on #645
@tzvister initially we were oriented at full privacy, non custodial etc.
so we didnt keep in our records link between user record and his facial record and to his blockchain address.
So in order to provide better support it is suggested that we do keep a link in our records.
The main changes suggested are:
1. keep user seed phrase in our database encrypted by some master key that can only be decry

[2019-10-03 21:31] sirpy opened #689 "master not passing build"

[2019-10-04 07:39] sirpy commented on #662
@StanislavShevchenko email is sent correctly in unit tests.
while looking at goodqa heroku logs It seems that the mauticId is not created correctly
in the log here:
https://github.com/GoodDollar/GoodServer/blob/1c318207abe8714d2c69a5bc8551613ac31e91ba/src/server/verification/verificationAPI.js#L260

it doesn't print the mauticId previously added
[code]

- Try to test it locally. see what is return

[2019-10-04 07:50] sirpy commented on #662
@StanislavShevchenko also there's a bug if user goes back and change his email we will not re-create the mauticid according to the new email.
so we need also to chage the condition if(!user.mauticId || user.email!==body.email)

[2019-10-04 08:25] LiavGut commented on #666
@sirpy @tzvister Another idea: a fee that applies only on those who have more then G$60 (or whatever number that we decide) in their balance. Tax only for the rich. And it supports our wealth inequality goals.

[2019-10-04 08:35] StanislavShevchenko commented on #662
works
![image.png](https://images.zenhubusercontent.com/5d555a8db397280599d9227d/e7b9b686-84b0-4152-8a91-54644621adb3)

[2019-10-04 09:05] qatests1001 commented on #448
Checked on https://goodqa.netlify.com/
there is a bug https://www.screencast.com/t/Q8Lc460X

[2019-10-04 09:14] qatests1001 commented on #448
Checked on https://goodqa.netlify.com
There is a bug https://www.screencast.com/t/ukoykFwd5Zzu

[2019-10-04 10:02] qatests1001 commented on #670
Checked on https://goodqa.netlify.com
there is a bug https://www.screencast.com/t/uWkv2dSKUgkB

work and look as per requirements on https://gooddev.netlify.com

[2019-10-04 10:05] qatests1001 commented on #624
Checked on https://goodqa.netlify.com https://gooddev.netlify.com
Reproduced
https://www.screencast.com/t/BI1cgt8p0
https://www.screencast.com/t/xoLv76qqie

[2019-10-04 10:37] qatests1001 commented on #628
The text is not the same as in the message above
On https://gooddev.netlify.com
https://www.screencast.com/t/SFxfaVyiqaCm
On https://goodqa.netlify.com
https://www.screencast.com/t/qUcvmg0M

[2019-10-04 10:50] qatests1001 commented on #496
Checked on https://goodqa.netlify.com
goodqa.netlify.com/AppNavigation/Dashboard/Home?paymentCode=
goodqa.netlify.com/AppNavigation/Dashboard/Send?code=

Checked on https://gooddev.netlify.com
gooddev.netlify.com/?paymentCode=
gooddev.netlify.com/?code=

[2019-10-06 11:05] sirpy commented on #624
@qatests1001 @AnastasiiaOdnoshevna
reproduced means bug is not solved.
in this case do you mean that opacity is not 0.4? how do you see that?
please use "rejected" tag if issue failed QA and move the story review column

[2019-10-06 11:14] sirpy commented on #624
@yaroslav-fedyshyn-nordwhale
I had to revert your PR, it was the source of the issue with gun. (see #691)
Please create a new PR that restores this feature.

[2019-10-06 12:10] sirpy commented on #628
@yaroslav-fedyshyn-nordwhale
@LiavGut The text should be the one in the design you attached?

[2019-10-06 12:19] sirpy commented on #448
@qatests1001
you need to create a new account in order to see the card

[2019-10-06 12:46] sirpy opened #692 "User events should be sent to analytics"
Map application for possible events we would like to send to analytics
such as the "user sending gd" flow, feed popup open etc.
each event should be sent to analytics using the analytics.js function, events that are not unique should be sent with a data attribute, for example feed popup open should be sent with the id of the feed item
details that are personal should be hashed before sending to an

[2019-10-06 17:12] LiavGut commented on #628
@StanislavShevchenko This is the right text:
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/5e00df15-d332-4898-bc70-f40d9b65af88/Dashboard-Feed-PopUp-Welcome

[2019-10-06 19:43] sirpy commented on #550
@AlexeyKosinski need to revert this. causes issues on goodqa.
1. even if concurrency is 1, when looking at the goodqa logs it shows it runs twice
2. there are some commits here regarding whitelisting which should be in a different PR
3. issues with gundb: multiple process try to write to same place, need to start gundbpublic with a different "file" parameter

[2019-10-06 19:49] sirpy commented on #662
@StanislavShevchenko
1. I found out that mautic record isn't created correctly. If I use an existing email it returns a new mautic id, but it should be the existing id of the email.
2. the new mauticid doesnt really exists, thats why the sending of email fails

todo:
- [ ] check result from mautic send email, should be "{success: true}" if false throw+log an error
- [ ] fix creating mautic user, i

[2019-10-07 05:43] AnastasiiaOdnoshevna commented on #448
Checked on Dev environment
Works and look as per requirement

![Screenshot_2019-10-03-13-06-02-133_com.android.chrome.png (https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/ce6f97c7-3989-4ef3-a9f9-381404cc1023)
![Screenshot_2019-10-03-13-05-20-794_com.android.chrome.png (https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/4685d13a-3b68-48a2-ad9e-297a099ae7db)

Task can be che

[2019-10-07 09:41] Nordwhale commented on #682
@LiavGut   Claim button text has been reduced a little in the scope of another task. Please let me know if it looks OK now or text still should be reduced more.
![Screen Shot 2019-10-07 at 11.43.47 AM.jpg](https://images.zenhubusercontent.com/5d53d672421af73f78bd61a9/c24c2cc0-9cda-49a6-9bc0-51367dff3d4c)