[2022-04-25 09:38] sirpy commented on #3668
the idea is to to reset or move backwards the lastBlock variable so blocks will be rescanned in case some block was missed, but I dont think it is necessary at the moment.

[2022-04-27 16:59] #3691 closed

[2022-04-28 12:43] vldkh opened #3698 "Pre-release bugs"
QA ENV Version 1.38.1-11 (2727)  // Samsung S20 FE, Android 11

- [x] Forgot 'S' at the end of 'Transaction'
![Snag_11dedff.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/fc6fadbd-16fd-47de-b14f-c68f2befca21)

- [x]  The main part of the open info feed cards are cropped
![Snag_11e16e4.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/31f3bb20-e3e5-4fc2-97ba-a4e

[2022-04-28 15:21] vldkh commented on #3698
@roma-hladilka @alt-a1r
The 'OK' button and other open transaction/information card buttons are lifted up on Android and Web apps
![Snag_1b1478e.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/b24cd06d-a0d0-413c-a3e2-d2e1d7b6e35f)

Please compare with PROD :
![Snag_1b182c2.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/6a4c0054-0131-4043-9599-95dec2a2535f)

[2022-04-29 10:58] johnsmith-gooddollar commented on #3569
@sirpy It's partially done in your "wallet refactoring" PR

does it already removed from server / contracts ?
could you check please ?

[2022-04-29 11:01] johnsmith-gooddollar commented on #3495
@vldkh need to re-check

[2022-04-29 11:05] #3629 closed

[2022-04-29 11:06] johnsmith-gooddollar commented on #3657
maybe dup of #3617

[2022-04-29 11:49] vldkh commented on #3495
@johnsmith-gooddollar
still happens https://sentry.io/organizations/gooddollar/issues/2920858875/?project=1829798&query=Invalid+JSON+RPC+response&statsPeriod=30d

[2022-04-29 13:12] vldkh commented on #3689
@alt-a1r @patpedrosa
https://app.birdeatsbug.com/sessions/Jkr8MjDSHvaFw39MVNUI6RpSOdXY95Xivs9n3UzmzmwZ
possible issue of this error
![image.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/a2bf0669-d036-4cc6-863c-afb67f7c2d10)

[2022-04-29 15:33] #3698 closed

[2022-05-01 10:35] sirpy commented on #3689
@vldkh please open a new issue for this bug
also describe exactly everything required to reproduce it

[2022-05-01 10:39] sirpy commented on #3569
@johnsmith-gooddollar yes it has been removed from server. still need to remove from schema and types. search for `claimqueue`

[2022-05-02 07:06] roma-hladilka opened #3702 "Refactor feed events listener"

[2022-05-02 07:13] roma-hladilka commented on #3702
- [ ] refactor debounce in useCallback
- [ ] replace ref to useEffect to re-subscribe on feed events

[2022-05-02 09:27] johnsmith-gooddollar commented on #3569
thanks!

[2022-05-02 13:08] johnsmith-gooddollar commented on #3569
@sirpy and how about contracts ? could we close this task once refactoring PR will be merged

[2022-05-02 14:15] sentry-io[bot] opened #3703 "TypeError: this.localeFiles[t] is not a function"
Sentry Issue: [GOODDAPP-6PR1](https://sentry.io/organizations/gooddollar/issues/3139072655/?referrer=github_integration)

[code]

[2022-05-02 14:16] sirpy commented on #3703
@johnsmith-gooddollar this happens alot 220K on sentry

[2022-05-02 14:42] sirpy opened #3704 "(Bug) ERROR_LOG broken on amplitude and possibly sentry"
it seems like errors are not logged on amplitude since mid february.
on sentry when I search for "failed collecting invite bounty" I also get that the last events are very old
and we know for a fact that users hit that error.

![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/0d044521-7850-4cb8-bab6-da8e5b88ea00)

I suggest to look for releases around that date and compare

[2022-05-03 05:12] sirpy commented on #3569
queue is not related to contracts

[2022-05-03 10:02] sirpy opened #3705 "(Bug) Optimizing feed post release"
- [ ] "luck person" image needs to be reduced asap its 1.3MB
- [ ] strapi should probably limit and check image sizes to be <100K?200K?
- [ ] cf-ipfs is not used correctly, probably because for our profile images we use CIDv1 while the strapi images are CIDv2
it is possible to convert CIDv2 to V1, see https://docs.ipfs.io/concepts/content-addressing/#cid-conversion

[2022-05-03 12:43] #3653 closed

[2022-05-03 12:43] #3684 closed

[2022-05-03 14:12] #3569 closed

[2022-05-04 13:02] #3429 closed

[2022-05-04 13:02] #3668 closed

[2022-05-04 13:02] #3662 closed

[2022-05-06 13:06] alt-a1r opened #3708 "Fix iOS feed header animation on scroll"

[2022-05-06 13:08] alt-a1r opened #3709 "fix ios"

[2022-05-09 15:38] johnsmith-gooddollar commented on #3704
1. I've checked commits from 02/14 till 03/17 - there're no changes may cause issues with the errors repoting
2. I've added some debug to the reporting flow - there're no issues at all, errors are reported to Sentry & Amp
3. There are the 'fresh' errors in Sentry:

![image.png](https://images.zenhubusercontent.com/6135d0416eed5f7809f4ee6b/b46a878e-fd5a-40ad-aa75-186abbcd0d26)

4. If to take errors

[2022-05-09 20:22] sirpy commented on #3704
@johnsmith-gooddollar
1. does it look logical to you that from thousands of errors we are down to tens?
2. I know for sure that errors are not being reported because i've looked at the events of a user that complained he is getting the E3 error.
3. Did you compare the amount of errors reported on sentry vs amplitude? are you seeing same numbers?
for example we had this language error reported on s

[2022-05-10 08:35] johnsmith-gooddollar commented on #3704
Yes:
a) we may fix something and this reduced errors amount
b) there could be some issues on Amplitude side. Or some new limits introduced by the events amount per day

I also know for sure there're no issues on **our** side because i tracked error reporting from throwing till send to amplitiude call

I'm not excluding this case, but firstly i'm going to check which exact errors being disappearing

[2022-05-10 09:28] #3709 closed

[2022-05-10 13:17] johnsmith-gooddollar commented on #3704
@sirpy I've found the following

1. Errors aren't sending to Amplitude if they aren't reported correctly (e.g. `log.error('label', e.message, e, { someprop: 'some value' })`). _Fixed logs over the whole app_
2. CLAIMED_FAILED('Claim transaction failed') is a separate case not handled and not logger in the top-level `.catch()`. So it's mutually exclusive with ERROR ('claiming failed'), e.g. if **we

[2022-05-10 14:35] johnsmith-gooddollar commented on #3704
@sirpy **undux/utils/account** - could be ignored as will be removed in the refactor about to be merged and released

[2022-05-10 16:03] sirpy commented on #3704
1. that doesnt explain why errors where not sent from claim.js because it was in the correct logging format
2. ok
3. not sure what you mean, reciept.status being false is a very rare case, usually .claim() throws an error
4. lets try it as a hot fix for production.

[2022-05-10 16:17] johnsmith-gooddollar commented on #3704
@sirpy I've checked the other issues. They're mostly related to encoding/decoding errors in RealmDB or to some transaction errors (like transaction with hash already exists, was reverted, etc).

As i remember we had similar issues that time, that because we added retry and also we had significal issues with claim.
You had to disable claiming then provided huge fix. Maybe this is a reason of errors

[2022-05-12 14:00] vldkh opened #3710 "[BUG] The 'My Wallet Address' popup is stuck after pressing the 'I understand' button"
The 'My Wallet Address' popup is stuck after pressing the 'I understand' button

Steps to reproduce:
1) go to the export wallet page
2) click on the 'copy my address' button
3) observe the result

Expected result:
The popup should be closed after clicking on the 'I Understand' button

Actual result:
The 'My Wallet Address' popup is stuck

Environments:
DEV 1.39.1
Android App - Version 1.39.1 (2807

[2022-05-12 14:54] vldkh opened #3711 "[BUG] FV fails to users on PROD"
logs from the app:
https://app.birdeatsbug.com/sessions/_giHMsqByzAUggTPNGnbTJg9z5aibKZUCPFCQXlnNQDx

[2022-05-12 15:18] #1688 closed

[2022-05-12 15:19] #1896 closed

[2022-05-12 15:19] #3027 closed

[2022-05-12 15:22] johnsmith-gooddollar opened #3712 "GoodDollar - IOS app issues"
I've made the app building but there're some runtime issues.
This isn't complete list, need to test the whole app locally.
Please add any issue found here as the check list item

- [x] app loading too long (with some connection timeout errors)
- [x] unable to login via Torus (stuck on 'preparing wallet')
- [x] images aren't shown on feed
- [x] header collapse issues
- [x] Something went wrong on F

[2022-05-12 16:58] #3704 closed

[2022-05-12 16:59] #3711 closed

[2022-05-12 22:15] johnsmith-gooddollar commented on #3287
@roma-hladilka I've added an example app and described how to do.
So you could proceed with this task

[2022-05-12 22:17] johnsmith-gooddollar commented on #3287
@roma-hladilka additionally you have to make sure any FV modules (from src/components/dashboard/FaceVerification and below) are used from FV screen components only and aren't imported anywhere else (except screen imports in src/components/dashboard/Dashboard.js)

[2022-05-13 15:39] vldkh commented on #3710
@alt-a1r Fixed

[2022-05-16 08:56] #3703 closed

[2022-05-16 14:28] vldkh commented on #3708
@alt-a1r @johnsmith-gooddollar tested, ready to release

[2022-05-16 14:31] vldkh commented on #3657
DEV
https://images.zenhubusercontent.com/166818382/c4862376-db9e-4fcb-8daf-4c0b84fc9b41/2a55ed14_0bbc_4c21_bd60_8bd1c574b91e.mp4

https://images.zenhubusercontent.com/166818382/7ee0a7db-0490-4313-bd7a-fdf8038e80be/b0d1f523_5afa_4ea3_aa74_668d90438311.mp4

[2022-05-17 09:55] vldkh opened #3718 "Errors on Amplitude"
Dashboard: https://analytics.amplitude.com/gooddollar/chart/89rnb7k/edit/xgq364h

One of the possible blockchain issues - https://app.birdeatsbug.com/sessions/K5G7t5WuO-G-xL645WMQsRJmab3mSjRsAHHeL1PzuwVo

[2022-05-17 15:28] roma-hladilka commented on #3712
@johnsmith-gooddollar I couldn't reproduce 1 and 2 (the only long loading I can see is feed loading after sign in, console shows a lot of messages of reading the blocks: "pollOTPLEvents call", "sync tx step"). Maybe it was an internet issue?

[2022-05-18 09:11] johnsmith-gooddollar commented on #3712
@roma-hladilka network access requires to ask for permissions.
it's possible the request doesn't happens for some reasons. need to understand why

i think @vldkh could help us by testing on different devices and sending logs

[2022-05-18 09:42] sirpy commented on #2932
@johnsmith-gooddollar i dont think this is relevant anymore
if you can look at monitoring alerts channel / heroku backend logs for the different errors we are getting.

[2022-05-18 09:53] johnsmith-gooddollar commented on #2932
@sirpy ok i'll check

[2022-05-20 14:19] #3651 closed

[2022-05-24 11:12] sirpy opened #3725 "Limit ceramic feed polling to once an every X minutes or refresh"
Since the feed doesnt change that often, we can prevent polling from background switch if not at least X minutes passed since last sync. This will reduce the load on ceramic

- [x] add a memory variable with last ceramic sync (on reload it is expected to be reset to 0 again)
- [x] add env variable with polling interval with default 60 minutes
- [x] prevent poll if not enough time passed

[2022-05-24 13:27] #3588 closed

[2022-05-24 16:13] johnsmith-gooddollar commented on #3725
hotfixed: https://github.com/GoodDollar/GoodDAPP/commit/8d97fbfdd8018725f529d9d37247a7eebac9f150

[2022-05-24 16:13] #3725 closed

[2022-05-26 10:24] alt-a1r opened #3726 "Profile is not editable"
- existing profile data doesn't appears in edit mode
- can't edit profile data

[2022-05-26 11:57] johnsmith-gooddollar commented on #3432
@alt-a1r

here you’d have to investigate the whole app regarding server errors handling
2:53
server returns an json response with shape {ok: 0|1, error?: string}
2:53
if code = 200 but ok = 0 this is an error and should be handled like error
2:54
check API.js we may have axios interceptor which checks ok and creates Error with response.data.error as message
2:54
also you’d need to make sure we’re

[2022-05-26 12:02] sirpy commented on #3432
@johnsmith-gooddollar higher priority is to investigate actual errors we get on sentry/monitoring alerts

[2022-05-26 12:05] johnsmith-gooddollar commented on #3432
@alt-a1r ^^^

[2022-05-26 13:01] #3174 closed

[2022-05-27 10:57] alt-a1r opened #3728 "Update CI workflow for ios"

[2022-05-27 11:04] vldkh commented on #3726
@alt-a1r fixed on DEV
https://images.zenhubusercontent.com/166818382/1811d600-eeb1-4b04-9a44-b12d10b0277a/07c12ac4_2c03_4c99_af87_e3abf9347947.mp4

[2022-05-27 13:22] roma-hladilka opened #3730 "Error: Domain contains control or whitespace"

[2022-05-27 13:23] roma-hladilka commented on #3730
Ses doesn't send messages to emails with non-ASCII characters

[2022-05-27 14:33] sentry-io[bot] opened #3731 "Error: pollReceiveEvents failed:: Returned error: One of the blocks specified in filter (fromBlock, toBl..."
Sentry Issue: [GOODDAPP-5E4Z](https://sentry.io/organizations/gooddollar/issues/2645454328/?referrer=github_integration)

[code]

[2022-05-27 14:37] sentry-io[bot] opened #3732 "TypeError: Unhandled promise rejection at:: Network request failed"
Why this is unhandled ?

Sentry Issue: [GOODDAPP-65CX](https://sentry.io/organizations/gooddollar/issues/2930441665/?referrer=github_integration)

[code]

[2022-05-27 14:40] sentry-io[bot] opened #3733 "Error: update balance and entitlement failed: Invalid JSON RPC response: """
Sentry Issue: [GOODDAPP-6Q79](https://sentry.io/organizations/gooddollar/issues/3189599759/?referrer=github_integration)

[code]

[2022-05-27 14:42] sentry-io[bot] opened #3734 "Error: torus signin failed:: Missing privateKey from torus response"
How this is possible ?

Sentry Issue: [GOODDAPP-3Z5D](https://sentry.io/organizations/gooddollar/issues/2496422975/?referrer=github_integration)

[code]

[2022-05-27 14:47] johnsmith-gooddollar opened #3735 "Unhandled rejections - loo much"
If we won't await for something, it **should be** appended with `.catch()` block logging error possible via 'warn'

e.g.

[code]

[2022-05-27 14:47] johnsmith-gooddollar commented on #3731
@sirpy this is the most often issue in Sentry
could you please check this Sunday ?

[2022-05-30 05:45] sirpy commented on #3731
@johnsmith-gooddollar we need to push the latest addition to the wallet with the "retry" on all the wallet TXs
lets see if that lowers the amount of errors. btw in retry it is set to "1" does it mean it will try 2 times? or we need to change it to 2?

[2022-05-30 05:49] sirpy commented on #3730
@johnsmith-gooddollar this doesnt effect ongage? shouldnt we clean the email address on the client side?
or on the endpoints on server that receive emails?

[2022-05-30 09:22] roma-hladilka commented on #3730
@sirpy will check ongage

[2022-05-30 09:44] johnsmith-gooddollar commented on #3730
@roma-hladilka
- check **all the** external **services** where we're passing email
- if some service fails with non-encoded email, encode it

[2022-05-30 10:33] johnsmith-gooddollar commented on #3731
@sirpy  reries count is the **exact retries amount, non-including initial call**

e.g. 0 retries - no retry at all
1 retry - call + retry if failed _up to 2 total calls_
2 retries - call + retry if failed + retry again if failed _up to 3 total calls_

[2022-05-30 10:57] johnsmith-gooddollar commented on #3731
@sirpy done https://github.com/GoodDollar/GoodDAPP/commit/9cb3d8119f6c521a9e5180e04f9ce9f7b3d75f84

[2022-05-30 11:21] johnsmith-gooddollar opened #3736 "Update ceramic indexes - Strapi"
- [ ] store changelog in a single doc, update schema
- [ ] generate unique history id for each record. generate it using github-like algorithm: sha1(action+document id+ts+prev history id)
- [ ] wrap changelog update onto mutex to receive correct prev history id
- [ ] generate new seed, update all envs
- [ ] re-publish feed items onto new indexes (all envs)

[2022-05-30 11:23] johnsmith-gooddollar opened #3737 "Update Ceramic indexes - app"
- [ ] request history document only
- [ ] instead requesting commits, read diff from document.content.items by history id stored in local storage
- [ ] if history id in local storage is old format (DID, not a sha1) - clear all news feed, re-load feed from scratch
- [ ] update all envs with the new indexes

[2022-05-31 09:29] vldkh opened #3738 "[BUG] Could not send verification code. Please try again"
It works with Ukrainian phone numbers.
But i have this issue using Hadar's phone number

Checked on web DEV 1.39.2-0
![image.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/71d94119-96cd-49c2-8332-f7f6cf6ff188)
![image.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/34c28c0b-f4ab-4c1c-8e80-f4a956062685)
https://app.birdeatsbug.com/sessions/4TITKktH593d7pPRfevK

[2022-06-01 15:54] #3737 closed

[2022-06-03 15:01] johnsmith-gooddollar commented on #3674
@patpedrosa need to discuss this next week

[2022-06-03 15:08] johnsmith-gooddollar commented on #3437
does not reproduces since march

[2022-06-03 15:08] #3437 closed

[2022-06-03 15:08] #1662 closed

[2022-06-06 06:43] sirpy commented on #1534
I think we have customized some of those scripts. I dont think they are going to change.

[2022-06-06 10:59] #1534 closed

[2022-06-07 12:20] roma-hladilka commented on #3730
Other services don't need encoding, so it is just a SES issue

[2022-06-09 11:53] roma-hladilka opened #3746 "Remove old login flow"
Code from the old login flow does nothing but causes errors, so we need to remove it

[2022-06-10 14:34] sentry-io[bot] opened #3747 "Network error is logged incorrectly."
eMsg is an error object, should be string ?
need to check and research

Example:
Error: ceramic sync from remote failed

Sentry Issue: [GOODDAPP-4NCF](https://sentry.io/organizations/gooddollar/issues/2588000382/?referrer=github_integration)

[code]

[2022-06-10 14:40] vldkh commented on #3731
@sirpy still reproducing on PROD

[2022-06-10 14:40] sentry-io[bot] opened #3748 "Error: Uncaught exception at:: Script error."
Sentry Issue: [GOODDAPP-6QQD](https://sentry.io/organizations/gooddollar/issues/3242195785/?referrer=github_integration)

[code]

[2022-06-10 14:44] sentry-io[bot] opened #3749 "Error: update failed:: warming tree cache"
This happens during updates run
Is this ok ? Could this happens for some accounts ?
Is this error pre-defined by the update logic ? Or this is something unexpected ?

Sentry Issue: [GOODDAPP-6SC9](https://sentry.io/organizations/gooddollar/issues/3272437627/?referrer=github_integration)

[code]

[2022-06-12 07:00] sirpy commented on #3731
i dont see it is happening much.. i see a sharp decrease @vldkh

[2022-06-12 07:59] sirpy commented on #3730
@roma-hladilka are we fixing it client side just ot be on the safe side?

[2022-06-12 08:55] sirpy commented on #3749
@johnsmith-gooddollar that server used for goodclaiming was down. fixed.

[2022-06-12 08:55] #3749 closed

[2022-06-13 11:20] roma-hladilka commented on #3730
@sirpy as SES doesn't support non-ASCII characters on its side, we need to encode them on our side to be sure that emails with non-ASCII characters will receive the messages. Emails with ASCII characters won't be affected.

[2022-06-13 11:52] johnsmith-gooddollar commented on #3730
@sirpy emails are fixed on good server side, in aws-ses client: https://github.com/GoodDollar/GoodServer/commit/f0c983273a5218509f13cd24e85da8656381cfd7#diff-130b607eb7e47803d01a47e7fd96888eca8345799ace417e17d6b90addd1db80R67

we're encoding them just before send

[2022-06-15 09:29] johnsmith-gooddollar opened #3752 "Wallet Changes"
#### Wallet Changes
- [x] add the loginwith route
- [ ] create a confirmation screen
    - [x] show the details of the vendor
    - [x] show the details the vendor requests and the values that will be shared
    - [x] if cbu/rdu domain is different than web domain show warning
    - [x] if id (wallet address of vendor) is not whitelisted show warning
    - [ ] mobile/location/email/name should be

[2022-06-15 09:29] johnsmith-gooddollar opened #3753 "Login link"
#### Login link
- [ ] create a separate package "LoginSDK" that handles login link creation/parsing
- [ ] add a method to generate the link. it has the form of "https://wallet.gooddollar.org/loginwith/?login=" + encoded request
    - [ ] the encoded request is a json object encoded with base64 and encodeURIComponent
    - [ ] the request object has the following fields
       - v: string - name of

[2022-06-15 09:29] johnsmith-gooddollar opened #3754 "Server LoginSDK"

[2022-06-15 09:29] johnsmith-gooddollar opened #3755 "Client LoginSDK"
#### Client LoginSDK
- [ ] add react component that handles the login flow from the website/app perspective
- [ ] show a login button that opens the login link
- [ ] in case of rdu current window url changes to the login link on button press
- [ ] in case of cbu button press opens a popup window with the login link
- [ ] component should receive onLogin callback in props
- [ ] in case of cbu, comp

[2022-06-15 09:30] johnsmith-gooddollar opened #3756 "Documentation"

[2022-06-15 19:14] sirpy commented on #3753
@johnsmith-gooddollar wasnt this done as part of the bounty?

[2022-06-16 09:59] johnsmith-gooddollar commented on #3752
@vldkh Developer have made an  an example app hosted at https://gooddollar.netlify.app/

- open app
- click 'login with...'
- you will be redirected to the gooddollar wallet
- you will have the option to either allow or to deny
- after redirecting back you'll see the profile page with the account details received from GD

For now the demo app is working with **DEV** instance. I've asked developer

[2022-06-20 08:20] roma-hladilka opened #3757 "checkEntitlement failed error"
Returned error: VM execution error.
Reproduced on unverified account, Safari browser

[2022-06-20 15:57] johnsmith-gooddollar commented on #3752
Checked on dev & QA, approved

[2022-06-20 16:09] roma-hladilka opened #3759 "Error unable login with old account"
Error text: You haven't used GoodDollar app on this device for a long time. You need to sign in again. Make sure to use the same account you previously signed in with.

[2022-06-20 20:57] sirpy commented on #3759
@roma-hladilka can you explain what was the issue and how it was fixed?

[2022-06-20 20:57] sirpy commented on #3759
@roma-hladilka can you explain what was the issue and how it was fixed?

[2022-06-21 06:51] roma-hladilka commented on #3759
@sirpy where were some issue in walletLogin, now it is gone with wallet refactoring

[2022-06-21 15:02] roma-hladilka opened #3760 "Ios error: PollingBlockTracker"
Reading blocks returns error: PollingBlockTracker and crash the **ios** build. Error appears on dev and stage builds. Full text:
`Error: PollingBlockTracker - encountered an error while attempting to update latest block:
@http://localhost:8081/index.bundle?platform=ios&dev=true&minify=false&modulesOnly=false&runModule=true&app=org.gooddollar.r3t4g4:619348:8
next@http://localhost:8081/index.bundle?

[2022-06-22 07:13] alt-a1r opened #3761 "iOS app crash"
iOS app is crushed when auth is done

[2022-06-23 08:58] johnsmith-gooddollar opened #3764 "Local (Background) Notifications"

[2022-06-23 08:59] johnsmith-gooddollar opened #3765 "Design architecture"

[2022-06-23 08:59] johnsmith-gooddollar opened #3766 "Research: web notifications"

[2022-06-23 09:00] johnsmith-gooddollar opened #3767 "Research: service workers / background fetch"
Currently we have service worker auto generated by the workbox. It manages web app caching and updating

- [ ] could we register more than one SW ?
- [ ] if not how we could integrate our code to the SW generated by the workbox ?
- [ ] our SW should be built by webpack, it should use some app code and libraries
- [ ] maybe some app code should be adjusted. for example, goodwallet was refurbished t

[2022-06-23 09:00] johnsmith-gooddollar opened #3768 "Research: transactionals (blockchain-related) events"
**What we do now:**

- [ ] **subscribe** for claim ready event ? otherwise we have to get approx claim time (in this day, if app was running at midnight, it should be re-fetched and updated), then start polling around it, till entitlement > 0
- [ ] claim ready

**What we don't do now:**

- [ ] is it possible to **subscribe** for invitees events ? otherwise we may use the contact methods (see invit

[2022-06-23 09:06] #3766 closed

[2022-06-23 09:11] #3761 closed, assigned to alt-a1r

[2022-06-23 12:48] vldkh commented on #3618
verified on PROD

[2022-06-23 12:48] #3618 closed

[2022-06-23 12:48] #3708 closed

[2022-06-23 12:52] vldkh commented on #3287
@johnsmith-gooddollar verified on PROD

[2022-06-23 12:52] #3287 closed

[2022-06-23 12:52] #3726 closed

[2022-06-23 12:53] #3738 closed

[2022-06-23 12:54] vldkh commented on #3732
![image.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/612aaf54-1fb7-4b70-8b1d-dff681ad41ab)

[2022-06-23 12:55] #3732 closed

[2022-06-23 13:14] #3432 closed

[2022-06-23 13:19] vldkh commented on #3759
@roma-hladilka i guess is related to this error. please take a look, tested on staging
https://app.birdeatsbug.com/sessions/TnmBLTRMB02SWJtsziTYNynYRVHhmgGYVe2jSmoALCEz

[2022-06-23 13:29] vldkh commented on #3752
@johnsmith-gooddollar checked on PROD

[2022-06-23 13:29] #3752 closed

[2022-06-23 13:42] #3728 closed

[2022-06-23 13:42] #3760 closed

[2022-06-23 13:51] vldkh commented on #3734
@roma-hladilka still happening

[2022-06-23 13:55] johnsmith-gooddollar opened #3770 "add notifications to the app permissions"
- [x] configure native apps (plist and manifest) to be allowed to ask local notifications perms
- [x] add Notifications permissions to the `src/components/permissions/api/PermissionsAPI.web.js` class
- [x] on the web always return 'denied' for notifications (status check), do nothing on request
- [x] update `usePermissions()` hook

ONHOLD:
- [ ] add notifications to the platform permissions
- [ ]

[2022-06-24 08:57] alt-a1r commented on #3767
- for use serviceWorkers with RN we can use library like 'react-native-workers' (https://www.npmjs.com/package/react-native-workers)
- we couldn't create more then one serviceWorker because it would rewrite previous. But we can use 'importScript()' option to connect some other configuration. Also there is one workaround solution to create multiple serviceWorkers: https://github.com/facebook/create

[2022-06-24 13:00] johnsmith-gooddollar commented on #3767
we already using RNBackgroundFetch. please check how it implemented does it working and will it be suitable for this task

please look how we could add custom code to the SW generated by the workbox

i've already done with this: #3766

should be service worker

[2022-06-24 15:01] vldkh opened #3771 "[BUG] The "save" text on the button isn't shown after editing the profile"
the "save" text on the button isn't shown after editing the profile

Reproduced on web-only (Safari, Chrome)
Environment: DEV and QA 1.40.1-1

Attachments:
https://app.birdeatsbug.com/workspaces/7ce1bd50-c755-4b2d-89b8-62a480984405/sessions/QY697MJkdOLPOPSTnMK9uXhvyCDXwYE4VaY0Rf-vuNaN

[2022-06-26 05:38] sirpy commented on #3767
@johnsmith-gooddollar webworkers are irrelevant we need service worker
in any case I suggest to first get Android/iOS working as we already have the boilerplate code for that
then start with browser notifications

[2022-06-26 06:09] sirpy commented on #3734
@vldkh still happening where and how? can you reproduce? please provide example

[2022-06-26 06:28] sirpy commented on #3768
@johnsmith-gooddollar @patpedrosa lets start simple
1. for iOS/android - notifications is a matter of running the feed updates and displaying a notification if any new feed item.
2. for web app this is a little bit more complicated as service worker doesnt run inside the app, so we have no way to get it to update the feed and check for new items. so I suggest to web feed notifications on hold.
3.

[2022-06-26 08:27] sirpy commented on #3767
@alt-a1r @johnsmith-gooddollar  @patpedrosa
1. for web notifications it is not possible to wakeup the service worker unless using "push notifications" or the new experimental "periodicsync" API
2. on Safari browsers notifications are pretty new and only supported in the latest safari and macos 13

see:
https://stackoverflow.com/a/29750936/6379521

and see https://whatwebcando.today/scheduler.html

[2022-06-27 09:26] vldkh opened #3772 "[BUG] Investigating login via passwordless"
The wallet is stuck sometimes during signup via passwordless. It says that you already have an account
To reproduce you need to continue the signup with the "Create new account" button

Env: QA 1.40.1-2

Attachments:
https://app.birdeatsbug.com/sessions/HqJd1pI_fykqV-oVf-NZJux24lbxspCWbiuqldAhg0ux

Also, I got these errors in the same case:
![image.png](https://images.zenhubusercontent.com/60f81ed

[2022-06-27 11:42] johnsmith-gooddollar commented on #3768
@sirpy ok

[2022-06-28 10:42] #3493 closed

[2022-06-28 10:45] alt-a1r opened #3775 "Fix hot code push deployment"
- research/fix deployment via Google play

[2022-06-29 10:29] johnsmith-gooddollar commented on #3772
also fixed here: https://github.com/GoodDollar/GoodDAPP/commit/fc42e1b99465c0162e0a52ee0e710dbce8885815

[2022-06-29 11:33] johnsmith-gooddollar opened #3777 "Two+ accounts issue during login"
Now we're handling only the following cases after torus login

a) user exists with same provider
b) user exists but with another one
c) user not exists

But if user have **two registered** accounts with **different** providers, the following deadlock happens:

- option b) is suggested
- user logs in with another provider
- but the record with the first provider now found
- option b) is suggested a

[2022-06-29 11:36] vldkh commented on #3771
@roma-hladilka fixed.
https://app.birdeatsbug.com/sessions/XGPR7H0J2CmW0BoFq3d_1rW6JiL71NRc71Dg_QVV4fjd

[2022-06-29 14:41] vldkh commented on #3735
@johnsmith-gooddollar
 verified with @roma-hladilka, works properly

[2022-06-30 03:13] Bender-22 opened #3778 "npm install fails"
A problem with `"@gooddollar/gun": "^0.2020.902"`?

[code]

[2022-06-30 09:37] johnsmith-gooddollar opened #3779 "userExists - by mnemonics"
Now Mnemonic (Recover) component calls userExists with ({ mnemonics })

But this value isn't passed anywhere, also it doesn't processed on the server.
In this case the request doesn't event sent because of identifier OR email OR mobile check and userExists returns exists: false immediately

- [ ] do we need userExists check by mnemonic
- [ ] if yes - how it should be implemented on the server ? i

[2022-06-30 09:37] johnsmith-gooddollar commented on #3779
@sirpy could you please assist here ? need your opinion

[2022-06-30 12:05] vldkh commented on #3734
@sirpy i see it on Sentry https://sentry.io/organizations/gooddollar/issues/2496422975/?project=1829798&referrer=github_integration
![image.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/95e54741-6199-4d67-ad70-706efe052282)

[2022-06-30 13:50] sirpy commented on #3779
we need it to work just the same with identifier, email, mobile.
the mnemonic is used to create the wallet and from it you can get the identifier

[2022-06-30 14:32] johnsmith-gooddollar commented on #3779
@sirpy it was removed from the server. could you please pick up some old commits where it was still implemented ?
how does mnemonics stored inside database ? is it some hash (sha3) over the phrase or it's derived from the pkey ?

[2022-06-30 16:08] #3772 closed

[2022-06-30 16:08] #3771 closed

[2022-06-30 16:09] #3735 closed

[2022-07-01 09:21] #3746 closed

[2022-07-01 14:39] sentry opened #3780 "Error: Uncaught exception at:: [object ProgressEvent]"
Sentry Issue: [GOODDAPP-6QZ2](https://sentry.io/organizations/gooddollar/issues/3247837816/?referrer=github_integration)

[code]

[2022-07-01 14:42] johnsmith-gooddollar commented on #3148
@sirpy Still happens for 19k+ users, could you please check ?

[2022-07-01 14:46] johnsmith-gooddollar commented on #3780
1. the exception should be caught @alt-a1r
2. @sirpy it seems this may be related to the mainnet calls. Do we have some outages with the pokt again ? Could we do something with this, maybe fallback to the fuse endpoint if pokt unreachable?
3. or may be we could retry tx if http req fails ?

[2022-07-01 14:48] sentry-io[bot] opened #3781 "Error: verifyHasGas faucet failed: Returned error: Insufficient funds. The account you tried to send tra..."
@sirpy This started from Monday. Maybe something should be configured on the blockchain side (e.g. added gas for admin wallet ?)

Sentry Issue: [GOODDAPP-6RXF](https://sentry.io/organizations/gooddollar/issues/3269913006/?referrer=github_integration)

[code]

[2022-07-01 14:56] sentry-io[bot] opened #3783 "Error: claiming failed: Returned error: Transaction gas price supplied is too low. There is another tran..."
Sentry Issue: [GOODDAPP-56BA](https://sentry.io/organizations/gooddollar/issues/2634436558/?referrer=github_integration)

[code]

[2022-07-01 14:57] sentry-io[bot] opened #3784 "Error: There aren't apps installed can handle 'https:' scheme"
Sentry Issue: [GOODDAPP-6J0X](https://sentry.io/organizations/gooddollar/issues/3016291390/?referrer=github_integration)

[code]

[2022-07-01 15:02] sentry-io[bot] opened #3785 "Unhandled promise rejection. Error: Client's ISP doesn't supports IPv6."
According to the code, it **had to be** handled but doesn't
Need to figure out why, where's the issue and to fix it

Sentry Issue: [GOODDAPP-6ZWA](https://sentry.io/organizations/gooddollar/issues/3369492553/?referrer=github_integration)

[code]

[2022-07-01 15:07] johnsmith-gooddollar commented on #3785
https://github.com/GoodDollar/GoodDAPP/commit/94e83dd6e7e86b1b05c13bb9511b16233dd3b530

@vldkh please check dev/qa

[2022-07-01 15:09] sentry-io[bot] opened #3786 "TypeError: getInitialFeed failed:: Cannot read properties of undefined (reading 'getFeedPage')"
Sentry Issue: [GOODDAPP-5RNG](https://sentry.io/organizations/gooddollar/issues/2733692647/?referrer=github_integration)

[code]

[2022-07-01 15:14] sentry-io[bot] opened #3787 "Cannot read properties of null (reading 'routes')"
Sentry Issue: [GOODDAPP-64XB](https://sentry.io/organizations/gooddollar/issues/2923783031/?referrer=github_integration)

[code]

[2022-07-03 08:40] sirpy commented on #3779
its not related to server. mnemonic is instead of the private key received from torus. it is on client side.
checking if user exists should happen just the same.

[2022-07-03 08:40] sirpy commented on #3777
@johnsmith-gooddollar is this still relevant or was solved?

[2022-07-03 08:41] #1749 closed

[2022-07-03 08:45] sirpy commented on #3783
this doesnt seem to happen much, there will always be some failures in blockchain calls

[2022-07-03 08:45] #3783 closed

[2022-07-03 08:46] sirpy commented on #3731
barely happens anymore

[2022-07-03 08:46] #3731 closed

[2022-07-03 08:50] sirpy commented on #3781
@johnsmith-gooddollar
d3262380b200422671efb942188ee4f651e99a50

[2022-07-03 08:50] sirpy commented on #3683
@johnsmith-gooddollar
d3262380b200422671efb942188ee4f651e99a50

[2022-07-03 08:51] sirpy commented on #3148
@johnsmith-gooddollar
d3262380b200422671efb942188ee4f651e99a50

[2022-07-03 08:56] sirpy commented on #3495
this is caused from the POKT web3 endpoint.
as long as we have this logged correctly in amplitude we can track if it increases, there will always be some errors

[2022-07-03 08:56] #3495 closed

[2022-07-03 09:38] sirpy opened #3788 "Create a standalone route for faceverification"
This is required for anyone that wants to whitelist their users without going through our wallet.

See demo in
https://github.com/gitcoinco/dPopp/pull/277

@patpedrosa
Do you want to change any messaging any the screens?

[2022-07-04 09:09] johnsmith-gooddollar commented on #3777
@sirpy it was solved, this was a bug with identifier not been passed to the server. could be closed

[2022-07-04 09:09] #3777 closed

[2022-07-04 10:26] johnsmith-gooddollar commented on #3779
@sirpy it calls for server:

[code]

[2022-07-04 10:27] johnsmith-gooddollar commented on #3779
but inside userExist the 'mnemonic' field isn't used
it's also absent server side

[2022-07-04 10:31] johnsmith-gooddollar commented on #3779
i see in this case userExists will check by identifier only
is this ok ?

[2022-07-04 10:41] johnsmith-gooddollar commented on #3779
i've adjusted and simplified user exists / check existing hooks: https://github.com/GoodDollar/GoodDAPP/commit/d941ce9ebe011eabcc99eb9e661d1412e161eb20

[2022-07-04 12:04] johnsmith-gooddollar commented on #3781
@sirpy i found some inconsistency
Here the shape is [{ prop: method }]
https://github.com/GoodDollar/GoodDAPP/commit/d3262380b200422671efb942188ee4f651e99a50#diff-9597ceb9bebb60e27a325f32fa7d28ad77b6d3b4e643478c6902d6d44d6ce871R1147

But here is double-nested array [[{ prop: method }]]:
https://github.com/GoodDollar/GoodDAPP/commit/d3262380b200422671efb942188ee4f651e99a50#diff-9597ceb9bebb60e27a32

[2022-07-04 14:11] vldkh commented on #3785
@johnsmith-gooddollar I see on dev that IPv6 Error moved to warnings. I will check it on QA after release
See logs:
https://app.birdeatsbug.com/sessions/EwkW0Cx0jWnP23ZdbkdkrlFA5Q143weyfJ61e6zn84MW

[2022-07-05 15:26] johnsmith-gooddollar commented on #3779
@sirpy  then we need to create this temporary wallet before call userExists
how we could do it ?

[2022-07-05 19:20] sirpy commented on #3779
that's the old code https://github.com/GoodDollar/GoodDAPP/blob/2b61a82df3eda5379e588e3f7cdc893163aefa7a/src/lib/login/userExists.js
but anyways lets put this on hold it is very low priority.

[2022-07-07 10:57] roma-hladilka opened #3791 "Bug: update dialog is not shown"

[2022-07-07 14:35] alt-a1r opened #3794 "Update version popup not working on web"

[2022-07-07 14:58] vldkh opened #3796 "[BUG] Payment links don't work properly on the Android app"
If app is closed and I try to open a payment link it get stuck on splash screen.
If app is already open in background, opening payment link just brings the app to foreground but doesn't open the link.

checked on prod app Version 1.41.12 (3220)

Attachments:

[https://app.zenhub.com/files/166818382/1ad49f1d-d1ec-495a-a8fa-029beaef0a02/download](https://app.zenhub.com/files/166818382/1ad49f1d-d1ec-

[2022-07-08 09:15] johnsmith-gooddollar opened #3797 "regMethod was reset to 'selfCustody' on PROD"
Due to the unknown reason regMethod in user properties was reset to 'selfCustody' on PROD for the all ? most? users using torus to sign in. This caused 'backup wallet' menu option to show

For now:

-  i've added an additional check for REACT_APP_ENABLE_SELF_CUSTODY to the menu item display conitions. if no self custody it will be hidden despit of user's regMethod
- i've created new update script

[2022-07-08 13:21] johnsmith-gooddollar opened #3799 "Update FaceTec SDK Custom Server to 9.5.x"
should be done before Sep 10

- [x] merge Java source
- [x] merge logs/license NodeJS server source
- [x] merge Docker configs
- [x] test locally
- [x] update server QA (DEV mode)
- [x] write old -> new 3D DB migration script
- [x] migrate QA database
- [ ] update server PROD
- [ ] migrate PROD database

[2022-07-10 14:44] sirpy opened #3800 "User should be able to use walletconnect"
----
## Screens
### Menu Icon
- ** probably should be at the topbar, in general i think we need a scan icon in more prominent place**
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/c5c615df-41f2-4381-b28f-ee5e8932b730)

### Not Connected
- **on mobile the order is reversed, ie the scan window is displayed first**
![Screen Shot 2022-07-10 at 16.47.39.png](https://images.

[2022-07-10 18:10] sirpy commented on #3800
@patpedrosa these are the screens for walletconnect, functionality is done, requires basic design to make it look better

[2022-07-11 06:40] sirpy opened #3803 "User should be able to share links as QR codes"
I think all links we use should also be presented as QR codes
specifically the invite link.
We should also have a generic QR code scanner that handles
- payment link
- payment request
- regular address scan
- walletconnect
- invitelink
- login link

[2022-07-11 14:15] sentry-io[bot] opened #3804 "Error: InterestCollectedEvents failed:: Returned error: Your app has exceeded its compute units per seco..."
Need to add some rate limiter / throttling for sending tx ?
Where and alchemy API is used ?
@sirpy

Sentry Issue: [GOODDAPP-73CH](https://sentry.io/organizations/gooddollar/issues/3393913710/?referrer=github_integration)

[code]

[2022-07-11 14:18] sentry-io[bot] opened #3805 "Error: userExistsCheck failed: : Unexpected error happened during api call"
Need to add exact error message on the server

Sentry Issue: [GOODDAPP-6ZW9](https://sentry.io/organizations/gooddollar/issues/3369492214/?referrer=github_integration)

[code]

[2022-07-11 14:18] sentry-io[bot] opened #3806 "Error: Returned error: You cannot query logs for more than 100000 blocks at once."
Sentry Issue: [GOODDAPP-6XYT](https://sentry.io/organizations/gooddollar/issues/3314415814/?referrer=github_integration)

[code]

[2022-07-12 13:50] johnsmith-gooddollar commented on #3780
@sirpy  hotfixed to PROD: https://github.com/GoodDollar/GoodDAPP/commit/1e453b13447d19d144d5c161ecaa2012b6c0d547

[2022-07-12 14:19] vldkh commented on #3785
@roma-hladilka recheck please, still unhandled

[2022-07-12 14:29] johnsmith-gooddollar commented on #3785
@vldkh on which version it reproduces ? maybe some old one ?

[2022-07-12 14:32] johnsmith-gooddollar commented on #3785
@vldkh it's not been released on PROD

[2022-07-12 14:35] johnsmith-gooddollar commented on #3785
@vldkh @roma-hladilka
hotfixed https://github.com/GoodDollar/GoodDAPP/commit/db421f7849661f25b049a923422a18a540fddf94

[2022-07-13 09:05] johnsmith-gooddollar commented on #3806
fixed with the popup issue, now fuse explorer call is used

[2022-07-13 09:05] #3806 closed

[2022-07-13 09:07] johnsmith-gooddollar commented on #2830
@vldkh does it still reproduces ?
@roma-hladilka take a quick look if yes

[2022-07-13 10:39] roma-hladilka commented on #3784
@vldkhh ready to test

[2022-07-14 09:58] vldkhh opened #3810 "[BUG] iOS App"
iOS App issues/improvements
Env. Staging Version 1.41.1-4 (1.41.1-4.2680)
Device: iPhone 13 Pro Max

- [x] Low-quality Splash screen.
 ![image.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/086c8891-949f-4f52-85f9-beb7708e4981)

- [x] Remove "Invoice Number" from info cards (Related to whole app, web/android/ios)
![Image from iOS.jpg](https://images.zenhubusercontent.com/62ab09

[2022-07-14 10:02] vldkhh commented on #2830
@johnsmith-gooddollar looks like fixed
![image.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/dd62dbbd-9152-4356-8380-26bc7a7b4363)

[2022-07-14 10:02] #2830 closed

[2022-07-14 10:02] #3781 closed

[2022-07-14 10:06] vldkhh commented on #3683
@sirpy Now it happens to ~145 users each day. I guess it is normal behavior. Any thoughts?
![image.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/fa76153e-657a-44ab-8ad2-5d6639192754)

[2022-07-14 10:08] vldkhh commented on #3148
@sirpy still happens for ~1.9k users, could you please recheck?

[2022-07-14 12:56] johnsmith-gooddollar commented on #3797
1. create new account vi Torus. log to birdeatsbug
2. call userStorage.userProperties.getAll()
3. should be registered: true regMethod: torus
4. call userStorage.getProfile() userStorage.getPrivateProfile()
5. should have mnemonic (could be empty string) and walletAddress
6. walledAddress from profile should equal wallet.account

[2022-07-15 09:14] johnsmith-gooddollar commented on #3748
need to check from where the exactly error goes (file line) and log it
@roma-hladilka

[2022-07-15 11:17] vldkhh commented on #3794
@johnsmith-gooddollar verified on DEV
![Snag_5ccf23d.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/91851b42-3e4f-4932-ba10-1b02bb000059)

[2022-07-15 11:21] vldkhh commented on #3785
@johnsmith-gooddollar fixed
![image.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/e77dfc20-630b-4744-ad0e-dc662adad6df)

[2022-07-15 11:21] #3785 closed

[2022-07-15 14:03] roma-hladilka commented on #3747
It isn't related to JWT issue.
Fixed logging by swapping message and error object

[2022-07-18 08:35] roma-hladilka commented on #3748
Need to address cross-origin errors, as React can't log the original error message and the source of it

[2022-07-18 08:59] roma-hladilka commented on #3748
Also this error happens on Sogou Explorer, MiuiBrowser, and old version of chrome

[2022-07-18 11:13] vldkhh commented on #3787
@roma-hladilka @johnsmith-gooddollar issue almost gone
![image.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/e660da60-0484-4255-a350-2c37c8ed9a16)

[2022-07-18 11:15] vldkhh commented on #3609
@johnsmith-gooddollar need to be rechecked by @roma-hladilka
![image.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/ad4686e6-c3a3-471d-8146-f9607d61a7be)

[2022-07-18 11:30] vldkhh commented on #3784
@roma-hladilka Need to be rechecked later. Still happening for some users

[2022-07-18 11:30] vldkhh commented on #3734
@roma-hladilka @sirpy Need to be rechecked later. Still happening for some users

[2022-07-18 11:50] johnsmith-gooddollar commented on #3787
@vldkhh is this the latest version ?
@roma-hladilka pls look those cases **after fixing iOS issues**

[2022-07-18 11:50] johnsmith-gooddollar commented on #3609
@roma-hladilka pls look  **after  iOS **

[2022-07-18 11:53] vldkhh commented on #3787
@johnsmith-gooddollar yes, 1.41.28

[2022-07-18 16:13] #3748 closed

[2022-07-18 20:51] sirpy commented on #3804
@johnsmith-gooddollar
optimized here: b75ea2fc69c65e62bf3afa15b08bede04ab535c0

[2022-07-19 07:27] roma-hladilka commented on #3810
IOS has the issue with low quality lottie because of last version of lottie-ios wasn't added to lottie-react-native dependancies, which should fix it. We can either wait for the new library release, as they already have that commit in master branch, or we will need some lottie jsons with better resolution

[2022-07-19 08:21] roma-hladilka commented on #3810
regarding checkboxes, this is how they look like on ios. Do we need them to look like on android?
<img width="1019" alt="Screenshot 2022-07-19 at 11 19 37" src="https://user-images.githubusercontent.com/32140908/179702920-fbe00ba9-7f9d-4421-ba17-797da9e20401.png">

[2022-07-19 08:43] roma-hladilka commented on #3810
@vldkhh could you provide screenshots regarding moving bottom buttons higher? I checked and there are no buttons which are squashing with bottom panel

[2022-07-21 20:27] sirpy commented on #3734
@roma-hladilka @serdiukov-o-nordwhale i dont think there is something we can do about it.

[2022-07-22 09:54] roma-hladilka commented on #3609
fix wasn't merged to prod

[2022-07-22 09:55] roma-hladilka commented on #3784
Wasn't merged to prod

[2022-07-22 09:55] roma-hladilka commented on #3786
Wasn't merged to prod

[2022-07-22 10:10] johnsmith-gooddollar commented on #3780
nothing changed after logs been added
neet to trace this error from errorFunc where it appears and above

@alt-a1r @roma-hladilka

[2022-07-22 13:57] vldkhh commented on #3810
@roma-hladilka please check new bugs:

- [ ] The country flag is not displayed on the iOS app on the Profile page
![Image from iOS (2).png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/e28ca2d8-ba85-4da2-b26e-078982dc4067)

- [ ] There is no rocket on the Preparing Your Wallet Screen
https://images.zenhubusercontent.com/166818382/1c6d779a-d62e-402b-af5d-ad2bc043fb88/rpreplay_final

[2022-07-26 10:47] alt-a1r opened #3819 "iOS AppStore publishing CI/CD"
- configure CI/CD for publishing to Appstore

[2022-07-27 09:41] johnsmith-gooddollar commented on #3810
@roma-hladilka @vldkhh please add torus issue and video to the list

[2022-08-01 09:03] #3794 closed

[2022-08-01 09:04] #3797 closed

[2022-08-01 09:04] #3759 closed

[2022-08-01 09:04] #3796 closed

[2022-08-01 09:05] #3791 closed

[2022-08-01 09:05] #3712 closed

[2022-08-01 09:05] #3757 closed

[2022-08-01 09:06] #3804 closed

[2022-08-01 09:09] #3784 closed

[2022-08-01 09:10] #3786 closed

[2022-08-01 09:10] #3747 closed

[2022-08-01 09:10] #3683 closed

[2022-08-01 09:10] #3810 closed

[2022-08-03 13:25] johnsmith-gooddollar commented on #3768
@alt-a1r please adjust the PR according to requirements (only claim ready should be displayed, maybe also 10-min before reminder, awaiting @patpedrosa 's answer)

[2022-08-03 13:25] johnsmith-gooddollar commented on #3768
and put checkmarks

[2022-08-04 15:41] vldkhh commented on #3800
@sirpy @patpedrosa
I notice that the confirmations screen appears only on "walletconnect" page. Is it expected?https://images.zenhubusercontent.com/166818382/84bff69f-7c70-4145-9673-08a5c56a21d8/201c751a_b420_463a_bc92_ba69390d9bd6.mp4

[2022-08-04 19:48] sirpy commented on #3800
@vldkh ok fixed

[2022-08-05 09:13] johnsmith-gooddollar commented on #3148
@sirpy does https://github.com/GoodDollar/GoodDAPP/commit/8fbe4bf951e4510ef349d3bb79e1f0efffda0e9d#diff-642e29143f4de8b1190e375e6d087b1c7d6563eea1903df5972442d6bd793c2c fixes this issue ?

it still happens

[2022-08-05 09:15] johnsmith-gooddollar commented on #3148
just checked - reproduces on latest app version (having hotfix from above)

[2022-08-05 09:16] sentry-io[bot] opened #3822 "TypeError: RealmDB error:: Failed to fetch"
Sentry Issue: [GOODDAPP-56BE](https://sentry.io/organizations/gooddollar/issues/2634436960/?referrer=github_integration)

[code]

[2022-08-05 12:57] vldkhh commented on #3800
@sirpy
I guess there is nothing to test for me except swap on "app.voltage.finance". Other cases seem to be impossible to test on DEV/QA envs. Am I right?

[2022-08-05 13:00] johnsmith-gooddollar opened #3823 "FaceTec CustomServer - faceVector feature"
- [ ] read research what is it, its benefits, bottlenecks etc. all pros & cons
- [ ] understand shall we migrate or not

**if we migrate**

- [ ] update GoodServer
- [ ] update GoodDApp
- [ ] write migration node script (it should go over all face ids and call convert to face vector endpoint)

[2022-08-05 13:02] johnsmith-gooddollar commented on #3681
@sirpy an official typings and bolierplace are finally available

[2022-08-05 13:56] johnsmith-gooddollar commented on #3799
search database should be re-created using 'enrollBatched' function
i don't know what is this and haven't found almost anything in the docs.

continue with research. it should be done before PROD release
QA now runs with empty search DB

[2022-08-07 11:20] sirpy commented on #3800
you can test snapshot.org, when you join a dao/space you need to "sign" a
message

[2022-08-07 11:40] sirpy commented on #3148
it reproduces on verifyhasgas not joininvites.
i'll push an update to handle that

[2022-08-07 12:36] sirpy commented on #3148
@serdiukov-o-nordwhale 70fac294cabf813e334e96ce129727eddb41f153

[2022-08-09 09:57] #3787 closed

[2022-08-09 12:48] #3775 closed

[2022-08-09 12:49] #3733 closed

[2022-08-10 10:46] vldkhh commented on #3800
@patpedrosa @sirpy
Its working fine on QA env. Checked on Version 1.42.1-1 (3407)
https://images.zenhubusercontent.com/166818382/a550d841-4a22-438a-a571-a8bb23d4c498/9f965720_f30b_4a34_a29d_ac956428d27a.mp4

[2022-08-10 16:11] alt-a1r opened #3824 "Claim notifications testing"
- enable more frequently claim notifications for testing

[2022-08-16 09:05] johnsmith-gooddollar opened #3828 "(Bug) AppStore warnings"
- [x] ITMS-90078: Missing Push Notification Entitlement - Your app appears to register with the Apple Push Notification service, but the app signature's entitlements do not include the 'aps-environment' entitlement. If your app uses the Apple Push Notification service, make sure your App ID is enabled for Push Notification in the Provisioning Portal, and resubmit after signing your app with a Dist

[2022-08-16 09:07] johnsmith-gooddollar commented on #3828
@alt-a1r If some text you need to append will be shown to users on the AppStore or somewhere in the system popups, please ask @patpedrosa for such content

[2022-08-16 09:10] johnsmith-gooddollar commented on #3767
@sirpy should we proceed with Chrome + periodicsync to implement claim notifications on web ?

[2022-08-16 09:12] #3823 closed

[2022-08-16 09:12] johnsmith-gooddollar commented on #3682
@sirpy is this still relevant ? there are official typings now

[2022-08-16 09:13] johnsmith-gooddollar commented on #3681
dup

[2022-08-16 09:13] #3681 closed

[2022-08-16 11:06] sirpy commented on #3682
no

[2022-08-16 11:07] sirpy commented on #3767
discuss with Pat. perhaps as part of goodswap.xyz

[2022-08-16 11:53] #3682 closed

[2022-08-16 12:19] #3788 closed

[2022-08-16 12:43] johnsmith-gooddollar commented on #3402
@vldkhh need to re check with the latest SDK versions

[2022-08-16 12:43] johnsmith-gooddollar commented on #3403
@vldkhh the same as #3402

[2022-08-16 12:44] johnsmith-gooddollar commented on #3470
@sirpy was this fixed ? could it be closed ?

[2022-08-16 12:48] johnsmith-gooddollar commented on #3292
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 12:48] johnsmith-gooddollar commented on #3803
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 12:48] johnsmith-gooddollar commented on #3279
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 12:48] johnsmith-gooddollar commented on #3347
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 12:49] johnsmith-gooddollar commented on #3162
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 12:49] johnsmith-gooddollar commented on #3454
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 12:49] johnsmith-gooddollar commented on #1768
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 12:50] johnsmith-gooddollar commented on #3285
@vldkhh have you re-checked invites ? could we close the issue ?

[2022-08-16 12:50] johnsmith-gooddollar commented on #2410
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 12:50] johnsmith-gooddollar commented on #2786
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 12:50] johnsmith-gooddollar commented on #2923
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 12:51] johnsmith-gooddollar commented on #3412
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 13:03] johnsmith-gooddollar commented on #3689
@vldkhh need to actualize this

[2022-08-16 13:05] johnsmith-gooddollar commented on #2753
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 13:05] johnsmith-gooddollar commented on #3456
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 13:05] johnsmith-gooddollar commented on #3674
@sirpy @patpedrosa Does it still relevant or could be closed / moved to the IceBox ?

[2022-08-16 13:09] johnsmith-gooddollar commented on #3778
@Bender-22 We're using yarn

[2022-08-16 13:09] johnsmith-gooddollar commented on #3600
@vldkhh Does it still relevant ?

[2022-08-16 13:10] johnsmith-gooddollar commented on #3145
@vldkhh  does it still relevant ?

[2022-08-16 13:14] johnsmith-gooddollar commented on #2354
done

[2022-08-16 13:14] #2354 closed

[2022-08-16 13:15] johnsmith-gooddollar commented on #3146
@vldkhh is this still relevant ?

[2022-08-16 13:15] johnsmith-gooddollar commented on #1831
@vldkhh is this still relevant ?

[2022-08-16 13:15] #2605 closed

[2022-08-16 13:15] johnsmith-gooddollar commented on #2795
@vldkhh is this still relevant ?

[2022-08-16 13:16] johnsmith-gooddollar commented on #2860
@vldkhh is this still relevant ?

[2022-08-16 13:16] johnsmith-gooddollar commented on #2861
@vldkhh is this still relevant ?

[2022-08-16 14:39] IvanRF commented on #2923
The issue is more than one year and a half old and now is relevant to more smart contracts addresses.

For instance, interactions with Governance Staking are shown with "To: Unknown".

- Governance Staking: [0xB7C3e738224625289C573c54d402E9Be46205546](https://explorer.fuse.io/address/0xB7C3e738224625289C573c54d402E9Be46205546/transactions)

Just to update my initial post, the new contract for G$ p

[2022-08-17 06:16] sirpy commented on #2923
thanks @IvanRF
we have added the display of G$ protocol related contracts, and i've also just pushed an update to fetch the contract name from explorer, so it while it will not display G$-WFUSE it will display Uniswap-Pair

[2022-08-17 06:16] #2923 closed

[2022-08-17 06:25] sirpy commented on #3454
yes this is still relevant, down the line we dont want to pay for hosting the wallet and we have free service from vercel

[2022-08-17 12:39] alt-a1r opened #3833 "(Feature) User location detection"
Need to add detection of user location and send it to amplitude for statistics

[2022-08-17 22:11] drptiago commented on #2786
@johnsmith-gooddollar  the GoodDAPP is already with the GA4 tag .

So I believe this can be closed.

[2022-08-18 13:54] johnsmith-gooddollar opened #3835 "NPM packages cache broken at github actions"
[code]

need to fix ASAP

[2022-08-18 16:34] #3799 closed

[2022-08-19 09:44] #2786 closed

[2022-08-19 09:45] #1831 closed

[2022-08-19 09:46] johnsmith-gooddollar commented on #3148
@vldkhh check at Sentry one week later, does it still occurs

[2022-08-19 11:19] vldkhh commented on #3146
@johnsmith-gooddollar see no issue on Sentry

[2022-08-19 11:19] #3146 closed

[2022-08-19 11:19] #2795 closed

[2022-08-19 11:19] #2856 closed

[2022-08-19 11:20] #2860 closed

[2022-08-19 11:21] vldkhh commented on #2861
@johnsmith-gooddollar
![Snag_153a9f8c.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/99196eb2-6fdb-4428-9518-13fef4454aed)

[2022-08-19 11:21] #2861 closed

[2022-08-19 11:25] #3145 closed

[2022-08-19 11:26] #3600 closed

[2022-08-19 11:29] roma-hladilka opened #3836 "Bug: custom icons"
Check custom icons rendering, adjust wrapper

[2022-08-19 11:31] vldkhh commented on #3285
@johnsmith-gooddollar invites working fine

[2022-08-19 11:31] #3285 closed

[2022-08-19 11:32] #2956 closed

[2022-08-19 11:49] vldkhh commented on #3402
@johnsmith-gooddollar
1) if press the verification button and immediately turn device to the landscape mode - the popup appears
![Snag_1552bca5.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/bb2e52b0-fd73-45aa-bcee-5eb6a7f7d548)

2) Turning the device into landscape mode after the spinner is appear - nothing happens, just breaks popup UI a little.
See video:
https://images.zenh

[2022-08-19 11:50] vldkhh commented on #3403
@johnsmith-gooddollar updated #3402

[2022-08-22 09:25] vldkhh commented on #3148
@johnsmith-gooddollar still happens to 7.7k users per day
![Snag_244355b1.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/eec018da-1836-4151-8e15-c475a2a300d6)

[2022-08-22 09:44] vldkhh commented on #3148
@sirpy please check

[2022-08-22 15:21] vldkhh commented on #3609
@roma-hladilka @johnsmith-gooddollar now it happens 10 times less, but it still happens. I think we could review it one more time. Any thought?
![Snag_25898d2a.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/d98c09e6-0d97-452c-b3ca-69fdf932b179)

[2022-08-22 15:21] #3800 closed

[2022-08-23 09:09] #3403 closed

[2022-08-23 09:09] #3402 closed

[2022-08-23 12:43] johnsmith-gooddollar opened #3840 "Duplicates after FV migration"
I’ve ran some scripts checking signups done during migration and found we have 29 duplicates account registered

Theirs faces ids are
[code]

By finding those faces ids in the delayed tasks i was able to approximate signup date/time (by createdAt prop).
Then i rounded this date to minutes, took +- 1 minute and performed search over userprivate collection checking also by createdAt prop within thos

[2022-08-23 14:41] alt-a1r opened #3841 "iOS notifications fix"
iOS doesn't receive claim notifications

[2022-08-25 09:33] #3828 closed

[2022-08-25 09:34] #3511 closed

[2022-08-25 09:35] #3819 closed

[2022-08-30 08:29] roma-hladilka opened #3847 "(Bug) background notifications"
- [x] update info.plist for community notifications
- [x] fix Android background notifications
- [x] check ios background notifications

[2022-08-30 15:01] vldkhh opened #3849 "[BUG] Android App is crashed after lauch"
Android App is crashed after lauch

to reproduce issue the user should be logged in

Enviroment:
DEV version 1.43.1-2

Device:
Redmi 9 // Android 10

Attachements:
https://images.zenhubusercontent.com/166818382/5b1f2bd0-ce1e-4feb-a9ad-034db5659fe0/e7dd5e31_a64b_46ad_968e_5d16a89dd7bd.mp4

[https://app.zenhub.com/files/166818382/a9189bf3-7d54-471a-a68f-5c1ae1f1e9c6/download](https://app.zenhub.com/

[2022-08-31 09:19] roma-hladilka commented on #3824
ios background fetch can take days to begin regularly firing events
https://github.com/transistorsoft/react-native-background-fetch#ios

[2022-08-31 14:21] vldkhh opened #3850 "Need to check "/n" on the info screens and popups"
Need to check "/n" on the info screens and popups

1) On the "out of gas" screen
2) also I found this in mobile logs: '`Right here is where you will claim your basic income in GoodDollar coins every day.\nTogether, we will build a better financial future for all of us!',`
3) re-review code and fix possible mistakes

[2022-09-01 08:36] roma-hladilka commented on #3849
Was fixed by release

[2022-09-01 10:03] roma-hladilka commented on #3850
first fixed, second should be like this, won't show \n

[2022-09-01 10:08] roma-hladilka opened #3851 "NOTIFICATION_RECEIVE not triggered"
check, why background notifications don't trigger RECEIVE event

[2022-09-01 11:33] vldkhh commented on #3836
verified on prod
![Snag_58384e94.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/079dd93e-2de8-40b6-bf93-a5651831b83f)

[2022-09-01 11:33] #3836 closed

[2022-09-01 11:35] johnsmith-gooddollar commented on #3335
Vlad have added it onto changelog but it's still 'in sprint'
so, @vldkhh @roma-hladilka was this fixed or not ?

[2022-09-01 11:45] vldkhh commented on #3632
verified on prod android

[2022-09-01 11:45] #3632 closed

[2022-09-01 11:48] #3850 closed

[2022-09-01 11:50] johnsmith-gooddollar opened #3853 "Research fly.io for free postgreSQL / Migrate Ceramic dashbords"
The following resources are available on free account:

- 1 core of shared CPU
- 256 Mb Ram for PG process
- 1Gb storage
- up to 2 instances
- single external IP
- perhaps no TLS ?

Creds are pinned to #devs Slack channel.
I've configured bith secure & insecure connections, but TLS fails to connect with 'connection terminated unexpectedly' error. Maybe this because a) no SSL/TLS for external conne

[2022-09-01 13:29] #3849 closed

[2022-09-01 13:29] #3770 closed

[2022-09-01 16:50] vldkhh commented on #3734
@roma-hladilka @johnsmith-gooddollar need to be rechecked, still happens to ~200 users everyday

[2022-09-01 16:51] #3609 closed

[2022-09-01 16:53] #3847 closed

[2022-09-05 07:18] roma-hladilka opened #3854 "App Center ios deploy to store issue"
Need to re-authenticate to App Store in App Center to allow next deploys to Test Flight and store

[2022-09-05 07:20] roma-hladilka commented on #3854
<img width="1728" alt="Screenshot 2022-09-05 at 10 18 22" src="https://user-images.githubusercontent.com/32140908/188391293-60f3c343-af12-4b59-a6ce-742d6c2a5e26.png">

[2022-09-05 09:14] johnsmith-gooddollar commented on #3734
added more logging: https://github.com/GoodDollar/GoodDAPP/commit/7ea5f38696929aadf7067d04bdb8a6183fe88b7b

[2022-09-05 09:17] vldkhh commented on #3822
@roma-hladilka @johnsmith-gooddollar still happens to 1.4 users
![Snag_6c55ba1b.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/0a570370-380c-4e97-9860-2125865b4a86)

[2022-09-05 09:20] johnsmith-gooddollar commented on #3822
@roma-hladilka @vldkhh Please open an issue , describe it in details

https://github.com/realm/realm-js/issues

[2022-09-05 10:57] sirpy commented on #3734
@serdiukov-o-nordwhale theres not much we can do about it. close this issue. and dont log.error and throw. the last code that handles the error should log it

[2022-09-06 09:29] vldkhh opened #3855 "[BUG] The iOS app issues/improvements"
- [x] Wrong displaying of balance after scrolling feed down. All balance values should be displayed

![image.png](https://images.zenhubusercontent.com/62ab094a467ea16960bbc0c6/78a5bca5-ff6e-41b1-8133-fe9e8c70ab47)

- [ ] We need to find solutions for the welcome screen fonts and margins.
To some screens, fonts and margins look different, it could be related to screen width, font setting in the iPh

[2022-09-06 10:10] #3853 closed

[2022-09-06 11:51] johnsmith-gooddollar commented on #3734
@sirpy bit it doesn't logs the torus response and other options. i've added additional log.error just to log which object we actually  receive from Torus in such cases

[2022-09-06 11:51] johnsmith-gooddollar commented on #3853
@sirpy no, Heroku provides one database per app. We can choose type of instance (billing plan) when we're attaching it, but even if we would choose same type & region, Heroku may provide different instances. Also DATABASE_URL env var will be hard-coded and i suppose there won't be permissions to create another database using creds Heroku provided. So the trick to connect via pgsql client create se

[2022-09-06 12:04] roma-hladilka commented on #3854
yes, moving to closed

[2022-09-06 12:04] #3854 closed

[2022-09-06 12:07] roma-hladilka commented on #3822
opened the issue, waiting for answer

[2022-09-06 12:26] sirpy commented on #3734
@serdiukov-o-nordwhale just move the log.error to where the rethrown error is caught, or dont catch it in the first place

[2022-09-06 13:00] johnsmith-gooddollar opened #3856 "Use single Postgres DB instance for all ceramic-dashboard envs"
**should be done before Nov 22**

- [ ] attach the same addon to all 3envs https://devcenter.heroku.com/articles/managing-add-ons#using-the-command-line-interface-attaching-an-add-on-to-another-app
- [ ] check out how to create 3 separate databases
- [ ] migrate data, reconfigure env vars

[2022-09-06 13:12] johnsmith-gooddollar commented on #3734
@sirpy ok now passing logging options via custom prop: https://github.com/GoodDollar/GoodDAPP/commit/3970f6baa0b960828ff5a1ab94bfbdb3fe53bee6

[2022-09-07 07:47] sirpy commented on #3856
i've provisioned a separate postgres to each env

[2022-09-07 07:47] #3856 closed

[2022-09-07 09:24] johnsmith-gooddollar commented on #3822
@roma-hladilka  please remove log.error on each retry on realmdb calls.
Log just the final error (if/when all retries failed)

[2022-09-08 17:30] johnsmith-gooddollar opened #3861 "Get rid of the BackgroundFetch"
As BGFetch have issues on iOS (delays for the first notification delivery, can stop working if you not used app for a while etc) we have to get rid of it.

We need to deliver claim notifications only. Then are aligned with the strict schedule (12AM GMT daily). So we could use scheduled local notifications feature.

You could register notification to be sent for a specific time and also auto-repeat

[2022-09-13 13:23] #3822 closed

[2022-09-15 15:44] L03TJ3 opened #3864 "BUG: high gas fee estimate with wallet-connect for doing transactions"
### Description
The estimated (gas required/gas used) is not right which makes doing transactions on goodswap too expensive
It is potentially something in the gdwallet as doing transactions with metamask are provided with proper estimates so it seems goodswap sends the correct transaction props initially

### Steps to reproduce

1. Go to goodswap
2. Click connect wallet & then wallet connect
3. co

[2022-09-16 09:29] roma-hladilka opened #3865 "Implement web notifications"
implement web reminders via firebase

[2022-09-18 09:23] sirpy commented on #3864
@L03TJ3 @patpedrosa this has been hotfixed to production, please verify it works

[2022-09-18 09:54] L03TJ3 commented on #3864
![image](https://user-images.githubusercontent.com/6606028/190896387-f4349f22-1051-4e2b-bed9-adaf437cf4e0.png)

[2022-09-18 09:54] L03TJ3 commented on #3864
It seems to work, but the displayed values don't make sense compared to the transaction done

[2022-09-19 05:56] sirpy commented on #3864
to me it looks like you didnt update to the latest wallet version, it should not show 8000000 gas.
in case it is unable to estimate the gas or transaction might fail it should show 300k gas.

[2022-09-19 06:27] sirpy commented on #3864
@L03TJ3 redeployed try now

[2022-09-19 06:31] L03TJ3 commented on #3864
Yes! works

[2022-09-19 11:35] johnsmith-gooddollar opened #3866 "Setup GoodProtocolUI (Goodswap.xyz)"
1. install nvm (if don't have it yet)
2. `> nvm install 16.17.0`
3. `> nvm use 16.17.0`
4. clone repo https://github.com/GoodDollar/GoodProtocolUI
5. install packages via `yarn`
6. download `.env` file pinned by Lewis B in the Slack #devs channel:
![image.png](https://images.zenhubusercontent.com/6135d0416eed5f7809f4ee6b/7309a517-4b5d-46fb-8ca2-398ca8d9f1d0)
7. place it onto project root
8. run pr

[2022-09-19 13:05] alt-a1r commented on #3866
Installed and raised locally successfully. Started, everything is ok. Packages were installed with yarn 3

[2022-09-19 14:15] johnsmith-gooddollar commented on #3865
I was able to implement web notifications via Firebase.
Some limitations/peculiarities
doesn’t works on Safari.
Next Safari version 16 on macOS may have some limited support for web push but not sure it would be enough for FCM
Chrome shows something like ‘system’ or ‘raw’ notification firstly. It comes without GD icon (even it configured) and does nothing on click. In ~1-1.5sec service worker proc

[2022-09-19 14:46] #3780 closed, assigned to sirpy, johnsmith-gooddollar

[2022-09-19 14:57] #3866 closed

[2022-09-20 07:54] sirpy commented on #3865
we are not going to use firebase

[2022-09-20 08:30] johnsmith-gooddollar commented on #3865
@sirpy FCM are for free. We won’t put any confidential information there or anything should be decentralized.
This is the easiest way to send scheduled notifications on the web without making own backend.

[2022-09-20 08:30] johnsmith-gooddollar commented on #3865
We discussed with @patpedrosa yesterday and she agreed

[2022-09-27 16:43] #3861 closed

[2022-09-27 16:43] #3864 closed

[2022-09-30 13:26] roma-hladilka commented on #3855
Balance view is fixed. Regarding welcome screen, font looks the same, and the font size is related to screen size and user phone settings, so we can't force it to be the same on every device

[2022-10-06 16:31] #3855 closed

[2022-10-06 16:31] #3851 closed

[2022-10-11 09:13] sirpy commented on #3569
queue is not related to contracts

Hadar Rottenberg
Technical Lead, GoodDollar
+972-507 319 093  (telegram <http://t.me/sirpy>, whatsapp)  blog
<https://medium.com/dablock>  gooddollar.org <http://www.gooddollar.org/>

* <https://www.facebook.com/TheGoodDollar>
<https://twitter.com/TheGoodDollar>
<http://instagram.com/gooddollarorg>   <http://t.me/GoodDollarX>
<https://www.linkedin.com/company/goo

[2022-11-17 13:17] patpedrosa opened #3873 "Replace FAQ link in menu for Telegram link"
We're decentralizing support and moving our help desk from reamaze to Telegram.

We need to replace the link in this menu item for a link to the community-run telegram channel:

![Screen Shot 2022-11-17 at 10.18.33.png](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/94653e8a-aeab-4165-8f0f-4f4dedf50f83)

Link to Telegram:

https://t.me/+jay3UR6_rEwxNjY0

[2022-11-24 13:36] alopezmohedano commented on #1728
My problem is that when I click the button (that ask me for install the PWA) I got the error but the browser ask me to install a shortcut, but when I code the event click of this button it appear the error in console but it doesn´t appear the dialog asking me to install the shortcut.

[code]

[2022-11-25 09:58] sirpy commented on #1728
timeouts and async/await might usage might break when the action is to be triggered by a user action. any delays make it seems like it is not a user action

[2022-11-25 11:29] alopezmohedano commented on #1728
I try too without async/await with the same results. And without setTimeout too.