[2020-05-27 12:35] sirpy commented on #1869
@AnastasiiaOdnoshevna this can be tested on QA/PROD
DEV always allowed this

[2020-05-27 12:50] sirpy opened #1923 "Update indexes to hashed format"
- [x] convert dev/qa/prod users db
- [x] convert dev/qa/prod server users to gundb

[2020-05-27 13:37] sirpy commented on #1881
let's do it by screen size then

On Tue, May 26, 2020, 11:50 AM Liav Gutstein <notifications@github.com>
wrote:

[2020-05-27 14:26] AnastasiiaOdnoshevna opened #1924 "(BUG) The "code withdraw failed:" text is displayed in the error message after clicking own payment link"
Precondition:
*The send link is copied
Steps to reproduce:
1) Click own send link
2) Pay attention to the error message

Actual result: The "code withdraw failed:" text is displayed in the error message after clicking own payment link
Expected result: The "You are trying to withdraw your own payment link" text-only should be displayed in the error message after clicking own payment link

Checked o

[2020-05-27 15:39] AnastasiiaOdnoshevna opened #1925 "(BUG) Error pop-ups: The content of all pop-ups is not centered vertically after changing the design"
Precondition:
*The any error pop-ap is opened
Steps to reproduce:
1) Pay attention to the big white area at the bottom of the pop-up

Actual result: The content of all pop-ups is not centered vertically after changing the design
Expected result: The content of all pop-ups should be centered vertically after changing the design
Checked on QA env V0.22.1-0
Reproduced on:
LG V30+ // Android 8.0 // Go

[2020-05-27 15:48] LiavGut opened #1926 "Dashboard - Claim button animation: while animated, max size of the button should increase by 20%"

[2020-05-28 08:04] AnastasiiaOdnoshevna opened #1927 "(BUG) Redirect to the "Learn more" screen after clicking the "Claim" button at the bottom"
Precondition:
*The "Claim" page is opened
*The face verification isn't passed
Steps to reproduce:
1) Click the "Claim" button at the bottom
2) Pay attention to the redirect to the "Learn more" screen

Actual result: Redirect to the "Learn more" screen after clicking the "Claim" button at the bottom. It works like a double-click
Expected result: Redirect to the "Face Verification" screen after clic

[2020-05-28 09:28] AnastasiiaOdnoshevna opened #1929 "FV: The camera shape is cut off at the top"
Precondition:
The "Face verification" page is opened

Steps to reproduce:
1) Click the "ok, verify me" button at the bottom
2) Pay attention to the shape of the camera

Actual result: The camera shape is cut off at the top
Expected result: The camera shape should be fully displayed

Checked on DEV env V0.22.1-0
Reproduced on:
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138

![Screenshot_2020

[2020-05-28 09:56] AnastasiiaOdnoshevna opened #1930 "FV: The pop-ups aren't aligned by vertically"
Precondition:
The "Face verification" page is opened

Steps to reproduce:
1) Click the "ok, verify me" button at the bottom
2) Pay attention to the position of the pop-up

Actual result: The pop-ups aren't aligned by vertically. They are too close to the top
Expected result: The pop-ups should be aligned by vertically

Checked on DEV env V0.22.1-0
Reproduced on:
LG V30+ // Android 8.0 // Google Ch

[2020-05-28 10:11] AnastasiiaOdnoshevna opened #1931 "FV: The position of the camera frame is too close in relation to the text"
Precondition:
The "Face verification" page is opened
Steps to reproduce:
1) Click the "ok, verify me" button at the bottom
2) Pay attention to the position of the camera frame in relation to the text

Actual result: The position of the camera frame is too close in relation to the text
Expected result: The distance should be greater between the camera frame and text

Checked on DEV env V0.22.1-0
Re

[2020-05-28 10:30] LiavGut commented on #1861
Ok, please change it to 0px.

[2020-05-28 10:31] LiavGut commented on #1861
ok

[2020-05-28 10:31] LiavGut commented on #1861
Sure. Just let me see how it looks.

[2020-05-28 13:04] AnastasiiaOdnoshevna opened #1932 "The "Face verification" page isn't adaptable to size screen"
Precondition:
The "Claim" page is opened

Steps to reproduce:
1) Click the "Claim" button
2) Pay attention to the "ok, verify me" button that is displayed partially

Actual result: The "Face verification" page isn't adaptable to size screen and user needs scroll down the page
Expected result: The "Face verification"  page should be adaptable to size screen and the "ok, verify me" button should be

[2020-05-28 13:33] serdiukov-o-nordwhale opened #1933 "(Chore) Bundle .svg as components in the master branch (web only)"
Import https://github.com/GoodDollar/GoodDAPP/pull/1542 changes to master (web-only)

[2020-05-28 13:38] AnastasiiaOdnoshevna opened #1934 "(BUG) FV: The errors message is displayed in the console after rotating earth on the FV screen"
Precondition:
The user is passed stages with scan the face and the loader (rotating earth) is displayed

Steps to reproduce:
1) The rotating earth is disappeared and the "Something went wrong on our side" screen is displayed
2) Pay attention to errors in the console

Actual result: The errors message is displayed in the console after rotating earth on the FV screen (look at the screen)
Expected re

[2020-05-28 14:08] yaroslav-fedyshyn-nordwhale commented on #1932
@AnastasiiaOdnoshevna
This issue is fixed in the scope of the #1787 ticket. So you can check it after it will be merged.

[2020-05-28 14:11] serdiukov-o-nordwhale commented on #1932
@yaroslav-fedyshyn-nordwhale pls re-check it while you'll checking my implementation of extended error after 3 retries

[2020-05-29 15:17] serdiukov-o-nordwhale commented on #1930
Fixed, but it's not recommended by Zoom
https://dev.facetec.com/#/ui-customization?link=move-facetec-frame-down

[2020-05-30 18:06] AnastasiiaOdnoshevna commented on #1927
Checked on the Dev env. v0.22-1.0

The issue isn't reproduced

[2020-05-30 18:11] AnastasiiaOdnoshevna commented on #1774
Checked on the Dev env. v0.22-1.0

Used device:

iPhone 5S // iOS 12.4

[2020-05-30 18:11] #1774 closed

[2020-05-30 18:38] AnastasiiaOdnoshevna commented on #1869
Checked on the QA env. v0.22-1.0
I cough create the two accounts with the same phone numbers.

![Screenshot_20200530-210021_Chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/397dd42a-a645-4d73-80a1-41709d37cc1a)

![Screenshot_20200530-210345_Chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/c5dd4cd1-1110-472a-a1ca-98612dfbfeb5)

[2020-05-30 18:38] #1869 closed

[2020-05-30 18:41] AnastasiiaOdnoshevna commented on #1916
Checked on Dev env. v0.22-1.0

The issue isn't reproduced.

[2020-05-30 18:41] #1916 closed

[2020-05-30 18:52] AnastasiiaOdnoshevna commented on #1725
Checked on Dev env v0.22-1.0

The issue isn't reproduced and there is no issue like this that was reported in Senry.

[2020-05-30 18:52] #1725 closed

[2020-05-30 18:57] AnastasiiaOdnoshevna commented on #1932
Checked on the Dev env. v0.22-1.0

The issue isn't reproduce on Desktop and Mobile web.

[2020-05-30 18:57] #1932 closed

[2020-05-30 19:10] AnastasiiaOdnoshevna commented on #1744
Checked on Dev env v0.22-1.0

The issue isn't reproduced and there is no issue like this that was reported in Senry.

[2020-05-30 19:10] #1744 closed

[2020-05-30 19:28] AnastasiiaOdnoshevna commented on #1741
Checked on Dev env v0.22-1.0

The issue isn't reproduced and there is no issue like this that was reported in Senry.

[2020-05-30 19:28] #1741 closed

[2020-05-30 19:29] AnastasiiaOdnoshevna commented on #1930
Checked on Dev env v0.22-1.0

The issue isn't reproduced.

[2020-05-30 19:29] #1930 closed

[2020-05-31 05:21] AnastasiiaOdnoshevna opened #1939 "FV: The Zoom pop-ups aren't center-aligned on the phones"
Preconditions:
User is logged in and not verified yet.
User is located on the dashboard.

STR:
1. Tap the "Claim" button on the Dashboard
2. Tap the "Claim" button
3. Pay attention on the Verification sceen.

Actual result: The Zoom pop-ups aren't center-aligned on the 16:9 and 18:9 phones
Expected result: Zoom pop-ups aren't center-aligned on the 16:9 and 18:9 phones

Used devices:
iPhone 6S // i

[2020-05-31 07:34] LiavGut commented on #1874
2 options:

<img width="742" alt="Screen Shot 2020-05-31 at 10 33 32" src="https://user-images.githubusercontent.com/54103946/83347005-49c7b480-a32a-11ea-99d5-dafcb6620770.png">

on iOS:

<img width="725" alt="Screen Shot 2020-05-31 at 10 33 42" src="https://user-images.githubusercontent.com/54103946/83347013-50eec280-a32a-11ea-8c99-2d01371d3155.png">

[2020-05-31 08:25] LiavGut commented on #1939
@AnastasiiaOdnoshevna Also on desktop (Chrome):
<img width="795" alt="Screen Shot 2020-05-31 at 11 23 37" src="https://user-images.githubusercontent.com/54103946/83347960-69aea680-a331-11ea-8859-7ce1ff3a02a1.png">

[2020-05-31 08:31] LiavGut opened #1940 "FV - Intro screen: when clicking "learn more" button it shows an empty screen"
![Screen Shot 2020-05-31 at 11.26.16.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/e89507c7-9c5a-406c-ac6f-9b5245567a88)

[2020-05-31 08:36] sirpy commented on #1939
@LiavGut @AnastasiiaOdnoshevna @serdiukov-o-nordwhale
The zoom video screen needs to be at the top of the screen, so the user can easily look straight.
this is best practices from zoom, we should not change that.

The zoom popup should take the whole screen height, video oval should be aligned to the top
error/loading states content can be vertically aligned if possible

[2020-05-31 08:42] LiavGut commented on #1939
I agree. The size and positions should be like the Zoom defaults.

[2020-05-31 08:55] AnastasiiaOdnoshevna commented on #1939
Agree.
@LiavGut if you faced the endless spinner on the face verification scree, you should clean the cache. It will helps

[2020-05-31 08:57] LiavGut commented on #1939
@AnastasiiaOdnoshevna I didn't get to an endless spinner :)
But I'll clean my cache anyway. Thanks

[2020-05-31 09:06] LiavGut commented on #1939
@AnastasiiaOdnoshevna Verify the size and positions via this link:
https://dev.facetec.com/#/ui-customization?link=progress-success-screen

[2020-05-31 09:16] LiavGut opened #1941 "Invite screen: 3 friends invited: sub text "launch" should not be a single word in a line."
And, I didn't receive my 10G$ bonus after my last invitee joined.
(as opposed to the first ones)

![WhatsApp Image 2020-05-31 at 12.11.11.jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/98bd4bf6-2c91-4f42-925c-0eba8ad218fb)

[2020-05-31 10:26] sirpy commented on #1869
@AnastasiiaOdnoshevna please also verify you can edit the profile and change your number to an existing number but only if you have verified it correctly (ie via the sms code)

[2020-05-31 11:04] sirpy commented on #1927
@serdiukov-o-nordwhale see my comment in the PR
need to add preventDefault not the mount test

[2020-05-31 13:04] LiavGut opened #1942 "Settings menu: Change text "Support & FAQ" to "Help & Feedback""
![Screen Shot 2020-05-31 at 16.04.00.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/7b90dbbd-8893-45ec-b436-ac05cf839b0c)

[2020-05-31 16:09] serdiukov-o-nordwhale commented on #1939
hotfixed https://github.com/GoodDollar/GoodDAPP/commit/1db3542c8093af127ee737a9de988cd90462179d

[2020-05-31 16:55] serdiukov-o-nordwhale opened #1943 "Use useOnPress everywhere."
On class component make sure that handlers method are calling event.preventDefault()

[2020-05-31 17:02] serdiukov-o-nordwhale commented on #1943
I've created draft PR:
https://github.com/GoodDollar/GoodDAPP/pull/1944

[2020-05-31 17:08] serdiukov-o-nordwhale commented on #1943
I suppose a lot of bugs could be related to .preventDefault() forgotten. Firstly, the bugs related to edit profile / avatar.

[2020-05-31 17:57] serdiukov-o-nordwhale commented on #1927
need to re-check it

[2020-05-31 18:40] sirpy commented on #1811
this seems like another issue #1765

[2020-05-31 18:40] #1811 closed

[2020-05-31 18:41] sirpy commented on #1649
seems like duplicate of #1765

[2020-05-31 18:41] #1649 closed

[2020-05-31 18:55] sirpy commented on #1733
@AnastasiiaOdnoshevna this issue is for you

[2020-05-31 18:59] sirpy commented on #1939
@AnastasiiaOdnoshevna
FV shouldnt be vertically aligned, it should be adjacent to the top.
there's an issue for you regarding "testing face verification" please have your team throughly check FV and put all findings in the "test face verification" issue. dont open separate issues.

[2020-05-31 18:59] #1939 closed

[2020-05-31 18:59] sirpy commented on #1920
@AnastasiiaOdnoshevna
why is this labeled mvp? important?

[2020-05-31 19:07] #1522 closed

[2020-05-31 19:15] sirpy commented on #1853
We should
1. make sure screen height is 100%
2. check places where we listen to keyboard open event, maybe we do some action and its related.

[2020-05-31 19:34] sirpy opened #1946 "Faceverification shows unexpected error instead of duplicate error"
When I do FV from a different account the server throws duplicate exists error but on the UI I get the something unexpected happened error screen

I think this is the same as #1934

[2020-06-01 07:15] AnastasiiaOdnoshevna commented on #1927
The issue isn't reproduced
Checked on the Dev env. v0.22.1-0
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138
Desktop: Windows 10 // Google Chrome 83.0.4103.61
Video: https://www.screencast.com/t/2hAHeOBmxSl

[2020-06-01 07:15] #1927 closed

[2020-06-01 07:34] LiavGut opened #1947 "Queue - Dashboard: When clicking Claim (first time) - show queue popup + change button color + text"
1. user open a wallet
2. user click claim for the first time
3. Queue popup is shown.
4. Claim button changes color from green to orange (#F8AF40) + text changes to "QUEUE"
![Screen Shot 2020-06-01 at 10.31.06.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/7aca5247-4e50-43c1-bfcc-ce6c56dfa158)

* Popup design+text will be added here shortly.

[2020-06-01 09:07] serdiukov-o-nordwhale commented on #1920
@sirpy "Important" is related to the bugs categorization we've discussed
Just a pre-estimated (by QA) severity label regarding which you could a) re-check bug and reconfirm/change severity b) take decision about bug's priority

About 'mvp' label - I've asked QA on daily sync do not add it to the bugs  newly found, just categorize

[2020-06-01 09:09] sirpy commented on #1458
@AnastasiiaOdnoshevna need to be tested with #174

[2020-06-01 09:11] serdiukov-o-nordwhale commented on #1929
@AnastasiiaOdnoshevna Regarding screenshot you've post - it was caused by the custom text-spacing.
We've discussed with @LiavGut to remove it because texts are looking weird. Corresponding changes are already merged to master: https://github.com/GoodDollar/GoodDAPP/pull/1911/commits/9e5bba8d333a9ad827815f41ec7182395bb62e16

So you could try to recheck issue. Probably it's disappeared

[2020-06-01 10:44] serdiukov-o-nordwhale opened #1948 "Import native implementation to master branch to keep it in sync"
Just import & merge to master, do not run/test.
It's needed to keep master & native in sync

[2020-06-01 11:09] serdiukov-o-nordwhale commented on #1688
changes imported here: https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/1948

[2020-06-01 11:39] AnastasiiaOdnoshevna commented on #1733
Checked on the DEV env. V0.22.1-0
1) normal flow is working. The user tries to claim and then the face verification screen is displayed and then this verification is passed successfully if the real face is used
2) deleting the account is performed successfully
3) the user can't pass the verification when the user tries to scan face from printed photo /portrait/PC screen/ or using glasses

[2020-06-01 11:54] sirpy commented on #1733
@AnastasiiaOdnoshevna
1. verify user open account and complete face verification after deleting
2. verify user cant open another account and pass face verification (ie
should get duplicate error)
3. test error screens

[2020-06-01 11:55] tomerGD opened #1950 "All users should go through face verfication"
After deploying the face verification component all users should go through the process once claiming.

New and old users.

[2020-06-01 13:05] AnastasiiaOdnoshevna commented on #1773
The error messages are displayed when the user tries to login into the account, but after a few times to enter into account user can see the mobile verification screen

Video: https://www.screencast.com/t/3MNMSUQpZBE
Checked on the DEV/QA env. V0.22.1-0

[2020-06-01 15:40] AnastasiiaOdnoshevna commented on #1869
@sirpy
The user is able to change the number on the edit profile page using an existing number
Checked on the QA v 0.22.1-1
Desktop: Windows 10 // Google Chrome 83.0.4103.61

[2020-06-02 07:38] yaroslav-fedyshyn-nordwhale commented on #1940
The issue here is that the medium.com doesn't allow to open their posts from other domains and iframes - that's why we see a blank page.
I discuss it with @serdiukov-o-nordwhale and we propose to open this page in a new tab as we doing with 'learn more' button on the claim page.
@LiavGut @sirpy what do you think?

[2020-06-02 07:58] yaroslav-fedyshyn-nordwhale commented on #1934
This is the same issue as #1946.

[2020-06-02 08:02] AnastasiiaOdnoshevna opened #1952 "(BUG) The endless spinner is displayed if zoom preload fails"
Precondition:
* The user is allowed the camera permission
* The user sees the "We can’t access your camera" pop-up after trying to verify

Steps to reproduce:
1) Click the "OK" button is the "We can’t access your camera" pop-up
2) Block the camera access in the settings
3) Click the "OK, verify me" button (user sees pop-up again)
4) Click the "Reload page" button or the "F5" button
5) Click the "P

[2020-06-02 08:15] AnastasiiaOdnoshevna opened #1953 "The "you" is displayed instead of "your" in the camera permission pop-up"
Precondition:
The user is disallowed the camera permission
The user sees the "We can’t access you camera" pop-up after trying to verify
Steps to reproduce:
1) Pay attention to the "We can’t access **you** camera"  title

Actual result: The "you" is displayed instead of "your" in the camera permission pop-up
Expected result: The "We can’t access your camera" pop-up should be displayed

Checked on Q

[2020-06-02 09:11] AnastasiiaOdnoshevna commented on #1931
The position of the camera frame is displayed well
Checked on DEV env V0.22.1-1
Desktop: Windows 10 // Google Chrome 83.0.4103.61
![2020-06-02_12-10-41.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/354ab32f-1c47-4383-b523-03e512f8cadd)

[2020-06-02 09:11] #1931 closed

[2020-06-02 09:18] AnastasiiaOdnoshevna commented on #1929
The camera shape looks well
Checked on DEV env V0.22.1-1
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138
![2020-06-02_12-18-00.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/6bd8a402-9400-4df9-894a-5e3e1a5008d3)

[2020-06-02 10:17] AnastasiiaOdnoshevna opened #1955 "(BUG) The face verification is disappeared after deleting and further recovering the wallet"
Precondition:
*The user deletes account (FV isn't passed)
*Then the user recover account via social (google) by using the  email from the deleted account
Steps to reproduce:
1) Open the "Claim" screen
2) Click the "Claim" button
3) Pay attention to the successful claim

Actual result: The face verification is disappeared after deleting and further recovering the wallet. The user is able to get the

[2020-06-02 11:05] AnastasiiaOdnoshevna commented on #1787
I met the error message in the console that the "glasses were detected"
But how the user should know that he can't pass FV because of glasses?

[2020-06-02 11:27] serdiukov-o-nordwhale commented on #1787
We already discussed it - on any issue with photos (low quality glasses etc) we’re showing zoom’s retry dialog

[2020-06-02 11:58] AnastasiiaOdnoshevna opened #1956 "The large white space below and above the image on the FV screen about duplicate"
Precondition:
* The user's face is present in the database
Steps to reproduce:
1) Try to scan the face  for another account by using a face that is already used
2) Pay attention to the large white space below and above the image

Actual result: The large white space below and above the image on the FV screen about duplicate
Expected result: The large white space should absent on the FV screen abou

[2020-06-02 12:05] serdiukov-o-nordwhale commented on #1952
@AnastasiiaOdnoshevna we couldn't do anything with this
It's Zoom's internal error, i hope it will disappear in the future releases (now, on 8.10 it happens rarely that was on 8.3).

I suppose it's related to the web assembly modules loading. When you reload site via F5 (not Cmd+F5) browser uses cached resources. Probably this causes some issues with wasm resource files.

Anyway if this happens -

[2020-06-02 12:47] AnastasiiaOdnoshevna opened #1957 "(BUG) Redirecting to "Learn more" after clicking the "Contact support" button at the top"
Precondition:
The user's face is present in the database

Steps to reproduce:
1) Try to scan the face for another account by using a face that is already used
2) Scroll down to the "Contact support" button
3) Click the "Contact support" button at the top
4) Pay attention to the redirecting to the "Learn more" page

Actual result: Redirecting to "Learn more" after clicking the "Contact support" but

[2020-06-02 12:54] yaroslav-fedyshyn-nordwhale commented on #1953
Pushed fix to master branch.

[2020-06-02 12:57] AnastasiiaOdnoshevna commented on #1953
The "We can’t access your camera" pop-up is displayed
Checked on DEV V0.22.1-1
Reproduced on:
Desktop: Windows 10 // Google Chrome 83.0.4103.61
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138
![2020-06-01_17-15-58.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/2c15e47f-04df-49ec-aa5d-6dca26d7838c)

[2020-06-02 12:57] #1953 closed

[2020-06-02 13:27] #1940 closed

[2020-06-02 13:27] AnastasiiaOdnoshevna commented on #1940
The "Learn more" page is opened
https://medium.com/gooddollar/gooddollar-identity-pillar-balancing-identity-and-privacy-part-i-face-matching-d6864bcebf54

Checked on DEV V0.22.1-1
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138
Desktop: Windows 10 // Google Chrome 83.0.4103.61

[2020-06-02 14:24] AnastasiiaOdnoshevna opened #1959 "(BUG) The FV isn't displayed after clicking the "ok, verify me" button"
Precondition:
The FV page is opened and the "ok, verify me" button is displayed

Steps to reproduce:
1) Click the "ok, verify me" button
2) Pay attention to the "Something went wrong on our side" screen

Actual result: The FV isn't displayed after clicking the "ok, verify me" button. After each trying the "Something went wrong on our side" screen is displayed
Expected result: The FV screen (with c

[2020-06-02 14:33] sirpy commented on #1952
@serdiukov-o-nordwhale i see that in appswitch we print couldnt preload zoom... so we can handle this issue there...

[2020-06-02 14:36] sirpy commented on #1787
@serdiukov-o-nordwhale @AnastasiiaOdnoshevna
Glasses are not an issue, if liveness failed we need to look else where for the reason

[2020-06-02 15:02] serdiukov-o-nordwhale commented on #1959
wrong env was passed to the Zoom's API url
fixed, redeploying

[2020-06-02 15:33] serdiukov-o-nordwhale commented on #1959
![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/2117d48a-f9d7-4e9c-9f51-4236847fa8c7)

now it's working

[2020-06-02 16:26] serdiukov-o-nordwhale commented on #1952
we can handle then 'something' wrong.
but we couldn't handle **exactly this** reason of failure (without workarounds such a window.addEventListener('error')

anyway, in a result we could fix the endless spinner only. If this happens Zoom won't work unless hard-reload page. So we have to as user's to do it. For example, add this prompt to the 'Unrecoverable error' screen (e.g. "Please, try to reloa

[2020-06-02 16:42] AnastasiiaOdnoshevna commented on #1957
Redirecting to "Support&Feedback" after clicking the "Contact support" button at the top
Checked on DEV V0.22.1-1
Checked on QA V0.22.1-2
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138

[2020-06-02 16:42] #1957 closed

[2020-06-02 16:46] AnastasiiaOdnoshevna commented on #1959
The FV works
Checked on DEV V0.22.1-1
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138
Desktop: Windows 10 // Google Chrome 83.0.4103.61

[2020-06-02 16:46] #1959 closed

[2020-06-02 16:57] AnastasiiaOdnoshevna commented on #1940
The "Learn more" page is opened in a new tab
https://medium.com/gooddollar/gooddollar-identity-pillar-balancing-identity-and-privacy-part-i-face-matching-d6864bcebf54
Checked on QA V0.22.1-2
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138
Desktop: Windows 10 // Google Chrome 83.0.4103.61

[2020-06-02 17:48] AnastasiiaOdnoshevna opened #1961 "(BUG) The screen is absent after scanning unsuccessfully three times a row"
Precondition:
* The face is scanned unsuccessfully three times a row
Steps to reproduced:
1) Scan face one more time (unsuccessfully again)
2) Pay attention to the absence of the screen for those who can't pass verification for 3 times
3) Click the "Contact support" button and then the back arrow button
4) Pay attention to the screen for those who can't pass verification for 3 times (it is display

[2020-06-02 19:17] sirpy commented on #1773
@AnastasiiaOdnoshevna this is a different issue
in this case a user cant start the signup step at all or login at all
vs the original issue where existing user was sent to the signup screen
also console error is different

[2020-06-02 19:38] sirpy opened #1962 "Torus login fails multiple times in a row"
With error "unable to resolve enough promises"
see #1773 comments for video

[2020-06-02 19:39] sirpy commented on #1924
duplicate of #1922

[2020-06-02 19:39] #1924 closed

[2020-06-02 19:43] sirpy commented on #1952
@serdiukov-o-nordwhale can we catch the preload failure in the FaceVerification screen itself? so instead of endless spinner we show a dialog with "reload" button in case of preload failure

[2020-06-03 06:39] AnastasiiaOdnoshevna commented on #1934
The error message has an appropriate pop-up about the twin
Checked on DEV V0.22.1-2
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138
Desktop: Windows 10 // Google Chrome 83.0.4103.61
![2020-06-03_9-33-28.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/d2323e8a-4784-44e6-accf-26d7464edb9f)

[2020-06-03 06:39] #1934 closed

[2020-06-03 06:40] AnastasiiaOdnoshevna commented on #1946
The error message has an appropriate pop-up about the twin
Checked on DEV V0.22.1-2
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138
Desktop: Windows 10 // Google Chrome 83.0.4103.61

[2020-06-03 06:40] #1946 closed

[2020-06-03 07:08] AnastasiiaOdnoshevna commented on #1787
Screens match this article and they are implemented into app
Except for the "Sorry about that... We're looking in to it" screen...this screen doesn't appear in the needed place. The issue was added and would be checked through #1961
Checked on DEV V0.22.1-2
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138
Desktop: Windows 10 // Google Chrome 83.0.4103.61

[2020-06-03 07:08] #1787 closed

[2020-06-03 07:17] yaroslav-fedyshyn-nordwhale commented on #1796
@LiavGut What if there will be some huge values like: 'Today, G$10000 was claimed by 10000 Good People'? It may not fit the screen width

[2020-06-03 07:36] AnastasiiaOdnoshevna opened #1963 "(BUG) The "You're out of gas" screen is displayed after entering in or reloading"
Precondition:
*The user is logged in
*The home page is opened

Steps to reproduce:
1) Reload the page
2) Pay attention to the "You're out of gas" screen

Actual result: The "You're out of gas" screen is displayed after entering in or reloading
Expected result: The "You're out of gas" screen shouldn't be displayed after entering in or reloading
Checked on DEV env V0.22.1-2
Reproduced on:
Desktop: W

[2020-06-03 07:55] AnastasiiaOdnoshevna opened #1964 "The "TypeError: Cannot read property 'get' of undefined" error message is displayed in console"
Precondition:
The home page is opened

Steps to reproduce:
1) Click the "Claim" button
2) Click the back arrow button
3) Repeat the 1-2 steps
2) Pay attention to the error messages in the console

Actual result: The "TypeError: Cannot read property 'get' of undefined" error message is displayed in the console after opening the "Claim" page
Expected result: The "TypeError: Cannot read property 'get

[2020-06-03 08:03] yaroslav-fedyshyn-nordwhale commented on #1864
@AnastasiiaOdnoshevna
This issue should be fixed by changes in #1880
Please check

[2020-06-03 08:08] AnastasiiaOdnoshevna opened #1965 "The image is displayed off-screen on the "We found your twin" screen"
Precondition:
The user's face is present in the database

Steps to reproduce:
1) Try to scan the face for another account by using a face that is already used
2) Pay attention to the "We found your twin" screen

Actual result: The image is displayed off-screen on the "We found your twin" screen
Expected result: The image should be displayed within the "We found your twin" screen

Checked on DEV en

[2020-06-03 08:37] AnastasiiaOdnoshevna commented on #1929
After an unsuccessful trying, the user clicks the "OK" button in the "Let's try that again" pop-up  and then he camera shape is cut off at the top
Checked on DEV V0.22.1-2
Reproduced on:
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138
![Screenshot_2020-06-03-11-18-01.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/b1368b46-839a-4005-aa60-0bd9c8b23c0d)

[2020-06-03 08:38] serdiukov-o-nordwhale commented on #1952
1. Couldn't tell by 100% that yes - as research is needed. This error is uncatched and potentially could be handled by window.addEventListener('error') but we have another tools (bugsnag, sentry) could add this listener too. Probably there will be conflicts - other handler could catch exception before ours one. So we need some time for research. Also the bug is 'floating' it happen sometimes on no

[2020-06-03 08:43] serdiukov-o-nordwhale commented on #1929
There's no option to specify margins/paddings of headers via customization object.
so we could
a) apply CSS hacks
b) set smaller (or non-bold) font size for mobile devices - would be better solution
@LiavGut  what do you think about it ?

[2020-06-03 08:44] AnastasiiaOdnoshevna commented on #1861
Customizations of a new zoom is done
Checked on DEV V0.22.1-2
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138
Desktop: Windows 10 // Google Chrome 83.0.4103.61

[2020-06-03 08:44] #1861 closed

[2020-06-03 10:13] AnastasiiaOdnoshevna commented on #1733
User can complete the verification and can't create a new account if his face is present in the database
The user gets some screen matched to the error message
Checked on DEV/QA V0.22.1-2
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138
Desktop: Windows 10 // Google Chrome 83.0.4103.61

[2020-06-03 10:13] #1733 closed

[2020-06-03 10:15] #1961 closed

[2020-06-03 10:15] AnastasiiaOdnoshevna commented on #1961
The user gets the "Sorry about that..." screen on the third unsuccessful attempt
Checked on DEV/QA V0.22.1-2
LG V30+ // Android 8.0 // Google Chrome 81.0.4044.138
Desktop: Windows 10 // Google Chrome 83.0.4103.61

[2020-06-03 10:43] LiavGut commented on #1929
@serdiukov-o-nordwhale

It looks that there could be a margin between the title and the oval, but maybe it's because of the font type.

<img width="954" alt="Screen Shot 2020-06-03 at 13 32 34" src="https://user-images.githubusercontent.com/54103946/83627673-f9f22300-a59f-11ea-8a42-7c3705c96d06.png">

If you can't fix it, so change the title font size to 22.
and in any way, the text below the oval

[2020-06-03 10:45] serdiukov-o-nordwhale commented on #1929
Okay

[2020-06-03 14:15] sirpy commented on #1963
not an issue. if connection to block chain is down it could happen. as long
as the screen disappear and user is directed to dashboard its the expected
behavior

[2020-06-03 14:36] LiavGut opened #1967 "Update "Out of Gas" done (second) screen"
1. Update title
1. Update visual
1. Update button label

![Screen Shot 2020-06-03 at 17.37.55.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/917822eb-52a4-4028-b1bd-858da3ace4b9)

[2020-06-03 18:49] LiavGut opened #1968 "Feed - Claim pop up: Button label text should be bolder (same as the other popups design)"
![Screen Shot 2020-06-03 at 21.45.17.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/fc71b457-372f-46b0-9126-16a3bb693885)

[2020-06-04 07:09] LiavGut commented on #1871
@sirpy maybe these tickets should be merged:
https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/1942

[2020-06-04 07:17] LiavGut opened #1969 "Welcome screen - "Continue with..." - Loading screen: Align this new tab to the center of the screen"
@sirpy can we control that?

* Align horizontally and vertically to the screen.

 ![Screen Shot 2020-06-04 at 10.17.01.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/f5cfd3e7-5bd2-441b-9841-685960eec9a2)

[2020-06-04 07:34] LiavGut opened #1970 "(BUG) Claim failed error shows after FV success"
* since yesterday we have a pick in  "Claim request failed" error.

In my case, the claim was indeed added to my balance, and my feed even though I've received the error.

![Screen Shot 2020-06-03 at 21.35.59.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/221a85ef-6ba4-4949-a37c-3ff4d271f81d)

![Screen Shot 2020-06-04 at 10.28.49.png](https://images.zenhubusercontent.com/5d53e7

[2020-06-04 07:40] sirpy commented on #1950
done.
whitelisting is removed if user wasnt whitelisted after our update

[2020-06-04 07:40] #1950 closed

[2020-06-04 07:44] sirpy commented on #1947
@LiavGut
the issue for the claim queue popups is #1915
put all the info there please

[2020-06-04 07:44] #1947 closed

[2020-06-04 07:46] sirpy commented on #1955
@AnastasiiaOdnoshevna i think this is fixed can you retest?

[2020-06-04 07:51] #1963 closed

[2020-06-04 07:51] sirpy commented on #1963
@AnastasiiaOdnoshevna please acknowledge you saw the comment and updated your use cases.
closing this for now

[2020-06-04 07:52] LiavGut commented on #1915
Claim button changes color from green to orange (#F8AF40) + text changes to "QUEUE"

<img width="474" alt="Screen Shot 2020-06-04 at 10 48 03" src="https://user-images.githubusercontent.com/54103946/83729845-e783f200-a650-11ea-9c0b-924b3b71a94e.png">

*Popup design+text will be added here shortly.

[2020-06-04 07:55] sirpy commented on #1969
@LiavGut merge this with the torus spinner issue

[2020-06-04 07:57] LiavGut commented on #1969
@sirpy OK

[2020-06-04 07:57] #1969 closed

[2020-06-04 07:58] LiavGut commented on #1613
Align this new tab to the center of the screen, horizontally and vertically.

[2020-06-04 08:20] yaroslav-fedyshyn-nordwhale commented on #1796
Comment regarding extra info number shortening:
I propose to shorten values the way which generally used to specify electronic components values (e.g. E-12/24 resistors capacitors inductors etc series)
It uses minimal amount of characters required. Just one exception - we will avoid very 'technical' shortenings such as 5K2 ( = 5.2K = 5200), just will use XX.XK notation

So:
a) after shortening we

[2020-06-04 08:22] serdiukov-o-nordwhale commented on #1796
@yaroslav-fedyshyn-nordwhale https://github.com/GoodDollar/GoodDAPP/pull/1960#issuecomment-638223570

there's an ready to use formatter we could adjust & reuse

[2020-06-04 10:42] AnastasiiaOdnoshevna commented on #1864
The avatar photo is deleted after the first attempt to do it
Checked on DEV V0.23.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.83
Desktop: Windows 10 // Google Chrome 83.0.4103.61

[2020-06-04 10:42] #1864 closed

[2020-06-04 10:52] AnastasiiaOdnoshevna commented on #1955
The FV is displayed even the account is deleted and then recovered
Checked on DEV V0.23.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.83
Desktop: Windows 10 // Google Chrome 83.0.4103.61

[2020-06-04 10:52] #1955 closed

[2020-06-04 11:41] AnastasiiaOdnoshevna opened #1971 "(BUG) The blurred background is stayed on the screen after using the "back" system button"
Precondition:
Any screen is attended by the user before to reproduce (for example the "Claim" screen)
The "Home" screen is displayed

Steps to reproduce:
1) Click any feeds
2) Click the "back" system button if it's a smartphone or just  the "back" button in a browser
3) Pay attention to the blurred background

Actual result: The blurred background is stayed on the screen after using the "back" sys

[2020-06-04 11:54] AnastasiiaOdnoshevna opened #1972 "The feed's pop-up is shifted to the left side"
Steps to reproduce: unknown (reproducing - sometimes)

Actual result: The feed's pop-up is shifted to the left side
Expected result: The pop-up of feed should be displayed on the screen's center

Checked on DEV V0.23.0
Desktop: Windows 10 // Google Chrome 83.0.4103.61
![2020-06-04_14-22-23.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/ef532e19-72fa-4b93-8175-10f579f67425)

[2020-06-04 12:10] AnastasiiaOdnoshevna opened #1973 "[Design] Pop-up: The user can't lose its money after deleting its account"
When the user wants to delete the account he can see a pop-up and the "all your G$ will be lost forever!" text but
using the Torus login (non-custodial) will lead to the same account. this way user can't lose his wallet, it is attached to his social login
![2020-06-04_13-43-57.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/e68dd99a-11b5-41d3-934a-c10ffeb40ce5)

[2020-06-04 12:11] AnastasiiaOdnoshevna commented on #1973
@LiavGut can this be so?

[2020-06-05 07:12] #1726 closed

[2020-06-05 07:12] AnastasiiaOdnoshevna commented on #1726
No recent issues in Sentry
Dev v0.23.0

[2020-06-05 09:17] yaroslav-fedyshyn-nordwhale commented on #1796
@AnastasiiaOdnoshevna This issue is fixed in scope of #1698

[2020-06-05 10:07] yaroslav-fedyshyn-nordwhale commented on #1929
@AnastasiiaOdnoshevna
please check this issue again and paste new screens with this screen.

[2020-06-05 12:08] AnastasiiaOdnoshevna commented on #1929
@yaroslav-fedyshyn-nordwhale
Checked on DEV V0.23.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.83
Desktop: Windows 10 // Google Chrome 83.0.4103.61
![Screenshot_2020-06-05-15-03-22.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/54a09b0e-d0f2-4e9b-9bce-2ba41fa23c4f)

[2020-06-05 12:08] #1929 closed

[2020-06-05 12:20] yaroslav-fedyshyn-nordwhale commented on #1736
@AnastasiiaOdnoshevna
I pushed the changes directly to the master branch - so you can check after a few minutes.

[2020-06-05 13:41] AnastasiiaOdnoshevna commented on #1736
The "Delete Account" button is displayed on the menu
But the text in the pop-up isn't changed
Checked on DEV V0.23.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.83
Desktop: Windows 10 // Google Chrome 83.0.4103.61
![2020-06-05_16-35-38.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/50c5cc9b-a047-44f0-be11-f8ea9e88adc6)

[2020-06-05 16:46] serdiukov-o-nordwhale commented on #1736
@AnastasiiaOdnoshevna was changed in single place
i found & fixed another one usage of this text
also commented directly on master, pls re-check

[2020-06-07 07:39] LiavGut opened #1975 "FV - "Get ready" screen - UI fixes"
1. ButtonCornerRadius: 30px  **(this fix should apply to all FV screens)**
2. Title: Break before the word "video"
3. Text: Break before the word "then"

![unnamed.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/0ed54ad7-ba4a-47b7-9914-b0593a7be3c2)

[2020-06-07 08:11] sirpy opened #1976 "(Bug) feed loads slowly"
Liav's account loads slowly

[2020-06-07 08:45] tomerGD opened #1977 "Add user to mautic when registrasion starts"
- [x] once  we have user email from torus or he fills it (when he uses mobile/self custody), send his details to backend
- [x] backend should create a mautic record for user
- [x] backend  should store email in temporary field and not remove them once they are verified
- [x] backend should once the signup is completed  without errors
      - [x] backend should delete temporary field
      - [x] ba

[2020-06-07 08:54] tomerGD opened #1978 "Update users' phones and the country as soon as the user verifies his phone."
Instead of waiting for the user to finish the full signup process,

Update users' phones and the country as soon as the user verifies his phone.

[2020-06-07 09:00] tomerGD opened #1979 "Add new Parameter to mautic "Claim""
Once users registration complete mark
Claim = 0

[2020-06-07 09:00] tomerGD opened #1980 "Emails strategy"

[2020-06-07 09:20] tomerGD opened #1981 "Add new parameter to mautic "Wallet_Open""
Wallet_Open is a timeline event.

Every time a user signs in to his wallet add to Mautic

Wallet_Open = + 1

[2020-06-07 09:35] tomerGD opened #1982 "Add to invite code to payment link"
- [x] add an invite code to every payment link
- [x] when new user uses payment link with inviteCode it should perform like invite link

[2020-06-07 09:38] tomerGD opened #1983 "Update the following parameters on Mautic once a user deletes his wallet"
When a user deletes his wallet update the following parameters

* [x] Do not contact = True
* [ ] Deleted_Wallet = True

[2020-06-07 18:10] sirpy opened #1984 "User should see a message about face verification disabled for 24 hours"
after user delete an account he will not be able to do FV for 24Hours
(copy the claimqueue popup, just change texts)
- [x] in the "verify me" screen call server endpoint
   - [x] disable button until have response
   - [x] if account is being deleted show popup. on dismiss go back to dashboard.
   - [x] if account not being deleted enable button

[2020-06-07 18:20] sentry-io[bot] opened #1985 "Error: Zoom verification failed: The ZoOm Session was performed successfully and a FaceMap was generated."
Where does the message come from? zoom API response?
If FV is not sucessfull it should have the real reason for failure logged

Sentry Issue: [GOODDAPP-FD](https://sentry.io/organizations/gooddollar/issues/1705015522/?referrer=github_integration)

[code]

[2020-06-07 19:12] sirpy commented on #1973
there's already a ticket to change the text a little

[2020-06-07 19:12] #1973 closed

[2020-06-08 09:24] LiavGut opened #1986 "Add all FV events to amplitude"
Send the following events to amplitude

- FV_INTRO 		When a user land on faceverification intro screen Name, only a real life person can claim G$
- FV_CAMERAPERMISSION		"When a user land on the  ""Camera permissions"" pop up ""You must allow access to your camera"
** camera permission popup can also be displayed in QR Scanner, should trigger different event **
- FV_GETREADY_ZOOM		Zoom screen displ

[2020-06-08 09:28] LiavGut commented on #1874
@sirpy @tomerGD
Since Tal had decided that on demo stage we can limit access to only supported browsers,
we can move on with this ticket.

[2020-06-08 11:51] tomerGD commented on #1986
Please see the Google sheet attached

https://docs.google.com/spreadsheets/d/1nTiU5h2XtsGhJ8Vi0USn-B5jnUSMWs5OEhjwPfatthA/edit#gid=0

[2020-06-08 11:55] sirpy commented on #1952
@LiavGut this is where we need a popup to refresh
@tomerGD

[2020-06-09 06:31] AnastasiiaOdnoshevna commented on #1736
The text was changed according to a requirement
Checked on DEV V0.23.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.83
Desktop: Windows 10 // Google Chrome 83.0.4103.97
![2020-06-09_9-24-10.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/934d17b6-1e30-47e3-9ab3-efec5230f15c)

[2020-06-09 06:31] #1736 closed

[2020-06-09 07:57] AnastasiiaOdnoshevna commented on #1970
The G$ is got successfully via claim
Checked on PROD V0.23.1
Desktop: Windows 10 // Google Chrome 83.0.4103.97

[2020-06-09 08:12] #1970 closed

[2020-06-09 08:46] serdiukov-o-nordwhale commented on #1790
Have a few comments / ideas:

1. On native we have option to open device settings popup from app. Unfortunately on web it's impossible to open browser settings. Even if they're just a web pages with specific addresses (e.g. chrome:settings, about:settings etc) - window.open() call will throw an exception trying to open internal page

So, if we're running native, we could add an additional button '

[2020-06-09 08:56] serdiukov-o-nordwhale commented on #1790
2. Safari doesn't supports Permission API. So we couldn't determine is permission already granted or not  without clipboard/camera access tries (causing the default browser's permission popup)

So, there's no way to show the first dialog (which notifies user that **we'll** ask for permissions **now**). We could just **to ask** for permissions and then show the second dialog ("Please/You must enabl

[2020-06-09 09:03] serdiukov-o-nordwhale commented on #1790
3. What we have to do once user dismisses "Please/You must enable" dialog ?

For now, we'll staying on the scan qr / copy link page but some controls are inactive:
- On the copy link screen it's copy button
- On the scan code screen we're showing 'inactive' placeholder with camera icon instead of scanner

But we could pass callback to catch an event when permission checking / requesting has passed

[2020-06-09 09:06] LiavGut commented on #1952
<img width="400" alt="Screen Shot 2020-06-09 at 12 04 01" src="https://user-images.githubusercontent.com/54103946/84128702-98233480-aa49-11ea-864b-29b8375d1848.png">

[2020-06-09 09:14] Talbatz commented on #1871
The reamaze part is done.

[2020-06-09 09:21] Talbatz commented on #1903
@sirpy i've created email #111 on our mautic.

@tomerGD do we have text for the email?

[2020-06-09 09:34] tomerGD commented on #1703
@LiavGut @sirpy
All the app should be aligned, we show in some places before, in some places after

Everywhere G$ sign appears it should be after, and not before

[2020-06-09 09:41] #1948 closed

[2020-06-09 13:17] AnastasiiaOdnoshevna commented on #1871
The text was changed on the bottom of the screen
Checked on DEV V0.23.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.83
Desktop: Windows 10 // Google Chrome 83.0.4103.97
![2020-06-09_16-14-04.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/961cc15c-3885-494b-b8dd-06d185d3264e)

[2020-06-09 13:17] #1871 closed

[2020-06-09 13:25] tomerGD opened #1987 "Edit Public dashboard"
The public dashboard:
https://wallet.gooddollar.org/AppNavigation/Dashboard/Statistics

The data should be edited based on the following information
https://docs.google.com/document/d/1kxg5Ba9KcdVq_91vt3oUjomoi7ske6n-SRd8c7K6kLw/edit

All designs should be based on the existing template.

[2020-06-10 06:27] sirpy opened #1989 "User cant do FV after he is shown the unrecoverable error screen"
If user fails 3 times FV then we show him a special screen. (with contact support button)
But after he presses contact support or ok and he then goes back to trying FV he will immediatly see the unrecoverable error screen.

the expected behaviour is that he can start trying again and after 3 failures he will be shown the error screen

[2020-06-10 06:27] sirpy commented on #1989
@AnastasiiaOdnoshevna this has been fixed in master and also i've uploaded a patch to production
so it should. be fixed on version 0.23.2

[2020-06-10 07:22] yaroslav-fedyshyn-nordwhale opened #1990 "Permission Popups - Native Implementation"
Camera

- iOs Native: display the QR popup request on first time user enters any of the QR Scan screens and if we still dont have camera permission
- iOS native: if camera permissions have been denied and user enters the QR scan or or the "ok, verify me" screen then show the "please enable camera permissions" popup

Clipboard

  Nothing (no permissions needed)

Popups are ready. All we have to do

[2020-06-10 07:42] AnastasiiaOdnoshevna commented on #1703
The amount is displayed ahead of the sign
Checked on DEV V0.23.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.83
Desktop: Windows 10 // Google Chrome 83.0.4103.97
![2020-06-10_10-26-22.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/c971754f-e9bc-439a-86a5-6ec67eb94dde)

[2020-06-10 07:42] #1703 closed

[2020-06-10 08:56] serdiukov-o-nordwhale commented on #1990
On native we have option to open device settings popup from app. Unfortunately on web it's impossible to open browser settings. Even if they're just a web pages with specific addresses (e.g. chrome:settings, about:settings etc) - window.open() call will throw an exception trying to open internal page
So, if we're running native, we could add an additional button 'Open settings' to the "Please/You

[2020-06-10 14:19] AnastasiiaOdnoshevna opened #1992 "(BUG) The blurred background"
The bugs related to the blurred background  are united to this main issue:

(BUG) Background of pop-up is displayed and blocked further action on the dashboard after swiping green cards #1765
(BUG) The blurred background is stayed on the screen after using the "back" system button #1971

[2020-06-11 07:17] AnastasiiaOdnoshevna opened #1995 "(BUG) IOS 10.0.2 The blank page is displayed after trying to open gooddev.netlify.app"
Steps to reproduce:
1) Open the gooddev.netlify.app
2) Pay attention to the blank page

Actual result: The blank page is displayed after trying to open gooddev.netlify.app
Expected result: The start page with social buttons should be displayed after trying to open gooddev.netlify.app

Checked on DEV V0.23.0
iPad 4//iOS 10.0.2

[2020-06-11 07:59] serdiukov-o-nordwhale commented on #1995
Please attach Safari logs like we've agreed on the daily

[2020-06-11 08:06] yaroslav-fedyshyn-nordwhale commented on #1915
@AnastasiiaOdnoshevna

Here are the steps and instructions on how to test this issue:

1) You should create new accounts and try to claim - your account should be queued and you should see a new 'queue' popup with explanations.

2) to approve them and make them pass the queue you need to send a request to the server (you can use postman for this or any other analog)

Request structure:
method: POS

[2020-06-11 08:25] AnastasiiaOdnoshevna commented on #1796
The text is displayed in a single line
Checked on DEV V0.23.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.83
Desktop: Windows 10 // Google Chrome 83.0.4103.97
iPhone 8 //13.3.1

[2020-06-11 08:25] #1796 closed

[2020-06-11 09:35] sirpy commented on #1984
@tomerGD @LiavGut waiting

[2020-06-11 11:25] serdiukov-o-nordwhale commented on #1952
@yaroslav-fedyshyn-nordwhale please style an error dialog according to the Liav's design in the `src/components/dashboard/FaceVerification/components/ReloadDialog.web.js` component

[2020-06-11 11:27] #1790 closed

[2020-06-11 11:54] AnastasiiaOdnoshevna commented on #1698
Title + G$ amount + text can't be as one unit on large sizes, it just doesn't work
Buttons of state 1 and state 2 are displayed at the same size and position
Design for large and ordinary screens
Checked on DEV/QA V0.23.1-0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.83
Desktop: Windows 10 // Google Chrome 83.0.4103.97
![Screenshot.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001

[2020-06-11 11:54] #1698 closed

[2020-06-11 11:55] sirpy commented on #1987
moved details dashboard epic

[2020-06-11 11:55] #1987 closed

[2020-06-11 11:56] sirpy opened #1996 "upgrade gun client"

[2020-06-11 12:53] sirpy opened #1997 "Dashboard should show world map with claim bubbles"
- [x] claim should fire the gtm tag dataLayer.push({event:'claim-geo',claimValue:<claimvalue>})
   this is already configured in GTM
- [x] env variable with embed url
- [x] embed datastudio
`<iframe width="800" height="450" src="https://datastudio.google.com/embed/reporting/1ALW5HR6lmRdLWdkZj6F1mhdN6xfZ6pRy/page/mlwTB" frameborder="0" style="border:0" allowfullscreen></iframe>`
set correct width/h

[2020-06-11 13:14] sirpy opened #1998 "Dashboard should show total impact statistics"
Add 3 statistics cubes:
- [x] Claimers - unique users that claimed at least once.
    - server listens to ubiclaimed blockchain events.
    - modify method 'updateClaimEvents'
    - add in mongodb 'addressesClaimed' table the address from the claim event. if not exists increment the unique claims counter totalUniqueClaimers.
   - keep in mongodb prop 'totalUniqueClaimers'
- [x] U.B.I Total G$ give

[2020-06-11 13:44] sirpy opened #1999 "Dashboard should show total supply graph"
G$ supply
-  upgrade to v2 goodcontracts
- read from mainnet contract the total G$ supply once  a day
- show a daily graph of total supply

[2020-06-11 13:51] sirpy opened #2000 "Dashboard layout changes"
- [x] change "transactions" label in Daily G$ Claim to "Total claimers"
- [x] capitalize words in titles
- [x] remove the "general" cube (in circulation, held in escrow)
- [x] layout order
    1. Total Impact boxes
    2. Google maps with total ubi by country
    3. Daily G$ Claims
    4. total supply graph
    5. Daily G$ Usage + Daily Count Of Transactions
    6. rest of cubes/graphs that we hav

[2020-06-11 15:03] serdiukov-o-nordwhale commented on #1986
@sirpy  As i've understood all events we've send are already personalized if the user is logged in ?
So we don't need to send user email or other data ?

[2020-06-11 15:31] AnastasiiaOdnoshevna opened #2003 "(BUG) IOS: The 12-word pass phrase isn't copied after clicking the "Copy all to clipboard" button"
Precondition:
The "backup my wallet" page is opened
Steps to  reproduce:
1) Click the "Copy all to clipboard" button
2) Pay attention to the lack of pop-up and 12-word pass phrase in the clipboard

Actual result: The 12-word pass phrase isn't copied after clicking the  "Copy all to clipboard" button
Expected result:  The 12-word pass phrase should be copied to clipboard and pop-up should announce

[2020-06-12 08:45] #1850 closed

[2020-06-12 11:19] AnastasiiaOdnoshevna commented on #1746
@YuryAnanyev
Please add test to custody login (after Torus user logout)

[2020-06-12 11:50] AnastasiiaOdnoshevna opened #2004 "(BUG) The "ZoOm must be used in portrait" error appears on the desktop"
Precondition:
A new account is created
The user  logged in
FV screen is opened on the desktop

Steps to reproduce:
1) Click the "OK, VERIFY ME" button
2) Pay attention to the screen

Actual result: The "ZoOm must be used in portrait" error appears on the desktop
Expected result: The "ZoOm must be used in portrait" error shouldn't appear on the desktop

Checked on DEV V0.23.1-0
Reproduced on:
Deskt

[2020-06-12 11:51] AnastasiiaOdnoshevna opened #2005 "Add case to startup links"
Add cases for links that we have in app
Terms of Use and Privacy Policy

[2020-06-12 12:12] AnastasiiaOdnoshevna opened #2006 "The extra character is displayed on the start page"
Steps to reproduce:
1) Open the gooddev.netlify.app
2) Pay attention to the extra character near the "terms of use" link

Actual result: The extra character is displayed on the start page near the "terms of use" link
Expected result: The extra character shouldn't be displayed on the start page near the "terms of use" link

Checked on DEV V0.23.1-0
Desktop: Windows 10 // Google Chrome 83.0.4103.97

[2020-06-12 12:31] AnastasiiaOdnoshevna opened #2007 "Add options for quick re-login"
@YuryAnanyev
this ticket is connected to the Profile edit issue

1. implement a click on back arrow function, to navigate back, so it doesnt require a fresh login which takes time.
2. login by setting localStorage variables localStorage.setItem('GD_mnemonic',mnemonic) or setItem('GD_masterSeed',torus user private key) and setItem('GD_isLoggedIn',true)

[2020-06-12 12:38] serdiukov-o-nordwhale commented on #2004
Everything working correctly, as due to the devtools opened browser's window had almost exact width and height which isn't an "portrait" layout
So, Zoom handled this and has throw corresponding exception

[2020-06-12 12:38] #2004 closed

[2020-06-12 12:56] serdiukov-o-nordwhale commented on #2004
And probably on desktop 'landscape' and 'portait' cases are inversed (as in the SDK error have 'WrondDeviceOrientation' name, not 'non-portrait' exactly). So on desktop Zoom requires to be ran with the having horizontal placement (as it's by default on most desktop PCs/laptops)

For make this exception more understandable i could propose to change text on the 'wrong orientation" screen. If app run

[2020-06-12 14:56] serdiukov-o-nordwhale opened #2011 "Totally refactor analytics.js"
- make it a class
- incapsulate services refs
- inject logger & services via DI
- add  pino plugin to reports errors instead of patchLogger

[2020-06-12 15:09] #1793 closed

[2020-06-14 07:07] #1986 closed

[2020-06-14 07:38] LiavGut commented on #2004
@serdiukov-o-nordwhale @sirpy I don't think this error will be common on desktops, maybe we should disable it for desktops.

[2020-06-14 08:17] serdiukov-o-nordwhale commented on #2004
@LiavGut this check is built in inside zoom sdk and unfortunately it could not be omitted

[2020-06-14 08:24] tomerGD opened #2013 "Add users face record id ID to the user profile"
Add faceVerification ID to the users' profile

1. how to get "face record ID":

[code]

working example in `src/components/dashboard/FaceVerification/screens/VerificationScreen.js`

2. image is just an avatar, not the actual Zoom's recordings. so we don't need to add additional logic to catch & store imaghe captured

3. copy button is an customized CopyButton. it should work as other copy button.

[2020-06-14 08:26] LiavGut commented on #2004
@serdiukov-o-nordwhale I don't believe that Zoom didn't think about this use case... :-/

[2020-06-14 08:37] serdiukov-o-nordwhale commented on #2004
@LiavGut ZoomCustiomization have no options to disable orientation checks.

As i’ve said above they have some checks for the case when zoom is running on laptop / pc with webcam.  But they just don’t have specific status code for this. Just ‘orientation error’.

[2020-06-14 08:41] serdiukov-o-nordwhale commented on #2004
We could also programmatically resize browser window (if running desktop) before initialize Zoom

[2020-06-14 09:36] sirpy commented on #2013
where should it appear? we show private details only in the "edit profile"
otherwise they are ****

[2020-06-14 09:46] sirpy commented on #2007
i suggest currently just implementing 2
@AnastasiiaOdnoshevna @YuryAnanyev

[2020-06-14 13:49] sirpy commented on #1977
@tzvister @tomerGD we currently have the dappuser tag which is added once user has completed registration

[2020-06-14 13:50] sirpy commented on #1977
user is added to mautic from client once we have his email on registration
done in #1977

[2020-06-14 15:52] LiavGut commented on #1984
@sirpy Here's the jury votes:

1. This will be a new pop (in the same design and behavior as the Queue popup)
    https://xd.adobe.com/view/65dc3a4e-a65a-44fc-6f25-f93a163a4ad3-13ed/
2. We won't communicate this message when deleting the wallet, only after re-signing up

<img width="486" alt="Screen Shot 2020-06-14 at 18 45 44" src="https://user-images.githubusercontent.com/54103946/84597964-ff891

[2020-06-14 15:54] LiavGut commented on #2013
@tomerGD  What is this for?

[2020-06-15 11:11] serdiukov-o-nordwhale opened #2014 "Using lfs to store Zoom's binaries caused issues"
Zoom.framework contains 116mb binary file but GitHub limits files to 100mb. If we would commit such files we have to use lfs or add some workarounds

* [ ] choose one of the following ways to keep ZoomSDK without using lfs
a) to zip large files and unzip them it in .podspec via system() call or in postinstal script of package.json
b) wrap zoom's .framework in a pod and put it to the cdn then requi

[2020-06-15 11:46] #1494 closed

[2020-06-15 11:47] #1416 closed

[2020-06-15 11:47] #1417 closed

[2020-06-15 11:49] #1398 closed

[2020-06-15 12:21] AnastasiiaOdnoshevna opened #2015 "(BUG) The "Invite" page isn't loaded after clicking the "Invite+" button"
Precondition:
The "Home" screen is displayed
Steps to reproduce:
1) Click the "Invite+" button
2) Pay attention to the blank page instead of the  content according to the requirement

Actual result: The "Invite" page isn't loaded after clicking the "Invite+" button [only on the desktop. On the same account but on the mobile the "Invite" page is displayed]
Expected result: The "Invite" page should

[2020-06-15 12:57] AnastasiiaOdnoshevna commented on #2006
Checked on DEV V0.24.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.83
Desktop: Windows 10 // Google Chrome 83.0.4103.97
![2020-06-15_15-54-52.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/08ae7621-06a5-4e45-9d67-cec289b9c636)

[2020-06-15 12:57] #2006 closed

[2020-06-15 13:07] YuryAnanyev commented on #1773
@sirpy @serdiukov-o-nordwhale
during each login torus test user through the social login must re-enter the phone number, even if it is not the 1st login

[2020-06-15 13:16] yaroslav-fedyshyn-nordwhale commented on #1999
The link to the PR - https://github.com/GoodDollar/GoodDashboard/pull/23

[2020-06-15 13:24] AnastasiiaOdnoshevna commented on #1865
The captured avatar image is displayed in portrait orientation
Checked on DEV V0.24.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.83

[2020-06-15 13:24] #1865 closed

[2020-06-15 13:33] #1979 closed

[2020-06-16 08:20] YuryAnanyev opened #2017 "[BUG] Chrome: impossible to login using mnemonic of an existing user"
Steps to reproduce:
1. open browser
2. clear localstorage and cookies
3. go to https://gooddev.netlify.app/Auth/Recover
4. enter the mnenonik of the already registered user
5. pay attention to the screen

Actual result: impossible to login using mnemonic of an existing user
Expected result:  login using the mnemonic of an existing user

![bug_mnemonic.png](https://images.zenhubusercontent.com/5eb5

[2020-06-16 09:19] AnastasiiaOdnoshevna opened #2018 "(BUG) Edit profile: The "back arrow" button is worked but only after second clicking"
Precondition:
The "Edit profile" page is opened

Steps to reproduce:
1) Change the phone number and approve changes via code
2) Click the "Back arrow" button
3) Pay attention to the absence of redirection to the previous page

Actual result: Edit profile: The "back arrow" button is worked after second clicking when the email or mobile number is changed and user trying to go back via "Back arrow" b

[2020-06-16 09:34] serdiukov-o-nordwhale commented on #2015
As i remember, invites was etoro-only stuff.
So this button shouldn't be even displayed on current prod (because REACT_APP_ETORO is set false)
@sirpy is it right ?

[2020-06-16 09:35] serdiukov-o-nordwhale commented on #1773
@YuryAnanyev is it still floating ? You've told me this morning that you know the exact way to reproduce

[2020-06-16 10:30] LiavGut commented on #2013
@sirpy
Add user face record ID to the profile privacy screen.

https://xd.adobe.com/view/5aa4b4f5-43d6-4b67-7425-8f5f02d5d5bb-2c95/

![Screen Shot 2020-06-16 at 13.25.06.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/65da317a-fc00-4c28-b108-200e607a5479)

[2020-06-16 11:37] #1775 closed

[2020-06-16 12:34] YuryAnanyev commented on #1773
@serdiukov-o-nordwhale
I use a specially created test account - TorusTestUser.
data in the localstorage is downloaded from the file - userObject.json

[2020-06-16 13:06] AnastasiiaOdnoshevna opened #2020 "[sentry] TypeError: torus login failed: Failed to fetch"
GOODDAPP-QY - TypeError: torus login failed: Failed to fetch

Exception
[code]
PROD 0.24.0

[2020-06-16 13:06] AnastasiiaOdnoshevna opened #2021 "[sentry] Error: preloading zoom failed: Couldn't preload Zoom SDK"
GOODDAPP-QX - Error: preloading zoom failed: Couldn't preload Zoom SDK
Exception
[code]
Email:	alessiocipriani@gmail.com
PROD 0.24.0

[2020-06-16 14:05] serdiukov-o-nordwhale commented on #2021
It's 65321 issue
we already catching it. if it happens - on verification we're showing popup asking to reload the app: #1952

[2020-06-16 14:45] yaroslav-fedyshyn-nordwhale commented on #2000
The link to the PR - https://github.com/GoodDollar/GoodDashboard/pull/23

[2020-06-16 16:20] AnastasiiaOdnoshevna opened #2022 "(BUG) The blank page is displayed instead of Splash Screen after reloading the page"
Precondition:
Queued user
The home screen is opened
Steps to reproduce:
1) Reload the page
2) Pay attention to the blank page

Actual result: The blank page is displayed instead of Splash Screen after reloading the page
Expected result: The Splash Screen should be displayed after reloading the page and then the "Home" page

Checked on DEV V 0.24.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.

[2020-06-16 16:40] AnastasiiaOdnoshevna opened #2023 "(BUG) The "Claim" button is displayed for a moment instead of the "Queue" button"
Precondition:
Queued user
The home screen is opened
Steps to reproduce:
1) Click the "Receive" page
2) Click the "Back arrow" page
2) Pay attention to the"Queue" button

Actual result: The "Claim" button is displayed for a moment instead of the "Queue" button after coming back from the "Receive" page
Expected result: The "Claim" button shouldn't be displayed for a moment instead of the "Queue" but

[2020-06-16 16:48] AnastasiiaOdnoshevna opened #2024 "[Error] The "Could not fetch /trust" error message is displayed in the console"
Precondition:
Queued user
The home screen is opened
Steps to reproduce:
1) Open the console
3) Pay attention to the error message

Actual result:  The "Could not fetch /trust" error message is displayed in the console after reloading the page or  log in when the user is queued
Expected result: The "Could not fetch /trust" error message shouldn't be displayed in the console after reloading the page

[2020-06-16 18:29] sirpy commented on #2022
@AnastasiiaOdnoshevna its better to describe the issue in terms of the error that is shown.
blank screen can be caused by multiple different errors.
so if there's a specific error in console use it

[2020-06-16 18:30] sirpy commented on #2022
@serdiukov-o-nordwhale this looks like it has to do with the analytics changes we did

[2020-06-16 18:56] sirpy commented on #2021
dup of #1952

[2020-06-16 18:56] #2021 closed

[2020-06-16 19:13] sirpy commented on #2015
we have invites. for me it works. can you reproduce this?

[2020-06-17 08:24] sirpy commented on #2015
@AnastasiiaOdnoshevna

[2020-06-17 08:25] sirpy commented on #2015
@AnastasiiaOdnoshevna bugs blocking functionality are critical

[2020-06-17 08:26] sirpy commented on #2018
@serdiukov-o-nordwhale this usually happens when the same route is pushed twice to the navigation stack

[2020-06-17 08:27] sirpy commented on #2020
@AnastasiiaOdnoshevna can this be reproduced? closing this for now

[2020-06-17 08:27] #2020 closed

[2020-06-17 09:00] sirpy opened #2025 "Dashboard G$ total suply should read info from mainnet"
- [x] upgrade to contracts v2
- [x] ropsten + ethereum settings to possible networks
- [x] create another instance of web3 called mainnetWeb3
    - network = fuse. use network fuse-mainnet for Contracts Address and use ropsten
    - network = staging. use network staging-mainnet for Contracts Address and use ropsten
    - network = production. use network production-mainnet for Contracts Address a

[2020-06-17 09:26] serdiukov-o-nordwhale commented on #2013
@sirpy @LiavGut
Image in "My face record ID" could be an avatar or it should be exactly an capture result we've got during FR ?

[2020-06-17 09:30] sirpy commented on #2013
avatar

[2020-06-17 09:34] serdiukov-o-nordwhale commented on #2013
Ok, tnanks

[2020-06-17 09:35] serdiukov-o-nordwhale commented on #2013
@yaroslav-fedyshyn-nordwhale i would like you'll just design "My FR Id" widget.

[2020-06-17 10:05] serdiukov-o-nordwhale commented on #1952
Yep, #2021 describes an 65321 issue.
But on the prod we still don't having it fixed. According to the commit logs production branch has all PRs up to the last Wendesday, while 65321 fix was merged 3 days ago.

<img width="1092" alt="image" src="https://user-images.githubusercontent.com/62208067/84884949-08aa0100-b09b-11ea-8566-151eaf24742e.png">
<img width="1302" alt="image" src="https://user-imag

[2020-06-17 10:05] #1952 closed

[2020-06-17 13:17] #2017 closed

[2020-06-17 13:18] #1773 closed

[2020-06-17 13:39] AnastasiiaOdnoshevna commented on #1915
The user sees the "Queue" button instead of the "Claim" when he is in queue
After approving via POST request the "Queue" button is replaced by "Claim" button
And then the FV is passed and the G$ is received successfully

Checked on DEV V0.24.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.83
Desktop: Windows 10 // Google Chrome 83.0.4103.97

[2020-06-17 13:50] yaroslav-fedyshyn-nordwhale commented on #2015
@sirpy @AnastasiiaOdnoshevna
this issue comes from 'https://w3.gooddollar.org'. it's not the GoodDapp issue.

[2020-06-17 16:17] serdiukov-o-nordwhale commented on #1866
After i've investigated amplitude docs, client source and reviewed our dashboard i found that amplitude doesn't tracks webpage url. it's not sent with events like some 'internal'/'built-in' property. It could analyze url on initialization to track some UTM tags or other stuff but nothing moire
in this case.

As a conclusion - we wouldn't to find ways to dynamically update current url in amplitude

[2020-06-17 16:24] serdiukov-o-nordwhale commented on #1866
committed directly to master

[2020-06-17 20:21] sirpy commented on #2000
@yaroslav-fedyshyn-nordwhale the top 3 boxes need to be moved to bottom after Daily G$ Usage.
total impact boxes is something new. see relevant issue.

[2020-06-17 20:27] sirpy commented on #1866
@serdiukov-o-nordwhale this is about "fullstory session url" not the current url.

[2020-06-18 06:55] yaroslav-fedyshyn-nordwhale commented on #2000
@sirpy
I move it under 'Daily G$ usage' graph - and pushed a fix to the master branch.
Screenshot:
![1.png](https://images.zenhubusercontent.com/5d555cf825ff190001f1a4eb/0f527561-43d2-4abf-8307-bf88de3bd967)

[2020-06-18 07:22] #644 closed

[2020-06-18 07:25] serdiukov-o-nordwhale commented on #1866
What means “fullstory session url” ?
You mean “fullstory” not as common word, you mean FS (FullStory) service we also use in the analytics
Should we pass FS.getCurrentSessionURL result instead of url ?
Could you please tell me what actually we should do in the scope of this task?

[2020-06-18 09:23] AnastasiiaOdnoshevna commented on #1989
The user is able to pass the FV even he saw the unrecoverable error screen
Checked on PROD V0.24.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.83
Desktop: Windows 10 // Google Chrome  83.0.4103.106

[2020-06-18 09:23] #1989 closed

[2020-06-18 09:36] yaroslav-fedyshyn-nordwhale commented on #1998
@sirpy how it should be looking?

[2020-06-18 11:18] sirpy commented on #1998
single values boxes
like those we had
@yaroslav-fedyshyn-nordwhale

[2020-06-18 11:23] LiavGut opened #2028 "Update FV screens: Text + Design (Small changes)"
1. Fv Error screens: Change title color to Red (#FA6C77)
2. All FV screens: light blue text - Change font size to 18, Change line spacing to 25.
3. FV - CAMERA ACCESS - Update text + Button label
4. FV - Intro screen - Update title
5. FV - General error screen (GD) - Update button label
6. FV - CAMERA Permission - Update text + remove Button + add a link (will be directed to a guide on FAQ screen)

[2020-06-18 11:28] sirpy commented on #2015
@yaroslav-fedyshyn-nordwhale please elaborate what is the error
how to reproduce? i dont get this error.
does it happen with specific user?
please provide details in slack to reproduce

[2020-06-18 11:41] serdiukov-o-nordwhale commented on #1866
@sirpy Updated the implementation: https://github.com/GoodDollar/GoodDAPP/pull/2029

[2020-06-18 11:45] yaroslav-fedyshyn-nordwhale commented on #2015
@AnastasiiaOdnoshevna @sirpy
Actually I am not able to reproduce this issue again. @AnastasiiaOdnoshevna could you try?
Maybe it was fixed since my last comment.

[2020-06-18 11:47] sirpy commented on #2015
@yaroslav-fedyshyn-nordwhale we didnt do anything, so it cant be fixed.
we need to understand how we can reproduce it

[2020-06-18 12:32] AnastasiiaOdnoshevna commented on #2022
@sirpy @yaroslav-fedyshyn-nordwhale
I tried to reproduce this issue on the same device but on DEV 0.24.1-1
This issue isn't reproduced

Checked on Checked on DEV 0.24.1-1
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.101

[2020-06-18 12:32] #2022 closed

[2020-06-18 12:53] AnastasiiaOdnoshevna commented on #2015
This issue still reproduced. I checked this in the incognito tab and this was reproduced only at the first time immediately after login after opening the invite page. But  in the ordinary tab, this issue was reproduced quite often
Video: https://www.screencast.com/t/mihbyR61gyb
Checked on PROD V0.24.0
Reproduced on:
Desktop: Windows 10 // Google Chrome 83.0.4103.97

[2020-06-18 13:09] AnastasiiaOdnoshevna commented on #2015
@sirpy @yaroslav-fedyshyn-nordwhale
Also, I checked on 'https://w3.gooddollar.org' and I can say that this issue reproduced here too
I don't know related it to this issue but I noticed when the issue isn't reproduced you can close the console tab and refresh the page again a few times and then screen getting blank and errors appear in the console (or  vice versa, for example, the console  is close

[2020-06-18 14:29] LiavGut opened #2031 "PHASE 1: Splash screen update"
0. show  only when isPhazeZero === 'false'
1. Remove Demo title + text
2. Remove the word “Demo” from the version number

-
https://xd.adobe.com/view/572c8f91-ee6d-4609-59b8-77903a9bbb3f-211d/

![Screen Shot 2020-06-18 at 17.22.06.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/0386390a-37a7-4e92-abe5-682f23831b3e)

[2020-06-18 14:41] AnastasiiaOdnoshevna opened #2032 "(BUG) Error: torus login failed Invalid params"
Steps to reproduce:
1. Open the start page (the social buttons are displayed)
2. Click the "Agree & Continue with Google" button
3. Pay attention to the error pop up and the error message in the console

Actual result: User can't enter via Google. The "We were unable to complete the login. Please try again." error message is displayed (the "torus login failed Invalid params" error in the console)

[2020-06-18 15:01] AnastasiiaOdnoshevna commented on #1458
#1915 is the correct one and this functionality was checked by using 1915

[2020-06-18 15:01] #1458 closed

[2020-06-18 15:29] AnastasiiaOdnoshevna commented on #1915
The queue works according to require
Checked on QA V0.24.1-1
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.101
Desktop: Windows 10 // Google Chrome 83.0.4103.106

[2020-06-19 08:56] AnastasiiaOdnoshevna commented on #1985
During checking the FV manually, this issue wasn't detected
Checked on DEV V0.24.1-1
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.101
Desktop: Windows 10 // Google Chrome  83.0.4103.106

[2020-06-19 08:56] #1985 closed

[2020-06-19 09:34] serdiukov-o-nordwhale opened #2033 "Native Torus: add native module for IOS & android"
Export 2 functions:

 - configure()
 - triggerLogin()

[2020-06-19 09:34] serdiukov-o-nordwhale opened #2034 "Native should use torus react-native package"
see torus repo on github

[2020-06-19 09:34] serdiukov-o-nordwhale opened #2035 "Native Torus: adjust / refactor existing code"
We should have:

- cross-platform authentication hooks
- single SDK wrapper contract
- different implementations for web/native (as it’s done in Zoom)
- sdk should be moved out of useTorus hook

[2020-06-19 09:34] serdiukov-o-nordwhale opened #2036 "ReactNative wrapper for Torus"
There are libraries for both IOS & android.
They are pretty simple to use (most simplier that Zoom):

https://github.com/torusresearch/torus-direct-android-sdk/blob/master/app/src/main/java/us/tor/torus_direct_android/MainActivity.kt
https://github.com/torusresearch/torus-direct-swift-sdk#2-initialization

Android version is still WIP. but should be ready soon

[2020-06-19 09:41] serdiukov-o-nordwhale opened #2037 "ReactNative Torus wrapper should be a separate reusable npm package"

[2020-06-19 14:14] AnastasiiaOdnoshevna opened #2038 "Failed to load resource: the server responded with a status of 503"
Precondition
The "Home" page is displayed
Steps to reproduced:
1) Open the "Statistics" page
2) Pay attention to the  "Application error"/check the error in the console

Actual result: The "Statistics" page isn't displayed and the "Failed to load resource: the server responded with a status of 503" error message is displayed in the console
Expected result: The "Statistics" page should be displayed

[2020-06-19 14:53] AnastasiiaOdnoshevna commented on #2032
The user is able to log in via Google
Checked on DEV/QA V0.24.1-2
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.101
Desktop: Windows 10 // Google Chrome 83.0.4103.106

[2020-06-19 14:53] #2032 closed

[2020-06-19 15:03] AnastasiiaOdnoshevna opened #2039 "Error: Verify otp failed"
Precondition
User is changed the mobile number but  isn't approved it via code
Steps to reproduced:
1) Enter the received code to the field
2) Pay attention to the error text/check the console

Actual result: The error message is displayed on the "Edit profiled" page after entering the code to verify mobile number
Expected result: The mobile number should be approved after entering the code
Checke

[2020-06-19 15:17] AnastasiiaOdnoshevna opened #2040 "Erorr: New user failure. Cannot read property slice of null"
- [ ] resolve edge case for dev env (/verify/*) is only called on staging/production
- [ ] should alwyas set otp.email and otp.mobile
- [ ] in dev or when skipping verification just dont verify the code

Precondition
The new user is created and the "sing up" page with "Let's start!" button is displayed
Steps to reproduced:
1) Click the "Let's start!" button
2) Pay attention to the error pop-up/che

[2020-06-19 15:44] yaroslav-fedyshyn-nordwhale commented on #1998
The link to the PR - https://github.com/GoodDollar/GoodDashboard/pull/25

[2020-06-19 15:50] mauriguz opened #2041 "Sync with master"
We want to update all react-native code with latest master. While doing the merge we need to make sure the app is stable and bugs free for both web & mobile.

[2020-06-19 15:55] mauriguz opened #2042 "ReactNative - Use useOnPress anywhere to preventDefault()"

[2020-06-19 15:55] mauriguz opened #2043 "ReactNative - UI fixes"

[2020-06-19 15:55] mauriguz opened #2044 "ReactNative - Claim queue"

[2020-06-19 15:56] serdiukov-o-nordwhale commented on #2038
Just the GUN is down again on QA. I couldn't restart it as still have no accesses to its dyno in the Heroku

[2020-06-19 15:58] mauriguz opened #2045 "Claims counter changes"

[2020-06-19 15:58] AnastasiiaOdnoshevna opened #2046 "(BUG) The bymobile/ byemail/ bywalletAddress values aren't got"
After changing mobile/email in the console should be displayed such values in GD_trust:
[code]
Actual result:
![2020-06-19_18-35-26.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/306bc4d7-12dd-4500-bcb1-dbf7a399b7f9)
Checked on DEV V0.24.1-2
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.101
Desktop: Windows 10 // Google Chrome  83.0.4103.106

[2020-06-19 15:58] mauriguz opened #2047 "ReactNative - Analytics changes"
## Description

We need to make sure all analytics libraries are properly working for react native. In doing so we might need to test some of the current implementation and in other cases we need to migrate to the corresponding npm packages.

### Plan of attack (by priorities)

1. Amplitude -> move to npm package, should work cross-platform
2. Sentry -> test and make sure works cross-platform usin

[2020-06-19 15:59] mauriguz opened #2048 "ReactNative - User should be able to export his wallet to other wallets"

[2020-06-19 15:59] mauriguz opened #2049 "Sync with master. Latest features"

[2020-06-19 16:04] serdiukov-o-nordwhale commented on #2046
@sirpy
According to the goodserver's code:

[code]
the `bymobile`, `byemail` and`bywalletAddress` props also should be returned on `/trust` call

Earlier, during the #176 tests QA were getting the almost completed response:
[code]
(just the `byemail` field was absent)

Now we have only `goodDollarPublicKey`

[2020-06-19 16:08] serdiukov-o-nordwhale commented on #2046
But the most interesting is that email / username / phone updates somehow, without having index id (GUN's references where its values should be stored) set

[2020-06-21 06:10] sirpy commented on #2038
@AnastasiiaOdnoshevna @serdiukov-o-nordwhale
the gooddashboard for qa heroku server was with old configuration. restarted it.

[2020-06-21 08:24] tomerGD commented on #1997
@sirpy Change so bubble will be per country.

[2020-06-21 08:39] tomerGD commented on #1915
- Don't release to the production, wait for phase 1 official launch.

[2020-06-21 11:12] sirpy commented on #2046
@serdiukov-o-nordwhale made some changes. should be ok now.

[2020-06-21 13:59] LiavGut opened #2050 "PHASE 1: Remove “14 days claim” card and popup"
Remove “14 days claim” card and popup

*** RELEASE ONLY WHEN PHASE 1 IS LAUNCHED ***

[2020-06-21 14:02] LiavGut opened #2051 "PHASE 1: Update Privacy policy + Term of use"
This is assigned to Ziv, waiting for the new text.

*** RELEASE ONLY WHEN PHASE 1 IS LAUNCHED ***

[2020-06-21 19:56] sirpy opened #2052 "Finalize design of login options"
Design:
- [x] All elements have been shifted up because of the third button. Please verify the new positions and margins.
- [x] once clicking on "AGREE & CONTINUE PASSWORDLESS" - The button splits into 2 small buttons.
- [x] small device like iphone5 needs to be checked

https://xd.adobe.com/view/8f60ae80-cd98-42fc-8ae7-29bd5089b8f6-da33/

![Screen Shot 2020-07-06 at 12.08.53.png](https://images.z

[2020-06-21 20:37] sirpy commented on #1336
already working as expected

[2020-06-21 20:37] #1336 closed

[2020-06-21 20:38] sirpy commented on #1723
@Sergezdv need your help on this

[2020-06-22 05:55] sirpy commented on #2028
@LiavGut @tomerGD need "how to do that" link

[2020-06-22 05:57] sirpy commented on #2050
it is already set to do that only if isPhaseZero is true

[2020-06-22 05:57] #2050 closed

[2020-06-22 06:25] LiavGut commented on #2028
@sirpy "how to do that" link will be directed to the relevant guides on FAQ screen.
It will take some time to build those guides, don't you prefer to move forward with this ticket in the meantime?

[2020-06-22 07:09] LiavGut opened #2053 "(BUG) Claim: stats line isn't showing the correct data"
![Screen Shot 2020-06-22 at 10.06.15.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/401e7e72-1a40-480e-bdf0-064acd52e80d)

[2020-06-22 09:49] yaroslav-fedyshyn-nordwhale commented on #1997
The link to the GoodDashboard PR - https://github.com/GoodDollar/GoodDashboard/pull/26

[2020-06-22 10:17] AnastasiiaOdnoshevna commented on #2046
returns all four values (look at the screenshot)
Checked on the DEV V 0.24.1-3
Desktop: Windows 10 // Google Chrome  83.0.4103.106
![2020-06-22_13-07-16.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/df517319-0c2a-472d-8953-fb21769425fa)

[2020-06-22 10:27] tomerGD opened #2054 "Invitation model with rewards"

[2020-06-22 10:44] AnastasiiaOdnoshevna commented on #1965
The screen is displayed correctly
Checked on DEV V0.24.1-3
Desktop: Windows 10 // Google Chrome  83.0.4103.106
MacBook Pro 6.2 2010 //OS X High Sierra 10.13.6 // Google Chrome  83.0.4103.106
![2020-06-22_13-22-34.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/c915b381-151e-4ad2-b70d-5125179af19b)

[2020-06-22 10:44] #1965 closed

[2020-06-22 10:45] tomerGD opened #2055 "Invite rewards smart contract"
Precondition -
In phase 2 people who invite should be rewarded with G$, the following doc explains how is the invite reward calculated

https://docs.google.com/document/d/1i8AValrU_kCJXhG6lmQmkfvNlCaR9I3LL7g3NBZGnRo/edit#

[2020-06-22 10:51] AnastasiiaOdnoshevna commented on #2038
STATISTICS is displayed
Checked on QA V0.24.1-3
Desktop: Windows 10 // Google Chrome  83.0.4103.106

[2020-06-22 10:51] #2038 closed

[2020-06-22 11:17] AnastasiiaOdnoshevna opened #2057 "(BUG) TypeError: r is not a function"
Precondition
The "Export my wallet" page is displayed
Steps to reproduced:
1) Click the "Copy key" or "Copy Address" button
2) Pay attention to the error in the console

Actual result: The user can't copy  key and wallet on the "Export my wallet" page after clicking these buttons
Expected result: The key or address should be copied to clipboard  on the "Export my wallet" page after clicking  "Copy

[2020-06-22 11:29] serdiukov-o-nordwhale commented on #1984
@yaroslav-fedyshyn-nordwhale please design the popup
i've made a branch for this task
https://github.com/GoodDollar/GoodDAPP/tree/1984-user-should-see-a-message-about-face-verification-disabled-for-24-hours

don't create a PR once done - just notify me here or in the Slack

[2020-06-22 13:20] yaroslav-fedyshyn-nordwhale commented on #1984
@serdiukov-o-nordwhale
I pushed the changes with popup design.

[2020-06-22 14:30] AnastasiiaOdnoshevna commented on #1442
@LiavGut should the wallet private key be displayed with an ellipsis at the center?
![2020-06-22_17-17-47.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/1178b7fb-d8b3-4da5-b93c-712890de5583)

[2020-06-22 15:04] #2046 closed

[2020-06-22 15:15] LiavGut commented on #1442
@AnastasiiaOdnoshevna Yes, we did it to align it with the design of the User face record ID (it's longer)
But, we should see only 13 characters on each side of the "...".
In any way, it looks like it has too many characters even without the "..."

@yaroslav-fedyshyn-nordwhale

[2020-06-22 15:41] LiavGut opened #2059 "PHASE 1: Feed: Update welcome popup text"
1. Change text
2. Change button label

https://xd.adobe.com/view/c00fd625-67f1-4be8-b069-98a6b0106338-955c/

*** RELEASE ONLY WHEN PHASE 1 IS LAUNCHED ***

![Screen Shot 2020-06-22 at 18.39.48.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/1eac0501-d1ad-4e6f-8fb5-c9ff0b6a4082)

[2020-06-22 19:48] sirpy opened #2061 "zoom face verification takes long time to load"
- [x] it used to  load very quickly especially if it was preloaded.
now it takes a long time to load even after it prints "zoomsdk ready"
for me sometimes it even doesnt load. just stuck on loading spinner
on Production it seems fine. it happens on gooddev

- [x] If once the zoom screen is  shown, I press on the X to close it. Then press verify me, it says "initializing  zoomsdk", then gets stuck.

[2020-06-22 19:51] sirpy commented on #2039
fixed here https://github.com/GoodDollar/GoodServer/commit/6b75e0e6dba30919b9b3c6c513a54e7695928245

[2020-06-23 01:00] mauriguz opened #2062 "React native - Face verification iOS"

[2020-06-23 01:01] mauriguz opened #2063 "React native - Face verification Android"
Implement Face verification feature into native, more specifically **Android**

[2020-06-23 01:06] mauriguz opened #2064 "Fix dotenv for react native"
React native isn't taking goodServerUrl & gunUrl correctly, instead is always pointing to the default localhost url.
Fix react native to take the correct .env values

[2020-06-23 01:07] mauriguz opened #2065 "dotenv"

[2020-06-23 01:09] #2065 closed

[2020-06-23 08:52] sirpy opened #2066 "Torus should work with auth0 email/mobile verification"
- [x] user should be able to login with 1 time code from auth0
- [x] if user uses gmail email in auth0 and then login use google with same email it should be the same account
- [x] if user uses auth0 email he should not need to enter his email address on signup
- [x] if user uses auth0 mobile he should not need to enter his mobile but need to verify his email on signup

[2020-06-23 09:04] AnastasiiaOdnoshevna commented on #1442
@yaroslav-fedyshyn-nordwhale according to the comment Liav, we should see only 13 characters on each side of the "..."
 this issue is moved to review
Checked on DEV V0.24.1-3
Desktop: Windows 10 // Google Chrome  83.0.4103.106

[2020-06-23 10:35] serdiukov-o-nordwhale commented on #2061
@sirpy
we've disabled http cache for zoom resources trying to avoid 65321 error.
This could slow down loading speed.
I've brought back caching headers to the all resources except `_cache.wasm` file causing 65321 issue.

@yaroslav-fedyshyn-nordwhale please re-check Zoom preloading/loading speed on gooddev

[2020-06-23 10:36] serdiukov-o-nordwhale commented on #2061
@yaroslav-fedyshyn-nordwhale remember during #1822 testing you've found that some times it's seems that Zoom doesn't tries to preload. Please check this also.

[2020-06-23 11:15] sirpy opened #2067 "Dashboard map should not have whitespace"
I played with height of iframe and its enclosing elements and it is possible to do it
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/b4e35a43-8851-40a0-a8c4-7fd63ebbb5b5)

[2020-06-23 12:54] serdiukov-o-nordwhale opened #2068 "verify user facebook email from torus"
- [x] upgrade on client to latest torus
- [x] on client signupstate send new data returned from torus "loginParams" to server

[2020-06-23 12:54] yaroslav-fedyshyn-nordwhale commented on #2061
I couldn't reproduce any of the points from the description on the production instance with my account. But I could on dev environment.

1) When I am trying to start Face verification before Zoom SDK preloaded then - I got  65321 error (https://prnt.sc/t4z8yk) and the infinite loader is shown. It doesn't handled with 'subscribeToZoomExceptions' for some reason. If preload performed successfull the

[2020-06-23 12:56] serdiukov-o-nordwhale commented on #2061
have you debugged ? did window.onerror or console.error handlers receives something ?

[2020-06-23 12:58] serdiukov-o-nordwhale commented on #2061
have you debugged useZoomSDK / ZoomSDK::initialize() (from ZoomSDK.web.js) ? which was sdk status **before** initializetion ? what was performed next ?

[2020-06-23 13:48] yaroslav-fedyshyn-nordwhale commented on #2067
The link to PR - https://github.com/GoodDollar/GoodDashboard/pull/27

[2020-06-23 14:28] yaroslav-fedyshyn-nordwhale commented on #2061
@serdiukov-o-nordwhale
I debugged the 'subscribeToZoomExceptions' function and found that it catches the TypeError. In case TypeError occurred we checking if filename includes 'zoom.resouces' substring but it's not included. There's some other string appears. See screen of logged data during debugging - https://prnt.sc/t5188m

I found the place which causes the second issue from the task descripti

[2020-06-24 06:57] reemaSomish opened #2071 "Create contract GoodCompoundStaking"
Create contract GoodCompoundStaking
   - inherits SimpleStaking
   - Write compound specific functions like mint(),redeemUnderlying() etc

[2020-06-24 06:59] #2071 closed

[2020-06-24 08:53] AnastasiiaOdnoshevna commented on #2000
Implemented according to require
Checked on DEV V0.24.1-3
Desktop: Windows 10 // Google Chrome  83.0.4103.106

[2020-06-24 08:53] #2000 closed

[2020-06-24 09:59] AnastasiiaOdnoshevna commented on #1999
The total supply graph indicates data  for each day
upgrading contract's version couldn't be checked on our side
Checked on DEV V0.24.1-3
Desktop: Windows 10 // Google Chrome  83.0.4103.106
[Uploading... 2020-06-24_12-02-58.png ]

[2020-06-24 09:59] #1999 closed

[2020-06-24 10:24] LiavGut commented on #2052
@sirpy
Decisions:
1. No self-custody option for phase1
2. We will go with the current setup (auth0 passwordless email/mobile) - Design will be provided later on.

[2020-06-24 10:45] AnastasiiaOdnoshevna commented on #1998
The total boxes are added
Checked on DEV V0.24.1-3
Desktop: Windows 10 // Google Chrome 83.0.4103.106
![2020-06-24_13-38-29.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/144e6b23-05fd-45b0-8dcd-9c6710b05480)

[2020-06-24 10:45] #1998 closed

[2020-06-24 11:30] AnastasiiaOdnoshevna opened #2072 "(BUG) TypeError: fullscreen error"
Precondition:
The "Statistics" page is opened
Steps to reproduce:
1) Click the "Full screen" button in the "Google Data Studio" box
2) Pay attention to the error message in the console

Actual result: The map isn't expanded in a new tab after clicking the "Full screen" button in the "Google Data Studio" box. And the TypeError: fullscreen error is displayed in the console
Expected result: The map i

[2020-06-24 12:25] AnastasiiaOdnoshevna commented on #2013
@yaroslav-fedyshyn-nordwhale according to the mockup, we should see only 13 characters on each side of the "...".
![2020-06-24_14-44-20.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/c860d223-67ae-4c1d-8c26-28e43fb9d65a)

[2020-06-24 12:38] yaroslav-fedyshyn-nordwhale commented on #2013
@AnastasiiaOdnoshevna I think should cut the string in case it too long and doesn't fit the one line (overflows the box borders). It will be cut for small devices - like iPhone 5s/SE

[2020-06-24 12:38] AnastasiiaOdnoshevna commented on #1442
too many characters are displayed on each side of the "..."
Checked on DEV V0.24.1-3
Desktop: Windows 10 // Google Chrome 83.0.4103.106
![2020-06-24_15-35-24.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/bef658e2-3b0e-420e-911e-8ec34bd6bf63)

[2020-06-24 13:45] serdiukov-o-nordwhale commented on #2013
@yaroslav-fedyshyn-nordwhale please cut to the chars count specified in the mockup. Don't follow container dimensions.
Hash **should always be cut on output** It's not design-related but **security reason**. Like credit/debit cards as generally displaying on repeipts as _5168****1111_

[2020-06-24 13:48] serdiukov-o-nordwhale commented on #1442
@yaroslav-fedyshyn-nordwhale The same thing as in #2013  - hash should be cut to 13 chars left/right three dots due to the **security reasons**

[2020-06-24 13:48] yaroslav-fedyshyn-nordwhale commented on #2013
I discussed this thing with Liav - the main reason why we decided to show it like this is because of the long string do not fit a single line.

[2020-06-24 14:20] yaroslav-fedyshyn-nordwhale commented on #2025
The new branch created within required changes - https://github.com/GoodDollar/GoodDashboard/tree/next

[2020-06-24 14:41] AnastasiiaOdnoshevna commented on #1997
@yaroslav-fedyshyn-nordwhale bubbles aren't displayed on the map
Checked on DEV V0.24.1-3
Desktop: Windows 10 // Google Chrome  83.0.4103.106
![2020-06-24_17-26-22.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/d3da803a-5c6b-4ea0-b566-fb0de3203d8a)

[2020-06-24 15:40] AnastasiiaOdnoshevna opened #2073 "(BUG) ERROR DOMException: Failed to read the 'localStorage' property from 'Window'"
Precondition:
The page is opened in the incognito tab (reproduced only here)
The context menu is opened

Steps to reproduce:
1) Click the "Statistic" button
2) Pay attention to the error message in the console

Actual result:  The "DOMException: Failed to read the 'localStorage' property from 'Window'" is displayed in the console
Expected result: The "DOMException: Failed to read the 'localStorage

[2020-06-24 16:06] AnastasiiaOdnoshevna commented on #2039
@serdiukov-o-nordwhale
fix of this issue was released and checked
Issue is reproduced
Checked on QA V0.24.1-3
Desktop: Windows 10 // Google Chrome  83.0.4103.106

[2020-06-25 06:08] sirpy commented on #2073
@AnastasiiaOdnoshevna i think this is very specific to a device/machine.
see https://www.chromium.org/for-testers/bug-reporting-guidelines/uncaught-securityerror-failed-to-read-the-localstorage-property-from-window-access-is-denied-for-this-document

does this happen on other computers also?

[2020-06-25 06:15] sirpy commented on #1997
@AnastasiiaOdnoshevna that's ok, we are playing with the look and feel.
we need to verify that map details change as people claim. try claiming from another country, or just claim and verify that the value on hover grows

[2020-06-25 06:24] sirpy commented on #2025
@AnastasiiaOdnoshevna this can be tested on gooddashboard.herokuapp.com
see PR

[2020-06-25 06:51] sirpy commented on #2072
@AnastasiiaOdnoshevna this also seems like a device specific issue.
try on other computers.

[2020-06-25 06:53] sirpy commented on #1998
@AnastasiiaOdnoshevna did you verify the data also gets updated?

[2020-06-25 08:00] sirpy commented on #2028
@LiavGut you can split it into two issues then. one about the popup + how to do that and the other with the rest of the changes.
for the FAQ we should just put links to existing guides. lets not make a fuss out of everything.

[2020-06-25 08:07] yaroslav-fedyshyn-nordwhale commented on #1442
Link to the PR with fixes - https://github.com/GoodDollar/GoodDAPP/pull/2074

[2020-06-25 09:25] LiavGut commented on #2013
@serdiukov-o-nordwhale
From my end, it was only a design decision, because it was too long.
@sirpy Do we have security issues here that needs the key to be hashed?

[2020-06-25 09:32] LiavGut commented on #2028
@sirpy OK, I'll add another ticket for the "How to do that?" link.

Regarding the FAQ, we want to copy Chrome's and Safari's existing guides into our FAQ, we just want to verify with Ziv if it's ok or just a link to the original guides.

[2020-06-25 09:53] yaroslav-fedyshyn-nordwhale commented on #2040
I tested the existed PR (https://github.com/GoodDollar/GoodServer/pull/188) which should resolve this issue. The issue resolved - I couldn't reproduce the issue - so its resilved

[2020-06-25 10:08] serdiukov-o-nordwhale commented on #2040
@AnastasiiaOdnoshevna Could be tested once https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/goodserver/188 will be merged

[2020-06-25 10:09] LiavGut opened #2075 "PHASE 1: Update invite screens"
1. Update Title + text
2. Change the background color to #EEEEEE
3. Add shadow to the components: ![Screen Shot 2020-06-25 at 13.04.44.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/d7316006-4dbc-4226-a9d3-7b6d9d36d9c5)
4. Remove the "BAR" component.

*** RELEASE ONLY WHEN PHASE 1 IS LAUNCHED ***

https://xd.adobe.com/view/31a5fe4f-8ed5-4b78-af59-1bdedc47f99b-64f6/

![Screen Sh

[2020-06-25 10:11] sirpy commented on #1903
@tomerGD progress?

[2020-06-25 10:15] AnastasiiaOdnoshevna commented on #2072
@sirpy I checked on the MacBook Pro 6.2 2010 //OS X High Sierra 10.13.6 // Google Chrome
The same error is displayed

[2020-06-25 10:23] LiavGut opened #2076 "PHASE 1: Update Invite card text"
"Invite your friends now
and let them also claim free G$’s"

*** RELEASE ONLY WHEN PHASE 1 IS LAUNCHED ***

![Screen Shot 2020-06-25 at 13.20.06.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/31ce9a77-3437-4f9e-9ebf-a36be880f701)

[2020-06-25 10:37] AnastasiiaOdnoshevna commented on #1998
The Value:3 is displayed in each box. After claiming the "Total Unique Claimers" isn't updated
![2020-06-25_13-32-58](https://user-images.githubusercontent.com/54942555/85704525-0a05aa00-b6e9-11ea-9af9-eec14e49fea1.png)

[2020-06-25 10:40] sirpy commented on #1998
@AnastasiiaOdnoshevna did you claim from a new account? unique claimers is how many unique users. if you claim from an account that claimed before it will not increase the count

[2020-06-25 10:43] sirpy commented on #2013
it doesnt hurt.
as long as the copy button copies everything

[2020-06-25 11:03] AnastasiiaOdnoshevna commented on #1998
@sirpy Yes I used the created account before
We rechecked on a new account. the values are changed in each box
![2020-06-25_14-01-41](https://user-images.githubusercontent.com/54942555/85708220-9f566d80-b6ec-11ea-8644-6939f7fb7f10.png)

[2020-06-25 11:46] sirpy commented on #2072
@AnastasiiaOdnoshevna @yaroslav-fedyshyn-nordwhale @serdiukov-o-nordwhale
this and the localstorage issue happen because we display the dashboard in an iframe and they are on different domains.

if you go directly to the dashboard at
gooddashboard-dev/gooddashboard .herokuapp.com it will work fine
for production we have gooddash.gooddollar.org so it will be on same domain as wallet and these issue

[2020-06-25 11:47] sirpy commented on #2073
@AnastasiiaOdnoshevna same as 2072. merge them into one issue and test when released on production

[2020-06-25 11:47] #2073 closed

[2020-06-25 11:59] AnastasiiaOdnoshevna commented on #2073
@sirpy you are right ... I checked for incognito and  the "Block third-party cookies and site data" checkbox is set
When the checkbox enable for ordinary tab then you can see the error too but after disabling the error isn't displayed
![2020-06-25_14-24-56](https://user-images.githubusercontent.com/54942555/85715310-fc095680-b6f3-11ea-860d-bce399c8a829.png)

[2020-06-25 12:29] yaroslav-fedyshyn-nordwhale commented on #2057
This is already fixed in #2074

[2020-06-25 12:31] AnastasiiaOdnoshevna commented on #2025
@sirpy as I got it should be tested on the prod?

[2020-06-25 13:49] #2068 closed

[2020-06-25 15:26] sirpy commented on #2025
we have goodnext.netlify which is phase1 qa env

[2020-06-26 11:50] AnastasiiaOdnoshevna commented on #1997
@sirpy I claimed from Canada (before the claim's history of Canada was empty) and after just one claims the 100 claims are displayed
![2020-06-26_14-34-55.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/e211dbcf-a6cb-4404-a1a4-016662a14183)

[2020-06-26 12:09] AnastasiiaOdnoshevna commented on #2061
cache.wasm file causing 65321 issue, the setting of that file was changed to 'no_cache'
So, during checking the 65321 error isn't detected
and visually the zoom is loaded faster
Checked on DEV V0.24.1-4
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.101
Desktop: Windows 10 // Google Chrome  83.0.4103.106

[2020-06-26 12:09] #2061 closed

[2020-06-26 12:47] AnastasiiaOdnoshevna commented on #2053
The value of G$ and people decreases after claiming
https://www.screencast.com/t/RRFShs09vNu
Checked on DEV V0.24.1-4
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.101

[2020-06-26 13:12] serdiukov-o-nordwhale commented on #2061
@AnastasiiaOdnoshevna "visually" isn't full criteria i wanted to check
were no_cache headers absent on /zoom/resorces/* files during zoom loading and present on _cahce.wasm file only

[2020-06-26 13:47] AnastasiiaOdnoshevna commented on #2061
@serdiukov-o-nordwhale no_cache is present only in the _cache.wasm file ...other routes with /zoom/resources/* without no_cache (only   cache-control: public, max-age=0, must-revalidate (see video))
https://www.screencast.com/t/aPdrRpRXvS

[2020-06-26 14:31] serdiukov-o-nordwhale commented on #2061
@AnastasiiaOdnoshevna Good, thanks

[2020-06-26 15:19] AnastasiiaOdnoshevna commented on #2066
I checked on the NEXT env auth0 and there're results :
1) VIA MOBILE ( the "submit verification code is failed / cannot read property slice of undefined" on the "verification code" page after entering the invalid code(cause as I know email verification code functionality is disabled, so I couldn't use valid))![2020-06-26_16-59-33.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/5

[2020-06-26 15:40] yaroslav-fedyshyn-nordwhale commented on #1906
I didn't use the 'network' error category as there is only one log about connection failed in src/components/common/connectionDialog/internetConnection.js
and it is logged with warning level - so it won't be reported to the bug tracking systems.

[2020-06-28 08:32] sirpy commented on #2039
@AnastasiiaOdnoshevna fixes should be tested on dev unless you have released QA after fix was applied

[2020-06-28 10:55] sirpy opened #2080 "Fix smart contracts v2 failing unit tests"
next branch uses v2
need to make sure they are deployed correctly in tests ie ubischeme and firstclaimbonus have GD in them

[2020-06-28 11:17] #1984 closed

[2020-06-28 12:24] sirpy opened #2081 "Install nginx on our face verification zoom server"
https://github.com/wmnnd/nginx-certbot

@sirpy
- [ ] only expose nginx port 80
- [ ] dont expose zoom to public
- [ ] proxy to zoom local ip port
- [ ] add basic authentication

@serdiukov-o-nordwhale
- [x] add POST /verify/face/session endpoint to the good server, proxy get session id call to our zoom server inside
- [x] modify dapp (FaceVerificationAPI class). issueSession token should call now

[2020-06-28 12:34] sirpy opened #2082 "Face verification server should have backups"
setup vultr to backup our zoom server

[2020-06-28 13:10] #2082 closed

[2020-06-28 13:52] sirpy opened #2083 "(Bug) copy button has no action indication"
when pressing on copy id (in profile privacy) the button has no effect.
- [x] button should have same material design effect as our other buttons
- [x] verify other copy  buttons (export wallet etc) have the effect

[2020-06-28 13:53] sirpy commented on #2083
@yaroslav-fedyshyn-nordwhale

[2020-06-28 18:00] sirpy commented on #1723
solution is to change jwt password

[2020-06-28 18:00] #1723 closed

[2020-06-28 18:01] sirpy commented on #2015
@AnastasiiaOdnoshevna please supply user credentials

[2020-06-28 18:13] sirpy opened #2084 "Verify torus works on mainnet"
Hadar
- [x] create app ids for productions facebook,google,auth0
- [x] deploy with Torus

Alexey
- [x] add config option to run torus on mainnet both on server/dapp
- [x] set goodnext to use mainnet

[2020-06-29 11:01] sirpy opened #2085 "redact pii"
- [x] on production env
- [x] use pino redact to remove  any items related to "mnemonic","privatekey","mobile","email","password","pass","seed"

[2020-06-29 11:04] sirpy commented on #2053
@AnastasiiaOdnoshevna notice that the stats are dialy, so if the user is the first the stats will reset.
that being said it was an issue with the smart contract that it shows the stats of the last day where someone claimed.
i've fixed it.

[2020-06-29 20:21] sirpy opened #2086 "cleanup gtm"
- [ ] remove unused tags
- [ ] in used tags remove unused scripts
- [ ] in used tags list the scripts we put and why/who uses them

[2020-06-29 20:23] LiavGut opened #2087 "PHASE 1: Update claim popup text"
https://xd.adobe.com/view/3aa8b6ec-58e7-4364-810c-ebfcb78921ab-6ffb/

*** RELEASE ONLY WHEN PHASE 1 IS LAUNCHED ***

![Screen Shot 2020-06-29 at 23.11.00.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/7ff661bb-2900-47a2-a209-a48c33aac484)

[2020-06-29 20:46] LiavGut opened #2088 "Claim's numeric counter - character spacing should be smaller (as per design)"
https://xd.adobe.com/view/b5c79324-449f-43d2-a7d4-884d6f35b380-e094/

![Screen Shot 2020-06-29 at 23.43.25.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/95ed3320-2efb-4592-9268-9a0ddf218df2)

[2020-06-30 06:47] sirpy opened #2089 "Disable bonuses for non phase0"
- [x] on client
- [x] on server

[2020-06-30 09:19] AnastasiiaOdnoshevna commented on #2015
@sirpy one of those accounts where it had been reproduced testsundays29@gmail.com /Qwert_321 but I recently have checked and this issue isn't reproduced anymore

[2020-06-30 09:58] serdiukov-o-nordwhale commented on #2081
@sirpy Do we have our zoom server ? Would the dedicated Zoom server to be included into Phase 1 ?
According  to the docs we could use "Standard Server" option which API doesn't differs from testing API https://dev.facetec.com/#/standard-server-rest-api
So from the dapp/goodserve side it won't be an big issue to switch onto custom server.
It would be devops mostly thing (configure server, configure

[2020-06-30 10:02] serdiukov-o-nordwhale commented on #2081
@sirpy  Also i've splitted subtask between us - i would handle the dapp/server side related issues

[2020-06-30 10:32] AnastasiiaOdnoshevna commented on #2053
The counter grows with every claim by 1 value
Checked on DEV V0.24.1-5
Desktop: Windows 10 // Google Chrome  83.0.4103.106

[2020-06-30 10:32] #2053 closed

[2020-06-30 10:45] AnastasiiaOdnoshevna commented on #2057
The "copy address" and "copy key" buttons works
Checked on DEV V0.24.1-5
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.101
Desktop: Windows 10 // Google Chrome 83.0.4103.106

[2020-06-30 10:45] #2057 closed

[2020-06-30 11:18] AnastasiiaOdnoshevna commented on #2015
the issue isn't reproduced
Checked on PROD V0.24.0:
Desktop: Windows 10 // Google Chrome 83.0.4103.116

[2020-06-30 11:18] #2015 closed

[2020-06-30 12:08] sirpy commented on #2075
@AnastasiiaOdnoshevna can be tested on dev

[2020-06-30 12:11] AnastasiiaOdnoshevna commented on #2039
The issue isn't reproduced
Checked on DEV V0.24.1-5
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.101
Desktop: Windows 10 // Google Chrome  83.0.4103.116
Video: https://www.screencast.com/t/Wi9MVqEurbn

[2020-06-30 12:11] #2039 closed

[2020-06-30 12:28] AnastasiiaOdnoshevna commented on #2013
The "My Face Record ID" is displayed according to design
Checked on DEV V0.24.1-5
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116
![2020-06-30_15-25-31.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/d9eb6a6a-8d7f-4e57-82d8-c97a145f1a6c)

[2020-06-30 12:28] #2013 closed

[2020-06-30 12:39] #1442 closed

[2020-06-30 12:39] AnastasiiaOdnoshevna commented on #1442
The "My Wallet Private Key" is displayed according to design
Checked on DEV V0.24.1-5
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116
![2020-06-30_15-36-59.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/61286785-11df-414c-adc7-d2dc932bab88)

[2020-06-30 12:44] sirpy commented on #2013
@AnastasiiaOdnoshevna notice that the copy button doesnt have an effect like other buttons. need to watch for these things also.

[2020-06-30 13:11] AnastasiiaOdnoshevna opened #2094 "(BUG) The "copy" buttons don't have an effect of tapping/clicking"
Precondition:
The "Profile privacy" page is opened
Steps to reproduce:
1. Click the "Copy ID" button
2. Pay attention to the lack of effect of tapping/clicking

Actual result: The "Copy ID" button doesn't have an effect of tapping/clicking
Expected result: The effect of tapping/clicking should be displayed after tapping the "Copy ID" buttons

**Note:** The copy buttons (copy address/copy key) don'

[2020-06-30 13:12] AnastasiiaOdnoshevna commented on #2013
@sirpy added a new issue #2094

[2020-06-30 13:14] serdiukov-o-nordwhale commented on #2094
duplicate of #2083

[2020-06-30 13:14] #2094 closed

[2020-06-30 14:17] AnastasiiaOdnoshevna commented on #1819
@sirpy
1) The passwordless email/mobile is present
2) If the user uses the google email and has already G$ account then the user will get in the same account via auth0
Checked on the NEXT  0.24.1-5
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-06-30 14:17] #1819 closed

[2020-06-30 14:31] yaroslav-fedyshyn-nordwhale commented on #2085
@sirpy

'redact' option is not supported for the browser version of the Pino logger.
Here is the list of available configs - https://github.com/pinojs/pino/blob/613d700fc2b77768bbbc84095a5cc28fb745b10d/docs/browser.md

We can try to manage this with ‘write’ config like this:
[code]

but in this case, all of the logs will be outputted as objects with ‘msg’ field which contain all of our passed data

[2020-06-30 15:37] AnastasiiaOdnoshevna commented on #2066
auth0 email/mobile works according to require
Checked on QA V0.24.1-5
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-06-30 17:55] #641 closed

[2020-07-01 08:50] AnastasiiaOdnoshevna commented on #2067
The scroll bar isn't displayed in the "google data studio" box
Checked on DEV V0.24.1-5
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-01 08:50] #2067 closed

[2020-07-01 09:32] AnastasiiaOdnoshevna opened #2095 "Error: New user failure.You cannot create more than 1 account with the same credentials"
Precondition:
The account G$ is deleted ( before used the google email to log in)
Steps to reproduce:
1. Create account via Google email (use the google email of the recently deleted account)
2. Pay attention to the error message  in the app and in the console

Actual result: The error message is displayed when the user trying to create a new account using the google email of the recently deleted

[2020-07-01 11:14] AnastasiiaOdnoshevna commented on #1997
@yaroslav-fedyshyn-nordwhale I claimed from Germania (before the claim's history of Germania was empty) and after just one claims the 1 claims is displayed as it required
Checked on DEV V0.24.1-5
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-01 11:14] #1997 closed

[2020-07-01 13:11] serdiukov-o-nordwhale commented on #2085
Unfortunately there's no way to apply any kind of censorship in browser without hacks/workarounds
There's an serializers could mutate some args but they could process top-level props only and doesn't provides wildcard option

So, here's a solution based on JavaScript `Proxy` objects. We just proxy-wrapping logger (and children created), and filtering/censoring arguments _before call original log m

[2020-07-01 13:32] sirpy opened #2096 "(Bug) pending sent feed item modal should say "copy payment link""
when you open the orange feed item it says "share link" also for desktop
on desktop it should be "copy link" (or copy payment link" and on mobile share. since on mobile it opens the share while on desktop it copies to clipboard

[2020-07-01 14:46] YuryAnanyev opened #2097 "[BUG] An error message is appears when try to create a new wallet"
Steps:
- go to https://gooddev.netlify.app/
- click on "Agree & Continue with self custody wallet" link
- enter valid data
- pay attention to the screen

![bug_create_wallet-2020-07-01.jpg](https://images.zenhubusercontent.com/5eb529c8c90bb26b8aaf9d9d/3224aa6e-1a38-48ee-8203-13df13ef60d4)

video: https://www.screencast.com/t/7NPbz0qpxlG

[2020-07-01 16:14] serdiukov-o-nordwhale commented on #2084
1. Will adjust unit tests tomorrow
2. Have set 'mainnet' and  '0x6386....' contract address to goodnext in Netlify. I've took this value from unit tests. @sirpy is it correct ?
3. I do not have accesses to goodnext in Heroku so i couldn't update goodnext server's env

[2020-07-02 07:32] AnastasiiaOdnoshevna commented on #2083
@sirpy such effect, is it an expected result?
Video: https://www.screencast.com/t/426yngnGWupf

[2020-07-02 09:05] sirpy opened #2101 "Communicate to inactive user why he can only claim 1 G$"
if user doesnt claim for X days then he becomes inactive.
inactive users when they claim the first time they get the claim amount from the firsttimeclaim pool which is currently set at 1G$. in the begining the claim amounts will probably be  in the hundreds as we print 10000 for each $1.
This might confuse the user.

[2020-07-02 09:19] sirpy commented on #2087
@LiavGut @tomerGD
what goods and services? maybe we should write something more realistic

[2020-07-02 10:11] LiavGut commented on #2101
Explaining this might confuse the user even more... :)

[2020-07-02 10:25] serdiukov-o-nordwhale commented on #2085
On NodeJS, when redact mode enabled pino prints **stringified copies censored** instead of the object.
This allows to restore mutated object once we've got it's censored stringified copy.

Let's use this aproach in the browser too.
Here's updated version:

[code]

@yaroslav-fedyshyn-nordwhale please update implementation and remove any attempts to clone -  they're not needed anymore

[2020-07-02 10:31] AnastasiiaOdnoshevna opened #2104 "(BUG)The "Delete account" button [TypeError: is not a function ]"
Precondition:
The context menu is opened
Steps to reproduce:
1) Click the "Delete account" button
2)Pay attention to the lack of pop-up with the deleting information and error message in the console

Actual result: The "are you sure?" pop-up isn't displayed on the screen after clicking the "Delete account" button. The [TypeError: is not a function ] error message is displayed in the console
Expect

[2020-07-02 10:35] serdiukov-o-nordwhale commented on #2087
@yaroslav-fedyshyn-nordwhale don't start this task right now, please wait until ready

[2020-07-02 11:30] AnastasiiaOdnoshevna commented on #1977
Registration_Complete = True
And a new user is created and displayed in the Mautic

![2020-07-02_12-15-43.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/1582e0dc-ec3e-45b4-8ea7-bb0bf0384695)
![2020-07-02_14-26-14.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/ae2b266c-0077-4e39-aa79-281e6ef9dc28)

[2020-07-02 11:33] AnastasiiaOdnoshevna opened #2105 "Update tests according to changes in Claim functionality"

[2020-07-02 11:42] AnastasiiaOdnoshevna commented on #2097
Fixed on the qa and dev env/ the user is created successfully
Checked on DEV/QA V0.24.1-5
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-02 11:42] #2097 closed

[2020-07-02 12:30] #1906 closed

[2020-07-02 13:57] AnastasiiaOdnoshevna commented on #1693
@sirpy @serdiukov-o-nordwhale
The issue is reproduced for  DEV V0.24.1-5
Desktop: Windows 10 // Google Chrome  83.0.4103.116
![2020-07-02_14-52-24.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/67b02bbc-480f-4dd9-80c2-e9aa8c34ddf6)

[2020-07-02 13:57] serdiukov-o-nordwhale commented on #2085
Updated implementation
@yaroslav-fedyshyn-nordwhale please check it

@sirpy Using now ['<field>', '*.<field>'] including both (nested & top field) cases

[2020-07-02 15:02] AnastasiiaOdnoshevna opened #2108 "(BUG) The user cannot take G$ via specific amount and receive via link"
Precondition
The receive link is copied (specific amount or receive via link)
Steps to reproduced:
1) Open the link
2) Pay attention to the lack of the request pop-up
Actual result:  The user cannot take G$ via specific amount and receive via link
Expected result: The sender should see the request pop up after opening the request link from the recipient and then after approving transfer the G$ sho

[2020-07-02 15:34] AnastasiiaOdnoshevna opened #2109 "(BUG) The "Invite+" button is absent on the "Home" screen despite the fact that this functionality is enabled"
Precondition
The home page is opened
Steps to reproduced:
1) Pay attention to the lack of the "Invite+" button
Actual result: The "Invite+" button is absent on the "Home" screen despite the fact that this functionality is enabled (deploy was successful)
Expected result: The "Invite+" button should be displayed on the  "Home" screen and the user can get in the "Invite" page

Checked on DEV V0.24.1-

[2020-07-02 17:55] yaroslav-fedyshyn-nordwhale commented on #1742
The link to the PR - https://github.com/GoodDollar/GoodServer/pull/194

[2020-07-02 18:26] #1487 closed

[2020-07-02 18:27] #1489 closed

[2020-07-02 18:28] mauriguz opened #2110 "ReactNative - create build flow for Android using GithubActions"

[2020-07-02 18:28] mauriguz opened #2111 "ReactNative - create build flow for iOS using GithubActions"

[2020-07-02 18:28] mauriguz opened #2112 "ReactNative - Run Detox in CI/CD"

[2020-07-02 19:38] serdiukov-o-nordwhale commented on #2109
<img width="1044" alt="image" src="https://user-images.githubusercontent.com/62208067/86402514-9fd6a180-bcb4-11ea-96df-90af56c6e7ce.png">

<img width="1332" alt="image" src="https://user-images.githubusercontent.com/62208067/86402560-b3820800-bcb4-11ea-9db9-d7f8e2623fc9.png">

[2020-07-03 08:58] yaroslav-fedyshyn-nordwhale commented on #1866
@serdiukov-o-nordwhale asked me to test the analytics on gooddev env.
Here is the initialization log of bug tracking systems:
[code]

FS is not present in global scope - it's undefined - what means that FullStory is not initialized via GTM on gooddev.

The FS is available only on the production environment (tested at wallet.gooddollar.org). So I think it should be tested there.

[2020-07-03 09:35] serdiukov-o-nordwhale commented on #1866
@AnastasiiaOdnoshevna You could test it once production will be released

[2020-07-03 10:12] serdiukov-o-nordwhale commented on #2109
there's another env var enabling this button exactly:
`REACT_APP_DASHBOARD_SHOW_INVITE` have set it to true, now you could test invites feature

also we'll merge those env var to the single one to clarify invites setup (like we did with FR where we also had 2 flag to disable-enable)

[2020-07-03 11:48] AnastasiiaOdnoshevna commented on #2109
@sirpy @serdiukov-o-nordwhale
the "Invite+" button is present on the "Home" screen
But the blank page is displayed after clicking the "Invite+" button
I assume that this issue can be solved with no report or better to add a separate issue?
![2020-07-03_14-46-51.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/013f84ff-d463-421a-9a5a-4ffda0ab6fb1)

[2020-07-03 12:20] serdiukov-o-nordwhale commented on #2109
It's seems something os down server side
or CORS hasn't been configured

[2020-07-03 14:27] #2109 closed

[2020-07-03 14:49] AnastasiiaOdnoshevna opened #2116 "(BUG) The "Claim" button is displayed too low after opening the console"
Precondition:
The "Home"  page is opened

Steps to reproduce:
1) Open the "Claim" page
2) Open the console (Dimension of the app screen was 915x882)
3) Reload the page
4) Pay attention to the  "Claim" button (repeat  1-3 steps if the bug isn't reproduced )

Actual result: The "Claim" button is displayed too low and reduced after opening the console
Expected result: The button should save its size

[2020-07-03 15:33] AnastasiiaOdnoshevna commented on #2095
@sirpy @serdiukov-o-nordwhale
The issue is reproduced during checking registration through Facebook on the QA env
Checked on QA V0.24.1-5
Desktop: Windows 10 // Google Chrome 83.0.4103.116
![2020-07-03_18-13-21.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/cd6a84e8-f4b4-4e37-9e5a-71ec5e69730a)

[2020-07-03 15:59] AnastasiiaOdnoshevna opened #2118 "(BUG) Export wallet/Magic link items are displayed on the context menu for Torus user"
- [x] export wallet shown to all account types
- [x] magiclink/seed phrase only shown to self custody

Precondition:
The same account is opened on the two tab

Steps to reproduce:
1) Logout from the first tab
2) Open the context menu on the second tab
3) Pay attention to the new items in the menu

Actual result: Export wallet/Magic link items are displayed on the context menu for Torus user  after

[2020-07-05 06:31] sirpy commented on #2118
@AnastasiiaOdnoshevna export wallet should be shown to everyone
magiclink is in did only for self custody

[2020-07-05 06:54] sirpy commented on #2095
@AnastasiiaOdnoshevna this can happen only if account wasnt deleted on the server
I see there's a bug reported #2104 that delete account actually doesnt work.
did this bug happen during this bug test? if so please merge them into one issue

[2020-07-05 06:57] sirpy commented on #2116
@AnastasiiaOdnoshevna
layout issues because of console being opened should not be considered a bug. lets consider only normal user flows

[2020-07-05 06:57] #2116 closed

[2020-07-05 07:38] sirpy commented on #1693
@AnastasiiaOdnoshevna why do we need this issue if we have #2108 ?

[2020-07-05 07:38] #1693 closed

[2020-07-05 07:53] sirpy commented on #2066
@AnastasiiaOdnoshevna this has already been reported and fixed else please dont duplicate bug reports over the same error.
also this is the signup stage and not specific torus. Torus part is only the popups until you start signup. once user starts filling our signup forms it is no longer Torus related.

we  pushed changes to next server so this should be working on next also.

[2020-07-05 10:22] LiavGut commented on #2052
@sirpy
Decisions 2:
Deploy passwordless email/mobile - ASAP, Don't wait for phase 1

Design:
1. All elements have been shifted up because of the third button. Please verify the new positions and margins.
2. once clicking on "AGREE & CONTINUE PASSWORDLESS":
     a. the button splits into 2 small buttons.
     b. the other buttons (Google and Facebook) become disabled.
     c. a back button (arrow)

[2020-07-06 06:04] sirpy commented on #2104
@AnastasiiaOdnoshevna unable to reproduce

[2020-07-06 07:37] AnastasiiaOdnoshevna commented on #2095
@sirpy as I remember it was the account, deleted about a few weeks ago, and I decide to restore G$ account using the same Facebook account, and I couldn't restore

[2020-07-06 08:30] AnastasiiaOdnoshevna commented on #2040
an account is created successfully, with no error
Video: https://www.screencast.com/t/COTdvOpXES
Checked on QA V0.24.1-5
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-06 08:57] #2040 closed

[2020-07-06 10:48] AnastasiiaOdnoshevna commented on #2108
The receive via link and the specific amount works fine
Feeds are displayed fully
Send works after receive transaction
Checked on DEV V0.24.1-5
Desktop: Windows 10 // Google Chrome 83.0.4103.116

[2020-07-06 10:48] #2108 closed

[2020-07-06 11:31] #1746 closed

[2020-07-06 11:31] #2005 closed

[2020-07-06 11:31] #2007 closed

[2020-07-06 12:29] LiavGut commented on #2101
@sirpy
@tomerGD and I decided it's not necessary at this point.
Thanks

[2020-07-06 13:11] YuryAnanyev opened #2121 "[BUG] When creating a new account, phone and email are not added to the profile"
steps:
- go to https://gooddev.netlify.app/
- created new account with valid data
- go to Edit Profile page
- pay attention to the phone and email fields

the phone and email fields are empty.

![bug_created_new_acc_1_2020-07-06.jpg](https://images.zenhubusercontent.com/5eb529c8c90bb26b8aaf9d9d/6d3a9a78-050b-463e-8960-8b82ab071e5b)
![bug_created_new_acc_2_2020-07-06.jpg](https://images.zenhubuserc

[2020-07-06 13:13] YuryAnanyev opened #2122 "[BUG] it is not possible to change the privacy levels in an already created wallet"
steps:
- go to https://gooddev.netlify.app/
- login from mnemonic
- go to Profile Privacy page
- change the privacy levels and click to the "save" button
- pay attention to the screen

the spinner in the "save" button rotates indefinitely.

![bug_privacy_2020-07-06.jpg](https://images.zenhubusercontent.com/5eb529c8c90bb26b8aaf9d9d/05e3227f-39c1-46e1-9148-8abf0b127032)

video: https://www.screencas

[2020-07-06 13:16] YuryAnanyev commented on #2121
when creating a new wallet through the "self custody" method it happens that saved only phone or only email

[2020-07-06 15:03] serdiukov-o-nordwhale opened #2123 "Resolve "Failed to prepare repo" issue during production deployment"
Sometimes the following error happens:

[code]

If re-deploy manually using 'clean cache & deploy' - deploy passes

1. We could try to use 'clean cache' strategy automatically on each production deployment
There's no option to enable it during CI but it's possible to add workaround - **remove cache after deployment** (so next deployment will be performed without cache).
https://community.netlify.c

[2020-07-06 17:39] LiavGut opened #2124 "Feed: Remove contour from avatar photo (on card + popups)"
The avatar photo circle size should be equal to the size of the icons on the right side.

*** If there are any more places with the avatar, please let me know.

![Screen Shot 2020-07-06 at 20.33.42.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/c0bf9db2-ad92-4273-a4e2-9624a678ac05)![Screen Shot 2020-07-06 at 20.26.29.png](https://images.zenhubusercontent.com/5d53e71a5b89150001a

[2020-07-07 07:17] yaroslav-fedyshyn-nordwhale commented on #2104
This issue appears after the changes for #1906. And I already fixed it earlier and the fix is already in master - so it cant be reproduced.

[2020-07-07 07:33] AnastasiiaOdnoshevna commented on #2104
The issue isn't reproduced
User is able to delete the account
Checked on DEV V0.25.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-07 08:05] sirpy commented on #2052
@LiavGut we'll probably need adjustments for small devices like phone5.

[2020-07-07 08:11] AnastasiiaOdnoshevna commented on #2118
@sirpy @serdiukov-o-nordwhale
the export wallet is displayed for all users
But after performing steps described in this issue, the user can see also backup wallet and a magic link in the context menu

Checked on DEV V0.25.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-07 08:35] sirpy opened #2125 "profile names not updated when opening payment link"
I sent a payment link and the other user opened it, he doesnt see my name in feed and I dont see his name on my feed.
he sees unknown I see the name i've entered when creating the link

[2020-07-07 08:38] sirpy opened #2126 "automated payment/receive link should verify recipient/sender names are updated"
- [ ] test that feed item show the "profile fullname" of the other side and not unknown/name entered in payment link

[2020-07-07 10:54] AnastasiiaOdnoshevna opened #2127 "(BUG) Backup wallet page isn't opened after clicking the "Backup wallet" button in the context menu"
Precondition:
The context menu is opened
Steps to reproduce:
1) Click the "Backup wallet" button
2) Pay attention to the opened "Home" page

Actual result: Backup wallet page isn't opened after clicking the "Backup wallet" button in the context menu
Expected result: Backup wallet page should be opened after clicking the "Backup wallet" button in the context menu

Video: https://www.screencast.com/

[2020-07-07 11:03] AnastasiiaOdnoshevna commented on #2095
@sirpy @serdiukov-o-nordwhale
During checking on the DEV env the issue isn't reproduced
But during checking on the QA env this issue reproduced not only through Facebook as I wrote earlier.  I've recently faced during registration via self custody. (checking was performed with cleaned cache an local storage/also in the incognito tab )
Checked on DEV/QA V0.25.0
Desktop: Windows 10 // Google Chrome

[2020-07-07 11:37] sirpy commented on #2122
@YuryAnanyev @AnastasiiaOdnoshevna i'm not able to reproduce this on dev

[2020-07-07 11:38] sirpy commented on #2121
@YuryAnanyev @AnastasiiaOdnoshevna not able to reproduce this on dev

[2020-07-07 12:41] AnastasiiaOdnoshevna commented on #2121
@serdiukov-o-nordwhale @sirpy I reproduced something like that during registration via custody (#2122/#2121) I think that is a problem what causes these two issues
Starting from registration every user's action calls errors
I checked on Android device and this issue is reproduced every time, but on the PC  is reproduced rarely (if talking about visible side but in the console happens the same)
Vid

[2020-07-07 13:42] yaroslav-fedyshyn-nordwhale commented on #2121
@AnastasiiaOdnoshevna I made some fix to resolve it - please try to test again.

[2020-07-07 14:09] serdiukov-o-nordwhale commented on #2121
@AnastasiiaOdnoshevna please wait ~20min until goddev deploys

[2020-07-07 14:42] LiavGut commented on #2052
@sirpy For small devices, shrink the visual by 25%. Please let me review it when it's done.

Auth0 design changes:

1. If possible, change the font to Roboto.
2. Change "submit" button background color to #00AFFF
3. Change Auth0 logo to our logo
4. The title should be only "GoodDollar" and not "Gooddollar-SMS"
5. Change background color to #0C263D

 ![Screen Shot 2020-07-07 at 17.40.57.png](https:

[2020-07-07 14:44] YuryAnanyev commented on #2121
when creating a new wallet:

![bug_new_wallet_2020-07-07](https://user-images.githubusercontent.com/64954641/86798424-6ff31980-c079-11ea-8517-a4747720f641.jpg)

[2020-07-07 15:17] serdiukov-o-nordwhale commented on #2085
Done

new env vars introduced:

`REACT_APP_TRANSMIT_SECURE` Flag toggling securing of sensitive fields while sending data to the third-party service (e.g. Sentry). Optional. Default: false.
`REACT_APP_TRANSMIT_SECURE_KEYS` A list of sensitive data keys which should be censored from console, separated by comma - ','. Optional. Default: 'mnemonic,password,pass,privateKey,mobile,email,seed'
`REACT_AP

[2020-07-07 15:30] yaroslav-fedyshyn-nordwhale commented on #2118
I pushed changes to master - so need to wait 30 min until it will be deployed.

[2020-07-07 15:36] AnastasiiaOdnoshevna commented on #2121
@sirpy @yaroslav-fedyshyn-nordwhale @serdiukov-o-nordwhale
The same error is displayed and after trying again (close the pop-up and click to the lets start button) the new error appears. After reloading the page user get in the account...but the main issue(errors during registration) is reproduced
Video: https://www.screencast.com/t/4uHBT6twu

[2020-07-07 15:42] sirpy opened #2130 "iframes should load faster"
now iframes uses onload, it seems it waits until the page is fully loaded.
usually its possible to interact with a page before its fully loaded
experiment with the following for possible improvements
https://javascript.info/onload-ondomcontentloaded

**How to test**

Pre-req:

the following snippet have to be added to the:
- support.gooddollar.org
- community.gooddollar.org
- statistic dashboard

[2020-07-07 15:44] sirpy opened #2131 "react svg slowing pageload?"
When the app loads in network tab i can see many svg loads even though they are not necessarily used.
Is that because we convert SVG to components? because of .preload(image) calls?

[2020-07-07 15:47] sirpy opened #2132 "reduce netlify build minutes"
currently we build feature branches but we rarely use their preview
- [x] disable compiling feature branches
- [ ] find a solution for QA to be able to trigger it

[2020-07-07 15:47] AnastasiiaOdnoshevna commented on #2028
Screens are displayed according to require
Checked on the NEXT env V 0.25.0
Desktop: Windows 10 // Google Chrome  83.0.4103.116
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106

[2020-07-07 15:48] serdiukov-o-nordwhale commented on #2131
becasue of .preload() calls.
SVG implemented in RN branch only - have to port in onto master.

we've created separate task for it: https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/1933

once we'll port this feature, we won't have a lot of http calls for svg. So i propose:
- close this issue
- add mvp label to #1933
- left @yaroslav-fedyshyn-nordwhale

[2020-07-07 16:00] serdiukov-o-nordwhale commented on #2130
@sirpy it's impossible to interact with cross-domain iframe's document. so onload is a single way to obtain this event.
if we're displaying websites **we could manage** (e.g. GD blog) we could add small JS code which handles DOMContentLoaded and calls postMessage (which we could handle via iframe tag's instance)

[2020-07-08 09:39] sirpy opened #2134 "Check that wallet and userstorage not loaded on startup"
In the signup test verify that the wallet + userstorage are not initialized when in the login screen
they should be initialized only when starting the registration
you can test this by check that the global variables
userStorage
wallet

are undefined

[2020-07-08 09:51] AnastasiiaOdnoshevna commented on #2121
@yaroslav-fedyshyn-nordwhale if talk about Android this issue is reproduced without any changes after deploying
![2020-07-08_12-44-37.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/2ffe508e-081e-485a-bd83-71585bab2474)

[2020-07-08 09:54] YuryAnanyev commented on #2121
the same situation for the desktop

[2020-07-08 10:01] AnastasiiaOdnoshevna commented on #2118
@yaroslav-fedyshyn-nordwhale @sirpy
The issue isn't reproduced. The user is unable to see the items that can see only custody users
Video: https://www.screencast.com/t/NXWynECFIABz
Checked on DEV V0.25.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-08 11:57] AnastasiiaOdnoshevna commented on #2125
I checked that and after transacted the G$ between two accounts (1 self custody to 2google account) user can see from who that money
But between two google's accounts, one of them get feed with Unknown
Checked on DEV V0.25.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-08 14:16] AnastasiiaOdnoshevna commented on #2127
The magic link and backup wallet aren't displayed
Checked on DEV V0.25.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116
![2020-07-08_17-08-54.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/3a49bfa2-100a-4c27-829c-29965722d582)

[2020-07-08 14:48] AnastasiiaOdnoshevna opened #2135 "(BUG) The subtext in the feeds isn't bolded"
Precondition:
The "Home" page is opened

Steps to reproduced:
1) Enter the userStorage.addAllCardsTest()  to the console (new feeds should be appeared)
2) Pay attention to the subtext

Actual result: The subtext in the feeds isn't bolded and smaller then it should be
Expected result: The subtext in the feeds should be bolded bolded

Checked on DEV V0.25.0
LG V30+ // Android 8.0 // Google Chrome 83

[2020-07-08 14:59] AnastasiiaOdnoshevna opened #2136 "Error: Reached daily transaction limit or not a citizen"
Steps to reproduced:
1)  Send the G$ about 6-8 times
2) Pay attention to the error message in the console

Actual result:  Error: Reached daily transaction limit or not a citizen is displayed after sending the G$ about 6-8 times
Expected result: User should be able to send money more than 8 times

Checked on DEV V0.25.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // G

[2020-07-08 15:34] LiavGut commented on #2052
Add Amplitude events for each login button (and sub buttons).

[2020-07-08 15:52] LiavGut commented on #2135
@AnastasiiaOdnoshevna
The subtext shouldn't be bold, it should be Regular.

[2020-07-08 15:58] AnastasiiaOdnoshevna commented on #2083
effect  is absent for the Copy Key/Copy ID/Copy address
Checked on DEV V0.25.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116

[2020-07-08 20:03] sirpy commented on #1977
@AnastasiiaOdnoshevna
This needs to be tested again
For some reason it was broken on production.
a fix has been pushed.
this should be tested on production
see instruction in issue description how to test

[2020-07-09 08:34] sirpy commented on #2136
@AnastasiiaOdnoshevna this can happen, user runs out of gas.
as i understood this worked on a retry? that's because his gas is being refilled. so the error is expected. maybe messaging should be clearer.

[2020-07-09 08:36] #2135 closed

[2020-07-09 08:44] yaroslav-fedyshyn-nordwhale commented on #2127
@AnastasiiaOdnoshevna I pushed a fix to master - please wait some time and then check it again.

[2020-07-09 08:45] #2101 closed

[2020-07-09 11:07] AnastasiiaOdnoshevna commented on #2127
@yaroslav-fedyshyn-nordwhale
Still reproduced. The magic link and backup wallet aren't displayed
Checked on DEV V0.25.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116
![2020-07-09_14-04-29.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/f1f52ce4-1c6f-495f-ba04-9719e98705b8)

[2020-07-09 11:22] AnastasiiaOdnoshevna commented on #2087
@sirpy
The text should be  "Claim your G$'s today!"
![2020-07-09_14-14-17.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/5c7cb554-7be6-45ec-839c-9706b6dbd05a)

[2020-07-09 12:32] AnastasiiaOdnoshevna commented on #2075
A new user was created through invite link (via custody)
1) Text on the mockup looks bolder than on the screen
2) The social buttons should be displayed on the full-width of card
3) Should be displayed the "Friends invited" text
4) The first letter of name should be displayed instead of the asterisc (letter of first and second name)
5) The name of the user should be displayed
6) The bottom of the

[2020-07-09 12:52] AnastasiiaOdnoshevna commented on #2076
the small letter should be displayed in the "your" word
![2020-07-09_15-45-41.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/71cfdd7f-9f8f-47cd-928e-8127853d9be7)
@sirpy As i got it ...according to this ticket #2135 the "and let them also claim free G$'s" text should be regular, not bold

[2020-07-09 13:01] AnastasiiaOdnoshevna commented on #2059
The old content for demo version is displayed
![2020-07-09_15-57-21.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/c708c05a-8a3e-4068-8fb6-3295f19d1966)

[2020-07-09 13:13] #2083 closed

[2020-07-09 13:13] AnastasiiaOdnoshevna commented on #2083
button's effect is present for the Copy Key/Copy ID/Copy address
Checked on DEV V0.25.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116

[2020-07-09 13:28] serdiukov-o-nordwhale commented on #2121
I think this commit resolved the issue
https://github.com/GoodDollar/GoodDAPP/commit/4bad6789a90d9a6ac560fc6b0cc8328d3ef826ba

Have just tested locally with latest master and the same env as gooddev - everything works well
Then i've re-tried on gooddev and also got success. Tested of macOS+Chrome and on real Android device (Caterpillar CAT S31, 7.0 Nougat, Chrome)

[2020-07-09 13:31] serdiukov-o-nordwhale commented on #2095
I think this commit resolved the issue
https://github.com/GoodDollar/GoodDAPP/commit/4bad6789a90d9a6ac560fc6b0cc8328d3ef826ba

Have just tested locally with latest master and the same env as gooddev - everything works well
Then i've re-tried on gooddev and also got success. Tested of macOS+Chrome and on real Android device (Caterpillar CAT S31, 7.0 Nougat, Chrome)

The following scenario was used

[2020-07-09 13:39] yaroslav-fedyshyn-nordwhale commented on #2127
@AnastasiiaOdnoshevna I found the exact reason of this issue - pushed to master - after some time please test again. Thanks

[2020-07-09 14:25] sirpy opened #2139 "use gun pk-auth"
instead of creating user/pass from signing
we can directly use the private key to create a gun SEA keypair
https://github.com/GoodDollar/gun-pk-auth

## breaking change, this will break the feed when logging out and then login.
## create new test users

[2020-07-09 14:33] yaroslav-fedyshyn-nordwhale commented on #2059
@AnastasiiaOdnoshevna
The changes were lost in some merge - I reverted them and pushed to master.
After some time it will be deployed and you need to create a new account to test the welcome feed text.

[2020-07-09 14:34] yaroslav-fedyshyn-nordwhale commented on #2076
@AnastasiiaOdnoshevna the changes pushed to master - please wait some time and test again. Thanks.

[2020-07-09 15:25] AnastasiiaOdnoshevna commented on #2127
@yaroslav-fedyshyn-nordwhale @sirpy
 The magic link and backup wallet are displayed
And user is able to open the backup wallet page
Checked on DEV V0.25.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116

[2020-07-09 15:25] #2127 closed

[2020-07-09 15:54] AnastasiiaOdnoshevna commented on #2095
@serdiukov-o-nordwhale @sirpy I've checked by this scenario and users was created successfully but some errors like that were present (look at the screenshot: setProfile partially failed" "some of the fields failed during saving")It's related I think to #2121 (because the mobile and email is absent)

But I created new accounts to other checking and I decide to create in incognito and then I faced

[2020-07-09 15:57] serdiukov-o-nordwhale commented on #2095
Clear cache, local storage, everything. Try to start from scratch (as i did)

[2020-07-09 17:37] serdiukov-o-nordwhale commented on #2095
https://www.screencast.com/t/h0E0Lmpj

[2020-07-10 05:45] sirpy commented on #2095
@serdiukov-o-nordwhale maybe the call to server to add user is performed even though the user received the profile error. so on server the registration is ok, but ok client it is not. so second time user press on let's start he is already registered.
1. make sure if any of the client side promises fail in finishregistration then don't call user/add on server
2. maybe if user is already registered

[2020-07-10 08:49] AnastasiiaOdnoshevna commented on #2095
@serdiukov-o-nordwhale @sirpy
I checked it by scenario on the video...and after this checking a tried to create a new account about 4-5 times
also, It has been checked on the Android by this scenario
Registration flow works well for PC and Android
Video: https://www.screencast.com/t/c0KLUDeAqQyV

[2020-07-10 08:50] AnastasiiaOdnoshevna commented on #2122
fixed with #2095

[2020-07-10 08:50] #2122 closed

[2020-07-10 08:50] AnastasiiaOdnoshevna commented on #2121
fixed with #2095

[2020-07-10 09:11] AnastasiiaOdnoshevna commented on #2076
@yaroslav-fedyshyn-nordwhale @sirpy
A feed is displayed according to require ![2020-07-10_12-03-26.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/5c0f4bfa-5805-4f41-8367-9bd6c2ab261d)
As i got it ...according to this ticket #2135 the "and let them also claim free G$'s" text should be regular, not bold
Checked on DEV V0.25.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106

[2020-07-10 09:17] AnastasiiaOdnoshevna commented on #2059
@yaroslav-fedyshyn-nordwhale @sirpy
The pop-up is displayed according to require
![2020-07-10_12-15-34.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/0d11b0fe-bd2e-4297-9d6e-eb3947857b62)
Checked on DEV V0.25.0
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116

[2020-07-10 11:11] AnastasiiaOdnoshevna commented on #2072
@sirpy @serdiukov-o-nordwhale
The map expanded and error isn't displayed
https://www.screencast.com/t/8RiXJH9JHPdO
Checked on DEV V0.25.0
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-10 13:07] AnastasiiaOdnoshevna opened #2141 "Error: Code withdraw failed: Private key must be 32 bytes long"
Precondition:
The payment link is ready
Steps to reproduce:
1) Open the payment link ( user should log out before he opens the link)
2) Pay attention to the error message

Actual result: The "Private key must be 32 bytes long" error message is displayed after logging the wallet through a payment link. If the account is opened(logged) and the user clicks payment link then the issue isn't reproduced

[2020-07-10 14:00] AnastasiiaOdnoshevna commented on #1982
@sirpy
The first user gets a new user in the list of invited persons if the second user  passed the registration through the payment link
Video: https://www.screencast.com/t/EPwwZZSUGXYo
Checked on DEV V0.25.0
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-10 14:47] AnastasiiaOdnoshevna commented on #2089
@sirpy was invited more than 3 friends and no money was received
Checked on DEV V0.25.0
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-10 14:47] #2089 closed

[2020-07-10 15:22] AnastasiiaOdnoshevna commented on #1977
@sirpy I tried to check this issue on the current production and faced error that has recently solved on dev(#2095) I cleared the old data as the @serdiukov-o-nordwhale showed that in the video. But the result - error, maybe it leaked to production
so I cannot create a new account to check the user in the mautic
![2020-07-10_18-08-32.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786

[2020-07-10 15:54] yaroslav-fedyshyn-nordwhale commented on #2052
@sirpy @serdiukov-o-nordwhale
Is it possible to customize the auth0 form?

Regarding Amplitude events - we already track all of the login buttons press:
- in case user logged in we do:
[code]

- in case user not exist:
[code]

[2020-07-12 05:41] sirpy commented on #2096
@LiavGut @tomerGD what are the expected texts?

[2020-07-12 05:55] sirpy commented on #2141
@AnastasiiaOdnoshevna please make it a habbit (add it to the bug format) to:
1. supply inputs like payment links
2. supply accounts credentials if you think it is necessary to reproduce
3. complete console logs (not only errors) either as part of the video, needs to be highres, or uploaded as a file

[2020-07-12 05:56] #1129 closed

[2020-07-12 05:56] #1941 closed

[2020-07-12 05:57] sirpy commented on #1962
doesnt seem to happen with latest torus

[2020-07-12 05:57] #1962 closed

[2020-07-12 05:58] #1357 closed

[2020-07-12 05:58] #1504 closed

[2020-07-12 06:00] sirpy commented on #2024
this can happen if server is a sleeping. it is a bug if it happens after you made sure dev server is up
ie it returns gooddev.herokuapp.com/auth/ping

[2020-07-12 06:01] sirpy commented on #2136
@AnastasiiaOdnoshevna

[2020-07-12 06:40] sirpy commented on #1824
@LiavGut
2. is not possible, to match the design on larger screens the margin between the buttons will stretch
so text "or share" always starts with the round link box and last share button always ends with the copy button box.

[2020-07-12 07:28] sirpy commented on #1977
@AnastasiiaOdnoshevna
things can be tested on production/qa only when we do a release.
i'll finish setting up QA today so you'll be able to test this on  QA env tomorrow

[2020-07-12 07:40] sirpy commented on #2075
@AnastasiiaOdnoshevna please provide both users credentials

[2020-07-12 07:59] LiavGut commented on #1824
@sirpy OK.
Can we add a minimum margin between them, 13px?

[2020-07-12 08:11] LiavGut commented on #2096
@sirpy

COPY LINK

[2020-07-12 08:12] sirpy commented on #2051
@tomerGD still blocked by this

[2020-07-12 08:44] sirpy opened #2145 "export wallet is not available on production but commit was merged"

[2020-07-12 08:58] sirpy opened #2146 "disable welcome email sending from web3"
welcome email should be sent from mautic when user is added to "created wallet segment"
this can be connected to the "dappuser" tag, ie users that get the dappuser tag are automatically added to the wallet segment

[2020-07-12 10:35] sirpy commented on #2145
fixed

[2020-07-12 10:35] #2145 closed

[2020-07-12 10:38] sirpy commented on #2141
@serdiukov-o-nordwhale lets make sure the inputs arrive correctly
see the log of "executewithdraw"
the error basically means that the code is not in a valid format, it probably fails in paymentlinks.js withdraw when it tries to "sign" with the code

[2020-07-12 18:15] sirpy commented on #2075
@AnastasiiaOdnoshevna fixed. name not displaying is fixed for invites

[2020-07-12 19:43] sentry-io[bot] opened #2148 "Error: Face recognition failed: Face recognition failed: 3D FaceMaps that are used with Search APIs must..."
search failing because of liveness should be treated like liveness failure on client side.

Sentry Issue: [GOODDAPP-Z1](https://sentry.io/organizations/gooddollar/issues/1780316275/?referrer=github_integration)

[code]

[2020-07-12 19:51] sirpy commented on #1824
there's no need.
they will spread over max available space

[2020-07-12 19:55] LiavGut commented on #1824
@sirpy
It doesn't look good as it is in the attached file here. The margins are too big in this case.

[2020-07-13 06:28] AnastasiiaOdnoshevna commented on #2136
@sirpy I tried to generate link again and again and even after a lot of attempts the link hadn't been generated but after 10 min I came back to try to generate the link one more time and then it had been generated successfully

[2020-07-13 07:28] AnastasiiaOdnoshevna commented on #2075
@sirpy the demarcation line isn't displayed between invited friends
All mentioned above elements are displayed according to the requirement
Checked on DEV V0.25.3
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116
![2020-07-13_10-23-33.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/2979aae9-b599-4080-a0dc-6370f67e531e)

[2020-07-13 07:40] AnastasiiaOdnoshevna commented on #2087
@sirpy  the text displayed according to the requirement
Checked on DEV V0.25.3
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116
![2020-07-13_10-39-22.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/bd65f4b0-3926-48bd-8194-fd68014bab9c)

[2020-07-13 07:52] AnastasiiaOdnoshevna commented on #1824
@sirpy the share button is displayed on the full card width
Checked on DEV V0.25.3
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116
![2020-07-13_9-54-07.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/ed8fea46-2352-4f88-915e-61f333121059)

[2020-07-13 07:52] #1824 closed

[2020-07-13 08:05] AnastasiiaOdnoshevna commented on #1968
@sirpy if compare with another button the text of the "Claim G$" button isn't bolder so much like on the other button (see screenshot) (testquestqa@gmail.com     Password: 123Qwe123Qwe)
Checked on DEV V0.25.3
Desktop: Windows 10 // Google Chrome  83.0.4103.116
![2020-07-13_10-58-25.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/88a38671-8cbb-4578-84f3-fe47f564eeb3)

[2020-07-13 08:41] AnastasiiaOdnoshevna commented on #2104
The "Delete account" button [TypeError: is not a function ] is displayed
(testquestqa@gmail.com    Password: 123Qwe123Qwe)
Video: https://www.screencast.com/t/ewgjwRESoG
Checked on DEV V0.25.3
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-13 08:45] serdiukov-o-nordwhale opened #2149 "Modify cypress tests for approve users in the claim queue in the certain tests cases only"
@YuryAnanyev
We wouldn't have claim queue disabled on each tests run. Instead we have to omit/disable it in the cases where it's needed. You could solve it using one of the following ways

1. send http request to the backed for approve user newly created (the same request you're sending during manual testing
2. mock server response for `POST /user/enqueue` to return  `{ ok: 1, queue: { status: 've

[2020-07-13 08:51] serdiukov-o-nordwhale commented on #2104
@AnastasiiaOdnoshevna we've lost the changes related to #1906 Then we've re-pushed them manually. So that becuase the bug was appeared again. Now we'll re-push the fix too

[2020-07-13 08:55] AnastasiiaOdnoshevna opened #2150 "(BUG) Сlaim reminder cards with the same arriving time are displayed on the "Home" page"
Precondition:
The "Home" page is opened
The claim reminder card is displayed (pay attention to the arriving time)
Steps to reproduce:
1) Open the "Home" page after 24 hours to get the new reminder card
2) Pay attention to the time of the previous card

Actual result: Сlaim reminder cards with the same arriving time are displayed on the "Home" page. When the user gets a new reminder card then all c

[2020-07-13 09:02] serdiukov-o-nordwhale commented on #2104
@AnastasiiaOdnoshevna fix was restored in the master branch. Now it's deploying, you could re-check in a 10-15 min

[2020-07-13 09:37] LiavGut commented on #2051
@sirpy Here's the new Phase 1 Term of Use:
https://docs.google.com/document/d/1UF5lCeIk-u3UC__8pGjxr8GcmkY2Y4dB/edit

[2020-07-13 09:37] AnastasiiaOdnoshevna commented on #2104
fixed User is able to delete the account
Video: https://www.screencast.com/t/7xfYftr7kQV
Checked on DEV V0.25.3
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116

[2020-07-13 09:37] #2104 closed

[2020-07-13 10:27] serdiukov-o-nordwhale commented on #2024
@sirpy have added ping before fetching trust data

[2020-07-13 13:01] serdiukov-o-nordwhale commented on #1968
i suppose this was lost too
i've restored those changes and re-merged with #2028 in this PR:
https://github.com/GoodDollar/GoodDAPP/pull/2151/files#diff-ecb4052ae3953ea5bfd8d3f240274beaR159

line i've linked is fixing the issue. once PR will be merged you could re-test it

[2020-07-13 13:06] serdiukov-o-nordwhale opened #2153 "Switch FaceVerification to own server"

[2020-07-13 13:07] serdiukov-o-nordwhale opened #2154 "Switch FaceVerification to own server"

[2020-07-13 13:12] #2154 closed

[2020-07-13 14:49] sirpy commented on #2095
@serdiukov-o-nordwhale please verify this
@serdiukov-o-nordwhale maybe the call to server to add user is performed even though the user received the profile error. so on server the registration is ok, but on client it is not. so second time user press on let's start he is already registered.
1. make sure if any of the client side promises fail in finishregistration then don't call user/add on serv

[2020-07-13 14:50] serdiukov-o-nordwhale commented on #2095
@sirpy ok, re-check it again tomorrow

[2020-07-13 14:55] #2153 closed

[2020-07-13 15:21] AnastasiiaOdnoshevna commented on #2121
@sirpy @serdiukov-o-nordwhale
The email/mobile fields are empty after creating an account via custody
on the video, you can see   setProfile partially failed" "some of the fields failed during saving"  that is cause of this issue
https://www.screencast.com/t/oeU0zrqA8O
![2020-07-13_17-55-19.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/db87357c-f700-4d7f-be12-9fcdbd46b784)

[2020-07-14 07:38] LiavGut opened #2156 "BUG: Profile Privacy - A blue line is shown in the right"
Chrome, Desktop

![Screen Shot 2020-07-12 at 11.43.30.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/dd5da4c7-7971-4c06-8299-f79fb3df8de2)

[2020-07-14 07:38] sirpy commented on #2121
@serdiukov-o-nordwhale @yaroslav-fedyshyn-nordwhale
in signupstate lets add a retry + log.warn to setProfile and remove the silent catch
if it fails again then let it throw the exception so an error is logged and user is shown the error

[2020-07-14 07:54] LiavGut opened #2157 "BUG: Export wallet - Key string has too many characters (Mobile + Desktop)"
There should be only 13 characters from each side of the "..."

![2a4d6f13-a562-48db-a8ba-a03e7e2c2da8.jpg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/55d0a532-48a8-43df-92ba-d9703c05c332)

[2020-07-14 08:34] AnastasiiaOdnoshevna commented on #2052
@LiavGut the silver is different between the top and low silver block. is it correct?
![2020-07-14_11-11-32.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/19735e45-cda4-43f4-9422-a30399b44172)

[2020-07-14 08:49] LiavGut commented on #2052
No. The color should be #EEEEEE

[2020-07-14 09:07] AnastasiiaOdnoshevna commented on #2052
@yaroslav-fedyshyn-nordwhale all elements are displayed according to require except the top and low silver block (the silver is different between them/screenshot above) it should be #EEEEEE
Checked on DEV V0.25.4-1
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-14 09:12] serdiukov-o-nordwhale commented on #1968
@yaroslav-fedyshyn-nordwhale why you've removed 'rejected' ? please, add some comments

i could just suppose that https://github.com/GoodDollar/GoodDAPP/pull/2151 resolves it, am i right ?

[2020-07-14 09:21] AnastasiiaOdnoshevna commented on #2024
@serdiukov-o-nordwhale @sirpy every attempt to create the wallet via custody is failed
the "Could not fetch /trust" error message is displayed during creating a new wallet, also the "new user failure" error is displayed
Video: https://www.screencast.com/t/AolWsb9ONKF

[2020-07-14 09:30] serdiukov-o-nordwhale commented on #2024
it's something new as we have now 'cannot access property pub of undefined'
probably some Gun's internal

[2020-07-14 09:31] serdiukov-o-nordwhale commented on #2024
in this case it's not related to the server was sleeping issue
if we've got error **after** we've pinged the server - it's ok, it's some real issue

[2020-07-14 09:43] serdiukov-o-nordwhale commented on #2024
const goodDollarPublicKey = GunDBPublic.user.is.pub

probably we have no user but trying to get indexes for him.
i wrapped it to lodash's get, pushed hotfix to the master
please check in 10-15min

[2020-07-14 10:44] yaroslav-fedyshyn-nordwhale commented on #1968
@serdiukov-o-nordwhale yes

[2020-07-14 11:21] sirpy commented on #2156
duplicate of #1885

[2020-07-14 11:21] #2156 closed

[2020-07-14 11:33] AnastasiiaOdnoshevna opened #2158 "Checking Invite page"
Checking Invite page

[2020-07-14 11:45] AnastasiiaOdnoshevna commented on #2095
@serdiukov-o-nordwhale @sirpy
the issue is reproduced again and the user cannot create a new account.. every attempt is unsuccessful
Video: https://www.screencast.com/t/8bBfYHyXef
Checked on DEV V0.25.1-4
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-14 12:31] sirpy opened #2159 "email verification not performed for auth0 sms auth"
- [x] make sure in flow we do email verification (ie code via email) when user chooses passwordless-auth
probably just env variables issue

tested in goodqa

[2020-07-14 12:34] sirpy opened #2160 "zoom fails to preload should refresh screen"
I believe we implemented this, but we've encountered cases where no reload happend, just error to user.
maybe there are other types of errors related to preload? maybe need to decide by checking error message for "preload" string?

[2020-07-14 12:36] sirpy opened #2161 "user feed is gone"
on production
tal's feed is gone

[2020-07-14 12:46] serdiukov-o-nordwhale commented on #1968
@AnastasiiaOdnoshevna
#2161 was merged. please re-check

[2020-07-14 12:51] LiavGut opened #2162 "PHASE 1: Queue popup - Update text"
Update title + text + Button label

https://xd.adobe.com/view/2f942ac5-cea3-4963-b328-7a5036cb11b4-7ac7/

![Screen Shot 2020-07-14 at 15.45.09.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/05e13bd3-ba69-459f-b599-0f704434e21b)

[2020-07-14 12:54] AnastasiiaOdnoshevna commented on #2150
@sirpy yesterday I have two claim reminder feeds and today I've got the new feed as you can see at 15:44
and now all three feeds are displayed with the same arriving time and date
https://www.screencast.com/t/0UJGUYs8L

[2020-07-14 13:12] AnastasiiaOdnoshevna commented on #1977
@sirpy I've deleted user created earlier in the music and then create a new account
the user is added to mautic
Video: https://www.screencast.com/t/zHH4tj3p

[2020-07-14 13:35] AnastasiiaOdnoshevna commented on #2023
@yaroslav-fedyshyn-nordwhale @sirpy
Blinking of the button isn't displayed
Video: https://www.screencast.com/t/K6vhskcUj
Checked on DEV V0.25.4-1
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-14 13:35] #2023 closed

[2020-07-14 13:58] AnastasiiaOdnoshevna commented on #1968
@sirpy @yaroslav-fedyshyn-nordwhale
the text is bold like on the other button
![2020-07-14_16-55-57.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/f0e6e33a-b03f-4971-9c91-b2d316ee89bf)
Checked on DEV V0.25.1-4
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-14 13:59] #1968 closed

[2020-07-14 14:39] LiavGut opened #2163 "FV errors: Some Amplitude events are missing"
try to generate the errors and verify they appear on amplitude dev project

1. FV_ZOOMFAILED
2. FV_TRYAGAIN_ZOOM
3. FV_WRONGORIENTATION

![Screen Shot 2020-07-14 at 16.00.28.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/c93ad13d-ea00-4c25-9993-3974e68158e2)![Screen Shot 2020-06-04 at 0.30.19.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/e8bbea45-8c19-4280-

[2020-07-14 15:02] #1742 closed

[2020-07-14 18:43] yaroslav-fedyshyn-nordwhale commented on #2052
@sirpy see above comment

[2020-07-14 19:41] sirpy opened #2166 "switching registration method causes wrong credentials logged on server"
user starts registering with sms-auth then stops before completing and switches to another method
the authentication credentials that where initialy sent to server (LoginServce,GoodWalletLogin) belong to the first registration method privatekey. this later causes whitelisting to after FV to whitelist the wrong address.

- [x] when user starts registration  clear localStorage login "credentials"
-

[2020-07-14 19:46] MathiasMoralesDixtra opened #2167 "Error: Can't autodetect provider for "ropsten/""
### Description
When you start the app throwing this error.
It seems related to the TorusSDK file.

### Steps to reproduce
1. Start app

![Screen Shot 2020-07-15 at 9 39 16 AM](https://user-images.githubusercontent.com/59056508/87546041-45a7ea00-c67f-11ea-9f53-631a4014b1cd.png)

[2020-07-14 20:45] sirpy opened #2168 "scrolling to feed bottom causes feed to keep reloading"
i have a feed with long list of items 10+
when i scroll to the bottom the feed keeps refreshing

[2020-07-14 20:47] #2136 closed

[2020-07-14 20:49] sirpy commented on #2157
@yaroslav-fedyshyn-nordwhale wasnt this fixed already?

[2020-07-15 06:57] yaroslav-fedyshyn-nordwhale commented on #2157
@sirpy yes it was fixed already.

@LiavGut How and where did you get such long string? I cannot reproduce it on goodev and locally too.

[2020-07-15 07:33] sirpy commented on #2095
@AnastasiiaOdnoshevna fixed with #2121

[2020-07-15 07:36] sirpy commented on #2121
@AnastasiiaOdnoshevna we still dont know why exactly it happens
but you should now see an error if during registration it couldnt save email/mobile and will not let you continue.

[2020-07-15 07:37] sirpy commented on #2095
my mistake its not fixed yet

[2020-07-15 07:41] sirpy commented on #2095
@serdiukov-o-nordwhale
this probably happened because of an exception in "finishRegistration" after we call
addUserAPIPromise

so I think simplest solution is that if addUserAPIPromise returns error about existing user, just catch and log warn it and dont fail the process

[2020-07-15 08:06] sirpy commented on #2052
@AnastasiiaOdnoshevna @LiavGut this is not something that we can change in auth0

[2020-07-15 08:55] sirpy commented on #2161
gun db got corrupted.
user().get('trust')  is missing items so unable to decrypt feed items

[2020-07-15 08:55] #2161 closed

[2020-07-15 09:31] AnastasiiaOdnoshevna commented on #2052
@sirpy
checked on DEV V0.25.4-1
Desktop: Windows 10 // Google Chrome  83.0.4103.116
![2020-07-15_11-14-27.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/ab405108-247e-4304-8283-de505181d643)
iPhone 5 // ios 10.3.3
![2020-07-15_12-10-58.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/5df189b7-3395-4a02-8a1e-b2f50f2decd2)

[2020-07-15 09:31] #2052 closed

[2020-07-15 09:34] sirpy commented on #2157
maybe it just wasnt fixed on production?

[2020-07-15 09:39] serdiukov-o-nordwhale commented on #2095
Ok, will add this in the addition to the fixes you've described above

[2020-07-15 09:39] yaroslav-fedyshyn-nordwhale commented on #2168
Tested and check the issue locally and on gooddev - cannot reproduce the issue. It's working fine for me.
Video: https://www.screencast.com/t/DXTlbKlactY

Discussed and agreed with @sirpy to close this issue.

[2020-07-15 09:39] #2168 closed

[2020-07-15 10:04] serdiukov-o-nordwhale commented on #2160
@sirpy Only the internal issue with .wasm file couldn't be loaded breaks ZoOm totally.
So we've showing reload dialog only if it happens. In other cases we're preloading ZoOm during initializeSdk call

[2020-07-15 10:12] serdiukov-o-nordwhale commented on #2160
The conditions are:

[code]

Shortly, its one of

a) ZoOm Error: 65391 .... thrown anywhere
b) TypeError : ... thrown in one of /public/zoom/resources/*.js files or in ZoomAuthentication.js (`webpack-internal://src/lib/zoom/ZoomAuthentication.js`)

Could you please chech which errors were thrown in your case ?
It there were some of errors i've listed above and refresh dialog wasn't shown - it's a

[2020-07-15 10:26] sirpy commented on #1977
@AnastasiiaOdnoshevna need to retest this according to task description

[2020-07-15 10:27] sirpy commented on #2146
done in mautic. need to set w3 env disableemail on prod.

[2020-07-15 10:27] #2146 closed

[2020-07-15 10:45] AnastasiiaOdnoshevna commented on #2141
The issue isn't reproduced
Checked on DEV V0.25.4-1
Desktop: Windows 10 // Google Chrome 83.0.4103.116

[2020-07-15 10:45] #2141 closed

[2020-07-15 10:49] AnastasiiaOdnoshevna commented on #2024
@sirpy @serdiukov-o-nordwhale  The issue isn't reproduced after multiple attempts to create a new wallet
Checked on DEV V0.25.4-1
Desktop: Windows 10 // Google Chrome 83.0.4103.116

[2020-07-15 10:49] #2024 closed

[2020-07-15 11:20] serdiukov-o-nordwhale commented on #2160
https://sentry.io/organizations/gooddollar/issues/1782324262/events/bb4ec9773af74cc78b1017544f8d565c/?environment=staging&project=1829798&statsPeriod=14d
happened again

it happened multiple times and only solved on reload

[2020-07-15 11:23] yaroslav-fedyshyn-nordwhale commented on #2159
The issue was caused by REACT_APP_SKIP_EMAIL_VERIFICATION=true
Currently, it is changed to false - so email confirmation should work fine on goodqa.

[2020-07-15 11:25] LiavGut commented on #2157
On production, desktop + mobile

[2020-07-15 11:29] LiavGut commented on #2157
On goodqa it looks as expected

[2020-07-15 12:07] LiavGut commented on #1885
[Uploading... Screen Shot 2020-07-15 at 14.36.07.png ]

[2020-07-15 12:49] AnastasiiaOdnoshevna commented on #2125
@sirpy I've checked this and user can see who the sender/ and sender - who receiver (performed transaction between: from PC to MOB and from MOB to PC)
But I've faced weird behavior when I send the 1 G$ from incognito tab to ordinary then user couldn't have seen the sender name(see video) @sirpy  is this correct behavior?
Video: https://www.screencast.com/t/ZNYkGKJ0tOF1
Checked on DEV V0.25.1-4
LG

[2020-07-15 13:45] sirpy commented on #2125
no it's not. it should work just the same. please check if name doesn't appear after refresh and if this happens every time on incognito

[2020-07-15 14:17] AnastasiiaOdnoshevna commented on #2125
@sirpy it's not an only incognito issue i supposed...I rechecked and it maybe accounts specific because I reproduced in ordinary tab also
For example, last, receive and send  transactions from this account successful (testquestqa@gmail.com  // 123Qwe123Qwe)
But for this account, not everything is ok (itltest122@gmail.com // asdf1234Q!)
![2020-07-15_17-10-52](https://user-images.githubusercontent.c

[2020-07-15 14:18] AnastasiiaOdnoshevna commented on #2125
torus from an account that got Unknown card
[code]

[2020-07-15 15:00] AnastasiiaOdnoshevna commented on #2125
@sirpy I've checked this on qa env as you asked me.. in the incognito
 I've used 3 accounts for this, and the result is good/all send and receive cards is displayed with a name
Checked on QA V0.25.6
Desktop: Windows 10 // Google Chrome  83.0.4103.116
![2020-07-15_17-44-51.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/b075b328-1ca1-42f4-abb3-b610322e4859)

[2020-07-15 15:44] AnastasiiaOdnoshevna opened #2172 "(BUG) Map: The claimed amount is displayed on the pop up after hovering the mouse over the country"
Steps to reproduce:
1) Claim the G$
2) Open the statistic >map
3) Pay attention to the value of claims

Actual result: The claimed amount is displayed on the pop up  after hovering the mouse over the country
Expected result: The number of claims should be displayed on the pop-up after hovering the mouse over the country

Checked on DEV V0.25.4-1
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-15 20:46] sirpy opened #2175 "make cypress tests pass"
one  if the issues is using
https://goodtest.netlify.app/undefined/admin/queue

it should be
good-server.herokuapp.com/admin/queue

[2020-07-15 20:57] sirpy commented on #2051
@LiavGut verify  with @Talbatz omer that he has updated it on the website
its not part of the wallet

[2020-07-16 07:17] sirpy opened #2176 "decide if user exists by calling server api and not by checking gun record"
this can help not to initialize user storage and just initialize wallet on user  signup

[2020-07-16 07:19] sirpy opened #2177 "dont initialize feed on user signup router"

[2020-07-16 07:20] yaroslav-fedyshyn-nordwhale commented on #2157
@sirpy @LiavGut
I checked the code and found that the src/lib/utils/string.js file on the production instance contains an old implementation. That's why the key displaying wrong.

[2020-07-16 07:51] sirpy commented on #2051
@LiavGut @tomerGD
move this issue to QA once it is done

[2020-07-16 07:56] sirpy commented on #2163
@LiavGut looking at GoodDEV project
https://analytics.amplitude.com/gooddollar/manage/project/235197/advanced/events

I see they exists, meaning they are being sent on the goodqa/dev env.

[2020-07-16 08:26] yaroslav-fedyshyn-nordwhale commented on #1964
@AnastasiiaOdnoshevna
I tried to reproduce this issue with different browsers and different accounts locally and on good dev; and I cant.
This is a pretty old bug and I think it was already resolved in scope of some other tasks.
So please verify again

[2020-07-16 08:29] #2159 closed

[2020-07-16 08:29] AnastasiiaOdnoshevna commented on #2159
The user get SMS on auth0 and is able to carry on to create an account
Video: https://www.screencast.com/t/mh6iiaY2aS
Checked on QA V0.25.6
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-16 08:42] AnastasiiaOdnoshevna commented on #2121
@sirpy @serdiukov-o-nordwhale This issue isn't reproduced anymore
Checked on DEV V0.25.4-1
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-16 09:18] AnastasiiaOdnoshevna commented on #2125
@sirpy cause of the unknown issue is a broken account  -  incorrectly added to the indexes during creating a new user... that's why  another who got money couldn't have seen the name of the sender
Checked on DEV V0.25.4-1
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-16 09:18] #2125 closed

[2020-07-16 10:08] AnastasiiaOdnoshevna commented on #1964
@sirpy @yaroslav-fedyshyn-nordwhale the issue isn't reproduced
Checked on DEV V0.25.4-1 // QA V0.25.6
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-16 10:08] #1964 closed

[2020-07-16 10:25] AnastasiiaOdnoshevna commented on #2075
@sirpy all elements according to require
Checked on DEV V0.25.4-1
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116
![2020-07-16_13-17-44.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/50a11bfe-76ee-4963-b347-e2f916503c85)

[2020-07-16 11:21] #2158 closed

[2020-07-16 12:06] yaroslav-fedyshyn-nordwhale commented on #1942
@AnastasiiaOdnoshevna The changes pushed directly to the master branch - so moved the task to QA. Please wait some time and then verify changes.

[2020-07-16 13:10] AnastasiiaOdnoshevna commented on #1942
@sirpy I assumed that title of the page should be changed to "Help & Feedback" as well  ?
![2020-07-16_16-02-40.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/ad957a67-b1c7-4403-8b6a-b464ad1168cf)

[2020-07-16 13:25] AnastasiiaOdnoshevna commented on #2148
@sirpy couldn't be tested on dev because ALLOW_DUPLICATED_FACE_RECORDS=true
will be tested on QA when the changes would be there

[2020-07-16 13:41] #2160 closed

[2020-07-16 13:58] LiavGut commented on #1942
@AnastasiiaOdnoshevna You're right.

[2020-07-16 14:26] LiavGut commented on #2163
@sirpy So why not on production?

[2020-07-16 14:27] YuryAnanyev opened #2180 "[BUG] Redirect to the https://support.gooddollar.org/?transitioned=1 page in cypress-tests by clicking on the "Help & Feedback" menu item"
preconditions:
reproduces in a cypress environment.
"userAgent": "Mozilla/5.0 (X11; Linux x86_64; Cypress) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36"

steps:

go to https://gooddev.netlify.app/
login with exist acc
click on the "Help & Feedback" menu item
pay attention to the opened page

video: https://www.screencast.com/t/ln5lJR7dmB

![support_2020-07-16.png](http

[2020-07-16 14:30] LiavGut opened #2181 "G$ claim amount: need to add Thousands Separators"
![Screen Shot 2020-07-16 at 17.27.24.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/d752b028-1033-4716-a8dd-9ac18946a5f1)

[2020-07-16 14:39] AnastasiiaOdnoshevna commented on #1942
@yaroslav-fedyshyn-nordwhale the  title of the page should be changed to "Help & Feedback"

[2020-07-16 15:01] serdiukov-o-nordwhale commented on #2130
the following snippet have to be added to the gooddollar.org:

[code]

doesn't matters where (head or body)

[2020-07-16 15:24] AnastasiiaOdnoshevna commented on #2081
@serdiukov-o-nordwhale @sirpy I've checked this on QA and face verification works well. also, it was about this session, right?
![2020-07-16_17-50-39.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/1d591f96-df83-4578-b367-2235f449806f)
or I should do something else?

[2020-07-16 15:31] AnastasiiaOdnoshevna commented on #2166
@sirpy User is able to get in the account through Facebook but using other credentials (from the account that is created via custody)
Video: https://www.screencast.com/t/JWoyY9AlKZx
Checked on DEV V0.25.4-1
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-16 16:05] LiavGut commented on #2051
@sirpy
https://community.gooddollar.org/tou1/

[2020-07-16 16:09] yaroslav-fedyshyn-nordwhale commented on #1942
@AnastasiiaOdnoshevna I pushed a fix to master. You can verify it after a few minutes.

[2020-07-16 16:10] serdiukov-o-nordwhale commented on #2081
yes

[2020-07-16 19:25] LiavGut commented on #2172
@sirpy so we should change the label text to "G$ Claimed"

[2020-07-16 20:26] sirpy opened #2184 "Improvements to signup initialization"
- [x] dont initialize feed on signup process
- [x] move analytics identifyWith to Signup  and Appswitch
- [x] check if user exists in signin using API and not gun

[2020-07-16 21:08] sirpy commented on #2166
try now

[2020-07-16 21:08] sirpy commented on #2177
implemented in #2184

[2020-07-16 21:08] #2177 closed

[2020-07-16 21:09] sirpy commented on #2176
in #2184

[2020-07-16 21:09] #2176 closed

[2020-07-16 21:12] sirpy commented on #2163
@LiavGut i dont know maybe a bug on production.
try to generate them on prod/qa/dev and then check amplitude

[2020-07-17 07:20] yaroslav-fedyshyn-nordwhale commented on #2180
@YuryAnanyev
I pushed a fix to master - it may help. Please test again after 30m.

[2020-07-17 08:12] AnastasiiaOdnoshevna commented on #1942
@yaroslav-fedyshyn-nordwhale @sirpy
The text on the setting menu and title of the page are changed to "Help & Feedback"
Checked on QA V0.25.6
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-17 08:12] #1942 closed

[2020-07-17 09:13] AnastasiiaOdnoshevna commented on #2051
@sirpy @tomerGD
The app's "privacy policy&terms" page contains the same text that is displayed on this link https://community.gooddollar.org/tou1/
Checked on QA V0.25.6
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-17 10:16] #2166 closed

[2020-07-17 10:16] AnastasiiaOdnoshevna commented on #2166
@sirpy user is unable to get in the account through Facebook using other credentials
checked between google and Facebook
https://www.screencast.com/t/IeivzOES
Checked on QA V0.25.6
Desktop: Windows 10 // Google Chrome  83.0.4103.116

checked between custody and Facebook
Checked on DEV V0.25.4-2
Desktop: Windows 10 // Google Chrome  83.0.4103.116
https://www.screencast.com/t/VycpkDlPNG

[2020-07-17 11:00] AnastasiiaOdnoshevna commented on #2148
@serdiukov-o-nordwhale @sirpy
The "Face recognition failed" error is displayed in the console while in the app the "Let's try again" pop-up
then user gets in the "get ready to the video selfie" pop-up after clicking the "OK" button in the "Let's try again"
![2020-07-17_13-45-41.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/529ab11f-54c0-455d-a07d-258125a78126)
Checked on QA V0

[2020-07-17 11:00] #2148 closed

[2020-07-17 12:10] YuryAnanyev commented on #2180
still reproducing in cypress env

[2020-07-17 12:36] AnastasiiaOdnoshevna commented on #2081
@sirpy @serdiukov-o-nordwhale
As I got it, here are two requests for a session and to enroll, it means FV works well
![2020-07-17_14-33-39.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/69a588a8-1920-415c-bc7e-0472161203e8)
Checked on DEV V0.25.6
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-17 12:36] #2081 closed

[2020-07-17 13:24] serdiukov-o-nordwhale commented on #2130
@sirpy
Have tested all the options you've proposed:

1. iframe element doesn't dispatches 'readystatechange' event by itself. The event now dispatches from the iframe's contentDocument which is restricted by the cross-origin policy
2. There's `DOMFrameContentLoaded` event described onto MDN but it doesn't works in Chrome. According to the comments from stackoverflow.com it doesn't works anywhere d

[2020-07-17 14:17] AnastasiiaOdnoshevna commented on #1977
@sirpy the call to go.gooddollar.org/form/submit isn't displayed
![2020-07-17_17-12-29.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/878741bc-cc8a-48af-a45b-6f9f5416d41e)
Checked on QA V0.25.6
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-17 14:40] AnastasiiaOdnoshevna opened #2186 "Error: Failed to initialize wallet and storage"
Steps to reproduced:
1) Click the "agree&continue via google" button
2) Select an account
3) Pay attention to the error message on the console

Actual result: The "Failed to initialize wallet and storage" error message is displayed on the console and the user is unable to get in G$ account
Expected result: The user should be able to get in G$ account without any errors
**Note:** sometimes reproduc

[2020-07-17 15:20] serdiukov-o-nordwhale commented on #2130
Have tested with the snippet installed on a site having just one large image. Proxied DOMContentLoaded triggers by 25-50% faster that onLoad:

![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/d60ab124-7efb-4725-ba16-2f9c37afc3e9)

![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/fe5de666-2e67-4b4f-af26-4fe67ab5bede)

On the sites with a lot of th

[2020-07-17 15:22] AnastasiiaOdnoshevna commented on #2059
The pop-up is displayed according to require
Checked on QA V0.25.6
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-17 15:24] AnastasiiaOdnoshevna commented on #2031
Splash screen is displayed according to require
Checked on QA V0.25.6
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116

[2020-07-17 15:28] AnastasiiaOdnoshevna commented on #2076
The invite card is displayed according to require
Checked on QA V0.25.6
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116

[2020-07-17 15:29] AnastasiiaOdnoshevna commented on #2075
Invite screen is displayed according to require
Checked on QA V0.25.6
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116
![2020-07-17_16-51-40.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/eca10cf5-7682-4dc4-95fe-fa60d99ec959)

[2020-07-17 15:30] serdiukov-o-nordwhale commented on #2130
have updated the PR

[2020-07-17 15:30] AnastasiiaOdnoshevna commented on #2028
Screens are displayed according to require
Checked on QA V0.25.6
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116

[2020-07-17 15:34] AnastasiiaOdnoshevna commented on #1915
The queue pop-up is displayed according to require
Checked on QA V0.25.6
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116

[2020-07-17 15:38] yaroslav-fedyshyn-nordwhale commented on #2131
Discussed this issue with @sirpy @serdiukov-o-nordwhale  in the slack channel and decided to left SVG files as it is. So closing it.

[2020-07-17 15:38] #2131 closed

[2020-07-19 06:25] sirpy opened #2189 "phase0 to phase1 upgrade popup"
When user service worker detects upgrade if it is upgrade to phase1 then show a special update popup.
- [x] issue #1739 - show popup also on signup route
- [ ] should be merged into production branch
- [x] client should query server if phase1
- [x] if phase1 show special popup text otherwise regular update text

see popup design in comment
notice the image is an animation

[2020-07-19 07:20] sirpy opened #2190 "lets try again is shown for duplicate exists error in FV"
tested in goodqa
after the lets try again is shown then the duplicate error is shown also
seems like lets try again is always shown

[2020-07-19 07:43] sirpy opened #2191 "Notify user to switch to Safari on iOS."
on iOS non browser safari when user enters QR scan or FV show the following popup
closing the popup leads back to dashboard

iOS - Switch to Safari (***NEW POP UP***)
https://xd.adobe.com/view/a5cd4246-dbe6-4f92-a5d2-b92e7d4cf2d9-f09e/
![Screen Shot 2020-07-22 at 15.40.40.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/e0dfc3be-9b23-444d-af2b-d5f0172c6a76)

[2020-07-19 09:06] LiavGut commented on #2189
@sirpy

https://xd.adobe.com/view/5d3201b3-eec6-4a9e-a725-7f393849b3a7-0861/

<img width="405" alt="Screen Shot 2020-07-19 at 12 00 07" src="https://user-images.githubusercontent.com/54103946/87871331-1a433900-c9b8-11ea-86f9-70e9bb917ddc.png">

[2020-07-19 09:06] sirpy commented on #2163
@AnastasiiaOdnoshevna can you please check if the above events are being sent on Production/QA

[2020-07-19 11:41] #2095 closed

[2020-07-19 12:36] sirpy commented on #1977
@AnastasiiaOdnoshevna it was set to work only on production. fixed to work on staging also. please retest

[2020-07-20 07:45] AnastasiiaOdnoshevna commented on #2162
@yaroslav-fedyshyn-nordwhale
1) A dot is displayed after smile
2) The "I'LL" is displayed on the button instead of the "I'll"

Checked on DEV V0.25.4-3
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  83.0.4103.116

[2020-07-20 08:10] sirpy commented on #2130
@serdiukov-o-nordwhale added script to GTM
need to add GTM to dashboard
[code]

[2020-07-20 08:13] AnastasiiaOdnoshevna commented on #1462
@sirpy on the Claim screen has been displayed 1G$ for claim but after clicking the "Claim" button the user has received 503k G$'s
It means the user isn't inactive after two days of inactivity (as it set on qa env)
Checked on QA V0.25.4-3
Desktop: Windows 10 // Google Chrome 84.0.4147.89
![2020-07-20_11-02-16.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/2e247ef5-2632-4463-9a20

[2020-07-20 08:21] LiavGut commented on #2162
@AnastasiiaOdnoshevna @yaroslav-fedyshyn-nordwhale
"2" is my bad. It should stay "I'LL"

[2020-07-20 09:05] sirpy opened #2193 "(bug) hasconnection doesnt seem to recheck gun connection"
leave app in background for a while
when you come back you get the network error popup with (GunDB)
in console there is nothing printed about periodically  checking  gun  connection
check what is the issue
- [ ] listeners on gun websocket (wire) not being subscribed/registered correctly
- [ ] listeners not being called?
** on reconnect guns creates a new wire/websocket, so we need to take care to

[2020-07-20 09:31] AnastasiiaOdnoshevna commented on #2162
@yaroslav-fedyshyn-nordwhale then only dot should be removed after smile

[2020-07-20 09:32] yaroslav-fedyshyn-nordwhale commented on #2162
@AnastasiiaOdnoshevna I pushed a fix for a dot afte smile into master branch. So after 30 minutes try to test it.

[2020-07-20 10:07] serdiukov-o-nordwhale commented on #2190
fixed in: https://github.com/GoodDollar/GoodDAPP/commit/31dd242c5af26a5ab6c225a7250662649e2e3ce9
adjusted / refactored / appended comments: https://github.com/GoodDollar/GoodDAPP/commit/0e108dc562a370633b9dc929a3d471f81fc6e9c8

[2020-07-20 10:19] AnastasiiaOdnoshevna commented on #2118
@sirpy @yaroslav-fedyshyn-nordwhale Magic link and backup wallet items are displayed on the context menu for Torus user
It displayed all time, not need to reproduced by steps described in this issue
Checked on DEV/QA V0.25.4-3
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  84.0.4147.89

[2020-07-20 10:30] AnastasiiaOdnoshevna commented on #1977
@sirpy retested on QA env. I delete the  user and then create again but the call to go.gooddollar.org/form/submit isn't displayed
Checked on DEV V0.25.4-3
Desktop: Windows 10 // Google Chrome  84.0.4147.89
![2020-07-20_13-25-44.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/773045b5-be78-46eb-a4d2-b0b0cbd32490)

[2020-07-20 10:36] yaroslav-fedyshyn-nordwhale commented on #1739
This task implemented in this PR - https://github.com/GoodDollar/GoodDAPP/pull/2194

[2020-07-20 10:38] AnastasiiaOdnoshevna commented on #2162
@yaroslav-fedyshyn-nordwhale the pop-up according to require
Checked on DEV V0.25.4-4
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 83.0.4103.116
![2020-07-20_13-34-45.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/62c6e3c6-bfb8-49fd-a892-84f1cee31c30)

[2020-07-20 11:20] serdiukov-o-nordwhale commented on #2130
done:  https://github.com/GoodDollar/GoodDashboard/commit/dc4111ded073d6ca6779ba18d2feb971afe0b50b

@sirpy

P.S. i've checked community & support sites
- couldn't see the snippet preloads by the GTM on community.gooddollar.org
- it's seems support.gooddollar.org haven't GTM installed

[2020-07-20 11:28] AnastasiiaOdnoshevna commented on #1903
@sirpy on the mautic is displayed that the emails were sent, but on the inbox the messages from G$ were absent. Spam is empty also
Checked on QA V0.25.4-3
Desktop: Windows 10 // Google Chrome  84.0.4147.89
![2020-07-20_14-15-27.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/1c84f656-4aaf-4f1d-a1eb-045930bb3a4a)

[2020-07-20 12:05] sirpy commented on #2118
ok this caused by a bug that corrupted userproperties
should be  fixed  in pr #2185

[2020-07-20 12:27] sirpy commented on #1977
@AnastasiiaOdnoshevna seems like it wasnt released to QA yet.
retest once you deploy QA

[2020-07-20 12:43] YuryAnanyev commented on #2121
@sirpy

this situation is reproduced when creating a new user by the self custody method.
inability to create a new user blocks all next automated tests!

![bug_create_new_wallet_2020-07-20.png](https://images.zenhubusercontent.com/5eb529c8c90bb26b8aaf9d9d/1c5b0ed6-bd42-4983-9de9-2f811c147dcb)

video: https://www.screencast.com/t/aNYvj6h6VI

[2020-07-20 14:26] AnastasiiaOdnoshevna commented on #2118
@yaroslav-fedyshyn-nordwhale @sirpy
The issue isn't reproduced
Checked on DEV V0.25.4-4 / QA V0.25.4-5
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 84.0.4147.89

[2020-07-20 14:26] #2118 closed

[2020-07-20 15:37] yaroslav-fedyshyn-nordwhale commented on #2189
@sirpy
what does mean this point - 'client should query server if phase1'?

[2020-07-20 15:48] AnastasiiaOdnoshevna commented on #2163
@sirpy
1) FV_ZOOMFAILED (see video: the FV_ZOOMFAILED is displayed in the console(in the amplitude also) but  the error message isn't displayed to the user/ as i remember that pop up related to the endless spinner but FV_ZOOMFAILED has appeared with orientation error)
2) FV_TRYAGAIN_ZOOM (displayed in the amplitude/console)
3) FV_WRONGORIENTATION (displayed in the amplitude/console)
1 - video: htt

[2020-07-20 15:49] serdiukov-o-nordwhale commented on #2121
That's a gun issue. I've checked in which cases this error could appear and i've found that it appears if our `putAck` override fails.

Gun's callback on put could be invoke multiple times. So i've rewrote it using observables and have implemented the following flow:
- we're waiting 50ms just after .put()
- once first success callback invokes during this interval - we're resolving
- otherwise we'r

[2020-07-20 16:09] serdiukov-o-nordwhale commented on #2121
Also as i see there're issues with retry.. will check them too, just after will push the latest fix

[2020-07-20 16:11] AnastasiiaOdnoshevna commented on #1977
@sirpy after deploying QA env the error message is displayed #2121(see video)
so the user couldn't be created
Video: https://www.screencast.com/t/5rm2aHrXgaf

[2020-07-20 16:19] AnastasiiaOdnoshevna commented on #1903
@sirpy it works for my third account
I've received the messages
can we consider that is well? maybe it was broken account or something went wrong with Gmail boxes
![2020-07-20_16-56-02.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/e8b32c37-e0a0-48ec-8547-b5b4fb06a0fc)

[2020-07-20 19:19] sirpy commented on #1903
lets try another account

[2020-07-20 19:29] sirpy commented on #2163
@AnastasiiaOdnoshevna so this issue is ok.
i'll open a new one about the endless  spinner

[2020-07-20 19:30] #2163 closed

[2020-07-20 19:32] sirpy opened #2196 "(Bug) zoom fails to load shows endless spinner and not an error screen"
1) FV_ZOOMFAILED (see video: the FV_ZOOMFAILED is displayed in the console(in the amplitude also) but  the error message isn't displayed to the user/ as i remember that pop up related to the endless spinner but FV_ZOOMFAILED has appeared with orientation error)

video: https://www.screencast.com/t/su8yRs6pvR5g

[2020-07-20 19:33] sirpy commented on #1462
this should be fixed on QA

[2020-07-20 19:54] sirpy commented on #2130
@serdiukov-o-nordwhale
add in description how can this be tested by QA

[2020-07-21 01:56] #2167 closed

[2020-07-21 09:22] AnastasiiaOdnoshevna commented on #2190
@sirpy @serdiukov-o-nordwhale The "something went wrong on our side" screen is displayed after every attempt to pass the FV
Also, the eath loader takes a lot of time, sometimes even to 30-40 sec
Video: https://www.screencast.com/t/gv79m9YUj
Checked on QA V0.25.4-5
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  84.0.4147.89

[2020-07-21 09:34] AnastasiiaOdnoshevna commented on #1977
@sirpy I created completely a new user(using new gmail box) but still the call to go.gooddollar.org/form/submit isn't displayed
Video: https://www.screencast.com/t/SRYz6fRXXszq
Checked on QA V0.25.4-5
Desktop: Windows 10 // Google Chrome  84.0.4147.89

[2020-07-21 09:35] serdiukov-o-nordwhale commented on #2190
@sirpy
@AnastasiiaOdnoshevna
something is wrong with our custom ZoOm server - request is timed out

[2020-07-21 10:22] sirpy opened #2198 "collect try again later FV errors and report to amplitude + sentry"
- [x] after user fails 3 times we have him a special error screen (unrecoverable I think). collect the 3 error messages up to the moment we show him this screen.
- [x] send the error messages as extra variable to amplitude ** when we send the unrecoverable screen event **
- [x] report the **unrecoverable** event also to sentry if we don't do so already ie log.error("fv unrecoverable fired".. {erro

[2020-07-21 10:37] LiavGut opened #2199 "(BUG) Pop up shadow"
Desktop, Chrome - GoodQA
(a while ago we had a similar bug...)

![Screen Shot 2020-07-21 at 13.34.14.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/eadb1ebb-0713-499f-b3dd-c553463d3c69)

[2020-07-21 10:38] AnastasiiaOdnoshevna opened #2200 "(BUG) The "something went wrong on our side" screen is displayed after every attempt to pass the FV"
Precondition:
The user has an account and FV was passed
The FV is opened
Steps to reproduce:
1) Scan the face
2) Pay attention to the error message

Actual result: The "something went wrong on our side" screen is displayed after every attempt to pass the FV
Also, the earth loader takes a lot of time, sometimes even to 30-40 sec
Expected result: The duplicate error should be displayed to the user

[2020-07-21 10:42] AnastasiiaOdnoshevna commented on #2190
@serdiukov-o-nordwhale the issue is separated to #2200

[2020-07-21 10:44] serdiukov-o-nordwhale commented on #2200
@sirpy according to the console logs, the reason is that our custom zoom server is down as we have timeout exception

[2020-07-21 11:37] serdiukov-o-nordwhale commented on #2121
pushed fix to master

[2020-07-21 12:34] serdiukov-o-nordwhale commented on #2200
@sirpy i've checked server logs - this isn't an http://fvqa.gooddollar.org issue

there's something wrong in contracts. probably old version was deployed onto network which is used by goodqa:

[code]

the error is thrown when we've passed FR and trying to whitelist user in wallet here:

[code]

take a look this please

[2020-07-21 12:55] AnastasiiaOdnoshevna opened #2202 "(BUG) email can contain invalid characters"
Precondition:
The user on the stage of registration via custody(the screen with email is displayed)
Steps to reproduce:
1) Enter the valid email
2) Enter a few letters from another language between letters of the valid email (in my case it's the Cyrillic)
3) Pay attention to the error message
Actual result: The Empty w3 response is displayed during creating
Expected result:  Entered email partiall

[2020-07-21 13:08] sirpy commented on #2200
these needs to be fixed @serdiukov-o-nordwhale
- [ ] jwtPayload should take precedence in password strategy (login-middleware)
- [ ] in /user/add verify that this also save to the user record the correct public profile key
- [ ] seems like we are not catching the exception correctly? `This error originated either by throwing inside of an async function without a catch`
- [ ] in GoodDAPP new userEx

[2020-07-21 14:02] serdiukov-o-nordwhale commented on #2130
done.
i've checked again - code snippet is still not added yet. so for now i don't see reasons to test it
<img width="624" alt="image" src="https://user-images.githubusercontent.com/62208067/88063013-38ed2f80-cb72-11ea-8d3b-e1d1d6d9acb0.png">

[2020-07-21 14:05] serdiukov-o-nordwhale commented on #2130
pushed logs added direcrly to master

[2020-07-21 14:42] LiavGut opened #2204 "(BUG) FV - Can't pass liveness"
Desktop, Chrome, GoodDEV, GoodQA

![Screen Shot 2020-07-21 at 13.56.46.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/b79a0064-fbed-489b-8562-72f43120f5eb)![Screen Shot 2020-07-21 at 13.55.18.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/187936e5-1e43-4bba-9a15-457ed142cc5e)![Screen Shot 2020-07-21 at 13.56.06.png](https://images.zenhubusercontent.com/5d53e

[2020-07-21 14:48] AnastasiiaOdnoshevna commented on #1977
@sirpy  the call to go.gooddollar.org/form/submit isn't displayed
Video: https://www.screencast.com/t/8gDqeeGtF

[2020-07-21 15:05] AnastasiiaOdnoshevna commented on #2121
@serdiukov-o-nordwhale @sirpy  I no longer have met this issue
Checked on DEV V0.25.4-5
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  84.0.4147.89

[2020-07-21 15:26] AnastasiiaOdnoshevna commented on #1903
@sirpy   I've created completely two new accounts today and one of them has received the email message(only that -email for joining Claim Queue Whitelisted), and on inboxes of second account there weren't messages at all ...but in the Mautic I've seen that the messages were sent
![2020-07-21_18-20-43.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/f13c19cc-e808-47d6-aa87-ba76ffc

[2020-07-22 06:59] sirpy commented on #1977
@AnastasiiaOdnoshevna ok this has been finally fixed:) please re-test on QA

[2020-07-22 10:26] yaroslav-fedyshyn-nordwhale commented on #2198
@sirpy
regarding 'add alert in sentry to send email to liav,hadar,tomer when this error is reported'

From sentry docs:
Sentry users with admin permissions or higher can create alerts. To confirm or set admin permissions, see Project Settings > Alerts > New Alert.

[2020-07-22 12:25] AnastasiiaOdnoshevna commented on #1977
@sirpy retested
the call is displayed in the console
the user appears in the music
Video: https://www.screencast.com/t/IeIGRkpHqbNi
Checked on QA V0.25.4-6
Desktop: Windows 10 // Google Chrome  84.0.4147.89

[2020-07-22 12:41] LiavGut opened #2206 "Pop ups - Update titles + text"
1. Phase 0 - Dashboard – Feed - PopUp – QUEUE
https://xd.adobe.com/view/2f942ac5-cea3-4963-b328-7a5036cb11b4-7ac7/

Title:
You’re in the queue to start
claiming GoodDollars!
Text:
We’ll email you as soon as it’s your turn
to claim G$’s.

And always remember:
Good things come to those who wait :)

2. Dashboard – Feed - PopUp – 24 hours wait - after delete wallet
https://xd.adobe.com/view/aa8d16ca-7