[2020-07-22 12:57] LiavGut opened #2207 "Add a sound effect to the claim success popup"
Once a user claims and get to the success popup he should hear a sound effect:

![Screen Shot 2020-07-22 at 15.47.22.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/ab577c73-4030-4248-b628-5f0cffbce658)[https://app.zenhub.com/files/166818382/250b9ea5-d48f-46e2-bcc9-452f4e264fed/download](https://app.zenhub.com/files/166818382/250b9ea5-d48f-46e2-bcc9-452f4e264fed/download)

[2020-07-22 13:21] yaroslav-fedyshyn-nordwhale commented on #2198
@sirpy
regarding 'needs also a patch for "production" env'
you mean to pick this changes to the production branch?

[2020-07-22 13:32] sirpy commented on #2198
ok i'll add the alert.
yes create a PR with changes to master

[2020-07-22 13:59] AnastasiiaOdnoshevna commented on #2130
will be tested when the snippet is added

[2020-07-22 15:12] AnastasiiaOdnoshevna commented on #1903
@sirpy checked for a few accounts, and each of them received letters
that was been logged too on the mautic
Checked on QA V0.25.4-6
Desktop: Windows 10 // Google Chrome 84.0.4147.89

[2020-07-22 15:23] serdiukov-o-nordwhale commented on #2200
userExists sets JWT & CREDS in the user storage. so next  login.auth() call take them from it and doesn't re-calls this.login():

let creds = (await this.getCredentials()) || (await this.login())

i'll adjust Auth & LoginService to be able to init api with custom JWT just for call userExists() (and don't affect localStorage)

[2020-07-22 18:39] mauriguz commented on #1990
@sirpy @serdiukov-o-nordwhale Did you guys reach a decision about adding an "Open settings" button - native only - @MathiasMoralesDixtra  has #2210 open which covers the initial denied permissions popup so if we want to add the button it could be part of the same PR

[2020-07-23 05:42] sirpy opened #2211 "feed record should store recipient/sender details"
* [ ] once receipt from blockchain is received, store the other user smallavatar/name
* [ ] on subsequent reads it can try to refetch data from gun if smallavatar/name changed but if they no longer exists because user was deleted then keep the last recorded

[2020-07-23 07:18] sirpy commented on #2130
@serdiukov-o-nordwhale @AnastasiiaOdnoshevna we need to test
- [ ] dashboard
- [ ] community (TOU, PP)
- [ ] support
- [ ] w3 (invite)

please let me know where snippet is loaded and where not, where it is then please test if it used to load iframe

[2020-07-23 07:55] yaroslav-fedyshyn-nordwhale commented on #2198
The brach for production will be created after success reviewers feedback.

[2020-07-23 09:44] AnastasiiaOdnoshevna commented on #2130
@sirpy
currently, we have such result
![2020-07-23_12-38-07.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/ac61e954-82af-4788-b561-9bb25258cf5f)
what about invite, when the page has opened the iframe isn't displayed at all

[2020-07-23 10:41] serdiukov-o-nordwhale commented on #2130
@AnastasiiaOdnoshevna aren't the invite page on the screenshot you've posted ?
it works and uses DOMContentLoaded

[2020-07-23 11:03] AnastasiiaOdnoshevna commented on #2121
@sirpy @serdiukov-o-nordwhale
during creating a new user on the page with "let's start" button
![2020-07-23_13-45-44.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/315e64e1-4e31-488d-845d-7f06626152ad)
Checked on DEV V0.25.4-7
Desktop: Windows 10 // Google Chrome  84.0.4147.89

[2020-07-23 11:04] #2121 closed

[2020-07-23 11:05] serdiukov-o-nordwhale commented on #2121
it's some unexpected server error and it was catched as should be
no reason to reopen the issue

[2020-07-23 11:26] AnastasiiaOdnoshevna opened #2212 "(BUG) Real data isn't displayed on the "Total G$ supply"chart"
Steps to reproduced:
1) Open the "Statistic" page
2) Pay attention to the "Total G$ supply" chart

Actual result: Real data isn't displayed on the "Total G$ supply" chart
Expected result: The chart should be changed every day according to the real state of things

Checked on DEV V0.25.4-6
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  84.0.4147.89
![202

[2020-07-23 12:07] sirpy commented on #2130
@serdiukov-o-nordwhale i've verified and on goodqa when i visit
support,community, dashboard the iframe snippet is loaded by GTM.
on w3 it doesnt. i will try to fix that.
for all of them except w3 i see the IFrame Loaded log. with event=load. (no DOMContentLoaded) is that the excpected behaviour?

[2020-07-23 12:53] yaroslav-fedyshyn-nordwhale commented on #2193
@sirpy
I reproduced it only on goodqa instance. But couldnt locally and on gooddev.

You don't see periodically checking gun connection because it was established again and the hideDialog fn was executed in InternetConnection component - so the popup should disapear at that moment but it dont for some reason. So I guess the problem is with InternetConnection component

[2020-07-23 13:19] AnastasiiaOdnoshevna commented on #2200
@sirpy @serdiukov-o-nordwhale the newly created user has passed the face verification without the  "something went wrong on our side" error
![Screenshot_2020-07-23-16-05-09.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/65e433f1-1f20-44fa-9b9e-956da9ea61a8)
Checked on QA V0.25.4-7
Desktop: Windows 10 // Google Chrome  84.0.4147.89

[2020-07-23 13:19] #2200 closed

[2020-07-23 13:32] LiavGut commented on #2206
@sirpy Done.

[2020-07-23 13:42] LiavGut commented on #2163
@sirpy Why is this issue closed if it still not working on our end? (ie. I can't see/add the events to chart)

[2020-07-23 13:47] AnastasiiaOdnoshevna commented on #2190
@serdiukov-o-nordwhale @sirpy checked for the newly created user
the duplicate pop-up is displayed to user if his face already exists in the database
![2020-07-23_16-41-36.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/ae4bbe93-7761-4d29-b74f-c68b5727dfc7)
Checked on DEV V0.25.4-7
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  84.0.4

[2020-07-23 13:47] #2190 closed

[2020-07-23 13:53] sirpy opened #2213 "user should see progress when creating new account"
when user creates new account it takes time to receive account from torus and then to initialize his wallet+storage
show user a popup with steps progress

[2020-07-23 14:08] LiavGut commented on #2213
@sirpy Can you please explain on what stage are talking about, is that after torus window closes and then there's a spinner?

[2020-07-23 14:14] AnastasiiaOdnoshevna commented on #2181
@sirpy @yaroslav-fedyshyn-nordwhale
Thousands Separators are added
![2020-07-23_17-11-58.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/be12727e-1359-4c4d-b4d7-c55a22c06ac5)
Checked on DEV V0.25.4-7
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  84.0.4147.89

[2020-07-23 22:47] #2043 closed

[2020-07-23 22:47] #2110 closed

[2020-07-23 22:47] #1990 closed

[2020-07-24 08:33] yaroslav-fedyshyn-nordwhale commented on #2189
The link to the GoodServer PR - https://github.com/GoodDollar/GoodServer/pull/221

[2020-07-24 14:20] serdiukov-o-nordwhale commented on #2130
@sirpy no, should be DOMContentLoaded
if event = load that means that no snippet was added

also, QA has tested and community site has snippet and DOMContentLoaded has fired for it but doesn't fired for dashboard & support

[2020-07-24 14:24] serdiukov-o-nordwhale commented on #2130
@AnastasiiaOdnoshevna about invite page. I've found that it doesn't uses IFrameTab, it renders iframe tag directly and listens to onload. I've added an PR to fix this: https://github.com/GoodDollar/GoodDAPP/pull/2214

[2020-07-26 12:42] LiavGut opened #2215 "Popup - "Camera permission" - update text"
**New text:**
Enable camera access
to claim G$’s

![Screen Shot 2020-07-26 at 11.59.04.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/68f5490e-a0fe-4935-934d-a6ca4788d925)

[2020-07-27 06:09] #2132 closed

[2020-07-27 06:10] sirpy commented on #2193
@yaroslav-fedyshyn-nordwhale gun stops trying to reconnect after 60 retries ie 2 minutes.
add to client constructor {retry:Infinity} see if that solves the issue

[2020-07-27 06:15] sirpy opened #2216 "(Bug) after deleting and recreating account an error is returned from mautic"
There are a couple of issues here
- [x] logging is broken on heroku/logentries - looks like a crash. so we can't debug on server. probably one of the latest log.error changes causes it to crash.
- [x] find out why mautic returns an error

recreated for account  dredertest@gmail.com ,see slack chat for password or #2217

[2020-07-27 06:48] AnastasiiaOdnoshevna opened #2217 "(BUG) Error: New user failure"
Precondition:
User hasn’t claimed before (was noticed that reproduced for accounts that haven’t claimed before)
User in queue

Steps to reproduce:
1) Delete the wallet
2) Recover the wallet
3) Pay attention to the error message
**Accounts have been created UNsuccessfully:**
1)     testsundays29@gmail.com // Qwert_321
privateKey: "dfa4a01cdbd087fc47e40b68d153551d3b72570767f2911ce4717668812454b1"
2)

[2020-07-27 07:27] #2217 closed

[2020-07-27 07:29] AnastasiiaOdnoshevna commented on #2217
duplicate of the #2216

[2020-07-27 07:55] #1794 closed

[2020-07-27 09:19] LiavGut opened #2218 "FV - update Zoom progress (The user must stay on this screen) + success screens"
**Progress screen:**
New design (small change, adding a title, change positioning) + text
title:
You need to stay on this screen
until the process completes.

text:
Verifying you’re
one of a kind

This may take a minute.

**Success screen:**
Change  change positioning + text

text:
You’re a beautiful
& unique snowflake!

https://xd.adobe.com/view/4a1e437a-6070-46ab-a7c3-d8e346036ea4-1f4d/

![Scree

[2020-07-27 09:20] AnastasiiaOdnoshevna opened #2219 "(BUG) The user is able to get in deleted account by using any other email"
Steps to reproduce:
1) Click the  "Agree & continue with Google" and chose email which wallet was deleted
2) Click the "Back arrow" button on the stage of filling mobile
3) Choose other working account and enter into the wallet
4) Pay attention to the wallet you get in

Actual result: The user is able to get in the deleted account by using any other email
Expected result: The user shouldn't be abl

[2020-07-27 10:04] AnastasiiaOdnoshevna opened #2220 "(BUG) The duplicates screen is displayed on the FV stage after recovering the wallet"
Precondition:
The user has passed FV and then deleted the account
The user has recovered account
24 hours have elapsed after recovering
Steps to reproduce:
1) Verify account via FV
2) Pay attention to the duplicate error message

Actual result: The duplicates screen is displayed on the FV stage after recovering the wallet
Expected result: The user should be able to pass FV after recovering the wal

[2020-07-27 10:16] sirpy commented on #2216
caused by duplicate mautic accounts for same email

[2020-07-27 10:18] serdiukov-o-nordwhale commented on #2220
Not a bug, it's working as expected - we have 24hrs delay after account removal before dispose it's face snapshot. This prevents fraud

[2020-07-27 10:27] AnastasiiaOdnoshevna commented on #2220
@serdiukov-o-nordwhale the wallet was deleted and then recreated on Friday so it means it has been over 24 hours
 I should be able to claim today  I gauss

[2020-07-27 10:28] serdiukov-o-nordwhale commented on #2220
@AnastasiiaOdnoshevna please describe all those conditions (that 24hrs was elapsed )

[2020-07-27 11:19] AnastasiiaOdnoshevna opened #2221 "(BUG) The image profile placeholder is absent on the "Home" page after deleting and recreating the wallet"
solution:
change profile field avatar privacy to public

Precondition:
The avatar is added
Steps to reproduce:
1) Delete the account and then recreate
2) Pay attention to the absence of image profile placeholder

Actual result: The image profile placeholder is absent on the "Home" page after deleting and recreating the wallet
Expected result: The image profile placeholder should be displayed on th

[2020-07-27 12:45] yaroslav-fedyshyn-nordwhale commented on #2216
The link to the PR - https://github.com/GoodDollar/GoodServer/pull/222

[2020-07-27 13:04] AnastasiiaOdnoshevna commented on #2130
@serdiukov-o-nordwhale iframe is present for web3
our target - to make DOMContentLoaded instead of Load for each iframe? or currently, result as is expected and we can close this issue?
![2020-07-27_15-58-48.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/8475f0aa-4197-4462-b038-4682225713b5)

[2020-07-27 13:59] yaroslav-fedyshyn-nordwhale commented on #2193
@sirpy {retry: Infinite} dont help and as I explained in previous comment - i dont think this issue related to the gun. I think the problem is with InternetConnection component. See the video I recorded to see what is happening:
https://www.screencast.com/t/lltcyN9j2Kf

[2020-07-27 14:02] AnastasiiaOdnoshevna commented on #2220
described

[2020-07-27 14:12] AnastasiiaOdnoshevna opened #2222 "(BUG) The "Invite"pop-up is displayed on the "Home" screen after switching between feeds in fullscreen mode"
Precondition:
The Invite card is displayed on the "Home" page

Steps to reproduce:
1) Click the card which located nearly the "Invite" card (for example: welcome card)
2) Swipe to the right (depending on where the card is located)
3) Pay attention to the Invite pop up

Actual result: The "Invite" pop-up is displayed on the "Home" screen after switching between feeds in fullscreen mode
Expected res

[2020-07-27 15:29] serdiukov-o-nordwhale commented on #2130
yes

[2020-07-27 20:22] sirpy commented on #2220
@serdiukov-o-nordwhale please check if the FV record queue/cron flow was working for this account

[2020-07-27 20:27] sirpy commented on #2172
not  a bug

[2020-07-27 20:27] #2172 closed

[2020-07-27 20:28] sirpy commented on #2186
@AnastasiiaOdnoshevna does this still happen?

[2020-07-27 20:40] sirpy commented on #2213
@LiavGut yes

[2020-07-28 07:35] sirpy opened #2223 "Interest library test scenarios"
A test scenario needs to  simulate actions by multiple stakers by calling the following methods in different orders and different inputs:
- stake - a staker stakes some tokens and maybe also donate some of the intereset
- withdrawStakeAndInterest - staker withdraw his whole/part of his stake and always all of the interest earned
- withdrawGDInterest - staker withdraw only his earned interest

The

[2020-07-28 08:44] AnastasiiaOdnoshevna commented on #2186
@sirpy I haven't met that anymore

[2020-07-28 09:48] #2186 closed

[2020-07-28 11:37] yaroslav-fedyshyn-nordwhale commented on #2212
The link to the PR - https://github.com/GoodDollar/GoodDashboard/pull/31

[2020-07-28 13:05] mauriguz opened #2225 "ReactNative - When trying to complete the signup flow the app crashes"
### Description
When trying to complete the signup flow the app immediately crashes right after filling the email step. The error message is Malformed calls from JS: field sizes are different

### Steps to reproduce
1. Open the app without user
2. Select "sign up"
3. Fill name, phone, code & email steps
4. App crashes

### Supporting data
![image](https://user-images.githubusercontent.com/14169682

[2020-07-28 13:06] mauriguz commented on #2225
Issue caused by multiple sets of userProperties. PR coming soon

[2020-07-28 14:08] sirpy commented on #2216
@AnastasiiaOdnoshevna
this is fixed.
but please try to recreate the duplicate mautic user issue, not sure why it happened.
maybe because we first add user to mautic via client and also via server, so maybe it causes some kind of conflict.
try with a new account and quickly finish registration, maybe that will cause it.

[2020-07-28 14:09] #1996 closed

[2020-07-28 14:10] #1923 closed

[2020-07-28 14:12] AnastasiiaOdnoshevna commented on #2216
@sirpy I can check that at once on qa env or I should release at first to qa?

[2020-07-28 14:32] AnastasiiaOdnoshevna commented on #2215
The text should be completely bold
![2020-07-28_17-17-29.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/acdced5e-5190-4c98-9148-56ddd2436699)
Checked on DEV V0.25.4-8
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome  84.0.4147.89

[2020-07-28 14:46] AnastasiiaOdnoshevna opened #2227 "(BUG) Android: The pop-ups aren't centered by vertically"
Steps to reproduce:
1) Click the "Add to home screen" button on the context menu (you can open other pop-ups)
2) Pay attention to the place of the pop-up

Actual result: The pop-ups aren't centered by vertically
Expected result: The pop-ups should be displayed on the center of the screen

Checked on DEV V0.25.4-8
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.89
![Screenshot_2020-07-28-17-28-29

[2020-07-28 20:41] #2225 closed

[2020-07-28 20:41] #2042 closed

[2020-07-29 07:19] AnastasiiaOdnoshevna commented on #2215
@sirpy ![2020-07-29_9-45-01.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/b54a2ff3-24f1-4e8f-bc58-7e36cf8926c4)
Checked on DEV V0.25.4-8
LG V30+ // Android 8.0 // Google Chrome 83.0.4103.106
Desktop: Windows 10 // Google Chrome 84.0.4147.89

[2020-07-29 08:24] AnastasiiaOdnoshevna commented on #2216
@sirpy I've checked it out on dev, it hasn't been caught for new accounts
but on one of my old accounts, it has been reproduced

https://www.screencast.com/t/vVtduuzTYPTd
privateKey: "dfa4a01cdbd087fc47e40b68d153551d3b72570767f2911ce4717668812454b1"
testsundays29@gmail.com  // Qwert_321

[2020-07-29 09:56] serdiukov-o-nordwhale opened #2231 "(Chore) Refactor UserPropertiesClass"
a) just refactor the class,
b) make updateAll the main method modifying the props, other will just call it
c) props are mutable, they're modified immediately without awaiting secret() to complete

- [ ] apply the PR suggestions
- [ ] test on web
- [ ] test on native

[2020-07-29 10:01] serdiukov-o-nordwhale opened #2232 "(Chore) User rxjs to aggregate online status in internetConnection.js"
if we have a few streams of events (connect-disconnect) better to use  use rxjs to aggregate the states (with ‘all’) condition

* [ ] as useXXXConnection hooks haven’t used anywhere except internet connection, we’ll remove them. Instead we’ll define an _.once-wrapped factories returning behavior subjects (with initial state = false)
* [ ] in internet connection we’ll define observable which arrger

[2020-07-29 14:07] AnastasiiaOdnoshevna commented on #2198
@sirpy the try again error is reported to the amplitude
![2020-07-29_17-02-51.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/7f333379-c18d-4f85-a722-555230ff48a3)
Checked on DEV V0.25.4-9
Desktop: Windows 10 // Google Chrome  84.0.4147.89

[2020-07-29 15:31] AnastasiiaOdnoshevna commented on #2196
@sirpy the spinner isn't displayed after these steps that are shown on the video
Checked on QA V0.25.4-9
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.89
Desktop: Windows 10 // Google Chrome  84.0.4147.89

[2020-07-29 15:31] #2196 closed

[2020-07-29 15:36] #2219 closed

[2020-07-29 15:39] AnastasiiaOdnoshevna commented on #2216
@sirpy it's mautic issue
it has not been reproduced on new accounts
Checked on QA V0.25.4-9
Desktop: Windows 10 // Google Chrome  84.0.4147.89

[2020-07-29 15:39] #2216 closed

[2020-07-30 13:06] serdiukov-o-nordwhale commented on #2220
I couldn't find any messages regarding the disposing tasks are running on cron. Will check now locally what's wrong with the cron

[2020-07-30 15:39] AnastasiiaOdnoshevna commented on #2198
@sirpy will you close this issue when the two last points are ready?

[2020-07-30 20:46] mauriguz commented on #2047
@MathiasMoralesDixtra Here's the updated ticket for analytics, feel free to let me know if more details need to be added.
Lets have individual PRs for each one of the points of the plan of attack and as we've been speaking points 1 & 2 are top priorities, 3 medium, 4 super low.

[2020-07-30 20:48] #2064 closed

[2020-07-30 22:27] serdiukov-o-nordwhale commented on #2220
Found a reason:
https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/goodserver/226

Also i've found some mistakes in cron task logging, will attach PR with fixes to this task

[2020-07-30 23:10] serdiukov-o-nordwhale commented on #2220
PR attached.

During the investigation I've checked all FR lifecycle from user signup to account removal & further delayed enrollment disposal via cron tasks. Everything is working fine.

I've optimized a bit /enroll API call - removed awaiting of Mautic calls from whitelistUser (now we're returning response once claimQueue nested object updates in Mongo). Also i don't perform mautic calls if user

[2020-07-31 12:15] AnastasiiaOdnoshevna opened #2235 "(BUG) Facebook: The user cannot get the OTP for some accounts"
**Precondition:**
The email stage is displayed (registration through Facebook / the user hasn't added the email to Facebook)
Facebook:   +380636149513  // 78qa22!@#
privateKey: "0755dce14f7d588742e2bc5b996cf62c98cc012370c7359a0d0ee23328aa949e"

**Steps to reproduce:**
1) Enter the  email to the field   (  testsecond6@gmail.com  //   TestSecond2020   )
2) Check the  inbox of  testsecond6@gmail.com

[2020-07-31 12:18] serdiukov-o-nordwhale commented on #2235
@AnastasiiaOdnoshevna  please use OTP instead of SMS. It's confusing because SMS (short message service) generally relates to the cellular networks. When you're actually talking about 'OTP email message' (one time password sent to email address)

[2020-07-31 12:29] AnastasiiaOdnoshevna commented on #2235
@serdiukov-o-nordwhale Okay, I'll keep it in mind.
 I've corrected the issue

[2020-07-31 14:24] AnastasiiaOdnoshevna opened #2237 "(BUG) Error: getPaymentLink Failed: Link couldn't be generated"
Precondition:
The receive link is opened (receive via wallet or specific amount)
 Steps to reproduce:
1) Enter the value and message that you want to send (for what? / add a few sentences)
2) Confirm transaction
3) Check the feed in the receiver
4) Pay attention to the lack of sent text
5) Open the feed
6) Pay attention to the error message in the console

Actual result: The sent text isn't displa

[2020-07-31 14:40] serdiukov-o-nordwhale commented on #2220
found that issue was caused by the invalid error transport implementation. updated this PR with fix

[2020-08-02 05:34] sirpy opened #2238 "(Bug) cannot read property 'get' of null"
still getting these errors from different places
see
https://sentry.io/organizations/gooddollar/issues/?environment=production&project=1829798&query=is%3Aunresolved+%27get%27+of+null&statsPeriod=14d

- had to revert the PR. it causes wallet to load prematurly

- [x] move InternetConnection wrapper inside to each router instead of having  it as a single higher order  component

[2020-08-02 05:43] sirpy opened #2239 "(Bug) showDialogDeleteAccouunt undefined function"
https://sentry.io/organizations/gooddollar/issues/1781427154/events/?environment=production&project=1829798&statsPeriod=14d

[2020-08-02 05:46] sirpy opened #2240 "(Bug) unhandled exception and permissions api"
https://sentry.io/organizations/gooddollar/issues/1779714426/events/?environment=production&project=1829798&referrer=alert_email

[2020-08-02 09:03] serdiukov-o-nordwhale commented on #2238
Now it looks like some internal undux exception as it's thrown when we calling setter or subscribing in the cases you've linked

[2020-08-02 09:08] serdiukov-o-nordwhale commented on #2239
It's fixed in master just wasn't merged to the prod yet
Could add hotfix directly to prod (just need to change one line) tomorrow, what do you think ? When we're planning to release ?

[2020-08-02 09:18] serdiukov-o-nordwhale commented on #2240
Firefox has permissions api but doesn't support all options to query (camera is one of them)

https://stackoverflow.com/questions/53147944/firefox-permission-name-member-of-permissiondescriptor-camera-is-not-a-vali

There wasn't mentioned in PermissionAPI docs that .query() could throw so that why we haven't wrapped it into try catch. That because we having unhandled rejection in FF

I propose to

[2020-08-02 13:03] LiavGut commented on #2213
@sirpy can we stay on Torus screen while we load our part? it makes more sense, for the user, not to have 2 loaders (torus and ours) for the same action (from his point of view).

[2020-08-03 06:41] sirpy opened #2241 "(Bug) OK verify me unresponsive of firefox windows"
a user was trying to do FV on windows 10, firefox and nothing happened when he presses ok verify me

[2020-08-03 08:44] sirpy commented on #2213
1. no
2. it still is  slow and  we need some  kind of progress. like the bullet
points we did for FV
-  getting your secure privatekey from Torus
- initialized your wallet
- initializing storage
DONE

[2020-08-03 08:51] #2184 closed

[2020-08-03 08:51] AnastasiiaOdnoshevna commented on #2184
@sirpy signup is performed successfully
Checked on QA V0.25.4-9
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-03 08:55] sirpy opened #2242 "Product preperations for phase1"
- [x] update technical FAQ - handled by tomer and tracked in notion
  - i cant pass  face verification
  - browsers
  - i cant re-login to my account with passwordless X
  - link to FAQ from failure screens?
- [x] prepare for bounties - by tomer in notion
  - github README
- [x] test live version with ambassadors
- [x] UI improvements
   - switch browser on ios
   - FV stay on screen
   - FV liven

[2020-08-03 08:58] AnastasiiaOdnoshevna commented on #2084
@sirpy @serdiukov-o-nordwhale the user is able to get int account successfully via  facebook,google,auth0
except for the issue that could be encountered from time to time during facebook signing up (#2235)
Checked on QA V0.25.4-9
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-03 09:02] LiavGut commented on #2242
Add:
1. Update error messages
2. Add Unsupported browsers splash screen

[2020-08-03 09:36] serdiukov-o-nordwhale commented on #2239
created patch PR directly to production: https://github.com/GoodDollar/GoodDAPP/pull/2244

[2020-08-03 09:48] sirpy commented on #2235
@AnastasiiaOdnoshevna the error you are describing is the user getting the OTP  code
to the wrong email address?

[2020-08-03 09:49] sirpy commented on #2084
@AnastasiiaOdnoshevna we still didnt deploy torus mainnet

[2020-08-03 10:11] AnastasiiaOdnoshevna commented on #2235
@sirpy  yes. but getting OTP it's the ended result when user changes a few time the mailbox
for example, he didn't receive the OTP and then decided to change mailbox, so an initial problem that user couldn't get OTP and only after 2-3 changing the mailbox appears the getting the OTP code
to the wrong email address

[2020-08-03 10:28] AnastasiiaOdnoshevna commented on #2212
@yaroslav-fedyshyn-nordwhale @sirpy the chart hasn't changed after claiming on a few accounts
Checked on DEV V0.25.4-9
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.105
![2020-08-03_13-24-16.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/61dbff77-36cc-4b20-9c0f-49e53e6401c6)

[2020-08-03 10:31] LiavGut opened #2246 "Statistics screen: Google data studio - Change title"
Title: G$ Claims Distribution Per Country

![Screen Shot 2020-07-30 at 21.27.59.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/f03da226-3d20-486a-b6a5-f53c25654d48)

[2020-08-03 10:36] LiavGut opened #2247 "(BUG) - Error message UI after canceling Torus login"
Title + Visual are too big. need to match the design.
On mobile (Galaxy A5)

 ![WhatsApp Image 2020-08-03 at 13.34.15.jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/81eb807f-5e87-4a4d-b0bf-5023c2c70f06)

[2020-08-03 12:56] sirpy commented on #2212
@AnastasiiaOdnoshevna env setting was missing
try again in  an hour

[2020-08-03 14:51] AnastasiiaOdnoshevna opened #2248 "(BUG) Statistics: The data(amount of G$) is not displayed fully on the chart's tip"
Steps to reproduce:
1) Open the  "Statistics" page
2) Hover the mouse over the last point of the chat (for example Total G$ supply)
3) Pay attention to the amount on the tip

Actual result: The data is not displayed fully on the chart's tip
Expected result: The tip should be displayed fully on the "Statistics" page

Checked on DEV V0.25.4-9
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Des

[2020-08-04 08:06] AnastasiiaOdnoshevna commented on #2212
@sirpythe daily amount is static, it doesn't increase... is it depends on the test environment, can we consider that as everything is ok?
![Screenshot_2020-08-04-10-51-58.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/46921043-50d9-4eb3-a529-e91c4b10bfd4)

[2020-08-04 08:27] #2240 closed

[2020-08-04 08:30] sirpy commented on #2193
@AnastasiiaOdnoshevna the issue seems  to be that the popup about network issue isnt removed correctly.
see  the video yaroslav shared and the command he uses to show the  window
ask  @serdiukov-o-nordwhale for help  if needed  in testing

[2020-08-04 09:25] tomerGD commented on #2242
remove passwordless email login (blocker for the launch)
switch browser on ios
FV liveness instructions
FV stay on screen
Signup progress indicator
popup notifying about unsupported browser

[2020-08-04 10:45] LiavGut commented on #2242
@sirpy Do you want to open tickets to all of these issues? or do you want me to do that?
I know some already have opened tickets

@tomerGD We should also talk about prioritizing them.

[2020-08-04 10:54] LiavGut commented on #2213
@sirpy
Add a popup with Spinner + Checkmark animation

**Let's just make sure that by adding this popup we are not also adding more waiting/loading time for the user.**

https://xd.adobe.com/view/8462cd1d-23d8-421c-a420-f675b90cca8b-d131/

<img width="390" alt="Screen Shot 2020-08-04 at 13 39 25" src="https://user-images.githubusercontent.com/54103946/89285657-71543980-d659-11ea-8e3d-14591eaeb36c.

[2020-08-04 11:32] AnastasiiaOdnoshevna commented on #2239
@sirpy @serdiukov-o-nordwhale The wallet is deleted successfully
Checked on PROD V0.25.6
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.105
Video: https://www.screencast.com/t/aZeL0edVpetQ

[2020-08-04 11:32] #2239 closed

[2020-08-04 14:53] LiavGut opened #2249 "Remove passwordless email login from Phase1"
ie. If a user clicks on the "Continue with Passwordless" button he will be directed straight to Torus Mobile Login

[2020-08-04 15:00] LiavGut commented on #1874
@sirpy UPDATE:

add a popup after "Let's Start" screen in the signup flow (**Only for users with unsupported browsers, ie. not Chrome or Safari and who are not iOS users**)

https://xd.adobe.com/view/9641eba6-7b7b-469d-b3f8-ddaacbc2b87d-c312/

![Screen Shot 2020-08-04 at 14.28.34.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/c428d23d-19bd-4b05-9d1e-09ff2c45d963)

[2020-08-04 15:14] sirpy opened #2250 "User should see FaceVerification liveness best practices"
- [x] where and when should we show this to the user
- [x] head straight, camera eye level, natural expression, even and good lighting

[2020-08-04 15:16] sirpy opened #2251 "User should see progress indicator on after login"
It takes time for the wallet to be created
- [x] show dialog with spinner that turns to checkmark

[2020-08-04 15:16] sirpy commented on #2251
@LiavGut add the design please

[2020-08-04 15:17] sirpy opened #2252 "Remove passwordless email login"

[2020-08-04 15:19] sirpy opened #2253 "User should see pop about unsupported browser"
If user doesnt use chrome or doesnt use Safari  on iOS show a popup right after Signup
- [x] shown right after signup is success. can be implemented as part of the signup process.
- [x] on iOS without Safari show dialog
- [x] on non iOS without chrome show dialog

[2020-08-04 15:19] sirpy commented on #2253
@LiavGut need design

[2020-08-04 15:19] LiavGut commented on #2251
@sirpy  It's not duplicate of #2213
Add a popup with Spinner + Checkmark animation
Let's just make sure that by adding this popup we are not also adding more waiting/loading time for the user.
https://xd.adobe.com/view/8462cd1d-23d8-421c-a420-f675b90cca8b-d131/

<img width="384" alt="slack-imgs" src="https://user-images.githubusercontent.com/54103946/89311750-10d7f300-d67f-11ea-85bb-0526a7402868.p

[2020-08-04 15:25] sirpy opened #2254 "Show generic message on error"
Currently in many places we show to the user the exception message itself which is confusing for the user
- [x] change all such cases to display the generic error message "something unexpected please try again"
- [x] show also an error code in format of E<n> (E1, E2...) and record in excel file which component/action triggered the error code
- [x] sentry error logging should be the same. maybe als

[2020-08-04 15:43] AnastasiiaOdnoshevna commented on #1711
The "Invite" page: All content is disappeared after waiting for 30-60 sec
Video: https://www.screencast.com/t/fmVxmbuUkK
Checked on DEV V0.25.4-9
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-05 08:45] sirpy commented on #1711
@AnastasiiaOdnoshevna this should be tested on PROD

[2020-08-05 09:33] sirpy commented on #2080
@serdiukov-o-nordwhale i've fixed unit tests for wallet and storage
please fix left unit tests on Server+DAPP

[2020-08-05 09:50] sirpy opened #2257 "(Bug) user isnt shown FV contact support screen after 3 duplicate found error"
If user has duplicate then after 3 such errors he should see the special "contact support" FV error screen

[2020-08-05 09:51] AnastasiiaOdnoshevna opened #2258 "(BUG) IOS: The everlasting spinner on the auth 0 flow via email"
It was reported that user get the everlasting spinner on the  auth 0 flow via email (if safari opened through another application, but not directly )
The device and  version were used:  iOS 13.5.1 iPhone XR

The issue isn't reproduced for such devices (maybe it concern only iOS 13.5.1 )
Checked on the PROD V0.25.6
iPhone  X iOS 13.3.1
iPhone  XS iOS 14
iPhone  XR iOS 12.4
iPhone 11 iOS 13.3

- [x]

[2020-08-05 10:26] sirpy commented on #2242
i will open

[2020-08-05 10:36] sirpy commented on #2213
closed as dup of #2251

[2020-08-05 10:36] #2213 closed

[2020-08-05 10:36] #2085 closed

[2020-08-05 10:41] serdiukov-o-nordwhale commented on #2130
from unknown reasons my snippet won't work in GTM
have re-written its code, now it works. checked locally using own test GTM account

also i've added a check if dom ready is already fired - i'm sending event immediately in this case
(this could happens if select 'DomReady' as the tag trigger in the GTM dashboard)

@sirpy could you please update snippet code in the GTM

[2020-08-05 12:10] serdiukov-o-nordwhale commented on #2257
@sirpy Is it some new screen ?
For now after 3 errors of any kind we're redirecting to the 'try again later'

[2020-08-05 12:45] AnastasiiaOdnoshevna commented on #2193
@sirpy The connection with a gun isn't restored, and the pop-up is displayed a long time
Video:https://www.screencast.com/t/lHFkrxg4uxW
Checked on DEV V0.25.4-9
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-05 15:17] serdiukov-o-nordwhale commented on #2080
fixed up the tests, updated env vars in Cypress

the following tests are still failing on GoodServer (despite i switched tests runs to fuse network having latest contracts):

fishManager.test.js
stakingModelManager.test.js

could you please look on them ?

[2020-08-05 16:42] serdiukov-o-nordwhale commented on #2080
Also some wallet tests are failing on Travis (but succeeded on local run)
https://travis-ci.com/github/GoodDollar/GoodDAPP/jobs/368669503
I’ve set network=fuse on Travis env but it’s seems it won’t helped

[2020-08-06 05:19] sirpy commented on #2193
new fix pushed

[2020-08-06 05:24] sirpy commented on #2080
@serdiukov-o-nordwhale on server there are only two tests failing
one that you need to fix its from FV enrollment processor
the other is because of the  change you did to the data structure of the cron tasks - i'll fix it

[2020-08-06 05:29] sirpy commented on #2252
dup of #2249

[2020-08-06 05:29] #2252 closed

[2020-08-06 07:38] LiavGut commented on #2253
@sirpy (#1874 is a dup)

add a popup after "Let's Start" screen in the signup flow (Only for users with unsupported browsers, ie. not Chrome or Safari and who are not iOS users)

https://xd.adobe.com/view/9641eba6-7b7b-469d-b3f8-ddaacbc2b87d-c312/

![Screen Shot 2020-08-05 at 14.59.59.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/23b28308-4e14-42b5-99e4-58763acd0691)

[2020-08-06 07:59] AnastasiiaOdnoshevna commented on #2193
@sirpy The connection with a gun is restored successfully
Video: https://www.screencast.com/t/3WyZAeWVvr
Checked on DEV V0.25.4-9
Desktop: Windows 10 // Google Chrome 84.0.4147.105

[2020-08-06 07:59] #2193 closed

[2020-08-06 08:55] serdiukov-o-nordwhale commented on #2080
@sirpy sorry, i fixed both of them, but i forgot to push my changes (
pushed them now

[2020-08-06 09:45] AnastasiiaOdnoshevna commented on #2257
@serdiukov-o-nordwhale @sirpy The user gets the Unrecoverable screen after 3 attempts with duplicate
![Screenshot_20200806-115435_Chrome.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/32cb40ac-1591-43da-8d87-f076712c00e6)
Checked on PROD V0.25.6
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-06 09:45] #2257 closed

[2020-08-06 10:28] sirpy commented on #2130
@AnastasiiaOdnoshevna updated. should be working now.

[2020-08-06 10:39] AnastasiiaOdnoshevna commented on #2130
@sirpy The "load" is still displayed for Help&Feedback
![2020-08-06_13-33-11.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/62228b2f-1e15-4cce-9c16-b95bcea3ea7a)

[2020-08-06 11:07] sirpy opened #2261 "Split login screen to signup+login"
- [ ] user should be notified if he tries to "signup" with existing email/mobile (using server endpoint by user email/mobile)
  - check right after login
  - check by email/mobile once entered during signup
  - we can notify user which login method was used with the existing email/mobile (it is saved in user record)
- [ ] user should be notified if he tries to "login" and account doesnt exists (us

[2020-08-06 11:10] sirpy commented on #2130
@AnastasiiaOdnoshevna hmm reload, maybe the page wasnt updated for you. it works fine for me.
please try again

[2020-08-06 12:09] serdiukov-o-nordwhale commented on #2130
@AnastasiiaOdnoshevna i tested - DOMContentLoaded is successfully sent via postMessage
But, as the privacy policy loads very fast, and GTM adds some overhead, it happens when page is almost loaded or loaded. So, as the result, the onload event comes first.
For example, on Statistics page everything is working as expected
Try to throttle your connection speed using DevTools and you would see DOMCon

[2020-08-06 12:23] AnastasiiaOdnoshevna commented on #2130
@serdiukov-o-nordwhale I decrease speed but the load is still displayed for the "Help&Feedback"...it has been checked on the different devices - the same result
![2020-08-06_15-15-42](https://user-images.githubusercontent.com/54942555/89531375-d09c8000-d7f8-11ea-9f15-29f5cfb34b87.png)

[2020-08-06 12:36] serdiukov-o-nordwhale commented on #2130
Then the issue with GTM configuration. The snippet now sends an event but too late

[2020-08-06 12:39] serdiukov-o-nordwhale commented on #2130
also i couldn't see that snippet is loaded for help & feedback
<img width="1068" alt="image" src="https://user-images.githubusercontent.com/62208067/89532783-004c8780-d7fb-11ea-86b5-b09d6bfb0161.png">

[2020-08-06 12:44] serdiukov-o-nordwhale commented on #2130
i've checked with slow 3g - yes, the snippet is executing too low. i could see when dom is loaded and iframe having some content. and that's the moment when snippet should send an event (he did it at this moment in the configuration i've used locally). But instead GTM awaits for whole page is loaded and adds snippet only then. It seems that 'page loaded' trigger is even selected, nor dom ready/pag

[2020-08-06 13:00] #2080 closed

[2020-08-06 13:48] #2048 closed

[2020-08-06 13:49] sirpy commented on #2130
i dont know for me its working this is on gooddev
![domcontentload.gif](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/cd78e879-62ba-46ec-b0c5-8bc96987f124)

[2020-08-06 13:51] serdiukov-o-nordwhale commented on #2246
@LiavGut
@sirpy how about footer ? update it's text too ? or just remove as we having "GoogleDataStudio" watermark over the map-chart ?

[2020-08-06 13:58] serdiukov-o-nordwhale commented on #2246
fixed in this PR: https://github.com/GoodDollar/GoodDashboard/pull/32

[2020-08-06 15:21] serdiukov-o-nordwhale commented on #2237
Doesn't reproduces on the latest master. Payment was successfully received, the message appears in the feed and in the popup, no errors were thrown in the console:
![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/4c3bc443-8986-48d6-8775-20596fee6fa4)
![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/d88a190f-d06d-4d75-ae76-f8caca4f1631)

[2020-08-06 15:21] serdiukov-o-nordwhale commented on #2237
@AnastasiiaOdnoshevna you could re-test it on goddev

[2020-08-06 15:44] LiavGut commented on #2246
@serdiukov-o-nordwhale Remove the footer.

[2020-08-06 19:12] sirpy commented on #2237
@AnastasiiaOdnoshevna 1 and 4 are not clear in the instructions how to reproduce
1. "add a few sentences"
4. "lack of text"

[2020-08-07 07:14] #1921 closed

[2020-08-07 07:15] #2126 closed

[2020-08-07 08:31] AnastasiiaOdnoshevna commented on #2246
@serdiukov-o-nordwhale @sirpy
1) The title is changed to the "G$ Claims Distribution Per Country"
2) The footer is deleted
![2020-08-07_11-13-5522.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/2dc18efc-b97f-452e-b804-f2af880d416e)
Checked on DEV V0.25.4-9
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-07 08:31] #2246 closed

[2020-08-07 08:45] AnastasiiaOdnoshevna commented on #2212
@sirpy the data is changeable, the chart is being change everyday d
![2020-08-07_11-33-39.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/1192eb8a-5e41-4cee-a544-281564ddc59b)
Checked on DEV V0.25.4-9
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome 84.0.4147.105

[2020-08-07 08:45] #2212 closed

[2020-08-07 10:10] AnastasiiaOdnoshevna commented on #2237
@serdiukov-o-nordwhale @sirpy
Also, It's reproduced on DEV V0.25.4-9 env
https://www.screencast.com/t/l1Ezyrr2eIz

Steps to reproduce:
1) Enter the value and message that you want to send (for what? / add a long message with 256 characters -it's max value for this field - the issue is being reproduced only with a long message
4) Pay attention to the lack of sent text (the one who gets the G$'s thr

[2020-08-07 10:17] serdiukov-o-nordwhale commented on #2237
@AnastasiiaOdnoshevna it seems we've met the browser's limitations for the URLs length
quick solution - check from which length it starts failing and we'll decrease max chars allowed according to the value
correct solution - once we generated the link, check it's length and show validation error for the message field if it's too long

[2020-08-07 12:54] PremSOMISH opened #2265 "Frame scenario test cases in Excel sheet"
Frame various scenarios in excel sheet to cover all possible cases for interest mechanism.

Cases such as:
1) All staked after 0 hours of interest cycle
2) few stakers stake and few staker withdraw Interest
3) No one stakes in this interest cycle but Itoken rate changes so some interest will generate.
4) few stakers stakes and few staker withdraw Interest and stake.

suggest more cases if missed a

[2020-08-07 13:10] #2265 closed

[2020-08-07 14:57] AnastasiiaOdnoshevna commented on #2237
@serdiukov-o-nordwhale Now even one word isn't displayed through receive link. It's weird
because i've done transaction beetwen wallets on my PC, also from PC to mobile and use even completely new wallets but result the same - even short message isn't displayed
But  when we  did a few transaction Vladimir to Anastasia and vise versa the text I displayed

[2020-08-07 14:59] serdiukov-o-nordwhale commented on #2237
@AnastasiiaOdnoshevna where ? QA ? DEV ? try to clear everything (cookies storage etc)

[2020-08-07 15:12] AnastasiiaOdnoshevna commented on #2237
qa and dev
cookies storage was cleared

[2020-08-07 15:19] serdiukov-o-nordwhale commented on #2237
It's very strange - havent seen it during testing yesterday
i've added a fix validating link length. will re-test the new issues found with my fix the Monday

[2020-08-09 07:20] sirpy commented on #2237
@serdiukov-o-nordwhale its not link length i've tried and it barely reaches 512
@AnastasiiaOdnoshevna in the video I dont see where you paste the payment link in the receiving wallet
also now that I look closer you are using the send to wallet address directly? option because the TX is immediately red.
You have to be MUCH more detailed and explanatory about the exact steps you are doing, at least

[2020-08-09 21:16] sirpy opened #2268 "(Chore) read facetec keys and config settings via api"
facetec rolls production keys, so we'll need to dynamically update them

* [x] send keys from server via rest endpoint
* [ ] on client re-request keys if expiration < week
* [ ] update to latest keys on production web/native

[2020-08-09 21:17] sirpy opened #2269 "signuprouter analytics initialized too early"
FS and Mautic are not detected in global scope
in console log you can see "available analytics" and FS/mautic are false even though they are available in console.
FS should be true only on production

[2020-08-10 06:41] sirpy commented on #2269
will remove from GTM and include them inline

[2020-08-10 08:14] AnastasiiaOdnoshevna commented on #1462
@sirpy  Tested on QA ...The user was active and after two inactive days user claimed only 1 G$ - it means that the user became inactive
Checked on QA  V1.0.0
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-10 08:14] #1462 closed

[2020-08-10 08:25] AnastasiiaOdnoshevna commented on #2249
@sirpy The auth0 via mobile is opened at once after clicking the "Agree & Continue Passwordless" button
Video: https://www.screencast.com/t/gIOzweg6x
Checked on DEV V1.0.0
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-10 08:25] #2249 closed

[2020-08-10 08:53] AnastasiiaOdnoshevna commented on #2247
@LiavGut pop up is displayed according to the design
![Screenshot_2020-08-10-11-32-10.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/d23ddb73-e68d-4533-a653-9ab16804cc5e)
Checked on DEV V0.1.1
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111

[2020-08-10 09:07] #2251 closed

[2020-08-10 09:07] AnastasiiaOdnoshevna commented on #2251
@LiavGut @sirpy The user sees the pop up  with a spinner that turns to checkmark when want to sign up/sign in
Video: https://www.screencast.com/t/UG1PqBlFRJ
Checked on DEV V1.0.0
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-10 09:17] AnastasiiaOdnoshevna opened #2270 "[Mobile] The size of "Preparing your wallet" pop-up doesn't match the design"
Steps to reproduce:
1) Click the "Agree&continue with Google" button on the mobile device
2) Select the mailbox
3) Pay attention to the size of pop up

Actual result: The size of "Preparing your wallet" pop-up doesn't match the design
Expected result: The size of "Preparing your wallet" pop-up should match the design and be less

Checked on DEV V1.0.0
LG V30+ // Android 8.0 // Google Chrome 84.0.4

[2020-08-10 09:57] AnastasiiaOdnoshevna opened #2271 "(BUG) The "preparing your wallet" pop up is displayed for a sec after canceling the torus login"
Steps to reproduce:
1) Click the "Agree&continue with Google" button on the mobile device
2) Close the window with mailboxes
3) Pay attention to the  "preparing your wallet" pop up

Actual result: The "preparing your wallet" pop up is displayed for a sec after canceling the torus login
Expected result: The "preparing your wallet" pop up shouldn't be displayed at all after canceling the torus login

[2020-08-10 10:53] AnastasiiaOdnoshevna commented on #2235
@sirpy now during signing up through Facebook the user sees the "email verification failed unexpected:" "Mautic Error" error message on the filling email stage. maybe it somehow related to this issue
![2020-08-10_13-41-09.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/4847b942-65a8-4b3b-b33d-78e589dad88f)
Checked on QA V1.0.0
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-10 12:00] sirpy commented on #2271
thats the expected behaviour, the popup is shown immediatly when starting torus login
it will take a short time to hide popup once torus fails

[2020-08-10 12:00] #2271 closed

[2020-08-10 12:02] sirpy commented on #2270
@AnastasiiaOdnoshevna is this specific for android? how does it look on desktop and on iOS?

[2020-08-10 12:24] AnastasiiaOdnoshevna commented on #2270
@sirpy  iPhone 11 | iOS 13.3
![2020-08-10_15-13-38](https://user-images.githubusercontent.com/54942555/89781989-0acd9080-db1d-11ea-8d9c-d5fd60407a2a.png)
Desktop Windows 10
![2020-08-10_15-23-27](https://user-images.githubusercontent.com/54942555/89782191-7879bc80-db1d-11ea-94b8-1c75ed427b4f.png)

[2020-08-10 12:29] AnastasiiaOdnoshevna commented on #2247
@sirpy ![2020-08-10_15-12-21.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/8dce7e4c-b7b6-4233-b38a-c697e32b44c4)
![2020-08-10_15-19-40.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/157dae33-4853-45ec-b119-543e70780670)
Checked on DEV V1.0.0
iPhone 11 | iOS 13.3
 iPhone 8 | iOS 13.3.1

[2020-08-10 13:40] AnastasiiaOdnoshevna commented on #2220
@sirpy @serdiukov-o-nordwhale  the "something went wrong" error screen is displayed, and user cannot pass FV again...It looks like that issue #2200
![processed.jpeg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/15809442-8db0-4c59-a474-b0e4dac569ed)
Checked on QA V1.0.0
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-10 14:10] #2105 closed

[2020-08-10 14:30] #2175 closed

[2020-08-10 19:53] sirpy opened #2274 "(Bug) profile image should not be clickable in send screens"
profile image is still  clickable in some of the send screens

[2020-08-10 21:54] LiavGut opened #2275 "(PHASE 1) - System cards Avatar photo should be GoodDollar logo"
![Screen Shot 2020-08-11 at 0.50.52.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/cb307493-23ac-4771-86ab-927720ef8e63)

@sirpy Didn't know how to tag it, feel free, as always to change it :)

[2020-08-10 22:01] LiavGut opened #2276 "(PHASE 1) Send - "How much?" error message - Change the text"
The text should be:
"Sorry, you don't have enough G$"

![Screen Shot 2020-08-11 at 0.50.29.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/90974cd9-85e6-47bb-9bd2-11a72a67a477)

[2020-08-10 22:04] LiavGut opened #2277 "Payment link receive popup - align spinner + check mark between title and text"
![Screen Shot 2020-08-11 at 0.43.07.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/5750518f-99a4-4c67-8382-4fe4fd5472e9)

[2020-08-10 22:26] LiavGut opened #2278 "(Phase 1) Privacy Policy and terms - Not up to date for Phase 1 (Demo agreement)"
![Screen Shot 2020-08-11 at 1.23.47.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/cde508d0-ba23-4bec-8d13-8607dae042e8)

[2020-08-10 22:42] LiavGut opened #2279 "(PHASE 1) Desktop mobile view container - The blurred background of the popups is exceeding out of the container"
Desktop, Chrome.

![Screen Shot 2020-08-11 at 1.29.58.jpg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/0697c801-d2f5-44ce-be28-9ee7c71dd12d)

[2020-08-11 07:11] sirpy commented on #2270
@AnastasiiaOdnoshevna so its android specific?

[2020-08-11 07:12] sirpy commented on #2276
what about TX fee? lets show it if TX fee is >0?
@LiavGut

[2020-08-11 07:35] sirpy commented on #2220
@AnastasiiaOdnoshevna please provide details
user + video with console logs

[2020-08-11 07:47] sirpy commented on #2247
@AnastasiiaOdnoshevna fixed on DEV. check in a couple of minutes

[2020-08-11 07:48] sirpy commented on #2270
@AnastasiiaOdnoshevna for me on my android it looks fine. (gooddev)

[2020-08-11 10:41] sirpy opened #2280 "(bug) wallet creation stuck on latest iOS"
edit:
I found out this happens on my android also, when I log out and try to login again.

Steps to reproduce:
1. Fresh user first time visiting the app
2. Login using facebook
3. The pop-up "preparing your wallet" is shown without spinner and stuck. After refreshing user was able to create account successfully

Environment: next.gooddollar.org

Facebook accounts:
itltest122@gmail.com // what1234

[2020-08-11 12:00] sirpy opened #2281 "(bug) claim countdown does not match real blockchain time"

[2020-08-11 12:18] yaroslav-fedyshyn-nordwhale commented on #2191
The link to the PR - https://github.com/GoodDollar/GoodDAPP/pull/2282

[2020-08-11 12:22] serdiukov-o-nordwhale opened #2283 "(Chore) Remove old payment methods form GoodWalletClass"
We're no longer use the old payment link options and other payment methods related to the v1 contracts.
So we could now just merge PaymentLinks.js back to GoodWalletClass, owerwriting the old methods

[2020-08-11 12:53] sirpy opened #2284 "(bug) dashboard doesnt show balance in mobile view"
- [x] show balance in mobile view
- [x]  on desktop/tablet open dashboard in new tab

[2020-08-11 15:17] serdiukov-o-nordwhale opened #2287 "Android 5.x support"
Device: Samsung J3119s
OS: Android Lollipop 5.1.1
Browser: Chrome (latest supported on 5.1.1)

1. No animations displayed
2. The signup process stuck on 'Preparing your wallet'

![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/02d58f42-9f93-4cb0-9cc1-eadf7a165a7c)

[2020-08-11 15:23] serdiukov-o-nordwhale opened #2288 "next.goddollar.org claim stats are probably wrong"
Where 11.8kG$ claimed number coming from?  is it wrong or not ?

![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/d4499634-8ac0-4bb3-b0ce-c794c2127f9c)

[2020-08-11 15:27] sirpy opened #2289 "(bug) userproperties and regMethod incorrect"
It seems my userProperties have been reset to default values
My menu showed the  backup wallet option even though i registered with torus.
upon refresh it worked as expected
now its  back and checking my userProperties they look like default values
also lastblocked doesnt seem to be saved on signup

[2020-08-11 16:19] serdiukov-o-nordwhale commented on #2220
@AnastasiiaOdnoshevna
@sirpy

subcodes aren't passed on dedicated server / production mode
this breaks all FV logic if the face was already enrolled

[2020-08-11 16:24] serdiukov-o-nordwhale commented on #2220
Also we have a few more places where subCode is used. all this should be fixed.
i created the separate task will perform it tomorrow as the most prioritized: https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/goodserver/230

[2020-08-11 16:33] LiavGut commented on #2276
@sirpy As we decided, the TX fee won't be visible for now ( ie. show it only if TX fee is >0 )

[2020-08-12 05:48] #2278 closed

[2020-08-12 05:48] #2281 closed

[2020-08-12 05:51] #2276 closed

[2020-08-12 06:45] AnastasiiaOdnoshevna commented on #2247
@sirpy according to requirement
 ![2020-08-12_9-37-41.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/e137f1aa-bfdd-41e3-b491-a07152b0514c)
Checked on DEV V1.0.1
iPhone 11 | iOS 13.3
iPhone 8 | iOS 13.3.1

[2020-08-12 06:45] #2247 closed

[2020-08-12 07:19] sirpy commented on #2288
not a bug

[2020-08-12 07:19] #2288 closed

[2020-08-12 07:21] sirpy commented on #2287
dup of #2280

[2020-08-12 07:21] #2287 closed

[2020-08-12 07:33] #2130 closed

[2020-08-12 07:40] yaroslav-fedyshyn-nordwhale commented on #2250
@LiavGut @tomerGD Waiting for your response

[2020-08-12 07:41] yaroslav-fedyshyn-nordwhale commented on #2261
@LiavGut @tomerGD Waiting for your response

[2020-08-12 07:47] AnastasiiaOdnoshevna commented on #2275
@sirpy the logo is displayed on the system card
![2020-08-12_10-44-07.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/9389b301-fead-4929-bef8-9e36f66fce4d)
Checked on DEV V1.0.2
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-12 07:47] #2275 closed

[2020-08-12 08:24] AnastasiiaOdnoshevna opened #2290 "Add tests for Profile Privacy page"
Automate test cases #19-21 from documetnt - https://docs.google.com/spreadsheets/d/1GFqAyCJ7pdbz9_4pqFXsQ_kdlpHz6oojl3fYvB2AoYw/edit#gid=1799992727

- [ ] Check the "My face Record ID" on the "Profile Privacy" page
- [ ] Check the "Copy ID" button on the "PROFILE PRIVACY" page
- [ ] Check the "Profile" image (setting/deleting) on the "PROFILE PRIVACY" page

[2020-08-12 11:24] serdiukov-o-nordwhale commented on #2220
PR with the fix: https://github.com/GoodDollar/GoodServer/pull/232

[2020-08-12 12:12] sirpy commented on #2280
@AnastasiiaOdnoshevna i've pushed  possible fix to all envs. you should see v1.0.3

[2020-08-12 12:45] sirpy commented on #2289
added a few optimizations to signup props saving
change method of checking registration method by localStorage key

[2020-08-12 13:25] AnastasiiaOdnoshevna commented on #2280
@sirpy the issue is reproduced on the v1.0.3 (video recorded from the android/ you can see the console log there)
https://www.screencast.com/t/Raqp7S8G
Checked on NEXTorg V1.0.3
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
iPhone 8 | iOS 13.3.1

[2020-08-12 14:42] yaroslav-fedyshyn-nordwhale commented on #2254
[Uploading... GoodDollar Error Codes Accross the Project.xlsx ]

[2020-08-12 14:44] yaroslav-fedyshyn-nordwhale commented on #2254
Excel File with error code and code references:
[https://app.zenhub.com/files/166818382/6b2a82e0-44ad-4e5f-9d0c-055863bb7a0d/download](https://app.zenhub.com/files/166818382/6b2a82e0-44ad-4e5f-9d0c-055863bb7a0d/download)

[2020-08-12 14:50] AnastasiiaOdnoshevna commented on #2269
@sirpy FS is true only for NEXTorg env

[2020-08-12 14:50] #2269 closed

[2020-08-13 08:28] AnastasiiaOdnoshevna commented on #2280
@sirpy User doesn't stuck anymore when he wants to sign up through facebook
Checked onQA and NEXTorg V1.0.5
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
iPhone 8 | iOS 13.3.1
Xiaomi Redmi Note 3  Android 5.0.2

[2020-08-13 08:28] #2280 closed

[2020-08-13 08:35] LiavGut opened #2293 "Unsupported browsers - Add a splash screen when entering the app to switch browser (+iOS)"
1. Add new splash screen
2. Remove Unsupported browsers popup

** Users can access app only via Chrome or Safari browsers **
** iOS Users can access app only via Safari browsers **

https://xd.adobe.com/view/34024de5-2dbc-44c2-abac-163aed603202-6151/
![Screen Shot 2020-08-13 at 11.52.13.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/d626b09e-2375-4f76-9218-95cc51137233)![Screen

[2020-08-13 08:51] AnastasiiaOdnoshevna commented on #2218
@yaroslav-fedyshyn-nordwhale <br> is displayed in the text in front of an ampersand (second screen)
![2020-08-13_11-45-52.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/7925ff26-acbd-40c3-b507-3578dbe00d64)
Checked on DEV V1.0.5
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-13 08:57] LiavGut opened #2294 "Statistics dashboard: add "Per person" data layer to "Daily G$ Claim" chart"
- [x] remove transactions graph and create a new graph called "Unique claimers"
- [x] rename total amount to "Total G$ Claimed"
- [x] add another graph layer "Daily UBI Quota", showing the daily UBI amount. Read the info from the  UBICalculated  event.
- [x] UBICalculated events should be read retroactively (ie read events since the begining) on the first time.
![image.png](https://images.zenhubus

[2020-08-13 09:05] serdiukov-o-nordwhale commented on #2218
very strange because Zoom should support br tag accorging to the official example:
<img width="606" alt="image" src="https://user-images.githubusercontent.com/62208067/90115650-0d1e2d80-dd5d-11ea-94e6-8e5b970bb80a.png">

@yaroslav-fedyshyn-nordwhale
try to use /n /a or wrote exactly `<br />` as is shown in example

[2020-08-13 09:52] #1874 closed

[2020-08-13 09:56] yaroslav-fedyshyn-nordwhale commented on #2218
@AnastasiiaOdnoshevna I pushed a fix to the master - please try to verify it again after 30 min i guess.

[2020-08-13 10:26] serdiukov-o-nordwhale commented on #2218
@yaroslav-fedyshyn-nordwhale is it working locally ? have you tested ?

[2020-08-13 10:48] sirpy opened #2295 "(bug) FV zoom error message is undefined"
- [ ] some messages reported in FV attemptedMessages come out as undefined
- [ ] seems like exception is null or undefined see this issues:
https://sentry.io/organizations/gooddollar/issues/?project=1829798&query=%27message%27&statsPeriod=14d

[2020-08-13 11:36] sirpy commented on #2293
closing.  we will  move the unsupported popup to  the splash screen

[2020-08-13 11:36] #2293 closed

[2020-08-13 12:25] #2086 closed

[2020-08-13 12:28] sirpy commented on #2270
@AnastasiiaOdnoshevna this spinner animation was removed as it caused the #2280 bug.
it was replaced by a simple spinner. please retest.

[2020-08-13 12:51] AnastasiiaOdnoshevna commented on #2270
@sirpy the pop-up is displayed according to the requirement
Проверено на DEV 1.0.6-0 и NEXTorg V1.0.5
LG V30 + // Android 8.0 // Google Chrome 84.0.4147.111
iPhone 8 | iOS 13.3.1

[2020-08-13 12:51] #2270 closed

[2020-08-13 13:12] AnastasiiaOdnoshevna commented on #2218
@yaroslav-fedyshyn-nordwhale Text appears truncated
iPhone 8 //13.3.1
![2020-08-13_16-04-08.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/971ac2d7-fd33-4925-b585-aa748eed0d53)
Second pop-up according to requirment
![2020-08-13_15-57-03.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/8530106b-3eea-4ab6-a398-5516830dbaa5)

[2020-08-13 13:40] AnastasiiaOdnoshevna commented on #2289
@sirpy there was created a few torus accounts but backup wallet option is not displayed
Checked on DEV V1.0.6-0
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.105

[2020-08-13 13:40] #2289 closed

[2020-08-13 15:09] serdiukov-o-nordwhale commented on #2237
@AnastasiiaOdnoshevna pushed fix directly to the master.
Also i've hotfixed goodqa and checked on it - error message doesn't appears anymore.

[2020-08-13 19:42] mauriguz commented on #2261
@sirpy do we have design for this?

[2020-08-14 05:37] sirpy commented on #2047
https://help.fullstory.com/hc/en-us/articles/360052419133-Getting-Started-with-FullStory-React-Native-Recording

no need for mautic

google analytics is required used just once in claim queue

I suggest a separate issue for fullstory

[2020-08-14 09:03] AnastasiiaOdnoshevna commented on #2237
@serdiukov-o-nordwhale @sirpy issue isn't reproduced
Video: https://www.screencast.com/t/FKWM7p4YI
Checked on QA V1.0.6-0
Desktop: Windows 10 // Google Chrome  84.0.4147.125

[2020-08-14 10:43] AnastasiiaOdnoshevna commented on #2139
@sirpy checked a few time...new account created correctly, the data wasn't lost
Checked on QA V1.0.6-0
Desktop: Windows 10 // Google Chrome  84.0.4147.125

[2020-08-14 10:43] #2139 closed

[2020-08-14 12:17] serdiukov-o-nordwhale opened #2297 "Camera permissions issue with Firefix"
Created via Reamaze:

Link: /admin/conversations/youre-invited-to-our-biggest-secret-yet-dot-dot-dot-0425278da2becca5
Assignee: Oleksii serdiukov

We fixed the issue with requesting PermissionsAPI, but we have an other issue with getUserMedia - it also fails in Firefox (but should work as WebRTC is supported by FF)

- [x] re-check permission API issue in Firefox. make sure we're catching all possi

[2020-08-14 12:22] AnastasiiaOdnoshevna commented on #2220
@serdiukov-o-nordwhale @sirpy I created a fresh account and passed FV, then the account was deleted and recreated, and when the time after deleting is out I tried to pass FV again and result - I couldn't do that because the "Something went wrong on our side" error message
privateKey: "5cfe8cb7ec29a298dd16e252d9cf90cc5c7ac477dcc97c7bec43d25758911b85"
Checked on QA V1.0.6-0
Desktop: Windows 10 // Go

[2020-08-14 12:28] MathiasMoralesDixtra commented on #2047
Thank you for the suggestions, I have the same opinion about FullStory. We came to the same library to implement on Native.

[2020-08-14 13:15] serdiukov-o-nordwhale commented on #2220
Zoom API doesn't returs proper status code (always 200)
We have to look on the `ok` and `code` properties of the JSON response.
hotfixed on goodqa, will add PR to the a bit later

Also it's seems thay may be issues with enrollments disposal - checking them now

[2020-08-14 13:46] #2220 closed

[2020-08-14 13:57] AnastasiiaOdnoshevna commented on #2220
@sirpy I checked this issue after a hotfix - the FV has been passed successfully

[2020-08-14 14:19] AnastasiiaOdnoshevna opened #2298 "Error: Verify otp failed. Mautic Error"
Precondition:
The user wants to change the mobile number
User changes the mobile on the  "Edit profile" page and gets OTP

Steps to reproduced:
1) Enter the OTP in the field
2) Pay attention to the error message

Actual result: The error message is displayed on the "Edit profile" page  after entering the OTP in the field
Expected result: The mobile number should be successfully changed on the "Edi

[2020-08-14 15:57] serdiukov-o-nordwhale commented on #2297
hotfixed directly to the master branch:  https://github.com/GoodDollar/GoodDAPP/commit/6530e05032f9e7f2d767152aefabd67e03bb8f7f

[2020-08-14 15:59] serdiukov-o-nordwhale opened #2299 "Switching to the external camera doesn't working in Chrome"
edit:
seems  this is an issue that happens when scanning QR
maybe its the QR package issue? look in its github for issues
test if this is a chrome only issue

Created via Reamaze:

Link: /admin/conversations/youre-invited-to-our-biggest-secret-yet-dot-dot-dot-0425278da2becca5
Assignee: Oleksii serdiukov

There is a problem with Chrome too.  For some reason, the
website takes the laptop's built-in

[2020-08-14 16:01] serdiukov-o-nordwhale commented on #2299
Probably that's one of ZoOm restrictions introduced to keep the proper image quality and correct face.
One of them - the only frontal camera could be used to take photo shoots.
I suppose that for laptops this software could limit you to use built-in camera only (because it's placed similar to the frontal camera on mobile devices).

Need to research that. It's not related to the ZoOm - found the re

[2020-08-14 16:05] yaroslav-fedyshyn-nordwhale commented on #2238
ok I found why spinner is not displayed when disabling internet connection - when internetConnection popup showing it fetches the loading SVG every time - see the network on screenshot (https://prnt.sc/tzkzbn) Connection is absent so it cant load image again.
But it strange - as we doing Image.Prefetch for loadingIconSvg - it should be loaded once i think

[2020-08-15 21:12] sirpy commented on #2298
does it happen on QA?

[2020-08-16 04:49] #1975 closed

[2020-08-16 04:51] sirpy commented on #1983
@tomerGD @tzvister currently  we completely delete the user data so  this issue is not relevant.
Should keep user data? i think not.

[2020-08-16 04:57] #2204 closed

[2020-08-16 04:59] sirpy commented on #2180
@YuryAnanyev is this still relevant?

[2020-08-16 05:00] sirpy commented on #2150
@AnastasiiaOdnoshevna i think this doesnt happen anymore.
closing for now

[2020-08-16 05:00] #2150 closed

[2020-08-16 05:02] sirpy commented on #1956
@AnastasiiaOdnoshevna you mean the faces illustration should be bigger?
does this still happen?

[2020-08-16 05:06] sirpy commented on #1428
@MathiasMoralesDixtra please test again after latest marge merge

[2020-08-16 05:07] sirpy commented on #2294
@tomerGD is this critical for now? or we want to wait with it for dashboard overhaul?

[2020-08-16 05:10] sirpy commented on #2238
@yaroslav-fedyshyn-nordwhale why doesnt it do that on the signuprouter? there it works just fine...

[2020-08-16 05:41] sirpy commented on #2298
@AnastasiiaOdnoshevna This happens when the account on mautic doesn't exists
I assume this is because it is some test account that is used on multiple envs.
Because we dont have a dev/staging mautic env if you delete the account on dev env it will be also deleted on qa/prod.
The email/mobile changing flow should be tested on accounts that were recently created so you know the mauticId is synced an

[2020-08-16 07:13] sirpy commented on #2237
@serdiukov-o-nordwhale sendpending is the ONLY state when user should be  able to "share" the payment link again
not clear why you removed it.
1. the share link button should appear only in this specific  state. in any case it makes NO SENSE to show a share button that does nothing.
2.  find out why the  SPECIFIC user @AnastasiiaOdnoshevna used has this issue, probably something corrupted in feed

[2020-08-16 10:08] serdiukov-o-nordwhale commented on #2237
Okay but a few comment above you told:

the error is thrown from getPaymentLink method which should be called only for feed items that are "sendpending" not for received items.

So I just did like you advised

[2020-08-16 11:34] sirpy opened #2300 "Dont show splash in case of network issue"
Users are complaining that it happens in middle of some action
- [x] increase timer to 5 seconds
- [x] dont show splash - just show dialog

[2020-08-16 11:37] sirpy opened #2301 "switch web3js from websockets back to http"
- [x] need to do event  polling instead of subscribing
- [x] verify send/receive/claim works as expected

[2020-08-17 07:54] AnastasiiaOdnoshevna commented on #2218
@yaroslav-fedyshyn-nordwhale The text still truncated
Checked on the DEV V1.0.6-0
iPhone 8 //13.3.1
![2020-08-17_10-41-09.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/4b007313-caaf-429d-9168-4e7769b685b2)

[2020-08-17 08:37] yaroslav-fedyshyn-nordwhale commented on #2238
@sirpy
I checked it locally - it doesn't show the spinner for me no matter what Router is used.
Also, I checked on gooddev - it works fine (spinner displayed everytime).

After some investigation, I found that serviceWorker doesnt cache the content locally and when it fetching the image - request failed as there no connection and no cached file.
On gooddev the cache working fine and I think it sho

[2020-08-17 08:58] AnastasiiaOdnoshevna commented on #2237
@sirpy The issue isn't reproduced
Checked on DEV/QA V1.0.6-0
Desktop: Windows 10 // Google Chrome  84.0.4147.125

[2020-08-17 08:58] #2237 closed

[2020-08-17 09:02] yaroslav-fedyshyn-nordwhale commented on #2218
@AnastasiiaOdnoshevna I pushed a fix to the master. SO please test it again after 30 minutes.

[2020-08-17 09:08] LiavGut commented on #2250
@yaroslav-fedyshyn-nordwhale @sirpy

1. Add text below the title:
"Please frame your face in the oval."
2. remove the "X" (close) button
3. Change the text below the oval to:
"Just like a passport picture, keep your head straight,
 eyes at camera level, and good, even lighting."

*** Please verify new text sizes, margins, line space, and overall positioning ***

Let me know if we have issues with

[2020-08-17 09:20] AnastasiiaOdnoshevna opened #2303 "(BUG) The FV is opened automatically after canceling FV"
Steps to reproduce:
1) Open the "Face Verification" page with "OK, VERIFY ME" button
2) Click the  "OK, VERIFY ME" button
3) Click the "X" close button to close the pop up with the oval camera shape
4) Pay attention to the automatically opens pop-up again

Actual result: The FV is opened automatically after canceling FV. User cannot close the FV and move to other actions
Expected result: The "Face

[2020-08-17 09:24] sirpy commented on #2250
@liavgut i've been thinking more about something in case he fails liveness

[2020-08-17 09:41] LiavGut commented on #2250
@sirpy ?

[2020-08-17 10:00] AnastasiiaOdnoshevna commented on #2191
@yaroslav-fedyshyn-nordwhale @serdiukov-o-nordwhale
The pop up with "On IOS please switch to Safari" text is displayed instead of the "This browser doesn't support camera access on IOS devices. Sorry!" text
![2020-08-17_12-47-05.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/e08efdc5-8846-4995-a48e-7f3c03c9cf75)

[2020-08-17 10:04] serdiukov-o-nordwhale commented on #2191
That's ok, it's a final redaction of the UI labels: https://github.com/GoodDollar/GoodDAPP/pull/2282#issuecomment-673429673

[2020-08-17 10:07] AnastasiiaOdnoshevna commented on #2218
@yaroslav-fedyshyn-nordwhale now it looks more truncated
![2020-08-17_13-05-07.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/5efc2a5b-5c0b-4d1d-ae75-cf192933cfc8)

[2020-08-17 10:12] AnastasiiaOdnoshevna commented on #2191
@sirpy according to the final redaction on the https://github.com/GoodDollar/GoodDAPP/pull/2282#issuecomment-673429673

[2020-08-17 10:57] AnastasiiaOdnoshevna opened #2304 "[Error] Submit email verification code failed.Something went wrong while performing request: Oops, it's not right code"
Precondition:
The "Edit profile" page is opened

Steps to reproduced:
1) Enter another email to the field to change **(reproduced only when the email is changed/ for mobile isn't reproduced)**
2) Click anywhere on the screen to confirm the changes
3) Enter the invalid OTP
4) Pay attention to the error message

Actual result: The "Something went wrong while performing request: Oops, it's not right

[2020-08-17 10:59] AnastasiiaOdnoshevna commented on #2298
@sirpy I have checked it out on the fresh account and here the result - the user is able to change the mobile/email successfully
Video: https://www.screencast.com/t/aLv42AuCzwTw

[2020-08-17 10:59] #2298 closed

[2020-08-17 11:08] #1451 closed

[2020-08-17 11:20] YuryAnanyev commented on #2304
there is something similar on https://gooddev.netlify.app:
when creating a new wallet with e-mail - main.test.acc.gooddollar@gmail.com
have an error:
![create_new_wallet_2020-08-17.png](https://images.zenhubusercontent.com/5eb529c8c90bb26b8aaf9d9d/1d2fde30-2569-4dbb-b326-d58d5ea78036)

[2020-08-17 11:24] yaroslav-fedyshyn-nordwhale commented on #2218
@AnastasiiaOdnoshevna it should be fine now. Please check.

[2020-08-17 11:27] AnastasiiaOdnoshevna commented on #2218
@sirpy @yaroslav-fedyshyn-nordwhale this text is displayed well
![2020-08-17_14-23-13.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/182cfb2b-050d-4d57-a898-800ea0b9201b)

[2020-08-17 11:27] #2218 closed

[2020-08-17 11:41] AnastasiiaOdnoshevna opened #2305 "Automate "Send to adress" functionality"
Create automation tests for the 37 - 43 test cases from https://docs.google.com/spreadsheets/d/1GFqAyCJ7pdbz9_4pqFXsQ_kdlpHz6oojl3fYvB2AoYw/edit#gid=1799992727

- [x] (Send to wallet)  Check the validation of the “Enter Wallet Address” field on the "Send GS" page via wallet address
- [x]  (Send to wallet)  Check the numeric keyboard on the "Send" page with the “HOW MUCH?” text
- [x] (Send to walle

[2020-08-17 11:46] YuryAnanyev commented on #2180
yes

video: https://www.screencast.com/t/ln5lJR7dmB

[2020-08-17 11:47] AnastasiiaOdnoshevna opened #2306 "Automate test cases from "Send via link" functionality"
Automate test cases #31 - 33 from doc:  https://docs.google.com/spreadsheets/d/1GFqAyCJ7pdbz9_4pqFXsQ_kdlpHz6oojl3fYvB2AoYw/edit#gid=1799992727

- [x] Check the link of send TX that was already used
- [x] Check the link of send TX that canceled before withdrawn
- [ ] Abort of the transaction via link

[2020-08-17 11:49] sirpy commented on #2191
@AnastasiiaOdnoshevna @serdiukov-o-nordwhale
no its not ok. the labels where only regarding the unsupported browser we show on splash screen.
not regarding unsupported camera

[2020-08-17 11:51] sirpy commented on #2304
@YuryAnanyev that's a different issue, for some reason sometimes a duplicate account is created on Mautic.
i've removed the duplicate account, it should work now.

[2020-08-17 11:53] sirpy commented on #2304
@yaroslav-fedyshyn-nordwhale this sounds like the fix you did for messages on server. we need to revert it.

[2020-08-17 11:56] serdiukov-o-nordwhale opened #2307 "GoodDollar stuck on splash if ad-blocker extensions are enabled"
When trying to run the app on Chrome with uBlock extensions (ad-blocker) it stop on the first screen, and not getting to "continue with FB/google" screen

[2020-08-17 12:05] LiavGut commented on #2218
@AnastasiiaOdnoshevna
No, it's not :)
"Verifying you’re
one of a kind"
and
"This may take a minute."
should be at the same size (16px)

[2020-08-17 12:07] LiavGut commented on #2218
By the way, so does the text on the next screen
"You’re a beautiful
& unique snowflake!"

[2020-08-17 12:29] serdiukov-o-nordwhale commented on #2191
@sirpy
@yaroslav-fedyshyn-nordwhale

i'll push a hotfix a bit later

[2020-08-17 12:53] AnastasiiaOdnoshevna commented on #2218
@yaroslav-fedyshyn-nordwhale @LiavGut now it has the same size
![2020-08-17_15-47-23.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/8a9730c9-972f-46f9-8941-5a9dd6512689)

[2020-08-17 12:59] LiavGut commented on #2218
Great, thanks! :)

[2020-08-17 13:04] serdiukov-o-nordwhale opened #2308 "GoodDollar stuck on BraveBrowser (Chromium-based) on the splash"
Initialisation fails due to the 'connection failed'

![2020-08-17_16-04-19.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/01450827-fe7c-4d2c-aa6b-74f33c2a4e09)

[2020-08-17 13:09] AnastasiiaOdnoshevna commented on #2307
@serdiukov-o-nordwhale it's reproduced https://www.screencast.com/t/QgX1WhKO

[2020-08-17 13:19] serdiukov-o-nordwhale commented on #2191
pushed, could be tested on dev: https://github.com/GoodDollar/GoodDAPP/commit/9665e156e980ddbf77edc08e5d80b18e035fe5cb

[2020-08-17 13:27] sirpy commented on #2308
this is dup of #2307 brave have ad blocking by default. it works fine if ad blocker is turned off

[2020-08-17 13:29] sirpy commented on #2307
@serdiukov-o-nordwhale this is probably because we wait for FS/amplitude to be ready

[2020-08-17 13:32] serdiukov-o-nordwhale commented on #2308
don't think that because user mentioned:

[2020-08-17 13:38] AnastasiiaOdnoshevna commented on #2299
@serdiukov-o-nordwhale @sirpy  it's reproduced but only for scan QR. The user cannot switch to an external camera. (in settings it set as an external camera but actually use the internal)  But if talk about FV when I connect the external camera it automatically switches to the external camera and if the user wants he can switch in the Chrome settings

[2020-08-17 13:40] sirpy commented on #2299
@serdiukov-o-nordwhale hmm maybe explain to user how to switch camers or ask him for some screen shots

[2020-08-17 13:48] mauriguz opened #2309 "FullStory use npm package for react native"
# Description
In order for us to use FullStory in react-native we need to import it from it's brand new npm package _(@fullstory/react-native)_. The purpose of this ticket is to make the package installation and configuration needed for it to work with analytics.js

## About
This ticket was originally part of #2047

[2020-08-17 13:51] mauriguz commented on #2047
@MathiasMoralesDixtra Updated issue - removed mautic and fullstory moved to separate issue #2309

[2020-08-17 13:53] serdiukov-o-nordwhale commented on #2308
QA reported that app works with shields disabled:

https://www.screencast.com/t/thJxxYpYny

[2020-08-17 13:53] #2308 closed

[2020-08-17 14:27] serdiukov-o-nordwhale commented on #2299
@sirpy asked him about that

[2020-08-17 14:59] AnastasiiaOdnoshevna commented on #1956
@sirpy yes. I've just checked this and is that how this screen looks now
![Screenshot_2020-08-17-17-52-46.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/1191ceb7-bcc9-446b-8b5a-adfc48baec64)
Checked on QA V1.0.6-0
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111

[2020-08-17 15:28] AnastasiiaOdnoshevna opened #2310 "(BUG) The gooddollar card are blinking on the "Home" page"
Steps to reproduce:
1) Create an account
2) Open the "Home" page
3) Pay attention to the gooddollar cards

Actual result:   The gooddollar cards are blinking on the "Home" page
Ex[ected result:  The gooddollar cards shouldn't blink on the "Home" page

Video: https://www.screencast.com/t/duK3ZCcZ

Checked on DEV V1.0.6-0
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // G

[2020-08-17 15:35] AnastasiiaOdnoshevna commented on #2191
@sirpy @serdiukov-o-nordwhale according to requirment
![2020-08-17_18-32-39.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/4a882afe-141e-4397-ba1d-f8e598ad4965)
iPhone 11 // iOS 13.3 //  FireFox

[2020-08-17 15:35] #2191 closed

[2020-08-17 17:39] yaroslav-fedyshyn-nordwhale commented on #2294
The link to the PR - https://github.com/GoodDollar/GoodDashboard/pull/33

[2020-08-18 06:25] sirpy commented on #2310
@AnastasiiaOdnoshevna
The account you used doesnt seem new while in how to reproduce you say you need a new account.
Can you make sure this are the exact steps? because i've never encountered this on a new account.

[2020-08-18 07:07] sirpy opened #2311 "(Chore) merge code bases"
Need to go over master's webpack configuration  and make sure we dont lose stuff related to webapp that are not currently defined in react-native branch
- [x] go over webpack.config.dev.js and webpack.config.prod.js commit history and look for relevant changes
- [x] add  webpack plugins/optimizations from master to react-native
- [x] add service worker from master to react-native

[2020-08-18 07:48] AnastasiiaOdnoshevna commented on #2310
@sirpy it has been reproduced on old accounts too, but after cleaning old data the blinking has been stoped
 I've just created via custody but still, it's reproduced even after cleaning old data, and even after every further creating a fresh account via custody

[2020-08-18 08:34] AnastasiiaOdnoshevna commented on #2206
the welcome and claim reminder pop-ups are according to the requirement
queue pop-ups will be checked on qa env when it is released
![2020-08-18_11-29-33.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/e2e9b241-a8bc-4b49-b3b2-52b573732cb3)

[2020-08-18 08:44] yaroslav-fedyshyn-nordwhale commented on #2304
@sirpy the fix with messages is not the reason of this issue. The problem is in src/server/server-middlewares.js
here
[code]
Our log error patcher extend the original error message for sentry
so after
``` log.error('Something went wrong while performing request', error.message, error)```
the error message will be: `Something went wrong while performing request: error.message`

[2020-08-18 09:35] yaroslav-fedyshyn-nordwhale commented on #2304
The link to the PR - https://github.com/GoodDollar/GoodServer/pull/235

[2020-08-18 09:51] AnastasiiaOdnoshevna commented on #2238
@sirpy on the sing up when the user is disconnected he can see the network dialog and when the connection restored the user located on the stage where he has disconnected
if talk about disconnection on the main app - everything ok, after reconnecting the user located on the stage where he has been disconnected. In some places after reconnecting the "Home" page is opened
network dialog is displayed

[2020-08-18 09:51] #2238 closed

[2020-08-18 10:52] AnastasiiaOdnoshevna commented on #2253
@LiavGut @sirpy  I've checked it on windows and android on the Firefox, but after clicking "Let's start" button that pop-up isn't displayed...user sees the splash screen and then Home page but the pop-up is lack
Checked on DEV V1.0.6-0
Desktop: Windows 10 // Google Chrome  84.0.4147.125
Samsung Galaxy S9 // 10

[2020-08-18 10:56] sirpy opened #2312 "When sharing send/receive link user should go to dashboard only after he finishes with the share dialog"

[2020-08-18 10:58] yaroslav-fedyshyn-nordwhale commented on #2303
@AnastasiiaOdnoshevna I pushed a fix to the master so it will be available on gooddev after a 10 minutes.

[2020-08-18 11:22] sirpy commented on #2253
@AnastasiiaOdnoshevna the logic have changed and the popup should be shown on top of splash screen before starting  registration

[2020-08-18 12:02] AnastasiiaOdnoshevna commented on #2303
@yaroslav-fedyshyn-nordwhale the issue isn't reproduced
Checked on DEV V1.0.6-0
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.125

[2020-08-18 12:02] #2303 closed

[2020-08-18 12:04] #2290 closed

[2020-08-18 12:49] AnastasiiaOdnoshevna commented on #2297
@serdiukov-o-nordwhale @sirpy user is able to switch on the camera permission and scan face or QR code
Checked on DEV V1.0.6-0
LG V30+ // Android 8.0 // firefox
Desktop: Windows 10 // firefox

[2020-08-18 12:49] #2297 closed

[2020-08-18 12:59] AnastasiiaOdnoshevna commented on #2301
@sirpy send/receive/claim works according to requirment
Checked on DEV V1.0.6-0
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.125

[2020-08-18 12:59] #2301 closed

[2020-08-18 13:14] AnastasiiaOdnoshevna commented on #2253
@sirpy this pop up should be exactly like that on the mockup?
because it looks so now
https://www.screencast.com/t/41vpQgYZ4
![2020-08-18_16-12-29.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/069a2745-27e9-45dc-a593-85a6249b19f3)
Checked on DEV V1.0.6-0
Desktop: Windows 10 // Firefox
Samsung Galaxy S9 // Firefox

[2020-08-18 14:02] AnastasiiaOdnoshevna commented on #2206
the 24 hours wait pop-up according to require
update pop-up was checked by @serdiukov-o-nordwhale during checking this issue #2189 (also according to requirement)
![2020-08-18_16-36-27.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/435ec469-97e4-4484-ba89-bec4ccc3d6f2)
In the Queue pop-up the "OK, I'LL WAIT" button should be displayed instead of the "OK, I GOT IT"
![2020-08-18_

[2020-08-18 14:13] YuryAnanyev commented on #2310
also reproduced.
some cards of already canceled transactions also remain visible

[2020-08-18 14:15] serdiukov-o-nordwhale commented on #2253
This is correct as on splash we have to show "Oops this browser isn't supported ...": https://github.com/GoodDollar/GoodDAPP/issues/2191#issuecomment-674834686

[2020-08-18 14:18] serdiukov-o-nordwhale commented on #2303
@yaroslav-fedyshyn-nordwhale if you're hotfixing please link the commit here
so i could easily find it

[2020-08-18 14:55] yaroslav-fedyshyn-nordwhale commented on #2206
@AnastasiiaOdnoshevna pushed a fix to the master. You can check it after 10 minutes.

[2020-08-18 15:19] serdiukov-o-nordwhale commented on #2307
Not reproduced with latest Chrome + uBlock, will try BraveBrowser/BraveShields tomorrow

@AnastasiiaOdnoshevna
1. have you add some specific setting to the uBlock or you just installed & enabled with the default ones ?
2. could you please to open uBlock during GoodDapp loading and show me which scripts it blocked up ?

[2020-08-18 15:43] serdiukov-o-nordwhale commented on #2307
regarding to the video QA send - it's possible.
global FS variable is initialized in the snippet code so we thinking FS is available but if then fullstory script will be blocked, we never got _fs_ready.
I've pushed a fix to handle this case: https://github.com/GoodDollar/GoodDAPP/commit/0c4d896e57fc3afa6df54da1c46214d9e0d7fdb1

[2020-08-19 05:45] yaroslav-fedyshyn-nordwhale commented on #2284
@sirpy
The description is not clear. I checked different browsers, also test on mobile and the balance is displayed every time.
Please describe some steps/add more info.

[2020-08-19 07:55] AnastasiiaOdnoshevna commented on #2307
@serdiukov-o-nordwhale I used uBlock Origin and with this extension the problem is still reproducible (these were the default settings)
![2020-08-19_10-47-02](https://user-images.githubusercontent.com/54942555/90607882-85c43480-e20a-11ea-9c79-02b38eefb55a.png)

[2020-08-19 09:26] serdiukov-o-nordwhale commented on #2307
@AnastasiiaOdnoshevna does my fix helped (it's now on gooddev only) ?

Regarding the last screenshot - amplitude is also blocked, but on the API call, i think we could handle this
The same with mautic.

The most strange thing is why InternetConnection fails ? we have own /ping endpoint this component uses so failire of GTM or external script it loads shouldn't fail application's online status.

ne

[2020-08-19 10:44] yaroslav-fedyshyn-nordwhale commented on #2250
@LiavGut
we don't have full access to the FV components to customize/manipulate with its text or layout. The Zoom's API allows us to add only one string with explanations and it will be displayed in different places depends on device screen size (see sample image - the pink text is our customizable string - https://prnt.sc/u25jte)

[2020-08-19 11:52] yaroslav-fedyshyn-nordwhale commented on #2310
Yes, it also reproduced for me locally.
@sirpy It seems like it caused by the new poll functionality you recently added.

[2020-08-19 11:58] AnastasiiaOdnoshevna commented on #2312
@serdiukov-o-nordwhale The issue has been reproduced -  see video
Video: https://www.screencast.com/t/lvr70cM7
Checked on DEV V1.0.6-1
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
iPhone 8 //13.3.1

[2020-08-19 12:13] AnastasiiaOdnoshevna commented on #2294
@yaroslav-fedyshyn-nordwhale new graph called "Unique claimers" isn't displayed
![2020-08-19_15-07-45.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/f0c69f0a-85bf-49dc-8ea7-daef0ace4754)
Checked on DEV V1.0.6-1
Desktop: Windows 10 // Google Chrome  84.0.4147.125

[2020-08-19 12:34] AnastasiiaOdnoshevna commented on #2307
@serdiukov-o-nordwhale you mean that fix on dev? I've checked on dev and everything is ok but if I am not mistaken issue wasn't reproduced on dev early, only on the next...so better to test it on the next env I think

[2020-08-19 13:13] serdiukov-o-nordwhale commented on #2312
@AnastasiiaOdnoshevna

what is wrong ? we finished sharing and then going to the dashboard as it was defined in the task descripotion

[2020-08-19 13:15] LiavGut commented on #2250
@yaroslav-fedyshyn-nordwhale Ok, I'll find a different place for it. Thanks.

[2020-08-19 13:15] serdiukov-o-nordwhale commented on #2310
@yaroslav-fedyshyn-nordwhale please fix it by yourself

[2020-08-19 13:21] LiavGut opened #2315 "(BUG) Claim - Claim success popups are in different sizes"
They should be at the same size and the elements should be on the same positioning in both popups

Desktop (Chrome) + mobile (galaxy A5)

 ![Screen Shot 2020-08-19 at 16.18.24.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/7266c85a-3b19-4eb7-88c2-44051ca1f5e6)

[2020-08-19 13:52] #2312 closed

[2020-08-19 13:52] AnastasiiaOdnoshevna commented on #2312
@sirpy @serdiukov-o-nordwhale
i misunderstood
I thought there should be a "Done" button like in the send /receive logic - and after clicking on this button it is considered like finished share
But if talk about when the window with share methods is opened - yes user still remains on the share screen, and only after canceling or selecting the share method the dashboard is displayed

[2020-08-19 13:57] serdiukov-o-nordwhale commented on #2307
@AnastasiiaOdnoshevna i was able to reproduce the bug even while running locally
So please, check it on the dev firstly, then on goodqa. And just after, we could release it onto next

I've fixed the issue & pushed the latest changes directly to master. Now app initializes even if the all analytics scripts are blocked:
![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/3a2bd

[2020-08-19 14:16] AnastasiiaOdnoshevna commented on #2307
@serdiukov-o-nordwhale Checked on DEV V1.0.6-1
Chrome
![2020-08-19_17-09-02.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/35abc17c-f394-4b82-ba20-41205f9ac469)
Brave
![2020-08-19_17-12-53.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/66fa3c57-d232-41a9-b183-873b2c6743ef)

[2020-08-19 14:23] yaroslav-fedyshyn-nordwhale commented on #2294
@AnastasiiaOdnoshevna
I just checked the charts on good dev - everything is fine for me - please try to clear the cache.
By the way 'unique claimers graph' is a separate chart with its own box.

[2020-08-19 14:36] AnastasiiaOdnoshevna opened #2318 "(BUG) The blank screen is displayed after canceling sing in and trying to sign in with another mail"
Precondition:
The start page with google/Facebook buttons is displayed
Steps to reproduce:
1) Click on the "Agree & Continue with Google" button and select the valid mail (mail with created wallet)
2) Close the "Preparing your wallet " pop-up
3) Click on the "Agree & Continue with Google" button
4) Select the other mail when the account is loaded on the background
5) Pay attention to the blank scr

[2020-08-19 14:58] AnastasiiaOdnoshevna commented on #2294
@yaroslav-fedyshyn-nordwhale as I understand it is this chart
 ![2020-08-19_17-45-43.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/b7b8868c-eaa3-449c-8051-239551ad5bb2)

[2020-08-19 15:04] yaroslav-fedyshyn-nordwhale commented on #2294
@AnastasiiaOdnoshevna yes

[2020-08-19 15:34] AnastasiiaOdnoshevna commented on #2294
@sirpy total amount rename to "Total G$ Claimed"
Unique claimers are displayed on the new chart
the "Daily UBI Quota" is displayed on the "Daily UBI Quota" chart
see screenshots above

[2020-08-19 15:34] #2294 closed

[2020-08-20 01:58] mauriguz opened #2319 "(Chore) merge native codebase into master"
Native's branch has some cross-platform fixes and utilities that should be merged into master to have a unified codebase. The following list contains everything that needs to be moved to master.

- [x] Make sure we're using our local implementation of AsyncStorage, which avoids having to parse/stringify
- [x] In src/config add .web .native files to determine where to get .env vars
- [x] Do not use

[2020-08-20 06:16] AnastasiiaOdnoshevna commented on #2310
@serdiukov-o-nordwhale the cards are displayed correctly
new blocks of pollEvents every 5 seconds is it well?
Video: https://www.screencast.com/t/DIUPCqlv9p

[2020-08-20 06:24] AnastasiiaOdnoshevna commented on #2300
@sirpy The dialog appears after around 5 sec, splash screen isn't displayed
Video: https://www.screencast.com/t/N0u8cCF5KyCV
Checked on DEV V1.0.6-1
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.125
iPhone 8 //13.3.1

[2020-08-20 06:24] #2300 closed

[2020-08-20 07:16] #2253 closed

[2020-08-20 07:25] AnastasiiaOdnoshevna commented on #2310
@sirpy issue isn't reproduced, cards aren't blinking
we discussed this question with @serdiukov-o-nordwhale pollEvents it's a new feature, and works well

[2020-08-20 07:25] #2310 closed

[2020-08-20 08:40] AnastasiiaOdnoshevna commented on #2206
@yaroslav-fedyshyn-nordwhale @sirpy pop-ups are displayed according to the requirement
![2020-08-20_11-28-28.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/985437f5-4f95-4c35-b968-36f902b8fe66)
Checked on QA V1.0.6-2
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.125

[2020-08-20 08:40] #2206 closed

[2020-08-20 08:55] AnastasiiaOdnoshevna commented on #2295
@yaroslav-fedyshyn-nordwhale @sirpy FV errors are displayed according to the requirement
![2020-08-20_11-44-55.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/1edadbea-4e63-4fa7-abfa-72ff7c6b2140)
![2020-08-20_11-53-22.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/b1930ce5-6318-4735-9808-456379fdc262)
![2020-08-20_11-53-43.png](https://images.zenhubuserconte

[2020-08-20 08:55] #2295 closed

[2020-08-20 09:03] #2304 closed

[2020-08-20 09:03] AnastasiiaOdnoshevna commented on #2304
@yaroslav-fedyshyn-nordwhale @sirpy issue isn't reproduced
Video: https://www.screencast.com/t/F6dMBNUygl
Checked on QA V1.0.6-2
Desktop: Windows 10 // Google Chrome  84.0.4147.125

[2020-08-20 12:00] serdiukov-o-nordwhale commented on #2319
updated the task - added an svg loader feature we have in native but still don't have on master

[2020-08-20 12:42] AnastasiiaOdnoshevna commented on #2307
@serdiukov-o-nordwhale Chrome: app works when the uBlock is enabled
Brave: splash is displayed when the enabled shields
Video:https://www.screencast.com/t/fT9fzcoXq
Checked on NEXTorg V1.1.0
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.125

[2020-08-20 12:49] serdiukov-o-nordwhale commented on #2307
@AnastasiiaOdnoshevna try to clear cache, use incognito etc
You already tested my fix on the dev so it should work

[2020-08-20 13:04] AnastasiiaOdnoshevna commented on #2307
@serdiukov-o-nordwhale I've cleared cache and even used the incognito but just the same result
https://www.screencast.com/t/YrnCW7ABeqBS

[2020-08-20 13:08] serdiukov-o-nordwhale commented on #2307
@AnastasiiaOdnoshevna it's impossible. as the conditions are the same (both uBlock and shields are blocking the same script). So it should work anyway.

[2020-08-20 13:31] AnastasiiaOdnoshevna commented on #2307
@serdiukov-o-nordwhale it's weird. also, I've checked on the different devices but no changes

[2020-08-20 13:37] serdiukov-o-nordwhale commented on #2235
@AnastasiiaOdnoshevna as @sirpy explained, we're using one Mautic account for a dev + qa envs
So, this mauticId was just removed on another one env that because we coundn't send en email

I've added check of the mauticID existence - if it doesn't exists anymore, we'll create a new one contact.
Hotfixed on dev & qa. I've tested on qa with the facebook creds you've provided

[2020-08-20 14:23] serdiukov-o-nordwhale commented on #2307
changed the way we're handling the blocking events (trying to catch them now as soon as possible)
it's working in BraveBrowser:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/62208067/90784390-e0908580-e309-11ea-94dd-f52bc2f84627.png">

will upload the hotfix to dev & qa

[2020-08-21 07:40] AnastasiiaOdnoshevna commented on #2307
@serdiukov-o-nordwhale I checked on dev and qa env - it works when the shields are enabled

[2020-08-21 08:06] yaroslav-fedyshyn-nordwhale commented on #1956
@AnastasiiaOdnoshevna I tested this screen on ios devices, android devices (emulator, Huawei P20) and locally on desktop. Theres no such big space between images and text.

[2020-08-21 08:08] yaroslav-fedyshyn-nordwhale commented on #1897
@serdiukov-o-nordwhale isn't this task already implemented in #1861?

[2020-08-21 08:15] AnastasiiaOdnoshevna commented on #2235
@serdiukov-o-nordwhale @sirpy user gets OTP to mail that was entered to the "email" field
The encountered error is mautic issue. if the duplicate is deleted  from mautic the user will be able to pass registration flow successfully
Checked on QA V1.0.6-1
Desktop: Windows 10 // Google Chrome  84.0.4147.135

[2020-08-21 08:15] #2235 closed

[2020-08-21 21:55] mauriguz opened #2321 "Upgrade popup - new app version available"
Same as web we want to let users know when a new version of the app is available to download in the stores. If the current version of the app is different than the latest version we should display the popup and when pressing "update" we need to redirect to the corresponding store.

**What needs to be done**

* [ ] Determine if there's a diff in versions
* [ ] Determine corresponding store for the

[2020-08-22 19:16] sirpy opened #2322 "(Bug) misc issues in react-native"
- [x] on ios/android fields are not auto focused in signup process
- [x] on ios it has autocomplete and spelling fixes when typing name/email which is annoying
- [ ] on  android it prints a strange long message in signup process... looks like it converts a string into an array/object
- [ ] on android dashboard top part doesnt look good
- [x] welcome message(system cards) doesn't have good dollar l

[2020-08-24 14:29] MathiasMoralesDixtra commented on #2311
@yaroslav-fedyshyn-nordwhale I had problems with this, left you more info on the channel.

[2020-08-24 23:45] mauriguz commented on #2261
@LiavGut @tomerGD @sirpy  any updates on this?

[2020-08-25 07:12] sirpy commented on #2321
@mauriguz we need to discuss this with @LiavGut and @tomerGD
native updates are probably different then web, are they automatic? always? hot code push? can we force the user to update? send him to store?
please summarize what are the options in native and then we'll decide. maybe we just need to show the "whats new" for the user?

[2020-08-25 07:22] AnastasiiaOdnoshevna commented on #1956
it will be checked on QA env

[2020-08-25 10:29] #2306 closed

[2020-08-25 10:30] yaroslav-fedyshyn-nordwhale commented on #2322
@sirpy
regarding 2nd point - it should be disabled in ios system settings.
Path to disable it: Settings -> General -> Keyboard -> Auto-Correction (toggle to disable)

[2020-08-25 10:59] sirpy commented on #1956
@yaroslav-fedyshyn-nordwhale why are you using fixed height of 100 on mobile?
the height shouldbe according to design and you can decide to make it relative with getRelativeHeight

[2020-08-25 11:03] sirpy opened #2325 "Verify usage of linear-gradient"
modaljaggededge  uses linear-gradient but I dont see usage of react-native LinearGradient

[2020-08-25 11:08] yaroslav-fedyshyn-nordwhale commented on #2322
I fixed the positioning for error animation on error dialog. But the 'Oops' text (it is the part of the animation) is not displayed at the top of dialog on ios.

Screenshots after fix:
| browser | ios |
| --- | --- |
| ![1.png](https://images.zenhubusercontent.com/5d555cf825ff190001f1a4eb/d5ed2fdd-6173-404b-ade7-d05ab25058cb) | ![2.png](https://images.zenhubusercontent.com/5d555cf825ff190001f1a4eb

[2020-08-25 11:10] sirpy commented on #2322
@yaroslav-fedyshyn-nordwhale can  we have a PR please to review changes

[2020-08-25 11:10] yaroslav-fedyshyn-nordwhale commented on #2322
Here is the video of how the fields autofocus works - https://www.screencast.com/t/rDWPx6NQ
There wasn't autofocus for the phone number field.

[2020-08-25 11:17] yaroslav-fedyshyn-nordwhale commented on #2322
@mauriguz please test all these places I described above on android. For some reason on android app I always getting 'network error' when it tries to make request to the server and app crashes. Maybe something wrong with my local configs and I need some additional to continue with android.

[2020-08-25 11:23] yaroslav-fedyshyn-nordwhale commented on #2322
| @yaroslav-fedyshyn-nordwhale can we have a PR please to review changes

@sirpy here is the link to the PR - https://github.com/GoodDollar/GoodDAPP/pull/2326

[2020-08-25 12:25] yaroslav-fedyshyn-nordwhale commented on #1956
@sirpy
I checked design sizes - and applied the maxHeight according to the design with getRelativeHeight for small devices.

[2020-08-25 12:28] yaroslav-fedyshyn-nordwhale commented on #2322
Regarding the second point (on ios it has autocomplete and spelling fixes when typing name/email which is annoying) - it should be disabled in system settings (Settings -> General -> Keyboard -> Auto-Correction toggle).

[2020-08-25 12:34] sirpy commented on #2307
@AnastasiiaOdnoshevna i've released v1.1.2 it can be tested on next

[2020-08-25 13:50] AnastasiiaOdnoshevna commented on #2307
@sirpy it works now https://www.screencast.com/t/d9OWohCBhKo

[2020-08-25 13:50] #2307 closed

[2020-08-25 14:03] serdiukov-o-nordwhale opened #2328 "(Bug)"Ooops..." text isn't show on Error animated icon on IOS native"
![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/a2a4c618-9910-43b4-b0ad-d446dce5ccea)

The animation file having issues: `src/components/common/animations/Error/data.json`

- [ ] edit animation and remove text
- [ ] add Oooops... text  as title to our dialog object in case it is of type error

[2020-08-25 14:31] AnastasiiaOdnoshevna commented on #1895
@sirpy @yaroslav-fedyshyn-nordwhale Issue isn't reproduced
Checked on DEV V1.1.2
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.135

[2020-08-25 14:31] #1895 closed

[2020-08-25 14:57] yaroslav-fedyshyn-nordwhale commented on #2018
@AnastasiiaOdnoshevna
I pushed a fix to the master branch - please test it after 15 minutes, thanks.

[2020-08-25 16:12] serdiukov-o-nordwhale commented on #2018
@yaroslav-fedyshyn-nordwhale please, **link your hotfix PRs**, i've already asked for that. I would just click to review, not to scroll commits feed searching for it

[2020-08-25 16:22] serdiukov-o-nordwhale commented on #2018
@yaroslav-fedyshyn-nordwhale
https://github.com/GoodDollar/GoodDAPP/commit/02e2e6cfff27ce9eb9132de32ccabc0652a8df38

[2020-08-26 07:31] AnastasiiaOdnoshevna commented on #2018
@sirpy @yaroslav-fedyshyn-nordwhale Issue isn't reproduced
https://www.screencast.com/t/yNeP1hl6
Checked on DEV V1.1.2
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.135

[2020-08-26 07:31] #2018 closed

[2020-08-26 07:55] AnastasiiaOdnoshevna commented on #2254
@sirpy I have tried to reproduce errors from this list but they are reproduced in rare causes - It hasn't been managed to reproduce
Checked on DEV V1.1.2
Desktop: Windows 10 // Google Chrome  84.0.4147.135

[2020-08-26 07:55] #2254 closed

[2020-08-26 10:19] AnastasiiaOdnoshevna commented on #1925
@sirpy This issue isn't reproduced anymore
Checked on DEV V1.1.2
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.135

[2020-08-26 10:19] #1925 closed

[2020-08-26 13:00] #2305 closed

[2020-08-26 13:16] serdiukov-o-nordwhale opened #2331 "Show error/reload dialog if authentication failed just after Torus login"
- [ ] contact with users having unauthorized issue during send OTP step

Try to check which of the solutions work
a) clearing creds
b) clear localstorage
c) clearing indexeddb

- [ ] show dialog if authentication failed just after Torus login. On dismiss perform the determined cleanup action solving the issue and hard-reload the app

[2020-08-26 14:15] serdiukov-o-nordwhale opened #2332 "Phone input mask/validator issue"
Some phone numbers are stripped out by the phone input. Even if the user enters manually and omit the country code, spaces and other separators (e.g. "-").  As a result phone number is stored with some digits are missing, OTP is sent to the wrong number an user couldn't finish signup

The number we've found the issue is +9720507321946. +972 - phone code of Israel, 0507321946 - local number. He's c

[2020-08-26 20:11] sirpy commented on #2332
this is not supposed to be an issue. removing leading zero is how you dial to Israel internationally. it works for all israely numbers like that. there must be some other issue

[2020-08-26 20:24] serdiukov-o-nordwhale commented on #2332
@sirpy From some case SMS isn't sent to 972507321946
And there's no issues/errors/logs etc - user just redirected to the "enter sms code" screen

probably  this is related to the Twilio config? and we have to adjust something for example add prefix aliases to match 97250 to +972050 for support Pelephone customers ?

[2020-08-27 01:41] mauriguz commented on #2322
@yaroslav-fedyshyn-nordwhale we haven't seen such behavior, could you send me some screenshots in slack and I can help you debug?

[2020-08-27 02:38] mauriguz commented on #2325
Effectively, ModalJaggedEdge is using css' linear-gradient without native support. I'll add this to our work queue

[2020-08-27 02:53] mauriguz commented on #1732
All issues related to this epic have been moved into new epics for each Android & iOS as we originally had in the roadmap

[2020-08-27 02:53] #1732 closed

[2020-08-27 06:25] sirpy opened #2333 "(Bug) auth0 passwordless popup is empty on ios 11.2.2 iphone 6s"
A friend pressed on passwordless and just got a blank screen

please try to recreate

[2020-08-27 06:37] sirpy opened #2334 "(Bug) Fullstory session url is not logged in sentry"
- [x] sentry errors do not have the session url
- [x] session url on amplitude should be per event not  a user propery

[2020-08-27 06:40] sirpy commented on #1866
replaced with #2334

[2020-08-27 06:40] #1866 closed

[2020-08-27 06:54] sirpy opened #2335 "Handle gun putAck,secretAck exceptions"
- [x] retry in gundb-extend
- [x] in  userstorage and other places where we use putAck,secretAck catch exceptions and log the correctly

[2020-08-27 07:34] serdiukov-o-nordwhale commented on #2334
1. In the previous task we had to add it to amplitude only. So why we haven't added it to Sentry
2. They're added both to user profile (getSessionUrl) and to the error events (getCurrentSessionUrl). Non-error events send via fireEvent aren't tagged with session url. Should we remove it from user profile ? And how about non - error events, should we add fs session url to them ?

[2020-08-27 07:47] sirpy opened #2336 "(Bug) dashboard layout isnt responsive on ios 11.4 iphone 7"
- when viewing from wallet
- was able to recreate on simulator
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/212c4890-a50f-40da-b339-071ca73693a3)

[2020-08-27 08:04] sirpy opened #2337 "(Bug) logs do not show in analytics"
It seems like logs are not being captured by different analytics or are captured partialy
- fullystory - partial capture of info/warn but no debug/error
- sentry - only console logs by other libraries (ie no pino logs)
- birdseatbugs - a chrome extension for recording sessions same as sentry  doesnt capture any pino logs

- [ ] perform test with different logger if it solve issue for birdseatbug/s

[2020-08-27 08:07] sirpy commented on #2334
no just error events both sentry and amplitude

[2020-08-27 08:49] AnastasiiaOdnoshevna commented on #2333
@sirpy Issue isn't reproduced
Cheked on the DEV V1.1.2   NEXTorg V 1.1.2
iPhone 7 // 11.4.1
iPhone 6 Plus // 11.1 iOS

[2020-08-27 09:28] AnastasiiaOdnoshevna opened #2339 "[IOS: Export my wallet] The data isn't copied to clipboard after clicking copy buttons"
Precondition:
The "Export my wallet" page is opened

Steps to reproduced:
1) Click the "Copy Key" or "Copy address" button
2) Paste the data that was copied
3) Pay attention to the lack of key or address in the clipboard

Actual result: The data isn't copied to clipboard after clicking copy buttons
Expected result: The data should be copied  to clipboard after clicking copy buttons
**Note:** repro

[2020-08-27 10:44] AnastasiiaOdnoshevna opened #2340 "(Error) getInitialFeed failed:Cannot read property 'id' of undefined. TypeError: Cannot read property 'id' of undefined"
Precondition:
Reproduced for this account during creating wallet via Facebook   itltest122@gmail.com //what12345

Steps to reproduced:
1) Create a wallet via Facebook
2) Open the "Home" page
3) Pay attention to the lack of feeds

Actual result: The feeds aren't displayed after creating the wallet, just grey blocks are displayed instead of feeds
Expected result: The feeds should be displayed on the

[2020-08-27 11:31] sirpy opened #2341 "(Bug) app is stuck long time on splash or on loading feed"
this happens mostly on mobile devices
I saw that it mostly hangs around Appswitch initialize method

[2020-08-27 11:45] AnastasiiaOdnoshevna opened #2342 "(BUG) Session session token issue failed:" "Failed to perform face verification API call"
Precondition:
Create a wallet or open one where the FV hasn't been passed yet
Steps to reproduced:
1) Open the camera pop-up by clicking "OK,VERIFY ME" button on the  "Face verification" page
2) Pay attention to the spinner and error afterward

Actual result: The FV is blocked by spinner after clicking the "OK,VERIFY ME" button, afterward 10sec of spinner appears the "something went wrong " error

[2020-08-27 12:06] sirpy commented on #2342
@AnastasiiaOdnoshevna is this reproducable multiple times?

[2020-08-27 12:08] sirpy commented on #2339
@AnastasiiaOdnoshevna I think we already have an issue for that... please check and merge

[2020-08-27 12:11] sirpy commented on #2318
we  probably should not allow to close the preparing wallet popup

[2020-08-27 12:12] sirpy commented on #2315
@LiavGut you shared only one image, so  its not clear what you mean

[2020-08-27 12:15] sirpy commented on #2284
@yaroslav-fedyshyn-nordwhale this is regarding the list of users in dashboard
if you reduce the size of the browser window (you can simply test it on your chrome browser)
once it gets two small it doesnt show the balance anymore but just the blockchain address. we need to make sure blockchain address cell is reduced in size and balance is  show.

second point is to open the dashboard in a tab inst

[2020-08-27 12:17] sirpy commented on #2299
@serdiukov-o-nordwhale any updates? kindly remind him

[2020-08-27 12:19] LiavGut commented on #2315
@sirpy
[Popup hight jump.zip](https://github.com/GoodDollar/GoodDAPP/files/5136251/Popup.hight.jump.zip)

[2020-08-27 12:41] AnastasiiaOdnoshevna commented on #2342
@sirpy I've recreated wallet  and  it has been reproduced again

[2020-08-27 12:52] yaroslav-fedyshyn-nordwhale commented on #1992
I could reproduce 1765 only on android devices/emulator. The functionality related to the blurred background works fine. I think it is a rendering issue, likely in src/components/dashboard/FeedModalList.js ->
[code]

[2020-08-27 13:21] serdiukov-o-nordwhale commented on #2342
@sirpy @AnastasiiaOdnoshevna Most probably it's just an fvqa or zoom servers temporary unavailability (in non-production mode ZoOm UI interacts with ZoOm servers even if the custom server is configured). It's already happened as i remember.
Will check it

[2020-08-27 13:37] yaroslav-fedyshyn-nordwhale commented on #2336
@sirpy @serdiukov-o-nordwhale I pushed a possible fix to the master (fb0ce4713d8a69cd7860525c37b1e14ba4faecdd). Need to deploy and test after @AnastasiiaOdnoshevna

[2020-08-27 14:55] serdiukov-o-nordwhale commented on #2342
As i said - it's just an `fvqa` server issue:

[code]

[2020-08-27 15:03] serdiukov-o-nordwhale commented on #2342
@sirpy could you please check what happened with fvqa ? I have no accesses and i even don't know where and how it's deployed

[2020-08-27 15:12] serdiukov-o-nordwhale commented on #2336
@yaroslav-fedyshyn-nordwhale When i asked you to  _link_ commits i ment to add them as clickable link tags, not just to specify the hash
e.g. https://github.com/GoodDollar/GoodDashboard/commit/fb0ce4713d8a69cd7860525c37b1e14ba4faecdd

[2020-08-27 15:30] serdiukov-o-nordwhale commented on #2299
have sent him a message
He have read the last message i sent August 17th, but he have nothing answered. And the ticked is marked as resolved. Probably issue disappeared- i've asked him about this too

[2020-08-27 20:26] MathiasMoralesDixtra commented on #2328
@sirpy @mauriguz @serdiukov-o-nordwhale
I was looking about the issue and I found this:
https://github.com/airbnb/lottie-ios/issues/765
As we see the library doesn't provide a solution yet.
Maybe we can try the next comment:
https://github.com/airbnb/lottie-ios/issues/765#issuecomment-569490736

[2020-08-28 10:04] AnastasiiaOdnoshevna commented on #2339
@sirpy   #2003 It's related to 12-word pass phrase /the "Copy all to clipboard" button doesn't work

[2020-08-28 10:10] serdiukov-o-nordwhale commented on #2342
@sirpy @AnastasiiaOdnoshevna
I've temporary switched goodqa to the FaceTec Testing API (https://api.zoomauth.com/api/v2/biometrics)

[2020-08-28 10:12] yaroslav-fedyshyn-nordwhale commented on #2337
@sirpy @serdiukov-o-nordwhale I tested locally the logs collection with birdseatbug - pino logs are captured correctly (see screenshot - https://prnt.sc/u7ebuh)
Regarding sentry - we can use this thing https://docs.sentry.io/platforms/node/integrations/pluggable-integrations/#captureconsole to capture all the console events.

[2020-08-28 10:50] AnastasiiaOdnoshevna commented on #2025
@sirpy @yaroslav-fedyshyn-nordwhale  Data in the charts or boxes is changed if the user claims the G$ or transfers to another wallet
Checked on NEXTorg V1.1.2
Desktop: Windows 10 // Google Chrome  84.0.4147.135

[2020-08-28 10:50] #2025 closed

[2020-08-28 10:59] AnastasiiaOdnoshevna commented on #1956
@sirpy @yaroslav-fedyshyn-nordwhale it looks well now - without the white space
![Screenshot_2020-08-28-13-55-56.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/e8ac03fe-9b87-4718-b180-a269ee5ea2ad)
Checked on QA V1.1.2
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111

[2020-08-28 10:59] #1956 closed

[2020-08-28 11:26] AnastasiiaOdnoshevna opened #2344 "Error: getProfileFieldValue decrypt failed"
Steps to reproduce:
1) Open the wallet via Facebook (itltest122@gmail.com // what12345)
2) Pay attention to the error in the console
3) Refresh the app being on the "Home" page
4) Pay attention to the error in the console

Actual result: The "getProfileFieldValue decrypt failed" error is displayed in the console after entering in the wallet or reloading the page
Expected result: The "getProfileFie

[2020-08-28 14:28] serdiukov-o-nordwhale commented on #2344
@AnastasiiaOdnoshevna
yes it happens for some fields and i don't know why.

I met with this while tested other PR. I supposed that the changes were break something but with the original code it continued to reproduce. I've spent some time for research but couldn't solve it yet

@sirpy maybe you could look it this Sunday? The issue happens in the .decrypt() implelentaton from gundb-extend.

for som

[2020-08-28 15:43] AnastasiiaOdnoshevna opened #2347 "(BUG) [Mobile] The text isn't aligned by width on the "Privacy Policy" tab"
Note: it reproduces for mobile devices

Steps to reproduce:
1) Open the "Privacy policy&Terms" page
2) Switch to the "Privacy Policy" tab
3) Pay attention to the text

Actual result: The text isn't aligned by width on the "Privacy Policy" tab
Expected result: The text should be aligned by width on the "Privacy Policy" tab

![Screenshot_2020-08-28-14-30-18.png](https://images.zenhubusercontent.com/

[2020-08-28 16:33] serdiukov-o-nordwhale commented on #2347
It's an external website opened in the iframe, so we couldn't do anything with that. The issue should be fixed on the community or support site (don't remember from where exactly TOU are loading)

[2020-08-28 16:42] serdiukov-o-nordwhale commented on #2347
Looks like the issue in the article contents. The long non-wrap able words (like non-for-profit) are used somewhere so the horizontal scroll bar appears.

Text contents just had to be adjusted:
- replace non-wrap able words with wrap able synonyms (e.g non-for-profit -> non commercial)
- or add invisible spaces `&shy;`

[2020-08-28 18:41] mauriguz opened #2348 "React native - add google analytics"
We need to include google analytics for react-native using cross-platform analytics changes as a base

[2020-08-28 18:43] #2047 closed

[2020-08-28 18:44] #2311 closed

[2020-08-28 20:00] MathiasMoralesDixtra commented on #2325
We resolved the issue related to gradient with a box-shadow/elevation because react-native-linear-gradient doesn’t provide api to play with blur, the end result looks the same. Referred to the jagged edge effect the library doesn't support it, maybe we could try with other libraries such as react-native-css-gradient or investigating a little bit more with different approaches, though I want to con

[2020-08-29 20:02] sirpy commented on #2325
@MathiasMoralesDixtra @mauriguz ok lets open a different issue for that.
1.  please  explain what  exactly isnt supported in react-native
2. can we use a simple fixed background image for that?  ie copy from the design a single triangle and make it  repeat

[2020-08-29 20:08] sirpy commented on #2347
@Talbatz please try to fix this
use chrome developer tools to emulate iphone 5s visit
https://community.gooddollar.org/tou1/#privacy-policy

[2020-08-29 20:18] sirpy commented on #2337
@yaroslav-fedyshyn-nordwhale maybe its working locally, but not on gooddev/qa/next

[2020-08-29 20:22] sirpy commented on #2299
@serdiukov-o-nordwhale this has been fixed for QR already no?
can weclose this issue? @AnastasiiaOdnoshevna

[2020-08-29 20:24] sirpy commented on #2336
@yaroslav-fedyshyn-nordwhale dashboard master  is deployed automatically on dev/qa it should be testable
@AnastasiiaOdnoshevna

[2020-08-29 20:29] sirpy commented on #2315
@LiavGut shouldnt we use our checkmark animation?

[2020-08-29 23:00] LiavGut commented on #2315
@sirpy yes, please :)

[2020-08-31 07:14] AnastasiiaOdnoshevna commented on #2299
@sirpy I've just checked it on dev ... is reproduced

[2020-08-31 07:28] AnastasiiaOdnoshevna commented on #2336
@sirpy The dashboard is displayed correctly - data in the boxes are displayed

[2020-08-31 07:50] AnastasiiaOdnoshevna commented on #2339
@sirpy @yaroslav-fedyshyn-nordwhale button works well - data is copied to clipboard
Video: https://www.screencast.com/t/WlbivhDC
Checked on DEV V1.1.2
iPhone 8 //13.3.1

[2020-08-31 07:50] #2339 closed

[2020-08-31 07:54] AnastasiiaOdnoshevna commented on #2318
@sirpy @serdiukov-o-nordwhale User isn't able to close the pop-up
Checked on DEV V1.1.2
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  84.0.4147.135
![2020-08-31_10-51-48.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/775d5ccd-ef42-4c3a-8650-258a6ebd56b4)

[2020-08-31 07:54] #2318 closed

[2020-08-31 08:03] AnastasiiaOdnoshevna commented on #2334
@sirpy As far as I know, the previous ticket related to session URL should be tested on the prod
what the env where it should be tested now?

[2020-08-31 09:15] sirpy commented on #2334
fullstory is only enabled on prod

[2020-08-31 10:07] yaroslav-fedyshyn-nordwhale commented on #2284
The link to the GoodDashboard PR - https://github.com/GoodDollar/GoodDashboard/pull/34

[2020-08-31 10:32] LiavGut commented on #2261
@sirpy
Here are the new signup/login screens:

https://xd.adobe.com/view/75f09726-0f2a-4e7a-ae65-1e902206f390-20a3/

Here's the logic we agreed on:

1. user press signup -> chooses login method -> we can detect if account/email/mobile are already in use -> user fills his email/mobile -> we can detect if it is already in use
2. user press login -> we can detect if the account doesn't exist so there

[2020-08-31 11:26] #2335 closed

[2020-08-31 11:39] sirpy commented on #2328
@MathiasMoralesDixtra @serdiukov-o-nordwhale updated the issue

[2020-08-31 11:56] sirpy commented on #2261
@mauriguz this is ready

[2020-08-31 12:20] sirpy opened #2352 "Improve sentry grouping"
it seems  like sentry might be grouping by line of code throwing the exception
check the docs how to group the errors by context (logger from)+error (logger message)

[2020-08-31 12:42] yaroslav-fedyshyn-nordwhale commented on #2336
@AnastasiiaOdnoshevna yes it is ok - the data is loading from server - and after its loaded it will be displayed

[2020-08-31 13:29] yaroslav-fedyshyn-nordwhale commented on #2337
It's working for me on:
gooddev - https://prnt.sc/u8z6xp
qa - https://prnt.sc/u8zb3l
next - https://prnt.sc/u8zd1f

On 'QA' env for the first time, it doesn't record any logs, but after I did a hard reload of the page it started to work.

Also, I think this lib could be buggy and not work correctly as its description says:
*This is an early Beta version, so don't be surprised if you see a bug or s

[2020-08-31 13:39] yaroslav-fedyshyn-nordwhale commented on #1926
@LiavGut
the claim button max-size is already increased by 20% when animating (the scale value is changing from 1 to 1.2 and again to the 1).
Or maybe you worry about something else?

[2020-08-31 13:49] yaroslav-fedyshyn-nordwhale commented on #2336
@AnastasiiaOdnoshevna
the described issue is solved - so I think we can close it if it doesn't reproduce anymore.
The other issue you found need to move to another ticket.

[2020-08-31 14:15] #2336 closed

[2020-08-31 14:19] serdiukov-o-nordwhale commented on #2328
@sirpy "in case of type error" means we have to show "Oopts" only if error.name === "TypeError" ? am i understanding correctly ?

[2020-08-31 14:25] AnastasiiaOdnoshevna opened #2353 "(BUG) IOS 11.4 The values aren't displayed in the boxes on the "Statistic" page"
Steps to reproduced:
1) Open the "Statistic" page
2) Pay attention to the values in the boxes

Actual result: The values aren't displayed in the boxes on the "Statistic" page
Expected result: The values should be displayed in the boxes on the "Statistic" page

Checked on DEV/QA V1.1.2
iPhone 6S | 11.4

![iOS11.4.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/fa726754-0e6d-4899-

[2020-08-31 14:29] LiavGut commented on #1926
@yaroslav-fedyshyn-nordwhale I want it to scale more, to 1.4

[2020-08-31 14:55] serdiukov-o-nordwhale opened #2354 "Unify error processing - app side"
* [ ] only js Error objects should be thrown. no strings, plain object etc
* [ ] errors received from http calls should have a) `.response` property containing an http response object (e.g. axios response) b) `.json` or `.jsonBody` containing JSON-parsed response body c) `.rawBody` containing raw body as the string / blob / buffer
* [ ] errors received from the GUN callbacks should have the `.ack`

[2020-08-31 18:17] LiavGut opened #2355 "(BUG) Claim - Amount is set to 00.00 G$ once the counter ends and changes to claim button"
Desktop/Mobile (galaxy A5) Chrome

1. Go to Claim screen, see the countdown.
2. Leave app
3. Return to app when It's claim time.

I see the countdown button switch (animate) to Claim button but the amount is set to 00.00 G$

[2020-08-31 18:28] LiavGut opened #2356 "(BUG) Claim - After claim process ends successfully - The Dashboard's Claim button does it's animation"
Desktop, Chrome

1. Finish the Claim process successfully.
2. Go to Dashboard, See the Claim card.
3. The Claim button still does it's animation as if I can claim again.

[2020-09-01 06:35] sirpy commented on #2337
@yaroslav-fedyshyn-nordwhale for me it doesnt work in birdseatbugs
also you can see in sentry that it doesnt get the console logs
and also in full story (in production)

maybe you should switch to testing with sentry
@serdiukov-o-nordwhale FYI

[2020-09-01 06:42] sirpy commented on #2331
the issue was caused by bad key generations.
closing this.

[2020-09-01 06:42] #2331 closed

[2020-09-01 06:52] AnastasiiaOdnoshevna commented on #2341
@sirpy App is still stuck long time on loading feeds
https://www.screencast.com/t/ldDo7jPDYvn
Checked on DEV V1.1.2
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
iPhone 8 //13.3.1

[2020-09-01 07:55] AnastasiiaOdnoshevna opened #2360 "(BUG) IOS: The G$ amount isn't centered on the dashboard"
Step to reproduce:
1) Open the dashboard on the IOS device
2) Pay attention to the G$ amount

Actual result:  The G$ amount isn't centered on the dashboard
Expected result:  The G$ amount should be centered on the dashboard

Checked on DEV V1.1.2
iPhone 11 //13.3
iPhone 8 //13.3.1

![2020-09-01_10-28-43.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/2469d909-716b-42c5-bbc5-8e3c

[2020-09-01 08:41] sirpy commented on #2341
@AnastasiiaOdnoshevna its fine a few seconds is ok
compare it to next where its either stuck or can take 30+ seconds

[2020-09-01 08:45] #2341 closed

[2020-09-01 14:03] sirpy opened #2364 "Improve feed load time"
currently when feeds first loads we format the feed item reading user/recipient data (avatar/name) from gundb
which probably slows it down
we need to cache stuff locally, either what we read from the db or the result of the formated event
since user can change his avatar, the cache needs to be updated

[2020-09-01 14:29] mauriguz opened #2365 "(Chore) Unit test asyncstorage wrapper"
Update _src/lib/utils/__tests__/asyncStorage.js_ to properly test our asyncstorage wrapper by mocking localStorage in jest

1. remove function mock
1. install & use https://www.npmjs.com/package/jest-localstorage-mock

[2020-09-01 14:39] AnastasiiaOdnoshevna commented on #2334
@sirpy On the amplitude, session url is displayed
what about sentry, as far as I know, it isn't displayed for next
![2020-09-01_13-13-23.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/20c3ccd1-5f6b-4843-9951-97247d3c7d7d)
Checked on NEXTorg V1.1.2
Desktop: Windows 10 // Google Chrome  84.0.4147.135

[2020-09-01 14:39] #2334 closed

[2020-09-01 14:57] serdiukov-o-nordwhale commented on #2332
closing as the issue was on the Twilio side

[2020-09-01 14:57] #2332 closed

[2020-09-01 15:24] yaroslav-fedyshyn-nordwhale commented on #2315
@sirpy @LiavGut
I tried to show animated success icon - but it locks confusing for the user. When success popup is shown the spinner is still performing loading animation and after 2 sec become a success icon. So I left the existed implementation.
https://www.screencast.com/t/cTFgive64SUj

[2020-09-01 16:28] #2342 closed

[2020-09-01 16:28] AnastasiiaOdnoshevna commented on #2342
@sirpy Issue isn't reproduced. The FV is opened successfully
Checked on QA V1.1.3-0
Desktop: Windows 10 // Google Chrome  84.0.4147.135

[2020-09-01 16:54] #2328 closed

[2020-09-02 08:33] yaroslav-fedyshyn-nordwhale commented on #1926
@AnastasiiaOdnoshevna I pushed a fix to the master so the changes will be available on gooddev after 10 minutes.
Here is the video showing the result: https://www.screencast.com/t/S4RRGZM7V
Commit: https://github.com/GoodDollar/GoodDAPP/commit/ecce732d8699c75670a7e3c32eb4e9b5b9fb1591

[2020-09-02 10:22] sirpy commented on #2364
@serdiukov-o-nordwhale i've made some more improvements in my PR
so for now i'm moving this to icebox.. it might not be required

[2020-09-02 10:56] AnastasiiaOdnoshevna commented on #1926
@sirpy @yaroslav-fedyshyn-nordwhale button animation is according to requirement  https://www.screencast.com/t/4d2xVZpT8
Checked on DEV V1.1.3-0
Desktop: Windows 10 // Google Chrome  84.0.4147.135

[2020-09-02 10:56] #1926 closed

[2020-09-02 11:52] sirpy commented on #2315
@yaroslav-fedyshyn-nordwhale
the logic is
1. show dialog spinner animation when starting tx
2. when tx finish set the dialog with animation success=true and the success text

[2020-09-02 12:54] AnastasiiaOdnoshevna opened #2368 "(BUG) The "Payment link processed successfully" pop-up isn't closed after clicking close or "YAY!" button"
Precondition:
The send link is prepared (reproduced only with Send link)

Steps to reproduce:
1) Open the send link on the other account
2) Close the "Payment link processed successfully" pop-up
3) Pay attention to the fact that pop-up can't be closed

Actual result:  The "Payment link processed successfully" pop-up isn't closed after clicking close or "YAY!" button
Expected result:   The "Payment

[2020-09-02 12:57] sirpy opened #2369 "Add google G logo to sign in button"
change ONLY the google signin button
- [ ] add G svg logo to our icon set so it can be used as icon in custom button
- [x] add G logo to button
- [x] white background, black text

https://xd.adobe.com/view/f06a8142-6c6a-4bb3-93bd-2efda71b4e62-a539/

[2020-09-02 13:59] AnastasiiaOdnoshevna opened #2370 "Error: set() / updateAll() user props failed:: [object Object]"
Steps to reproduce:
1) Open the "Edit profile" page
2) Switch to another tab for 3-5 min
3) Switchback to https://next.gooddollar.org/
3) Pay attention to the errors on the console

Actual result: The errors are displayed on the console after switching to another tab for a 3-5 min
Expected result: The errors shouldn't be displayed on the console after switching to another tab for a 3-5 min
**Note*

[2020-09-02 14:32] serdiukov-o-nordwhale commented on #2370
according to the hasConnectionChange those bugs was caused by the GUN connection lost. So everything worked as should

[2020-09-02 15:01] sirpy commented on #2370
but why did that happen? which prop did it try to save?
the error log is incorrect it logs "object object"

[2020-09-02 15:34] serdiukov-o-nordwhale commented on #2370
promisifyGun rejects with an Error object created from ack.err
if ask.err was object - it will be '[object object]'
according to the gun docs & source ack.err is an string message

[2020-09-02 15:47] serdiukov-o-nordwhale commented on #2370
I could propose to add some extra checks to onAck:

[code]

pls see the PR attached

[2020-09-02 15:57] serdiukov-o-nordwhale commented on #2370
About the props failed to save - they've logged correctly , just after the error and its trace. @AnastasiiaOdnoshevna could you please expand this object and update the screenshot?

[2020-09-03 06:58] AnastasiiaOdnoshevna commented on #2370
![2020-09-03_9-47-18.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/93f3c171-c583-4564-935e-8c296a6e9fdc)

[2020-09-03 06:59] serdiukov-o-nordwhale commented on #2370
@AnastasiiaOdnoshevna expand also "properties:"

[2020-09-03 07:09] AnastasiiaOdnoshevna commented on #2370
![2020-09-03_10-09-25](https://user-images.githubusercontent.com/54942555/92082723-9b6e5800-edcd-11ea-941c-36e4e9cf7084.png)

[2020-09-03 10:13] sirpy commented on #2370
@AnastasiiaOdnoshevna this is because of error sent back from server.
its been fixed now and shouldnt happen any more.

[2020-09-03 12:28] AnastasiiaOdnoshevna commented on #2370
@sirpy this issue isn't reproduced anymore
Checked on NEXTorg V1.2.1
Desktop: Windows 10 // Google Chrome 85.0.4183.83

[2020-09-03 12:28] #2370 closed

[2020-09-03 13:08] serdiukov-o-nordwhale commented on #2370
@sirpy @AnastasiiaOdnoshevna
in that case gun.ack was an object with the shape { errno, code, path, syscall }.
i've added support for that ack.err format to the promisifyGun. So if this error will appears again it will be correctly logged.
I commited this fix with an small pack of some other latest bugs fixes here: https://github.com/GoodDollar/GoodDAPP/commit/1613ee957081542744524902220f8a4d1eda9

[2020-09-03 13:46] LiavGut opened #2374 "(BUG) Dashboard - Claim button animation isn't working well"
Desktop, Chrome
*user can claim according to the claim cycle time.

1. Open app/login back in
2. Dashboard loads
3. Claim button animation isn't working
4. Going to another screen
5. Click back button to the dashboard
6. Claim button animation works

[2020-09-03 14:43] MathiasMoralesDixtra commented on #2322
![Screenshot_2020-09-03-11-24-53-691_org gooddollar](https://user-images.githubusercontent.com/59056508/92129136-826ba400-edd9-11ea-9a4c-39ef79466d40.jpg)

This is Android today.
1- welcome message(system cards) doesn't have good dollar logo as icon
R: I suppose that it refers to the "Welcome to GoodDollar" message and it has been fixed.
2- on android dashboard top part doesn't look good
R: Maybe

[2020-09-03 20:13] sirpy opened #2375 "UBIScheme should work in weekly cycles"
Becasue gas  fees on ethereum are very expensive, we will collect the interest accumulated only once a week
The UBI generated each week will be divided across the 7 days of the week. so each day of the week will have the same daily pool.
the daily pool is then divided by  current "active users"  count. if active users doesnt change each day of the week will have the same claim amount.

**on goodde

[2020-09-03 20:15] mauriguz commented on #2319
updated issue - removed all "replace ios/android projects" related tasks

[2020-09-03 22:20] mauriguz opened #2377 "Upgrade navigation to version 5.x"
Right now the project uses a mix of v4 and v5 for navigation, we want to unify all navigation to version 5.x
https://reactnavigation.org/docs/upgrading-from-4.x/

- [ ] Install @react-navigation/native & @react-navigation/stack
- [ ] Uninstall react-navigation & react-navigation-stack
- [ ] Align all @react-navigation packages in the project to v5
- [ ] Replace createAppContainer with NavigationCo

[2020-09-04 06:44] #2369 closed

[2020-09-04 06:44] AnastasiiaOdnoshevna commented on #2369
@sirpy @yaroslav-fedyshyn-nordwhale the G logo and white background/black text are added to the button
Checked on DEV V1.1.3-0 / NEXTorg V 1.2.1
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
Desktop: Windows 10 // Google Chrome  85.0.4183.83
![2020-09-04_9-27-42.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/91f4a634-1b19-46a9-8584-7ab04a5b43a2)

[2020-09-04 07:32] AnastasiiaOdnoshevna opened #2378 "Update the statistics dashboard according to a new contract"

[2020-09-04 07:34] sirpy commented on #2322
@mauriguz @MathiasMoralesDixtra ok. this can be merged when approved

[2020-09-04 07:40] yaroslav-fedyshyn-nordwhale commented on #2360
I stuck with this issue.
The problem here is that on ios 13.4 and lower the layout callback which we pass to the View component where balance displayed works incorrectly. It triggered only once on the initial render, but it should. be triggered every time the block layout/size is changed. Because of that, the width of the balance block could not be updated when it changes. And without width, the c

[2020-09-04 08:45] yaroslav-fedyshyn-nordwhale commented on #1922
@AnastasiiaOdnoshevna this issue should be already fixed. We handle all such cases recently. Please verify it again.

[2020-09-04 09:30] serdiukov-o-nordwhale commented on #2360
@yaroslav-fedyshyn-nordwhale Then we shouldn't calculate its layout dynamically.
Let it just be an view of 100%  width with the center justified text

[2020-09-04 11:10] yaroslav-fedyshyn-nordwhale commented on #2360
@serdiukov-o-nordwhale
yes, the deps is wrong - I fixed it here - https://github.com/GoodDollar/GoodDAPP/commit/02a492a6b90431325943a0d1627fc7e0d928d9f1

But it doesn't solve the issue - the onLayout callback is not triggered when the balance block changed.

[2020-09-04 11:28] serdiukov-o-nordwhale commented on #2360
@yaroslav-fedyshyn-nordwhale I moved your commit to the PR

1. please formalize your PRs as i asked here: https://github.com/GoodDollar/GoodDAPP/pull/2383#issuecomment-687086132
2. try to listen to GD amount value changes instead of onLayout. useEffect is called **after** component is re-rendered so you could be sure the view with GD amout is finished updating and you could got its dimension to ca

[2020-09-04 11:31] serdiukov-o-nordwhale opened #2384 "(Bug) Uncaught messages in the console related to the feed & gun.decrypt"
- [x] fix non-unique keys for feed items (fix with createdDate doesn't working)

- [x] fix incorrect .putAck logs ("[object Object]" is logged instead of the error message
![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/a1677174-9059-4172-b595-05f593abf632)

- [x] a lot of "u is not a function" / "cb is not a function" uncaight messages appearing during app run
![image.p

[2020-09-04 11:40] serdiukov-o-nordwhale commented on #2384
1. This is related to the feed indexes. For some accounts there are items with duplicated ids stored in the index. So, then getting feed item by it returns the same item objects and they're included in the feed collection. To solve this correctly we have to fix getFeedPage. We should take the items with unique ids only  form the indexes before we getting items by id

2. When GUN rejects, ack.err c

[2020-09-04 12:13] AnastasiiaOdnoshevna opened #2387 "(BUG) The error message isn't displayed after trying to withdraw the own payment link"
Precondition:
The send link is ready to be sent

Steps to reproduce:
1) Open the send link on the account where this link has been created
2) Pay attention to the lack of error pop-up

Actual result: The error message isn't displayed after trying to withdraw the own payment link
Expected result: The "You can't withdraw your own payment link." error message should be displayed after trying to withd

[2020-09-04 13:13] mauriguz opened #2389 "(Chore) Verifiy usage of branch.json in android"
Make sure branch is properly working in android. If code changes are needed make sure to re-test in iOS too

- [x] Solve error to put key in android manifest, it should work with branch.json
- [x] Make sure no new warnings appear

[2020-09-04 17:41] serdiukov-o-nordwhale commented on #2387
The bug is caused by the same reason that #2368 (navigation.setParams({ paymentCode: undefined }) in the finally block emits navigation state change handler which closes all popups)

Should be fixed with this PR: https://github.com/GoodDollar/GoodDAPP/pull/2382 (which adds skipping cleanup if the route hasn't changed, just params)

Closing as dup of #2368

[2020-09-04 17:41] #2387 closed

[2020-09-04 23:02] #2322 closed, assigned to mauriguz, MathiasMoralesDixtra

[2020-09-04 23:06] #2319 closed

[2020-09-04 23:06] #2325 closed

[2020-09-06 07:05] sirpy opened #2395 "review and test logic of deeplinking"
- [x] In RouterSelector.native.js check if handle links is receiving the params correctly and saves to async storage DESTINATION_PATH
- [x] check Invite code is used in signup process (from link with /?inviteCode=code)
- [x] verify payment link and payment request link are working for signed in user.
  - should be handled by Dashboard handleAppLinks
  - [ ] is there a race condition? dashboard cal

[2020-09-06 12:28] sirpy opened #2396 "(Bug) Graph shouldnt show stats for day not received yet"
It looks like graph is showing day where information has not yet been received from blockchain
Now after that information was updated the graph looks correct (ie no drop)
![File (1).jpg](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/57275e8a-cb56-4fee-8b2c-88ab9901c7fa)![File.jpg](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/a46e5c95-e829-4035-bc98-7650dc8a3219)

[2020-09-06 13:27] sirpy commented on #2344
once i've set a profile image the issue was  solved.
not sure why it happened  though.

[2020-09-06 19:30] LiavGut commented on #2250
@yaroslav-fedyshyn-nordwhale @sirpy

Let's change the text on the Zoom native error screen (ie. "let's try again")

Change the text below the photos to:
"Just like a passport picture, keep your head straight,
eyes at camera level, and good, even lighting."

[2020-09-06 20:00] Talbatz commented on #2347
@sirpy fixed - plz check. i also purged all caches, and updated the content of the pp/tou.

[2020-09-07 05:48] Talbatz commented on #2051
@LiavGut i updated the texts yesterday.

[2020-09-07 07:32] sirpy opened #2397 "(Bug) total G$ supply graph incorrect"
seems like it doesnt keep previous values

[2020-09-07 07:48] AnastasiiaOdnoshevna commented on #1922
@sirpy @yaroslav-fedyshyn-nordwhale The "You can't send G$'s to yourself, you are already own your G$'s "text is displayed
Checked on DEV V1.1.3-0
LG V30+ // Android 8.0 // Google Chrome 84.0.4147.111
![Screenshot_2020-09-07-10-34-21.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/8e2dda42-a24d-4e5f-8f40-b4f2cb64b2dd)

[2020-09-07 07:48] #1922 closed

[2020-09-07 10:10] AnastasiiaOdnoshevna opened #2398 "(BUG) The "agree&continue with google" text is cut off on the button"
Steps to reproduce:
1) Open the start page with "agree&continue" buttons
2) Pay attention to the "agree&continue with google" text on the button

Actual result: The "agree&continue with google" text is cut off on the button
Expected result: The "agree&continue with google" text should be displayed fully on the button

Checked on DEV V1.1.3-0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Mot

[2020-09-07 10:17] sirpy opened #2399 "(Bug)FV liveness failure should show the zoom native "retry" screen"
When user fails liveness with server message "search apis must prove liveness" is shown the something went wrong on our side screen instead of the zoom lets try that again.
also "you need to stay on screen message" is not inside frame on some android devices (see image)
![IMG-20200907-WA0015.jpg](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/c2ad373b-4d5b-4f32-b6e5-3cd7b612bec8)

[2020-09-07 10:24] AnastasiiaOdnoshevna commented on #2347
@sirpy @Talbatz  issue still reproduced
Checked on DEV V1.1.3-0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
iPhone 8 //13.3.1
![Screenshot_2020-09-07-13-21-48.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/85a52cca-eafb-4367-aadf-f22df8defc63)

[2020-09-07 10:35] AnastasiiaOdnoshevna commented on #2051
@sirpy @Talbatz @LiavGut The app's "privacy policy&terms" page according to https://community.gooddollar.org/tou1/
But last update August 11 ...is it the correct text?
Checked on DEV V1.1.3-0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.83
![Screenshot_2020-09-07-13-21-48.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/1ed7

[2020-09-07 10:40] AnastasiiaOdnoshevna commented on #2344
@sirpy error isn't reproduced anymore
Checked on NEXTorg V1.2.4
Desktop: Windows 10 // Google Chrome  85.0.4183.83

[2020-09-07 10:40] #2344 closed

[2020-09-07 11:07] serdiukov-o-nordwhale commented on #2347
@AnastasiiaOdnoshevna
1. open the community.gooddollar.org and support.gooddollar.org in a separate tabs,
2. clear cache/storage for them
3. hard - reload them both via Ctrl/Cmd+R

then try again

[2020-09-07 11:30] AnastasiiaOdnoshevna commented on #2347
@serdiukov-o-nordwhale the same result - issue reproduced

[2020-09-07 12:09] #2072 closed

[2020-09-07 12:09] AnastasiiaOdnoshevna commented on #2072
@sirpy The issue isn't reproduced
Checked on prod V1.2.4
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.83

[2020-09-07 12:12] #2258 closed

[2020-09-07 12:13] AnastasiiaOdnoshevna commented on #2258
the "via email" flow  was deleted
Checked on prod V1.2.4
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome 85.0.4183.83

[2020-09-07 12:16] sirpy commented on #2347
Hey please check on production (wallet.). dev probably uses old versions.

[2020-09-07 12:29] AnastasiiaOdnoshevna commented on #2347
@sirpy text isn't aligned by width (old data was cleared/also checked in incognito)
Checked on prod V1.2.4
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81

[2020-09-07 12:36] sirpy commented on #2398
@yaroslav-fedyshyn-nordwhale letter spacing is not as other buttons

[2020-09-07 12:42] AnastasiiaOdnoshevna commented on #2059
the text and button are displayed according to the last updates #2206
Checked on prod V1.2.4
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome 85.0.4183.83

[2020-09-07 12:42] #2059 closed

[2020-09-07 12:46] AnastasiiaOdnoshevna commented on #1739
Updating pop-up is displayed during the splash screen
Checked on NEXTorg V1.2.4
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome 85.0.4183.83

[2020-09-07 12:46] #1739 closed

[2020-09-07 12:47] AnastasiiaOdnoshevna commented on #2189
Pop-up according to requirement
Checked on NEXTorg V1.2.4
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome 85.0.4183.83

[2020-09-07 12:47] #2189 closed

[2020-09-07 14:13] #2066 closed

[2020-09-07 14:13] AnastasiiaOdnoshevna commented on #2066
@sirpy passwordless works well
Checked on NEXTorg V1.2.4
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome 85.0.4183.83

[2020-09-07 14:15] AnastasiiaOdnoshevna commented on #2031
@sirpy Splash screen is displayed according to requirement
Checked on NEXTorg V1.2.4
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome 85.0.4183.83

[2020-09-07 14:15] #2031 closed

[2020-09-07 14:18] AnastasiiaOdnoshevna commented on #2215
@sirpy according to  requirement
Checked on NEXTorg V1.2.4
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome 85.0.4183.83
![2020-09-07_17-16-41.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/00470984-b486-4da1-b1c6-3e4ab16bee2d)

[2020-09-07 14:18] #2215 closed

[2020-09-07 14:37] #2028 closed

[2020-09-07 14:44] #2360 closed

[2020-09-07 15:17] Talbatz commented on #2347
@AnastasiiaOdnoshevna i fixed it again, please check

[2020-09-07 15:23] AnastasiiaOdnoshevna commented on #2347
@Talbatz now better but it's still too close to the left side
![Screenshot_2020-09-07-18-21-30](https://user-images.githubusercontent.com/54942555/92401774-01910d00-f137-11ea-8d50-256f4a657c3a.png)

[2020-09-07 15:33] sentry-io[bot] opened #2400 "TypeError: failed auth:: k.toLowerCase is not a function"
we have an error in error logging when checking error type
Sentry Issue: [GOODDAPP-1TK](https://sentry.io/organizations/gooddollar/issues/1873254303/?referrer=github_integration)

[code]

[2020-09-08 06:26] sirpy commented on #2353
@AnastasiiaOdnoshevna can you verify if this happens on production?

[2020-09-08 06:59] AnastasiiaOdnoshevna opened #2402 "(BUG) The message is absent on the feed of the receiver after sending the G$ via QR"
Steps to reproduce:
1) Scan the QR code to send money
2) Enter the amount and MESSAGE
3) Confirm transaction
4) Pay attention to the lack of message on the feed of the receiver

Actual result: The message is absent on the feed of the receiver after sending the G$ via QR
Expected result: The message should be displayed on the feed of the receiver after sending the G$ via QR

Video: https://www.scre

[2020-09-08 09:44] AnastasiiaOdnoshevna opened #2403 "(BUG) IOS: The"OK" and "Read More" buttons aren't displayed on the "Cookie Policy" pop-up"
Steps to reproduce:
1) Open the "Privacy policy & Terms" page on the devices with IOS system
2) Pay attention to the lack of the "OK" and "Read More" button on the  "Cookie Policy" pop-up

Actual result: The"OK" and "Read More" buttons aren't displayed on the "Cookie Policy" pop-up
Expected result: The"OK" and "Read More" buttons should be displayed on the "Cookie Policy" pop-up

Checked on prod

[2020-09-08 11:16] #2368 closed

[2020-09-08 11:16] AnastasiiaOdnoshevna commented on #2368
@sirpy @yaroslav-fedyshyn-nordwhale Issue isn't reproduced
Checked on DEV V1.1.3-0
Desktop: Windows 10 // Google Chrome  85.0.4183.83
![2020-09-08_14-12-24.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/f209006f-18c7-4679-a5ca-140a4a7371b3)

[2020-09-08 11:56] serdiukov-o-nordwhale commented on #2399
Server-related PR: https://github.com/GoodDollar/GoodDAPP/issues/2399
Client-related PRs: https://github.com/GoodDollar/GoodDAPP/pull/2405 https://github.com/GoodDollar/GoodDAPP/pull/2404

@yaroslav-fedyshyn-nordwhale please:
1. fix design issue
2. cherry-pick fix to 2404
3. set both PRs as ready to review

do it right now please

[2020-09-08 12:15] serdiukov-o-nordwhale commented on #2403
They're also a part of https://community.gooddollar.org:
<img width="1436" alt="image" src="https://user-images.githubusercontent.com/62208067/92475460-18db0380-f1e6-11ea-87e0-adcdb9340380.png">

So we couldn't fix this bug in the scope of GoodDapp.
@sirpy @Talbatz Could you please look ?

[2020-09-08 12:18] #2399 closed

[2020-09-08 13:12] serdiukov-o-nordwhale commented on #2374
@mauriguz @MathiasMoralesDixtra
Please try to solve onLayout issue:

1. as we doing now - catching props changes with useEffect
2. once props changed - awaiting next onLayout. if not happened in. 1-2sec - recalculating animation props

Also please try to find out the way to listen UIViewController viewDidLayout viewDidLayoutSubview
probably there's onLayoutSubviews in RN and we have just to use it

[2020-09-08 14:12] AnastasiiaOdnoshevna commented on #2399
the retry screen is displayed as instead "something went wrong" as it expected
also the "you need to stay on this screen" pop-up is displayed well on the android
Checked on QA V1.1.3-1
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.83
![2020-09-08_17-01-03.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/8ef89e22-9f73-40fa-8f9

[2020-09-08 14:40] yaroslav-fedyshyn-nordwhale commented on #2397
The link to the GoodDashboard PR - https://github.com/GoodDollar/GoodDashboard/pull/37

[2020-09-08 15:01] Talbatz commented on #2347
@sirpy let's migrate this page on to www.gooddollar.com and retire this site entirely

[2020-09-08 16:05] yaroslav-fedyshyn-nordwhale commented on #2402
@AnastasiiaOdnoshevna @sirpy

When sending via QR scan the reason is not sending to the receiver (It was not implemented for QR transfer) - so the receiver doesn't see the reason.

Also, I remember there already was the same issue earlier and we decided to left it as it is (i.e it is not a bug).

[2020-09-09 06:50] sirpy opened #2409 "(Bug) dashboard pie charts show incorrect number of users"
There are around 500 users but Pie charts total is maybe 100, doesnt seem right.

[2020-09-09 07:51] sirpy opened #2410 "User should see a message if FV duplicate is being deleted"
currently we just detect if the user own faceid is being deleted
in case the server duplicate result is a faceid being deleted it should return to client result that duplicate is being deleted
and client should show the face record is being deleted popup

[2020-09-09 07:54] LiavGut opened #2411 "FV - Success screen - Change the word "snowflake" to "unicorn""
You’re a beautiful
& unique unicorn!

[2020-09-09 08:45] sirpy commented on #2402
ohh ok. i thought the feed item didnt show.
@AnastasiiaOdnoshevna we need to work on writing clearer titles for issues, they are confusing.

[2020-09-09 08:45] #2402 closed

[2020-09-09 08:49] AnastasiiaOdnoshevna commented on #2402
okay

[2020-09-09 08:58] #2384 closed

[2020-09-09 09:40] AnastasiiaOdnoshevna opened #2412 "Error: The "422 Unprocessable Entity" error is displayed on the console after signing up/signing in"
Steps to reproduce:
1) Sign up or sign in to the wallet
2) Pay attention to the error in the console

Actual result: The "422 Unprocessable Entity" error is displayed on the console after Signing up or signing in
Expected result: The "422 Unprocessable Entity" error should be displayed on the console after Signing up or signing in

Checked on DEV/QA V1.1.3-1
Desktop: Windows 10 // Google Chrome  8

[2020-09-09 11:14] yaroslav-fedyshyn-nordwhale commented on #2409
The link to the GoodDashboard PR - https://github.com/GoodDollar/GoodDashboard/pull/38

[2020-09-09 12:20] AnastasiiaOdnoshevna commented on #2315
@sirpy @yaroslav-fedyshyn-nordwhale both pop-ups are displayed  at the same size,  also elements on the same positioning
https://www.screencast.com/t/hyunRncH5T
Checked on DEV V1.1.3-1
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.83

[2020-09-09 12:20] #2315 closed

[2020-09-09 12:34] AnastasiiaOdnoshevna commented on #2398
@sirpy @yaroslav-fedyshyn-nordwhale
Checked on DEV V1.1.3-0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
![Screenshot_2020-09-09-15-29-34.png](https://images.zenhubusercontent.com/5d75e23a9cf7
af0001b786d2/048b5ffe-8663-47d4-92f5-fd95f90eda12)

[2020-09-09 12:34] #2398 closed

[2020-09-09 14:01] sirpy opened #2413 "G$ total supply on dashboard should be from mint/burn events"

[2020-09-09 21:57] #2389 closed

[2020-09-10 06:34] sirpy opened #2418 "(Bug) empty error message from FV"
on amplitude some error events from logs
useVerificationAttempts
FaceRecognitionAPI

are sent with an empty message string

[2020-09-10 08:10] AnastasiiaOdnoshevna opened #2419 "Error: pollEvents failed: pollEvents not completed after 5 seconds"
Steps to reproduce:
1) Open the app for 5-10 min and wait
2) Pay attention to the error in the console

Actual result: The "pollEvents failed" error message is displayed in the console after using app for a while or waiting with the opened app
Expected result:  The "pollEvents failed" error message shouldn't be displayed in the console after using app for a while or waiting with the opened app
![2

[2020-09-10 08:39] AnastasiiaOdnoshevna commented on #2397
@sirpy @yaroslav-fedyshyn-nordwhale  total G$ supply graph keeps previous values
Checked on DEV V1.1.3-1
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.83
![2020-09-10_11-35-03.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/fe1e8d72-cb25-4b6a-a7e6-2977f8760ed5)

[2020-09-10 08:39] #2397 closed

[2020-09-10 09:46] AnastasiiaOdnoshevna commented on #2284
@sirpy @yaroslav-fedyshyn-nordwhale balance is displayed on the dashboard for mobile view
Checked on DEV V1.1.3-1
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.83
iPhone 8 //13.3.1
iPad mini 3 // 12.1

[2020-09-10 09:47] #2284 closed

[2020-09-10 10:16] AnastasiiaOdnoshevna commented on #2356
@sirpy The "Claim" button on the dashboard doesn't have animation when the countdown counter is displayed on the "Claim" page
Video: https://www.screencast.com/t/3Gkvvo80
Checked on DEV V1.1.3-1
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.83

[2020-09-10 10:16] #2356 closed

[2020-09-10 12:26] WolfVV commented on #2355
The real amount is displayed on the "Claim" page once the counter ends and changes to the claim button
Checked on DEV V1.1.3-1
Desktop: Windows 10 // Google Chrome  85.0.4183.83

[2020-09-10 12:51] mauriguz commented on #2374
@serdiukov-o-nordwhale Fixed. Changes are in RN's pull request

[2020-09-10 14:27] #2355 closed

[2020-09-10 14:41] AnastasiiaOdnoshevna commented on #2411
@sirpy the "unicorn" is displayed on the pop-up
Checked on DEV V1.1.3-1
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.83
![Screenshot_2020-09-10-17-38-21.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/377831c0-b16c-468e-b8e6-eda065777ba7)

[2020-09-10 14:41] #2411 closed

[2020-09-10 15:00] AnastasiiaOdnoshevna opened #2426 "(BUG) The hamburger button is displayed on the left side of the screen"
Steps to reproduce:
1) Open the "Home" page
2) Pay attention to the context menu (hamburger button)

Actual result: The hamburger button is displayed on the left side  of the screen
Expected result: The hamburger button should be displayed on the RIGHT side of the screen

Checked on DEV V1.1.3-1
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.83

[2020-09-10 18:19] sirpy commented on #2419
that's ok. we handle it. as long you see pollevents every 5 sec it's ok

[2020-09-10 18:19] #2419 closed

[2020-09-11 06:47] sirpy opened #2427 "(Bug) undefined error on user signup"
i've seen this screen from a few users, i know one got it after pressing "lets go"
- checkout sentry try to find out where it happens
- maybe requires to correlate with server logs/error at same time of user issue
![WhatsApp Image 2020-09-10 at 4.10.01 PM.jpeg](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/28b71d70-27f7-4f51-b78a-cb6d0230b8ec)

ahh thinking about it.. it looks like

[2020-09-11 10:31] serdiukov-o-nordwhale opened #2431 "(Bug) Claimed Amount isn't updates after the first claim"
I claimed 9.77 but my records did not capture nor sum up this 9.77
Created via Reamaze:

Link: /admin/conversations/i-claimed-9-dot-77-but-my-records-did-not-capture-nor-sum-up-this-9-dot-77

Message:
Today I claimed and got 9.77 $; somehow I saw my iPhone screen still at 1$ like yesterday screenshot.  Did not accumulate today’s claim. Kindly advise what went wrong in my account. Thanks for your a

[2020-09-11 10:32] serdiukov-o-nordwhale commented on #2431
Browser: (iPhone) Mobile Safari 13.1.2 on iOS 13.6.1
![image](https://user-images.githubusercontent.com/62208067/92913222-4072db80-f433-11ea-8327-9fb57a8ee1b0.png)

[2020-09-11 10:45] serdiukov-o-nordwhale opened #2432 "(Bug) Camera access denied on IOS 12 even if it's enabled in setting and user confirms access"
Created via Reamaze:

Link: /admin/conversations/cant-verify-19b30ac315e7c832
Assignee: Oleksii serdiukov

Message:
I can’t verify by camera

[2020-09-11 10:47] serdiukov-o-nordwhale commented on #2432
https://www.screencast.com/t/WS9P6PXDG

[2020-09-11 10:49] serdiukov-o-nordwhale opened #2433 "(Bug) Eundefined during signup"
Created via Reamaze:

Link: /admin/conversations/sign-up-error
Assignee: Oleksii serdiukov

Message:
Can't complete the sign-up process. Please see attached image for the exact hurdle.

[2020-09-11 10:52] serdiukov-o-nordwhale commented on #2433
![image](https://user-images.githubusercontent.com/62208067/92915834-9cd6fa80-f435-11ea-80c3-4dea3dede25f.png)

https://sentry.io/organizations/gooddollar/issues/?environment=prod&environment=production&project=1829798&query=is%3Aunresolved+eundefined+New+user+failure&statsPeriod=14d

[2020-09-11 10:55] serdiukov-o-nordwhale opened #2434 "(Bug) Forever pending G$ transaction sent to the wrong wallet address"
Created via Reamaze:

Link: /admin/conversations/failed-g$-transaction
Assignee: Oleksii serdiukov

Message:
Hello,

I made a mistake while transferring some G$. Any way to reverse the
transaction as it is in red and pending for hours?

The transaction is in Red and cannot be deleted.

It has not reached the destination account and has not returned to my
account.

![image](https://user-images.gith

[2020-09-11 10:58] serdiukov-o-nordwhale commented on #2434
have asked also user's wallet address

[2020-09-11 11:03] serdiukov-o-nordwhale commented on #2434
walled address: 0x2411B28216b17b595B672850e57fCB47D9913004

[2020-09-11 11:14] serdiukov-o-nordwhale opened #2435 "(Bug) Torus facebook login failed in BraveBrowser"
"Oops we were unable to complete sign in" message appears.
Most probably some script is locked by the shields.

Created via Reamaze:

Link: /admin/conversations/does-not-work-on-phone
Assignee: Oleksii serdiukov

Message:
GoodDollar does not work on my Android phone:

Oops! This browser isn't supported

It is probably because my default browser is Brave.

But Chrome is also installed, so you can m

[2020-09-11 11:21] serdiukov-o-nordwhale opened #2436 "(Bug) Camera is always busy on Android 10 even if no other apps are running"
When gooddollar asks me to use camera for verification, it shows the other app on top of it and ask me to close them, but it still not works even I closed all the other app, please help me to fix it, thanks.

Created via Reamaze:

Link: /admin/conversations/help-i-stuck-in-camera-step
Assignee: Oleksii serdiukov

Message:
 When googdollar asks me to use camera for verification, it shows the other

[2020-09-11 11:22] serdiukov-o-nordwhale commented on #2436
Chrome browser is used

[2020-09-11 11:26] serdiukov-o-nordwhale opened #2437 "(Bug/Research) Check why "twin found" happened for certain account"
The users told they haven't passed FV before.
Will attach more info (emails, face ID, names) later

Created via Reamaze:

Link: /admin/conversations/face-verification-issue
Assignee: Oleksii serdiukov

Message:
Hello, I have an issue with your face verification system, I have gone the process many times now and either ends with a “something went wrong error” or “we have found your twin” I assure y

[2020-09-11 11:27] serdiukov-o-nordwhale commented on #2433
probably dup of #2427

[2020-09-11 12:44] yaroslav-fedyshyn-nordwhale commented on #2427
There are a few error logs in sentry regarding new users failed but their eMsg is [object Object]. I added a fix where stringifying the apiError object to prevent appearing [object Object]. Then some related info will appear.
I cant find related server logs.

[2020-09-11 13:16] serdiukov-o-nordwhale commented on #2431
if re-login the app, the amount becomes corrected

[2020-09-11 13:18] #2045 closed

[2020-09-11 13:18] #2044 closed

[2020-09-11 14:34] AnastasiiaOdnoshevna opened #2439 "(BUG) Automatic redirect to help.gooddollar.org after clicking the "Help&Feedback" button"
Precondition:
The context menu is opened
Steps to reproduce:
1) Click the "Help&Feedback" button
2) Pay attention to the automatic redirect to help.gooddollar.org

Actual result: Automatic redirect to help.gooddollar.org after clicking the "Help&Feedback" button
Expected result: The "Help&Feedback" page should be opened in the app (https://gooddev.netlify.app/AppNavigation/Dashboard/Support)  afte

[2020-09-11 15:08] serdiukov-o-nordwhale commented on #2437
one of face ids is 8bFaBF9E026e114f7F6A841085E59A3EDD4Ed144

[2020-09-11 21:16] MathiasMoralesDixtra commented on #2431
@serdiukov-o-nordwhale @mauriguz
We have been testing it and We can't reproduce the issue.
Details:
-Tested on iOS 13.6.1, Mobile Safari.
-The first claim in the account.
-Also, we tested in our accounts on other devices and it works that is expected.
-We searched issues related into the Analytics dashboard (Sentry, Amplitude) and didn't see any log.
-We are waiting for the next claim (We see that

[2020-09-13 11:19] sirpy commented on #2353
@AnastasiiaOdnoshevna

[2020-09-13 11:23] sirpy commented on #2439
@Talbatz
on my browser i see that id does try to change the window location but fails because of security
in other cases like reported it seems to succeed.
in anycase it should not try to transition... is that a re-amaze thing?
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/b23e1618-b218-4ae5-83d5-32639c2d8c38)

[2020-09-13 11:26] sirpy commented on #2426
@yaroslav-fedyshyn-nordwhale i've disabled the invites on dev... but on production it works just fine.
is this a revert? or a hotfix we applied only on "next"?

[2020-09-13 11:28] sirpy commented on #2403
we change the url.. lets recheck this once its done

[2020-09-13 11:30] sirpy commented on #2412
@serdiukov-o-nordwhale web3 credentials  mismatch?

[2020-09-13 16:19] Talbatz commented on #2439
Hi, i'm not getting the redirect now. @AnastasiiaOdnoshevna  can you please check if you can reproduce the error now?

[2020-09-14 07:18] LiavGut opened #2440 "Feed - Send TX via blockchain address - "To:" - Instead of "unknown" it should say "Blockchain address""
And the avatar should be the blockchain icon:
![Screen Shot 2020-09-14 at 10.17.22.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/6bbf90f7-d87d-4add-a97e-7b1a3abe2577)

[2020-09-14 08:16] AnastasiiaOdnoshevna commented on #2439
@Talbatz I've checked it after deleting old data and also in incognito but it is still being reproduced

[2020-09-14 08:55] AnastasiiaOdnoshevna commented on #2333
@sirpy  I've discovered this problem on the iPhone 6+ with IOS 10.3.2 but unfortunately I couldn't get the browser logs because of old ios version, I guess
Video: https://www.screencast.com/t/Xn6uW2lqx

[2020-09-14 09:52] yaroslav-fedyshyn-nordwhale commented on #2433
Yes, its a duplicate of #2427. Closed

[2020-09-14 09:52] #2433 closed

[2020-09-14 10:05] yaroslav-fedyshyn-nordwhale commented on #2435
Chrome should be used to have the best experience- not just installed :)

[2020-09-14 10:13] #2051 closed

[2020-09-14 10:37] sirpy commented on #2437
@serdiukov-o-nordwhale zoom settings changed try again or try with a new device

[2020-09-14 10:37] #2437 closed

[2020-09-14 10:42] sirpy commented on #2431
@serdiukov-o-nordwhale ask user to report again if still happens after next claim

[2020-09-14 10:42] #2431 closed

[2020-09-14 10:45] sirpy commented on #2434
@serdiukov-o-nordwhale explain to user RED means done. yellow is pending.
if the target address is a mistake then the funds are lost.
if user has private keys or know the person with the private key to that address  then they can be recovered, he should contact us again if that is the case

[2020-09-14 10:45] #2434 closed

[2020-09-14 11:01] sirpy commented on #2432
@serdiukov-o-nordwhale ask user to try another device

[2020-09-14 11:01] #2432 closed

[2020-09-14 11:05] sirpy commented on #2435
@serdiukov-o-nordwhale yes we do not support other browsers at the moment. only safari or chrome.

[2020-09-14 11:05] #2435 closed

[2020-09-14 11:06] serdiukov-o-nordwhale opened #2441 "(Bug) Phone verification issues"
**Invalid format:**

- [x] Hi when i start de sign up process when I put my phone number it said that the format is invalid. I tried with different formats but nothing. My cellphone is xxxxxxx from argentina https://supportgooddollar.reamaze.com/admin/conversations/phone-verification-2a0338dd10ed34e5

- [ ]
![image](https://user-images.githubusercontent.com/62208067/93194212-8213c700-f750-11ea-858

[2020-09-14 11:06] sirpy commented on #2436
ask  user for more infor like screenshot or screen recording @serdiukov-o-nordwhale

[2020-09-14 11:06] #2436 closed

[2020-09-14 11:43] sirpy opened #2442 "(Bug) dashboard statistics reset"
- [x] fix the version reset.
  - properties.getAll() the lastVersion isnt printed in log, use .lean()
  - properties.set(conf.reset) also seems to not be working
- [ ] reset have  seen to happened everyday but data was re-filled successfully, this time it seemed to not work why?

[2020-09-14 12:18] sirpy commented on #2441
1. number should work fine. i tried it in ui. replied to user with possible mistakes he is doing.

[2020-09-14 12:42] yaroslav-fedyshyn-nordwhale commented on #2442
The link to the GoodDaashboard PR - https://github.com/GoodDollar/GoodDashboard/pull/40

[2020-09-14 13:30] sirpy opened #2443 "(Bug) need to resync users profiles"
we had storage issue.
need to push patch that user will resave his profile

[2020-09-14 16:15] Talbatz opened #2445 "Store date and time of latest claim to a custom contact field on Mautic"
We currently have the "claim counter" custom field on mautic that increments every time a claim event occurs.

we need a new custom field on mautic that will hold the time of latest claim, so that we can segment contacts who had not claimed for X days (for example).

[2020-09-14 17:23] AnastasiiaOdnoshevna commented on #2333
Issue isn't reproduced on iPhone 6S+ // iOS 11.2

[2020-09-14 17:26] AnastasiiaOdnoshevna commented on #2353
Issue isn't reproduced on production (wallet) and on next environment.

Used device:
iPhone 8 // iOS 11.4
iPhone 6S + // iOS 11.2

[2020-09-14 23:50] mauriguz commented on #1428
@sirpy @MathiasMoralesDixtra @AnastasiiaOdnoshevna This seems to have been fixed with latest react-native, I tried and I was able to get in using mnemonic. (mnemonic I used: core leader will rigid machine cruise helmet report ozone obey put connect)
Once it successfully restores the account another errors appear but are cross-platform related, I'll open issues for that too. Attached there's a exam

[2020-09-15 05:29] sirpy commented on #1747
@mauriguz verify this are done and close

[2020-09-15 05:31] sirpy commented on #2014
@serdiukov-o-nordwhale i think zoom reduced their binary sizes. please verify and close

[2020-09-15 05:32] #2041 closed

[2020-09-15 08:27] yaroslav-fedyshyn-nordwhale commented on #2426
@sirpy there's a hotfix applied for next. I will add the fix to the master.

[2020-09-15 09:43] yaroslav-fedyshyn-nordwhale commented on #2412
@sirpy is 'https://w3.gooddollar.org' correct web3 site URL for dev instance?
I think it is a production instance, isn't it?
So the production instance won't respond successfully for dev tokens.

[2020-09-15 09:45] LiavGut opened #2448 "(UI BUG) Send by address - confirm screen - font size is too big and the address is out of bound."
Desktop, Chrome
![Screen Shot 2020-09-15 at 12.32.31.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/7dc00f7c-68d3-4f2b-ab97-21e3307478c8)

[2020-09-15 09:46] yaroslav-fedyshyn-nordwhale commented on #2353
@sirpy @AnastasiiaOdnoshevna I think it could be closed.

[2020-09-15 09:57] yaroslav-fedyshyn-nordwhale commented on #2096
@AnastasiiaOdnoshevna
Please test it after 15 minutes.
The fix is on the master.
Commit: https://github.com/GoodDollar/GoodDAPP/commit/356ac0853a2357fe7d44b32960f880217dd7d77d

[2020-09-15 10:09] LiavGut opened #2449 "(BUG) - Send by address - created as payment link (wrong flow)"
Desktop, Chrome

After clicking "confirm"
it directs me to the "copy payment link" screen instead of back to the dashboard.
and instead of "send" card, I see a "pending" card.

![Screen Shot 2020-09-15 at 13.07.45.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/bbcb8ab1-8a44-4e58-bd98-80c9c8640fe2)

[2020-09-15 10:16] LiavGut opened #2450 "Receive by address - User should see a warning message"
The text:
Keep in mind - Do not send tokens from Ethereum network to this address.
This is an internal Network address for G$ tokens only..

Please break the lines as per the design.

https://xd.adobe.com/view/f6933b75-0307-498e-87d3-195f4993b9e5-a3c0/

[2020-09-15 11:36] yaroslav-fedyshyn-nordwhale commented on #2396
@sirpy
I do not really understand what actually is wrong here.
There are two different graphs shown on screenshots.
If you worried about total supply data is not saved for past days - it is caused by the issue with DB reset which we already fix. So it should work fine now.

[2020-09-15 13:00] #2096 closed

[2020-09-15 13:00] AnastasiiaOdnoshevna commented on #2096
@sirpy @yaroslav-fedyshyn-nordwhale The "Copy link" text is displayed for desktop, and the" Share link" text for mobile
![2020-09-15_15-57-15.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/c6093bec-4e6b-436d-8320-251eaf6cbaab)
Checked on DEV V1.1.3-2
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.102

[2020-09-15 13:05] yaroslav-fedyshyn-nordwhale commented on #2400
This task will be resolved in https://github.com/GoodDollar/GoodDAPP/pull/2438

[2020-09-15 13:09] serdiukov-o-nordwhale commented on #2014
It's still around 120Mb for IOS (8.12.1(:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/62208067/93214395-d0838e80-f76d-11ea-9d71-a5138a813d0e.png">

[2020-09-15 13:33] #2353 closed

[2020-09-15 14:22] AnastasiiaOdnoshevna commented on #2409
@yaroslav-fedyshyn-nordwhale at the morning it was ok but now again this is reproduced
![2020-09-15_16-24-34.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/ba0c1d0f-7ed2-47fc-bdf0-5dcef41ad708)
Checked on DEV V1.1.3-2
Desktop: Windows 10 // Google Chrome  85.0.4183.102

[2020-09-15 15:14] AnastasiiaOdnoshevna commented on #2442
@sirpy @yaroslav-fedyshyn-nordwhale  I've been checking the statistic page throughout the day, and resetting wasn't noticed
Checked on DEV V1.1.3-2
Desktop: Windows 10 // Google Chrome  85.0.4183.102

[2020-09-15 15:14] #2442 closed

[2020-09-16 01:23] mauriguz commented on #1747
@sirpy what's point number 1? ability to build web same as master?

[2020-09-16 06:14] sirpy opened #2453 "(Bug) dashboard not updating on next"
- [x] check logs for errors
- [x] check logs for regular update logs, verify it fetches from correct lastBlock and that it report it found events
- [x] check database after updates

[2020-09-16 06:15] sirpy opened #2454 "(Chroe) verify indexes exists for dashboard collections"
- [x] should be defined in mongoose scheme
- [x] verify they have been created in database after defining
- [x] verify they match the queries we use

[2020-09-16 06:16] #2162 closed

[2020-09-16 06:16] #1903 closed

[2020-09-16 06:17] #2075 closed

[2020-09-16 06:18] #2084 closed

[2020-09-16 06:18] #1915 closed

[2020-09-16 06:18] #2076 closed

[2020-09-16 09:05] sirpy opened #2455 "(Chroe) deploying QA doesnt trigger build in netlify"
when deploying via slack command netlify doesnt trigger build for staging branch

[2020-09-16 09:06] #2149 closed

[2020-09-16 09:36] AnastasiiaOdnoshevna commented on #2426
@sirpy @yaroslav-fedyshyn-nordwhale the button is displayed on the right side as it expected
Checked on QA V1.1.3-3
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.102![2020-09-16_12-30-51.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/cf8c8116-3413-4f1d-9b10-98a42627bc61)

[2020-09-16 09:36] #2426 closed

[2020-09-16 09:53] AnastasiiaOdnoshevna commented on #2374
@sirpy @mauriguz @serdiukov-o-nordwhale  The animation is displayed after logging in, or when the user goes to another page and then go back to the dashboard again, but the animation isn't displayed when the countdown counter is displayed on the "Claim" page - everything as it expected
Video: https://www.screencast.com/t/FMbNV0nbu
Checked on QA V1.1.3-3
LG V30+ // Android 8.0 // Google Chrome 85.0

[2020-09-16 09:53] #2374 closed

[2020-09-16 10:11] AnastasiiaOdnoshevna commented on #2427
@sirpy @yaroslav-fedyshyn-nordwhale this error isn't reproduced
Checked on QA V1.1.3-31
Desktop: Windows 10 // Google Chrome  85.0.4183.102

[2020-09-16 10:48] AnastasiiaOdnoshevna commented on #2250
@sirpy @tomerGD  @LiavGut  The text on the pop-up - "Just like a passport picture, keep your eyes at camera level, and good, even lighting"
but it has to be like that "Just like a passport picture, keep your head straight, eyes at camera level, and good, even lighting."
![2020-09-16_13-29-36.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/4b4bced9-ecb5-4a3f-9e66-31aa3dad56d8)
Ch

[2020-09-16 11:25] LiavGut commented on #2250
@AnastasiiaOdnoshevna Yes, we've shortened the text so it'll fit.
Thanks! :)

[2020-09-16 11:32] AnastasiiaOdnoshevna commented on #2250
@sirpy The text is correct

[2020-09-16 11:32] #2250 closed

[2020-09-16 11:40] serdiukov-o-nordwhale commented on #2427
@yaroslav-fedyshyn-nordwhale the issue still happens if request was aborted.

how to reproduce
- use cancel token, pass it to /user/add options
- call token.cancel in setTimeout (in 0.5-1sec)
- try to finish registration

[2020-09-16 11:41] serdiukov-o-nordwhale commented on #2427
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/62208067/93332470-8b716200-f82a-11ea-9b9b-e5caa7d052b1.png">

@yaroslav-fedyshyn-nordwhale please check what happens if request was cancelled. we have to catch this case in response/error interceptor and reject with corresponding error ('Http request was cancelled during API call')

[2020-09-16 11:49] AnastasiiaOdnoshevna commented on #2450
@LiavGut this warning should be also on the "send to?" via wallet address screen, or only receive?

[2020-09-16 11:59] LiavGut commented on #2450
@AnastasiiaOdnoshevna Both, Send and Receive by address

[2020-09-16 12:04] AnastasiiaOdnoshevna commented on #2450
@sirpy The warning isn't displayed on the "send to?"(via wallet address) page
![2020-09-16_14-38-38.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/d26ee209-636f-418d-aade-676ee80ac9eb)
Checked on QA V1.1.3-3
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.102

[2020-09-16 18:10] yaroslav-fedyshyn-nordwhale commented on #2453
The link to the GoodDashbord PR - https://github.com/GoodDollar/GoodDashboard/pull/41

[2020-09-16 18:48] yaroslav-fedyshyn-nordwhale commented on #2427
@serdiukov-o-nordwhale are you sure you tested with the latest changes on master?
I tried to cancel the request with cancelToken and E code is displayed fine for me every time.
<img width="1676" alt="1" src="https://user-images.githubusercontent.com/49862004/93379130-14f25580-f866-11ea-8ebf-f55bbdfb89b5.png">

[2020-09-17 07:56] AnastasiiaOdnoshevna commented on #2427
using these steps I reproduced the same - Error: E8
![Screenshot_1.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/a2765f63-d752-4cf8-961f-b9c8a0760093)

[2020-09-17 08:05] sirpy commented on #2453
the mutex is working fine.
try to check locally or on dev, reseting the dashboard by setting the RESET env and check if after that cron kicks in as usually

[2020-09-17 08:42] serdiukov-o-nordwhale commented on #2427
Yes i really having an old master.
i'll add axios.isCancel(e) check to the API's error interceptor to be on the safe side

[2020-09-17 09:06] AnastasiiaOdnoshevna commented on #2400
@sirpy @serdiukov-o-nordwhale Issue isn't reproduced
Checked on QA V1.1.3-3
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.102

[2020-09-17 09:06] #2400 closed

[2020-09-17 09:22] sirpy commented on #1747
@mauriguz yes, there was this lodash webpack  plugin that was added to react-native or web dont remember which

[2020-09-17 09:22] sirpy commented on #2445
@Talbatz added lastClaim timestamp field

[2020-09-17 09:39] AnastasiiaOdnoshevna commented on #2418
@sirpy @yaroslav-fedyshyn-nordwhale eMsg isn't empty
![2020-09-16_17-10-46.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/7a7d51c2-cb73-4536-84d5-1bf096982fbb)
![2020-09-17_12-34-38.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/db086752-e7ae-49d8-819a-05bf23a7dac8)
Checked on QA V1.1.3-3
Desktop: Windows 10 // Google Chrome  85.0.4183.102

[2020-09-17 09:39] #2418 closed

[2020-09-17 10:21] yaroslav-fedyshyn-nordwhale commented on #2453
The link to the GoodDashboard PR with additional logs - https://github.com/GoodDollar/GoodDashboard/pull/42

[2020-09-17 10:33] serdiukov-o-nordwhale commented on #2011
implemented during analytics fixes in RN branch

[2020-09-17 10:33] #2011 closed

[2020-09-17 10:55] tomerGD opened #2458 "Edit "total claimers" to "Total transactions" on the statistics dashboard"
on the Gooddollar dashboard in the wallet
https://dashboard.gooddollar.org/admin/dashboard

Edit the text in the graph "Daily Count Of Transactions"

from ![image.png](https://images.zenhubusercontent.com/5e525f8ff054a9397462baca/57921d65-7393-45ff-b4b9-95d383f96fbd)

From Total claimers to Total Transactions.

[2020-09-17 10:57] AnastasiiaOdnoshevna commented on #2409
@sirpy values are equal approximately
 Total unique claimers 20    and on the pie chart 22
 2 from them is not unique - I think it's expected result
![2020-09-17_13-07-20.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/f6eadbb2-a004-42d9-8d53-44d8c4fe9018)

[2020-09-17 10:57] #2409 closed

[2020-09-17 12:20] sirpy opened #2459 "Sync txs from blockchain"
- because of db issues, feed might get corrupted.
- once a day when app is in background re-read user txs from the block he joined. (ie restart the  wallet tx listeners from an old block)
- for new users when they join create property "joinedAtBlock" and save the current block.
- for existing users if joinedAtBlock doesnt exists use block 6400000

[2020-09-17 12:23] #2443 closed

[2020-09-17 12:25] sirpy commented on #2440
if user sent to an address he would want to see it atleast the short hand format 0x5383...4847

[2020-09-17 12:26] sirpy commented on #2449
@LiavGut it must be something wrong you did and you didnt notice you are on the regular send...
its impossible
try again

[2020-09-17 12:26] #2449 closed

[2020-09-17 12:29] sirpy commented on #2439
@AnastasiiaOdnoshevna it is probably because of domain names. if it doesnt happen on production then you can close it

[2020-09-17 12:44] sirpy opened #2463 "show info for argentina mobiles"
If user is from argentina we should tell him the format is
+54 9 <mobile>

[2020-09-17 12:45] sirpy commented on #2463
@LiavGut show info under the text field where we show an error

[2020-09-17 13:45] sirpy opened #2464 "upgrade torus"

[2020-09-17 14:54] AnastasiiaOdnoshevna opened #2465 "(BUG) User gets stuck after switching between pages / using functionality"
Steps to reproduce:
1) Open the Home page
2) Switch between pages/ use functionality
3) Pag attention to the unresponsible page

Actual result: User gets stuck after switching between pages / using functionality
Expected result: User shouldn't be stuck after switching between pages / using functionality

Video: https://www.screencast.com/t/FBFIrADi9mox

Checked on PROD V1.3.1
LG V30+ // Android 8.

[2020-09-17 15:51] yaroslav-fedyshyn-nordwhale commented on #2453
The link to the PR with retry functionality - https://github.com/GoodDollar/GoodDashboard/pull/44

[2020-09-17 19:33] sirpy commented on #1428
@mauriguz ok close issue if working...

[2020-09-17 19:44] #2427 closed

[2020-09-17 23:16] mauriguz opened #2466 "(Bug) Misc issues when recovering wallet using mnemonic"
# Description

This is a continuation of #1428
As it is working right now the user is able to recover the wallet using mnemonic ONLY submitting using the input, if user tries to use the button down the screen it doesn't work. In addition to that bug, when it successfully recovers the wallet there're different errors both on UI and code.

## Checklist

- [x] Fix recover wallet using the button on t

[2020-09-17 23:19] mauriguz commented on #1428
created #2466 for needed fixes
closing this one as the core logic now works

[2020-09-17 23:19] #1428 closed

[2020-09-18 11:18] yaroslav-fedyshyn-nordwhale commented on #2463
@sirpy
What message should be displayed?
It should be displayed with red text, like the error message?
it should be shown when the user already entered the number or even didn't start yet?

[2020-09-18 12:22] AnastasiiaOdnoshevna commented on #2450
@LiavGut The text for send is differing from the text on mock-up. But as I understand it's the correct one?
![2020-09-18_15-15-45.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/8d64fd28-ac19-4e0d-8428-dee6a4682c57)

[2020-09-18 12:52] WolfVV commented on #2445
@sirpy @Talbatz lastClaim field is displayed on the Mautic. As I understand the field was added only but it doesn't work - it will be implemented in future
![2020-09-18_15-46-40.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/6334cdbc-ea44-4d09-a3fc-95c6aefa861b)

[2020-09-18 14:42] sirpy commented on #2445
no it should already be working. if claim field is updated so should the last claim

[2020-09-18 14:52] WolfVV commented on #2465
@yaroslav-fedyshyn-nordwhale It was reproduced at this morning also but now everything ok

[2020-09-20 09:38] LiavGut commented on #2450
@AnastasiiaOdnoshevna Yes, it's correct. Thanks.

[2020-09-21 06:19] sirpy commented on #2440
@liavgut

[2020-09-21 08:04] sirpy opened #2470 "(Bug) error message from server not logged correctly"
axios getErrorMessage doesnt get the object response from server correctly for example: {ok:0, message:"user email unverified"} the message part is not logged
expected result is that "user email unverified" is the mesage that is logged via logger

[2020-09-21 08:15] yaroslav-fedyshyn-nordwhale commented on #2454
@sirpy
I checked the indexes:
- it is already defined in our schemas.
- I checked the db whether the indexes exists (see screenshots):

| about-claim-transactions | about-transactions | addresses-claimed | property | wallets |
| --- | --- | --- | --- | --- |
| ![about-claim-transactions.png](https://images.zenhubusercontent.com/5d555cf825ff190001f1a4eb/5daa01c5-b7c6-4b2e-91a0-7bd5aeee3b60) | ![abo

[2020-09-21 08:40] LiavGut commented on #2440
@sirpy
Ok, Agreed. If a user sends via address I guess he wants to know/see that.

Let's show only 10 characters from each side of the "..."

<img width="821" alt="Screen Shot 2020-09-21 at 11 25 45" src="https://user-images.githubusercontent.com/54103946/93746204-69e2f280-fbfd-11ea-8ee3-394deb4b3473.png">

And on the popup the full address will be shown (With a smaller font size to fit)
https://x

[2020-09-21 08:53] LiavGut commented on #2463
@sirpy Can we just add initially the prefix? so it'll already be "written" in the input field? won't it be simpler?

[2020-09-21 10:24] WolfVV commented on #2340
@sirpy @yaroslav-fedyshyn-nordwhale  The issue isn't reproduced anymore
Checked on dev V1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.102

[2020-09-21 10:24] #2340 closed

[2020-09-21 12:09] LiavGut opened #2471 "Create a maintenance screen"
https://xd.adobe.com/view/1c929e80-0c88-4689-bf47-2fb8ebd7bcb4-49c1/

![Screen Shot 2020-09-21 at 15.07.49.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/ec4ec2b1-5a8a-4df7-aebf-e8ffc2f844bf)

[2020-09-21 12:09] yaroslav-fedyshyn-nordwhale commented on #2448
@AnastasiiaOdnoshevna please check this issue. I cannot recreate it. I tried on different devices and browsers.

[2020-09-21 12:55] WolfVV commented on #2448
@yaroslav-fedyshyn-nordwhale @LiavGut I cannot reproduce this issue for send to address  - It's not the "sent to address" transaction, it's usual send and the wallet address was entered in the "send to?" field

[2020-09-21 13:57] yaroslav-fedyshyn-nordwhale commented on #2448
@LiavGut
Everything displayed fine for me and @WolfVV on 'Send To Address' screen. I think you confused the screens and pasted the address to the 'send via link' flow on the first step - so you see the bigger font size.

[2020-09-21 14:11] LiavGut commented on #2448
@yaroslav-fedyshyn-nordwhale Ok, Could be... :-/
But still, even if it's a long name on the regular send flow, it shouldn't go out of the input field.

[2020-09-21 14:15] WolfVV commented on #2453
@sirpy @yaroslav-fedyshyn-nordwhale dashboard is updated on the next env
Checked on QA V1.4.0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.102

[2020-09-21 14:15] #2453 closed

[2020-09-21 14:23] sirpy commented on #2396
you see the drop at the end of the graph?
that's because the day is still in progress
graphs should show only until previous day not including today.

[2020-09-21 14:25] sirpy commented on #2463
@yaroslav-fedyshyn-nordwhale ok lets handle automagically
if user chose argentina then make sure first number after country code is 9. if it isnt just modify the inserted number.

[2020-09-21 14:36] sirpy opened #2474 "user should be able to receive otp code by voice call"
- [x] on client: add another option similar to "send me the code again"
"receive code via voice call" or "verify via voice call"
- [x] on server it should just require to change "sms" to "call" (see twilio verify API)

[2020-09-21 14:37] sirpy commented on #2474
@LiavGut please choose best sentence/wording

[2020-09-21 14:43] LiavGut commented on #2474
@sirpy
Change the sentence to:
"Send the code again"
and add:
"Send via voice call"

![Screen Shot 2020-09-21 at 17.40.55.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/2370b061-d120-40f6-ad99-084aa73dac20)

[2020-09-21 15:34] yaroslav-fedyshyn-nordwhale commented on #2454
I checked whether the indexes working on queries used across the app - it is working as expected.

[2020-09-21 21:36] sirpy opened #2475 "retire w3"
- [x] on client remove w3token from signupstate
- [x] on client remove calls to get w3token via api
- [x] on server remove call to w3 in /user/add

[2020-09-22 06:39] #1191 closed

[2020-09-22 06:41] #2464 closed

[2020-09-22 06:42] sirpy commented on #2412
we are removing w3

[2020-09-22 06:42] #2412 closed

[2020-09-22 06:53] sirpy opened #2476 "User should see TOU and PP from gooddollar.org website"
create a tabbed page each tab showing an iframe one with TOU and one with PP
https://www.gooddollar.org/terms-conditions/?gd-frame=1
https://www.gooddollar.org/privacy-policy/?gd-frame=1

- [x] use new urls
- [x] simple tabs
- [x] preload both iframes, so switching is  fast and doesn't re-render iframes only hide/show
- [x] page title and iframe changes when switching tabs
![image.png](https://ima

[2020-09-22 07:10] WolfVV opened #2477 "(BUG) Edit profile: The checkmark animation is too big after clicking the "send me the code again" button for email"
Precondition:
The "Edit profile" page is opened

Steps to reproduce:
1) Enter a new email in the field
2) Click outside the field
3) Click the "Verify my email" button
4) Wait for 5-10 sec and click the "send me the code again" button
5) Pay attention to the animation

Actual result: The checkmark animation is too big  after clicking the "send me the code again" button for email
Expected result: T

[2020-09-22 07:36] WolfVV commented on #2439
@sirpy The issue isn't reproduced on the prod env
Video: https://www.screencast.com/t/JBvjUv3xH
Checked on PROD V1.4.0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.102

[2020-09-22 07:36] #2439 closed

[2020-09-22 08:11] LiavGut opened #2478 "New Claim screens"
- [x] claim box amount border
- [x] claim button border remove
- [x] claim button fonts match to design digits and text (size, font, color)
- [x] per  claimer over claim  box border
- [x] lower wavesbox top margin should be coditional on dailyUBI
- [x] use isSmallDevice to reduce vertical margins further so it fits iphone5
- [x] optimize button position in center of border
- [x] adapt graybox to s

[2020-09-22 08:39] #1815 closed

[2020-09-22 08:39] WolfVV commented on #1815
@sirpy The "You can't withdraw your own payment link" text is displayed after trying to withdraw his own payment link
https://www.screencast.com/t/VgQR0pNom
Checked on dev V1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.102

[2020-09-22 08:42] yaroslav-fedyshyn-nordwhale commented on #2474
The link to the GoodServer PR - https://github.com/GoodDollar/GoodServer/pull/264

[2020-09-22 11:30] sirpy commented on #2441
switched to twilio verify

[2020-09-22 11:30] #2441 closed

[2020-09-22 14:39] WolfVV opened #2484 "Error: sendTransaction error. Transaction with the same hash was already imported"
Precondition:
User can claim the G$'s
The "Claim" page is opened

Steps to reproduce:
1) Click the "Claim" button
2) Quickly close the claiming processing pop-up
3) Quickly click the "Claim" button
4) Quickly close the claiming pop-up again
5) Pay attention to the error in the console and a few receiving cards after claiming

Actual result: The sendTransaction error is displayed in the console aft

[2020-09-22 21:11] sirpy opened #2486 "User should send event when signup is success"

[2020-09-23 09:38] yaroslav-fedyshyn-nordwhale commented on #2396
The link to the GoodDashboard PR - https://github.com/GoodDollar/GoodDashboard/pull/45

[2020-09-23 09:43] LiavGut opened #2489 "(UI BUG) - TX/Pending popups - the name ("To:") is not centred vertically between the lines"
Chrome, Desktop

![Screen Shot 2020-09-23 at 12.30.11.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/600b00a6-cf60-426d-a8fc-69809297cf49)

[2020-09-23 13:36] talktogus opened #2490 "Fast double-clicking on claim button receives 2 payments"
As the title says, i have a defective mouse that fast double clicks because of a issue with the button, the thing is I received double payment today.
I don't have means to reproduce the problem until claiming again tomorrow, but i think because of the fast double click i somehow skipped some kind of check for duplicated claiming.
Please check the attached image for the date/time of two 5.29 G$ cla

[2020-09-23 13:43] talktogus commented on #2490
More info: my wallet address is 0x611eDf02144Ef756A8796e74B7aA547bcF8d9584
(
I'm using version 1.4.0  on chrome 85.0.4183.102 on ubuntu 18.04
-Before opening the page there was a prompt to update version but it was 1.4.0 before, and 1.4.0 after

[2020-09-24 08:28] #2465 closed

[2020-09-24 08:28] WolfVV commented on #2465
@yaroslav-fedyshyn-nordwhale @sirpy I've checked this issue again - it hasn't been reproduced
Checked on PROD V1.4.0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.102
iPhone 8 //13.3.1

[2020-09-24 08:40] sirpy opened #2493 "(bug) profile save button not clickable or details not saved"
for some users when their profile is broken they can edit their details but the button is not clickable or their details are not saved

[2020-09-24 08:59] sirpy opened #2494 "mobile verification should be optional"
- [x] on client show only "send sms again"
   - [x] when user clicks for 2nd time on "send sms again"(3rd sms sent) we show him two options "send code via call" or "skip mobile verification"
  - [x] increase  the waiting time between sms requests, 10 sec,20 sec,30 sec
  - [x] send code via call can be used only once after that leave only the "skip mobile verification option"

- [x] on server make

[2020-09-24 09:07] sirpy opened #2495 "passwordless should be less visible"

[2020-09-24 09:32] yaroslav-fedyshyn-nordwhale commented on #2475
The link to the GoodServer PR - https://github.com/GoodDollar/GoodServer/pull/265

[2020-09-24 12:09] talktogus commented on #2490
I was able to reproduce the bug by fast pressing claim, cancelling while the wait window was shown, and pressing claim again fast.

The good thing is that the double income seems to be just cosmetic, because i had screenshots from before and after and the sum was added just one time to the total.

![Captura de pantalla de 2020-09-24 09-01-57](https://user-images.githubusercontent.com/43523725/9414

[2020-09-24 14:12] WolfVV commented on #2474
@sirpy @LiavGut  send via voice call should be only on the sign-up stage?

[2020-09-24 14:29] WolfVV commented on #2448
@yaroslav-fedyshyn-nordwhale @LiavGut I guess that font should be like for send to address (see below)
Checked on dev V1.4.0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.102
![2020-09-24_17-21-02.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/9a70199e-cdc0-4cf5-96b6-fc695575c35a)

[2020-09-24 16:06] LiavGut commented on #2448
@WolfVV Yes. The font should be the Same (Roboto)

[2020-09-24 16:29] LiavGut commented on #2474
@WolfVV It should be on both cases (signup + edit mobile)

[2020-09-25 07:46] sirpy opened #2499 "cache dashboard mongo results"
use cachegoose to query database only once in 5 minutes

[2020-09-25 07:56] sirpy commented on #2490
@talktogus hey thanks. yes its UI issue only. double claiming is prevented at the smart contracts level

[2020-09-25 08:05] sirpy commented on #2490
@WolfVV fixed   so user cant close popup window when claiming until tx is done

[2020-09-25 08:17] WolfVV commented on #2463
@sirpy @yaroslav-fedyshyn-nordwhale  9 is being added automatically if the user  missed it
Checked on  DEV V1.4.0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.102
iPhone 8 //13.3.1
Video: https://www.screencast.com/t/8LAxvL0EN

[2020-09-25 08:17] #2463 closed

[2020-09-25 08:18] #1230 closed

[2020-09-25 08:18] #1231 closed

[2020-09-25 08:18] #1255 closed

[2020-09-25 08:18] #1256 closed

[2020-09-25 08:18] #1257 closed

[2020-09-25 08:18] #1340 closed

[2020-09-25 08:19] #1194 closed

[2020-09-25 08:19] #1253 closed

[2020-09-25 08:19] #1254 closed

[2020-09-25 08:19] #1338 closed

[2020-09-25 08:19] #1437 closed

[2020-09-25 08:47] WolfVV commented on #2448
@yaroslav-fedyshyn-nordwhale font size isn't changed
and instead bold font it should be usual

[2020-09-25 09:02] WolfVV commented on #2474
@sirpy Implemented according to requirement
Checked on  DEV V1.4.0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.121
iPhone 8 //13.3.1

[2020-09-25 09:02] #2474 closed

[2020-09-25 09:19] yaroslav-fedyshyn-nordwhale commented on #2448
@WolfVV @LiavGut
The text styles for 'SendToAddress' and 'SendLink' flow is according to design.

Please see these links and data:

Send to Address:
- Design: https://xd.adobe.com/view/f195a710-6a9c-4365-68e5-5644b73d1e36-87a4/screen/5bd85a66-3342-453c-9617-1ee3553781c3/specs/
- The text props from design are:
1) font-size: 13px
2) line-height: 21px
3) font-width: regular
4) font-family: Roboto Sl