[2021-03-16 01:03] #3067 closed

[2021-03-16 01:03] #3068 closed

[2021-03-16 01:03] #3069 closed

[2021-03-16 01:03] #3070 closed

[2021-03-16 01:03] #3071 closed

[2021-03-16 01:03] #3072 closed

[2021-03-16 01:03] #3073 closed

[2021-03-16 01:03] #3074 closed

[2021-03-16 01:03] #3075 closed

[2021-03-16 01:03] #3076 closed

[2021-03-16 01:03] #3077 closed

[2021-03-16 01:03] #3078 closed

[2021-03-16 01:03] #3079 closed

[2021-03-16 01:03] #3080 closed

[2021-03-16 01:03] #3081 closed

[2021-03-16 01:03] #3082 closed

[2021-03-16 01:03] #3083 closed

[2021-03-16 01:03] #3084 closed

[2021-03-16 01:03] #3085 closed

[2021-03-16 01:03] #3086 closed

[2021-03-16 01:03] #3087 closed

[2021-03-16 01:03] #3088 closed

[2021-03-16 01:03] #3089 closed

[2021-03-16 01:03] #3090 closed

[2021-03-16 01:04] #3048 closed

[2021-03-16 01:04] #3049 closed

[2021-03-16 01:04] #3050 closed

[2021-03-16 01:04] #3051 closed

[2021-03-16 01:04] #3052 closed

[2021-03-16 01:04] #3053 closed

[2021-03-16 01:04] #3054 closed

[2021-03-16 01:04] #3055 closed

[2021-03-16 01:04] #3056 closed

[2021-03-16 01:04] #3057 closed

[2021-03-16 01:04] #3058 closed

[2021-03-16 01:04] #3059 closed

[2021-03-16 01:04] #3060 closed

[2021-03-16 01:04] #3061 closed

[2021-03-16 01:04] #3062 closed

[2021-03-16 01:04] #3063 closed

[2021-03-16 01:04] #3064 closed

[2021-03-16 01:04] #3065 closed

[2021-03-16 01:13] tzvister opened #3091 "User unable to complete sign up"
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3092 "(Bug) Improve feed UX"
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3093 "Unable to verify email"
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3094 "chore(deps): bump react-dev-utils from 10.2.1 to 11.0.4"
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3095 "(Chore) Feed item should encapsulate data loading"
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3096 "2211 feed record should store recipient sender details"
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3097 "Testing iOS by QA"
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3098 "[BUG] The app is crashed after closing the Choose Google account screen"
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3099 "[BUG] The background image of "waves" is not displayed in the fullscreen on the splash screen"
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3100 "New design for FV Errors"
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3101 "Invite - Adding A/B test to the invite massage"
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3102 "Change the text on the FB message"
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3103 "Invite fix- Close the 'How to invite""
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3104 "Fuse chain ID"
[Collection], [Collection], [Collection]

[2021-03-16 01:13] tzvister opened #3105 "[BUG] The amount of all invited before users are displayed on the counter after the "Decryption key missing" error"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3106 "User should be directed to download native app (deeplinks)"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3107 "Add share icons to the native app"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3108 "Mautic issue during signup on local env"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3109 "Android app - beta"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3110 "TypeError: Cannot read property 'getReadModeConfig' of undefined"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3111 "Feed item component should use encapsulate data loading"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3112 "Error: Failed to preload FaceTec SDK: FaceTec SDK Required resources failed to load on last init."
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3113 "Error: NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child o..."
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3114 "TypeError: Cannot read property 'toNumber' of undefined"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3115 "Error: update failed:: fixProfile: 'mnemonic' field flush timeout"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3116 "Add fallbacks for username and walltAddress in getProfileFieldValue"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3117 "TypeError: Failed to update a ServiceWorker for scope ('https://next.gooddollar.org/') with script ('https:/..."
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3118 "(Feature) Integrate Zoom with native app for IOS"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3119 "the graph should be updated to new ubischeme"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3120 "[BUG] The asterisks of the deleted accounts are not displayed on the Invite page after some problems with the gun key."
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3121 "Full story events research"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3122 "This is a test reqestruoib"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3123 "[BUG] The verification code is received on the Sign in with Auth0 page after 5th attempt"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3124 "Solve issue with timeouts possible during FV flow"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3125 "FuseSwap description on transaction"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3126 "Branches cleanup"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3127 "finish filling details of android/ios app for stores"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3128 "Error: InvalidStateError: Failed to update a ServiceWorker for scope ('https://wallet.gooddollar.org/') ..."
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3129 "TypeError: torus login failed: Cannot read property 'keyResult' of undefined"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3130 "TypeError: getInitialFeed failed:: this.feed.get(...).get(...).decrypt is not a function"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3131 "Error: updateFeedEvent daySize: Error: No ACK yet."
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3132 "Error: failed decrypting props: Decrypting key missing"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3133 "Error: QuotaExceededError: The quota has been exceeded."
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3134 "refactor signupstate to use stacknavigator"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3135 "User should be able to invite from mobile contacts"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3136 "User should get push notifications about invitees"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3137 "InApp Invitation"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3138 "The Million GoodDollar Homepage"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3139 "Notifications Infrastructure"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3140 "Notifications Mobile"
[Collection], [Collection], [Collection]

[2021-03-16 01:14] tzvister opened #3141 "Auto add a profile photo from FV capture"
[Collection], [Collection], [Collection]

[2021-03-16 01:22] #3117 closed

[2021-03-16 01:22] #3118 closed

[2021-03-16 01:22] #3119 closed

[2021-03-16 01:22] #3120 closed

[2021-03-16 01:22] #3121 closed

[2021-03-16 01:22] #3122 closed

[2021-03-16 01:22] #3123 closed

[2021-03-16 01:22] #3124 closed

[2021-03-16 01:22] #3125 closed

[2021-03-16 01:22] #3126 closed

[2021-03-16 01:22] #3127 closed

[2021-03-16 01:22] #3128 closed

[2021-03-16 01:22] #3129 closed

[2021-03-16 01:22] #3130 closed

[2021-03-16 01:22] #3131 closed

[2021-03-16 01:22] #3132 closed

[2021-03-16 01:22] #3133 closed

[2021-03-16 01:22] #3134 closed

[2021-03-16 01:22] #3135 closed

[2021-03-16 01:22] #3136 closed

[2021-03-16 01:22] #3137 closed

[2021-03-16 01:22] #3138 closed

[2021-03-16 01:22] #3139 closed

[2021-03-16 01:22] #3140 closed

[2021-03-16 01:22] #3141 closed

[2021-03-16 01:22] #3092 closed

[2021-03-16 01:22] #3093 closed

[2021-03-16 01:22] #3094 closed

[2021-03-16 01:22] #3095 closed

[2021-03-16 01:22] #3096 closed

[2021-03-16 01:22] #3097 closed

[2021-03-16 01:22] #3098 closed

[2021-03-16 01:22] #3099 closed

[2021-03-16 01:22] #3100 closed

[2021-03-16 01:22] #3101 closed

[2021-03-16 01:22] #3102 closed

[2021-03-16 01:22] #3103 closed

[2021-03-16 01:22] #3104 closed

[2021-03-16 01:22] #3105 closed

[2021-03-16 01:22] #3106 closed

[2021-03-16 01:22] #3107 closed

[2021-03-16 01:22] #3108 closed

[2021-03-16 01:22] #3109 closed

[2021-03-16 01:22] #3110 closed

[2021-03-16 01:22] #3111 closed

[2021-03-16 01:22] #3112 closed

[2021-03-16 01:22] #3113 closed

[2021-03-16 01:22] #3114 closed

[2021-03-16 01:22] #3115 closed

[2021-03-16 01:22] #3116 closed

[2021-03-16 01:22] #3091 closed

[2021-03-16 02:12] sync-by-unito[bot] opened #3142 "User unable to complete sign up"

[2021-03-16 02:17] sync-by-unito[bot] opened #3143 "This is a new issue created from monday,com"

[2021-03-16 12:54] sentry-io[bot] opened #3145 "Error: torus login failed: Unable to fetch result from redirect"
1. To understand when it happens.
2. If it's cause by some user action which really cancels sing in - to report it just like `.warn()`

Sentry Issue: [GOODDAPP-2G00](https://sentry.io/organizations/gooddollar/issues/2232847156/?referrer=github_integration)

[code]

[2021-03-16 12:57] sentry-io[bot] opened #3146 "TypeError: torus login failed: Cannot read property 'args' of null"
It isn't an error from the Torus sdK. It happemns somewhere in our code from /src. Need to check why it happend and provide ways to handle it correctly.

Sentry Issue: [GOODDAPP-2G42](https://sentry.io/organizations/gooddollar/issues/2233072834/?referrer=github_integration)

[code]

[2021-03-16 13:04] serdiukov-o-nordwhale commented on #2835
@Zhigamovsky please check
1. was the page refreshed after that error on prod
2. why the error was logged ? probably we need to log it as .warn()

[2021-03-16 13:07] sentry-io[bot] opened #3147 "Error: email verification failed"
Sentry Issue: [GOODDAPP-3FZ](https://sentry.io/organizations/gooddollar/issues/1899091988/?referrer=github_integration)

When logging in with passwordless, the email verification step fails with "could not send verification email"
this happens if it took the user more than a minute since opening the app to reach the email step.

[2021-03-16 13:14] sentry-io[bot] opened #3148 "Error: joinInvites failed:: Node error: {"code":-32010,"message":"Transaction with the same hash was alr..."
Sentry Issue: [GOODDAPP-36G](https://sentry.io/organizations/gooddollar/issues/1898961320/?referrer=github_integration)

[code]

[2021-03-16 13:36] #1834 closed

[2021-03-16 13:45] #2820 closed

[2021-03-16 13:46] #2821 closed

[2021-03-16 15:00] serdiukov-o-nordwhale commented on #2973
@sirpy i moved discussion here

What do you mean "slow" ? Slow loading, slow rendering, slow scrolling, UI stuck ?

When i tested and compared with the dev last Friday i saw the similar behaviour on the gooddev. So probably it's another bug.
I'll re-check it and add a separate issue in that case

Yes, we agreed to go that way and i did everything accorrding to the suggestions you provided:
- keep

[2021-03-16 15:14] tzvister opened #3150 "Thiis is a tewzt"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 15:27] sync-by-unito[bot] opened #3151 "Tal created a ticket on monday"

[2021-03-16 15:27] sync-by-unito[bot] opened #3152 "this is a new item"

[2021-03-16 15:27] sync-by-unito[bot] opened #3153 "Thiis is a tewzt"

[2021-03-16 15:29] tzvister opened #3154 "Thiis is a tewzt (copy)"
Created by Tal Oron via monday.com integration. :tada:

[2021-03-16 15:35] sync-by-unito[bot] opened #3155 "Thiis is a tewzt (copy)"

[2021-03-16 15:36] #3150 closed

[2021-03-16 15:36] #3151 closed

[2021-03-16 15:36] #3152 closed

[2021-03-16 15:36] #3153 closed

[2021-03-16 15:36] #3154 closed

[2021-03-16 15:57] tzvister opened #3156 "Tal created a ticket on monday"
This is the description of the thing

[2021-03-16 15:58] tzvister opened #3157 "Tal created a ticket on monday"
This is the description of the thing

[2021-03-16 16:00] #3155 closed

[2021-03-16 16:00] #3156 closed

[2021-03-16 16:00] #3157 closed

[2021-03-16 16:04] tzvister opened #3158 "Tal created a ticket on monday"
This is the description of the thing

[2021-03-16 16:05] tzvister opened #3159 "this is a new item (copy) (copy) (copy)"
fgdfgdfg

[2021-03-16 16:11] tzvister opened #3160 "this is a new item (copy) (copy)"
fgdfgdfg

[2021-03-16 16:19] tzvister opened #3161 "Third Try (copy)"
fgdfgdfg

[2021-03-16 16:22] #3158 closed

[2021-03-16 16:22] #3159 closed

[2021-03-16 17:01] Zhigamovsky commented on #2991
@Esfir-E can you please explain:
- what the text need to show at top of this screen (instead of "Lorem ipsum...") ?
- at Profile Privacy screen we have the same block with ability copy User's Face Record ID. Will we do it changes to this block also?
- as Omer asked above: do we really want to use a whole box just to show the number 122 (Fuse Chain ID)?

[2021-03-16 17:12] WolfVV commented on #2998
@Zhigamovsky Images are cut off on the "Something went wrong screen" and "Turn your camera..." on the Android devises
Google Pixel 3	Android 11.0	1080x2160	5,5"
![Screenshot_20210316-180753.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/b63bb3e6-7363-447f-be98-4fa9a1694637)
![Screenshot_20210316-184942.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/9128adf6-

[2021-03-16 18:02] WolfVV commented on #3009
@Zhigamovsky Issue isn't reproduced anymore
App: Version 1.24.1-3 (1366)
Google Pixel 3	Android 11.0	1080x2160	5,5"
Samsung Galaxy S9	Android 10	1440x2960	5.8"
![Screenshot_20210316-193403.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/c81f5fe2-2c18-403d-bde1-def34062f9c6)

[2021-03-16 18:02] #3009 closed

[2021-03-16 19:48] sirpy commented on #2998
@Zhigamovsky please use Section and not View
see other places where we wrap SVG and the styles to make them strech/fit (for example in the welcome intro screens)

[2021-03-17 10:12] sirpy opened #3162 "Bounty: Wallet payment API"
GoodDollar is a non-profit project, delivering digital basic income to tens of thousands of daily users in the form of the G$ token.
This bounty is about improving the wallet (wallet.gooddollar.org), adding a simple serverless payment API capabilities with retailers.

### Motivation
- User should be able to pay online with his G$ wallet
- Sellers should be able to request payment in G$ on their we

[2021-03-17 11:23] WolfVV opened #3163 "[BUG] The "HandlePaymentLink" blank page is displayed after closing the "You can't withdraw your own payment link" pop-up"
Preconditions:
The https://goodqa.netlify.app/ is opened
User logged in
Steps to reproduce:
1) Create the "Send" transaction
2) Open the link of transaction on the same wallet where it's been created
3) Click the "OK" button to close the pop-up
3) Pay attention to the "HandlePaymentLink" blank page

Expected result: The Dashboard is displayed after closing the "You can't withdraw your own payment

[2021-03-17 12:14] Esfir-E commented on #2991
1.Title- My account desilts
 Sub titles- All your information at a glance to easily import gooddollar to metamask
2. No this change is only relevant for the "Export id"
3. Yes, for now we dont want to have any big changes

[2021-03-17 12:27] WolfVV opened #3164 "[BUG] FV: The "You need to stay on this screen..." text is shifted to the border of pop-up with the Earth animation"
Preconditions:
The https://goodqa.netlify.app/ is opened
User logged in to the wallet with no passed Face Verification

Steps to reproduce:
1) Open the FV screen
2) Try to pass FV
3) Pay attention to the top text of the pop-up that contains the Earth animation

Expected result: The "You need to stay on this screen..." text is shifted to the border of a pop-up with the Earth animation

Actual resul

[2021-03-17 12:57] WolfVV commented on #2998
@Zhigamovsky Images are displayed well (without cutting) on the Android and IOS devises
but they are kind of small...aren't they?
Environment: QA V 1.24.1-4
Google Pixel 3 Android 11.0 1080x2160 5,5"
iPhone X IOS 12.3.1 1125x2436 5,8"
![Screenshot_20210317-143457.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/729575c2-1b79-4acc-8cc1-606a9925a7f5)
![Screenshot_20210317-144021.pn

[2021-03-17 13:28] WolfVV commented on #2988
wasn't able to reproduce this issue
Devices list: Desktop // Windows 10 // Chrome v.89.0.4389.82
Environment:  QA 1.24.1-4

[2021-03-17 13:28] #2988 closed

[2021-03-17 13:35] sirpy commented on #2998
@Zhigamovsky It should be at least the size as in the design
but in the screens i've pointed you to, it uses flex which also expand the size of the SVG.

[2021-03-17 14:28] Zhigamovsky commented on #3164
@sirpy I already committed hotfix related to this issue, therefore I moved it to QA (https://github.com/GoodDollar/GoodDAPP/commit/642c51060a47c415ee842117d430e01cbbf0946d)

[2021-03-18 08:46] WolfVV commented on #3163
@Zhigamovsky the same issue for receive...when you sent the receive link and another user opened he can see this blank screen for  1-2 sec

[2021-03-18 09:53] omerzam commented on #2847
@sirpy please issue an API key for GitHub API as we discussed

[2021-03-18 10:59] Zhigamovsky commented on #3014
After some research, we realized that issue caused by unhandled error inside native module. We reported it to torus team and proposed possible solution. Torus team fixed it and updated the package, so I updated the package also.

[2021-03-18 12:17] Zhigamovsky commented on #2991
@Esfir-E ,  as we have a new large title and subtitle and added new box for Fuse Chain ID, we have scroll on this screen, because it impossible to place all of things on one screen without scrolling (even on the biggest mobile device). Is it not a problem? Or we need to leave not scrolling view but adjust image/button/font sizes?

[2021-03-18 12:30] serdiukov-o-nordwhale commented on #2873
@Esfir-E @omerzam  Unfortunately there's no option to preview the app until it released / preview changes during release.
https://stackoverflow.com/questions/6659763/is-it-possible-to-preview-an-apps-market-page-before-publishing

Any promotional content (e.g. icon, name, description, screenshots) could be added here:
https://play.google.com/console/u/0/developers/8758365137458621349/app/497327460

[2021-03-18 15:20] WolfVV commented on #3164
@serdiukov-o-nordwhale @Zhigamovsky  for IOS and Android it's displayed well, but for desktop, text isn't displayed at  all
![Screenshot_20210318-162928.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/e228ab2b-5c5c-4f41-b33d-ece04d6523ae)
![Screenshot_20210318-163450.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/08ce3282-96f7-4fb3-bf7c-f67a45480bf1)![Screens

[2021-03-18 15:25] WolfVV commented on #2998
@Zhigamovsky @sirpy  How does it look now - both of the images become bigger, but the "Please turn your camera" image still looks small if compare with the mock-up
![Screenshot_20210318-163616.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/1bd75cdf-8162-4264-8deb-9c1eeafc73f2)
![Screenshot_20210318-163450.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/f9a957

[2021-03-18 15:32] sirpy commented on #2998
@Zhigamovsky please verify that base size for 640X360 screen is same as in the zeppelin design
verify the SVG you are using is without margins/paddings that could mess up the size
if you need me to take a look at it let me know

[2021-03-18 15:46] WolfVV commented on #2211
@omerzam @serdiukov-o-nordwhale user is able to see whom money going to send for
on the "YOu are sending" screen (a name is displayed instead of an address)
also on feed user sees who it was or to whom/ and avatar is displayed but if avatar deleted then isn't displayed
And in the case when user sent a link and deleted the account and then the second user would open that link he would see the aster

[2021-03-18 15:56] serdiukov-o-nordwhale commented on #3164
yep, there's no option to display this text on native
on web it's done by the CSS hack

[2021-03-18 16:00] omerzam commented on #2211
this is a scenario not taken care of by this ticket
@sirpy @serdiukov-o-nordwhale any thoughts as to how can we deal with it?

[2021-03-18 16:07] sirpy commented on #2211
if user deleted account, we should not update the name/avatar
this is exactly what this issue is supposed to solve.
i guess we need to check that value isnt '*******' before we update the name.
@omerzam

[2021-03-18 16:35] sirpy commented on #2211
ok. thats not an issue then, i already notified Ivan in the past about it.
but lets make sure it doesn't happen for a user that deleted his account
after.
also lets change the display of *** to also Unknown

[2021-03-20 10:48] serdiukov-o-nordwhale opened #3166 "reduce error logs in the dapp"
[x] faceverification regular issues such as duplicate/liveness should be warn only. only unexpected issues should be log error
[x] go over log.error discuss which can be reduced to warn

[2021-03-21 07:57] sirpy commented on #3037
@omerzam
i've looked into the logs and i've identified 3 issues
1. user had an existing email verified, he was re-registering for some reason but with a different email
2. torus proof nonce issue, for some reason nonce is >5 minutes old
3. user logged in using facebook, but his email was not verified on facebook, so verification via facebook failed

i've fixed #1.
#2 makes no sense to me at all, n

[2021-03-21 08:34] Esfir-E commented on #2991
@Zhigamovsky i would rather to avoid scrolling if possible

[2021-03-21 08:37] sirpy commented on #2991
@Esfir-E avoiding scrolling is not magic, you need to explain exactly how you want the new layout of the screen
what should be smaller, what should be removed etc...

[2021-03-21 10:29] omerzam commented on #2947
@sirpy what is the UBIScheme contract addresses (both old and new)

[2021-03-21 10:43] omerzam commented on #2211
@WolfVV please verify the case where a user that deleted his account after the payment link has been used is showing correctly (name and avatar)

open an issue for the *** presentation that should be changed to "Unknown"

[2021-03-21 13:41] tzvister opened #3169 "Fuse chain ID"
Created by Esfir via monday.com integration. 🎉

[2021-03-22 05:24] traviswademiller opened #3170 "Unable To Claim"
### Description
Unable to Claim

### Steps to reproduce

1. Trying to Claim G$.

2. Was unable to claim G$.

### Which network did you use?
Fuse Mainnet

### Supporting data

![image](https://user-images.githubusercontent.com/66695985/111944115-f53d2380-8a7a-11eb-88e4-a1c907f5a99b.png)

[2021-03-22 06:34] sirpy commented on #3170
@serdiukov-o-nordwhale
when user stays in claim page and leaves app in background we stop polling Fuse for updates, but we restart polling when he comes back.
Maybe there's a network issue?
Or maybe the fact that the time has went under 0, might be cause the polling logic to stop working

[2021-03-22 07:52] Zhigamovsky commented on #2991
@sipry If we add "122" line below the rpc, how copy would  work? (Both of lines or only one of)

[2021-03-22 07:56] sirpy commented on #2991
i think it should just copy the rpc, the user can remember and type 3
numbers of the chainid

[2021-03-22 08:45] Zhigamovsky commented on #2991
@sirpy True

[2021-03-22 08:47] omerzam commented on #2991
@Zhigamovsky @sirpy this is a product decision
@Esfir-E your input here please

[2021-03-22 08:58] Zhigamovsky commented on #2991
@Esfir-E  with current design we unable to not scrolling. If we remove subtitle for example and decrease the title font size and remove separate box with chain id and replace it to rpc second line, we able to avoid scrolling.

[2021-03-22 09:17] Esfir-E commented on #2945
@omerzam this is still relevant

[2021-03-22 09:20] Esfir-E commented on #3037
@omerzam @serdiukov-o-nordwhale
lets discuss this issue, its not clear to me

[2021-03-22 09:23] omerzam commented on #3037
@Esfir-E this is a bug that we noticed from production logs

[2021-03-22 09:23] Zhigamovsky commented on #2991
@Esfir-E Ok

[2021-03-22 09:45] omerzam commented on #2991
@Esfir-E what about @sirpy question?

[2021-03-22 10:05] omerzam commented on #2945
@Esfir-E  please fill the ticket with relevant data

[2021-03-22 10:32] WolfVV commented on #2211
@omerzam verified such two cases
1) create a payment link by user1, then use it by user2, then delete user1 - user2
2) create a payment link by user1, then use it by user2, then delete user2 - user1

The user is able to see the avatar and name of the person that has already removed the wallet
![2021-03-22_11-59-19.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/fd3feac3-5660-4fd

[2021-03-22 10:32] #2211 closed

[2021-03-22 11:32] WolfVV commented on #2998
@Zhigamovsky  now picture displayed well (see screenshot)
Environment: QA V 1.24.1-6
Google Pixel 3 Android 11.0 1080x2160 5,5"
iPhone X IOS 12.3.1 1125x2436 5,8"
![IMG_E1530.JPG](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/98c27683-face-4658-83ea-6d2ef693d566)

[2021-03-22 11:32] #2998 closed

[2021-03-22 11:39] WolfVV commented on #3164
@serdiukov-o-nordwhale @Zhigamovsky the text is displayed on desktop but on mobile, it's cut off again
Environment: QA V 1.24.1-6
Google Pixel 3 Android 11.0 1080x2160 5,5"
iPhone X IOS 12.3.1 1125x2436 5,8"
Desktop
![2021-03-22_13-33-39.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/0edfa492-989e-42f2-aa6b-b3b43f6e8bf8)
Mobile
![IMG_1534.PNG](https://images.zenhubusercontent.c

[2021-03-22 11:47] serdiukov-o-nordwhale commented on #3164
@Zhigamovskypls try yo align text relative to the image.
use :before pesudo of the image or its wrapper and align it via margin-bottom

[2021-03-22 11:48] serdiukov-o-nordwhale commented on #3170
@sirpy need to check. could do that after release

[2021-03-22 11:54] WolfVV commented on #2991
@Zhigamovsky @serdiukov-o-nordwhale Desktop user is able to see Fuse ID Chain but I am not sure that 122 it's correct one(see screenshot). The mobile user isn't able to see Fuse ID Chain at all
Environment: QA V 1.24.1-6
Google Pixel 3 Android 11.0 1080x2160 5,5"
iPhone X IOS 12.3.1 1125x2436 5,8"
Desktop
![2021-03-22_13-48-19.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/f34a

[2021-03-22 12:02] omerzam commented on #2991
@WolfVV what do you mean by "I am not sure that 122 it's correct one"?

[2021-03-22 12:12] serdiukov-o-nordwhale commented on #2991
@omerzam @Zhigamovsky
according to GoodWalletClass we're taking 'mainnet' setting: `const mainnetNetworkId = get(ContractsAddress, Config.network + '-mainnet.networkId', 122)`
for "staging-mainnet" it should be 3 not 122 (node_modules/@gooddollar/goodcontracts/releases/deployment.json):
[code]
122 is for "staging" (no mainnet)

[2021-03-22 12:16] serdiukov-o-nordwhale commented on #2991
https://github.com/GoodDollar/GoodContracts/blob/master/releases/deployment.json#L46

@WolfVV here you could find id value for each env

[2021-03-22 12:23] WolfVV commented on #2991
@serdiukov-o-nordwhale @Zhigamovsky text  - All your information at a glance to easily import gooddollar to metamask - should be Roboto https://app.zeplin.io/project/5fbfcf1e77d2fab82f7ee073/screen/603296998376b3124f8bd6eb
![2021-03-22_14-16-04.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/a8c29b03-afee-42a6-b2e1-ed769f73f42c)

[2021-03-22 14:39] WolfVV commented on #2991
@serdiukov-o-nordwhale @Zhigamovsky text fixed - now it's Roboto and user is able to scroll down and copy ID
![Screenshot_20210322-163652.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/448e7b57-369a-4284-9ec0-69b4a2fb72b2)![Screenshot_20210322-163659.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/e2a7f463-7c1c-4531-bf8b-a7178b33779c)
Environment: QA V 1.24.1

[2021-03-22 14:39] #2991 closed

[2021-03-22 15:56] WolfVV commented on #3014
@Zhigamovsky Crash isn't reproduced anymore
Video: https://www.screencast.com/t/XjBeuG2LkkM
Version 1.24.1-6 (1394)
Google Pixel 3	11.0 // Android 10
Samsung Galaxy S9	// Android 10

[2021-03-22 15:56] #3014 closed

[2021-03-23 11:46] serdiukov-o-nordwhale opened #3172 "(Bug) GITHUB_TOKEN doesn’t works with protected branches"
Setting email to techadmin@gooddollar.org in the 'Setup Git' action (to identify itself as techadmin user to be allowed pushing to the next)  doesn't solves the issue.
As a result, prod releases are broken now on both dapp & server

Please follow this thread https://github.community/t/how-to-push-to-protected-branches-in-a-github-action/16101/39

There are some solutions (workarounds mostly). One

[2021-03-23 16:45] drptiago opened #3173 "Track users who join through invite (Invite_join event) to Mautic"
### Motivation

We had a large number of users due to the invite feature ( **Invite_join event** ).

However, many of these users are not properly engaged, stopping to use in a few days.

We need to create specific campaigns for these users and for that we need to know which ones arrived at Mautic through the invite.

### Details

We added users to Mautic via the API.

I believe that the best appr

[2021-03-24 10:55] omerzam commented on #3172
@serdiukov-o-nordwhale @sirpy let's discuss this ASAP

[2021-03-24 11:51] omerzam commented on #2830
@serdiukov-o-nordwhale is this still reproducing?

[2021-03-24 11:52] serdiukov-o-nordwhale commented on #2830
@omerzam During bugs review ~moth ago we've found that yes
So we'll back to this issue once we'll have time for that

[2021-03-24 12:50] serdiukov-o-nordwhale opened #3174 "deploy android QA branch app to beta stream"
[ ] update github actions flow to deploy qa/staging onto app store

[2021-03-24 13:37] serdiukov-o-nordwhale opened #3175 "Create small & simple FV license server"
Read facetec keys and config settings via api
facetec rolls production keys, so we'll need to dynamically update them

[x] keep keys in the mongo
[ ]  zoom server should read own key at startup
[ ] send keys from zoom server via rest endpoint
[x] implement simple micro service to add new keys

[2021-03-25 09:43] sirpy commented on #3172
ok just use a personal token like before.
do you have another solution?

[2021-03-25 09:49] sirpy commented on #3173
@serdiukov-o-nordwhale
can happen on /user/start endpoint
just need to also send if inviteCode exists or not

@Esfir-E please schedule it

[2021-03-25 13:29] omerzam commented on #2847
worker PR: https://github.com/GoodDollar/GoodCFWorker/pull/6

[2021-03-25 13:38] omerzam commented on #2714
@sirpy this seems like a bit of an old task, is it still relevant?

[2021-03-25 14:40] serdiukov-o-nordwhale commented on #3172
actually there're only 2 ways to solve the issue:

1. add to the action disable protection before push then enable protection after
2. use personal tokens as it was before

the most quick & simple way of course will be pt. 2 - as it was before

[2021-03-25 14:50] serdiukov-o-nordwhale commented on #3172
For now i reverted GITHUB_TOKEN usage change:
https://github.com/GoodDollar/GoodServer/commit/e0d4c3319953498ee4fcdc874c3e6441bd9f020f
https://github.com/GoodDollar/GoodDAPP/commit/066c69b7d4aa8df25d6def94ed048003e41c1aed

[2021-03-26 05:57] sirpy commented on #3172
You need to update the secret for github token

[2021-03-26 05:58] sirpy commented on #2714
Yes

[2021-03-26 10:54] serdiukov-o-nordwhale commented on #3172
Do you mean "GIT_AUTH" secret ?

Could you please:
- send it to me via Slack (for both dapp & server repo)
- provide the same access level on server report as you provided for the dapp (for now i have just a few options available)
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/62208067/112621435-6a6d7780-8e32-11eb-9458-4499f19c08ef.png">

[2021-03-26 11:15] #809 closed

[2021-03-26 15:46] serdiukov-o-nordwhale commented on #3170
@sirpy i've performed detailed review of the Claim component and found no issues with the logic handling timer and return back to 'active state' (switch back to the app's tab).

Even if the app is inactive at the claim counter reset, and there's no polling, gatherStats() will be called anyway from the updateTimer and will set dailyUbi, so user will be prompted to claim

The only way we could have

[2021-03-28 11:34] bertux commented on #3162
Hello, yes I still work on this issue and I will a WiP PR to track the progress. I am still waiting for environment configuration file from @sirpy but it's not blocking me yet to setup the development environment needed.

[2021-03-29 06:40] Esfir-E opened #3177 "Export wallet - please fix the title"
The title on the export wallet is misplayed- please fix it to "My account details " instead of  my account desilts
![bug_export.png](https://images.zenhubusercontent.com/5f6877b34ede532795cfb95b/ff4d334c-0dcc-447f-9175-bec3ab2f3650)

[2021-03-29 06:52] Esfir-E opened #3178 "Support Deep links for the Android app"
We want to support  deepllinks for the following pages on the app-
1. Feed
2.  Dashboard statistic
3.  Goodmarket
4. Invite page

[2021-03-29 12:29] sirpy commented on #3172
you can just create one under your account

[2021-03-29 12:31] serdiukov-o-nordwhale commented on #3172
okay, thanks, will do that.
so just please give me accesses to manage secrets on GoodServer repository

[2021-03-29 13:30] sirpy commented on #3170
i guess we can restore isConnectionWeb3, but just the part that reconnect. dont show a blocking popup.

[2021-03-29 14:33] serdiukov-o-nordwhale commented on #3172
@sirpy done

[2021-03-29 14:33] #3172 closed

[2021-03-29 14:45] iLystopad opened #3179 "The invite functionality is disabled in the Android app production version"
**Description:** We need to enable invite for mobile, probably the correct flag is missing in .env.* files

**Steps to reproduce:**
1. Launch the App
2. Log in to the account
3. Pay attention to the left side of the header

**Expected result:**  The invite functionality should be enabled in the Android app production version

**Actual result:** The invite functionality is disabled in the Android a

[2021-03-29 19:00] sirpy commented on #3178
@omerzam not sure why you assigned this to me.
you've handled the deep/app links in one of the previous tasks.
deep link means that if a user clicks on a web link that leads to wallet.gooddollar.org/XXX it will open the mobile app in the correct XXX path.

@Esfir-E are there links that we DONT want to open the app for? i dont think there are, i think every wallet.gooddollar.org/* should open the m

[2021-03-30 07:21] Esfir-E commented on #3178
@omerzam
1. about the Goodmarket Hadar is right there is no need thats my bad
2.  what we do need is the following -
- invite page
- Dashboard statistic

[2021-03-30 07:54] sirpy commented on #3178
@Esfir-E i'm asking again are there links we DONT want to open in the mobile app?

[2021-03-30 08:27] iLystopad opened #3181 "[BUG] The user is able to make a transaction without selecting a category"
**Description:**
* The user is logged in.
* The user is on the "What is the Transaction for?" screen.

**Steps to reproduce:**
1.  Leave Category unselected
2. Enter some text in the "Add a message" field
3. Press Enter on the keyboard
4. Pay attention that the "You are sending" screen is opened without selecting a category

**Expected result:** The user should not be able to make a transaction wi

[2021-03-30 08:52] sirpy commented on #2973
closing this
implementted in #2788
avatar/fullname is fetched once when receipt is received
it will be updated once in a while when app is in background and re-sync with blockchain

[2021-03-30 08:52] #2973 closed

[2021-03-30 08:55] sirpy commented on #1981
@Esfir-E is this still required?

[2021-03-30 09:18] sirpy commented on #2946
@omerzam @serdiukov-o-nordwhale
lets remove '****' if field is private lets set the displayValue to null
also so when we refresh fullName/avatar it wont replace the saved fullName in the feed with ****

[2021-03-30 09:20] sirpy commented on #2954
I think we no longer try to fix that field in the updates script we run
in any case that's an expected error, dont think there's much to do about it

[2021-03-30 09:21] sirpy commented on #1978
@Esfir-E is this still relevant/important? specifically since we no longer require mobile on signup

[2021-03-30 09:28] sirpy opened #3182 "User should see animated icon in feed item modal"
currently modal icons are static
top icon in modal should be animated Illustration like in the feed list

[2021-03-30 10:59] iLystopad opened #3183 "[BUG] The Send screen is displayed again after making a transaction and re-opening the app from the background"
**Description:**
The user is logged in.

**Steps to reproduce:**
1.  Launch the app
2. Click on the received payment link
3. Complete transaction
4. Reopen the app from the background working
5. Pay attention that the Send screen is displayed again

**Expected result:** The Home screen should be displayed after reopening the app from the background

**Actual result:** The Send screen is displayed

[2021-03-30 15:22] iLystopad opened #3184 "[BUG] The image of duplicate error is not displayed on the "Unfortunately, we found your twin.." screen"
**Description:**
* The user is logged in
* The user has passed FV on another account

**Steps to reproduce:**
1.  Launch the app
2. Pass the Face verification
3. Pay attention to the "Unfortunately, we found your twin.." screen

**Expected result:** The image of duplicate error should be displayed and match the mockup on the "Unfortunately, we found your twin.." screen

**Actual result:** The imag

[2021-03-30 15:32] omerzam commented on #3184
@iLystopad  this only happens on react native?

[2021-03-31 07:58] iLystopad opened #3186 "[BUG] The User info (Name/Profile image/email) is not uploaded a long time after login to the account"
**Description:**
* The user has an account with a Profile image

**Steps to reproduce:**
1.  Launch the app
2. Log in to the account
3. Pay attention to the Name and Profile image

**Expected result:**  The User info (Name/Profile image/email) Should be uploaded immediately after login to the account

**Actual result:** The User info (Name/Profile image/email) is not uploaded a long time after log

[2021-03-31 08:12] omerzam commented on #2947
subgraph is able to read events from the same contract with multiple addresses, added new contract address

[2021-03-31 08:15] omerzam commented on #2947
deployed subgraph to thegraph hosted service
currently, it is not syncing due to an issue with the integration of fuse and thegraph
alerted both thegraph team and fuse team about it
waiting for the issue to be resolved to continue

[2021-03-31 08:57] serdiukov-o-nordwhale commented on #3186
@iLystopad probably the Gun's issue
@Zhigamovsky could you please check it?

[2021-03-31 10:25] iLystopad commented on #3177
@Esfir-E @omerzam  The title is changed to "My account details".

Checked on the QA 1.25.1-0
Device: Windows 10 // Google Chrome v86

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/9081eb00-f378-4c59-8816-61a70a6122da)

[2021-03-31 11:29] iLystopad commented on #3179
@serdiukov-o-nordwhale I've checked the invite functionality on the staging and the invite functionality is enabled and worked without issues.
Should be tested on the Prod.

Checked on the Android app [staging] 1.25.1-0 (1405)
Device: Xiaomi mi 8 // Android 8.1.0

[2021-03-31 12:46] omerzam commented on #3186
I doubt it is a gun issue since this is working on webapp

[2021-03-31 13:22] sirpy opened #3187 "Research a new p2p database for wallet"
most mature solution seems to be textile.io
find some other databases (3-4 options)

[2021-04-05 08:07] iLystopad commented on #3163
@Zhigamovsky The white screen is displayed after closing the "You can't withdraw your own payment link" pop-up.

Note: The issue with displaying the blank HandlePaymentLink screen for 1-2 sec after opening the payment link is not reproduced.

Checked on the QA 1.25.1-1
Device: Windows 10 // Google Chrome 89

Attachment:
https://www.screencast.com/t/dgAdnMrsy

[2021-04-05 09:43] iLystopad opened #3188 "[BUG] The endless loading screen is displayed on the Android App production version after sign in/up with the google account"
**Description:**  The endless loading screen is displayed on the Android App production version after sign in/up with the google account

**Steps to reproduce:**
1. Launch the app
2. Log in to the account with Google
3. Pay attention to the endless loading screen

**Expected result:**  The user should be able to log in to the account with Google

**Actual result:** The endless loading screen is di

[2021-04-05 10:27] iLystopad commented on #3037
@sirpy Could you please clarify for me how it should be tested?

[2021-04-05 12:26] sirpy commented on #3037
@omerzam @Esfir-E
this was supposed to be followed up by you. ie #3 facebook issue.
please make sure to take notes, open issues here or open an issue on monday, so these things dont get lost

[2021-04-05 12:29] sirpy opened #3189 "User should be able to open account with Facebook unverified email"
see #3037
sometimes users email on facebook is still not verified
need to decide how to handle this

[2021-04-05 18:02] bertux commented on #3162
Hello, I've received the needed file for tests and I work to be able to test locally before doing any modification. I will submit changes in PR when I will have some.

[2021-04-06 08:01] omerzam commented on #3189
@Esfir-E we need some product input here

[2021-04-06 10:44] iLystopad commented on #3188
@Zhigamovsky @serdiukov-o-nordwhale
Tried to reproduce the issue on the different devices:

Android App [Production] 1.25.0 (1395)
- Pixel 3a XL / Android 11 - The issue is not reproduced. The user is able to sign up/in.
- Xiaomi Mi Mix 2s / Android 10 / Miui 12.0.3 - The issue is not reproduced. The user is able to sign up/in.
- Samsung S10 / Android 9 / One Ui 1.1 - The issue is not reproduced.

[2021-04-06 12:14] iLystopad commented on #3163
@Zhigamovsky @sirpy  The issue is not reproduced.
The Dashboard is displayed after closing the "You can't withdraw your own payment link" pop-up.
The issue with displaying the blank HandlePaymentLink screen for 1-2 sec after opening the payment link is not reproduced. The Processing payment popup is displayed at once after opening the payment link.

Checked on the QA 1.25.1-3
Device: Windows 10 /

[2021-04-06 12:54] iLystopad commented on #2993
@Zhigamovsky @sirpy  The "How to invite" section is opened after first opening the Invite page.
After the second opening of the Invite page the "How to invite" section is closed.  The user is able to open the "How to invite" section by clicking on it.
The section is closed after re-login/ re-sign up to the account and opening the invite page.
The section also is closed after login into the same ac

[2021-04-06 16:06] serdiukov-o-nordwhale commented on #3183
After analyzing Java code i found that issue could happen because we're unsubscribing when app goes background and subscribing back on app activated.

Before patching the package i suggest to try to fix the issue on JS side:

1. let's subscribe just once, on mount hook
2. if app isn't active - save deeplinking data inside some ref
3. when app activates - check the ref, if it have some data - proce

[2021-04-07 06:13] Esfir-E opened #3191 "Receiveing Payment Link, does not show Sender name in feed when accepting"
Wallet Address 0x5b03f8b5245338b55176e2B83f48AF2C6C824F47

Sent from Travis
To Tal

Via this link - https://wallet.gooddollar.org/?paymentCode=eyJwIjoiMHg1OWEwZjM4MTg4YjcyZDdlYjY5MmQyZmQ2NDQxODU4MTAwNDczODljZTNkNGU1ZTQzZTFlNTNmNzllYTQ1YzVhIiwiciI6IkFNQSB3aXRoIFRhbCBPcm9uIiwiY2F0IjoiQ291cnNlIC8gUHJpdmF0ZSBDb25zdWx0YXRpb24iLCJpIjoidk1aeTdXMlBFTSJ9

[2021-04-07 06:18] sirpy commented on #3191
1. this will be partly solved in the "new feed" issue that is in review
2. this is due to gundb, we need to move to  new database, i've opened an issue for that, you need to prioritize with the team

[2021-04-07 06:18] #3191 closed

[2021-04-07 06:36] Esfir-E opened #3192 "Content of the email that was sent to users that are registering via passwordless"
Torus is sending to the users email verification in the pass wordless register.
since the content is coming form tours i have no access to it within our email templates
Can you please supply the current content we have there?

[2021-04-07 06:52] sirpy commented on #3192
1. torus doesnt do any email verification
2. the email verification template is stored on amazon mailing service we use

this is the json of the template
@serdiukov-o-nordwhale @omerzam please help esfir to edit it
[code]

[2021-04-07 09:08] iLystopad commented on #3188
@Zhigamovsky @omerzam @serdiukov-o-nordwhale
The Logs of Login issue of the build 1.25.0 (1418)
 [https://app.zenhub.com/files/166818382/1c9fc2a1-e6f5-4040-9a6e-d6e3ba0cf027/download](https://app.zenhub.com/files/166818382/1c9fc2a1-e6f5-4040-9a6e-d6e3ba0cf027/download)

[2021-04-07 10:44] serdiukov-o-nordwhale opened #3193 "Automate Facetec server restart in the case when the new server license was uploaded"
- add custom endpoint (e.g. /license-status) to be used from the watchdog
- in this endpoint check the latest server license and compare it with the config value. return match result as boolean
- in the watchdog add additional cronjob (daily as midnight ?). call that endpoint, if license was updated - restart server

[2021-04-07 11:31] iLystopad commented on #2788
@Zhigamovsky
[BUG]The red card is displayed for the receiver of the payment after opening the payment link

**Preconditions:**
* The user is logged in
* The user has received a payment link from another user

**Steps to reproduce:**
1. Open the received link
2. Click "YAY!" on the "Payment Link Processed Successfully"
3. Pay attention to the card of the payment in the feed

**Actual result:** The

[2021-04-08 13:08] iLystopad commented on #3188
@Zhigamovsky @serdiukov-o-nordwhale @omerzam
The issue is not reproduced after 10 attempts of reinstalling the app and login/sign in with Google/Facebook/ Passwordless. The user is able to log in without issues.

Checked on the QA 1.25.1-5
Device: Xiaomi Mi 8 / Android 9

[2021-04-08 13:38] iLystopad commented on #3183
@serdiukov-o-nordwhale @Zhigamovsky
The issue is not reproduced. The Home screen is displayed after making payment and reopening the app from the background.

Checked on the Android App [staging] 1.25.1-5 (1425)
Device: Xiaomi Mi 8 / Android 9

Attachment:
https://www.dropbox.com/s/biaij5644mmcuql/The%20Send%20screen%20is%20displayed%20again%20after%20making%20a%20transaction%20and%20re-opening%20

[2021-04-08 15:49] iLystopad opened #3196 "[BUG] [Native] The App is crashed after the user click on the payment link"
**Description:**
* The user is logged in
* The user has received payment link
* The app works in the background

**Steps to reproduce:**
1. Open received payment link
2. Pay attention to the crash of the app

**Expected result:** The app is opened. The payment process pop-up is displayed after opening the payment link.

**Actual result:** The App is crashed after the user click on the payment link

[2021-04-08 16:08] iLystopad opened #3197 "[BUG] The "gooddollar.org" page is opened after clicking on the received invite link sent from the Android app"
**Description:**
The user has received invite link sent from Android App

**Steps to reproduce:**
1. Click on the Invite link
2. Pay attention to the opened page

**Expected result:**  The Android app should be launched after clicking on the invite link

**Actual result:** The "gooddollar.org" page is opened after clicking on the received invite link sent from the Android app

**Environment:**  An

[2021-04-08 16:13] serdiukov-o-nordwhale commented on #3196
@iLystopad tried to hotfix here: https://github.com/GoodDollar/GoodDAPP/commit/1301ac0a9615abd3252e1414c058ecae8fa1f493
please re check when new prod version would be released

@Zhigamovsky  if it still reprooduces - please look on this task tomorrow

[2021-04-09 08:06] iLystopad commented on #3196
@serdiukov-o-nordwhale @Zhigamovsky
The issue is not reproduced. The app is opened without the crash after clicking on the payment link while the app works in the background

Checked on the Android App [Production] 1.26.2 (1434)
Device: Xiaomi Mi 8 / Android 9

Attachment:
https://www.dropbox.com/s/y5huxjc0r5husw6/The%20crash%20is%20not%20repro%20when%20the%20app%20in%20background.mp4?dl=0

[2021-04-09 08:06] #3196 closed

[2021-04-09 08:15] iLystopad commented on #3183
The issue is not reproduced. The Home screen is displayed after making payment and reopening the app from the background.

Checked on the Android App [Production] 1.26.2 (1434)
Device: Xiaomi Mi 8 / Android 9

Attchment:
https://www.dropbox.com/s/9hqqur7bwrbahwz/Check%20the%20send%20screen%20afteropening%20the%20app%20from%20the%20background.mp4?dl=0

[2021-04-09 08:15] #3183 closed

[2021-04-09 10:11] iLystopad commented on #2951
@Zhigamovsky @serdiukov-o-nordwhale
The invited user is not displayed on the invite page after registering via the referral link in the Android App.

Checked on the Android App 1.26.2 (1434)
Device: Xiaomi Mi 8 / Android 9

Inviter:
derekcudrou@gmail.com / Tester_11111
GD_masterSeed - "ff9ee43f897e28f2d4772bc5fe956fb8f8a6ff86ae3547591cd1735bd53f6527"

Invitee:
Signed in via passwordless: +35844955

[2021-04-09 10:48] iLystopad commented on #3186
@serdiukov-o-nordwhale @Zhigamovsky @omerzam
I've checked it again and probably @serdiukov-o-nordwhale was right that it is gun issue.
I've cleared all site and app data and login to the same account on the Android App and on the Google Chrome
The User info (Name/Profile image/email) is not uploaded a long time after login to the account on the Android App and Web

Checked on the Prod 1.26.2
Andro

[2021-04-09 11:57] iLystopad commented on #3197
@Zhigamovsky The issue has been fixed. The link on the Invite screen is correct.

Checked on the Android App [Production] 1.26.2 (1437)
Device: Xiaomi Mi 8 / Android 9

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/dba2b1ce-9b03-4b35-8cf8-e19cdd75e40c)

[2021-04-09 11:57] #3197 closed

[2021-04-09 12:31] iLystopad opened #3198 "[Bug] "Uncaught TypeError: Cannot read property 'scales' of underfind" error is displayed in the console after login to the account"
Description:

Steps to reproduce:
1. Open https://wallet.gooddollar.org/
2. Login to the account
3. Pay attention to the error message in the console

Expected result: The page is working without any errors

Actual result: "Uncaught TypeError: Cannot read property 'scales' of underfind" error is displayed in the console after login to the account

Environment: PROD 1.26.3

Devices list: Desktop //

[2021-04-09 12:46] iLystopad commented on #3188
The issue is not reproduced on the Android app [Production] 1.26.3
The user is able to sign in/up with passwordless/google/Facebook

Checked on the Android App [Production] 1.26.3
Device: Xiaomi Mi 8 / Android 9

[2021-04-09 14:31] iLystopad commented on #2951
The issue is not reproduced. Invite functionality works without issues

Checked on the Prod 1.26.3
Device: Xiaomi Mi Mix 2s

[2021-04-09 14:32] #2951 closed

[2021-04-09 14:41] iLystopad commented on #3184
The issue is not reproduced

Checked on the Android App [Production] 1.26.3

![Screenshot_2021-04-09-17-39-37-570_org.gooddollar.jpg](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/824a9d2b-96f6-4a88-aba4-361301da8239)

[2021-04-09 14:42] #3184 closed

[2021-04-09 14:56] iLystopad commented on #3179
The invite functionality enabled and works without issue on the production version 1.26.3 (1437) of the Android app

Attachment:
Sign up on the Android app via referral link: https://www.dropbox.com/s/bmuq891l030o41w/Invite%20on%20Mi%20mix%20app%202.mp4?dl=0

Inviter acc: https://images.zenhubusercontent.com/166818382/699a56d1-3647-42e2-b0e6-7d01c1e1218b/inviter_acc.mp4

[2021-04-09 14:56] #3179 closed

[2021-04-09 16:14] WolfVV opened #3199 "(BUG) The address is displayed in the "To" field instead of name after scanning QR to send GD"
Preconditions:
The http://wallet.gooddollar.org/ is opened
User logged in

Steps to reproduce:
1) Open the page to scan QR
2) Scan QR code of another user
3) Enter an amount of G$ to send and submit
4) Enter the "What Is The Transaction For? and submit
5) Pay attention to the "To" field on the "You are sending" screen

Expected result: The address is displayed in the "To" field instead of name aft

[2021-04-12 08:07] iLystopad commented on #3163
The issue is not reproduced.

Checked on the PROD 1.26.3
Device: Windows 10 / Google Chrome 89

Attachment:
https://www.dropbox.com/s/fxzekx5jgqemmp5/Checking%20the%20hadle%20payment%20page%20is%20not%20displayed.mp4?dl=0

[2021-04-12 08:07] #3163 closed

[2021-04-12 08:11] iLystopad commented on #3177
The title is changed to "My account details".

Checked on the PROD 1.26.3
Device: Windows 10 // Google Chrome v89

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/486f054d-9def-4760-8317-de2daae1b837)

[2021-04-12 08:11] #3177 closed

[2021-04-12 08:38] iLystopad commented on #2993
Checked on the Prod. The "How to invite" section is displayed opened only after first opening the Invite page.

Checked on the PROD 1.26.3
Device: Windows 10 / Google Chrome 89

Attachment:
https://www.dropbox.com/s/13n6hmpgnnljfc8/Check%20the%20how%20to%20invite%20section.mp4?dl=0

[2021-04-12 08:52] Zhigamovsky commented on #3199
@serdiukov-o-nordwhale Address is displayed in case when recipient is undefined by some reason. Maybe related to gun.

[2021-04-12 08:59] iLystopad commented on #2993
@Zhigamovsky @serdiukov-o-nordwhale
[BUG]The "How to invite?" section is displayed on the Invite screen after re-login on the Native.

**Preconditions:**
* The user is logged in

**Steps to reproduce:**
1. Go to the Invite screen first time
2. Click on the "Back" button
3. Re-login to the account
4. Go to the Invite screen a second time
5. Pay attention to the opened "How to invite" section

**Exp

[2021-04-12 09:59] iLystopad opened #3200 "[BUG] "Zoom initialization failed" "The Key was expired, contained invalid text, or you are attempting to initialize on a domain that is not specified in your Key. is displayed in the console after clicking on the "Ok, verify me" button"
**Description:**
* The user is logged in
* The user hasn't passed FV

**Steps to reproduce:**
1. Open https://wallet.gooddollar.org/
2. Click on the "Claim" button
3. Click on the "Claim now" button
4. Click on the "Ok, verify me" button
5. Pay attention to the error message

**Expected result:**  The user should be able to pass FV without any errors.

**Actual result:**  "Zoom initialization fail

[2021-04-12 11:18] serdiukov-o-nordwhale commented on #3200
@iLystopad app was updated & re-deployed
please, re-check

[2021-04-12 11:54] serdiukov-o-nordwhale commented on #3187
1. convert it to the Epic
2. add subtasks
3. perform research part only during this sprint

[2021-04-12 11:55] iLystopad commented on #3200
@serdiukov-o-nordwhale @omerzam
The issue is not reproduced. The user is able to launch and pass the FV without errors.

Checked on the Prod 1.26.3
Device: Windows 10 / Google Chrome 89

Attachment:
https://www.dropbox.com/s/1sjgoz3tdee7dms/The%20FV%20is%20launched%20without%20errors.mp4?dl=0

[2021-04-12 11:55] #3200 closed

[2021-04-12 12:08] serdiukov-o-nordwhale opened #3201 "(Chore) Check Web & native production enviromnents"
Need to check netlify.toml / Netlify's env versus .env.prod

I've already found some differences between them and hotfixed
Probably there's more differences could cause more issues

[2021-04-12 12:48] iLystopad commented on #3037
@serdiukov-o-nordwhale @sirpy
The user is able to sign up via passwordless with the same phone number but with different email addresses.

How it was checked:
1. Signed up via Passwordless with number: +380987345691
2. Entered email:  7tester8913+checkemailone@gmail.com. The email is verified without issues.
3. The user is signed up
3. Signed up via Passwordless with the same number: +380987345691

[2021-04-12 12:48] #3037 closed

[2021-04-12 15:08] iLystopad opened #3202 "[BUG] Two scrollbars are displayed on the invite page after opening the "How to invite" section"
**Description:**
The user is logged in

**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Go to the Invite page
3. Click on the "How to invite?" button
2. Pay attention to the two scrollbars on the left side

**Expected result:**  Only one scrollbar should be displayed on the invite page after opening the "How to invite" section

**Actual result:**  Two scrollbars are displayed on the

[2021-04-13 07:31] Esfir-E opened #3204 "Integration of whatsup as an additional method of use"
Following our meeting with Twilio.
Please provide with a plan of integration directly to Twilio without Torus for adding additional signup/signin method VIA whatsup.
According to my research all of our top 15 countries are using whatsup.

Please elaborate in your plan the following -
1. Estimated time for the integration
2. maintenance of this integration
3. Will it require different flow as it wi

[2021-04-13 07:52] omerzam commented on #3188
Signin/Signup is still not working for some devices
attached is the log output of a device in which Signin doesn't work (oneplus8)
[android-debug.txt](https://github.com/GoodDollar/GoodDAPP/files/6302063/android-debug.txt)

[2021-04-13 07:57] Esfir-E opened #3205 "Daily claim doesn't appear"
User complain  he claim daily but the claim amount doesn't add to his wallet
Wallet address:

0x3C0bdd77e63A60Afa1F636E8d56Cd36765b3eCE6

[2021-04-13 12:12] iLystopad opened #3206 "[BUG] The "Save" button is inactive on the Edit Profile screen after deleting the phone number"
**Description:**
* The user is logged in

**Steps to reproduce:**
1. Launch the App
2. Go to the Edit Profile screen
3.  Delete the phone number
4. Click on the "Save" button

**Expected result:**  The "Save" button should be active after deleting the phone number

**Actual result:** The "Save" button is inactive on the Edit Profile screen after deleting the phone number

**Environment:**  Android

[2021-04-13 13:07] omerzam commented on #3188
in communication with torus team to debug this issue
@Zhigamovsky sent them a debug APK and description of the issue
waiting for their response

[2021-04-13 13:08] serdiukov-o-nordwhale opened #3207 "Find a new p2p database for wallet"
gundb had its chance, we need to find a new one
most mature solution seems to be textile.io

[2021-04-13 13:12] serdiukov-o-nordwhale opened #3208 "Research what features we need from the new database"
- [ ] user encrypted data based on the private key
- [ ] decentralised (we won't to keep our node for the all time)
- [ ] feed needs to be sorted by date, realtime updates for tx
- [ ] user profiles (name, email, avatar).
- [ ] some sort of inbox
- [ ] user avatar may be "files"
- [ ] public index (by email/address/mobile to the public key)

[2021-04-13 13:15] serdiukov-o-nordwhale opened #3209 "Test textile.io"

[2021-04-13 13:16] serdiukov-o-nordwhale opened #3210 "Conclusion of the all options tested"
- [ ] review the 'test scenario' apps (via cross-check e.g. i'm checking @omerzam's app, he's checking mine one)
- [ ] look at architecture
- [ ] test performance
- [ ] estimate each solution (by effectivity, complexity, compatibility, integration costs)
- [ ] make a call, discuss all solutions, select one

[2021-04-13 13:36] iLystopad commented on #3186
@Zhigamovsky The Profile photo on the native app is not updated after changing one on the web app.

Android App [Production] 1.26.5 (1437)
Xiaomi Mi 8 / Android 9

Attachment: https://www.dropbox.com/s/uq0cg6b938sxfbe/Screenrecorder-2021-04-13-16-16-44-483.mp4?dl=0

[2021-04-13 20:40] sirpy commented on #3204
@Esfir-E
There's no possibility to create a login method not via torus without making us "custodians" which is out of the question.

It might be possible to use whatsapp as an alternative SMS service. similarly to how we login users via Torus using auth0 mobile verification.

this needs to be further discussed

[2021-04-14 10:28] iLystopad commented on #3202
@Zhigamovsky The issue is also reproduced on the Sign up/ Login page

Checked on the Dev 1.25.1-5

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/08acefbb-af09-47f9-94fa-ce08d7cdad0a)

[2021-04-14 13:29] #3201 closed

[2021-04-14 15:04] Zhigamovsky commented on #3188
Torus team response on this issue and fixed it and released new version. I updated package, @omerzam need to test it in your case.

[2021-04-15 08:08] iLystopad commented on #3202
@Zhigamovsky
The issue is still reproduced on the Invite, Sign up/Login pages.

Checked on the QA 1.25.1-7
Device: Laptop/ Windows 10 / Google Chrome v. 90.0.4430.72

Attachment:
https://www.dropbox.com/s/vudcx7y5fg96o7z/The%20two%20scroll%20bar%20is%20still%20reproduced.mp4?dl=0

[2021-04-15 08:39] bertux commented on #3162
I'm not working full time on it and there is no time constraints imposed, that explains why I'm not very active on it yet but I'm still contributing to GoodDollar projects.

[2021-04-15 09:14] iLystopad commented on #2993
@Zhigamovsky The issue is not reproduced. The "How to invite" section should be closed after re-login and opening the Invite screen a second time on the native

Checked on the Android App [Staging] 1.25.1-7
Device: Xiaomi Mi 8 / Android 9

Attachment: https://www.dropbox.com/s/fdky45of76qern9/How%20to%20invite%20section%20check%20on%20the%20NAtive.mp4?dl=0

[2021-04-15 10:02] iLystopad commented on #3206
@Zhigamovsky The issue is not reproduced. The "Save" button is active after deleting the phone number.

Checked on the Android App [staging] 1.25.1-7
Device: Xiaomi Mi 8 / Android 9

Attachment: https://www.dropbox.com/s/fdky45of76qern9/How%20to%20invite%20section%20check%20on%20the%20NAtive.mp4?dl=0

[2021-04-15 11:57] iLystopad opened #3212 "[BUG] The Category buttons have different sizes on the "What IS The Transaction For?" page on the Google Chrome"
**Description:**
* The user is logged in
* The "What IS The Transaction For?" page is opened

**Steps to reproduce:**
1. Pay attention to the size of the Category buttons

**Expected result:**  The Category buttons have the same sizes on the "What IS The Transaction For?" page on the Google Chrome

**Actual result:** The Category buttons have different sizes on the "What IS The Transaction For?" p

[2021-04-15 12:20] iLystopad commented on #3198
@serdiukov-o-nordwhale @Zhigamovsky
I've not caught this error after all attempts to log in to the different accounts.

Checked on the QA 1.25.1-7
Device: Windows 10 / Google Chrome v. 90.0.4430.72

[2021-04-18 09:38] omerzam commented on #3210
Please provide more mroe details and some context to this ticket

[2021-04-18 17:15] omerzam opened #3214 "Cannot read property 'slice' of undefined"
Exception on Heroku/Syslog drain
1676 <190>1 2021-04-18T16:14:03.967169+00:00 app web.1 - - [31m2021-04-18T16:14:03.966Z - workerId:82 - error (FROM /verify/email ): {"uuid":"JdJ9i6AnS3","message":"Something went wrong while performing request","context":["Cannot read property 'slice' of undefined",{"type":"TypeError","message":"Cannot read property 'slice' of undefined","stack":"TypeError: Cannot

[2021-04-19 08:21] iLystopad commented on #3202
@Zhigamovsky The issue is not reproduced. The one scrollbar is displayed on the invite page after opening the "How to invite" section

Checked on the QA 1.25.1-8
Device: Windows 10 / Google Chrome 90.0.4430.72

Attachment:
https://www.dropbox.com/s/xqlmzzovh1lap24/One%20scroll%20on%20the%20invite%20page.mp4?dl=0

[2021-04-19 08:31] Zhigamovsky commented on #3186
Can't reproduce it at local, gooddev.netlify, goodqa.netlify and prod

[2021-04-19 08:33] iLystopad commented on #3212
@Zhigamovsky @serdiukov-o-nordwhale
The issue is not reproduced. The Category buttons have the same sizes on the "What IS The Transaction For?" page on the Google Chrome

Checked on the QA 1.25.1-8
Device: Windows 10 / Google Chrome v. 90.0.4430.72

Attachment:
![2021-04-19_11-25-38.jpg](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/804b9e0a-d522-42cf-b49e-aa491979c7a7)

[2021-04-19 08:56] iLystopad commented on #3186
@Zhigamovsky It is reproduced on the Android app after changing the profile image on the web app in the same account

[2021-04-19 15:41] Zhigamovsky commented on #3199
After some research if we have gun issue looks like reproducing. For now it works. I covered the logs related to this issue (https://github.com/GoodDollar/GoodDAPP/commit/e3ad49b60ef7573b914f4114fc6ffa26f780e562)

[2021-04-19 17:54] Zhigamovsky commented on #3186
I checked reverse variant, I changed the avatar on Android app and it didn't update on web app also.

[2021-04-20 09:08] omerzam commented on #3186
if you restart the native app after you changed on the webapp it still doesn't update?
if you reload the webapp after you changed on the native app it still doesn't update?

[2021-04-20 09:15] omerzam commented on #3214
investigating the root cause of this problem why users without email are trying to verify email

[2021-04-20 11:57] serdiukov-o-nordwhale commented on #3188
according to the docs both redirect and browser redirect uri for native should be the same and should be in `gooddollar: scheme`:
https://github.com/torusresearch/torus-direct-android-sdk

Hotfixed: https://github.com/GoodDollar/GoodDAPP/commit/872500fd69f4847ce574a722ecb6c015689ec8a5 https://github.com/GoodDollar/GoodDAPP/commit/0040bad5f223a36bcee4663f41fac45d3acd64ef https://github.com/GoodDoll

[2021-04-20 12:50] iLystopad opened #3215 "[BUG] The "Export Wallet" page is not displayed fully after scrolling to the end of the page"
**Description:**
* The user is logged in
* The "What IS The Transaction For?" page is opened

**Steps to reproduce:**
1. Go to the "Export my Wallet" page
2. Scroll down to the end of the page
3. Pay attention to the bottom of the page

**Expected result:** The "Export Wallet" page should be displayed fully after scrolling to the end of the page

**Actual result:** The "Export Wallet" page is not

[2021-04-20 13:06] iLystopad commented on #3202
@Zhigamovsky
The same issue with displaying two scrollbars is also reproduced on the "Privacy Policy & Terms" page.

Checked on the QA 1.25.1-8
Device: Windows 10 / Google Chrome v. 90.0.4430.72

Additional info: Laptop 15.6' screen resolution 1366 x 768

Attacmnent:
https://www.dropbox.com/s/dlwv04rrydmvcha/2021-04-20_15-38-10.mp4?dl=0

[2021-04-20 13:45] omerzam commented on #3206
@iLystopad did you manage to save the profile after removing the mobile number?

[2021-04-20 14:12] iLystopad commented on #3188
@Zhigamovsky @serdiukov-o-nordwhale @omerzam
The user is not able to login/sign in to the account with Google/Facebook/ Passwordless on the Android App.

**Checked on the:** Android App [Prod] 1.26.6 (1467)
**Device:** Xiomi Mi 8 / Android 9
Xiaomi Mi Mix 2s / Android 10

**Additional info:**
The "Error 400: invalid_request Invalid parameter value for redirect_uri: Invalid scheme: gooddollar://org

[2021-04-20 14:17] iLystopad commented on #3206
@omerzam Yes it was saved after removing and clicking on the "Save" button
Sorry, I've uploaded the wrong video of the checking, here is the correct one.

Attachment:
https://www.dropbox.com/s/mfd62r3khdf7lm6/Checking%20the%20Save%20button%20on%20the%20React%20Native.mp4?dl=0

[2021-04-20 16:33] serdiukov-o-nordwhale commented on #3188
@iLystopad @omerzam @sirpy
It's seems there's needed more setup on Google/Auth0/FB side

@sirpy please provide creds to such services

Also i've understood why we used http redirect. We redirecting from AOuth to the torus/scripts.html which does redirect to the deep link.
On torus docs the suggest such way in the case OAuth provider doesn't supports deep links.
But i think Dixtra guys just haven't

[2021-04-21 06:23] sirpy commented on #3188
@serdiukov-o-nordwhale ok, so yeah now i remember, you cant use in google a redirect URI that isnt "http"
so browserRedirect is used, then scripts.html reads from params the "redirectUri" which is the "gooddollar" one, and reloads the page with it, causing the deeplink to trigger.

so we need to talk with Torus about this. cause the issue seems having firefox as default browser

[2021-04-21 11:06] iLystopad commented on #3215
The issue is not reproduced. The page is displayed fully after scrolling.

Checked on the QA 1.25.1-8

Device: Windows 10 / Google Chrome 90.0.4430.72
Xiaomi Mi 8 / Android 9 /  Chrome 90.0.4430.66
iPhone 6 / Safary 12.4.1

Attachment:
https://www.dropbox.com/s/du4ovlr1iz99uiz/Checking%20of%20Export%20wallet%20page.mp4?dl=0

[2021-04-21 11:07] iLystopad commented on #3202
The issue is not reproduced. The only one scrollbar is displayed on the "Privacy Policy & Terms" page.

Checked on the QA 1.25.1-8

Device: Windows 10 / Google Chrome 90.0.4430.72
Xiaomi Mi 8 / Android 9 / Chrome 90.0.4430.66
iPhone 6 / Safary 12.4.1

Attachment:
https://www.dropbox.com/s/0q3rbad590jcc5y/Checkin%20scrollbar%20on%20the%20private%20policy%20page.mp4?dl=0

[2021-04-21 11:50] Zhigamovsky commented on #3186
Phone, username, email fields also not changed

[2021-04-21 14:05] serdiukov-o-nordwhale commented on #3188
@sirpy @iLystopad
The issue is with the Firefox itself:
https://github.com/BranchMetrics/android-branch-deep-linking-attribution/issues/339
https://support.mozilla.org/en-US/questions/1219825
https://stackoverflow.com/questions/28407300/redirect-from-mozilla-firefox-to-android-app-deep-linking

And there's still no working solution.
The login is actually performed if to click right-bottom menu, th

[2021-04-21 18:55] sirpy commented on #3188
@serdiukov-o-nordwhale
1. from the links you shared it seems that firefox shows a button to open the native app
https://stackoverflow.com/a/53921373/6379521
so instead of the message to switch to chrome maybe we should show a message to click on that button
2. yes of course we need to notify Torus, its their product, they should think of the best solution.

[2021-04-21 19:01] serdiukov-o-nordwhale commented on #3188
@sirpy the post is a bit outdated. there's no such button anymore. As i wrote above - you need to click right-bottom menu, then select "Open in Firefox" (this opens FF as new app), wait when Firefox opens and loads signup page, then switch back to the app. It's really hard to explain and looks like a huge workaround.
So, a small text message suggesting just to change a single settings value then t

[2021-04-22 07:55] iLystopad commented on #3212
The issue is not reproduced. The Category buttons have the same sizes on the "What IS The Transaction For?" page on the Google Chrome

Checked on the Prod 1.27.1
Device:
Windows 10 / Google Chrome 90.0.4430.85
Xiaomi Mi 8 / Chrome 90.0.4430.66
iPhone 6 / Safari 12.4.1

Attachment: https://www.dropbox.com/s/ve6f2vseeed9yjx/Category%20button.mp4?dl=0

[2021-04-22 07:55] #3212 closed

[2021-04-22 11:50] omerzam commented on #2847
new slackbot deployed

[2021-04-22 11:51] #2847 closed

[2021-04-22 12:41] iLystopad commented on #3188
@serdiukov-o-nordwhale
I've checked the login with such browsers set default like Google, Firefox, Opera, Microsoft Edge, DuckDuckGo, Kiwi Browser, Vivaldi, Samsung Internet Browser, Yandex, Mi Browser.

And the same issue when the user is not redirected from the browser to the app is also reproduced on the:
* DuckDuckGo v. 5.80.0 (58000)
* Mi Browser  v12.9.4-go
* Yandex Browser v 21.2.6 released

[2021-04-22 13:36] iLystopad commented on #3206
The issue is not reproduced. The "Save" button is active after deleting the phone number. The Empty phone number field is saved after taping on the "Save" button

Checked on the Android App [PROD] 1.27.1
Device: Xiaomi Mi 8 / Android 9

Attachment: https://www.dropbox.com/s/kng6i7sppot9kl3/Check%20Save%20button%20on%20the%20PROD.mp4?dl=0

[2021-04-22 13:36] #3206 closed

[2021-04-22 13:38] iLystopad commented on #2993
The issue is not reproduced. Probably it was connected to the gun issue that happened before

[2021-04-22 13:38] #2993 closed

[2021-04-22 13:40] iLystopad commented on #3215
The issue is not reproduced. The page is displayed fully after scrolling.

Checked on the Prod 1.27.1

Device: Windows 10 / Google Chrome 90.0.4430.72
Xiaomi Mi 8 / Android 9 / Chrome 90.0.4430.66
iPhone 6 / Safary 12.4.1

Attachment: https://www.dropbox.com/s/ovvtmdextkhohyt/Scrolling%20on%20the%20Invite%2C%20Export%20Wallet%2C%20Privacy%20policy.mp4?dl=0

[2021-04-22 13:40] #3215 closed

[2021-04-22 13:43] iLystopad commented on #3202
The issue is not reproduced. The only one scrollbar is displayed on the "Invite" and  "Privacy Policy & Terms" page.

Checked on the Prod 1.27.1

Device: Windows 10 / Google Chrome 90.0.4430.72
Xiaomi Mi 8 / Android 9 / Chrome 90.0.4430.66
iPhone 6 / Safary 12.4.1

Attachment: https://www.dropbox.com/s/ovvtmdextkhohyt/Scrolling%20on%20the%20Invite%2C%20Export%20Wallet%2C%20Privacy%20policy.mp4?dl=

[2021-04-22 13:43] #3202 closed

[2021-04-22 15:06] iLystopad opened #3217 "[BUG] The app is not respond to tapping buttons on the "Please turn your camera in portrait mode" screen after turning the device from landscape mode to portrait"
**Description:**
* The user is logged in
* The Phone is in portrait pome
* The Zoom verification window is opened

**Steps to reproduce:**
1. Turn the device to the landscape mode
2. Turn the device to the portrait mode
3. Tap on the "Back" button on the screen
4. Tap on the device back button
5. Tap on the "Try again" button

**Expected result:**  The app is not respond to tapping buttons on the

[2021-04-22 15:29] iLystopad commented on #3199
The issue is not reproduced. The name of the user is displayed in the "To" field after scanning QR to send GD.

Checked on the Prod 1.27.1
Device: Windows 10 / Google Chrome 90
Xiaomi Mi 8 / Android 9 / Google chrome 90

Attachment: https://www.dropbox.com/s/clgicf6lsa9gwi6/Check%20the%20name%20is%20%20displayed%20on%20the%20send%20screen.mp4?dl=0

[2021-04-22 15:29] #3199 closed

[2021-04-23 12:51] iLystopad opened #3218 "[BUG] The app is crashed after login and tapping on the "Edit" button when the name of the user is not uploaded yet"
**Description:**
* The app cash is cleared

**Steps to reproduce:**
1. Launch the App
2. Log in to the account
3. Go to the "My Profile" screen
4. Click on the "Edit" button

**Expected result:** The "Edit Profile" screen should be displayed without crashes after tapping on the "Edit" button

**Actual result:** The app is crashed after login and tapping on the "Edit" button when the name of the us

[2021-04-23 13:13] iLystopad commented on #3198
@serdiukov-o-nordwhale @Zhigamovsky
The issue is still reproduced. The "Uncaught TypeError: Cannot read property 'scales' of undefined" error is displayed in the console after login to the account

Checked on the Prod 1.27.1
Device: Windows 10 / Google Chrome 90.0.4430.72

Additional info:
1tester8913@gmail.com
GD_masterSeed - "beafec4ea7b986090ac3697144cde33b839a5509b7625b2ff79992163e959cf8"
User

[2021-04-25 07:55] omerzam commented on #3198
@iLystopad is this reproduced on QA/Dev?

[2021-04-25 08:20] sirpy commented on #3198
From looking at the error, it seems like a connection issue to fuse
blockchain.
can you verify that this issue is reproducible?
does it happen all the time?
does it happen just for this user?

[2021-04-25 09:20] omerzam commented on #3205
this wallet has joined using an invite link and has gotten a 50G$ reward for it
I can also see he received a reward of 100G$ for inviting wallet address 0xAD71CFa8FF8855441fca65CE74efb97a2114ebf7
this address also received his 50G$ properly

with the absence of the other wallets, this is all the info I can give you at this point

[2021-04-26 09:17] iLystopad commented on #3186
@omerzam @serdiukov-o-nordwhale
Some images are not updated on the native app after changing it on the same account on the web app.

Checked on the Android App (Prod) 1.27.1 (1486)
Device: Xiaomi Mi8 / Android 9

Attachment:
Video: https://www.dropbox.com/s/kgts0utsg5noe3a/Profile%20update%20on%20the%20App.mp4?dl=0

logs: [https://app.zenhub.com/files/166818382/86c4f727-4800-4d38-94fc-9ba5d385eaea

[2021-04-26 09:24] omerzam commented on #3188
@Esfir-E some advice regarding the message content here is needed

[2021-04-26 10:01] omerzam commented on #3218
@iLystopad cannot reproduce
cleared cache on native app signed in and went to edit profile window and app did not crash
on web cleared cache signed in and went to edit profile window and no apparent errors

[2021-04-26 11:34] serdiukov-o-nordwhale opened #3219 "(Enhancement) Update text showing in the browsers doesn't supports deep link redirect"
![3e6b0500-7394-4050-87fc-259aa3029fad.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/46178231-7e1f-4228-b5ed-a63da968ef3c)

@Esfir-E some advice regarding the message content here is needed

Original task: https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/3188

[2021-04-26 11:35] #3188 closed

[2021-04-26 13:21] sirpy commented on #3205
@Esfir-E @omerzam because of the gundb issues the claim feed item might not appear. but the explorer.fuse.io should show if user claimed or not

[2021-04-26 13:23] sirpy commented on #3205
@Esfir-E the user didnt claim in the past 16days

[2021-04-26 13:27] iLystopad commented on #3198
@omerzam I've not caught this error on the QA environment when it has been testing

[2021-04-26 13:33] iLystopad commented on #3198
@sirpy
1) I don't know the steps, how to reproduce this issue, it happens sometimes after login to the account.
2) It does not happen all time.
3) It happened with different users at different times.

[2021-04-26 13:40] sirpy commented on #3198
@iLystopad ok lets monitor this, next time it happens try to notify us in real time on slack
@serdiukov-o-nordwhale @omerzam

[2021-04-26 20:32] sno2 commented on #3162
Hey, you can read my my statement above.  Can someone please create a repo under this org that I can push or update with PR in?

[2021-04-27 06:33] sirpy commented on #3162
@sno2
https://github.com/GoodDollar/PaymentSDK

[2021-04-27 08:28] omerzam commented on #3188
@serdiukov-o-nordwhale please link this ticket with the new ticket

[2021-04-27 13:48] iLystopad commented on #3189
@omerzam @serdiukov-o-nordwhale Update for the ticket

[Bug] The "Sorry, something unexpected happened, please try again. Error: E8" pop up is displayed after the user sign up with the Facebook account that has been registered via the phone number

**Precondition:**
* The user has a Facebook account that has been registered only with a phone number.

**Steps to reproduce:**
1. Open https://wallet.

[2021-04-28 07:44] omerzam commented on #3189
this is what causes the errors on the server side described in ticket [3214](https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/3214)

[2021-04-29 04:19] sno2 commented on #3162
@sirpy Sorry, I can't work on the bounty.  I couldn't figure out a way to asynchronously generate images as QR codes in `Uint8Array`.  All of the qr code npm packages I could find were using callbacks which I could of course promisifiy, but they injected the qr codes into an HTML canvas.  However, you can't access the canvas any DOM elements in Node.js which blocked my entire work.

[2021-04-29 06:06] sirpy commented on #3162
@sno2 lets skip the QR part for now, i'll research it.
i'm not sure why you have an issue, you can use the same QR package we use on the wallet.
but in the meantime generating payment link is enough

[2021-04-29 08:32] sirpy commented on #3162
@sno2 this package seems to support async/await and nodejs
https://www.npmjs.com/package/qrcode

[2021-04-29 08:39] sirpy commented on #3162
this works perfectly fine in the above package, it returns an image in base64 that can be used directly in `<img>`
[code]

[2021-04-30 14:22] iLystopad commented on #3189
@omerzam @serdiukov-o-nordwhale
[BUG] The ""New user failure" "Seems like you didn't fill your Mobile" E8: Seems like you didn't fill your Mobile" error message is displayed in the console after sign up with the Facebook account that has been registered via the phone number

**Precondition:**
* The user has a Facebook account that has been registered only with a phone number.

**Steps to reproduce

[2021-05-03 12:37] sirpy commented on #3162
@sno2 ??

[2021-05-03 12:39] sno2 commented on #3162
Sorry I have exams this week.  I had time to do it last week but not now.  I already cancelled my offer.

[2021-05-05 08:49] iLystopad opened #3223 "[BUG] The rewards cards are not displayed in the feed after passing FV by an invitee"
**Description:**  The rewards cards are not displayed in the feed after passing FV by an invitee.
"{from: "FeedStorage"} "handleReceiptUpdate failed" "Cannot set property 'reason' of undefined" TypeError: Cannot read property 'reason' of undefined" error is displayed in the console

**Pre-conditions:**
* User is signed up via invite link
* User is logged in

**Steps to reproduce:**
1. Pass the Fac

[2021-05-05 11:41] serdiukov-o-nordwhale opened #3224 "(Chore) Upgrade FaceTec SDK to 9.2.2"
- [x] update RN package with the new mobile SDK
- [x] update i18n strings and UI customisation for Android
- [x] update i18n strings and UI customisation for Web

[2021-05-05 11:42] serdiukov-o-nordwhale commented on #3224
follows from #3217

[2021-05-05 11:57] sirpy commented on #2639
@serdiukov-o-nordwhale this is basically done, why is it in the sprint?

[2021-05-05 11:57] sirpy commented on #867
@serdiukov-o-nordwhale also this is done why is it in progress?

[2021-05-05 11:58] serdiukov-o-nordwhale commented on #2639
@sirpy it's included/relates to the new feed PR which isn't completely fixed yet

[2021-05-05 12:01] serdiukov-o-nordwhale commented on #867
@sirpy this is also related to the new feed - some bugs were found and not yet fixed

[2021-05-05 12:02] serdiukov-o-nordwhale opened #3225 "(Bug) App crashes if change device orientation during FV initialize"
An internal "Camera access denied" popup appears in this case (despite camera permissions management is disabled in the customization options and it's performed by the GD app, on the intro screen). Then FV session crashes with unhandled exception and it's impossible to start FV again.

Update to the latest SDK doesn't helped.

As temporary solution:
- [x] use mutations observer to handle if this d

[2021-05-06 07:48] iLystopad opened #3228 "[BUG] The endless spinner is displayed on the "Process Payment" popup after opening own "Request specific amount" link"
**Pre-conditions:**
* The user is logged in.
* The user has copied his own Request payment link

**Steps to reproduce:**
1. Paste the "Request specific amount" link from preconditions to the browser address field
2. Press "Enter" on the keyboard
3. Pay attention to the "Process Payment" popup

**Expected result:** The error popup that the user can not open own link is displayed after opening own "

[2021-05-07 14:13] #3224 closed

[2021-05-07 14:14] #3225 closed

[2021-05-09 07:41] #3166 closed

[2021-05-11 08:44] lenkaborshch commented on #2830
@serdiukov-o-nordwhale Did you manage to solve this problem?

[2021-05-11 08:52] serdiukov-o-nordwhale commented on #2830
@lenkaborshch not yet, it's not a priority for now

[2021-05-12 08:39] omerzam commented on #3223
we need to fix this bug before releasing https://app.zenhub.com/workspace/o/gooddollar/gooddapp/issues/2788

[2021-05-12 10:09] #3217 closed

[2021-05-18 08:10] iLystopad opened #3238 "[BUG] "TypeError: $.a is not a constructor" error is displayed in the console on the Sign in/ Login page after opening the page"
**Description:**  "TypeError: $.a is not a constructor" error is displayed in the console on the Sign in/ Login page after opening the page
**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Pay attention to the console

**Actual result:** "TypeError: $.a is not a constructor" error is displayed in the console on the Sign in/ Login page after opening the page

**Expected result:** The

[2021-05-18 10:16] serdiukov-o-nordwhale commented on #3238
@iLystopad fixed.
clear app's data and hard-refresh gooddev to get updated version
after you'll test dev you could release qa

[2021-05-19 07:36] iLystopad commented on #3223
@serdiukov-o-nordwhale The invitee gets the card with wrong amount of the reward after passing FV

**Checked on the** DEV 1.25.1-12
**Device:** Windows 10 // Google Chrome 90

**Attachment:**
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/42d255d7-3f6b-4991-8539-4aeccc27e1b8)

[2021-05-19 08:05] iLystopad commented on #3238
@serdiukov-o-nordwhale The issue is not reproduced. The error is not displayed in the console. The user is able to sign in/up.

**Checked on the** DEV 1.25.1-12 // QA 1.25.1-13
**Device:** Windows 10 // Google v90
iPhone 6 // iOS 12.4.1 // Safari

**Attachment:**
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/7bf70f37-58e3-4e61-b188-6c36cb929bae)

[2021-05-19 08:06] #3238 closed

[2021-05-19 08:33] serdiukov-o-nordwhale commented on #3223
The amount of reward comes from contracts we just displaying it
Please open the new ticket for that and assign it to @sirpy

[2021-05-19 09:32] sirpy opened #3239 "user unable to set mobile in profile"
tested on qa
- user enters mobile in profile edit screen
- user sees verify request screen
- user press "verify" button
- user is sent back to profile edit screen

expected
after user press the "verify" button an SMS is sent and user is shown the form to fill the OTP code

[2021-05-19 09:35] iLystopad opened #3240 "[BUG] The amount of received reward is displayed incorrectly on the feed card of the invitee after passing FV"
**Description:** The amount of received reward is displayed incorrectly on the feed card of the invitee after passing FV

**Pre-conditions:**
* The user is signed up as an invitee
* The user is logged in

**Steps to reproduce:**
1. Pass the Face Verification
2. Go to the home page
3. Pay attention to the received reward card

**Actual result:** The amount of received reward is displayed incorrectl

[2021-05-19 11:00] iLystopad commented on #3189
@omerzam @serdiukov-o-nordwhale  The issue is not reproduced. The user is able to sign up without issues with the Facebook account that has been created only with phone number

**Checked on the** QA 1.25.1-13
**Device:** Windows 10 // Google Chrome v90

**Attachment:**
https://www.screencast.com/t/I68x6p6YuS

[2021-05-20 12:29] serdiukov-o-nordwhale commented on #3187
Unfortunately there're just a bit p2p + realtime solutions, most of them aren't exactly we want to have.

Firebase is pretty good but it could be hosted on Google (no self custody)
rxDB would be a good solution but its main purpose is offline apps development. Replication feature considers sync with servers once app restores connection mostly.

To achieve the maximum performance, stability and to

[2021-05-24 11:18] omerzam opened #3243 "(Bug)The user complain she is unable to enter her account via the android app"
The user is getting a 403 error message when trying to login via Native app (android)
when login via web, the login works fine

Expected result: user should be able to sign in to the same account with both webapp and android app

![big-image.png](https://images.zenhubusercontent.com/5f8d49feb08c97513eb10304/b3f9df28-6b48-41e4-9956-5ec7f5faaf15)

[2021-05-24 11:20] omerzam commented on #3243
@iLystopad can you check if you can reproduce this issue?

[2021-05-24 11:43] omerzam opened #3244 "(bug) Support Case:Sign in with Facebook on android beta opens a new wallet"
the user was unable to login with his Facebook login however to the web app he was able to enter. the beta app prompts him to create a new account

Expected result: User should be able to login with Facebook account on React Native app

extra data:
when you reload the page, what is the version number that you see?: 1.27.1
What device was used? I use sony xz2
What was the operating system? Android

[2021-05-24 11:43] omerzam commented on #3244
@iLystopad can you try to reproduce please

[2021-05-24 11:52] sirpy commented on #3243
lets ask torus about it also, maybe they know why it might happen

[2021-05-24 12:15] serdiukov-o-nordwhale commented on #3243
@omerzam @sirpy to contact Torus we need more details about the issue:

- Android version
- which browser is installed as default one (+version)
- which are other browsers installed in the system (in the case if Chrome isn't default + theirs versions)

[2021-05-24 12:18] omerzam commented on #3243
disallowed_useragent seems to be an error coming from google when trying to sign in using webview or some unauthorized browser

[2021-05-24 12:26] serdiukov-o-nordwhale commented on #3243
@omerzam this could happens if
a) user have no chrome installed
b) in that case first installed/available browser from  following list will be selected:
[code]
3) if google have restictions for this browser - we'll have the issue.

need to test with the browsers from that list and exclude all non-supported by Google (for now by the package patch)
and also ask Torus to add an option to exclude some

[2021-05-24 13:35] iLystopad commented on #3244
@omerzam I cannot reproduce this issue. I tried to log in with different Facebook accounts and it was logging in without issues.
Unfortunately, I don't have the Sony xz2, I checked it on the Xiaomi Mi8 with Android version 9 and Honor with android version 10.
Also, I tried to install Chrome Webview 90.0.4430.91 but the Gooddollar app is crashed after launching

Checked on the Android App Version 1

[2021-05-24 14:35] serdiukov-o-nordwhale commented on #3243
@omerzam @sirpy I just checked google login with Chrome and FF as default browsers
Everything is working fine in both cases. The custom tabs feature is working and and Chrome is opening always, even if it's not selected as default browser.

So the issue is in the browser the customer is using / have installed and we still need more details.

[2021-05-24 14:55] iLystopad commented on #3243
@serdiukov-o-nordwhale @omerzam I also checked it with the browsers from the list above and I didn't get that error

[2021-05-24 15:20] iLystopad commented on #3243
@omerzam @serdiukov-o-nordwhale I've caught the same error after login via the XBrowser
![Screenshot_20210516_080624_com.xbrowser.play.jpg](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/c116a45e-6058-47c2-90db-0ecda19ca81e)

[2021-05-24 16:25] omerzam commented on #3244
did you always get the same wallet with both webapp and react native for a specific Facebook account?

[2021-05-25 10:43] sirpy opened #3245 "New user feed is empty"
when I open a new account using self custody on dev the feed is empty without the welcome message

**update**
the feed is udpated but after quite a long time

![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/7d1eb815-be7f-4c55-806c-9bd84310ec3f)

[2021-05-25 11:23] serdiukov-o-nordwhale commented on #3243
@iLystopad please describe all steps how to reproduce it with XBrowser
i installed it and tried to authorize having Chrome then XBrowser as the default one
in both cases everything went fine, error wasn't reproduced

[2021-05-25 11:33] serdiukov-o-nordwhale commented on #3243
Also, XBrowser have bundle id `com.xbrowser.play` which isn't listed in Torus sources.
So i suppose the only way it could be selected for login is if you a) have XBrowser installed as default b) don't have any other Webkit-based browser **installed** on your system (e.g. Chrome + browsers from the list). In this case Torus will just fallback to the default in-app browser (which refeers to the XBro

[2021-05-25 11:37] iLystopad commented on #3243
@serdiukov-o-nordwhale For me, it is reproduced when the Xbrowser is set as default, even if supported browsers are installed
Video: https://www.screencast.com/t/7Ud2MuYmL

Checked on the Xiaomi Mi 8 // Android 9
Xbrowser version 3.5.8 build 549

[2021-05-25 11:45] serdiukov-o-nordwhale commented on #3243
@iLystopad it's seems there're some issues with the Custom tabs on Android 9 (my Nokia is running Android 10) so the default browser is always used.

Could you please re-test it on any device having Android 10 ?

[2021-05-25 12:14] iLystopad commented on #3243
The same issue is reproduced on Android 10.

Checked on the Huawei p20 // Android 10
Environment: Android app 1.27.1 (1486)

Attachment: https://www.screencast.com/t/QjXnVJwtUYU

[2021-05-25 13:01] iLystopad commented on #3244
@omerzam i got the same wallet address all time after login and after signing up with the same Facebook accounts, even when deleting an account and then sign up again on the android app - got the same address

Checked on the web app Prod 1.27.1
Android app 1.27.1 (1486)

Attachment: https://www.screencast.com/t/Mh5uPJSF7

[2021-05-25 13:04] sirpy commented on #3244
that's the expected behaviour also in the web wallet.
there's 1-1 connection between google email->private key, facebook id ->
private key, phone number->private key

[2021-05-25 14:17] #2831 closed

[2021-05-25 14:19] sirpy opened #3248 "Users report that they didnt get invite reward even though invitee registered with link"
one possible cause is that users refresh page or somehow open our website again not with invite link

possible solution:
persist invite code in asyncstorage

[2021-05-25 14:44] omerzam commented on #3239
@sirpy do we want to verify every time the user updates his number or only if the user did not verify a number before? (number field is empty and the user know filled it for the first time)

[2021-05-25 15:56] serdiukov-o-nordwhale commented on #3243
@sirpy @omerzam

1. the issue couldn't be fixed as not all device-specific Android versions are supporting custom tabs
2. but they could add an option to throw an exception if current browser isn't Chrome and couldn't be switched to Chrome during sign in. In that case we could show some popup and suggest user to install Chrome and set is as default browser to complete sign in

[2021-05-25 16:32] serdiukov-o-nordwhale commented on #3218
The issue isn't reproducing with the latest master.
@iLystopad  Pleace re-check

[2021-05-25 16:35] serdiukov-o-nordwhale commented on #3186
For now profile is updating without any issues except the avatar field.

If to update avatar on the web, on native it's not updated.
If restart native app, avatar is updated but if to edit profile, in the 'edit avatar' picker the old avatar is displayed.

Will look what's wrong with the avatar tomorrow

[2021-05-26 05:53] sirpy commented on #3239
@omerzam we need to verify every time the user changes his number.
i guess alreadyVerified should return true if hash(new mobile)==userRecord.mobile && userRecord.isMobileVerified (already hashed)

[2021-05-26 07:29] iLystopad commented on #3223
@serdiukov-o-nordwhale @omerzam
The issue is reproduced again. The rewards cards are not displayed in the feed after passing FV by an invitee.

Checked on the DEV 1.25.1-15
Device Windows 10 // Google Chrome v90

Attachment: https://www.screencast.com/t/o6ajCK6Y2

[2021-05-26 08:11] omerzam commented on #3244
I know, some beta users are complaining about getting a new wallet while using the same sign-in method they use on the android beta app

[2021-05-26 09:12] iLystopad commented on #2788
@omerzam
[BUG] The "Ooops... The transaction is still pending, it can't be canceled right now" popup is displayed after clicking on the "Cancel link" button

Preconditions:

The user is logged in
The payment pending card is in the feed
Steps to reproduce:
1. Click on the "Payment pending" card
2. Click on the "Cancel link" button
3. Pay attention to the Error popup

Actual result: The "Ooops... Th

[2021-05-26 09:34] iLystopad commented on #2788
@omerzam
**[BUG]** The Pending card is displayed for the sender after completing txs

**Preconditions:**
* The user A is logged in

**Steps to reproduce:**
1. Create the send payment by the User A
2. Open payment link by User B
3. Pay attention to the feed of user A

**Actual result:** The Pending card is displayed for the sender after completing txs

**Expected result:** The Pending type of card

[2021-05-26 09:45] iLystopad commented on #2788
@omerzam [BUG] The receiver name and avatar are displayed on the receive type card on the "From:" section instead of name and avatar of the sender after regular sending via link

**Preconditions:**
* The user A is logged in

**Steps to reproduce:**
1. Create the send payment by the User A
2. Open payment link by User B
3. Pay attention to the name and avatar on the receive card of the user B

Actu

[2021-05-26 10:00] iLystopad commented on #2788
@omerzam [BUG] The Receive type cards with status Completed  are not displayed for the Receiver after making a transaction via QR code, Request Specific amount link, and Wallet link

**Preconditions:**
* The user A is logged in

**Steps to reproduce:**
1. Open Scan QR code page
2. Scan the Qr code of user B
3. Complete the txs flow
4. Pay attention to the feed of the user B

**Actual result:** The

[2021-05-26 10:17] serdiukov-o-nordwhale commented on #3223
I see no error in the console. It's seems it's related now to the feed fixes were merged 2 days ago, because there were changes in the place i fixed.
I adjusted those changes to keep the fix but it's seems now the reason may be in the new feed updates logic

@omerzam could you please look onto it ?

[2021-05-26 12:17] iLystopad commented on #3218
@serdiukov-o-nordwhale
The issue is not reproduced. The name of a user is displayed instantly after logging in/ Signing up on the staging env.
Will be checked on the Prod version after release.

Checked on the Android app 1.25.1-16 (1527)
Device: Xiaomi Mi 8 // Android 9

[2021-05-27 06:27] phuctm97 commented on #3243
Open a PR in torusresearch/torus-direct-android-sdk#9 to allow workaround this.

[2021-05-27 10:04] serdiukov-o-nordwhale commented on #3243
@phuctm97 Thanks! Waiting for the new version release

[2021-05-27 15:21] iLystopad commented on #3198
The GD logo is displayed without issues on the Web app and Android app after changing to the SVG component.
Cannot reproduce displaying of  "Uncaught TypeError: Cannot read property 'scales' of underfind" error because it is floating, so it will be checked on the prod for some time after release will it appear or not.

Checked on the QA 1.25.1-17
Android app 1.25.1-17 (1530)

Devices: Xiaomi Mi8 /

[2021-05-28 10:13] serdiukov-o-nordwhale commented on #3186
The reason is that there's inconsistence between encrypted and display value for the avatar field.
After avatar updated the display value contains the new base64 when the old value is still kept SEA-encoded

Also it's strange that after **updating avatar on native** it update on web but not vice versa.

So, the additional research required, need to investigate both (web+native) versions to underst

[2021-05-28 12:02] iLystopad commented on #3239
@omerzam  [BUG]The user didn't receive the OTP code after entering the Phone number into the phone number field

Precondition:
* The user has a phone number on the User profile
* The Edit profile page is opened

Steps to reproduce:
1. Delete Phone number from the field
2. Click on the "Save" button
3. Go to the Edit profile page
4. Enter the same as deleted phone number
5. Click outside the field

[2021-05-29 17:14] serdiukov-o-nordwhale commented on #3186
It's seems the issue is somewhere in the gunDB, probably in its async storage wrapper

when mobile + web are running together - everything is ok
when change any field except avatar on native close it then check the web (or vice versa) - everything is ok

the issue happens only when you changing avatar on the web. then on native Gun returns the old public value
it's seems when value reaches some th

[2021-05-30 05:54] sirpy commented on #3186
is amazon p2p? no.
we can use ipfs. see https://nft.storage

[2021-05-30 10:13] serdiukov-o-nordwhale commented on #3186
As it also have client js api - I'm ok with it, but we need to check Is this service stable and production ready

[2021-05-30 10:14] serdiukov-o-nordwhale commented on #3186
I see it's beta by now. Maybe you know similar services are already in production ?

[2021-05-30 11:12] omerzam commented on #3239
this is actually a non-issue since the only case in which this behavior is reproduced is when the user enters a number in the empty mobile field which he already verified before, if a new number is entered then the number will be verified as expected
I suggest reverting this PR
@sirpy @serdiukov-o-nordwhale your input on this issue?

[2021-05-31 08:11] omerzam commented on #3205
@Esfir-E @sirpy I am closing this issue

[2021-05-31 08:11] #3205 closed

[2021-05-31 08:17] #2945 closed

[2021-05-31 08:18] #3204 closed

[2021-05-31 10:11] serdiukov-o-nordwhale commented on #3239
@omerzam according to the @sirpy 's suggestion we have to verify phone on each change despite is it verified server side or not.

for the case @iLystopad described we have to get OTP after entering the previous phone number

e.g.
edit profile -> input +3801234567 -> get otp/confirm (old = null, new = +3801234567 old <> new)
edit profile -> delete phone -> no OTP (old +3801234567, new = null, old <

[2021-05-31 11:09] serdiukov-o-nordwhale commented on #3186
Will temporary use NFT storage

[2021-05-31 11:22] serdiukov-o-nordwhale opened #3252 "Research hypecore"

[2021-05-31 13:24] serdiukov-o-nordwhale commented on #3186
Checked nft solution - it's working:

[code]

Started applying it to store avatars in the GD app

[2021-05-31 21:36] serdiukov-o-nordwhale commented on #3186
Created tryout app compatible with web & native.
The app is a simple avatar manager which:

a) uses string CIDs as link to the avatar image
b) keeps CID of the avatar selected in the local storage
c) allows to upload/change avatar onto p2p storage
d) allows to remove it.

The avatars are stored as unnamed raw base64 strings are data urls to keep the maximum compatibility with the current GUNDB sol

[2021-06-01 08:38] sirpy commented on #3245
@serdiukov-o-nordwhale @omerzam i think my fixes in #2788 fixed this

[2021-06-01 09:20] serdiukov-o-nordwhale commented on #3245
@sirpy okay, will put this task on QA once PR will be merged

[2021-06-01 12:01] serdiukov-o-nordwhale commented on #3186
Fixed tryout app to work on Android too. Starting to implement nft storage to keep avatars in the GD app

[2021-06-02 07:46] iLystopad opened #3254 "[Bug] ""Resend sms code failed" "Request failed with status code 400" Error: Request failed with status code 400" error is displayed in the console after clicking on the "Send the code again""
Pre-conditions:
*The Verification code form is opened

Steps to reproduce:
1. Click on the "Send the code again"

Expected result:  The user should receive the SMS with code after clicking on the "Send the code again"

Actual result: ""Resend SMS code failed" "Request failed with status code 400" Error: Request failed with status code 400" error is displayed in the console after clicking on the "S

[2021-06-02 07:47] sirpy commented on #3254
@iLystopad i belive we discussed this. this is due to rate limit. try via a VPN ip address

[2021-06-02 07:49] sirpy commented on #3254
@omerzam open an issue for new "rate limits handling" and lets discuss it

[2021-06-02 08:48] omerzam commented on #3245
@iLystopad please note that the feed PR #2788 should fix this bug, please check this as well

[2021-06-02 08:53] iLystopad commented on #3254
@sirpy but I guess it is different from what we discussed before because the user gets the SMS the first time, but when the user clicks on the Send the code again he gets this issue, with changing the IP via VPN the same issue

[2021-06-02 09:11] iLystopad commented on #2268
The FV works without issues. The user is able to pass FV. The updating of the production keys will be checked on the Prod

[2021-06-02 10:41] iLystopad commented on #867
@omerzam [BUG] The reason is not displayed on the receiving cards after making txs via QR code/wallet link/request specific amount

**Pre-conditions:**
* The user A is logged in
* The User B is logged in on another device
* User A has received the "Request specific amount" payment link with filled reason from User B

**Steps to reproduced:**
1. Open payment link from preconditions
2. Confirm the P

[2021-06-02 10:44] iLystopad commented on #2791
The issue is not reproduced. The payment cards are displayed according to their current status.

[2021-06-02 10:57] iLystopad commented on #2639
The "Transaction details" link and TX ID are displayed on the txs cards. The Transaction detail page of the relevant txs  is opened on the Fuse after clicking on the "Transaction Details" link
Checked on the QA 1.25.1-20
Windows 10 // Google Chrome v90
Attachment: https://www.screencast.com/t/voRzKv3BogGI

[2021-06-02 11:29] phuctm97 commented on #3243
We released new version, there's simple docs in the release note here: https://github.com/torusresearch/torus-direct-react-native-sdk/releases/tag/v0.5.0

[2021-06-02 13:03] iLystopad commented on #3240
@omerzam @serdiukov-o-nordwhale @sirpy
The issue is also reproduced on the QA

Checked on the QA 1.25.1-20
windows 10 // Google Chrome v90

Attachment: https://www.screencast.com/t/qDIjFDzCGG

[2021-06-02 13:18] iLystopad commented on #3223
@omerzam I've checked it on the QA environment and it works ok, the reward cards are displayed after passing the FV.
so I think it can be closed

Checked on the QA 1.25.1-20
Windows 10 / Google Chrome v90

Attachment: https://www.screencast.com/t/vRaTgkq9l1YS

[2021-06-02 14:51] iLystopad commented on #3248
The invite code is saved in the local storage. The user is signed up as an invitee even if he refreshes the pages or changes the signup method.

Checked on the QA 1.25.1-20
Windows 10 // Google Chrome v90
MacBook Air 13" (MMGF2) New 2016 (8Gb RAM)	Mojave Version 10.14.1// Safari

Attachment: https://www.screencast.com/t/6TGi16ev2te

[2021-06-02 16:18] iLystopad commented on #3239
@omerzam There is an issue regarding the case when the user enters a recently deleted phone number.

**Actual result:** The VERIFYEDIT page is opened after the user enter to the phone number field on the Edit page the verified number that was recently deleted

**Expected result:** The following flow should be -
1) Select the empty Phone number rfield
2) The user enters the same number that was ver

[2021-06-02 16:45] iLystopad opened #3255 "[BUG] The black screen is displayed on the Zoom Verification screen after scanning fake face"
**Pre-conditions:**
*The Zoom face verification screen is opened

**Steps to reproduce:**
1. Scan the fake face e.g. printed schematic face

**Expected result:** The FV page should be displayed without issues after scanning fake face

**Actual result:** The black screen is displayed on the Zoom Verification screen after scanning fake face

**Environment:** QA 1.25.1-20

**Devices list:** Windows 1

[2021-06-03 05:32] sirpy commented on #3240
@omerzam @serdiukov-o-nordwhale
the received amount is correct only the card display is incorrect

[2021-06-03 05:39] sirpy commented on #3254
@omerzam @serdiukov-o-nordwhale
this doesnt happen on signup with auth0, but when user edit his mobile. it reproduced for me also

[2021-06-03 08:11] iLystopad commented on #3245
@sirpy How long it was updating the feed? And how much time it should take?

[2021-06-03 08:38] omerzam commented on #3240
@iLystopad does this reproduce on prod?

[2021-06-03 09:15] iLystopad commented on #3240
@omerzam It is not reproduced on PROD. The received rewards by users are correctly displayed on the cards.

Checked on the PROD 1.27.1

Attachment: https://www.screencast.com/t/Fd0q9CmA5

[2021-06-03 11:12] iLystopad opened #3256 "[BUG] The small avatar is not updated on the Feed cards after changing it on the User Profile"
**Pre-conditions:**
* The User X is logged in
* The user B is logged in on the other device
* The user X has completed txs with user B

**Steps to reproduce:**
1) Change the profile photo of the User A
2) Look at txs cards on the feed of user B

**Expected result:** The small avatar on the txs cards should be updated after changing the Profile photo

**Actual result:** The small avatar is not upda

[2021-06-03 12:13] serdiukov-o-nordwhale commented on #3255
It could be some customization issue. Looks like wrong styles are applied to the overlay.
But also it could be an internal Facetec's issue. Need to investigate. As this bug is tolerant (issue not reproduces on the real faces) - we'll postpone it. Maybe will delegate it to someone from the new developers

[2021-06-03 12:58] iLystopad commented on #3245
The updating of the feed for newly created accounts takes 3-6 sec
Attachment: https://www.screencast.com/t/vS1uiozC6

The updating of the feed for accounts with a lot of the cards takes 9-12 sec
Attachment: https://www.screencast.com/t/lvd4toeMth

Checked on the QA 1.25.1-20

[2021-06-03 13:38] iLystopad commented on #3255
[BUG] The Zoom Face Verification popup displayed incorrectly after turning the device to landscape and turn back.

Checked on the DEV 1.25.1-20
Attachment: https://www.screencast.com/t/uLdXGqFA1U

[2021-06-04 16:02] iLystopad commented on #867
@omerzam The Issue is still reproduced.

Also, the updating feed logs are displayed in the console all time after displaying the card with unloaded reason on the feed and probably it causes the loading of all RAM on the PC

Checked on the QA 1.25.1-21

Attachment:
https://www.screencast.com/t/4dQXcYHBkAnD

The video with the loading of the RAM (One opened page loads all free RAM on the PC)
https:/

[2021-06-04 16:06] iLystopad commented on #3240
The issue is not reproduced. The amounts are correct displayed on the reward Cards for the inviter and invitee

Checked on the QA 1.25.1-21
Windows 10/ Google Chrome v90

[2021-06-04 16:23] iLystopad opened #3259 "[Bug] The White screen is displayed on the opened app after collapsing the app by double tapping on the device Back button"
**Description:** The White screen is displayed on the opened app after collapsing the app by double-tapping on the device Back button

**Steps to reproduce:**
1) Launch the App
2) Tap twice on the Device Back button
3) Tap on the App icon
4) Pay attention to the white screen

**Expected result:** The screen that was displayed before collapsing should be displayed after reopening the app

**Actual

[2021-06-06 10:16] serdiukov-o-nordwhale opened #3261 "Implement profile avatars storage on IPFS"
- [x] keep the following data structure of the JSON with upload to IPFS
   - avatar/smallAvatar: CID
- [x] other users should be able to read a user smallAvatar

[2021-06-06 10:17] serdiukov-o-nordwhale opened #3262 "Implement feed on realmdb"
Thread functionality for feed
https://docs.textile.io/threads/
- [x] install and implement basic login
- [x] verify it works in react-native.
- [x] add an update script that writes user's feed to textile

[2021-06-06 10:18] #3187 closed

[2021-06-06 10:19] #3209 closed

[2021-06-06 10:34] sirpy commented on #3256
@iLystopad that's currently the expected behaviour.
we keep a copy of the current name/avatar User B in the User A feed

[2021-06-06 10:34] #3256 closed

[2021-06-06 10:43] sirpy commented on #2939
@omerzam
the new behaviour should be as follows
1. first + second attempt use the verify twilio account id
2. 3rd request use the programable sms twilio accounts id
3. 4th request should send code via voice
4. 5th+ attempts should be blocked for 1 hour (by phone number)
5. rate limit requests on client/cloud flare worker to 1 minute (by phone number)

[2021-06-06 10:44] #3252 closed

[2021-06-07 12:39] sirpy commented on #3262
@serdiukov-o-nordwhale updated

[2021-06-07 12:39] #3210 closed

[2021-06-07 12:39] #3208 closed

[2021-06-07 12:52] sirpy opened #3264 "research how to implement basic feed with textile"
Investigate
- [ ] when working with feed do we need to use cache? or read directly from textile
- [ ] we need to fetch feed items sorted by date, textile has some sorting options. does it sort on the backend or client side? test with querying a large feed
- [ ] if we use cache how do we sort feed items? we keep them sorted in another cache structure? do we just use textile to save feed item and sy

[2021-06-08 11:39] iLystopad commented on #3239
The verification of the new phone number works without issues.
The flow of entering a recently deleted verified number is correct.

Checked on the QA 1.25.1-24
Device Windows 10 // Google Chrome v90

Attachment: https://www.screencast.com/t/kOdrDrX6z

[2021-06-09 08:43] iLystopad opened #3267 "[BUG] The images on the Send/Receive completed popup on the Android app are different than on the web app"
**Pre-conditions:**
* The user is logged in
* The user has different types of txs cards

**Steps to reproduce:**
1. Launch the app
2. Tap on the Send/Receive Completed card
3. Pay attention to the image on the opened popup

**Actual result:** The images on the Send/Receive completed popup on the Android app  are different than on the web app

**Expected result:** The images on the Send/Receive com

[2021-06-09 14:22] iLystopad opened #3268 "[BUG] The Welcome page is not displayed fully on the device with small screen size"
**Description:** The Welcome page is not displayed fully and is not scrolled on the device with a screen size from 4" to  5". The issue is reproduced on Safari and Chrome

**Pre-conditions:**
* The browser data is cleared

**Steps to reproduce:**
1. Open the page https://wallet.gooddollar.org/
2. Pay attention to the bottom of the screen

**Expected result:** The Welcome page is not displayed full

[2021-06-10 09:34] iLystopad commented on #3259
@serdiukov-o-nordwhale
**Here is new logs of the issue:**
Steps:
1) Launch the App
2) Tap on the "Skip and create wallet" button
3) Tap twice on the Device Back button
4) Tap on the App icon
5) Pay attention to the white screen

[https://app.zenhub.com/files/166818382/e85d4279-5e0c-4bd5-89bb-982e7394711a/download](https://app.zenhub.com/files/166818382/e85d4279-5e0c-4bd5-89bb-982e7394711a/download

[2021-06-11 12:21] iLystopad opened #3270 "[BUG] The splash screen has not filled all screen after launching the app on some devices"
**Steps to reproduce:**
1. Launch the app
2. Pay attention to the splash screen

**Expected result:** The splash screen should fill all screen after launching the app on some devices

**Actual result:** The splash screen has not filled all screen after launching the app on some devices

**Environment:**  Android App [Staging] 1.25.1-25 (1564)

**Devices list:**
Google Pixel 3a XL // Android 11 //

[2021-06-11 12:25] iLystopad commented on #3270
@serdiukov-o-nordwhale  The numbers on the counter are cropped on the Claim screen

Environment: Android App [Staging] 1.25.1-25 (1564)
Devices list:
Google Pixel 3a XL // Android 11 // screen size 1080x2160 / 6.0"/18:9

Attachment:  https://www.screencast.com/t/M8WxIYbXtY

[2021-06-11 12:35] iLystopad commented on #3270
@serdiukov-o-nordwhale The opened feed cards are displayed incorrectly and are shifted more after horizontal scrolling

Environment: Android App [Staging] 1.25.1-25 (1564)
Devices list:
Google Pixel 3a XL // Android 11 // screen size 1080x2160 / 6.0"/18:9

Attachment:
https://www.screencast.com/t/tAZ3K6Ev

[2021-06-11 15:57] iLystopad commented on #3186
@serdiukov-o-nordwhale The issue is not reproduced. All images downloaded to the profile from the web app are displayed on native without issues. Also, checked cases when the image is downloaded on the native - the profile image is updated on the web app.
Checked displaying the updated images on the: Profile privacy screen, Home page, feed cards, on the Invite page.
Checked with different types of

[2021-06-13 13:00] omerzam commented on #2939
@sirpy rate limit requests on both client and worker? or just one of them? it is unclear

[2021-06-14 11:49] sirpy commented on #2995
@iLystopad
I think that we solved the issue with opening the wallet link from facebook.
please verify that user can open a wallet using facebook browser

[2021-06-14 11:56] #2641 closed

[2021-06-14 11:58] #1978 closed

[2021-06-14 12:02] sirpy commented on #2980
@serdiukov-o-nordwhale is this still relevant?

[2021-06-14 12:03] sirpy commented on #3255
@iLystopad please test this on browser.facetec.com and make a screen recording

[2021-06-14 12:05] sirpy commented on #3219
@serdiukov-o-nordwhale this was fixed by Torus right?

[2021-06-14 12:05] #3192 closed

[2021-06-14 12:07] #3178 closed

[2021-06-14 12:08] #3143 closed

[2021-06-14 12:09] #2954 closed

[2021-06-14 12:11] sirpy commented on #2959
@serdiukov-o-nordwhale can we just retry on such an error?

[2021-06-14 12:16] sirpy commented on #2955
doesnt exists on sentry anymore

[2021-06-14 12:16] #2955 closed

[2021-06-14 12:18] sirpy commented on #2952
not appearing anymore

[2021-06-14 12:18] #2952 closed

[2021-06-14 12:21] #1983 closed

[2021-06-14 12:22] #2725 closed

[2021-06-14 12:22] #2724 closed

[2021-06-14 12:23] #1980 closed

[2021-06-14 12:23] #2063 closed

[2021-06-14 12:24] #2979 closed

[2021-06-14 12:40] #1328 closed

[2021-06-14 12:40] iLystopad commented on #3255
@sirpy Checked on the browser.facetec.com and the screen is also displayed black after scanning the fake face.
After scanning the Face of a human it is passed without issues.

Attachment:
https://www.screencast.com/t/cvr9zm2viufc

[2021-06-14 12:46] sirpy commented on #3255
i dont think this is a bug. anyways we dont expect users to scan fake faces and anyways it doesnt matter that they get a black screen if they do

[2021-06-14 12:46] #3255 closed

[2021-06-14 14:09] iLystopad commented on #867
@omerzam The issue is not reproduced. The reason is displayed on the receiver/send complete cards after making transactions.

Checked on the QA 1.25.1-26
Device:
Windows 10 // Google Chrome v91
Xiaomi Mi 8 // Google Chrome v91

Attachment:
https://www.screencast.com/t/m86T3GhCGfi
https://www.screencast.com/t/eygMQ90N7
https://www.screencast.com/t/GGqlZ0p50O
https://www.screencast.com/t/kAKVGJ4E2h

[2021-06-14 14:36] serdiukov-o-nordwhale commented on #2959
@sirpy  as i remember we're showing now some error popup with app restart when dismissed

[2021-06-14 14:38] serdiukov-o-nordwhale commented on #3219
@sirpy yes it's fixed now. Chrome now selects automatically if it's available and OS supports custom tabs
for the other case if there's no Chrome Torus released an update we requested so we could catch it and show some screen with suggestions

[2021-06-14 14:39] serdiukov-o-nordwhale commented on #2980
@sirpy no

[2021-06-14 16:09] iLystopad opened #3272 "[BUG] The elements of the Zoom popup are decreased after turning device to landscape mode and back to portrait"
**Pre-conditions:**
* The user is logged in
* The Zoom FV popup is opened

Steps to reproduce:
1. Turn on the landscape mode on the device
2. Turn the device to Portrait mode
3. Tap on the "Try again" button
4. Tap on the "Ok, verify me" button
5. Tap on the "Got it" button
6. Pay attention to the Zoom FV popup

Expected result: The elements of the Zoom popup should be displayed the same size as b

[2021-06-14 16:25] iLystopad opened #3273 "[BUG] The Zoom FV is not launched on the Safari after tapping on the "Got It" button"
**Pre-conditions:**
*The user is logged in

**Steps to reproduce:**
1) Open the page https://goodqa.netlify.app/
2) Go to the FV screen
3) Tap on the "Ok, Verify me" button
4) Tap on the "Got it" button

**Expected result:** The Zoom FV should be launched on Safari after tapping on the "Got It" button

**Actual result:** The Zoom FV is not launched on the Safari after tapping on the "Got It" butto

[2021-06-14 16:56] iLystopad commented on #2995
@sirpy with the last version of the Facebook app it is not displayed. The user is able o sign up, but after sign up is displayed the popup that this browser isn't supported, switch to Chrome or Safari

Facebook app version 322.0.0.35.121

[2021-06-14 18:29] #2995 closed

[2021-06-14 18:37] sirpy commented on #2980
so close it

[2021-06-14 18:39] sirpy commented on #3219
so lets merge this with the upgrading to latest torus issue

[2021-06-14 18:40] sirpy commented on #2959
@serdiukov-o-nordwhale ok can we verify that it is actually shown? do we log it with dialogShown: true? we can check amplitude/sentry and see if this error shows a dialog when it happens

[2021-06-15 06:45] #2980 closed

[2021-06-15 09:11] serdiukov-o-nordwhale commented on #3273
That's remote debugging issue, happened for me too.
When you use dev tools sometimes Zoom loses focus and finishes session with error. Nothing to do with that. Re check without usb connection and remote console debugging

[2021-06-15 09:15] serdiukov-o-nordwhale commented on #3273
Works fine without usb connection and remote debugging:
![image](https://user-images.githubusercontent.com/62208067/122026898-4edf9080-cdd3-11eb-9ac0-7a8428cf5f2c.png)

[2021-06-15 11:58] serdiukov-o-nordwhale commented on #3219
ok

[2021-06-15 11:58] serdiukov-o-nordwhale commented on #3243
#3219 will be fixed too with that issue

[2021-06-15 12:05] omerzam commented on #2939
https://github.com/GoodDollar/GoodCFVerify/pull/3

[2021-06-15 16:17] serdiukov-o-nordwhale commented on #3261
1. Image storage format

As we're using base64 images in the app, i suggest to use the following struct:

[code]

Images in that format could be used on the Dapp side (e.g. in Undux store, form states etc)
It allows to easily access base64 and get data urls, and also keep mime type and filename for IPFS

2. Images storage in IPFS
To optimize the amount of storage we will store images like binary f

[2021-06-15 16:22] serdiukov-o-nordwhale commented on #3261
3. Profile definition

[code]

This is a simple profile definition. name/email/mobile are just text strings.
The ***** value should be stored if user enabled privacy setting on some profile field

[2021-06-15 16:46] serdiukov-o-nordwhale commented on #3261
4. Profile CIDs
To reference own or counterpart profile, the CIDs should be used
CID mens "content ID", it's an unique asset identifier in the IPFS
It's a multihash (hash + some small metadata) string from 40 chars (depending of the CID version)

a) we need to keep CID value in the user's profile in the GUN or Textile (e.g. in sime field like `profileCID`)
b) we could cache counterpart's profile C

[2021-06-15 17:00] serdiukov-o-nordwhale commented on #3261
5. Upload profiles

To upload profile we need to fill the following asset definition and call `.store()` method of the NFTStorage:

[code]

a) `name` & `description` fields are mandatory, we could supply them with the profile's `fullName`.
b) i used `properties` to store full profile as single object (except the small avatar). but if you want to optimize storage you could use `name` & `description

[2021-06-15 17:07] serdiukov-o-nordwhale commented on #3261
6. IPFS gateways and peers

To access IPFS resources defined by the `ipfs://<cid>/<path>` URIs via https the gateway service should be used.
Some browsers cold have CORS issues with some gateways so we have to use a few peers (gateways).

Also, different gateways have different routing, for example:

- ipfs.io appends full path to the end e.g. `https://ipfs.io/ipfs/<cid>/<path>`
- but dweb.link pr

[2021-06-15 17:16] serdiukov-o-nordwhale commented on #3261
7. Loading profiles

To get profile we need to call CID's metadata firstly. It's located by the `ipfs://<cid>/metadata.json` uri

It's an JSON with the following struct:

[code]

- The profile data contains in the `properties` field.
- Image (small avatar) & avatar are ipfs uris of the avatars images. The 'path' part of their uri is an original file name.

To load images you:

a) could use Promise

[2021-06-15 17:22] serdiukov-o-nordwhale commented on #3261
For detailed comments, suggestions and some possible native implementations please check the demo app: https://github.com/GoodDollar/base64-p2p-storage-demo

[2021-06-16 06:50] sirpy commented on #3261
1. private fields should be empty, '****' should be a UI decision
2. In the ticket description i've explained that we will use a smart contract to map from wallet address -> profile CID
3. no need to update counterparty in feed items
4. i suggest to keep images in base64 to keep it simple
5. user should have his profile cached locally, if CID changed on smart contract, then user can reload his pro

[2021-06-16 09:37] serdiukov-o-nordwhale commented on #3261
In such case we could store the data url (containing content type).
The example of loading/storing raw base64 could be found in the current implementation

But actually everything related to the file -> base64 and vice versa conversion is done in the demo app and could be just copy pasted

[2021-06-16 15:55] serdiukov-o-nordwhale commented on #3273
@iLystopad
updated zoom version now it's seems to be working
make sure the console is closed during testing
for better result if you have console opened i suggest to close it then **hard-reload** the app by `Cmd`+`R`

[2021-06-17 13:14] iLystopad commented on #3239
The user is able to verify and set a new phone number in the user profile, also is able to delete the phone number and set deleted number again

Checked on the PROD 1.28.7
devise: Windows 10 // Google Chrome v91

Attachment:
https://www.screencast.com/t/I9ajINFlDThg

[2021-06-17 13:14] #3239 closed

[2021-06-17 13:51] iLystopad commented on #867
The reason of transfer is displayed without issues for all types of payment cards on the feed

Checked on the PROD 1.28.2
Device: Google Chrome v91

Attachment:
https://www.screencast.com/t/VkmPZF7yv9

[2021-06-17 13:51] #867 closed

[2021-06-17 13:57] iLystopad commented on #3240
The issue is not reproduced. The amounts are correct displayed on the reward Cards for the inviter and invitee

Checked on the Prod 1.27.2
Windows 10/ Google Chrome v91

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/15b6d6bf-1f64-4ce1-a61f-9232d5367fb2)

[2021-06-17 13:57] #3240 closed

[2021-06-17 14:00] iLystopad commented on #3223
The reward cards are displayed after passing the FV.

Checked on the PROD 1.27.2
Windows 10 / Google Chrome v91

Attachment: https://www.screencast.com/t/uyQmxopwOB

[2021-06-17 14:00] #3223 closed

[2021-06-17 14:01] iLystopad commented on #3248
The issue is not reproduced on prod. The invite code is saved in the local storage

Checked on the Prod 1.27.2
Windows 10 // Google Chrome v91

Attachment: https://www.screencast.com/t/uyQmxopwOB

[2021-06-17 14:10] iLystopad commented on #3189
The issue is not reproduced. The user is able to sign up without issues with the Facebook account that has been created only with phone number

Checked on the PROD 1.28.7
Device: Windows 10 // Google Chrome v91

Attachment:
https://www.screencast.com/t/CnC7kuuab

[2021-06-17 14:10] #3189 closed

[2021-06-17 14:34] iLystopad commented on #2791
The issue is not reproduced on Prod 1.28.7. The payment cards are displayed according to their type and status

https://www.screencast.com/t/VkmPZF7yv9

[2021-06-17 14:34] #2791 closed

[2021-06-17 14:37] iLystopad commented on #2639
The "Transaction details" link and TX ID are displayed on the txs cards. The Transaction detail page of the relevant txs is opened on the Fuse after clicking on the "Transaction Details" link
Checked on the PROD 1.28.7
Windows 10 // Google Chrome v91

Attachment:
https://www.screencast.com/t/qCuxcC626N

[2021-06-17 14:37] #2639 closed

[2021-06-17 15:46] iLystopad commented on #3175
The client sends a request (https://goodserver.gooddollar.org/verify/face/license/web) to the server and gets the Fv license key in response

Checked on the PROD 1.28.7
Windows 10 // Google Chrome v91

Attachment:
https://www.screencast.com/t/JNE7Y9cygAY
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/ccd6de69-8d3e-49f0-a74f-6deed3d23c19)

[2021-06-17 15:46] #3175 closed

[2021-06-17 15:46] iLystopad commented on #2268
The client sends a request (https://goodserver.gooddollar.org/verify/face/license/web) to the server and gets the Fv license key in response

Checked on the PROD 1.28.7
Windows 10 // Google Chrome v91

Attachment:
https://www.screencast.com/t/JNE7Y9cygAY
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/ccd6de69-8d3e-49f0-a74f-6deed3d23c19)

[2021-06-17 15:46] #2268 closed

[2021-06-18 15:23] iLystopad commented on #3245
@sirpy @omerzam  Sometimes the Feed is not updated after sign in to the account. In most cases, it happened after clearing all site data.
The feed updates only after refreshing the page, and when the feed is downloaded it is displayed and updated without issues after re-login, refreshing the page, or navigating from another page

Checked on the PROD 1.28.10
Windows 10 / Google Chrome v 91

Attachm

[2021-06-19 19:38] sirpy opened #3277 "server should print meaningful OTP verification error messages"
CFverify worker should throw a meaningful error and the backend should print it

[2021-06-20 07:19] #3243 closed

[2021-06-20 20:45] sirpy opened #3279 "Design for new wallet payment api"
need a better design
this is the current look
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/ff0ca1cf-2fd8-49fa-865c-3dde1dfefcd0)

[2021-06-21 06:57] #2939 closed

[2021-06-21 07:54] amitorama commented on #3279
Which part? What is this exactly?

Cheers, Amit.

Creative Lead
www.gooddollar.org
+972545651169
On 20 Jun 2021, 23:45 +0300, sirpy ***@***.***>, wrote:

[2021-06-22 08:08] iLystopad commented on #3198
I haven't caught this error after all attempts to login/sign up after release the latest version of prod.

Checked on PROD 1.28.11
Windows 10 // Google Chrome 91

[2021-06-22 08:08] #3198 closed

[2021-06-22 08:59] iLystopad commented on #3218
The issue is not reproduced. The name of a user is displayed instantly after logging in/ Signing up on the staging env.

Checked on the Android app (PROD) 1.28.11 (1635)
Device: Xiaomi Mi 8 // Android 9

Attachment:
https://www.screencast.com/t/5JcGCDtgkb

[2021-06-22 09:28] julianpolcode commented on #3268
I rearranged the layout in Welcome screen so it fits different screen sizes, including very small ones

![iphone8.png](https://images.zenhubusercontent.com/60c98d946fcd57165ff6db56/5a65df4d-b86b-4733-b90a-5227cf8e5b69)

![ipod.png](https://images.zenhubusercontent.com/60c98d946fcd57165ff6db56/65da95eb-3945-49ea-8c44-b60ef4bcd1a5)

![iphone12.png](https://images.zenhubusercontent.com/60c98d946fcd57

[2021-06-22 10:47] julianpolcode commented on #3270
Splash screen on Google Pixel 3a XL

![pixel3axl.png](https://images.zenhubusercontent.com/60c98d946fcd57165ff6db56/3680203a-989b-4dc1-93cb-4c0ed7906448)

[2021-06-22 10:53] julianpolcode commented on #3270
Counter on Google Pixel 3a XL

![counter.png](https://images.zenhubusercontent.com/60c98d946fcd57165ff6db56/83033fdb-16da-4cee-b1c0-226596b0febd)

[2021-06-22 10:56] julianpolcode commented on #3270
Feed cards on Google Pixel 3a XL

![list.png](https://images.zenhubusercontent.com/60c98d946fcd57165ff6db56/d9341941-d690-4752-bbac-cad3427358a3)

[2021-06-22 12:00] iLystopad commented on #3272
@julianpolcode
[BUG] The text is overlapped by the earth icon on the FV loading screen

**Pre-conditions:**
* The user is logged in
* The user has not passed FV

**Steps to reproduce:**
1. Open https://gooddev.netlify.app/
2. Go to Zoom popup
3. Scan your Face
4. Pay attention to the text on the loading screen

**Expected result:** The text should be displayed under the earth icon on the loading p

[2021-06-22 12:25] iLystopad commented on #3186
The issue is not reproduced on Prod. The different types of images are updated on both: Android app and web app without issues. The updated images from both apps are displayed on the feed, on the Profile privacy screen, and on the invite page without issues.
Also, the Profile image is displayed in a few seconds after logging in to the app.

Checked on the: PROD 1.28.11
Android App 1.25.1-25 (1564)

[2021-06-22 12:26] #3186 closed

[2021-06-22 15:24] sirpy opened #3281 "(Bug) handle payment link of own wallet is stuck"
If I open my own payment link the handle payment link popup simply hangs

- [ ] if own payment link it should show error  popup instead. pressing ok goes back to dashboard
- [ ] if not own payment link there shouldnt be an OK button. but just a modal.

[2021-06-22 15:26] sirpy opened #3282 "(Bug) export wallet copy buttons have empty background on click"
When pressing on any of the copy buttons in the export wallet link the button backgorud turns white
it should probably stay blue or some other color, but  not white

[2021-06-23 08:07] serdiukov-o-nordwhale opened #3283 "(Bug) FV doesn't starts on Safari <12 (QA & PROD)"
FV fails with "context switch" (focus loosed) if GD app is running on the following software:

MacOS safari 12,0,2
iOS 12.4.1
iOS 13.3

The issue is reproduced on QA & PROD environments ONLY
The bare FaceTec app is working fine on such Safari versions
The latest changes (e.g. globalThis polyfills) were reverted - it doesn't helped

Something else is breaking FV. To understand the reason we have to

[2021-06-23 08:10] serdiukov-o-nordwhale commented on #3283
@sirpy Also, could you please update us about the status of the FV bug report we've prepared last Friday ? Did you sent it to FaceTec ? Do they've reply with something ?

[2021-06-23 12:56] iLystopad commented on #3270
The issue is not reproduced. The splash screen, counter, and feed cards are displayed correctly with different screen sizes.

Checked on the
Google Pixel 3a XL // Android 11 screen size 1080x2160 / 6.0"
Xiaomi Mi 8 // Android 8.1.0	//  screen size   1080x2248 / 6.21"
LG Nexus 5X // Android	8.0 //  screen size	1080x1920 / 5.2"

Attachmetnt:
https://www.screencast.com/t/iqNFecidmd
https://www.screen

[2021-06-23 13:03] iLystopad commented on #3273
Closed because the opened new ticket for this issue - #3283

[2021-06-23 13:03] #3273 closed

[2021-06-23 15:07] iLystopad commented on #3245
Checked the time of updating the Feed after sign-in/up
- for newly created accounts updating the feed takes about 10 sec
- for old accounts with a lot of cards, and cleared cash it takes about 24 sec
- for old accounts  with a lot of cards second logging in takes about 8 sec

Checked on the PRod 1.28.11
Windows 10 // google Chrome v91

Attachment:
https://www.screencast.com/t/Jln14hV8jo2b
https://

[2021-06-23 20:28] sirpy commented on #3283
@serdiukov-o-nordwhale they said they are working on it

[2021-06-23 20:32] sirpy commented on #3283
@julianpolcode what are your findings so far?

[2021-06-24 08:17] julianpolcode commented on #3272
This bug is most likely related to the known issue that was reported to facetec, not caused by our customization.

[2021-06-24 09:13] omerzam opened #3285 "the referral bonus for users that due to screen refresh didn't get it is not working"
1. Signup without an invite link
2. Logout from your wallet, Click on an invite link.
3. Choose SIGNUP, Choose the same login method as originally selected , continue signup process to the end even when shown popup with warning "did you mean to login", choose continue signup.

expected: You should receive the referral bonus.

[2021-06-24 09:59] sirpy commented on #3285
@omerzam @iLystopad looking at the contracts I see that in did it is not possible.
i'll have to upgrade the contract first

[2021-06-24 10:14] serdiukov-o-nordwhale commented on #3272
@iLystopad need to re-test once we'll update SKD to 9.3.1

[2021-06-24 10:16] serdiukov-o-nordwhale commented on #3283
Yep, we saw it with @julianpolcode when tested another bug on the browser.facetec.com
the rotation bug is already fixed in theirs dev version - the session now ends with error if device rotated to landscape

awaiting for the 9.3.1 or 9.3.2

[2021-06-24 11:04] julianpolcode commented on #3282
![before.png](https://images.zenhubusercontent.com/60c98d946fcd57165ff6db56/6051f845-6a3c-4996-bbf4-43cc51118d3a)

![after.png](https://images.zenhubusercontent.com/60c98d946fcd57165ff6db56/4f9cae26-8a1b-47ef-9ad1-a4581fb42a86)

[2021-06-24 11:10] sirpy commented on #3285
@omerzam @iLystopad i've upgraded the contract it should work now (on production)

[2021-06-24 11:49] serdiukov-o-nordwhale opened #3287 "Move FaceTec SDK out of the GoodDapp's source"
- [x]  Replace `src/lib/facetec/FaceTecSDK.web.js` import with 'react-native-facetec/web'

- [x] adjust path to `FaceTecSDK.web.js` in eslint, babel, metro, rewired, jest and webpack configs (first ones are located in the root, webpack configs - in /config).
Make sure that sdk file is excluded from all processing (babel, lint, tests)

- [x] ~~add webpack copy plugin~~. add `post-install` npm hook

[2021-06-24 12:37] sirpy commented on #3285
@iLystopad should be testable on dev also

[2021-06-24 13:51] omerzam commented on #3254
this issue should be resolved by #2939

[2021-06-25 10:06] iLystopad opened #3288 "[BUG] The Error popup is displayed after deleting info cards from the feed"
**Pre-conditions:**
* The user is logged in

**Steps to reproduce:**
1. Open the page https://goodqa.netlify.app
2. Swipe to the left info card on the feed
3. Click on the "Delete" button

**Expected result:** The info cards should be deleted without any popups after clicking on the "Delete" button

**Actual result:** The Error popup is displayed after deleting info cards from the feed

**Environm

[2021-06-25 10:22] julianpolcode commented on #3281
![payment.png](https://images.zenhubusercontent.com/60c98d946fcd57165ff6db56/6d298bb4-aec4-48eb-855a-4e186abe61ee)

![own_payment.png](https://images.zenhubusercontent.com/60c98d946fcd57165ff6db56/6ceb09b2-f339-4179-a379-9acf676af5bf)

[2021-06-25 10:32] iLystopad commented on #3268
The issue is not reproduced. The Welcome pages are displayed fully.

Checked on the QA 1.28.1-5
Devices:
iPhone 5s // iOS12.3.1 // screen (640x1136)  4" // Safari
iPhone 6 // iOS12.4.1 // screen (750x1334)  4,7" // Safari
Samsung Galaxy S4 mini GT-I9195 // Android 4.4.2 // screen (540x960) 4.3"// Google Chrome
Xiaomi Mi 8 // Android  8.1.0	screen (1080x2248)	6.21" // Google Chrome

Attachment:
iPh

[2021-06-25 12:36] iLystopad commented on #3254
The issue is not reproduced. The user is able to edit the phone number on the Edit Profile screen. The user receives the code after clicking on the "Send the code again". The User is able to Sign up/in with Passwordless. The user's IP is blocked after three attempts to Sign up/in with Passwordless with the same number.

Checked on the QA 1.28.1-5
Device: Windows 10 // Google Chrome v91

Attachment

[2021-06-25 14:00] iLystopad opened #3290 "[BUG] The Feed is not updated for some accounts after logging in"
**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Log in to the Account e.g. with Google
3. Pay attention to the feed

**Actual result:** The Feed is not updated for some accounts after logging in

**Expected result:** The feed should be updated in a few sec after logging in to the account

**Environment:** QA 1.28.1-5 // PROD 1.28.10

**Device:** Windows 10 // Google Chrome v91

**Ad

[2021-06-25 14:03] iLystopad commented on #3245
For the issue with not updating feed for some accounts created a separated task #3290

[2021-06-25 14:04] #3245 closed

[2021-06-25 14:32] serdiukov-o-nordwhale commented on #3288
hotfixed in https://github.com/GoodDollar/GoodDAPP/commit/6996e9a18f7a9be5575814566f7dd3030fa4157f

[2021-06-25 15:13] iLystopad opened #3291 "[BUG] The user is not able to sign up/login on the old versions of Safari"
**Steps to reproduce:**
1. Open the page https://goodqa.netlify.app
2. Sign up/Login with Google/ Facebook
3. Pay attention to the Error popup

**Actual result:** The user is not able to sign up/login on to the old versions of Safari

**Expected result:** The user should be able to sign up/in to the account without issues

**Environment:**  QA 1.28.1-5 // PROD 1.28.11

**Devices list:**
iPhone 5 /

[2021-06-25 15:35] iLystopad opened #3292 "The user should see the message when his IP is blocked and reverse counter when he could try again"
Description:
* The user should see the message when his IP is blocked after reached all attempts to sign up/in with passwordless cause it's not clear for regular users.
* Also, there should be a specified time of waiting or reverse counter

1) Actual result -  when the user's IP Is blocked after entering a new phone number to the field on the Edit Profile screen the "Ooops. Could not send verifica

[2021-06-25 16:00] iLystopad opened #3293 "[BUG] The card of completed txs is displayed as pending card"
**Pre-conditions:**
* The user is logged in

**Steps to reproduce:**
1. Open the page https://goodqa.netlify.app
2. Pay attention to the Feed

**Expected result:** The card of completed txs should be displayed with relevant status

**Actual result:** The card of completed txs is displayed as pending card

**Environment:** QA 1.28.1-5 PROD 1.28.11

**Devices list:**
Windows 10 // Google Chrome v91

[2021-06-25 16:01] iLystopad opened #3294 "[BUG] The card of completed txs is displayed as pending card"
**Pre-conditions:**
* The user is logged in

**Steps to reproduce:**
1. Open the page https://goodqa.netlify.app
2. Pay attention to the Feed

**Expected result:** The card of completed txs should be displayed with relevant status

**Actual result:** The card of completed txs is displayed as pending card

**Environment:** QA 1.28.1-5 PROD 1.28.11

**Devices list:**
Windows 10 // Google Chrome v91

[2021-06-27 09:22] omerzam commented on #3293
@iLystopad this only applies for cards since before the feed release right?

[2021-06-27 09:24] omerzam commented on #3294
is this not a duplicate of #3293 ?

[2021-06-28 06:15] sirpy commented on #3292
@omerzam does backend get the correct error reason from cfverify?

[2021-06-28 07:24] sirpy commented on #3291
@iLystopad
can you copy the errors from the console log.
also i so another error in red at the bottom of the browser not part of our logs

[2021-06-28 07:35] sirpy commented on #3288
@serdiukov-o-nordwhale there's a typo in the last line of code showing the dialog

[2021-06-28 07:36] sirpy commented on #3290
@serdiukov-o-nordwhale lets mark all feed issues with a label or put them under an epic
we'll get back to them once we migrate from gundb

[2021-06-28 09:22] omerzam commented on #3292
@sirpy it is not released yet but yes it does
as part of the response object

[2021-06-28 09:26] omerzam commented on #3292
in QA and DEV envs you can already see it on the dapp as part of the response from the server
![Screenshot from 2021-06-28 12-24-44](https://user-images.githubusercontent.com/5627221/123613231-ebf6ec00-d80b-11eb-8943-615064ed3c63.png)

[2021-06-28 11:34] sirpy commented on #3244
@omerzam @iLystopad
do we have anything new about this? any examples from support?
otherwise close it

[2021-06-28 11:38] sirpy commented on #3228
@iLystopad this should be closed by #3281

[2021-06-28 13:25] #3244 closed

[2021-06-29 08:21] iLystopad commented on #3294
Duplicate of #3293

[2021-06-29 08:21] #3294 closed

[2021-06-29 09:33] omerzam opened #3296 "republish app as public on play store"
Package name org.gooddollar needs to be replaced to org.gooddollar.wallet

- [ ] Change package in android/ios source to org.gooddollar.wallet
- [ ] Do we need a new android signing key?
- [ ] Create new app and  licenses on apple
- [ ] Update secrets on github
- [ ] Check/modify facetec license
- [ ] Check/modify  microsoft appcenter
- [ ] Check/modify torus dependency on package name
- [ ] Updat

[2021-06-29 11:09] #3264 closed

[2021-06-29 11:10] sirpy opened #3297 "user properties should be saved on new database"

[2021-06-29 11:19] iLystopad commented on #3291
@sirpy  Logs from the console after trying to sign up with Google/Facebook/Passwordless on iOS 11.0

**Attachment:**
https://www.dropbox.com/scl/fi/325e2stepqehc038cw85k/Logs-from-iOS-10_11-1.odt?dl=0&rlkey=9td8xou9rrmost9wa9y283e6v

[2021-06-29 11:26] sirpy commented on #3293
@iLystopad is this still relevant?

[2021-06-29 13:07] julianpolcode commented on #3182
@sirpy which modal does this task relate to? This one?

![Zrzut ekranu 2021-06-29 o 15.01.05.png](https://images.zenhubusercontent.com/60c98d946fcd57165ff6db56/3b209d5a-914b-4496-bc5d-e99f5494fe32)

[2021-06-29 14:53] serdiukov-o-nordwhale commented on #3288
fixed: https://github.com/GoodDollar/GoodDAPP/commit/c3d8f3b6509c5d90e6c2f9a0b1a5ae10b7a2e41f

[2021-06-29 15:27] omerzam commented on #3296
it seems that we can delete the published managed app and then publish a new app with the same package name as public app

steps:

- [ ] backup current store listing
- [ ] Wait for the app to finish the review by the google play team
- [ ] unpublish app (Setup > Advanced setting > App availability and click the unpublished button)
- [ ] wait for 24 hours
- [ ] request google play support to perman

[2021-06-29 15:51] serdiukov-o-nordwhale opened #3298 "Feed & GunDB-related issues"

[2021-06-29 15:52] #3298 closed

[2021-06-29 15:52] serdiukov-o-nordwhale opened #3299 "Feed & GunDB-related issues"

[2021-06-29 16:24] iLystopad commented on #3285
@sirpy
The user is not signed up as an invitee after second registration via invite link with Google and passwordless.
But It is work with Self Custody method (Probably it was created a new account each new time because there were different GD_mnemonic phrases in the local storage)

Checked on DEV 1.281-6 environment
Windows 10 // Google chrome 91

Attachment:
Self custody - https://www.screencast

[2021-06-30 11:03] julianpolcode commented on #3182
https://images.zenhubusercontent.com/166818382/ad4db667-70d1-46d9-8653-a03f03f0132e/animated_icon.mov

[2021-06-30 11:18] iLystopad commented on #3288
@serdiukov-o-nordwhale @sirpy

The issue is not reproduced on web QA. The Error popup is not displayed after deleting info cards from the feed. Also checked transations cards.

Checked on the: QA 1.28.1-6
Windows 10 // Google Chrome v 91.0.4472.114

Attachment:
https://www.screencast.com/t/p5F8mtRRNt

[2021-06-30 12:08] iLystopad commented on #3282
@julianpolcode @sirpy

The issue is not reproduced on web QA. Export wallet copy buttons have blue background when pressing on it. And the info is also coppied

Checked on the: QA 1.28.1-6
Windows 10 // Google Chrome v 91.0.4472.114

Attachment:
https://www.screencast.com/t/E07J4ez9F

[2021-06-30 14:29] tzvister opened #3301 "The avatar is not visible in the profile - Android only"
The avatar is not visible in the profile;
The avatar on the web shows, while is doesn't on Android mobile.

Please verify

[2021-06-30 15:24] iLystopad commented on #3259
@serdiukov-o-nordwhale @sirpy  The issue is not reproduced. The screen that was displayed before collapsing is displayed after reopening the app. The app is not crashed with the second way of the steps.

Checked on the Android App [Staging] 1.28.1-7 (1654)
Checked on the Xiaomi Mi8 // Android 9

Attachment:
https://www.screencast.com/t/eOX4VeUP

[2021-06-30 15:35] iLystopad commented on #3301
@tzvister Could you say me please, what version of the app do you use?

[2021-06-30 15:46] iLystopad opened #3302 "[BUG] The Android app is crashed after double tapping on the Device back button instantly after opening the Home screen and re-launching the app"
**Pre-conditions:**
* The user is signed in

**Steps to reproduce:**
1) Launch the App
2) Wait while the splash screen load
3) Double-tap on the Device Back button while the Home screen appears
4) Launch the app again
5) Pay attention to the crash

**Expected result:** The Android app should not be crashed after double-tapping on the Device back button instantly after opening the Home screen and r

[2021-06-30 16:31] iLystopad commented on #3285
@sirpy The same on Prod. The user is not signed up as an invitee after second registration via invite link with Google/Facebook/Passwordless.

Note: In the Local storage of user that signs up again via invite link - the "InviterInviteCode" value of the Props key is changed from "Null" to invite code from the link - https://www.screencast.com/t/cBfY6oiHnPc

Checked on Prod 1.28.11
Windows 10 // Goo

[2021-06-30 18:16] iLystopad commented on #3281
This issue is not reproduced on web QA. The handle payment link of own wallet is not stuck. The error popup "Ooops... You can't withdraw your own payment link" is shown.

Checked on the: QA 1.28.1-6
Windows 10 // Google Chrome v 91.0.4472.114

Attachment:
https://www.screencast.com/t/JNSo5n1L

Also cheched different types of payment:
https://www.screencast.com/t/PvHaEHTL8

[2021-06-30 18:17] iLystopad commented on #3228
@serdiukov-o-nordwhale @sirpy
The issue is not reproduced on web QA. The endless spinner is not displayed on the "Request specific amount" link. The error popup "Ooops... You cannot use your own payment link" is shown.

Checked on the: QA 1.28.1-6
Windows 10 // Google Chrome v 91.0.4472.114

Attachment:
https://www.screencast.com/t/V7LuhrAZ

Also checked different types of payment:
https://www.scr

[2021-06-30 19:11] sirpy commented on #3301
all these issues are  related to gun.
lets get back to them once we migrate

[2021-07-01 08:41] #3161 closed

[2021-07-01 10:27] omerzam commented on #3302
@iLystopad can you check if this issue reproduces on any of the previous 1.28 versions?

[2021-07-01 12:08] iLystopad commented on #3181
@julianpolcode @sirpy
The issue is not reproduced on web QA. The user is not able to make transaction without selecting a category. The next screen of the transaction flow is not displayed after entering reason and tapping on the "Enter" keyboard button if the category isn't selected

Checked on the: QA 1.28.1-8
Windows 10 // Google Chrome v 91.0.4472.114

Attachment:
https://www.screencast.com/t/

[2021-07-01 14:38] iLystopad commented on #3302
@serdiukov-o-nordwhale @omerzam
Checked on the Android app [staging] 1.28.1-5 (1644) before #3259 fix  - The issue reproduced
 Android app [staging] 1.27.2-0 (1606) before feed migration fixes  - The issue reproduced
also checked on the PROD 1.27.1 (1581) before releasing feed - The issue reproduced

Checked on the different devices and the crash was reproduced on all of them:
Huawei P20 / Android

[2021-07-01 15:56] iLystopad opened #3303 "[BUG] The balance is displayed in two row on the Home screen on Google Pixel 4 XL"
**Pre-conditions:**
* The user is logged in

**Steps to reproduce:**
1. Launch the App
2. Pay attention to the balance on the home screen

**Expected result:** The balance should be displayed in one row on the Home screen on Google Pixel 4 XL

**Actual result:** The balance is displayed in two row on the Home screen on Google Pixel 4 XL

**Environment:**  Native app [staging] 1.28.1-7

**Devices l

[2021-07-01 16:02] serdiukov-o-nordwhale commented on #3302
As the quick fix i disabled exiting app on the back button double tap
Btw we're handling this event so If we need that feature, we could add some additional callback on exit and stop all data loading, unsubscribe from all blockchain/GUN events, clear all local caches etc

The reason is that we aren't actually exiting the app. The data continues to load and on the next app start the data is partial

[2021-07-01 16:06] iLystopad opened #3304 "[BUG] The app is crashed after entering new phone number on the Edit profile screen and tapping on the "Verify my number" button"
**Pre-conditions:**
* The user is signed in

**Steps to reproduce:**
1. Launch the app
2. Go to the Edit profile screen
3. Enter the new phone number
4. Tap on the "Verify my number" button
5. PAy attention to the crash

**Expected result:**  The user should be able to edit phone number without any issues

**Actual result:**  The app is crashed after entering a new phone number on the Edit profile

[2021-07-02 09:08] serdiukov-o-nordwhale commented on #3291
The issue comes from Torus package. I'll report it and update package once they'll fix it

[2021-07-02 09:26] sentry-io[bot] opened #3305 "TypeError: handleReceiptUpdate failed: Promise.any is not a function"
Sentry Issue: [GOODDAPP-3WAJ](https://sentry.io/organizations/gooddollar/issues/2461934069/?referrer=github_integration)

[code]

The Promise.any polyfill as already applied but for the unit tests run only (see setupTests.js). Need to add it globally to the app's source

[2021-07-02 11:12] julianpolcode commented on #2760
Web:

![Zrzut ekranu 2021-07-2 o 13.03.11.png](https://images.zenhubusercontent.com/60c98d946fcd57165ff6db56/bcb81d24-ff10-4494-97d0-84c000ac51f0)

Android app (Google Pixel 3a XL):

![Screenshot_1625223760.png](https://images.zenhubusercontent.com/60c98d946fcd57165ff6db56/626b8b2a-6c55-44e2-962d-a906143153a8)

[2021-07-04 06:46] sirpy commented on #3285
@iLystopad try now

[2021-07-04 07:02] sirpy commented on #3305
hotfixed 97a901fd89d245fa6bf64bf6aede78e7a7611ff7

[2021-07-04 12:03] sirpy opened #3308 "realmdb/threaddb userstorage todo"
- [x] upgrade process
- [x] sync multiple devices
- [x] delete indexeddb on logout
- [x] go over usages of userstorage
- [x] remove gun usages
- [x] store profile - update index in smart contract
- [x] profile look up by public address
- [x] inboxes (threaddb?)
- [x] upgrade process via gundb

[2021-07-05 09:16] serdiukov-o-nordwhale commented on #3302
if this won't work - please google about package to minimize the app
and make app minimizing when double tap on back button

[2021-07-05 10:08] iLystopad commented on #3182
@serdiukov-o-nordwhale @julianpolcode
All icons are animated in feed item modal. Checked with all types of transactions

Checked on the: QA 1.28.1-9
Windows 10 // Google Chrome v 91.0.4472.114

Attachment:
https://www.screencast.com/t/xT3GrgNwFws

[2021-07-05 10:21] omerzam commented on #3296
store listing texts:

app-name: GoodDollar
short description: The World's First Digital Basic Income
Full description: GoodDollar is an app that allows you to receive FREE digital currency to your phone every day!

assets:
youtube link: https://youtu.be/ceSerJAVq7k
assets drive folder: https://drive.google.com/drive/folders/1WWkvTZKqEE8hwhY7JHSpDhQWzFIUWFzz
still missing: feature graphic, app icon

[2021-07-05 10:30] julianpolcode commented on #3304
I have been able to reproduce this issue in Android app on Friday (2.07.21) and the error that I got was a 401 Unauthorized, so it could have been something on the backend. Issue didn't occur on the web app. I tested it today (5.07.21) and it seems to have been fixed, I am not able to reproduce it.

[2021-07-05 14:25] iLystopad commented on #3305
The issue is not reproduced. The error is not displayed in the console on Safari

Environment: PROD 1.28.12
Checked on MacBook Air 13" // Mojave Version 10.14.1 // Safari

Attachment:
https://www.screencast.com/t/vBH4EaXs6h
(The issue on the same account on the PROD v.1.28.10 - https://www.screencast.com/t/TkZLqgDuB)

Also, there are no new events in the sentry of this error after pushing hotfix:

[2021-07-05 14:25] #3305 closed

[2021-07-05 15:14] iLystopad commented on #3304
@julianpolcode The issue is still reproduced on the Native app. Also checked on the Web App - there are no errors and the edit phone number functionality works without issues.

Checked on the NAtive app [staging] 1.28.1-8 (1663)
Device: Xiaomi mi8 // Android 9

Attachment:
https://www.screencast.com/t/vTnaEEVFC1vA

Logs: [https://app.zenhub.com/files/166818382/10d086a3-5f9d-4f32-8fe2-c6c1343531bd/

[2021-07-06 06:34] sirpy commented on #3304
@julianpolcode try to reproduce on one of these
1. debug via real phone
2. install apk on emulator

[2021-07-06 14:08] iLystopad commented on #3293
@omerzam The issue is still reproduced. The card of completed txs is displayed as a pending card

After canceling such pending cards the error is displayed in the console:
 "sendTransaction error:" "Transaction has been reverted by the EVM:\n{\n  \"blockHash\": \"0x5021fe52ccfa2c02c334ca46b0c2ac9b968fcc515e8f9871f3ea600bbfeacd4b\",\n  \"blockNumber\": 11854873,\n  \"contractAddress\": null,\n  \"c

[2021-07-06 15:04] iLystopad commented on #3285
@sirpy
Was checked 2 cases:
1) when the user signed up a second time via the invite link and pass the FV

One attempt was a success, (unfortunately, the video recording app crashed and there is no video of steps.)
Invitee: gooddollar311@gmail.com
Wallet address: 0x28E74dBb696a6423CdE6a0Bdf7Dd3fCE42D4fb39
GD_Masterseed :b7e95255985cfb462d2784861cf7b4cb15e3ee4a754e83b6ae33494cbbe79743

All other ste

[2021-07-06 16:27] iLystopad commented on #2760
The issue is not reproduced. the cards jagged edge on the native app look the same as on the web app

Checked on the Native app [staging] 1.28.1-12 (1683)
Xiaomi Mi8 // Android 9

Attachment:
Native: https://www.screencast.com/t/xAcdl7fV
Webapp: https://www.screencast.com/t/mk0iK8Dm3r4r

[2021-07-07 07:37] sirpy commented on #3285
@iLystopad
pushed another fix to DEV

[2021-07-07 08:36] #2947 closed

[2021-07-07 08:42] #3214 closed

[2021-07-07 08:47] serdiukov-o-nordwhale commented on #3283
![Slack | Hadar R | GoodDollar 2021-07-07 11-45-56.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/6a595002-e370-4896-a7d3-39be66b8d302)

[2021-07-07 08:50] serdiukov-o-nordwhale commented on #3283
Please check https://dev.facetec.com/downloads time by time
Once the new version with release date > 11.06.2021 will be released - you need to update SDK and re test the issue and the issues from the screenshots i've added above

[2021-07-07 08:55] omerzam commented on #3296
google support ticket number: 9-3675000031466

[2021-07-07 09:05] serdiukov-o-nordwhale commented on #3272
check with #3282

[2021-07-07 10:16] iLystopad commented on #2788
Closed, will be checked after fixing #3293 #3290

[2021-07-07 10:17] #2788 closed

[2021-07-07 13:11] sirpy opened #3311 "feed and settings should sync between devices with new database"
- [x] When user opens a new device his settings and feed should be loaded from database
- [x] When user uses two devices every time user brings app to foreground it should sync from database if other device changed settings/feed

to test:
- in Feed things like reason and category can only be restored from database and not blockchain, so verify that update correctly on both devices
- settings can b

[2021-07-07 13:14] sirpy opened #3312 "link user profile on blockchain"
- [ ] new identity smart contract
- [ ] allow user to modify profile did
- [ ] allow admin to add "hashes" that link to a user address

[2021-07-07 13:16] sirpy opened #3313 "remove usages of gun on client"
- [x] delete indexeddb on account deletion (to clear any realmdb/threaddb)
- [ ] go over usages of userstorage verify we didnt break any API
- [x] remove gun usages - make a list of places and open an issue for that

[2021-07-07 13:17] sirpy commented on #3308
created issues for all todo

[2021-07-07 13:17] #3308 closed

[2021-07-07 13:19] sirpy opened #3314 "find alternative for tx outbox"
currently we use gundb to store and encrypt transaction data that we want the receiver to have (in case we are sending directly to address and not via payment link)
consider
- realmdb

1. create a new table on realmdb called 'inboxes'
2. index by txhash
3. add to out box
  - user read the recipient publickey from profile storage (Textile/crypto PublicKey.fromString(publickey))
  - user encrypt dat

[2021-07-07 13:38] sirpy opened #3315 "(Bug) unable to continue to face verificaiton on IOS"
A user on iOS after allowing the camera keeps getting the "got it" screens

![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/037ef564-19a7-4b63-9c7e-82dd245124eb)

[2021-07-07 13:49] iLystopad opened #3316 "[BUG] The counter has incorrect format on the Claim page"
**Pre-conditions:**
* The user is logged in
* The user has claimed

**Steps to reproduce:**
1. Open the https://wallet.gooddollar.org/ page half of the hour before restarting the claim cycle
2. Go to the Claim page
3. Pay attention to the counter

**Expected result:** The counter should have the format hh.mm.ss, even if the hours or minutes 00

**Actual result:** The counter has incorrect format o

[2021-07-07 14:18] serdiukov-o-nordwhale opened #3317 "Update Android app to be targeted to API level 30 (Android 11)"
- [x] set target API level to 30
- [x] re-test the whole app
- [x] add fixes if need
- [x] also, need to re check if we actually using the Android App Bundle publishing format. @sirpy have notified that we're using the bundle tool but better to make sure in that rather then have some issues with publishing in the future

[2021-07-07 14:33] iLystopad commented on #3170
@serdiukov-o-nordwhale @sirpy @julianpolcode
1) Checked without any limitation of internet connection - the claim button is displayed instantly after ending counter - the user is able to claim without issues.
2) Checked with a slow internet connection - the counter is changed to the claim button after ending count, the user is able to claim without issues.
3) Checked with blocked Fuse (https://rpc

[2021-07-07 14:33] #3170 closed

[2021-07-07 15:18] iLystopad commented on #3181
@julianpolcode @serdiukov-o-nordwhale  The issue is not reproduced. The user is not able to make a transaction without selecting a category.

Checked on the: PROD 1.29.0
Native app [prod] 1.29.0 (1686)
Windows 10 // Google Chrome v 91

Attachment:
https://www.screencast.com/t/KUhJuZV4loc

[2021-07-07 15:18] #3181 closed

[2021-07-07 15:49] iLystopad commented on #3282
@julianpolcode @serdiukov-o-nordwhale  The issue is not reproduced. The background of the copy buttons on the Export wallet page is blue, the text is changed to Copied for a few sec after clicking on it.

Checked on the: PROD 1.29.0
Windows 10 // Google Chrome v 91
iPhone 6 // iOS 12.4.1 //  Safari

Native app [prod] 1.29.0 (1686)
Xiaomi Mi 8 // Android 9

Attachment:
https://www.screencast.com/t/

[2021-07-07 15:49] #3282 closed

[2021-07-07 16:16] iLystopad commented on #3270
@julianpolcode @serdiukov-o-nordwhale  The issue is not reproduced. The splash screen, counter, and feed cards are displayed correctly with different screen sizes.

Checked on the Native app [prod] 1.29.0 (1686)
Google Pixel 3a XL // Android 11 screen size 1080x2160 / 6.0"

Attachment:
https://www.screencast.com/t/8ntGiMA0Jd

[2021-07-07 16:16] #3270 closed

[2021-07-07 16:26] iLystopad commented on #2760
@julianpolcode @serdiukov-o-nordwhale  The issue is not reproduced. the cards jagged edge on the native app look the same as on the web app

Checked on the Native app [prod] 1.29.0 (1686)
Xiaomi Mi8 // Android 9

Attachment:
https://www.screencast.com/t/D0j5u8U5BQ3

[2021-07-07 16:26] #2760 closed

[2021-07-08 06:49] julianpolcode commented on #3316
![Zrzut ekranu 2021-07-8 o 08.42.23.png](https://images.zenhubusercontent.com/60c98d946fcd57165ff6db56/5ce9cde3-a2fc-4895-8054-15319421788d)

[2021-07-08 07:14] iLystopad commented on #3182
@serdiukov-o-nordwhale @julianpolcode
All icons are animated in feed item modal. Checked with all types of transactions

Checked on the: PROD 1.29.8
Windows 10 // Google Chrome v 91.0.4472.114

Attachment:
https://www.screencast.com/t/qkgbqcVhlt

[2021-07-08 07:14] #3182 closed

[2021-07-08 07:35] iLystopad commented on #3228
@serdiukov-o-nordwhale @sirpy
The issue is not reproduced on web PROD. The endless spinner is not displayed on the "Request specific amount" link. The error popup "Ooops... You cannot use your own payment link" is shown.

Checked on the: PROD 1.29.0
Windows 10 // Google Chrome v 91.0.4472.114

Attachment:
https://www.screencast.com/t/lGTuFBtBh675

Also checked different types of payment:
https://w

[2021-07-08 08:43] #3228 closed

[2021-07-08 08:53] iLystopad commented on #3268
The issue is not reproduced. The Welcome pages are displayed fully.

Checked on the PROD 1.29.0

Devices:
iPhone 5s // iOS12.3.1 // screen (640x1136) 4" // Safari
Samsung Galaxy S4 mini GT-I9195 // Android 4.4.2 // screen (540x960) 4.3"// Google Chrome

Attachment:
iPhone 5: https://www.screencast.com/t/aUIsPTqJgReS
Samsung S4: https://www.screencast.com/t/Tmo4UcOV9BF

[2021-07-08 08:53] #3268 closed

[2021-07-08 09:04] serdiukov-o-nordwhale opened #3320 "Account issues (sign in, sign up, torus)"

[2021-07-08 09:14] serdiukov-o-nordwhale opened #3321 "Claim issues (unable to claim, face verification)"

[2021-07-08 09:15] serdiukov-o-nordwhale opened #3322 "Payment issues (wallet issues, protocol issues, send/receive, integrations)"

[2021-07-08 09:16] serdiukov-o-nordwhale opened #3323 "System issues (app crashed, app doesn't works properly on X platform/env/device)"

[2021-07-08 09:19] iLystopad commented on #3281
@serdiukov-o-nordwhale @sirpy
The issue is not reproduced on web PROD. The endless spinner is not displayed on the "Request specific amount" link. The error popup "Ooops... You cannot use your own payment link" is shown.

Checked on the: PROD 1.29.0
Windows 10 // Google Chrome v 91.0.4472.114

Attachment:
https://www.screencast.com/t/lGTuFBtBh675

Also checked different types of payment:
https://w

[2021-07-08 09:19] #3281 closed

[2021-07-08 09:37] iLystopad commented on #3288
@serdiukov-o-nordwhale @sirpy

The issue is not reproduced on web PROD. The Error popup is not displayed after deleting info cards from the feed. Also checked transactions cards.

Checked on the: PROD 1.29.0
Windows 10 // Google Chrome v 91.0.4472.114

Attachment:
https://www.screencast.com/t/iBwyAwvw

[2021-07-08 09:38] #3288 closed

[2021-07-08 10:41] sirpy opened #3324 "reduce number of blockchain calls"
moving to pokt.network which has limitation on number of calls clients do to blockchain, we try to reduce calls we make

- [x] in claim screen dont poll, just refresh on key events
- [x] wallet polling for new txs - every 30 sec instead of every 5
- [x] fix bug in claim that stats do not show when claim button is green
- [ ] dont re-read every 24hours. modify polling to keep last block with an eve

[2021-07-08 11:14] iLystopad commented on #3254
@omerzam @sirpy
The issue is not reproduced. The user is able to edit the phone number on the Edit Profile screen. The user receives the code after clicking on the "Send the code again". The User is able to Sign up/in with Passwordless. The user's IP is blocked after three attempts to Sign up/in with Passwordless with the same number.

Checked on the PROD 1.29.1
Device: Windows 10 // Google Chrome

[2021-07-08 11:14] #3254 closed

[2021-07-08 11:47] sirpy opened #3326 "User profile should be stored on realmdb"
- profile is a single record storage
- user can read other users profiles, currently only read when receiving/sending a tx.
    - cache - currently not required as we store in feed the avatar + name

Todo
---
- [x] profile should be saved with same format as today to realmdb
- [x] profile should be written with user walletAddress, it should be a unique index.
- [x] private fields should be encrypt

[2021-07-08 12:11] iLystopad commented on #3316
@julianpolcode
The issue is not reproduced on web PROD. The counter has correct format on the claim page.

Checked on the: PROD 1.29.1
Windows 10 // Google Chrome v91

Attachment:
https://www.screencast.com/t/0bAq9qh837nl

[2021-07-08 12:11] #3316 closed

[2021-07-08 12:35] sirpy opened #3327 "create realmdb envs for qa/prod"
- [x] create envs
- [ ] use github to sync changes

[2021-07-08 13:39] iLystopad opened #3328 "[BUG] The correct sum of G$ displayed with delay after opening the invite page"
**Summary:**
The correct sum of G$ displayed with delay after opening the Invite page

**Preconditions:**
- The user is logged in
- The main page is open

**Steps:**
1) Open the invite page
2) Pay attention to the sum of G$

**Expected result**: The correct sum of G$ displayed without delay after opening the invite page

**Actual result**: The correct sum of G$ displayed with delay after opening t

[2021-07-08 16:03] lkilaszewski commented on #3304
I checked it on Samsung S10, Android 11, and it's working

[2021-07-08 16:12] lkilaszewski commented on #3304
https://images.zenhubusercontent.com/166818382/183181d1-6420-437d-a614-ec639ab702d8/screen_recording_20210708_180904_gooddollar.mp4

[2021-07-08 20:50] serdiukov-o-nordwhale commented on #3315
dup of #3283

[2021-07-08 20:50] #3315 closed

[2021-07-08 20:57] #2873 closed

[2021-07-08 20:57] serdiukov-o-nordwhale commented on #2873
replaced via #3296

[2021-07-08 21:24] #2920 closed

[2021-07-09 06:15] iLystopad commented on #3259
@serdiukov-o-nordwhale @sirpy
The issue is not reproduced. The screen that was displayed before collapsing is displayed after reopening the app. The app is not crashed with the second way of the steps.

Checked on the Android App [Staging] 1.29.1 (1690)
Checked on the Samsung A80 // Android 10

Attachment:
https://www.screencast.com/t/nrqyip9ZOg

[2021-07-09 06:15] #3259 closed

[2021-07-09 11:39] iLystopad commented on #3304
@lkilaszewski Re-checked on the Xiaomi Mi8 // Android 9 and on Google Pixel 4 Xl // Android 11 on Android App [DEV] 1.29.1-2 (1697) and [Staging] 1.29.1-2 (1696) - The issue is reproduced on both of this devices and env

Logs from Pixel 4 XL: [https://app.zenhub.com/files/166818382/a6025ab2-b115-48f5-8f91-ae7304bab3ad/download](https://app.zenhub.com/files/166818382/a6025ab2-b115-48f5-8f91-ae7304b

[2021-07-09 11:51] iLystopad commented on #3285
@sirpy

**Was checked 2 cases:**

**1**) Was checked when the user signed up a second time via the invite link and after that passed the FV.
Still unsuccessful.
https://www.screencast.com/t/g6OKN1Kv6H

**2)**  Was checked case when 2 users  share the link without FV and after  signed up the second time passed FV on DEV environment:**

The attempt was unsuccessful. The users didn't get the reward.

[2021-07-09 12:40] iLystopad commented on #3303
@julianpolcode The balance is displayed in one row but the last symbol of the balance amount is not displayed.

**Environment:** Native app [staging] 1.29.1-2 (1696)
**Devices list:** Pixel 4 XL // Android 11 // Screen 19:9 1440x3040 6.3"

**Attachment:**
https://www.screencast.com/t/joNPjDoOhrr

[2021-07-09 13:10] julianpolcode commented on #3328
https://images.zenhubusercontent.com/166818382/5727a0e5-3c05-4a2f-88d0-e2b35081571a/bounty.mov

[2021-07-11 08:06] sirpy opened #3330 "significant drop in passwordless signup success"
- amplitude shows <1% success rate for signup
- vietnam has basically 0% success rate
- other countries have some success rate
- in the funnel it seems like the signup flow doesnt start. the TORUS_SUCCESS and SIGNUP_STARTED events are fired but not the SIGNUP_NAME
- couldnt find any significant errors in sentry

[2021-07-11 09:25] sirpy commented on #3285
@iLystopad pushed another fix

[2021-07-11 09:28] sirpy commented on #3330
@serdiukov-o-nordwhale i suggest to implement captcha when user chooses passwordless login/signup
- captcha result should be sent to goodcfverify
- goodcfverify blacklist ip if failed captcha
- goodcfverify returns result to client which doesnt trigger torus login if captcha failed

[2021-07-12 06:41] sirpy commented on #3296
@julianpolcode @serdiukov-o-nordwhale i've unpublished the app
will send request tomorrow to delete it

[2021-07-12 10:35] sirpy commented on #3283
@iLystopad can you post here the logs from macos on QA?
also post logs from same macos but form the working DEV env

[2021-07-12 11:40] lkilaszewski commented on #3304
@iLystopad I tried with the APK, and now I can reproduce the bug

[2021-07-12 14:41] iLystopad commented on #3283
@sirpy @serdiukov-o-nordwhale @julianpolcode
* Console logs of launching FV on Dev env - https://drive.google.com/file/d/11pnhvtf5OJllM6dKcV-WxlXH9E7XEsvr/view?usp=sharing

* Console logs of launching FV on QA env - https://drive.google.com/file/d/1fF8-2r9IW3qyuw-mHWaacfXfgeqLoKjm/view?usp=sharing

Note: Both console logs were taken with closed Web inspector because with opened Web inspector on DE

[2021-07-13 05:39] sirpy commented on #3283
@iLystopad no access to the files.

[2021-07-13 07:59] iLystopad commented on #3283
@sirpy try now

[2021-07-13 08:56] iLystopad commented on #3328
@julianpolcode
The issue is not reproduced on QA. The correct sum of G$ is displayed without delay after opening the invite page.

Environment: QA 1.29.1-3

Devices: Windows 10, Google Chrome v91

Attachments:
https://www.screencast.com/t/VCKBaKuqjkPY

[2021-07-13 08:58] iLystopad commented on #3285
@sirpy @omerzam
**Was 3 attempts:**

**1)** Was checked when the user signed up a second time via the invite link and after that passed the FV. The invited user received the referral bonus and the inviter not.

**Attachment:** https://www.screencast.com/t/KlodkSRho
**Inviter:** 0x592f8bffCE0D5Aff18A29B5681b0Ebfd7cC3572F; 8a6c1f9ab1418eba9f67cea596f5b949db9b28399512970e96c47bfb127a9313.
**Invited:*

[2021-07-13 12:54] iLystopad commented on #3267
@lkilaszewski  @serdiukov-o-nordwhale
The issue is reproduced on the mobile QA. The image on the Send completed popup on the Android app is different than on the web app.

**Environment:**
Android App [staging] 1.29.1-3 (1704)
QA 1.29.1-3

**Device:**
Samsung Galaxy A80 // Android 10
Windows 10 // Google Chrome v91

**Attachments:**
https://www.screencast.com/t/kidMPHMh36t - Recieve is correct
htt

[2021-07-13 19:27] #2309 closed

[2021-07-13 20:33] #2767 closed

[2021-07-13 20:41] #1665 closed

[2021-07-13 21:09] #2761 closed

[2021-07-14 09:20] sirpy opened #3333 "dont store feeditem animation status in database"
- currently we mark if an item was animated or not this is heavy on the database
- [ ] modify to animate just the first item icon

[2021-07-14 11:31] iLystopad opened #3334 "It is possible to move cards (information and pending) beyond the edge of the app."
**It is possible to move cards (information and pending) beyond the edge of the app.**

**Preconditions:**
1) The user is logged in
2) The main page is open
3) information and pending cards are available

**Steps to reproduce:**
1) click and hold the information or pending card
2) move it to the left side beyond the edge of the app
3) observe the result

**Expected result:** The cards should be st

[2021-07-14 11:50] sirpy commented on #3285
@iLystopad I cant see the logs, best if you also include them or at least keep the console open in the large area.
also in this case it might be better if you filter in the console filter by 'invite'.
currently we are in the middle of upgrading the contracts so it is not possible to re-test on dev env

[2021-07-14 11:56] sirpy opened #3335 "improve feed scroll"
feed scroll becomes really problematic on react-native dev
on web it is a little problematic
maybe we need to find a better scrollable list solution

- [x] feed is slow when scrolling alot
- [x] when scrolling a lot, pagination not always works
- [x] feed is sensitive, when scrolling it will click on items and open modal

[2021-07-15 10:03] serdiukov-o-nordwhale commented on #3261
@lkilaszewski @julianpolcode This issue **shouldn't be released** at the next release 07/21

Please merge it at 22-24 of July and ask @iLystopad to release QA and test it. If he will find some issues - please fix them by hotfixing master branch

After i'll go back form my vacation we will release it 08/04

[2021-07-15 10:05] serdiukov-o-nordwhale commented on #3293
@julianpolcode @lkilaszewski Will look this issue tomorrow.
If i won't find the solution, please look onto it. I'll left the latest status and my assumptions in the comments

[2021-07-15 10:08] serdiukov-o-nordwhale commented on #3291
Still no updates form Torus. Just Re-asked them about the status.

@julianpolcode @lkilaszewski Please create Telegram accounts and ask @sirpy about getting invited to the Torus dev chat. Be in touch with the torus team please. If they will release a new version of their SDKs - please update GoodDapp with it

[2021-07-15 10:14] serdiukov-o-nordwhale commented on #3302
@lkilaszewski @julianpolcode
Firstly, please revert this one commit: https://github.com/GoodDollar/GoodDAPP/commit/c326b737c575bc1d8ad4efe14f59b510d64eba07

Then:
1. Try this solution
https://stackoverflow.com/questions/56867558/why-does-my-react-native-android-app-crash-when-closed-or-the-back-button-is-pre
2. It won't work - try to in install this one package: https://www.npmjs.com/package/react

[2021-07-15 10:27] serdiukov-o-nordwhale commented on #2953
@sirpy i suppose this isn't relevant anymore ?

[2021-07-15 10:29] serdiukov-o-nordwhale commented on #2834
@sirpy i suppose this isn't relevant too as we're moving out from the GunDB

[2021-07-15 10:31] serdiukov-o-nordwhale commented on #2987
@sirpy @tzvister Is this still relevant ?

[2021-07-15 10:35] serdiukov-o-nordwhale commented on #3174
@sirpy re-assigned this to you, as you're dealing now with the GooglePlay

[2021-07-15 10:36] serdiukov-o-nordwhale commented on #2321
@sirpy is this still relevant ?

[2021-07-15 11:45] serdiukov-o-nordwhale commented on #3162
1. finish current PR (need design #3279)
2. move 3.4.5. to the separate tasks

[2021-07-15 13:03] iLystopad commented on #3267
@lkilaszewski @serdiukov-o-nordwhale
The issue is not reproduced on the mobile QA. The images on the Send/Receive completed popup on the Android app are the same as on the web app.

**Environment:**
Android App [staging] 1.29.1-4 (1709)
QA 1.29.1-4

**Devices:**
Tablet Lenovo TB-X306X (1280x800) // Android 10
Samsung Galaxy A80 // Android 10
Windows 10 // Google Chrome v91

**Attachment:**
https:/

[2021-07-15 14:23] serdiukov-o-nordwhale commented on #3304
@lkilaszewski please re open task and move to QA

[2021-07-15 14:25] lkilaszewski commented on #3304
moved to QA

[2021-07-16 09:49] iLystopad opened #3340 "The pages are not fully scrollable in landscape mode on the iOS and Android mobile devices in browsers."
The pages are not fully scrollable in landscape mode on the iOS and Android mobile devices in browsers.

**Preconditions:**
1) The user is signed in

**Steps to reproduce:**
1) Change screen orientation to the landscape mode
2) Scroll page down
3) Observe the result

**Actual result:**
The pages are not fully scrollable in landscape mode on the iOS and Android mobile devices in browsers.

**Expect

[2021-07-16 10:50] iLystopad commented on #3304
@lkilaszewski @serdiukov-o-nordwhale @julianpolcode
The issue is not reproduced on Native QA. The user is able to edit phone number without any issues.

Environment:
Android App [staging] 1.29.1-5 (1713)
QA 1.29.1-5

Device: Samsung Galaxy A80 // Android 10

Attachment:
https://www.screencast.com/t/CIekGZa16pQX

[2021-07-18 13:22] sirpy opened #3341 "update wallet for protocol v2"
- work with new contracts from @gooddollar/goodprotocol package
- show interest data from fundmanager
- show staking data from multiple staking contracts

[2021-07-18 13:40] sirpy commented on #3330
@julianpolcode what about this part?

[2021-07-19 10:19] sirpy commented on #3262
@lkilaszewski @julianpolcode
when you review this make sure to review also the blocked issues that are in review
#3311 #3297

[2021-07-19 12:29] #3330 closed

[2021-07-20 05:49] sirpy commented on #3174
@serdiukov-o-nordwhale i'm just fixing it so org.gooddollar is a public app

[2021-07-20 05:51] sirpy commented on #2987
yes @tzvister that's a product decision

[2021-07-20 05:52] sirpy commented on #2834
@serdiukov-o-nordwhale lets just check this after we migrate

[2021-07-20 09:36] sirpy opened #3344 "user should not wait before editing avatar"
when setting an avatar it takes time until the "crop/zoom" screen appear and then the user has to wait again when saving result.
solution is to save avatar only after crop and not after uploading

[2021-07-20 10:28] sirpy opened #3346 "User should see payment api tx details in feed"
- Once user confirms TX is created and details sent to seller and saved in feed
- [x] support saving extra information and calling seller callback url
    - [x] Add to feed item data field (`SendLinkSummary.js onTransactionHash`) the following data
       - [x] senderEmail - email entered by user
       - [x] senderName - name entered by user
       - [x] invoiceId - invoice # from seller read fro

[2021-07-20 11:13] sirpy opened #3347 "seller should have a payment api SDK"
#### Seller SDK

- Create a typescript npm module that works both on browser/node that implements the following methods
  - [ ] `generatePaymentLink(PaymentDetails):string`
  Similar to (`lib/share/index.js generateCode + readCode`)
  Should include extra details from PaymentDetails
  - [ ] `generatePaymentQR(PaymentDetails):image`
  Same as above but create a QR containing above url
  - [ ] `vali

[2021-07-21 13:38] vldkh opened #3350 "There is no possibility to log in/sign up passwordless on the android app. The "ERROR for site owner: invalid site key" popup is shown."
There is no possibility to log in/sign up passwordless on the android app. The "ERROR for site owner: invalid site key" popup is shown.

**Steps to reproduce:**
1) Tap on the "AGREE & SIGN UP PASSWORDLESS" button
2) Observe the result

**Actual result:**
There is no possibility to log in/sign up passwordless on the android app. The "ERROR for site owner: invalid site key" popup is shown.

**Expect

[2021-07-21 13:55] vldkh commented on #3324
@sirpy @serdiukov-o-nordwhale
This function works properly, updating every 30 sec
**Attachment:**
https://www.screencast.com/t/mfFF2w4bq

[2021-07-21 15:30] tzvister opened #3351 "Basic Stats aren't showing on Claim Screen"
![0 claimers.png](https://images.zenhubusercontent.com/5d6d33bc0160a505af4b5b22/fd5e8558-4436-4527-8e27-1e9c96d9ab12)

So Far Today: 0 Claimers Received 0$ out of 0G$ Available

[2021-07-22 09:33] lukasz-kilaszewski commented on #3334
The issue is in package that we use: https://www.npmjs.com/package/react-native-swipeable-lists
The last update was 2 years ago. So i think that we should fork it and make new library with changes that we need

[2021-07-23 06:05] julianpolcode commented on #3350
@vldkh Is it still relevant after yesterday's fix?

[2021-07-23 08:48] sirpy commented on #3285
@vldkh try  now

[2021-07-23 10:22] vldkh opened #3353 "The social icons on the invite page are moved out."
The social icons on the invite page are moved out.

**Preconditions:**
- The user is signed in

**Steps to reproduce:**
1) Open the invite page
2) Observe the result

**Actual result:**
The social icons on the invite page are moved out.

**Expected result:**
The social icons on the right place

**Environment:**
QA 1.29.1-10
PROD 1.30.0
DEV 1.29.1-10

**Devices:**
Windows 10, Google Chrome v91
- Sa

[2021-07-23 10:30] vldkh opened #3354 "The info feed cards are cropped on the main page on the mobile device"
The info feed cards are cropped on the main page on the mobile device

**Preconditions:**
- The user is signed in
- The info cards are available
- The main page is open

**Steps to reproduce:**
1) Pay attention to the information feed cards

**Actual result:**
The info feed cards are cropped on the main page on the mobile device

**Expected result:**
The info feed cards are not cropped on the main

[2021-07-23 12:25] vldkh commented on #3285
There is no possibility to "Claim" and pass face verification on DEV env. The error popup "sorry, something unexpected happened, please try again. Error: E3" is shown.

**Checked on DEV 1.29.1-10
Windows 10 // Google chrome 91**

**Attachments:**
https://www.screencast.com/t/ct7OZM9KEre
https://www.screencast.com/t/PLBASczZJ

[2021-07-23 12:32] lukasz-kilaszewski commented on #3334
I created fork of this lib with my solution: https://www.npmjs.com/package/react-native-swipeable-lists-gd

[2021-07-23 12:37] vldkh commented on #3328
@julianpolcode
The correct sum of G$ is displayed without delay after opening the invite page.

**Environment: PROD 1.30.0
Devices: Windows 10, Google Chrome v91**

**Attachments:**
https://www.screencast.com/t/s4ehtqoOW

[2021-07-23 12:38] #3328 closed

[2021-07-23 12:43] vldkh commented on #3324
@sirpy @serdiukov-o-nordwhale
This function works properly, updating every 30 sec

Environment: PROD 1.30.0
Windows 10 // Google Chrome v 91

Attachments:
https://www.screencast.com/t/tuUn5tPfa

[2021-07-23 12:43] #3324 closed

[2021-07-23 12:48] vldkh commented on #3267
@lkilaszewski @serdiukov-o-nordwhale
The issue is not reproduced on the mobile PROD. The images on the Send/Receive completed popup on the Android app are the same as on the web app.

**Environment:**
Android App [production] 1.30.0 (1744)
Prod 1.30.0

**Devices:**
Samsung Galaxy A80 // Android 10
Windows 10 // Google Chrome v91

**Attachments:**
https://www.screencast.com/t/JvnPQManK

[2021-07-23 12:49] #3267 closed

[2021-07-23 13:00] vldkh commented on #3304
@lkilaszewski @serdiukov-o-nordwhale @julianpolcode
The issue is not reproduced on Native PROD. The user is able to edit phone number without any issues.

**Environment:**
Android App [production] 1.30.0 (1744)

**Device:**
Samsung Galaxy A80 // Android 10

**Attachments:**
https://www.screencast.com/t/OgsbPHUg

[2021-07-23 13:00] #3304 closed

[2021-07-25 08:42] sirpy commented on #3285
@vldkh fixed

[2021-07-25 08:45] sirpy commented on #3353
@vldkh for me it looks ok, is this specific to those devices?
if you find an issue that is specific to a device then write  clearly (bold)
that it works ok but only on devices X it doesnt

[2021-07-25 09:15] sirpy commented on #3351
i think this has been fixed on latest release

[2021-07-25 12:45] sirpy commented on #3219
@serdiukov-o-nordwhale the blocking task was merged

[2021-07-25 13:20] #3333 closed

[2021-07-25 16:24] tzvister commented on #3351
Solved

[2021-07-26 07:42] vldkh commented on #3350
@julianpolcode @sirpy @serdiukov-o-nordwhale
The issue is not reproduced on a mobile device on  QA Android App. There is the possibility to log in/sign up passwordless on the android app.

Environment:
Android App [staging] 1.29.1-11 (1749)

Devices:
Samsung A80 // Android 10

Attachments:
https://www.screencast.com/t/ZPVnnx59Hw

[2021-07-26 12:18] tzvister commented on #3296
The store setting are now filled. Please proceed with listing.

[2021-07-26 12:23] vldkh commented on #3334
@sirpy @lukasz-kilaszewski
The issue is still reproduced. It is not possible to move cards (information and pending) beyond the edge of the app. But we still need to limit the movement of the cards to the end of the red zone.

**Environment:**
QA 1.29.1-12

**Devices:**
Windows 10, Google Chrome v91

**Attachments:**
https://www.screencast.com/t/JdX63fqs

[2021-07-26 12:43] tzvister commented on #3351
The issue was re-opened as the issue seems to be a UX issue caused by the delay in fetching thee information.

I suggest adding a spinner or a "Loading..." tag instead of current 0 figures showing to. the claiming user.

[2021-07-26 12:53] vldkh commented on #3344
@sirpy
The issue with wait is solved. But the avatar is not visible after upload.

**Environment:**
QA 1.29.1-12

**Devices:**
Windows 10, Google Chrome v91

**Attachments:**
https://www.screencast.com/t/24CqXCUyEy0
https://www.screencast.com/t/4tdZn31bowxP

[2021-07-27 05:27] vldkh commented on #3303
@julianpolcode
The issue is not reproduced. All symbols of balance amount are displayed in one row.

Checked on the: Native app [dev] 1.30.0 (1744)

Devices:
Pixel 4 XL // Android 11 // Screen 19:9 1440x3040 6.3"

Attachment:
https://www.screencast.com/t/goZwRAMgqFR

[2021-07-27 05:27] #3303 closed

[2021-07-27 05:45] vldkh commented on #3334
@sirpy @lukasz-kilaszewski
The issue is not reproduced. It is not possible to move cards (information and pending) beyond the edge of the app. There is possible to move info cards till the end of the red zone.

**Environment:**
QA 1.29.1-13

**Devices:**
Windows 10, Google Chrome v91

**Attachments:**
https://www.screencast.com/t/DtL7W43Y1

[2021-07-27 10:57] vldkh opened #3357 "There is a 10% chance to catch FV error. The "OK, VERIFY ME" button is unclickable."
There is a 10% chance to catch FV error. The "OK, VERIFY ME" button is unclickable.

**Preconditions:**
1) The user is logged in
2) FV not passed
3) The main page is open

**Steps to reproduce:**
1) Click on the "CLAIM" button
2) Click on the "CLAIM NOW" button
3) Observe the result

**Actual result:**
The "OK, VERIFY ME" button is unclickable.

**Expected result:**
The "OK, VERIFY ME" button is c

[2021-07-27 12:37] sirpy commented on #3344
@vldkh pushed fix to DEV+qA

[2021-07-27 12:52] vldkh commented on #3285
@sirpy
The inviter user received the referral bonus and the invited not. But Inviter receives 2,5 G$ instead of 5G$.

**Attachements:**
https://www.screencast.com/t/oqO4WV9w
https://www.screencast.com/t/45v7ZMLSIhyt - invited acc
https://www.screencast.com/t/VZyv8y6kK - inviter acc

**Inviter:**
- masterSeed 18da39f7508e8db7436a51d9017817cd55b2260e25c6adcb5d16af7803123f86
- wallet address 0xB9702E

[2021-07-27 12:59] sirpy commented on #3262
@vldkh this issue also solves
#3311 #3297

[2021-07-28 09:41] sirpy opened #3359 "user should refresh their JWT token before using realmdb"
the new feed based on realmdb requires a new JWT from the backend, so client can login to realmdb.
- [x] check that `aud` field exists in jwt, otherwise force refresh

[2021-07-29 06:58] sirpy commented on #3285
@vldkh looking at the transactions on the blockchain
This was the inviter address: 0xd0195634846aab1FD9a75078dCb398b9e524224A
and he got 5G$
you must have confused the invite code of the accounts.
try again

[2021-07-29 07:10] vldkh commented on #3285
@sirpy
According to the video there are all correct from my side

[2021-07-29 09:47] vldkh commented on #3353
@sirpy
for me it reproduced on:
- **Windows 10 // Google Chrome v91** (DEV 1.29.1-15; QA 1.29.1-15; PROD 1.30.0)
- **Samsung A80 // Android 10** (**Native app**: DEV 1.29.1-15; QA 1.29.1-15; PROD 1.30.0 . **Web app**: DEV 1.29.1-15; QA 1.29.1-15; PROD 1.30.0)
- **iPhone XR // iOS 14.6** (Safari - DEV 1.29.1-15; QA 1.29.1-15; PROD 1.30.0)

[2021-07-29 14:37] vldkh opened #3360 "There is no possibility to sign up/log in via Facebook. "Unable to load URL" error is shown."
There is no possibility to sign up/log in via Facebook. "Unable to load URL" error is shown.

**Preconditions:**
1) user login into Facebook account

**Steps to reproduced:**
1) Click on the "SIGN UP WITH FACEBOOK" button
2) Observe the result

**Actual result:**
There is no possibility to sign up/log in via Facebook

**Expected result:**
There is the possibility to sign up/log in via Facebook wit

[2021-07-29 15:09] vldkh opened #3361 "There is unexpected back redirection to the "Welcome page" after a click on "SIGN UP/LOG IN with GOOGLE" button."
There is unexpected back redirection to the "Welcome page" after a click on "SIGN UP/LOG IN with GOOGLE" button.

**Preconditions:**
1) the user has an account
2) the registration page is open

**Steps to reproduce:**
1) Click on the "AGREE & SIGN UP WITH GOOGLE" button
2) Choose an already registered account / create a new account
3) Observe the result
4) If successful, repeat steps 1-3 till the

[2021-07-30 07:57] vldkh commented on #3285
@sirpy
The Invited and Inviter users didn't get the referral bonus. I created a new account (Invited) without any transactions and still nothing

Inviter:
- Wallet address: 0xB4D8463A1B2467d41D52a91AEf30754073d6aE0C
- MasterSeed: 63e657e849445e51f1cf375eea25bc28417f1f064c7b8f3e3559f54fee5d1d88
- Logs: https://www.screencast.com/t/OAWM4UiK7y; https://www.screencast.com/t/5oRmHGGb6

Invited:
- Walle

[2021-07-30 09:09] vldkh opened #3362 "The is wrong displaying of feed transaction card after the claim on the DEV env."
@sirpy
The is wrong displaying of feed transaction card after the claim on the DEV env.

**Account info:**
- Wallet address: 0xB4D8463A1B2467d41D52a91AEf30754073d6aE0C
- MasterSeed: 63e657e849445e51f1cf375eea25bc28417f1f064c7b8f3e3559f54fee5d1d88

**Environment:**
DEV 1.29.1-15

**Devices:**
Windows 10 // Google Chrome 91v

**Attachents:**
https://www.screencast.com/t/k565r9lp4LS

**Note:**
Accord

[2021-07-30 13:12] vldkh opened #3364 "There is no possibility to cancel "Payment Link" on "Payment Pending..." feed cards on DEV ver. The Error popups are shown."
There is no possibility to cancel "Payment Link" on "Payment Pending..." feed cards on DEV ver. The Error popups are shown.

**Preconditions:**
1) The user is signed in
2) The main page is open

**Steps to reproduce:**
1) Create a "Payment Link" via "Send" button >> The "Payment Pending" card is shown
2) Cancel the "Payment Link"
3) Observe the result

**Actual result:**
There is no possibility to

[2021-08-01 10:00] sirpy commented on #3362
@vldkh make sure new issues you open are in "new issues" column not icebox

[2021-08-01 10:03] sirpy commented on #3361
@vldkh the steps to reproduce are not clear enough.
as I recall you pressed the back button after the signup form is shown right?
also you say to choose and alredy existing account/create a new account, does that mean it happens with both "login" and "sign up"?

[2021-08-01 10:13] sirpy commented on #3360
@vldkh @serdiukov-o-nordwhale @julianpolcode @lukasz-kilaszewski
FYI currently facebooks is blocking our gooddev url, so yes not possible to use it on dev env.
it should now work on QA

[2021-08-01 10:19] sirpy commented on #2749
@serdiukov-o-nordwhale in the bug link you shared this appears as solved for chrome > 80
@vldkh please retest on mobile with chrome >80

[2021-08-01 10:21] sirpy commented on #2248
we have a new dashboard

[2021-08-01 10:21] #2248 closed

[2021-08-01 10:21] sirpy commented on #1885
@vldkh please retest

[2021-08-02 05:20] sirpy opened #3365 "user should be able to enter the invite code of the inviter"
on the invites(rewards) screen
- [x] add a text box and button where use can paste an invite link/invite code if he was not invited yet
- [x] once user presses the button it will show a dialog with loading spinner and says "collecting invite bounty"
- [x] in the background it will trigger two calls to the blockchain via wallet
  - joinInvites
  - after joininvites complete it will trigger collectB

[2021-08-02 06:11] sirpy commented on #3362
when i open the account using the master seed I get the correct feed.
![image](https://user-images.githubusercontent.com/671095/127812290-460e41ee-5165-4b9b-a117-09d2b86e4b8e.png)

[2021-08-02 07:28] sirpy commented on #3361
@vldkh also the screencast is wrong, that's the facebook issue video...

[2021-08-02 08:55] vldkh commented on #3361
@sirpy
**Steps to reproduce:**
1) Click on the "AGREE & SIGN UP WITH GOOGLE" button >> The "Choose your account" page is open;
2) Choose the already existing account >> The "You already used this account when you signed up with google" popup is shown
3) Click on the "BACK (Google Chrome)" button >> The "Choose your account" page is open;
4) Choose the same account like it was before >> The "WELCOM

[2021-08-02 09:23] vldkh commented on #3362
@sirpy
The issue is not reproduced on DEV env.

**Environment:**
DEV 1.29.1-15

**Devices:**
Windows 10 // Google Chrome 91v

**Attachments:**
https://www.screencast.com/t/4xpKCu4z

[2021-08-02 09:23] #3362 closed

[2021-08-02 09:50] vldkh commented on #1885
@sirpy
The issue is not reproduced on DEV env.

Checked on DEV 1.29.1-15
Device: Windows 10 // Google Chrome v91

Attachments:
https://www.screencast.com/t/NKTcbyfb

[2021-08-02 09:51] #3360 closed

[2021-08-02 10:15] serdiukov-o-nordwhale commented on #3291
The new Torus version has been released but it doesn't contains the fix:

[code]

[2021-08-02 10:31] julianpolcode opened #3366 "Unit tests for new user profile storage"

[2021-08-02 10:44] vldkh commented on #3364
@sirpy
The issue is not reproduced on DEV env. There is the possibility to cancel "Payment Link" on the "Payment Pending..." feed cards on DEV ver. Without any Error popups.

**Environment:**
DEV 1.29.1-15

**Devices:**
Windows 10 // Google Chrome 91v

**Attachments:**
https://www.screencast.com/t/lBLI7RvnV

[2021-08-02 11:01] serdiukov-o-nordwhale commented on #3291
@sirpy They're telling the issue isn't reproduced
I'll update SDK to the latest and will ask @vldkh to re-test

[2021-08-02 12:34] vldkh commented on #3351
@sirpy @tzvister
The issue is not reproduced on DEV env. The  Basic Stats are showing on Claim Screen.

**Environment:**
DEV 1.29.1-15

**Devices:**
Windows 10 // Google Chrome v91

**Attachments:**
https://www.screencast.com/t/bzs3Lfd6

[2021-08-02 12:57] tzvister commented on #3351
@sirpy what is the source of info on DEV? Blockchain or local?

On Mon, Aug 2, 2021 at 3:34 PM vldkh ***@***.***> wrote:

--
Tal Oron
Internet & Sons <http://www.internetandsons.com>
Linkedin <https://www.linkedin.com/in/taloron/>

[2021-08-02 15:12] #3219 closed

[2021-08-02 15:13] serdiukov-o-nordwhale commented on #3291
updated Torus: https://github.com/GoodDollar/GoodDAPP/commit/686cc6df80bc07602e3c6eda26bee05d76647bfa

@vldkh Please release QA and check is the issue reproducing

[2021-08-03 10:51] vldkh commented on #3291
@sirpy @serdiukov-o-nordwhale
The issue is still reproduced on QA env. The user is not able to sign up/login on the old versions of Safari.

**Environment:**
QA 1.29.1-16 // DEV 1.29.1-16

**Devices:**
iPhone 6 Plus // 11.1

**Attachments:**
https://www.screencast.com/t/8ruQjs9wMP1K
[https://app.zenhub.com/files/166818382/5128d990-3fd2-4822-95e7-6dde225d7d9b/download](https://app.zenhub.com/files/

[2021-08-04 08:07] vldkh commented on #3344
@sirpy
The issue is not reproduced on QA env. The user is not waiting before editing the avatar. The avatar is visible after uploading.

**Environment:**
QA 1.29.1-17

**Devices:**
Windows 10 // Google Chrome v92

**Attachments:**
https://www.screencast.com/t/7Fa9DGH5