[2020-12-08 11:07] WolfVV opened #2793 "(BUG) (FV) The earth animation isn't displayed on the "You need to stay on this screen..." pop-up"
Precondition:
FaceVerification is opened on the scanning screen
Steps to reproduce:
1) Scan face
2) Pay attention to the

Actual result: The earth animation isn't displayed on the "You need to stay on this screen..." pop-up
Expected result: The earth animation should be displayed on the "You need to stay on this screen..." pop-up

______________________________________
Checked on  prod 1.11.3
Desk

[2020-12-08 11:42] serdiukov-o-nordwhale commented on #2792
will be fixed after we'll migrate to the v9 custom server

[2020-12-08 11:49] serdiukov-o-nordwhale commented on #2793
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/62208067/101480227-13639580-395c-11eb-9c00-c58868aace19.png">
it's an cloudflare issue - from unknown reasons when we're trying to get that gif file it produces infinite redirect to itself
@sirpy could you please look at this?

[2020-12-08 12:44] sirpy commented on #2793
@serdiukov-o-nordwhale @WolfVV  what happens when you directly fetch
https://wallet.gooddollar.org/zoom/images/zoom_activity_indicator.gif ?
for me it shows it with no issues

[2020-12-08 12:48] serdiukov-o-nordwhale commented on #2793
@sirpy pls see my screenshot - i'm trying to load that gif only here.

curl call with verbose returns the same:

[code]

[2020-12-08 12:57] serdiukov-o-nordwhale opened #2794 "Development's enviroment file overwrites local .env"
It's seems `.env.development` is merged **over** the .env during local run
Actually it should be vice versa or `.env.<env name>` shouldn't be parsed if `.env` file exists

It's very critical for local dev - i was needed to comment some lines in `.env.development` to launch with local goodserver

[2020-12-08 12:59] serdiukov-o-nordwhale opened #2795 "A lot of 'invalid style prop' errors during app run"
There're mostly the `Text`'s component props passed into the `View`
for example to the `Section.Row` or `Section.Text`

[2020-12-08 13:03] serdiukov-o-nordwhale commented on #2793
@sirpy haveve purged the cache of this file from cloudlfare
now it's working
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/62208067/101487254-8f62db00-3966-11eb-9b6d-741613a9df2d.png">

@WolfVV pls recheck

[2020-12-08 13:07] sirpy commented on #2794
you should be able to change the order in config/env.js
thats the original create-react-app script

[2020-12-08 13:13] serdiukov-o-nordwhale commented on #2794
@sirpy according to this code:
[code]

the order looks correctly (`.env.<env name>` -> `.env.<env name>.local` -> `.env.local` -> `.env`). E.g. `.env` should be applied the last one and be able to override any var from `.env.development`

But **actually** isn't working like that, so there's a bug in `config/env.js` or somewhere else...

[2020-12-08 19:23] MarianoAmado commented on #2765
@sirpy
The PR i submitted fixes the setSpan error, couldn't reproduce the first issue about re-focusing the inputs, is it still happening?

[2020-12-08 19:57] sirpy commented on #2777
@WolfVV this should be fixed

[2020-12-09 13:18] WolfVV opened #2797 "(BUG) [Native/Android] The "We were unable to complete the signup..." error pop-up is dislayed after each attempt to log in/sign up"
Precondition:
The "Gooddollar" application is opened
Steps to reproduce:
1) login via google or facebook
2) Pay attention to the "We were unable to complete the signup..." error pop-up

Actual result: The "We were unable to complete the signup..." error pop-up is displayed after each attempt to log in/sign up
Expected result: User should be able to login or sign up according to the method that use

[2020-12-09 13:24] sirpy commented on #2797
@WolfVV i need to update the redirect link. will be fixed soon

[2020-12-09 13:48] sirpy commented on #2797
@WolfVV try now

[2020-12-10 09:14] WolfVV commented on #2797
@sirpy tested on the last build but the issue is still reproduced. should it be tested on the same build or need to wait for a new one to test this issue?
Checked on Version 1.11.6 (1226)

[2020-12-10 09:52] WolfVV commented on #2774
@mauriguz previous images are displayed fully
but I found one more that is cut
![2020-12-10_11-46-36.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/e7a1d4e5-8552-4a30-a8cc-de3b9d33451f)

[2020-12-10 10:00] #2774 closed

[2020-12-10 10:09] WolfVV commented on #2793
@serdiukov-o-nordwhale @sirpy earth animation works
![2020-12-10_12-07-36.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/779bb8be-35c8-4795-91b0-def6d65f6a88)

[2020-12-10 10:09] #2793 closed

[2020-12-10 10:21] WolfVV commented on #2777
@sirpy button redirects to start page as expected
Checked on dev 1.11.6
Desktop: Windows 10 // Google Chrome   87.0.4280.88

[2020-12-10 10:21] #2777 closed

[2020-12-10 11:43] serdiukov-o-nordwhale opened #2798 "FaceTec v9 - production deploy"
Step 1. Temporary installation & migration
- install v9 custom server without  proxy & https
- run in development mode
- perform migration

Step 2 - test and prepare v9 server
- change port to 8080 in Dockerfile's EXPOSE directive, config.yml and docker-compose.yml
- downgrade docker-compose version to 2.x
- copy certificates, htpasswd & other proxy-related stuff to v9
- install v9 custom server w

[2020-12-10 11:49] WolfVV commented on #2573
![2020-12-10_12-54-23.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/9c0dd3f8-6c8a-48b0-a690-c982b0846ea5)
![2020-12-10_13-02-17.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/7f617dd2-0b39-4d43-b9d5-b36fac0caaa4)
![2020-12-10_13-03-45.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/280f4c2e-4f6e-47f4-912f-186d0aedf3eb)
![2020-12-10_13-05-

[2020-12-10 13:17] #2573 closed

[2020-12-10 13:32] WolfVV commented on #2690
@sirpy fixed - button appears inside container
https://www.screencast.com/t/X11lJge1Jc
Checked on  QA 1.11.0-1
Desktop: Windows 10 // Google Chrome   87.0.4280.88
Samsung S8 // Android 8

[2020-12-10 13:32] #2690 closed

[2020-12-11 14:20] WolfVV commented on #2490
@sirpy user is able to click  the claim buttons a few times a row until the counter appears (user didn't get additional money but he got a couple of cards on the dasboard)
__________________________________
Checked on  QA 1.10.1-1
Checked on  DEV 1.11.6
Desktop: Windows 10 // Google Chrome   87.0.4280.88
![2020-12-11_16-13-15.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/0543f

[2020-12-11 16:38] WolfVV commented on #2758
@sirpy tested one more time, so passwordless works well(user is able to login/signup) - user gets every message with OTP
but after more than 6 attempts I didn't find any errors in the sentry about 6th attempt - what the error message should be?
here the video with my attempts https://www.screencast.com/t/llIATOdP
Checked on  prod 1.11.6
Desktop: Windows 10 // Google Chrome   87.0.4280.88

[2020-12-11 16:57] WolfVV opened #2802 "(BUG) Error: Face recognition failed User not approved to claim, not in a queue or still pending"
**Precondition:**
The user is logged in with email: 2tester8913gmail.com  (Pass: Tester_22222)
The user is on the Face verification scanning screen

**Steps to reproduce:**
1) Scan face
2) Pay attention to the error message

Actual result: The “User not approved to claim, not in a queue or still pending” error message is shown in the console after trying to pass the face verification
Expected resu

[2020-12-11 17:12] WolfVV opened #2803 "(BUG) ERR_TOO_MANY_REDIRECTS"
Steps to reproduce:
1) Open the start page
2) Pay attention to the error message in the console
3) Take any action ( for example login and open the "Send" page)
4) Pay attention to the new errors caused by any action

Actual result: Errors is displayed in the console after interaction with app
Expected result: Errors shouldn't be displayed in the console after interaction with app

Note: isn't rep

[2020-12-11 17:36] WolfVV opened #2804 "(BUG) The GoodDollar logo isn't displayed on the feeds"
Steps to reproduce:
1) Open the dashboard
3) Pay attention to the lack of a GoodDollar logo on the feeds

Actual result:  The GoodDollar logo isn't displayed on the feeds
Expected result:  The GoodDollar logo should be displayed on the feeds

Note: Isn't reproduced for qa/dev

______________________________________
Checked on  PROD 1.11.6
Desktop: Windows 10 // Google Chrome   87.0.4280.88
![2020-

[2020-12-12 19:49] sirpy commented on #2804
i think it is that cloudflare issue...
try agai

[2020-12-12 19:50] sirpy commented on #2803
cloudflare, should be working now

[2020-12-12 20:22] sirpy commented on #2802
@WolfVV coordinate with @serdiukov-o-nordwhale when you should start testing the V9 backend

[2020-12-12 20:23] sirpy commented on #2758
@WolfVV direct the questions to the person assigned to the issue
@omerzam

[2020-12-13 08:50] omerzam commented on #2758
@WolfVV you should see a MaxAttemptsReachedEvent error on sentry
the clock for the event count resets after 10 minutes and from then on you should be able to verify your phone again

[2020-12-13 13:13] sirpy commented on #1842
will be solved by moving to new dashboard

[2020-12-13 13:13] #1842 closed

[2020-12-13 13:49] #2035 closed

[2020-12-13 13:52] #2794 closed

[2020-12-13 13:53] sirpy commented on #2792
@WolfVV should be testable now

[2020-12-13 14:03] sirpy commented on #2490
@WolfVV added patch for double click preventions across all buttons.
should be testable on QA

[2020-12-14 08:35] WolfVV commented on #2490
@sirpy tested on QA
I clicked the "Claim" button one time and then confirm by clicking the "YAY!" button but afterward, the "Claim" button is still displayed and a user can press it one more time
https://www.screencast.com/t/oQwk1xW4fb

[2020-12-14 09:27] WolfVV opened #2807 "(BUG) The image of invite steps is not shown on the Invite screen after clicking on the “How do I invite people?” button"
Precondition:
The "Invite" page is opened
Steps to reproduce:
1) Click the "How Do I Invite People?" button
3) Pay attention to the lack of the image

Actual result:  The image of invite steps is not shown on the Invite screen after  clicking on the “How do I invite people?” button
Expected result: The image of invite steps  is shown on the Invite screen after  clicking on the “How do I invite peo

[2020-12-14 10:03] WolfVV opened #2810 "(BUG) The "Friends who joined and claimed" block is displayed out of the container"
Precondition:
The "Invite" page is opened
The user has 4 invited people but they are still not whitelisted
Steps to reproduce:
1) Pay attention to the "Friends who joined and claimed" block

Actual result: The image of invite steps is not shown on the Invite screen after clicking on the “How do I invite people?” button
Expected result: The image of invite steps is shown on the Invite screen after

[2020-12-14 11:00] sirpy commented on #2802
@WolfVV the claim queue has now been removed
all users should be able to claim immediatly

[2020-12-14 11:14] AnastasiiaOdnoshevna commented on #2664
@sirpy
Not fixed - The time on the Counter is changed after setting the time manually in the setting. (The time on the counter became negative after setting the time more than on the "Claim cycle restart every day at:" section )

Fixed - The counter time is working properly after changing the time zone.  ( The time is changed on the "Claim cycle restart every day at:" section relative to the chose

[2020-12-14 11:27] WolfVV opened #2811 "(BUG) The superfluous elements are displayed on the "Help&Feedback" screen above the title"
Precondition:
A GoodDollar wallet is opened
Steps to reproduce:
1) Click on the Menu button on the header
2) Click on the Help&Feedback button
3) Pay attention to the custom header

Actual result: The superfluous elements are displayed on the "Help&Feedback" screen on the green block
Expected result: The title without additional subtitles is displayed on the "Help&Feedback" screen on the green blo

[2020-12-14 13:23] WolfVV commented on #2792
@serdiukov-o-nordwhale issue isn't reproduced anymore
Checked on  QA 1.11.0-1
Checked on  DEV 1.11.6
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75

[2020-12-14 13:23] #2792 closed

[2020-12-14 13:23] #2802 closed

[2020-12-14 13:23] WolfVV commented on #2802
@serdiukov-o-nordwhale issue isn't reproduced anymore
Checked on  QA 1.11.0-1
Checked on  DEV 1.11.6
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75

[2020-12-14 13:29] WolfVV opened #2812 "(BUG) Zoom verification failed"FaceMap could not be 3D-matched and updated because the face map you're trying to enroll doesn't match the already enrolled one"
Precondition:
The "FACE VERIFICATION" pop-up is opened
Steps to reproduce:
1) Click the "OK, Verify me" button
2) Click the "Got it" button
3) Try to pass FV
4) Pay attention to the "Something went wrong..." error message

Actual result: The user isn't able to pass FV because the "Something went wrong..." error screen is displayed
Expected result: The user should be able to pass FV without errors

[2020-12-14 13:45] sirpy commented on #2812
@WolfVV
this looks like a new feature, that you can re-authenticate your existing user, and in this case it seems like you used a different face when you first passed FV
first try to process using a new userr

[2020-12-14 14:08] AnastasiiaOdnoshevna commented on #2803
@sirpy
Fixed - ERR_TOO_MANY_REDIRECTS ( The error is not shown in the console )
Video: https://www.dropbox.com/s/185eb951t6i6hfj/ProdErrorsCheck.mp4?dl=0
Checked on eWallet env: 1.11.7
Desktop: Windows 10 // Google Chrome 87.0.4280.88

[2020-12-14 14:09] #2803 closed

[2020-12-14 14:58] AnastasiiaOdnoshevna commented on #2804
@sirpy
@serdiukov-o-nordwhale
The issue isn't reproduced anymore
Checked on Prod 1.11.7
Google Chrome  87.0.4280.88![he GoodDollar logo isn't displayed on the feeds.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/40dd14cd-430b-4500-acaa-58f251d6a5d0)

[2020-12-14 15:20] #2804 closed

[2020-12-14 20:17] sirpy commented on #2664
@AnastasiiaOdnoshevna
if you change the time manually then of course you will get strange behaviour. the time on the computer needs to be correct.

[2020-12-15 09:32] AnastasiiaOdnoshevna commented on #2664
@sirpy  - There are no new issues
Checked on QA 1.11.0-1
Checked on Dev 1.11.6
Desktop: Windows 10 // Google Chrome 87.0.4280.88

[2020-12-15 09:33] #2664 closed

[2020-12-15 10:31] serdiukov-o-nordwhale commented on #2812
@WolfVV Yep, it's a part of re-verification flow. On v9 UI there will be specific error screen for that case

[2020-12-15 11:32] Talbatz commented on #2811
Fixed. Sorry, my bad, these were supposed to be hidden at this stage.

[2020-12-15 11:53] sirpy opened #2813 "optimize claim screen blockchain polliing"
* [ ] poll  only once per minute fuse claimers data
* [ ] once timer is  <=0 and cant claim poll every 5 seconds for entitlement
* [ ] check mainnet stats only on entering no need to poll

[2020-12-15 12:43] AnastasiiaOdnoshevna opened #2814 "The “[object Object]” text is copied on the Payment pending popup after clickin on the Copy button"
**Description:** The user is on the Payment pending popup. When the user clicks on the Copy button the “[object Object]” text is copied instead of the payment link

**Steps to reproduce:**
1)  Click on the Copy button
2) Insert the copied link to the Address field of the browser
3) Pay attention to the inserted text

**Expected result:** The payment link is copied on the Payment pending popup afte

[2020-12-15 12:56] AnastasiiaOdnoshevna commented on #2490
@sirpy
The user is not able to click the claim buttons a few times a row until the counter appears
Tested on QA
Attachment: https://www.dropbox.com/s/wnqzkkiyvdoxu25/Double%20Clicking%20on%20the%20claime%20button.mp4?dl=0

[2020-12-15 12:57] #2490 closed

[2020-12-15 13:40] sirpy opened #2815 "verify sycntx from blockchain handles feed item decryption exception"

[2020-12-15 16:44] WolfVV commented on #2758
@omerzam 1-3 attempts (I got the text otp)
4 (I was called)
5 attempt -  We are sorry something went wrong
6 and the rest o attempts the same result (We are sorry something went wrong)
I didn't find a fit event in the Sentry

[2020-12-16 09:09] AnastasiiaOdnoshevna opened #2818 "(BUG) [Native/Android] The app is crashed on the authentication screen after closing the "Complete action using" pop up"
**Description:** The app is crashed on the authentification screen after closing (Press the Back button on the device) the "Complete action using" popup
**Steps to reproduce:**
1. Launch  the App
2. Tap on the "Already have a Wallet? Log in" button.
3. Tap on the Log in with Google button
4. Tap on the Back button.
5. Pay attention to the result

**Expected result:**
The app is not crashed on the

[2020-12-16 09:30] AnastasiiaOdnoshevna commented on #2797
@Sirpy
The issue is not reproduced
Checked on Version 1.11.6

[2020-12-16 09:30] #2797 closed

[2020-12-16 10:31] omerzam commented on #2758
@WolfVV which project on sentry did you check?
the event should show up on the goodworker project

[2020-12-16 10:39] omerzam commented on #2758
@sirpy should we do something about the error message? make it more explanatory perhaps?

[2020-12-16 13:03] AnastasiiaOdnoshevna opened #2819 "(BUG) The deleted accounts are displayed with asterisks on the invite screen"
**Description:** The user has invited friends who deleted the account. The deleted accounts are displayed with asterisks on the invite screen.

 **Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Click on the Invite button
3. Pay attention to the "Friends Who Joined & Need To Claim" section

**Expected result:**
The deleted accounts are not displayed on the invite screen

**Actual

[2020-12-16 13:26] AnastasiiaOdnoshevna commented on #2758
@omerzam
The MaxAttemptsReachedEvent is shown in the Sentry on the goodworker project after the 5-th attempt.
It's ok that the MaxAttemptsReachedEvent detail page looks like this?
![MaxAttemptsReachedEvent.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/80960826-1745-4235-b065-7eaf2651b3ca)

[2020-12-16 14:00] omerzam commented on #2758
@sirpy perhaps you are right I also thought about once having a second look at it today,
maybe I should add the request body available for me inside the context where this event I fired + the count

[2020-12-16 14:46] sirpy commented on #2758
@omerzam why is 5th attempt failing? shouldnt it also work?
@omerzam right about what? but yes we need more info in the sentry error

[2020-12-16 14:47] sirpy commented on #2819
thats not a bug, if user deleted account we cant get his name any more

[2020-12-16 14:47] #2819 closed

[2020-12-16 14:55] omerzam commented on #2758
@sirpy after 4th attempt the rest are failing until the key is expired (createdAt + TTL) then the count resets to 0 the createdAt is       reset to now

right about being more explanatory, I took it as to add more information to the event like @AnastasiiaOdnoshevna suggested

[2020-12-16 15:13] sirpy commented on #2758
only the 6th attempt should fail

[2020-12-17 07:12] sirpy opened #2820 "Collect citizen data for dashboard"
Citizen record id is the address of the account
System contracts - to/from is null address or one of the contracts in deployment.json
PaymentWithdraw - update both citizens according to to/form fields of event

* GoodDollar - Transfer event, OneTimePaymentLinks - PaymentWithdraw
  * [x] inTransactions (incoming transfers)
  * [x] outTransactions (outgoing transfers)
  * [x] inTransactionsValue (to

[2020-12-17 07:13] sirpy opened #2821 "Collect daily/global transactions data for dashboard"
## Statistics - single record with id 'statistics'
**notice the PaymentWithdraw event is also used**

* GoodDollar - Transfer event, **OneTimePaymentLinks - PaymentWithdraw event**
  * [x] totalTransactionsCount
  * [x] totalTransactionsValue
  * [x] totalTransactionsCountClean (without system contracts with PaymentWithdraw)
  * [x] totalTransactionsValueClean (without system contracts with Paymen

[2020-12-17 07:18] sirpy opened #2822 "Collect UBI and claim data for dashboard"
Statistics record - UBIClaimed -event
- [ ] totalUBIDistributed
- [ ] uniqueClaimers - load citizen record if lastClaim is null/0 then increment
- [ ] totalClaims

DailyUBI record - id is currentDay in UBIScheme
UBIClaimed - event
**load UBIScheme contract and read the currentDay, then load the current DailyUBI entity with id=currentDay**

- [x] pool (ubi pool - implemented)
- [x] quota (daily ubi

[2020-12-17 09:38] omerzam commented on #2758
@sirpy what should happen on the 5th attempt? this is not detailed on the ticket

[2020-12-17 10:40] #2811 closed

[2020-12-17 10:52] AnastasiiaOdnoshevna opened #2823 "(BUG) TypeError: Cannot read property 'title' of null"
**Description:** "TypeError: Cannot read property 'title' of null" error is shown in the console after clicking on the Transaction pending card on the dashboard.  The user has pending transactions.

 **Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Click on the transaction pending card
3. Pay attention to the error message in the console

**Expected result:**
The Transaction pend

[2020-12-17 12:07] AnastasiiaOdnoshevna commented on #2823
@sirpy The issue is not reproduced
Checked on the QA 1.11.0-1
Checked on the DEV 1.11.6
![(Fixed)TypeError Cannot read property title of null.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/96fd8057-5acf-4476-9391-b460cb5d3702)

[2020-12-17 12:07] #2823 closed

[2020-12-17 12:10] AnastasiiaOdnoshevna commented on #2814
@sirpy The issue is not reproduced
Checked on the QA 1.11.0-1
Checked on the DEV 1.11.6
![Fixed Copy button on the Payment pending screen.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/adec915e-9a38-4462-9e61-473d0a94c116)

[2020-12-17 12:10] #2814 closed

[2020-12-17 12:27] AnastasiiaOdnoshevna opened #2824 "(BUG) The invite link is not copied after clicking on the Copy button on the Invite screen"
**Description:**  The invite link is not copied after clicking on the Copy button on the Invite screen

 **Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Click on the Invite icon
3. Click on the Copy button on the Invite screen
4. Pay attention to the copied information in the clipboard

**Expected result:**
The invite link is copied after clicking on the Copy button on the Invit

[2020-12-17 15:27] AnastasiiaOdnoshevna commented on #2695
@sirpy
@serdiukov-o-nordwhale
Face Verification is worked as expected.
Checked on the QA 1.11.0-1

[2020-12-17 15:28] #2695 closed

[2020-12-17 21:28] MarianoAmado commented on #2818
The original error seems related to react-native-svg:
[code]
Here they suggest a fix for this by adding `-keep public class com.horcrux.svg.** { *; }` to proguard-rules.pro
https://github.com/react-native-svg/react-native-svg/issues/1061

[2020-12-18 11:46] AnastasiiaOdnoshevna commented on #2659
@sirpy
The G$ Daily Pool graph is added to the "Total G$ Distributed Daily".
Total active claimers graph is added to the "Daily Unique Claimers".
Checked on the QA 1.11.0-1
Checked on the Prod 1.11.7
![User should see total minted and active claimers graphs.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/f55747f0-22b7-44eb-98cb-4f7290bd7e43)

[2020-12-18 11:46] #2659 closed

[2020-12-18 17:07] AnastasiiaOdnoshevna opened #2827 "(BUG) The time on the counter is displayed more than 24 hours after clicking on the claim button"
**Description:**  The time on the counter is displayed more than 24 hours after clicking on the claim button

 **Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Click on the claim button on the Home screen
3. Click on the Claim button
4. Close the popup
5. Click on the Claim button
6. Pay attention to the time  on the counter

**Expected result:**
The time on the counter is displa

[2020-12-20 06:57] sirpy commented on #2827
this is fixed in the new claim screen you ahve test on QA

[2020-12-20 06:57] #2827 closed

[2020-12-20 07:09] sirpy commented on #2758
send the sms with verify

[2020-12-20 09:55] omerzam commented on #2758
added SMS verify request on 5th attempt
6th attempt and above fails with maxAttemptReached response and event sent to sentry
when TTL is over (by default should be 10 minutes) the count is reset to 0

[2020-12-21 09:54] AnastasiiaOdnoshevna commented on #2818
@sirpy
Is still reproduced.
Checked on the Sony G8232 Xperia XZS // Android 8
Environment: Version 1.11.6 (948)
Video:  https://www.dropbox.com/s/a7774h2ayolasfs/CrashAppSonyXperia.mp4?dl=0
Logs: [https://app.zenhub.com/files/166818382/3ee3d52b-1dfc-4e84-90e8-88ebaa6d4c92/download](https://app.zenhub.com/files/166818382/3ee3d52b-1dfc-4e84-90e8-88ebaa6d4c92/download)

[2020-12-21 11:29] AnastasiiaOdnoshevna commented on #2758
@sirpy
@omerzam
The MaxAttemptsReached error is shown in the Sentry after the 5-th attempt.

![The 5th attempt Error.png](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/173f9cea-7131-483c-84c7-d8366c9ec0be)

[2020-12-21 12:15] sirpy commented on #2758
will be fixed in #295

[2020-12-22 09:16] Esfir-E commented on #2768
@sirpy new design for the internal page-
https://app.zeplin.io/project/5fbfcf1e77d2fab82f7ee073/screen/5fc3abc4ab7489b7358ec5f6

[2020-12-22 09:55] Esfir-E opened #2828 "User should select category of what he is buying"
Description -
We need to add on the screen- 'what I'm paying for' buttons that will describe different option of 'Categories ' that the user is paying for.
the category must be chosen in order to continue, until user will pick an option the 'next' page should be disable.
Once the user will choose a category we should outline the category boarder with blue outline according to the design below.
Use

[2020-12-22 11:50] serdiukov-o-nordwhale opened #2829 "Refactor auth0 domain workaround for native"
1. auth0Domain should be **exactly a domain** (_hostname only_ without `https://`).  Update all env vars and default config value
2. restore `AbstractLoginStrategy` to its original state:

[code]

3. add new class `AbstractAuth0Strategy`:

[code]

4. Subclass all passwordless strategies from AbstractAuth0Strategy and use `auth0ServerUri` instead of `this.config. auth0Domain`:

[code]

[2020-12-22 12:08] sentry-io[bot] opened #2830 "Non-Error promise rejection captured with keys: currentTarget, isTrusted, target, type"
Sentry Issue: [GOODDAPP-4X](https://sentry.io/organizations/gooddollar/issues/1606620925/?referrer=github_integration)

[code]

[2020-12-22 12:14] sentry-io[bot] opened #2831 "Error: registerForInvites failed: This contract object doesn't have address set yet"
Sentry Issue: [GOODDAPP-1FZ6](https://sentry.io/organizations/gooddollar/issues/2075225913/?referrer=github_integration)

[code]

[2020-12-22 12:17] sentry-io[bot] opened #2832 "Error: set() / updateAll() user props failed:: Unexpected GUN error during write / encrypt operation"
Sentry Issue: [GOODDAPP-3BG](https://sentry.io/organizations/gooddollar/issues/1899004411/?referrer=github_integration)

[code]

[2020-12-22 12:19] sentry-io[bot] opened #2833 "Error: handleOTPLUpdated failed: handleOTPLUpdated Failed: Original payment link TX not found"
Sentry Issue: [GOODDAPP-3A8](https://sentry.io/organizations/gooddollar/issues/1898990395/?referrer=github_integration)

[code]

[2020-12-22 12:23] sentry-io[bot] opened #2834 "TypeError: Converting circular structure to JSON"
Somewhere we're trying to store the GUN's ack object (received from some node) "as is"

Sentry Issue: [GOODDAPP-1FXG](https://sentry.io/organizations/gooddollar/issues/2073262592/?referrer=github_integration)

[code]

[2020-12-22 12:33] sentry-io[bot] opened #2835 "Error loading some JS chunk (404 ?)"
Most probably it's 404 error, html code with error page returned instead of js file, as a result we have parsing error (invalid token <)
Need to check how and why it's happening
Probably it happens in a case when user tries to load some internal page (e.g; claim) just after the new release. It tries to load some lazy chunk which doesn't exists anymore

Sentry Issue: [GOODDAPP-231](https://sentry.i

[2020-12-22 14:31] sirpy opened #2837 "(Bug) mismatch between claim page stats"
out of pool doesnt show same stat as the G$ distribution stat at the bottom

[2020-12-22 14:32] serdiukov-o-nordwhale opened #2838 "User should see new error screen design for FV "Face does not match""
Now we're asking user to pass re-verification each 14 days.
During that process we're performing match-3d operation between the stored face snapshots and the face currently enrolling.
If some other person (not the original account owner) tries to do that, the face does not match and we're receiving the corresponding error.
We've agreed with sirpy that we'll show the specific error screen for that

[2020-12-22 15:08] MarianoAmado opened #2839 "(Bug) [RN] Opening dashboard feed items always shows the popup for the first item on the list"
Reproduced on android & ios.
When clicking on any of the dashboard feed items, it always opens the popup for the first item on the list instead of the clicked one.

Also, on ios trying to scroll sideways reveals the next popup (for the second item on the list) but can't scroll to it; on android can't even try to scroll.

[2020-12-22 15:09] AnastasiiaOdnoshevna opened #2840 "[BUG] The GoodMarket button is disappeared at the bottom of the Home screen after claiming the daily basic income"
**Description:** The GoodMarket button is disappeared on the Home screen after claiming the daily basic income

 **Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Click on the claim button on the Home screen
3. Click on the Claim button
4. Click the "YAY!" button
5. Return to the Home screen
5. Pay attention to the bottom of the Home screen

**Expected result:**
The GoodMarket but

[2020-12-23 12:45] serdiukov-o-nordwhale commented on #2840
market button animation is show after claim button animation is done.
there was a check before  is user able to claim or not. if not - no claim animation and we're showing market button immediately
most probably this logic was broken

[2020-12-23 12:58] serdiukov-o-nordwhale commented on #2840
hotfixed in the all branches

[2020-12-23 15:16] AnastasiiaOdnoshevna commented on #2840
@serdiukov-o-nordwhale
@sirpy
The issue is not reproduced.
Checked on the Prod v.1.12.0
Checked on the QA v.1.11.8
Checked on the Dev v.1.11.6

[2020-12-23 15:16] #2840 closed

[2020-12-24 08:14] AnastasiiaOdnoshevna opened #2845 "[BUG] The deleted account is still displayed active for interaction on another device after deleting on the first device"
**Description:** The deleted account is still displayed active for interaction on another device after deleting on the first device

 **Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Log in to the account
3. Log in to the same account on the second device
4. Delete account on the second device
5. Pay attention to the opened page with a deleted account on the first device

**Expec

[2020-12-24 08:27] AnastasiiaOdnoshevna opened #2846 "[BUG] The "0.0" is displayed in the Interest Generated Today field on the Claim screen"
**Description:** The "0.0" is displayed in the Interest Generated Today field on the Claim screen

 **Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Click on the Claim button
3. Pay attention to the Interest Generated Today field

**Expected result:**
The field has displayed the sum of  interest generated for the day

**Actual result:**
The "0.0" is displayed in the Interest Gene

[2020-12-24 09:22] serdiukov-o-nordwhale opened #2847 "Adjust release flow and fix issues"
* [x] Netlify triggers for manual commit. but it seems it doesn’t triggers after the force pushing one branch to another (e.g. staging to next). probably we have to add some empty commit just after force push to trigger deploy
**removed skip ci and replaced with custom skip build**
* [x]  find out what was the build command previously vs now. Try to understand why builds were successfull on prod d

[2020-12-24 10:24] sirpy commented on #2845
not a bug

[2020-12-24 10:24] #2845 closed

[2020-12-24 10:34] sirpy commented on #2818
@MarianoAmado please verify you fix is working by compiling a release version locally
if issue still persist try to disable proguard and lets see if this is the issue

[2020-12-24 11:03] AnastasiiaOdnoshevna commented on #2818
@sirpy
The issue is not reproduced
Checked on the App Version 1.11.6 (964)

Is there any other issue that should be fixed?

[2020-12-24 11:13] AnastasiiaOdnoshevna commented on #2772
@sirpy
Is still reproduced.
Checked on the App Version 1.11.6 (964)

Device: Huawei P20 // Android 9

![Screenshot_20210123_130818_org.gooddollar.jpg](https://images.zenhubusercontent.com/5d75e23a9cf7af0001b786d2/6a79c602-9608-4f30-bfa1-d5bb97961361)

[2020-12-24 12:31] AnastasiiaOdnoshevna commented on #2765
@sirpy
@MarianoAmado
The issue is not reproduced.
Checked on the App Version 1.11.6 (964)
Devices:  Huawei P20  // Android 9
Sony Xperia G8232 // Android 8

https://www.dropbox.com/s/yfvncoqbk5jz7l3/The%20edit%20Profile%20screen.mp4?dl=0

[2020-12-24 12:31] #2765 closed

[2020-12-24 12:59] AnastasiiaOdnoshevna opened #2848 ""Face recognition failed" "Invalid input" Error: Invalid input"
**Description:** The user is not able to pass the Face Verification

 **Steps to reproduce:**
1. Open the https://wallet.gooddollar.org/
2. Go to the Face Verification screen
3. Scan your face
3. Pay attention to the Error message in the console

**Expected result:**
The user can pass the Face Verification

**Actual result:**
The user is not able to pass the Face Verification

**Environment:**  Pr

[2020-12-24 13:07] sirpy commented on #2818
no

[2020-12-24 13:07] #2818 closed

[2020-12-24 13:49] serdiukov-o-nordwhale commented on #2848
hotfixed on prod (changed fv api version to 8, redeployed on netlify)

[2020-12-24 13:51] AnastasiiaOdnoshevna commented on #2848
@sirpy
@serdiukov-o-nordwhale
The issue is fixed. The user can pass the Face Verification.  If the user's face is in the system the "Unfortunately we found your twin" message is shown.

Checked on the Prod v 1.12.0
Google Chrome v 87.0.4280.88

[2020-12-24 13:51] #2848 closed

[2020-12-24 16:27] AnastasiiaOdnoshevna opened #2849 "[BUG] The white screen is displayed at the bottom of the page after scrolling"
**Description:** The white screen is displayed at the bottom of the page after scrolling when the GoodMarket button is displayed on the device

**Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Scroll down the page
3. Pay attention to the white screen at the bottom of the page

**Expected result:**
The white screen is not displayed at the bottom of the page after scrolling

**Actu

[2020-12-26 21:24] sirpy commented on #2846
#2850

[2020-12-28 09:22] iLystopad commented on #2846
@sirpy
The issue is not reproduced. The interest is displayed in the Interest Generated Today field
Checked on the Prod 1.12.2 // QA  1.11.8  // Dev  1.11.6

![Interest generated today is displayed the info.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/0aa2e87f-e07b-411f-b9b4-d65b9974d6a7)

[2020-12-28 09:22] #2846 closed

[2020-12-28 09:25] sirpy commented on #2815
it does

[2020-12-28 09:25] #2815 closed

[2020-12-28 09:39] #2337 closed

[2020-12-28 13:55] sirpy commented on #2849
fixed in #2768

[2020-12-28 14:58] MarianoAmado commented on #2830
@serdiukov-o-nordwhale @sirpy
This error shows that we are rejecting a Promise by passing an Event object to the reject() function instead of an Error object as expected by sentry.

This seems to be happening in `deleteGunDB()` in `lib/hooks/useDeleteAccountDialog.js` (Ln 28):
![image.png](https://images.zenhubusercontent.com/5f8d983f717387e1d7ed6051/5391ecf1-d937-4815-b42d-f6a82b4e4f33)
where we

[2020-12-28 16:06] iLystopad commented on #2837
The issue is not reproduced.
The stats are displayed correctly on the Claim page.
Checked on the Prod 1.12.2 // QA 1.11.8 // Dev 1.11.6

![The stats is displayed correctly.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/3b91ea74-2150-4a45-8c2b-568277e79cbe)

[2020-12-28 16:07] #2837 closed

[2020-12-29 03:16] drptiago opened #2853 "Sigin | Signup error"
### Description

A notice a sudden drop in some events.

When try create an account or login using Google or Passwordless (not apply to Facebook) an error occurr.

### Steps to reproduce
1. logout your account
2. try login or create an account using  Google or Passwordless
3. the error occur

### Which network did you use?
Tested in Android pie using the PWA.

Seems not apply to browser in Android

[2020-12-29 06:33] sirpy commented on #2853
next.gooddollar.org is no longer supported

[2020-12-29 06:33] #2853 closed

[2020-12-29 08:21] iLystopad opened #2854 ""Send mobile code failed" "Error sending OTP: Request failed with status code 403""
**Description:** The SMS with verification code is not sent to the entered phone number on the sign-up screen

**Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Sign up with Google/Facebook
3. Enter the phone number
4. Click on the Next button
5. Pay attention to the error message

**Expected result:**
The Sms with verification code is sent to the entered phone number after clicki

[2020-12-29 08:56] iLystopad commented on #2758
@sirpy
@omerzam
The alternative SMS methods work as expected.
1-3rd attempts  - User gets the SMS
4th attempt -  User gets the call
5th attempt - User gets the SMS
6th and the rest attempts - We are sorry something went wrong and The MaxAttemptsReachedEvent is shown in the Sentry

Checked on the QA 1.13.0-0
Desktop - Google Chrome 87.0.4280.88

[2020-12-29 08:56] #2758 closed

[2020-12-29 10:23] omerzam commented on #2854
FIXED: issue was a bad environment variable value on QA server

[2020-12-29 11:23] iLystopad commented on #2854
@sirpy
@omerzam
The issue is not reproduced.
The SMS with verification cod has arrived after clicking on the Next button on the Sign-up screen.
The user is able to change the phone number on the Edit Profile screen.

Checked on the  QA 1.13.0-0
Desktop- Windows 10 // Chrome 87.0.4280.88

[2020-12-29 11:23] #2854 closed

[2020-12-29 12:05] iLystopad opened #2855 "[BUG] The counter is displayed negative after the end of the countdown on the Claim page"
**Description:** The counter is displayed negative after the end of the countdown on the Claim page

**Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Go to the Claim screen
3. Wait when the time on the counter is ended
4. Pay attention to the negative counter after ending time

**Expected result:**
The Claim button is displayed after the end of the countdown on the Claim page

**

[2020-12-29 12:17] serdiukov-o-nordwhale commented on #2855
@omerzam Most probably this is related to the latest claim screens changes. Could you please check this ?

[2020-12-29 12:43] sentry-io[bot] opened #2856 "Error: QuotaExceededError: The quota has been exceeded."
Sentry Issue: [GOODDAPP-38P](https://sentry.io/organizations/gooddollar/issues/1898975331/?referrer=github_integration)

[code]

[2020-12-29 12:45] sentry-io[bot] opened #2857 "Error: failed decrypting props: Decrypting key missing"
The issue again. And we couldn't understand which user prop we're actually trying to read

Sentry Issue: [GOODDAPP-1CHG](https://sentry.io/organizations/gooddollar/issues/1981142975/?referrer=github_integration)

[code]

[2020-12-29 12:48] sentry-io[bot] opened #2858 "Error: updateFeedEvent daySize: Error: No ACK yet."
Sentry Issue: [GOODDAPP-36S](https://sentry.io/organizations/gooddollar/issues/1898962010/?referrer=github_integration)

[code]

[2020-12-29 12:52] serdiukov-o-nordwhale commented on #2835
https://sentry.io/organizations/gooddollar/issues/1885775696/?environment=production&project=1829798&query=is%3Aunresolved&sort=freq&statsPeriod=7d

[2020-12-29 12:54] sentry-io[bot] opened #2859 "TypeError: getInitialFeed failed:: this.feed.get(...).get(...).decrypt is not a function"
Sentry Issue: [GOODDAPP-36R](https://sentry.io/organizations/gooddollar/issues/1898961889/?referrer=github_integration)

[code]

[2020-12-29 12:59] sentry-io[bot] opened #2860 "TypeError: torus login failed: Cannot read property 'keyResult' of undefined"
Sentry Issue: [GOODDAPP-1G02](https://sentry.io/organizations/gooddollar/issues/2075437334/?referrer=github_integration)

[code]

[2020-12-29 13:02] sentry-io[bot] opened #2861 "Error: InvalidStateError: Failed to update a ServiceWorker for scope ('https://wallet.gooddollar.org/') ..."
Sentry Issue: [GOODDAPP-2CJ](https://sentry.io/organizations/gooddollar/issues/1890026192/?referrer=github_integration)

[code]

[2020-12-29 14:08] sirpy commented on #2855
@iLystopad does it keep showing negative countdown? it is ok if it shows negative for up to 10 seconds and then switches to green claim

[2020-12-29 14:12] iLystopad commented on #2855
@sirpy yes, it shows less than 10 seconds

[2020-12-29 14:15] sirpy commented on #2855
not an issue if it switches to the claim button

[2020-12-29 14:15] #2855 closed

[2020-12-30 09:50] iLystopad commented on #2737
@sirpy
@MarianoAmado
This issue is not reproduced.
Checked on App Version 1.13.0-0 (983)

Device: Xiaomi Mi 8 // Android 8.1.0

![Screenshot_2020-12-30-11-44-07-815_org.gooddollar.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/3fef9617-c751-489a-9b62-bb11cc6d7bab)
![Screenshot_2020-12-30-11-41-18-874_org.gooddollar.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64ea

[2020-12-30 09:50] #2737 closed

[2020-12-30 11:01] iLystopad opened #2862 "[BUG][Native/Android] The endless loading screen is displayed on the device after login with the google account"
**Description:** The endless loading screen is displayed on the device after login with the google account

**Steps to reproduce:**
1. Launch the Gooddollar app
2. Press on the "Already have account? Log in" button
3.  Press on the Log in with  Google button
4. Enter the email and password
5. Press Next
5. Pay attention to the endless loading screen

**Expected result:**
The user is logged in to t

[2020-12-30 13:24] iLystopad opened #2863 "[BUG] The data in the "So Far Today:" section is not updated after coming the time of restarting the claim cycle"
**Description:** The data in the "So Far Today:" section is not updated after coming the time of restarting the claim cycle.

**Steps to reproduce:**
1. Open https://wallet.gooddollar.org/
2.  Go to the Claim page
3.  Wait when the time of restarting the claim cycle is came
5. Pay attention to the data in the "So Far Today:" section

**Expected result:**
The data in the "So Far Today:" section is

[2020-12-30 13:50] iLystopad commented on #2764
@sirpy
@mauriguz
The Checkmark animation is not displayed after pressing on the "email me the code again" on the Email code verification screen

Checked on the App Version 1.13.0-0 (983)
Device: Xiaomi Mi 8 // Android 8.1.0
Video: https://www.dropbox.com/s/b0n5ehx2tekomq4/The%20checkmark%20animation%20is%20not%20displayed.mp4?dl=0

[2020-12-30 15:49] iLystopad opened #2864 "[BUG][Native/Android] The "Copy ID" icon is trimmed on the Profile Privacy screen"
**Description:**The "Copy ID" icon is trimmed on the Profile Privacy screen

**Steps to reproduce:**
1. Launch the app
2. Login into the account
3. Go to the Profile Privacy screen
4. Pay attention to the "Copy ID" button
**Expected result:**
The "Copy ID" icon is displayed fully on the Profile Privacy screen

**Actual result:**
The "Copy ID" icon is trimmed on the Profile Privacy screen

**The us

[2020-12-31 07:17] iLystopad opened #2866 "[BUG][Native/Android] The Alert popup is displayed incorrectly on the Export my wallet screen after clicking on the Copy address button"
**Description:** The Alert popup is displayed incorrectly on the Export my wallet screen after clicking on the Copy address button

**Steps to reproduce:**
1. Launch the app
2. Login into the account
3. Press the icon menu on the header
4. Press on the Export Wallet button
5. Press on the Copy Address button
4. Pay attention to the alert popup

**Expected result:**
The Alert popup is displayed cor

[2020-12-31 07:50] iLystopad opened #2867 "[BUG][Native/Android] The design of the Claim screen does not match the mockup"
**Description:** The design of the Claim screen does not match the mockup

**Steps to reproduce:**
1. Launch the app
2. Login into the account
3. Go to the Claim screen
4. Press the Claim button
4. Pay attention to the Counter and Gooddollar Stats

**Expected result:**
The design of the Claim screen matches the mockup

**Actual result:**
The design of the Claim screen does not match the mockup

**

[2020-12-31 09:17] iLystopad opened #2868 "(BUG) [Native/Android] The app is crashed on the Send G$ screen after pressing on the "Confirm & share link" button"
**Description:** The app is crashed on the Send G$ screen after pressing on the "Confirm & share link" button

**Steps to reproduce:**
1. Launch the app
2. Login into the account
3. Go to the Claim screen
4. Press the Claim button
4. Pay attention to the Counter and Gooddollar Stats

**Expected result:**
The "Share with" pop up is displayed on the Send G$ screen after pressing the "Confirm & share

[2020-12-31 09:30] sirpy commented on #2864
@MarianoAmado this looks ok on my dev env.
maybe it is about copying the font assets to the main folder?
if you dowload the app and install  on your device/emulator does it also happen?

[2020-12-31 09:32] sirpy commented on #2863
@iLystopad again does it update automatically after a few seconds or it doesnt update at all?
if it does update then it is ok only if it doesnt update at all then its a bug

[2020-12-31 09:36] iLystopad commented on #2863
@sirpy In that case it is updated after more than 20 min

[2020-12-31 09:40] sirpy commented on #2764
@mauriguz can you comment on this?

[2020-12-31 10:29] iLystopad commented on #2764
@sirpy
@mauriguz
The Checkmark animation is displayed after pressing on the "email me the code again" on the Email code verification screen
There are no new issues.

Checked on the App Version 1.13.0-0 (990)

Device: Xiaomi Mi 8 // Android 8.1.0
![The checkmarck animation is displayed on the Email verification screen.png]![The checkmark animation is displayed on the Email verification screen.png](

[2020-12-31 10:29] #2764 closed

[2020-12-31 10:40] iLystopad opened #2869 "(BUG) [Native/Android] The Error popup is shown on the Scan QR code screen after scanning the QR code"
**Description:** The Error popup is shown on the Scan QR code screen after scanning the QR code

Steps to reproduce:
1. Launch the app
2. Login into the account
3. Press the Send button
4. Press the Scan QR Code button
5. Scan the QR code
4. Pay attention to the Error popup

**Expected result:**
The Send G$ screen with the "How much?" step is displayed after scanning the QR code

**Actual result:*

[2020-12-31 12:26] iLystopad opened #2870 "(BUG) [Native/Android] The face verification is completed without scanning the face after pressing on the "Got it" button on the Face verification screen"
**Description:** The face verification is completed without scanning the face after pressing on the "Got it" button on the Face verification screen

**Steps to reproduce:**
1.  Launch the app
2. Login into the account without completed face verification
3. Press the Claim Now button
4. Press the Scan QR Code button
5. Press the Ok, verify me button
6. Press the Got it button
7. Pay attention to th

[2020-12-31 15:54] MarianoAmado commented on #2862
@sirpy @serdiukov-o-nordwhale
Reproduced the error with the apk, the problem is that the redirect link to our scripts.html (generated by the android sdk) has some data missing on the hash params:
![image.png](https://images.zenhubusercontent.com/5f8d983f717387e1d7ed6051/2dc6c68c-213f-4592-88ef-eb364879bbbf)

When opening it on the browser and executing the scripts.html script step by step decoding

[2020-12-31 15:58] MarianoAmado commented on #2862
@sirpy @serdiukov-o-nordwhale
Running locally works fine, here's what instanceParams (decoded state param) should look like:
![image.png](https://images.zenhubusercontent.com/5f8d983f717387e1d7ed6051/e29d1b0d-30ec-4ba6-9e56-38f2b682f2c4)

[2020-12-31 16:31] MarianoAmado commented on #2868
@sirpy @serdiukov-o-nordwhale
Found the issue, in src/components/dashboard/TransactionConfirmation.js Ln 89:
There's a problem when passing testID={paymentLink} prop as an array/object, it expects a string
We should convert it to a string or generate a new string with some of the values using string templates

[2021-01-01 09:19] sirpy commented on #2862
@MarianoAmado
1. does this happen always? both on signup and signin?
2. is this an android only  issue? and only in production and  not in dev env? or could it be that we simply dont pass a correct  redirect  url  because we are missing some env in production?

[2021-01-01 10:29] #2849 closed

[2021-01-04 12:30] iLystopad opened #2872 "(BUG) The inviter and invitee are received an incorrect amount of reward after inviting a new user to the Goddollar"
**Description:** The inviter and invitee are received an incorrect amount of reward after inviting a new user to the Goddollar

**Steps to reproduce:**
1.  Go to the https://goodqa.netlify.app?inviteCode=2nGj1n4Vkq
2. Register a new account
3. Claim the daily income
4. Pay attention to the gotten reward

**Expected result:**
The inviter is received 100 G$ and the invitee is received 50 G$ after co

[2021-01-04 12:34] #2745 closed

[2021-01-04 12:34] sirpy opened #2873 "finish filling details of Android app for Google Play"
[x] update github actions flow to deploy qa/staging onto google play
[ ] research a way to preview the app in the google play, prepare docs for @Esfir-E

[2021-01-04 12:36] iLystopad commented on #2824
@sirpy
The issue is fixed.
Checked on the QA v.1.14.0-0
Google Chrome v 87.0.4280.88

![The Copy button is worked on the invite screen.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/7239eb52-8f17-4c5d-a0fd-b05b9970dd57)

[2021-01-04 12:37] #2824 closed

[2021-01-04 12:41] iLystopad commented on #2807
@sirpy
The Invite steps image is shown on the Invite page.
Checked on the QA v.1.14.0-0
Google Chrome v 87.0.4280.88

![The invite steps are sown on the invite screen.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/8db3a6f1-cf94-48d0-8f24-d120354d7c68)

[2021-01-04 12:41] #2807 closed

[2021-01-04 13:35] iLystopad opened #2874 "(BUG) The welcome steps are not skipped after clicking on the "Skip and create wallet" button on the Welcome page"
**Description:** The welcome steps are not skipped after clicking on the "Skip and create wallet" button on the Welcome page

**Steps to reproduce:**
1.  Go to the https://goodqa.netlify.app?inviteCode=2nGj1n4Vkq
2. Click on the  "Skip and create wallet" button
3. Pay attention to that the welcome steps are not skipped

**Expected result:**
The welcome steps are skipped after clicking on the "Skip

[2021-01-04 14:59] iLystopad commented on #2810
@sirpy
Is not reproduced.
Checked on the QA v.1.14.0-0
Checked on the Dev v.1.14.0-0
Desktop: Windows 10 // Google Chrome 87.0.4280.88
![The friends who joined is not out of container.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/fd0129d3-b884-4f2f-b1f2-7f8dcbed8c7c)

[2021-01-04 14:59] #2810 closed

[2021-01-04 15:22] iLystopad opened #2875 "(BUG) The count of the invited user is displayed on the Invite icon on the header after re-login to the account"
**Description:** The count of the invited user is displayed on the Invite icon on the header after re-login to the account. The user has new invited users.

**Steps to reproduce:**
1.  Open the https://goodqa.netlify.app
2. Click on the Invite icon with the count of invitee on the header
3. Click on the Back button
4. Pay attention to that the count is reset
5. Re-login in the account
3. Pay atten

[2021-01-05 07:46] iLystopad commented on #2772
@sirpy
The popup is displayed correctly
Checked on the App Version 1.14.0-0 (1002)
Device: Xiaomi Mi 8 // Android 8.1.0
![the Goddollar popup is displayed correctly.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/5ccd08bb-1de4-42a9-a719-81ee9d5e892b)

[2021-01-05 07:46] #2772 closed

[2021-01-05 08:15] iLystopad commented on #2760
@sirpy
The edges do not match fully with the web version. Is that ok?

Checked on the App v 1.14.0-0 (1002)
Checked on the Xiaomi Mi8 // Android 8.1.0
![the edge is not match with the web version.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/ed38cf10-9fb4-498a-8206-18fa2ed33e92)

[2021-01-05 08:39] iLystopad opened #2876 "(BUG) The "Email me code again" button is not displayed on the Email verification screen after waiting for 5 minutes"
**Description:** The "Email me code again" button  is not displayed on the Email verification screen after waiting for 5 minutes

**Steps to reproduce:**
1.  Open the https://goodqa.netlify.app
2. Go to the Edit profile page
3. Edit the email
4. Click on the Verify my email button
5. Wait for a 5 minutes
6. Pay attention that the "email me code again" button is not displayed

**Expected result:**

[2021-01-05 09:11] iLystopad opened #2877 "(BUG) The right side menu on the home page is not closed after clicking outside the menu"
**Description:** The right side menu on the home page is not closed after clicking outside the menu. The user is logged in.

**Steps to reproduce:**
1.  Open the https://goodqa.netlify.app
2. Click on the Menu icon on the header
3. Click outside the left side menu
4. Pay attention that the left side menu is not closed

**Expected result:**
The right side menu on the home page is closed after click

[2021-01-05 10:56] iLystopad opened #2878 "[BUG] TypeError: Cannot read property 'message' of null"
**Description:** TypeError: Cannot read property 'message' of null is shown after clicking on the Payment Pending card on the home screen.

**Steps to reproduce:**
1.  Open the https://goodqa.netlify.app
2. Click on the Payment Pending card
3. Pay attention to the error message in the console

**Expected result:**
The Payment Pending is displayed without any errors after clicking on the Payment Pe

[2021-01-05 11:21] iLystopad opened #2879 "(BUG) The link is not copied on the Send screen after clicking on the "Confirm&Share link" button"
**Description:** The link is not copied on the Send screen after clicking on the "Confirm&Share link" button. The user is logged in to the account.

**Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Click on the Send button
3. Enter the amount
4. Click on the Next button
5. Click on the skip button
6. Click on the "Confirm&Share link" button
7. Pay attention to the copied text in

[2021-01-05 13:41] iLystopad opened #2880 "[BUG] The Home screen is displayed after clicking on the "Scan QR code" button on the Send G$ screen"
**Description:** The Home screen is displayed after clicking on the "Scan QR code" button on the Send G$ screen

**Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Click on the Send button
3. Click on the "Scan QR code" button
4. Pay attention that the QR code scan screen is not displayed

**Expected result:**
The QR code scan screen is displayed after clicking on the "Scan QR code

[2021-01-05 13:54] iLystopad commented on #2604
@sirpy Closed - The new design of the invite screen is added

[2021-01-05 13:54] #2604 closed

[2021-01-05 15:37] iLystopad commented on #2839
@sirpy The issue is not reproduced on the Android app.
needs to check on the iOS

Checked on the App Version 1.14.0-0 (1002)
Devices: Xiaomi Mi8 // Android 8.1.0
Video: https://www.dropbox.com/s/14upei0gsaltl81/The%20card%20on%20the%20home%20page.mp4?dl=0

[2021-01-05 16:30] #2878 closed

[2021-01-05 17:51] sirpy commented on #2880
fixed in #2868 on master. need to release QA to test on goodqa

[2021-01-05 17:51] sirpy commented on #2879
solved in #2868.

[2021-01-05 18:20] sirpy commented on #2863
@iLystopad you dont need to open the dashboard.
also if you are no "focused" in the wallet window the stats wont be updated.
the expected behaviour is that after you claim stay on the claim screen and the stats should be updated  within 10 seconds.

[2021-01-05 20:34] sirpy opened #2882 "(Bug) analytics not sent to google"
events are not being recorded on analytics
i believe this is because dataLayer (also mt, fullstory) should be lazily loaded from window only when we initialize analytics.

- modify to lazy load
- add debug logs for when event is sent through a service

[2021-01-06 09:24] iLystopad commented on #2876
@sirpy the issue is not reproduced.
Checked on the QA 1.14.0-0 // Dev 1.14.0-0
Android app 1.14.0-0 (1005)
Device: desktop // Windows 10 // Google chrome v.87
https://www.dropbox.com/s/xwp55nb65dncc34/Email%20me%20code%20again.mp4?dl=0

[2021-01-06 09:25] #2876 closed

[2021-01-06 10:53] iLystopad commented on #2875
@sirpy The issue is not reproduced
Checked on the QA 1.14.0-0 // DEV 1.14.0-0
Device: desktop // Windows 10 // Google Chrome v87
https://www.dropbox.com/s/fyrpsyrxlndsgk3/The%20Count%20on%20the%20invite%20icon%20is%20not%20displaye%20after%20relogin.mp4?dl=0

[2021-01-06 10:53] #2875 closed

[2021-01-06 11:33] iLystopad commented on #2879
@sirpy It's still reproduced in the Android app
Checked on the App Version 1.14.0-0 (1013)
Device: Xiaomi Mi8 // Android 8.1.0
https://www.dropbox.com/s/ycdqkbnal3wtc58/The%20link%20is%20not%20copied%20after%20pressing%20on%20the%20confirm%20and%20share%20button.mp4?dl=0

The issue is not reproduced on the QA, Dev environments
Environment: Dev 1.14.0-0 // QA 1.15.0-0
Devices list:
Desktop // Windo

[2021-01-06 12:15] iLystopad commented on #2863
@sirpy The stats are not updated in the "So far today" section more than 10 sec after the claim

Checked on the Prod v.1.12.5
Device: Desktop // Windows 10 // Google Chrome v 87
Video: https://www.dropbox.com/s/x724938ch9q9idg/The%20stats%20are%20not%20updated%20in%20the%20so%20far%20today%20section.mp4?dl=0

[2021-01-06 12:30] iLystopad commented on #2880
@sirpy  Is still reproduced in the Android app
Checked on the Android App Version 1.14.0-0 (1013)
Device: Xiaomi Mi 8 // Android 8.1.0
Video: https://www.dropbox.com/s/y8ylijm03vyf4ny/The%20Home%20screen%20is%20displayed%20after%20clicking%20on%20the%20Scan%20QR%20code%20button%20on%20the%20Send%20G%24%20screen%20.mp4?dl=0

Is not reproduced on the QA, Dev environments
Checked on the Dev 1.14.0-0

[2021-01-06 12:59] sirpy commented on #2863
please test it on goodqa

[2021-01-06 13:01] iLystopad commented on #2874
@sirpy The issue is not reproduced. The welcome steps are skipped after clicking on the "Skip and create wallet" button on the Welcome page

Checked on the QA 1.15.0-0
Device: Desktop // Windows // Google Chrome v.87.0.4280.88
https://www.dropbox.com/s/rl1kzbxl5hyc660/skip%20on%20the%20welcome%20screen%20button%20works.mp4?dl=0

[2021-01-06 13:01] #2874 closed

[2021-01-06 13:14] iLystopad commented on #2863
@sirpy The stat is updated in the "So far today" section less than 10 sec after the claim

Checked on the QA v.1.15.0-0
Device: Desktop // Windows 10 // Google Chrome v 87
Video:https://www.dropbox.com/s/ak8bhxyqgw0lxvs/The%20stats%20is%20updeted%20immediatly%20in%20the%20so%20far%20today%20section%20on%20QA%20environment.mp4?dl=0

[2021-01-06 13:26] sirpy commented on #2863
so this can be closed for now. or tested  on production on next release

[2021-01-06 13:36] iLystopad commented on #2863
@sirpy I will test it on prod on the next release

[2021-01-06 14:25] iLystopad commented on #2872
@sirpyThe inviter and invite are received an amount according to the amounts on the Invite screen.

Checked on the QA 1.15.0-0 // Dev 1.14.0-0
Device: Desktop // Google Chrome v.87.0.4280.88

[2021-01-06 14:25] #2872 closed

[2021-01-06 14:38] iLystopad opened #2884 "[BUG] The amount on the "Your recent earned rewards" card on the home page is incorrect after registration and claim by the Invitee"
**Description:** The amount on the "Your recent earned rewards" card on the home page is incorrect after registration and claim by the Invitee. The user is registered via the referral link.

**Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Go to the Claim screen
3. Click on the Claim button
4. Click on the Back button
4. Pay attention to the Amount on the "Your recent earned rewa

[2021-01-06 15:01] iLystopad opened #2885 "[BUG] The grey fields on the sides of the GoodMarket button are displayed on the Homescreen"
**Description:** The grey fields on the sides of the GoodMarket button are displayed on the Homescreen

**Steps to reproduce:**
1. Launch the app
2. Wait when the GoodMarket button is displayed
3. Pay attention to the grey fields on the sides of the GoodMarket button

**Expected result:**
The home screen is displayed on the sides of the GoodMarket button

**Actual result:**
The grey fields on the

[2021-01-06 16:11] #2882 closed

[2021-01-06 16:22] iLystopad opened #2886 "[BUG][Native/Android] The app is crashed after editing the username and clicking on the save button on the edit profile screen"
**Description:** The app is crashed after editing the username and clicking on the save button on the edit profile screen

**Steps to reproduce:**
1. Launch the app
2. Go to the Edit Profile screen
3. Enter the username
4. Press on the Save button
3. Pay attention that the app is crashed

**Expected result:**
The username is saved after pressing the Save button on the Edit Profile screen

**Actual

[2021-01-06 16:45] sirpy commented on #2884
@iLystopad the public address you provide should be from menu -> export wallet

[2021-01-08 08:17] iLystopad commented on #2884
@sirpy The issue is not reproduced
The Amount 2,5G$ is displayed on the "Your recent earned rewards" card after registration and claim by the Invitee
Checked on the Dev 1.17.0-0 // QA 1.17.0-0
Device: Desktop // Windows 10 // Chrome v.87.0.4280.88
![The amount is correct on ehe reward card for the invitee.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/d5a27001-1dc3-437a-a859-fd

[2021-01-08 08:17] #2884 closed

[2021-01-08 08:54] iLystopad opened #2888 "[Bug] The chevron is not changed on the invite screen after pressing on it and opening the "How do I invite people" steps"
**Description:** The chevron is not changed on the invite screen after pressing on it and opening the "How do I invite people" steps. The user is logged in.

**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Go to the Invite page
3. Click on the "How Do I Invite People?" button
4. Pay attention to the chevron

**Expected result:**
The chevron is rotated to 180 degrees after pressing o

[2021-01-08 11:54] iLystopad opened #2889 "[BUG] The rewards for invitee and inviter are triggered after the inviter is opening the Invite page"
**Description:** The rewards for invitee and inviter are triggered after the inviter is opening the Invite page. The user is registered via a referral link.

**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Go to the Claim page
3. Click on the "Claim" button
4. Complete the Face verification process
5. Go to the Home page
5. Pay attention that the reward for registration via the refe

[2021-01-08 12:11] iLystopad commented on #2759
@sirpy The issue is not reproduced
The wallet is recovered successfully without crashes
Checked on the App Version 1.17.0-0 (1027)
Device: Xiaomi Mi 8 // Android 8.1.0
Video: https://www.dropbox.com/s/xh8m5i5v1pbabxu/The%20recover%20self%20custody%20account.mp4?dl=0

[2021-01-08 12:11] #2759 closed

[2021-01-08 12:59] iLystopad opened #2890 "[BUG] The error popup is displayed on the "Send G$" page after clicking on the "Confirm" button"
**Description:** The error popup is displayed on the "Send G$" page after clicking on the "Confirm" button. The transaction is provided, but the user is able to send G$ again after closing the error popup and clicking on the Confirm button.

**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Go to the requested transfer link ( https://goodqa.netlify.app?code=eyJtIjoiM2RRUG5aamlOUll4Z0N

[2021-01-08 13:32] iLystopad commented on #2738
@sirpy The issue is not reproduced on the Android
Needs to check on the iOS

Checked on the App Version 1.17.0-0 (1027)
Device: Xiaomi Mi 8 // Android 8.1.0
Attachment: ![Feed items G$ amount is not cut off at the top.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/b687308e-1a64-42b1-9c8d-14cd081611d3)

[2021-01-08 14:08] hadarbmdev opened #2891 "Feed is loading when opening the app using payment link"
There is a case when one would like to transfer funds using several links, to several users, in a row.
in this case, every time a transfer link is clicked on an ouside app (i.e. Facebook, etc.), the app is opening and initialized every time, feed is loading, and this takes about 60 secs per link.

expected behavior - transfer link should display the transfer screen instantly.

Solution
----
in App

[2021-01-09 19:23] sirpy commented on #2873
958305148

[2021-01-09 19:23] sirpy commented on #2873
#958305148

[2021-01-10 15:22] #2648 closed

[2021-01-11 07:48] iLystopad commented on #2888
@sirpy The issue is not reproduced.
The chevron is rotated to 180 degrees after pressing on it and opening the "How do I invite people" steps

Checked on the QA 1.18.0-0 // Dev 1.17.0-0
Device: Desktop // Windows 10 // Chrome v.87.0.4280.88
![The chevron is turn on 180 degree after clicking on it.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/b5029e8d-eeef-4c5d-9247-097ba90a91d

[2021-01-11 07:48] #2888 closed

[2021-01-11 09:59] Esfir-E opened #2893 "Adding Intro pages before registration"
**Description** -
We should add intro pages before the registration

**User flow**
Once user will get in to the wallet we should display the Intro pages before the registration/signup page.
User will have the option to skip the intro to the wallet.
The intro pages should be displayed only once on the same device+ browser
After the intro page we should display register page with the link - already

[2021-01-11 10:06] iLystopad opened #2894 "[BUG] "Face recognition failed: Invalid input" Error: Face recognition failed: Invalid input"
**Description:**  "Face recognition failed: Invalid input" Error: Face recognition failed: Invalid input.

**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Go to the Face verification page
3. Click on the "Ok, verify me" button
4. Click on the "Got it" button
5. Scan a face
4. Pay attention to the Error in the console

**Expected result:**
The face verification is completed without a

[2021-01-11 10:44] WolfVV opened #2895 "(BUG) "Send TX failed:: sendTransaction error:: Cannot read property 'type' of undefined"
**Precondition:**
Receive link is created

**Steps to reproduce:**
1. Open a receive link
2. Fill out the amount to send and confirm the transaction
3. Pay attention to the Error in the console

**Expected result:** Error message shouldn't be displayed after trying to confirm receive transaction

**Actual result:**  Error message shouldn't be displayed after trying to confirm receive transaction
*

[2021-01-11 10:54] WolfVV commented on #2895
duplicate of #2890

[2021-01-11 10:54] #2895 closed

[2021-01-11 12:02] omerzam commented on #2828
@Esfir-E the text is still missing from the zeplin, there is currently gibberish there

[2021-01-11 13:37] serdiukov-o-nordwhale commented on #2894
pushed hotfix, FV now working

[2021-01-11 14:03] iLystopad commented on #2894
@sirpy @serdiukov-o-nordwhale The issue is not reproduced. The face verification is completed without errors.
Checked on the QA 1.18.0-0
Devices list: Desktop // Windows 10 // Chrome v.87.0.4280.88
Video: https://www.dropbox.com/s/s78c3sqvx9qnutg/The%20face%20verification%20is%20working.mp4?dl=0

[2021-01-11 14:03] #2894 closed

[2021-01-11 14:36] iLystopad commented on #2889
@sirpy @serdiukov-o-nordwhale The issue is not reproduced. The rewards for invitee and inviter are triggered after the invitee is claiming the G$
Checked on the QA 1.18.0-0

Devices list: Desktop // Windows 10 // Chrome v.87.0.4280.88
Video: https://www.dropbox.com/s/jdhr99on9mrabky/The%20rewards%20are%20trigered%20by%20invitee.mp4?dl=0

[2021-01-11 14:36] #2889 closed

[2021-01-11 15:43] iLystopad opened #2896 "[BUG] The white screen is displayed on the Face verification page after scanning the face that is registered in the system"
**Description:**  The white screen is displayed on the Face verification page after scanning the face that is registered in the system

**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Go to the Face verification page
3. Click on the "Ok, verify me" button
4. Click on the "Got it" button
5. Scan a face that is registered in the system
4. Pay attention to the white page

**Expected re

[2021-01-12 09:37] iLystopad commented on #2768
@sirpy The Invite design has checked. There are no new issues.
Checked on the QA 1.18.0-0
Device: Windows 10 // Google Chrome Chrome v.87.0.4280.88

[2021-01-12 09:37] #2768 closed

[2021-01-12 10:28] iLystopad opened #2897 "[BUG] User is able to enter more than 1 space in a row on the name input stage of the Sign-up via passwordless"
**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Click on the Sign-up button
3. Click on the "Don't have a social account? Try this" button
4. Complete the Phone number verification via the Passwordless method
5. Enter the name in the input field on the sign-up page
6. Enter more than 1 space in a row before/after the name
7. Pay attention to the entered spaces in the input field

**

[2021-01-12 10:58] iLystopad opened #2898 "[BUG] Error: Initialize wasn't attempted as emulated device has been detected. FaceTec FaceTecSDK could be ran on the real devices only"
**Description:**  Error: Initialize wasn't attempted as emulated device has been detected. FaceTec FaceTecSDK could be ran on the real devices only is displayed in the console after clicking on the "Ok, verify me" button.
**Preconditions:** The user hasn't passed the face verification.

**Steps to reproduce:**
1. Open https://gooddev.netlify.app/
2. Go to the Claim page
3. Click on the Claim butto

[2021-01-12 11:04] serdiukov-o-nordwhale commented on #2898
it's seems test api v9 **requires** encryption key
in v8 testing api it was optional. i'll update the env and add correct handling for that case

[2021-01-12 13:08] omerzam commented on #2791
@sirpy who reported this?
what are the steps to reproduce?

[2021-01-12 15:16] omerzam commented on #2879
does not reproduce on web app in QA env

[2021-01-13 08:24] iLystopad opened #2901 "[BUG] Error: node results do not match at first lookup"
**Description:**  Error: node results do not match at first lookup is displayed in the console after signing up with Google

**Steps to reproduce:**
1. Open https://gooddev.netlify.app/
2. Go to the Sign-up page
3. Click on the "Agree&Sign up with Google" button
4. log in to the google account
5. Pay attention to the error in the console

**Expected result:** The user should be able to sign up wit

[2021-01-13 09:12] #2798 closed

[2021-01-13 12:34] iLystopad commented on #2879
@sirpy @omerzam The issue is not reproduced.

Checked on the App Version 1.17.0-0 (1031)
Device: Xiaomi Mi8 // Android 8.1.0
Video: https://www.dropbox.com/s/jovru8q57fcmgct/The%20link%20is%20copied%20in%20the%20android%20app.mp4?dl=0

[2021-01-13 12:34] #2879 closed

[2021-01-13 12:37] iLystopad commented on #2868
@sirpy The issue is not reproduced. The "Share with" pop up is displayed on the Send G$ screen after pressing the "Confirm & share link" button
Checked on the Android App Version 1.17.0-0 (1031)
Device: Xiaomi Mi8 // Android 8.1.0
Video: https://www.dropbox.com/s/jovru8q57fcmgct/The%20link%20is%20copied%20in%20the%20android%20app.mp4?dl=0

[2021-01-13 12:37] #2868 closed

[2021-01-13 15:14] iLystopad commented on #2890
@sirpy @omerzam The issue is not reproduced.
The transfer is completed without errors after clicking on the Confirm button
Checked on the QA 1.18.0-0 // Dev 1.18.0-0
Device: Desktop // Windows 10 // Chrome v.87.0.4280.88
Video: https://www.dropbox.com/s/zz6oguxu7dflmsu/Check%20transaction.mp4?dl=0

[2021-01-13 15:14] #2890 closed

[2021-01-13 15:30] iLystopad opened #2902 "[BUG] "Send mobile code failed" undefined Error"
**Description:**  "Send mobile code failed" undefined Error is displayed in the console after clicking on the Next button on entering the phone number stage on the Sign-up page

**Steps to reproduce:**
1. Open https://gooddev.netlify.app/
2. Go to the Sign-up page
3. Click on the "Agree&Sign up with Google" button
4. log in to the google account
5. Enter the phone number
6. Click on the Next butto

[2021-01-13 15:45] iLystopad opened #2903 "[BUG] "Sorry, something unexpected happened, please try again. Error: E8" pop up is displayed after clicking on the "Let's go" button on the Sign-up page"
**Description:**  "Sorry, something unexpected happened, please try again. Error: E8" pop up is displayed after clicking on the "Let's go" button on the Sign-up page

**Steps to reproduce:**
1. Open https://gooddev.netlify.app/
2. Go to the Sign-up page
3. Click on the "Agree&Sign up with Google" button
4. log in to the google account
5. Enter the phone number
6. Click on the Next button
5. Pay at

[2021-01-13 15:52] iLystopad commented on #2901
@sirpy @omerzam The issue is no reproduced.
The "Error: node results do not match at first lookup" error is not displayed in the console.

Checked on the DEV 1.18.0-0 QA 1.18.0-0
Device: Desktop // Windows 10 // Chrome v.87.0.4280.88

[2021-01-13 15:53] #2901 closed

[2021-01-13 17:45] serdiukov-o-nordwhale commented on #2903
This happens because torus stuck when processing requests. Actually it returns 'node results do not match' in ~1 minute when request already cancelled by 30sec timeout.
I added & hot-pushed the 5 sec timeout for torus verification calls, so if torus will stuck we won't have 30sec timeout issue here.
how the error is correct:

![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd

[2021-01-13 18:02] serdiukov-o-nordwhale commented on #2903
updated torus, now the error is different:

[code]

[2021-01-13 21:27] serdiukov-o-nordwhale commented on #2903
the exact place in the code where issue happens is `src/imports/torusVerifier.js` line 86

[code]

[2021-01-14 10:50] sirpy commented on #2896
@iLystopad why is this not critical?

[2021-01-14 11:00] serdiukov-o-nordwhale commented on #2896
@iLystopad i've sent you our bugs categorization in the Slack, please read it and update labels  of the bugs you found accordingly

[2021-01-14 13:59] serdiukov-o-nordwhale commented on #2903
I tried to update again but understand why it crashes with 'fetch is not defined'.
I found they trying to use fetch which isn't exists in node 10.x
So i added a polyfill and this helped. No more 'fetch' issue and verification during signup now works fine:

![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/148109a3-751a-4a17-840b-8669a57a1a86)

It seems the old torus.js and

[2021-01-14 15:18] iLystopad commented on #2898
@sirpy @serdiukov-o-nordwhale The issue is not reproduced. The user is able to complete the face verification without any errors
Checked on the dev 1.18.0-0 // QA 1.19.0-0
Device: Desktop // Windows 10 // Chrome v.87.0.4280.88
Video: https://www.dropbox.com/s/j1nrjimezuazrat/The%20face%20ver%20is%20worcking%20without%20errors%20on%20DEv.mp4?dl=0

[2021-01-14 15:18] #2898 closed

[2021-01-14 15:54] iLystopad commented on #2896
@serdiukov-o-nordwhale @sirpy  The screen does not match with the screen that should be when the duplicate is found

Checked on the QA 1.19.0-0
Device: Desktop // Windows 10 // Chrome v.87.0.4280.88

![The screen does not match with the screen that should be when the dublicate is found.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/8bfcd635-12cb-40f3-8cc5-40d5da64c836)

[2021-01-14 18:21] serdiukov-o-nordwhale commented on #2896
error message was changed by the logger so .startsWith("Duplicate") check was failed and error wasn't marked as duplicate
hotfixed on dev & QA

[2021-01-14 18:39] serdiukov-o-nordwhale commented on #2902
not reproducong now
@iLystopad please re-check with latest goodqa

[2021-01-14 19:12] serdiukov-o-nordwhale commented on #2896
![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/0aec6a4e-d5a8-434c-90bc-4865af72dc75)

[2021-01-15 12:24] iLystopad commented on #2897
@omerzam The issue is reproduced when the user enters the spaces after the name and after creating of wallet user's name is shifted due to many spaces.

Checked on the QA 1.21.0-0
Devices Desktop // Windows 10 // Chrome v.87.0.4280.88

Video: https://www.dropbox.com/s/fnjvm8wv7lww6my/The%20space%20after%20the%20name%20in%20the%20input%20field.mp4?dl=0

[2021-01-15 12:26] iLystopad commented on #2877
@sirpy  The issue is not reproduced. The right side menu on the home page is closed after clicking outside the menu

Checked on the QA 1.21.0-0
Device:  Desktop // Google Chrome v.87.0.4280.88

[2021-01-15 12:26] #2877 closed

[2021-01-15 13:31] iLystopad commented on #2903
@sirpy @omerzam @serdiukov-o-nordwhale The issue is not reproduced. The user is able to sign up with Google/Facebook/passwordless

Checked on  PROD 1.12.5 / QA1.21.0-0
Devices list: Desktop // Windows 10 // Chrome v.87.0.4280.88
Video: https://www.dropbox.com/s/sszvx0bk7lnlphz/Check%20registration%20on%20Prod%20QA.mp4?dl=0

[2021-01-15 13:31] #2903 closed

[2021-01-15 13:44] iLystopad commented on #2902
@serdiukov-o-nordwhale The issue is still reproduced when I've tried to sign up with Google/ Facebook. I've used the number +380961041191, +34632359444, +7 777 076 5318,  +380636456452

Checked on QA 1.21.0-0 // Dev 1.20.0-0
Devices list: Desktop // Windows 10 // Chrome v.87.0.4280.88
Video: https://www.dropbox.com/s/eeoof7z805pll64/The%20number%20verification%20when%20the%20user%20signup%20with%2

[2021-01-15 14:12] iLystopad opened #2905 "[BUG] {from: "SignupState"} "Send verification code failed" "Some error occurred on server" Error: Some error occurred on server"
**Description:** The issue is reproduced on Passwordless.
 {from: "SignupState"} "Send verification code failed" "Some error occurred on server" Error: Some error occurred on server is displayed in the console after clicking on the Next button

**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Go to the Sign-up page
3. Click on the "Don't have social accounts? Try this" button
4. Comp

[2021-01-15 15:32] iLystopad opened #2906 "[BUG] The user information is absent on the My Profile screen"
**Description:**  [BUG] The user information is absent on the My Profile screen. The user is logged in.

**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Go to the My Profile screen
3. Pay attention to the Phone number and Email fields

**Expected result:** The user's email and phone number should be displayed on the My Profile screen

**Actual result:** The user information is absen

[2021-01-17 12:53] serdiukov-o-nordwhale commented on #2905
probably dup of #2902
@omerzam please look it

[2021-01-17 13:54] serdiukov-o-nordwhale commented on #2906
we have profileFix2.js script runs on accounts wasn't updated from  2020/12/13
it tries to read user profile fields. if it not possible (e.g. decrypt failed thrown) it tries to restore them
for now we could restore only the fullName field. unfortunately you have to re-enter email and phone
@sirpy am i right ?

but it's strange that full name is empty. will check it. i see there are two profile upd

[2021-01-17 15:34] omerzam commented on #2905
Does not reproduce.

Good chance it is fixed by 2902

[2021-01-17 17:16] serdiukov-o-nordwhale commented on #2906
fullName isn't updating because server doesn't returns it in /userExists endpoint.
just a status - is user exists or not

[2021-01-17 17:22] serdiukov-o-nordwhale commented on #2906
hotfixed /userExists on server

[2021-01-18 08:54] iLystopad commented on #2897
@sirpy @omerzam The issue is not reproduced.

Checked on the  QA 1.21.0-1
Devices list: Desktop // Windows 10 // Chrome v.87.0.4280.88

[2021-01-18 08:54] #2897 closed

[2021-01-18 08:55] sirpy opened #2909 "(Chore) descrease amount of jwt login calls to server"
During high load times there's a large number of login calls that fail with timeout or network error
Currently call to server auth endpoint is called on every app refresh, there's no need.
Lets reduce the number of calls according to the JWT expiration date or if no jwt exists.

[2021-01-18 09:00] sirpy commented on #2590
@serdiukov-o-nordwhale @omerzam @iLystopad
this should be tested again once we release v9 client

[2021-01-18 09:04] #2036 closed

[2021-01-18 09:05] #1475 closed

[2021-01-18 09:05] #2723 closed

[2021-01-18 09:24] iLystopad opened #2910 "[BUG] The "You already used this mobile When you signed up with google" popup is displayed on the entering email stage of sign up after clicking on the Next button"
**Description:**  The "You already used this mobile When you signed up  with google" popup is displayed on the entering email stage of sign up after clicking on the Next button

**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Go to the Entering email stage of signing up with the Passwordless method
3. Enter a new email
4. Click on the Next button
5. Pay attention to the popup

**Exp

[2021-01-18 10:07] omerzam commented on #2910
@iLystopad does this reproduce on dev as well?

[2021-01-18 10:27] iLystopad commented on #2910
@omerzam no, it is reproduced only on QA env

[2021-01-18 10:39] iLystopad commented on #2910
@omerzam It's reproduced on Dev env only after entering the phone number when user signing up with facebook, google or self custody methods
![2021-01-18_12-33-49](https://user-images.githubusercontent.com/76681466/104904715-28cfd480-598a-11eb-9e2c-4b6d1dee2e07.png)

[2021-01-18 11:10] sirpy opened #2911 "disable mobile verification on production"

[2021-01-18 11:30] iLystopad commented on #2910
@omerzam @sirpy  The issue is not reproduced. The verification screen is displayed after entering a new email and clicking on the Next button

Checked on the QA 1.21.0-2
Device: Desktop // Windows 10 // Chrome v.87.0.4280.88
video: https://www.dropbox.com/s/e3vewe1zbu7ao5t/Registration%20on%20QA.mp4?dl=0

[2021-01-18 11:30] #2910 closed

[2021-01-18 11:31] iLystopad commented on #2902
@serdiukov-o-nordwhale  @sirpy The issue is not reproduced. The user is  able to sign up with google/facebook without any errors

Checked on the QA 1.21.0-2
Device: Desktop // Windows 10 // Chrome v.87.0.4280.88
video: https://www.dropbox.com/s/e3vewe1zbu7ao5t/Registration%20on%20QA.mp4?dl=0

[2021-01-18 11:31] #2902 closed

[2021-01-18 11:32] iLystopad commented on #2905
@serdiukov-o-nordwhale @sirpy @omerzam  The issue is not reproduced. The user is able to sign up with google/facebook without any errors

Checked on the QA 1.21.0-2
Device: Desktop // Windows 10 // Chrome v.87.0.4280.88
video: https://www.dropbox.com/s/e3vewe1zbu7ao5t/Registration%20on%20QA.mp4?dl=0

[2021-01-18 11:32] #2905 closed

[2021-01-18 11:33] sirpy opened #2912 "move browser not supported warning to after signup"

[2021-01-18 12:05] Esfir-E opened #2913 "New FV screens design"
**Description**
We are noticing a drop in FV in the first 2 screens, users are leaving the app.
we did some changes in terms of content and design to improve the UX.

New designs attached -
First screen-
https://app.zeplin.io/project/5fbfcf1e77d2fab82f7ee073/screen/60046d761d132b1932cd042d

Second screen-
https://app.zeplin.io/project/5fbfcf1e77d2fab82f7ee073/screen/60046d84d0989011eea99b53

Event

[2021-01-18 12:15] Esfir-E opened #2915 "New design for the signin and signup"
**Description**
following adding intro pages task, we would like to have the following changes for the signup/Signin screens-
1. Remove this page that ask the user if he wants to signup or to sign in (please find attached)
2. Users that saw the intro pages should be redirect to the new signup page
3. The new signup page has new design + additional to signing up methods a link that will redirect th

[2021-01-18 12:19] iLystopad commented on #2906
@sirpy @serdiukov-o-nordwhale  The issue is not reproduced. The user's email and phone number is displayed on the My Profile screen

Environment: QA 1.21.0-0
Devices list: Desktop // Windows 10 // Chrome v.87.0.4280.88
![2021-01-18_14-18-35.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/8f03c91a-f903-43f1-877a-07eb19085240)

[2021-01-18 12:19] #2906 closed

[2021-01-18 13:53] Esfir-E opened #2916 "Remove the phone verification stage for google & FV"
**Description**
There is a drop of about 12% on the phone verification stage, as we are not currently need it.
The phone verification stage which includes inserting the phone number >inserting the OCR code> verification status.
this Feature staged should be removed only for FB and Google signup methods.

This feature should be developed as feature flag- in case we would like to bring it back it sh

[2021-01-18 13:54] Esfir-E opened #2917 "Facebook - Open the app from Facebook browser"
When you clicking the GoodDollar link from facebook app, good app opens in in-app browser. So user have to sign-in again

1. found a way to tell FB open a link in default device's browser (probably it's possible to add something to url when you pasting it to your post)
2. if this is not possible - try to solve issue on GoodDollar side
a) detect in-app browser is used and we came from FB app (i thi

[2021-01-18 14:10] sirpy commented on #2916
dup of #2911

[2021-01-18 14:10] #2916 closed

[2021-01-18 15:30] sirpy commented on #2915
4. is not clear. rephrase

[2021-01-19 09:05] iLystopad opened #2918 "[BUG] The "0" values are displayed on the "G$ Per Claimer" graph on the dashboard"
**Description:** The "0" values are displayed on the "G$ Per Claimer" graph on the dashboard

**Steps to reproduce:**
1. Open https://dashboard.gooddollar.org/
2. Pay attention to the "G$ Per Claimer" graph

**Expected result:**
The correct values are displayed on the "G$ Per Claimer" graph on the dashboard

**Actual result:**
The "0" values are displayed on the "G$ Per Claimer" graph on the dashb

[2021-01-19 09:15] sirpy commented on #2917
@Esfir-E
1. its not possible.
2. also not possible. the only way is to tell the user to press on the browser menu and choose "open in safari" or "open in chrome"
you have iphone right? try it.
3. what I already implemented is to move the unsupported browser popup to after the registration.

[2021-01-19 09:25] sirpy commented on #2918
we are migrating our dashboard to a new platform.
no need to report dashboard issues

[2021-01-19 09:25] #2918 closed

[2021-01-19 12:26] serdiukov-o-nordwhale commented on #2891
@sirpy are you planning to fix this by yourself ? or me or @omerzam could take this task ?

[2021-01-19 12:28] iLystopad commented on #2863
@sirpy The stats are not updated in the "So far today" section more than 10 sec after the claim

Note: The stats in the "So far today" section is not updated after 40 minutes from claiming and time of restarting the claim cycle

Checked on the Prod v.1.21.0 // QA 1.21.0-3
Device: Desktop // Windows 10 // Google Chrome v 87

Video: https://www.dropbox.com/s/7clkiliiis8xvtz/So%20far%20today%20sectio

[2021-01-19 12:41] serdiukov-o-nordwhale commented on #2221
Will ask Qa to re-check is that still relevant

[2021-01-19 12:44] serdiukov-o-nordwhale commented on #2578
need to re-discuss it again with @sirpy

[2021-01-19 12:45] serdiukov-o-nordwhale commented on #2471
@Esfir-E does that task is relevant for now ?

[2021-01-19 12:48] serdiukov-o-nordwhale opened #2920 "Branches cleanup"
* [ ] bracnhes cleanup for GoodDapp
* [ ] bracnhes cleanup for GoodServer

TBD

[2021-01-19 13:39] sirpy commented on #2891
you can take it

[2021-01-19 15:46] focho27 commented on #2606
how did you solve it?

[2021-01-19 16:12] sirpy commented on #2606
Solve what exactly?

[2021-01-19 17:48] focho27 commented on #2606
Thanks for you response,  it was resolved the problem.

El mar., 19 ene. 2021 13:12, sirpy <notifications@github.com> escribió:

[2021-01-19 19:52] IvanRF opened #2923 "Improve from/to description on transaction"
### Motivation
If many users start exchanging G$ on [FuseSwap](https://fuseswap.com), it would be useful to show in the wallet that the transaction was from/to a FuseSwap pair.

### Details
It would be helpful to identify the exchanges on FuseSwap instead of showing "To: Unknown", for instance.
You could also show the FuseSwap logo, as you do for transactions "From: GoodDollar".

Contracts for G$

[2021-01-20 08:24] omerzam commented on #2917
there way to do this that I could find
the best solution I found online is to redirect the user to a page with explanations on how to open the link in chrome/safari browser
an explanation with a short code snippet can be found here:
https://stackoverflow.com/questions/36402330/how-to-prevent-facebook-in-app-browser-from-opening-my-website-links

[2021-01-20 08:25] #2917 closed

[2021-01-20 09:20] iLystopad commented on #2680
@serdiukov-o-nordwhale @sirpy  The issue is not reproduced. After refreshing the page the event is not sent to the sentry again.

Checked on the QA 1.21.0-3
Device:  Desktop // Windows 10 // Chrome v.87.0.4280.88

Attachment: https://www.dropbox.com/s/8itogjryaix12wr/empty%20error%20message%20from%20FV%20in%20amplitude.mp4?dl=0

[2021-01-20 09:21] #2680 closed

[2021-01-20 11:37] omerzam commented on #2909
@sirpy there is no exp field on the token on iat (issued at) to determined if the token is expired i need to know how old can the token be before it is considered expired?

[2021-01-20 12:55] omerzam commented on #2909
also there is the auth/eth call to get jwt and auth/ping
what I am currently doing only takes care of the auth/eth call and not auth/ping

[2021-01-21 00:37] IvanRF commented on #2923
This is how a buy and sell on FuseSwap is currently shown:

![2021-01-20_21-34-01](https://user-images.githubusercontent.com/6751650/105257890-7b1a1c80-5b67-11eb-9d87-eb4c2a1d3b0b.png)

[2021-01-21 08:27] iLystopad commented on #2864
The "Copy ID" icon is trimmed on the Profile Privacy screen
![The Copy ID icon is trimmed on the Profile Privacy screen.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/93f967db-b372-4095-850f-5c4c502b4acb)

Note: The issue with that the icons on the left side menu do not match the icons of the same category on the web page is not reproduced.

Checked on the Android App Version 1

[2021-01-21 09:39] iLystopad opened #2925 "[BUG] The profile image is not deleted after tapping on the delete button on the My Profile screen"
**Description:** The profile image is not deleted after tapping on the delete button on the My Profile screen. The user is logged in.

**Steps to reproduce:**
1. Launch the App
2. Go to the My Profile screen
3. Press on the image of the profile
4.Tap on the Delete button.
5. Pay attention that the image is not deleted

**Expected result:**
The profile image is deleted after pressing the Delete but

[2021-01-21 10:02] iLystopad opened #2926 "[BUG] Error loading page. Domain: undefined. Error Code: -1. Description: net::ERR_FAILED"
**Description:** The user is logged in. The error message is displayed on the Statistic screen after tapping on the Statistic button on the left side menu.

**Steps to reproduce:**
1. Launch the App
2. Press on the Menu icon
3. Press on the Statistic button
4. Pay attention to the error message

**Expected result:**
The statistic is displayed after tapping on the Statistic button on the left side

[2021-01-21 11:16] iLystopad opened #2927 "[BUG] The card on the feed is opened after tapping on the "Top" button on the Home screen"
**Description:** The user is logged in. The card on the feed is opened after tapping on the "Top" button on the Home screen
**Steps to reproduce:**
1. Launch the App
2. Scroll down the Home screen
3. Press on the "Top" button
5. Pay attention to the screen

**Expected result:**
The screen is scrolled to the top after tapping on the "Top" button on the Home screen

**Actual result:**
The card on th

[2021-01-21 11:29] serdiukov-o-nordwhale commented on #2926
looks like just an DNS issue on your provider site. IP addresses aren't resolved for the all domains.
recheck using other connection (e.g. mobile 3G/LTE)

[2021-01-21 11:38] iLystopad commented on #2926
@serdiukov-o-nordwhale you're right, I've checked and it is not reproduced

[2021-01-21 11:38] #2926 closed

[2021-01-21 12:00] iLystopad opened #2928 "[BUG] The statistic screen is not scrolled to the end after scrolling down"
**Description:** The user is logged in. The statistic screen is not scrolled to the end after scrolling down

**Steps to reproduce:**
1. Launch the App
2. Go to the statistic screen
3. Scroll down the screen
4. Pay attention to the screen

**Expected result:**
The statistic screen is scrolled fully after scrolling

**Actual result:**
The statistic screen is not scrolled to the end after scrolling

[2021-01-22 09:40] iLystopad opened #2929 "[BUG] The app is crashed after the counter of invited users is displaying"
**Description:** The app is crashed after the counter of invited users is displaying. The user should have a newly invited user.

**Steps to reproduce:**
1. Launch the app
2. Sign up with an Inviter account with a newly invited user
3. Pay attention to the crash of the app

**Expected result:**
The app is launched without crashes after inviting new users

**Actual result:**
The user that signed up

[2021-01-23 19:10] sirpy commented on #2927
need to verify we are using the useOnPress sounds like a clickthrough issue
@omerzam @serdiukov-o-nordwhale

[2021-01-23 19:12] sirpy commented on #2928
@serdiukov-o-nordwhale @omerzam
i've recently changed some CSS on main Wrapper
we need to add a scroll or scrollableview for screens that require it

[2021-01-23 19:51] sirpy commented on #2864
then please change issue title and description

[2021-01-25 08:17] iLystopad opened #2930 "[BUG] Failed to load resource: net::ERR_FAILED"
**Description:** Failed to load resource: net::ERR_FAILED error is displayed in the console after signing up/logging

**Steps to reproduce:**
1. Open the https://wallet.gooddollar.org/
2. Log in to the system
3. Pay attention to the error in the console

**Expected result:**
The user is able to sign up/ sign without errors

**Actual result:**
Failed to load resource: net::ERR_FAILED error is displ

[2021-01-25 08:25] #2930 closed

[2021-01-25 08:25] iLystopad commented on #2930
Is not reproduced.

[2021-01-25 10:11] omerzam commented on #2909
@sirpy @serdiukov-o-nordwhale please review these PRs

[2021-01-25 10:36] iLystopad opened #2931 "[BUG] The amount of all invited before users are displayed on the counter after logging in to the inviter account on the next day"
**Description:** The user has invited users and reviewed the invitee list on the Invite page. The amount of all invited and reviewed users is displayed on the counter when the user login to the account on the next day

**Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Log in to the Inviter account
3. Pay attention to the counter of new invited users

**Expected result:**
 The amou

[2021-01-25 11:14] iLystopad commented on #2679
@sirpy The issue has been checked in ticket # 2906

[2021-01-25 11:14] #2679 closed

[2021-01-25 14:00] omerzam commented on #2913
@Esfir-E where should the learn more link point to

[2021-01-25 14:28] sirpy commented on #2913
where it points today

[2021-01-25 18:41] serdiukov-o-nordwhale opened #2932 "Solve issue with timeouts possible during FV flow"
Sometimes executing of FV enrollment request could take much time.
This happens because the latest step (whitelisting) takes from 50-60% of the whole processing time.
In addition with slow user's network this could produce 30sec timeout of XMLHttpRequest we sending.

But actually we don't need to whitelist user during FV. There are two different task and zoom requires the server only perform enrol

[2021-01-25 19:24] sirpy commented on #2932
@serdiukov-o-nordwhale lets simplify. only the  blockchain whittelist   is time consuming
- backend
   - leave whitelist calls where they are
   - dont `await` for blockchain whitelist

- client - in claim  screen
  - when comming back from FV poll  every 2 seconds `isCitizen` status
  - whlie waitiing keep showing the current spinner  and dialog we already show

[2021-01-25 20:38] serdiukov-o-nordwhale commented on #2932
yes i thought about that way. wanted to propose it tomorrow

[2021-01-26 13:14] serdiukov-o-nordwhale commented on #2299
@iLystopad Need to re test it now, is it reproduced v9

[2021-01-26 14:22] iLystopad commented on #2590
The issue is not reproduced. The popup is displayed only when the camera permission is set to off.

Checked on: QA 1.21.1-0 // Dev 1.21.1-0 // Prod 1.21.0
Checked On:
Xiaomi Mi 8 // Android 8.1.0 // Chrome 87.0.4280.101
Samsung Galaxy S6 Edge SM-G925F // Android 6.0.1 // Chrome 78.0.3904.108

Video: https://www.dropbox.com/s/gnbi8pra212twz6/check%20FV%20camera%20permission%20Xiaomi%20MI%208.mp4?dl

[2021-01-26 14:24] #2590 closed

[2021-01-26 16:59] iLystopad commented on #2299
@serdiukov-o-nordwhale @sirpy  The issue is reproduced. The internal camera is used for Face Verification while the external camera is plugged into the computer.
The External camera is used for scanning QR codes.

Checked on the QA 1.21.1-0
Device: MacBook Air 13" //  macOS Mojave Version 10.14.1 // Chrome v.88.0.4324.96
Video: https://www.dropbox.com/s/qsdijriyi0lds8x/Untitled.mov?dl=0

[2021-01-26 18:49] #2822 closed

[2021-01-26 18:53] #2499 closed

[2021-01-26 21:56] sirpy commented on #2299
@iLystopad for FV it should not be possible to use external camera
for QR code external camerra should work

[2021-01-27 09:22] iLystopad commented on #2299
The external and internal cameras are work as expected. The only internal camera is used for the FV. The user is able to use the external camera for the scan QR code.

[2021-01-27 09:22] #2299 closed

[2021-01-27 13:01] omerzam commented on #2913
@Esfir-E what is the function of the question mark?

[2021-01-27 14:09] iLystopad commented on #2915
@sirpy The color of the "Agree & Sign Up Passwordless" button is mismatched with the mockup on the Sign-up/Login page

Checked on the Dev 1.21.1-0
Checked on the Windows 10 // Chrome 88.0.4324.104

![Mismatch signup passwordless button with mokup.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/c3ff2ffb-8ec0-4549-b16c-4e9451c14676)

Space is missed between "in" and "with" words o

[2021-01-27 14:20] iLystopad commented on #2893
@sirpy The design of the Intro pages don't match with the mockups

Checked on the Dev 1.21.1-0
Checked on the Windows 10 // Chrome 88.0.4324.104
![The Intro pages don't match with the mockup.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/0f735d05-4536-4904-848d-e97cd9cd45ce)

[2021-01-27 15:00] iLystopad opened #2934 "[BUG] The intro page is displayed after logging out from the account"
**Description:** The user is logged in. The intro page is displayed after logging out from the account

**Steps to reproduce:**
1. Open the https://gooddev.netlify.app/
2. Click on the hamburger menu on the navbar
3. Click on the Logout button
4. Pay attention to the Intro page

**Expected result:**
The Signup page is displayed after logging out from the account

**Actual result:**
The intro page

[2021-01-27 15:40] iLystopad commented on #2912
@sirpy The "Oops! This browser is not supported" warning popup is displayed after signed up.

Note: Also will test on QA environment

Checked on the Dev 1.21.1-0

Checked on the Windows 10 // Mozilla Firefox 84.0.2 // Opera 73.0.3856.344

![move browser not supported warning to after signup.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/b4e5e07d-ed6a-44b7-aedf-3c647db1acdf)

[2021-01-27 15:59] iLystopad opened #2935 "[BUG] The user is not able to login to the user's account that had been registered with Google"
**Description:** The user has a registered account. The "Hi There, Did You Mean to Signup?" popup is displayed after logging into the Gooddollar account that has been registered with Google.

**Steps to reproduce:**
1. Open the https://gooddev.netlify.app/
2. Click on the "Already Have a Wallet? Log in" button on the Signup page
3. Click on the "Log in with Google" button
4. Login with a registere

[2021-01-27 18:57] sirpy opened #2937 "User should use fusefaucet to top wallet"
requests to serveer to topwallet cause user load on server
we now have a contract that allows users to request Fuse token.
- whitelisted user can request all the time from faucet
- non whitelisted users can request only once from faucet - it will fallback to old server /verify/topWallet endpoint request

###how to test
check 'verifyHasGas' in console
perform 7-10 txs so user will run out of gas an

[2021-01-28 10:21] iLystopad commented on #2893
The design issue had been fixed. Need also to check on the QA environment.

Checked on the Dev 1.21.1-0
Checked on the Windows 10 // Chrome 88.0.4324.104

[2021-01-28 10:36] iLystopad commented on #2915
The design issues had been fixed. The design has full matches with mockups.

Note: Will check on QA env
Checked on the Dev 1.21.1-0
Checked on the Windows 10 // Chrome 88.0.4324.104

[2021-01-28 10:50] iLystopad commented on #2935
@sirpy The issue is not reproduced.  The user is able to log in with Google/Facebook/Passwordless

Checked on the Dev 1.21.1-0
Checked on the Windows 10 // Chrome 88.0.4324.104

Video: https://www.dropbox.com/s/0auw14twcy74el6/The%20user%20is%20not%20able%20to%20login%20to%20the%20user%27s%20account%20that%20had%20been%20registered%20with%20Google.mp4?dl=0

[2021-01-28 10:50] #2935 closed

[2021-01-28 10:52] iLystopad commented on #2934
@sirpy The issue is not reproduced. The Signup page is displayed after log out from the account.

Checked on the Dev 1.21.1-0
Checked on the Windows 10 // Chrome 88.0.4324.104

Video: https://www.dropbox.com/s/kayz1zqvwzdt4ju/The%20Sign%20up%20page%20is%20displayed%20after%20logging%20out%20from%20the%20account.mp4?dl=0

[2021-01-28 10:52] #2934 closed

[2021-01-28 12:52] iLystopad opened #2939 "[BUG] The verification code is received on the Sign in with Auth0 page after 5th attempt"
**Description:** The user is on the Sign in with Auth0 page. The verification code is received on the Sign in with Auth0 page after 5th attempt

**Steps to reproduce:**

1. Open the https://goodqa.netlify.app/
1. Enter a valid number in the "Your phone number" field
1. Click on the "Submit" button
1. Click on the "Did not get the code?" button
1. Click on the "Submit" button
1. Repeat 4-5 steps 7

[2021-01-28 16:06] tzvister opened #2941 "This is a test reqestruoib"
### Motivation
**this**

### Details

[2021-01-28 16:29] tzvister commented on #2941
This is an other test

[2021-01-29 08:47] iLystopad opened #2944 "[BUG] Error: This contract object doesn't have address set yet, please set an address first."
Description: "Error: This contract object doesn't have address set yet, please set an address first" is displayed in the console after logging in to the account.

**Steps to reproduce:**
1. Open the https://gooddev.netlify.app/
2. Log in to the Account
3. Pay attention to the error message in the console

**Expected result:**
The Invite functionality should work without errors in the console.

**A

[2021-01-31 09:49] sirpy commented on #2863
@iLystopad
the amounts in so far today are in "thousands" so they will  not change frequently because you need 1000 users to claim until they change.
i think we can also this issuee

[2021-01-31 10:07] #2870 closed

[2021-01-31 10:07] sirpy commented on #2870
FV is still not enabled on native. closing this in favor of open zoom integration tickeets

[2021-02-01 09:53] #2863 closed

[2021-02-01 09:57] iLystopad commented on #2478
@sirpy The claim screen is working without issues.

Checked on the Prod 1.21.0
Device: Windows 10 // Google Chrome v. 88.0.4324.104

[2021-02-01 09:57] #2478 closed

[2021-02-01 10:52] iLystopad commented on #2944
@sirpy The issue is not reproduced.

Checked on the Dev 1.21.1-0
Device: Windows 10 // Google Chrome v. 88.0.4324.104

Video: https://www.dropbox.com/s/b8hkiylfcxlbj1n/The%20invite%20without%20error%20DEV.mp4?dl=0

[2021-02-01 10:52] #2944 closed

[2021-02-01 13:34] iLystopad commented on #2893
@sirpy The design matches with the mockups. There are no issues.

Checked on the QA 1.21.1-1
Checked on the Windows 10 // Chrome 88.0.4324.104

Screenshots: ![2021-02-01_15-25-25.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/fdbf1540-3c53-4e48-925a-070999d1b15d)

[2021-02-01 13:34] #2893 closed

[2021-02-01 14:42] iLystopad commented on #2915
@sirpy The design of sign-in and sign-up pages match with the mockups. The Login and registration are worked without issues.

Checked on the QA 1.21.1-1
Checked on the Windows 10 // Chrome 88.0.4324.104
Attachment:![Signin Signup screens.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/4af9c5a9-6477-4d67-8f0a-260b687e82f5)

[2021-02-01 14:43] #2915 closed

[2021-02-01 14:57] iLystopad commented on #2912
@sirpy The "Oops! This browser is not supported" warning popup is displayed after signed up.

Checked on the QA 1.21.1-1
Checked on the Windows 10 // Mozilla Firefox 84.0.2 // Opera 73.0.3856.344
Attachment:
https://www.dropbox.com/s/lgdbpoc4q0o9220/The%20warning%20that%20browser%20is%20not%20supported.mp4?dl=0

[2021-02-01 14:57] #2912 closed

[2021-02-01 16:50] iLystopad commented on #2913
@sirpy The Face Verification works without issue. The design matches with mockups. The new and old design screens of FV are displayed randomly.

Checked on the QA 1.21.1-1
Device:  Windows 10 // Chrome 88.0.4324.104
Attachment: https://www.dropbox.com/s/treon7hzh0rfplj/The%20old%20design%20of%20FV%20is%20displayed%20randomly.mp4?dl=0

[2021-02-01 16:50] #2913 closed

[2021-02-02 10:21] Esfir-E opened #2945 "Full story events research"

[2021-02-02 11:15] iLystopad commented on #2931
@sirpy The issue is not reproduced. The amount of the reviewed invitee is not displayed on the counter after logging in each new day

Checked on the QA 1.21.1-1
Device: Windows 10 // Chrome 88.0.4324.104

Attachment: https://www.dropbox.com/s/0bsu6594xd79dzx/Counter%20check.mp4?dl=0

[2021-02-02 13:31] iLystopad opened #2946 "[BUG] The asterisks of the deleted accounts are not displayed on the Invite page after some problems with the gun key."
Description:  The asterisks are not displayed on the Invite page after some problems with the gun key.

Steps to reproduce:

1. Open the https://goodqa.netlify.app/
1. Log in to the Account
1. Go to the Invite page
1. Pay attention to the names of invited users

Expected result:
The asterisks of the deleted accounts are displayed on the Invite page.

Actual result:
The asterisks of the deleted acc

[2021-02-02 15:25] sirpy opened #2947 "the graph should be updated to new ubischeme"
* we are deploying a new ubischeme
* check if the graph can read events of the contract from multiple addresses
* if it can that read ubi events from both
* if it cant discuss with sirpy tomerGD on best solution

[2021-02-02 16:14] iLystopad commented on #2911
@sirpy The mobile verification is removed from signing up methods with Google/Facebook

Checked on the PROD 1.22.2
Device: Windows 10 // Chrome 88.0.4324.104

Attachment:
https://www.dropbox.com/s/qrw1jt6gik9y2ty/Phone%20verification%20is%20dissabled.mp4?dl=0

[2021-02-02 16:14] #2911 closed

[2021-02-08 12:46] sirpy commented on #1689
@serdiukov-o-nordwhale
- [ ] verify android staging/secrets on github is updated
- [ ] release facetec fv as npm package

[2021-02-08 13:30] iLystopad opened #2951 "[BUG] The invited user is not displayed on the invite page after registering via the referral link"
**Description:** [BUG] The invited user is not displayed on the invite page after registering via the referral link.

**Steps to reproduce:**
1. Open the referral link
2. Sign in via referral link
3. Logout
4. Log in to the Inviter account
5. Go to the Invite page
6. Pay attention to the "Friends Who joined" section

**Expected result:** The invited user is displayed in the "Friends Who Joined" se

[2021-02-08 14:10] serdiukov-o-nordwhale commented on #2929
@Zhigamovsky pls explain here why app crashed if counter displayed **inside** icon (not on the same nested level)

[2021-02-08 15:32] Zhigamovsky commented on #2929
Moved counter value to the same nesting level as icon.
Adjusted styles.

Error occurs with Icon (createIconSetFromFontello) and impossibility to display View with inner Text inside the Icon on Android.

[2021-02-09 09:54] iLystopad commented on #2951
@sirpy The issue is not reproduced. The Invitee is displayed on the Invite page of the Inviter account. The reward is earned by both users after passing the FV by Invitee.

Checked on the PROD 1.22.13
Device: Windows 10 // google Chrome v 88.0.4324.150

Attachment:  https://www.dropbox.com/s/4fy1w5gg4p1iion/Invite%20on%20Prod.mp4?dl=0

[2021-02-09 12:24] sentry-io[bot] opened #2952 "TypeError: Failed to update a ServiceWorker for scope ('https://next.gooddollar.org/') with script ('https:/..."
Sentry Issue: [GOODDAPP-2294](https://sentry.io/organizations/gooddollar/issues/2206662823/?referrer=github_integration)

[code]

[2021-02-09 12:24] serdiukov-o-nordwhale commented on #2952
@sirpy probably that's the issue you told me about yesterday

[2021-02-09 12:31] sentry-io[bot] opened #2953 "Add fallbacks for username and walltAddress in getProfileFieldValue"
We have a lot of the issues during fetching username and walltAddress
I think we could add some fallback:

* [ ] if no decryption key - get username and address and re-encrypt them in the GUN
* [ ] re - use the part of profileFix's script code to do that (e.g. retrieving username / wallet address)

Sentry Issue: [GOODDAPP-1CHH](https://sentry.io/organizations/gooddollar/issues/1981145233/?referrer

[2021-02-09 12:39] sentry-io[bot] opened #2954 "Error: update failed:: fixProfile: 'mnemonic' field flush timeout"
It's seems that Gun reaches some load limit.
I already optimized .decrypt() and .secretAck(), we don't fetch the decryption key each time we decrypting node. And i don't really know what else we could optimize.

Could you please

* [ ] look what else we could optimize in our GUN customized methods
* [ ] probably we need to add a few more GUN peers for production

Sentry Issue: [GOODDAPP-1PEA](http

[2021-02-09 12:40] sentry-io[bot] opened #2955 "TypeError: Cannot read property 'toNumber' of undefined"
Sentry Issue: [GOODDAPP-1RSE](https://sentry.io/organizations/gooddollar/issues/2205900140/?referrer=github_integration)

[code]

[2021-02-09 12:45] sentry-io[bot] opened #2956 "Error: NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child o..."
Sentry Issue: [GOODDAPP-1PEB](https://sentry.io/organizations/gooddollar/issues/2193788124/?referrer=github_integration)

[code]

[2021-02-09 12:47] sentry-io[bot] opened #2957 "Error: pollOTPLEvents failed:: Connection error: Timeout exceeded after 0ms"
Sentry Issue: [GOODDAPP-34N](https://sentry.io/organizations/gooddollar/issues/1898935178/?referrer=github_integration)

[code]

[2021-02-09 12:54] sentry-io[bot] opened #2958 "Error: torus login failed: node results do not match at first lookup {}, {}"
Sentry Issue: [GOODDAPP-1KKQ](https://sentry.io/organizations/gooddollar/issues/2149575216/?referrer=github_integration)

[code]

[2021-02-09 12:57] serdiukov-o-nordwhale commented on #2958
There's a lot of issues last 2 week.
Probably it's also related to the traffic load - need to investigate.
If it's the reason - we need to fond the way to optimize or scale torus login process.
For example we're using some contract address to login via torus.
Probably we could create a few addresses and split user logins between them

[2021-02-09 12:59] sentry-io[bot] opened #2959 "Error: Failed to preload FaceTec SDK: FaceTec SDK Required resources failed to load on last init."
Sentry Issue: [GOODDAPP-1MD8](https://sentry.io/organizations/gooddollar/issues/2162401553/?referrer=github_integration)

[code]

[2021-02-09 13:01] serdiukov-o-nordwhale commented on #2959
In the logs the .wasm file was loaded without issues (http code 200)
so we need to research what's the issue because actually zoom had to initialize

[2021-02-09 15:50] Zhigamovsky commented on #2221
Reason:
- When user press the delete account button, for each profile fields call `setProfileFieldPrivacy` function for all profile fields, includes `avatar` and `smallAvatar` and we get `******` value for avatar before recreating account.

Solution:
- remove avatar separately (setting `null` value to `avatar` and `smallAvatar` fields).

[2021-02-09 16:28] iLystopad commented on #2937
@sirpy The request is sent to the faucet from the whitelisted user to re-fill the gas. The first request from the not whitelisted user is sent to the faucet and all next requests are sent to the top wallet server

Checked on the Prod 1.22.17
Device:  Windows 10 // Chrome 88.0.4324.150

Whitelisted user: the requests are sent to the faucet from the whitelisted user and gas is re-filled
![image.png]

[2021-02-09 16:28] #2937 closed

[2021-02-10 07:49] sirpy commented on #2958
nothing we can do about it. its on Torus end.
i'll be in touch with them.
we'll also upgrade to v4 where they added more error logging for themeselves so they will be able to better understand it

[2021-02-10 07:49] #2958 closed

[2021-02-10 08:56] iLystopad opened #2962 "[BUG] The "My Face Record ID" is not copied after clicking on the "Copy ID" button on the Profile Privacy page"
**Description:** The "My Face Record ID" is not copied after clicking on the "Copy ID" button on the Profile Privacy page

**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. log in to the account
3. Go to the Profile Privacy screen
4. Click on the "Copy ID" button
5. Pay attention that the ID is not copied

**Expected result:** The "My Face Record ID" is copied after clicking on the "C

[2021-02-10 09:46] iLystopad opened #2963 "[BUG] The verify edit page is displayed after deleting the phone number on the Edit profile page"
**Description:** The verify edit page is displayed after deleting the phone number on the Edit profile page

**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Log in to the account
3. Go to the Edit Profile screen
4. Delete all characters in the  Phone number field
5. Pay attention to the verify edit screen

**Expected result:** The empty field should be saved after deleting the phone

[2021-02-10 10:12] iLystopad commented on #2279
@sirpy The issue is not reproduced.
Checked on the QA 1.22.13-0 // Dev 1.22.13-0
Device: Desktop // Windows 10 // Chrome 88.0.4324.150
Attachment:
![The blurred background of the popups is in the container border.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/f4162d9e-cfc2-4086-98e9-bb3ae43d73c6)

[2021-02-10 10:13] #2279 closed

[2021-02-10 11:08] iLystopad opened #2964 "[BUG] The Counter on the Invite icon is situated mismatch with the mockup"
**Description:** The user should have new invited users. The Invite icon is situated mismatch with the mockup

**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Log in to the account
3. Pay attention to the counter on the Invite icon

**Expected result:** The Counter on the Invite icon is situated match with the mockup

**Actual result:** The Counter on the Invite icon is situated mis

[2021-02-10 12:11] iLystopad commented on #2931
@sirpy The issue is reproduced. The amount of all invited before users are displayed on the counter after logging in to the inviter account

**Checked on the** Dev 1.22.13-0 // QA 1.22.13-0 // PROD 1.22.17
**Device:** Windows 10 // Chrome 88.0.4324.150

**Additional info:**
Used accounts
Dev env - 2tester8913@gmail.com pass: Tester_22222
Qa env - 6tester8913@gmail.com pass: Tester_66666

**Attachm

[2021-02-10 12:12] sirpy commented on #2964
@Zhigamovsky this is probably due to your fix.
you need to verify that style changes are working both on web and native

[2021-02-10 12:22] sirpy commented on #2963
@Zhigamovsky this is because mobile is no longer required in the profile validation
modify the edit profile page to not ask for verification if email or mobile are empty

[2021-02-10 14:16] omerzam commented on #2395
verify payment link and payment request link are working for signed in user -
  * payment link sucessfully but still getting error from profileFix.js - "profile fields check failed"
  * payment request - money transferred sucessfully, getting "profile fields check failed" and returned to the transfer screen

[2021-02-11 13:22] sirpy commented on #2953
@serdiukov-o-nordwhale we need to further investigate this before suggesting solutions
remember. we fix only when we are able to reproduce!

[2021-02-11 14:13] codev911 opened #2968 "(Bug) invitee names not shown"
![Screenshot_2021-02-11-21-08-11-230_com android chrome](https://user-images.githubusercontent.com/53482087/107647607-edd17000-6cad-11eb-843a-eb8f36d2b685.jpg)

[2021-02-11 14:28] sirpy commented on #2968
@codev911 thanks we are lookiing into that.
@serdiukov-o-nordwhale lets discuss this

[2021-02-12 09:20] iLystopad opened #2969 "[BUG] The sign-up page is opened after clicking on the "Recover from seed Phrase" button on the Login page"
**Description:** The sign-up page is opened after clicking on the "Recover from seed Phrase" button on the Login page

**Steps to reproduce:**
1. Open https://gooddev.netlify.app/
2. Click on the "Already have a wallet? Log in"
3. Click on the "Recover from seed Phrase" button
4. Pay attention to the opened page

**Actual result:**
The sign-up page is opened after clicking on the "Recover from see

[2021-02-12 09:58] iLystopad commented on #2880
@sirpy The issue is not reproduced. The QR code scan screen is displayed after clicking on the "Scan QR code" button on the Send G$ screen

**Environment:** Android App Version 1.22.13-0 (1187)
**Device:** Xiaomi Mi 8 - Android 8.1.0

**Attachment:** https://www.dropbox.com/s/8z5vvu90vwjr63j/send%20via%20Qr%20code%20from%20the%20app.mp4?dl=0

[2021-02-12 09:58] #2880 closed

[2021-02-12 15:03] iLystopad opened #2970 "[BUG]WebSocket connection to 'wss://goodgun-nvme.gooddollar.org/gun' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED"
**Description:** WebSocket connection to 'wss://goodgun-nvme.gooddollar.org/gun' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED

**Steps to reproduce:**
1. Open https://wallet.gooddollar.org/
2. Pay attention to the error message in the console

**Expected result:** The page is working without errors in the console

**Actual result:** "Error in connection establishment: net

[2021-02-12 15:35] serdiukov-o-nordwhale commented on #2970
fixed by restarting GUN server on vultr, then restarting docker containers inside, then restarting goodserver.
for me doesn't reproduces now:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/62208067/107788012-8de3d380-6d58-11eb-902d-8bfcf0f27a42.png">

[2021-02-12 15:54] iLystopad opened #2971 "[BUG] The white screen is displayed on the Face Verification screen after tapping on the "Ok, verify me" button"
**Description:** The white screen is displayed on the Face Verification screen after tapping on the "Ok, verify me" button

**Steps to reproduce:**
1. Launch the App
2. Login to the account
3. Tap on the "Claim" button
4. Tap on the "Claim now" button
5. Tap on the "Ok, verify me" button
6. Pay attention to the white screen

**Expected result:** The second screen of the Face Verification should be

[2021-02-14 09:28] #2970 closed

[2021-02-15 07:02] sirpy commented on #2639
@Esfir-E need your input on this.

[2021-02-15 07:07] sirpy opened #2973 "Feed item component should use encapsulate data loading"
currently in the feed for each page of transactions we fetch, we block until we fetch each transaction details from gun db (including the sender/recipient profile)
this is both slow and also unreliable with gun.

* feed should only fetch txids
* each feed item should load from gun the tx details render them and then the sender/recipient profile, all using gun.on

[2021-02-15 08:24] iLystopad commented on #2962
The issue is not reproduced. The "My Face Record ID" is copied after clicking on the "Copy ID" button on the Profile Privacy page. The "Copy ID" button match the mockups.

Checked on the QA 1.22.13-1 // Dev 1.22.13-1
Device: Google Chrome 88.0.4324.150
Attachment:
![Copy ID button on the Profile Privacy screen.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/12b8dc8b-3803-454a-90

[2021-02-15 08:24] #2962 closed

[2021-02-15 09:15] iLystopad commented on #2869
@sirpy The issue is still reproduced.

Checked on the Android App 1.22.13-1 (1204)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment:
https://www.dropbox.com/s/cts335ul2n2209c/Login%20On%20the%20Android%20app.mp4?dl=0

[2021-02-15 09:16] iLystopad commented on #2862
@sirpy The issue is still reproduced.

Checked on the Android App 1.22.13-1 (1204)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment:
https://www.dropbox.com/s/cts335ul2n2209c/Login%20On%20the%20Android%20app.mp4?dl=0

[2021-02-15 11:26] iLystopad commented on #2869
@sirpy The issue is not reproduced. The user is able to send and receive G$ via scanning QR code.

Checked on the Android App 1.22.13-1 (1204)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment:
https://www.dropbox.com/s/rs0r3gssyeexphk/Send%20via%20qr%20code%20on%20the%20Android%20app.mp4?dl=0

[2021-02-15 11:27] #2869 closed

[2021-02-15 11:49] iLystopad opened #2974 "[BUG] The app is crashed after the user tapping on the Invite icon on the Home screen"
**Description:** The app is crashed after the user tapping on the Invite icon on the Home screen

**Steps to reproduce:**
1. Launch the App
2. Log in to the account
3. Tap on the "Invite" button
4. Pay attention to the App is crashed

**Expected result:**  The invite screen is opened after tapping on the Invite icon on the Home screen

**Actual result:** The app is crashed after the user tapping o

[2021-02-15 12:01] iLystopad opened #2975 "[BUG] The user is not logged out after tapping on the "Logout" button in the right side menu"
**Description:** The user is not logged out after tapping on the "Logout" button in the right side menu

**Steps to reproduce:**
1. Launch the App
2. Log in to the account
3. Tap on the "Menu" button
4. Tap on the "Logout" button
6. Pay attention that the user is not logged out

**Expected result:**  The user is logged out and the Signup screen is displayed after tapping on the "Logout" button in

[2021-02-15 12:18] iLystopad opened #2976 "[BUG] The "Application error" message is displayed on the "Statistics" screen"
**Description:** The "Application error" message is displayed on the "Statistics" screen

**Steps to reproduce:**
1. Launch the App
2. Go to the "Statistics" screen
6. Pay attention to the error message

**Expected result:** The Statistics screen should be displayed without any errors

**Actual result:** The "Application error" message is displayed on the "Statistics" screen

**Environment:**  And

[2021-02-15 12:20] sirpy opened #2977 "(Chore) upgrade facetec server before updating to latest facetec keys"
- [x] update to latest server prod keys

[2021-02-15 12:44] iLystopad commented on #2925
@sirpy The issue is not reproduced. The profile image is deleted after pressing the Delete button on the My Profile screen

Checked on the Android App 1.22.13-1 (1204)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment:
https://www.dropbox.com/s/5gqrunla5m0d949/The%20user%20is%20able%20to%20delete%20%20the%20photo.mp4?dl=0

[2021-02-15 12:44] #2925 closed

[2021-02-15 13:16] iLystopad commented on #2885
@sirpy The issue is not reproduced.

Checked on the Android App 1.22.13-1 (1204)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/2cdf02d2-6efc-4133-b64a-d4019e631560)

[2021-02-15 13:16] #2885 closed

[2021-02-15 13:31] iLystopad commented on #2864
@sirpy  The issue is not reproduced. The "Copy ID" icon is displayed fully on the Profile Privacy screen

Checked on the Android App 1.22.13-1 (1204)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/6c4ff5ff-9f40-440b-a95c-77ab3c6e0d03)

[2021-02-15 13:31] #2864 closed

[2021-02-15 13:59] omerzam commented on #2828
@Esfir-E text still missing

[2021-02-15 13:59] iLystopad commented on #2866
@sirpy The issue is not reproduced. The Alert popup is displayed correctly on the Export my wallet screen after clicking on the Copy address button

Checked on the Android App 1.22.13-1 (1204)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/7de2501e-ae50-4492-834f-71f8dc7ab6e4)

[2021-02-15 14:00] #2866 closed

[2021-02-15 14:30] iLystopad commented on #2927
@sirpy The issue is not reproduced. The screen is scrolled to the top after tapping on the "Top" button on the Home screen

Checked on the Android App 1.22.13-1 (1204)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment: https://www.dropbox.com/s/72vizjv70cxsfah/The%20screen%20is%20scrolled%20to%20the%20top%20after%20tapping%20on%20the%20Top%20button%20on%20the%20Home%20screen.mp4?dl=0

[2021-02-15 14:30] #2927 closed

[2021-02-15 14:46] iLystopad commented on #2867
@sirpy The issue is not reproduced. The design of the Claim screen matches the mockup

Checked on the Android App 1.22.13-1 (1204)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/f802a3e1-8fda-49a7-9f50-1c26a86ec6ab)

[2021-02-15 14:46] #2867 closed

[2021-02-15 15:31] iLystopad commented on #2886
@sirpy The issue is not reproduced. The username is saved after pressing the Save button on the Edit Profile screen

Checked on the Android App 1.22.13-1 (1205)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment:
https://www.dropbox.com/s/kqev306loqkc14x/The%20saving%20username%20works%20without%20issue.mp4?dl=0

[2021-02-15 15:32] #2886 closed

[2021-02-15 20:04] sirpy commented on #2976
yes dev dashboard not used anymore.
i've switched dev to use qa dashboard.

[2021-02-15 20:04] #2976 closed

[2021-02-15 21:00] sirpy commented on #2968
@iLystopad lets test this asap so we can release a hotfix

[2021-02-16 08:30] #2969 closed

[2021-02-16 10:28] iLystopad commented on #2968
@sirpy The issue is still reproduced. The name of the invitee is not displayed. Also, the name of the newly invited user is not displayed.

Checked on the QA 1.22.13-2
Device: Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/4f63d313-6df0-437f-8f17-c7edfeb9b5b7)

[2021-02-16 10:51] iLystopad commented on #2928
@sirpy The issue is not reproduced. The statistic screen is scrolled fully after scrolling

Checked on the Android App 1.22.13-2 (1210)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment:
https://www.dropbox.com/s/n1ap1k8i9d1x9hu/Statistics%20screen%20is%20scrolled.mp4?dl=0

[2021-02-16 10:51] #2928 closed

[2021-02-16 11:18] sentry-io[bot] opened #2978 "TypeError: Cannot read property 'getReadModeConfig' of undefined"
Sentry Issue: [GOODDAPP-11EB](https://sentry.io/organizations/gooddollar/issues/1961258808/?referrer=github_integration)

[code]

This seems to happen in Oppo smart phones such as CPH1909
also seems when it is in a webview.. user opening site from faceebook? user using some custom oppo browser?

[2021-02-16 11:18] sirpy commented on #2978
@iLystopad try to recreate it please

[2021-02-16 12:08] serdiukov-o-nordwhale opened #2979 "Android app - beta"

[2021-02-16 13:47] serdiukov-o-nordwhale opened #2980 "Mautic issue during signup on local env"
[code]

[2021-02-16 13:48] serdiukov-o-nordwhale opened #2981 "Private key login issues on the Torus testnet"
[code]

**alexcyberneticist@gmail.com**

[code]

**alexey@gooddollar.org**

[code]

[2021-02-16 13:54] sirpy commented on #2980
@serdiukov-o-nordwhale
1. axios response eerror generated by which call?
2. if it is mautic then what is the issue on goodserver?

[2021-02-16 13:56] serdiukov-o-nordwhale commented on #2980
1. In SignupState.js
[code]
      .catch(e => log.error('addSignupContact failed', e.message, e))
2. yes

[2021-02-16 15:14] iLystopad commented on #2978
@sirpy I can't recreate this error. Unfortunately, we haven't Oppo phones to check it.
I've checked this issue on Xiaomi Mi 8 // Android 8.1.0,  Huawei P20 // Android 10,  Pixel 3a XL // Android 11 but the issue doesn't reproduce on these ones

[2021-02-16 16:10] sirpy commented on #2980
@serdiukov-o-nordwhale yes what? what is the issue on server? did you check mautic response?

[2021-02-16 16:22] serdiukov-o-nordwhale commented on #2980
@sirpy yes it's a server issue but  it could be just because client sends something wrong. so need to check both client and server endpoint

[2021-02-16 16:26] serdiukov-o-nordwhale commented on #2980
requestID: `dbfdc019-c6f2-40b4-87a7-afa3b4d39953`

[2021-02-16 17:20] Zhigamovsky commented on #2974
This is because we use react-share library for sharing invites. This library works only in Web and renders <button> web component which doesn't work on Native (iOS, Android) and it crashes the app when we navigate to Invite screen. It was worked before? @serdiukov-o-nordwhale

[2021-02-16 18:11] serdiukov-o-nordwhale commented on #2974
@Zhigamovsky no, it's not worked / wasn't tested on native before.

I suggest:
1.  to use react-native implementation of react-share library like https://www.npmjs.com/package/react-native-social-share
2. create .web and .native files exporting share buttons components, import components from this file
3. .web file should just re-export buttons from react-share
4. .native file should export compon

[2021-02-17 07:43] sirpy commented on #2974
@Zhigamovsky @serdiukov-o-nordwhale lets disable the social share icons on native then
and open another issue in backlog to add share icons to native.

[2021-02-17 10:01] iLystopad opened #2982 "[BUG] The user is not able to signup or login via the referral link in the Facebook app."
**Description:** The "You can close this window now" message is displayed in the internal Facebook browser after signing up/logging in with Google/Facebook/Passwordless via referral link that placed in Facebook

**Steps to reproduce:**
1. Launch the Facebook App
2. Tap on the shared Gooddollar link
3. Go through the registration steps
4. Pay attention to the message on the screen

**Expected resul

[2021-02-17 10:56] serdiukov-o-nordwhale opened #2983 "Add share icons to the native app"
- [ ] use react-native implementation of react-share library
Facebook & Twitter: https://www.npmjs.com/package/react-native-social-share
Share via E-Mail: https://www.npmjs.com/package/react-native-email
- [ ] research the libraries for Telegram and WhatsApp
- [ ] create .web and .native files exporting share buttons components, import components to Invites.js from this file instead of react-share

[2021-02-17 11:01] serdiukov-o-nordwhale commented on #2983
@Zhigamovsky Need to be discussed with @Esfir-E @sirpy and myself.

[2021-02-17 11:01] serdiukov-o-nordwhale commented on #2974
@sirpy https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/2983

[2021-02-17 14:13] #2862 closed

[2021-02-17 15:43] sirpy commented on #2968
@iLystopad
the users in the example you tested have been deleted so their info is not available.
please test with registered accounts (you can simply perform the signup again with the deleted accounts)

[2021-02-17 16:18] Esfir-E opened #2985 "Replace the link for goodmarket"
**Description**
1. we would like to change the link of goodmarkets from our FB group to the following-
https://gooddollarmarketplace.sharetribe.com/en

2. We should also change the content on the popup that is displayed for users first time they clicked on the goodmarket.
the new text should be- "Visit Goodmarket, our exclusive marketplace, where you can buy and sell items in exchange for G$ coins

[2021-02-17 19:53] #2957 closed

[2021-02-18 07:57] sirpy commented on #2983
@Esfir-E the current share icons functionality is not compatible with native
for now we have removed them.
1. there's no out of the box solution for the exact buttons we had, so it will require effort to develop it
2. i really think they are redundant on native, i've barely ever seen someone give buttons to share specifically, everyone uses the generic native share capability

[2021-02-18 08:42] iLystopad commented on #2395
@sirpy The transactions work without issues. The app is opened after clicking on the payment link.

Checked on the Android app v 1.22.13-2 (1219) // Dev 1.22.13-2
Device: Xiaomi Mi8 Android 8.1.0 // Windows 10/ Google Chrome 88.0.4324.150

Attachment:
A transaction with sign in user https://www.dropbox.com/s/vz91wd1n4cvcjge/Transactions%20with%20sign%20in%20user%20App.mp4?dl=0
A transaction with a

[2021-02-18 08:42] #2395 closed

[2021-02-18 09:50] sirpy opened #2987 "User should be directed to download native app (deeplinks)"
* where and how will user be told to download app
after he signs up
OR before he signs up
* will a payment link/invite link redirect the user to download app in case he is on mobile?

1. this requires integration with Branch deeplinks, because other wise the invite code will be lost
1. is it safe to use payment link with Branch? since it is no longer private.

[2021-02-18 10:32] iLystopad commented on #2968
@sirpy The issue is reproduced with **newly** invited user. The name of the newly invited user is not displayed on the Invite screen.

Checked on the Dev 1.22.13-2 // QA 1.22.13-2
Device: Windows 10/ Google Chrome 88.0.4324.150

Attachment:
https://www.dropbox.com/s/g7q00yjurl7yyh0/The%20name%20of%20new%20invited%20user%20is%20not%20displayed%20on%20the%20invite%20screen.mp4?dl=0

[2021-02-18 10:54] iLystopad commented on #2975
@sirpy The issue is not reproduced. The user is logged out and the Signup screen is displayed after tapping on the "Logout" button in the right side menu

Checked on the Android App Version 1.22.13-2 (1224)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment:
https://www.dropbox.com/s/w4s19jes8y53ket/The%20user%20is%20able%20to%20logout.mp4?dl=0

[2021-02-18 10:54] #2975 closed

[2021-02-18 11:58] #2931 closed

[2021-02-18 13:33] iLystopad commented on #2964
@sirpy The issue is not reproduced. The Counter on the Invite icon matches with the mockup

Checked on the QA 1.22.13-3
Device: Windows 10 // Chrome 88.0.4324.150

Attachment: https://www.dropbox.com/s/91gysjudxlefk3i/The%20counter%20si%20match%20with%20the%20mockup.mp4?dl=0

[2021-02-18 13:33] #2964 closed

[2021-02-18 13:54] iLystopad commented on #2221
@sirpy The issue is not reproduced. The image profile placeholder is displayed on the "Home" page after deleting and recreating the wallet.

Checked on the QA 1.22.13-3
Device: Windows 10 // Chrome 88.0.4324.150

Attachment: https://www.dropbox.com/s/tz2be0q5yrws2br/The%20image%20profile%20placeholder%20is%20displayed%20on%20the%20Home%20page%20after%20deleting%20and%20recreating%20the%20wallet.mp

[2021-02-18 13:54] #2221 closed

[2021-02-18 15:35] iLystopad commented on #2974
@Zhigamovsky @sirpy  The app is crashed after the user going a second time to the Invite screen with the invitee users.

**Precondition:** The user has the invited user. The user is logged in.

**Steps to reproduce:**
1.  Launch the App
2. Go to the Invite screen
3.  Return to the Home screen
4. Go to the Invite screen
5. Pay attention to the crash of the app

**Note:** The issue is reproduced for

[2021-02-18 16:21] iLystopad opened #2988 "[BUG] The amount of all invited before users are displayed on the counter after the "Decryption key missing" error"
**Description:** The amount of all invited before users are displayed on the counter after the "Decryption key missing" error

**Steps to reproduce:**

1. Open the https://goodqa.netlify.app/
1. Log in to the Inviter account
1. Pay attention to the counter of new invited users

**Expected result:** The amount of the reviewed invitee is not displayed on the counter after the "Decryption key missing

[2021-02-18 18:12] sentry-io[bot] opened #2989 "TypeError: Cannot read property 'privacy' of undefined"
Sentry Issue: [GOODDAPP-1HG8](https://sentry.io/organizations/gooddollar/issues/2110168589/?referrer=github_integration)

[code]

[2021-02-18 19:07] sirpy commented on #2974
@iLystopad when you test a fix of the native app please specify the last version you tested

[2021-02-18 21:49] sirpy commented on #2835
@serdiukov-o-nordwhale @Zhigamovsky
why is this in progress and #2965 is closed?

[2021-02-19 15:29] iLystopad opened #2990 "[BUG] The next button is active with the empty "Phone number" input field on the "Sign up" screen"
**Description:** The next button is active with the empty "Phone number" input field on the "Sign up" screen

**Steps to reproduce:**
Open https://goodqa.netlify.app/
Click on the "Agree&sign up with Facebook" button
Leave Phone number field empty
Pay attention to the next button

**Actual result:**
The next button is active with the empty "Phone number" input field on the "Sign up" screen

**Expe

[2021-02-19 19:27] Zhigamovsky commented on #2835
@sirpy Initially, we thought that the problem was that when updating production, some users had some chunks cached and some tried to pull up from the server, but they were no longer there. Therefore, we slightly updated the dialog box that informs the user that there is a new version. But on the daily meet, when discussing with @omerzam and @serdiukov-o-nordwhale , we noticed that the error contin

[2021-02-21 12:08] omerzam commented on #2828
@Esfir-E what about the updated text for this ticket?

[2021-02-21 12:35] Esfir-E commented on #2828
1. @omerzam as answered on slack the correct content is " what is the transaction for"
https://app.zeplin.io/project/5fbfcf1e77d2fab82f7ee073/screen/5fe229a02d39671244787999
keep in mind in the link that we changed the font of the content the updated design will be ready by tomorrow

2. we need to save the actual answers in case we would like to display them one day in a public feed

[2021-02-21 13:16] sirpy commented on #2988
@iLystopad i've made somre more fixes.
i've also reset parts of our database so, some user information might be missing.
please try again with new users

[2021-02-21 13:51] sirpy commented on #2828
@Esfir-E
i would like to remind that we saw that payment request is used as much as payment link.
we should add this to both flows.

[2021-02-21 20:17] #2968 closed

[2021-02-21 20:22] sirpy commented on #2981
@serdiukov-o-nordwhale the private keys are 66 chars = 33 bytes.  it looks like there's extra leading 0s
can you compare the private key you get on web vs native? i've recently updated torus native, maybe they have also solved this issue.

[2021-02-22 08:25] Esfir-E opened #2991 "Fuse chain ID"
**Description**

1. We want to add the information for the fuse chain id for users that wants to export their wallet
1. We would like to remove the images from this page
1. we would like to give an indication once user clicked 'Copy' that the action was done.

 New Design-
https://app.zeplin.io/project/5fbfcf1e77d2fab82f7ee073/screen/603296998376b3124f8bd6eb

[2021-02-22 08:34] Esfir-E opened #2992 "Re-enter the wallet without signin"
**Description**
1.In case user signup to the wallet we should keep a cookie so that next time he will go to the wallet his session will still be valid and he would not be requested to 'signin'
2. Session should be valid for six months
3. no matter from which URL the user will be redirected to the wallet in case he signed up to the wallet in this device+ browser  in the last six months/ until he lo

[2021-02-22 08:40] Esfir-E opened #2993 "Invite fix- Close the 'How to invite""
**Description**
First time user will open the invite page, we should display the 'how to invite' section open, after that the section should be closed and the user will have the option to open the section by clicking on it.

[2021-02-22 08:55] iLystopad opened #2994 "[BUG] The Home screen is opened after entering/editing the username and clicking on the "Save" button on the Profile edit screen."
**Description:** The user is logged in.  The Home screen is opened after entering/editing the username and clicking on the "Save" button on the Profile edit screen.

**Steps to reproduce:**
1. Open https://goodqa.netlify.app/
2. Go to the Edit Profile screen
3. Enter the username
3. Click on the Save button
4. Pay attention to the home screen is displayed

**Actual result:**
The Home screen is ope

[2021-02-22 08:58] Esfir-E opened #2995 "Change the text on the FB message"
**Description**
Today we after user is trying to signin/signup through FB Browser we display after the registration massage the following message-
"You can close this window now " we should change the content of the massage and his place in the flow.

1. User is clicking on the Gooddollar link on FB> User displayed with the intro pages > display the text in a popup>  happy to have you here! unfort

[2021-02-22 09:05] Esfir-E opened #2996 "Invite - Adding A/B test to the invite massage"
**Description**

1. We would like to have the ability to A/B test 2-3 types of content for the Social share for invite feature.

* Once the user is copying our link and share it on social media's the link is shared with content, we would like to test 2-3 options of content for the same Social channels.
* We should have the ability to monitor the version
* We should have the ability to switch off t

[2021-02-22 09:14] Esfir-E opened #2997 "Torus - A/B test"
**Description**
we should have the option to A/B test the following feature- 2982 torus redirect flow #2986
 We have a lot of issues with the Torus popup, we would like to A/B test this new function.

1. The a/b test should be applied to all of the users 50/50 both to new and to existing one's
2. The A/B test should be measured and displayed on the amplitude/ google analytics
3. The A/B test shoul

[2021-02-22 09:16] Esfir-E opened #2998 "New design for FV Errors"
**Description**
following the change we did on the design of the FV screens we need to adjust some of the FV error screens.
the content is remaining the same.

https://app.zeplin.io/project/5fbfcf1e77d2fab82f7ee073/screen/60329e8326a126114f455df7
https://app.zeplin.io/project/5fbfcf1e77d2fab82f7ee073/screen/60329ea42c447a19a75aecc1
https://app.zeplin.io/project/5fbfcf1e77d2fab82f7ee073/screen/6032

[2021-02-22 09:17] sirpy commented on #2992
thats the way it works now, you never need to re-login.
unless there are specific settings the user is using, like incognito browsing, but nothing on our side.

[2021-02-22 09:17] #2992 closed

[2021-02-22 09:36] sirpy commented on #2996
@Esfir-E how do you intend to measure the effectiveness?

[2021-02-22 09:56] Esfir-E commented on #2828
@sirpy @omerzam
Hey Hadar - yes i agree Omer and me talked about it a few days ago, this should be implemented for both flows, this is also the reason we changed the text.
here is the updated design - https://app.zeplin.io/project/5fbfcf1e77d2fab82f7ee073/screen/5fe229a02d39671244787999

[2021-02-22 10:09] Esfir-E commented on #2932
@Esfir-E popup with spinner please provide

[2021-02-22 10:20] Esfir-E commented on #2995
@Esfir-E check if this massage is displayed in other social media's

[2021-02-22 11:30] iLystopad commented on #2994
@sirpy The issue is not reproduced. The "My Profile" screen is opened after entering/editing the username and clicking on the "Save" button on the Profile edit screen.

Checked on the QA 1.22.13-3
Device: Windows 10 // Chrome 88.0.4324.150

Attachment:
https://www.dropbox.com/s/q5ramdtx8dvppj4/The%20My%20Profile%20screen%20is%20opened%20after%20entering%20editing%20the%20username%20and%20clicking%

[2021-02-22 11:30] #2994 closed

[2021-02-22 12:16] serdiukov-o-nordwhale commented on #2981
On the web:

**alexcyberneticist@gmail.com**

[code]

**alexey@gooddollar.org**

[code]

[2021-02-22 12:17] serdiukov-o-nordwhale commented on #2981
no leading zeros

[2021-02-22 12:18] iLystopad commented on #2990
@sirpy The issue is not reproduced. The next button is inactive with the empty "Phone number" input field on the "Sign up" screen

Checked on the QA 1.22.13-3
Device: Windows 10 // Chrome 88.0.4324.150

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/0b925ef1-733f-4fb8-9f87-73f124e7c572)

[2021-02-22 12:18] #2990 closed

[2021-02-22 12:28] serdiukov-o-nordwhale commented on #2981
on native Torus still aligns pk with the leading zeros:

<img width="682" alt="image" src="https://user-images.githubusercontent.com/62208067/108708459-2547e400-751a-11eb-8743-49837187881e.png">

[2021-02-22 13:43] iLystopad commented on #2988
I've created a new account with a new invitee and will check this account each day to verify that issue is not reproduced.

[2021-02-22 13:43] sirpy commented on #2981
ok lets lets trim leading zeros of pk if length > 64.
i'm also contacting Torus about it

[2021-02-22 14:05] sirpy commented on #2988
ok its not high priority. we have not solved this issue fully yet

[2021-02-22 16:57] iLystopad commented on #2963
@sirpy The issue is not reproduced. The empty field should be saved after deleting the phone number on the Edit profile page

Checked on the QA 1.22.13-3
Device: Xiaomi Mi 8 // Android 8.1.0 // Chrome 87.0.4280.101

Attachment:
https://www.dropbox.com/s/fh1d19bersk5dgb/The%20empty%20field%20should%20be%20saved%20after%20deleting%20the%20phone%20number%20on%20the%20Edit%20profile%20page.mp4?dl=0

[2021-02-22 16:57] #2963 closed

[2021-02-22 17:06] iLystopad opened #2999 "[BUG] The Edit screen is opened after clicking on the Back button On the My profile screen"
**Description:** The user is logged in. The user is on the Edit Profile screen. The Edit screen is opened after clicking on the Back button On the My profile screen

**Steps to reproduce:**
1. Delete the Phone number/Edit username
2. Click on the Save button
3. Click on the Back button on the My Profile screen

**Actual result:**
The Edit screen is opened after clicking on the Back button On the M

[2021-02-23 09:22] Zhigamovsky commented on #2891
@Esfir-E Do we have design mockup for a new screen HandlePaymentLink?

[2021-02-23 09:36] iLystopad commented on #2999
@sirpy The issue is not reproduced. The Home screen is opened after saving the changes on the Edit profile screen and clicking on the Back button On the My profile screen

Checked on the QA 1.22.13-3
Device: Xiaomi Mi 8 // Android 8.1.0 // Chrome 87.0.4280.101

Attachment:
https://www.dropbox.com/s/3lmgwc2bl5ab72w/The%20back%20button%20is%20work%20without%20issue.mp4?dl=0

[2021-02-23 09:36] #2999 closed

[2021-02-23 10:59] sirpy commented on #2891
currently we dont, for now lets just make it a blank screen with the
"processing payment" popup we have today for payment links
for payment request it should redirect to the payment flow immediately
without popup

[2021-02-23 11:48] serdiukov-o-nordwhale commented on #2981
@sirpy hotfixed https://github.com/GoodDollar/GoodDAPP/commit/9e32c114be2d1e18fb3b72f845e5c1014255413b https://github.com/GoodDollar/GoodDAPP/commit/415a3005ea887381320b62aa3be15ade16886355

[2021-02-23 11:48] iLystopad commented on #2982
@sirpy The user is able to sign up in the Facebook internal browser. The message that the browser is not supported is displayed after all steps of registration. The Signup and sign-in works without issues.

Checked on the QA 1.22.13-3
Device: Windows 10 // Chrome 88.0.4324.150
Xiaomi Mi 8 // Android 8.1.0 // Facebook app 305.1.0.40.120

Attachment:
https://www.dropbox.com/s/odqz4r0jfjpc1mt/Sign%20

[2021-02-23 11:49] #2982 closed

[2021-02-23 12:14] serdiukov-o-nordwhale commented on #2923
@sirpy what's about this task ? should we do it in this sprint scope ?
also i see it's a large, complicated task so it could be split onto wallet part (handled by your or @omerzam ) and UI part (handled by @Zhigamovsky )

[2021-02-23 13:44] #2989 closed

[2021-02-23 16:20] serdiukov-o-nordwhale commented on #2981
@sirpy
On iOS we're receiving private key correctly, without any extra zero paddings
Instead, we have another issue - the app stuck for 10-15sec before open google login popup

[2021-02-24 13:29] serdiukov-o-nordwhale commented on #2971
1. Android apps were built with wrong env because was we checking github ref name (e.g. refs/remotes/origin/master), not a branch itself. As we're not using 'production' branch anymore, i removed check for that branch, i'm checking now only next. This allowed to simplify check conditions. Also, to more exact match i'm checking with / prefix (e.g. endsWith(github.ref, /next))
Hotfixed it in master/

[2021-02-24 13:34] serdiukov-o-nordwhale commented on #2971
Android version with FV working: [GoodDollar Android [staging] Version 1.22.13-3 (1260)](https://appcenter.ms/orgs/GoodDollar/apps/GoodDollar-Android-staging/distribute/releases/3)

[2021-02-24 13:35] iLystopad commented on #2977
@sirpy I've checked Face Verification on Prod and it's working without issues.
The user is able to pass FV. If the user tries to pass FV on another account the Unfortunately, We found your twin error message is displayed. If another user tries to pass FV on the same account the Your face doesn't match the snapshot from the previous verification message is displayed. The Something went wrong on our

[2021-02-24 13:35] #2977 closed

[2021-02-24 14:10] IvanRF commented on #2923
@sirpy @serdiukov-o-nordwhale
Same "To: Unknown" issue happens for claims on the previous smart contract `0xAACbaaB8571cbECEB46ba85B5981efDB8928545e`.

I think for the latest and for future address changes it should always be shown the "From: GoodDollar" with the G logo, since all are GoodDollar's "official" smart contracts.

[2021-02-24 14:15] iLystopad opened #3001 "[BUG] The image goes out of the container on the "Unfortunately, we found your twin" screen"
**Description:** The user is logged in. The user has completed FV on another account. The image goes out of the container on the "Unfortunately, we found your twin" screen

**Steps to reproduce:**
1. Launch the app
2. Go through all FV flow
3. Pay attention to the image on the "We found your twin" screen

**Actual result:**
The image goes out of the container on the "Unfortunately, we found your t

[2021-02-24 15:30] iLystopad commented on #2971
@sirpy @serdiukov-o-nordwhale  The issue is not reproduced. The second screen of the Face Verification should be displayed after tapping on the "Ok, verify me" button. The user is able to complete the FV.

Checked on the Android App [staging] Version 1.22.13-3 (1260)
Device: Google Pixel 3a XL // Android 11

Attachment:
https://www.dropbox.com/s/2wgwhe6aqp0j5mu/The%20user%20is%20able%20to%20comple

[2021-02-24 15:30] #2971 closed

[2021-02-24 21:48] Zhigamovsky commented on #2835
Merged, but I have no explanation for QA, how we can manually tested it. Maybe we need to wait until App will be updated and check is everything ok and nothing break (popup with message about update will be shown, then app will be restarted).

[2021-02-25 08:45] iLystopad opened #3005 "[BUG] Nothing happens after the user click on the signup button on the signup page"
**Description:** Nothing happens after the user click on the "Agree & Sign up with Google" button on the signup page  in the Firefox browser

**Steps to reproduce:**
1. Open the https://wallet.gooddollar.org/Welcome/Auth
2. Click on the "Agree & Sign up with Google" button

**Actual result:** Nothing happens after the user click on the signup button on the signup page in the Firefox browser

**Exp

[2021-02-25 09:35] iLystopad opened #3006 "[BUG] The design of the Zoom popup mismatch with the design on the web version"
**Description:** The user is logged in. The user is on the Face verification screen. The design of Zoom popup mismatch with the design on the web version

**Steps to reproduce:**
1. Tap on the "Ok, verify me" button
2. Tap on the "Got it" button
3. Pay attention to the "I'm ready" button
4. Tap on the "I'm ready" button
5. Pay attention to the "Frame your face" message

**Actual result:** The desi

[2021-02-25 10:06] iLystopad opened #3007 "[BUG] The grey frame is displayed on the feed cards while the cards are appearing on the Home screen"
**Description:** The user is logged in. The grey frame is displayed on the feed cards while the cards are appearing on the Home screen

**Steps to reproduce:**
1. Launch the app
2. Pay attention to the appearance of the cards

**Actual result:** The grey frame is displayed on the feed cards while the cards are appearing on the Home screen

**Expected result:** The grey frame should not be displaye

[2021-02-25 10:32] iLystopad opened #3008 "[BUG] The bottom half of the "Copy key" button is not tapped on the Export my wallet screen"
**Description:** The user is logged in. The bottom half of the "Copy key" button is not tapped on the Export my wallet screen

**Steps to reproduce:**
1. Launch the app
2. Go to the Export my wallet screen
3. Tap on the bottom half of the "Copy key" button

**Actual result:** The bottom half of the "Copy key" button is not tapped on the Export my wallet screen

**Expected result:**  The private ke

[2021-02-25 11:23] serdiukov-o-nordwhale commented on #2835
@Zhigamovsky you've told me you reproduced it locally. Just describe the thing you did **before** you emulated app update (e.g. clean cache etc). Then, just before release we'll ask @iLystopad to do the same stuff and he will check is the console does the issue appears after update or not

[2021-02-25 11:33] serdiukov-o-nordwhale commented on #3006
@Zhigamovsky there's a quick way to test FV on native:

1. checkout git@github.com:GoodDollar/ReactNativeFaceTec.git
2. go to example subdir and do `npm i`
3. copy .env.example to .env and fill with the following creds from GoodDollar QA :
- `REACT_APP_SERVER_URL`, `REACT_APP_ZOOM_ENCRYPTION_KEY`, `REACT_APP_ZOOM_LICENSE_KEY` are defined in the Netlify's env
- leave `REACT_APP_ZOOM_LICENSE_TEXT` e

[2021-02-25 11:42] serdiukov-o-nordwhale commented on #3006
Any native design issues should be fixed in ReactNativeFaceTec package. The flow is the following - create branch, then PR
You'd need to update `android/src/main/java/org/gooddollar/facetec/util/Customization.java`. In this file we just assigning custom fonts/colors/etc to some props of the overlay, feedback and other customisation section.

To see the whole list of customization options per each

[2021-02-25 11:45] iLystopad commented on #3005
@sirpy The issue is fixed. The user is able to signup/login to the Gooddollar in the Firefox browser

Checked on the Prod 1.23.3
Device: Desktop / Windows 10 / Firefox browser 85.0

Attachment:
https://www.dropbox.com/s/dx5wezf3qz56eyx/The%20issue%20with%20signup%20login%20in%20the%20Firefox%20is%20fixed.mp4?dl=0

[2021-02-25 11:45] #3005 closed

[2021-02-25 11:50] serdiukov-o-nordwhale commented on #1897
@iLystopad please do not add separate bugs related to the Android FV. Put all them here

[2021-02-25 11:50] serdiukov-o-nordwhale commented on #1897
**Description:** The user is logged in. The user is on the Face verification screen. The design of Zoom popup mismatch with the design on the web version

**Steps to reproduce:**
1. Tap on the "Ok, verify me" button
2. Tap on the "Got it" button
3. Pay attention to the "I'm ready" button
4. Tap on the "I'm ready" button
5. Pay attention to the "Frame your face" message

**Actual result:** The desi

[2021-02-25 11:51] serdiukov-o-nordwhale commented on #1897
@Zhigamovsky there's a quick way to test FV on native:

1. checkout git@github.com:GoodDollar/ReactNativeFaceTec.git
2. go to example subdir and do `npm i`
3. copy .env.example to .env and fill with the following creds from GoodDollar QA :
- `REACT_APP_SERVER_URL`, `REACT_APP_ZOOM_ENCRYPTION_KEY`, `REACT_APP_ZOOM_LICENSE_KEY` are defined in the Netlify's env
- leave `REACT_APP_ZOOM_LICENSE_TEXT` e

[2021-02-25 11:51] serdiukov-o-nordwhale commented on #1897
@Zhigamovsky

Any native design issues should be fixed in ReactNativeFaceTec package. The flow is the following - create branch, then PR
You'd need to update `android/src/main/java/org/gooddollar/facetec/util/Customization.java`. In this file we just assigning custom fonts/colors/etc to some props of the overlay, feedback and other customisation section.

To see the whole list of customization opt

[2021-02-25 11:53] #3006 closed

[2021-02-25 12:31] iLystopad commented on #1897
@Zhigamovsky
1) The "You need to stay on this screen..." message is not displayed on the FV uploading screen on the Native

Environment: Android App [staging] Version 1.22.13-3 (1260)
Devices list: Device: Google Pixel 3a XL // Android 11

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/af841d5a-b4e7-40c2-8c25-17c2770a8fb5)

2) The Animation of the FV uploadi

[2021-02-25 12:58] sirpy commented on #1897
@serdiukov-o-nordwhale  @iLystopad regarding "you need to stay..."
Can you check what happens if user goes to his mobile home screen/switch to another app while in this screen?
this text might not be relevant for mobile. on desktop it stops the process, need to find out if that happens on mobile

[2021-02-25 12:59] Zhigamovsky commented on #2974
@iLystopad I can't reproduce it on v 0.23.0. I tried several different users and user from example, with/without invites and tried several times navigated from Home screen to Invite screen and back, and all works fine.  Seems, this bug stayed in v 1.22.13. https://www.dropbox.com/s/pwpol0yi7qz3490/%D0%97%D0%B0%D0%BF%D0%B8%D1%81%D1%8C%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202021-02-25%20%D0%B2%201

[2021-02-25 13:00] sirpy commented on #2835
@Zhigamovsky QA can push a new release to goodqa.netlify.app whenever they want, this can simulate a new version

[2021-02-25 13:16] Zhigamovsky commented on #2835
Yes, I built locally production build and served it, then (optional) cleared the cache and rebuild build (imitated update). Maybe you will need to refresh the page after imitate update (try two cases: when you cleared cache before and when you didn't cleared cache before).

[2021-02-25 13:55] serdiukov-o-nordwhale commented on #1897
@iLystopad
1. There's no options to add this text in the Zoom customization. For the web app we used CSS hacks with :before / :after pseudo elements to add it. This won't work on native. So on native we couldn't add this texts
2. Also, on native we couldn't use animated gif for uploading progress image. Also we couldn't disable default spinning animations. So we couldn't display Earth rotating in

[2021-02-25 13:56] serdiukov-o-nordwhale commented on #2974
@iLystopad re-check on the latest version please

[2021-02-25 14:02] iLystopad commented on #2974
@Zhigamovsky @sirpy @serdiukov-o-nordwhale  The issue is not reproduced. There are no crashes after opening the invite screen.

Environment: Android App Version 1.23.0 (1265)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment: https://www.dropbox.com/s/pitp215c3e9azc3/The%20invite%20screen%20is%20opened%20without%20crash.mp4?dl=0

[2021-02-25 14:02] #2974 closed

[2021-02-25 14:05] iLystopad commented on #2929
@sirpy @Zhigamovsky The issue is not reproduced. The counter is working without issues and crashes.

Environment: Android App Version 1.23.0 (1265)
Device: Xiaomi Mi 8 // Android 8.1.0

Attachment: https://www.dropbox.com/s/pitp215c3e9azc3/The%20invite%20screen%20is%20opened%20without%20crash.mp4?dl=0

[2021-02-25 14:05] #2929 closed

[2021-02-25 14:21] iLystopad opened #3009 "[BUG] The background image of "waves" is not displayed in the fullscreen on the splash screen"
**Description:** The background image of "waves" is not displayed in the fullscreen on the splash screen

**Steps to reproduce:**

1. Launch the app
1. Pay attention to the background image of "waves" on the splash screen

**Actual result:**  The background image of "waves" is not displayed in the fullscreen on the splash screen

**Expected result:**  The background image of "waves" should be disp

[2021-02-25 16:04] iLystopad opened #3011 "[BUG] Uncaught (in promise) TypeError: Cannot read property 'length' of undefined"
**Description:** "Uncaught (in promise) TypeError: Cannot read property 'length' of undefined" error is displayed  in the console

**Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Open Console
3. Pay attention to the error message in the console

**Actual result:**  "Uncaught (in promise) TypeError: Cannot read property 'length' of undefined" error is displayed  in the console

*

[2021-02-25 16:12] serdiukov-o-nordwhale commented on #3011
@iLystopad hotfixed https://github.com/GoodDollar/GoodDAPP/commit/413ba4ce643a531e6cc37e1f3436419345d9723f https://github.com/GoodDollar/GoodDAPP/commit/75f78ded2d0b8fdb713dfeb9aaf61d2783260c16

[2021-02-25 16:21] iLystopad opened #3012 "[BUG] "New user failure" "Failed adding user to mautic" E8: Failed adding user to mautic"
**Description:** ""New user failure" "Failed adding user to mautic" E8: Failed adding user to mautic" error is displayed  in the console. The user is not able to sign in.

**Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Sign in with the Google/Facebook
3. Pay attention to the error message in the console

**Actual result:**  ""New user failure" "Failed adding user to mautic" E8:

[2021-02-25 16:40] serdiukov-o-nordwhale commented on #1897
@sirpy will be the same thing like on the web - session ends with context switch error.

This session return code defined on both IOS and Anrdoid SDKs:

[code]

[code]

[2021-02-26 08:46] iLystopad opened #3013 "[BUG] The transaction is not done after the user click on the "Send" payment link"
**Description:** The user is logged in.  The transaction is not done after the user click on the "Send" payment link

**Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Click on the received payment link
3. Pay attention that the transaction is not done

**Actual result:**  The transaction is not done after the user click on the "Send" payment link

**Expected result:**  The transa

[2021-02-26 09:21] iLystopad commented on #3012
@sirpy The issue is not reproduced. The user is signed up with Google/Facebook/Passwordless without errors.

Checked on the PROD 1.23.3 // QA 1.23.1-0
Devices list: Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment: https://www.dropbox.com/s/ggkno39zoc1ce76/Sign%20up%20works%20without%20issues.mp4?dl=0

[2021-02-26 09:21] #3012 closed

[2021-02-26 10:19] sirpy commented on #3011
@iLystopad fixed as part of payment link fix

[2021-02-26 10:23] iLystopad commented on #2835
@Zhigamovsky The issue is still reproduced. "The SyntaxError: Unexpected token <" is displayed in the console after refreshing the page

Checked on the QA 1.23.1-1
Device: Desktop // Windows 10 // Chrome 88.0.4324.150
Attachment: https://www.dropbox.com/s/u01xyvschaq89c0/Syntax%20error%20unexpected%20token%20error%20%28Update%20issue%29.mp4?dl=0

Also, the QA env is updated without the update popu

[2021-02-26 10:47] iLystopad commented on #3013
@sirpy Fixed. The transactions are done without any issues.

Checked on the PROD 1.23.3 // QA 1.23.1-1
Devices list: Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment: https://www.dropbox.com/s/spkiyvlzv696ife/Transaction%20on%20the%20Prod%20works%20without%20issues.mp4?dl=0

[2021-02-26 10:47] #3013 closed

[2021-02-26 12:16] iLystopad commented on #3011
@sirpy The issue is not reproduced.

Checked on the PROD 1.23.3 // QA 1.23.1-1
Devices list: Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment:
https://www.dropbox.com/s/vxjebeyf1i22dte/Uncaught%20%28in%20promise%29%20TypeError%20Cannot%20read%20property%20length%20of%20undefined%20is%20not%20displayed%20in%20the%20console.mp4?dl=0

[2021-02-26 12:16] #3011 closed

[2021-02-26 12:34] serdiukov-o-nordwhale commented on #2835
@Zhigamovsky it's seems like the app bundle is unable to load. we probably need to add some global handler in the index.html (and remove it once router selector initalizes)

[2021-02-26 13:49] iLystopad commented on #2981
@sirpy @serdiukov-o-nordwhale  The issue is not reproduced. The private key is 64 symbols in length.

Checked on the  Android App [staging] Version 1.22.13-3 (1260)
Devices list: Device: Google Pixel 3a XL // Android 11

Attachment:
2tester8913@gmail.com
2021-02-26 15:31:38.943 1160-1278/? I/ReactNativeJS: { from: 'TorusSDK' }, 'Received torusUser:', { publicAddress: '0xda17d16Bec7769E720B63B1D72A

[2021-02-26 13:49] #2981 closed

[2021-02-26 14:21] iLystopad opened #3014 "[BUG] The app is crashed after closing the Choose Google account screen"
**Description:** The app is crashed after closing the Choose Google account screen

**Steps to reproduce:**

1. Launch the App
1. Tap on the "Agree & Sign up with Google" button
1. Tap on the close button on the Chose Google account screen

**Actual result:**  The app is crashed after closing the Chose Google account screen

**Expected result:**   The Signup screen should be displayed after closin

[2021-02-26 15:42] iLystopad commented on #2034
@sirpy Sign up / log in with Google/Facebook/Passwordless works without issues.

Checked on the Android App [staging] Version 1.22.13-3 (1260)
Device: Google Pixel 3a XL // Android 11

Attachment: https://www.dropbox.com/s/vibo1x09mmp0q67/Sign%20up%20in%20on%20the%20Native.mp4?dl=0

[2021-02-26 15:42] #2034 closed

[2021-02-26 15:59] iLystopad commented on #2829
@sirpy The Auth0 works without issues on the native and on the Web.

Checked on the Android App [staging] Version 1.22.13-3 (1260) // QA 1.23.1-1
Device list: Google Pixel 3a XL // Android 11
Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment: https://www.dropbox.com/s/o9l1t76wd9hbxiu/Sign%20up%20in%20on%20the%20Native%20PAsswordless.mp4?dl=0

[2021-02-26 15:59] #2829 closed

[2021-03-01 07:14] sirpy commented on #2923
@IvanRF thanks. just fixed it.
314c6b9c8eb7f074e337630a6f29b8cb8cd669f0 v1.23.8

[2021-03-01 12:39] omerzam commented on #2614
does not reproduce
@iLystopad can you check and see if you can reproduce it? if not close the issue

[2021-03-01 13:09] serdiukov-o-nordwhale commented on #2211
@omerzam
when we using payment link we don't know who is receiver. so each time we requestion name/avatar from GUN
if receiver/sender  deleted account this data is gone. so we need to store small avatar and name in the feed item to keep them forever

[2021-03-01 13:36] iLystopad commented on #2614
@sirpy  @omerzam The issue is not reproduced. The TX card is deleted after cancelation in both opened tabs.

Checked on the QA 1.23.1-1
Device: Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment:
https://www.dropbox.com/s/du8oigh2osybvsm/cancel%20tx%20card%20deleted%20when%20wallet%20opened%20in%20two%20tabs.mp4?dl=0

[2021-03-01 13:36] #2614 closed

[2021-03-01 13:50] iLystopad commented on #2985
@sirpy The link is replaced and redirects to the https://gooddollarmarketplace.sharetribe.com/en. The text on the popup is changed. The Goodmarket button works without issues.

Checked on the QA 1.23.1-2
Device: Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment: https://www.dropbox.com/s/b2pe3vqo6k032e4/Replace%20the%20link%20for%20goodmarket.mp4?dl=0

[2021-03-01 13:50] #2985 closed

[2021-03-01 14:59] iLystopad commented on #3001
@Zhigamovsky  The image of the twin is not aligned at the center of the screen

Checked on the Android [staging] Version 1.23.1-2 (1295)
Devices list: Pixel 3a XL // Android 11

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/e33b8944-f07c-4f26-812c-5f2198aa30ff)

[2021-03-01 15:18] iLystopad commented on #3008
@sirpy The issue is not reproduced. All part of the button is clickable.

Checked on the Android [staging] Version 1.23.1-2 (1295)
Devices list: Pixel 3a XL // Android 11

Attachment: https://www.dropbox.com/s/f3sdecku5r97vqn/All%20surface%20of%20button%20is%20clicable.mp4?dl=0

[2021-03-01 15:18] #3008 closed

[2021-03-01 20:34] Esfir-E commented on #2996
@sirpy if i will know which option given to whom i will be able to measure that once one the users friends who opened a wallet

[2021-03-02 09:42] sirpy commented on #2996
yes i understand that, i ment which tool are you going to use and how do you plan to configure it
bcause but we dont have any tools at the moment to aggregate the data in such a way for meaningful statistics

[2021-03-02 12:11] serdiukov-o-nordwhale commented on #2973
the task if much difficult as i supposed before.
in the userStorage everything is linked between themselves, there're some circular dependencies.
i still don't understand hove it's working in a whole
so i don't see a quick ways how to implement this task - only re-work the whole feed from scratch

@sirpy need to discuss this. for now i'm switching to the next task i have in the sprint

[2021-03-02 12:39] iLystopad commented on #2828
@sirpy @omerzam The category functionality works without issues. The design on the category screen matches the mockup. The user is able to select only one category per transaction. The next button is disabled until the user is not selected one of the categories. The event with the selected category is sent to Google analytics.

Checked on the QA 1.23.1-2
Devices:
Desktop // Windows 10 // Chrome 88

[2021-03-02 12:39] #2828 closed

[2021-03-03 08:34] Esfir-E opened #3019 "Bug -user sent 160,000G$ it was deducted from the wallet but wasn't received"
-User sent  160,000 G$  from his wallet address to the below wallet address but the G$  was not received and it has been deducted from his wallet.

See the wallet address he sent the G$-

eyJtIjoiM2RWaVJiZlJIRFBRemlZSlRDMW9haXlacnM2VGlvU1VtVHEiLCJhIjowLCJyIjoiIn0

-. user sent 160,000 G$ User Reamaze case : https://gooddollar.reamaze.com/admin/conversations/160000-good-dollar-not-received-2730034b

[2021-03-03 10:15] iLystopad commented on #2835
@Zhigamovsky @serdiukov-o-nordwhale @sirpy
1)The QA env is updated without the update popup on the mobile Chrome browser.

Checked on the QA1.23.1-6
Device: Xiaomi Mi 8 // Android 8.1.0 // Chrome 87.0.4280.101

Attachment:
https://www.dropbox.com/s/rojz1wgndlo7m1m/Update%20on%20the%20device%20popup%20is%20not%20shown.mp4?dl=0

2) The error "The SyntaxError: Unexpected token <" is not displayed in

[2021-03-03 10:39] serdiukov-o-nordwhale commented on #2835
@Zhigamovsky need to fix it ASAP

[2021-03-03 10:57] sirpy commented on #2835
@serdiukov-o-nordwhale @Zhigamovsky i think sometimes it can update without the popup when refreshing.
so i'm not sure this is a real issue
@iLystopad can you re-release QA and test again, without refreshing... just browsing the app and waiting for an update

[2021-03-03 11:21] iLystopad opened #3020 "[BUG] The "What is the transaction for?" screen is displayed twice with the "receive a specific amount" request"
**Description:** The user is logged in. The "What is the transaction for?" screen is displayed twice with the "receive a specific amount" request

**Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Make a Request specific amount
3. Log in to another account
4. Paste the Request specific amount link in the address bar
5. Press Enter
6. Pay attention that the "What is the transaction

[2021-03-03 11:29] omerzam commented on #3020
I think this bug is related to this issue: https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/3004

@Zhigamovsky can you have a look?

[2021-03-03 11:32] serdiukov-o-nordwhale commented on #2996
@Esfir-E we have already an mechanism allowing us to show one of **two** varian of some screen
- case A or B determined or first screen visit and kept per session (unit app reload)
- optionally we could cache it forever
- optionally we could define some event to be sent with parameter indicating the A/B case was applied

I've added estimation based on the current A/B implementation. If only **two*

[2021-03-03 11:36] serdiukov-o-nordwhale commented on #2991
@sirpy could you please explain where i could get the Fuse chain ID ?

[2021-03-03 11:37] serdiukov-o-nordwhale commented on #2993
we would cache this state flag in the user props (like we're doing with the good market button first clicked statew)

[2021-03-03 11:40] serdiukov-o-nordwhale commented on #2945
@Esfir-E please clarify the task - what exactly do you need to change/improve/fix ? Which are the goals of research you want to perform ? For now i'm lack with the information to estimate this task

[2021-03-03 11:41] serdiukov-o-nordwhale commented on #3019
@omerzam have you looked up this ? could you provide some estimate please ?

[2021-03-03 11:53] iLystopad commented on #2835
@serdiukov-o-nordwhale @sirpy @Zhigamovsky
The popup with the update is not shown in the PC browser and in the mobile browser (without refreshing the page) after running release QA 25 min ago.

[2021-03-03 12:13] iLystopad commented on #2891
@Zhigamovsky @sirpy  The transaction is done without loading the feed. The Handlepaymentlink screen with the "Processing payment link" popup is opened after the user clicks on the payment link.

Checked on the QA 1.23.1-7
Device: Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment: https://www.dropbox.com/s/nh7bbcrtnh0y3xv/Feed%20is%20not%20loading%20when%20opening%20the%20app%20using%20paym

[2021-03-03 12:13] #2891 closed

[2021-03-03 12:13] Zhigamovsky commented on #2835
I will check right now

[2021-03-03 12:38] iLystopad opened #3021 "[BUG] The name and image of the user is not displayed on the payment feed card"
**Description:** The user is logged in. The sender and receiver users have a profile image. The name and image of the user is not displayed on the payment feed card

**Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Make different payment to another user
3. Pay attention to the cards on the feed

**Actual result:**  The name and image of the user is not displayed on the payment fe

[2021-03-03 13:03] sirpy commented on #3021
@iLystopad this should work for new accounts or for users that recently opened the wallet.
old accounts that didnt login recently wont show up on qa/dev

[2021-03-03 13:49] iLystopad commented on #3021
@sirpy The issue is reproduced with new accounts. I've created two new accounts and made transactions.

Checked on the QA 1.23.1-7
Device: Desktop // Windows 10 // Chrome 88.0.4324.150

Masterseeds:
Kazak Kazak - "174fdc745c28e504c9e68b00741339aab276f01a7155378e91488ede56f13c7b"
Ukraine user - "5e0f2bbad33038a0428d9b3adc9a6d56bc8425773bf95476721ba410ca02ac0c"

Note:
 probably the issue related to

[2021-03-03 14:01] Zhigamovsky commented on #2835
@iLystopad can you re release QA and test again? Thank you

[2021-03-03 14:08] omerzam commented on #2991
fuse chain id is 122

[2021-03-03 14:10] omerzam commented on #2991
@Esfir-E please provide the full text for the text under the title

do we really want to use a whole box just to show the number 122?

[2021-03-03 14:14] omerzam commented on #2996
@Esfir-E do we have an effective way to measure success?

[2021-03-03 14:37] sirpy commented on #2996
@omerzam we will add another param to the invite link.  ab=# where # is the variant number

[2021-03-03 14:39] omerzam commented on #3019
User wallet: 0xDB5058ffDe8b7c334bB6B77E851908a7c76a040D
Tx hash: 0x401f80cb93ade8cfb9277a146a7e537cb2d3c32c5fb4637f3af60afbd891619c

possible solution:
instruct user to open wallet on desktop, open console (CTRL + SHIFT + I on chrome browser) and type in
```await wallet.cancelOTLByTransactionHash("0x401f80cb93ade8cfb9277a146a7e537cb2d3c32c5fb4637f3af60afbd891619c")```

this should return the funds

[2021-03-03 14:42] sirpy commented on #2996
@Esfir-E i've added details on implementation.
are there other events it is important to have the invite ab variant atttached to?

[2021-03-03 15:07] Zhigamovsky commented on #3021
@iLystopad  This issue not related to #2124, because all fixes in it is a style solution (only increase avatar image in 2 points). It is not effect to this issue. It looks like a new bug.

[2021-03-03 15:21] iLystopad commented on #2124
@Zhigamovsky @sirpy  The contour from the avatar photo is removed.

 Checked on the QA 1.23.1-8
Device: Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/22c09c91-3118-4d1f-b6f3-cbcab1b11242)

[2021-03-03 15:21] #2124 closed

[2021-03-03 16:14] iLystopad commented on #3021
@sirpy @serdiukov-o-nordwhale The issue is not reproduced. The image and name of the user is displayed on the payment feed card

Checked on the QA 1.23.1-8
Device: Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/1971fcce-d7c2-4e39-b0cf-8eeb71b3b053)

[2021-03-03 16:14] #3021 closed

[2021-03-04 08:50] iLystopad commented on #3020
@sirpy @Zhigamovsky @serdiukov-o-nordwhale  The issue is not reproduced. The "What is the transaction for?" screen is displayed only once for the user that makes a request-specific amount.

Checked on the QA 1.23.1-11
Device: Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment:
https://www.dropbox.com/s/162bgomw9w0lmzi/The%20What%20is%20the%20transaction%20for%20screen%20is%20displayed%20onc

[2021-03-04 08:50] #3020 closed

[2021-03-04 08:57] #3019 closed

[2021-03-04 10:31] iLystopad commented on #3001
@Zhigamovsky @sirpy  The image of the twins is displayed properly on the "Unfortunately, we found your twin" screen

Environment: Android App [staging] Version 1.23.1-11 (1330)
Devices list: Xiaomi Mi 8 // Android 8.1.0

Attachement:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/e412ce3a-5623-425f-8867-0dfc561af7ed)

[2021-03-04 10:31] #3001 closed

[2021-03-04 11:19] iLystopad opened #3023 "[BUG] The "OTP Failed" error is displayed under the input verification code field after entering the invalid code"
**Description:** The user is logged in.  The "OTP Failed" error is displayed under the input verification code field after entering the wrong code

**Steps to reproduce:**
1. Open the https://goodqa.netlify.app/
2. Go to the Edit page
3. Change the Phone number
4. Enter an invalid phone number
5. Pay attention to the error message

**Actual result:**  The "OTP Failed" error is displayed under the

[2021-03-04 11:58] serdiukov-o-nordwhale commented on #3023
Hotfixed: https://github.com/GoodDollar/GoodDAPP/commit/6c75d17a775739ec32f1b81a82d7a17c119a33df

@iLystopad please re check once QA deployed

[2021-03-04 12:29] iLystopad commented on #3023
@sirpy @serdiukov-o-nordwhale The issue is not reproduced. The "Oops, it's not right code" message is displayed under the input verification code field after entering the invalid code

Checked on the QA 1.23.1-12
Device: Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/393b3f3b-17e8-460b-a6ac-e5524d615d81)+380

[2021-03-04 12:29] #3023 closed

[2021-03-04 14:03] sirpy commented on #2891
@hadarbmdev we've released it, can you check it out?

[2021-03-04 14:14] Zhigamovsky commented on #3007
Reason: On Android if View have shadow (evaluation) and we animated opacity that View, we getting grey frame.

[2021-03-04 14:28] serdiukov-o-nordwhale commented on #3007
@Zhigamovsky could we do something with that ? For example remove elevation from styles while animating and bring it back once completed ?

[2021-03-04 14:31] Zhigamovsky commented on #3007
@serdiukov-o-nordwhale  Yes, I think about it. I will try it.

[2021-03-04 18:33] Zhigamovsky commented on #1897
@serdiukov-o-nordwhale  I can't see any options about height or size of buttons to match with web version buttons in FaceTec docs. So I just changed the background of feedback and upscaled font size for buttons.

[2021-03-05 09:07] iLystopad opened #3024 "[BUG] The "setProfile partially failed" "some of the fields failed during saving" error is displayed in the console after clicking on the "Let's start" button on the Sign up page"
**Description:**  The "setProfile partially failed" "some of the fields failed during saving" error is displayed in the console after clicking on the "Let's start" button on the Sign up page

**Steps to reproduce:**
1.  Open the https://goodqa.netlify.app/
2. Click on the "Agree & sign up passwordless" button
3. Fill all fields of registration with valid data
4. Click on the "Let's start" button o

[2021-03-05 09:35] iLystopad commented on #3024
@Zhigamovsky Also, the similar error "Error saving profile" "failed saving field mnemonic" is displayed in the console after editing username or deleting the Phone number and clicking on the "Save" button

![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/68d76818-0987-4532-a8af-66166081ed74)

[2021-03-05 10:15] iLystopad opened #3025 "[BUG] The send link is not copied on the "Complete your transaction" screen after clicking on the "Copy to clipboard" button"
**Description:**  The user is logged in. The send link is not copied on the "Complete your transaction" screen after clicking on the "Copy to clipboard" button

**Steps to reproduce:**
1.  Open the https://wallet.gooddollar.org
2. Click on the "Send" button
3. Go through all steps to the "Complete your transaction" screen
4. Click on the "Copy to clipboard" button

**Expected result:**  The send l

[2021-03-05 12:45] serdiukov-o-nordwhale commented on #3025
The reason in this line of `src/components/common/animations/ShareOrCopyButton/ShareOrCopyButtonAnimated.js`

[code]

onPress calls write to clipboard which requires to be a **direct** user's interaction.
setTimeout breaks it so we have the exception.

the solution is to move setTimeout inside `useClipboardCopy` hook and postpone `onCopied` handler instead

[2021-03-05 12:46] serdiukov-o-nordwhale commented on #3025
Hotfixed:
https://github.com/GoodDollar/GoodDAPP/commit/1882c0e1ccdd2e4549956f6908c0e1883a39c434
https://github.com/GoodDollar/GoodDAPP/commit/b14bdb8b0dfd605e7204793efe2aff1d445cf130
https://github.com/GoodDollar/GoodDAPP/commit/9ed29a1a28961ba86c69d85a5c4c20e572617ccb

[2021-03-05 13:03] iLystopad commented on #2375
@sirpy UBIScheme works in weekly cycles without issues. It's checked for 7 days and the amount of "Today's distribution" and "Interest generated this week" was the same

Checked on the PROD 1.24.0
Device: Desktop // Windows 10 // Chrome 88.0.4324.150

[2021-03-05 13:03] #2375 closed

[2021-03-05 13:58] iLystopad commented on #3025
@serdiukov-o-nordwhale @Zhigamovsky @sirpy  The issue is not reproduced. The send link should be copied on the "Complete your transaction" screen after clicking on the "Copy to clipboard" button

Checked on the Prod 1.24.2

Devices list:
Apple MacBook Pro 13 Space Gray (MPXT2) 2017 // MacOS Mojave 10.14.5
Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment:
MacOS
https://www.dropbox.com/s/14

[2021-03-05 13:58] #3025 closed

[2021-03-05 14:02] iLystopad opened #3027 "Testing iOS by QA"
Check the connected tickets when iOS will be available for testing

[2021-03-05 14:05] iLystopad commented on #2738
Will be checked in the https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/3027

[2021-03-05 14:08] #2738 closed

[2021-03-05 14:08] iLystopad commented on #2787
@sirpy Will be checked in the #3027 when the iOS will be available for testing

[2021-03-05 14:08] #2787 closed

[2021-03-05 14:09] iLystopad commented on #2839
@sirpy Will be checked in the #3027 when the iOS will be available for testing

[2021-03-05 14:09] #2839 closed

[2021-03-05 14:26] iLystopad commented on #2741
@sirpy The event's name has been changed regarding the suggestion.

Checked on the QA 1.23.1-12
Devices list: Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment:
![image.png](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/4d2746dd-663a-4dec-a65a-f9c06bec627e)

[2021-03-05 14:26] #2741 closed

[2021-03-05 14:28] iLystopad commented on #2538
@sirpy May I check this ticket by manual testing?

[2021-03-05 15:34] iLystopad commented on #2348
@sirpy Google analytics works on the native.

Checked on the Android App [staging] version Version 1.23.1-12 (1346)
Devices: Xiaomi Mi8 // Android 8.1.0

Attachment:
Logs with GoogleAnalytics events - [https://app.zenhub.com/files/166818382/5e3aaa22-f546-4ba4-925a-daa82e0d0ecf/download](https://app.zenhub.com/files/166818382/5e3aaa22-f546-4ba4-925a-daa82e0d0ecf/download)

[2021-03-05 15:34] #2348 closed

[2021-03-05 16:54] iLystopad commented on #2997
@sirpy The A/B test is worked with the Sign in/up methods without issues.
One variant is displayed for the user after refreshing the page or sign in/sign out. The variant is changed only after clearing site data.
The events are displayed in the Amplitude.
The events of the chosen methods and torusPopupMode are sent to Google analytics,
The user is able to sign up/ login into the internal facebook

[2021-03-05 16:54] #2997 closed

[2021-03-05 18:04] serdiukov-o-nordwhale commented on #3024
@iLystopad Probably there were some Gun issues.
@Zhigamovsky tried to reproduce bug without any success. I also just tried to do that on both goodqa & goodserver and also locally with dev/qa env - the issue isn't reproduced. Please. re check it

[2021-03-07 07:24] sirpy commented on #2538
no need

Hadar Rottenberg
Technical Lead, GoodDollar
+972-507 319 093  (telegram <http://t.me/sirpy>, whatsapp)  blog
<https://medium.com/dablock>  gooddollar.org <http://www.gooddollar.org/>

* <https://www.facebook.com/TheGoodDollar>
<https://twitter.com/TheGoodDollar>
<http://instagram.com/gooddollarorg>   <http://t.me/GoodDollarX>
<https://www.linkedin.com/company/gooddollar/>
<http://medium.c

[2021-03-09 08:23] Esfir-E opened #3028 "Bug- Payment link"
We got few users complaining that their is issue with the payment link. their complaint . that they send the link and the amount don't arrive to the receiver wallet although they confirmed the link. I am waiting on the users wallet id.

However I tried to replicate the issue - see my wallet ID I sent 5 from this wallet  G$ 0x24F9AD367df3a610dB199892ea52cE1fd7014B2D

I have it in my log as pending.

[2021-03-09 08:24] Esfir-E opened #3029 "Bug- Payment link"
We got few users complaining that their is issue with the payment link. their complaint . that they send the link and the amount don't arrive to the receiver wallet although they confirmed the link. I am waiting on the users wallet id.

However I tried to replicate the issue - see my wallet ID I sent 5 from this wallet  G$ 0x24F9AD367df3a610dB199892ea52cE1fd7014B2D

I have it in my log as pending.

[2021-03-09 08:28] #3028 closed

[2021-03-09 08:29] sirpy commented on #3029
@Esfir-E if it is pending on your wallet.
1. send the link privately to us
2. have your son try to open the link again

[2021-03-09 11:46] iLystopad commented on #3024
@serdiukov-o-nordwhale @Zhigamovsky @sirpy The issues are still reproduced.

Checked on the QA 1.24.1-0 // Prod 1.24.2
Devices:
MacBook Air 13" (MMGF2) New 2016 (8Gb RAM) // MacOS Mojave Version 10.14.1 // Safari
iPhone 6 // iOS 12.4.1 // Safari

Attachment: https://www.dropbox.com/s/7pujf4ye6hnlihb/2021-03-09_12-17-52.mp4?dl=0

[2021-03-09 12:22] iLystopad commented on #2909
@sirpy  @omerzam The wallet calls auth/eth just once after the user is logged in, It is not called after refreshing or closing and opening the wallet with the logged-in user.

Checked on the QA 1.24.1-0 // Prod 1.24.2
Device: Desktop // Windows 10 // Chrome 88.0.4324.150

Attachment:
https://www.dropbox.com/s/bnyp9wirbqrj0ku/Checking%20Auth%20Eth%20calls.mp4?dl=0

[2021-03-09 12:22] #2909 closed

[2021-03-09 12:34] serdiukov-o-nordwhale commented on #2954
probably related to #2054

[2021-03-09 12:38] omerzam commented on #2945
@Esfir-E is this still relevant? if not close this issue

[2021-03-09 13:02] serdiukov-o-nordwhale commented on #1897
@Zhigamovsky bump @gooddollar/react-native-facetec version in GoodDApp to 1.0.7, commit directly to the master

[2021-03-09 14:42] #2789 closed

[2021-03-10 08:04] #2538 closed

[2021-03-11 09:44] Zhigamovsky commented on #2998
@Esfir-E I need the invite to Zeplin. For now I can't view new design.

[2021-03-11 10:39] iLystopad commented on #3024
@Zhigamovsky @sirpy @serdiukov-o-nordwhale  The issue is not reproduced. The user is able to sign up and edit the profile information without errors.

Checked on the QA 1.24.1-1
Devices:
MacBook Air 13" (MMGF2) New 2016 (8Gb RAM) // MacOS Mojave Version 10.14.1 // Safari
iPhone 6 // iOS 12.4.1 // Safari

Attachment:
https://www.dropbox.com/s/pw081ftjdwlqs90/Check%20the%20sign%20up%20with%20editing

[2021-03-11 10:39] #3024 closed

[2021-03-11 11:02] iLystopad commented on #1897
@serdiukov-o-nordwhale @sirpy @Zhigamovsky The design of the Zoom popup matches with the design on the web version.

Environment: Android App [staging] Version 1.24.1-1 (1356)
Devices list: Device: Google Pixel 3a XL // Android 11

Attachment:
![The FV popups design.jpeg](https://images.zenhubusercontent.com/5fe99267688d8a03d64eabd2/8339af06-f3e2-42b4-9a48-aa5d3c79cb14)

[2021-03-11 11:02] #1897 closed

[2021-03-11 11:39] iLystopad commented on #1689
@serdiukov-o-nordwhale @sirpy All bugs are fixed. The face verification works without issues on the native. The user is able to pass the Face verification.

Environment: Android App [staging] Version 1.22.13-3 (1260)
Devices list: Device: Google Pixel 3a XL // Android 11

[2021-03-11 11:39] #1689 closed

[2021-03-11 12:56] iLystopad commented on #3029
@Esfir-E I cannot reproduce this issue. I've tried to make transactions on different devices:  Xiaomi mi mix 2S, google Pixel 3A XL, iPhone 6 with google/safari, and unsupported browsers: mi browser, Opera, Firefox. All transactions worked without issues.

[2021-03-12 13:40] Zhigamovsky commented on #2998
@Esfir-E do we need AB testing between new-old error pages?

[2021-03-15 08:50] omerzam commented on #3029
What's the status of this ticket?
@Esfir-E

[2021-03-15 09:15] #3029 closed

[2021-03-15 12:33] serdiukov-o-nordwhale opened #3037 "Unable to verify email"
There are a lot of requests with empty email

[code]

[code]

[code]

[code]

[2021-03-15 16:50] WolfVV commented on #3007
@serdiukov-o-nordwhale @Zhigamovsky  The grey frame isn't displayed on the feeds
https://www.screencast.com/t/7hbce8C4r
Environment: Android App [staging] Version 1.24.1-1 (1358)

[2021-03-15 16:50] #3007 closed

[2021-03-15 23:22] tzvister opened #3039 "another issue"

[2021-03-15 23:27] tzvister opened #3040 "third issue"
[Collection], [Collection], [Collection]

[2021-03-15 23:28] tzvister opened #3041 "third issue"
[Collection], [Collection], [Collection]

[2021-03-15 23:29] tzvister opened #3042 "third issue"
[Collection], [Collection], [Collection]

[2021-03-15 23:29] tzvister opened #3043 "third issue"
[Collection], [Collection], [Collection]

[2021-03-15 23:30] #3039 closed

[2021-03-15 23:30] #3040 closed

[2021-03-15 23:30] #3041 closed

[2021-03-15 23:30] #3042 closed

[2021-03-15 23:30] #3043 closed

[2021-03-15 23:39] tzvister opened #3044 "New Item"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-15 23:44] tzvister opened #3045 "User unable to complete sign up"
Created via monday.com integration. 🎉

[2021-03-15 23:45] tzvister commented on #3045
this is comment from GitHub

[2021-03-15 23:47] tzvister opened #3046 "User unable to complete sign up"
Created via monday.com integration. 🎉

[2021-03-16 00:13] tzvister opened #3047 "User unable to complete sign up"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:14] #3045 closed

[2021-03-16 00:14] #3046 closed

[2021-03-16 00:14] #3047 closed

[2021-03-16 00:51] tzvister opened #3048 "(Bug) Improve feed UX"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:51] tzvister opened #3049 "Unable to verify email"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:51] tzvister opened #3050 "chore(deps): bump react-dev-utils from 10.2.1 to 11.0.4"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:51] tzvister opened #3051 "(Chore) Feed item should encapsulate data loading"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:52] tzvister opened #3052 "2211 feed record should store recipient sender details"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:52] tzvister opened #3053 "Testing iOS by QA"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:52] tzvister opened #3054 "[BUG] The app is crashed after closing the Choose Google account screen"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:52] tzvister opened #3055 "[BUG] The background image of "waves" is not displayed in the fullscreen on the splash screen"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:53] tzvister opened #3056 "New design for FV Errors"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:53] tzvister opened #3057 "Invite - Adding A/B test to the invite massage"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:53] tzvister opened #3058 "Change the text on the FB message"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:53] tzvister opened #3059 "Invite fix- Close the 'How to invite""
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:53] tzvister opened #3060 "Fuse chain ID"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:53] tzvister opened #3061 "[BUG] The amount of all invited before users are displayed on the counter after the "Decryption key missing" error"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:53] tzvister opened #3062 "User should be directed to download native app (deeplinks)"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:53] tzvister opened #3063 "Add share icons to the native app"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:53] tzvister opened #3064 "Mautic issue during signup on local env"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:53] tzvister opened #3065 "Android app - beta"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:53] tzvister opened #3066 "TypeError: Cannot read property 'getReadModeConfig' of undefined"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:54] tzvister opened #3067 "Feed item component should use encapsulate data loading"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:54] tzvister opened #3068 "Error: Failed to preload FaceTec SDK: FaceTec SDK Required resources failed to load on last init."
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:54] tzvister opened #3069 "Error: NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child o..."
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:54] tzvister opened #3070 "TypeError: Cannot read property 'toNumber' of undefined"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:54] tzvister opened #3071 "Error: update failed:: fixProfile: 'mnemonic' field flush timeout"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:54] tzvister opened #3072 "Add fallbacks for username and walltAddress in getProfileFieldValue"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:54] tzvister opened #3073 "TypeError: Failed to update a ServiceWorker for scope ('https://next.gooddollar.org/') with script ('https:/..."
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:54] tzvister opened #3074 "(Feature) Integrate Zoom with native app for IOS"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:55] tzvister opened #3075 "the graph should be updated to new ubischeme"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:55] tzvister opened #3076 "[BUG] The asterisks of the deleted accounts are not displayed on the Invite page after some problems with the gun key."
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:55] tzvister opened #3077 "Full story events research"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:55] tzvister opened #3078 "This is a test reqestruoib"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:55] tzvister opened #3079 "[BUG] The verification code is received on the Sign in with Auth0 page after 5th attempt"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:55] tzvister opened #3080 "Solve issue with timeouts possible during FV flow"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:55] tzvister opened #3081 "FuseSwap description on transaction"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:55] tzvister opened #3082 "Branches cleanup"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:57] tzvister opened #3083 "finish filling details of android/ios app for stores"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:57] tzvister opened #3084 "Error: InvalidStateError: Failed to update a ServiceWorker for scope ('https://wallet.gooddollar.org/') ..."
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:57] tzvister opened #3085 "TypeError: torus login failed: Cannot read property 'keyResult' of undefined"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:57] tzvister opened #3086 "TypeError: getInitialFeed failed:: this.feed.get(...).get(...).decrypt is not a function"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:57] tzvister opened #3087 "Error: updateFeedEvent daySize: Error: No ACK yet."
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:57] tzvister opened #3088 "Error: failed decrypting props: Decrypting key missing"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:57] tzvister opened #3089 "Error: QuotaExceededError: The quota has been exceeded."
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 00:59] tzvister opened #3090 "refactor signupstate to use stacknavigator"
Created by Tal Oron via monday.com integration. 🎉

[2021-03-16 01:03] #3066 closed