[2020-09-25 09:40] yaroslav-fedyshyn-nordwhale commented on #2157
The latest changes for the src/lib/utils/string.js file is already on production (I checked).
Also, I tested how it displays - works fine.
So moving it to the QA

[2020-09-25 09:43] WolfVV opened #2500 "Error: Resend sms code failed. Error sending OTP: Phone calls not allowed to the given number"
Precondition:
The "Enter the verification code
sent to your phone" stage is opened

Steps to reproduce:
1) Wait until the "Send via voice call" button appears
2) Click the "Send via voice call" button
3) Pay attention to the Error sending OTP

Actual result: The "Error sending OTP" message is displayed after clicking the "Send via voice call" button
Expected result: The user should get the OTP via

[2020-09-25 09:52] WolfVV commented on #2490
@sirpy user is able to close pop-up only after ending a G$ getting process
Checked on  DEV V1.4.1-0
Desktop: Windows 10 // Google Chrome  85.0.4183.121
Video: https://www.screencast.com/t/q9ppO2n6

[2020-09-25 10:27] WolfVV commented on #2157
@sirpy The "My wallet private key" string is displayed well
Checked on qa V1.4.1-0  // Prod V1.4.0
Desktop: Windows 10 // Google Chrome  85.0.4183.121
iPhone 8 //13.3.1
![2020-09-25_13-20-03.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/2dee63d8-bb6d-4203-8e97-f321a1f4ed62)

[2020-09-25 10:27] #2157 closed

[2020-09-25 11:12] sirpy opened #2504 "react-native branch doesnt pass build"
npm run build isnt working
seems like an issue with webpack file size plugin (checks the final sizes of the build files)
i've set goodnative.netlify.app to build automatically the react-native branch.

[2020-09-25 11:19] WolfVV commented on #2448
@yaroslav-fedyshyn-nordwhale thx for the explanation, that is displayed as expected

[2020-09-25 11:19] #2448 closed

[2020-09-25 12:10] WolfVV commented on #2470
@sirpy @yaroslav-fedyshyn-nordwhale  as far as I know it was `Unexpected error happened during api call` error and now it logged correctly, in sentry correct message is displayed
  https://sentry.io/organizations/gooddollar/issues/1898608565/?project=1829798&query=New+user+failure&statsPeriod=14d
![2020-09-25_15-02-16.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/2066310c-bb18

[2020-09-25 14:00] WolfVV commented on #2352
@sirpy as I know if we choose some type of error in the sentry and check the `fingerprint` in JSON and if it coincides with other fingerprints for the same type of errors(from the same errors stack) - it means that errors are grouped
On the video you can see checking the fingerprint of errors from the same stack)
Video: https://www.screencast.com/t/TBN0tjOEWso

[2020-09-25 14:00] #2352 closed

[2020-09-26 17:48] sirpy opened #2507 "prevent multiple calls to /user/add"
for some reason sometimes a duplicate call to /user/add which causes mautic duplicate users
add throttle on client and after it is relased on production check for duplicate calls

[2020-09-26 17:49] sirpy opened #2508 "(Bug) old nonce is sent with request"
for some users they start the registartion at time X
the user/add  call happnes later, not clear why the nonce is from time X, but it happens
you can search the logs for "nonce invalid"

[2020-09-27 09:11] sirpy commented on #2470
@WolfVV that's the error message from the client, not the message from the server.
you can look in network for the server response and the error message itself.
please check again
re-opened this.

[2020-09-28 08:53] WolfVV commented on #2470
@sirpy I didn't manage to reproduce the `Unexpected error happened during api call` error
All my  attempts to sign up were successful

[2020-09-28 14:59] WolfVV commented on #2500
@sirpy issue isn't reproduced anymore. User can get OTP via voice call successfully
Checked on  QA V1.4.1-0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.121

[2020-09-28 14:59] #2500 closed

[2020-09-29 06:27] #2454 closed

[2020-09-29 08:32] #2484 closed

[2020-09-29 09:47] WolfVV commented on #2274
@sirpy the profile image isn't clickable for send/recive via address screens
Video: https://www.screencast.com/t/qT0rwcXbG
Checked on  QA V1.4.1-2
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.121

[2020-09-29 09:47] #2274 closed

[2020-09-29 10:16] WolfVV opened #2509 "The cookies pop-up isn't adapted to the size screen on the "Privacy Policy&Terms" page"
Precondition:
The "Privacy Policy&Terms" page is opened on mobile devices

Steps to reproduce:
1) Pay attention to the cookies pop-up (position and size relative to the width)

Actual result: The cookies pop-up isn't adapted to the size screen on the "Privacy Policy&Terms" page. Also, it is displayed shifted down
Expected result:  The cookies pop-up should be displayed relative to the size screens

[2020-09-29 10:23] WolfVV opened #2510 "Error: Uncaught ReferenceError: Amplitude is not defined"
Precondition:
User is signed in the wallet

Steps to reproduce:
1) Open the "Privacy Policy&Terms" page
2) Pay attention to the console (to the error message)

Actual result: The "Uncaught ReferenceError: Amplitude is not defined" error is displayed on the console after opening the "Privacy Policy&Terms" page
Expected result: The "Uncaught ReferenceError: Amplitude is not defined" error should be

[2020-09-29 11:34] WolfVV commented on #2476
@sirpy The stackNavigation Render: FIXME rerender is printed in the console while switching between tabs - Do you mean this by saying  "switching is fast and doesn't re-render iframes only hide/show"??
Video: https://www.screencast.com/t/CGoYi3OP

[2020-09-29 11:46] sirpy commented on #2476
no. i mean that for the user it should load fast and switching between tabs
should not show any loading

[2020-09-29 11:51] WolfVV commented on #2486
@sirpy There is the SIGNUP_SUCCESS event in the console
![2020-09-29_12-24-14.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/9ef345a3-ffc8-4fe5-ad86-cb9dcce77f55)
Checked on  QA V1.4.1-2
Desktop: Windows 10 // Google Chrome  85.0.4183.121

[2020-09-29 11:51] #2486 closed

[2020-09-29 11:52] WolfVV commented on #2476
@sirpy then it is displayed according to requirement/ preload both iframe, simple tabs, and fast switching
Checked on  QA V1.4.1-2
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.121

[2020-09-29 11:52] #2476 closed

[2020-09-29 11:52] sirpy commented on #2510
the issue is on gooddollar.org website, not in wallet

[2020-09-29 11:52] #2510 closed

[2020-09-29 12:29] LiavGut opened #2511 "Splash screen - Animated logo - Should be played fully on the first time loading of every session"

[2020-09-29 12:33] WolfVV commented on #2396
@sirpy all line charts are displayed with 28 last days (today is 29) so as expected
https://www.screencast.com/t/aNOdxEjgONjt
Checked on prod V1.4.0
Desktop: Windows 10 // Google Chrome  85.0.4183.121
iPhone 8 //13.3.1

[2020-09-29 12:33] #2396 closed

[2020-09-29 14:10] sirpy opened #2512 "stop web3 polling when app is in background"
to reduce the load on rpc nodes
stop wallet polling when app in background
resume when in foreground

[2020-09-29 19:17] #2403 closed

[2020-09-29 19:21] sirpy commented on #2478
@LiavGut too much design changes. ie fonts, boxes, illustration etc...
can we keep it simple and modify the current screens statistics using same design

[2020-09-29 19:25] sirpy commented on #2445
@WolfVV you need to make sure you are logged out of mautic in the browser you are testing

[2020-09-29 19:34] sirpy opened #2513 "signed in user should have hasWallet cookie"
users that completed registration should have cookie hasWallet=1;Domain=.gooddollar.org
- [x] new users should have cookie
- [x] existing users should have cookie

[2020-09-29 19:45] #2347 closed

[2020-09-29 19:49] sirpy commented on #2509
@serdiukov-o-nordwhale i manually removed the top navbar and the cookie overlay was displayed correctly.
this might be the know issue with iframes and fixed overlays, can we do something about it? or it must be changed in the iframe source

[2020-09-29 22:16] LiavGut commented on #2478
@sirpy The boxes will also be used for the invite screen, and if the illustration is too much, we can remove it.
The issue is that there's a lot of added data/stats to the new screens and they need to be divided differently than the old screens. there are a lot more hierarchies.
Make love, not war. Don't kill the design :)

[2020-09-30 07:25] LiavGut opened #2514 "Signup - SMS code (OTP) - If a user can't get the code, let them skip it"
If a user clicks 2 times on the "Send me the code again" or "Send via voice call"
then show "Didn’t got the code? Click here >" button, instead of the previous buttons.
Once he click this button he automaticlly skips to the next sign up step.

https://xd.adobe.com/view/3363aa15-11a8-4c83-a864-fcc7b187e6ea-6630/

![Screen Shot 2020-09-30 at 10.01.07.png](https://images.zenhubusercontent.com/5d53e71

[2020-09-30 08:02] LiavGut commented on #2450
@sirpy We have new texts and designs for those warning messages.

***The icon should be animated ***

https://xd.adobe.com/view/f6933b75-0307-498e-87d3-195f4993b9e5-a3c0/

![Screen Shot 2020-09-30 at 10.51.22.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/c0a3dec5-479a-4347-8ee7-89ed8af49390)

[2020-09-30 08:33] WolfVV commented on #2507
@sirpy  I've created an account a few times and only one call to /user/add
![2020-09-30_11-28-39.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/50172458-e564-43df-8120-70578c6406bf)
Checked on  QA V1.4.1-2
Desktop: Windows 10 // Google Chrome  85.0.4183.121

[2020-09-30 08:33] #2507 closed

[2020-09-30 08:46] WolfVV commented on #2513
@sirpy here isn't displayed hasWallet=1 string after compliting registration
![2020-09-30_11-45-31.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/8a88713e-1a26-4c4e-a6d2-c54578d595b0)

[2020-09-30 10:27] LiavGut commented on #2495
@sirpy

Here's the link to the new and updated signup + Login flow:
https://xd.adobe.com/view/3f973ecf-9a11-48c4-8d17-409a3481eee8-6ac4/

 ![Screen Shot 2020-09-30 at 9.55.04.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/51cf9742-9ceb-4328-b900-66013a2cb1bc)

![Screen Shot 2020-09-30 at 9.57.35.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/7eb29c21-02d9-47

[2020-09-30 13:45] sirpy opened #2515 "user should see new warning design when sending/recieving to wallet address"
@sirpy We have new texts and designs for those warning messages.

***The icon should be animated ***

https://xd.adobe.com/view/f6933b75-0307-498e-87d3-195f4993b9e5-a3c0/

![Screen Shot 2020-09-30 at 10.51.22.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/c0a3dec5-479a-4347-8ee7-89ed8af49390)

[2020-09-30 15:09] MathiasMoralesDixtra commented on #2227
I tested it in the next environments: GoodQA, Master branch, and GoodDev and I can't reproduce this. @WolfVV Could you re-test it, please?

[2020-09-30 15:44] #1747 closed

[2020-09-30 15:44] mauriguz commented on #1747
everything is done - closing issue

[2020-09-30 16:43] WolfVV commented on #2513
@sirpy new and existing users have cookie
![2020-09-30_16-18-19.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/12d7d3ff-0fcf-4f1d-ba2a-ec0481063180)
Checked on  Prod V1.5.0
Desktop: Windows 10 // Google Chrome  85.0.4183.121

[2020-09-30 16:43] #2513 closed

[2020-09-30 18:08] sirpy commented on #2495
why do we need the extra step?
why not make just it a text link?

[2020-09-30 18:25] LiavGut commented on #2495
Because we want to make it less easy for the users to signup via passwordless.

[2020-09-30 19:33] MathiasMoralesDixtra commented on #1972
I tested and I can't reproduce this. I tried on Windows and Mac, only on Chrome as the issue said. Also, I tried to modify some styles to force that but I couldn't. We need to find a common pattern to can fix it. @WolfVV let me know if you have this issue pls.

[2020-09-30 20:37] sirpy commented on #2471
can we have something simpler? that looks like something we already have?

[2020-10-01 06:24] WolfVV commented on #2227
@MathiasMoralesDixtra It isn't reproduced anymore. Checked on the dev/QA/prod

[2020-10-01 06:24] #2227 closed

[2020-10-01 07:05] WolfVV commented on #2445
@sirpy I've made sure but the same result - the Last Claim string is empty (no value) although I have claimed G$
Also, I've checked Last Claim on the profile other users, and there the same

[2020-10-01 09:30] WolfVV opened #2522 "(BUG) Edit profile: The data goes out from the mobile/email fields after refreshing the page"
Precondition:
User is signed in the wallet

Steps to reproduce:
1) Open the "Edit Profile" page
2) Restart/refresh page
3) Pay attention to lack of data in the mobile/email fields
4) Click on the empty field
5) Pay attention to the error in the console

Actual result: The data goes out from the mobile/email fields after refreshing the page
Expected result: The data should be displayed in the  mobi

[2020-10-01 11:18] WolfVV commented on #2450
here no issue
new warning design for send/receive via address wallet goes together with #2515

[2020-10-01 11:54] Esfir-E opened #2523 "Remove send to Address button and page"
Description -

we need to remove the send to Address button and page as we are receiving many complaints from users that are sending their money to the main net and have no access to it. this feature at this point is irrelevant for most of the users .
![send_Address_!.png](https://images.zenhubusercontent.com/5f6877b34ede532795cfb95b/e1865a6a-5f27-4b92-8957-c2d26d0bc15b)!![send_address2.png](https

[2020-10-01 13:23] WolfVV commented on #1972
@MathiasMoralesDixtra It isn't reproduced anymore, so it can be closed

[2020-10-01 13:23] #1972 closed

[2020-10-01 14:20] WolfVV opened #2524 "Error: ailed initializing initTokens" "Invalid attempt to destructure non-iterable instance"
Steps to reproduce:
1) Sign up or Sign in the wallet (the "Home" page is displayed)
2) Pay attention to the console (to the error message)

Actual result: The "ailed initializing initTokens" "Invalid attempt to destructure non-iterable instance" error is displayed in the console after opening or creating the wallet
Expected result: The error shouldn't be  displayed in the console after opening or

[2020-10-01 16:17] serdiukov-o-nordwhale commented on #2470
"Unexpected error happened during api call" is logged when getErrorMessage couldn't get message from object received from axios.

This could happen if we're receiving something different that:
- non-empty
- JS Error with non-empty message
- object with { ok: 0, error } shape and non-empty .error property
- object with { ok: 0, message } shape and non-empty .message property

I've added unit tests

[2020-10-01 17:41] sirpy commented on #2514
@LiavGut i'm closing this for #2494
i suggest the following logic
on wallet show only "send sms again"
when user clicks for 2nd time on "send sms again"(3rd sms sent) we show him two options "send code via call" or "skip mobile verification"

just skipping it, would be unclear to the user what just happened
twilio suggests to give the "call" option only after a couple of failures

[2020-10-01 17:41] #2514 closed

[2020-10-01 17:54] LiavGut commented on #2514
@sirpy sounds good to me.

@Esfir-E cool?

[2020-10-01 17:55] sirpy commented on #2478
the illustration will probably problematic to have it match exactly with
the button, lets have something simpler

[2020-10-01 17:58] sirpy commented on #2511
we discussed this in the past. there's no clear definition of what a
"session" means.

[2020-10-01 18:08] LiavGut commented on #2511
@sirpy  So let's decide a clear definition :)
How about if a user didn't use the app for an hour? can we do that?

and also after updates...

[2020-10-01 18:15] LiavGut commented on #2478
@sirpy ok, I'll change it to a simpler one.
Thanks

[2020-10-01 19:13] sirpy commented on #2522
#2493 must be related

[2020-10-01 19:18] #2470 closed

[2020-10-01 19:58] LiavGut commented on #2511
@sirpy Mainly because it looks like a bug, and feel weird. and there's no reason for that. Think about it, when users return to the app, most of the time they are refreshing it to see if something has been updated (balance, feed, etc.), and the first thing they see is our not so working animated logo.

[2020-10-02 01:42] mauriguz commented on #2504
@sirpy this is done and working. please verify and close if it's all good

[2020-10-02 08:42] WolfVV commented on #2458
@sirpy The "Total transactions" is displayed as expected

![2020-10-02_11-35-08.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/8b69b1ec-1e1d-43c1-a96a-6a3766fcaeb2)
Checked on  QA V1.5.1-0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.81
Desktop: Windows 10 // Google Chrome  85.0.4183.121

[2020-10-02 08:48] #2458 closed

[2020-10-02 09:14] WolfVV commented on #2512
@sirpy polling is stopped when the app is in background
https://www.screencast.com/t/CEEo1do3i
Checked on  QA V1.4.1-2
Desktop: Windows 10 // Google Chrome  85.0.4183.121

[2020-10-02 09:14] #2512 closed

[2020-10-02 09:40] serdiukov-o-nordwhale commented on #2222
@WolfVV When card popup is opened you could switch card by swiping left/right. It's default functionality of SwipeableFlatList component we're using for display feed

Try to you select any other card (e.g. some amount claimed) and to swipe left/right - you will see the popups for the previous/next claims.

So, in your case you selected the item near the invite feed item. Then you swiped and switch

[2020-10-02 10:00] WolfVV commented on #2222
@serdiukov-o-nordwhale as I remember it was implemented in such way: for example invite is enabled and the user clicks on the feed and after this action, he should be redirected directly to the invite page without any pop-ups, but when the user swiping feed in the fullscreen mode he is able to see invite pop up there - it means that there is shouldn't be displayed invite pop-up

[2020-10-02 10:16] serdiukov-o-nordwhale commented on #2222
@WolfVV Thanks

@MathiasMoralesDixtra Please
1. adjust `const feeds = useMemo(...` in FeedModalList component too
2. research how redirect to invite page on clicking invite feed item is implemented now. Add handler for swipe action, if we swiped to the invite item, use the existing callback/function redirecting to the invite page

[2020-10-02 10:18] WolfVV commented on #2475
@sirpy there is still displayed call to w3
https://www.screencast.com/t/qZe5usLmNtt
![2020-10-02_13-02-39.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/5c0d7b8e-1f4b-4859-a8ee-a4a52e0f2aed)
Checked on  QA V1.5.1-0
Desktop: Windows 10 // Google Chrome  85.0.4183.121

[2020-10-02 14:14] WolfVV commented on #2522
@sirpy @serdiukov-o-nordwhale It has a bigger influence, I logged out from wallet yesterday and logged in afterward 15-20hours and mobile/email data disappeared completely and  aren't being displayed anymore
Also, nickname isn't displayed on the "Home" page
https://www.screencast.com/t/EALXaRNfiEYd

[2020-10-02 16:24] serdiukov-o-nordwhale commented on #2493
I started from fixing hooks used in EditProfile. There were some missing deps could cause strange behavior. Also in the comments was mentioned that useEffect doesn't works with debounce correctly. This also wasn't fixed yet. I found an custom useDebounce hook solving that issue and updated the code according to its examples: https://usehooks.com/useDebounce/

Regarding #2522 - this probably causin

[2020-10-04 06:10] sirpy opened #2529 "Passwordless login gets stuck in preparing wallet"
many users report that when they use passwordless login they get stuck  in preparing wallet

[2020-10-04 15:42] LiavGut opened #2530 "GoodMarket - Add link from wallet"
Users should be able to go from the wallet to the GoodMarket Facebook marketplace.

1. Add a sticky button to the bottom of the dashboard.
2. If clicking for the first time on the sticky button then open a popup > clicking the "LET'S GO" button will open GoodMarket in a new tab.
Else clicking on the sticky button will open GoodMarket in a new tab.

*** Add 2 events to Amplitude:
1. GoodMarket butt

[2020-10-05 08:39] sirpy commented on #2504
@mauriguz you have access to netlify please set env variables similar to goodqa env(ie staging)
non secrets/ids env should be in put in netlify.toml file

[2020-10-05 08:42] sirpy commented on #2504
@mauriguz @serdiukov-o-nordwhale shouldnt we use react-app-rewired scripts for building instead of hacking the scripts again?
@serdiukov-o-nordwhale please help @mauriguz with that

[2020-10-05 09:47] serdiukov-o-nordwhale commented on #2493
About debouce issue:

https://stackoverflow.com/questions/61785903/problems-with-debounce-in-useeffect
https://stackoverflow.com/questions/57547582/useeffect-with-debounce

Report about the issue in the comment:

https://github.com/GoodDollar/GoodDAPP/blob/39fb123bef3dd68b45e3b9502c2a31b1e10f7bf7/src/components/profile/EditProfile.js#L48

[2020-10-05 10:55] serdiukov-o-nordwhale commented on #2504
@sirpy we'll discuss that on our daily sync. Will try to help

[2020-10-05 11:20] serdiukov-o-nordwhale commented on #2450
@sirpy @Esfir-E  what's wrong with that warning message ? could you please describe more detailed what should be changed/fixed ?

[2020-10-05 12:25] Esfir-E commented on #2450
@sirpy the massage we have at the moment is not clear enough for users we want to change the content to-
Keep in mind - Do not send tokens from Ethereum network to this address.
This is an internal Network address for G$ tokens only..

Also because we want to make sure that the users are paying attention we changed the design of the massage noticeable

Please break the lines as per the design.

ht

[2020-10-05 12:58] sirpy commented on #2450
yeah it should match the new design

Hadar Rottenberg
Technical Lead, GoodDollar
+972-507 319 093  (telegram <http://t.me/sirpy>, whatsapp)  blog
<https://medium.com/dablock>  gooddollar.org <http://www.gooddollar.org/>

* <https://www.facebook.com/TheGoodDollar>
<https://twitter.com/TheGoodDollar>
<http://instagram.com/gooddollarorg>   <http://t.me/GoodDollarX>
<https://www.linkedin.com/company/g

[2020-10-05 12:59] sirpy commented on #2450
@serdiukov-o-nordwhale check the XD it has new design

[2020-10-06 06:21] WolfVV opened #2534 "Numbers of countdown counter overlap each other"
Precondition:
User is signed in
The "Claim" page is opened

Steps to reproduce:
1) Claim the G$
2) Pay attention to the numbers of countdown counter

Actual result: Numbers of countdown counter overlap each other
Expected result: Numbers of countdown counter should be displayed on the own position without overlapping

Note: also  the "Your next daily claim" text on the counter is cut a little
Chec

[2020-10-06 07:49] sirpy commented on #2522
databased was fixed check again

[2020-10-06 08:12] LiavGut opened #2535 "Donation screens"
Here's the design for the new donation screen:
https://xd.adobe.com/view/56959691-73d7-49f3-a0fa-615a8e0c3722-03c6/

* The "Copy fund address" should be animated as the other copy buttons that we have (ie. check mark + done)

+ Update the Settings Side Menu - Add donate link + icon

![Screen Shot 2020-10-05 at 13.37.55.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/4fb95c79-e26

[2020-10-06 08:24] tomerGD commented on #2535
Missing an explanation about what will happen with the money, @Esfir-E
Let's not send to development before adding it.

[2020-10-06 13:49] WolfVV commented on #2522
@sirpy now it works - the data is displayed in the field in a few secs after page load

[2020-10-06 15:31] serdiukov-o-nordwhale commented on #2493
I solved all bugs in the current logic, now everything is working fine when some of field (e.g. email or mobile) is empty.
But there are usability mistakes in the current logic. They requiring more changes that simple bugfix. I'll create a new task and let's discuss them there

[2020-10-06 15:53] serdiukov-o-nordwhale opened #2537 "Enhance profile editing logic"
There's a few logic mistakes in the current profile editor implementation which decreasing it's usability.

All of them appearing when:
a) the profile is empty
b) or we're trying to change username and email or phone

In that case we have the following issues

1. we loosing username field changes during new phone/email verification flow
1. validation / verification of email/phone triggers on field

[2020-10-06 15:53] serdiukov-o-nordwhale commented on #2493
The task about usability fixes: https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/2537

[2020-10-06 16:02] serdiukov-o-nordwhale commented on #2523
@sirpy I suppose 'receive to address' could removed too (only QR code have to be left on receive page) ?

[2020-10-06 16:03] serdiukov-o-nordwhale commented on #2515
closing as those pages will be removed (https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/2523)

[2020-10-06 16:03] serdiukov-o-nordwhale commented on #2450
closing as those pages will be removed (https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/2523)

[2020-10-06 16:11] serdiukov-o-nordwhale commented on #2530
@sirpy @LiavGut
Please provide the following additional information:

- link to the GoodMarket Facebook marketplace
- amplitude event ids
- additional data to send with each event (if it needs)

[2020-10-06 18:37] sirpy opened #2538 "(Chore) set netlify caching headers"
- [ ] set netlify to cache for 1 week on wallet.gooddollar.org site
- [ ] set netlify webhook to clear cloudflare cache on build

[2020-10-07 08:30] serdiukov-o-nordwhale commented on #2515
Only receive screen should be updated as we removing send to address screen

[2020-10-07 08:33] sirpy commented on #2530
1. make it an env
2. we have a go-to market event I think. use that. with a boolean if first time or not (true if first time and popup opened otherwise false is click on let's go or successive clicks on sticky button)

[2020-10-07 10:02] #2493 closed

[2020-10-07 14:20] WolfVV commented on #2522
@sirpy @serdiukov-o-nordwhale yes it works well now but for new wallets
but what about users that created wallets before this issue happened, these wallets are still broken (name/mobile/email aren't displayed)
one of the old wallets    -   testbeemtest@gmail.com    //  TestBeem2020
can we consider that as a solved issue?

[2020-10-07 14:24] sirpy commented on #2522
you should test that old  wallets with missing data should be able to edit
their mobile/email in profile
i will release a patch to fix their missing names

[2020-10-07 14:33] #2450 closed

[2020-10-07 17:02] sirpy commented on #2509
@WolfVV the cookies consent should not be displayed at all now

[2020-10-07 19:43] sirpy commented on #2508
doesnt seem to happen anymore
lets follow on this in a week

[2020-10-08 07:20] sirpy opened #2550 "(Chore) setup envs for native build flows"
- [x] setup dotenv .env.development .env.staging and .env.production
   - [x] upgrade to latest react-native-config
   - [x] remove react-native-dotenv
   - [x] make sure both web+native use these files correctly
   - [x] .env should contain all envs with defaults for development env
   - [x] .staging and .production should contain specific overrides
   - [x] only non ids/keys should be in env.

[2020-10-08 08:54] #2455 closed

[2020-10-08 09:20] serdiukov-o-nordwhale commented on #2509
@sirpy due to the same-domain policy:

The most easier fix - to adjust cookies popup on the target site and do not show it if site was loaded via iframe

[2020-10-08 09:21] serdiukov-o-nordwhale commented on #2508
agreed

[2020-10-08 09:23] serdiukov-o-nordwhale commented on #2455
@sirpy
tell me please which was the reason ? how it has been resolved ? could this happen again  ?

[2020-10-08 11:05] WolfVV opened #2551 "Error: torus login failed" "Cannot read property 'debug' of undefined"
Precondition:
The start page with the google/facebook button is opened

Steps to reproduce:
1) Click the google button
2) Select a mailbox
3) Pay attention to the error message

Actual result: The error message is displayed after trying to sign up/in into wallet via Google/Facebook
Expected result: The user should be successfully logged up/in after trying to sign up/in into wallet via Google/Faceb

[2020-10-08 11:41] serdiukov-o-nordwhale commented on #2551
@sirpy
looks like we've forgot to pass logger instance somewhere

[2020-10-08 11:57] serdiukov-o-nordwhale commented on #2530
@sirpy
1. i checked there wehre to goto marked event defined. i defined it as 'GOTO_MARKET'
2. Liav asked to add 2 events in the description. So i've added also 'GOTO_MARKET_POPUP'

GOTO_MARKET will be sent with a firstTime: boolean parameter. it will be true if we clicked the button for the first time and popup was shown

[2020-10-08 12:42] WolfVV opened #2552 "[RN] The image isn't displayed on the "Welcome to gooddollar!" page"
Precondition:
The "Welcome to gooddollar!" page is opened

Steps to reproduce:
1) Pay attention to the lack of the image

Actual result: The image isn't displayed on the "Welcome to gooddollar!" page
Expected result: The image should be displayed on the "Welcome to gooddollar!" page

Checked on https://goodnative.netlify.app/   V1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.121
Desktop

[2020-10-08 12:58] serdiukov-o-nordwhale commented on #2552
@WolfVV for RN bugs add also @mauriguz please

[2020-10-08 12:59] WolfVV commented on #2552
ok

[2020-10-08 14:20] mauriguz commented on #2552
Most likely related to changes made on #2504
I'm already working on it

[2020-10-08 14:26] WolfVV opened #2553 "[RN] Phone validation doesnt match design"
- [ ] invalid phone error is duplicated on screen
- [ ] flags layout and size doesnt matches master look and feel

Precondition:
The phone entering stage is opened (self custody flow)

Steps to reproduce:
1) Enter the incomplete phone number
2) Pay attention to the duplicated field hint

Actual result: The validation error is duplicated on the phone entering stage
Expected result: The only one val

[2020-10-08 14:53] WolfVV commented on #2522
@sirpy @serdiukov-o-nordwhale now the name is displayed for old wallets, also mobile/email in the profile are editable (these fields are empty, but as I understood that's expected result - the user is able to refill these fields)
https://www.screencast.com/t/AX9cdnII
The issue that happened on the OTP entering stage (you can see it on the video) will be separated into another report
Checked on  pr

[2020-10-08 14:53] #2522 closed

[2020-10-08 15:16] serdiukov-o-nordwhale commented on #2530
@MathiasMoralesDixtra please update this PR https://github.com/GoodDollar/GoodDAPP/pull/2540 with the following changes:

1. Style GoodMarketButton to make it sticky to the bottom, according to the xd
https://xd.adobe.com/view/faeae4eb-ca55-48fa-852a-505e3d0a9f84-afb9

2. Style GoodMarketDialog to look like in xd
https://xd.adobe.com/view/faeae4eb-ca55-48fa-852a-505e3d0a9f84-afb9/screen/c1d503a4-e

[2020-10-08 15:43] WolfVV opened #2554 "(bug) error requesting phone validation"
Precondition:
The OLD wallet is opened on the "Edit profile" page (testbeemtest@gmail.com    //  TestBeem2020)

Steps to reproduce:
1) Enter the phone number (ONLY for mobile field)
2) Click the outside of the field
3) Click the "Verify my number"
4) Enter the OTP
5) Pay attention to the blank page (and error message in the console)

Actual result: The changes confirmation is failed on the OTP ent

[2020-10-08 15:57] serdiukov-o-nordwhale commented on #2551
the issue was in the loosed **this.** context during fetchTorusUser call in TorusSDK.js
hotfixed & pushed to the `react-native` branch directly

[2020-10-08 16:23] WolfVV commented on #2551
@sirpy @serdiukov-o-nordwhale @mauriguz torus login works well - now user is able to sign up/in
https://www.screencast.com/t/Fw8BPnx7BGe
Checked on  native  V1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.121
Desktop: Windows 10 // Google Chrome  85.0.4183.121

[2020-10-08 16:23] #2551 closed

[2020-10-08 16:33] WolfVV opened #2555 "[RN] The version is overlapped by the "Gooddollar" text on the splashscreen"
Steps to reproduce:
1) Open the https://goodnative.netlify.app/   on the mobile (ios/android)
2) Pay attention to the "Gooddollar" text

Actual result: The version is overlapped by the "Gooddollar" text on the splashscreen
Expected result: The version should be displayed below the "Gooddollar" text on the splashscreen

Checked on https://goodnative.netlify.app/ V1.3.1-1
LG V30+ // Android 8.0 // G

[2020-10-08 16:46] WolfVV opened #2556 "Error: Uncaught (in promise) ReferenceError: source is not defined"
Precondition:
The "WELCOME TO GOODDOLLAR!" page is opened

Steps to reproduce:
1) Click the google/facebook/passwordless button
2) Pay attention to the error in the console

Actual result: The login buttons (google/facebook/passwordless) doesn't work after clicking them
Expected result: The google/facebook/passwordless method should be opened after clicking the appropriate button

Checked on QA 1.

[2020-10-08 19:49] sirpy commented on #2554
@WolfVV does it happen for new accounts also? or it is specific to this account?

[2020-10-08 20:07] sirpy commented on #2455
dono. i think its resolved since i've  added --force

[2020-10-08 20:08] sirpy commented on #2509
yes its been done. popup was removed

[2020-10-09 08:12] WolfVV opened #2557 "Error: Wallet recover failed Incorrect pass phrase received"
Precondition:
The "Recover" page is opened

Steps to reproduce:
1) Enter the valid 12-word pass phrase
2) Click the "Recover my wallet" button
3) Pay attention to the error message

Actual result: User isn't able to recover the wallet via 12-word pass phrase
Expected result: User should be able to recover the wallet via 12-word pass phrase

Checked on https://goodnative.netlify.app/ V1.3.1-1
LG V3

[2020-10-09 08:42] WolfVV opened #2558 "[RN] Uncaught (in promise) ReferenceError: TORUS_FAILED is not defined"
Precondition:
The start page with the google/facebook button is opened

Steps to reproduce:
1) Click the google button
2) Select a mailbox
3) Pay attention to the error message

Actual result: The error message and everlasting spinner are displayed after trying to sign up/in into wallet via Google/Facebook
Expected result: The user should be successfully logged up/in after trying to sign up/in int

[2020-10-09 09:21] WolfVV opened #2559 "[RN ]The pop-ups content isn't centered vertically"
-  [ ] see also #2277
Precondition:
The start BACKUP MY WALLET page is opened

Steps to reproduce:
1) Click the "Send me a backup email" button
2) Pay attention to the position of elements

Actual result: The pop-ups content isn't centered vertically
Expected result: The pop-ups content should be centered vertically

Checked on https://goodnative.netlify.app/ V1.3.1-1
LG V30+ // Android 8.0 // Goo

[2020-10-09 09:41] serdiukov-o-nordwhale commented on #2558
Pushed hotfix to the react native. Please test in 20-30min

[2020-10-09 09:58] WolfVV opened #2560 "[RN] TypeError; Cannot read property 'preventDefault' of undefined"
Precondition:
The wallet is created  via self custody

Steps to reproduce:
1) Click the "Claim" button (appears queue pop-up)
2) Click the "OK,I'll wait" button
3) Pay attention to the error message on the console

Actual result: User cannot close the queue pop after clicking the "OK,I'll wait" button
Expected result: User should be able to close the queue pop after clicking the "OK,I'll wait" but

[2020-10-09 10:12] WolfVV opened #2561 "[RN] Type Error; Failed to set an indexed property on 'CSSSyleDeclaration'"
Precondition:
The send page is opened

Steps to reproduce:
1) Click the "Scan QR" button
2) Pay attention to the blank page and the error message on the console

Actual result: The blank page is displayed after clicking the "Scan QR" button. User isn't able to open the "Scan QR" page
Expected result: The blank page should be opened after clicking the "Scan QR" button. User should bet able to open

[2020-10-09 10:23] WolfVV commented on #2556
@sirpy @serdiukov-o-nordwhale sign up/in works now
Video: https://www.screencast.com/t/DcrC6aPw2
Checked on  QA V1.6.1-0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.121
Desktop: Windows 10 // Google Chrome  85.0.4183.121

[2020-10-09 10:23] #2556 closed

[2020-10-09 10:42] WolfVV commented on #2489
@sirpy @serdiukov-o-nordwhale The "To:" and "From:" text is aligned according to requirements (aligned to the bottom of the name) on the TX/Pending popups
![2020-10-09_13-33-22.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/d58acd59-31e2-4b2c-9790-79aadf8e15a0)
Checked on  QA V1.6.1-0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.121
Desktop: Windows 10 // Google Chrome  85

[2020-10-09 10:42] #2489 closed

[2020-10-09 10:48] WolfVV commented on #1816
@sirpy should this animation be displayed every time when i open the "Claim" screen?

[2020-10-09 11:07] serdiukov-o-nordwhale commented on #2560
actions passed to some dialog/popup component via buttons array shouldn't be wrapped to useOnPress. use useCallback instead

[2020-10-09 11:18] WolfVV commented on #2558
another issue from now
![2020-10-09_14-14-12.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/79120585-72c5-4f3e-b92c-3ec980ebce8b)
![2020-10-09_14-14-44.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/834e1733-7f1e-4647-98e0-cf0baaa40c85)

[2020-10-09 11:43] WolfVV commented on #2509
@sirpy @serdiukov-o-nordwhale The cookies pop-up isn't displayed anymore as it's expected
Checked on  qa V1.6.1-0
LG V30+ // Android 8.0 // Google Chrome 85.0.4183.121
Desktop: Windows 10 // Google Chrome  85.0.4183.121
iPhone 8 //13.3.1

[2020-10-09 11:43] #2509 closed

[2020-10-09 13:50] serdiukov-o-nordwhale commented on #2561
@mauriguz @MathiasMoralesDixtra
It's seems some styles are using props aren't available on the all platforms (like 'elevation' prop available Android only)

we have to include platform-specific  style props only if running target platform.
it's seems there's some webpack/babel plugins for that - please check configs in master branch. because in master that issue doesn't  appears

[2020-10-09 23:29] mauriguz opened #2564 "(Chore) Fix all eslint errors in react-native branch"
# Description

Since the creation of goodnative we've been seeing a lot of errors that aren't on master, most likely branches codebase merge didn't go as well as we thought. Hence we want to fix all eslint errors in hopes of reducing the amount of small errors such as missing vars, etc.

[2020-10-10 01:06] mauriguz commented on #2564
@serdiukov-o-nordwhale I reviewed this and there're no eslint errors to fix, everything is ok. Are you sure we're having errors that eslint isn't catching?
The only changes I had to do in order to keep everything up-to-date is remove eslint-plugin-dependencies because of this https://github.com/zertosh/eslint-plugin-dependencies/pull/21

I can merge those changes but please confirm if you still th

[2020-10-10 01:15] mauriguz opened #2565 "(Chore) Fix run of web unit tests in react-native branch"
Right now none of the tests are running because react-native is missing the test.js script

[2020-10-10 11:49] serdiukov-o-nordwhale commented on #2564
Hmmm. If everything ok with eslint that we just have forgot to run it after merge with resolve conflicts. Need to run global lint fix in that case

Could you please also add some rules checking this context in the class methods? And re - check the whole app without it please. For now it will be enough

Thank you

[2020-10-10 12:42] jerzybrzoska opened #2566 ""Oops .... Face Verification disabled. Please try again.""
### Description
I am a new user. Created an account this morning.
![Oops_2020-10-10_14-07-59](https://user-images.githubusercontent.com/51721153/95655295-7d9bbd80-0b06-11eb-9f71-37efafa50511.png)

### Steps to reproduce
Got this (screenshot attached) when trying to claim, despite enabling camera. I get this both on my smartphone and laptop.

### Which network did you use?

### Supporting data
Scre

[2020-10-10 18:43] #2504 closed

[2020-10-10 18:51] sirpy opened #2567 "[RN] preparing wallet stuck after torus login"
console shows the error
{from: "LoginService"} "Error fetching creds:" "No credentials was stored in the AsyncStorage" Error: No credentials was stored in the AsyncStorage
    at LoginService.js:41
    at u (runtime.js:45)
    at Generator._invoke (runtime.js:264)
    at Generator.next (runtime.js:98)
    at u (runtime.js:45)
    at t (runtime.js:137)
    at runtime.js:147

[2020-10-10 18:55] #2567 closed

[2020-10-10 18:57] sirpy opened #2568 "(Bug) [RN] backup wallet success popup not aligned"
after clicking on copy mnemonic to clipboard the success popup checkmark isnt aligned
match to design

[2020-10-10 19:01] sirpy opened #2569 "(Bug) [RN] feed empty after opening account with self custody"
expected behaviour is to have welcome card in feed
make sure UserstorageClass init/initfeed/initregistered matches master

[2020-10-10 19:19] sirpy commented on #1816
yes when you can claim, not when timer is active

[2020-10-10 21:02] sirpy commented on #2568
closing dup of #2559

[2020-10-10 21:02] #2568 closed

[2020-10-10 21:03] sirpy opened #2570 "(Bug) [RN] uncaught exceptions"
lots of uncaught exceptions errors are shown in console starting from the signup screen and also after login
maybe something to do with images?

(index):1 Uncaught (in promise)
Event
bubbles: false
cancelBubble: false
cancelable: false
composed: false
currentTarget: null
defaultPrevented: false
eventPhase: 0
isTrusted: true
path: [img]
returnValue: true
srcElement: null
target: null
timeStamp: 214

[2020-10-10 21:08] #1976 closed

[2020-10-10 21:25] sirpy commented on #2566
@jerzybrzoska thanks. should be fixed now

[2020-10-10 21:25] #2566 closed

[2020-10-10 22:37] sirpy commented on #2552
@mauriguz other SVGs are still not working

[2020-10-10 22:39] sirpy commented on #2552
@mauriguz can we remove the svg->component convertor on web? keep it the  same as it is on master

[2020-10-11 10:57] jerzybrzoska opened #2571 ""Staking Is Still In Beta" form disappears when attempting to fill it out."
![Staking_2020-10-11_12-34-28](https://user-images.githubusercontent.com/51721153/95676656-ed21b380-0bbf-11eb-8a64-e4da60d3876e.png)
### Description
On this webppage, when you click anywhere on on the form (screenshot attached) it disappears. It is not possible to fill out this form.

### Steps to reproduce
I was trying to fill out the form (screenshot attached) but it dissapears.

### Which netwo

[2020-10-11 12:30] tomerGD opened #2572 "Update Dashboard"
please update the dashboard as explained in the following DOC

https://docs.google.com/document/d/14eHmuyHVkoFXq74g-Z9VC4uaD3w0k0MD8oG-xhFHAyQ/edit#heading=h.m88c49e7kbi

[2020-10-11 14:06] #1734 closed

[2020-10-11 14:06] #2087 closed

[2020-10-11 14:06] #1982 closed

[2020-10-11 14:24] #1901 closed

[2020-10-11 14:24] #1754 closed

[2020-10-11 14:25] #666 closed

[2020-10-11 14:26] #412 closed

[2020-10-11 14:27] #396 closed

[2020-10-11 14:27] #441 closed

[2020-10-11 14:27] #137 closed

[2020-10-11 14:27] #134 closed

[2020-10-11 14:28] #154 closed

[2020-10-11 14:28] #444 closed

[2020-10-11 14:28] #929 closed

[2020-10-11 14:29] #930 closed

[2020-10-11 14:29] #1054 closed

[2020-10-11 14:30] #1098 closed

[2020-10-11 14:31] #1435 closed

[2020-10-11 14:31] #1396 closed

[2020-10-11 14:32] #1464 closed

[2020-10-11 14:32] #1466 closed

[2020-10-11 14:32] #1467 closed

[2020-10-11 14:33] #1470 closed

[2020-10-11 14:33] #1471 closed

[2020-10-11 14:34] #1532 closed

[2020-10-11 14:34] #724 closed

[2020-10-11 14:35] #1620 closed

[2020-10-11 14:35] #1622 closed

[2020-10-11 14:36] #1663 closed

[2020-10-11 14:40] #2231 closed

[2020-10-11 14:50] #1436 closed

[2020-10-11 14:50] #1731 closed

[2020-10-11 14:50] #2242 closed

[2020-10-11 14:50] #1446 closed

[2020-10-11 14:51] #1443 closed

[2020-10-11 14:51] #1447 closed

[2020-10-11 14:52] #1136 closed

[2020-10-11 14:52] #1438 closed

[2020-10-11 14:52] #1440 closed

[2020-10-11 14:52] #1457 closed

[2020-10-11 14:53] #1444 closed

[2020-10-11 14:53] #1875 closed

[2020-10-11 14:54] #1870 closed

[2020-10-11 14:56] sirpy commented on #1981
@tomerGD mautic is not built for that, it doesnt have the +1 option.
@tzvister

[2020-10-11 15:23] sirpy commented on #2199
@LiavGut does this still happen?
if not please close

[2020-10-11 15:29] sirpy commented on #1590
dup of #2565

[2020-10-11 15:29] #1590 closed

[2020-10-12 07:59] WolfVV commented on #2523
@sirpy @MathiasMoralesDixtra  Address button and page are removed
Checked on  QA 1.6.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75
![2020-10-12_10-52-36.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/dba85794-8afc-462a-8fc7-dc1b1aa0d69c)

[2020-10-12 07:59] #2523 closed

[2020-10-12 08:06] WolfVV commented on #2515
@sirpy @MathiasMoralesDixtra warning message according to requirements
Checked on  QA 1.6.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75
![2020-10-12_11-03-20.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/364ae817-e16c-470d-a0a9-ed1ed5ae6773)

[2020-10-12 08:06] #2515 closed

[2020-10-12 08:14] WolfVV commented on #2534
@sirpy @serdiukov-o-nordwhale countdown counter is displayed well
Checked on  QA 1.6.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75
![2020-10-12_11-10-49.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/908a1a8c-2416-48c1-9832-3e17c563aade)

[2020-10-12 08:14] #2534 closed

[2020-10-12 08:32] WolfVV commented on #2558
@sirpy @mauriguz user is able to sign up/in
https://www.screencast.com/t/6nyjAibL
Checked on  native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-12 08:32] #2558 closed

[2020-10-12 09:26] #2199 closed

[2020-10-12 12:36] WolfVV commented on #2459
@mauriguz I followed the steps that in the PR I didn't find the 'Start sync of txs from blockchain'  and 'Sync of tx from blockchain finished successfully' messages in the console

[2020-10-12 16:39] serdiukov-o-nordwhale commented on #2529
@sirpy I was unable to reproduce the issue locally. Could it to depend of the keys/wallet address generated from the login data
? If yes i'll ask Dorit about users reported that issue and will check logs.

Also i found the following warning in the console:
![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/c60f1db0-3353-4a1e-81b2-41815132189d)
Will investigate it tomorrow

[2020-10-12 19:32] LiavGut opened #2573 "(UI BUG) The Red color is not the correct one"
(Chrome, Desktop)

The Red color should be: #FA6C77
And it's not, I've checked via "Inspect" and Photoshop.

You can see the difference in this image (The correct color is on the top animated image):
![Screen Shot 2020-10-12 at 22.13.01.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/2a61fbf5-0ff3-4722-a5fe-bbe438c124ca)

*** please go over all the colors and make sure they are

[2020-10-13 08:50] LiavGut opened #2574 "FV - Add instructions screen"
The user should be able to see an instructions screen before the Zoom FV (ie. after our FV_Intro/FV - CAMERA ACCESS).

https://xd.adobe.com/view/05bb0953-5f7a-408f-a531-ad4b4471adac-50e8/

![Screen Shot 2020-10-12 at 17.51.12.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/37c65438-fea7-435c-8d01-8c50117f974d)

[2020-10-13 09:13] LiavGut commented on #2530
@MathiasMoralesDixtra

There’s a bit of a mass in terms of animation, too many things happing at the same time.
the correct order should be:
1. The Feed is loaded (not the skeleton but the full feed)
2. Market button is loaded
3. The Claim button animation

* The Market button shadow should always be shown
* I’m not sure if it’s the GIF which is jumpy, but make sure the slide animation is smooth a

[2020-10-13 10:34] LiavGut opened #2575 "FV - 3rd time error screen - Switch to other devices"
After 3rd unsuccessful FV regular error messages, the user should see an error message to asks him to try it on other devices.

Add this screen:
https://xd.adobe.com/view/84f1afaa-24b7-4b30-a29f-934da201153b-d1a2/

![Screen Shot 2020-10-13 at 2.16.53.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/5bf1b1c2-c188-43c1-b3bd-1680637e981e)

Remove this screen (@sirpy, unless we can u

[2020-10-13 10:57] serdiukov-o-nordwhale commented on #2530
updated the PR

[2020-10-13 11:35] sirpy commented on #2575
we first need clear instructions with
- Hold camera at eye level, dont look up or down into the camera, it must
be at eye level
- Use educate lighting
- Move head slowly until it fits the big frame

If nothing works try a different device

[2020-10-13 12:15] sirpy commented on #2574
should we A/B test this?

[2020-10-13 12:18] LiavGut commented on #2574
@sirpy We can do A/B testing on the app?

@Esfir-E

[2020-10-13 12:53] #2564 closed

[2020-10-13 12:53] mauriguz commented on #2564
fixes for current rules pushed to react-native. add of context rules for class methods moved to #1783
closing

[2020-10-13 13:29] mauriguz commented on #2570
@sirpy did you see this on web or native?

[2020-10-13 13:32] WolfVV commented on #2524
@sirpy the error isn't displayed anymore after opening or creating the wallet
Checked on  QA 1.6.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-13 13:32] #2524 closed

[2020-10-13 14:05] #2571 closed

[2020-10-13 14:10] #2530 closed

[2020-10-13 14:47] WolfVV commented on #1816
@sirpy flip animation isn't displayed for user that can claim
Video: https://www.screencast.com/t/Y3lqHCjj0
Checked on  QA 1.6.1-2
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-13 15:06] WolfVV commented on #2445
@sirpy @Talbatz the data for LastClaim is displayed
Checked on  QA 1.6.1-2
Desktop: Windows 10 // Google Chrome  86.0.4240.75
![2020-10-13_18-03-57.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/f65899a3-574e-47da-89af-3bb62c13db78)

[2020-10-13 15:06] #2445 closed

[2020-10-13 15:19] WolfVV commented on #2475
@sirpy w3 call isn't displayed anymore
Video: https://www.screencast.com/t/vaDMB0uYr
Checked on  QA 1.6.1-2
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-13 15:19] #2475 closed

[2020-10-13 16:11] IvanRF opened #2577 "[UI] Scroll down behaviour"
### Description
There is a small bug when scrolling down in the dashboard, the behaviour is not maintained.

### Steps to reproduce
1. Open the app and scroll down in the dashboard
2. User name and balance are moved to the top, and the "Back To Top" button appears.
3. Go to Menu > My profile > and go back to the dashboard
4. Scrolling down in the dashboard does not trigger the same behaviour as st

[2020-10-13 16:48] WolfVV commented on #2494
@sirpy implemented to requirement
-  the only  "send sms again" button is displayed
- when user clicks for 2nd time on "send sms again"(3rd sms sent) we show him two options "send code via call" or "skip mobile verification"
- increased the waiting time between sms requests, 10 sec,20 sec,30 sec
 - send code via call can be used only once after that leave only the "skip mobile verification option"

[2020-10-13 16:48] #2494 closed

[2020-10-13 17:34] WolfVV commented on #1992
@sirpy @mauriguz issue isn't reproduced anymore
Checked on  QA 1.6.1-2
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75

[2020-10-13 17:34] #1992 closed

[2020-10-13 19:21] sirpy commented on #2554
hmm well I see that we check that user.mauticId exists, i guess in the OTP
we can catch error from updateContact and call ".createContract({...user,mobile})
if that throws again then just silent handle it ie make mautic update optional

[2020-10-13 20:23] sirpy opened #2578 "(Chore) fix cypress tests"
seems like the login is broken which messes up all tests.
it checks for "Yay" which I think doesnt exists  any more

[2020-10-13 20:44] sirpy commented on #2577
10x. fixed in next version.

[2020-10-13 20:44] #2577 closed

[2020-10-13 21:56] mauriguz commented on #2560
I'll revisit this once #2576 gets merged

[2020-10-14 06:11] sirpy opened #2580 "(Bug) sentry context is empty"
The extra variables passed to sentry seem to always be empty on sentry errors

[2020-10-14 07:10] sirpy opened #2581 "(Bug) empty profile mobile can't verify his mobile"
if user already verified his mobile but his profile was corrupted and mobile field is empty, he will not be able to edit his mobile because he will not get an SMS.

solution:
return alreadyVerified from server and save mobile/email  without re-verifying

[2020-10-14 07:58] sirpy opened #2582 "Remove receive to blockchain address"

[2020-10-14 12:43] MathiasMoralesDixtra commented on #2570
@sirpy

[2020-10-14 12:50] mauriguz commented on #2570
@MathiasMoralesDixtra he already answered in slack. web.

[2020-10-14 13:01] #1607 closed

[2020-10-14 13:34] sirpy commented on #2529
@serdiukov-o-nordwhale status?

[2020-10-14 17:35] sirpy opened #2590 "User gave camera permissions but still zoom can't access camera"
a few users have this issue on android 8.1 motorola g4, g5

[2020-10-14 17:36] sirpy commented on #2590
@WolfVV see if you can recreate this with a motorola g4 or g5 android 8.1

[2020-10-14 17:42] sirpy commented on #2590
Created via Reamaze:

Link: /admin/conversations/problems-with-the-camera
Assignee: Dorit Dvir

Message:
Good morning, I have problems with the camera. I can't take the video. The
camera is enabled. How can I solve that. Thank you

[2020-10-15 00:07] mauriguz opened #2594 "(Bug) [RN] Goodnative doesn't load in firefox"
Troubleshoot why goodnative isn't loading in firefox

![image.png](https://images.zenhubusercontent.com/5e94651b99a626376722758d/046bfd59-2d27-4861-b34e-2b452ce60c6c)

[2020-10-15 06:54] WolfVV commented on #2511
@sirpy @LiavGut I tested it  and I didn't see the full splash after updates and every hour
https://www.screencast.com/t/LDW8d2wqw
Checked on  QA 1.6.1-2
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-15 08:25] WolfVV commented on #2557
@MathiasMoralesDixtra @mauriguz issue is still reproduced, tested with old pass phrases and also with a new one
Video: https://www.screencast.com/t/vACiEiDfJ
Checked on  native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-15 08:40] WolfVV commented on #2560
@MathiasMoralesDixtra @mauriguz @sirpy issue isn't reproduced anymore
Video: https://www.screencast.com/t/5ixAJdx0p6xP
Checked on  native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-15 08:40] #2560 closed

[2020-10-15 08:55] #2561 closed

[2020-10-15 08:55] WolfVV commented on #2561
@MathiasMoralesDixtra @mauriguz @sirpy QR scanner works
Checked on native 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75
![2020-10-15_11-52-46.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/ed175a90-f96a-48c8-af22-791d02c9fa0c)

[2020-10-15 09:04] WolfVV commented on #2570
@MathiasMoralesDixtra @mauriguz @sirpy  uncaught exceptions aren't reproduced anymore
https://www.screencast.com/t/abjVFfU3qk
Checked on  native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-15 09:12] WolfVV commented on #2552
@mauriguz image is displayed but for mobile devices only partially
![Screenshot_2020-10-15-12-06-16.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/4f679b8d-9f81-4524-906f-f5cd0ae89918)
Checked on  native 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
iPhone 8 //13.3.1

[2020-10-15 09:19] serdiukov-o-nordwhale commented on #2529
@sirpy I asked @Esfir-E  for additional info in the Slack, still have no answer.
Duplicating my questions here.

[2020-10-15 09:20] WolfVV commented on #2511
@sirpy after you pushed the fix it works after updating also I

[2020-10-15 09:20] serdiukov-o-nordwhale commented on #2529
@Esfir-E

@sirpy  said you could provide info about users have met with that issue. Please send me the links to the corresponding Re:Amaze tickets
Also he said you also got stuck with passwordless login. Could you please to try to do this right now and if the issue reproduces, to capture a video of login with the Chrome console opened (i would see the log messages/errors happening)
Thank you!

[2020-10-15 09:50] WolfVV commented on #2582
@sirpy receive via address is removed
Checked on  QA 1.6.1-3
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75
![2020-10-15_12-48-37.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/05a09692-3518-482f-a060-b6919fcf3b27)

[2020-10-15 09:50] #2582 closed

[2020-10-15 10:40] LiavGut opened #2595 "Change the GoodDollar page title tag to "GoodDollar | Wallet""
Change the GoodDollar page title tag from "GoodDollar | Home" to "GoodDollar | Wallet"

![Screen Shot 2020-10-12 at 20.43.22.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/ee38ed15-e1da-4c25-85b7-773cadb160cc)

[2020-10-15 10:41] serdiukov-o-nordwhale commented on #2578
@sirpy I'm not experienced with cypress. It has a lot of it has a number of non-obvious features (e.g. promise-like objects returned from cy.xxx calls aren't act as the native JS promises etc). So the fixes could take a lot of time.
Probably we could ask @WolfVV to do that (if he has experience with cypress) ? Or probably it's time to refuse E2E tests usage as you supposed some time ago ?

[2020-10-15 12:17] WolfVV commented on #2569
@mauriguz the feeds are empty until the user goes to another screen and come back to the dashboard (see video)
Expected result that's they should be displayed at once the dashboard is opened
https://www.screencast.com/t/w68vrtN8koQT
Checked on native 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-15 12:38] MathiasMoralesDixtra commented on #2557
I tested with the next mnemonic: pigeon galaxy fortune then inch catalog rather mesh manage fantasy animal sea (issue description) and it works.
Checked on https://goodnative.netlify.app/

![Mnmemonic](https://user-images.githubusercontent.com/59056508/96125051-067d7500-0eca-11eb-9ad0-29e74ec37455.gif)

[2020-10-15 13:15] WolfVV commented on #2557
@MathiasMoralesDixtra I've checked these two mnemonics that in the description and works but a new one is failed
Video: https://www.screencast.com/t/apmLYEx5ha1S
check this, it's a new one and it doesn't work: raccoon build supreme regular slice marble all profit royal easily swap another

[2020-10-15 13:27] mauriguz commented on #2594
@sirpy now the app loads in firefox https://www.screencast.com/t/Gyx4aHmNuqR
closing

[2020-10-15 13:27] #2594 closed

[2020-10-15 13:57] WolfVV opened #2596 "[RN] Error: addSignupContact failed" undefined"
Precondition:
The "welcome to gooddolar" page is opened
Steps to reproduce:
1) Click the "Agree & Continue with Google" button
2) Select a mailbox
3) Pay attention to the error message in the console on the mobile entering stage

Actual result: The "addSignupContact failed" undefined" error message is displayed on the console on the mobile entering the stage

Expected result: The "addSignupContact

[2020-10-15 13:59] LiavGut opened #2597 "Export Screen - Add Wallet address + update the design + add warning popup"
The user should be able to copy his wallet address, once he copies it, he needs to see a warning popup.

https://xd.adobe.com/view/5c4a88bc-cad2-444f-8d1e-75d61debbba3-0919/

![Screen Shot 2020-10-15 at 16.54.50.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/097cf8ca-5653-485e-bacc-ffdb6db1ab0e)

![Screen Shot 2020-10-15 at 13.03.12.png](https://images.zenhubusercontent.com/5d5

[2020-10-15 14:17] MathiasMoralesDixtra commented on #2557
@WolfVV I created a new account now and I can log in with mnemonic, could you reproduce these steps again?

[2020-10-15 14:39] WolfVV opened #2599 "(BUG) [RN] The image isn't displayed on the "Queue" pop-up"
**Precondition:**
The wallet is created and the "Home" page is opened

**Steps to reproduce:**
1) Click the "Claim" button
2) Pay attention to the lacking of the image on the "Queue" pop-up

Actual result: The image isn't displayed on the "Queue" pop-up
Expected result: The image should be displayed  on the "Queue" pop-up

Checked on native 1.3.1-1
Desktop: Windows 10 // Google Chrome 86.0.4240.75

[2020-10-15 15:00] WolfVV commented on #2557
@MathiasMoralesDixtra @sirpy I've created a few wallets via self custody one by one and all of them work
what about the previously failed one, maybe something happened during creating him

[2020-10-15 15:09] WolfVV opened #2600 "[RN] Error: Uncaught TypeError: t.preventDefault is not a function"
Precondition:
The user is signed in
The context menu is opened

Steps to reproduce:
1) Click the "Delete Account" button
2) Click the "Delete" button on the confirmation pop-up
3) Pay attention to the error message in the console

Actual result: User isn't able to delete the wallet by clicking the "Delete" button
Expected result: User should be able to delete the wallet by clicking the "Delete" bu

[2020-10-15 15:11] MathiasMoralesDixtra commented on #2557
@sirpy do you have an idea why it happens? please suggest how to proceed with this

[2020-10-15 15:11] serdiukov-o-nordwhale commented on #2600
@WolfVV i've sent an updated useOnPress fixing that issue to the #dixtra channel. Please ask @mauriguz did he hotfixed RN branch.

[2020-10-15 15:17] mauriguz commented on #2600
@WolfVV @serdiukov-o-nordwhale I pushed the hotfix a couple minutes ago, it's still deploying. give it a time to finish the deploy and then please re-test, error should be gone

[2020-10-15 15:23] WolfVV commented on #2511
@sirpy full splash is reproduced every hour
 https://www.screencast.com/t/q1wYT1MiT

[2020-10-15 15:23] #2511 closed

[2020-10-15 15:37] WolfVV opened #2601 "(BUG) [RN] The blank invite page is displayed after clicking the "Invite+" button"
Precondition:
The user is signed in and the "Home" page is opened

Steps to reproduce:
1) Click the "Invite+" button
2) Pay attention to the blank page and error messages on the console

Actual result: The blank invite page is displayed after clicking the "Invite+" button
Expected result: The invite page with content should be displayed after clicking the "Invite+" button
_________________________

[2020-10-15 15:52] serdiukov-o-nordwhale commented on #2554
1. check for mauticId exists is performed on email. I added this check to verify/mobile endpoint handler too
2. in the case mauticId doesn't exists i log a warn message that id doensn't exists and will be re-created, the i call createContact.
3. For create contact i re-used the updateMauticRecord from addUserSteps which extract the fields we need in Mautic only
4. both updateMauticRecord  (create

[2020-10-15 15:56] serdiukov-o-nordwhale commented on #2554
Server PR: https://github.com/GoodDollar/GoodServer/pull/272

[2020-10-15 16:02] serdiukov-o-nordwhale commented on #2554
@sirpy as i suppose there's no way to get the original email value having user's mongo record only server-side. as it's encrypted via user's PK and it could be received client-side only and requires logging to the gun using user's creds

if i wrong and there's a way to get user's email server-side, tell me please how to do that
and i'll update my server PR and close the client-related ones

[2020-10-15 18:43] sirpy commented on #2601
invite is not relevant. I'll update when we enable it

[2020-10-15 18:43] #2601 closed

[2020-10-15 20:17] LiavGut opened #2604 "Add new Invite screens"
*joined user* -  a user that finished registration after using an invite link
*joined and claimed* - a user that also claimed
Invite bonus is given only for joined and claimed users
- [x] If inviter is not whitelisted and has joined and claimed invitees he will not get rewards and will see an error popup in invite screen
- [x] The user should be able to invite people to the wallet and get a G$ rew

[2020-10-16 04:10] IvanRF commented on #2577
Working fine on v1.7.0 👍

[2020-10-16 04:12] mauriguz commented on #2552
@WolfVV Fixed, please re-check

[2020-10-16 06:57] sirpy opened #2605 "email not verified because facebook session expired"
the session of facebook expired and the verifier failes

* [ ] check if possible to incerase sesson?
* [ ] notify user session expired and he need to re-login, client should redirect to login

[2020-10-16 06:58] WolfVV commented on #2578
I don't have experience so I cannot help with that

[2020-10-16 09:53] WolfVV commented on #2552
@mauriguz now it displayed well
![Screenshot_2020-10-16-12-51-10.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/01d5efab-533d-4a5b-ac03-6e9a158e7c5d)
Checked on native 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
iPhone 8 //13.3.1

[2020-10-16 09:53] #2552 closed

[2020-10-16 10:11] WolfVV commented on #2600
@mauriguz user is able to delete wallet
https://www.screencast.com/t/hU9MIiPMag
Checked on native V1.3.1-1
Desktop: Windows 10 // Google Chrome 85.0.4183.121

[2020-10-16 10:11] #2600 closed

[2020-10-16 10:16] serdiukov-o-nordwhale commented on #2599
@mauriguz Please look at this.
As we told yesterday - probably we have some incorrect import or path to asset

[2020-10-16 10:54] serdiukov-o-nordwhale commented on #2596
@WolfVV goodserver-qa is outdated so /user/start endpoint doesn't exists yet. Please, release both latest app & server on QA  , this will solve the issue

[2020-10-16 10:54] #2596 closed

[2020-10-16 12:00] WolfVV opened #2606 "[RN] Error: Uncaught TypeError: e is not a function"
Precondition:
The confirmation stage is opened (send flow: user create send transaction)
Steps to reproduce:
1) Click the "Confirm" button
2) Click the "Copy to clipboard" button a few times a row (fast clicks)
3) Pay attention to the error message in the console

Actual result: The error messages are displayed in the console after clicking the "Copy to clipboard" button a few times a row
Expected

[2020-10-16 12:29] WolfVV opened #2607 "[RN] Error: Zoom verification failed. One or more FaceMaps could not be decrypted..."
Precondition:
The "Get Ready For Your Video Selfie" pop-up is opened
Steps to reproduce:
1) Click the "I'm Ready" button
2) Scan face
3) Pay attention to the "Something went wrong..." error message

Actual result: The user isn't able to pass FV because of the "Something went wrong..." screen  after every trying
Expected result: The user should be able to pass FV without errors

Checked on native 1

[2020-10-16 12:52] WolfVV commented on #2459
@sirpy I've tested fix that was pushed but I didn't find the 'Start sync of txs from blockchain' and 'Sync of tx from blockchain finished successfully' messages
https://www.screencast.com/t/qB6x7J8uu
Checked on QA 1.7.0
Desktop: Windows 10 // Google Chrome 86.0.4240.75

[2020-10-16 13:07] serdiukov-o-nordwhale commented on #2606
Look onto callbacks in the useClipboard / useClipboardCopy
somewhere you're awaiting for some argument but undefined was passed

[2020-10-16 13:07] serdiukov-o-nordwhale commented on #2607
Check all Zoom variables on goodnatrive netlify. they havet o be exact the same like on goodqa

[2020-10-16 13:22] WolfVV commented on #2596
@serdiukov-o-nordwhale rechecked - yes, the issue has been solved

[2020-10-16 14:07] WolfVV opened #2608 "(BUG) [RN] Passwordless: The OTP isn't sent to the user email even after clicking the "email me the code again" a few times"
Precondition:
Passwordless: The email verification stage is opened

Steps to reproduce:
1) Check the mailbox (the OTP should be sent)
2) Pay attention to the lack of the OTP
3) Click the "email me the code again" button
4)  Pay attention to the lack of the OTP

Actual result: The OTP isn't sent to the user email even after clicking the "email me the code again" a few times
Expected result: The OTP

[2020-10-16 16:19] serdiukov-o-nordwhale commented on #2605
@sirpy I found that way could extend facebook access token up to 90 days:
https://developers.facebook.com/docs/facebook-login/access-tokens/refreshing/?lang=en
i need to know facebook app secret to check it. could you please send it to me in the Slack

if that method will work, the implementation will be the following:
1. add FB app_id & secret env vars to the goodserver
2. add extendToken() metho

[2020-10-17 00:29] mauriguz commented on #2607
@serdiukov-o-nordwhale @sirpy keys doesn't seem to be the problem, they're the same on both sites. I also checked for parsing of \n in the key, that is working fine too, after parsing they look the same as goodqa

[2020-10-17 09:58] serdiukov-o-nordwhale commented on #2607
@mauriguz @WolfVV
Doesn't FV is working correctly on goodqa ?

@sirpy Could you please give me accesses to the ZoOm developers dashboard ? I would re-check all keys we're using

[2020-10-17 16:30] gooddollar-support commented on #2590
Created via Reamaze:

Link: /admin/conversations/no-puedo-reclamar-los-gooddollar-09ff2d521779e451
Assignee: Unassigned

Message:
Hola soy Andy Alfonzo, de Venezuela. Tengo dificultad para reclamar los gooddollar diariamente, solo me aparece está imagen que voy a adjuntar, lo he intentado y nada. Espero su respuesta. Gracias.

[2020-10-17 17:40] gooddollar-support commented on #2590
Created via Reamaze:

Link: /admin/conversations/issues-with-face-verification
Assignee: Unassigned

Message:
Please help me out. All attempt to do facial verification, it ends up failed, saying it requires permission to use camera, even though permission is already granted for camera in the settings. I don't know what else to do. Looking forward to seeing a solution to this.
Thanks

[2020-10-17 17:52] gooddollar-support commented on #2590
Created via Reamaze:

Link: /admin/conversations/dificultad-para-reclamar-los-gooddollar-diariamente-fa5c886e10dc0f41
Assignee: Unassigned

Message:
Hola soy Andy Alfonzo, recientemente abrí una cuenta en esta plataforma, me
ha ido bien reclamando los GoodDollar diariamente, pero desde ayer no se me
permite Reclamar, dice que la plataforma no puede acceder a mi cámara para
autentificación de ident

[2020-10-17 17:58] gooddollar-support commented on #2590
Created via Reamaze:

Link: /admin/conversations/inconveniente
Assignee: Dorit Dvir

Message:
Hola, quiero reclamar los good dollar pero me pide la selfie. Le di permitir al acceso de la cámara pero aún así no me la quiere tomar. Me fijé las confirmaciones del celular, pero está todo bien. Cuál puede ser el problema o como puedo hacer

[2020-10-17 21:25] gooddollar-support commented on #2590
Created via Reamaze:

Link: /admin/conversations/el-reconocimiento-facial-no-funciona-en-i-terminal
Assignee: Dorit Dvir

Message:
Al lanzar el reconocimiento facial me dice que debo autorizar la cámara, pero la tengo autorizada. De hecho llega a abrirse pero no me da tiempo a hacer nada antes de que cambie de pantalla

[2020-10-17 21:27] gooddollar-support commented on #2590
Created via Reamaze:

Link: /admin/conversations/face-verification-72bae7b31f4bb5b5
Assignee: Dorit Dvir

Message:
Hello admin.. Why iam user android browser chrome not supported for camera
verification face? I have repeated it many times? Please fix bug this so i
can use it admin..

[2020-10-18 06:44] sirpy commented on #2605
according to logs this looks like a rare end case.
we'll just tell user to re-login

[2020-10-18 06:49] sirpy opened #2614 "(Bug) cancel tx card not deleted when wallet opened in two tabs"
Can we know that TX existed but  was canceled? if so we need to remove card if TX was canceled
[code]

[2020-10-18 06:52] sirpy commented on #2608
@WolfVV such issues need to be tested on QA also to verify it is a goodnative issue only

[2020-10-18 06:55] sirpy commented on #2459
it should be working. you need to go to background tab. also in console
type userStorage.userProperties.getAll()
and look for the lastSyncTX variable

[2020-10-18 08:18] sirpy commented on #2557
@WolfVV yes probably wasnt created on server correctly

[2020-10-18 08:32] sirpy opened #2615 "(Bug) [RN] API not initialized correctly with authentication"
After recovering from mnemonic the api call to /user/enqueue returns unauthorized.
Looking at the request it is missing the Authentication header
After refresh it works fine
This means that mnemonics doesnt re-initialized the API/Login like its done in the "ready" method of torus login.

[2020-10-18 08:39] sirpy commented on #2554
@serdiukov-o-nordwhale lets just silent handle this. dont try to recreate mautic user. use log.error if mautic call fails but let user complete the verification process

[2020-10-18 09:22] sirpy opened #2616 "[RN] Verify dashboard vs master"
compare source code of dashboard on react-native vs master
- [x] feedLoaded and its usage
- [x] claim animate scale - verify same functionality

[2020-10-18 09:26] sentry-io[bot] opened #2617 "TypeError: x is not a function"
Sentry Issue: [GOODDAPP-3CH](https://sentry.io/organizations/gooddollar/issues/1899028286/?referrer=github_integration)

[code]

[2020-10-18 09:44] LiavGut opened #2618 "Send: Remove (for now) the "Send to:" screen"
Send flow will start from "How much?"
The confirmation screen will show only the amount and the "For" (If a "reason" is entered).

![Screen Shot 2020-10-18 at 12.38.12.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/80e39ed8-466e-476e-a011-d51f6cc1c615)

[2020-10-18 11:41] sirpy commented on #2574
@LiavGut @Esfir-E I think we should repeat this message when user fails liveness.
currently i think user sees the default facetec retry screen

[2020-10-18 11:55] sirpy commented on #2572
done except for the new world map

[2020-10-18 12:00] sirpy opened #2619 "(Bug) name usually does not appear when opening a user receive link"
When I open a payment request the name of the requester appears as unknown, probably need to work with gundb

[2020-10-18 12:54] LiavGut commented on #2604
@sirpy @Esfir-E I've updated the "How to" section

[2020-10-18 13:00] LiavGut opened #2620 "Hotfix: GoodMarket popup - Change text"
Please change the text to:

"
Visit GoodMarket, our community initiated
Facebook marketplace, where you can buy
and sell items in exchange for G$ coins.
"

[2020-10-18 19:17] #2180 closed

[2020-10-18 19:24] sirpy commented on #2620
@LiavGut deployed v1.7.5

[2020-10-18 19:29] sirpy opened #2621 "(Bug) [RN] support dialog layout broken"
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/931693bb-a0b4-4da6-b912-b6a160d61d41)the initial call .open sometimes seems to not be working

[2020-10-18 20:38] sirpy commented on #1688
@serdiukov-o-nordwhale need to review zoom v9 and our current IOS  code and re-estimate this task

[2020-10-18 21:03] sirpy opened #2622 "(Bug) [RN] react crashes with minified error"
Happenes to me in two cases
1. After leaving app working in  background
2. claiming after passing FV

[2020-10-19 09:04] WolfVV commented on #2620
@sirpy according to description
![2020-10-19_11-24-59.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/80520190-e301-4fb6-884c-b9f6bc1d9c41)
Checked on  prod 1.7.5
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-19 09:04] #2620 closed

[2020-10-19 09:17] WolfVV commented on #2241
@sirpy the "Get ready for your video selfie" pop-up is opened after clicking the "ok, verify me" button
maybe it's due to the opened camera permission modal window https://www.screencast.com/t/al2hEWZ3yS2
Checked on prod 1.7.5
Desktop: Windows 10 // Firefox 81.0.2 (64 bit)

[2020-10-19 09:17] #2241 closed

[2020-10-19 09:43] sirpy commented on #2575
@LiavGut what if

[2020-10-19 10:03] WolfVV commented on #2569
@sirpy @mauriguz feed loads work well for custody
https://www.screencast.com/t/yUZn77Sve5G
Checked on  native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-19 10:03] #2569 closed

[2020-10-19 10:44] WolfVV opened #2623 "(BUG) [RN] My profile: The "Delete" and "Edit" buttons are displayed below the avatar after uploading the image"
Precondition:
The "My profile" page is opened (editing avatar page)
The avatar is empty (placeholder-avatar is displayed)

Steps to reproduce:
1) Click the "Upload photo" button
2) Select the image on your device and confirm
3) Pay attention to the "Delete" and "Edit" buttons

Actual result: The "Delete" and "Edit" buttons are displayed below the avatar after uploading the image

Expected result:

[2020-10-19 10:45] serdiukov-o-nordwhale commented on #2529
@sirpy still have no feedback from @Esfir-E . Temporary moving to Backlog

[2020-10-19 10:53] WolfVV opened #2624 "[RN] Error: Uncaught TypeError: e is not a function"
Precondition:
The "My profile" page is opened (editing avatar page)
The avatar is empty (placeholder-avatar is displayed)

Steps to reproduce:
1) Click the "Upload photo" button
2) Pay attention to the error in the console

Actual result: The error message is displayed on the console after clicking the "Upload" button

Expected result: The error message shouldn't be displayed on the console after

[2020-10-19 11:02] serdiukov-o-nordwhale commented on #2624
@WolfVV it's already hotfixed on react-native. Please re-deploy & re-check

[2020-10-19 11:06] WolfVV opened #2625 "(BUG) [RN] The Claim button jumps after the user coming back to the dashboard"
Precondition:
The dashboard is opened (the "Home" page)

Steps to reproduce:
1) Click the "Receive" button
2) Click the "Back" button
3) Pay attention to the "Claim" button

Actual result: The Claim button jumps after the user coming back to the dashboard

Expected result: The Claim button shouldn't jump after the user coming back to the dashboard

Video: https://www.screencast.com/t/XpYIeR3YQ9EN

[2020-10-19 11:12] serdiukov-o-nordwhale commented on #2624
@mauriguz In some comment i described the rules of useOnPress:
1. it should be used with native onPress event produced by the some bottom level RN component (Button, TouchableOpacity etc)
2. do not stack useOnPress. If some our custom button already have useOnPress, no not add useOnPress to components using this button
3. check if some callback prop provided an event. For example dialog actions ar

[2020-10-19 11:33] sirpy commented on #2575
@LiavGut shouldnt it say "to another" device and not "other"

[2020-10-19 11:34] LiavGut opened #2626 "FV - Zoom try again screen - Update text"
Change the text BELLOW the visual:
• Hold Your Camera at Eye Level.
Light Your Face Evenly. Avoid Smiling & Back Light •

[2020-10-19 11:34] sirpy commented on #2607
@WolfVV verify this on goodqa also.
currently on react native there's another issue that it crashes after FV but it doesnt give this error anymore

[2020-10-19 11:41] serdiukov-o-nordwhale commented on #2554
done, creasted new PR https://github.com/GoodDollar/GoodServer/pull/276

[2020-10-19 12:17] WolfVV commented on #2608
@sirpy also tested on QA - Passwordless works well

[2020-10-19 12:24] WolfVV commented on #2607
@sirpy  FV is disabled on QA
![2020-10-19_15-22-29](https://user-images.githubusercontent.com/70277096/96450607-1d4ffe80-121f-11eb-957a-b23bc031aaad.png)

[2020-10-19 12:47] WolfVV opened #2627 "(BUG) Torus login failed Node results do not match"
Precondition:
The welcome page is opened

Steps to reproduce:
1) Click the Google button
2) Select mailbox
3) Pay attention to the error message

Actual result: User isn't able to sign up via torus

Expected result: User should be able to sign up via torus

Checked on qa V 1.7.1-0  // prod v 1.7.5
Moto g4 //Android 7   (for other devices torus works well)
![2020-10-19_11-48-01.png](https://images.

[2020-10-19 12:48] WolfVV commented on #2590
@serdiukov-o-nordwhale @serdiukov-o-nordwhale I tried to reproduce this but I didn't manage to do that
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Samsung Galaxy S8 // Android 8.0 // Google Chrome
Also, I try to reproduce on Moto g4 //Android 7 but there is an issue with the login #2627 (for other devices login works well)
![2020-10-19_11-48-01](https://user-images.githubusercontent.com/7

[2020-10-19 12:50] serdiukov-o-nordwhale commented on #2627
@WolfVV i already told you that it's Torus issue, something is down on theirs side. Just wait some time and bug will disappear. We couldn't do anything with that. We already have added retry call but if we getting two failures in a row - login will be cancelled.

[2020-10-19 12:50] LiavGut commented on #2575
@sirpy Yep, you're correct. "to another"

[2020-10-19 12:58] serdiukov-o-nordwhale commented on #2574
@LiavGut The demo photo isn't satisfies ZoOm rules
- should look straight
- should align the whole face inside oval

Please use the picture which looks like the demo picture from the ZoOm retry screen
<img src="https://camo.githubusercontent.com/770ad0833e447664723d42980d65a3fd04bd5271/68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f356435336537316135623839313530303031616

[2020-10-19 13:19] LiavGut commented on #2574
@serdiukov-o-nordwhale Why? it's outside of the Zoom process/screens, we can put any photo we'd like, no?

[2020-10-19 13:23] serdiukov-o-nordwhale commented on #2574
@LiavGut  But it's instructions how to pass FV. Let's show the correct face position **before** user starts, not only he/she failed
The photo used on top left screen from image i posted above looks much better as an example

[2020-10-19 13:26] serdiukov-o-nordwhale commented on #2574
As quick solution we could update **texts only** on the ZoOm's retry screen
Because we couldn't show any screen inside FV flow. Workaround with showing it inside a popup most probably will cause foreground loosed error
So if we want to show some screen after retry the only way is a) exclude processing from zoom flow (after upload enrollment starts in background updating status via Gun ) b) listen

[2020-10-19 14:26] LiavGut commented on #2574
@serdiukov-o-nordwhale
https://github.com/GoodDollar/GoodDAPP/issues/2626

[2020-10-19 14:55] WolfVV opened #2628 "(BUG) [RN] Blank page is displayed after clicking the "Claim" button"
Precondition:
The "Claim" page is opened
The "Claim" blue button is displayed

Steps to reproduce:
1) Click the "Claim" blue button
2) Pay attention to the blank page and errors on the console

Actual result: Blank page is displayed after clicking the "Claim" button
Expected result: The successful claim pop-up should be displayed after clicking the "Claim" button

Video: https://www.screencast.com

[2020-10-19 15:38] serdiukov-o-nordwhale commented on #2575
@MarianoAmado

Please:

1. Test my changes, make sure FV logic wasn't broke. Add fixes if needed
2. Complete the task. Adjust styles of SwitchToAnotherDevice according to the xd file. Re-check if i included all text changes requested by @sirpy and @LiavGut
3. Add unit tests to SwitchToAnotherDevice . Look for examples in src/components/dashboard/FaceVerification/components/__tests__
4. Complete th

[2020-10-19 21:09] sirpy commented on #2618
@LiavGut what about receive screen? there's also "to"  there.

[2020-10-20 01:50] mauriguz commented on #2622
@sirpy I'm not able to reproduce the crash leaving the app in background. I've tried:
1. leaving to another tab and go back to G$ after 30-40 secs
2. leaving to another tab and come back to G$ after 5 mins
3. leaving to another tab, switching out of the browser to another desktop app and come back after 5 mins

none of these are causing the error, could you please provide more details on how you'r

[2020-10-20 01:52] mauriguz commented on #2624
I'm running a check for the whole project to make sure usage of useOnPress follows the rules of the hook

[2020-10-20 01:55] mauriguz commented on #2628
@WolfVV I can't reproduce in latest goodnative. could you please verify it keeps happening? thanks

[2020-10-20 05:58] LiavGut commented on #2626
@sirpy Since we already tried to change that text once, I know there are limitations.
We have to keep at least 2 bullets, we can't remove them (according to Yaroslav)

[2020-10-20 08:29] LiavGut commented on #2618
@sirpy Yes, it should also be removed and the flow should skip straight to "How much?"

[2020-10-20 10:41] AnastasiiaOdnoshevna commented on #2628
@mauriguz
Issue isn't reproduced on v1.3.1-1
Checked scenarios:
1) verified user get Queue pop-up after tap "Claim" button
2) unverified user get "Verify me" screen after tap "Claim" button

I'll close the issue

[2020-10-20 11:59] sirpy commented on #2627
@WolfVV I need you to be absolutly positive that this is an android 7 specific issue.

[2020-10-20 12:05] serdiukov-o-nordwhale commented on #2627
@AnastasiiaOdnoshevna please check this

[2020-10-20 12:09] serdiukov-o-nordwhale commented on #2574
@MarianoAmado

Here's draft PR i created: https://github.com/GoodDollar/GoodDAPP/pull/2629

Please:

1. Test my changes, make sure FV logic wasn't broken. Add fixes if needed. Continue working in PR i created
2. Complete the task. Adjust styles according to the xd file. Ask @LiavGut for updated face picture
3. Add unit tests to Instructions component, make sure IntroScreen tests are passing / upda

[2020-10-20 12:27] sirpy commented on #2628
@AnastasiiaOdnoshevna
what about 3. verified user approved in queue
thats the most important functionality to test, that user can actually claim

[2020-10-20 12:30] sirpy commented on #2622
lets merge your fix for the other minified error and i'll retest

[2020-10-20 12:32] sirpy commented on #2590
this happens to me on mi 8 with latest chrome. do you have a mi device?

[2020-10-20 12:52] AnastasiiaOdnoshevna commented on #2627
@sirpy @serdiukov-o-nordwhale
I've checked next scenarios for the devices with Android 7, 8, 9 and 10 OS:
1) user sign up via Torus;
2) user login in existing account via Torus

Used devices:

- Huawei P10 // 7.0
- Samsung Galaxy Note 8 // 7.1.1
- Samsung Galaxy S7 // 8.0
- Xiaomi Redmi S2 // 9
- Pixel 4XL // 10

Login via Torus works without any issues on every Android version from 7 to 10. User

[2020-10-20 13:00] sirpy opened #2633 "Passwordless login should have less errors using Verify"
Switch Auth0 to twilio verify via cloudflare workers
To improve success rate with passwordless sms auth
- [x] worker should parse auth0 message and call twilio verify API
- [x] return 200 on success or 400 on exception
- [x] add authnetication with jsonwebtoken or simple secret in get params
- [x] log errors to sentry - see GoodCFWorker
- [x] setup auth0 to work with worker

https://auth0.com/docs

[2020-10-20 13:13] AnastasiiaOdnoshevna commented on #2554
Issue isn't reproduce for the newly created user using Torus and Passwordless.

Checked version: QA 1.7.1-1

Used devices:

- Samsung Galaxy S7 // 8.0
- Pixel 4XL // 10
- Win 10 // Chrome latest

[2020-10-20 13:13] #2554 closed

[2020-10-20 13:25] AnastasiiaOdnoshevna commented on #2572
@sirpy

Checked on v1.7.1-1 QA

**Done:**
- Change “Total G$ Volume” to “Transactions in G$”
- Change text “Daily G$ Claim” to “Total G$ Distributed Daily”
- Edit Charts explanation from “Chart shows total volume of claim transactions per day” to “Chart shows the total G$ distributed per day”
- Change graph to show all data of “total UBI supply” + “Daily Unique claimers” + “Daily UBI quota” + “Dai

[2020-10-20 13:35] AnastasiiaOdnoshevna commented on #1816
Checked on QA v1.7.1-1

@sirpy
Timer always shows --.--.-- instead of 1 second before make flip animation.

The animation itselfworks without any issue

[Video](https://drive.google.com/file/d/1Z-bofBLo1Uo2D-njpwm0YPHTLH5dcVFT/view?usp=sharing)

[2020-10-20 13:49] AnastasiiaOdnoshevna commented on #2626
Checked  on QA v1.7.1-1

@sirpy
@serdiukov-o-nordwhale

User didn't get new FV pop-up with updated text. "Try again" pop-up is displayed with it's previous version.

Checked scenarios:
1) incorrect face - user get "Something went wrong" screen;
2) Try again - user get previous guide (Frame your face in the small Oval, then the Big Oval)
3) 3-times failed - user get "try later" screen
4) First-time

[2020-10-20 14:08] AnastasiiaOdnoshevna commented on #2375
Checked on Dev v 1.7.1-1
Start:
Claim amount for 20.10 is 8,798,272.82G$

Ticket will be checked tomorrow and on Thursday. Total result will be updated on 22.10

[2020-10-20 14:14] sirpy commented on #2627
i think we can close it

[2020-10-20 14:14] #2627 closed

[2020-10-20 14:17] sirpy commented on #2625
@mauriguz i recall there was some issue with react native and layout, see if its possible to find a different solution

[2020-10-20 14:32] AnastasiiaOdnoshevna commented on #2477
Verified as done on QA v1.7.1-1

The checkmark icon has normal size and don't overlapped the code fields.

[2020-10-20 14:32] #2477 closed

[2020-10-20 15:24] LiavGut opened #2634 "FV - Error popup - No Camera"
The user should be able to see an error popup if his camera isn't connected.
The design should be based on the "Can't access camera" error popup.

Red Title:
We can’t find your camera…

Text:
Please connect yours
or
try a different device

https://xd.adobe.com/view/6f2ea6db-a8f0-4410-b79e-c33fd9609454-3a7d/

![Screen Shot 2020-10-20 at 18.23.07.png](https://images.zenhubusercontent.com/5d53e71a5b8

[2020-10-20 15:39] LiavGut opened #2635 "Send / Receive - Confirmation screens - Change button's text"
Instead of "CONFIRM"
change to "CONFIRM & SHARE LINK"

* Let me know if there's an issue with small devices in terms of text length.

![Screen Shot 2020-10-20 at 18.30.22.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/bc0c78cf-29cd-40f3-bb29-813079a4aeb8)

[2020-10-20 17:13] serdiukov-o-nordwhale commented on #2597
Started implementation here: https://github.com/GoodDollar/GoodDAPP/pull/2636
Finished the all logic and the most of design changes

@omerzam please:

1. Continue working in PR i created
2. Test my changes
3. Adjust styles according to the xd file. Also please check why blurred background doesn't appears when popup opened
4. Add unit tests for ExportWarningPopup (render without errors + matches sn

[2020-10-20 20:08] sirpy opened #2639 "Better transaction feedback"
* [x] receive link - send reason back to receiver  #867
* [x] show tx id/hash so users can confirm they got it
* [x] link tx hash to fuse explorer

[2020-10-20 20:31] sirpy commented on #2634
@LiavGut maybe "please connect one"

[2020-10-20 23:10] LiavGut commented on #2634
@sirpy It was changed to "yours" by Jessica

[2020-10-21 00:22] mauriguz commented on #2622
@sirpy fix has been pushed. you can retest

[2020-10-21 06:28] sirpy commented on #2570
this happens right after opening an account with self custody
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/a78468f8-c0e4-4437-938e-94a1ca670a9f)

[2020-10-21 06:40] sirpy commented on #2590
facetec are working on it, and will require to upgrade to their v9 once the bug is fixed

[2020-10-21 06:54] #2033 closed

[2020-10-21 07:10] WolfVV commented on #1816
that's the expected result

[2020-10-21 07:10] #1816 closed

[2020-10-21 07:16] WolfVV commented on #2572
the second map  is not going to be done, other items are implemented

[2020-10-21 07:37] sirpy commented on #2572
why was this closed? anastasia reported an issue

[2020-10-21 08:14] WolfVV commented on #2626
@sirpy Re-Checked :
1) I didn't reproduce the "Something went wrong" screen, I tried many  times
2) That guide is correct, advises for a user that in description only to try again pop-up
3) I get the correct screen after 3 unsuccessful attempts (Sorry about that, we're looking in to it, please try again later)
4) That guide is correct, advises for a user that in description only to try again pop-u

[2020-10-21 08:30] LiavGut commented on #2626
@sirpy @WolfVV I see the new text is too long, I'll try to shorten it, ok?

[2020-10-21 08:55] sirpy opened #2641 "(Chore) update docs and bootstrap script"

[2020-10-21 09:12] WolfVV commented on #2618
@sirpy the "To" screens are removed for send/receive
but the empty "To" is displayed on the "You are sending" page for "Send"
Video: https://www.screencast.com/t/iiWSnHPca2SZ
![2020-10-21_12-11-14.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/0550063d-039c-4b05-9916-abfdda226deb)
Checked on  QA 1.7.1-2
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 //

[2020-10-21 10:12] WolfVV commented on #2590
@sirpy @serdiukov-o-nordwhale yes there is an issue with camera permission - it's set "allowed" but appears pop-up that I need to set it "allow" and I can't pass FV
P.S. Issue related to a torus is solved
https://www.screencast.com/t/RdZoiyQD
Moto g4 // Android 7

[2020-10-21 10:32] WolfVV commented on #2459
@sirpy the lastTxSyncDate var is displayed
![2020-10-21_12-47-43.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/1a736e03-a898-46a0-a357-5e02bac7d1f9)
Checked on  QA 1.7.1-2
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-21 10:32] #2459 closed

[2020-10-21 10:47] WolfVV opened #2642 "(BUG) The "Scan QR" button isn't displayed on the "Send G$" page"
Precondition:
The dashboard is opened
Steps to reproduce:
1) Click the "Send" button
2) Pay attention to the lack of the "Scan QR" button

Actual result: The "Scan QR" button isn't displayed on the "Send G$" page. The user isn't able to send via QR. We had the  "To" page where the button was located but after removing we directly redirected to the "How much?" page
Expected result: The "Scan QR" bu

[2020-10-21 11:15] WolfVV commented on #1977
@sirpy the user is displayed in the music once we have user email from
user registration synced and completed = true
but the call to go.gooddollar.org/form/submit isn't displayed after creating...is it ok?

[2020-10-21 11:36] WolfVV commented on #2581
@sirpy this scenario couldn't be reproduced (tried many times by creating a new wallet/also tried to reproduce on the old wallets)
what about changing mobile - it's working properly /user is able to change mobile
Checked on  QA 1.7.1-2
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-21 11:36] #2581 closed

[2020-10-21 11:51] sirpy commented on #2618
fixed

[2020-10-21 11:59] WolfVV commented on #2618
@sirpy "To" is removed for send
![2020-10-21_14-58-10.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/6b54b81a-799b-4ec2-b445-4779d63e2f14)

[2020-10-21 11:59] #2618 closed

[2020-10-21 12:27] WolfVV commented on #2618
@sirpy @LiavGut what about "To" where the wallet address
 when I sent the receive link(for example request specific amount) and another user would open this link he gets the confirmation screen
here should be deleted?
![2020-10-21_15-20-49.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/e09e279f-41c1-4b35-959e-20a1122048e8)

[2020-10-21 12:53] LiavGut commented on #2618
@WolfVV we've already removed the "send by address" feature

[2020-10-21 13:10] sirpy commented on #1977
yes

[2020-10-21 13:18] WolfVV commented on #2642
@sirpy QR button  is displayed and work
![2020-10-21_16-12-19.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/dfaab8ed-cdc0-4b45-ae6c-e93f766056ab)

[2020-10-21 13:18] #2642 closed

[2020-10-21 17:14] mauriguz commented on #2608
@WolfVV I can't reproduce in goodnative, are you still seeing this issue? I have tried with Uruguayan number

[2020-10-21 17:24] mauriguz commented on #2570
@sirpy hotfix already available in goodnative. please retest

[2020-10-21 18:05] sirpy opened #2645 "[RN] compare topbar avatar press functionality to master"

[2020-10-21 19:35] mauriguz opened #2646 "(Bug) [RN] Native - goodmarket button is misaligned"
Button should be centered same as web, instead is displaying all to the left

<img src="https://images.zenhubusercontent.com/5e94651b99a626376722758d/c633916b-686a-4751-bf11-e34d846024d8" width="250" />

[2020-10-21 19:38] mauriguz opened #2647 "(Bug) [RN] Native - in dashboard the top nav buttons aren't properly working"
They require multiple presses to work, behavior should be that with a simple press the action needs to trigger. For example, if I want to open the sidemenu with a simple press in the top right of the nav it should work

[2020-10-21 19:50] #2645 closed

[2020-10-21 19:56] sirpy opened #2648 "Upgrade FV to v9"
-  [x] changed client api

[2020-10-21 20:18] sirpy opened #2650 "restore invite w3 functionality"
- [ ] mark invited by -> opened wallet -> claimed
- [ ] read joined events and user profiles
- [ ] emails

User opens account
 - register code in contract
 - email time to invite?

User joins with code
 - mark in contract user joined by code X, emit event
 - save inviter code in properties

User claims
 - mark in contract user claimed, contracts check whitelist, emit event

User wallet reads pastE

[2020-10-21 21:46] sirpy commented on #2570
@WolfVV pleease retest

[2020-10-21 21:50] sirpy commented on #2608
@mauriguz this is regarding the email verification not mobile

[2020-10-21 22:36] mauriguz commented on #2608
@sirpy yes I know. both verification codes are being sent (phone step & email step). I have tried more than once.

[2020-10-22 10:09] WolfVV commented on #2608
@sirpy @mauriguz re-checked for difference mailboxes -  works well, the user is able to sign up/in via passwordless
Checked on  native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75
![2020-10-22_13-04-22.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/c3eb6ec0-7521-4ecd-85a1-bcf4770dd84e)

[2020-10-22 10:09] #2608 closed

[2020-10-22 10:19] WolfVV commented on #2599
@mauriguz now the image is displayed but it is really small (see on the screen how it should be)
![2020-10-22_13-14-03.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/ce20e76a-3049-4b7f-ac48-a1d4d6480f02)
Checked on  native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-22 10:43] WolfVV commented on #2624
@mauriguz now works without error but the button isn't clickable inside the photo camera It means that the center of the icon isn't clickable. The upload window will be opened if the user clicks closer to the edge of the button
Video: https://www.screencast.com/t/P52HV8mryEzG
Checked on native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-22 10:46] sirpy commented on #2624
@WolfVV if there's a new issue then open a separate one. and close this one.
did you encounter this issue with other buttons also?

[2020-10-22 11:00] WolfVV commented on #2606
@mauriguz error isn't reproduced anymore (checked receive /send)
Video: https://www.screencast.com/t/Qt2EiD1xjJ
Checked on  native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-22 11:00] #2606 closed

[2020-10-22 11:08] WolfVV commented on #2570
@sirpy @mauriguz the error isn't reproduced anymore (checked after creating/opening the wallet )
Video: https://www.screencast.com/t/cRVdMhn0
Checked on  native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-22 11:08] #2570 closed

[2020-10-22 11:16] LiavGut commented on #2639
@sirpy
Add a link to transaction popups
"Advanced Transaction Details". (If on small devices it will be too long, we can shorten it to "Transaction Details")
The link should be directed to the transaction page on Fuse explorer (open in a new tab)

https://xd.adobe.com/view/392ec1c6-42fb-40c9-a877-2d47e899a11d-6c7d/

<img width="798" alt="Screen Shot 2020-10-22 at 14 14 47" src="https://user-images

[2020-10-22 11:36] #1977 closed

[2020-10-22 11:42] WolfVV commented on #2466
@mauriguz user is able to sign up/in  via custody without errors on the flow,  what about UI - pop-up looks well
Checked on native 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75
![2020-10-22_14-41-08.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/de67b50d-c5fb-4c3a-9c1c-fbb2d77bd0ee)

[2020-10-22 11:42] #2466 closed

[2020-10-22 11:55] WolfVV commented on #2628
@sirpy @mauriguz @serdiukov-o-nordwhale User can get G$ successfully
I've checked such flow:
1) User get in the queue
2) User was approved
3) User clicked the "Claim" button and passed the FV
4) User clicked  the "Claim" and successfully got the money

[2020-10-22 11:55] #2628 closed

[2020-10-22 11:57] WolfVV commented on #2607
@serdiukov-o-nordwhale @sirpy user is able to pass FV without the "something went wrong..." error
Checked on native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-22 11:57] #2607 closed

[2020-10-22 12:17] LiavGut opened #2651 "FV - Add Amplitude events to all new FV screens"
* Switch device error screen
* Instructions screen

[2020-10-22 12:18] LiavGut commented on #1844
*** Please, don't start working on this ticket before talking to me ***

[2020-10-22 12:27] LiavGut opened #2652 "(BUG) Share payment link on mobile flow is not working well"
Android, Galaxy A5, Chrome

When trying to send G$, after clicking on the confirm button, it should stay on the confirm screen until the native share is showing.

When I did that it directed me to the Share screen of the desktop version and then show me the native share.

Weird.

![WhatsApp Image 2020-10-22 at 15.25.24.jpeg](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/708ffaa9-17

[2020-10-22 13:30] #2622 closed

[2020-10-22 13:30] WolfVV commented on #2622
@sirpy @mauriguz
1) Tried to claim after a few min app in background
2) Tried to claim after passing FV
In two cases everything worked well
Checked on  native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-22 17:38] #2652 closed

[2020-10-23 07:51] WolfVV commented on #2626
@LiavGut as I understand you want to shift the point by shortening if it is not a problem to do now, I think it's will be great if the text will be displayed in two rows

[2020-10-23 08:06] WolfVV commented on #2624
@sirpy ok I'll open another one
I didn't encounter like that but if I meet, I would add a comment to a new issue that I'm going to create

[2020-10-23 09:27] WolfVV opened #2653 "(BUG) [RN] The center area of ​​the photocamera button is not clickable"
Precondition:
The "My profile " page is opened (the page where the user can edit his avatar)

Steps to reproduce:
1) Click the photo camera button at the center
2) Pay attention to the lack of response from the app
3) Click the photo camera button closer to the edge
4) Pay attention to the opened window for uploading

Actual result: The center area of ​​the photocamera button is not clickable
Expe

[2020-10-23 09:31] WolfVV commented on #2653
@mauriguz I've re-checked and for desktop, the button works well but for IOS and Android work like in the description
https://www.screencast.com/t/NNJSuOk0T8

[2020-10-23 09:34] WolfVV commented on #2624
@mauriguz left a comment there #2653

[2020-10-23 09:34] #2624 closed

[2020-10-23 10:41] WolfVV commented on #2553
@sirpy @mauriguz @MarianoAmado
1) only one validation error is displayed as it expected
2) the flag is displayed fully
Checked on  native 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75
![2020-10-23_13-40-18.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/755f815c-57b4-4168-8972-4c2e49defe46)

[2020-10-23 10:41] #2553 closed

[2020-10-23 11:25] serdiukov-o-nordwhale commented on #2626
@LiavGut @WolfVV

1. I was able to remove bullets from the retry screen. @yaroslav-fedyshyn-nordwhale haven't tried all the ways possible.
The corresponding i18n string supports simple html tags like `br` or `span` so i was able to wrap the texts onto the spans and hide bullets making their color equals to the background one. Now the screen looks as the following:
<img width="646" alt="image" src=

[2020-10-23 11:26] WolfVV opened #2655 "(BUG) [RN] Zoom verification failed. Session could not be started due to an unexpected issue during the network request"
Precondition:
The "Get Ready For Your Video Selfie" pop-up is opened
Steps to reproduce:
1) Click the "I'm Ready" button
2) Scan face
3) Pay attention to the "Something went wrong..." error message

Actual result: The user isn't able to pass FV because the spinner is displayed for 20-40 sec and then appears the "Something went wrong..." screen
Expected result: The user should be able to pass FV wi

[2020-10-23 11:52] serdiukov-o-nordwhale commented on #2655
Zoom is down on fvqa. Will make it runs via systemd like on prod

[2020-10-23 13:24] WolfVV opened #2657 "(BUG)[RN] The pop-ups shadow is too dark"
Precondition:
The "Claim" page is opened/ User is able to claim
Steps to reproduce:
1) Click the "Claim" button
2) Pay attention to the shadow of pop-up

Actual result: The pop-ups shadow is too dark
Expected result: The pop-ups shadow should be transparent

Note: related all pop-ups / reproduced for mobile

Checked on native 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
iPhone 8 //

[2020-10-23 13:30] serdiukov-o-nordwhale commented on #2657
@WolfVV what does  'too dark' means ? have you compared the box-shadow prop (inspected via Safari remote debug using Lightning cable) with the source xd file ?

[2020-10-25 08:00] tomerGD opened #2659 "User should see total minted and active claimers graphs"
Between the map and Total G$ distributed daily add an explainer text (Ticket not finalized text will be added soon)

Add to "Total G$ Distributed Daily" another graph
G$ Daily Pool

Add to "Daily Unique Claimers"  another graph

Total active claimers

---
read UBICalculated events, for each event "day" read the corresponding dailyUBIHistory from the UBIScheme contract.
G$ daily pool = dailyUBIHist

[2020-10-25 08:34] sirpy commented on #2572
changed to "Daily UBI Quota"

[2020-10-25 11:02] sirpy commented on #2639
@LiavGut its very hard to validate a TX this way.
User A tells user B that the TX ID is X.
User B then needs to start clicking on all links to find out if it is a match.
I suggest to add in the link the TX ID also

[2020-10-25 11:15] LiavGut commented on #2639
@sirpy Again, these are not the majority of users, What percent of our users are going to need this function?

[2020-10-25 11:18] sirpy opened #2660 "(Bug) misc FV errors from amplitude"
- [x] trimEnd is not a function
- [x] zoom session timeout
- [x] server api call timeout

[2020-10-26 06:23] sentry-io[bot] opened #2661 "Error: NotAllowedError: Failed to execute 'share' on 'Navigator': Must be handling a user gesture to per..."
Sentry Issue: [GOODDAPP-3QD](https://sentry.io/organizations/gooddollar/issues/1899378143/?referrer=github_integration)

[code]

[2020-10-26 07:49] sirpy commented on #2575
@mauriguz this should be done by @MarianoAmado

[2020-10-26 10:34] serdiukov-o-nordwhale commented on #2651
@LiavGut couldn't find those events in the doc you shared some time ago https://docs.google.com/spreadsheets/d/1nTiU5h2XtsGhJ8Vi0USn-B5jnUSMWs5OEhjwPfatthA/edit#gid=0

Could you please specify
a) events names
b) additional data (if need)
c) the exact moment to dispatch them (e.g. to send "instructions" event on screen displayed or on "GOT IT" has been pushed or they'll be 2 different event we have

[2020-10-26 10:56] sirpy opened #2662 "Invite Model check which emails are sent"

[2020-10-26 11:32] WolfVV commented on #2657
@serdiukov-o-nordwhale I  was searching for shadow properties there but I didn't find https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/2ffd1fa5-0d7f-42da-baf9-321b958b1706/specs/
I decided to compare it on mobile and desktop (because for desktop it displayed ok) but for both the same properties (although visually on mobile it really dark) I remember that we had something

[2020-10-26 11:47] WolfVV commented on #2599
@mauriguz image on the pop up is displayed well
![2020-10-26_13-42-50.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/9b03afd2-35f2-436c-9000-0fb526410b65)

[2020-10-26 11:47] #2599 closed

[2020-10-26 12:31] serdiukov-o-nordwhale commented on #2597
@sirpy could @MarianoAmado adjust design for this task too ? as you assigned #2575 to him ?

[2020-10-26 12:32] WolfVV commented on #2634
@sirpy @LiavGut in what case that pop up should be displayed?
 is this the right way to reproduce that pop-up?
1) disconnect the camera from the PC
2) try to pass FV

because I encountered this issue during performing such steps
https://www.screencast.com/t/nvjRGlpsf
Checked on  QA 1.8.1-0
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-26 12:57] WolfVV commented on #2572
@sirpy have requirements been changed?
because according to requirements, it should be liker here---> Change text “Daily UBI Quota” to “G$ per Claimer”
![2020-10-26_14-57-21.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/9be1f87d-facc-4f7a-9602-7db539a81593)

[2020-10-26 13:11] WolfVV commented on #2574
@MarianoAmado @serdiukov-o-nordwhale user see that screen with explanation after clicking the "OK, VERIFY ME" button
Checked on  QA 1.8.1-0
Desktop: Windows 10 // Google Chrome  86.0.4240.75
iPhone 8 //13.3.1
![2020-10-26_14-20-11.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/291cb29e-1e70-4539-914a-6723cf30caac)

[2020-10-26 13:11] #2574 closed

[2020-10-26 13:24] WolfVV opened #2663 "(BUG) [RN] The "Try again" screen is not displayed after 3 failed attempts to pass FV"
Precondition:
The FV page is opened
Steps to reproduce:
1) Perform  3 unsuccessful attempt to pass FV
2) Pay attention to the lack of the "Wa are looking for..." screen

Actual result: The "Wa are looking for..." screen isn't displayed after 3 failed attempts to pass FV
Expected result: The "Wa are looking for..." screen should be displayed after 3 failed attempts to pass FV

_____________________

[2020-10-26 14:37] sirpy opened #2664 "After claim clock not showing correct time left"
recently users reported that they see more than 24hours left until next claim after they claim right when the clock change

[2020-10-26 14:37] sirpy commented on #2664
Created via Reamaze:

Link: /admin/conversations/claim-gd-and-not-appear
Assignee: Hadar Rottenberg

Message:
Hello

First of all, thank you for this project, is amazing.

I have a problem claiming gooddollar, normally I claim and all goes right, but sometimes it goes wrong and not take the gd to my wallet. I'm claiming all days since 18 September and some days dissappear. Today I claim, 14 gd, bu

[2020-10-26 14:38] sirpy opened #2665 "Claim card not appearing after claim"
users report claim card is sometimes not appearing after claiming

[2020-10-26 21:19] sirpy commented on #2663
@WolfVV please check every issue you find on native also on QA and mention the result in your report.
please attach video for this  case

[2020-10-26 21:54] sirpy commented on #1920
this  can happen on desktop. not an issue

[2020-10-26 21:54] #1920 closed

[2020-10-26 21:55] sirpy commented on #1943
@serdiukov-o-nordwhale do we need this?

[2020-10-26 22:08] sirpy commented on #2572
yeah its fine

[2020-10-26 22:08] #2572 closed

[2020-10-26 22:08] sirpy commented on #2634
yes when camera doesnt exists

[2020-10-26 23:12] #2662 closed

[2020-10-27 03:29] mauriguz commented on #2559
@WolfVV could you please retest this? both this and #2277 seem to be working fine now without new code changes needed

[2020-10-27 06:53] sirpy commented on #2651
@serdiukov-o-nordwhale we just need to have the event for when the user is shown the instructions screen
for the "try another device" we already have the event for 3 errors, just make sure it is still fired as expected

[2020-10-27 08:24] WolfVV commented on #2555
@MarianoAmado @sirpy splash without overlapping
![2020-10-27_10-19-18.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/bfd877b2-1015-4791-b0b1-a5f0e7c0f05f)
Checked on native 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75
iPhone 8 //13.3.1

[2020-10-27 08:24] #2555 closed

[2020-10-27 11:41] WolfVV commented on #2663
@sirpy ok I'll add the result from qa to the following issues
Isn't reproduced for the qa
![2020-10-27_13-37-51](https://user-images.githubusercontent.com/70277096/97296938-07af8a00-185a-11eb-860b-649d8e81b3fb.png)

[2020-10-27 12:21] WolfVV commented on #2634
@sirpy I disconnected a camera and tried to pass FV but I got another pop-up (camera permission was allowed)
![2020-10-27_14-15-52.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/bcd37aff-3c5f-4de6-8129-68a3788b249d)
Checked on  QA 1.8.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-27 12:52] sirpy opened #2668 "events should be sent to googleanalytics"
Send all  events to google analytics
data values  should be sent via fields eventAction and eventLabel, first numeric value is  sent via eventValue

[2020-10-27 13:17] WolfVV commented on #2653
@mauriguz that's still reproduced
https://www.screencast.com/t/LfCgTk5r

Checked on native 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
iPhone 8 //13.3.1
HUAWEI P40 Lite // 10

[2020-10-27 14:48] WolfVV commented on #2663
@sirpy video from native https://www.screencast.com/t/z5uZm26nqy8

[2020-10-27 15:17] WolfVV commented on #2559
@mauriguz pop-ups content are aligned but 2277 still reproduced
![2020-10-27_15-18-44.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/92962fcd-26bb-4c4e-b2e5-00a9ed605401)
![2020-10-27_17-11-26.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/e1e6136c-c05c-4143-a669-9f4347377a3b)

[2020-10-27 15:17] #2559 closed

[2020-10-27 15:18] WolfVV commented on #2277
@mauriguz still reproduced
![2020-10-27_15-26-48.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/d42454c3-da3a-468b-9296-52b69941cc12)

[2020-10-27 15:34] sirpy commented on #2634
its working as expected for me.

[2020-10-27 15:34] #2634 closed

[2020-10-27 15:36] sirpy opened #2670 "(Bug) the instructions screen is shown twice"
First time user not having camera enabled is shown the instructions screen
after pressing the button the approve camera popup is shown and after pressing "I understand" the instructions screen is shown again

expected behaviour is that it is shown only once before starting FV

[2020-10-27 15:37] sirpy commented on #2670
@WolfVV can you verify this happens also to you?

[2020-10-27 15:48] serdiukov-o-nordwhale commented on #1943
@sirpy yes, but the PR could be closed. I'll import updates from react-natve once @mauriguz will finish fixing onPress everywhere during goodnative fixes

[2020-10-27 15:59] serdiukov-o-nordwhale commented on #2651
@sirpy okay, then i need event for the instructions screen
is FV_INSTRUCTIONS will be ok ? it will be dispached once ZoOm preloaded and instructions screen is shown

[2020-10-27 16:31] WolfVV commented on #2634
@sirpy I've tested it on moto G4, looks well
![Screenshot_20201027-182723.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/d472ecaa-4e86-4539-aace-b957a4b531f2)

[2020-10-27 17:08] WolfVV opened #2671 "(BUG) The camera shape is cut off at the top and bottom on the "Get Ready For Your Video Selfie" screen"
Precondition:
**Devises with a small screen**
The "Claim" page is opened

Steps to reproduce:
1) Click the "Claim" button
2) Click the "OK, Verify me" button
3) Click the "GOT IT" button
4) Pay attention to the camera shape

Actual result: The camera shape is cut off at the top and bottom on the "Get Ready For Your Video Selfie" screen
Expected result: The camera shape is displayed fully on the "G

[2020-10-27 17:09] serdiukov-o-nordwhale commented on #2670
I checked with latest master - the issue isn't reproduced during the normal FV flow (claim -> intro -> verification).

Camera availability check is performed on the intro screen, and we accessing the verification screen only if we enabled the camera. I suppose some kind of glitches could happen if disable permission and reload the app on the verification screen but it's a corner case. I could try

[2020-10-27 17:10] WolfVV commented on #2626
@serdiukov-o-nordwhale @sirpy the "Try again" screen according to description
![2020-10-27_18-45-02.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b9
4/922fd5a1-baf1-40aa-8af7-2053bf9d935b)
what about the "Get Ready For Your Video Selfie" screen - now it's cut off at the top and bottom (separated to #2671 )
![2020-10-27_18-59-55.png](https://images.zenhubusercontent.com/5f5a0b5287e

[2020-10-27 17:10] #2626 closed

[2020-10-27 17:11] serdiukov-o-nordwhale commented on #2671
@sirpy @LiavGut @WolfVV

I think we have to split the message to the lines some another way (for the small screens)
For example:

[code]

[2020-10-27 17:16] serdiukov-o-nordwhale commented on #2671
hotfixed

https://github.com/GoodDollar/GoodDAPP/commit/6c6829da35d07dfb21e68e2d858ae5c06a4e1245
https://github.com/GoodDollar/GoodDAPP/commit/956d70079badd29a8b0068790b949b1fa75a2c30

[2020-10-27 17:33] WolfVV opened #2672 "(BUG) [RN] code withdraw failed Private key must be 32 bytes long"
Precondition:
The send link is ready to be sent

Steps to reproduce:
1) Open the send link on the other wallet
2) Pay attention to the error message

Actual result: The blank page is displayed on the FV screen after trying to pass FV with a disconnected camera
Expected result: The error pop-up should be displayed on the FV screen after trying to pass FV with a disconnected camera
**Note: sometimes

[2020-10-27 18:50] LiavGut opened #2673 "(UI BUG) '$' sign is not aligned to the center of the 'G'"
![Screen Shot 2020-10-21 at 11.46.48.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/9a187a90-9c5f-472c-a8ae-fd3cc317d918)![Screen Shot 2020-10-21 at 11.46.56.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/41a1075c-4d6e-4e53-a402-85a77fd0b7a3)

[2020-10-28 00:59] mauriguz commented on #2277
@WolfVV I hotfixed and this is how it's looking for me now. I think looks good to retest.
<img src="https://images.zenhubusercontent.com/5e94651b99a626376722758d/5f0881cb-8f32-4bf4-8371-fdf307cc7f6d" width="450" />

[2020-10-28 07:40] WolfVV opened #2677 "(BUG) The wallet address is displayed on the receive confirmation screen"
Precondition:
The receive link is ready to be sent (just link or specific amount or via QR code - it doesn't matter)
Steps to reproduce:
1) Open the link in the other wallet
2) Pay attention to the wallet address

Actual result: The wallet address is displayed on the receive confirmation screen
Expected result: The wallet address shouldn't be displayed on the receive confirmation screen

_________

[2020-10-28 08:31] sirpy opened #2678 "(Bug) error message should be string"
Seems like exception thrown from FaceVerificationAPI (in this case, FV server not responding, causing timeout on heroku)
doesnt have message as string, causing the toLower function to fail
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/f71346db-79e3-4a12-9703-84b611ddfcc1)

[2020-10-28 09:02] sirpy commented on #2663
@serdiukov-o-nordwhale maybe this issue has been solved in #2675 PR?
can you verify please?

[2020-10-28 09:29] sirpy opened #2679 "(Bug) cant decrypt profile fields"
because of previous data loss the decryption key is missing
need to add a generic fix to reset profile fields that cant be decrypted

[2020-10-28 10:25] serdiukov-o-nordwhale commented on #2663
According to @MarianoAmado 's comments #2675 isn't ready to run. Also i found & fixed one more issue.
I performed an quick code analysis and haven't found any issues with high-level FV implementation (components & hooks)

Need to perform more detailed research:
1. I saw there were 2 liveness failed and one 'foreground loosed'.
2. After 'foreground loosed' we **always** redirecting to the intro. Bu

[2020-10-28 11:49] WolfVV commented on #2677
@sirpy fixed / the name is displayed as expected
![2020-10-28_13-46-59.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/488d9760-6fa2-45d0-ad50-41184bf433f6)

[2020-10-28 11:49] #2677 closed

[2020-10-28 12:14] sirpy commented on #2663
@serdiukov-o-nordwhale you can see in the video that he sent the exact flow @WolfVV did.
@serdiukov-o-nordwhale can you make a code diff to find out if there was a merge issue?

[2020-10-28 12:26] serdiukov-o-nordwhale commented on #2663
@sirpy as i said - i need to perform more detailed refresh. How we have to prioritize FV bugs (also we have #2678) ? Regarding the fact we're moving to v9 now

[2020-10-28 12:44] sirpy opened #2680 "(Bug) empty error message from FV in amplitude"
more than 50% of FV_GENERALERROR event reason field is empty

[2020-10-28 14:49] serdiukov-o-nordwhale commented on #2651
Hotfixed in `master`: https://github.com/GoodDollar/GoodDAPP/commit/25e51857e50e8d8bb77fc85546fd4ad1d4ee6468
Appended to this `react-native` PR: https://github.com/GoodDollar/GoodDAPP/pull/2675

[2020-10-28 16:59] serdiukov-o-nordwhale commented on #2680
I checked paths / user records for the cases reason in empty.
All corresponding paths are starting from FV_GENERALERROR, no events were dispatched before

That could mean only one: the user was reloaded the app on the error page.
In such case screenProps.screenState contains no 'error' object. So get(screenProps, 'screenState.error.message') returns undefined

I fixed onmount effects of each error

[2020-10-28 18:34] mauriguz commented on #2003
this doesn't seem valid anymore, couldn't reproduce. @WolfVV can you retest please?

[2020-10-28 20:42] mauriguz commented on #2616
@sirpy checked, I don't see any diff between master & react-native, logic and values are the exact same

[2020-10-28 22:23] #2616 closed

[2020-10-29 07:13] #2670 closed

[2020-10-29 08:51] #1933 closed

[2020-10-29 08:52] #2198 closed

[2020-10-29 09:11] WolfVV commented on #2597
@sirpy accordong to description
 ![2020-10-29_10-43-05.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/bb3b7c40-9ee1-4c55-a8e4-8360082622ca)
Checked on  QA 1.8.1-2
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-29 09:11] #2597 closed

[2020-10-29 09:33] sirpy commented on #2672
@mauriguz
need to verify how the payment code is extracted from the url
compare vs master

[2020-10-29 10:37] WolfVV opened #2684 "(BUG) [Mobile] The blocks overlap one another on the "Export Wallet" screen"
Precondition
The user is signed in the wallet

Steps to reproduce:
1) Open the context menu
2) Click the "Export Wallet" button
3) Pay attention to each block   -  My private key/ My wallet address/Fuse network

Actual result: The blocks overlap one another on the "Export Wallet" screen
Expected result: The blocks shouldn't overlap one another on the "Export Wallet" screen

_______________________

[2020-10-29 10:41] serdiukov-o-nordwhale commented on #2684
@LiavGut we need design for the smaller screens. Could you please adjust button / avatar / text sizes and provide updated xd

[2020-10-29 11:15] WolfVV commented on #2635
@sirpy according to the description
Checked on QA 1.8.1-2
Desktop: Windows 10 // Google Chrome 86.0.4240.75
iPhone 8 //13.3.1
![2020-10-29_13-14-30.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/caaabe95-fa09-4aa0-890b-9a507e6c0fd1)
![2020-10-29_13-14-58.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/d6984ec7-5b41-48e0-bdc9-e61ed9f0d2d1)

[2020-10-29 11:15] #2635 closed

[2020-10-29 11:33] WolfVV commented on #2671
@serdiukov-o-nordwhale still reproduced
Checked on  QA 1.8.1-2
iPhone 8 //13.3.1
![2020-10-29_13-29-00.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/6d085a1b-6411-4cc0-93e2-17201311ae30)

[2020-10-29 11:35] serdiukov-o-nordwhale commented on #2671
@LiavGut It seems we need to adjust design for the smaller screens. Could we decrease title font size and/or "I'm ready" button height ?

[2020-10-29 11:47] WolfVV commented on #2003
@mauriguz isn't reproduced anymore
https://www.screencast.com/t/r2CBHaK0s
Checked on  native 1.3.1-1
iPhone 8 //13.3.1

[2020-10-29 11:47] #2003 closed

[2020-10-29 12:52] WolfVV commented on #2621
@mauriguz error isn't reproduced anymore
Checked on  native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-29 12:52] #2621 closed

[2020-10-29 13:46] omerzam commented on #2633
finished development
waiting for integration with auth0

[2020-10-29 13:59] serdiukov-o-nordwhale commented on #2671
@WolfVV which is screen size of device the issue reproduces ?

[2020-10-29 14:51] WolfVV commented on #2575
@sirpy @MarianoAmado I got the "switch to other devices" screen https://www.screencast.com/t/yhphl7UAFS
Checked on  QA 1.8.1-2
Desktop: Windows 10 // Google Chrome  86.0.4240.75
Samsung S9 // Android 10
![2020-10-29_16-48-45.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/f4bf22dc-43da-4930-ad08-6b0879ef55fe)

[2020-10-29 15:33] LiavGut commented on #2671
@serdiukov-o-nordwhale Why is the text below the camera shape and not above it as it was before?

@Esfir-E

[2020-10-29 16:11] serdiukov-o-nordwhale commented on #2671
Because it was wrapped due to smaller width

[2020-10-29 16:20] serdiukov-o-nordwhale commented on #2671
On the first screenshot wrapping starts after the word 'small'. I tried to add one newline just after that word.
Probably we'll have only 2 lines of text in that case which allows to avoid the camera shape have being cutted

@WolfVV please re check in 20-30min

https://github.com/GoodDollar/GoodDAPP/commit/f46c86cb6d6766c2c0be7781cb3219ce6b180f93
https://github.com/GoodDollar/GoodDAPP/commit/53fe8

[2020-10-29 16:45] WolfVV commented on #2671
@serdiukov-o-nordwhale at the bottom well but it's still displayed cut off at the top
![2020-10-29_18-41-37.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/c0e4ee44-91ef-42d5-9e77-50d50f1b166a)

[2020-10-29 16:52] LiavGut commented on #2671
@serdiukov-o-nordwhale And text on the bottom is not aligned vertically centered between the camera shape and the button.

@Esfir-E

[2020-10-29 17:30] serdiukov-o-nordwhale commented on #2671
Moved it above by 5px. Cannot determine the exact value as i couldn't run GoodDollar in mobile view. My Chrome from unknown reason are failing to access the camera in mobile device emulation mode

[2020-10-29 17:34] serdiukov-o-nordwhale commented on #2671
https://github.com/GoodDollar/GoodDAPP/commit/2a75c7b2145cf2c55ff0c852fbb8c4d58c3e9e2d
https://github.com/GoodDollar/GoodDAPP/commit/b739a572a4420a22f70f7e30a395ec2919d33658
https://github.com/GoodDollar/GoodDAPP/commit/c00c3300c7285e015f151782d67a3772c8e63279

[2020-10-30 05:01] mauriguz commented on #1873
@WolfVV couldn't reproduce. could you retest please?

[2020-10-30 05:03] mauriguz commented on #1853
@WolfVV couldn't reproduce either. can you retest please?

[2020-10-30 09:49] WolfVV commented on #2671
@serdiukov-o-nordwhale  camera shape isn't cut off anymore
@LiavGut what about the text...it should be in the middle?
![2020-10-30_11-41-04.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/fd8c2c10-591d-4676-983f-a8660b6d8aed)

[2020-10-30 10:05] WolfVV commented on #2653
@mauriguz @sirpy the button is clickable and the upload window is opened after one pressing
Video: https://www.screencast.com/t/kRPU2Kz0t
Checked on native 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
iPhone 8 //13.3.1

[2020-10-30 10:05] #2653 closed

[2020-10-30 10:09] WolfVV commented on #1873
@mauriguz yes isn't reproduced anymore

[2020-10-30 10:09] #1873 closed

[2020-10-30 10:15] WolfVV commented on #1853
@mauriguz isn't reproduced anymore  - closed

[2020-10-30 10:15] #1853 closed

[2020-10-30 10:54] WolfVV commented on #2647
@mauriguz @MarianoAmado in dashboard button works after one pressing
https://www.screencast.com/t/GzRt5JgA
Checked on  native 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-10-30 10:54] #2647 closed

[2020-10-30 11:24] WolfVV commented on #2651
@serdiukov-o-nordwhale for instruction screen the  FV_INSTRUCTIONS event is displayed
but as I remember for 3 unsuccessful attempts should be the FV_TRYAGAINLATER event, but there is not that event
![2020-10-30_13-06-52.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/d03c0a46-2f02-4f41-b0e4-43c8dc15493c)
![2020-10-30_13-12-00.png](https://images.zenhubusercontent.com/5f5a0b5287e

[2020-10-30 12:06] serdiukov-o-nordwhale commented on #2651
@WolfVV just try to scroll console down. the event should be below the latest one `GOTO_FACEVERIFICATIONERROR`.
to get the exactly events sent to the Amplitude (without any other lines matching 'event') use 'fired event' search query:

<img width="1552" alt="image" src="https://user-images.githubusercontent.com/62208067/97703281-0af48100-1ab9-11eb-87b3-9841ab0e720b.png">

[2020-10-30 12:25] serdiukov-o-nordwhale commented on #2671
@WolfVV @LiavGut
I was able to debug wallet app using iPhone connected by the data cable. So i've set the correct margins to make texts aligned correctly for screen width <425px devices:

hotfixes:
https://github.com/GoodDollar/GoodDAPP/commit/9a0bb367fac83e63181c453aad337826591d37b7
https://github.com/GoodDollar/GoodDAPP/commit/181842c1822b038ee459d2ca57a8ecd19cc29fa0
https://github.com/GoodDolla

[2020-10-31 00:18] mauriguz commented on #2672
@WolfVV I've tried multiple times and couldn't reproduce, not even once. Is this still happening to you? Have you noticed any pattern when it fails that could help reproduce the issue? Are you always using the same accounts to do the transactions?
I'd like to have some more examples of failures to see if I can reproduce, if you can please send me more details and we can also set some time for us t

[2020-11-02 09:00] WolfVV commented on #2671
@LiavGut @serdiukov-o-nordwhale now looks well
![2020-11-02_10-57-06.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/53451e64-0cfd-402f-b460-e07de69cfb73)

[2020-11-02 09:00] #2671 closed

[2020-11-02 09:20] WolfVV commented on #2651
![2020-11-02_11-12-17.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/f6448eb5-9350-44c5-ab62-c69359a513c9)

[2020-11-02 09:20] #2651 closed

[2020-11-02 10:25] WolfVV commented on #2623
@mauriguz  isn't reproduce anymore
https://www.screencast.com/t/3Q3uwjH9i
Checked on  native 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.75
iPhone 8 //13.3.1

[2020-11-02 10:25] #2623 closed

[2020-11-02 11:26] WolfVV commented on #2625
@mauriguz isn't reproduced any more
https://www.screencast.com/t/DFM4IqW10
Checked on  QA 1.6.1-2
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-11-02 11:26] #2625 closed

[2020-11-02 11:30] WolfVV commented on #2277
@mauriguz it's displayed in the middle as expected
![2020-11-02_13-28-36.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/a1694dee-972c-40a9-bd3b-d349398746de)

[2020-11-02 11:30] #2277 closed

[2020-11-02 11:44] WolfVV commented on #2672
@mauriguz you can use pending links from this wallet --> testbeemtest@gmail.com    //  TestBeem2020  they still trigger the error
or take this(link from the wallet that I added above)  -->Unknown, You've received 1 G$ from Test Beem. To withdraw open:  https://goodnative.netlify.app?paymentCode=eyJwIjoiMHhlNGRmZTIwM2RhMWM3NzZmZjViODlmNTY3YmZkYjI4NTU2Mzk0OWQxMDg3NmVlNjBmYjEzNmRhOTY3MzcxYzM4In0%253D

[2020-11-03 10:08] WolfVV commented on #2615
@sirpy @mauriguz api call to /user/enqueue returns "ok" status
https://www.screencast.com/t/uVJ32D8u5ujI
Checked on  QA 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.75

[2020-11-03 10:08] #2615 closed

[2020-11-03 10:32] WolfVV commented on #2580
@sirpy @serdiukov-o-nordwhale context was empty before, error was reproduced after fixing and now it's displayed well
![2020-11-03_12-30-04.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/50ff4a6e-0ce2-4d7a-8a4e-3d2e0403094b)

[2020-11-03 10:32] #2580 closed

[2020-11-03 11:29] LiavGut opened #2690 "(UI BUG) Marketplace button should be masked inside the container on desktop"
Desktop, Chrome.

The button animation, while loading, shouldn't be visible from the bottom edge of the screen, only from the bottom edge of the wallet container

![Screen Shot 2020-11-03 at 13.22.48.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/03048a94-c969-46a2-8bba-869d39ffb72e)

![Screen Shot 2020-11-03 at 13.26.06.png](https://images.zenhubusercontent.com/5d53e71a5b89150

[2020-11-03 14:00] sirpy opened #2691 "(Bug) After FV claim isnt performed automatically"
user is redirected back to dashboard and needs to press claim again
expected behaviour is that after successful FV user is redirected back to claim screen and claim is triggered automatically

[2020-11-03 15:45] serdiukov-o-nordwhale commented on #2648
**Retry screen issue**

@WolfVV  Regarding that video: https://www.screencast.com/t/SJFo8ePF0vi

1. ZoOm retry screen is inside a ZoOm session. We have only onRetry callback we using to send event to the Amplitude
2. So, you couldn't get the 'switch to other device' screen after 3rd liveness failure. You have to finish your FV session. for that you have to the last one failure will be from some ot

[2020-11-03 20:48] mauriguz commented on #1943
@serdiukov-o-nordwhale @sirpy PR for react-native has been merged. updates can be applied to master and then this could be closed

[2020-11-03 21:21] mauriguz commented on #2550
@sirpy a few questions:
1. what's the desired user flow for manually triggering build for master?
2. please confirm if the following is right: master -> _dev, staging -> _qa, production -> stores
3. are all apps and versions going to be distributed via appcenter? (right now iOS is through appcenter and android through github artifacts)
4. should we run unit tests before compiling new versions? see

[2020-11-03 21:36] mauriguz commented on #2111
@sirpy can I merge the PR for this? I'll make the updates to handle different envs using the other issue and another PR

[2020-11-04 09:21] #1943 closed

[2020-11-04 09:59] WolfVV opened #2693 "(BUG) [RN] The app isn't updated after clicking the "Update" button"
Precondition:
The app is opened
The update pop up is displayed

Steps to reproduce:
1) Click the "Update" button
2) Refresh the page
3) Pay attention to the update pop-up that appeared again

Actual result: The app isn't updated after clicking the "Update" button
Expected result: The app should be updated after clicking the "Update" button

Note: the "Delete" button also doesn't work

____________

[2020-11-04 10:15] sirpy commented on #2672
@mauriguz the link seems to be double encoded, the '=' at the end gets double encoded
sometimes the browser themselves encode urls which causes the double encoding.
also when we generate payment we first encode the paymentCode value and then we encodeURI, this also could be the cause for double encoding.
but there shouldn't be a '=' at the end of the payment link at all, because we remove ==. ohhh

[2020-11-04 11:16] WolfVV commented on #2693
@mauriguz after many tries, after all, it was updated
what about the Delete button that I added to note
it's still reproduced

[2020-11-04 11:51] sirpy commented on #2550
1. not sure what you mean. I just dont want it to release in appcenter a dev app every code update to master
2. yes
3. yes
4. no, once code is pushed to QA/PROD branches it should just release without running tests

[2020-11-04 12:03] WolfVV opened #2694 "(BUG) [RN] Wallet isn't deleted after clicking the "Delete" button"
Precondition:
The app is opened
The context menu is opened

Steps to reproduce:
1) Click the "Delete" button
2) Confirm deleting
3) Pay attention to the non-deleted wallet

Actual result: Wallet isn't deleted after clicking the "Delete" button
Expected result: Wallet should be deleted after clicking the "Delete" button

Note: On QA the "Delete" button doesn't work but there is an error (see video)

[2020-11-04 12:04] WolfVV commented on #2693
@mauriguz issue with Delete button separated #2694

[2020-11-04 12:22] sirpy commented on #2694
@serdiukov-o-nordwhale there seems to be two issues here
1. call to FV or some other API request during deletion is timing out
2. the timeout from axios error is not in the expected format and when logging in sentry eMsg is not a string (i think there's an issue opened for that in the misc sentry errors)

[2020-11-04 12:28] sirpy commented on #2694
@mauriguz please fix for RN, nothing happens when pressing on delete.

[2020-11-04 13:06] serdiukov-o-nordwhale opened #2695 "Add option to use v9 FV API with v8 UI"
- add flag for enable v9 backend compatibility
- send face map as 'faceScan' if flag is set

[2020-11-04 13:53] WolfVV opened #2698 "(BUG) [RN] User is able to log in via Google without previous registration"
Precondition:
The start page is opened

Steps to reproduce:
1) Click the "Already Have a Wallet? Log In >" button
2) Click the "Log in with Google" button and **select a mailbox that you  never been used for gooddollar before**
3) Pay attention to the wallet that automatically created without registration

Actual result: User is able to log in via Google without previous registration
Expected resu

[2020-11-04 14:47] MarianoAmado commented on #2694
@WolfVV
Fixed the problem related to the 'delete' button not doing anything, that also affected the 'update' pop-up.

[2020-11-04 15:48] MarianoAmado commented on #2694
@WolfVV
The 'delete' button behavior is ready to re-test as well as #2693

Then, i believe @serdiukov-o-nordwhale was working on the error when actually deleting the wallet found on qa (that might now appear on goodnative also)

[2020-11-04 16:40] serdiukov-o-nordwhale commented on #2694
here's an original issue related to delete account:
https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/2678

[2020-11-04 17:12] serdiukov-o-nordwhale commented on #2694
@MarianoAmado @mauriguz
to solve the .toLowerCase is not a function issue found that code in analytics.js (master) AnalyticsClass.js (react-native)

[code]

and update it to

[code]

tomorrow i'll reproduce the connection issue and will see why that errors having empty message

[2020-11-04 18:34] WolfVV commented on #2698
@sirpy I've tested after you pushed small fixes and that looks that I can't log in at all https://www.screencast.com/t/CtkpGOsIhz
 I have on this mailboxes the wallets but every trying to log in is unsuccessful/ the login screen appears again

[2020-11-04 20:41] LiavGut opened #2701 "(UI BUG) Export wallet - Address pop up - The background should be blurred (as per design)"
Chrome, Desktop

Also, the word "Network" (in the small black text) should not be with a capital 'N'.

![Screen Shot 2020-11-04 at 22.35.51.png](https://images.zenhubusercontent.com/5d53e71a5b89150001ae1182/e3ba7fdf-e266-4220-bb32-44e41f6c18bc)

[2020-11-05 02:18] mauriguz commented on #2672
@sirpy answers and current status:
1. not always happens. always at the end. I then found out the consisten way to get the '=' at the end of the string is when not adding reason to the tx, from my debugging this happens because with transaction it creates a buffer with length of 82, without reason the length is 83, changing the padding of the base64 to only one '=' and then not replacing with the

[2020-11-05 13:48] WolfVV opened #2705 "(BUG) E8: User email not verified"
Precondition:
The start page is opened

Steps to reproduce:
1) Click the "Sign up" button
2) Click the "Agree & Sign up with Google" button
3) Select mailbox
4) Enter your mobile phone and confirm with OTP
5) Click the "Let's start" button
5) Pay attention to the error message

Actual result: User gets an error on the screen with a rocket after trying to sign up
Expected result: User is signed up

[2020-11-05 13:56] WolfVV opened #2706 "(BUG) Send mobile code failed Mobile already exists, please use a different one"
Precondition:
The mobile entering page is opened

Steps to reproduce:
1) Enter the mobile number that you use for another wallet
2) Confirm
3) Pay attention to the error message that your mobile already exists

Actual result: The "Mobile already exists" error is displayed after trying to sign up using the mobile that user used before
Expected result: The wallet created successfully after trying to

[2020-11-05 14:24] mauriguz commented on #2111
PR merged & no need to QA.
closing

[2020-11-05 14:24] #2111 closed

[2020-11-05 17:58] serdiukov-o-nordwhale commented on #2575
@sirpy I created PR solving retry screen issue with 'maxRetries' option:
https://github.com/GoodDollar/GoodDAPP/pull/2703

Also i found some issues with attempts tracking was related to cached and outdated values from GDStore.
Duplicating the whole FV state in the local refs solved the issue
This probably could  also solve some other issues related to reporting FV errors (like 'undefined' in attem

[2020-11-05 21:47] sirpy commented on #2705
@WolfVV i'm not able to recreate. does this repeats itself? does it happen when you do a specific set of actions like in the video?

[2020-11-05 21:56] sirpy commented on #2037
torus has their own RN package

[2020-11-05 21:56] #2037 closed

[2020-11-06 10:13] WolfVV commented on #2706
@sirpy user got the "you already used this mobile " pop-up but he can continue to sign up and create  a wallet
Video: https://www.screencast.com/t/N07Z1umzW8P

Checked on  QA 1.9.1-0  /  native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.183

[2020-11-06 10:13] #2706 closed

[2020-11-06 10:14] WolfVV commented on #2705
@sirpy I've tested sign up today and now that error isn't reproduced
Checked on QA 1.9.1-0 / native 1.3.1-1
Desktop: Windows 10 // Google Chrome 86.0.4240.183

[2020-11-06 10:14] #2705 closed

[2020-11-06 10:28] WolfVV commented on #2694
@serdiukov-o-nordwhale @mauriguz wallet deleted successfully
Video: https://www.screencast.com/t/oaMlR88l
Checked on QA 1.9.1-0 / native 1.3.1-1
Desktop: Windows 10 // Google Chrome 86.0.4240.183

[2020-11-06 10:28] #2694 closed

[2020-11-06 12:37] WolfVV opened #2707 "(BUG) [RN] User isn't able to get into the wallet via login after logging out"
Precondition:
The "Home" page is opened (user logged in via google or created a new wallet via google)

Steps to reproduce:
1) Click the "Log out" button
2) log in to wallet again
3) Pay attention to the fact that the user isn't able to log in at all

Actual result: User isn't able to get into the wallet via login after logging out
Expected result: User should be able to get into the wallet via lo

[2020-11-06 12:39] WolfVV commented on #2698
@sirpy Issue isn't reproduced anymore but we have another issue
I've created a new wallet and I couldn't get into the wallet via login after logging out.   separated #2707

[2020-11-06 12:39] #2698 closed

[2020-11-06 12:44] WolfVV commented on #2693
@mauriguz app is updated and after page refreshing the update pop-up doesn't appear anymore
Checked on QA 1.9.1-0 & native 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75

[2020-11-06 12:44] #2693 closed

[2020-11-06 12:54] WolfVV opened #2708 "(BUG) [RN] The "You already used this mobile" pop-up is displayed after selecting a mailbox"
Precondition:
The "welcome to goddollalr" start page is opened

Steps to reproduce:
1) Click the "Sign up" button
2) Click the "Agree& sign up with Google" button
3) Select email
3) Pay attention to the "You already used this mobile" pop-up

Actual result:  The "You already used this mobile" pop-up is displayed after selecting a mailbox
Expected result:  The "You already used this mobile" pop-up s

[2020-11-06 13:07] WolfVV commented on #2557
@mauriguz issue reproduced again
In the video, you can see
1) Creating a new wallet
2) Logging out
3) Trying to get into via pass phrase (closer to the end of the video)
https://www.screencast.com/t/7MaQ3c2Otk

[2020-11-06 20:27] serdiukov-o-nordwhale commented on #2701
@MarianoAmado please

1. create RN PR from #2711 's commits
2. make it working on RN web and native. I suppose all you need is to add proper native styles here using `Platform.select`: https://github.com/GoodDollar/GoodDAPP/pull/2711/files#diff-e790f60d628fc2beea7a953ba14aeae9a95a8f2ad1c120f9582cb23c85061521R47
Like you fixed #2709

[2020-11-07 02:55] mauriguz commented on #2557
@WolfVV this doesn't seem RN only, I reproduced on gooddev too.
@sirpy error seems to be coming from the backend, post call to _/userExists_ always returns `{"ok": 0, "exists": false}`. from the frontend we're sending _identifier_, logs in heroku show that identifier is correct but _existing_ array is always empty. any suggestions?

[2020-11-08 08:20] sirpy opened #2712 "(Bug) dashboard not updating"

[2020-11-09 09:18] WolfVV commented on #2707
@mauriguz @sirpy User is able to get into the wallet via login after logging out
Video: https://www.screencast.com/t/KYVrCL7HU
Checked on  QA 1.9.1-0 // native V 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.183
Samsung S8 // Android 8

[2020-11-09 09:18] #2707 closed

[2020-11-09 09:28] #2535 closed

[2020-11-09 09:28] sirpy commented on #2535
will be on gooddollar.org only

[2020-11-09 10:17] sirpy opened #2714 "users should have a valid mauticid"
* some users mauticid on server doesnt exists in mautic
* add an update to send user email + mobile to server
* on server add user to mautic

[2020-11-09 10:36] WolfVV commented on #2672
@mauriguz @sirpy user is able to send G$ without error (tested with a message and without)
Video: https://www.screencast.com/t/wDCK8mur
Checked on QA 1.9.1-0 // native V 1.3.1-1
Desktop: Windows 10 // Google Chrome 86.0.4240.183
Samsung S8 // Android 8

[2020-11-09 10:36] #2672 closed

[2020-11-09 11:25] WolfVV commented on #2557
@sirpy @mauriguz works as expected
https://www.screencast.com/t/okl7ZSSRr
Checked on dev // native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.183

[2020-11-09 11:25] #2557 closed

[2020-11-09 11:54] serdiukov-o-nordwhale opened #2715 "Faceverification QA server goes down after some time worked"
- [x] check why it happens
- [ ] fix

[2020-11-09 13:01] WolfVV commented on #2708
@sirpy now user see the  "you already used this account..." in two cases - after 1) selecting a mailbox and 2) entering the mobile number
is it the expected result? or in the second case it should be "you already used this mobile.. "??
https://www.screencast.com/t/jdHKXeOqZHC

[2020-11-09 13:03] WolfVV commented on #2657
@mauriguz now the pop-up shadow is displayed as expected
![Screenshot_20201109-140357_Chrome.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/d4aa2567-226a-416f-ba0a-773ce56fe31c)
![Screenshot_20201109-145408_Chrome.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/5d080434-7072-4c7f-a4da-dadac43980c3)

[2020-11-09 13:03] #2657 closed

[2020-11-09 13:49] WolfVV opened #2716 "(BUG) [RN] Update failed. Invalid value at 'fullName.display'"
Precondition:
The "Welcome to gooddollar" page is opened

Steps to reproduce:
1) log in to the wallet that has some G$ and there should be  passed FV
2) Pay attention to the error message and your wallet looks like  a newly created one

Actual result: The wallet is displayed like a newly created one after log in/ But after refreshing it looks well - this happening sometimes
Expected result: The wa

[2020-11-09 15:58] WolfVV commented on #2495
@sirpy the passwordless buttons should be aligned at the same high on the different screens
![Screenshot_20201109-150730111_Chrome.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/bf024b55-2214-4373-ad14-62a0f9fe9514)

[2020-11-09 16:10] LiavGut commented on #2495
@sirpy @WolfVV The buttons and also the titles should be aligned.
![slack-imgs copy](https://user-images.githubusercontent.com/54103946/98565789-b1f5cb80-22b6-11eb-9ad6-a4b6280e98e3.jpg)

[2020-11-09 16:21] WolfVV opened #2717 "(BUG) [RN] The camera access pop-ups are displayed without an image"
Precondition:
The "Send" page is opened
Camera permission is set - (ask) default

Steps to reproduce:
1) Click the "Scan QR code" button
2) Pay attention to the pop-up without image

Actual result: The camera access pop-ups are displayed without an image
Expected result: The camera access pop-ups are displayed with an image
Note: Also tested on QA env -  isn't reproduced

Checked on native 1.3.1-1

[2020-11-09 20:24] sirpy commented on #2708
@WolfVV please try again.
and also in console open the result of `checking userAlreadyExist` `existsResult`

[2020-11-09 20:31] sirpy commented on #2716
@WolfVV pushed a possible fix to prevent error. in anycase i dont think the error is related to the 0 balance. it looks like both were caused by temporary network failure

[2020-11-09 20:59] sirpy commented on #2495
@WolfVV fixed

[2020-11-10 09:45] WolfVV commented on #2708
@sirpy ![2020-11-10_11-42-55.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/9a6ac966-96a2-4fab-9ed8-e861a1e4cf44)

[2020-11-10 09:49] serdiukov-o-nordwhale commented on #2660
zoom session timeout - it's a generic ZoOm error which appears if user haven't finished FV session in some time (was unable to position his/her face correctly or haven't interacted at all). We're handling it and processing as the failed attempt

The other issues were resolved & fixed

[2020-11-10 10:38] WolfVV commented on #2495
@sirpy the passwordless buttons are a little different by width if compare with google and Facebook on the mobile chrome
![Screenshot_20201110-12002111.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/45308397-f878-4b5b-99a5-ee5d0a6c4fa7)
Pixel 3// Android 8

[2020-11-10 11:05] WolfVV commented on #2716
@sirpy tested and wasn't reproduced
it's a rare case so I will reopen this ticket if I find the problem again

[2020-11-10 11:05] #2716 closed

[2020-11-10 11:13] #2701 closed

[2020-11-10 13:20] #2663 closed

[2020-11-10 13:20] WolfVV commented on #2663
@serdiukov-o-nordwhale @sirpy user gets the "switch to another device" screen after third scanning fake face
https://www.screencast.com/t/TKqK0DJy
Checked on  QA 1.9.1-2
Desktop: Windows 10 // Google Chrome  86.0.4240.183
Samsung S9 // Android 10

[2020-11-10 13:25] WolfVV commented on #2575
@serdiukov-o-nordwhale user gets the "switch to another device" screen after third scanning fake face
https://www.screencast.com/t/TKqK0DJy
Checked on QA 1.9.1-2
Desktop: Windows 10 // Google Chrome 86.0.4240.183
Samsung S9 // Android 10

[2020-11-10 13:25] #2575 closed

[2020-11-10 15:20] serdiukov-o-nordwhale commented on #2715
@sirpy
I've downloaded and checked the Docker logs for the container running custom ZoOm server
Unfortunately i couldn't got any possible reason why server got stuck sometimes.
The logs contains the generic messages only - access logs, FV errors (such as enrollment doesn't exists, already enrolled, liveness failed etc)

But, i got the backend logs from goodserver-qa - we receiving an 504 Gateway T

[2020-11-10 16:24] WolfVV commented on #2708
@sirpy fixed
![Screenshot_1.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/c6d0cb83-4991-453c-84da-5dacf8b95694)

[2020-11-10 17:06] WolfVV commented on #2691
@sirpy for qa works as expected but for native not automatically
Video: https://www.screencast.com/t/CqndySMXxwa

[2020-11-10 17:24] WolfVV commented on #2673
@sirpy still reproduced on qa and antive
![2020-11-10_19-12-17.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/c3e661ef-48ef-4770-ba5e-48b1d04e98d0)

[2020-11-11 08:32] sirpy commented on #2495
@WolfVV fixed buttons height on mobile

[2020-11-11 08:47] #2708 closed

[2020-11-11 09:21] sirpy commented on #2673
@WolfVV that's aligned
@LiavGut

[2020-11-11 09:24] WolfVV commented on #2495
@sirpy height is fixed
but buttons aren't aligned between sign up/ login screen
![Screenshot_20201111-105832.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d
260d1b94/8e22369f-c33a-49b3-9522-c5435860b3d8)

[2020-11-11 09:27] sirpy commented on #2691
@WolfVV fix was missing from RN. updated.

[2020-11-11 09:32] sirpy commented on #2715
ok 10x. yeah probably memory issues

[2020-11-11 09:32] #2715 closed

[2020-11-11 09:33] WolfVV commented on #2261
@sirpy @LiavGut implemented according to requirements
![Screenshot_20201111-105638.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/0ea3c146-471b-4f60-976d-cf8cc9cad6a2)![Screenshot_20201111-105935.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/b12ac5e0-33ee-487e-89fd-67d7b48343bc)![Screenshot_20201111-110916.png](https://images.zenhubusercontent.com/5f5a0b528

[2020-11-11 09:33] #2261 closed

[2020-11-11 09:35] LiavGut commented on #2673
@sirpy It's aligned to the bottom line,  but the '$' sign is still bigger.

[2020-11-11 09:42] serdiukov-o-nordwhale commented on #2529
@sirpy still no feedback/screen recordings from @Esfir-E
I asked her on our sync regarding analytics 2-3weeks ago, she have promised to prepare screen recordings but actually haven't provided it yet

[2020-11-11 09:43] WolfVV commented on #2678
@serdiukov-o-nordwhale @sirpy error isn't reproduced and user is able to delete wallet when the Zoom server is down
https://www.screencast.com/t/GRqtrtvZ

[2020-11-11 09:43] #2678 closed

[2020-11-11 10:23] WolfVV commented on #2691
@sirpy works as expected
https://www.screencast.com/t/JpvaIUase4e

[2020-11-11 10:23] #2691 closed

[2020-11-11 11:03] serdiukov-o-nordwhale commented on #2617
The code causing the issue was refactored and changed in the latest version. Now this issue couldn't happens

[2020-11-11 11:03] #2617 closed

[2020-11-11 11:42] sirpy commented on #2673
@WolfVV liav tested it on goodqa and he said its looks ok there.
is the image you sent form goodqa or rn?

@WolfVV @LiavGut i'm closing this for now.

[2020-11-11 11:42] #2673 closed

[2020-11-11 12:01] WolfVV commented on #2712
@sirpy the data is displayed for the current day for all charts/boxes

[2020-11-11 12:04] sirpy commented on #2508
doesnt seem to repeat

[2020-11-11 12:04] #2508 closed

[2020-11-11 12:07] sirpy commented on #2665
@WolfVV see if you can re-create this

[2020-11-11 14:18] #2049 closed

[2020-11-11 14:19] #2054 closed

[2020-11-11 17:06] serdiukov-o-nordwhale commented on #2661
Was unable to reproduce this using Android emulator.
I analyzed the all sharing calls in the code - we're always doing it under some user's interaction (e.g. button press)
But sometimes browser could refuse if there're a lot of actions inside press handler and share call, especially some async operations.
See this example: https://stackoverflow.com/questions/56136692/notallowederror-must-be-handli

[2020-11-11 19:00] sirpy commented on #2661
I once encountered an issue in iOS that if the method called from onpress
was async it  wasnt considered user interaction.
Can we refactor the code for the method not to be async?
Do we have still have reports of this issue in production?

[2020-11-11 23:42] mauriguz commented on #1199
PR merged. There's nothing for QA to test so I'm closing this issue.

[2020-11-11 23:42] #1199 closed

[2020-11-12 09:01] sirpy opened #2723 "Donations"

[2020-11-12 09:02] sirpy opened #2724 "Governance MVP"
* rep token
* initial rep merkel hash generator + proover
* compound voting machine
* upgrade rep token
* vote new voting machine
* remove absolute vote

[2020-11-12 09:02] #1137 closed

[2020-11-12 09:04] #1139 closed

[2020-11-12 09:04] #1335 closed

[2020-11-12 09:05] #1621 closed

[2020-11-12 09:05] sirpy opened #2725 "Discovery V1"

[2020-11-12 09:43] serdiukov-o-nordwhale commented on #2661
Yes, it happened on some particular devices & systems. On my iPhone 7 Plus / IOS13 and Android 8/10 ran in the emulator this isn't reproduced.

Yes. But as i see from the stack trace we also find way have to reduce calls chain. We have a lot of hooks using vars from other hooks. This also could cause browser to "forgot" user interaction. I'll work on the new useNativeSharing prototype today. From

[2020-11-12 09:49] sirpy commented on #2661
ok

[2020-11-12 12:55] serdiukov-o-nordwhale commented on #2661
@sirpy here's working prototype:

[code]

Usage:
[code]

With this hook and share handler passed directly to onPress Share() call performs just after onClick was trigerred:
![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/61b6122e-6354-43a6-a782-4f082643774f)

Comparing with the current stack trace:
[code]

[2020-11-12 13:22] WolfVV opened #2726 "(BUG) [Desktop] Buttons are displayed too high on the "WELCOME TO GOODDOLLAR!" page"
Steps to reproduce:
1) Open the "WELCOME TO GOODDOLLAR!" page
3) Pay attention to the buttons

Actual result:   Buttons are displayed too high on the "WELCOME TO GOODDOLLAR!" page
Expected result:  Buttons are displayed at the bottom of the "WELCOME TO GOODDOLLAR!" page

______________________________________
Checked on  prod 1.10.1
Desktop: Windows 10 // Google Chrome  86.0.4240.183
![2020-11-12_

[2020-11-12 14:52] #2726 closed

[2020-11-12 14:52] sirpy commented on #2726
not a bug. similar to signin /signup

[2020-11-12 17:39] mauriguz commented on #2565
PR merged. There's nothing for QA to test so I'm closing this issue.

[2020-11-12 17:39] #2565 closed

[2020-11-12 17:40] mauriguz commented on #2646
@WolfVV do you need help testing this?

[2020-11-12 20:42] sirpy commented on #2661
ok. why are you using useRef? why are you using alert with customerrormessage?
otherwise looks good

[2020-11-13 01:29] mauriguz commented on #2550
update: react-native-dotenv is not being used, so I removed it and instead updated react-native-config. desc updated to reflect this changes

[2020-11-13 10:17] WolfVV commented on #2495
@sirpy aren't aligned
![Screenshot1111.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/d42a2215-ec6f-4c33-930d-ad625d0ae87f)
Checked on  native  1.3.1 // qa
Desktop: Windows 10 // Google Chrome  86.0.4240.183
Samsung S9 // Android 10
OnePlus 5t	9.0.6

[2020-11-13 13:39] WolfVV commented on #2646
@mauriguz good market button is aligned
![Screenshot_20201113-150541.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/b11ae327-e045-49f7-93e2-467e5e32f57a)
![2020-11-13_15-04-23.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/b6c5882e-6c80-485a-a021-b8faa8a39418)

[2020-11-13 13:50] WolfVV commented on #2684
@sirpy still reproduced on qa
also reproduced for RN
![2020-11-13_15-45-12.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/66cbce9a-42a6-4c42-849b-6e8dda613444)
Checked on QA 1.10.0  // native 1.3.1-1
Samsung Galaxy S9 // Android 10
iPhone 8 //13.3.1

[2020-11-13 13:52] WolfVV commented on #1995
isn't able to debug ios 10.0.2

[2020-11-13 13:52] #1995 closed

[2020-11-13 13:53] #1711 closed

[2020-11-13 13:53] WolfVV commented on #1711
for now, that function isn't available

[2020-11-13 14:52] #2717 closed

[2020-11-13 14:52] WolfVV commented on #2717
![2020-11-13_14-39-16.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/3e4c4156-e2da-4159-91b4-c9f44513aff6)
Checked on native
Desktop: Windows 10 // Google Chrome  86.0.4240.183
Samsung S9 // Android 10
OnePlus 5t	9.0.6

[2020-11-13 15:19] WolfVV commented on #2665
@sirpy  this issue isn't reproduced /user gets the claim card

[2020-11-13 15:19] #2665 closed

[2020-11-13 15:44] WolfVV commented on #2619
@sirpy tested specific and link receive, all tries were with the name as expected
![2020-11-13_17-23-18.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/31318c00-ad22-45f6-86bf-73ab4beed59e)
Checked on  qa1.10.0/prod 1.10.1

[2020-11-13 15:44] #2619 closed

[2020-11-13 16:17] WolfVV opened #2727 "(BUG) All "Total G$ supply" chart's values are zero"
Steps to reproduce:
1) Open the "Statistic" page
2) Pay attention to the "Total G$ supply" chart

Actual result: All "Total G$ supply" chart's values are zero
Expected result: All "Total G$ supply" chart's values should be according to the actual supply

______________________________________
Checked on prod 1.10.1
Desktop: Windows 10 // Google Chrome  86.0.4240.183
![2020-11-13_17-10-39.jpg](http

[2020-11-13 16:26] WolfVV commented on #2673
@sirpy both QA and native the same

[2020-11-13 16:53] WolfVV commented on #2661
@sirpy @serdiukov-o-nordwhale
Precondition:
Specific receive/ the "Share" button is displayed
Steps:
1) Fast double-tap the "Share" button
2) Use the "Copy to clipboard" method (it doesn't matter I think)
3) Pay attention the user is stuck (automatically should be opened dashboard after coping)
4) Refresh the page
5) Pay attention to the error message in the cosole

https://www.screencast.com/t/Ca

[2020-11-14 05:17] mauriguz opened #2728 "(Bug) [Native] Crashing styles for native"
After recent changes in the app styling we've found places where the app crashes because of unsupported props (web-only props). We need to add conditionals for native and ensure interface looks as expected

[2020-11-15 07:19] sirpy commented on #2646
@WolfVV @mauriguz
this needs to be tested on native app

[2020-11-15 08:19] sirpy commented on #2495
@WolfVV pushed another fix

[2020-11-15 12:07] serdiukov-o-nordwhale commented on #2661
the callback should never change during component lifecycle. this allows to reduce hooks call chain to the minimal

it's just draft / concept of proof made in a separate create-rnw-app instance
i didn't wanted to move anything from gooddapp so i used alert() instead of showErrorDialog here

[2020-11-15 12:50] Esfir-E opened #2731 "Events for the new signup/login flow"
We should add events on the following buttons and actions -

- [x] Signup (create new wallet) button
- [x] Already have a wallet
- [x] signed up via passwordless
- [x] dont have social account?
- [x] Login passwordless
- [ ] Inserting the Code from the login passwordless
- [x] Signup  passwordless
- [ ] Inserting the Code from the signup passwordless
- [ ] Back button from signup to welcome to goo

[2020-11-15 16:14] LiavGut commented on #2478
@sirpy
The only responsive component is the 'Daily Claim Amount' Frame. Only the Dark Blue frame gets wider depending on the Claim's characters' amount.

In the case of big-screen devices, increase the margin between the bottom visual and the button.
Other than that. Don't change the margins.

[2020-11-16 08:37] WolfVV commented on #2684
@sirpy retested
for qa it's displayed well
but for  native issue is reproduced
![2020-11-16_10-29-28.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/691361ca-0303-4de6-a568-219560672fb5)
![2020-11-16_10-31-14.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/bc3a3074-6c30-48dd-af6d-e0f92559dda2)

[2020-11-16 08:59] WolfVV commented on #2495
@sirpy  buttons aren't aligned between sign up/ login screen
![Scree20201116-105142_Chrome.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/d7a30f0b-13f6-421a-96ea-ccf3a5599e44)

[2020-11-16 10:19] sirpy opened #2734 "define Invites card text and behaviour"
For new users we show an invite card in feed (2 minutes after they open the wallet)
Card title: 'Invite your friends now',
Subtitle: 'and let them also claim free G$`s.'

Currently when user presses on the card it redirects them to the invites page.
Previously clicking on the card opened a modal with further text and a button "invite friends"

- [ ] decide if new texts is required
- [ ] decide if

[2020-11-16 10:26] sirpy commented on #2495
@WolfVV thats ok

[2020-11-16 10:26] #2495 closed

[2020-11-16 10:32] Esfir-E commented on #2734
1. the existing text is fine.
2. Card should be shown to new users and users that didnt login to the wallet for 14 days
3. We should keep the current behavior, success on the click should take the user to invite page

[2020-11-16 10:32] #2734 closed

[2020-11-16 13:21] WolfVV opened #2735 "(BUG) [RN] Error: Minified React error #62"
Precondition:
The context menu is opened
Steps to reproduce:
1) Click the "Profile" button
2) Click the "Edit" button
3) Pay attention to the error

Actual result: Blank page is displayed after clicking the "Edit" button
Expected result: The "Edit profile" page is displayed after clicking the "Edit" button
Note: only native web issue
______________________________________
Checked on  native 1.3.1-

[2020-11-16 14:54] sirpy opened #2736 "invites todo"
- [x] texts
- [x] invite link landing page url
- [ ] what initiate the bounty redemption
- [ ] should copying the invite url also include a  text

---
- [ ] card reminder after two weeks wallet wasnt opened (just once)
- [x] bounty from user level
- [x] native share should include text  with url

[2020-11-16 15:41] mauriguz opened #2737 "(Bug) [RN] Design fixes"
## Balance
- [x] align balance
- [x] font seems incorrect

## signup user exists pop
- [x] space between buttons and text doesnt match design/master

## profile edit
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/bca40a96-8609-4a96-bcd0-94df2ed133f7)
https://xd.adobe.com/spec/8f259bcd-550e-4f0c-40bb-bdce2ed36fe5-f914/screen/e1ee5a72-49c0-4102-ba3d-62ec5ecfdab6/

## spla

[2020-11-16 15:44] mauriguz opened #2738 "(Bug) [Native] - Feed items G$ amount is cut off at the top"
Screenshot from emulator:

![image.png](https://images.zenhubusercontent.com/5e94651b99a626376722758d/688c4429-e955-49b2-95e5-157e11c1587a)

Expected result: All texts are visible and without cuts, matching designs
Actual result: Everything looks good with the exception of G$ amount, there's a cut at the top that affects the number

[2020-11-16 16:03] mauriguz commented on #2646
@WolfVV

| Android | iOS |
| ------ | ------ |
| ![image.png](https://images.zenhubusercontent.com/5e94651b99a626376722758d/cd1a2daf-656e-4d08-9333-62d5fa5b91ee) | ![image.png](https://images.zenhubusercontent.com/5e94651b99a626376722758d/ab4d67d8-48fa-4d95-ba5d-edd93bc26b52) |

[2020-11-16 16:09] mauriguz commented on #2728
So far I identified approx 7 files that need fixing as part of this issue. All of them are crashing when going through signup router and in the dashboard once logged in

[2020-11-16 16:51] WolfVV commented on #2646
@sirpy buttons are displayed as expected for native app for both android and ios

[2020-11-16 16:51] #2646 closed

[2020-11-16 19:22] sirpy opened #2740 "(Bug) user not able to login with passwordless on ios 14.1"
@WolfVV please test login flows with latest iOS and report

[2020-11-17 00:17] mauriguz commented on #2738
I've been able to reproduce in iOS too, so this is for both iOS and android

![image.png](https://images.zenhubusercontent.com/5e94651b99a626376722758d/7fb2c265-35bf-41de-b0c9-513a3b6d1afe)

[2020-11-17 02:06] drptiago opened #2741 "Change the events pushed to Data Layer ( Google Analytics )"
**About:**

Currently the events pushed to the Data Layer have different events name.  In order to avoid get wrong events in Analytics (today they are get through REGEX instead looking to a specific name) and make the maintenance easy (because I can use just one tag to handle with all events and automatically handle with future events)  I suggest change the **event**  and **eventAction** pushed to

[2020-11-17 07:49] sirpy commented on #2740
Created via Reamaze:

Link: /admin/conversations/wallet-access-probs
Assignee: Hadar Rottenberg

Message:
My access prob might have to do with a recent auto-update to IOS 14.1

[2020-11-17 09:06] WolfVV commented on #2735
@mauriguz fixed
https://www.screencast.com/t/QyGKOTwGKH1
Checked on native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.183
iPhone 8 //13.3.1

[2020-11-17 09:06] #2735 closed

[2020-11-17 12:58] WolfVV opened #2743 "(BUG) [RN] The "We were unable to complete the signup" error message isn't displayed after canceling sign up process"
Precondition:
The "Welcome to good dollar" page is opened
Steps to reproduce:
1) Click the "Sign up (Create new wallet)" button
2) Click the "Agree & Sign up with Google" button
3) Pay attention to the lack of error message

Actual result: The "We were unable to complete the signup" error message isn't displayed after canceling sign up process
Expected result: The "We were unable to complete the s

[2020-11-17 13:46] WolfVV commented on #2740
@serdiukov-o-nordwhale tried many times but mostly everything ok, only once I met this issue (see screenshot)
![unnamed.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/13a96a5a-5959-4f38-ac17-3dde352f6069)
Video(successful sign up):https://www.screencast.com/t/ay8MgwYIxH
Tested for iPhone X //ios 14.0.1

[2020-11-17 13:52] WolfVV commented on #2684
@sirpy for native is still reproduced
![2020-11-17_15-51-15.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/47350190-a677-4985-aec9-5316c4d8c956)

[2020-11-18 08:59] WolfVV opened #2744 "(BUG) Error: sendTransaction error. Transaction has been reverted by..."
Precondition:
The context menu is opened
Steps to reproduce:
1) Click the "Delete account" button
2) Confirm deleting
3) Pay attention to the error message in the console

Actual result: The error message is displayed during deleting the wallet
Expected result: The error message shouldn't be displayed during deleting the wallet
**Note: reproduced only for QA**

Checked on QA V 1.10.1-0   //  nativ

[2020-11-18 11:58] serdiukov-o-nordwhale commented on #2740
This is an already-known bug of Safari running under iOS. On IOS12 is caused the issues with PDFs preview / download
The issue is in `blob:` protocol support which allows to download/display files generated browser-side

Last time there were some workarounds and then issue was fixed in the next Safari releases.
For now i could propose to update to the latest Torus SDK version 3.5.1 I checked it's

[2020-11-18 12:04] serdiukov-o-nordwhale commented on #2268
@sirpy

- is in v9 facetec also rolls production keys ?
- probably we'll attach this task to the v9 epic and will do that change for the new v9 api ?

[2020-11-18 12:05] sirpy commented on #2684
@WolfVV the previous deploys to goodnative failed, thats why.
its currently deploying again, so check soon

[2020-11-18 12:08] sirpy commented on #2268
ok

[2020-11-18 12:22] sirpy commented on #2731
@Esfir-E
its not possible to catch the event of entering code when using passwordless as it is on auth0 app not ours
we dont have specific event for backbutton from screen X but we have the GOTO_WELCOME event
so you should be able to select users that did SIGNUP_SELECTED->GOTO_WELCOME which should give you users that did back button from signup

the only event that was missing is "already has wall

[2020-11-18 12:34] serdiukov-o-nordwhale commented on #2595
Hotfixed, ready to test:

https://github.com/GoodDollar/GoodDAPP/commit/ff4c5771f21c7e0427b4a4508b671bd78b4f3311
https://github.com/GoodDollar/GoodDAPP/commit/67d46e4fadeed82609fbe4a4f49696ef364465cf
https://github.com/GoodDollar/GoodDAPP/commit/d33f29735d43397999a28418789fbda78bb1b073

[2020-11-18 13:53] sirpy commented on #2478
@Esfir-E tal thinks the texts are not enough explanatory and clear.
go over it with jessica or anna please

[2020-11-18 14:59] #2413 closed

[2020-11-18 15:56] mauriguz opened #2745 "(Chore) Release native app to stores automatically"
We need to setup a workflow using github actions to automatically release the native app (both iOS and android) to their respective stores.

- [x] clean and explain iOS different identities/profiles etc
- [x] clean appcenter projects
- [x] supply Hadar guides to setup production configuration on play store
- [x] supply Hadar with guides to setup on apple store and submittiing it to store
- [x] use

[2020-11-19 09:34] sirpy commented on #2529
@Esfir-E you never gave us any data.
is this issue still happening? have you heard about it in support?

[2020-11-19 17:40] serdiukov-o-nordwhale commented on #2659
updated blockchain provider to collect dailyUBIHistory.openAmount, opened PR

[2020-11-19 17:51] serdiukov-o-nordwhale commented on #2659
https://github.com/GoodDollar/GoodDashboard/pull/47

[2020-11-20 09:50] WolfVV commented on #2743
@sirpy @serdiukov-o-nordwhale faced that error on QA env

[2020-11-20 11:29] #2727 closed

[2020-11-20 11:29] WolfVV commented on #2727
@sirpy fixed
![2020-11-20_13-26-50.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/4f110711-16b6-4abc-8d48-9ef739c71296)

[2020-11-20 11:42] WolfVV commented on #2740
@serdiukov-o-nordwhale reproduced on QA and native
https://www.screencast.com/t/SwtNJ5Rwwl6W
iPhone X //ios 14.0.1

[2020-11-20 12:05] WolfVV commented on #2202
@serdiukov-o-nordwhale @sirpy the "Next" button isn't active if the email contains the invalid characters
https://www.screencast.com/t/iGnZGwdrjeZL
Checked on  QA 1.10.1-1  // native 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.183

[2020-11-20 12:05] #2202 closed

[2020-11-20 12:14] WolfVV commented on #2595
@serdiukov-o-nordwhale @sirpy title tag is changed to "GoodDollar | [this part is displayed according to where you are located]"
![2020-11-20_14-05-46.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/82ccd51a-f7a3-4d54-9024-3658a6324994)

[2020-11-20 12:14] #2595 closed

[2020-11-20 12:34] #2684 closed

[2020-11-20 12:34] WolfVV commented on #2684
@sirpy on native looks well
![2020-11-20_14-32-52.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/a3fa7cc5-492c-497b-a1d7-179b3de8d231)

[2020-11-20 14:20] WolfVV commented on #2661
@serdiukov-o-nordwhale issue is still reprodused
![2020-11-20_16-10-54.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/d8ce6f95-f56f-44ef-adc7-e3942701dbe3)
https://sentry.io/organizations/gooddollar/issues/1899378143/?environment=staging&project=1829798&query=Failed+to+execute+%27share%27+on+%27Navigator%27&statsPeriod=14d

[2020-11-20 14:44] WolfVV commented on #2731
@sirpy @Esfir-E
Signup (create new wallet) button  --> GOTO_AUTH
Already has a wallet --> SIGNUP_EXISTS
signed up via passwordless  --> SIGNUP_METHOD_SELECTED
 dont have social account?  --> SIGNUP_METHOD_SELECTED
 Login passwordless  --> SIGNIN_METHOD_SELECTED
 Inserting the Code from the login passwordless  --> it's not possible to catch
 Signup passwordless  --> SIGNUP_METHOD_SELECTED
 Insertin

[2020-11-20 14:44] #2731 closed

[2020-11-20 16:20] #2660 closed

[2020-11-20 16:20] WolfVV commented on #2660
@serdiukov-o-nordwhale @sirpy trimEnd is not a function &  server api call timeout aren't reproduced
Checked on  QA 1.10.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.183
Samsung S8 // Android 8

[2020-11-20 17:13] WolfVV opened #2748 "(BUG) The social buttons are absent on the "Invite" page"
Steps to reproduce:
1) Open the "Invite" page **on ios/android device**
2) Pay attention to the lack of social buttons

Actual result: The social buttons are absent on the "Invite" page
Expected result: The  social buttons are displayed on the "Invite" page
Note; only ios/android. Buttons are displayed for desktop
______________________________________
Checked on  QA 1.10.1-1
iPhone 8 //13.3.1
Sam

[2020-11-21 18:10] sirpy commented on #2748
this is not a bug.
on mobile the button says share, clicking on it should open native share
on desktop it should say copy and have the social buttons bellow

[2020-11-21 18:10] #2748 closed

[2020-11-22 06:51] sirpy commented on #2740
@WolfVV please test on latest IOS. if it works we'll ask users to update their iOS version

[2020-11-22 12:26] serdiukov-o-nordwhale commented on #2661
hotfixed:

https://github.com/GoodDollar/GoodDAPP/commit/dbdfdd1993f9c21cff70201f8bd503a33c75f39c
https://github.com/GoodDollar/GoodDAPP/commit/0bd09babcc2d14b34dd3119fdbad93d0e8a079f8
https://github.com/GoodDollar/GoodDAPP/commit/8f3b89f3679f33931315739bb25d440e14f1ba85

[2020-11-22 12:27] serdiukov-o-nordwhale commented on #2744
@sirpy Isn't the issue is related to the contracts ?

[2020-11-22 17:00] serdiukov-o-nordwhale commented on #2659
@sirpy @Esfir-E
Is that text is ready ? Could you please provide it ?

[2020-11-23 13:48] WolfVV commented on #2661
@serdiukov-o-nordwhale issue isn't reproduced anymore
but after copying to the clipboard the send screen with the "share" button isn't closed - will separate to another issue
https://www.screencast.com/t/J1AGHcpiNyzG

[2020-11-23 13:48] #2661 closed

[2020-11-23 13:53] serdiukov-o-nordwhale commented on #2661
Please test on the native device. it's seems Chrome in mobile emulation mode doesn't have sharing popup and the share promise left unsettled

[2020-11-23 14:40] WolfVV opened #2749 "(BUG) The "Share" screen is displayed after selecting the "Copy to clipboard" method"
Precondition:
Create a send transaction and stop on the screen with the "Share" button
Steps to reproduce:
1) Click the "Share" button
2) Select the "Copy to clipboard" method
3) Pay attention to displaying the "share" page

Actual result: The "Share" screen is displayed after selecting the "Copy to clipboard" method
Expected result: The dashboard is displayed after selecting the "Copy to clipboar

[2020-11-23 14:56] #2743 closed

[2020-11-23 14:56] WolfVV commented on #2743
@sirpy fixed https://www.screencast.com/t/FW3AtEXZ5XrO
Checked on  QA 1.10.1-1 & native
Desktop: Windows 10 // Google Chrome  86.0.4240.183
Samsung S9 // Android 10

[2020-11-23 16:11] serdiukov-o-nordwhale commented on #2749
https://stackoverflow.com/questions/49663206/navigator-share-wont-resolve-nor-reject-when-user-cancels-native-selector-on-an?answertab=active#tab-top

working on fix

[2020-11-23 18:36] serdiukov-o-nordwhale commented on #2749
@sirpy Unfortunately the fix doesn't works as expected - window doesn't triggers focus event just after sharing popup closed. You need also to click somewhere on the app UI, then event appears and sharing could be considered as done

I propose to use another workaround for Androind
 - call navigator.share inside try..catch
 - if any sync error happened - reject
 - otherwise race sharing result pro

[2020-11-23 19:12] serdiukov-o-nordwhale commented on #2749
of course we could find (experimental way) Android / Chrome versions where bug reproduces and use workaround only for them

[2020-11-24 09:45] sirpy commented on #2088
fixed in new design #2478

[2020-11-24 09:45] #2088 closed

[2020-11-24 09:49] #2333 closed

[2020-11-24 09:50] sirpy commented on #2529
@Esfir-E i'm closing this for now

[2020-11-24 09:50] #2529 closed

[2020-11-24 10:59] sirpy opened #2753 "User should see FV re-authentication message"
every "authentication" period user will need todo FV again
need to communicate this to user

* [ ] trigger to show explanation - user lastAuthenticated time in smart contract >  authenticationPeriod days
* [ ] show screen/popup explaining why (this will also re-learn user facemap)
* [ ] new possible error - face doesnt match user existing record

[2020-11-24 11:18] serdiukov-o-nordwhale commented on #2749
Moved to backlog, PR changed to the Draft

[2020-11-24 11:48] sirpy commented on #2753
@Esfir-E I  think we need to explain to users why they  need to  do faceverification again
lets discuss this

[2020-11-24 12:05] Esfir-E opened #2754 "Events Signin/Signup structure"
https://docs.google.com/document/d/1fFMQMwL-DXFU4H2XMqexpHKNaEFPI2_mar-TSAtT01o/edit

[2020-11-24 15:01] WolfVV commented on #2740
@sirpy  I didn't manage to reproduce this issue (tested on QA and prod)
iPhone 8 plus//14.2

[2020-11-24 15:04] WolfVV commented on #2740
but I encountered such issue only one time
https://www.screencast.com/t/3kmtAumxseAj

[2020-11-24 16:05] WolfVV commented on #2655
@serdiukov-o-nordwhale reproduced for QA and native env
![2020-11-24_17-32-50.jpg](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/b480c142-146c-4704-88e6-0086ff67c1db)

[2020-11-24 16:26] #2655 closed

[2020-11-24 16:26] serdiukov-o-nordwhale commented on #2655
zoom is down again

[2020-11-24 16:27] serdiukov-o-nordwhale commented on #2655
@WolfVV if you see that

![image.png](https://images.zenhubusercontent.com/5e6e2ca830bce88543e4cd2a/a69243d3-0957-4976-bf35-b576ab305282)

you could just notify us in the Slack that Zoom is down. No need to open ticket

[2020-11-25 08:24] WolfVV commented on #2744
@sirpy  reproduced for QA

[2020-11-25 10:18] sirpy commented on #2754
document updated with events

[2020-11-25 10:35] sirpy commented on #2741
@drptiago hotfixed, should be released in next version today or tomorrow

[2020-11-25 15:05] sirpy opened #2758 "Passwordless should use alternative sms methods"
Some users do not get the SMS, and are locked out of their account.
Modify GoodCFVerify to
- [x] for the 3rd SMS request use twilio's programable SMS
- [x] for the 4th request use verify 'voice' channel
- [x] we'll need to use a free redis service to keep count of the current number of tries per mobile. need to give records TTL of 5 minutes.

[2020-11-25 20:52] mauriguz opened #2759 "(Bug) [Native] Immediately after successfully recovering wallet with mnemonic the app crashes and closes itself"
Repro steps:
1. Start the app with self custody enabled
2. Access recover with mnemonic screen
3. Paste an invalid mnemonic
4. Popup of non-existing mnemonic successfully displays - press OK
5. Paste a valid mnemonic
6. App closes itself

**Update:** Android crashes, iOS doesn't crash but it doesn't redirect to dashboard

Expected result: When the mnemonic is successfully validated the app display

[2020-11-26 04:14] mauriguz opened #2760 "(Chore) [Native] Add modal jagged edge"
We need to replicate web's jagged edge in modals but for native. In the past we tried using react-native-linear-gradient but it didn't look ok, other possible options are using react-native-css-gradient or saving one triangle image and repeating it to look like web

[2020-11-26 07:37] sirpy opened #2761 "Wallet Experience"

[2020-11-26 11:12] WolfVV opened #2763 "(BUG) Error: torus login failed" "node results do not match at first lookup"
Precondition:
The login method via google is selected
Steps to reproduce:
1) Select mailbox to login
3) Pay attention to the error message

Actual result: User isn't able to log in
Expected result: User should be able to log in
Note: didn't reproduce for QA env

______________________________________
Checked on  NATIVE 1.3.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.183
Video: https://www.

[2020-11-26 13:23] WolfVV commented on #2604
@sirpy the invited user isn't displayed on the inviter's card after signing up through the invite link
Video: https://www.screencast.com/t/HcuE0IU9nMLY
Checked on  QA 1.10.1-1
Desktop: Windows 10 // Google Chrome  86.0.4240.183

[2020-11-26 19:54] sirpy opened #2764 "(Bug) native checkmark animation not working"
The animation crashes with an error (tested on android emulator)
We had similar issue in the past  with other animations

We have a checkmark animation in
- Claim screen - once user presses claim it start  showing the checkmark spinner,  when claim is done the animation is turned to a checkmark
- signup/profile edit sms/email code verification screen. if you press on send code again it shows a che

[2020-11-26 19:58] sirpy opened #2765 "(Bug) email/sms code verification not responsive"
When editing profile  email/mobile and asked to enter code
if i press anywhere on the screen so the input form is out of focus it is then not  possible to press on the input again
also not possible to press on the send me the code again link

this could also be effecting the signup process as it uses the same components

[2020-11-29 10:49] #2650 closed

[2020-11-29 16:17] tomerGD opened #2767 "Transfer public dashboard data base to "TheGraph""
Today all data on
dashaboard.gooddollar.org

is withdrawn from a system we developed.

The graph is a general product doing the same thing https://thegraph.com/

[2020-11-30 08:11] #2754 closed

[2020-11-30 08:12] #2668 closed

[2020-11-30 08:13] #2744 closed

[2020-11-30 08:14] #2740 closed

[2020-11-30 08:22] #2550 closed

[2020-11-30 08:40] Esfir-E opened #2768 "User should see new invite design"
We did a few changes in the following parts of the feature-

- [x] Main screen - feed new design
- [x] Main screen- new icon instead of the invite a reward+ notification on changes
  - [x] increase +1 when  a new friend joins or claims
  - [x] reset counter after user visits the invites page
- [x] Invite screen- new design for the instructions
- [x] Invite screen- social media buttons are aligned

[2020-11-30 09:21] sirpy commented on #2736
@Esfir-E open questions

## what initiate the bounty redemption - currently user need to open the invite page to trigger it
new question: what about the new invitee bonus?
options:
- after claim invitee triggers bonus redemption for both inviter and invitee
- inviter opens invite page and trigger bonus redemption for both

## should copying the invite url also include a text - when user press "cop

[2020-11-30 09:36] sirpy commented on #2768
@Esfir-E open questions

### what initiate the bounty redemption - currently user need to open the invite page to trigger it
new question: what about the new invitee bonus?
options:
- after claim invitee triggers bonus redemption for both inviter and invitee
- inviter opens invite page and trigger bonus redemption for both

### should copying the invite url also include a text - when user press "c

[2020-11-30 09:39] sirpy commented on #2736
replaced by #2768

[2020-11-30 09:53] Esfir-E commented on #2768
Hey

1. About the  initiate bounty redemption-  i prefer this option -after claim invitee triggers bonus redemption for both inviter and invitee
2. you mean like indication that it was indeed copied or the actual text- i dont think we need to display the actual text after user press 'copy'
3. i will have it by the end of the day from marketing
4. Yes still think the reminder is relevant in case th

[2020-11-30 09:57] #2736 closed

[2020-11-30 13:45] WolfVV opened #2769 "(BUG) Error: {"Claim"} "gatherStats failed" "HttpProvider ERROR"
Precondition:
The "Home" page is opened
Steps to reproduce:
1) Click the "Claim" button
2) Pay attention to the error after redirection to the "Claim" page

Actual result: The "gatherStats failed" "HttpProvider ERROR" error is displayed after clicking the "Claim" button on the dashboard
Expected result: The "Claim" page without error is displayed after clicking the "Claim" button on the dashboard

[2020-11-30 17:12] WolfVV commented on #2478
@sirpy GMT is absent for "claim cycle restart" box
![2020-11-30_18-42-04.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/ffc361ca-cc99-4a9a-908e-4108425a53d9)

[2020-11-30 17:41] WolfVV commented on #2034
@mauriguz @MarianoAmado login/sign up works as expected / without issues
Checked on  dev 1.3.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome  86.0.4240.183

[2020-12-01 03:27] mauriguz opened #2772 "(Bug) [Native] Goodmarket popup design is broken"
needs to match web design

<img src="https://images.zenhubusercontent.com/5e94651b99a626376722758d/209994ff-39b1-496c-832f-56fa083b030d" width="319" />

[2020-12-01 03:34] mauriguz opened #2773 "(Bug) [Native] Delete account fails with error"
When trying to delete my account, it fails with error (img attached)

**Repro steps:**
1. Open sidebar & press delete account
2. Confirm popup shows up, I confirm by pressing "delete"
3. Popup changes to loading state
Actual behavior: App crashes with error
Expected behavior: Delete account is confirmed

**Error:**

<img src="https://images.zenhubusercontent.com/5e94651b99a626376722758d/ff6ccf07-8

[2020-12-01 03:51] mauriguz commented on #2395
@sirpy logic is correct, there's only one change that needs to happen which is uncomment the subscribe method in AppSwitch.
appSwitch only takes care of redirecting while the router takes care of extracting params from the class and passing them to the specific screen. if we want to also send params from appSwitch as a fallback method we can easily do it by returning this.params when doing over()

[2020-12-01 03:54] mauriguz commented on #2763
@WolfVV could you please re-test this and let me know if it still happens? if it does, does it also happen to dev/qa?
thanks!

[2020-12-01 04:04] mauriguz commented on #2765
@sirpy I can't reproduce, tried android and web, everything works as expected both input and link. is this still happening to you? if so can you provide a video or other info so I can reproduce?

[2020-12-01 06:30] #2763 closed

[2020-12-01 07:06] sirpy commented on #2769
should be solved now. was missing alchemy key

[2020-12-01 07:11] sirpy commented on #2034
this should be tested on native

[2020-12-01 07:29] sirpy commented on #2773
@mauriguz please test and close if fixed

[2020-12-01 07:40] sirpy commented on #2395
1. where is the code that router extracts params and pass them to the screen
please show a video of payment link + invitecode working as expected on native
2. on web the extraction of params seems to be happening in navigateToUrlAction which calls getParams. so either this or the router extracting params is redundant
3. in appswitch navigateToUrl doesnt do anything on native, so it should be moved

[2020-12-01 08:00] WolfVV commented on #2769
@sirpy fixed
Video: https://www.screencast.com/t/67mwVA4h

Checked on  dev 1.3.1-1
Desktop: Windows 10 // Google Chrome   87.0.4280.66
Samsung S9 // Android 10

[2020-12-01 08:00] #2769 closed

[2020-12-01 10:44] WolfVV commented on #2712
@sirpy dashboard isn't updated - all charts and boxes are empty
![2020-12-01_12-40-40.png](https://images.zenhubusercontent.com/5f5a0b5287ed5e6d260d1b94/fa9c1f32-f2da-46ae-a40d-b6c715cf1bdc)

[2020-12-01 12:10] WolfVV opened #2774 "(BUG) The images are cut off on the camera permission pop-ups"
Precondition:
The "Home" page is opened
Camera permission set "Ask default"
Steps to reproduce:
1) Click the "Send" button
2) Click the "Scan QR" button
3) Pay attention to the images on the pop-ups

Actual result: The images are cut off on the camera permission pop-ups
Expected result: The images are displayed fully on the camera permission pop-ups

______________________________________
Checked

[2020-12-01 13:04] WolfVV opened #2776 "(BUG) The "Signup" page is opened after clicking the "Back" button on the "SIGN IN" page"
Precondition:
The "WELCOME TO GOODDOLLAR!" page is opened

Steps to reproduce:
1) Click the "Sign in" button
2) Click the "Back" button
3) Pay attention to the opened page

Actual result: The "Signup" page is opened after clicking the "Back" button on the "SIGN IN" page
Expected result: The "WELCOME TO GOODDOLLAR" page is opened after clicking the "Back" button  on the "SIGN IN" page

Checked on d

[2020-12-01 13:10] WolfVV opened #2777 "(BUG) The "Wallet" button doesn't work on the "HELP & FEEDBACK" page"
Precondition:
Issue reproduce if the user logged out (the  "Wallet" button works inside the app)
The "WELCOME TO GOODDOLLAR!" page is opened

Steps to reproduce:
1) Click the "Sign in" button
2) Click the "Still having issues? contact support" button
3) Click the "Wallet" button
4) Pay attention to the lack of redirection to the "WELCOME TO GOODDOLLAR!" page

Actual result: The "Wallet" button doe

[2020-12-01 17:23] mauriguz commented on #2773
@sirpy tested, it now works as expected. closing.

[2020-12-01 17:23] #2773 closed

[2020-12-01 23:57] mauriguz commented on #2774
Issue is reproduced on goodnative too so doesn't seem to be a merge problem.
A quick inspection shows that the problem is with the height set to the View parent of svg, that height is smaller than svg's height, causing the cut. Possible solutions are: increase View height or reduce Svg height to match View's

[2020-12-02 00:10] mauriguz commented on #2776
SigninInfo > backRouteName is a conditional that depending on the platform navigates back to either welcome screen or auth. need to define where it should navigate back and update that line

[2020-12-02 00:34] mauriguz commented on #2777
The iframe component receives all props correctly, so it's not like we're missing data at some point or have a silent crash. Though the router never tries to change the url.
Also tested with safari and issue is reproduced there too.

[2020-12-02 07:01] sirpy commented on #2776
@WolfVV this is not a bug. signin/signup with mnemonic is just a developer feature for testing.

[2020-12-02 07:01] #2776 closed

[2020-12-02 07:49] WolfVV commented on #2763
@mauriguz isn't reproduced anymore
for dev/qa everything is ok too

[2020-12-02 08:28] #2712 closed

[2020-12-02 08:35] sirpy commented on #2659
@Esfir-E @tomerGD what is that explainer text you wanted? is it still relevant?

[2020-12-02 09:10] sirpy commented on #2478
gmt isnt required. it should show 12pm GMT in your local timezone (on dev)
on production i think it should be something like 11:40 GMT in your localtimezone

[2020-12-02 09:11] sirpy commented on #2664
fixed moment timezone issue

[2020-12-02 12:01] serdiukov-o-nordwhale commented on #2777
@mauriguz have you traced what actually happening when you're clicking the button ? which onPress handler it receives ? probably something went wrong inside handler ? or probably the handler was wrapped to the useCallback with some missing deps which causes it working incorrectly ?

[2020-12-03 10:08] omerzam commented on #2758
@sirpy @Esfir-E  what should be the SMS message of the alternative SMS?

[2020-12-03 10:39] sirpy commented on #2758
@omerzam same message as now

[2020-12-03 10:46] WolfVV commented on #2664
@sirpy after timezone changing the same time period to start claiming is displayed
but when time is set manually then the timer is changed as well
https://www.screencast.com/t/qfcjaboI
Checked on  QA 1.10.3
Samsung S9 // Android 10

[2020-12-03 11:24] omerzam commented on #2758
@sirpy the message now is generated by twilio because we are using twilio verify
should we use that message?

[2020-12-03 11:32] WolfVV commented on #2478
"Active claimers" / Today's GD Distribution are changed - these fields work
Total Funds Staked / Interest Generated Today  - will be tested on prod

[2020-12-03 11:49] WolfVV commented on #2777
@serdiukov-o-nordwhale @mauriguz still reproduced
Video: https://www.screencast.com/t/8XiA2P5r
Checked on  QA 1.10.1-1
LG V30+ // Android 8.0 // Google Chrome 86.0.4240.75
Desktop: Windows 10 // Google Chrome   87.0.4280.66

[2020-12-03 12:45] serdiukov-o-nordwhale commented on #1689
I've split the tasks the following way

- the research / basic / architectural tasks are on me
- the exact implementation is on @mauriguz

It would be good to complete with IOS version (at least with the common v8 -> v9 changes) before start Android because:

- i could implement the architecture design faster
- @mauriguz will have sample of the logic he have to implement

[2020-12-03 13:36] omerzam commented on #2758
@sirpy what should happen in the case of 5th+ attempt

[2020-12-03 14:53] Esfir-E commented on #2659
Adding Tomer to answer the questions above @tomerGD

[2020-12-03 16:40] tomerGD commented on #2659
Text not relevant anymore.

[2020-12-03 19:38] sirpy commented on #2758
verify has max 5 attempts. i guess we can return an error.  but we need to
make sure we reset the  count/record after 5 minutes
1. log  error the 6th attempt in sentry with phone number
2. return error for  attempts >5th
3.  make sure after 5 minutes we restart the count

[2020-12-03 19:52] sirpy commented on #2664
@WolfVV firstly the video shows you  tested it  on wallet.gooddollar.org which is not QA
and in any case you need to test it on dev

[2020-12-04 18:22] WolfVV commented on #2633
@sirpy passwordless login/sign up  works without errors
Checked on  QA 1.10.1-1
Desktop: Windows 10 // Google Chrome   87.0.4280.66

[2020-12-04 18:22] #2633 closed

[2020-12-06 08:19] omerzam commented on #2758
@sirpy about the ttl
should the user have 5 minutes since 1st attempt only or should the ttl reset after each attempt (which would mean 5 minutes after each attempt)

[2020-12-06 09:13] Esfir-E commented on #2758
@sirpy Can you please give me the massage that we are displaying ?
Can we tell how many users are trying to verify their code more than 5 times?

[2020-12-06 09:56] sirpy commented on #2758
your GoodDollar verification code is:

for passwordless we'll be sending an error event to sentry on 6th attempt.
we can possibly also send it to amplitude
for phone verification we already send events SIGNUP_RETRY_SMS so you can
filtere by users firing this event > 5 times

[2020-12-07 08:20] sirpy commented on #2768
@Esfir-E waiting for answers

[2020-12-07 12:22] sirpy opened #2786 "Migrate to GA4"
* [ ] discuss migration plan with drptiago
* [ ] collect claim_geo instead of claim-geo
* [ ] migrate to free events format like in amplitude
* [ ] update wallet TAG with new property

[2020-12-07 12:30] sirpy commented on #2765
now i get a different  error
on android if i enter a couple of numbers then press send code again i get  an error about setSpan and app get stuck
@mauriguz

[2020-12-07 12:58] sirpy opened #2787 "integrate torus for ios"

[2020-12-07 17:49] serdiukov-o-nordwhale commented on #2648
Tested with testing API and local instance of the custom server. Could be reviewed now

@sirpy @mauriguz
Also i found some issues related to the merge with RN branch
- .env.development is applied over the .env during local run
 - a lot of 'invalid style prop' errors during app run

Will create issues for that tomorrow

[2020-12-08 00:51] mauriguz opened #2788 "(Chore) re-organize feed card types and status"
Bugs:

* Transaction cards created when using a link and transaction cards created when using qr must look the same (we have send and sendcompleted types, basically there should be only 'sendcompleted'), one is showing animation icon in modal the other not
* #2791 - error in enqueing payment link tx results in a red card

https://www.screencast.com/t/WGAfrxzAwjR

### To fix
* [x] reorganize types

[2020-12-08 00:57] mauriguz commented on #2788
In ModalTopImage > getImageByType, _send_ & _sendcompleted_ have different config objects
In FeedModalItem > showJaggedEdge, need to update array of types to include _send_

[2020-12-08 06:52] sirpy opened #2789 "add app link and associated domain"
add https://wallet.gooddollar.org as an applink to ios  and android

- [x] add the  required  json files to the wallet
- [ ] setup ios
- [x] setup android

[2020-12-08 09:17] sirpy opened #2791 "(Bug) payment link showing as red card without option to cancel"
for some users their payment link tx shows up as red without option to cancel even though it wasnt withdrawn

* [x] verify the enqueue tx process
* [x] verify otplstatus is updated correctly from Transfer event
* [x] verify tx status is read correctly

[2020-12-08 09:18] #2728 closed

[2020-12-08 10:50] WolfVV opened #2792 "[BUG] (FV) Session session token issue failed:" "No sessionToken in the FaceTec API response""
Precondition:
The "FACE VERIFICATION" pop-up is opened
Steps to reproduce:
1) Click the "OK, Verify me" button
2) Click the "Got it" button
3) Pay attention to the "Something went wrong..." error message

Actual result: The user isn't able to pass FV because the "Something went wrong..." error screen is displayed
Expected result: The user should be able to pass FV without errors

_________________