[2021-08-04 09:38] vldkh commented on #3341
@sirpy
The Claim/Send/Receive/ScanQR claim stats are working as expected.

**Environment:**
QA 1.29.1-17

**Devices:**
Windows 10 // Google Chrome v92
iPhone XR // 14.6

**Attachments:**
https://www.screencast.com/t/UMfwCpHR7h1Y

[2021-08-04 11:41] vldkh commented on #2749
The issue is not reproduced on QA env. The "Share" screen is not displayed after selecting the "Copy to clipboard" method.

**Environment:**
QA 1.29.1-17

**Devices:**
Samsung A80 // Android 10

**Attachments:**
https://www.screencast.com/t/dN1kcG4wGjh

[2021-08-04 12:16] sirpy opened #3367 "enable captcha on cfverify once prod released"

[2021-08-04 13:01] vldkh commented on #3359
JWT token works properly.

**Environment:**
QA 1.29.1-17
PROD 1.30.0

**Devices:**
Windows 10 // Google Chrome v92

**Attachments:**
PROD - https://www.screencast.com/t/jxOJ8K5Bg
QA - https://www.screencast.com/t/F47Tqs81iYcZ

[2021-08-04 13:21] vldkh commented on #3297
@sirpy
The user properties work properly with the new database.

Environment:
QA 1.29.1-17

Devices:
Windows 10 // Google Chrome v92
Samsung A80 // Android 10

Attachments:
https://www.screencast.com/t/7x89rrCJi6

[2021-08-04 13:40] sirpy commented on #3351
the source is from the blockchain but each env has its own set of smart contracts.
also dev/qa "mainnet" smart contracts are on ethereum "ropsten" testnet

[2021-08-05 07:59] vldkh opened #3368 "The is wrong displaying of feed transaction card after the claim on the web mobile QA env."
The is wrong displaying of feed transaction card after the claim on the web mobile QA env.

**Account info:**
Wallet address: 0x28E74dBb696a6423CdE6a0Bdf7Dd3fCE42D4fb39
MasterSeed: b7e95255985cfb462d2784861cf7b4cb15e3ee4a754e83b6ae33494cbbe79743

**Environment:**
QA 1.29.1-17

**Devices:**
Windows 10 // Google Chrome v92

**Attachments:**
https://www.screencast.com/t/D8F0MoYrWm4
https://www.screen

[2021-08-05 09:22] vldkh opened #3369 "The "Payment Pending..." feed cards appear after canceling the "Payment Link" on the QA Native App."
After canceling the transaction The "Payment Pending..." feeds are disappear, the correct sum of balance is shown, and after that "Payment Pending..." feed appears again.

**Preconditions:**
1) the user is signed in
2) the main page is open

**Steps to reproduced:**
1) Create a "Payment Link" via "Send" button >> The "Payment Pending" card is shown
2) Cancel the "Payment Link" >> The "Payment Pend

[2021-08-05 10:34] vldkh commented on #3311
@sirpy
Feeds and settings sync properly on QA ver.

**Environment:**
QA web app - 1.29.1-17
QA mobile web app - 1.29.1-17
QA Native app - 1.29.1-17 (1822)

**Devices:**
Windows 10 // Google Chrome v92
Samsung A80 // Android 10

**Attachments:**
https://www.screencast.com/t/PpJZWeiu

[2021-08-05 10:59] vldkh commented on #3262
@sirpy @serdiukov-o-nordwhale
Transactions and Information feeds are working properly according to the expected results.

**Environment:**
QA desktop web 1.29.1-17

**Devices:**
Windows 10 // Google Chrome v92

**Attachments:**
https://www.screencast.com/t/ByU7kHj5OslF

[2021-08-06 07:15] vldkh commented on #3364
The issue is not reproduced on PROD ver. There is the possibility to cancel "Payment Link" on the "Payment Pending..." feed cards on DEV ver. Without any Error popups.

**Environment:**
DEV 1.30.2

**Devices:**
Windows 10 // Google Chrome v92

**Attachments:**
https://www.screencast.com/t/b7CbcV4M

[2021-08-06 07:15] #3364 closed

[2021-08-06 07:18] vldkh commented on #3334
@lukasz-kilaszewski @sirpy
The issue is not reproduced. It is not possible to move cards (information and pending) beyond the edge of the app. There is possible to move info cards till the end of the red zone.

**Environment:**
PROD 1.30.2

**Devices:**
Windows 10, Google Chrome v92

**Attachments:**
https://www.screencast.com/t/TSd3W67Uy

[2021-08-06 07:18] #3334 closed

[2021-08-06 07:21] vldkh commented on #1885
@sirpy
The issue is not reproduced on PROD env.

Checked on PROD 1.30.2
Device: Windows 10 // Google Chrome v92

Attachments:
https://www.screencast.com/t/BZNRUzg7u

[2021-08-06 07:21] #1885 closed

[2021-08-06 07:25] vldkh commented on #3344
@sirpy
The issue is not reproduced on PROD env. The user is not waiting before editing the avatar. The avatar is visible after uploading.

**Environment:**
PROD 1.30.2

**Devices:**
Windows 10 // Google Chrome v92

**Attachments:**
https://www.screencast.com/t/3vMakiu5XDK

[2021-08-06 07:25] #3344 closed

[2021-08-06 08:40] vldkh commented on #3262
@sirpy @serdiukov-o-nordwhale
Transactions and Information feeds are working properly according to the expected results.

**Environment:**
PROD desktop web 1.30.2

**Devices:**
Windows 10 // Google Chrome v92

**Attachments:**
https://www.screencast.com/t/Gp5O0h7at

[2021-08-06 08:40] #3262 closed

[2021-08-06 08:41] vldkh commented on #3311
@sirpy @serdiukov-o-nordwhale
Feeds and settings sync properly on QA ver.

**Environment:**
PROD web app - 1.30.2
PROD mobile web app - 1.30.2
PROD Native app - 1.30.2 (1830)

**Devices:**
Windows 10 // Google Chrome v92
Samsung A80 // Android 10

**Attachments:**
https://www.screencast.com/t/87xyEaP0sUgo

[2021-08-06 08:41] #3311 closed

[2021-08-06 08:44] vldkh commented on #2749
@sirpy @serdiukov-o-nordwhale
The issue is not reproduced on QA env. The "Share" screen is not displayed after selecting the "Copy to clipboard" method.

**Environment:**
PROD 1.30.2

**Devices:**
Samsung A80 // Android 10

**Attachments:**
https://www.screencast.com/t/HZDY2hWFalI7

[2021-08-06 08:45] #2749 closed

[2021-08-06 08:46] vldkh commented on #3341
@sirpy @serdiukov-o-nordwhale
The Claim/Send/Receive/ScanQR claim stats are working as expected.

**Environment:**
PROD 1.30.2

**Devices:**
Windows 10 // Google Chrome v92
iPhone XR // 14.6
Samsung A80 // Android 10

**Attachments:**
https://www.screencast.com/t/NC0eSGrj1pi

[2021-08-06 08:46] #3341 closed

[2021-08-06 08:51] vldkh commented on #3350
@julianpolcode @sirpy @serdiukov-o-nordwhale
The issue is not reproduced on a mobile device on QA Android App. There is the possibility to log in/sign up passwordless on the android app.

**Environment:**
Android App [production] 1.30.2 (1830)

**Devices:**
Samsung A80 // Android 10

**Attachments:**
https://www.screencast.com/t/t66iR0LiNjjd

[2021-08-06 08:51] #3350 closed

[2021-08-06 09:23] vldkh commented on #3297
@sirpy
The user properties work properly with the new database.

**Environment:**
PROD 1.30.2
**Devices:**
Windows 10 // Google Chrome v92
Samsung A80 // Android 10

**Attachments:**
https://www.screencast.com/t/yr8srNLKM

[2021-08-06 09:23] #3297 closed

[2021-08-06 09:25] #3359 closed

[2021-08-08 06:21] sirpy opened #3371 "upgrade to latest facetec 9.3"
- [ ] client web/native
- [ ] server
- [ ] retest open issues

[2021-08-08 06:44] sirpy commented on #3368
@vldkh need the correct seed for that wallet address. or try to reproduce again

[2021-08-09 07:59] #3327 closed

[2021-08-09 08:05] vldkh opened #3372 "There is a wrong display of the Face Verification processing screen after passing the FV."
There is a wrong display of the Face Verification processing screen after passing the FV.

**Preconditions:**
1) the user is logged in
2) the main page is open
3) FV not passed

**Steps to reproduce:**
1)  Click on the "Claim" button >> The claim page is opened
2) Click on the "Claim now" button >> The FV page is opened
3) Click on the "Ok, verify me" button
4) Pass the Face Verification
5) Pay at

[2021-08-09 08:23] sirpy opened #3373 "userstorage should have unit tests"
- [ ] adapt tests from gundb/userstorageclass to lib/userstorageclass

[2021-08-09 10:58] vldkh opened #3374 "The feeds transaction cards are not loading on the main page on QA env"
The feeds transaction cards are not loading on the main page on QA env

**Steps to reproduce:**
1) login to an already existing account
2) observe the result

**Actual result:**
The feeds transaction cards are not loading on the main page on QA env

**Expected result:**
The feeds transaction cards are loading on the main page on QA env

**Environment:**
QA 1.29.1-17

**Devices:**
Windows 10 // Goo

[2021-08-09 11:29] serdiukov-o-nordwhale commented on #3372
issue is moist probably related to our custom CSS overrides.
should be fixed only after we'll update facetec to the latest as they're changing HTML rendered sometimes between versions

[2021-08-09 13:39] sirpy commented on #3368
@vldkh try to reproduce

[2021-08-09 15:23] sirpy commented on #3374
@vldkh pushed hot fix to QA+PROD

[2021-08-10 05:00] sirpy opened #3376 "(Bug) feed opens card while scrolling"
- [x] when user is scrolling the feed it will sometimes be interperted as click on feed item
- [x] opening the menu of feed item which blurs the background feels slow and should appear faster

[2021-08-10 10:52] vldkh commented on #3374
@sirpy
The issue is not reproduced on QA env. The feeds transaction cards are loading on the main page.

**Environment:**
QA 1.30.1-0

**Devices:**
Windows 10 // Google Chrome v92

**Attachments:**
https://www.screencast.com/t/ncS0DjMXiNo

[2021-08-10 14:35] #3312 closed

[2021-08-10 14:35] sirpy commented on #3312
Issue moved to [GoodDollar/GoodProtocol #178](https://github.com/GoodDollar/GoodProtocol/issues/178) via [**ZenHub**](https://www.zenhub.com/)

[2021-08-11 13:42] sirpy opened #3379 "refactor and fix userstorage and profile usages"
- [x] getUserProfile getPublicProfile get seem redundant, merge and modify across the app usages. usage of getUserProfile expects name,avatar , so need to be modified to fullName and smallAvatar
- [x] see what other methods might be duplicated and merge them
- [x] go over UserStorage, RealmdB, ProfileDB and ProfileStorage interface and make sure it is correct and also all types and return values
-

[2021-08-11 13:45] sirpy opened #3380 "userprofilestorage should try to load missing counterparty in feed"
- [x] when formatting feeditem it should try to refetch smallavatar/fullname if missing
 - [x] to not retry everytime we load the feed, use some kind of cache with ttl, so it will not retry to fetch from db if last result was empty unless ttl has passed
- [x] _resizeAndStoreAvatars should be called only if avatar changed
- [x] cache ipfsstorage in indexdb, use threaddb (currently ipfs storage read

[2021-08-11 13:47] sirpy opened #3381 "add useProfile hook"
- [x] replace store.get('profile') and store.get('privateprofile') with useProfile hook
- [x] remove undux profile.js
- [x] add a useProfile hook that returns current profile, possibly
- [ ] ~subscribe for changes so it is reactive (for both getProfile and getDisplayProfile)~

[2021-08-13 09:29] sirpy opened #3383 "upgrade user profile to realmdb"
- [ ] upgrade process via gundb (upgradeRealmDB.js) - need to add gundb login logic for the upgrade process after we remove gun usage
 - [ ] copy profile
 - [ ] offline script to read public profiles from gundb and upload smallavatar to ipfs
 - [ ] on client upgrade script/counter party update check if CID already exists, so it doesnt require upload

[2021-08-13 11:46] serdiukov-o-nordwhale opened #3384 "Use collection mock in the profile / feed unit tests"
Testing with the real database (despite it’s dev instance) isn't a good option.

Generally any backend should be mocked during tests as
a) we want to test especially our code
b) we won't be dependent from its uptime

I suggest to look onto https://github.com/williamkapke/mongo-mock

- [ ] check is it possible to disable persist to js file and mock in memory only
- [ ] find a way to easily mock col

[2021-08-13 11:49] serdiukov-o-nordwhale opened #3385 "Unify profile validation"
Now we have 2 places where profile is validated

1. setProfile() method where we're using user model's method to validate
2. validateProfile method performing own validation not reffering the user model

Need to make single method to validate profile.
Also it would be good to use existing validation solutions for example https://www.npmjs.com/package/yup

See more details in #1588

[2021-08-16 08:18] sirpy commented on #3368
@vldkh what about this issue?

[2021-08-16 08:21] vldkh commented on #3368
@sirpy now it looks like ok, but if I see this problem again I will ping you. don't close the issue yet

[2021-08-16 08:21] sirpy commented on #2946
this is the expected behaviour. closing for now...

[2021-08-16 08:21] #2946 closed

[2021-08-16 08:26] #2959 closed

[2021-08-16 09:21] #3313 closed

[2021-08-16 11:15] sirpy commented on #3373
@serdiukov-o-nordwhale why this was moved here
its not done
this is about userstorage

[2021-08-16 11:16] serdiukov-o-nordwhale commented on #3373
@sirpy i supposed that's a dup. sorry

[2021-08-16 11:32] sirpy commented on #3369
@vldkh does this happen only on native??
can you verify?

[2021-08-16 11:34] #3381 closed

[2021-08-16 12:02] vldkh commented on #3369
@sirpy yes, the web app works properly
Attachments: https://www.screencast.com/t/ymiaSMy7

[2021-08-16 15:25] #3366 closed

[2021-08-17 20:11] sirpy commented on #3369
@vldkh i dont need a video of anything that is working.
i ment can you verify again that this is a native issue, does this still happen? just on this account? on every account? new account?

[2021-08-18 06:28] vldkh commented on #3369
@sirpy this issue is not relevant anymore

[2021-08-18 06:28] #3369 closed

[2021-08-18 06:30] sirpy commented on #2953
closing. not relevant for new realmdb

[2021-08-18 06:30] #2953 closed

[2021-08-18 06:36] serdiukov-o-nordwhale commented on #2953
@sirpy there are a few more GUN-related issues. will close them too

[2021-08-18 06:36] serdiukov-o-nordwhale commented on #2859
not relevant anymore

[2021-08-18 06:36] #2859 closed

[2021-08-18 06:37] serdiukov-o-nordwhale commented on #2858
not relevant anymore

[2021-08-18 06:37] #2858 closed

[2021-08-18 06:37] serdiukov-o-nordwhale commented on #2857
not relevant anymore

[2021-08-18 06:37] #2857 closed

[2021-08-18 06:37] serdiukov-o-nordwhale commented on #2832
not relevant anymore

[2021-08-18 06:37] #2832 closed

[2021-08-18 06:37] serdiukov-o-nordwhale commented on #498
@sirpy doest it still relevant ?

[2021-08-18 06:39] serdiukov-o-nordwhale commented on #3293
@vldkh need to re-check is it reproduces now

[2021-08-18 06:39] serdiukov-o-nordwhale commented on #3290
@vldkh need to re-check is it reproduces now

[2021-08-18 06:40] sirpy commented on #498
@serdiukov-o-nordwhale i think not. verify that wherever we call the wallet and create a feed item (ie claim/send)
we catch exceptions and delete the feed card in case of an exception

[2021-08-18 06:41] serdiukov-o-nordwhale commented on #2834
@vldkh need to check 1-2 weeks after profile changes will be released to prod. doest this issue appeared in the Sentry or not

[2021-08-18 06:47] serdiukov-o-nordwhale commented on #498
@julianpolcode please do as described in the comment above

[2021-08-18 06:55] serdiukov-o-nordwhale commented on #2833
@sirpy could it be affected/fixed after RealmDB migration ?
is this feed-related ? so maybe @vldkh could re-check this issue now ? (doest it reproduces after last release )

[2021-08-18 06:55] serdiukov-o-nordwhale commented on #2440
@sirpy could it be affected/fixed after RealmDB migration ?
is this feed-related ? so maybe @vldkh could re-check this issue now ? (doest it reproduces after last release )

[2021-08-18 06:59] sirpy commented on #2440
yes we should re test it

[2021-08-18 07:04] sirpy commented on #2833
@serdiukov-o-nordwhale we would actually need to track this on sentry/amplitude
@vldkh lets setup a view on amplitude to track this error and see after the release if it declines

[2021-08-18 07:26] vldkh opened #3389 "The feed cards are not opened after a click on them. The blurred screen is shown."
The feed cards are not opened after a click on them. The blurred screen is shown.

**Preconditions:**
1) the user is logged in
2) the main page is open

**Steps to reproduce:**
1) Click on any feed card
2) Observe the result

**Actual result:**
The feed cards are not opened after a click on them. The blurred screen is shown.

**Expected result:**
The feed cards are opened after a click on them. Th

[2021-08-18 07:36] vldkh commented on #3290
@serdiukov-o-nordwhale
The issue is not reproduced. The Feed is updated after logging in.

Environment:
QA 1.30.1-3

Devices:
Windows 10 // Google Chrome v92

[2021-08-18 07:52] vldkh commented on #2440
@serdiukov-o-nordwhale @sirpy
The issue is not reproduced. The correct Feed cards are shown.

Environment:
Native App - QA 1.30.1-3 (1871)
Web App - QA 1.30.1-3

Devices:
Samsung A80 // Android 10
Windows 10 // Google Chrome v92

Attachments:
- Native:
https://www.screencast.com/t/MsHSikiz6
https://www.screencast.com/t/qtI0Zqra3
- Web:
https://www.screencast.com/t/hXX6jed2
https://www.screencast.c

[2021-08-18 08:08] #3290 closed

[2021-08-18 08:09] #2440 closed

[2021-08-18 08:13] vldkh commented on #3376
@sirpy
The issue is not reproduced. The scrolling feeds card works as expected.

Environment:
QA 1.30.1-3 (1871)

Devices:
Samsung A80 // Android 10

Attachments:
https://www.screencast.com/t/6MHXEUNh

[2021-08-18 12:00] vldkh commented on #3291
@sirpy @serdiukov-o-nordwhale
The issue is still reproduced on QA env. The user is not able to sign up/login on the old versions of Safari.

Environment:
QA 1.30.1-3

Devices:
iPhone 6 Plus // 11.1

Attachments:
https://www.screencast.com/t/Etl9Afd5hj
https://www.screencast.com/t/Olltm4gjnT (анонимная ошибка - anonymous error)

Note:
iPhone with iOS 11.4.1 has successfully registered
https://www.s

[2021-08-18 12:25] vldkh commented on #3368
@sirpy not actual anymore

[2021-08-18 12:58] serdiukov-o-nordwhale opened #3392 "Remove GUN-related packages"
"@gooddollar/gun": "^0.2020.902", ==> as i understanding this could be removed with the lib/gundb only after users will migrate to the RealmDB

"@gooddollar/gun-asyncstorage": "^1.0.3",
"@gooddollar/gun-pk-auth": "^1.1.0",

[2021-08-18 15:02] serdiukov-o-nordwhale commented on #3291
The reason now is in the Promise.prototype.finally.
It was added from  Safari 11.1 on macOS, but only from 11.4 on iOS

Torus team won't adjust babel settings so i'll find the ways to polyfill .finally at runtime

[2021-08-18 15:22] sirpy commented on #3291
https://stackoverflow.com/a/53327815/6379521
@serdiukov-o-nordwhale keep it simple
add the above code to lib/shim.js where we polyfill fromentries

[2021-08-19 05:16] serdiukov-o-nordwhale commented on #3291
@sirpy Torus suggested to use polyfills from Babel runtime

[2021-08-19 06:57] serdiukov-o-nordwhale commented on #3291
i checked - we don't using @babel/runtime. will use a polyfill library

[2021-08-19 07:14] serdiukov-o-nordwhale commented on #3291
done https://github.com/GoodDollar/GoodDAPP/commit/a96ebf5428bee4702c8dbc3afd550f73c7bdfb82

[2021-08-19 11:16] vldkh opened #3393 "There is missed block with Social Icons on the Invite page on QA env"
There is missed block with Social Icons on the Invite page on QA env

**Preconditions:**
1) the user is logged in

**Steps to reproduce:**
1) Open the Invite page
2) Observe the result

**Actual result:**
There is missed block with Social Icons on the Invite page on QA env

**Expected result:**
There is not missed block with Social Icons on the Invite page. All blocks are displaying properly

**En

[2021-08-19 11:23] vldkh opened #3394 "There is no possibility to "Claim" G$. The error popup is shown"
There is no possibility to "Claim" G$. The error popup is shown

**Preconditions:**
1) the user is logged in
2) the main page is open

**Steps to reproduce:**
1) Click on the "Claim" button
2) Observe the result

**Actual result:**
There is no possibility to "Claim" G$. The error popup is shown

**Expected result:**
The user is able to Claim G$

**Environment:**
QA 1.30.1-6

**Devices:**
Windows 1

[2021-08-19 12:55] vldkh commented on #3301
@serdiukov-o-nordwhale @sirpy
The issue is not reproduced on the Native QA app. Avatar is visible in the profile.

But after upload a new avatar is invisible.

**Environment:**
QA 1.30.1-6 (1895)

**Devices:**
Samsung A80 // Android 10

**Attachments:**
https://www.screencast.com/t/hCAUaba4pzL

[2021-08-19 14:02] vldkh commented on #3291
@sirpy @serdiukov-o-nordwhale
The issue is not reproduced. The user is able to sign up/login on the old versions of Safari.

Environment:
QA 1.30.1-6

Devices:
iPhone 6 Plus // 11.1

Attachments:
https://www.screencast.com/t/GQqqZKBO

[2021-08-20 12:56] #3389 closed

[2021-08-22 08:29] sirpy commented on #3393
@serdiukov-o-nordwhale this should not be closed it should be moved to QA.
FYI

[2021-08-22 09:21] #3368 closed

[2021-08-22 13:00] #3207 closed

[2021-08-22 13:01] #3385 closed

[2021-08-22 20:36] sirpy opened #3397 "handle realmdb/mongodb disconnects/errors"
when app is in background for a long time you see 401 errors to stitch.mongodb
sometimes also first call using database fails
can we handle this? reconnect on app moving to foreground?

update
- [x] add retries to all mongodb calls
- [x] log.error all mongodb errors so we can track this in amplitude/sentry

[2021-08-23 08:51] vldkh commented on #3393
The issue is not reproduced on QA env. There is no missed block with Social Icons on the Invite page

Environment:
QA 1.30.1-8

Devices:
Windows 10 // Google Chrome v92

Attachments:
https://www.screencast.com/t/ZIeDUyC2vFbD

[2021-08-23 09:02] vldkh commented on #3353
@julianpolcode @lukasz-kilaszewski @serdiukov-o-nordwhale
The issue reproduced only on the Native App. There are no Social Icons at all.

Environment:
QA 1.30.1-8 (1902)

Devices:
Samsung A80 // Android 10

Attachments:
https://www.screencast.com/t/zhCkXz3pAMHc

[2021-08-23 09:19] vldkh commented on #3293
@serdiukov-o-nordwhale
The issue is not reproduced on QA env.

Environment:
QA 1.30.1-8

Devices:
Windows 10 // Google Chrome v92

Attachments:
https://www.screencast.com/t/nMtmI9oq
https://www.screencast.com/t/AT0MriQmZA

[2021-08-23 09:27] vldkh commented on #3394
@sirpy @serdiukov-o-nordwhale @julianpolcode
The issue is not reproduced on QA env. There is the possibility to "Claim" G$.

Environment:
QA 1.30.1-8

Devices:
Windows 10 // Google Chrome v92

Attachments:
https://www.screencast.com/t/ptwcsACpPFe8

[2021-08-23 11:22] sirpy opened #3398 "realmdb too many requests"
- when running synctxfromblockchain from the user starting block it can trigger many updates to the database\
- see https://github.com/GoodDollar/GoodServer/issues/327#issuecomment-903609950
- realmdb returns error 429 too many requests
- find a solution one of:
  - batch requests (is it possible via mongo?)
  - send requests but with pause between each request
  - realmdb configuration on mongodb

[2021-08-23 11:38] vldkh commented on #3326
@lukasz-kilaszewski
Basically, all transactions feed cards works properly, a user is able to review avatar and username.
But there is no possibility to review it on the Invite page.

Environment:
QA 1.30.1-8

Devices:
Windows 10 // Google Chrome v92

Attachments:
https://www.screencast.com/t/LbYUIk2eEWNI

[2021-08-23 13:44] lukasz-kilaszewski commented on #3326
fixed in https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/3391

[2021-08-23 19:25] sirpy commented on #3326
@vldkh if therre's an issue mark as rejected and move back to in progress

[2021-08-23 19:28] sirpy commented on #3371
@vldkh are these new issues?
what does first case and second case relate too?
need to re-test existing issues, @serdiukov-o-nordwhale please add issues that need to be re-tested

[2021-08-23 19:28] #3394 closed

[2021-08-24 09:58] serdiukov-o-nordwhale opened #3402 "Camera error if device turned to landscape during FV session initialization"
If device orientation changed before FV session initialized (e.g. during loading spinner shown) and ready screen shown, SDK shows camera permissions popup (even the built-in camera screen is disabled in UICustomization). If press OK in this dialog, FV session then crashes with white screen. Reproduced on any mobile browser (Safari, Chrome)

**Steps to reproduce:**
a) press verification button
b) i

[2021-08-24 09:59] serdiukov-o-nordwhale opened #3403 "No orientation error if to turn device after session started"
It’s seems there’s also an bug with the device rotation handling. In the latest two versions SDK doesn’t handles turn to landscape mode.

**Steps to reproduce:**
a) press verification button
b) wait for the popup with camera loads c) turn device

_Expected:_ session finished with orientation error
_Actual:_ nothing happens, camera popup design destroys and doesn’t restores after turn device back t

[2021-08-24 10:06] serdiukov-o-nordwhale commented on #3371
@sirpy There are old issues. I wasn't able to find them so i re-created.
The issues are facetec-related. We already sent a report, they started to fix.
I tracked theirs browser.facetec.com some time and found the issue was solved on some beta
I expected the fix will appear in the next (by that moment) version 9.3
But it looks seems it wasn't fixed or wasn't included to the release.
The first issue

[2021-08-24 10:17] #3301 closed

[2021-08-25 11:11] vldkh commented on #3402
@serdiukov-o-nordwhale
**Was test 2 cases**

**First:**
Turning the device into landscape mode after the spinner is appear

Actual result:
The popup "Please turn your camera to portrait mode" is shown.

Attachments:
- popup https://www.screencast.com/t/D6RyiEiTpjjB
- console screen https://www.screencast.com/t/nUvS6BGebosL

**Second:**
Turning the device into landscape mode before the spinner appe

[2021-08-25 11:31] vldkh commented on #3403
@serdiukov-o-nordwhale

Actual result:
nothing happens, camera popup design destroys. But restores after turn the device back to portrait.

Environment:
QA 1.30.1-8

Devices:
Samsung A80 // Android 10

Attachments:
https://www.screencast.com/t/GHF6y7USE - destroyed design
https://www.screencast.com/t/ZqjvpUPacb - restores

browser.facetec.com results - https://www.screencast.com/t/yDX2jkMbpfb

[2021-08-25 13:58] vldkh commented on #3326
@sirpy @lukasz-kilaszewski
There is no possibility to edit the user profile. The console validation errors are shown

Environment:
QA 1.30.1-11

Devices:
Windows 10 // Google Chrome v92

Attachments:
https://www.screencast.com/t/CrIBWVGkav

[2021-08-25 14:03] vldkh commented on #3283
@sirpy @serdiukov-o-nordwhale
FV still doesn't start on Safari <14

Environment:
QA 1.30.1-11

Devices:
iPhone X // iOS 13.3

Attachments:
https://www.screencast.com/t/mFq7Yto2p, https://www.screencast.com/t/wV6q9qPD54p - console logs
https://www.screencast.com/t/vUoARljSBDp - video

Note:
For me, there is no possibility to login on to Safari 12.5.4 (will update this issue tomorrow)

[2021-08-26 09:02] vldkh opened #3405 "The "Waiting for network. Waiting for GoodDollar's server (API)" popus is shown after uploading the wallet."
The "Waiting for network. Waiting for GoodDollar's server (API)" popus is shown after uploading the wallet.

**Steps to reproduce:**
1) Open the goodqa.netlify.app
2) Observe the result

**Actual result:**
The "Waiting for network. Waiting for GoodDollar's server (API)" popus is shown after uploading the wallet.

**Expected result:**
The app is works properly

**Envirinment:**
QA 1.30.1-11

**Devi

[2021-08-26 11:39] vldkh opened #3406 "RealmDB doesnt works properly on the old versions of Safari."
RealmDB doesn't works properly on the old versions of Safari.
The error messages related to the AbortController class appears in the console

Logger label and error stack are referenced to the RealmDB

**Steps to reproduce:**
1) Sign up/login into the app
2) Observe the result

**Actual result:**
The "Ooops... Wallet could not be loaded. Please refresh" popup is shown

**Expected result:**
The use

[2021-08-26 14:07] vldkh opened #3407 "The empty screen is shown after confirm transaction via "Recieve" method."
The empty screen is shown after confirm transaction via "Recieve" method.

Preconditions:
1) second account is available
2) the users is logged in

Steps to reproduce:
1) Create a transactions via "Recieve" method
2) Open the link on another account
3) Confirm transaction
4) Observe the result

Actual result:
The empty screen is shown after confirm transaction via "Recieve" method.

Expected resul

[2021-08-29 07:38] sirpy commented on #3283
@serdiukov-o-nordwhale @vldkh
I dont understand you said it works for ios>=12 but @vldkh report says he used iOS 13.3

[2021-08-29 07:41] sirpy commented on #3283
@vldkh try browser.facetec.com on ios 11.1 without the console/debugger open i think they prevent it from running if console is open

[2021-08-29 08:02] sirpy commented on #3398
i'll handle this with mongodb team
anyways it should be handled via error handling in #3397

[2021-08-29 08:04] sirpy commented on #3397
@serdiukov-o-nordwhale i've updated the description with the todo

[2021-08-29 09:20] sirpy commented on #3407
@vldkh please update the template of your issues.
we discussed that an issue should contain
- which versions have or dont have this. meaning for each bug you include all versions you tested.
for exampe:
PROD: not reproduced
QA: not tested
DEV: reproduced on 1.30
- the wallet details
sometimes issues are specific to a wallet, in this case, I saw that for some reason all the profile data was empty,

[2021-08-29 11:58] sirpy opened #3410 "use correct defaults for usenativedriver animations"
@vldkh please check that animations on native are working as expected in dashboard
- good market button
- claim button
- profile+balance minimize/expand when scrolling down in large feed

[2021-08-29 12:59] sirpy commented on #3314
@vldkh pushed fix for dev+qa

[2021-08-30 06:15] sirpy commented on #3365
1. if user still did not use an invite code he will see the textbox
![Screen Shot 2021-08-30 at 0.13.54.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/48a736a7-7ecd-4ed5-83a4-ffff51cbaaf6)
2. once he enters a valid link/code the button turns blue
![Screen Shot 2021-08-30 at 0.14.01.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/4679d282-edb1-46d7-a91d-71fefa

[2021-08-30 06:16] sirpy commented on #3365
@tzvister please see above flow, design and texts
and comment with any required changes
this task is waiting for you now

[2021-08-30 08:07] sirpy commented on #3403
waiting for facetec

[2021-08-30 08:07] sirpy commented on #3402
waiting for facetec

[2021-08-30 09:49] vldkh commented on #3407
@sirpy @lukasz-kilaszewski
The issue is not reproduced.

Environment:
QA 1.30.1-13

Devices:
Windows 10 // Google Chrome v92

Attachments:
https://www.screencast.com/t/u5L8mt3s

[2021-08-30 10:33] serdiukov-o-nordwhale commented on #3283
@vldkh awaiting for the update. please test on 11 12 and 13
on both dev & QA

[2021-08-30 13:20] vldkh commented on #3406
@sirpy @serdiukov-o-nordwhale
The issue is not reproduced. There is the possibility to login without any issues.

Environment:
QA 1.30.1-13

Devices:
iPhone 6 Plus // iOS 11.1

Attachments:
https://www.screencast.com/t/jCjAWXbW64jR

[2021-08-30 13:28] vldkh commented on #3261
@serdiukov-o-nordwhale
All functions related to uploading/displaying the avatar works properly.

Environment:
QA 1.30.1-13 (1941) native app

Devices:
Samsung A80 // Android 10

Attachments:
https://www.screencast.com/t/HaxCzTnWkuwL

[2021-08-30 14:03] vldkh commented on #3314
@serdiukov-o-nordwhale @sirpy
The message in transaction feed cards is not displaying on the receiver side. Works only via the Recieve method.

Environment:
QA 1.30.1-13
DEV 1.30.1-13

Devices:
Windows 10 // Google Chrome v92

Attachments:
https://www.screencast.com/t/jUSo0IuVov

[2021-08-30 14:25] vldkh commented on #3283
@serdiukov-o-nordwhale @sirpy

**On iOS 11.1**
- **Browser.facetec.com:** shown popup "Enable camera"
- **QA**: redirection back after tap on the "Got it" button
- **DEV:** shown popup "We can't access your camera... Please enable camera permission"

**On iOS 12.5.4**
- **Browser.facetec.com:** works properly
- **QA:** redirection back after tap on the "Got it" button
- **DEV:** works properly

**

[2021-08-30 15:09] vldkh commented on #3410
@sirpy
All of these animations on the native app works well.
But there is UI issue when you scroll it down.

Environment:
QA 1.30.1-13 (1941)

Devices:
Samsung A80 // Android 10

Attachments:
https://www.screencast.com/t/vSHrkOprMX
https://www.screencast.com/t/r4Oe4j6s - UI issue

[2021-08-30 20:05] sirpy commented on #3314
@vldkh fixed on dev

[2021-08-31 07:07] sirpy commented on #3410
@vldkh i've made some changes on DEV, can you recheck the scroll?

[2021-08-31 07:08] sirpy commented on #3410
@vldkh does this happen also with small amounts?

[2021-08-31 09:01] vldkh commented on #3314
@sirpy
**Checked transactions on DEV env. (1.30.1-14)**

**Transactions via the "Recieve" method:**
There are still no messages displaying on both accounts. But to RECIEVER there are no feed transactions cards displaying.
SENDER has the feed transactions cards but without messages. In both cases, the balance was updated according to the send value
The same result with both methods of "Recieve"

**

[2021-08-31 10:06] vldkh commented on #3410
@sirpy @serdiukov-o-nordwhale
There is no possibility to sign up/log in.

Environment:
DEV 1.30.1-14 (1949)

Devices:
Samsung A80 // Android 10

Attachments:
https://www.screencast.com/t/ClfxQuOVK1
[https://app.zenhub.com/files/166818382/f9daa537-dd49-4ddd-ae62-681c88785d21/download](https://app.zenhub.com/files/166818382/f9daa537-dd49-4ddd-ae62-681c88785d21/download)

[2021-08-31 11:08] vldkh commented on #3314
@sirpy
Also, the balance is not displayed on web QA env.

**Environment:**
QA 1.30.1-14

**Devices:**
Windows 10 // Google Chrome v92

**Attachments:**
https://www.screencast.com/t/R4V17EsW

Note: the balance is displayed on DEV and PROD envs

[2021-08-31 11:31] vldkh opened #3411 "There is no possibility to "Claim" G$ on QA env."
There is no possibility to "Claim" G$ on QA env.

**Preconditions:**
1) the user is logged in
2) the main page is open

**Steps to reproduced:**
1) Click on the "Claim" button
2) Observe the result

**Actual result:**
The error popup is shown

**Expected result:**
The user is able to "Claim" G$/Pass the FV

**Environment:**
QA 1.30.1-14

**Devices:**
Windows 10 // Google Chrome v92

**Attachments:

[2021-08-31 12:06] sirpy commented on #3314
@vldkh fixed on dev
the balance issue on QA is because we upgraded to the new contracts. pushing a fix directly to QA...

[2021-08-31 13:42] sirpy opened #3412 "User should see his GOOD tokens"

[2021-09-01 11:44] vldkh opened #3414 "(Bug) pinata ipfs service sometimes fails with CORS error"
Seems like it's related to the pinata ipfs service. I will be monitoring this issue on different accounts.

[2021-09-02 13:41] vldkh commented on #3365
@sirpy @serdiukov-o-nordwhale
**There are few issues:**
1) after you claimed you didn't automatically get an invite bonus
2) to my mind there is an issue with props too
3) the textbox is still visible for users who already claimed the invite bonus

Environment:
DEV 1.30.1-16

Devices:
Windows 10 // Google Chrome v92

Attachments:
[https://app.zenhub.com/files/166818382/f12cee57-30fe-462d-9328-57df

[2021-09-02 14:01] vldkh commented on #3414
@sirpy
Its appears again to me but on QA env (1.30.1-17).
After the confirm transaction via Recieve method - the errors are displayed in the console.
I notice that the errors according to CORS happens randomly. In one case it could happen when you just open the wallet and in another case when you open your user profile.
So, I think these errors are impossible to reproduce by the correct steps.

En

[2021-09-02 15:20] #3142 closed

[2021-09-04 18:54] sirpy commented on #3414
@serdiukov-o-nordwhale
1.i think this should be resolved by the new ipfs caching.
2. it seems like it is trying to fetch the same image for each feed item
3. lets maybe put ipfs.io first in order

[2021-09-06 08:31] johnsmith-gooddollar commented on #3283
@sirpy i remember you told me you will try to figure out what's the reason on QA/PROD
any progress on that ?

[2021-09-06 08:55] sirpy commented on #3283
no. try to disable analytics on QA. lets see if that might be the issue.

[2021-09-06 10:20] vldkh commented on #3353
@lukasz-kilaszewski
We need to improve the block with social icons. It should appear immediately

Reproduced on DEV/QA 1.30.1-18

Environment:
Windows 10 // Google Chrome v92

Attachments:
https://www.screencast.com/t/47FHfEwJOQ

[2021-09-06 11:21] vldkh commented on #3326
All functions according to the user profile works properly:
- there is the possibility to edit the user info
- all information on feed cards displays correctly (there are visible: messages, avatars, the correct sum of transactions, the correct info on invite page after referral activities)
- all transactions work properly (send, receive, send via QR-code, receive via QR-code)
- Claim functions wor

[2021-09-06 11:22] vldkh commented on #3314
@sirpy @lukasz-kilaszewski @johnsmith-gooddollar
checked via #3326

[2021-09-06 11:23] vldkh commented on #3379
@lukasz-kilaszewski @sirpy @johnsmith-gooddollar
checked via #3326

[2021-09-07 15:32] vldkh commented on #3353
@johnsmith-gooddollar @lukasz-kilaszewski
The issue is not reproduced on DEV env.

Environment:
DEV 1.30.1-18

Devices:
Windows 10 // Google Chrome v92

Attachments:
https://www.screencast.com/t/OJDLaPlZVvg

[2021-09-07 16:02] vldkh commented on #3372
@lukasz-kilaszewski
You need to make the display of the text lower

Attachments:
https://www.screencast.com/t/hxEhgBXI

[2021-09-08 08:23] johnsmith-gooddollar opened #3423 "Avatar suddenly disappears on gooddev"
1. clear cache
2. login
3. set avatar
4. reload app a few times in row
5. click avatar
6. press done

After 5th or 6th step the avatar sometimes disappears
The issue reproduces on dev and is very floating

[2021-09-08 09:26] vldkh commented on #3365
@sirpy @johnsmith-gooddollar
There is the possibility to enter an invite code and claim your invite bonus:
- after you claimed you did automatically get an inviting bonus
- the textbox is  invisible for users who already claimed the invite bonus

Environment:
DEV 1.30.1-18

Devices:
Windows 10 // Google Chrome v93

Attachments:
https://www.screencast.com/t/QohPE98U -  entered code and after passed

[2021-09-08 09:29] vldkh commented on #3372
@lukasz-kilaszewski @johnsmith-gooddollar
The issue is not reproduced on DEV env. All animations look good

Environment:
DEV 1.30.1-18

Devices:
Windows 10 // Google Chrome v93

Attachments:
https://www.screencast.com/t/oqrbqWWYBJlF

[2021-09-09 06:22] sirpy commented on #3423
@johnsmith-gooddollar it disappear forever? or if you refresh it comes back?

[2021-09-09 09:05] vldkh opened #3424 "The main bugs found on PROD"
- [x] The user name is not visible at all
 (https://app.birdeatsbug.com/sessions/IkExTJ5vPJxdRaa0_WTpq)

- [x] There are no user names displays in the feed transactions card (https://app.birdeatsbug.com/sessions/jA4PNpOdYy9EO_tRj2_xT)

- [x] There is no feed transactions card displayed after creating the transaction via the "Receive via wallet link" (https://app.birdeatsbug.com/sessions/BCG_TAwGWa

[2021-09-09 10:19] johnsmith-gooddollar opened #3425 "Re-arrange dev deps back, try force --production=false"
Unfortunately yarn also ignores dev deps if NODE_ENV set to production

So, for release prod we had to revert your changes in package.json:
https://github.com/GoodDollar/GoodDAPP/commit/f3e798778f4bf6c1dec6c01de4386df771cdf552
https://github.com/GoodDollar/GoodDAPP/commit/dfdd08ef65fbf7af6f014bf8cdd5a952509b0dcd

But yarn have a flag could override the NODE_ENV setting during packages install:
htt

[2021-09-09 10:22] #3374 closed

[2021-09-09 10:22] #3351 closed

[2021-09-09 10:22] #3376 closed

[2021-09-09 10:22] #3293 closed

[2021-09-09 10:22] #3407 closed

[2021-09-09 10:23] #3353 closed

[2021-09-09 10:23] #3372 closed

[2021-09-09 10:35] johnsmith-gooddollar commented on #3424
Avatar issue is RealmDB-related. It caused by 'update not permitted' error.
As other fields (e.g. fullname) could be changed and avatar could be cropped and saved that means we have again the issue with setting realm fields to null. Need to applied schema changes we did on QA / Dev to support null values

@sirpy could you please do it or provide creds from Realm dashboard to my GD email account ?

[2021-09-09 10:37] johnsmith-gooddollar commented on #3424
![image.png](https://images.zenhubusercontent.com/6135d0416eed5f7809f4ee6b/79e12e07-c262-4cc4-bf95-6deadff3cbda)

[2021-09-09 10:51] lukasz-kilaszewski commented on #3424
"About The user name is not visible at all" i think it can be related, to signup method?
I tested it on new account and i have my full Name visible.
![Screenshot from 2021-09-09 12-49-43.png](https://images.zenhubusercontent.com/60dd69f726df4b5318b688bc/5c3dca1c-86b6-4608-962d-4e67eb67e746)

[2021-09-09 11:19] #3393 closed

[2021-09-09 11:34] vldkh commented on #3423
@sirpy @johnsmith-gooddollar
Yes, it disappears forever. You need to upload avatar again
 Check logs - https://app.birdeatsbug.com/sessions/sbrHvGsNhQmaugJbYyL14?

[2021-09-09 12:30] johnsmith-gooddollar commented on #3424
@vldkh the avatars issue has been resolved

[2021-09-09 12:34] vldkh commented on #3424
@johnsmith-gooddollar
The avatar issue is not reproduced now.
https://app.birdeatsbug.com/sessions/rit3HiU3_uP75NhiEK_t4

[2021-09-09 12:48] sirpy commented on #3423
@serdiukov-o-nordwhale
I see few possible issues
1. upgradeProfileRealmDB is being run every time, why?
2. we dont do any avatar/ipfs handling in upgradeProfileRealmDB, should we?

[2021-09-09 16:43] johnsmith-gooddollar commented on #3424
@vldkh
Regarding 'There are no user names displays in the feed transactions card' - that's ok because we loading profiles from RealmDB during feed events formatting. So for the profiles haven't been migrated we'll display Unknown and no avatar.
I've checked with two profiles have been filled and stored to Realm - everything is working fine.

After the counterparties will open wallet and migrate to

[2021-09-10 07:49] vldkh commented on #3424
@lukasz-kilaszewski @johnsmith-gooddollar
The feed transactions cards are not displayed after creating the transaction on the recipient side via:
- Request specific amount
- Receive via wallet link
- Receive via QR-code

From the sender's part -  everything is good.

Attachments:
https://www.screencast.com/t/mRp0cknQgUQ

[2021-09-10 09:50] johnsmith-gooddollar commented on #3424
@vldkh @sirpy
Regarding 'no feed transactions card' issue.

It happens because production realmdb instance doesn't have inboxes collection for tx outbox feature.

Need to migrate this schema from dev/qa. I tried to do it but it seems i have no such permissions:
![image.png](https://images.zenhubusercontent.com/6135d0416eed5f7809f4ee6b/420f0291-b046-42d8-b92d-21558ba95e3c)

Also there's a strange e

[2021-09-10 14:22] johnsmith-gooddollar opened #3426 "Fix github actions"
We started to getting the following error during releases from Wendesday:

[code]

It seems you'd need to verify techadmin email or email is used during actions runs.
I tried to set my email (which is verified) in `git config --local user.email` at line 43 of `webtests.yml` - it doesn't helped. So maybe email is set also somewhere else.

One of solutions i googled is suggesting to disable-enable a

[2021-09-10 14:23] johnsmith-gooddollar commented on #3426
as a temporary solution, to deploy prod and QA last time i did it manually by running commands listed in actions locally

[2021-09-10 14:29] johnsmith-gooddollar opened #3427 "Upgrade RealmDB schema & permissions on PROD"
There're inconsistencies between DEV/QA and PROD schemas on RealmDB
This causes a lot of issues, the most critical of them are listed in #3424.
In general, app works very unstable

I'm not able to do this as i don't have such permissions:

![image.png](https://images.zenhubusercontent.com/6135d0416eed5f7809f4ee6b/420f0291-b046-42d8-b92d-21558ba95e3c)]

- [ ] copy `inboxes` collection
- [ ] copy an

[2021-09-10 14:31] johnsmith-gooddollar opened #3428 "Fix Android build"
After https://github.com/GoodDollar/GoodDAPP/pull/3416 was merged, Android build is broken:

[code]

[2021-09-11 17:20] sirpy commented on #3427
i've added inboxes
changed your permissions, check now

[2021-09-11 17:20] #3427 closed

[2021-09-11 17:25] sirpy commented on #3424
@vldkh added the missing inbox

[2021-09-12 20:11] sirpy commented on #3426
the auth token was old format, refreshing it solved the issue

[2021-09-12 20:11] #3426 closed

[2021-09-12 20:15] sirpy commented on #3425
seems  to be working with --production=false

[2021-09-12 20:15] #3425 closed

[2021-09-13 08:02] johnsmith-gooddollar opened #3429 "Upgrade Facetec 9.4 - Breaking changes"
- [x] upgrade custom server
- [x] upgrade web sdk
- [x] upgrade android sdk
- [x] upgrade ios sdk

**There're breaking changes related to the server side.**
1.`.succed()` and `.retry()` are DEPRECATED
2. `.cancel()` should be used as before (they kept it for unexpected error cases like network failures)
3. instead of success/retry we have to use the new `scanResultBlob` field returned from FV API

[2021-09-13 08:04] johnsmith-gooddollar commented on #3428
Android build was fixed: https://github.com/GoodDollar/GoodDAPP/actions/runs/1227248610

Closing

[2021-09-13 08:04] #3428 closed

[2021-09-13 08:42] johnsmith-gooddollar commented on #3411
@vldkh please actualize this

[2021-09-13 08:44] vldkh commented on #3411
@johnsmith-gooddollar
Still reproducing

[2021-09-13 08:45] johnsmith-gooddollar commented on #3317
An OpenJDK may be needed for build.
I tried API level 31 and it's requires OpenJDK, not sure for 100% about 30 - will try.

[2021-09-13 08:55] vldkh commented on #3423
@johnsmith-gooddollar
There is no possibility to upload the avatar. The error popup "we could not capture all your beauty. please try again" is shown. The same issue on QA and DEV envs.

Environment:
DEV 1.31.1-1
QA 1.31.1-1

Devices:
Windows 10 // Google Chrome v93

Attachments:
https://app.birdeatsbug.com/sessions/VvV2q15OLAaZlytwIpqHN?

[2021-09-13 09:07] johnsmith-gooddollar commented on #3424
@johnsmith-gooddollar
There is no possibility to upload the avatar. The error popup "we could not capture all your beauty. please try again" is shown. The same issue on QA and DEV envs.

Environment:
DEV 1.31.1-1
QA 1.31.1-1

Devices:
Windows 10 // Google Chrome v93

Attachments:
https://app.birdeatsbug.com/sessions/VvV2q15OLAaZlytwIpqHN?

[2021-09-13 09:11] johnsmith-gooddollar commented on #3424
@sirpy need to buy some extended tier on Pinata:
[code]

[2021-09-13 09:26] sirpy commented on #3424
@vldkh avatar should be saved now

[2021-09-13 09:26] vldkh commented on #3424
@johnsmith-gooddollar
There is no possibility to enter the invite code on the invite page. The field is unclickable with new accounts.

Environment:
PROD 1.31.12

Devices:
Windows 10 // Google Chrome v93

Attachments:
https://app.birdeatsbug.com/sessions/DmtpXLGQ6vooC3MyHRs_C?

[2021-09-13 13:01] vldkh opened #3430 "[Amplitude] Warning logs"
@johnsmith-gooddollar
This error happens sometimes on PROD after entering any value in the invite code field.

Environment:
PROD 1.31.12

Devices:
Windows 10 // Google Chrome v93

Attachments:
https://app.birdeatsbug.com/sessions/bTH1P5BLGrRQD045n-q0a?

[2021-09-14 08:18] sirpy opened #3431 "(Bug) captcha not working on iOS"
For some users the mobile login doesnt start after pressing the login/signup with passwordless
My guess it is the captcha

[2021-09-14 11:05] johnsmith-gooddollar opened #3432 "Check server exceptions"
- [x] handle /auth/eth exceptions caused by the older accounts/app versions gracefully
- [x] handle emails verification failures
- [x] search/investigate other exceptions

[2021-09-14 11:58] #3261 closed

[2021-09-14 11:58] #3414 closed

[2021-09-14 11:58] #3365 closed

[2021-09-14 11:58] #3397 closed

[2021-09-14 11:58] #3398 closed

[2021-09-14 11:59] #3373 closed

[2021-09-14 11:59] #3314 closed

[2021-09-14 11:59] #3326 closed

[2021-09-14 11:59] #3380 closed

[2021-09-14 11:59] #3379 closed

[2021-09-14 12:00] #3383 closed

[2021-09-14 13:52] sirpy commented on #3431
the issue was popup blocked on ios
solution is to move to redirect flow on torus

[2021-09-15 06:39] sentry-io[bot] opened #3434 "TypeError: undefined is not an object (evaluating 'e.theme.colors')"
Sentry Issue: [GOODDAPP-5FS3](https://sentry.io/organizations/gooddollar/issues/2648322465/?referrer=github_integration)

[code]

[2021-09-15 06:41] sentry-io[bot] opened #3435 "TypeError: e is not a function"
Sentry Issue: [GOODDAPP-5FS0](https://sentry.io/organizations/gooddollar/issues/2648322193/?referrer=github_integration)

[code]

[2021-09-15 06:42] sentry-io[bot] opened #3436 "Error: Login service auth failed:: Unsupported encoding: i"
Sentry Issue: [GOODDAPP-50R2](https://sentry.io/organizations/gooddollar/issues/2634173059/?referrer=github_integration)

[code]

[2021-09-15 06:46] sirpy commented on #3147
@serdiukov-o-nordwhale this is happneing when sending verification email
usually during signup it fails with 401 from server
on server i couldnt find anything
no idea why this is happening, but it happens relatively alot... we need to resolve it

[2021-09-15 06:47] sirpy commented on #3436
i think this is related to the server issue with older app version  jwt request format

[2021-09-15 06:51] sentry-io[bot] opened #3437 "TypeError: set() / updateAll() user props failed:: Cannot read property 'id' of undefined"
Sentry Issue: [GOODDAPP-56BZ](https://sentry.io/organizations/gooddollar/issues/2634439256/?referrer=github_integration)

[code]

[2021-09-16 10:43] vldkh commented on #3424
@johnsmith-gooddollar
All of these issues are not reproduce on PROD 1.32.1. Main functions work properly.

Environment:
PROD 1.32.1

Devices:
Windows 10 // Google Chrome v93

[2021-09-16 10:43] #3424 closed

[2021-09-16 10:44] vldkh commented on #3430
@johnsmith-gooddollar
The issue is not reproduced on PROD ver.

Environment:
PROD 1.32.1

Devices:
Windows 10 // Google Chrome v93

[2021-09-16 10:44] #3430 closed

[2021-09-16 11:38] vldkh opened #3438 "[Bugs] React Native"
- [x] The FV doesn't start after tap on the "OK, VERIFY ME" button. The white screen is shown.

- Environment: DEV 1.31.1-6 (2087)

- Device: Samsung S8 // Android 9

- Attachments:
video - https://www.screencast.com/t/hGhW6fM0b
logs - [https://app.zenhub.com/files/166818382/43be6e63-f8ac-4078-882d-d179664e38e5/download](https://app.zenhub.com/files/166818382/43be6e63-f8ac-4078-882d-d179664e38e5/d

[2021-09-16 15:49] #3371 closed

[2021-09-16 15:52] #3431 closed

[2021-09-17 10:07] johnsmith-gooddollar commented on #3438
regarding second bug. According to the logs i see that after successfull FV we have
[code]

in the code we have
[code]

That means FV was successful but the wallet (blockchain) still returns non-whitelisted status
The issue could be a) server side - user wan't whitelisted b) blockchain side (we called whitelist on server and it was successful but contracts are returning wrong value)

[2021-09-17 10:11] johnsmith-gooddollar commented on #3438
The user was whitelisted on server:
![image.png](https://images.zenhubusercontent.com/6135d0416eed5f7809f4ee6b/91b24ab2-e853-4be9-887c-ac3619118864)

[2021-09-17 10:30] johnsmith-gooddollar commented on #3438
@sirpy there's an issue with contracts on QA
after user was whitelisted on server goodWallet.isCitizen() still returns false

[2021-09-17 10:56] johnsmith-gooddollar commented on #3438
@sirpy on web goodqa everythinbg is OK:

https://app.birdeatsbug.com/sessions/8TRbXDJMi4TQ5etxfB3mL
![image.png](https://images.zenhubusercontent.com/6135d0416eed5f7809f4ee6b/18608b44-d4a1-42ca-9756-1d7a200767b4)

[2021-09-17 11:46] johnsmith-gooddollar commented on #3147
@sirpy according to the server logs the issues isn't on Heroku side, as we have an 'Incoming Request' message logged by the GoodServer. But there's no logs from endpoints so request is breaking by some middleware.

This isn't ratelimiter because this a) situation happens also with verify/email which have no rate limiter b) code is 401 not 429
Both verify/email and verify/sendemail have only auth m

[2021-09-17 12:15] vldkh commented on #3410
@sirpy @johnsmith-gooddollar
All of these animations on the native app works well.

Environment:
QA 1.32.1-0 (2096)

Devices:
Samsung S8 // Android 9

Attachments:
https://www.screencast.com/t/URXfu1E22f39

[2021-09-17 13:27] johnsmith-gooddollar commented on #3147
if passport-jwt fails to verify token, it calls fail() without invoking verify() callback:
https://github.com/mikenicholson/passport-jwt/blob/master/lib/strategy.js#L104

this fails an attempt:
https://github.com/mikenicholson/passport-jwt/blob/master/lib/strategy.js#L104
on next attempt allFailed will be called:
https://github.com/jaredhanson/passport/blob/master/lib/middleware/authenticate.js#L1

[2021-09-17 13:29] johnsmith-gooddollar commented on #3147
@sirpy so the reason is just an old GoodDApp version having JWT encoded with the old secret value

[2021-09-17 13:29] johnsmith-gooddollar commented on #3147
@sirpy so the reason is just an old GoodDApp version having JWT encoded with the old secret value

[2021-09-17 13:38] sirpy commented on #3147
but shouldnt the verify throw an error for that request?
also Gal had this issue and for all I can tell he was using v1.31.12 so he
should not have encountered this.
we need to investigate further or add logs

[2021-09-17 13:41] johnsmith-gooddollar commented on #3147
1. it throws an error but it's then caught. then passport just ends request with 401
2. it's nowhere to add logs. all the stuff i described happens inside libraries' code. we couldn't add logs here

my suggestion is just to ignore this error. once the most of users will update their wallets, it will dissappear

[2021-09-18 18:26] sirpy commented on #3438
@vldkh @serdiukov-o-nordwhale
1. is login with SAME account on WEB QA works fine and you are able to claim?
2.on MOBILE  if after FV you wait for a while, and then claim will it work?

@serdiukov-o-nordwhale to me it sounds like we need to wait for a while or retry the isCitizen if result from server is success, because yes the blockchain could take a few seconds to get updated, only after 15 seco

[2021-09-19 10:16] sirpy commented on #3147
@serdiukov-o-nordwhale
solved the issue, i was using 60 seconds expiry for unsigned jwt tokens (ie during signup)
so that's why it didnt pass authentication
i've changed to 1 hour.

[2021-09-19 20:47] sirpy opened #3439 "(Bugs) lots of issues since september 8th release"
https://analytics.amplitude.com/gooddollar/chart/89rnb7k?source=search

you can see a lot of issue that where 0 but started happening on september 8th
there are many invalid json response which seems related to the blockchain infrastructure, but seems strange that it coincide with our release.
also there are many realmdb/properties errors we should look into

[2021-09-20 09:29] johnsmith-gooddollar commented on #3438
@sirpy we're checking for isCitizen everywhere. If we just set it to true in the store, it will be refreshed from contracts on claim page anyway. and the re-checked twice after you pressed Claim button. And user will be redirected to FV again.

I'll show FV error screen if isCitizen is still false after 15 sec since verification passed

[2021-09-20 11:03] vldkh commented on #3438
@sirpy @johnsmith-gooddollar
The "Invite code" doesnt work as expected. After passing the FV on Native App and after entered the invite code from whitelisted account the popup "Your inviter is not verified yet" is shown.

Environment:
QA Native App 1.32.1-1 (2103)

Devices:
Device: Samsung S8 // Android 9

Attachments:
[https://app.zenhub.com/files/166818382/7a773b83-9f8a-4e28-b079-f178dddd0bda/do

[2021-09-21 09:48] vldkh commented on #3423
@sirpy @johnsmith-gooddollar
The issue is not reproduced anymore

[2021-09-21 09:48] #3423 closed

[2021-09-21 13:03] vldkh commented on #3411
@sirpy @johnsmith-gooddollar
The issue is not reproduced

[2021-09-21 14:25] johnsmith-gooddollar commented on #3439
@sirpy

[code]

GoodWallet calls contract method directly:

[code]

maybe there're issues with filters we preparing before:

[code]

[2021-09-21 14:33] johnsmith-gooddollar commented on #3439
@sirpy

Some of JSON errors have this one message:

[code]

So it looks like from/to (or both) blocks passed to contracts are null / undefined

In general, all JSON RPC errors are trending down:

<img width="1186" alt="image" src="https://user-images.githubusercontent.com/89783679/134190405-0923d917-cecf-45d8-9f90-eefbd9122dd1.png">

And there're even less issues since 19th Sep (a few counts for o

[2021-09-21 14:36] johnsmith-gooddollar commented on #3439
[code]

it's non critical error, we're handling it and setting `hasPassed = false`
but there's an mistake in logging, so there's an `[object object]` appearing as prefix. hotfixed: https://github.com/GoodDollar/GoodDAPP/commit/a302eeaaeda34668dac83c2e551ca0250f72c398

[2021-09-21 14:56] johnsmith-gooddollar commented on #3439
@sirpy

[code]

Looks like attempt to call `encryptSettings()` **before** RealmDB class initialized (e.g. `this.user` or `this.privateKey` or both variables are still `undefined`). Hotfixed: https://github.com/GoodDollar/GoodDAPP/commit/ee02af309306260c93014bb173a9625abc6d1691

[2021-09-21 15:09] johnsmith-gooddollar commented on #3439
@sirpy

[code]

wasn't able to reach from where `Failed to check for transaction receipt` message comes

[2021-09-21 15:14] johnsmith-gooddollar commented on #3439
@sirpy

[code]

`Failed to fetch` goes from `_realmQuery` / `_connectRealmDB`. There are just a network errors (connection lost, timeouts) during communication  with the Realm servers

[2021-09-22 10:41] #3439 closed

[2021-09-22 10:49] johnsmith-gooddollar commented on #3435
a bit of math jokes:

of course e isn't a function, it's a **constant** (2.71 approximately) ;)

[2021-09-22 10:51] johnsmith-gooddollar commented on #3429
the issues with orientation / device rotation are still reproduced on 9.4
@vldkh have tested them on browser.facetec.com

[2021-09-23 08:34] vldkh opened #3441 "[Bugs] Issues on iOS"
- [x] iOS 11.1

The is no possibility to sign up/login on iOS 11.1. After creating an account/login its redirects you back to the welcome page.

Steps:
1) click on the "Agree & Sign up with Google" button
2) choose your account
3) observe the result

Actual result:
After creating an account/login its redirects you back to the welcome page.

Expected result:
The user should successfully be register

[2021-09-23 10:53] johnsmith-gooddollar commented on #3441
@vldkh
“The is no possibility to sign up/login on iOS 13.3” is caused by this commit:
https://github.com/GoodDollar/GoodDAPP/commit/a3780d7b3b127ca6d45795e059413b0822624290

it seems this method returns incorrect object missing decoded prop or having its value null/undefined

@sirpy could you please look ?

[2021-09-24 08:52] vldkh commented on #3147
@sirpy @johnsmith-gooddollar
The issue is not reproduced. The user is able to pass the email authentication after 10 minutes await.

Tested on PROD 1.33.0

[2021-09-24 10:18] vldkh opened #3442 "[Errors] Uncaught (in promise) Error: ENS is not supported on network private."
We need to find out for what reason these errors appear in every environment.

Reproduced on DEV, QA, and PROD env instantly. Just login/sign up

Attachments:
https://app.birdeatsbug.com/sessions/H7f0nGUknFD-oMNFZdomV?

Account info on PROD:
MasterSeed - e0a6ebed2c030b3f9aae7e2f6542b35efe8b008fbe53a35ce523662d4f6dea1b
WalletAddress - 0xb44EC0cDc06CFB1DC6EAFBFC6b401F25a8A8A1D2

[2021-09-24 10:18] vldkh opened #3443 "[Errors] Uncaught (in promise) Error: ENS is not supported on network private."
We need to find out for what reason these errors appear in every environment.

Reproduced on DEV, QA, and PROD env instantly. Just login/sign up

Attachments:
https://app.birdeatsbug.com/sessions/H7f0nGUknFD-oMNFZdomV?

Account info on PROD:
MasterSeed - e0a6ebed2c030b3f9aae7e2f6542b35efe8b008fbe53a35ce523662d4f6dea1b
WalletAddress - 0xb44EC0cDc06CFB1DC6EAFBFC6b401F25a8A8A1D2

[2021-09-24 10:19] #3442 closed

[2021-09-26 10:34] sirpy commented on #3442
@vldkh any reason this was closed?

[2021-09-28 09:06] vldkh commented on #3442
@sirpy was duplicate by  https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/3443

[2021-09-29 14:33] patpedrosa opened #3445 "Replace old statistics dashboard with the new one"
Under Menu > Statistics, replace the dashboard with the new version:

https://datastudio.google.com/u/0/reporting/f1ce8f56-058c-4e31-bfd4-1a741482642a/page/UwsTB

[2021-09-30 10:17] vldkh commented on #3436
@sirpy @johnsmith-gooddollar
“now failed auth attempts having a correct error label

![image.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/6f900455-1365-4b60-8ab9-ef5317de4cb2)

[2021-09-30 10:17] #3436 closed

[2021-09-30 10:19] johnsmith-gooddollar opened #3446 "Failed to load branch.json during application startup"
Application is crashing because react-native-branch is unable to load json file with the keys.

This is a known issue of the latest versions and there's still no fix:
BranchMetrics/react-native-branch-deep-linking-attribution#336
I tried different approaches - nothing helped.

As the temporary solution i copied keys from branch.json/branch.debug.json to AndroidManifest.xml. I’ve checked - we don’t

[2021-09-30 10:27] sirpy commented on #3446
a possible work around @johnsmith-gooddollar to use the "branchKey"
https://github.com/BranchMetrics/react-native-branch-deep-linking-attribution/issues/643#issuecomment-871103656

[2021-09-30 13:20] sentry-io[bot] opened #3447 "TypeError: undefined is not an object (evaluating 'e.theme.colors')"
Sentry Issue: [GOODDAPP-5QES](https://sentry.io/organizations/gooddollar/issues/2664979267/?referrer=github_integration)

[code]

[2021-10-02 19:29] sirpy commented on #3445
@serdiukov-o-nordwhale
this should be changed via our datastudiodashboard repo that is served on dashboard.gooddollar.org

[2021-10-07 12:33] vldkh opened #3449 "Android API 30 / ReactNative 0.65.1 - Deprecation / Warnings / Non critical issues"
- [x] **Avatars are blurred on the feed transactions cards.**

Steps to reproduce:
1) create a transaction between 2 accounts with avatars
2) observe the result

Actual result:
Avatars are blurred on the feed transactions cards

Expected result:
Avatars aren't blurred on the feed transactions cards

Environment:
DEV 1.33.1-2

Devices:
Windows 10, Google Chrome v94

Attachments:
https://www.screenc

[2021-10-07 14:33] vldkh opened #3450 "Android API 30 / ReactNative 0.65.1 - Errors / Blockers"
- [x] **The is no possibility to pass the FV. After tap on the "OK, VERIFY ME" button the white screen is shown.**

Preconditions:
1) the user is logged in
2) the FV didn't pass

Steps to reproduce:
1) Tap on the "CLAIM" button
2) Tap on the "CLAIM NOW" button
3) Tap on the "OK, VERIFY ME" button
4) Observe the result

Actual result:
After tap on the "OK, VERIFY ME" button the white screen is show

[2021-10-08 12:46] johnsmith-gooddollar commented on #3450
@vldkh Encryption key is missing for FV. Fortunately i have all github creds to update secrets. Will update key and re-release the app now

[2021-10-10 06:40] sirpy commented on #3449
@vldkh reports are not in the format we discussed

[2021-10-10 07:05] sirpy commented on #3443
@vldkh not able to recreate and also not able to use this masterseed. have you deleted the user? because it is 100% not in the database

[2021-10-10 14:02] sirpy opened #3451 "(Chore) reduce blockchain network calls"
we use multicall contract to read multiple values using single network call
most optimizations are in the claim screen

[2021-10-13 08:17] vldkh commented on #3443
@sirpy no, the account is relevant

[2021-10-13 09:30] sirpy commented on #3443
@vldkh i've logged in with this masterseed in production and i'm not able to reproduce

[2021-10-13 12:28] sirpy opened #3454 "(Chore) Migrate wallet deployments to vercel"
we get it for free as an open source project (we'll have to add to the splash screen "powered by vercel"

- [ ] use doppler for env variables (dev_secrets,stg_secrets, prd_secrets)
- [ ] set facebook,auth0,google to work with vercel domains
- [ ] set cloudflare to point to vercel

[2021-10-13 13:21] johnsmith-gooddollar opened #3455 "All events should be defined as constants"
We have a few events missing in constants definitions (RECEIVE_DONE, WITHDRAW etc)

Need to add them to analytics/constants.js

[2021-10-13 13:44] patpedrosa opened #3456 "Track send cancellations"
We currently track the creation of "send" links by clicks on done "SEND_DONE" but we do not track cancelations (feed > item > cancel link).

[2021-10-13 13:49] patpedrosa opened #3457 "Track all rewards received"
Two transactions happen when a user invites a friend to GoodDollar. A +100 G$ one and a +50 G$ one.

We should count both and differentiate them.

ie

BOUNTY_INVITED
BOUNTY_INVITER

[2021-10-13 14:36] vldkh commented on #3450
@johnsmith-gooddollar
After tap on "OK, VERIFY ME" button the "something went wrong on our side..." popup is shown

Environment:
DEV 1.33.1-2 (2141)

Devices:
Google Pixel 3a XL // Android 12

Attachments:
[https://app.zenhub.com/files/166818382/807297f2-529b-40f3-b516-e5f0d5d5bbfa/download](https://app.zenhub.com/files/166818382/807297f2-529b-40f3-b516-e5f0d5d5bbfa/download)
https://www.screencas

[2021-10-18 14:20] vldkh opened #3460 "The "Claim" circle is endless when received you reward. The countdown is not shown after received reward."
The "Claim" circle is endless when received you reward. The countdown is not shown after received reward.

Steps to reproduce:
1) click on the "CLAIM" button
2) click on the "CLAIM NOW" button > the G$ are collected
3) go back to the main page after the reward is collected
4) repeat steps 1-2
5) observe the result

Actual result:
The countdown is not shown after received reward. There is possibilt

[2021-10-18 19:28] #3169 closed

[2021-10-19 08:59] vldkh opened #3461 "[Error] The "gatherStats failed" error appears after a click on the "claim" button."
**The "gatherStats failed" error appears after a click on the "claim" button.**

Reproduced on WEB DEV 1.33.1-2 and Android App 1.33.1-2 (2153)

Steps to reproduce:
1) Click on the "CLAIM" button
2) observe the result

Actual result:
There is no possibility to pass the FV and collect reward

Expected result:
There is the possibility to pass the FV and collect reward without any issue

Environment:

[2021-10-19 09:08] vldkh opened #3462 "Need to centralize text on buttons on the "Export Wallet" page in Android App"
Need to centralize text on buttons on the "Export Wallet" page in Android App
![Snag_57586a9.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/29839494-5eee-406a-81e8-f0bc916725b8)

[2021-10-19 12:35] patpedrosa commented on #2983
I think this is too much work for nothing. Let's stick with generic native, which is an interface that people are used to operate and works much better than a handful of pretty icons.

[2021-10-19 13:36] sirpy opened #3463 "user should be able to scan Fuse wallet QR code"
- we want to be able to transfer G$s also to people having other wallets
- we use a special format in our wallet address that also encodes the network id the wallet is on, so that we verify the recipient is expecting the funds on the Fuse network. (https://medium.com/uport/mnid-a-safer-way-of-encoding-blockchain-addresses-in-a-multi-chain-world-4222e7b62714)
- most wallets dont use this format, so

[2021-10-19 15:10] #3460 closed

[2021-10-20 14:44] vldkh commented on #3283
@johnsmith-gooddollar
On iOS 12.5.4

Browser.facetec.com: works properly
DEV: redirection back after tap on the "Got it" button

[2021-10-20 17:55] johnsmith-gooddollar opened #3465 "GoodDollar - iOS version dev builds"
- [x] migrate iOS Project using this guide https://react-native-community.github.io/upgrade-helper/?from=0.61.5&to=0.65.1
- [x] make sure to force light theme (no auto dark light support should be enabled)
- [x] make sure to upgrade & configure RNBranch
- [x] make sure Roboto font is configured
- [x] align FaceTec SDK versions (vs Android app)
- [x] align FaceTec FV workflow & customization (vs la

[2021-10-21 06:05] sirpy commented on #3463
@patpedrosa theoretically the number on the dashboard is all of the transactions as it comes from the blockchain.
you can compare this number to what you have on amplitude the difference should be the number of TXs outside our wallet.

QR code usage should be available also on amplitude event QR_SCAN, { type: 'send' /'receive'}

[2021-10-21 08:31] sirpy opened #3466 "save user's OS version to his amplitude properties"
- [x] extract OS from user agent (ie android 11,12 ios 13.1 ios 15)
- [x] update user amplitude properties

[2021-10-21 09:24] vldkh opened #3467 "The "Open Camera" function is not working when you try to upload the avatar."
The "Open Camera" function is not working when you try to upload the avatar.

Steps to reproduce:
1) go to the "my profile" page
2) tap on the avatar
3) tap on the "open camera" button
4) observe the result

Actual result:
The "Open Camera" function is not working when you try to upload the avatar.

Expected result:
The "Open Camera" function is working when you try to upload the avatar.

Environm

[2021-10-21 09:29] vldkh commented on #3449
@johnsmith-gooddollar @sirpy @TomasGonzalez
All of these issues are not reproduced anymore.
Tested on DEV Version 1.33.1-2 (2160)
Device: Google Pixel 3a XL // Android 12

[2021-10-21 09:31] vldkh commented on #3450
@johnsmith-gooddollar
closed via #3449

[2021-10-21 14:22] vldkh commented on #3467
@TomasGonzalez @johnsmith-gooddollar
The issue in not reproduced

Tested on DEV Version 1.33.1-2 (2163)

Device: Google Pixel 3a XL // Android 12

Attachments:
https://www.screencast.com/t/sh6CRWFw1

[2021-10-21 20:44] sirpy commented on #3445
done

[2021-10-25 10:23] patpedrosa opened #3469 "Passwordless users unable to sign-up/log-in due to missing captcha"
We've had multiple reports from a variety of users claiming that they are unable to log in/sign up.

They insert their phone numbers, then immediately see the red banner asking them to wait 24h before trying again.

Both assumptions that they were using the wrong number and trying too many times are incorrect.

![screenshot-1634813237565.png](https://images.zenhubusercontent.com/612f7b84ea16af2691

[2021-10-25 14:28] vldkh opened #3470 "[BUG] The Invite doenst works properly on QA. Need to re-deploy smart contracts"
**The Invite doenst works properly on Native App.

The users are not able to get reward after both of them were whitelisted. The "Your inviter is not veriied yet" popup is shown.**

**Preconditions:**
1) two whitelisted accounts are available without used invite code

**Steps to reproduce:**
1) go to the invite page
2) enter the invite code from other account
3) observe the result

**Actual result

[2021-10-25 15:13] vldkh opened #3471 "[BUG] The counry flag doesnt shown on the Edit Profile page and on the welcome page when you need to verify you phone number. The broken image icon is shown"
**The counry flag doesnt shown on the Edit Profile page and on the welcome page when you need to verify you phone number. The broken image icon is shown**

Environment:
QA 1.33.1-6

Devices:
Windows 10 // Google Chrome v94

Attachments:
https://app.birdeatsbug.com/sessions/SspVy3_A7QeA1fSwgEfZd?

![Snag_19e8251.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/5069c417-6b82-4df5-a

[2021-10-26 10:04] vldkh opened #3472 "[BUG] The is no possibility to "Claim" on the old version of Safari (11.1). The "Sorry, something unexpected happened, please try again. Error: E3" popup is shown."
The is no possibility to "Claim" on the old version of Safari (11.1). The "Sorry, something unexpected happened, please try again. Error: E3" popup is shown.

Steps to reproduce:
1) tap on the "Claim" button
2) observe the result

Actual result:
The is no possibility to "Claim" on the old version of Safari (11.1). The "Sorry, something unexpected happened, please try again. Error: E3" popup is sho

[2021-10-26 12:41] vldkh opened #3473 "[BUG] The is no possibility to login/sign up with Facebook on the Native App."
The is no possibility to login/sign up with Facebook on the Native App.

Preconditions:
1) the Facebook account is available
2) login to Facebook

Steps to reproduce:
1) tap on the "Sign up/Login" button
2) observe the result

Actual result:
The is no possibility to login/sign up with Facebook on the Native App.

Expected result:
The is the possibility to login/sign up with Facebook on the Native

[2021-10-27 07:04] sirpy opened #3475 "Add powered by vercel so splash screen"
Vercel has free hosting for open source projects.

Add the logo and link to the splash screen on the app and GoodDAPP/GoodServer readmes
[code]
![powered-by-vercel.svg](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/25cdf5f8-537e-4ab5-96eb-f733cf3bd4ab)

[2021-10-27 08:19] vldkh opened #3476 "[BUG] The is no possibility to pass the FV. After tap on the "Got it" button its redirect you back on the "Verify you are a real live person" screen."
The is no possibility to pass the FV. After tap on the "Got it" button its redirects you back on the "Verify you are a real live person" screen.

Steps to reproduce:
1) tap on the "Claim" button
2) tap on the "Claim now" button
3) tap on the "OK, VERIFY ME" button
4) tap on the "GOT IT" button
5) observe the result

Actual result:
After tap on the "Got it" button its redirects you back on the "Ver

[2021-10-27 09:56] #3472 closed, assigned to johnsmith-gooddollar

[2021-10-27 11:27] #3471 closed, assigned to TomasGonzalez

[2021-10-27 15:43] johnsmith-gooddollar opened #3477 "Possible in-app browser Facebook login deprecation in future"
I found that article: https://developers.facebook.com/blog/post/2021/06/28/deprecating-support-fb-login-authentication-android-embedded-browsers/

It looks like this option may won't work on Android platform in near future
We need to contact Torus and discuss solutions possible with them

[2021-10-28 10:42] #3477 closed, assigned to johnsmith-gooddollar

[2021-10-28 13:19] johnsmith-gooddollar opened #3480 "(Chore) Increase minimal iOS version supported to 12"
We  will be able to test on **iOS 12.5.4** soon

- [ ] update our browser support feature to check for iOS >= 12
- [ ] on old versions show popup with recommendations to update your device instead of 'device/browser may not supported'

Devices compatible with iOS 12:

- iPhone 5S.
- iPhone 6.
- iPhone 6 Plus.
- iPhone 6S.
- iPhone 6S Plus.
- iPhone SE (1st generation)
- iPhone 7.
- iPhone 7 Plus.

[2021-10-29 12:39] vldkh opened #3482 "The commas in balance are cropped when scrolling down."
The commas in balance are cropped when scrolling down.

Preconditions:
1) a lot of feed transactions cards are available on your account

Steps to reproduce:
1) Scroll down
2) observe the result

Actual result:
The commas in balance are cropped when scrolling down.

Expected result:
The commas in balance are not cropped when scrolling down.

Environment:
QA Version 1.33.1-7 (2195)

Devices:
Samsun

[2021-10-31 09:01] sirpy commented on #3466
@TomasGonzalez @vldkh
Looking at the screencast i'm not sure it is captured correctly.
The version should be added to the user custom properties and it should include the operating system and its version
ie
iOS 14.11
Android 11
Linux 3.5.4
Window 10

Please verify together

[2021-10-31 09:48] sirpy commented on #3470
@vldkh @johnsmith-gooddollar
It seems like the staging invites contract is not up to date.

@vldkh please try on dev/prod envs
also I remind you that we've agreed that you report an issue status in other envs also, but I dont see that happening

[2021-11-01 09:00] vldkh commented on #3470
@sirpy @johnsmith-gooddollar
There is only an issue with QA env.
Invites work properly on DEV and PROD envs.

Tested on:
PROD Version 1.33.1 (2127)
DEV Version 1.33.1-7 (2198)

Device:
Samsung A80 // Android 10

[2021-11-01 09:52] johnsmith-gooddollar commented on #3470
@sirpy could you fix this please ?

[2021-11-01 09:58] sirpy commented on #3470
put it in the backlog assigned to me.
we need to redeploy the smart contracts, will take some time

[2021-11-01 12:34] vldkh commented on #3466
@sirpy @TomasGonzalez
We tested it together with Tomas. Now it's looking fine, please check the video. Seems that It didn’t worked before because It hadn’t been deployed properly yet
https://www.screencast.com/t/md0JUTrp16z

[2021-11-01 12:40] sirpy commented on #3466
@vldkh ok thanks

[2021-11-01 12:41] patpedrosa commented on #3346
This is the design for the feed item.

If the vendor has a name set up, it should show the Vendor's name.
If they do not, it should show their website.

![Dashboard – Vendor Transfer](https://user-images.githubusercontent.com/49105975/139672763-bb743209-acd9-4e37-aa1b-b4ac0ae097aa.jpg)

[2021-11-01 12:58] #3466 closed

[2021-11-01 14:09] johnsmith-gooddollar commented on #3296
@sirpy @tzvister
Could you update the status of the app in the Google Play ?
I'm not able to find the **9-3675000031466** ticket. It seems it's available for @omerzam only.

But i see two updated from You guys after Omer left us. Could you please clarify:

1. What _'The store setting are now filled.'_ does means ? Did Google deleted app and it was recreated with proper settings (so it could now be

[2021-11-01 15:16] vldkh commented on #3475
@TomasGonzalez @sirpy
"Powered by vercel" is displayed on the splash screen. Also, this logo is clickable.
Tested on DEV environment:
- Version 1.33.1-7 (2198) on Android
- 1.33.1-7 on Safari 12.5.4
- 1.33.1-7 on Web Chrome v95

Attachments:
- Android - https://www.screencast.com/t/MTuKfxilOv
- Safari - https://www.screencast.com/t/0bcvIcOsrOj7
- Chrome - https://www.screencast.com/t/IYsjAu86O

[2021-11-01 15:19] #3469 closed

[2021-11-01 15:25] sirpy commented on #3346
what about the feed modal? when user clicks on it
show the invoice id etc..

[2021-11-02 00:23] TomasGonzalez commented on #3302
I was unable to replicate the issue on my Pixel 4 physical device,
I believe that this might have disappeared due to the react-native upgrade.
I uploaded a PR so @vldkh can test if everything is working fine.

[2021-11-02 14:22] vldkh commented on #3482
@TomasGonzalez @johnsmith-gooddollar
I think we anyway need some improvement

Environment:
DEV Version 1.33.1-7 (2202)

Device:
Samsung A80 // Android 10

Attachments:
https://www.screencast.com/t/Xu5T5Abut

[2021-11-02 14:52] johnsmith-gooddollar commented on #3302
@TomasGonzalez please check logs
The issue may be in some subscriptions still running trying to access some resources were disposed

- as quick fix we could just minimize app using the library i suggedsted
- if we want to close it exactlty we need to understand which subscription causes the crash exactly and cancel it before closing an app.
- to easily cancel subscriptions we could check for some

[2021-11-02 15:02] johnsmith-gooddollar commented on #3302
@vldkh we need more logs please

[2021-11-02 15:38] johnsmith-gooddollar commented on #3296
move code push to the separate issue

[2021-11-02 15:56] sirpy commented on #3302
Vlad mentioned that it happens after multiple times pressing the
back button, maybe it is because if you press it fast enough, the exitapp
would be called multiple times?

[2021-11-02 23:52] TomasGonzalez commented on #3482
Ok, I uploaded a new PR that fixes the comma, @vldkh please create another ticket for the other issue shown in the video "the number overlaps the profile image", I tried to find a quick solution for that one on this PR but found that that issue will be trickier to fix.

[2021-11-03 13:20] vldkh opened #3488 "[BUG] The avatar is overlapping by huge balance when scrolling down the feed items."
The avatar is overlapping by huge balance when scrolling down the feed items.

Preconditions:
1) account with huge balance available

Steps to reproduce:
1) scroll down the feed
2) observe the result

Actual result:
The avatar is overlapping by huge balance when scrolling down the feed items.

Expected result:
The avatar is not overlapping by huge balance when scrolling down the feed items.

Envir

[2021-11-03 13:27] vldkh commented on #3482
@TomasGonzalez
The issue is not reproduced. The commas in balance are displaying correctly

Tested on DEV Version 1.33.1-7 (2204)

Device: Samsung A80 // Android 10

Attachments:
https://www.screencast.com/t/rhevMeBdxCv

[2021-11-03 17:19] TomasGonzalez commented on #3361
I traced back the issue, to the function `handleLoginMethod` in `src/components/auth/torus/AuthTorus.js`

Specifically this section

[code]
The problem is that when the user goes back to the previous page, it gets redirected to the google login or whatever `torusSDK.triggerLogin(provider)` redirects to, but the flags `recallTorusRedirectStarted` and `recalltorusRedirectProvider` don't get set, and

[2021-11-04 08:29] sirpy commented on #3361
@TomasGonzalez the popup flow is not working on facebook browser for example and also many times the user have a popups blocker

The localstorage flags I use are to know that a user started the login flow, and when he comes back from redirect I should try to get the response from torus and I would also know which login method he used.

To fix it we need to make sure, that if torusSDK.getRedirectRe

[2021-11-04 08:45] sirpy commented on #3361
@TomasGonzalez
you need to check the behaviour of `handleLoginMethod`
- when user comes back from redirect it is automatically called through useeffect and `getTorusUserRedirect` based on the flags, with an extra parameter a promise with torus response
- if user clicks on one of the buttons it is called but with promise set to null

So you need to check why it doesnt work as expected

[2021-11-04 11:14] TomasGonzalez commented on #3361
@sirpy the problem is not happening because getRedirectResult is failing, and the reason why handleLoginMethod wont get called is because in the case of this bug, when the user goes back from the signing modal the flags won't get set, and I believe that there is no way to set them before the go back.

[2021-11-04 12:20] TomasGonzalez commented on #3361
I talked with @sirpy this is normal behavior so I'm closing this issue.

[2021-11-04 12:52] TomasGonzalez commented on #3437
looks like there is a call before to realm DB before it initializes.

[2021-11-04 13:24] johnsmith-gooddollar opened #3490 "Create test access account for the GooglePlay"
GooglePlay asks for test accounts to review the app

- [x] create test google acccount
- [x] sign up to GD app using this account
- [x] fill creds in the Google Play console
- [x] write short description

@patpedrosa  please adjust the following description i wrote:

[code]

@sirpy could you please do the following:

- [x] make test account whitelisted **permanently**. (if possible) - **not needed

[2021-11-04 14:35] TomasGonzalez opened #3491 "It looks like sentry is not using source maps to link compressed code to source code"
It looks like sentry is not using source maps to link compressed code to source code.
so it's hard to read the stack trace.
This is regarding #3437

It also recommends updating the sentry package

- [ ] fix the source maps
- [x] update sentry sdk

[2021-11-04 18:55] TomasGonzalez commented on #2978
Muted this error on sentry and closed the issue, apparently, it only occurs in a Chinese browser called `heytap` and is only available in their devices.

[2021-11-04 18:55] #2978 closed

[2021-11-05 16:45] johnsmith-gooddollar commented on #3491
@sirpy

1. Sentry SDK & build tools were updated.
2. I've read those articles and performed all the checks:
https://blog.sentry.io/2018/10/18/4-reasons-why-your-source-maps-are-broken
https://docs.sentry.io/platforms/javascript/sourcemaps/troubleshooting_js/
3. Everything looks fine
- there's a sourceMappingURL comment at the end of each bundled file
- files have version hashed
- .map files were g

[2021-11-07 07:36] sirpy commented on #3491
looking at the project sourcemaps in sentry
source maps seem to be uploaded during our android release
1. I dont see sourcemap for the latest version 1.33
2. some sourcemaps have 0 artifacts

so maybe something was broken with the android release flow and that's why
we dont have sourcemaps
I guess we can add uploading sourcemaps to the github actions of the
release flow

[2021-11-08 09:23] omerzam commented on #3296
@johnsmith-gooddollar @sirpy @tzvister if my help is required here let me know
I'll be happy to assist

[2021-11-08 10:43] #3490 closed

[2021-11-08 10:45] johnsmith-gooddollar opened #3493 "Configure AppCenter hot code push"
- [x] install code push package
- [x] configure for different enviroments (app side)
- [x] configure for different enviroments (app center side)
- [ ] configure for different enviroments (google play side)
- [ ] test deployment

[2021-11-08 12:26] TomasGonzalez commented on #3437
Closed the issue until it happens again in the new release.

[2021-11-08 12:33] johnsmith-gooddollar commented on #3437
@sirpy @TomasGonzalez it's still happening and ~2,5k users have met with this issue:
![image](https://user-images.githubusercontent.com/89783679/140742858-38bd1844-5d10-4c38-bd01-86768f0de5c0.png)

[2021-11-08 12:37] TomasGonzalez commented on #3437
Ok, I'll dedicate more time to investigating it.

[2021-11-08 15:47] sirpy commented on #3437
yes but it happened only once in the past week! and for a user with an old
version!!

[2021-11-08 15:57] sentry-io[bot] opened #3495 "Error: Invalid JSON RPC response: """
- [ ] where does this come from? it is caught by unhandled exception handler, where dont we catch blockchain calls exceptions?
- [ ] this is not reported on amplitude, we have ~200 of those daily, but non amplitude, why? unhandled?

Sentry Issue: [GOODDAPP-5RTK](https://sentry.io/organizations/gooddollar/issues/2748317895/?referrer=github_integration)

[code]

[2021-11-08 15:57] TomasGonzalez commented on #3437
@sirpy @johnsmith-gooddollar Ok, should I mark this as frozen and move on than?

[2021-11-09 04:30] TomasGonzalez commented on #3361
torus replied to the chat with. ![image.png](https://images.zenhubusercontent.com/6166e02c8e9344bab32f55a0/22be1bb0-7bb7-4392-9310-e9867cf1cdb6)
I investigated this and I don’t think the solution torus gave us is going to work for us… the clearLoginDetails does not seem to be In the SDK as they said, also even if the login sends the response, there is no flag set so the app won't be able to do any

[2021-11-09 07:07] sirpy commented on #3361
https://github.com/torusresearch/torus-direct-web-sdk/search?q=clearLoginDetailsStorage

[2021-11-09 10:49] patpedrosa commented on #3346
This is the design for the modal.

Vendor (seller) will see it green/credit, payer (sender) will see the same thing in red/debit.

![Dashboard – Vendor Transfer  Recieve](https://user-images.githubusercontent.com/49105975/140910348-b3d71581-59b3-44d7-89f4-80b745b421df.jpg)

[2021-11-09 12:29] johnsmith-gooddollar commented on #3491
source maps are now visible:

![image.png](https://images.zenhubusercontent.com/6135d0416eed5f7809f4ee6b/d461fb21-fedf-4968-8532-61c25c2b138d)

tested on QA

[2021-11-09 12:34] TomasGonzalez commented on #3335
@sirpy What are the issues associated with the scroll?

[2021-11-09 12:42] johnsmith-gooddollar commented on #3335
1. update existing package, apply customizations via patch-package instead of making a fork like we have did in the past. OR research for the better package providing everyting we're need
2. look at optimizations, remove render functions, replace them via usage of nested components wrapped onto React.memo. Install why did  you render and check for extra re-renders, decrease theirs count
3. ask @si

[2021-11-09 13:27] johnsmith-gooddollar commented on #3361
@TomasGonzalez here's the solution possible:
https://github.com/GoodDollar/GoodDAPP/pull/3496

need to test it

[2021-11-09 13:36] TomasGonzalez commented on #3361
the issue persists.

[2021-11-09 13:37] johnsmith-gooddollar commented on #3361
then close this PR and task

[2021-11-09 13:47] vldkh opened #3497 "[BUG] The app goes black after opening the FV screen."
The app goes black after opening the FV screen.

Preconditions:
1) the user is logged in
2) the FV is not passed

Steps to reproduce:
1) tap on the "Claim" button
2) tap on the "Claim now" button
3) tap on the "OK, VERIFY ME" button
4) tap on the "GOT IT" button
5) observe the result

Actual result:
The app goes black after opening the FV screen.

Expected result:
The design doesn't brokes after o

[2021-11-10 08:17] sirpy opened #3498 "(Chore) Use doppler with github actions"
- [ ] fill the *_mobile branch configs in doppler with android/ios secrets
- [ ] use doppler cli in github actions yml file to download both env_secrets and env_mobile into the .env
`doppler secrets download --no-file --format env --token=<service token>`
notice that you need to run `doppler secrets` twice each time with a different service token, one for _secrets and one for _mobile

[2021-11-10 13:05] TomasGonzalez commented on #3497
@johnsmith-gooddollar the issue is on facetec side. We are able to reproduce it in their demo app. Another thing, only Vlad is able to reproduce it in his machine with certain light conditions.

[2021-11-10 13:06] johnsmith-gooddollar commented on #3497
@TomasGonzalez need to find what is this black background. It should be just a div with some styles applied.
need to override its styles, make it invisible or change bg etc.

[2021-11-10 13:36] patpedrosa opened #3499 "Crypto Literacy Campaign"
**OVERVIEW**
We want to promote Crypto Literacy Month and onboard more users into the wallet by rewarding existing users that invite new people to join with 250 G$. Their invitees will receive 50 G$.

**OBJECTIVE**
1 - Increase sign-ups
2 - Analyze effectiveness of the referral campaigns
3 - Test comms in app

**USER FLOW**

1- See banner on home screen
![clm_homescreen_2_____1.png](https://images

[2021-11-10 14:10] patpedrosa commented on #3499
Waiting to hear from @TomasGonzalez Tomas on what kind of assets he needs.

[2021-11-10 18:22] patpedrosa commented on #3499
![CLM HomeScreen Banner.svg](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/2d416f9e-133b-4412-ab7b-cc62c5c5334f)

[2021-11-10 18:24] patpedrosa commented on #3499
@TomasGonzalez Assets

Project: https://xd.adobe.com/view/83100b9d-980c-4da2-8006-8c43ae3cf945-d643/variables/

SVG: https://gooddollar.slack.com/archives/CCVQ08FNW/p1636568505017600?thread_ts=1636550365.013200&cid=CCVQ08FNW

[2021-11-10 18:25] patpedrosa commented on #3499
@drptiago Any more events we need to add to this to make the investigations we discussed?

[2021-11-11 02:55] drptiago commented on #3499
The trigger of events I see are:

1. People who click on the banner on the home screen.
2. People who copy the link in the reward/invite screen.
3. People who access the app/web app with the link ( A different event from **INVITE_JOIN** maybe is a good idea to make sure we do not have a bias here)

[2021-11-11 07:57] sirpy commented on #3499
@drptiago @patpedrosa
1. The bounty for the invitee is half of the inviter. so he will receive 125G$. maybe you want to include that in the copy.

Regarding events
for copying the link we have INVITE_SHARE with param `method: native/copy` (ie native share or copy on web)
for accessing the app we have the APP_OPEN event with param `source:inviteCode/paymentCode/code` so if source is inviteCode it m

[2021-11-11 12:26] #3497 closed

[2021-11-11 13:03] johnsmith-gooddollar opened #3501 "FaceTec - Light mode and Dynamic dimming mode customizations [Native only]"
FaceTec UI now detect lights level in the room by the device camera and uses device API to lighten / darken the screen. Also:

- it changes design by filling the whole screen white/black. This couldn't be undone
- it provides an option to customize the rest of UI for those particular modes

This isn't working on the all devices.
@vldkh was able to reproduce it on Windows 10 PC with webcam andGoogl

[2021-11-11 13:11] patpedrosa commented on #3499
@sirpy

1. My understanding is that it was 250 G$. I think 250 for the inviter might be a better driver to get people to invite than mere extra 25 G$. I think it should be 250/50.

3. Yes. It would be good to see inviters/invitees bounty counts separately, and the values received. As we investigate invites, it will be interesting to know how much it costs and the effect that it has on activity. cc

[2021-11-11 13:28] sirpy commented on #3499
@patpedrosa
 its going to be 250/125 the invitee gets half of the inviter bonus.

[2021-11-11 14:30] drptiago commented on #3499
@sirpy when the  INVITE_JOIN is triggered?

[2021-11-11 14:52] TomasGonzalez commented on #3499
@patpedrosa yes I've got everything.

[2021-11-11 14:57] patpedrosa commented on #3499
@TomasGonzalez fyi, i changed the copy of the invite above to say "125 g$" per hadar's clarification on the bounty. it will return to 50 in december.

[2021-11-11 15:05] TomasGonzalez commented on #3499
Will the new invite copy text stay after November? are we sticking to it?

[2021-11-11 16:59] patpedrosa commented on #3499
@TomasGonzalez Likely.

[2021-11-12 02:57] TomasGonzalez commented on #3499
@patpedrosa @sirpy should we add a param to the `INVITE_BANNER` that describes this is for the Crypto Literacy November banner? as I believe we might add different banners in the future?

[2021-11-12 09:13] sirpy commented on #3499
@TomasGonzalez i dont think it is needed. but it wont hurt, you call.

[2021-11-12 15:02] #3441 closed

[2021-11-12 15:03] #3475 closed

[2021-11-12 15:03] #3411 closed

[2021-11-12 15:08] johnsmith-gooddollar opened #3503 "Include environment key to the web release In Sentry"
this is needed to avoid artifacts mixing between QA & Prod

[2021-11-12 15:08] #3491 closed

[2021-11-12 15:10] #3451 closed

[2021-11-12 15:10] vldkh commented on #3488
@TomasGonzalez @johnsmith-gooddollar
The issue is not reproduced.

Checked on DEV Version 1.34.0 (2242)

Device:
Samsung A80 // Android 10

Attachments:
https://www.screencast.com/t/yMGLQ07iLshV

[2021-11-12 15:10] #3283 closed

[2021-11-12 15:11] #3462 closed

[2021-11-12 15:11] #3367 closed

[2021-11-12 15:11] #3317 closed

[2021-11-12 15:12] #3147 closed

[2021-11-12 15:14] #3406 closed

[2021-11-12 15:14] #3291 closed

[2021-11-12 15:16] johnsmith-gooddollar opened #3504 "To make sure native QA & prod are using the correct env"
On web QA & prod used dev env due to the wrong .env.envname file inclusion

Need to make sure that during native app buil the proper environment is merging

[2021-11-12 15:56] johnsmith-gooddollar opened #3505 "To inform Netlify it should use 'clear cache' strategy during deployment"
When we have breaking changes and libraries versions are changing in a lot, the node modules cached on the Netlify aren't updating correctly. As a resuly the deployments fails and needs to be re-run manually with 'clear cache' option

- [ ] find a way to trigger 'clear cache' automatically (maybe by some tag in the commit message
- [ ] add an option to the Web CI/CD workflow_dispatch to add this t

[2021-11-14 08:48] sirpy commented on #3505
we are switching to vercel

[2021-11-14 13:49] #1779 closed

[2021-11-14 13:49] #1780 closed

[2021-11-14 13:49] #1781 closed

[2021-11-14 13:49] #1782 closed

[2021-11-14 13:53] #2941 closed

[2021-11-14 13:59] #153 closed

[2021-11-14 13:59] #1844 closed

[2021-11-14 14:00] #2207 closed

[2021-11-14 14:00] #2578 closed

[2021-11-14 14:40] sirpy opened #3506 "Community Growth"

[2021-11-14 14:40] #3506 closed

[2021-11-14 14:43] sirpy opened #3507 "Apps Folder UI"

[2021-11-14 14:49] sirpy opened #3508 "Apps Folder API"

[2021-11-14 14:49] sirpy opened #3509 "Apps Folder Governance"

[2021-11-14 14:52] sirpy opened #3510 "New homepage/Login"

[2021-11-14 14:53] sirpy opened #3511 "UI Translation"

[2021-11-14 14:55] sirpy opened #3512 "re-send to known address/contact"

[2021-11-14 14:56] sirpy opened #3513 "Mobile Features"

[2021-11-14 15:00] sirpy opened #3514 "Login with G$"
### Motivation
- G$ Wallet should also work as "self sovereign identity" so users can easily register to services that work with G$s.
- More over , each claimer is verified as a unique human being, which acts as a very good spam/bot prevention which is very useful for any service that requires registration.

### Details
The bounty has two parts, one for implementing this feature in the wallet and

[2021-11-14 15:05] sirpy opened #3515 "Connect Multiple Logins"

[2021-11-14 15:09] sirpy opened #3516 "Social Tipping"

[2021-11-14 15:10] sirpy opened #3517 "Public Profiles"

[2021-11-14 15:13] sirpy opened #3518 "Connect 3rd Party Wallets"

[2021-11-14 15:14] sirpy opened #3519 "G$ Savings Plan"

[2021-11-15 09:48] johnsmith-gooddollar opened #3520 "GoodServer-next deployment issue - tag already exists"

[2021-11-15 12:29] johnsmith-gooddollar commented on #3520
fixed

[2021-11-15 12:29] #3520 closed

[2021-11-15 15:19] vldkh opened #3521 "There is no possibility to "Claim" G$ on DEV and QA envs."
There is no possibility to "Claim" G$ on DEV and QA envs.

Preconditions:
1) the user is logged in
2) the main page is open

Steps to reproduced:
1) Click on the "Claim" button
2) Observe the result

Actual result:
The error popup is shown

Expected result:
The user is able to "Claim" G$/Pass the FV

Environment:
QA 1.34.1-1
DEV 1.34.1-1

Devices:
Windows 10 // Google Chrome v95

Attachments:
http

[2021-11-15 16:16] johnsmith-gooddollar commented on #3521
bug caused by this commit: https://github.com/GoodDollar/GoodDAPP/commit/62a56eeec3e1506220f8c8d7cab9e5ba5de68532

if some value of res isn't a string but is already number or is null/undefined - we're trying to call .map anyway which cases the error

@sirpy please review my PR with the fix: https://github.com/GoodDollar/GoodDAPP/pull/3522

[2021-11-16 00:19] TomasGonzalez commented on #3346
@patpedrosa In the design of the feed item there doesn't seem to be an example of the `invoice id`, also wanted to point out that the icon that is being used in the example is the `receiving` one but the colors and negative transaction value makes it look like it is sending and not `receiving`

[2021-11-16 06:40] sirpy commented on #3346
@TomasGonzalez i dont think its important to show the invoice id on the feed item.
The colors are not incorrect, this design is from the view point of the receiver, a similar design should be for the sender jsut with the send colors/icons

[2021-11-16 06:42] sirpy commented on #3346
@patpedrosa though i'm not sure the design is optimal. it is kind of redundant to show the "To:" to the receiver and "from:" to the sender

[2021-11-16 09:31] vldkh commented on #3521
@johnsmith-gooddollar @sirpy
There is still no possibility to Claim on DEV/QA envs. The "Claim request failed. Try again later" popup is shown.

Environment:
DEV 1.34.1-1
QA 1.34.1-1

Devices:
Windows 10 // Google Chrome v95

Attachments:
https://app.birdeatsbug.com/sessions/BmWQJM5V5fQtjupP0LBk_

[2021-11-16 10:14] johnsmith-gooddollar commented on #3521
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/89783679/141966366-19082978-3c61-43e2-99dc-58b89dcb201e.png">

[2021-11-16 11:00] patpedrosa commented on #3346
@TomasGonzalez No invoice id on the feedd.

[2021-11-16 11:02] patpedrosa commented on #3346
@TomasGonzalez

- No invoice id on the feed.
- The above shows a received transaction. For a sent transaction, meaning what the payer would see if they tapped it, the colors AND the icon are switched.

@sirpy Not sure what you mean by redundant. I don't see nay redundancies here.

[2021-11-16 13:18] vldkh commented on #3499
@patpedrosa @johnsmith-gooddollar
The banner and redirect work properly. Awaiting the latest updates according to the reward values from @sirpy

[2021-11-16 13:59] TomasGonzalez commented on #3346
@patpedrosa I think by redundant he means the `from:` in the modal. As the person viewing already knows that he's the sender.

[2021-11-16 14:04] sirpy commented on #3346
@patpedrosa the receiver already knows who it is for... and the sender knows who is it from.

[2021-11-16 14:29] patpedrosa commented on #3346
@sirpy

- If the user is able to add custom name/email on our confirmation screen, I think they should be able to double-check the contact details they've provided to the Vendor.

Also, if they want to screenshot a transaction to send to the vendor as payment confirmation, it makes sense to surface all info needed for them to process the sale.

We can polish the design in the next UI and take in c

[2021-11-16 14:32] TomasGonzalez commented on #3346
@sirpy this is the icon I was mentioning, I'm pretty sure is not the correct one It should be pointing up not down.
![image.png](https://images.zenhubusercontent.com/6166e02c8e9344bab32f55a0/7a8a5caf-34ef-4fdc-8baa-d720fc493105)

[2021-11-16 14:52] patpedrosa commented on #3346
@TomasGonzalez You're correct. I thought we're talking about the modal.

[2021-11-16 20:52] TomasGonzalez commented on #3346
@sirpy I'm having trouble retrieving the invoice id + seller website data from the feedItem, this is all the data I'm getting

[code]

[2021-11-16 21:09] TomasGonzalez commented on #3346
@sirpy It seems that the tasks that are marked as completed in this task are actually not implemented yet... Is there some open branch where I can continue from or should I implement from scratch?

[2021-11-17 01:11] patpedrosa opened #3523 "Update "Delete Account" modal"
![Screen Shot 2021-11-16 at 21.30.59.png](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/59eb9c53-afa3-4950-8f98-2823e087eeae)

Please add the following copy, in grey (as the cancel button), between the copy and the CTAs:

Feel free to reduce the line spacing & new copy font size to make room for the extra copy.

[2021-11-17 06:47] sirpy commented on #3521
@vldkh please check now

[2021-11-17 07:24] sirpy commented on #3346
@TomasGonzalez
I dont see that the tasks are checkmarked so why do you say they are marked as completed?
You need to create yourself a vendor payment request (see share/index.js) so you can test it
And complete all the tasks that are not checkmarked, write the vendor info to the feed item record, when payment request is fullfilled in the wallet

[2021-11-17 08:04] johnsmith-gooddollar commented on #3523
@TomasGonzalez 1. this is ASAP 2. ask @patpedrosa regarding any questions you may have

[2021-11-17 08:09] vldkh commented on #3521
@sirpy @johnsmith-gooddollar
The issue is not reproduced.

[2021-11-17 08:09] #3521 closed

[2021-11-17 09:04] vldkh opened #3524 "[BUG] There is no possibility to get an Invite reward on QA env. The "Your inviter is not verified yet" popup is shown."
There is no possibility to get an Invite reward on QA env. The "Your inviter is not verified yet" popup is shown.

Preconditions:
1) two whitelisted accounts are available without used invite code

Steps to reproduce:
1) go to the invite page
2) enter the invite code from other account
3) observe the result

Actual result:
The users are not able to get rewards after both of them were whitelisted.

[2021-11-17 09:08] #3524 closed

[2021-11-17 12:49] vldkh opened #3525 "Need to update information about rewards in the "Invite your friends now" feed transaction card and actualize it to our November event."
![Snag_126ba80.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/622cccd4-2480-4739-8129-0e4d18ede036)

[2021-11-17 14:33] patpedrosa opened #3526 "Passwordless users unable to login"

[2021-11-17 14:42] johnsmith-gooddollar opened #3527 "Check 'missing captcha' on worker"
1. there is considerable increase in user complaints and the data shows a slight increase in SMS blocked on our side.

2. the captcha missing is from the cloudflare worker

the flow is:
user performs captcha -> goodserver -> verifies captcha -> stores on cloudflare KV_STORE that user IP passed captcha
user requests sms from auth0 login -> auth0 -> clouflare worker -> check KV_STORE if request IP p

[2021-11-17 14:50] #3526 closed

[2021-11-17 14:50] vldkh commented on #3499
@patpedrosa @johnsmith-gooddollar
All works properly on the Web and on Android devices.

Checked on:
Samsung A80 // Android 10 (Version 1.35.1 (2266) )
Windows // Google Chrome v95 (1.35.1)

[2021-11-17 14:50] #3499 closed

[2021-11-18 02:48] TomasGonzalez commented on #3346
@sirpy I unchecked them. They were all checked up to the task `opt to the Send in callback URL via POST`.

[2021-11-18 06:55] sirpy commented on #3525
the campaign is just for november. this is not cruicial

[2021-11-18 06:55] #3525 closed

[2021-11-18 11:00] johnsmith-gooddollar commented on #3527
Hadar R  12:50 PM
so there are two ways to test my assumption

Oleksii Serdiukov  12:52 PM
IP usage here is a really weak place. it’s non unique and could be changed time by time …

Hadar R  12:52 PM
is the ip that is blocked because of no captcha, actually sent a captcha result to goodserver
check in realtime, requests to goodserver with captcha result, and then manually read the KV_STORE, how lo

[2021-11-18 11:01] johnsmith-gooddollar commented on #3527
Hadar R  12:56 PM
i've asked Pat that we check it per user complaint.
12:56
I suggest to do nothing, until Pat give us examples of users that are complaining
12:57
it could be that their SMS issues is because of a different reason all together

[2021-11-18 11:02] johnsmith-gooddollar commented on #3527
@patpedrosa please attach users' complaints here. thanks

[2021-11-18 14:22] johnsmith-gooddollar commented on #3527
I've opened PRs for the app & server
unfortunately i have no ipv6 support on any of ISPs i could use for the Internet connection

@sirpy could you check them please ?

[2021-11-18 15:21] johnsmith-gooddollar opened #3530 "GoodDollar - iOS deploy / release"
- [x] configure release to the app center
- [x] configure hot code push
- [ ] configure release to the AppStore

[2021-11-18 15:25] #3505 closed

[2021-11-18 16:55] vldkh commented on #3523
@TomasGonzalez @johnsmith-gooddollar
The "Delete Account" popup is displayed properly in each environment.

[2021-11-18 16:55] #3523 closed

[2021-11-18 21:52] patpedrosa commented on #3527
I had not deleted the account I created when I did what Hadar asked me to test last, so I tried to log in with that existing account as the first part of the test required.

Video: https://drive.google.com/file/d/10cuTaVGcibjPH9n24T0GwN5FexW8xQ6y/view?usp=sharing

All steps I took, transcribed:

Cleared cookies and all data,
selected login,
login with passwordeless,
entered +5531984936598,
got cod

[2021-11-18 23:08] patpedrosa commented on #3527
The second part of the test, creating a new account from scratch, worked very smoothly on my iPhone XR. No issues. You can watch it here: https://drive.google.com/file/d/1YPDuMj-Yts5WsBlLssGuJsjn6UdYKU-w/view?usp=sharing

[2021-11-19 09:33] sirpy commented on #3527
the signup loop seems like a different issue, please open a separate ticket
for it

[2021-11-19 11:31] patpedrosa opened #3532 "[BUG] Sign in loop for passwordless users"
Replicated an issue reported by multiple users when trying to log in with passwordless where, when trying to log in, you'll be told that you have already used that account and telling you to log in/sign up. If you pick log in you're stuck in the loop. If you pick signup you do the sign up flow up to e-mail, which doesn't fire.

Video: https://drive.google.com/file/d/10cuTaVGcibjPH9n24T0GwN5FexW8xQ

[2021-11-19 11:36] patpedrosa commented on #3527
Above issue here: https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/3532

[2021-11-19 12:31] johnsmith-gooddollar commented on #3532
@sirpy @patpedrosa will push my fix to cfworker today

[2021-11-19 12:31] johnsmith-gooddollar commented on #3527
@sirpy @patpedrosa will push my fix to cfworker today

[2021-11-19 12:47] sentry-io[bot] opened #3533 "UnhandledRejection: Non-Error promise rejection captured with value: Timeout"
Sentry Issue: [GOODDAPP-41XN](https://sentry.io/organizations/gooddollar/issues/2527333427/?referrer=github_integration)

[code]

[2021-11-19 12:51] patpedrosa opened #3534 "Sign-up & Login flow improvement"
**Design**
https://www.figma.com/file/7dCC4YlzF8tFOooA5M8b5y/G%24-Wallet?node-id=149%3A1478

The latest version of design is located **the right side**, in the **block diagram**

**Context**
https://app.zenhub.com/workspace/o/gooddollar/gooddapp/issues/3593

**P1 Overview**
The purpose of this ticket is to simplify the existing signup flow by replacing the initial screens with one simple screen an

[2021-11-19 17:27] #3457 closed

[2021-11-19 17:43] patpedrosa commented on #3532
Errors continue to increase so this bug seems critical. If we could release a quick fix prior to implementing the new flow, that would be great. Making sure that our users can log in is high priority for now as the app is the only place people can claim.

<img width="1324" alt="Screen Shot 2021-11-19 at 14 35 59" src="https://user-images.githubusercontent.com/49105975/142666767-d0bebd88-9950-4488-

[2021-11-19 22:52] johnsmith-gooddollar commented on #3532
@patpedrosa regarding 'captcha missing' i'm sorry it's my bad
i re-published worker with ipv6 check enabled but i forgot to hotfix wallet & server

just pushed the fixes, server is deployed, wallet is deploying now

[2021-11-21 07:32] sirpy commented on #3532
@patpedrosa @vldkh can you reproduce this with Birdeatsbugs?

[2021-11-22 11:18] patpedrosa opened #3535 "e-mail users post login"

[2021-11-22 16:08] patpedrosa opened #3536 "Multiple credentials"

[2021-11-23 06:30] sirpy commented on #2714
migrating out of mautic

[2021-11-23 06:32] #3405 closed

[2021-11-23 09:55] sirpy commented on #3533
@TomasGonzalez googling it came up with
https://github.com/getsentry/sentry-javascript/issues/2514

seems like it is comming from captcha

[2021-11-23 15:45] vldkh commented on #3495
@sirpy @johnsmith-gooddollar @TomasGonzalez
Maybe it could help to solve the issue. Unfortunately, there are only video logs from it, because the Error is floating.
https://www.screencast.com/t/SvRVj3nl3DP

[2021-11-24 07:36] sirpy commented on #3495
@vldkh thanks vlad.
but this is a different issue. the error you are showing is caught and handled plus the json response is not empty (ie is not "")

[2021-11-24 21:22] sirpy commented on #3463
@patpedrosa that's what the user will see if he scans a qr code of an address that was never active on fuse
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/e50c504b-a660-4d99-b824-9cdce950a363)

[2021-11-25 23:48] TomasGonzalez commented on #3346
@vldkh @johnsmith-gooddollar Just found out that the app crashes when the user refreshes the `SendLinkSummary` screen while processing a payment request.

[2021-11-26 03:00] TomasGonzalez opened #3540 "App crashes when refreshing `SendLinkSummary` screen while processing a payment request."
https://images.zenhubusercontent.com/166818382/3425ca88-f560-49dc-a2ab-be129e858985/screen_recording_2021_11_25_at_10_58_40_pm.mov

[2021-11-26 03:17] TomasGonzalez opened #3541 "App crashes when the user refreshes the SendLinkSummary screen while processing a payment request."
https://images.zenhubusercontent.com/166818382/2c6034d2-7bf4-4987-a4df-23f4a31e51b4/screen_recording_2021_11_25_at_10_58_40_pm.mov

[2021-11-26 13:58] johnsmith-gooddollar commented on #3541
@TomasGonzalez if this is related to the blockchain please
- attach the exact blockchain error
- describe why is causes the crash
- juist add some error handling preventing the crash. show some error popup in the case
- assign @sirpy and ask him for the help

[2021-11-26 14:00] johnsmith-gooddollar commented on #3541
@TomasGonzalez does this reproduces on master too ? or it's happening in Your PR's branch only ? Could i merge the PR ?

[2021-11-26 14:01] TomasGonzalez commented on #3541
This is master

[2021-11-27 00:01] patpedrosa opened #3542 "Increased errors in claim"
3 consecutive days, but no complaints on help desk yet.

![Screen Shot 2021-11-26 at 21.00.29.png](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/04f8d95c-e137-447e-8e5d-a52b9c1bfc75)

[2021-11-28 15:54] patpedrosa commented on #3542
Errors persist.

![Screen Shot 2021-11-28 at 12.53.46.png](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/5047d611-9036-462c-a6d4-bb9c10f7b2cf)

[2021-11-28 15:55] patpedrosa commented on #3542
User reported odd claim value shown on claim screen:

![Image from iOS (64).png](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/2b4da1a4-f9c0-46da-b5b3-cf118044da65)

[2021-11-28 22:22] sirpy commented on #3541
@serdiukov-o-nordwhale this is undux store issue
could be an opportunity to move the "account" to a context provider

[2021-11-28 22:22] sirpy commented on #3541
@johnsmith-gooddollar ^^^

[2021-11-29 10:34] vldkh commented on #3541
@johnsmith-gooddollar @TomasGonzalez @sirpy
Also reproduced on web DEV, QA and PROD envs.

Environments:
DEV 1.35.1-2
QA 1.35.1-2
PROD 1.35.10

Devices:
Windows 10 // Google Chrome v96

Attachments:
DEV - https://app.birdeatsbug.com/sessions/gZ4x8f2S2XMrJD2a2PdwL
QA - https://app.birdeatsbug.com/sessions/XP3C0sZZmhJfksuTRXY3d
PROD -  https://app.birdeatsbug.com/sessions/QoH61idehlcnOEJ7tqBgD?

[2021-11-29 12:55] TomasGonzalez commented on #3541
@sirpy @johnsmith-gooddollar  ```
/**
   * getComponent gets the component and props and returns the same component except when
   * shouldNavigateToComponent is present in component and not complaining
   * This function can be written in every component that needs to prevent access
   * if there is not in a correct navigation flow.
   * Example: doesn't makes sense to navigate to Amount if there

[2021-11-29 13:12] johnsmith-gooddollar commented on #3541
this is ok, it’s the same as declare

[code]

outside class component then, in getComponent just refer it:

[code]

[2021-11-29 13:17] TomasGonzalez commented on #3541
Well when I remove the useEffect but leave the screenProps.goToParent() the crash is gone.

[2021-11-29 15:39] vldkh opened #3543 "[BUG] The Sign up/Login buttons don't work on the Welcome page on the Android app (early access)"
The Sign up/Login buttons don't work on the Welcome page on the Android app (early access)

Preconditions:
Download the App from https://play.google.com/store/apps/details?id=org.gooddollar

Steps to reproduce:
1) go to the Welcome Page
2) tap on the "Sign up/Login with Passwordless" buttons
3) observe the result

Actual result:
The Sign up/Login buttons don't work on the Welcome page

Expected re

[2021-11-29 16:15] johnsmith-gooddollar commented on #3542
@sirpy could we reach some limits ? I found this in the Sentry logs, it looks like we're sending a lot of request and were blocked

![image.png](https://images.zenhubusercontent.com/6135d0416eed5f7809f4ee6b/34a8a79d-b193-4a75-b8b2-3b8d2b026c2a)

[2021-11-29 16:21] johnsmith-gooddollar commented on #3542
@sirpy we had one of those issues reported
https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/goodserver/308

[2021-11-29 16:28] patpedrosa commented on #3542
Another user report, this one with a bit more context.

WA 0xC5D90Bc0006683B8ED0DeD9F34f00f121c09815F

![Screen Shot 2021-11-29 at 13.27.10.png](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/041ca3b2-7880-44dd-9e40-c21531e18761)

![Screen Shot 2021-11-29 at 13.26.47.png](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/91a23e1d-29ef-4629-9b3b-3f989d5976f8)

[2021-11-29 16:51] vldkh commented on #3542
Some additional info. The error was reproduced at 2:09 minutes - https://app.birdeatsbug.com/sessions/X1xuysZN93D6c8hrwZKwJ?
And the inviter doesn't get a card from a successfully registered invitee. Besides the inviter got their reward
![Snag_1b2ce3d.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/a5385849-253f-44eb-b232-d4552b87329d)![Snag_1b3eef0.png](https://images.zenhubuse

[2021-11-29 18:39] johnsmith-gooddollar commented on #3541
@sirpy in addition to the undux-related issue there was another error coming from the react-navigation library. I did a detailed research but haven't found any exact way how profile changes in undux or navigation could cause this issue.

It looks like useEffect inside a 'dummy' component (which should just return back if shouldNavigateTo returned false) runs in a 'wrong place and moment of time'.

[2021-11-30 02:13] TomasGonzalez commented on #3533
I'm just gonna mute this error, that's what they recommend in the said GitHub thread.

[2021-11-30 10:02] vldkh commented on #3541
@sirpy @johnsmith-gooddollar @TomasGonzalez
The issue is not reproduced. After the user refreshes the SendLinkSummary screen while processing a payment request the main page is shown.

Tested on:
DEV and QA 1.35.1-2
PROD 1.35.11

Device:
Windows 10 // Google Chrome v96

Attachments:
https://www.screencast.com/t/G4LvG5XFY2

[2021-11-30 10:02] #3541 closed

[2021-11-30 12:11] vldkh commented on #3542
@sirpy @johnsmith-gooddollar
These logs could be more helpful to solve the problem. Please check:
https://app.birdeatsbug.com/sessions/c9QQjJQEFr3ZWCR8ankYM?

[2021-11-30 13:00] johnsmith-gooddollar commented on #3501
For now we need just 2,3,4,5 for the **native** only @TomasGonzalez @vldkh

[2021-11-30 16:02] vldkh opened #3545 "[BUG] The Beta Android App crashes after setting the public values on the "privacy screen"."
The Beta Android App crashes after setting the public values on the "privacy screen".

Steps:
1) go to the user profile
2) go to the "Privacy"
3) set the public values
4) tap on the "Save" button
5) observe the result

Actual result:
The App crashes after setting the public values

Expected result:
The App does not crash after setting the public values

Environment:
Public beta 1.35.7

Devices:
Sa

[2021-12-01 15:09] patpedrosa commented on #3542
@sirpy

Took a look at [0xca2f transactions](https://explorer.fuse.io/address/0xCa2F09c3ccFD7aD5cB9276918Bd1868f2b922ea0/transactions) for a 10-minute period a little before noon today. (Just now.)

16 reverted, 19 completed successfully.

All the 16 reverted were bounties for invitees and used 591,111 gas on a 600k limit.

[Some invitee bounties were completed successfully.](https://explorer.fuse

[2021-12-02 08:11] Rahulantino opened #3546 "How to clear input"
### Description

### Steps to reproduce

1.
1.

### Which network did you use?

### Supporting data

[2021-12-02 10:42] vldkh commented on #3545
@johnsmith-gooddollar @TomasGonzalez
this is the full logs from the flow beginning:
[https://app.zenhub.com/files/166818382/5709412a-4ac9-4125-9ff9-a95dfeb12907/download](https://app.zenhub.com/files/166818382/5709412a-4ac9-4125-9ff9-a95dfeb12907/download)

[2021-12-02 13:02] vldkh opened #3547 "[BUG] Need to centralize fonts on feed transactions cards on the Android DEV env."
Need to centralize fonts on feed transactions cards on the Android DEV env.

Also, the word "from" on feed transactions cards is a different register than on QA and PROD envs. On QA and PROD, it shows like "From".

Environment:
DEV Version 1.35.1-2 (2311)

Device:
Samsung A80 // Android 10

Attachments:
![Snag_ee84ba.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/9519ae5e-0532-

[2021-12-02 13:18] vldkh opened #3548 "Need to find out why the value of the reward before the CLAIM is different than the value after the CLAIM."
@sirpy  please take a look. any ideas why it happening?

Env: web PROD 1.35.12

Device: Windows 10 // Google Chrome v96

Attachments: https://app.birdeatsbug.com/sessions/UbuHbrTPYdnVbkf8SprA7

[2021-12-02 14:05] vldkh commented on #3545
@johnsmith-gooddollar @TomasGonzalez
The crash is not reproduced.

Tested on PROD Version 1.35.13 (2316)

Device: Samsung A80 // Android 10

[2021-12-02 14:05] #3545 closed

[2021-12-02 16:28] johnsmith-gooddollar opened #3549 ""Masked" privacy level doesn't stores in the profile privacy settings"
hotfixed in the all branches

@vldkh please check the all environments

[2021-12-02 20:42] #3546 closed

[2021-12-03 09:23] vldkh commented on #3549
@johnsmith-gooddollar
The issue is not reproduced. The user is able to set and save every privacy settings even when one of the fields (phone number/email) is empty.

[2021-12-03 09:23] #3549 closed

[2021-12-03 12:06] johnsmith-gooddollar commented on #3504
+ solve the issue with the correct appUrl for the native while running app locally
it shouldn't be a localhost but gooddev.netlify.app

[2021-12-03 12:06] vldkh commented on #3548
@sirpy
It happened to me one more time, please start watch from 8:15 min.
https://app.birdeatsbug.com/sessions/6N5tlOlr2xtDgOb3nI7tA?

[2021-12-03 13:04] vldkh opened #3551 "Need to centralize balance values on the Receive page on Android devices."
Need to centralize balance values on the Receive page on Android devices.

Tested on Version 1.35.1-3 (2325)

Devices:
Samsung A80 // Android 10
Samsung S20 FE // Android 11

Attachements:![Snag_fcd74b.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/67c59d82-a5dc-4e44-a06d-f44780445dd4)

[2021-12-03 16:13] vldkh commented on #3551
@TomasGonzalez
The issue is not reproduced.

Tested on:
Version 1.35.16 (2328) PROD
Version 1.35.1-3 (2325) DEV

Devices:
Samsung A80 // Android 10
Samsung S20 FE // Android 11

[2021-12-03 16:13] #3551 closed

[2021-12-03 16:15] vldkh commented on #3543
@johnsmith-gooddollar @TomasGonzalez
The issue is not reproduced. The user is able to sign up/login via the Passwordless method. Also, the captcha shows to the user.

Tested on:
Tested on:
Version 1.35.16 (2328) PROD
Version 1.35.1-3 (2325) DEV

Devices:
Samsung A80 // Android 10
Samsung S20 FE // Android 11

[2021-12-03 16:15] #3543 closed

[2021-12-03 16:17] vldkh commented on #3547
@TomasGonzalez @johnsmith-gooddollar
The issue is not reproduced. All the transactions card values display properly

Tested on:
Tested on:
Version 1.35.16 (2328) PROD
Version 1.35.1-3 (2325) DEV

Devices:
Samsung A80 // Android 10
Samsung S20 FE // Android 11

[2021-12-03 16:17] #3547 closed

[2021-12-06 10:32] johnsmith-gooddollar commented on #3465
@TomasGonzalez please add checkboxes for the each bug/issue you've found
and mark which ones were fixed. thanks

[2021-12-06 16:35] johnsmith-gooddollar opened #3553 "E8: Private key must be 32 bytes long"
we had this in the past.

- [ ] to add 0 to private key if not 32 bytes.
- [x] also report this to torus, that it happens again on mobile

[2021-12-06 16:39] #3296 closed

[2021-12-07 07:47] sirpy commented on #3553
@serdiukov-o-nordwhale
goodWallet.wallet.utils.padLeft(pkey,64)
will make sure it is 32 bytes hex string

[2021-12-07 08:38] sirpy commented on #3548
@vldkh @patpedrosa
So there are a few issues here
1. this happens when user is checking on blockchain what is the next claim amount, just after a new day has started but still no one claimed yet. Each day the current day claim amount is calculated on the first claim.
2. we did handle this case, when user checks claim amount before no one has claimed yet, but the calculation is wrong
3. in any case

[2021-12-07 11:49] johnsmith-gooddollar commented on #3553
hotfixed to the all branches

https://github.com/GoodDollar/GoodDAPP/commit/10b93d767c3ce51e156747f7a99168902cc6329a
https://github.com/GoodDollar/GoodDAPP/commit/0f0eb0c5405f5f59a47157afbaf6332987d4c744
https://github.com/GoodDollar/GoodDAPP/commit/eac31d1cfa58cb98bda964bd48a5022d7334b2fb

[2021-12-07 12:48] vldkh opened #3556 "[BUG] The wrong value of the invite bonus is displayed to all new users on PRODUCTION env."
The wrong value of the invite bonus is displayed to all new users on PRODUCTION env.

**Steps to reproduce:**
1) create a new user
2) observe the result

**Actual result:**
The wrong value of the invite bonus is displayed to all new users on PRODUCTION env. (2125G$ instead of 100G$)

**Expected result:**
The value of the invite bonus is displayed properly on PROD (100G$ instead of 2125G$)

**Envir

[2021-12-07 13:03] TomasGonzalez commented on #3556
@sirpy this information is coming from the database.

[2021-12-07 16:57] #3553 closed

[2021-12-07 19:54] federicosan commented on #3472
Sorry, something unexpected happened, please try again.
Error: E3, this is hapening to me, latest chrome on MacOs.

[2021-12-07 21:21] sirpy commented on #3556
@TomasGonzalez
the issue is here
[code]
we replace 100 with 250
then we replace 50 with 250, this also replaces the 50 of the "250"
we need to use other place holders in the invite card. like _INVITERBOUNTY_ instead of 100 etc...

[2021-12-08 12:23] vldkh opened #3557 "[BUG] When the user tries to SIGN UP with an already existing account he gets the error"
[BUG] When the user tries to SIGN UP with an already existing account he gets the error

**IMPORTANT:**
- The issue is reproduced for every SIGN UP methods on Android PROD ONLY!!!
- The issue is not reproduced when the user LOGIN with their account

**Preconditions:**
1) the already registered account is available

**Steps to reproduce:**
1) tap on the "AGREE & SIGN UP WITH GOOGLE" button
2) choos

[2021-12-08 12:49] #3542 closed

[2021-12-08 12:49] sirpy commented on #3542
resolved by pokt

[2021-12-08 12:59] #3361 closed

[2021-12-08 13:00] sirpy commented on #3361
there's nothing we can do about it

[2021-12-08 13:00] vldkh opened #3558 "Create a test page to generate links for testing"

[2021-12-08 13:14] sirpy commented on #3501
@vldkh
please provide screenshots of how it looks vs regular mode
and @patpedrosa should provide input on what should be adpated

[2021-12-08 13:25] vldkh commented on #3501
@sirpy @patpedrosa
Normal mode:
![Snag_d4d5f6.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/0f332e4c-d8e3-48a3-b9ec-79d5ca1e6241)

Black mode:
![Snag_d61c8f.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/e90d9724-c2e0-488d-88e0-49f6404172f7)

[2021-12-08 20:57] #3556 closed

[2021-12-09 04:27] TomasGonzalez commented on #3558
@vldkh here is the HTML website for testing the vendor SDK, [https://app.zenhub.com/files/166818382/ba8fb443-e865-460f-b7f0-e0eb124fe731/download](https://app.zenhub.com/files/166818382/ba8fb443-e865-460f-b7f0-e0eb124fe731/download)

[2021-12-09 11:15] patpedrosa opened #3560 "Add Giveback Banner to home"
We need a banner, like the crypto literacy one, added to the app so to drive our daily active users to the notion page which promotes the causes people can support for the Giveback Campaign.

The ideal flow is for a user to see the banner, tap on it, open notion, pick a cause, tap a link to donate that will automatically open a payment link, then confirm their donation.

The banner should link to

[2021-12-09 16:30] vldkh opened #3562 "[BUG] The user mail is displayed incorrectly on feed transactions cards."
The user mail is displayed incorrectly on feed transactions cards.

Preconditions:
1) two accounts are available on DEV/QA envs.

Steps to reproduce:
1) create a transaction between two accounts
2) complete the transaction
3) open the transaction card that was completed
4) observe the result

Actual result:
The user mail is displayed incorrectly on feed transactions cards.

Expected result:
The us

[2021-12-10 11:51] vldkh commented on #3465
@johnsmith-gooddollar @TomasGonzalez
There is no possibility to pass the FV on DEV env.
The 'Something went wrong
on our side...' popup is shown.

Steps:
1) create a new account
2) click on the 'Claim' button
3) try to pass the FV
4) observe the result

Actual result:
There is no possibility to pass the FV on DEV env.
The 'Something went wrong
on our side...' popup is shown.

Expected result:
Ther

[2021-12-10 12:17] vldkh commented on #3465
@johnsmith-gooddollar @TomasGonzalez
possible issue:
![Snag_ae56052.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/01808434-bcaa-450a-81b7-3af5f9b62cd4)

[2021-12-10 15:44] vldkh commented on #3346
@TomasGonzalez
need to improve how the transaction cards are displayed to the users on the Android App.

Environment:
Version 1.35.1-6 (2373)

Device:
Samsung S20 FE // Android 11

Attachments:
![Snag_ba1feb3.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/47db359d-7a0a-4f56-aa38-0628f531e508)
![Snag_ba27eb0.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/30dd

[2021-12-10 16:27] vldkh commented on #3560
@patpedrosa @johnsmith-gooddollar @guodevguru
The banner displays properly on PROD env. The redirect works as expected.
Tested on:
Web - 1.35.27
Android -  Version 1.35.27 (2375)

[2021-12-13 12:14] patpedrosa opened #3564 "Launch basic Android App"
**Assumption**

We believe that making a native app available will allow more users to get access and use the GoodDollar app, as some people might be more used to using native apps than browser apps.

Introducing a native app could allow us to develop features that will increase our impact, such as push notifications, integration with contact lists, etc.

[2021-12-13 14:43] #3450 closed

[2021-12-13 14:44] #3473 closed

[2021-12-13 14:45] #3467 closed

[2021-12-13 14:45] #3488 closed

[2021-12-13 14:46] #3482 closed

[2021-12-13 14:46] #3354 closed

[2021-12-13 14:46] #3410 closed

[2021-12-13 14:47] #3438 closed

[2021-12-13 14:48] #3449 closed

[2021-12-13 16:35] johnsmith-gooddollar commented on #3429
**TODO: only pt. 1**

[2021-12-13 16:51] johnsmith-gooddollar commented on #2987
**for now: just link Android app in the `<meta>` tags, so mobile browser supporting that feature will show an generic 'there's mobile app available... view in Google Play' popup**

[2021-12-13 17:10] johnsmith-gooddollar opened #3566 "Upgrade to the Torus' custom-auth package"
John Smith, [13.12.2021 15:09]
@skyuppercut
1. is this a required update ? could we wait with the update till this Thu-Fri ?
2. does this update is web only ? do you have/planning native version soon ?
3. do you have something like quick guide / checklist to upgrade ? (e.g. key features were changed, config options need to be updated etc) ?

Chaitanya Potti, [13.12.2021 15:23]
1. There are no brea

[2021-12-14 12:17] johnsmith-gooddollar commented on #3357
Last time we got that issue in the case user isn't approved in the claim queue.
When this happens we're trying to show the popup 'please wait a few days'
But we forgot to pass setDialogBlur from GlobalTogglesContext which caused 'xxx is not a function' error

@vldkh @guodevguru @TomasGonzalez  please try to reproduce this. You could modify the result useClaimQueue returns and see what happens.

[2021-12-14 12:34] patpedrosa commented on #3501
On the black mode, let's make the copy and the close icon white for readability.

"Get ready for your video selfie
Please frame your face in the small oval, then the big oval"

Also, I've noticed we've been using a lot of "First Letter Capitalization" across the app, including here and in feed cards. Let's remove that. We should use sentence case capitalization (or use user's input in cases like t

[2021-12-14 14:02] vldkh commented on #3532
There are no more such cases so i suppose the issue is solved

[2021-12-14 14:02] #3532 closed

[2021-12-14 14:17] vldkh commented on #3527
After the latest fixes, the number of events is decreased.
![image.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/1a533923-2280-47c6-bb8e-8b83f1c083bf)

[2021-12-14 14:17] #3527 closed

[2021-12-14 14:38] vldkh commented on #3562
@TomasGonzalez @johnsmith-gooddollar
The issue is not reproduced. The user mail is displayed properly.
![image.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/f7b1ec6d-c047-4f84-868a-9a42cdcd623b)

[2021-12-14 14:38] #3562 closed

[2021-12-14 14:44] vldkh commented on #3346
@TomasGonzalez
Need to fix this -
![image.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/73a7050b-cc2f-4199-b45a-a516b925e03e)

[2021-12-14 16:27] vldkh commented on #3346
@patpedrosa @TomasGonzalez
Do we need to display avatars and names in feed transaction cards instead of 'Unknown'?
![Snag_206315f1.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/aa20826a-f2ea-4bf1-b47f-4737684a83eb)
![Snag_20633699.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/6d2ba68f-6de8-422c-8fdd-923763ac127c)

[2021-12-15 01:32] TomasGonzalez commented on #3346
I uploaded a PR with the fix.

[2021-12-15 07:24] sirpy commented on #3357
@johnsmith-gooddollar we no longer need the claim queue, it can be removed

[2021-12-15 15:09] johnsmith-gooddollar commented on #3357
@guodevguru @TomasGonzalez

Please do not test claim queue, just try to reproduce case found by @vldkh

[2021-12-15 15:14] johnsmith-gooddollar opened #3569 "Remove claim queue"
- [x] remove from client
- [x] remove from server
- [ ] remove from contracts
- [x] cleanup on third party services (as i remember mautic may be used here so we could remove lists not needed anymore)

[2021-12-15 15:15] johnsmith-gooddollar commented on #3357
@sirpy opened a separate task #3569 regarding the claim queue

[2021-12-15 16:14] #3346 closed

[2021-12-16 12:54] patpedrosa commented on #3548
Could we use yesterday's value as an estimate until the first claim of the day is done?

[2021-12-16 15:34] vldkh opened #3571 "[BUG] There are no spaces before the user name in the feed transactions card on the Android App."
There are no spaces before the user name in the feed transactions card on the Android App.

There is no such issue on the WEB app.

Steps to reproduce:
1) open the Android App
2) observe the result

**Actual result:**
![Snag_1762705.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/0e26764c-2e67-4cd0-9410-a2334a7c20fe)
![Snag_1763378.png](https://images.zenhubusercontent.com/60f81

[2021-12-17 13:12] #3571 closed

[2021-12-17 13:12] vldkh commented on #3571
@TomasGonzalez
the issue is not reproduced.
test on Samsung S20 FE // Android 11
Environment: DEV Version 1.35.1-7 (2392)

[2021-12-17 13:16] vldkh commented on #2987
@TomasGonzalez @johnsmith-gooddollar
Need to add some design for this button.
![Snag_61f8ab5.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/7ae61987-84be-40c0-b82f-e31c8abdc0ef)

The redirect works properly!

**Environment:**
DEV Version 1.35.1-7 (2392)

**Device:**
Samsung S20 FE // Android 11

[2021-12-19 07:29] sirpy commented on #3548
we are upgrading to v2 this week, so it will be fixed

[2021-12-20 12:47] #3557 closed

[2021-12-20 14:27] patpedrosa commented on #2987
I've just received the asset for the new app logo. Here it is:

![Icon.jpg](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/20a9df69-be25-4660-8433-ec2901356f62)

[2021-12-20 14:49] #3357 closed

[2021-12-20 14:55] vldkh commented on #2987
@TomasGonzalez @johnsmith-gooddollar
the issue is not reproduced. The redirect works properly
![Snag_15723cf.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/5a03c6d7-15d4-4c5b-aa3a-cdf9214dcd52)

[2021-12-20 15:05] patpedrosa opened #3577 "Replace incorrect app icon with new one"
The app is not to be referred to as wallet anymore, so we're updating the icon to reflect that:

![Icon.jpg](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/20a9df69-be25-4660-8433-ec2901356f62)

- [ ]   Replace smart banner icon
- [x]   Replace App Store assets

[2021-12-20 19:06] sirpy commented on #3577
@patpedrosa i'm not aware that it was decided that it wont be called "wallet"

[2021-12-21 15:30] vldkh opened #3580 "[BUG] 'Encryption key is invalid or missing.'"
Need to change the 'Encryption Key' on Android DEV App. It says 'Encryption key is invalid or missing.'

Reproduced on DEV Version 1.35.1-7 (2404)

Device: Samsung S20 FE // Android 11

Attachments:
https://images.zenhubusercontent.com/166818382/dffbb269-d13c-4d79-a8fc-139a1c57de91/b0fa8a5a_88d0_4e4f_a477_559112ed4b04.mp4
[https://app.zenhub.com/files/166818382/3cda6932-c2a8-4a07-9cfb-c39c9c66696f

[2021-12-21 15:36] TomasGonzalez commented on #3580
@sirpy I cannot test this on DEV right now because there is an error with the GAS fees on the test env, ![Screenshot_20211221-113230.png](https://images.zenhubusercontent.com/6166e02c8e9344bab32f55a0/b429ed38-7e46-4113-af64-9d5487d17132)

[2021-12-21 16:14] vldkh opened #3581 "[BUG] The Sign up via Facebook doesn't work when you try to sign up with the already existing account on Android PROD App."
The Sign up via Facebook doesn't work when you try to sign up with the already existing account on Android PROD App.

This happens only on PROD Android App (Version 1.35.31 (2403)

The issue is not reproduced on each web envs. and on the QA Android App (Version 1.35.1-7 (2402)

Preconditions:
1) The account registered via Facebook is available

Steps to reproduce:
1) tap on the 'sign up via the Fa

[2021-12-21 17:07] #3504 closed

[2021-12-22 09:58] vldkh commented on #3580
@TomasGonzalez @johnsmith-gooddollar
the issue is not reproduced. Tested on Version 1.35.1-8 (2409) via Samsung S20 FE // Android 11

[2021-12-22 09:58] #3580 closed

[2021-12-23 12:46] #3558 closed

[2021-12-23 13:28] #3560 closed

[2021-12-23 13:30] #3465 closed

[2021-12-23 18:54] eltel opened #3584 "Can't login on new device"
### Description

I signed up using Google and since Google login has been disabled in the app I'm unable to login on my new phone

### Steps to reproduce

1. Login
1. Was told this:
Erro 403: disallowed_useragent
You can’t sign in from this screen because this app doesn’t comply with Google’s embedded webview policy. If this app has a website, you can open a web browser and try signing in from the

[2021-12-24 08:32] sirpy commented on #3584
@eltel
1. are you using the android mobile app or web app?
2. make sure you have also chrome or other known browser installed, it could be that your default browser that comes with the new phone preinstalled is causing those issues

[2021-12-24 10:13] eltel commented on #3584
Hi, thanks for getting back - it's the Android app, would the browser be affecting that?

[2021-12-24 11:12] eltel commented on #3584
So, upon discovering the existence of the web app, I also tried that and literally none of the login buttons work on my device. I'm using a Xiaomi Poco 3 pro with chrome as the default browser.

Could this be due to the fact that I have the Android app installed on my other (old) phone still? I'm  hesitant to uninstall it for fear of losing my wallet.

The web app seems very buggy, the buttons at

[2021-12-24 11:19] patpedrosa opened #3585 "Update native app icon"
Android app icon needs to be updated.

New version:
![Icon.jpg](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/c0f19a1f-9277-4e04-80dc-91ec8a800c6c)

[2021-12-24 12:02] vldkh commented on #2987
closed via #3577

[2021-12-24 12:02] #2987 closed

[2021-12-24 12:02] #3577 closed

[2021-12-24 12:49] #3501 closed

[2021-12-24 12:49] #3302 closed

[2021-12-24 12:50] #3503 closed

[2021-12-24 12:57] #3564 closed

[2021-12-24 13:25] vldkh commented on #3463
Transactions via Fuse and Metamask works properly

[2021-12-24 13:25] #3463 closed

[2021-12-25 20:04] sirpy commented on #3584
@eltel you can uninstall, your account will always be connected to the login method you created it with.
1. this might be a specific case with your phone, we didnt have anyone else experience none responding buttons, we'll try to have our QA test it on xiaomi poco if they have it.
2. can you try on desktop? someone elses phone? (logout after you try)

[2021-12-25 20:05] sirpy commented on #3584
@vldkh please try to test login on both android and web on xiaomi poco

[2021-12-25 22:02] eltel commented on #3584
If by web you mean the Vercel web app I have. No joy at all, the login buttons just register touch, apart from that - no response. If there's some other way of signing in via Web, do you have a link?

Thanks

Terry

[2021-12-26 07:08] sirpy commented on #3584
@eltel that request was for our QA.
from you i've requested:
`can you try on desktop/laptop? someone elses phone/different device? (logout after you try)`

[2021-12-26 12:22] eltel commented on #3584
Hi @sirpy  - I can confirm that login works fine on Desktop and the app is still installed on my old Xiaomi phone and is working fine (I did say that above, could this be an issue - multiple installations? But then surely the Vercel web app should work) - so it would appear it's device-specific, strange that neither the Android App nor the Web App appear to function though.

Thanks again for your

[2021-12-26 14:42] sirpy commented on #3584
@eltel no issues with multiple installs. as i thought it seems like device specific, hopefully our QA will be able to reproduce it

[2021-12-28 08:03] johnsmith-gooddollar commented on #3585
@guodevguru Merged.
please re-open PR and implement new icon also for iOS

[2021-12-28 08:05] johnsmith-gooddollar commented on #3581
@TomasGonzalez
please look #3566

maybe we need to update to their new package to fix pkey issuing

[2021-12-28 08:10] johnsmith-gooddollar commented on #2834
@vldkh pls actualize this

[2021-12-28 08:14] johnsmith-gooddollar commented on #3299
@vldkh We need to actuialize all the issues from the list above.
As we've migrated from GubDB to the Realm most of them may not be reproduced anymore.

[2021-12-28 09:47] vldkh commented on #3285
@sirpy is this relevant?

[2021-12-28 10:33] vldkh commented on #2321
@TomasGonzalez @johnsmith-gooddollar
The App is not crushed after tapping on the 'Update' button. The redirect to the Play Store works properly.

[2021-12-28 10:33] #2321 closed

[2021-12-28 10:44] vldkh commented on #3585
@patpedrosa @johnsmith-gooddollar the new icon displays properly

[2021-12-28 11:22] vldkh commented on #3480
@johnsmith-gooddollar @guodevguru
The popup is shown when you try to use < iOS 12

[2021-12-28 11:22] #3480 closed

[2021-12-28 11:42] johnsmith-gooddollar commented on #2014
solved with v9  release (now it takes ~64Mb)

[2021-12-28 11:42] #2014 closed

[2021-12-28 12:48] TomasGonzalez commented on #3455
Move string events to utils/analitics/constants

[2021-12-28 15:13] sentry-io[bot] opened #3588 "Error: failed initializing app: jwt is of unsigned user"
Sentry Issue: [GOODDAPP-5S52](https://sentry.io/organizations/gooddollar/issues/2780453626/?referrer=github_integration)

[code]

[2021-12-28 15:18] sentry-io[bot] opened #3589 "Error: verifyHasGas failed:"
Sentry Issue: [GOODDAPP-5VP9](https://sentry.io/organizations/gooddollar/issues/2840699723/?referrer=github_integration)

[code]

[2021-12-28 15:19] johnsmith-gooddollar opened #3590 "Add unhandled error / promise habndlers"

[2021-12-28 15:20] sentry-io[bot] opened #3591 "Add retry for: Error: Error from Branch: Trouble initializing Branch. Request to Branch server timed out. Please check..."
Sentry Issue: [GOODDAPP-2GTZ](https://sentry.io/organizations/gooddollar/issues/2235208095/?referrer=github_integration)

[code]

[2021-12-28 15:24] johnsmith-gooddollar opened #3592 "Fix .env override"
.env should be included the last one

[2021-12-28 15:51] patpedrosa opened #3593 "Simplify Onboarding"
## **Assumption**

We believe that our sign up and log in flows are a cause of friction to new and active users. Our goal is to provide a fail-proof way to enter our ecosystem by making it simpler and, eventually, removing it as a barrier to accessing the app.

## **Vision**

The larger proposal is that the application and its content becomes accessible to all, even when they are not logged in. As

[2021-12-28 16:02] sirpy commented on #3584
@eltel
1. can you try to make sure chrome is your default browser
https://www.alphr.com/miui-change-default-browser/ and then try on the mobile app?
2. regarding web app, we dont have a poco device... but you mention "vercel" which is no longer displayed on the splash screen, maybe you are not using the latest version, please do a hard refresh on your mobile browser
 till you see version 1.36.*

[2021-12-28 16:26] eltel commented on #3584
Hi @sirpy

Chrome is most definitely my default browser, after removing the web app from my device and reinstalling it now works - and no sign of Vercel.

I'm not sure what's changed because it was a fresh install of the web app? Before I was only using the Android app - but hey ho - we're good to go.

Thanks again for helping out!

[2021-12-29 01:24] TomasGonzalez commented on #3581
@johnsmith-gooddollar I'm unable to reproduce this anymore...
@vldkh any ideas?

[2021-12-29 07:10] sirpy commented on #3581
@TomasGonzalez  @johnsmith-gooddollar this has nothing to do with Torus.
Vlad described that the issue happens when trying to SIGNUP with an "Existing" account only. "Login" works just fine.
there's not difference between login/signup in terms of torus. It is only a UI thing we show to the user.

[2021-12-29 07:19] sirpy commented on #3589
I believe i solved it. there was a loop in verifyHasGas/Sendtransaction
@vldkh we should see reduction of the amount of such errors on sentry/amplitude in the following days

[2021-12-29 07:21] sirpy commented on #3584
i'm still curious why the android app doesnt work for you.
Do you mind trying again?
Can you also try other types of login on android app? facebook or passwordless? just to see if it is a google specific issue?

[2021-12-29 08:13] sirpy commented on #3285
@vldkh I dont think so.

[2021-12-29 11:50] eltel commented on #3584
Still the same problem with Google, see screenshot:
![IMG_20211229_084309.jpg](https://user-images.githubusercontent.com/4655660/147659001-5c86342c-ee7c-44f9-930f-bef8d1007bdc.jpg)

Facebook is telling me this (see screenshot) despite me having the app installed and being logged in:
![Screenshot_2021-12-29-08-46-06-516_good.dollar.jpg](https://user-images.githubusercontent.com/4655660/147659106-dc

[2021-12-29 12:34] #3455 closed

[2021-12-29 13:23] johnsmith-gooddollar commented on #3287
https://github.com/GoodDollar/GoodDAPP/tree/3287-move-facetec-sdk-out-of-the-app-source

[2021-12-29 14:52] vldkh commented on #3340
@TomasGonzalez
new attachments:
IOS: https://images.zenhubusercontent.com/166818382/4b3e5030-c3fb-49a1-ba7f-273140f6643e/_______________ios.mp4

Android:
https://images.zenhubusercontent.com/166818382/a86205a6-ce44-4075-a595-ab1e7afdddfd/5f91217c_2a57_42b9_b2e4_6fbdfe30ffba.mp4

[2021-12-29 15:35] vldkh commented on #3584
@eltel
I can advise you to try with VPN

[2021-12-29 15:45] #3592 closed

[2021-12-29 21:07] patpedrosa opened #3595 "Switch banner SVG"
Advocacy wants to give the Giveback campaign one last push before it ends on Dec. 31st, so we need to swap the current SVG to this new version:

![Captura de pantalla 2021-12-29 a las 18.36.19.png](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/73a6c20b-41a2-40a9-98b2-50fd7f90002a)

**SVG FILE**
https://gooddollar.slack.com/files/U02QF3MLUR4/F02S587SFTP/last_day_wallet_banner.svg

[2021-12-30 02:17] TomasGonzalez commented on #2812
@patpedrosa @johnsmith-gooddollar I see this task is marked with needs design, Please let me know when that changes.

[2021-12-30 07:54] sirpy commented on #2812
@TomasGonzalez this task should not be in sprint, this is a flow that we are not using at the moment

[2021-12-30 10:50] johnsmith-gooddollar commented on #3493
@TomasGonzalez pls do pts 1-2

[2021-12-30 10:50] johnsmith-gooddollar commented on #2932
@TomasGonzalez pls do as described here
https://app.zenhub.com/workspaces/gooddollar-5d50833888a83c6880d3e345/issues/gooddollar/gooddapp/2932#issuecomment-767054549

i will update unit tests on server

[2021-12-30 11:27] johnsmith-gooddollar commented on #3595
@vldkh need to release QA and test this ASAP

[2021-12-30 11:28] #3340 closed

[2021-12-30 11:39] vldkh commented on #3581
@TomasGonzalez @johnsmith-gooddollar
The issue is not reproduced

[2021-12-30 11:39] #3581 closed

[2021-12-30 12:53] johnsmith-gooddollar commented on #3591
Branch already have retry logic. By default it performs 3 retries on init with 1sec delay and 5sec for total timeout for the all attempts.
https://stackoverflow.com/questions/46224365/retry-branch-io-after-connectivity-error

I increased timeout/delays and increased attempts count.
Pushed hotfix: https://github.com/GoodDollar/GoodDAPP/commit/c61595facaa10d7ea62c38f4f7730157cb3ce099

[2021-12-30 13:51] tzvister commented on #2932
Very important task! @TomasGonzalez could you check if there is a spinner (user indication) for any expected delay?

[2021-12-30 14:46] vldkh commented on #3585
@TomasGonzalez
Need to change the App icon on the iOS devices when you tap on the "Add App To Home" button.
https://images.zenhubusercontent.com/166818382/52a2b917-e59b-4509-9d72-426898558405/_______________ios__1_.mp4

[2021-12-30 15:23] vldkh commented on #3595
@TomasGonzalez @patpedrosa @johnsmith-gooddollar
The banner is displayed in the correct way. Redirects work properly.

[2021-12-30 15:23] #3595 closed

[2021-12-31 10:52] johnsmith-gooddollar commented on #3495
wasn’t able to find the reason and place where unhandled rejection comes. awaiting for the unhandler errors handler #3590 to be tested on QA and deployed

[2021-12-31 11:06] #3585 closed

[2021-12-31 13:27] johnsmith-gooddollar commented on #3193
@vldkh will be checked by myself

[2021-12-31 13:35] johnsmith-gooddollar commented on #3193
https://github.com/GoodDollar/FaceTecSDK-custom-server/commit/e549f1f03a95644fff20c9805ecf3fc3b0eb89b9
https://github.com/GoodDollar/FaceTecSDK-custom-server/commit/496d539b0c4086c61cbf47317fa599d8160a16d5

[2021-12-31 14:06] johnsmith-gooddollar commented on #3193
need to test with the local Docker then deploy on prod

[2022-01-02 17:51] #3536 closed

[2022-01-02 17:51] #3535 closed

[2022-01-04 13:06] johnsmith-gooddollar commented on #3493
if there may need some additiona imports to JS code - they **should** be done from the file includes on native build only (.native.js)

[2022-01-04 13:07] johnsmith-gooddollar commented on #3566
we've made numerous improvements to customauth react native sdk
https://github.com/torusresearch/customauth-react-native-sdk/releases/tag/v1.0.1

Please use this new package from now on
@toruslabs/customauth-react-native-sdk

GitHub (https://github.com/torusresearch/customauth-react-native-sdk/releases/tag/v1.0.1)
Release v1.0.1 · torusresearch/customauth-react-native-sdk
What's Changed

[2022-01-04 13:09] johnsmith-gooddollar commented on #3566
1. [ ] native only
2. [ ] test on adnroid
3. [ ] test on ios
4. [ ] web version

[2022-01-04 13:14] sentry-io[bot] opened #3600 "SyntaxError: Unexpected end of JSON input"
Sentry Issue: [GOODDAPP-1MC5](https://sentry.io/organizations/gooddollar/issues/2161966630/?referrer=github_integration)

[code]

[2022-01-04 13:15] #2834 closed

[2022-01-04 13:34] vldkh opened #3601 "[BUG] There is no possibility to sign up/login via Google and Passwordless on to the DEV Android App."
The issue reproduces only on the Android App. Also, the issue reproduces with the auth0 method.

Steps to reproduce:
1) tap on the 'sign up/login' button
2) observe the result

Actual result:
The 'We were unable to load the wallet. Please try again' popup is shown

Expected result:
There is possibility to signup/login without any issues

Environment:
Version 1.36.1-1 (2476)

Devices:
Samsung S20 F

[2022-01-04 13:42] vldkh opened #3602 "[BUG] Unable to claim on the QA WEB env."
[BUG] Unable to claim on the QA WEB env.

Steps to reproduce:
1) tap on the "Claim" button
2) observe the result

Actual result:
The 'Sorry, something unexpected happened, please try again.
Error: E3' popup is shown

Expected result:
The user should 'Claim' without any issues

Account info:
MasterSeed - "46e1181fb1c643a5453fa1cebbded5a31b44ae852783cca0e3dcea9b768f8a0f"
Wallet Address - 0x1B744385E

[2022-01-05 08:44] sirpy commented on #3602
@vldkh you haven't released QA for a while its not updated

[2022-01-05 11:33] johnsmith-gooddollar opened #3604 "Analyze RN app performance"
- [x] use v8
- [x] see how to delay wallet creation for unsigned users
- [ ] when user logs out and login it will rescan the whole contracts events, from the first block
    - [ ] we usually store the block the user signed up at, we should make sure we scan only from that block
    - [ ] for users that we dont have the number of block they signed up at, we should set it to the first event block nu

[2022-01-05 12:14] vldkh commented on #3602
@johnsmith-gooddollar please take a look - https://app.birdeatsbug.com/sessions/HIHtaTGmE7oReO_arjIoq

[2022-01-05 14:28] vldkh commented on #3604
@johnsmith-gooddollar full logs from device Samsung S20 FE // Android 11
[https://app.zenhub.com/files/166818382/2c172751-76b8-412d-a936-78cbc3b0bf9e/download](https://app.zenhub.com/files/166818382/2c172751-76b8-412d-a936-78cbc3b0bf9e/download)

[2022-01-05 14:43] johnsmith-gooddollar commented on #3602
@sirpy @vldkh
The issue is blockchain-related. User wasn't whitelisted after 15sec of FV passed. We forgot to add .catch so we had unhandled rejection. I hotfixed this https://github.com/GoodDollar/GoodDAPP/commit/1f14bdb355480cb63004758c6afc838a5422e250  and increased wait time to 30 sec

@vldkh  pls re-release QA and try pass FV again. If you'll see any issues pls notify me - i will check also s

[2022-01-05 14:52] johnsmith-gooddollar commented on #3602
@sirpy @vldkh i see the following Mautic error, but it couldn't affect whitelisting in the blockchain.
all whitelisting operation are running in parallel, each have own .catch.

If there will be an issue with contracts, we had also the "whitelisting after fv failed" error, but we haven't it.
That means the `adminApi.whitelistUser(gdAddress, profilePublickey)` call was successfull, so the issue is

[2022-01-05 15:38] vldkh commented on #3602
@johnsmith-gooddollar logs after release:
https://app.birdeatsbug.com/sessions/zTGH6lKLr5T8XbIvO-M_X

[2022-01-05 15:48] johnsmith-gooddollar commented on #3602
@vldkh the error now is correct

[code]

[2022-01-05 15:54] johnsmith-gooddollar commented on #3602
@vldkh @sirpy
The same issue on Heroku side - just Mautic error, no blockchain errors during `adminApi.whitelistUser()`'s call
User isn't whitelisted after 30 (!) sec. So there's something wrong with QA contracts or blockchain settings on QA

[2022-01-05 15:56] johnsmith-gooddollar commented on #3602
reverted back to 15 sec awaiting for isCitizen flag is set

[2022-01-05 19:57] sirpy commented on #3602
@vldkh @johnsmith-gooddollar ok thanks. I think I know what is the problem.

[2022-01-05 20:08] sirpy commented on #3604
@vldkh thats too much.
you need to filter logs by reactnative and send us the logs from the moment you start the app until it shows the splash screen (roughly)

[2022-01-06 09:21] vldkh commented on #3604
@sirpy @johnsmith-gooddollar Filtered logs:
[https://app.zenhub.com/files/166818382/a9d96e09-9e8d-4a7a-ad92-4c3e9010092c/download](https://app.zenhub.com/files/166818382/a9d96e09-9e8d-4a7a-ad92-4c3e9010092c/download)

[2022-01-06 09:59] sirpy commented on #3604
@serdiukov-o-nordwhale
1. need to check if we are using V8 JS engine and see its affect on the crypto speed
2. for unsigned user we need to see if we can delay the initial creation of GoodWallet (created with some random seed)
3. it also takes a long time to show the feed the first time user opens the app (after logout), need to identify why. it might be related to re-reading the history from bloc

[2022-01-06 10:02] vldkh commented on #3604
@sirpy for me it's ok
https://images.zenhubusercontent.com/166818382/02692a09-8761-43fe-ad47-eaf6beb5ab6c/9867acba_2e23_4593_a7f8_a2237f201f0a.mp4

[2022-01-06 10:09] vldkh commented on #3604
@sirpy about point 3:
I notice that sometimes there are a lot of blockchain calls appear when you open the app. So it might be the reason why takes a long time to show the feed.

[2022-01-06 12:42] #2833 closed

[2022-01-06 15:32] vldkh opened #3607 "[BUG] The favicon changes into the blue after clicking on the different pages"
Need to check changes of the icons everywhere. The favicon on the web app changes into the blue for a period after clicking on the different screens.

Preconditions:
1) the user is logged in

Steps:
1) click on the 'Send' button
2) pay attention to the favicon

Actual result:
The favicon changes into the blue after clicking on the different pages

Expected result:
The favicon doesn't change after

[2022-01-06 15:39] vldkh opened #3608 "[BUG] Need to centralize the 'From' field on the open transaction card in the Android App."
Need to centralize the 'From' field on the open transaction card in the Android App.

Reproduced on each Android environment

Environment:
Play Store App (1.36.6 version)

Devices:
Samsung S20 FE // Android 11

Attachments:
![Snag_6c26e5b.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/0b494978-4ae9-470f-bf09-d2286e1d1ee0)

[2022-01-06 16:04] johnsmith-gooddollar commented on #3193
tested, ready to deploy

[2022-01-10 14:03] johnsmith-gooddollar commented on #3566
@guodevguru i was able to run the app with `targetSdkVersion = 31`
here is the patch file with the all manifest file changes required.
hope it helps

[code]

[2022-01-10 16:02] johnsmith-gooddollar commented on #3287
@TomasGonzalez Let's postpone pts. 4 and 5 to the next sprint

@vldkh please test if FV working on the all environments (web only)

[2022-01-11 11:37] sentry-io[bot] opened #3609 "Error: updateFeedEvent failedEncrypt byId:: validation failed"
Sentry Issue: [GOODDAPP-59F0](https://sentry.io/organizations/gooddollar/issues/2636761754/?referrer=github_integration)

[code]

[2022-01-11 12:51] johnsmith-gooddollar commented on #3534
The latest version of design is located **the right side**, in the **block diagram**

[2022-01-11 15:28] #3607 closed

[2022-01-11 15:28] #3548 closed

[2022-01-11 15:55] johnsmith-gooddollar commented on #3602
@sirpy any updates on this issue ?

[2022-01-13 10:31] #3476 closed

[2022-01-13 12:53] vldkh opened #3613 "[BUG] The "Scroll to Top" button doesn't work on each envs."
The "Scroll to Top" button doesn't work on each envs.

Steps:
1) Scroll down the feed until the "Top" button appears
2) Click/Tap on the "Top" button
3) Observe the result

Actual result:
The "Scroll to Top" button doesn't work

Expected result:
The "Scroll to Top" button redirects to the top part of the app

Environment:
Need to update it everywhere (Web/iOS/Android)

Attachments:
https://images.

[2022-01-13 15:52] vldkh commented on #3613
@guodevguru the issue is not reproduced

[2022-01-13 15:52] #3613 closed

[2022-01-14 03:16] TomasGonzalez commented on #3534
- [x] move `checkExisting` to separate hook
- [ ] add this hook usage to the AuthTorus, call it just after SSO login - [ ] useAlreadySignedUp should use new 'you already have wallet' screen

this would not work as intended, what the hook does is to show the user already has a wallet popup **during the `singup` flow ** it makes sense to have that hook there, but there is no sense on having it in th

[2022-01-14 11:02] johnsmith-gooddollar commented on #3534
@TomasGonzalez then the hook should be adjusted. it should take some object

[code]

and work with it. check for the existence by email / phone / name.

after SSO you pass data received from torus, after signup - the data from the signup screens

[2022-01-14 11:03] vldkh opened #3615 "[CRASH] The Android App crashes after tapping on the "Send G$" and "Profile" buttons."
The Android App crashes after tapping on the "Send G$" and "Profile" buttons.

Preconditions:
1) the user is logged in

Steps:
1) tap on the 'Send G$'/'Profile' button
2) observe the result

Actual result:
The App crashes after tapping on the 'Send'/'Profile' buttons

Expected result:
The App works properly, the user is able to Send G$/Change profile settings

Environment:
DEV Version 1.36.1-8 (25

[2022-01-14 11:06] johnsmith-gooddollar commented on #3534
@TomasGonzalez actually it already works like i described.
the funciton it exports is taking `searchBy` as agrument. so you could pass any name/email/phone object despite you got it from SSO or after signup screens

[2022-01-14 11:14] johnsmith-gooddollar commented on #3534
@TomasGonzalez i understand what do you meaning. Will describe what to do a bit later and also we will discuss it or the call

[2022-01-14 12:24] johnsmith-gooddollar commented on #3534
So:

1. useCheckExisting should:
 - take name/email/phone/typeOfLogin object.
 - check for existence
 - if not exists return false
 - if exists **and** type of login matches return true
 - if exists **and** type of login **not** matches redirect to AlreadyExists screen

2. useAlreadySignedUp  is not needed, it should be replaced with AlreadyExists screen

3. do not use screen state to keep signup

[2022-01-14 15:41] vldkh opened #3616 "[BUG] The text "Claim you G$'s today!" is cropped in the info transaction card"
The text "Claim you G$'s today!" is cropped in the info transaction card. (name of the card "Claim you G$'s today!")

Steps:
1) click on the "Claim you G$'s today!" card
2) observe the result

Actual result:
The text "Claim you G$'s today!" is cropped

Expected result:
The text "Claim you G$'s today!" should be fully visible

Environment:
reproduced everywhere
WEB DEV/QA 1.35.1-9
PROD 1.35.14

Dev

[2022-01-16 10:17] sirpy commented on #3534
@patpedrosa
1. The message "something went wrong" is misleading, like an error happened.
also the image is misleading as some kind of fatal error happened.
Maybe "Account with same email/mobile already exists" is better, hmm i think thats actually the current message:)

@johnsmith-gooddollar regarding invite welcome I think it was decided to remove those screens, please verify with @patpedrosa

@T

[2022-01-17 11:23] johnsmith-gooddollar opened #3618 "Phone edit / confirmation screens"
on dev/qa env we also ask for phone verification we need to keep those screens in case we restore phone verification, so make sure they are included in the new design and progress bar, but only on dev/qa of course

@patpedrosa we will use existing code confirmation screens. But we need a new design for the phone input. Also we need to discuss which kind of phone input we want to use. The current c

[2022-01-17 11:29] johnsmith-gooddollar commented on #3534
have asked her in the PR's comments: https://github.com/GoodDollar/GoodDAPP/pull/3612#issuecomment-1014384663

ok, i will think today how to avoid the new route here

[2022-01-18 10:44] sirpy commented on #3604
@johnsmith-gooddollar my suggestions are
1. use v8
2. see how to delay wallet creation for unsigned users
3. when user logs out and login it will rescan the whole contracts events, from the first block
 - we usually store the block the user signed up at, we should make sure we scan only from that block
 - for users that we dont have the number of block they signed up at, we should set it to the fi

[2022-01-18 11:02] sirpy commented on #3618
@johnsmith-gooddollar we dont need a new design for that. please just keep as is for dev/qa purposes.
@patpedrosa there's no other way, we try to auto detect their country code, but this is the way it is done everywhere

[2022-01-18 11:26] johnsmith-gooddollar commented on #3618
ok will try to do it if we will have time for that (as we have a deadline to release this week)
if not, i will add those screens back the next sprint

[2022-01-18 11:29] johnsmith-gooddollar commented on #3618
@patpedrosa @sirpy why do not ask people just to enter a **full** phone number ?
each device have an option to retrieve it (through "Contacts" app generally).
Also each operator have an USSD code to do it

a full phone number always have country code. we could add a simple validator checking phone number length and checking for the first character to be "+" sign. and add type="phone" for a text in

[2022-01-18 11:36] vldkh commented on #3615
@johnsmith-gooddollar the issue is not reproduced.

[2022-01-18 11:36] #3615 closed

[2022-01-18 11:37] vldkh commented on #3602
@johnsmith-gooddollar the issue is not reproduced.
checked on Web and Mobile envs.

[2022-01-18 11:37] #3602 closed

[2022-01-18 11:37] #3601 closed

[2022-01-18 14:12] patpedrosa opened #3619 "Design QA - Onboarding"

[2022-01-18 14:18] patpedrosa commented on #3534
@danielsha22 Could you please find a solution for Hadar's comment above regarding the "You already have a wallet" screen?

[2022-01-18 14:34] johnsmith-gooddollar commented on #3618
@sirpy if this won't affect our release - i will do it, otherwise will add ASAP after the release

[2022-01-18 15:09] #3540 closed

[2022-01-19 14:20] vldkh opened #3620 "[BUG] The Invites don't work properly on QA and DEV envs."
The Invites don't work properly on QA and DEV envs.

**Preconditions:**
1) 2 whitelisted accounts are available
2) one account has - inviteBonusCollected: false

**Steps to reproduce:**
1) enter the invite code from the 'Inviter' account
2) Observe the result

**Actual result:**
The invites don't work properly. The 'Error: E15' is shown

**Expected result:**
The invites work properly

**Environmen

[2022-01-20 19:51] sirpy opened #3624 "User should be able to connect accounts to single login"
User should be able to connect multiple social logins, so in case he is locked out of one they can use the other logins.
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/2fecbbd6-e453-4780-9722-a544abc99726)

![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/6777edfc-9f19-43f7-84fb-abb9b39b617d)

[2022-01-20 19:51] #3515 closed

[2022-01-20 19:58] sirpy commented on #3624
@patpedrosa
This bounty has been completed.
- Need to decide where to put the link to it. currently it is simply in the menu
- Currently it is simply a toggle for each login method, but actually after playing with it, I understood it should probably be an "Add", because you can have multiple google login. Under every login type, should be a list of connected accounts with an X to remove each one.

[2022-01-21 14:16] patpedrosa opened #3625 "Feed Engine - backend (to be integrated with Strapi in future)"
**OVERVIEW**

- [x] data seeds & setup script
- [x] backend env vars ssetup script
- [x] frontend env vars ssetup script
- [x] ceramic storage wrapper
- [x] manual indexes
- [x] indexes by the prop (e.g. posts by feed id)
- [x] feeds api (read only)
- [x] posts api (r/w)
- [x] file uploads
- [x] testing, bugfixing
- [x] jwt auth, protect rw routes
- [x] after MVP phase - integrate directly to Stra

[2022-01-21 14:29] patpedrosa opened #3626 "Show G$/USD balance"
**OVERVIEW**
We need to provide a way for users to see a comparative value between G$ and USD so that they realize G$'s value.

Information icon should point to the token page on https://dashboard.gooddollar.org/.

Let's add a feature flag to this one.

**DESIGN**
https://www.figma.com/file/7dCC4YlzF8tFOooA5M8b5y/G%24-Wallet?node-id=734%3A7666

**LINKS**
Roadmap ticket: [Show G$/USD price on the h

[2022-01-21 20:10] patpedrosa opened #3627 "[BUG] Wrong value in feed card after adding liquidity to FUSE"
![Screen Shot 2022-01-21 at 17.06.45.png](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/1aa40581-2374-49d1-83ee-d7f74ed155e6)

Fuse explorer: https://explorer.fuse.io/tx/0x91344b2114d3f1cbbf1d143b813a370057e40036120dfcb7aa513d8584c5eca4/token-transfers

After adding liquidity via https://app.fuse.fi/#/pool, the wallet's feed card show the WFUSE staking value (amountADesired) rather

[2022-01-23 20:20] sirpy commented on #3620
@vldkh the invite contracts didnt have any funds in them.
try now

[2022-01-24 11:11] vldkh commented on #3620
@sirpy fixed, thanks

[2022-01-24 11:11] #3620 closed

[2022-01-24 12:58] johnsmith-gooddollar opened #3629 "Move user data, logged in and is citizen state from SimpleStore/GDStore to the separate context"
- [x] declare UserContext
- [x] put account-related data inside `isLoggedIn`, `isLoggedInCitizen`, `verification`, `account`, `inviteCode`, `invitesData`, `uploadedAvatar`
- [x] create UserContextProvider component, export context vars and setters for them
- [x] check do we need to listen(subscribe) for those vars (e.h. did we used `store.on()` on any of them). export subscription/unsubscription f

[2022-01-24 12:59] johnsmith-gooddollar commented on #3629
@sirpy TBD

[2022-01-25 13:10] johnsmith-gooddollar commented on #3625
research phase estimated

[2022-01-25 13:11] johnsmith-gooddollar commented on #3618
i've checkd the code and restored all conditions showing phone screens
so, the env var should enabling phone confirmation should work as before

[2022-01-25 13:20] johnsmith-gooddollar commented on #3173
@sirpy  does this task is still relevant? i see we're migrating from Mautic https://github.com/GoodDollar/GoodServer/issues/351

[2022-01-25 15:25] drptiago commented on #3173
@johnsmith-gooddollar This task is not relevant anymore

[2022-01-25 15:28] sirpy commented on #3626
https://thegraph.com/hosted-service/subgraph/gooddollar/goodsubgraphs?version=current

[2022-01-25 16:04] vldkh commented on #3627
@sirpy @patpedrosa
i guess it fixed. tested on PROD
![Snag_1aa4e08.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/a753961a-f9db-4c0d-bf96-bec4a55bb9e6)

[2022-01-26 13:33] #3627 closed

[2022-01-31 13:09] vldkh opened #3632 "[BUG] Need to change the font on the "Warning popup" on the "Export wallet" page."
[BUG] Need to change the font on the "Warning popup" on the "Export wallet" page.

Steps to reproduce:
1) tap on the burger menu button
2) tap on the 'Export wallet' button
3) tap on the 'Copy Address' button
4) observe the result

Actual result:
The wrong fonts are displayed on the popup

Expected result:
The correct 'Roboto' fonts are displayed on the popup

Environment:
PROD Version 1.36.16 (25

[2022-02-01 01:03] #3534 closed

[2022-02-01 13:09] #3608 closed

[2022-02-01 15:00] TomasGonzalez opened #3634 "Signup fixes"

[2022-02-01 15:01] TomasGonzalez opened #3635 "signup fix"

[2022-02-01 15:03] TomasGonzalez commented on #3634
[] After Login, update the progress bar to go to the 3rd step immediately after login,
[] There is a splash screen after login that should not show.
[] Show the welcome screen on signup.

[2022-02-01 15:26] sirpy commented on #3626
@johnsmith-gooddollar
to get G$ price from reserve you should
1. import GoodReserveCDai abi
2. create the contract with address from ContractAddress with key GoodReserveCDai
3. call the contract method `currentPriceDAI`

[2022-02-01 17:03] vldkh opened #3636 "[BUG] The 'Could not send verification code. Please try again' popup is shown after creating a new account via Google"
The 'Could not send verification code. Please try again' popup is shown after creating a new account via Google

Steps to reproduce:
1) click on the 'Continue with Google' button
2) choose the new Google account
3) enter the valid phone number
4) observe the result

Actual result:
The 'Could not send verification code. Please try again' popup is shown

Expected result:
The user wallet account succ

[2022-02-01 17:05] vldkh opened #3637 "[BUG] The 'Could not send verification email. Please try again' popup is shown after creating a new account via Passwordless"
The 'Could not send verification email. Please try again' popup is shown after creating a new account via Passwordless

Steps to reproduce:
1) click on the 'continue with passwordless' button
2) enter the valid phone number and sms-code
3) enter the full name
4) enter the valid email address
5) click on the 'Next' button
6) observe the result

Actual result:
The 'Could not send verification email.

[2022-02-02 00:19] #3635 closed

[2022-02-02 03:20] TomasGonzalez commented on #3634
I'm leaving the `There is a splash screen after login that should not show ` for later, as there are more critical errors  at the moment.

[2022-02-02 12:34] TomasGonzalez opened #3639 "Remove splash screen splash"

[2022-02-02 12:35] TomasGonzalez commented on #3639
replace splash to the walletLoading if the search query is torus.

[2022-02-02 22:29] TomasGonzalez opened #3640 "Bug on signup, account already exist screen won't work"

[2022-02-03 10:57] #3640 closed

[2022-02-03 11:15] johnsmith-gooddollar commented on #3639
https://github.com/GoodDollar/GoodDAPP/pull/3638/commits/720c3c30f7344d146139fb7e8a81bc0c28f9471b

[2022-02-03 12:58] vldkh commented on #3634
@TomasGonzalez please take a look:
https://app.birdeatsbug.com/sessions/RXO--ROV40qWUcqg3Rhc1?

[2022-02-03 13:02] TomasGonzalez commented on #3634
@vldkh I fixed that already

[2022-02-03 13:02] TomasGonzalez commented on #3634
You sure it is still happening?

[2022-02-03 14:01] vldkh commented on #3634
@TomasGonzalez need to raise buttons up on this screen![Snag_201da64f.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/1bc7eec6-2e26-4e15-ad2c-96b12b7ee1da)

[2022-02-03 14:35] johnsmith-gooddollar opened #3644 "Auth/eth fails for the old account created with GUN (most probably)"
[code]

It happens because `await verifyProfilePublicKey(profileReqPublickey, profileSignature, nonce)` resolves with false.
Inside this function `await profilePublicKey.verify(msgbytes, sigbytes)` doesn’t throws an exception, just returns false.
So, there’s something wrong with the `profilePublickey` sent from GoodDapp.

full logs example for the certain request:

[code]

- [x] compare profilePub

[2022-02-03 14:53] TomasGonzalez commented on #3634
@vldkh I don't think the buttons are wrong ![image.png](https://images.zenhubusercontent.com/6166e02c8e9344bab32f55a0/f16401e0-0be1-4361-a3cb-6c62b7de31fc)
in the design, the screen is too short to be able to see the behavior, @patpedrosa

[2022-02-04 14:07] #3634 closed

[2022-02-05 19:57] sirpy commented on #3644
@johnsmith-gooddollar
is it comming from wallets with old version?
what are the implications of throwing an exception here?
how will the wallet handle it?

[2022-02-07 13:19] johnsmith-gooddollar commented on #3644
Yes

the error thrown with custom code will be handled by the error middleware
it will send the following json `{ok: 0, message: '<...>', name: '<>'}`

1. wallet will .catch() axios call and check server response
if error response JSON have 'name' field, it will be substituted to the error object created
e.g. `const {  message, name } = e.response.data` `const error = new Error(message)` `if (name

[2022-02-07 16:36] #3644 closed

[2022-02-08 02:17] TomasGonzalez commented on #3637
@vldkh is this still is happening?

[2022-02-08 02:17] TomasGonzalez commented on #3636
@vldkh is this still is happening?
I think it is fixed isn't it?

[2022-02-08 08:07] vldkh commented on #3637
@TomasGonzalez it fixed

[2022-02-08 08:07] #3637 closed

[2022-02-08 08:07] vldkh commented on #3636
@TomasGonzalez fixed.

[2022-02-08 08:07] #3636 closed

[2022-02-09 13:38] sirpy commented on #3584
@eltel please make sure you dont use the fake G$ app from playstore

[2022-02-09 13:38] #3584 closed

[2022-02-09 15:29] vldkh opened #3649 "[BUGs] New Android issues"
- [ ]  The Android App crashed after installing and opening the app

Reproduced on DEV:
Version 1.36.1-17 (2552)
Version 1.36.1-17 (2551)

Previous version working fine

Logs:
[https://app.zenhub.com/files/166818382/a9559d93-4988-435c-a08a-5b3d673ad1f6/download](https://app.zenhub.com/files/166818382/a9559d93-4988-435c-a08a-5b3d673ad1f6/download)

- [ ] The Logout button doesn't work

Reproduced o

[2022-02-09 15:30] vldkh opened #3650 "[BUGs] New Android issues"
- [ ]  The Android App crashed after installing and opening the app

Reproduced on DEV:
Version 1.36.1-17 (2552)
Version 1.36.1-17 (2551)

Previous version working fine

Logs:
[https://app.zenhub.com/files/166818382/a9559d93-4988-435c-a08a-5b3d673ad1f6/download](https://app.zenhub.com/files/166818382/a9559d93-4988-435c-a08a-5b3d673ad1f6/download)

- [ ] The Logout button doesn't work

Reproduced o

[2022-02-09 15:30] vldkh commented on #3650
duplicate 3649

[2022-02-09 15:30] #3650 closed

[2022-02-10 15:43] vldkh opened #3651 "[BUG] The 'Buttons' are overlapping the image on the 'You already have a G$ account' screen"
[BUG] The 'Buttons' are overlapping the image on the 'You already have a G$ account' screen

To reproduce it please use these creds:
Google Account - test7test2022@gmail.com // Test7test2022!
phone number +380950251345

**Also please fix it on web and android**

Steps to reproduce:
1) create an account via Google
2) enter the phone number '+380950251345'
3) observe the result

Actual result:
The '

[2022-02-13 12:39] sirpy opened #3652 "(Bug) signup flow top bar has wrong steps count"
To reproduce
- on gooddev env
- signup with self custody

What happens
There are only 3 bars and while you are entering mobile and email it stays on the same bar

Expected
It should have a bar for every step

[2022-02-13 12:40] sirpy commented on #3652
@patpedrosa @TomasGonzalez
How is the top bar supposed to behave?

[2022-02-14 11:59] patpedrosa commented on #3626
The information icon should open the dashboard, not the article.

![Screen Shot 2022-02-14 at 13.55.03.png](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/97cc3796-6dcc-498f-b72f-7186bb969405)

[2022-02-14 12:00] patpedrosa commented on #3626
It needs to open this page: ![Screen Shot 2022-02-14 at 14.00.10.png](https://images.zenhubusercontent.com/612f7b84ea16af269162c7ac/812a6f71-9fd3-486c-a98d-c128fb4b7390)

[2022-02-14 12:05] patpedrosa commented on #3652
Exactly as the design. 3 bars. The second bar is longer to indicate it may contain more steps.

[2022-02-14 12:05] #3652 closed

[2022-02-14 12:52] johnsmith-gooddollar commented on #3626
@TomasGonzalez

[2022-02-17 15:41] sirpy opened #3653 "(Bug) rocket is not animated"
We have an animated rocket component that was previously used.
The current rocket is a static image.

- [x] replace static rocket with old animation

[2022-02-21 15:12] #3649 closed

[2022-02-21 15:14] vldkh commented on #3639
The new invite screen shows properly

[2022-02-21 15:14] #3639 closed

[2022-02-21 15:16] vldkh commented on #3626
@patpedrosa I think it could be closed?

[2022-02-24 06:34] sirpy opened #3657 "(Bug) email confirmation step missing"
When using self custody on dev env after entering email there's no confirmation step to enter code.
- [ ] make sure we have this step when email is missing from login method (ie signup using passwordless/self custody or facebook mobile)
- [ ] verify we have this step on production, when user signs up using passwordless

[2022-03-02 13:24] sirpy opened #3659 "Find solution to use pokt endpoint on mobile"

[2022-03-03 14:00] johnsmith-gooddollar opened #3661 "Implement comms feed"
**OVERVIEW**

Influenced by our Invite reward and Giveback campaigns, we want to enable the advocacy team to add and remove comms users.

**Usage examples**

Advocacy
- Content & Impact Stories: $ delivered yesterday; # of women in Zimbabwe (no CTA)
- Goal: communicate values, feel good, feel inspired

Activation
- In-wallet activation (send link/money to someone)
    - Good Giveback —> create imp

[2022-03-03 14:22] johnsmith-gooddollar commented on #3625
I stuck a bit, have some strange bug with indexing & uploads, solving it by now.

[2022-03-03 14:30] johnsmith-gooddollar opened #3662 "Feed - GoodDollar app"
- [x] env vars & config
- [x] copy CeramicModel from backend, remove all r/w methods
- [x] add simple comms feed API class recalling CeramicModel methods (get feeds / get posts / get post data)
- [x] add categories tab (all + transactions + feeds list) @roma-hladilka
- [x] update user storage / get feed methods. mix current feed data with comms feed. add caegory filter @roma-hladilka
- [x] impleme

[2022-03-03 14:37] johnsmith-gooddollar opened #3663 "Feeds engine - Admin dashboard"
- [ ] create web app with CRA, add material UI, add react router
- [ ] login form
- [ ] my settings
- [ ] users management grid (admin only)
- [ ] user management form. no ACL system, just an 'admin' checkmark
- [ ] posts management grid (for the 'news feed' only by now)
- [ ] post management form.
- [ ] file upload (picture field should be sent as base64 data url)
- [ ] simple API class working w

[2022-03-03 14:37] johnsmith-gooddollar opened #3664 "Feeds engine - Admin dashboard"
- [ ] create web app with CRA, add material UI, add react router
- [ ] login form
- [ ] my settings
- [ ] users management grid (admin only)
- [ ] user management form. no ACL system, just an 'admin' checkmark
- [ ] posts management grid (for the 'news feed' only by now)
- [ ] post management form.
- [ ] file upload (picture field should be sent as base64 data url)
- [ ] simple API class working w

[2022-03-13 10:21] sirpy commented on #3664
@johnsmith-gooddollar this is not good. i was under the impression adonisjs provides all of this.
lets re-evaluate this. i've examined Strapi js which looks like exactly what we need.

[2022-03-13 11:13] johnsmith-gooddollar commented on #3664
1. We have done with essentials an all 3 levels (app backend admin)
2. Tomas have started some work on dashboard
3. A lot of time was spent
4. Strapi is another one CMS. You've asked to make custom feed without any cms backend.

Sorry I had to refuse You
We're continue working with the current implementation

ArtJoker guys are starting tomorrow

[2022-03-13 11:18] johnsmith-gooddollar commented on #3664
@sirpy
We have some option of CMS usage at the start, but you asked to make custom feed on ceramic. Now this solution is almost done the there's no reason to switch back

If you're aware the admin dashboard will take some time don't afraid if will be very simple and will use material design framework

[2022-03-13 11:23] sirpy opened #3666 "Migrate GoodCeramic to use an open source CMS"
Strapi JS looks simple to integrate with, it has all the content editing/auth we need for the front end.

- [ ] define a feed content type with fields defined by Pat
- [ ] create a ceramic "plugin" to initialize the ceramic module and expose it
- [ ] use lifecycle hook `afterUpdate` to handle feed post publish/unpublish/update
   - [ ] on publish (event.params.data.publishedAt != null)
        - p

[2022-03-17 12:43] johnsmith-gooddollar commented on #3604
point 3 could be implemented in the scope of the new feed

[2022-03-17 12:44] #3663 closed

[2022-03-17 12:44] #3664 closed

[2022-03-17 12:48] #3626 closed

[2022-03-17 12:48] #3590 closed

[2022-03-17 12:49] #3591 closed

[2022-03-17 12:49] #3193 closed

[2022-03-17 12:49] #3566 closed

[2022-03-17 13:31] sirpy commented on #3604
@johnsmith-gooddollar lets open an issue and close this one then

[2022-03-17 13:37] johnsmith-gooddollar commented on #3604
ok

[2022-03-17 13:37] #3604 closed

[2022-03-17 13:40] johnsmith-gooddollar opened #3668 "Optimize scanning transactions & other contract events"
- [ ] when user logs out and login it will rescan the whole contracts events, from the first block
    - [x] we usually store the block the user signed up at, we should make sure we scan only from that block
    - [x] for users that we dont have the number of block they signed up at, we should set it to the first event block number we have for them
    - [ ] perform the rescan only when user app g

[2022-03-21 10:06] johnsmith-gooddollar commented on #3666
@roma-hladilka We need to optimize 'add post' flow.
Now we're using 'beforeCreate', this causes UI to stuck without even showing any progress (because our operations are taking some time about 5-7sec)

We need to move it to 'afterCreate'. But to set `cid` for the newly created post we need to try to use raw DB query insead of entity manager API to avoid triggering afterUpdate

The changes suggeste

[2022-03-24 11:59] johnsmith-gooddollar commented on #3666
moving to `afterCreate` haven't solved the issue - reverted
found & fixed issue with error 404 during bulk posts removal

[2022-03-25 12:44] johnsmith-gooddollar commented on #3666
**Changes on backend** _GoodCeramic_

1. update ceramic schema.
a) make `picture` optional.
b) add `hiddden` boolean field (false by default)
c) add `link` field (mandatory)
d) add sponsored_logo sponsored_link

2. update `Post` validator
3. update controllers logic (if need)

[2022-03-25 14:57] johnsmith-gooddollar commented on #3666
Changes on **dashboard** _GoodCeramicDashboard_
1. add `ceramic-post-sponsor` content type
a) title
b) logo (media, image, svg only)
2. update `ceramic-post` content type
a) add `hidden` checkbox field
b) add link field (string mandatory)
c) make `picture` non-mandatory
d) add `sponsored` field (relation one-to-many for `ceramic-post-sponsor` type)
3. configure store view. copy configured json fro

[2022-03-25 14:59] johnsmith-gooddollar commented on #3666
maybe i'll assist with dashboard a bit

[2022-03-25 15:06] johnsmith-gooddollar commented on #3662
Changes in UI / data layer
1. read all the new fields `link`, `sponsored_link`, `sponsored_logo` etc and store them in the local threaddb collection
2. for the posts having `hidden` = true set `status = 'deleted'` in threaddb (we already have filter skipping them from output). if post updated and hidden set back to false, just remove status field or set it to null or any other status (e.g. 'publis

[2022-03-25 16:14] drptiago commented on #3662
Events:

SCROLL_FEED
CARD_OPEN - property: "name" of de card/ campaign ( not an ID, but a marketing name)
GOTO_NEWS_FEED
GOTO_TRANSACTION_FEED
GOTO_ALL_FEED
FEED_LIKE - property: "name" of de card/ campaign
INVITE_SHARE - property: "name" of de card/ campaign
GOTO_SPONSOR  - property: name of de sponsor

CARD_OPEN and INVITE_SHARE  are event who already exist.

Let me know any doubts about any eve

[2022-03-25 16:14] johnsmith-gooddollar opened #3674 "Implement like feature"
- [ ] _RealmDB:_ create x collection `likes` (`user_id`, `content_id`), add uniq index for `user_id` + `content_id`
- [ ] _ThreadDB:_ create  collection `likes` (`content_id`, `count`)
- [ ] _RealmDB:_ add method queryLikes(contentId, userId = null) querying likes count by specific filters from realm
- [ ] _RealmDB:_ add method addLike(contentId, userId) which inserts document to likes collection

[2022-03-27 07:40] sirpy commented on #3674
@johnsmith-gooddollar @patpedrosa what is this?

[2022-03-27 07:58] sirpy commented on #3666
@johnsmith-gooddollar lets discuss this.
what is `relation` , `entity fields`?

from my point of view the only hook to be used is `afterUpdate`, I believe i've described the logic in the issue i've created.
i'll repeat here:
- when post is created we do nothing on ceramic
- only when post is updated with "Published" then we first write to ceramic - Published is a feature of strapi.
- when post is

[2022-03-27 08:21] johnsmith-gooddollar commented on #3666
Removing posts from ceramic feed will lose the post's order on feed
We may sort them by date querying from threadb of course but in general this logic looks very complex rather then storing published state in ceramic, so I prefer using my solution just do not waste time

I'll check the built in feature how it works, if it just adds published Boolean field we will use it

Relation is db relation (f

[2022-03-27 08:24] johnsmith-gooddollar commented on #3674
Option to add "Like" to the feed post. Ceramic won't be a good option to keep likes due to the slow performance
So we'll use realm + local caching of aggregated data (with likes counted) in thread db

This is an optional task, not planned for the initial feed release

[2022-03-27 08:25] johnsmith-gooddollar commented on #3674
As the alternative we could also find for some ready solution but it won't be decentralized and also we would need to find some like widget working on both web and RN

[2022-03-27 08:30] sirpy commented on #3666
1. removing posts and sort order is fine. when a post if re-published it is like it is new and it should be at the top.
  we should probably ask @patpedrosa what is the expected behaviour when a post is updated/re-published should it be at the top?
3. we anyways ALREADY sort the items in threaddb by date and filter by status
4. yes the publish feature adds a publishAt field which is null if it is

[2022-03-27 08:31] sirpy commented on #3674
Did @patpedrosa define the requirements for this feature? where are they?
this should not be in "sprint"

[2022-03-27 08:36] johnsmith-gooddollar commented on #3666
Okay I'll try to implement publish feature like you're asking but this will postpone our feed release for 1-2days

Guys will start with my implementation tomorrow, I'll adjust it this Tuesday as I will be busy with the ongage release

Regarding sponsored posts - this is obligatory feature requested by @patpedrosa . We have to implement it for the feed release

[2022-03-27 08:43] johnsmith-gooddollar commented on #3674
This is in sprint because we may do it if we will have time

This is a generic "like" feature. Like on any social media. There're no any "requirements" possible everything is clear.

[2022-03-27 08:55] sirpy commented on #3674
There's no such thing as "like on any social media", Do you have an idea what's happening behind the scenes in all those social media platforms when user presses "like"? so obviously its not "like any social media"
Plus you raised important issue that you would have to use mongodb to store it, now that makes things even more complicated.
All features should be defined by @patpedrosa first and then

[2022-03-27 09:49] johnsmith-gooddollar commented on #3674
This feature is so simple that I wonder why you want to discuss something)

I know what happening on like press. I had experience implementing such things. I've been working on hi-load social media project in 2011 and 2013-2015

I'm also doesn't like the realm db solution. I'd prefer to use custom backend and store likes data onto myisam MySQL table with the proper indexes configuration. And use s

[2022-03-28 14:09] roma-hladilka commented on #3662
@drptiago maybe let's make one event for tabs, e.g. GOTO_TAB_FEED, and pass tab name as a property? It would be easier for expansion in future.

[2022-03-28 15:00] vldkh commented on #3589
![image.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/a0f96dcd-3c98-4bf2-b516-055af5489bec)

[2022-03-28 15:00] #3589 closed

[2022-03-31 14:23] #2714 closed

[2022-04-01 13:38] johnsmith-gooddollar opened #3681 "Migrate StrapiCMS to TypeScript"
Need to migrate Strapi to TS template.

@sirpy Could you please tell me - do you used the template from below ?
If yes - this is unofficial bolierplate. I don't prefer to use any unofficial stuff.
Strapi developers have notified they're starting to work on own, official TS template:
https://github.com/strapi/strapi/pull/12416#issuecomment-1036038380

I suggest to wait for it and migrate once it wi

[2022-04-01 13:38] johnsmith-gooddollar opened #3682 "Migrate StrapiCMS to TypeScript"
Need to migrate Strapi to TS template.

@sirpy Could you please tell me - do you used the template from below ?
If yes - this is unofficial bolierplate. I don't prefer to use any unofficial stuff.
Strapi developers have notified they're starting to work on own, official TS template:
https://github.com/strapi/strapi/pull/12416#issuecomment-1036038380

I suggest to wait for it and migrate once it wi

[2022-04-01 15:52] vldkh opened #3683 "[BUG] Claim request failed"
@Hadar
Looks like it happens because of this error message:

![image.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/5903201b-2f79-47d5-b454-8ad95fdcdd23)

Also, as you can see the next attempt is successful.

Dashboard - https://analytics.amplitude.com/gooddollar/chart/l9kegg6/edit/d06uajb?source=workspace
User Look-Up - https://analytics.amplitude.com/gooddollar/project/288710

[2022-04-03 11:26] johnsmith-gooddollar opened #3684 "Optimize Avatar selection & cropping on web"
Now we're using 2 routes for avatar.
On first route we're selecting avatar, on the second one - cropping it.

This requires to use some workarounds (e.g. keeping avatar in the local storage temporarly).

On mobile just one route used with the component which picks and crops avatar on a single screen. Need to go the same way on the web.

- [ ] create single component for picking & cropping avatar
-

[2022-04-06 12:49] johnsmith-gooddollar commented on #3625
Merged with Strapi, closing

[2022-04-06 12:49] #3625 closed

[2022-04-08 14:15] johnsmith-gooddollar commented on #3666
@alt-a1r I've implemented sponsors feature

1. open branch from latest **master**
2. test it, make sure it works (i haven't tested the case when we're not setting sponsor on unsetting it)
3. add link field (string mandatory) to the post
4. make picture non-mandatory. Make sure storing post without picture works. Make sure unsetting picture works
5. update store setting for post (add link field som

[2022-04-10 08:09] sirpy commented on #3659
@johnsmith-gooddollar need to verify we use the pokt url for native also and QA that it works.

[2022-04-10 10:08] sirpy commented on #3683
@vldkh these kind of issues can happen once in a while. Do we have something systemic? ie same user experiencing it many times, or multiple users constantly experiencing it

[2022-04-10 10:14] sirpy commented on #3682
Whatever you want, I think it would be easier to maintain and develop if it is in typescript from the get go.
Yes it is unofficial, but it seems like a pretty straight forward PR, who knows when will they have typescript enabled.

[2022-04-10 10:35] johnsmith-gooddollar commented on #3682
I don't think so. We will loose a lot of time trying to use and implement non official non-we'll supported implementation.

I prefer to spend our time for for productive things.

I totally for TS solution but let's wait for the official template coming soon.

[2022-04-11 09:17] roma-hladilka commented on #3668
@sirpy now last block is stored in user storage and updates on every poll. Do we need some additional changes?

[2022-04-12 13:24] vldkh commented on #3659
@sirpy the transactions are works on QA, DEV, and PROD Android app.

[2022-04-12 13:24] #3659 closed

[2022-04-13 12:33] vldkh commented on #3683
@sirpy
This issue happens almost every day at 12 pm. And happens to ~300 users.
Types of Errors:
- Returned error: Transaction gas price supplied is too low. There is another transaction with same nonce
- Claim request failed
- Reached daily transactions limit or not a citizen
- Failed to check for transaction receipt: {}
- Returned error: Transaction nonce is too low. Try incrementing the nonce.

[2022-04-14 10:38] vldkh commented on #3662
@alt-a1r @roma-hladilka

Please take a look and fix:

- [ ]  The new feed items are not displayed after publishing and refreshing the wallet page. The is only one way to display it on the wallet - re-login.

- [ ]  The new feed items are not deleted from the wallet after deleting them on the admin.

- [ ]  Every single word from the Post title and Post content is displayed with the capital format.

[2022-04-14 13:18] sirpy opened #3689 "(Bug) SMS not arriving"
Mary says on her iphone she doesn't get an SMS.
- [ ] is it the ipv6 issue?
- [ ] APIs to get the ipv6 address and sent to server not working?
- [ ] captcha not working good on iOS?

[2022-04-14 13:39] johnsmith-gooddollar commented on #3662
The feed shouldn't be updated realtime.
BUT the feed should be updated on dashboard reload (e.g. on feed swipe or if go to the other screen and go back to dashboard)

[2022-04-14 13:41] vldkh commented on #3662
@johnsmith-gooddollar yes, but it still doesn't work

[2022-04-14 13:41] johnsmith-gooddollar commented on #3662
@roma-hladilka

[2022-04-14 13:48] roma-hladilka commented on #3662
@vldkh I pushed changes 15 minutes ago, did you tried it?

[2022-04-15 10:33] roma-hladilka commented on #3689
Hi @sirpy! Could you give an access to Heroku, so I will check the logs, it may help

[2022-04-17 06:11] sirpy commented on #3683
it is expected that some blockchain calls will fail. the first spike looks unusually high.

[2022-04-18 09:22] johnsmith-gooddollar commented on #3689
@patpedrosa could you please provide some account details (e.g. user name, phone number etc) ?

[2022-04-18 10:06] sirpy commented on #3689
@johnsmith-gooddollar @patpedrosa i've checked it and the reason was that it failed captcha
the second time she tried it was ok
maybe Meri waited too long between passing captcha and sending the SMS
@johnsmith-gooddollar can you check what is the time limit we have?

[2022-04-18 10:40] johnsmith-gooddollar commented on #3689
@sirpy ok

[2022-04-18 11:48] patpedrosa commented on #3683
Clear pattern there. Please fix.

[2022-04-19 14:49] vldkh opened #3691 "Feed Improvements"
Feed Improvements:
1)
- [x]  The post image should be fixed by width. (It should be without white space around, ideally the image should cover the whole container, like on this design demo)

![image.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/315850bb-591a-447b-b5b7-2c0d661cdf0f)
![image.png](https://images.zenhubusercontent.com/60f81ed49e3a385cfede906b/0ddfcf67-c19d-47f2-af

[2022-04-19 21:08] alt-a1r commented on #3668
@sirpy Regarding the previous comment, a check has now been added to wait for user properties to be initialized before the initTransferEvents action.

Regarding the third point, now the rescan occurs when the dashboard component is mounted, perhaps it makes sense to leave it in this way, since we need an update every time the dashboard is mounted?

[2022-04-20 07:27] johnsmith-gooddollar commented on #3668
@sirpy the comment above is about pt3. "perform the rescan only when user app goes to background"

Could you please describe in details what did you meant here ? What's the idea and goals of this change ? How it should actually working?

[2022-04-20 10:23] sirpy commented on #3683
@johnsmith-gooddollar @patpedrosa the reasons for failure are mostly of 2 types
1. user is out of Fuse tokens for gas, and passed our faucet limit
2. blockchain issue

To solve we can do the following
1. in case user can't use our faucet, buy for him fuse tokens via fuseswap (convert 2G$s), we need to show this as a TX on his feed. or ask him in a modal if he wants to do that
2. in case of other e

[2022-04-20 10:53] johnsmith-gooddollar commented on #3683
@sirpy could we join buying tokens for g$ and claim in a single operation ? And display claim amount - 2g$ in the tx? Additionaly we could show "2G$ fee" and info sign "why this happened ?" linking to some faq ?

P.S also we could check for out of gas futons entitlement calculation and adjust claim value displaying on claim page. And also display the same 2G$ fee + additional info

[2022-04-20 12:32] sirpy commented on #3683
@johnsmith-gooddollar things to do:
1. gatherStats in claim.js - shows an error dialog if it fails. it should fail silently. maybe also retry if it fails?
2. retry claim operation if NOT "not a citizen or passed dialy tx limit" error
3. force nonce when doing claim tx

[2022-04-20 12:33] sirpy commented on #3683
@patpedrosa do you want to do anything regarding the out of gas issue?

[2022-04-25 05:33] sirpy commented on #3683
@johnsmith-gooddollar
This happened to me and I got the "not a citizen" error, all of these issues seem to be due to the web3 framework losing connection to the RPC endpoint.
so I dont think we need fix 3, and 2 should change to: on claim perform some read call to the blockchain (like getBlockNumber()) to refresh the connection then perform the claim operation and retry once on ANY error